
<p>Trying to compile a list of tyre options for the OZ Racing rims which are a popular choice as an after market upgrade for Rover K series engined S2 Elises and OEM on the Elise S2 135R.</p>
<p>The OZ Rim sizes are: -
</p>
<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver">Front</td>
<td>6.5J x 16&#34; ET31</td></tr>
<tr>
<td style="background:silver">Rear</td>
<td>7.5J x 17&#34; ET18</td></tr></table></div>

<p>The prices listed are only approximations for a complete (4tyre) set!</p>
<p>The ideal sizes for the rims are 195/50R16 (front) and 225/45R17 (rear).  However  not all manufacturers make a 50 ratio front in 195 R16 so some people use a 45 ratio front.  For this reason the tyres are split into two sections, 45 ratio and 50 ratio.  The consequences of running 45 front are that the front of the car will sit lower because the total tyre diameter is reduced. On ABS equipped elises this may cause the ABS system to generate an error.</p>

<ul>
<li>Rolling radius of 50 = 188.94 cm</li>
<li>Rolling radius of 45 = 182.81 cm</li>
<li>Drop of ~3 mm</li>
<li><a class="external free" href="http://www.kouki.co.uk/utilities/visual-tyre-size-calculator" rel="nofollow">http://www.kouki.co.uk/utilities/visual-tyre-size-calculator</a></li>
</ul>

<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1"><a href="#50_Ratio_Fronts">50 Ratio Fronts</a>
<ul>
<li class="toclevel-2"><a href="#Bridgestone">Bridgestone</a>
<ul>
<li class="toclevel-3"><a href="#Expedia_S01">Expedia S01</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Continental">Continental</a>
<ul>
<li class="toclevel-3"><a href="#Contisport_Contact_2">Contisport Contact 2</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Dunlop">Dunlop</a>
<ul>
<li class="toclevel-3"><a href="#SP_Sport_01">SP Sport 01</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Fulda">Fulda</a>
<ul>
<li class="toclevel-3"><a href="#Carat_Exelero">Carat Exelero</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Kumho">Kumho</a>
<ul>
<li class="toclevel-3"><a href="#KU-31">KU-31</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Marangoni">Marangoni</a>
<ul>
<li class="toclevel-3"><a href="#Zeta">Zeta</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Michelin">Michelin</a>
<ul>
<li class="toclevel-3"><a href="#Pilot_Primacy">Pilot Primacy</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Toyo">Toyo</a>
<ul>
<li class="toclevel-3"><a href="#Proxes_R888">Proxes R888</a>
</li>
<li class="toclevel-3"><a href="#Proxes_T1-R">Proxes T1-R</a>
</li>
<li class="toclevel-3"><a href="#Proxes_T1-S">Proxes T1-S</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Yokohama">Yokohama</a>
<ul>
<li class="toclevel-3"><a href="#Advan_A048">Advan A048</a>
</li>
<li class="toclevel-3"><a href="#Advan_A039">Advan A039</a>
</li>
<li class="toclevel-3"><a href="#C.Drive">C.Drive</a>
</li>
</ul>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#45_Ratio_Fronts">45 Ratio Fronts</a>
<ul>
<li class="toclevel-2"><a href="#BFGoodrich">BFGoodrich</a>
<ul>
<li class="toclevel-3"><a href="#g-Force_Profiler">g-Force Profiler</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Continental_2">Continental</a>
<ul>
<li class="toclevel-3"><a href="#Contisport_Contact_2_2">Contisport Contact 2</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Dunlop_2">Dunlop</a>
<ul>
<li class="toclevel-3"><a href="#SP9000">SP9000</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Goodyear">Goodyear</a>
<ul>
<li class="toclevel-3"><a href="#Eagle_F1_GSD3">Eagle F1 GSD3</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Kumho_2">Kumho</a>
<ul>
<li class="toclevel-3"><a href="#V70">V70</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Pirelli">Pirelli</a>
<ul>
<li class="toclevel-3"><a href="#Pzero_Nero">Pzero Nero</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Yokohama_2">Yokohama</a>
<ul>
<li class="toclevel-3"><a href="#A539">A539</a>
</li>
</ul>
</li>
</ul>
</li>
</ul></td></tr></table><hr/>
<h1><span class="mw-headline" id="50_Ratio_Fronts">50 Ratio Fronts</span></h1>

<h2><span class="mw-headline" id="Bridgestone">Bridgestone</span></h2>
<h3><span class="mw-headline" id="Expedia_S01">Expedia S01</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="3"><a class="image" href="http://wiki.seloc.org/a/Image:Bridgestone-s01-xl.jpg" ><img src="Bridgestone-s01-xl.jpg" width="100" />
</a></td>
<td style="background:silver">Price</td>
<td>£???</td></tr>
<tr>
<td style="background:silver">Notes</td>
<td /></tr>
<tr>
<td style="background:silver">Web</td>
<td /></tr></table></div>

<h2><span class="mw-headline" id="Continental">Continental</span></h2>
<h3><span class="mw-headline" id="Contisport_Contact_2">Contisport Contact 2</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="3"><a class="image" href="http://wiki.seloc.org/a/Image:Conti-sport-contact-2-m.jpg" ><img src="Conti-sport-contact-2-m.jpg" width="100" />
</a></td>
<td style="background:silver">Price</td>
<td>£400</td></tr>
<tr>
<td style="background:silver">Notes</td>
<td /></tr>
<tr>
<td style="background:silver">Web</td>
<td /></tr></table></div>

<h2><span class="mw-headline" id="Dunlop">Dunlop</span></h2>
<h3><span class="mw-headline" id="SP_Sport_01">SP Sport 01</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="3"><a class="image" href="http://wiki.seloc.org/a/Image:Dunlop-sport01-xl.jpg" ><img src="Dunlop-sport01-xl.jpg" width="100" />
</a></td>
<td style="background:silver">Price</td>
<td>£???</td></tr>
<tr>
<td style="background:silver">Notes</td>
<td /></tr>
<tr>
<td style="background:silver">Web</td>
<td /></tr></table></div>

<h2><span class="mw-headline" id="Fulda">Fulda</span></h2>
<h3><span class="mw-headline" id="Carat_Exelero">Carat Exelero</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="3"><a class="image" href="http://wiki.seloc.org/a/Image:Fulda-exelero-xl.jpg" ><img src="Fulda-exelero-xl.jpg" width="100" />
</a></td>
<td style="background:silver">Price</td>
<td>£???</td></tr>
<tr>
<td style="background:silver">Notes</td>
<td /></tr>
<tr>
<td style="background:silver">Web</td>
<td /></tr></table></div>

<h2><span class="mw-headline" id="Kumho">Kumho</span></h2>
<h3><span class="mw-headline" id="KU-31">KU-31</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="3"><a class="image" href="http://wiki.seloc.org/a/Image:Kumho-kU31.jpg" ><img src="Kumho-kU31.jpg" width="100" />
</a></td>
<td style="background:silver">Price</td>
<td /></tr>
<tr>
<td style="background:silver">Notes</td>
<td>Front tyres in &#39;W&#39; speed rating (up to 168mph)</td></tr>
<tr>
<td style="background:silver">Web</td>
<td><a class="external free" href="http://www.kumhotyre.co.uk/Tyres/TyreByVehicle.html" rel="nofollow">http://www.kumhotyre.co.uk/Tyres/TyreByVehicle.html</a></td></tr></table></div>

<h2><span class="mw-headline" id="Marangoni">Marangoni</span></h2>
<h3><span class="mw-headline" id="Zeta">Zeta</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="3"><a class="image" href="http://wiki.seloc.org/a/Image:Maran_zeta.jpg" ><img src="Maran_zeta.jpg" width="100" />
</a></td>
<td style="background:silver">Price</td>
<td>£300</td></tr>
<tr>
<td style="background:silver">Notes</td>
<td /></tr>
<tr>
<td style="background:silver">Web</td>
<td /></tr></table></div>

<h2><span class="mw-headline" id="Michelin">Michelin</span></h2>
<h3><span class="mw-headline" id="Pilot_Primacy">Pilot Primacy</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="3"><a class="image" href="http://wiki.seloc.org/a/Image:Michelin-PRIMACY-xl.jpg" ><img src="Michelin-PRIMACY-xl.jpg" width="100" />
</a></td>
<td style="background:silver">Price</td>
<td>£???</td></tr>
<tr>
<td style="background:silver">Notes</td>
<td /></tr>
<tr>
<td style="background:silver">Web</td>
<td /></tr></table></div>

<h2><span class="mw-headline" id="Toyo">Toyo</span></h2>
<h3><span class="mw-headline" id="Proxes_R888">Proxes R888</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="3"><a class="image" href="http://wiki.seloc.org/a/Image:Toyo_Proxes_R888.jpg" ><img src="Toyo_Proxes_R888.jpg" width="100" />
</a></td>
<td style="background:silver">Price</td>
<td>£460</td></tr>
<tr>
<td style="background:silver">Notes</td>
<td>Track tyre with 4mm tread from new.</td></tr>
<tr>
<td style="background:silver">Web</td>
<td><a class="external free" href="http://www.toyo.co.uk/page.php?identity=r888" rel="nofollow">http://www.toyo.co.uk/page.php?identity=r888</a></td></tr></table></div>

<h3><span class="mw-headline" id="Proxes_T1-R">Proxes T1-R</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="3"><a class="image" href="http://wiki.seloc.org/a/Image:Toyo_T1-R.jpg" ><img src="Toyo_T1-R.jpg" width="100" />
</a></td>
<td style="background:silver">Price</td>
<td>£289</td></tr>
<tr>
<td style="background:silver">Notes</td>
<td>.</td></tr>
<tr>
<td style="background:silver">Web</td>
<td><a class="external free" href="http://www.toyo.co.uk/productdetail.php?identity=products&#38;product_id=2" rel="nofollow">http://www.toyo.co.uk/productdetail.php?identity=products&#38;product_id=2</a></td></tr></table></div>

<h3><span class="mw-headline" id="Proxes_T1-S">Proxes T1-S</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="3"><a class="image" href="http://wiki.seloc.org/a/Image:Toyo_Proxes_T1-S.jpg" ><img src="Toyo_Proxes_T1-S.jpg" width="100" />
</a></td>
<td style="background:silver">Price</td>
<td /></tr>
<tr>
<td style="background:silver">Notes</td>
<td>Tyre being phased out. T1-R is current model</td></tr>
<tr>
<td style="background:silver">Web</td>
<td><a class="external free" href="http://www.toyo.co.uk/productdetail.php?identity=products&#38;product_id=1" rel="nofollow">http://www.toyo.co.uk/productdetail.php?identity=products&#38;product_id=1</a></td></tr></table></div>

<h2><span class="mw-headline" id="Yokohama">Yokohama</span></h2>
<h3><span class="mw-headline" id="Advan_A048">Advan A048</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="3"><a class="image" href="http://wiki.seloc.org/a/Image:A048_MED.jpg" ><img src="A048_MED.jpg" width="100" />
</a></td>
<td style="background:silver">Price</td>
<td>£630 </td></tr>
<tr>
<td style="background:silver">Notes</td>
<td>Track tyre with only 5mm tread from new!</td></tr>
<tr>
<td style="background:silver">Web</td>
<td /></tr></table></div>

<h3><span class="mw-headline" id="Advan_A039">Advan A039</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="3"><a class="image" href="http://wiki.seloc.org/a/Image:A039_MED.jpg" ><img src="A039_MED.jpg" width="100" />
</a></td>
<td style="background:silver">Price</td>
<td>£735</td></tr>
<tr>
<td style="background:silver">Notes</td>
<td>Good wet weather tyre with only 4mm tread from new.</td></tr>
<tr>
<td style="background:silver">Web</td>
<td /></tr></table></div>

<h3><span class="mw-headline" id="C.Drive">C.Drive</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="3"><a class="image" href="http://wiki.seloc.org/a/Image:Yokohama_c_drive.jpg" ><img src="Yokohama_c_drive.jpg" width="100" />
</a></td>
<td style="background:silver">Price</td>
<td /></tr>
<tr>
<td style="background:silver">Notes</td>
<td /></tr>
<tr>
<td style="background:silver">Web</td>
<td /></tr></table></div>


<h1><span class="mw-headline" id="45_Ratio_Fronts">45 Ratio Fronts</span></h1>
<p>These are all lower ratio front tyres!</p>
<p><a class="external free" href="http://arc.seloc.org/viewthread.php?tid=78716" rel="nofollow">http://arc.seloc.org/viewthread.php?tid=78716</a></p>
<h2><span class="mw-headline" id="BFGoodrich">BFGoodrich</span></h2>
<h3><span class="mw-headline" id="g-Force_Profiler">g-Force Profiler</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="3"><a class="image" href="http://wiki.seloc.org/a/Image:Bfg-g-force-profiler-m.jpg" ><img src="Bfg-g-force-profiler-m.jpg" width="100" />
</a></td>
<td style="background:silver">Price</td>
<td>£735</td></tr>
<tr>
<td style="background:silver">Notes</td>
<td /></tr>
<tr>
<td style="background:silver">Web</td>
<td /></tr></table></div>

<h2><span class="mw-headline" id="Continental_2">Continental</span></h2>
<h3><span class="mw-headline" id="Contisport_Contact_2_2">Contisport Contact 2</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="3"><a class="image" href="http://wiki.seloc.org/a/Image:Conti-sport-contact-2-m.jpg" ><img src="Conti-sport-contact-2-m.jpg" width="100" />
</a></td>
<td style="background:silver">Price</td>
<td>£400</td></tr>
<tr>
<td style="background:silver">Notes</td>
<td /></tr>
<tr>
<td style="background:silver">Web</td>
<td /></tr></table></div>

<h2><span class="mw-headline" id="Dunlop_2">Dunlop</span></h2>
<h3><span class="mw-headline" id="SP9000">SP9000</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="3"><a class="image" href="http://wiki.seloc.org/a/Image:Dunlop-sp9000-xl.jpg" ><img src="Dunlop-sp9000-xl.jpg" width="100" />
</a></td>
<td style="background:silver">Price</td>
<td>£???</td></tr>
<tr>
<td style="background:silver">Notes</td>
<td /></tr>
<tr>
<td style="background:silver">Web</td>
<td /></tr></table></div>

<h2><span class="mw-headline" id="Goodyear">Goodyear</span></h2>
<h3><span class="mw-headline" id="Eagle_F1_GSD3">Eagle F1 GSD3</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="3"><a class="image" href="http://wiki.seloc.org/a/Image:Goodyear-eaglef1-xl.jpg" ><img src="Goodyear-eaglef1-xl.jpg" width="100" />
</a></td>
<td style="background:silver">Price</td>
<td>£ ???</td></tr>
<tr>
<td style="background:silver">Notes</td>
<td /></tr>
<tr>
<td style="background:silver">Web</td>
<td /></tr></table></div>

<h2><span class="mw-headline" id="Kumho_2">Kumho</span></h2>
<h3><span class="mw-headline" id="V70">V70</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="3"><a class="image" href="http://wiki.seloc.org/a/Image:ImgTyrV70A.gif" ><img src="ImgTyrV70A.gif" width="100" />
</a></td>
<td style="background:silver">Price</td>
<td>£ 600</td></tr>
<tr>
<td style="background:silver">Notes</td>
<td>205/45/16 and 235/40/17</td></tr>
<tr>
<td style="background:silver">Web</td>
<td><a class="external free" href="http://www.kumhotyre.co.uk/Motorsports/KH_brochure01.html" rel="nofollow">http://www.kumhotyre.co.uk/Motorsports/KH_brochure01.html</a></td></tr></table></div>

<h2><span class="mw-headline" id="Pirelli">Pirelli</span></h2>
<h3><span class="mw-headline" id="Pzero_Nero">Pzero Nero</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="3"><a class="image" href="http://wiki.seloc.org/a/Image:Pirelli-pzeronero-xl.jpg.gif" ><img src="Pirelli-pzeronero-xl.jpg.gif" width="100" />
</a></td>
<td style="background:silver">Price</td>
<td>£ ???</td></tr>
<tr>
<td style="background:silver">Notes</td>
<td /></tr>
<tr>
<td style="background:silver">Web</td>
<td /></tr></table></div>

<h2><span class="mw-headline" id="Yokohama_2">Yokohama</span></h2>
<h3><span class="mw-headline" id="A539">A539</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="3"><a class="image" href="http://wiki.seloc.org/a/Image:Yokohama_a539.jpg" ><img src="Yokohama_a539.jpg" width="100" />
</a></td>
<td style="background:silver">Price</td>
<td>£350</td></tr>
<tr>
<td style="background:silver">Notes</td>
<td /></tr>
<tr>
<td style="background:silver">Web</td>
<td><a class="external free" href="http://www.yokohama-online.com/gb/pages/produkte/start.php?id=22" rel="nofollow">http://www.yokohama-online.com/gb/pages/produkte/start.php?id=22</a></td></tr></table></div>

<p>

</p>