<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Commercial_Conversions">Commercial Conversions</a>
<ul>
<li class="toclevel-2"><a href="#Dyno_Plots">Dyno Plots</a>
</li>
<li class="toclevel-2"><a href="#Number_of_Conversions">Number of Conversions</a>
</li>
<li class="toclevel-2"><a href="#Videos_of_0-100_etc">Videos of 0-100 etc</a>
</li>
</ul>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Commercial_Conversions">Commercial Conversions</span></h2>



<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Engine</th>
<th>BHP</th>
<th>0-60</th>
<th>0-100</th>
<th>Top Speed</th>
<th>RPM</th>
<th>Weight gain</th>
<th>Price</th>
<th>Warranty</th>
<th>Supplier
</th></tr>
<tr>
<td>Honda Normally Aspirated
Honda Supercharged</td>
<td>220 BHP
380 BHP</td>
<td>4 Seconds
3.65 Seconds</td>
<td>9.5 Seconds
8 Seconds</td>
<td>
165 MPH</td>
<td>8600</td>
<td>~15 Kg&#39;s (NA)</td>
<td>From £8,750 + VAT 
From £12,400 + VAT</td>
<td>12 Months</td>
<td><a class="external text" href="http://www.hondaelise.com" rel="nofollow">HondaElise</a>
</td></tr>
<tr>
<td>Honda &#38; Honda SC</td>
<td>220+</td>
<td>4ish</td>
<td>&#60;10</td>
<td>160ish</td>
<td>8500</td>
<td></td>
<td>£9,400 upwards</td>
<td>12 months</td>
<td><a class="external text" href="http://www.essexautosport.com/content/upgrades/upg_tokachi.html" rel="nofollow">Essex Autosport</a>
</td></tr>
<tr>
<td>Honda JDM spec</td>
<td>238</td>
<td>around 4</td>
<td>under 10</td>
<td>155</td>
<td>8600</td>
<td>37 kg</td>
<td>€23.900 inc TÜV</td>
<td>12 months</td>
<td><a class="external text" href="http://www.komo-tec.com/index.php/cPath/141/language/en" rel="nofollow">Komo Tec</a>
</td></tr>
<tr>
<td>Audi</td>
<td>250</td>
<td>4.6</td>
<td>under 10</td>
<td>160</td>
<td>6900</td>
<td>40kg</td>
<td>£9950</td>
<td></td>
<td><a class="external text" href="http://www.auto-teknix.co.uk/Audi_convert.html" rel="nofollow">Auto Teknix</a>
</td></tr>
<tr>
<td>Audi</td>
<td>300+</td>
<td>under 4</td>
<td>8.5</td>
<td>170+</td>
<td>6900</td>
<td>40kg</td>
<td>£12950 </td>
<td></td>
<td><a class="external text" href="http://www.auto-teknix.co.uk/Audi_convert.html" rel="nofollow">Auto Teknix</a>
</td></tr>
<tr>
<td>Duratec</td>
<td>180</td>
<td>No one will say</td>
<td>No one will say</td>
<td>No one will say</td>
<td>?</td>
<td>15kg</td>
<td>From £4,500 kit - £7,500</td>
<td></td>
<td><a class="external text" href="http://www.essexautosport.com/content/upgrades/upg_mugello.html" rel="nofollow">Essex Autosport</a>
</td></tr>
<tr>
<td>Duratec</td>
<td>205</td>
<td>No one will say</td>
<td>No one will say</td>
<td>No one will say</td>
<td>?</td>
<td>15kg</td>
<td>£9,400</td>
<td></td>
<td><a class="external text" href="http://www.swlotus.com/lotus-elise-duratec-conversion.html" rel="nofollow">SW Lotus</a>
</td></tr>
<tr>
<td>V6 Yoda Block</td>
<td>200</td>
<td>In production</td>
<td>In production</td>
<td>In production</td>
<td></td>
<td>75kg</td>
<td>£?  </td>
<td>6 Months</td>
<td><a class="external text" href="http://www.woodsport.org/joomla/index.php/engine-conversions/6-toyota-mr2-mk1-engine-conversions-/8-mk1-v6-conversions.html" rel="nofollow">Woodsport</a>
</td></tr></table></div>

<p><i>All data comes from supplier&#39;s websites</i></p>
<h3><span class="mw-headline" id="Dyno_Plots">Dyno Plots</span></h3>

<p>Not all conversions will result in identical power output. These are just examples of what is achievable.</p>
<p><a class="external text" href="http://www.dyno-plot.co.uk/dyno/dynoplot/id%3D498%2815%29_56_178_480%2815%29_503%2815%29_513%2815%29%26sort%3Drec%26but_sea%3Dqs%26sea_simple%3Dlink/index.htm" rel="nofollow">Audi 250 vs Audi 300 vs N/A Honda vs S/C Honda</a></p>
<h3><span class="mw-headline" id="Number_of_Conversions">Number of Conversions</span></h3>

<p>These numbers are largely hearsay, but can be considered as pointers to get you started on hunting for more info:</p>
<pre>  * 28 Audi conversions by Bernard [http://forums.seloc.org/viewthread.php?tid=85466]
  * 300+ Honda conversions kits supplied by [http://www.hondaelise.com HondaElise]
</pre>
<h3><span class="mw-headline" id="Videos_of_0-100_etc">Videos of 0-100 etc</span></h3>

<p>Just in case you don&#39;t believe the numbers above:</p>
<pre>  * [http://media.putfile.com/Honda-0-60 NA Honda S1]
  * [http://video.google.co.uk/videoplay?docid=-2243377228768435950&#38;hl=en-GB/S1vsS2 NA Honda S1 vs S2 Exige rolling start at 80mph]
  * [http://www.youtube.com/watch?v=OTMF0Ha_C7w/ Exige NA Honda S1 Exige vs S1 Exige]
</pre>
<p>


</p>