
<p>Bedding in procedure can vary from manufacturer to manufacturer and can effect both Disk and Pad life and effectiveness.</p>


<p>For Pagid Pads see this Link 
<a class="external text" href="http://www.braketechnology.com/brakepadbedding.html" rel="nofollow">Brake Pad Bedding Procedure</a> on the Pagid website.</p>

<p>For Standard Lotus OEM items the following recommendations came from Nick Adams (Lotus development engineer)</p>
<p>With new pads and discs, or just new pads fitted run the car around for 10/20 miles using the brakes gently as normal to bed the two surfaces together. Once this has been done, check the surfaces of the discs and make sure there are no signs of any scoring or damage. Assuming all looks well take the car to an appropriate piece of quiet and straight, well sighted road and perform half a dozen medium pressure stops from 50 mph down to 20 mph to warm the brakes up. Avoid more than a minute between each stop so that the temperatures do not get a chance to deteriorate too much. Once the brakes are warm and the coast is clear, perform 2 or 3 hard stops from 70mph (where local laws allow!) to 20 mph, braking as hard as you can without locking up. Do not come to a halt between each stop, do them as fast as you can to get the brakes really hot. On the third stop come to a halt and, keeping your foot on the brake, press the brake pedal down as hard as you can and hold it there for at least a couple of minutes, don&#39;t apply the handbrake. This hurts if you are doing it right! This will bed the pistons, shims and pads together and will compress the pad material, giving a hard and repeatable pedal. Once the 2 minutes have passed, release the pedal and go for a short drive, using the brakes as normal to let everything return to normal temperatures. The brakes are now fully bedded in and ready for use in anger. Recompressing the pads once every few thousand miles to the above procedure will help keep the pedal firm, especially if you don&#39;t normally use the brakes hard.</p>
<p>Cheers, Nick</p>
<h2><span class="mw-headline" id="External_links">External links</span></h2>

<ul>
<li><a class="external free" href="http://www.stoptech.com/tech_info/wp_warped_brakedisk.shtml" rel="nofollow">http://www.stoptech.com/tech_info/wp_warped_brakedisk.shtml</a></li>
</ul>

<p>


</p>