
<p>Alloy wheel weight is very important to the <a class="external text" href="http://en.wikipedia.org/wiki/Unsprung_weight" rel="nofollow">unsprung weight</a> of the car. </p>
<p>Stuck on what PCD or Centrebore means, <a class="external text" href="http://en.wikipedia.org/wiki/Wheel_sizing" rel="nofollow">read here</a>.</p>
<p>If you want different wheels then listed below, you don&#39;t need pcd converting wheel-spacers like <a class="external text" href="http://www.eliseparts.com/shop/index.php?main_page=product_info&#38;cPath=165&#38;products_id=219" rel="nofollow">Hubcentric Wheel Adaptors.</a> as 4x100pcd is already relatively common.</p>
<p>What you need is simple wheel spacers in 4x100pcd, centre bore 56.6 to make the offset a little more common. These spacers would fit Vauxhall Corsa, Astra F&#38;G, Tigra, Vectra + Opel Ascona and are therefore pretty easy to come by and quite cheap.  <a class="external text" href="http://www.performancefx.net/wsvauxhall.htm" rel="nofollow">example of cheap spacers</a></p>
<p>To fit S2 Exige wheels or 111R wheels onto a K-engined Elise the fronts are the same, but the rears require 20mm each side spacers to correct the offset.</p>

<p><b>IF FITTING WIDER ALLOYS AND OR &#39;STICKY&#39; TYRES PLEASE CONSIDER FITTING UPRATED TOELINKS</b></p>
<p>For more information See Thread: <a class="external free" href="http://forums.seloc.org/viewthread.php?tid=102501" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=102501</a></p>


<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1"><a href="#K-series">K-series</a>
<ul>
<li class="toclevel-2"><a href="#Lotus.2FOEM">Lotus/OEM</a>
<ul>
<li class="toclevel-3"><a href="#Rimstock_6-spoke">Rimstock 6-spoke</a>
</li>
<li class="toclevel-3"><a href="#Rimstock_8-spoke">Rimstock 8-spoke</a>
</li>
<li class="toclevel-3"><a href="#OZ_Racing">OZ Racing</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Speedline">Speedline</a>
<ul>
<li class="toclevel-3"><a href="#Turini">Turini</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Rimstock">Rimstock</a>
<ul>
<li class="toclevel-3"><a href="#Team_Dynamics_Pro_Race_1.2S">Team Dynamics Pro Race 1.2S</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Komo-Tec">Komo-Tec</a>
<ul>
<li class="toclevel-3"><a href="#KT-Track">KT-Track</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Compomotive">Compomotive</a>
<ul>
<li class="toclevel-3"><a href="#MO">MO</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#SJ_Racing">SJ Racing</a>
<ul>
<li class="toclevel-3"><a href="#SJ_Racing_Leggero">SJ Racing Leggero</a>
</li>
</ul>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Toyota">Toyota</a>
<ul>
<li class="toclevel-2"><a href="#Lotus.2FOEM_2">Lotus/OEM</a>
<ul>
<li class="toclevel-3"><a href="#Rimstock_2">Rimstock</a>
</li>
<li class="toclevel-3"><a href="#Forged_Alloy_Wheel">Forged Alloy Wheel</a>
</li>
<li class="toclevel-3"><a href="#Exige_Y-type_spider">Exige Y-type spider</a>
</li>
<li class="toclevel-3"><a href="#Volk_Racing_TE37_Forged_1_piece_wheel">Volk Racing TE37 Forged 1 piece wheel</a>
</li>
<li class="toclevel-3"><a href="#240R_5-spoke">240R 5-spoke</a>
</li>
<li class="toclevel-3"><a href="#Volk_Racing_RE30_Forged_1_piece_wheel">Volk Racing RE30 Forged 1 piece wheel</a>
</li>
<li class="toclevel-3"><a href="#Exige.2FElise_RGB_Forged_Wheels">Exige/Elise RGB Forged Wheels</a>
</li>
</ul>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Other_sources_of_information">Other sources of information</a>
</li>
</ul></td></tr></table><hr/>
<h1><span class="mw-headline" id="K-series">K-series</span></h1>

<h2><span class="mw-headline" id="Lotus.2FOEM">Lotus/OEM</span></h2>

<h3><span class="mw-headline" id="Rimstock_6-spoke">Rimstock 6-spoke</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver" width="100pt">Front </td>
<td width="100pt" />
<td style="background:silver" width="100pt">Rear </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:elise2000silver.jpg" title="S2 OEM Wheel"><img src="elise2000silver.jpg" alt="S2 OEM Wheel" title="S2 OEM Wheel" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">S2 OEM Wheel</div></div>
</div>
 </td>
<td rowspan="9" />
<td colspan="9">OEM S2 wheels, also available in black.
Lotus Part Numbers:
Front in black: D117G0024H 
Rear in black :D117G0025H</td></tr>
<tr>
<td>16x5.5</td>
<td style="background:silver">Size</td>
<td>17x7.5</td></tr>
<tr>
<td>ET31.5</td>
<td style="background:silver">Offset</td>
<td>ET18</td></tr>
<tr>
<td>4x100</td>
<td style="background:silver">PCD</td>
<td>4x100</td></tr>
<tr>
<td>56.6</td>
<td style="background:silver">Center Bore</td>
<td>56.6</td></tr>
<tr>
<td>8.00kg</td>
<td style="background:silver">Weight</td>
<td>10.52kg</td></tr>
<tr>
<td>175/55R16</td>
<td style="background:silver">Tyre size</td>
<td>225/45R17</td></tr>
<tr>
<td style="background:silver">Price</td>
<td colspan="2">complete set inc VAT ???</td></tr>
<tr>
<td style="background:silver">Web</td>
<td colspan="2">[ Click for external link]</td></tr></table></div>

<h3><span class="mw-headline" id="Rimstock_8-spoke">Rimstock 8-spoke</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver" width="100pt">Front </td>
<td width="100pt" />
<td style="background:silver" width="100pt">Rear </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Elise-Wheel-grey.jpg" title="S2 111S OEM Wheel"><img src="Elise-Wheel-grey.jpg" alt="S2 111S OEM Wheel" title="S2 111S OEM Wheel" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">S2 111S OEM Wheel</div></div>
</div>
 </td>
<td rowspan="9" />
<td colspan="9">OEM S2 111S wheels, also available in black</td></tr>
<tr>
<td>16x5.5</td>
<td style="background:silver">Size</td>
<td>17x7.5</td></tr>
<tr>
<td>ET31.5</td>
<td style="background:silver">Offset</td>
<td>ET18</td></tr>
<tr>
<td>4x100</td>
<td style="background:silver">PCD</td>
<td>4x100</td></tr>
<tr>
<td>56.6</td>
<td style="background:silver">Center Bore</td>
<td>56.6</td></tr>
<tr>
<td>6.88kg</td>
<td style="background:silver">Weight</td>
<td>9.50kg</td></tr>
<tr>
<td>175/55R16</td>
<td style="background:silver">Tyre size</td>
<td>225/45R17</td></tr>
<tr>
<td style="background:silver">Price</td>
<td colspan="2">complete set inc VAT £920</td></tr>
<tr>
<td style="background:silver">Web</td>
<td colspan="2">[ Click for external link]</td></tr></table></div>

<h3><span class="mw-headline" id="OZ_Racing">OZ Racing</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver" width="100pt">Front </td>
<td width="100pt" />
<td style="background:silver" width="100pt">Rear </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Bls2g6006f.jpg" title="S2 135R OEM Wheel, Silver"><img src="Bls2g6006f.jpg" alt="S2 135R OEM Wheel, Silver" title="S2 135R OEM Wheel, Silver" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">S2 135R OEM Wheel, Silver</div></div>
</div>
 </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Bls2g6003f.jpg" title="S2 135R OEM Wheel, Black"><img src="Bls2g6003f.jpg" alt="S2 135R OEM Wheel, Black" title="S2 135R OEM Wheel, Black" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">S2 135R OEM Wheel, Black</div></div>
</div>
 </td>
<td colspan="9">OEM S2 135R wheels, also available in black.  Together with the A048 tyres, the OZ racing wheels give a wider than standard front wheel to improve the already legendary handling Elise (in black or silver).

There are many <a href="http://wiki.seloc.org/a/Tyres_for_OZ_Racing_Rims" title="Tyres for OZ Racing Rims">tyre options for the OZ racing rim</a></td></tr>
<tr>
<td>16x6.5</td>
<td style="background:silver">Size</td>
<td>17x7.5</td></tr>
<tr>
<td>ET31</td>
<td style="background:silver">Offset</td>
<td>ET18</td></tr>
<tr>
<td>4x100</td>
<td style="background:silver">PCD</td>
<td>4x100</td></tr>
<tr>
<td>56.6</td>
<td style="background:silver">Center Bore</td>
<td>56.6</td></tr>
<tr>
<td>6.4</td>
<td style="background:silver">Weight</td>
<td>9.6</td></tr>
<tr>
<td>195/50R16</td>
<td style="background:silver">Tyre size</td>
<td>225/45R17</td></tr>
<tr>
<td style="background:silver">Price</td>
<td colspan="2">complete set inc VAT £999</td></tr>
<tr>
<td style="background:silver">Web</td>
<td colspan="2">[ Click for external link]</td></tr></table></div>

<h2><span class="mw-headline" id="Speedline">Speedline</span></h2>
<h3><span class="mw-headline" id="Turini">Turini</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver" width="100pt">Front </td>
<td width="100pt" />
<td style="background:silver" width="100pt">Rear </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Tunini.JPG" ><img src="Tunini.JPG" class="type-thumb" width="220" />
</a></div>
</div>
 </td>
<td rowspan="9" />
<td colspan="9">May be manufactured in 2007</td></tr>
<tr>
<td>16x7</td>
<td style="background:silver">Size</td>
<td>17x8</td></tr>
<tr>
<td>ET31</td>
<td style="background:silver">Offset</td>
<td>ET18</td></tr>
<tr>
<td>4x100</td>
<td style="background:silver">PCD</td>
<td>4x100</td></tr>
<tr>
<td>56.6</td>
<td style="background:silver">Center Bore</td>
<td>56.6</td></tr>
<tr>
<td>8.5</td>
<td style="background:silver">Weight</td>
<td>9</td></tr>
<tr>
<td>195/50R16</td>
<td style="background:silver">Tyre size</td>
<td>225/45R17</td></tr>
<tr>
<td style="background:silver">Price</td>
<td colspan="2">complete set inc VAT £799 (est)</td></tr>
<tr>
<td style="background:silver">Web</td>
<td colspan="2">[ Click for external link]</td></tr></table></div>

<h2><span class="mw-headline" id="Rimstock">Rimstock</span></h2>
<h3><span class="mw-headline" id="Team_Dynamics_Pro_Race_1.2S">Team Dynamics Pro Race 1.2S</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver" width="100pt">Front </td>
<td width="100pt" />
<td style="background:silver" width="100pt">Rear </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:prorace.JPG" ><img src="prorace.JPG" class="type-thumb" width="220" />
</a></div>
</div>
 </td>
<td rowspan="9" />
<td colspan="9">Also available in black, matt black, gold, grey and white.</td></tr>
<tr>
<td>16x7</td>
<td style="background:silver">Size</td>
<td>17x8</td></tr>
<tr>
<td>ET30</td>
<td style="background:silver">Offset</td>
<td>ET20</td></tr>
<tr>
<td>4x100</td>
<td style="background:silver">PCD</td>
<td>4x100</td></tr>
<tr>
<td>56.6</td>
<td style="background:silver">Center Bore</td>
<td>56.6</td></tr>
<tr>
<td>8 kg</td>
<td style="background:silver">Weight</td>
<td>9.9 kg</td></tr>
<tr>
<td>195/50R16 or 205/45R16</td>
<td style="background:silver">Tyre size</td>
<td>225/45R17 or 235/40R17</td></tr>
<tr>
<td style="background:silver">Price</td>
<td colspan="2">complete set inc VAT £559 (with Seloc discount) from Demon Tweeks or with Lotus wheel centres from Hangar 111</td></tr>
<tr>
<td style="background:silver">Web</td>
<td colspan="2"><a class="external text" href="http://www.hangar111.com/ckshop.php?item=769&#38;ret=http%3A%2F%2Fwww.hangar111.com%2Fckshop.php%3Fpage%3D1%26keyword%3Dteam%2Bdynamics" rel="nofollow">Click for external link</a></td></tr></table></div>

<h2><span class="mw-headline" id="Komo-Tec">Komo-Tec</span></h2>
<h3><span class="mw-headline" id="KT-Track">KT-Track</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver" width="100pt">Front </td>
<td width="100pt" />
<td style="background:silver" width="100pt">Rear </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:kttrack.jpg" ><img src="kttrack.jpg" class="type-thumb" width="220" />
</a></div>
</div>
 </td>
<td rowspan="9" />
<td colspan="9">Rebadge of the Japanese Works Emotion CR wheels at double the price www.hubspace.net</td></tr>
<tr>
<td>16x7</td>
<td style="background:silver">Size</td>
<td>17x8</td></tr>
<tr>
<td>ET30</td>
<td style="background:silver">Offset</td>
<td>ET25</td></tr>
<tr>
<td>4x100</td>
<td style="background:silver">PCD</td>
<td>4x100</td></tr>
<tr>
<td>56.6</td>
<td style="background:silver">Center Bore</td>
<td>56.6</td></tr>
<tr>
<td>6.83kg</td>
<td style="background:silver">Weight</td>
<td>9.20kg</td></tr>
<tr>
<td>195/50R16</td>
<td style="background:silver">Tyre size</td>
<td>225/45R17</td></tr>
<tr>
<td style="background:silver">Price</td>
<td colspan="2">complete set inc VAT £1295</td></tr>
<tr>
<td style="background:silver">Web</td>
<td colspan="2"><a class="external text" href="http://www.komo-tec.com/product_info.php/products_id/414" rel="nofollow">Click for external link</a></td></tr></table></div>

<h2><span class="mw-headline" id="Compomotive">Compomotive</span></h2>
<h3><span class="mw-headline" id="MO">MO</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver" width="100pt">Front </td>
<td width="100pt" />
<td style="background:silver" width="100pt">Rear </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Front_comp_small.jpg" ><img src="Front_comp_small.jpg" class="type-thumb" width="220" />
</a></div>
</div>
 </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Rear_comp_small.jpg" ><img src="Rear_comp_small.jpg" class="type-thumb" width="220" />
</a></div>
</div>
 </td>
<td colspan="9">Front Wheel MO1671 16x7 ET35 (needs 5mm spacer)</td></tr>
<tr>
<td>16x7</td>
<td style="background:silver">Size</td>
<td>17x8</td></tr>
<tr>
<td>ET35</td>
<td style="background:silver">Offset</td>
<td>ET15</td></tr>
<tr>
<td>4x100</td>
<td style="background:silver">PCD</td>
<td>4x100</td></tr>
<tr>
<td>56.6</td>
<td style="background:silver">Center Bore</td>
<td>56.6</td></tr>
<tr>
<td />
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td>195/50R16</td>
<td style="background:silver">Tyre size</td>
<td>225/45R17</td></tr>
<tr>
<td style="background:silver">Price</td>
<td colspan="2">complete set inv VAT £780</td></tr>
<tr>
<td style="background:silver">Web</td>
<td colspan="2"><a class="external text" href="http://www.sandtler.de/katalogangebote/felgen/felgen/compomotive/felgen_htm/felge_mo.htm" rel="nofollow">Click for external link</a></td></tr></table></div>

<h2><span class="mw-headline" id="SJ_Racing">SJ Racing</span></h2>
<h3><span class="mw-headline" id="SJ_Racing_Leggero">SJ Racing Leggero</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver" width="100pt">Front </td>
<td width="100pt" />
<td style="background:silver" width="100pt">Rear </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:sjr_black.jpg" ><img src="sjr_black.jpg" class="type-thumb" width="220" />
</a></div>
</div>
 </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:sjr_silver.jpg" ><img src="sjr_silver.jpg" class="type-thumb" width="220" />
</a></div>
</div>
 </td>
<td colspan="9">Available in black and silver. Also available from Sector 111 but maybe only in Toyota sizes?</td></tr>
<tr>
<td>16x7</td>
<td style="background:silver">Size</td>
<td>17x8</td></tr>
<tr>
<td>ET32</td>
<td style="background:silver">Offset</td>
<td>ET15</td></tr>
<tr>
<td>4x100</td>
<td style="background:silver">PCD</td>
<td>4x100</td></tr>
<tr>
<td>56.6</td>
<td style="background:silver">Center Bore</td>
<td>56.6</td></tr>
<tr>
<td>5.74 kg</td>
<td style="background:silver">Weight</td>
<td>7.98 kg</td></tr>
<tr>
<td>195/50R16, 205/50R16, 205/45R16, 225/45R16</td>
<td style="background:silver">Tyre size</td>
<td>225/45R17, 245/40R17</td></tr>
<tr>
<td style="background:silver">Price</td>
<td colspan="2">£2500 + VAT per set from Stark Automotive</td></tr>
<tr>
<td style="background:silver">Web</td>
<td colspan="2"><a class="external text" href="http://www.stark-automotive.co.uk/shop.html" rel="nofollow">Click for external link</a></td></tr></table></div>

<h1><span class="mw-headline" id="Toyota">Toyota</span></h1>
<h2><span class="mw-headline" id="Lotus.2FOEM_2">Lotus/OEM</span></h2>
<h3><span class="mw-headline" id="Rimstock_2">Rimstock</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver" width="100pt">Front </td>
<td width="100pt" />
<td style="background:silver" width="100pt">Rear </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:111rwheel.jpg" title="OEM 111R wheel"><img src="111rwheel.jpg" alt="OEM 111R wheel" title="OEM 111R wheel" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">OEM 111R wheel</div></div>
</div>
 </td>
<td rowspan="9" />
<td colspan="9" /></tr>
<tr>
<td>16x5.5</td>
<td style="background:silver">Size</td>
<td>17x7.5</td></tr>
<tr>
<td>ET31</td>
<td style="background:silver">Offset</td>
<td>ET38</td></tr>
<tr>
<td>4x100</td>
<td style="background:silver">PCD</td>
<td>4x100</td></tr>
<tr>
<td>56.6</td>
<td style="background:silver">Center Bore</td>
<td>56.6</td></tr>
<tr>
<td>6.88</td>
<td style="background:silver">Weight</td>
<td>9.50</td></tr>
<tr>
<td>175/55R16</td>
<td style="background:silver">Tyre size</td>
<td>225/45R17</td></tr>
<tr>
<td style="background:silver">Price</td>
<td colspan="2">Retail inc VAT £ 920</td></tr>
<tr>
<td style="background:silver">Web</td>
<td colspan="2">[ Click for external link]</td></tr></table></div>


<h3><span class="mw-headline" id="Forged_Alloy_Wheel">Forged Alloy Wheel</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver" width="100pt">Front </td>
<td width="100pt" />
<td style="background:silver" width="100pt">Rear </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:111rforge.jpg" ><img src="111rforge.jpg" class="type-thumb" width="220" />
</a></div>
</div>
 </td>
<td rowspan="9" />
<td colspan="9">Silver Anodised or Silver Painted
Lotus Part numbers:

Painted Front:A117G0124H

Painted Rear:A120G0019H 

Anodised Front:A121G0013H

Anodised Rear:A121G0015H </td></tr>
<tr>
<td />
<td style="background:silver">Size</td>
<td /></tr>
<tr>
<td>ET31 </td>
<td style="background:silver">Offset</td>
<td>ET38 </td></tr>
<tr>
<td>4x100 </td>
<td style="background:silver">PCD</td>
<td>4x100 </td></tr>
<tr>
<td>56.6 </td>
<td style="background:silver">Center Bore</td>
<td>56.6 </td></tr>
<tr>
<td>EST 5.5kg </td>
<td style="background:silver">Weight</td>
<td>7kg</td></tr>
<tr>
<td>195/50/16</td>
<td style="background:silver">Tyre size</td>
<td>225/45R17</td></tr>
<tr>
<td style="background:silver">Price</td>
<td colspan="2">Retail inc VAT £1,682.60</td></tr>
<tr>
<td style="background:silver">Web</td>
<td colspan="2"><a class="external text" href="http://www.hangar111.com/ckshop.php?item=723&#38;ret=http%3A%2F%2Fwww.hangar111.com%2Fckshop.php%3Fpage%3D1%26category%3D73" rel="nofollow">Click for external link</a></td></tr></table></div>

<h3><span class="mw-headline" id="Exige_Y-type_spider">Exige Y-type spider</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver" width="100pt">Front </td>
<td width="100pt" />
<td style="background:silver" width="100pt">Rear </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:exigewheels.jpeg" ><img src="exigewheels.jpeg" class="type-thumb" width="220" />
</a></div>
</div>
 </td>
<td rowspan="9" />
<td colspan="9">When fitting to K-series car use 20 to 25mm spacer, also available in silver </td></tr>
<tr>
<td>16x6.5</td>
<td style="background:silver">Size</td>
<td>17x7.5</td></tr>
<tr>
<td>ET31</td>
<td style="background:silver">Offset</td>
<td>ET38</td></tr>
<tr>
<td>4x100</td>
<td style="background:silver">PCD</td>
<td>4x100</td></tr>
<tr>
<td>56.6</td>
<td style="background:silver">Center Bore</td>
<td>56.6</td></tr>
<tr>
<td>8.8</td>
<td style="background:silver">Weight</td>
<td>9.8</td></tr>
<tr>
<td>195/50R16</td>
<td style="background:silver">Tyre size</td>
<td>225/45R17</td></tr>
<tr>
<td style="background:silver">Price</td>
<td colspan="2">Retail inc VAT £ 950</td></tr>
<tr>
<td style="background:silver">Web</td>
<td colspan="2">[ Click for external link]</td></tr></table></div>


<h3><span class="mw-headline" id="Volk_Racing_TE37_Forged_1_piece_wheel">Volk Racing TE37 Forged 1 piece wheel</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver" width="100pt">Front </td>
<td width="100pt" />
<td style="background:silver" width="100pt">Rear </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:VolkTE37.jpg" ><img src="VolkTE37.jpg" class="type-thumb" width="220" />
</a></div>
</div>
 </td>
<td rowspan="9" />
<td colspan="9">Available in Bronze and White

Silver available for an additional £94.00

Centre caps - optional extra</td></tr>
<tr>
<td>7 x 16</td>
<td style="background:silver">Size</td>
<td>7.5 x 17</td></tr>
<tr>
<td>+33</td>
<td style="background:silver">Offset</td>
<td>+40</td></tr>
<tr>
<td>4 x 100</td>
<td style="background:silver">PCD</td>
<td>4 x 100</td></tr>
<tr>
<td>65</td>
<td style="background:silver">Center Bore</td>
<td>65</td></tr>
<tr>
<td>5.17kg</td>
<td style="background:silver">Weight</td>
<td>7.00kg</td></tr>
<tr>
<td>205/45R16</td>
<td style="background:silver">Tyre size</td>
<td>225/45R17</td></tr>
<tr>
<td style="background:silver">Price</td>
<td colspan="2">£1504 inc vat</td></tr>
<tr>
<td style="background:silver">Web</td>
<td colspan="2">[[http://www.coordsport.com] Click for external link]</td></tr></table></div>

<h3><span class="mw-headline" id="240R_5-spoke">240R 5-spoke</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver" width="100pt">Front </td>
<td width="100pt" />
<td style="background:silver" width="100pt">Rear </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:240r.jpg" ><img src="240r.jpg" class="type-thumb" width="220" />
</a></div>
</div>
 </td>
<td rowspan="9" />
<td colspan="9">OEM 240R wheels, also available in silver.
Lotus Part numbers:

ALS3G6014F Front Wheel 5-spoke, 7.0x16, HP silver

ALS3G6007F Front Wheel 5-spoke, 7.0x16, black

ALS3G6019F Rear Wheel 5-spoke, 8.0x17, HP silver

ALS3G6008F Rear Wheel 5-spoke, 8.0x17, black

ALS3G6013F Wheel Centre Cover, with Lotus Logo - for 5-spoke wheels</td></tr>
<tr>
<td>16x7</td>
<td style="background:silver">Size</td>
<td>17x8</td></tr>
<tr>
<td>31</td>
<td style="background:silver">Offset</td>
<td>38</td></tr>
<tr>
<td>4x100</td>
<td style="background:silver">PCD</td>
<td>4x100</td></tr>
<tr>
<td>56.6</td>
<td style="background:silver">Center Bore</td>
<td>56.6</td></tr>
<tr>
<td>6.1</td>
<td style="background:silver">Weight</td>
<td>8.1</td></tr>
<tr>
<td>190/580 16</td>
<td style="background:silver">Tyre size</td>
<td>230/625 17</td></tr>
<tr>
<td style="background:silver">Price</td>
<td colspan="2">£1869 a set inc VAT </td></tr>
<tr>
<td style="background:silver">Web</td>
<td colspan="2">[ Click for external link]</td></tr></table></div>


<h3><span class="mw-headline" id="Volk_Racing_RE30_Forged_1_piece_wheel">Volk Racing RE30 Forged 1 piece wheel</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver" width="100pt">Front </td>
<td width="100pt" />
<td style="background:silver" width="100pt">Rear </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:RE30_large.jpg" ><img src="RE30_large.jpg" class="type-thumb" width="220" />
</a></div>
</div>
 </td>
<td rowspan="9" />
<td colspan="9">30% stronger than CE28N forged wheel

Available in Bronze and Chrome Silver

Mercury Silver &#38; the NEW Formula Silver available for an additional £94.00

Centre caps - optional extra</td></tr>
<tr>
<td>7 x 16</td>
<td style="background:silver">Size</td>
<td>7.5 x 17</td></tr>
<tr>
<td>+33</td>
<td style="background:silver">Offset</td>
<td>33-43</td></tr>
<tr>
<td>4 x 100</td>
<td style="background:silver">PCD</td>
<td>4 x 100</td></tr>
<tr>
<td>65</td>
<td style="background:silver">Center Bore</td>
<td>65</td></tr>
<tr>
<td>5.82kg</td>
<td style="background:silver">Weight</td>
<td>7.88kg</td></tr>
<tr>
<td>205/45R16</td>
<td style="background:silver">Tyre size</td>
<td>225/45R17</td></tr>
<tr>
<td style="background:silver">Price</td>
<td colspan="2">£1527.50 inc vat</td></tr>
<tr>
<td style="background:silver">Web</td>
<td colspan="2">[[http://www.coordsport.com] Click for external link]</td></tr></table></div>

<h3><span class="mw-headline" id="Exige.2FElise_RGB_Forged_Wheels">Exige/Elise RGB Forged Wheels</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver" width="100pt">Front </td>
<td width="100pt" />
<td style="background:silver" width="100pt">Rear </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:http://www.omniauto.it/awpImages/photogallery/2010/11515/photos1280/lotus-elise-sc-ed-exige-s-rgb-special-editions_3.jpg" ><img src="http://www.omniauto.it/awpImages/photogallery/2010/11515/photos1280/lotus-elise-sc-ed-exige-s-rgb-special-editions_3.jpg" class="type-thumb" width="220" />
</a></div>
</div>
 </td>
<td rowspan="9" />
<td colspan="9">data by Donnie</td></tr>
<tr>
<td>16x6.0</td>
<td style="background:silver">Size</td>
<td>17x??</td></tr>
<tr>
<td>ET??</td>
<td style="background:silver">Offset</td>
<td>ET??</td></tr>
<tr>
<td>4x100</td>
<td style="background:silver">PCD</td>
<td>4x100</td></tr>
<tr>
<td>56.6</td>
<td style="background:silver">Center Bore</td>
<td>56.6</td></tr>
<tr>
<td>6.4</td>
<td style="background:silver">Weight</td>
<td>8.8</td></tr>
<tr>
<td>195/50R16</td>
<td style="background:silver">Tyre size</td>
<td>225/45R17</td></tr>
<tr>
<td style="background:silver">Price</td>
<td colspan="2">Retail inc VAT around 3800€</td></tr>
<tr>
<td style="background:silver">Web</td>
<td colspan="2">[ Click for external link]</td></tr></table></div>

<h1><span class="mw-headline" id="Other_sources_of_information">Other sources of information</span></h1>


<p><a class="external text" href="http://www.hubert.racegame.org/wheels.html" rel="nofollow">Hubspace.net</a> (link broken)</p>
<p>

</p>