
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Standard_oem_radiator.jpg" title="Standard OEM radiator with plastic end tanks"><img src="Standard_oem_radiator.jpg" alt="Standard OEM radiator with plastic end tanks" title="Standard OEM radiator with plastic end tanks" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Standard OEM radiator with plastic end tanks</div></div>
</div>

<p>
The standard OEM Elise radiator is another weak point in the cooling system.  Although it is lightweight, it has plastic end tanks which are prone to expanding and leaking under pressure.</p>
<p>Unfortunately you need to <a href="http://wiki.seloc.org/a/Remove_the_front_clamshell" title="Remove the front clamshell">Remove S2 front clamshell</a> before you can <a href="http://wiki.seloc.org/a/Replace_the_radiator_%26_cooling_fans" title="Replace the radiator &amp; cooling fans">replace the radiator</a>.</p>
<p>A upgraded radiator is pretty advisable when going for Honda/Audi/Duratec engine upgrades.  Most converted cars on the original radiators seem to blow them up pretty soon after conversion.</p>

<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Leaks">Leaks</a>
<ul>
<li class="toclevel-2"><a href="#Indication_of_HGF">Indication of HGF</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Aftermarket_Upgrades">Aftermarket Upgrades</a>
<ul>
<li class="toclevel-2"><a href="#PMA_group">PMA group</a>
</li>
<li class="toclevel-2"><a href="#Eliseparts">Eliseparts</a>
</li>
<li class="toclevel-2"><a href="#Proalloy">Proalloy</a>
</li>
<li class="toclevel-2"><a href="#Elise-Shop.com">Elise-Shop.com</a>
</li>
<li class="toclevel-2"><a href="#Charles_Z.C3.BCgn">Charles Zügn</a>
</li>
</ul>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Leaks">Leaks</span></h2>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Oem_rad_end_tank_leak.jpg" title="Drivers side end tank leaking under pressure"><img src="Oem_rad_end_tank_leak.jpg" alt="Drivers side end tank leaking under pressure" title="Drivers side end tank leaking under pressure" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Drivers side end tank leaking under pressure</div></div>
</div>

<p>
The most common fault with the OEM radiator is cracking/spliting of the plastic end tanks.  The first signs of failure are drops of coolent on the windscreen, either drivers or passengers side, but castrophic failure of the end tanks has been known.</p>

<p>Quite often the passenger side hose is poorly connected (because it is difficult to do) and sometimes the bleed screw can leak. </p>
<p>The OEM radiators seem to have a problem with their manufacture where the main core is bonded to the top/bottom and leaks are all too common.</p>
<h3><span class="mw-headline" id="Indication_of_HGF">Indication of HGF</span></h3>
<p>Its been suggested in the past that a blown radiator can indicate imminent HGF.  The header tank cap is normally the first to vent when the system is pressurised since it only requires approximately 1 bar.  The radiator is designed to operate at pressures a lot higher than this and the cap acts as a fuse.  However, the header tank is on the lowest pressure point of the circuit and this allows high pressure peaks on the high pressure side (which is from the engine to the rad).  <b>need more thought here</b></p>
<h2><span class="mw-headline" id="Aftermarket_Upgrades">Aftermarket Upgrades</span></h2>
<p>Replacement may require careful drilling out of the fan bracket rivets</p>
<h3><span class="mw-headline" id="PMA_group">PMA group</span></h3>
<p>The original equipment manufacturer</p>
<p>Typically the plastic endcaps can be expected to be good for 3 years</p>
<p><a class="external free" href="http://www.pmagroup.co.uk/branches.php" rel="nofollow">http://www.pmagroup.co.uk/branches.php</a></p>
<p>At least one branch will sell for £100 + VAT inc 12months warranty
You&#39;ll need to refit the fan brackets</p>
<h3><span class="mw-headline" id="Eliseparts">Eliseparts</span></h3>
<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:All_aluminium_radiator.jpg" ><img src="All_aluminium_radiator.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>All aluminium upgraded radiator</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:All_aluminium_hi_pressure_radiator.jpg" ><img src="All_aluminium_hi_pressure_radiator.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>All aluminium hi pressure radiator</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Standard_oem_radiator.jpg" ><img src="Standard_oem_radiator.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Standard OEM radiator with plastic end tanks</p>
                    </div>
                </div>
                
<a class="external text" href="http://www.eliseparts.com" rel="nofollow">Eliseparts</a> offer three radiators, the standard OEM with plastic end tanks, an all aluminium alternative and a race radiator.</p>
<h3><span class="mw-headline" id="Proalloy">Proalloy</span></h3>
<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Radiator_pro_alloy.jpg" ><img src="Radiator_pro_alloy.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Pro Alloy direct replacement radiator</p>
                    </div>
                </div>
                </p>
<p><a class="external text" href="http://www.proalloy.co.uk" rel="nofollow">Pro Alloy</a>, Run by SELOC member <a class="external text" href="http://forums.seloc.org/member.php?action=viewpro&#38;member=wazzer" rel="nofollow">Wayne Clayden</a> offer a direct replacement for the standard unit: -
</p>
<ul>
<li>Twin row 45mm thick, high efficiency alloy core.</li>
<li>Aluminium end tanks,(good for high pressure systems)</li>
<li>All Pro Alloy radiator cores are fully brazed in a controlled atmosphere process to comply with ISO 9001 quality assurance standards</li>
</ul>

<h3><span class="mw-headline" id="Elise-Shop.com">Elise-Shop.com</span></h3>
<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:OE-RAD.jpg" ><img src="OE-RAD.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Original OE radiator with plastic end tanks</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:AliRad.jpg" ><img src="AliRad.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Full Aluminium High Pressure Radiator (Elise, Exige, 340R, VX220 - non VVTi)</p>
                    </div>
                </div>
                </p>
<p><a class="external text" href="http://www.elise-shop.com" rel="nofollow">Elise-Shop.com</a> Run by SELOC member <a class="external text" href="http://forums.seloc.org/m/YvoTuk" rel="nofollow">Yvo Tuk</a> offer a range of radiators from the standard OEM with plastic end tanks to a Full aluminium 42mm (extra capacity) alternative to the Pro-Alloy Work-Of-Art radiator to the all new triple pass very high capacity radiator.</p>
<p><b>Have a read in <a class="external text" href="http://forums.seloc.org/t/212371" rel="nofollow">this thread to learn more about the latest options available!</a></b></p>
<h3><span class="mw-headline" id="Charles_Z.C3.BCgn">Charles Zügn</span></h3>

<p>SELOC Member <a class="external text" href="http://forums.seloc.org/m/Yasec" rel="nofollow">Yasec</a> Sells a Alloy Radiator for 285 GBP incl. delivery. (This is for the 32mm thick version)
and is the lightest on the market. see thread: <a class="external free" href="http://arc.seloc.org/t/102391" rel="nofollow">http://arc.seloc.org/t/102391</a>
There is also the motorsport vesion with 40mm thickness for 355 GBP incl. delivery.
Custom fan brackets optional for 2 fans or for different fans like the oem available!</p>

<p>


</p>