
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Odb2_plug.jpg" title="OBD2 connector (plug)"><img src="Odb2_plug.jpg" alt="OBD2 connector (plug)" title="OBD2 connector (plug)" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">OBD2 connector (plug)</div></div>
</div>

<p>
Like all cars, the Elise is fitted with an <b>On board diagnostic</b>, or <b>OBD</b>, connector (socket) tucked away in the passenger foot well.</p>
<p>This can be used to communicate with the cars <a href="http://wiki.seloc.org/a/ECU" title="ECU">ECU</a> for retrieving diagnostic information, resetting the <a href="http://wiki.seloc.org/a/MIL" title="MIL">MIL</a> or viewing live engine parameters.</p>
<p>NOTE: This is only valid for the Elise S2/Exige S2. The Elise S1 and Exige S1 is equipped with a similar connector, but this connector is NOT OBD compatible!</p>

<p>The standard is also referred as: -
</p>
<ul>
<li>OBD2</li>
<li>OBD-2</li>
<li>OBDII</li>
<li>OBD-II</li>
</ul>

<p>In europe the standard is called: -
</p>
<ul>
<li>E-OBD</li>
<li>EOBD</li>
</ul>

<p>In practice it&#39;s very close to the USA-based OBD2 standard and most OBD2 scanners will work. The meaning of some of the codes in EOBD are slightly different from OBD2 though.</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#DIY">DIY</a>
</li>
<li class="toclevel-1"><a href="#OBD-II_codes">OBD-II codes</a>
<ul>
<li class="toclevel-2"><a href="#See_Also">See Also</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#External_Links">External Links</a>
<ul>
<li class="toclevel-2"><a href="#General_Information">General Information</a>
</li>
<li class="toclevel-2"><a href="#Vendors">Vendors</a>
</li>
</ul>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="DIY">DIY</span></h2>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:OBDII_111R.jpg" title="OBDII Connector, S2 111R"><img src="OBDII_111R.jpg" alt="OBDII Connector, S2 111R" title="OBDII Connector, S2 111R" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">OBDII Connector, S2 111R</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:OBDII.jpg" title="OBDII Connector, S2 Exige"><img src="OBDII.jpg" alt="OBDII Connector, S2 Exige" title="OBDII Connector, S2 Exige" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">OBDII Connector, S2 Exige</div></div>
</div>

<p>On the S2 Elise it is quite simple to connect to the cars <a href="http://wiki.seloc.org/a/ECU" title="ECU">ECU</a> yourself.</p>
<p>Until 2008 all S2&#39;s can be queried using the ISO 9141-2 OBD II protocol for the OBD required error codes and results.
From 2008 onwards CAN is the only permitted OBD2 protocol.</p>
<p>All S2 variants also have a CAN bus connection on the same diagnostic connector.</p>
<p>For the Rover powered S2 variants the CAN bus is only connected to the engine ECU and used by the Lotus scan tool to reflash/upgrade the ECU and obtain the ECU dump information at the first service.</p>
<p>The dash unit still uses discrete inputs for the various gauges and information readouts, either connecting directly to sensors or using PWM signals from the ECU.</p>
<p>The Toyota powered S2 (111R, Fed-Elise, Exige2)  also connects the CAN bus (running at 1 megabit/s) to the dash unit and does away with most of the discrete inputs to the dash unit, RPM, speed, MIL/CEL, coolant temperature and fuel level are supplied via the CAN Bus, the rest are discreete inputs.  </p>
<p>The ScanTool3 provides the ECU reflash and DUMP via the K line, using the L line as an enable latch, the CAN bus is not used for reflashing or ECU dump, though it can be used by Lotus with their internal EFi supplied mapping tools.</p>
<h2><span class="mw-headline" id="OBD-II_codes">OBD-II codes</span></h2>
<p>OBD-II codes consist of a number of parts. Here is a sample OBD2 code:</p>
<p>P0171</p>
<p>Here is a breakdown of what each digit of the code means:</p>
<p><b>First Character - System</b>
The first character identifies identifies the system related to the trouble code.</p>
<p>P = Powertrain </p>
<p>B = Body </p>
<p>C = Chassis </p>
<p>U = Undefined </p>
<p><b>Second Digit - Code Type</b>
The second digit identifies whether the code is a generic code (same on all OBD-II equpped vehicles), or a manufacturer specific code.</p>
<p>0 = Generic (this is the digit zero -- not the letter &#34;O&#34;) </p>
<p>1 = Enhanced (manufacturer specific) </p>
<p><b>Third Digit - Sub-System</b>
The third digit denotes the type of sub-system that pertains to the code</p>
<p>1 = Emission Management (Fuel or Air)</p> 
<p>2 = Injector Circuit (Fuel or Air) </p>
<p>3 = Ignition or Misfire </p>
<p>4 = Emission Control </p>
<p>5 = Vehicle Speed &#38; Idle Control </p>
<p>6 = Computer &#38; Output Circuit </p>
<p>7 = Transmission </p>
<p>8 = Transmission </p>
<p>9 = SAE Reserved </p>
<p>0 = SAE Reserved </p>
<p><b>Fourth and Fifth Digits</b>
These digits, along with the others, are variable, and relate to a particular problem. For example,a P0171 code means P0171 - System Too Lean (Bank 1).</p>
<h3><span class="mw-headline" id="See_Also">See Also</span></h3>

<p><a class="external free" href="http://forums.seloc.org/viewthread.php?tid=112517" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=112517</a></p>
<h2><span class="mw-headline" id="External_Links">External Links</span></h2>
<h3><span class="mw-headline" id="General_Information">General Information</span></h3>
<p><a class="external free" href="http://www.kbmsystems.net" rel="nofollow">http://www.kbmsystems.net</a></p>
<p><a class="external free" href="http://en.wikipedia.org/wiki/On_Board_Diagnostics" rel="nofollow">http://en.wikipedia.org/wiki/On_Board_Diagnostics</a></p>
<p><a class="external free" href="http://www.obdii.com/obdii.asp" rel="nofollow">http://www.obdii.com/obdii.asp</a></p>
<h3><span class="mw-headline" id="Vendors">Vendors</span></h3>

<p><a class="external free" href="http://www.scantool.net/" rel="nofollow">http://www.scantool.net/</a></p>
<p><a class="external free" href="http://www.obdkey.com/" rel="nofollow">http://www.obdkey.com/</a></p>
<p><a class="external free" href="http://www.vitalengineering.co.uk/" rel="nofollow">http://www.vitalengineering.co.uk/</a></p>


<p>

</p>