
<ol>
<li><a href="http://wiki.seloc.org/a/Remove_the_rear_undertray" title="Remove the rear undertray">Diffuser off (Rearmost part of the undertray)</a></li>
<li>Soak cat nuts in penetrating oil for a few days before hand. Undo nuts from Cat. (15MM), use Loctite Freeze and Release to break the nuts free of rust etc. It really does work.</li>
<li>Cut off those that won&#39;t move, swear profusely.</li>
<li>Wiggle the Cat, silencer and flexi until it all comes apart (If necessary remove rubber mount from the flexi)</li>
<li>Offer up CRP and fit the new stainless steel bolts in place not forgetting the gaskets</li>
<li>Tighten the new stainless steel nuts progressively as your CRP may not be an exact fit</li>
<li>Find gaskets on the floor undo the bolts and refit corectly</li>
<li>Refit diffuser</li>
</ol>

<p>Job is a carrot, first time will take hours as the bolts are all rusted, second time is a doddle.  
While the cat is off press out the studs with a vice and a suitable socket, makes things easier next time.</p>
<p>Note that some grades of SS bolts may seize over time with the extreme temperatures; the only way to remove them is to apply pressure until they shear, then they will need to be renewed (removal will be necessary once a year for MOT if you are fitting a CRP).  If fitting a CRP, normal steel bolts will be fine as the constant removal-refitting is enough to keep them from rusting up. </p>
<p>The use of copper grease can help prevent seizure.</p>
<p>



</p>