
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Nitron_racing_quick_rack.jpg" title="Nitron Racing Aluminium Quickrack"><img src="Nitron_racing_quick_rack.jpg" alt="Nitron Racing Aluminium Quickrack" title="Nitron Racing Aluminium Quickrack" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Nitron Racing Aluminium Quickrack</div></div>
</div>

<p>
The <b>Steering Rack</b> on the Elise is...</p>
<p>More here about <a class="external text" href="http://en.wikipedia.org/wiki/Rack-and-pinion_steering" rel="nofollow">Rack-and-pinion steering</a>.</p>

<p><b>How to check for play in the steering rack</b></p>
<p>Get the steering wheel in the straight-ahead position, remove the ignition key and turn the steering wheel to engage the steering column lock (normally right-hand down a bit).</p>
<p>Get an assistant to very firmly hold the steering wheel against the steering column lock (did I mention very firmly?!) and then grab each front road wheel at the 3 o&#39;clock and 9 o&#39;clock positions in turn and try to move them just like you&#39;d check for wheel bearing play.</p>
<p>You shouldn&#39;t be able to see/feel any play obviously.</p>
<p>If you do if could be wheel bearing, wishbone ball joint(s), track rod end, track rod, rack bar, pinion or steering column UJ(s). To see which part(s) have the play remove the road wheel and do the same but move the caliper/disc, steering arm, track rod end and track rod to see where the play is coming from.</p>
<p>That should give you a good idea of what is worn out/broken.</p>
<p>The most common cause of play in the rack is broken cups (or delrin shoes as Titan call them). These are cheap from Titan and can be fitted fairly easily DIY. Personally I&#39;d get the complete rack to Titan and get them to refurb it (which they do properly rather than filling it with thick grease and painting it).</p>
<p>More here <a class="external free" href="http://forums.seloc.org/viewthread.php?tid=137138" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=137138</a></p>

<p>It is possible to <a href="http://wiki.seloc.org/a/Replace_the_steering_rack" title="Replace the steering rack">replace the steering rack</a> yourself.</p>
<h2><span class="mw-headline" id="S1">S1</span></h2>

<h2><span class="mw-headline" id="S2">S2</span></h2>

<p>2001 - 2004 S2 cars use the Titan rack as in the S1</p>
<p>2004 &#62; use the new Sona rack</p>
<p>The diffrences can be identified by the casing. The Titan rack has a full casing upto the track rods. The Sona rack has only casing around the the pinon, the rest is contained in a black tube.</p>
<p><a class="external text" href="http://www.sonagroup.com/" rel="nofollow">Sona rack</a></p>
<p>SONA 5203062</p>
<p>A117H0052F</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:sona-rack.jpg" ><img src="sona-rack.jpg" width="220" />
</a></p>
<h2><span class="mw-headline" id="Quickrack">Quickrack</span></h2>
<p>A <b>Quickrack</b>, or quick rack, provides greater front wheel movement for the same steering wheel input.  They are predominantly used on track cars allowing the driver to input more steering lock before needing to release the wheel.</p>
<p><a class="external free" href="http://forums.seloc.org/viewthread.php?tid=2283" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=2283</a></p>


<p>

</p>