
<div style="page-break-inside: avoid;">
<table align="right" cellpadding="2" cellspacing="0" class="infobox" font="3" rules="rows" style="font-size:85%; width:25em; border-collapse:collapse; border:1px solid black;">
<tr style="background:LightBlue;">
<td align="center" colspan="2" style="font-size: larger;"><b>Time &#38; Tools</b></td></tr>
<tr>
<th>Time:</th>
<td>5mins</td></tr>
<tr>
<th>Tools:</th>
<td>8mm Socket</td></tr></table></div>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Remove_the_front_undertray_step_4.jpg" title="Topside of front undertray from Elise S2"><img src="Remove_the_front_undertray_step_4.jpg" alt="Topside of front undertray from Elise S2" title="Topside of front undertray from Elise S2" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Topside of front undertray from Elise S2</div></div>
</div>

<p>
The front undertray needs to be removed for a variety of reasons such as to <a href="http://wiki.seloc.org/a/Replace_the_anti-roll_bar" title="Replace the anti-roll bar">replace the anti-roll bar</a>, </p>
<p>This undertray is very important as it brings rigidity to the whole front of the car.</p>

<h2><span class="mw-headline" id="Procedure">Procedure</span></h2>
<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Remove_the_front_undertray_step_1.jpg" ><img src="Remove_the_front_undertray_step_1.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Remove the three screws (8mm socket) securing the undertray to the front clamshell</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Remove_the_front_undertray_step_2.jpg" ><img src="Remove_the_front_undertray_step_2.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>This shows the rear lip securing the undertray.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Remove_the_front_undertray_step_3.jpg" ><img src="Remove_the_front_undertray_step_3.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Remove the nine screws (8mm socket) securing the undertray to the chassis</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Remove_the_front_undertray_step_4.jpg" ><img src="Remove_the_front_undertray_step_4.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Now slide the undertray forward, so the rear edge drops out of the lip, and then backwards to remove from the car</p>
                    </div>
                </div>
                </p>
<h2><span class="mw-headline" id="Refitting">Refitting</span></h2>
<p>Not easy to refit without positioning yourself under the car.</p>

<ol>
<li>From below, slide the undertray inside the clamshell.
<ul>
<li>Make sure it&#39;s the right way up!</li>
</ul></li>
<li>Key the rear of the undertray into the lip.</li>
<li>Replace all 12 screws.
<ul>
<li>The rear three screws are secured with <a class="external text" href="http://www.loctite.com/int_henkel/loctite_uk/index.cfm" rel="nofollow">Loctite</a>.</li>
</ul></li>
</ol>

<p>


</p>