
<p>The doors striker pins on later model S2 Elises (what years?) are slightly too small in diameter causing the door to rattle when driving over bumps in the road.  It can be most off putting and sometimes result in the driver thinking there&#39;s something seriously wrong with the car.</p>
<p><b>NOTE:  This only affects the S2 Elise</b></p>
<p>There are several solutions to resolve this problem all of which simply increase the diameter of the striker pin.</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Get_a_new_one">Get a new one</a>
<ul>
<li class="toclevel-2"><a href="#Sources">Sources</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Bodge_repair_the_existing">Bodge repair the existing</a>
<ul>
<li class="toclevel-2"><a href="#Electric_Tape">Electric Tape</a>
</li>
<li class="toclevel-2"><a href="#String">String</a>
</li>
</ul>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Get_a_new_one">Get a new one</span></h2>
<p>Purchase a new striker pin which is slightly larger in diameter than the stock item which stops the door rattling.  You need a 17mm spanner for this job.</p>
<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:new1.jpg" ><img src="new1.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Larger After market S2 Striker Pins</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:new2.jpg" ><img src="new2.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Larger After market S2 Striker Pins</p>
                    </div>
                </div>
                </p>
<h3><span class="mw-headline" id="Sources">Sources</span></h3>
<p>EliseShop sell new striker pins:
</p>
<ul>
<li><a class="external free" href="http://www.elise-shop.com/index.php?main_page=product_info&#38;cPath=5&#38;products_id=613" rel="nofollow">http://www.elise-shop.com/index.php?main_page=product_info&#38;cPath=5&#38;products_id=613</a></li>
</ul>

<p>The seller &#39;jess9blue&#39; sometimes has these for sale on eBay:
</p>
<ul>
<li><a class="external free" href="http://search.ebay.co.uk/_W0QQsassZjess9blueQQhtZ-1" rel="nofollow">http://search.ebay.co.uk/_W0QQsassZjess9blueQQhtZ-1</a></li>
</ul>


<h2><span class="mw-headline" id="Bodge_repair_the_existing">Bodge repair the existing</span></h2>
<h3><span class="mw-headline" id="Electric_Tape">Electric Tape</span></h3>
<p>For the lazy or spanner inept among us, a simple fix is to wrap some electrical tape around the pins (making them bigger in diameter).  This will have to be re-applied over time as the tape will slowly become ripped.</p>

<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Pins3.JPG" ><img src="Pins3.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Tape Around Pins</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Pins4.JPG" ><img src="Pins4.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Wrapping Tape Around The Pins</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Pins5.JPG" ><img src="Pins5.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Tape Requiring a re-application</p>
                    </div>
                </div>
                </p>
<h3><span class="mw-headline" id="String">String</span></h3>
<p>Having used the tape method for a few months I did not like it a lot, it looked bad and did not really work. I fixed the issue by using simple string (the kind used to wrap parcels). Drop of super glue to fix the end, then wrap it around tightly and neatly and fixing the other end with another drop of super glue. If you want it to last for years use a bit of wood glue to soak the string all around, will make it very durable. My doors now shut like on a Merc. Okay, not really, but a lot better. </p>

<p>


</p>