
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:headgasket.jpg" title="Upgraded head gasket and steel dowels, see precautions below"><img src="headgasket.jpg" alt="Upgraded head gasket and steel dowels, see precautions below" title="Upgraded head gasket and steel dowels, see precautions below" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Upgraded head gasket and steel dowels, see precautions below</div></div>
</div>

<p><b>Head Gasket Failure</b>, or HGF, is all too common on the Rover ‘K’ series engine.  What happens is the <a class="external text" href="http://en.wikipedia.org/wiki/Head_gasket" rel="nofollow">head gasket</a>, which sits between the <a class="external text" href="http://en.wikipedia.org/wiki/Cylinder_block" rel="nofollow">engine block</a> and <a class="external text" href="http://en.wikipedia.org/wiki/Cylinder_head" rel="nofollow">cylinder head</a>, fails, allowing pathways between the firing area and cooling system to form.  A more detailed explanation can be found <a class="external text" href="http://forums.seloc.org/viewthread.php?tid=92689" rel="nofollow">here</a>.</p>
<p>Original designs of the were held in place by dowels that allowed minute movement of the gasket. Later gaskets are held in place by steel dowels, which do not allow movement of the gasket. </p>

<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<ul>
<li class="toclevel-1"><a href="#Symptoms">Symptoms</a>
</li>
<li class="toclevel-1"><a href="#Handling">Handling</a>
</li>
<li class="toclevel-1"><a href="#Treatment">Treatment</a>
</li>
<li class="toclevel-1"><a href="#Precautions">Precautions</a>
</li>
<li class="toclevel-1"><a href="#HGF_Pictures">HGF Pictures</a>
</li>
</ul>
</ul>
</ul></td></tr></table><hr/>
<h3><span class="mw-headline" id="Symptoms">Symptoms</span></h3>
<p>Signs of HGF tend to include oil in the <a href="http://wiki.seloc.org/a/Coolant" title="Coolant">coolant</a> expansion bottle, or <a href="http://wiki.seloc.org/a/Engine_oil" title="Engine oil">oil</a> becoming emulsified where the coolant from the coolant ways seeps through the gasket into oil. This can normally be seen as a <i><a class="external text" href="http://en.wikipedia.org/wiki/Mayonnaise" rel="nofollow">mayonnaise</a></i> like substance inside the oil filler cap or the engine oil dipstick.</p>

<ul>
<li>Oil in coolant expansion bottle.</li>
<li>Brown layer of foam floating on the coolant.</li>
<li>Mayonnaise type substance on the oil filler cap/dipstick.</li>
<li>Steam from the exhaust pipe.</li>
<li>Erratic temp readings on the <a href="http://wiki.seloc.org/a/Stack" title="Stack">stack</a> display.</li>
<li>Blown radiator.</li>
</ul>


<h3><span class="mw-headline" id="Handling">Handling</span></h3>
<p>If you suspect HGF, <b>do not</b> drive the car and have it checked by a reputable garage.  This can include checking the coolant for hydrocarbons to see if oil/gases have escaped past the gasket into the coolant ways. If the engine has overheated and the cylinder head has become warped, then the head will need to be skimmed so that it can be reseated onto a new gasket at a later date.</p>

<p>There is plenty of information about HG repalcement here, but a few points to note if you want it to last</p>
<p>i) the head should be hardness tested and be more than 95 Brinell</p>
<p>ii) the head should be peened on the fire ring area to eradicate porosity followed by a skim</p>
<p>iii) the liner heights should be checked and if they are lower then 4 thou they should be corrected</p>
<p>iv) a Payen BW750 gasket or if you must an MLS Payen BW5750 gasket should be used.</p>
<p>Get these right and the fix will last.</p>
<h3><span class="mw-headline" id="Treatment">Treatment</span></h3>
<p>Does the head need skimming?
Fit new head gasket.</p>
<h3><span class="mw-headline" id="Precautions">Precautions</span></h3>
<p>Certain precautions can be taken to help alleviate the problem of HGF.  These include
</p>
<ul>
<li>Always check the coolant level.</li>
<li>Hoses for damage and jubilee clips for tightness.</li>
<li>Warming the engine up gradually from cold may also be beneficial.</li>
<li>Fit a <a href="http://wiki.seloc.org/a/Remote_stat" title="Remote stat">remote stat</a>.</li>
<li>Upgrade the <a class="external text" href="http://en.wikipedia.org/wiki/Head_gasket" rel="nofollow">head gasket</a>.</li>
<li>Install the new type oil ladder combined with the multi layer head gasket</li>
</ul>

<h3><span class="mw-headline" id="HGF_Pictures">HGF Pictures</span></h3>
<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Spunky.jpg" ><img src="Spunky.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Oil in coolant, no other signs of failure</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Spunky1.jpg" ><img src="Spunky1.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Oil in coolant, no other signs of failure</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:spunky2.JPG" ><img src="spunky2.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Mayonnaise type substance in coolant tank</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:spunky3.JPG" ><img src="spunky3.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Mayonnaise type substance on the oil filler cap</p>
                    </div>
                </div>
                </p>




<p>


</p>