
<p>HOW TO ADJUST THE RIDE HEIGHT - NITRON ADJUSTABLE DAMPERS</p>
<p>1st measure the curent height, this is normally done at the chassis cross member between the front wheels.</p>
<p>Then lift the car up, remove the wheel and rotate the collar on the damper, this can be done with the special tool but that can be a real pain, alternatively use one or two old blunt 6mm drill bits in the holes provided.</p>
<p>lower the car and measure the difference.</p>
<p><a href="http://wiki.seloc.org/a/Points_to_note..." title="Points to note...">Points to note...</a>
If you want an absolute height you would measure with the car laden, however you can get a relative reading and know how much you have increased it by with the car empty. 
Ideally you would drive the car up and down the road before checking your new height to make sure the springs are correctly seated.
You will change the camber as a result.
You will effect the high speed stability of the car, they like 5-10mm of rake front to rear.</p>
<p>Re ratio of turns to ride height... each turn is around 1.7mm and you need to use a magnifiction ratio of around 1.6 due to tyre and damper angle so each turn of the upper spring seat should give just under 3mm of ride height change.</p>
<p>Quoted from SteveB</p>
<p>&#34;There is a ~0.7 ratio for height adjustments on the damper - ie compress the spring 10mm and you will raise the car 14mm. Make any adjustments to both sides of the car before re-measuring. its worth having a 10mm rake such that the front is 10mm lower than the rear.&#34; </p>
<hr />
<h2><span class="mw-headline" id="S1">S1</span></h2>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td />
<td colspan="4"><b>REAR</b></td></tr>
<tr>
<td rowspan="7"><b>FRONT</b> </td>
<td />
<td>130                </td>
<td>125                </td>
<td>120</td></tr>
<tr>
<td>130 </td>
<td />
<td />
<td /></tr>
<tr>
<td>125 </td>
<td />
<td />
<td /></tr>
<tr>
<td>120 </td>
<td />
<td />
<td /></tr>
<tr>
<td>115 </td>
<td />
<td />
<td /></tr>
<tr>
<td>110 </td>
<td />
<td />
<td /></tr></table></div>


<h2><span class="mw-headline" id="S2">S2</span></h2>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td />
<td colspan="4"><b>REAR</b></td></tr>
<tr>
<td rowspan="5"><b>FRONT</b> </td>
<td />
<td>130                </td>
<td>125                </td>
<td>120</td></tr>
<tr>
<td>130 </td>
<td />
<td />
<td /></tr>
<tr>
<td>125 </td>
<td />
<td />
<td /></tr>
<tr>
<td>120 </td>
<td />
<td />
<td /></tr></table></div>

<p>


</p>