
<p>For those running their Lotus as a second car it&#39;s not uncommon to take the car off the road during the winter months.</p>
<p>While there is nothing too serious that needs to be done when storing an Elise for a few months at a time, there are a few simple things that can be done to minimise the chance of problems when you come to put it back on the road in the Spring.</p>
<p>Although some of this advice is written specifically regarding the Elise the majority can be applied to all Lotus&#39;s, and cars in general.</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1"><a href="#Preparation">Preparation</a>
</li>
<li class="toclevel-1"><a href="#Storage_Environment">Storage Environment</a>
<ul>
<li class="toclevel-2"><a href="#Indoors">Indoors</a>
</li>
<li class="toclevel-2"><a href="#Outdoors">Outdoors</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Mechanicals">Mechanicals</a>
<ul>
<li class="toclevel-2"><a href="#Battery">Battery</a>
</li>
<li class="toclevel-2"><a href="#Brakes">Brakes</a>
</li>
<li class="toclevel-2"><a href="#Engine">Engine</a>
</li>
<li class="toclevel-2"><a href="#Fuel">Fuel</a>
</li>
<li class="toclevel-2"><a href="#Tyres">Tyres</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Waking_from_hibernation">Waking from hibernation</a>
</li>
</ul></td></tr></table><hr/>
<h1><span class="mw-headline" id="Preparation">Preparation</span></h1>

<p>Clean the car thoroughly, washing the underside and chassis crevices where possible to remove any salt residue which could cause corrosion.</p>
<p>Allow the car to dry completely, then polish and wax to protect the bodywork.</p>
<h1><span class="mw-headline" id="Storage_Environment">Storage Environment</span></h1>

<h2><span class="mw-headline" id="Indoors">Indoors</span></h2>

<p>Ideally you should store your car in a clean, dry, garage. If your garage is prone to suffering from damp you may want to consider a dehumidifier or <a class="external text" href="http://bit.ly/uRzHkL" rel="nofollow">refillable moisture traps</a>.</p>
<p>Leave the car with the windows open slightly to allow some ventilation to the interior.</p>
<h2><span class="mw-headline" id="Outdoors">Outdoors</span></h2>

<p>Storing the car outdoors it is obviously impossible to keep the car completely separated from the elements, but an outdoor cover can go some way to protecting the car from the elements while outside.</p>
<p>If you are going to cover the car outside then it is recommended to buy a good quality, tailored cover such as those produced by <a class="external text" href="http://www.specialisedcovers.com/car-covers/car-manufacturers/lotus-car-covers.html?Type=Car&#38;Manufacturer=Lotus" rel="nofollow">Specialised Covers</a>, as this will minimise the risk of damage due to the cover moving in the wind. You should also <b>ensure the car is clean to stop dirt and other debris being ground in to the paint as the cover moves</b>.</p>
<h1><span class="mw-headline" id="Mechanicals">Mechanicals</span></h1>

<h2><span class="mw-headline" id="Battery">Battery</span></h2>

<p>All cars will gradually discharge their battery over time and do not like being kept without charge in low temperatures. The Elise is particularly susceptible to discharging it&#39;s battery and will generally do so within a few weeks if not used. This combined with the low temperatures can reduce the batteries total capacity, sometimes to the point where it will need replacing.</p>
<p>To avoid this you can:
</p>
<ul>
<li>If you have an electrical supply in the garage then a battery conditioner such as the <a class="external text" href="http://www.eliseparts.com/products/show/37/244/battery-chargerconditioner/" rel="nofollow">AccuMate</a> or <a class="external text" href="http://www.elise-shop.com/ctek-xs08-battery-charger-elise-exige-340r-vx220-all-models-p-129.html" rel="nofollow">CTEK</a>. These devices monitor the battery level and keep it fully charged, but deactivate when not needed to avoid damaging the battery.</li>
<li>If the car is being kept outside then <a class="external text" href="http://www.eliseparts.com/products/show/37/270/solar-trickle-charger/" rel="nofollow">Solar Trickle Chargers</a> are available and can be used by placing the charger on the dashboard and plugging in the cigarette lighter.</li>
<li>Disconnect the battery by loosening and lifting up the connector from the batteries positive terminal. This will prevent the alarm and immobiliser from operating and draining the battery. The battery may still however lose charge due to low temperatures.</li>
<li>Remove the battery and store indoors. This allows you to keep the battery in the warm and recharge it before refitting. Relatively easy to do with S2&#39;s where the battery is stored in the boot, but much less convenient in S1&#39;s.</li>
</ul>

<h2><span class="mw-headline" id="Brakes">Brakes</span></h2>

<p>If left unused for prolonged periods of time the brake pads and discs can bind together.</p>
<p>To avoid this, ensure the brakes are dry and leave the car parked in gear with the handbrake off and chocks under the wheels to keep the car in position. These can be picked up quite cheaply from places like Halfords.</p>
<p>You may want to just rocked the car backwards and forwards a bit every couple of days for the first week or two to ensure the pads don&#39;t bind to the discs.</p>
<p>Do not spray the brake discs with WD40, while this may prevent them from rusting and the pads from sticking it will also render the brakes useless when you next need them and will likely necessitate a change of brake pads and discs.</p>
<h2><span class="mw-headline" id="Engine">Engine</span></h2>

<p>Spray over the engine with WD40 or a similar silicone spray to inhibit corrosion and reduce the likelihood of water building up in places such as the spark plugs and distributor cap.</p>
<p>You may also wish to mark the engine coolant level in the bottle in the engine bay so you can check it hasn&#39;t dropped significantly before returning the car to the road.</p>
<p>Avoid the temptation to start the car while it is in storage. The engine oil will take time to come up to temperature and build pressure, and unless you&#39;re going to run the car fully up to temperature you will get condensation forming which will mix with the oil and do more harm than good.</p>
<h2><span class="mw-headline" id="Fuel">Fuel</span></h2>

<p>There is conflicting advice with regards to fuel levels. Some advice says to brim the tank to reduce the air space and cover the interior walls of the tank which are susceptible to internal rusting. *Requires further information*</p>
<p>Fuel tank of a Lotus is aluminium so no need to fill it up to the brim to prevent corrosion. It is good to add petrol stabilizer to delay the inevitable (read label before use). It will also promote a good start when good weather returns. A large quantity of petrol will age slower than small amount. Before start it&#39;s best to add fresh (new) high quality petrol.</p>
<h2><span class="mw-headline" id="Tyres">Tyres</span></h2>

<p>Inflate the tyres to 44psi (= 3bar) to reduce &#34;flatspotting&#34; and if possible, roll the car occasionally to a different tread patch.</p>
<h1><span class="mw-headline" id="Waking_from_hibernation">Waking from hibernation</span></h1>

<p>Be sure to return things like tyre pressures to their normal levels, apply the handbrake, take the car out of gear and remove the wheel chocks.</p>
<p>Check fluid levels such as the engine coolant and oil. It may also be worth doing a quick check beneath the car to make sure there have been no leaks while it has been standing.</p>
<p>If you have disconnected or removed the battery then refit and reconnect it being very careful to ensure the terminals are fitted the right way round. Getting this wrong can cause severe damage the the ECU and other electronics in the car.</p>
<p>If you are using a battery conditioner be sure to disconnect it before starting the engine, failure to do so can damage the battery conditioner and moving the car with it still connected may cause damage as trailing wires catch.</p>
<p>Before starting the engine, listen as you turn the ignition to the first click in the ignition barrel and you should hear the fuel pump priming. Wait a moment and then start the engine.</p>
<p>As you move the car if you find the brakes have bound together then give it a little bit of power and they will release with a bang. Don&#39;t be too alarmed. Be careful when braking for the first time as even if they haven&#39;t bound together it&#39;s likely they will need a few applications before they will be operating efficiently.</p>
<p>










</p>