<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Elise">Elise</a>
</li>
<li class="toclevel-1"><a href="#Evora">Evora</a>
<ul>
<li class="toclevel-2"><a href="#Replacement_Blades">Replacement Blades</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#References">References</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Elise">Elise</span></h2>

<p>The windscreen wipers on the Elise can be a bit sucky, so here is a list of things you can do to aid visibility in wet weather.</p>
<p><b>1) Rain-X.</b> A liquid windscreen coating that costs about £5 from halfords. This causes water to form beads and run off, greatly improving visibility. At high speeds, windscreen wipers are not always necessary even in heavy rain.
<a class="external free" href="http://www.halfords.com/webapp/wcs/stores/servlet/ProductDisplay?storeId=10001&#38;langId=-1&#38;catalogId=10151&#38;productId=222433&#38;categoryId=31293" rel="nofollow">http://www.halfords.com/webapp/wcs/stores/servlet/ProductDisplay?storeId=10001&#38;langId=-1&#38;catalogId=10151&#38;productId=222433&#38;categoryId=31293</a></p>
<p><b>2) S2 Wiper arm</b> (If you have an S1 or older S2). The OE S1 wiper arm requires a special blade, and also does not pivot away from the windscreen fully. For about £25 you can replace this with an S2 arm and a standard blade. The Lotus part number for the S2 Wiper Arm is A117MO105F. Fitting the arm is easy:</p>
- take note of the blade position (it&#39;s a good idea to stick some masking tape to the windscreen and draw a line on the masking tape showing the blade position).

- lift the plastic cap at the bottom of the arm.

- undo bolt and remove the existing arm. Don&#39;t prise the arm away with a screwdriver levered against the windscreen; this will likely crack the windscreen glass.

- locate new arm in position noted earlier and then tighten the bolt. The splines on the fitting will cut into the smooth plastic of the wiper arm as you tighten the bolt. It may be necessary to use a file to increase the size of the hole on the arm so that it sits low enough on the spindle.

- check that the front service compartment lid will close properly and does not touch the arm. Tighten the bolt further if necessary. Be careful not to chip the paint on the bonnet when you close it (if the arm is not low enough on the spindle, or the arm is positioned wrongly, the bonnet will make contact with the arm). Masking tape is recommended here to protect the bonnet while testing to see if it closes. It may be necessary to have the S2 arm a little higher at rest than the S1 arm so that it clears the bonnet.

<p><b>3) Valeo VM15 wiper blade with Spray bar.</b> About £12 for a 24&#34; blade from <a class="external free" href="http://www.wiperblades.co.uk" rel="nofollow">http://www.wiperblades.co.uk</a> (Do a search for Renault, Espace, 1994 - quote <s>&#39;stidrivers&#39;</s> <u>This code no longer appears valid, nor the stdrivers variant. Use <b>&#39;polepos10</b>&#39; instead, working on 26/10/9</u> on the checkout for 10% discount). This blade comes with a spray bar fitted, which replaces your windscreen washer jets (see <a href="http://wiki.seloc.org/a/Windscreen_washer_mod" title="Windscreen washer mod">Windscreen washer mod</a>). Requires the S2 wiper arm. Extremely good, and very easy to attach the washer fluid bottle to the blade instead of the jets (you&#39;ll need about 1 m of 3 mm inner diameter tubing, £4 or so from ebay, to hook it up). Make sure you buy the wiper blade for the correct side of the car.</p>
<p><b>3a) SWF 116153 wiper blade with Spray bar</b>  26&#34; long. Again £12(ish) but from a local motorfactors. This is the drivers side blade from a 1996-2002 Espace (also fitted to Citroen C8 02on, Fiat Ulysee 02on, Lancia Phedra 02on, Merc Benz Vito and V-klasse and finally Pug 807 02 on).  The only &#34;issue&#34; some might have with the drivers side blade is that the washer hose comes in from the roof end of the wiper and not the bonnet.</p>
<p><b>4) Aero Blades.</b> Some drivers have reported these work really well, although they do lift a little bit at the edges.</p>
<p>If you notice the edges of the wiper are lifting away from the windscreen, you can <b>gently</b> bend the inner part of the blade frame using pliers to increase the amount of travel available to the brackets.</p>
<p>By far the best blade I’ve ever fitted to a vehicle is the <b>Aero Blade</b> from autobulbs, one piece rubber construction, no moving metal parts to bend or rust, the sweep rubber is still as new after one year on my vehicle. You will need an S2 arm to fit these, and about bending the end, which does lift off the screen over by tax disc, why bother it has no affect whatsoever on its cleaning or viewing area. Make sure it clicks securely into the arm, might require some force, have seen these badly fitted and then not sweep correctly. The S2 arm requires the  Bosch <b>AR26U</b> blade, the AM26U is the wrong fitting for the U-shaped Elise S2 arm.</p>
<p><b>5) Tesco 24 inch flat blade. £1.46</b> No kidding, works a treat (IF you have the later S2 universal J clip type arm).  The blade is very pliable and moulds itself to the shape of the elise screen.  Quiet, works well and smear free.
I found these blades are no longer available. So I bought the whole wiper for £3, took the blade of and fitted it to my old &#39;holder&#39;. Simple and works great!</p>
<h2><span class="mw-headline" id="Evora">Evora</span></h2>

<p>The Evora, like the Elise, uses a single wiper blade to clear the screen. Unlike the Elise however the Evoras windscreen wiper is &#39;parked&#39; on the drivers side on both LHD and RHD cars.</p>
<h3><span class="mw-headline" id="Replacement_Blades">Replacement Blades</span></h3>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>Manufacturer </th>
<th>Picture </th>
<th>Information </th>
<th>Price (Approx)</th></tr>
<tr>
<th>Lotus</th>
<td align="Center" />
<td>OE Fitment Wiper Blade<br />RHD: A132U6048F<br />LHD: A132U6047F</td>
<td>£25</td></tr>
<tr>
<th>Bosch</th>
<td align="Center"><a class="image" href="http://wiki.seloc.org/a/File:Bosch_Aerotwin_Wiper_Blades.jpg" title="Silver, cast"><img src="Bosch_Aerotwin_Wiper_Blades.jpg" alt="Silver, cast" width="200" />
</a></td>
<td>Bosch Aerotwin AM26U 26inch<br />
Frameless wiper blade, recommended by Spunagain<sup id="_ref-1" class="reference"><a href="#_note-1" title="">[1]</a></sup><br />Available from Halfords.</td>
<td>£20</td></tr></table></div>

<h2><span class="mw-headline" id="References">References</span></h2><ol class="references">
<li id="_note-1"><b><a href="#_ref-1" title="">&#8593;</a></b> <a class="external text" href="http://forums.seloc.org/viewthread.php?tid=350697" rel="nofollow">SELOC Forums » Technical Discussion » Evora replacement wiper blade</a></li>
</ol>