
<p>If you drive a lot of twisty country roads you may have found that the JUMBO sized OEM rear view mirror gets in the way, obscuring a lot of the view out of the windscreen.</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Daewoo_mirror">Daewoo mirror</a>
</li>
<li class="toclevel-1"><a href="#Golf_2_mirror">Golf 2 mirror</a>
</li>
<li class="toclevel-1"><a href="#Child_view_mirrors">Child view mirrors</a>
</li>
</ul>
</ul></td></tr></table><hr/>
 

<h2><span class="mw-headline" id="Daewoo_mirror">Daewoo mirror</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:102px;"><a class="internal" href="http://wiki.seloc.org/a/Image:daewoomatiz.jpg" title="Daewoo Matiz"><img src="daewoomatiz.jpg" alt="Daewoo Matiz" title="Daewoo Matiz" class="location-right type-thumb" width="100" />
</a>
<div class="thumbcaption">Daewoo Matiz</div></div>
</div>

<p> A cheap alternative is to fit the mirror from a daewoo matiz (funny wee 3 cylinder shopping trolly, i&#39;d guess most big scrappys would have a few crashed ones. - my local breaker in Glasgow had 5 today.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:matizmirror.jpg" title="alt text"><img src="matizmirror.jpg" alt="alt text" width="220" />
</a></p>
<p>The pic shows the new one in place above and the old one below in comparison. - it doesn&#39;t look like an enormous difference in size, but it makes a BIG difference when you&#39;re driving the car!</p>
<p>This mod works for S1s and early S2s. These rear view mirrors have their ball joints in the centre of the back of the mirror.
The mod does not work for 111Rs and S2 exiges. These have their ball joints on the top of the mirror.
I don&#39;t know if it works for later K-engined S2s.</p>

<p>Instructions :</p>

<ol>
<li>Remove lotus mirror, by sliding the whole thing (including its stalk) upwards towards the top of the windscreen. - it just slides up leaving a small flat mounting plate in place on the windscreen.</li>
<li>Remove the mirror from the stalk by popping the &#34;ball and socket&#34; joint out of joint, - just angle it too far in any direction forcably.</li>
<li>Find a Daewoo Matiz in a scrappy. - don&#39;t bother trying to remove the stalk and all from the windscreen (i couldn&#39;t manage), just dislocate the ball and socket joint in the same way. Just take the mirror leaving the stalk behind.</li>
<li>Put the new mirror face down on something soft like your seat, put the ball on the end of your Lotus stalk into the socket of the Daewoo mirror and shove downwards HARD until it clicks into place. If this proves tough to do, place the arm with the ball-end in your freezer overnight, and the mirror assembly in a warm place (on a radiator worked for me). The small shrinkage in ball, and small expansion &#38; softening of socket makes the operation a bit easier.</li>
<li>Slide the whole thing back onto the windscreen mounting.</li>
</ol>

<p>Bingo! </p>
<p>Mine cost me all of £3!!! It works a treat.  Much improved visibility, and you retain the lever on the bottom to &#34;dip&#34; the mirror.</p>
<p><b>Notes</b></p>
<p>It seems the s1 mirror was changed at some stage - my &#39;98 s1 has a small matiz-sized mirror fitted as standard.</p>
<p>The &#34;big&#34; OEM mirrors are ~235mm wide at widest point, the &#34;small&#34; OEM mirrors are about 205mm - measure yours first before you go rooting about in a scrap yard!</p>
<p>The Matiz mirror mount that I picked up from a scrappy was attached with a grub screw similar to the OEM Elise mount.  It fits directly onto the &#39;lozenge&#39; on the S1 windscreen and leaves the mirror around the same position as the OEM mount in its lowest position.  If you normally move the OEM mirror to it&#39;s highest position you&#39;ll find that the Matiz mount leaves it obscuring the view through the windscreen a little, but it&#39;s another option you don&#39;t want to split the mirror ball/socket.</p>
<h2><span class="mw-headline" id="Golf_2_mirror">Golf 2 mirror</span></h2>
<p>Addition by Friso:
There is some confusion about which kind of mirror is fitted to which cars, I suppose...
At least my 2004 S2 111S had a GM mirror with the ball joint on top of the mirror. It is a whopping 260mm wide...</p>
<p>Anyway: I&#39;ve found a Golf 2 mirror (part no. E1 0010012) to fit quite nicely. This mirror is even smaller than a Deawoo Matiz mirror and, more importantly, it fits on cars that have mirrors which have their ball joint on top.</p>
<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:VW_compare.jpg" ><img src="VW_compare.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>GM and VW comparison.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:VW_in_situ.jpg" ><img src="VW_in_situ.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>VW mirror in-situ.</p>
                    </div>
                </div>
                </p>
<p>Instructions:</p>

<ol>
<li>Remove lotus mirror, by sliding the whole thing (including its stalk) DOWNWARDS. - it just slides down leaving a small mounting plate in place on the windscreen.</li>
<li>Remove the mirror from the stalk by popping the &#34;ball and socket&#34; joint out of joint. I&#39;d say lubricate it and pull straight out. (I don&#39;t know for certain, because my mirror just fell off its stalk.)</li>
<li>Find a small mirror with it&#39;s ball joint on top in a scrappy. In my case I found a Golf 2 with a nice small mirror. I removed the stalk and mirror and separated them at home, using some WD40. I pulled straight out. </li>
<li>Push the old stalk in the new mirror using some lubricant like WD40 I checked the size of both joints first. I&#39;d say most of these joints are roughly the same size, but better safe than sorry. </li>
<li>Slide the whole thing back onto the windscreen mounting.</li>
</ol>

<p>Done!</p>
<p>Or, pop out old mirror (mine came out without any bother), then use sandpaper on the ball of the new VW mirror till you have made the ball small enough to pop in without smashing your windscreen. Only took a few minutes of rubbing to get it to fit. Ohhh la.</p>
<h2><span class="mw-headline" id="Child_view_mirrors">Child view mirrors</span></h2>

<p>Another option is a stick-on mirror from halfords, easy to fit and also quite cheap.</p>
<p><a class="external free" href="http://www.halfords.com/webapp/wcs/stores/servlet/product_storeId_10001_catalogId_10151_productId_222191_langId_-1_CarSelectorCatalogId__CarSelectorGroupId__varient__categoryId_52210_crumb__parentcategoryrn_52210" rel="nofollow">http://www.halfords.com/webapp/wcs/stores/servlet/product_storeId_10001_catalogId_10151_productId_222191_langId_-1_CarSelectorCatalogId__CarSelectorGroupId__varient__categoryId_52210_crumb__parentcategoryrn_52210</a></p>

<p>Also try the one available from Mothercare!! Looks neater and ?better vision. </p>
<p><a class="external free" href="http://www.mothercare.com/gp/product/B000MCWY3M/ref=ts_1_3/026-7029686-0202023?ie=UTF8&#38;mcb=core" rel="nofollow">http://www.mothercare.com/gp/product/B000MCWY3M/ref=ts_1_3/026-7029686-0202023?ie=UTF8&#38;mcb=core</a></p>
<p>



</p>