
<p>1. remove top screw. 
2. remove lower screws and withdraw ‘expanding plug’ type housings. 
3. ease liner out from the bottom whilst siding downwards to free the joining support plate between the two liner sections.
4. Remove the allen-key headed bolts (Lotus kindly supply the correct size in the tool pouch :))
5. Carefully ease the glass cover forward and store safely and out of windy area to avoid dust ingress</p>

<p>


</p>