
<p><b>Clutch Pedal squeak</b></p>
<p>If your car has a VIN after X7261 then you already have the upgraded trunion bush and a squirt of WD40 or the like is all you can do.</p>
<p>If your car is has a VIN or earlier than X7261 (somwhere in 1999) then you may have the earlier Black clutch trunion and an improved trunion kit is available:</p>
<p>Here is a pic of a <a class="external text" href="http://gallery.seloc.org/albums/userpics/20821/ClutchTrunion.JPG" rel="nofollow">Knackered</a> one, note the ends of the early one are black (a friction reducing coating) and fill the hole in the pedal.</p> 
<p>The <a class="external text" href="http://www.elise-shop.com/images/CKLOW.jpg" rel="nofollow">Later</a> kit includes a smaller trunion and a pair of white synthetic bushes which fit around it.</p>
<p>1 off       Trunnion         A111J0155F
2 off       Bush             A111J6036F</p>
<p>This costs about 15 quid but is a pain to fit.</p>
<p>A Full details of how to fit it are here: <a class="external text" href="http://www.lotus-elise.nl/Mods/Stainless_Steel/ClutchPedal/clutchpedal.html" rel="nofollow">Guide</a></p>

<p>

</p>