<h3><span class="mw-headline" id="Limited_slip_differential">Limited slip differential</span></h3>




<p>A Torsen-type limited slip differential
(LSD) is available as an option for tight low speed, high acceleration driving (such as auto tests).</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:lsd.jpg" title="Picture Of A LSD"><img src="lsd.jpg" alt="Picture Of A LSD" title="Picture Of A LSD" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Picture Of A LSD</div></div>
</div>


<p>More Infomation about LSD at <a class="external text" href="http://en.wikipedia.org/wiki/Limited_slip_differential" rel="nofollow">Wikipedia</a></p>

<p>


</p>