
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:TPS.jpg" title="TPS"><img src="TPS.jpg" alt="TPS" title="TPS" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">TPS</div></div>
</div>

<p>
The <b>Throttle Position Sensor</b> (TPS) is a potentiometer attached to the <a href="http://wiki.seloc.org/a/Throttle_body" title="Throttle body">throttle body</a> which notifies the <a href="http://wiki.seloc.org/a/ECU" title="ECU">ECU</a> about the position of the throttle.  Among other things it helps the engine maintain a stable idle speed.</p>

<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Common_faults">Common faults</a>
</li>
<li class="toclevel-1"><a href="#Manual_recalibration">Manual recalibration</a>
</li>
<li class="toclevel-1"><a href="#Replacement">Replacement</a>
</li>
<li class="toclevel-1"><a href="#External_links">External links</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Common_faults">Common faults</span></h2>
<p>The TPS is sensitive to heat, moisture and vibration leading to the failure of some units. The sensor is a sealed unit and cannot be repaired only replaced.  A TPS may fail gradually leading to a number of symptoms which can include one or more of the following: -</p>

<ul>
<li><b>Poor idle control</b>: The TPS is used by the <a href="http://wiki.seloc.org/a/ECU" title="ECU">ECU</a> to determine if the throttle is closed and the car should be using the <a href="http://wiki.seloc.org/a/Idle_Air_Control_Valve" title="Idle Air Control Valve">Idle Air Control Valve</a> exclusively for idle control. A fault TPS sensor can confuse the ECU causing the idle to be erratic or &#34;hunting&#34;.</li>
</ul>


<ul>
<li><b>High Idle Speed</b>: The TPS may report faulty values causing the engine idle speed to be increased above normal. This is normally found in conjunction with a slow engine return to idle speed symptom.</li>
</ul>


<ul>
<li><b>Slow engine return to idle</b>: A failing TPS can report the minimum throttle position values incorrectly which can stop the engine entering idle mode when the throttle is closed. Normally when the throttle is closed the engine fuel injectors will be deactivated until a defined engine RPM speed is reached and the engine brought smoothly to idle speed. When failing a TPS will not report the throttle closed and fueling will continue causing the engine to return to idle very slowly.</li>
</ul>


<ul>
<li><b>Engine Hesitation on Throttle Application</b>: The TPS is also used by the <a href="http://wiki.seloc.org/a/ECU" title="ECU">ECU</a> to determine if the driver has applied the throttle quicker than the Manifold Air Pressure sensor can read. The fueling is adjusted acordingly to cope with the sudden increase in air volume, however a faulty sensor can cause the <a href="http://wiki.seloc.org/a/ECU" title="ECU">ECU</a> to ignore this data and the engine will &#34;hesitate&#34; when applying the throttle. In extreme cases with the engine at idle, a sudden application of full throttle can stall the engine.</li>
</ul>


<ul>
<li><b>Engine Misfire</b>: A fault TPS can report values outside the deined acceptable range causing the <a href="http://wiki.seloc.org/a/ECU" title="ECU">ECU</a> to incorrectly fuel the engine. This is noticable as a slight misfire and can trigger the misfire detection software and/or Malfunction Indicator Lamp (MIL) light on the dashboard. Extreme cases can cause excessing misfires resulting in one or more cylinders being shut down to prevent engine and catalytic converter damage.</li>
</ul>

<h2><span class="mw-headline" id="Manual_recalibration">Manual recalibration</span></h2>
<p>In all cases a manual recalibration of the TPS may resolve the issues at least on a temporary basis. To recalibrate the TPS: -
</p>
<ol>
<li>With the engine off, insert the key and turn the ignition to position 2 (On) without starting the engine.</li>
<li>For MEMS-equipped cars (S1)Or S2 Rover engined cars, <b>quickly</b> but steadily press and release the accelerator pedal 5 times for TPS calibration, using all of the throttle travel as practicable. It is better to do this from the engine bay, using the cam on the throttle body, as this ensures you get 0-100% operation of the throttle, and correct calibration, If your throttle cable or mech does not give 100% throttle, calibration will be out. And potentially you will be wasting your time. This will trigger the ECU into the closed-throttle reference learn algorithm, which has it looking for the lowest measured static throttle position (the closed position).  The throttle position calibration is a fixed definition from this point.</li>
<li>Turn the ignition off, remove the key and wait for the ECU to power down (about 30-40s).</li>
<li>Start car as normal.</li>
</ol>

<h2><span class="mw-headline" id="Replacement">Replacement</span></h2>
<p>It&#39;s often sold and replaced as part of the throttle body itself however can be replaced separately.</p>
<p>K Series Part Number xfrefs</p>

<ul>
<li>Rover SLD100080</li>
</ul>


<ul>
<li>Motaquip VTP103</li>
</ul>


<ul>
<li>Fuelparts TP009 </li>
</ul>


<ul>
<li>Intermotor 19935 </li>
</ul>


<ul>
<li>Lucas SEB855 </li>
</ul>


<ul>
<li>Ford Motorcraft 6854780</li>
</ul>

<p>If any of the wires have snapped in the plug its a 3 Pin Female Junior Power Timer from here <a class="external free" href="http://www.autoelectricsupplies.co.uk/product/680" rel="nofollow">http://www.autoelectricsupplies.co.uk/product/680</a></p>
<h2><span class="mw-headline" id="External_links">External links</span></h2>

<ul>
<li><a class="external free" href="http://en.wikipedia.org/wiki/Throttle_position_sensor" rel="nofollow">http://en.wikipedia.org/wiki/Throttle_position_sensor</a></li>
<li><a class="external free" href="http://en.wikipedia.org/wiki/Potentiometer" rel="nofollow">http://en.wikipedia.org/wiki/Potentiometer</a></li>
<li><a class="external free" href="http://www.eliseparts.com/products.php?product=234" rel="nofollow">http://www.eliseparts.com/products.php?product=234</a></li>
</ul>


<p>



</p>