
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Brake_bleeder.jpg" title="Brake bleeder with reservoir"><img src="Brake_bleeder.jpg" alt="Brake bleeder with reservoir" title="Brake bleeder with reservoir" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Brake bleeder with reservoir</div></div>
</div>

<p>
If air gets trapped inside the <a href="http://wiki.seloc.org/a/Brake_hoses" title="Brake hoses">brake hoses</a> a softer brake pedal is felt.  The <a href="http://wiki.seloc.org/a/Brakes" title="Brakes">brakes</a> need to be bled and the air removed from the system.  This procedure is relatively simple, being made much easier with a specialist bleeder.</p>
<p>If you have air in the system (eg. when changing brake hoses) then you&#39;ll pretty much always need to mess around with the front callipers to get it all out as the design of them traps the air in the inner piston.</p>
<p>If it&#39;s just for flushing the system with new fluid (no air in the system) then it&#39;s pretty straightforward and you don&#39;t have to mess about with the callipers.</p>
<p>It helps a lot if you have spanners with a &#39;bend&#39; at the end, like an open ring-spanner to keep the brake hose itself in place as you tighten the connector on the car side using a normal, but thin spanner.</p>
<p>On my (early) S2 there was enough space. On a VX220 I needed to dremel the hole above the connector a little to get enough clearance.</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Procedure">Procedure</a>
<ul>
<li class="toclevel-2"><a href="#Flushing_system">Flushing system</a>
</li>
<li class="toclevel-2"><a href="#Changing_brake_hoses">Changing brake hoses</a>
</li>
<li class="toclevel-2"><a href="#Bleeding_rear_callipers">Bleeding rear callipers</a>
</li>
<li class="toclevel-2"><a href="#Bleeding_front_callipers">Bleeding front callipers</a>
<ul>
<li class="toclevel-3"><a href="#S1_and_non-ABS_S2">S1 and non-ABS S2</a>
</li>
<li class="toclevel-3"><a href="#ABS_equipped_S2_or_spongy_pedal">ABS equipped S2 or spongy pedal</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Conclusion">Conclusion</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Bleeders">Bleeders</a>
<ul>
<li class="toclevel-2"><a href="#Power_bleeders">Power bleeders</a>
</li>
<li class="toclevel-2"><a href="#Eezi_Bleed_kit">Eezi Bleed kit</a>
</li>
<li class="toclevel-2"><a href="#Make_your_own_with_plant_sprayers">Make your own with plant sprayers</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#External_links">External links</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Procedure">Procedure</span></h2>
<h3><span class="mw-headline" id="Flushing_system">Flushing system</span></h3>

<p>If no bubbles are in the system and you just want to refresh the brake fluid, you can either connect a pressure bleeder or bleed manually.</p>
<p>Order; OSR, NSR, OSF, NSF. Wheels off for the rears, but can do it through the spokes at the front.</p>
<p>Manually: For each calliper in turn, pump the brake pedal until it is solid then maintain the pressure whilst the other person puts a non-return valve on the brake nipple and releases it (11 mm spanner) until the pedal hits the deck.</p>
<p>Pressure bleeder: Fill bleeder with brake fluid, connect to reservoir, pressurise bleeder. One by one open bleed valves on calipers until fluid runs clear.</p>
<h3><span class="mw-headline" id="Changing_brake_hoses">Changing brake hoses</span></h3>
<p>When changing brake hoses or if you have air in the system a possible approach that can save loads of time or troubleshooting when bleeding is this:</p>
- Before changing the hoses, remove the brake pads and fit very worn/old pads (or some strips of steel or wood) in their place

- Press the brake pedal a few times to extend the brake pistons in the calipers (the old pads or wedge are there to keep them from popping out completely!)

- Now disconnect an old brake hose from the car

- Disconnect the old hose from the calliper

- Connect the new hose to the calliper and tighten up

- Have a helper keep the open hose end up as high as possible

- Gently push back the piston in the calliper (hand/finger pressure for the fronts, screw back the rear) until brake fluid just comes out the open hose end

- Now connect the hose to the fixed line on the car and tighten connection

<h3><span class="mw-headline" id="Bleeding_rear_callipers">Bleeding rear callipers</span></h3>

<p>For the rear callipers the rest of the procedure is:</p>
- Pressurise bleeder

- Tap on the new brake hose and calliper with a plastic/wood hammer to dislodge trapped bubbles

- Open the bleed valve and screw the piston back completely

- Bleed it a little more normally and check if any more air bubbles comes out

<p>Once it&#39;s clear, close the bleed valve, refit pads and check pedal hardness after pumping a few times to seat the pads. Should be solid.</p>
<h3><span class="mw-headline" id="Bleeding_front_callipers">Bleeding front callipers</span></h3>
<h4><span class="mw-headline" id="S1_and_non-ABS_S2">S1 and non-ABS S2</span></h4>

<p>For the front brakes there are two ways to get rid of the small amount of air in the hose once it is re-connected to the car.</p>
<p>On an S1 and older S2 without ABS you can pump the brake pedal until the pistons come out (as if the pads where worn), attention DO NOT push them to much and get them out of the calipers!</p>
<p>Now open the bleeding nipple and compress the pistons with the flexible hose first while rotating and gently tapping the caliper in order to guide any air bubbles towards the other piston with the bleeding nipple. Push the piston in completely.</p>
<p>Now push the other piston with the bleeding nipple fully in. 
This will force any air bubbles out.</p>
<p>Now put the calipers and pads back in place and bleed once more.</p>
<p>Test for pedal firmness.</p>
<p>If this worked then continue with the next caliper.</p>
<h4><span class="mw-headline" id="ABS_equipped_S2_or_spongy_pedal">ABS equipped S2 or spongy pedal</span></h4>

<p>On more recent cars with ABS, or if you still can&#39;t get a firm pedal after the first try then there&#39;s still air in this circuit somewhere and you need to bleed it the traditional way.</p>
<p>The approach here is a bit cumbersome because of the design of the callipers that trap air in the inner piston.</p>
<p>If this is the case then the approach is as follows:</p>
- Pressurise the brake bleeder with a low (8 psi) pressure to stop fluid and air traveling upwards to the master cylinder

- Tap on the calliper and hose gently with a plastic hammer to dislodge any bubbles that adhere to the surface 

- Remove a front calliper from the upright (2 allen head bolts), invert it so the connectng pipe is at the top and open the bleed nipple

- Tap the brake hoses gently and also tap on the inside of the calliper.

- Then (with your hands) squeeze the INNER piston in. This will empty the inner piston and force the bubbles to the front one. Make sure you push it completely in.

- Now carefully rotate the calliper normal side up again so the bleed nipple is at the top. Try to turn it so any bubbles in the outer piston will not try to go up the connecting pipe again.

- With the calliper &#39;right side up&#39;, tap the calliper again and squeeze the OUTER piston back into the calliper and watch for air bubbles escaping 

- Close nipple

- Lightly bolt calliper back onto upright

- Refit pads

- Test for firm pedal after some pedal pumping to seat the pads

- If succesful then tighten calliper bolts

<h3><span class="mw-headline" id="Conclusion">Conclusion</span></h3>

<p>Using this method to fit new brake hoses and bleed the system the advantages are:</p>
- You only introduce a tiny amount of air in the system, so less to get out again.

- You immediately know if you have air left in this specific part of the circuit if the brake pedal was hard beforehand, but now remains &#39;soft&#39;. (no long &#39;hunt the problem&#39; sessions)

<h2><span class="mw-headline" id="Bleeders">Bleeders</span></h2>
<h3><span class="mw-headline" id="Power_bleeders">Power bleeders</span></h3>
<p>safety goggles recommended
Pump up to 10psi, or 20psi...
Fitted with Ø42mm cap and suitable for most European models</p>
<h3><span class="mw-headline" id="Eezi_Bleed_kit">Eezi Bleed kit</span></h3>
<p>Uses the air pressure from your tyre to force the brake fluid through.</p>
<p>Oh, and don&#39;t make the schoolboy error I made, when you decide that you&#39;ve got all the air out then just do a one more cheeky bleed without realising that the reservoir is almost empty. Oh how you&#39;ll laugh as you shoot big globs of air into the system... :wall</p>
<h3><span class="mw-headline" id="Make_your_own_with_plant_sprayers">Make your own with plant sprayers</span></h3>

<ul>
<li><a class="external free" href="http://www.bmw-m.net/TechProc/bleeder.htm" rel="nofollow">http://www.bmw-m.net/TechProc/bleeder.htm</a></li>
</ul>

<p>use it at your own risk, but I made my own Easybleed using one of those spray can with pump included used to spray indoor plants.
worked a treat (as long as there was fluid inside)</p>

<ul>
<li><a class="external text" href="http://www.blunt.co.uk/hydroponics-shop-uk/hydroponics-products/sprayer-pump-action.jpg" rel="nofollow">Sprayer pump action</a></li>
</ul>

<h2><span class="mw-headline" id="External_links">External links</span></h2>

<ul>
<li><a class="external free" href="http://www.elisenet.plus.com/BrakeHoses.htm" rel="nofollow">http://www.elisenet.plus.com/BrakeHoses.htm</a></li>
<li><a class="external text" href="http://www.motiveproducts.com/" rel="nofollow">Motive Products - #1 Selling DIY Brake Bleeder</a></li>
<li><a class="external text" href="http://www.tool-supplies.co.uk/advanced_search_result.php?keywords=bleeder&#38;search_in_description=1&#38;x=0&#38;y=0" rel="nofollow">Tool-Supplies.co.uk search results brake bleeders</a></li>
</ul>

<p>




</p>