
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:dower_at_snetterton.jpg" title="Martin gets his inside front wheel off the deck at Snetterton"><img src="dower_at_snetterton.jpg" alt="Martin gets his inside front wheel off the deck at Snetterton" title="Martin gets his inside front wheel off the deck at Snetterton" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Martin gets his inside front wheel off the deck at Snetterton</div></div>
</div>

<p>
The primary function of an <b>anti roll bars</b> (ARB) is to reduce body roll by adding to the roll resistance of the springs.</p>
<p>The anti-roll bar reduces body roll to keep the suspension geometry, and ultimately the tire, parallel with the road.</p>
<p>Stiffer bars reduce body roll more, but too stiff a bar can deteriorate independent suspension performance, and ultimately cause an inside tire to lift off the ground during hard cornering.  All the Elise models come with fixed ARBs but many people <a href="http://wiki.seloc.org/a/Change_the_ARB" title="Change the ARB">change these to an adjustable ARB</a> for increased stiffness.</p>
<p>The Elise only has one ARB across the front.</p>

<h2><span class="mw-headline" id="External_links">External links</span></h2>

<ul>
<li><a class="external free" href="http://en.wikipedia.org/wiki/Sway_bar" rel="nofollow">http://en.wikipedia.org/wiki/Sway_bar</a></li>
</ul>

<p>


</p>