
<div style="page-break-inside: avoid;">
<table border="1" cellpadding="5" cellspacing="0">
<tr>
<th>Car </th>
<th>ECU </th>
<th>Protocol/Bus </th>
<th>Scanner </th>
<th>Notes</th></tr>
<tr>
<td>Elise S1 (120bhp) </td>
<td>MEMS 1.9 </td>
<td>proprietary </td>
<td>LotusScan (Connector SAE J1962)<br />or Rover Test-Book<br /><a class="external text" href="http://www.omitec.co.uk/products/product-details/SID/Product_IDAWETN/" rel="nofollow">Omitec</a> </td>
<td>12, 10 or 5 pin?</td></tr>
<tr>
<td>Elise S1 111S </td>
<td>MEMS 2J </td>
<td>proprietary </td>
<td>LotusScan (Connector SAE J1962)<br />or Rover Test-Book<br /><a class="external text" href="http://www.omitec.co.uk/products/product-details/SID/Product_IDAWETN/" rel="nofollow">Omitec</a> </td>
<td></td></tr>
<tr>
<td>Elise S1 Sports 160 </td>
<td>GEMS (SVA, 50 cars) or EFi Euro1(EWVTA) </td>
<td></td></tr>
<tr>
<td>Elise S1 Sports 190 </td>
<td>MEMS 1.9 (or Lotus K4 update kit) </td>
<td>proprietary </td>
<td>LotusScan (Connector SAE J1962)<br />or Rover Test-Book<br /><a class="external text" href="http://www.omitec.co.uk/products/product-details/SID/Product_IDAWETN/" rel="nofollow">Omitec</a> </td>
<td></td></tr>
<tr>
<td>Exige S1<br />340R </td>
<td>Lotus &#34;918&#34; ECU (As used in Esprit V8) </td>
<td>K-Line (9141) </td>
<td>LotusScan2 (Connector SAE J1962) </td>
<td>Manufactured by EFi Technology Srl. </td>
<td></td></tr>
<tr>
<td>Elise S2 K Series </td>
<td>K4 </td>
<td>K-Line (9141) </td>
<td>LotusScan2 (Connector SAE J1962) </td>
<td>Manufactured by EFi Technology Srl. </td>
<td /></tr>
<tr>
<td>Elise S2 K Series VVC </td>
<td>K4 160 </td>
<td>K-Line (9141) </td>
<td>LotusScan2 (Connector SAE J1962) </td>
<td>Manufactured by EFi Technology Srl. </td>
<td /></tr>
<tr>
<td>Elise S2 111R<br />Exige S2 </td>
<td>T4 </td>
<td>K-Line (9141)</td>
<td>LotusScan3 (Connector SAE J1962) </td>
<td>Manufactured by EFi Technology Srl. </td>
<td></td></tr>
<tr>
<td>Elise S2 <br />Exige S2<br />with electronic throttle </td>
<td>T4e </td>
<td>K-Line (9141)<br />MY08 onward CAN</td>
<td>Lotus Scan3 (Connector SAE J1962) </td>
<td>Manufactured by EFi Technology Srl. </td>
<td></td></tr>
<tr>
<td>Elise S2 (1ZR, 2ZR) <br /> Evora <br /> Evora S <br /> Exige S (V6) </td>
<td>T6e </td>
<td>CAN </td>
<td>LotusScan3 (Connector SAE J1962) </td>
<td>Manufactured by EFi Technology Srl. </td>
<td></td></tr>
<tr>
<th>Non Standard ECUs</th></tr>
<tr>
<td>N/A </td>
<td>MEMS 3 </td>
<td>KWP2000</td></tr>
<tr>
<td>N/A </td>
<td>Emerald</td></tr></table></div>


<p>S1 = For a s1 it&#39;s inside the boot on the left as you look at the car, near the bottom but on the back wall, peel back the carpet and you&#39;ll see it.
S2 = On a S2 its under the dash on the passenger side above the foot rest.</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#K_Series_Elises">K Series Elises</a>
</li>
<li class="toclevel-1"><a href="#Toyota_Elises">Toyota Elises</a>
</li>
<li class="toclevel-1"><a href="#Aftermarket_ECUs">Aftermarket ECUs</a>
</li>
<li class="toclevel-1"><a href="#ECU_mapping">ECU mapping</a>
</li>
<li class="toclevel-1"><a href="#See_Also">See Also</a>
</li>
<li class="toclevel-1"><a href="#Forum_links">Forum links</a>
</li>
<li class="toclevel-1"><a href="#External_links">External links</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="K_Series_Elises">K Series Elises</span></h2>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:euro1.JPG" title="EFi Technology EURO1 ECU"><img src="euro1.JPG" alt="EFi Technology EURO1 ECU" title="EFi Technology EURO1 ECU" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">EFi Technology EURO1 ECU</div></div>
</div>

<p>
EFi Technology Srl ( <a class="external free" href="http://www.efitechnology.it" rel="nofollow">http://www.efitechnology.it</a> ) &#34;Euro1&#34; ECU: Fitted to EWVTA S1 Sport160 cars.</p>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:LotusK4ECU.JPG" title="Lotus K4 ECU"><img src="LotusK4ECU.JPG" alt="Lotus K4 ECU" title="Lotus K4 ECU" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Lotus K4 ECU</div></div>
</div>

<p>
Lotus K4 Engine Control Unit: fitted to S2 Elise with K-series(i.e. 122ps, 135ps, 158ps VVC, Sport190)</p>


<h2><span class="mw-headline" id="Toyota_Elises">Toyota Elises</span></h2>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:LotusT4ECU.JPG" title="Lotus T4 ECU"><img src="LotusT4ECU.JPG" alt="Lotus T4 ECU" title="Lotus T4 ECU" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Lotus T4 ECU</div></div>
</div>

<p>
Lotus T4 Engine Control Unit: fitted to all manual throttle controlled Toyota 2ZZ-GE engined cars.</p>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:LotusT4eECU.JPG" title="Lotus T4e ECU"><img src="LotusT4eECU.JPG" alt="Lotus T4e ECU" title="Lotus T4e ECU" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Lotus T4e ECU</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:T4e_top.jpg" title="Lotus T4e ECU PCB Top"><img src="T4e_top.jpg" alt="Lotus T4e ECU PCB Top" title="Lotus T4e ECU PCB Top" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Lotus T4e ECU PCB Top</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:T4e_bottom.jpg" title="Lotus T4e ECU PCB Bottom after milling away tamper-proof cover"><img src="T4e_bottom.jpg" alt="Lotus T4e ECU PCB Bottom after milling away tamper-proof cover" title="Lotus T4e ECU PCB Bottom after milling away tamper-proof cover" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Lotus T4e ECU PCB Bottom after milling away tamper-proof cover</div></div>
</div>

<p>
Lotus T4e Engine Control Unit: fitted to electronically throttle controlled Toyota 1ZZ-FE, 2ZZ-GE and 2ZZ-GZE engined cars.</p>
<p><b>Contains</b>
</p>
<ul>
<li>L9612 K Line Transceiver</li>
<li>L9822EPD Octal Serial Solenoids</li>
<li>MC68HC908JL8 CPU HC08 comp.</li>
<li>MC33394FS CAN Transceiver &#38; Power Mgmt</li>
<li>MPX4001A Pressure Sensor</li>
<li>TLE6220 Quad Low-Side Switch</li>
<li>MPC563 Main CPU (PowerPC Core) - 512kb Flash, 32Kb SRAM</li>
</ul>


<h2><span class="mw-headline" id="Aftermarket_ECUs">Aftermarket ECUs</span></h2>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:M3DK.JPG" title="Emerald M3DK"><img src="M3DK.JPG" alt="Emerald M3DK" title="Emerald M3DK" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Emerald M3DK</div></div>
</div>

<p>
The <a href="http://wiki.seloc.org/a/Emerald" title="Emerald">Emerald</a> M3DK is a plug compatible replacement ECU for the Rover MEMS unit used on the K series, it utilises the existing engine sensors and works with distributor based systems and distributorless &#39;wasted spark&#39; systems.  It is compatible with the immobiliser as fitted to Elises and Caterhams.  It is fully programmable and comes complete with software, manual, comms cable and example maps. It has user tailorable soft and hard cut rev-limits and a user programmable shift light. Narrowband and wideband lambda sensors are supported by utilising the 0-5v analogue input.</p>

<h2><span class="mw-headline" id="ECU_mapping">ECU mapping</span></h2>

<p>If you make substantial changes to your car setup or simply want to ensure that the ECU is correctly configured to control the fuel system, then you could consider a &#34;mapping&#34; session on a rolling road.  </p>
<p>ECUs generally work by comparing the engine speed in rpm to the position of the throttle. The ECU then compares these values on a &#34;map&#34; to find the correct amount of fuel to add. This ensures that an engine is not running too rich or too lean, both of which can be undesirable with the latter leading to detonation.</p>
<p>The mapping process will involve your car being run on a rolling road for a period of time, with an operator changing the map on the fly. The rolling road will then allow the operator to add the optimum values to the map.</p>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Name &#38; Website </th>
<th>Address &#38; Google map reference</th></tr>
<tr>
<td><a class="external text" href="http://www.sinclairemotorsport.com" rel="nofollow">Sinclaire Motorsport</a></td>
<td>Sinclaire House, Bryant Avenue, Romford <a class="external text" href="http://maps.google.co.uk/maps?hl=en&#38;q=RM3+0AP" rel="nofollow">RM3 0AP</a></td></tr></table></div>



<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Name &#38; Website </th>
<th>Address &#38; Google map reference</th></tr>
<tr>
<td><a class="external text" href="http://www.jkm.org.uk/performance/index.htm" rel="nofollow">JKM Performance</a></td>
<td>Bolde Close, Copnor, Portsmouth, Hampshire, <a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=PO3+5RD" rel="nofollow">(JKM+Performance) PO3 5RD</a></td></tr></table></div>



<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Name &#38; Website </th>
<th>Address &#38; Google map reference</th></tr>
<tr>
<td><a class="external text" href="http://www.hangar111.com" rel="nofollow">Hangar 111 Lotus Performance</a></td>
<td>Unit8b Seven Acres Business Park, Waldringfield, Suffolk <a class="external text" href="http://maps.google.co.uk/maps?f=q&#38;source=s_q&#38;hl=en&#38;geocode=&#38;q=Hangar+111&#38;sll=52.058349,1.300786&#38;sspn=0.006306,0.019226&#38;g=IP12+4PS&#38;ie=UTF8&#38;ll=52.058982,1.300786&#38;spn=0.006306,0.019226&#38;z=16&#38;iwloc=A" rel="nofollow">IP12 4UH</a></td></tr></table></div>

<h2><span class="mw-headline" id="See_Also">See Also</span></h2>

<ul>
<li><a class="external free" href="http://en.wikipedia.org/wiki/Engine_Control_Unit" rel="nofollow">http://en.wikipedia.org/wiki/Engine_Control_Unit</a></li>
<li><a class="external free" href="http://en.wikipedia.org/wiki/OBD-II_PIDs" rel="nofollow">http://en.wikipedia.org/wiki/OBD-II_PIDs</a></li>
<li><a class="external text" href="http://www.mgfcar.de/library/ENGINE_MANAGEMENT_SYSTEM_%20MPi_VVC_MEMS_3.htm" rel="nofollow">VVC MEM3 usage of sensors</a></li>
</ul>

<h2><span class="mw-headline" id="Forum_links">Forum links</span></h2>

<ul>
<li><a class="external free" href="http://forums.seloc.org/viewthread.php?tid=143423" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=143423</a></li>
<li><a class="external free" href="http://forums.seloc.org/viewthread.php?tid=71330" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=71330</a></li>
</ul>

<h2><span class="mw-headline" id="External_links">External links</span></h2>

<ul>
<li><a class="external free" href="http://www.sae.org/technical/standards/J1962_200204" rel="nofollow">http://www.sae.org/technical/standards/J1962_200204</a></li>
</ul>

<p>






</p>