
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:elise_filler_cap_internals.jpg" title="S1 Elise. part.10501"><img src="elise_filler_cap_internals.jpg" alt="S1 Elise. part.10501" title="S1 Elise. part.10501" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">S1 Elise. part.10501</div></div>
</div>

<p>The internals of the Elise S1 petrol cap are manufactured by <a class="external text" href="http://www.stant.com" rel="nofollow">Stant</a>. It&#39;s also used by Jeep, from whom you&#39;re more likely to be able to readily obtain it.</p>
<p>On-line sources include <a class="external text" href="https://www.rockauto.com" rel="nofollow">Rock Auto</a> in America.  The part number that you need to order is 10501, delivery should be expected in about 1 week. You may also be able to get it from a UK Jeep dealer - please add your sources here if successful.</p>















<p>I started from the point of having had the filler cap disintegrate on me, so almost all the parts had come out of the cap.
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:fuel_cap_1.jpg" ><img src="fuel_cap_1.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>














<p>All that was left inside were the plastic ratchet (1), metal collar (2) and black plastic retainer (3)</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:fuel_cap_2.jpg" ><img src="fuel_cap_2.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>

<p>.</p>













<p>Using a screw driver, prize the bottom part of the plastic ratchet out from behind the metal collar </p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:fuel_cap_3.jpg" ><img src="fuel_cap_3.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>














<p>The top part of the ratchet will now come out freely from behind the metal collar.
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:fuel_cap_4.jpg" ><img src="fuel_cap_4.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>

<p>Be very careful not to damage the black plastic retainer. You need this to fit the new components.</p>























<p>Take the new filler cap and use a Stanley knife to cut tabs into the side of the filler cap. 
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:fuel_cap_5.jpg" ><img src="fuel_cap_5.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>

<p> Be careful not to cut into the white plastic components covered by the cap. Gradually cut away the cap, until most of the white plastic components (but not the barrel lock) and the metal collar are free from the cap. Once you’re able, remove the white plastic components and the metal collar from what’s left of the filler cap.</p>














<p>Carefully cut around the lock barrel, again making sure that you don’t damage the white plastic </p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:fuel_cap_6.jpg" ><img src="fuel_cap_6.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>

<p>. </p>













<p>Remove the barrel and push it into the hole in the old filler cap. The barrel has a key-way and locking tabs which keep it in place </p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:fuel_cap_7.jpg" ><img src="fuel_cap_7.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>

<p> – make sure you’re putting it in the right way. Note the location of the spring pin</p>















<p>Push a screwdriver down the side of the old metal collar, lever it out of shape and remove it from the old cap. Again, take care not to damage the black plastic retainer. </p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:fuel_cap_8.jpg" ><img src="fuel_cap_8.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>


















<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:fuel_cap_9.jpg" ><img src="fuel_cap_9.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>

<p>Take the lock mechanism  from the new cap and place it on top of the lock barrel </p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:fuel_cap_10.jpg" ><img src="fuel_cap_10.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>

<p>. Note that the long tongue goes into the deeper recess in the cap. This is on the opposite side of the lock barrel from the spring pin.</p>

















<p>Put the two parts of the ratchet mechanism into the old cap, making sure the one with the row of teeth is nearest the top of the cap and the other part of the ratchet is towards the “fuel tank”. Put the threaded stopper onto the top of the lock mechanism.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:fuel_cap_11.jpg" ><img src="fuel_cap_11.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>














<p>Take the metal collar from the new cap. </p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:fuel_cap_12.jpg" ><img src="fuel_cap_12.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>

<p>With the channel in the collar facing you, put it into the cap and using a flat screwdriver, gently push it past the lugs on the black plastic retainer. 
Grip the threaded stopper in your hand and check that the lock and ratchet operate normally. Use a silicone lubricant (not WD40) on the ratchet and in the key hole. Job done.</p>

<p>As a final safety measure, I&#39;d recommend not fitting the cap until you&#39;ve filled the car up at a petrol station near home and have time to come back and remove the cap if it fails. Don&#39;t forget to change the fuel filler keys on your key ring as well.</p>







<p>All pictures exept Stant cap+keys copyright (C) John Fletcher 2008</p>
<p>

</p>

<p>If you don&#39;t want/can&#39;t obtain a stant cap..
My basic research (clicking around the stant and rock auto websites until boredom made me stop) listed these cars as having the same filler cap as the S1...</p>
<p>2001 Jeep Wrangler
2002 Dodge Viper
2002 Kia Rio
1998 Volvo S90
1998 Volvo C70
1994-1998 Jeep Grand Cherokee
1995-1997 Land rover discovery </p>
<p>A plastic replacement from UK ebay based on this list was not close enough to follow the procedure above, but did fit the neck properly on the car - after unclipping the tip of the cap which exended to far down the neck. This is an easy way to obtain a lightweight cap for about £10.</p>