<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Elise">Elise</a>
<ul>
<li class="toclevel-2"><a href="#Extruding">Extruding</a>
</li>
<li class="toclevel-2"><a href="#Longevity">Longevity</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#VVA">VVA</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Elise">Elise</span></h2>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Chassis.JPG" ><img src="Chassis.JPG" class="location-right type-thumb" width="400" />
</a></div>
</div>

<p>
The Elise&#39;s revolutionary chassis is made of extruded aluminium sections joined by glue and rivets. New technology can make the extruded parts curvy, as seen in the side members. This allows large parts to be made in single piece, thus save bonding and weight.</p>

<h3><span class="mw-headline" id="Extruding">Extruding</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:Extrusion.JPG" ><img src="Extrusion.JPG" class="location-right type-thumb" width="220" />
</a></div>
</div>

<p>Extrusion dies are very cheap, yet they can make extruded aluminium in any thickness. The question is: how to bond the extruded parts together to form a rigid chassis ? 
Renault Sport Spider bonds them by spot welding, while Lotus Elise uses glue and rivet to do so. Comparing their specification and you will know how superior the Elise is:</p>
<p>Lotus&#39;s technology was originated by its supplier, Hydro Aluminium of Denmark. Hydro discovered that aluminium extrusion can be bonded by epoxy resin (glue) if it is adequately prepared by a special chemical in the bonding surface. Surprisingly, glue can bond the sections together strongly and reliably. Most important, the aluminium extruded sections can be made much thinner than traditional welding technique. Why ? because welded joints are weak, so the thickness of material should be increased throughout a member just to make a joint strong enough. Therefore Elise&#39;s chassis could be lighter yet stiffer.</p>

<p><a class="external text" href="http://forums.seloc.org/viewthread.php?tid=106148" rel="nofollow">Quite a good read, if you can get past the SELOC arguing</a></p>
<p><a class="external text" href="http://en.wikipedia.org/wiki/Extruding" rel="nofollow">Wikipedia On Extruding</a></p>
<p><a class="external text" href="http://en.wikipedia.org/wiki/Epoxy" rel="nofollow">Wikipedia On Epoxy Resins</a></p>
<h3><span class="mw-headline" id="Longevity">Longevity</span></h3>
<p>From time to time on the forum the question is asked &#34;How long will the Elise chassis really last?&#34;. Comments on such threads often refer to a toothpaste treatment, the first recorded incident of which is here: <a class="external free" href="http://arc.seloc.org/viewthread.php?tid=99980&#38;page=1" rel="nofollow">http://arc.seloc.org/viewthread.php?tid=99980&#38;page=1</a>.</p>


<h2><span class="mw-headline" id="VVA">VVA</span></h2>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_Rolling_Chassis.jpg" ><img src="Evora_Rolling_Chassis.jpg" class="location-right type-thumb" width="400" />
</a></div>
</div>

<p>
The VVA platform, as used in the <a href="http://wiki.seloc.org/a/Category:Lotus_Evora" title="Category:Lotus Evora">Lotus Evora</a>, uses the same technique of extruding and bonding aluminium, and is designed to be easily customised to suit different sized low and mid-volume vehicles up to 1,900kg by altering the length and thickness of various extrusions.</p>
<p>One key differences to the Elise chassis in the Evoras VVA implementation is the removable front sub-frame which carries the front suspension mounts and allows the sub-frame to be replaced in the event of an accident which damages the front suspension mounting points - a weakness of the Elise chassis.</p>

<p>



</p>