<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<ul>
<li class="toclevel-1"><a href="#Piper_Cross">Piper Cross</a>
</li>
<li class="toclevel-1"><a href="#Carbonaire">Carbonaire</a>
</li>
<li class="toclevel-1"><a href="#Hurricane">Hurricane</a>
</li>
<li class="toclevel-1"><a href="#How_to_Clean_Your_Hurricane">How to Clean Your Hurricane</a>
</li>
<li class="toclevel-1"><a href="#ITG">ITG</a>
</li>
<li class="toclevel-1"><a href="#K.26N">K&#38;N</a>
</li>
<li class="toclevel-1"><a href="#Racing_Cup">Racing Cup</a>
</li>
<li class="toclevel-1"><a href="#TRD_.28Toyota_Racing_Development.29">TRD (Toyota Racing Development)</a>
</li>
</ul>
</ul>
</ul></td></tr></table><hr/>
<h3><span class="mw-headline" id="Piper_Cross">Piper Cross</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="6"><a class="image" href="http://wiki.seloc.org/a/Image:Pipercross_rice_burner.jpg" ><img src="Pipercross_rice_burner.jpg" width="150" />
</a></td>
<td><b>Rice Burner</b></td></tr>
<tr>
<td>Material: </td></tr>
<tr>
<td>Price: £208.95</td></tr>
<tr>
<td>Suppliers: Moto-Build</td></tr>
<tr>
<td><a class="external text" href="http://www.moto-build.com/" rel="nofollow">Click Here</a></td></tr>
<tr>
<td>This is what we refer to as &#39;The rice burner&#39; this is the ultimate cold air system for your Elise (or MGF) this features a huge Pipercross trumpeted filter enclosed within a cannister. This filter was originally designed and used on the Australian V8 Holden touring cars! So it has enough capacity for your 1.8 K series! The filter is attached to the throttle body with a silicon hose and the flexible cold air pipe and trumpet picks up air from the wing vent. Never mind all the other cold air kits, we&#39;ve been there and done them all - this filter will produce the same if not more than any other kit on the market</td></tr></table></div>

<h3><span class="mw-headline" id="Carbonaire">Carbonaire</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="6"><a class="image" href="http://wiki.seloc.org/a/Image:Elise_carbonaire.jpg" ><img src="Elise_carbonaire.jpg" width="150" />
</a></td>
<td><b>Carbonaire</b></td></tr>
<tr>
<td>Material: </td></tr>
<tr>
<td>Price: £144.00</td></tr>
<tr>
<td>Suppliers: Moto-Build</td></tr>
<tr>
<td><a class="external text" href="http://www.moto-build.com/" rel="nofollow">Click Here</a></td></tr>
<tr>
<td>Carbonaire cold air induction kit for Mk1 or 2 K series engine, 1.8 or VVC this kit features a silicon connection hose from filter cannister to throttle body, the filter cannister is made from carbon fibre and the filter is a cotton gauze type like a KN, off the front is an expandable alloy cold air intake, this is a genuine cold air filter kit that gives great performance at a realistic price</td></tr></table></div>

<h3><span class="mw-headline" id="Hurricane">Hurricane</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="6"><a class="image" href="http://wiki.seloc.org/a/Image:Hurricane.jpg" ><img src="Hurricane.jpg" width="150" />
</a></td>
<td><b>Hurricane S1, S2 &#38; 111R</b></td></tr>
<tr>
<td>Material: Cotton </td></tr>
<tr>
<td>Price: £169.14 </td></tr>
<tr>
<td>Suppliers: Eliseparts or Eliseshop</td></tr>
<tr>
<td><a class="external text" href="http://www.eliseparts.com/shop/index.php?main_page=product_info&#38;products_id=413" rel="nofollow">Eliseparts</a> or <a class="external text" href="http://www.elise-shop.com/index.php?main_page=index&#38;cPath=3&#38;zenid=c0ef99729491b950e307379f0095d6e2" rel="nofollow">Eliseshop</a></td></tr>
<tr>
<td>The Hurricane Induction system was originally developed on and for the Lotus Elise.

It combines the advantages of an open air filter (sports filter) and an airbox. Besides, the system is gas flowed from side air vent. All these combined features result in:

- Lower flow resistance by using bigger ducting...
- Direct cold air intake..
- Optimised flow, no turbulence..
- Very mature soundtrack

Using the advantage of the sports filter and the cold air intake, power and torque gain is obvious!

During the Hurricane airbox development, all components have been optimised by using high-tech aerodynamics systems. Turbulence has been ruled out, which results in a very steady clean and cool air supply.

<a class="external text" href="http://www.youtube.com/watch?v=YAp5pD4JGnc" rel="nofollow">Hurricane Noise 1 on YouTube</a>

<a class="external text" href="http://www.youtube.com/watch?v=CBiTUgeZrIQ" rel="nofollow">Hurricane Noise 2 on YouTube</a>

<a class="external text" href="http://www.youtube.com/watch?v=M7dKAraU8SA" rel="nofollow">Hurricane Noise 3 on YouTube</a>

<a class="external text" href="http://www.youtube.com/watch?v=qK9o-iRR1Cc" rel="nofollow">Hurricane Noise 4 on YouTube</a>
</td></tr></table></div>

<h3><span class="mw-headline" id="How_to_Clean_Your_Hurricane">How to Clean Your Hurricane</span></h3>

<p>It&#39;s recommended that induction kits like the hurricane with a cotton filter should be cleaned every 5-6k or every 6 months (more so if you drive in dusty environments)</p>
<p>1)Remove bent hose that connects it to the throttle body, this gives you room to work, next remove the big jubilee clip and pull out the green filter.</p>
<p>2)Next brush of debris, then soak with cleaner leave it a good 15 mins to work in, then rinse it well from the inside out only
in clean warm water. If required apply more cleaner and do it again.</p>
<p>3)Wait for it to dry and then give it a fair but not excessive coat of dust retention spray on oil.</p>

<p>4)Refit reverse of removal.</p>
<p>Note: Cleaner solution and oil can be purchased from <a class="external free" href="http://www.elise-shop.com" rel="nofollow">http://www.elise-shop.com</a> and <a class="external free" href="http://www.eliseparts.com" rel="nofollow">http://www.eliseparts.com</a> or from Halfords - Green Cotton Cleaner kit.
Remember that if the filter does become very dirty or blocked it will affect the performance of you car.</p>
<h3><span class="mw-headline" id="ITG">ITG</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="6"><a class="image" href="http://wiki.seloc.org/a/Image:S1_ITG_Maxogen.jpg" ><img src="S1_ITG_Maxogen.jpg" width="150" />
</a></td>
<td><b>ITG Maxogen S1</b></td></tr>
<tr>
<td>Material: Foam</td></tr>
<tr>
<td>Price: £374.83</td></tr>
<tr>
<td>Suppliers: PTP</td></tr>
<tr>
<td><a class="external text" href="http://www.ptp-ltd.co.uk/shop/ProductDetails.aspx?productID=421" rel="nofollow">Click Here</a></td></tr>
<tr>
<td>Following years of experience designing induction systems for F1, rally and touring cars at world championship level, itg are now making purpose designed air boxes to form the core of a super efficient air intake system. Attention to detail and huge performance gains are the key to this exceptional system. Based around the remarkable AB65 carbon fibre airbox, we see a much smoother torque curve and a peak power increase of 8bhp at 500 less rpm on this installation. The kit will fit all MK1 Elise (including 111S and Sport 160) and features copper nickel plated mounting bracket, foam air filter spinning, dust retention oil spray, stainless steel fixing screws and an &#34;S&#34; shaped silicon air intake hose.</td></tr></table></div>



<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="6"><a class="image" href="http://wiki.seloc.org/a/Image:ITG_Maxogen_S2.jpg" ><img src="ITG_Maxogen_S2.jpg" width="150" />
</a></td>
<td><b>ITG Maxogen S2 Carbon</b></td></tr>
<tr>
<td>Material: Foam</td></tr>
<tr>
<td>Price: £374.83 </td></tr>
<tr>
<td>Suppliers: PTP</td></tr>
<tr>
<td><a class="external text" href="http://www.ptp-ltd.co.uk/shop/ProductDetails.aspx?productID=423" rel="nofollow">Click here</a></td></tr>
<tr>
<td>Attention to detail and huge performance gains are the key to this exceptional system. Based around the remarkable carbon fibre airbox, we see a much smoother torque curve and a peak power increase of 8 bhp at 500 less rpm on this installation. The kit will fit all Mk2 Lotus Elise models with the K Series engine (including 111S) and features bright silver annodised aluminium mounting bracket, cold air collector hose, stainless steel airbox screws and an &#39;S&#39; shaped black silicon hose.</td></tr></table></div>



<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="6"><a class="image" href="http://wiki.seloc.org/a/Image:ITG_Maxogen_S2_Alu.jpg" ><img src="ITG_Maxogen_S2_Alu.jpg" width="150" />
</a></td>
<td><b>ITG Maxogen S2 Aluminium</b></td></tr>
<tr>
<td>Material: Foam</td></tr>
<tr>
<td>Price: £284.99</td></tr>
<tr>
<td>Suppliers: PTP</td></tr>
<tr>
<td><a class="external text" href="http://www.ptp-ltd.co.uk/shop/ProductDetails.aspx?productID=881" rel="nofollow">Click here</a></td></tr>
<tr>
<td>A Maxogen with an aluminium air box rather than carbon fibre. Suitable for all S2 Elises fitted with the K Series engine, including the 111S, the installation is a snug fit under the bonnet using the ITG Patented RAB65 inline air box, copper nickel plated mounting bracket and air filter spinning, a 90° black silicon hose, complex black dip moulding and stainless screws.</td></tr></table></div>



<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="6"><a class="image" href="http://wiki.seloc.org/a/Image:111R_and_S2_Exige_ITG_Maxogen.jpg" ><img src="111R_and_S2_Exige_ITG_Maxogen.jpg" width="150" />
</a></td>
<td><b>ITG Maxogen 111R and S2 Exige  </b></td></tr>
<tr>
<td>Material: Foam</td></tr>
<tr>
<td>Price: £386.58 </td></tr>
<tr>
<td>Suppliers: PTP</td></tr>
<tr>
<td><a class="external text" href="http://www.ptp-ltd.co.uk/shop/ProductDetails.aspx?productID=457" rel="nofollow">Click here</a></td></tr>
<tr>
<td>Suitable for the Toyota powered Lotus Elise and Exige (Pre October 2005 cars), this carbon fibre induction system from F1 Manufacturer ITG has much attention to detail spent on it as always. Independant Performance testing has shown a peak increase of 10bhp at the road wheel with massive torque improvements once fitted to a standard production car. Each kit is supplied with easy to follow DIY fitting instructions, performance air filter, 100% carbon air box, dust retention oil spray, cold air hoses and a unique nickel plated mounting braket. Not only does it look good, the engine power/torque increases transform the overall engine performance. A copy of the Power and torque tests can be supplied upon request.</td></tr></table></div>



<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="6"><a class="image" href="http://wiki.seloc.org/a/Image:S1_and_S2_ITG_Panel_Filter.jpg" ><img src="S1_and_S2_ITG_Panel_Filter.jpg" width="150" />
</a></td>
<td><b>ITG Panel Filter S1 &#38; S2</b></td></tr>
<tr>
<td>Material: Foam</td></tr>
<tr>
<td>Price: £35.24</td></tr>
<tr>
<td>Suppliers: PTP</td></tr>
<tr>
<td><a class="external text" href="http://www.ptp-ltd.co.uk/shop/ProductDetails.aspx?productID=433" rel="nofollow">Click here</a></td></tr>
<tr>
<td>Suitable for all models of the Mk1 and Mk2 Lotus Elise, this air filter simply fits into the standard air box. Three layers of foam combined with the arresting stickiness of the dust retaining oil gives a high level of filtration to protect the engine from all containments. Long after ordinary filters have blocked up and reduced the engine power Profilter keeps on performing. In normal road use, a Profilter will last at least four times as long as the equivalent standard filter. You will never have to clean a Profilter panel filter – EVER.</td></tr></table></div>



<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="6"><a class="image" href="http://wiki.seloc.org/a/Image:111R_and_S2_Exige_ITG_Panel_Filter.gif" ><img src="111R_and_S2_Exige_ITG_Panel_Filter.gif" width="150" />
</a></td>
<td><b>ITG Panel Filter 111R and S2 Exige</b></td></tr>
<tr>
<td>Material: Foam</td></tr>
<tr>
<td>Price: £59.93</td></tr>
<tr>
<td>Suppliers: PTP</td></tr>
<tr>
<td><a class="external text" href="http://www.ptp-ltd.co.uk/shop/ProductDetails.aspx?productID=844" rel="nofollow">Click here</a></td></tr>
<tr>
<td>The ITG panel filter achives a high level of filteration. This is achived by the three layers of foam combined with the arresting stickiness of the dust retaining oil. In normal road use a Profilter will last at least four times as long as the equivalent standard filter, the performance is unaffected by very large quantities of dirt arrested in the filter. Long after ordinary filters have blocked up and reduced the engine power caused by a loss of air flow into the engine, the Profilter will continue to allow greater air flow through into the engine. This means that the loss of pressure in the Profilter airflow will be exceptionally low. Because of these facts the waste is reduced so Profilter helps the environment as well as the engine.</td></tr></table></div>



<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="6"><a class="image" href="http://wiki.seloc.org/a/Image:S1_Exige_ITG_Panel_Filter.gif" ><img src="S1_Exige_ITG_Panel_Filter.gif" width="150" />
</a></td>
<td><b>Exige MK1 ITG Air Filter With Backplate</b></td></tr>
<tr>
<td>Material: Foam</td></tr>
<tr>
<td>Price: £141.00</td></tr>
<tr>
<td>Suppliers: PTP</td></tr>
<tr>
<td><a class="external text" href="http://www.ptp-ltd.co.uk/shop/ProductDetails.aspx?productID=434" rel="nofollow">Click here</a></td></tr>
<tr>
<td>This filter and baseplate has been specically designed and developed as an aftermarket performance option to further enhance the Exige&#39;s already impressive power unit. The filter is made from a 3 layer foam over a stainless steel mesh cage, this is easily inserted into the existing housing. The red baseplate is then mounted to the throttle body and the housing is easily attached with concealed retained nut locators. The filter has undergone several months worth of extensive on car testing. It allows better airflow throughout the lifetime of the filter. This coupled with an improvement in air filtration over the original item ensures that only clean filtered air arrives into the engine, ensuring that the engine breathes at its optimum - ALL THE TIME. Its easily fitted, produces a marked long term improvement and is easy to clean and re-oil - so now you can just keep on driving.</td></tr></table></div>

<h3><span class="mw-headline" id="K.26N">K&#38;N</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="6"><a class="image" href="http://wiki.seloc.org/a/Image:K%26N_57I.gif" ><img src="K%26N_57I.gif" width="150" />
</a></td>
<td><b>57i</b></td></tr>
<tr>
<td>Material: </td></tr>
<tr>
<td>Price: £54.00</td></tr>
<tr>
<td>Suppliers: Brooke Kensington</td></tr>
<tr>
<td><a class="external text" href="http://www.brooke-kensington.co.uk/ppartl5.htm" rel="nofollow">Click Here</a></td></tr>
<tr>
<td>Enables remote siting of the filter to pick up colder air.Nice induction noise </td></tr></table></div>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="6"><a class="image" href="http://wiki.seloc.org/a/Image:K%26N_Panel.gif" ><img src="K%26N_Panel.gif" width="150" />
</a></td>
<td><b>Panel</b></td></tr>
<tr>
<td>Material: </td></tr>
<tr>
<td>Price: £35.00</td></tr>
<tr>
<td>Suppliers: Brooke Kensington</td></tr>
<tr>
<td><a class="external text" href="http://www.brooke-kensington.co.uk/ppartl5.htm" rel="nofollow">Click Here</a></td></tr>
<tr>
<td /></tr></table></div>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="6"><a class="image" href="http://wiki.seloc.org/a/Image:K%26N_In_Line.gif" ><img src="K%26N_In_Line.gif" width="150" />
</a></td>
<td><b>In Line</b></td></tr>
<tr>
<td>Material: </td></tr>
<tr>
<td>Price: £29.00</td></tr>
<tr>
<td>Suppliers: Brooke Kensington</td></tr>
<tr>
<td><a class="external text" href="http://www.brooke-kensington.co.uk/ppartl5.htm" rel="nofollow">Click Here</a></td></tr>
<tr>
<td>Attaches direct</td></tr></table></div>

<h3><span class="mw-headline" id="Racing_Cup">Racing Cup</span></h3>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="6"><a class="image" href="http://wiki.seloc.org/a/Image:S1_Moto_Concept_Racing_Cup_Airbox.jpg" ><img src="S1_Moto_Concept_Racing_Cup_Airbox.jpg" width="150" />
</a></td>
<td><b>S1 Racing Cup Airbox</b></td></tr>
<tr>
<td>Material: </td></tr>
<tr>
<td>Price: 250 Euros</td></tr>
<tr>
<td>Suppliers: Moto Concept</td></tr>
<tr>
<td><a class="external text" href="http://www.moto-concept.de/en/autos/lotus/elise1/artikel_elise1_detail.php?item_id=15164" rel="nofollow">Click Here</a></td></tr>
<tr>
<td>It is finally here: the Racing Cup Air Box for Elise! More performance, more sound and more torque.The MC Racing Cup Air Box stands out because of it’s unique “Twin Air” filter technology. Top quality by using valuable anodized aluminum and a special cotton fabric which is integrated into an extremely elastic plastic tube. Our Air Box is custom made. Our system consists of a computer modulated intake pipe (*the air needed for combustion flows through the intake pipe to the inlet valve) and a special Twin Air Filter and a fittest “70 mm Air Intake tube”.The MC Racing Cup Air Box offers a dynamic performance curve. The Cup Air Box has a exact defined and significantly higher air flow and improved responsiveness, especially in mid range. The torque load increases slightly. Due to a larger volume of cold air, which carries more oxygen, precise combustion is guaranteed. The engine appears more agile. You can count on a 5% increase in power. Installation does not require major technical alterations. Installation takes place onto the original throttle valve openings.The MC Racing Cup Air Box fits into these models:Lotus Elise M111 1.8I K-engine with 88 KW 5500 rev/min., engine 18K4F. Can also be installed into the VVC version.Please note: *some motor sport parts are without certification for road traffic and are without warranty..</td></tr></table></div>



<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="6"><a class="image" href="http://wiki.seloc.org/a/Image:S2_Racing_Cup_Airbox.jpg" ><img src="S2_Racing_Cup_Airbox.jpg" width="150" />
</a></td>
<td><b>S1 Racing Cup Carbon Airbox</b></td></tr>
<tr>
<td>Material: </td></tr>
<tr>
<td>Price: 350 Euros</td></tr>
<tr>
<td>Suppliers: Moto Concept</td></tr>
<tr>
<td><a class="external text" href="http://www.moto-concept.de/en/autos/lotus/elise1/artikel_elise1_detail.php?item_id=15166" rel="nofollow">Click Here</a></td></tr>
<tr>
<td>Racing Cup Air Box for all Elise! More performance, even with extreme heat emission.Top quality by using valuable anodized aluminum, carbon and a special cotton fabric which is integrated into an precisely calculated carbon tube. Our Air Box is custom made for us. The system consists of a computer modulated intake pipe, a carbon pipe and a special Twin Air Filter.The MC Cup Carbon Air Box offers a dynamic performance curve, even with extreme heat emission from the engineThe Cup Carbon Air Box has a exact defined and significantly higher air flow than the original with significantly improved responsiveness. The torque load increases slightly. Due to a larger volume of cold air, which carries more oxygen, precise combustion is guaranteed. The engine appears more agile. You can count on a sign. increase in power compared to a closed system.Installation does not require major technical alterations. Installation takes place onto the original throttle valve openings.The Moto Concept Air Box fits these models:Lotus Elise M111 1.8I K-engine with 88 KW 5500 rev/min., engine 18K4F. Can also be installed into VVC versions.Please note: *some motor sport parts are without certification for road traffic.</td></tr></table></div>



<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="6"><a class="image" href="http://wiki.seloc.org/a/Image:S2_Racing_Cup_Airbox.jpg" ><img src="S2_Racing_Cup_Airbox.jpg" width="150" />
</a></td>
<td><b>S2 Racing Cup Carbon Airbox</b></td></tr>
<tr>
<td>Material: </td></tr>
<tr>
<td>Price: 350 Euros</td></tr>
<tr>
<td>Suppliers: Moto Concept</td></tr>
<tr>
<td><a class="external text" href="http://www.moto-concept.de/en/autos/lotus/elise2/artikel_elise2_detail.php?item_id=15165" rel="nofollow">Click Here</a></td></tr>
<tr>
<td>Racing Cup Air Box for all Elise! More performance, even with extreme heat emission.Top quality by using valuable anodized aluminum, carbon and a special cotton fabric which is integrated into an precisely modulated carbon tube. Our system consists of a computer modulated intake pipe, a carbon pipe and a special Twin Air Filter.The MC Cup Carbon Air Box offers a dynamic performance curve, even with extreme heat emission from the engineThe Cup Carbon Air Box has a exact defined and significantly higher air flow than the original. The responsiveness and the air flow are significantly improved. The torque load increases slightly. Due to a larger volume of cold air, which carries more oxygen, precise combustion is guarantied. The engine appears more agile. You can count on a sign. increase in power compared to a closed system.Installation does not require major technical alterations. Installation takes place onto the original throttle valve openings.Please note: *some motor sport parts are without certification for road traffic.</td></tr></table></div>


<h3><span class="mw-headline" id="TRD_.28Toyota_Racing_Development.29">TRD (Toyota Racing Development)</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="6"><a class="image" href="http://wiki.seloc.org/a/Image:Trd-filter.jpg" ><img src="Trd-filter.jpg" width="150" />
</a></td>
<td><b>S2 (Toyota) TRD Airbox and Filter</b></td></tr>
<tr>
<td>Material: </td></tr>
<tr>
<td>Price: £69.95</td></tr>
<tr>
<td>Suppliers: Elise Parts</td></tr>
<tr>
<td><a class="external text" href="http://www.eliseparts.com/" rel="nofollow">Click Here</a></td></tr>
<tr>
<td>Genuine Lotus TRD Air Box and Filter, originally designed to increase the performance models of the S2 Exige. Uses a substantially larger filtration area along with a 30% increase in the air inlet induction port. Ideal upgrade for any Supercharged Exige but will also fit the S2 Elise and Exige with a non Supercharged Toyota 2ZZ engine. This is a Sports Filter system and as it improves the flow it will also increase induction sound.</td></tr></table></div>


<p>




</p>