
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:dower_at_snetterton.jpg" title="Want to look hard and lift that front inside tyre?"><img src="dower_at_snetterton.jpg" alt="Want to look hard and lift that front inside tyre?" title="Want to look hard and lift that front inside tyre?" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Want to look hard and lift that front inside tyre?</div></div>
</div>

<p>
Fitting an adjustable <a href="http://wiki.seloc.org/a/ARB" title="ARB">ARB</a> is relatively straight forward.</p>

<h2><span class="mw-headline" id="Procedure">Procedure</span></h2>
<p><b>1. <a href="http://wiki.seloc.org/a/Jacking_points#Front" title="Jacking points">Support the front of the car</a></b>
</p>
<ul>
<li>Remove both front wheels.</li>
</ul>

<p><b>2. Remove old ARB</b></p>
<p><b>3. Fit new one</b></p>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:arb1.jpg" title="Eliseparts Uprated ARB"><img src="arb1.jpg" alt="Eliseparts Uprated ARB" title="Eliseparts Uprated ARB" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Eliseparts Uprated ARB</div></div>
</div>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:arb2.jpg" title="ARB Mounting"><img src="arb2.jpg" alt="ARB Mounting" title="ARB Mounting" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">ARB Mounting</div></div>
</div>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:arb3.jpg" title="ARB Drop Link"><img src="arb3.jpg" alt="ARB Drop Link" title="ARB Drop Link" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">ARB Drop Link</div></div>
</div>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:arb4.jpg" title="Wheel Hub View"><img src="arb4.jpg" alt="Wheel Hub View" title="Wheel Hub View" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Wheel Hub View</div></div>
</div>


<h2><span class="mw-headline" id="External_links">External links</span></h2>

<ul>
<li><a class="external free" href="http://www.eliseparts.com/shop/index.php?main_page=product_info&#38;products_id=312" rel="nofollow">http://www.eliseparts.com/shop/index.php?main_page=product_info&#38;products_id=312</a></li>
<li><a class="external free" href="http://www.elise-shop.com/index.php?main_page=product_info&#38;cPath=8&#38;products_id=58" rel="nofollow">http://www.elise-shop.com/index.php?main_page=product_info&#38;cPath=8&#38;products_id=58</a></li>
</ul>


<p>
</p>
<p>First remove the lower bolts holding the droplinks to the ARB. You may need a ball joint splitter for this and i&#39;d suggest wire brushing any rust off the threads first.</p>
<p>Then you will have to remove the front aluminum access panel. On mine two of the rivnutted bolts had seized so I had to grind the heads off.</p>
<p>You will then have to drill out the rivits on the two aliminium panels on either side of the crash structure.  You may be able to just remove one side, turn the arb through 180deg then spin it out.</p>
<p>Then undo the two allen bolts holding the ARB bracket either side of the chassis using an allen key. It would be a good idea to use some WD40 on these as mine had seized in quite well!  If the bolts have two different sized washers on the larger washer goes on the bottom (there isn&#39;t room for it at the top once 1/2 done up).  Once the bracket is off the car use a ratchet to put the bolt in and out a couple of times to clear any cr*p out of the thread. This makes it easier to do up once back on the car.</p>
<p>On earlier cars the bushes are held in by extra long bolts holding the bushes and the lower front wishbone bushes in</p>
<p>You should then be able to drop the ARB from underneath the car</p>
<p>

</p>