
<p>The <b>clutch</b> on the Elise is a Driven Plates - Spring Centre Organic.</p>
<p>This type of driven plate provides a relatively high level of &#34;comfort&#34; and is suitable for road and low level competition.</p>
<p>The design features an adaptor plate and retainer plate that are riveted together with shouldered stop pins. Located between them in slots in the hub flange are damper springs arranged radially around the hub centre. The hub can rotate within specific limits to compress the springs thus smoothing out any torsional fluctuations in the drive line.</p>
<p>Damping is provided by friction washers fitted between the hub, retainer and adaptor plate. </p>

<div style="page-break-inside: avoid;">
<table border="1" cellpadding="5" cellspacing="2">
<tr>
<td rowspan="10"><a class="image" href="http://wiki.seloc.org/a/Image:Organic_spring_clutch.gif" ><img src="Organic_spring_clutch.gif" width="220" />
</a></td></tr>
<tr>
<td>ADAPTOR PLATE </td>
<td>Retains damper springs and transmits power to the damper springs.</td></tr>
<tr>
<td>SPRING RETAINER PLATE </td>
<td>Holds damper springs in position and transmits engine power to the damper springs.</td></tr>
<tr>
<td>DAMPER SPRINGS </td>
<td>Cushions the drive line against engine vibrations.</td></tr>
<tr>
<td>STOP PIN </td>
<td>Limits the maximum angular deflection of the hub relative to the facings and holds the driven plate assembly together.</td></tr>
<tr>
<td>SPLINED HUB </td>
<td>Splines slide freely on the first motion shall whilst having minimal radial clearance.</td></tr>
<tr>
<td>CRIMPED SEGMENT </td>
<td>The segments are crimped and so hold the facings sprung slightly apart. The axial cushioning so formed ensures progressive engagement and a greater degree of clutch control without &#39;snatch&#39;. In addition to this, the axial movement gives uniform distribution of work load over the whole friction surface, thus minimising local areas of high temperature and subsequent tendency towards clutch &#39;slip&#39;.</td></tr>
<tr>
<td>FACING RIVETS </td>
<td>Attach each facing to the disc segments.</td></tr>
<tr>
<td>SEGMENT RIVET </td>
<td>Attach each segment to the adaptor plate.</td></tr>
<tr>
<td>FRICTION FACINGS </td>
<td>&#34;Organic&#34; material. AP Racing use only the best high performance Non Asbestos materials.</td></tr></table></div>


<p>A clutch on the Elise is what?
What is the OEM fitment?</p>
<p>Diameter (mm) = 215
Torque Capacity Nm (lbft) = 240 (177)</p>

<p><a href="http://wiki.seloc.org/a/Change_the_clutch" title="Change the clutch">Change the clutch</a></p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Uprated_clutch">Uprated clutch</a>
<ul>
<li class="toclevel-2"><a href="#AP_Racing">AP Racing</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Racing_clutches">Racing clutches</a>
</li>
<li class="toclevel-1"><a href="#Honda_engine">Honda engine</a>
</li>
<li class="toclevel-1"><a href="#External_links">External links</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Uprated_clutch">Uprated clutch</span></h2>
<h3><span class="mw-headline" id="AP_Racing">AP Racing</span></h3>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:AP_Racing_SP2000-14_clutch_kit.jpg" title="AP Racing CP2000-14 clutch kit"><img src="AP_Racing_SP2000-14_clutch_kit.jpg" alt="AP Racing CP2000-14 clutch kit" title="AP Racing CP2000-14 clutch kit" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">AP Racing CP2000-14 clutch kit</div></div>
</div>

<p>
This clutch kit is recommended for road use. Kit is supplied with an uprated cover assembly, organic driven plate &#38; release bearing.</p>
<p>Product code = CP2000-14</p>


<h2><span class="mw-headline" id="Racing_clutches">Racing clutches</span></h2>
<p>It is not recommended to use a racing clutch on a road going car.  They rattle when disengaged and holding the car on the clutch is problematic.</p>
<h2><span class="mw-headline" id="Honda_engine">Honda engine</span></h2>

<p>OEM Honda clutch kit (clutch disc, pressure plate and throwout bearing) part number: 22105-PRB-305</p>
<h2><span class="mw-headline" id="External_links">External links</span></h2>

<ul>
<li><a class="external free" href="http://www.apracing.com/roadcar/clutch/formula.htm" rel="nofollow">http://www.apracing.com/roadcar/clutch/formula.htm</a></li>
<li><a class="external free" href="http://www.eliseparts.com/shop/index.php?main_page=product_info&#38;cPath=93&#38;products_id=244" rel="nofollow">http://www.eliseparts.com/shop/index.php?main_page=product_info&#38;cPath=93&#38;products_id=244</a></li>
<li><a class="external free" href="http://www.motorsportworld.co.uk/framefix.asp?ProductCode=CP2000-14" rel="nofollow">http://www.motorsportworld.co.uk/framefix.asp?ProductCode=CP2000-14</a></li>
</ul>

<p>


</p>