<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<ul>
<li class="toclevel-1"><a href="#Interior_Light">Interior Light</a>
</li>
<li class="toclevel-1"><a href="#S1_Cars">S1 Cars</a>
</li>
<li class="toclevel-1"><a href="#S2_Non_Air_Con_Cars_.2F_Pre_MY04">S2 Non Air Con Cars / Pre MY04</a>
</li>
<li class="toclevel-1"><a href="#S2_Cars_With_Air_Con.2C_or_MY04_onwards">S2 Cars With Air Con, or MY04 onwards</a>
</li>
</ul>
</ul>
</ul></td></tr></table><hr/>
<h3><span class="mw-headline" id="Interior_Light">Interior Light</span></h3>

<p>Elise Interior Light</p>
<h3><span class="mw-headline" id="S1_Cars">S1 Cars</span></h3>

<p><b>Please Add Info</b></p>
<h3><span class="mw-headline" id="S2_Non_Air_Con_Cars_.2F_Pre_MY04">S2 Non Air Con Cars / Pre MY04</span></h3>


<ul>
<li>The interior light on poverty spec / boggo spec / pre MY04 cars is located just above the fan switches, it is unknown if the LED modification will work on this.</li>
</ul>
<p><b>Please Add Info</b></p>
<h3><span class="mw-headline" id="S2_Cars_With_Air_Con.2C_or_MY04_onwards">S2 Cars With Air Con, or MY04 onwards</span></h3>



<ul>
<li>On early cars with air-con, or from MY04 onwards the interior light is located behind the seats.</li>
</ul>
<p>And once again our resident handy man SELOC member <a class="external text" href="http://forums.seloc.org/m/dobbin" rel="nofollow">Dobbin</a> has this nifty little trick.</p>

<p><a class="external text" href="http://www.ultraleds.co.uk/product_info.php?products_id=800" rel="nofollow">LEDs from here</a></p>


<ul>
<li>Remove the standard light housing</li>
</ul>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:led1.jpg" title="Housing removed."><img src="led1.jpg" alt="Housing removed." title="Housing removed." class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Housing removed.</div></div>
</div>



<ul>
<li>Standard blub shown on the left</li>
</ul>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:led2.jpg" title="Standard bulb shown on the left."><img src="led2.jpg" alt="Standard bulb shown on the left." title="Standard bulb shown on the left." class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Standard bulb shown on the left.</div></div>
</div>


<ul>
<li>As you can see the LEDs on the side stick out just a bit more than the contacts of the holder.</li>
</ul>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:led3.jpg" title="LED v. Housing."><img src="led3.jpg" alt="LED v. Housing." title="LED v. Housing." class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">LED v. Housing.</div></div>
</div>


<ul>
<li>Take the whole lot of light housing apart</li>
</ul>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:led4.jpg" title="Housing striped down."><img src="led4.jpg" alt="Housing striped down." title="Housing striped down." class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Housing striped down.</div></div>
</div>



<ul>
<li>Attack Housing with a dremel and enlarge the bulb holes</li>
</ul>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:led5.jpg" title="Housing after enlarging."><img src="led5.jpg" alt="Housing after enlarging." title="Housing after enlarging." class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Housing after enlarging.</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:led6.jpg" title="Housing after enlarging."><img src="led6.jpg" alt="Housing after enlarging." title="Housing after enlarging." class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Housing after enlarging.</div></div>
</div>



<ul>
<li>Put all clips back together and jobs a carrot.</li>
</ul>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:led7.jpg" title="LED in car."><img src="led7.jpg" alt="LED in car." title="LED in car." class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">LED in car.</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:led8.jpg" title="LED in car."><img src="led8.jpg" alt="LED in car." title="LED in car." class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">LED in car.</div></div>
</div>



<p>



</p>