
<p>It is possible, on the S2 Elise, to adjust the &#34;dip setting&#34; on the headlights for right hand drive cars going to left hand drive countries.</p>
<h3><span class="mw-headline" id="Remove_the_headlamp_cover">Remove the headlamp cover</span></h3>

<p>In order to do this the headlight plastic cover needs to be removed. </p>
<p>How to <a href="http://wiki.seloc.org/a/Remove_the_headlamp_cover" title="Remove the headlamp cover">Remove the headlamp cover</a></p>
<p>In photo four, you can see there are two small knurled bolts, there is another knurled bolt, this is under the wheel arch liner at the top, I took off the wheel arch liner, but it could be left on.</p>
<h3><span class="mw-headline" id="Adjusting_the_dip_setting">Adjusting the dip setting</span></h3>


<p>When you look directly at the dip light fitting you can see a dirty bronze coloured piece of metal that sits on the lower half of the lens. This is a small lever that has a small piece of black plastic on it. If this lever is gently pushed up it moves a few mm which cuts off the extra bit of light that could shine in other drivers&#39; eyes when you are driving on the right. It produces a flat top beam, without the &#39;uplift&#39; found on right hand drive dipped beam.</p>

<p>
</p>