<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<ul>
<li class="toclevel-1"><a href="#Wheel_Bearings">Wheel Bearings</a>
</li>
<li class="toclevel-1"><a href="#Elise_S1">Elise S1</a>
</li>
<li class="toclevel-1"><a href="#Elise_S2_Non_ABS">Elise S2 Non ABS</a>
<ul>
<li class="toclevel-2"><a href="#OEM_Lotus_part_numbers">OEM Lotus part numbers</a>
</li>
<li class="toclevel-2"><a href="#Replacment_parts">Replacment parts</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Elise_S2_ABS">Elise S2 ABS</a>
</li>
</ul>
</ul>
</ul></td></tr></table><hr/>
<h3><span class="mw-headline" id="Wheel_Bearings">Wheel Bearings</span></h3>


<p><b>Please Add Info</b></p>

<h3><span class="mw-headline" id="Elise_S1">Elise S1</span></h3>
<pre>Timken JRM3938A.
</pre>
<h3><span class="mw-headline" id="Elise_S2_Non_ABS">Elise S2 Non ABS</span></h3>

<p>The Rover S2 uses 3 identical bearing packs without built-in sensor and 1 pack with a sensor for the ECU (which then relays it to the speedo) on one of the rear wheels. </p>
<p>These bearing packs originate from the Opel/Vauxhall Astra G front axle. </p>
<h4><span class="mw-headline" id="OEM_Lotus_part_numbers">OEM Lotus part numbers</span></h4>


<ul>
<li>Bearing pack without built-in speed sensor: A117D6002F</li>
<li>Bearing pack with built-in speed sensor:    A117D6005F</li>
</ul>

<h4><span class="mw-headline" id="Replacment_parts">Replacment parts</span></h4>

<p>Bearing units are originally made by SKF who also sell complete aftermarket replacement kits:</p>

<ul>
<li>SKF VKBA3510 without sensor</li>
<li>SKF VKBA3511 with sensor</li>
</ul>

<p>Both SKF kits come including:</p>

<ul>
<li>bearing packs</li>
<li>new mounting bolts (approx 10mm too long for the Elise can be cut down - M12 x 40 Metric fine thread which are hard to find, best order Lotus OE A116W1170F)</li>
<li>new castle nut for the driveshaft/CV</li>
<li>new split pin for castle nut</li>
<li>dust cover for center</li>
</ul>

<h3><span class="mw-headline" id="Elise_S2_ABS">Elise S2 ABS</span></h3>

<p>Use 4 identical bearing packs, ALL with speed pulse for the ABS signal (which in turn feeds that to the ECU)</p>
<p>For part numbers see the &#39;with speed sensor&#39; entries above.</p>
<p>

</p>