
<p><b>HOW TO FIT THE S1 HEADLIGHT COVERS USING SCREWS</b></p>
- Firstly you will need a set of headlight covers.  I used the ones from www.eliseparts.com

- Secondly (but optional) i used a thread reapir kit.  These can be picked up for around £30 on ebay.  I used a 4mm by 7mm thread kit.

<p><a class="external autonumber" href="http://gallery.seloc.org/displayimage.php?pos=-13105" rel="nofollow">[1]</a></p>
- This kit comes with a drill bit to drill the hole, a tap to thread the hole, and the coils you&#39;ll use to reinforce the thread.  The coils are inserted using a special tool that is also included.

- First of all I held one of the covers in place on the car and decided where the best place for the bolts was.  Peg bag the wheel arch lining and make sure that any hole you do drill wont go into anything underneath, like the headlight fittings.

<p><a class="external autonumber" href="http://gallery.seloc.org/displayimage.php?pos=-13106" rel="nofollow">[2]</a></p>
- Once you&#39;ve decided where you want the bolts, mark the cover with a permenant pen.

- Remove the cover and lay the part you want to drill over a piece if wood. Drill the first hole.  <b>MAKE SURE YOU USE THE DRILL ON ITS SLOWEST SETTING AND USE THE SMALLEST DRILL BIT YOU HAVE FIRST</b>.

- Drill the 2nd hole in the same manner.

- Place cover back on car

<p><a class="external autonumber" href="http://gallery.seloc.org/displayimage.php?pos=-13110" rel="nofollow">[3]</a></p>
- Use the holes you have just drilled in the cover as pilot holes for the body work.  It helps if someone else can hold the cover in place at this point.

- Again use the smallest drill bit you have just used and drill through the hole in the cover and into the body work.

<p><a class="external autonumber" href="http://gallery.seloc.org/displayimage.php?pos=-13102" rel="nofollow">[4]</a></p>
- Go change your pants!

- Now do the same for the other hole

<p><a class="external autonumber" href="http://gallery.seloc.org/displayimage.php?pos=-13103" rel="nofollow">[5]</a></p>
- Now move up to a bigger drill bit, but smaller than the one supplied in the thread kit, and drill the cover holes a bit bigger.

- Now use the supplied drill bit to get the holes to size.

- Repeat this method on the holes in the bodywork.

- You&#39;re now ready to tap the holes on the car.

- Tap the holes using the supplied tap (you&#39;ll need a tap wrench though)

<p><a class="external autonumber" href="http://gallery.seloc.org/displayimage.php?pos=-13107" rel="nofollow">[6]</a></p>
- Once tapped use the special thread tool to insert the thread into the tapped holes.

<p>(Sorry no Pic)</p>
- Finally screw the covers on using 4mm bolts. I only had copper ones in the garage at the time

<p><a class="external autonumber" href="http://gallery.seloc.org/displayimage.php?pos=-13104" rel="nofollow">[7]</a></p>
- Repeat the process on the other side.

- Remove film off of the covers and......

<p><a class="external autonumber" href="http://gallery.seloc.org/displayimage.php?pos=-13109" rel="nofollow">[8]</a></p>
<p><a class="external autonumber" href="http://gallery.seloc.org/displayimage.php?pos=-13108" rel="nofollow">[9]</a></p>
<p>LOOKING GOOD!</p><hr />
<p>Alternative one can use two nuts and stainless steel bolts as I did. After having drilled the holes one has to bond some nuts into the bodywork. Before doing so I welded some tiny 1 mm thick sheet metal on the nuts for holding surface in order to bond them into the bodywork, just 5 mm extension left right or so. Of course now one needs to get the wheel off to get access to lower side bodywork where I bonded the nuts. I used M5 hex nuts with round surface so nice &#39;n smooth.</p>
<p>I just didn&#39;t want to use the coils and tap thread in the bodywork to make sure it will hold whatever happened. I drilled the holes at top and lower side, see picture. Make a template to transfer exact same pattern to the other side and drill holes. Use the masking tape as described above!</p>
<p><a class="external free" href="http://gallery.seloc.org/albums/userpics/38748/headlight.jpg" rel="nofollow">http://gallery.seloc.org/albums/userpics/38748/headlight.jpg</a></p>
<p>Looks good and functional. 
Without sealing the water that enters will get out anyway. </p>
<p>
</p>