
<p>One common problem with early S1 cars is that when driving at night, you will see a reflection of oncoming traffic in the rear view mirror. This can be really distracting, as it looks like cars are rapidly approaching from behind. Fortunately, it is easy to fix by tilting the rear window.</p>
<p>You will need:
- Superglue
- Scissors
- 3 Sticky Pritt Pads</p>
<p>1. Remove the roll bar cover and rear window</p>
<p>2. Pull the foam strip away from the sides and top edge of the window</p>
<p>3. Stick the three Pritt pads on the top edge of the window, on the side that used to have the foam stuck to it. Space the pads out evenly over the length of the window. Leave the backing paper from the exposed side of the pritt pads in place. This will stop the window from rattling against the roll bar cover when driving with the roof off at high speed.</p>
<p>4. Cut 4 lengths of foam from the strip you removed - about 1 inch long.</p>
<p>5. Use the super glue to attach the strips of foam to the tabs on the roll bar cover that retain the outside edge of the window. Use 2 strips on each tab (picture to follow).</p>
<p>6. Put the window and roll bar cover back on the car.</p>
<p>7. Repeat steps 4 and 5 with your hard top, if you have one.</p>

<p>


</p>