<h3><span class="mw-headline" id="S1_Hubs">S1 Hubs</span></h3>

<p>They are slightly different to the MGF /Rover 100 as it does not use recessed studs.</p>
<p>The Lotus OEM ones are around £60 but made from cheese.</p>
<p>It is recommended to buy the elisepart hubs as they are made from EN24T forged steel.</p>
<p><a class="external text" href="http://www.eliseparts.com/shop/index.php?main_page=product_info&#38;products_id=630" rel="nofollow">Eliseparts Hubs</a>
</p><h3><span class="mw-headline" id="S2_Hubs">S2 Hubs</span></h3>

<p>These are complete bearing packs, derived from Vauxhall parts, proven very reliable (so far).</p>

<p>

</p>