<h3><span class="mw-headline" id="Feeler_gauge">Feeler gauge</span></h3>



<p>A device with flat blades is used to set the gap in spark plugs to the correct size; this is done by increasing or decreasing the gap until the gauge of the correct size just fits inside the gap.</p>

<p><a class="image" href="http://wiki.seloc.org/a/image:feeler.jpg" ><img src="feeler.jpg" width="220" />
</a></p>



<p>


</p>