
<p>
The indicators taken from the Vauxhall/Opel parts bin eventually give up the ghost. This is first shown when the full beam flash function refuses to work.</p>
<p>The replacement part is Vauxhall/Opel No 9181010 and can be got form any Vauxhall/Opel dealer, although at around £40 plus VAT it&#39;s cheaper to buy a new non OEM part for less than £15 on the web or ebay.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:IndicatorStalk.jpg" ><img src="IndicatorStalk.jpg" width="220" />
</a><b>Aftermarket part</b></p><hr />

<p>Firstly you need to remove the cowling around the steering wheel.</p>
<p>You might want to clean up a little in here, the picture shows nearly 8 years or crud.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:CowlingOff.jpg" ><img src="CowlingOff.jpg" width="220" />
</a></p>
<p>Once the cowling is off the indicator stalk can be slid away from the housing by pinching the clips on the top and bottom of the unit.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:IndicatorClips.jpg" ><img src="IndicatorClips.jpg" width="220" />
</a></p>
<p>The cables can be prized off the rear, usually in two culsters, again press the clips to ease them out.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:IndicatorCluster.jpg" ><img src="IndicatorCluster.jpg" width="220" />
</a></p>
<p>Plug the cables in the new unit and slide home into the housing.</p>
<p>TEST IT WORKS.</p>
<p>If all is working refit the cowling.</p>
<p>Job done.</p>