<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<ul>
<ul>
<li class="toclevel-1"><a href="#Children_in_a_Lotus">Children in a Lotus</a>
</li>
<li class="toclevel-1"><a href="#Child_Seat_Safety_Law">Child Seat Safety Law</a>
</li>
<li class="toclevel-1"><a href="#Child_Seat_Types">Child Seat Types</a>
</li>
<li class="toclevel-1"><a href="#Baby_Seats_-_Group_0_.28-9_months.29">Baby Seats - Group 0 (-9 months)</a>
</li>
<li class="toclevel-1"><a href="#Child_Seats_Group_1_.289_months_-_4_years.29">Child Seats Group 1 (9 months - 4 years)</a>
</li>
<li class="toclevel-1"><a href="#Child_Booster_Seats_Group_2_.26_3_.284_years_-_11_years.29">Child Booster Seats Group 2 &#38; 3 (4 years - 11 years)</a>
</li>
<li class="toclevel-1"><a href="#Push_Chair.2FBuggies">Push Chair/Buggies</a>
</li>
</ul>
</ul>
</ul>
</ul></td></tr></table><hr/>
<h4><span class="mw-headline" id="Children_in_a_Lotus">Children in a Lotus</span></h4>

<p>Having a kid does not necessary mean the end of Lotus ownership. Many owners have kids and regularly take them out in the Lotus. </p>
<p>There are many makes of seats for all ages that fit the Elise, although none of the factory fitted seats have IsoFix fitments so child seats must be belt fitted. </p>
<p>There&#39;s a vast choice of child seats available and also a lot of variations in the Elise seat design/padding over the years the car has been manufactured - so try before you buy.</p>
<h4><span class="mw-headline" id="Child_Seat_Safety_Law">Child Seat Safety Law</span></h4>
<p>Whatever you buy make sure it complies with the up-to-date Child Seat Safety Law
<a class="external free" href="http://www.thinkroadsafety.gov.uk/campaigns/childcarseats/childcarseats.htm" rel="nofollow">http://www.thinkroadsafety.gov.uk/campaigns/childcarseats/childcarseats.htm</a></p>
<h4><span class="mw-headline" id="Child_Seat_Types">Child Seat Types</span></h4>
<p><a class="external free" href="http://www.childcarseats.org.uk/types/index.htm" rel="nofollow">http://www.childcarseats.org.uk/types/index.htm</a></p>
<p>The following seats have been found to fit various Elise/Exige seats and provide a good starting point for the test fitting trip to Halfords or Mothercare.</p>
<h4><span class="mw-headline" id="Baby_Seats_-_Group_0_.28-9_months.29">Baby Seats - Group 0 (-9 months)</span></h4>

<ul>
<li>Maxicosi Cabrio</li>
<li>Brittax rockatot</li>
<li>Mamas and Papas Primo Viaggio SIP (without base)</li>
<li>Jane Travel System car seat - group 0+ ( to 13kg, -18 months)</li>
</ul>
<p><a class="image" href="http://wiki.seloc.org/a/Image:P1030003.JPG" ><img src="P1030003.JPG" width="220" />
</a>
Jane Travel System car seat</p>
<h4><span class="mw-headline" id="Child_Seats_Group_1_.289_months_-_4_years.29">Child Seats Group 1 (9 months - 4 years)</span></h4>

<ul>
<li>Maxicosi Priory (Note, not S2 Exige Touring with probax, seat very wobbly)</li>
<li>Britax Duo</li>
<li>Britax Prince (S1 Exige with motorsport seats)</li>
<li>Maxicosi Tobi (Fits S2 Exige Touring with probax superbly) 2009 model fits VX220 with cloth seats &#34;better than any seat/car combo&#34; the shop folks have ever seen. Also a great fit for Recaro front seats in the Evora.</li>
<li>Mama and Papas Pro-Tec (Fits brilliantly in an S1 with cloth seats)</li>
<li>Romer - Eclipse (Fits a standard S1 seat nicely).</li>
<li>Britax Evolva123 (Groups 1,2&#38;3)- suitable for the rear seats in the Evora</li>
</ul>

<h4><span class="mw-headline" id="Child_Booster_Seats_Group_2_.26_3_.284_years_-_11_years.29">Child Booster Seats Group 2 &#38; 3 (4 years - 11 years)</span></h4>

<ul>
<li>Britax Hi-Liner</li>
<li>Halfords Michelangelo</li>
<li>Britax Adventure</li>
</ul>

<h4><span class="mw-headline" id="Push_Chair.2FBuggies">Push Chair/Buggies</span></h4>
<p>You can even get a push chair to fit in the boot of the Elise!</p>
<p><b>Quinny Zapp</b></p>
<p>The Quinny Zapp is used by a few owners, and it can also take the Maxicosi Cabrio seat. The Zapp is a tried and tested fit in the boot of an S2 Exige S too, without even removing the wheels (the pushchair&#39;s, not the car&#39;s!)</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:QuinnyIn.JPG" ><img src="QuinnyIn.JPG" width="220" />
</a><a class="image" href="http://wiki.seloc.org/a/Image:QuinnyOut.JPG" ><img src="QuinnyOut.JPG" width="220" />
</a></p>

<p><b>Petite Star Zia</b></p>
<p>The Petite Star Zia is a similar design and fits in the boot of an Elise S2.  It also reclines and has a basket underneath, and has a slight price advantage.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:ZiaInS2.jpg" ><img src="ZiaInS2.jpg" width="220" />
</a></p>

<p><b>Quinny Yezz</b></p>
<p>A new kid on the block, The Quinny Yezz, even smaller than the Zapp!!</p>
<p>I was given one by Quinny as a fathers day present to review in a mans point of view, obviously I tried it in my S1 boot, it fitted with ease and with room to spare. It even fits in the passenger side footwell.</p>
<p><a class="external autonumber" href="http://www.lexiconpr.net/dorel/steveyezzreview2.pdf" rel="nofollow">[1]</a></p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:yezzandlotus.jpg" ><img src="yezzandlotus.jpg" width="220" />
</a>
<a class="image" href="http://wiki.seloc.org/a/Image:Yezzinboot.jpg" ><img src="Yezzinboot.jpg" width="220" />
</a></p>
<p>




</p>