<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<ul>
<li class="toclevel-1"><a href="#Wheel_Bolts">Wheel Bolts</a>
</li>
<li class="toclevel-1"><a href="#S1">S1</a>
</li>
<li class="toclevel-1"><a href="#S2">S2</a>
</li>
<li class="toclevel-1"><a href="#Warning">Warning</a>
</li>
</ul>
</ul>
</ul></td></tr></table><hr/>
<h3><span class="mw-headline" id="Wheel_Bolts">Wheel Bolts</span></h3>


<h3><span class="mw-headline" id="S1">S1</span></h3>

<p>M12 x 1.5 pitch thread</p>
<p>Be careful as they have a spherical? seat not a taper.</p>
<p>Wheel Nut Elise S1: A111G6001F as per parts manual</p>

<p>80-85NM (S1)</p>
<h3><span class="mw-headline" id="S2">S2</span></h3>


<p>M12x1.5 bolt with a  tapered seat. (eg. Vauxhall Corsa)</p>
<p>The length should be 25-30mm.  However the 135R OZ wheels are slightly thicker so will need a longer bolt.</p>
<p>Standard Wheel Bolt Elise S2: B117G6000F </p>
<p>105NM (S2)</p>
<h3><span class="mw-headline" id="Warning">Warning</span></h3>

<p>Do not over torque the nuts <b>they will shear</b> invest in a torque wrench or you will end up paying out for a new set of wheel bolts, or maybe a new car!</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:brokenbolt.JPG" ><img src="brokenbolt.JPG" class="location-left type-thumb" width="220" />
</a></div>
</div>



<p>



</p>