<h3><span class="mw-headline" id="General_elise_bolt_sizes">General elise bolt sizes</span></h3>







<p><b>Bolt Size: Follow the Thread</b></p>
<p>A thread is basically a continuous protruding or receding helical ridge formed along
the length of a cylinder.</p>
<p>This ridge is referred to as the crest.
The space between each of the crests, or ridge components of a fastener is the root. The crest and ridge of a bolt are set an angle, which is known as the helix angle.</p>


<p>Bolt sizes vary to accommodate differing major diameters. The major diameter is measured by taking into account the outer diameter of the tops of the thread crests on a bolt.</p>
<p>These measurements are expressed in millimetres, and are usually rounded off to the next highest whole number. </p>
<p>For example, A 3.98mm bolt will be referred to as a 4mm bolt.</p>
<p>To make things simpler, bolt sizes are broken down into the letter &#34;M,&#34; followed by a number. An M5 bolt for example, is simply a bolt with a five millimetre major diameter.</p>





<div style="page-break-inside: avoid;">
<table border="1" cellpadding="8" cellspacing="0">
<tr>
<td><b>Location of bolt</b></td>
<td align="right"><b>Size of bolt</b></td></tr>
<tr>
<td>Under tray small</td>
<td align="right">M5 20mm</td></tr>
<tr>
<td>Under tray large</td>
<td align="right">M8 25mm</td></tr>
<tr>
<td>S2 Access Panel</td>
<td align="right">M5 x 20mm (Button Head)</td></tr>
<tr>
<td>Enter info</td>
<td align="right">Enter info</td></tr>
<tr>
<td>Enter info</td>
<td align="right">Enter info</td></tr>
<tr>
<td>Enter info</td>
<td align="right">Enter info</td></tr>
<tr>
<td>Enter info</td>
<td align="right">Enter info</td></tr>
<tr>
<td>Enter info</td>
<td align="right">Enter info</td></tr>
<tr>
<td>Enter info</td>
<td align="right">Enter info</td></tr>
<tr>
<td>Enter info</td>
<td align="right">Enter info</td></tr>
<tr>
<td>Enter info</td>
<td align="right">Enter info</td></tr>
<tr>
<td>Enter info</td>
<td align="right">Enter info</td></tr></table></div>


<h3><span class="mw-headline" id="Stockists">Stockists</span></h3>

<p><a class="external free" href="http://www.speedyfasteners.com/" rel="nofollow">http://www.speedyfasteners.com/</a></p>
<p><a class="external free" href="http://www.stagonset.co.uk/" rel="nofollow">http://www.stagonset.co.uk/</a> </p>
<p><a class="external free" href="http://www.hes.uk.com/" rel="nofollow">http://www.hes.uk.com/</a> </p>
<p><a class="external free" href="http://www.tastynuts.com/" rel="nofollow">http://www.tastynuts.com/</a></p>
<p><a class="external free" href="http://www.bsr-aerotek.com/" rel="nofollow">http://www.bsr-aerotek.com/</a> </p>
<p>

</p>