<h2><span class="mw-headline" id="The_Alternator_belt">The Alternator belt</span></h2>

<p>The alternator belt on the Honda engine not only drives the alternator itself, but also the water pump.</p>
<p>If it starts to squeel when it&#39;s damp or cold then most likely the belt is worn out, or a wrong one is fitted.</p>
<p>The required belt should be for the Honda Civic EP3 TypeR WITHOUT A/C compressor. You can obtain one from the Honda dealer.</p>
<h2><span class="mw-headline" id="Cross-reference_part_numbers">Cross-reference part numbers</span></h2>

<p>A less costly option is to buy a generic replacement:</p>

<ul>
<li>Goodyear 7PK1287</li>
<li>GATES 7PK1283</li>
</ul>

<p>Do not use the GATES 7PK1290. It seems to work, but it will slip on the pulleys as it&#39;s just a little too long.</p>
<h2><span class="mw-headline" id="Replacing">Replacing</span></h2>

<p>Replacing the belt is not hard, but a little fiddly.</p>
<p>The Honda engine uses a spring-loaded belt tensioner, so it is not needed to manually tension the belt using the alternator like on the Rover engine.</p>
<p>Look throuhgh the side intake to see how the belt is routed across the pulleys.</p>
<p>To remove the old belt, put a size 14 spanner on the center bolt of the tensioner wheel and push it clockwise to relieve the tension on the belt. On an S2 with a Honda engine you can also use a swivel joint on a long extention bar and access the tensioner from the side air intake on the right hand side using a socket and ratchet.</p>
<p>Once the belt tension is relieved, slip it off the top idler pulley and carefully release the tensioner.</p>
<p>You can now remove the old belt from the crank pulley and remove it from the car.</p>
<p>Fitting the new belt is the reverse. Thread it in place andmake sure it&#39;s aligned properly on the crank pulley.</p>
<p>Push the tensioner clockwise again and work the belt over the top idler pulley edges.</p>
<p>Make sure it&#39;s sitting centered on the alternator, idler pulley and crank pulley. Check that it&#39;s also centered on the waterpump and tensioner roller/pulley. Gently allow the tensioner to take up the slack in the belt and let it tighten fully.</p>
<p>Once everything looks OK, start the engine and let it run a few minutes to distribute the tension on the belt evenly across it&#39;s length.</p>
<p>All done!</p>
<p>
</p>