
<p>The regular question &#34;I have adjustable dampers in my Elise, what settings should I use ?&#34; comes up, and here is the answer;</p>

<p><b>IT DEPENDS</b></p>

<p>Yes really there is no magic answer as it changes with principle stuff like Damper type, valving, Spring Rates, Tyre types, those Tyre pressures, ARB, Downforce, Wet/Dry conditions, weight of the car, your driving style .... so your on a personal voyage of discovery, and since most one way adjustable dampers have 24 settings, why not plan 4 sessions and start on full soft (usual for road) and stiffen by 6 steps each outing and compare results. If you CBA just set them in the middle (-12) and be done with it, and if you dont notice any difference your just not cornering hard enough !</p>

<p>Once you have found your natural position you can start tuning front to back, generally in steps of 2 clicks e.g.</p>
 
<p>Front damper harder (than optimum) = more understeer (address oversteer)</p>
<p>Rear damper harder (than optimum) = more oversteer (address understeer)</p>

<p>For Wet settings you generally need to soften dry settings (many run full soft) to allow the body to roll rather than breaking tyre traction.</p>

<p>For Damper settings we usually start at full hard (+) with valves closed and back off a number of steps (-) so settings are giving as &#34;steps from full hard&#34;.</p>

<p>I have see great track driving on Elises with standard Nitron 1 way adjustables on 400/475 springs A048/R888 tyres and dry track from -6 to -18, and I&#39;m sure some people run full hard or full soft. Whatever.</p>


<h3><span class="mw-headline" id="See_Also">See Also</span></h3>

<p><a class="external text" href="http://wiki.seloc.org/a/Ohlins_settings" rel="nofollow">Ohlins Settings</a></p>


<p>



</p>