<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#How_to_remove_the_dash_top_from_an_S2_Elise">How to remove the dash top from an S2 Elise</a>
<ul>
<li class="toclevel-2"><a href="#Remove_both_front_speaker_grilles_and_speakers">Remove both front speaker grilles and speakers</a>
</li>
<li class="toclevel-2"><a href="#Remove_both_speaker_panels">Remove both speaker panels</a>
</li>
<li class="toclevel-2"><a href="#Remove_plastic_capping_panel">Remove plastic capping panel</a>
</li>
<li class="toclevel-2"><a href="#Remove_steering_column_upper_and_lower_shrouds">Remove steering column upper and lower shrouds</a>
</li>
<li class="toclevel-2"><a href="#Remove_instrument_pack">Remove instrument pack</a>
</li>
<li class="toclevel-2"><a href="#Remove_dash_top">Remove dash top</a>
</li>
<li class="toclevel-2"><a href="#Alternative_dash_removal_method_without_removing_plastic_capping_panel">Alternative dash removal method without removing plastic capping panel</a>
</li>
<li class="toclevel-2"><a href="#Re-fitting">Re-fitting</a>
</li>
</ul>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="How_to_remove_the_dash_top_from_an_S2_Elise">How to remove the dash top from an S2 Elise</span></h2>


<p>The process is described in the S2 Service Manual, section BP pages 19-21.  My car (2002 model) was a little different to the manual however so the following guide might be useful.</p>

<h3><span class="mw-headline" id="Remove_both_front_speaker_grilles_and_speakers">Remove both front speaker grilles and speakers</span></h3>

<p>Straightforward.</p>
<h3><span class="mw-headline" id="Remove_both_speaker_panels">Remove both speaker panels</span></h3>

<p>On the driver&#39;s side one you will need to disconnect the hazard warning light switch.  The manual says to disconnect everything but it&#39;s not needed (and not obvious to me how to disconnect the light switches anyway - didn&#39;t want to break anything !)  The picture below shows what to disconnect (lower green circle)</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:S2dash015.jpg" title="Click to enlarge: Behind the driver&#39;s side speaker panel"><img src="S2dash015.jpg" alt="Click to enlarge: Behind the driver&#39;s side speaker panel" title="Click to enlarge: Behind the driver&#39;s side speaker panel" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click to enlarge: Behind the driver&#39;s side speaker panel</div></div>
</div>


<h3><span class="mw-headline" id="Remove_plastic_capping_panel">Remove plastic capping panel</span></h3>

<p>The manual says to remove the air vents from the panel.  Only the topmost rotating bit needs to be removed here.  On my car there were 2 screws in each vent attaching the capping panel to the dash fascia panel.  These are not mentioned in the manual, and will need to be removed.  The capping panel can then be pulled free (with a bit of force !)</p>
<p>Remove the two screws holding the dash fascia to the frame.  The drivers side one is shown on the picture above (upper green circle), and the passenger one is found likewise.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:s2dash005.jpg" title="Click to enlarge:Plastic capping panel removed"><img src="s2dash005.jpg" alt="Click to enlarge:Plastic capping panel removed" title="Click to enlarge:Plastic capping panel removed" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click to enlarge:Plastic capping panel removed</div></div>
</div>


<h3><span class="mw-headline" id="Remove_steering_column_upper_and_lower_shrouds">Remove steering column upper and lower shrouds</span></h3>

<p>The lower shroud is held on by two screws (on my car anyway - the manual says 3 screws...), as shown below.  The manual says to disconnect the trip button but I didn&#39;t see a need to - the wire is long enough to let the shroud rest on the floor while you continue working</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:s2dash008.jpg" title="Click to enlarge:Lower shroud screws - under steering wheel"><img src="s2dash008.jpg" alt="Click to enlarge:Lower shroud screws - under steering wheel" title="Click to enlarge:Lower shroud screws - under steering wheel" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click to enlarge:Lower shroud screws - under steering wheel</div></div>
</div>


<p>The upper shroud is held on by four screws as shown below</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:S2dash007.jpg" title="Click to enlarge:Upper shroud screws"><img src="S2dash007.jpg" alt="Click to enlarge:Upper shroud screws" title="Click to enlarge:Upper shroud screws" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click to enlarge:Upper shroud screws</div></div>
</div>


<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:S2dash010.jpg" title="Click to enlarge:Shrouds removed"><img src="S2dash010.jpg" alt="Click to enlarge:Shrouds removed" title="Click to enlarge:Shrouds removed" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click to enlarge:Shrouds removed</div></div>
</div>

<p>]</p>

<h3><span class="mw-headline" id="Remove_instrument_pack">Remove instrument pack</span></h3>

<p>The instrument pack is secured by two bolts (M11 IIRC), one of which is shown below</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:S2dash009.jpg" title="Click to enlarge:Instrument pack retaining bolt"><img src="S2dash009.jpg" alt="Click to enlarge:Instrument pack retaining bolt" title="Click to enlarge:Instrument pack retaining bolt" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click to enlarge:Instrument pack retaining bolt</div></div>
</div>


<p>Disconnect the wiring harness from the instrument pack</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:S2dash013.jpg" title="Click to enlarge:Instrument pack wiring harness"><img src="S2dash013.jpg" alt="Click to enlarge:Instrument pack wiring harness" title="Click to enlarge:Instrument pack wiring harness" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click to enlarge:Instrument pack wiring harness</div></div>
</div>


<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:S2dash014.jpg" title="Click to enlarge:Instrument pack removed"><img src="S2dash014.jpg" alt="Click to enlarge:Instrument pack removed" title="Click to enlarge:Instrument pack removed" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click to enlarge:Instrument pack removed</div></div>
</div>


<h3><span class="mw-headline" id="Remove_dash_top">Remove dash top</span></h3>

<p>The manual says to remove the plastic finished above the climate controls : I did this but not entirely sure it was required.  UPDATE:  yes, this is required.  As well as holding the plastic finish to the dash, it also secures the top of the dash to the metal frame of the front of the dash.</p>
<p>Now remove the dash top by lifting the near most edge of the dash (to release the locating bosses from the keyhole slots in the dash) and pulling it towards you.</p>
<h3><span class="mw-headline" id="Alternative_dash_removal_method_without_removing_plastic_capping_panel">Alternative dash removal method without removing plastic capping panel</span></h3>

<p>Instead of removing the plastic capping panel as described above, it is possible to get the entire dash out with the plastic capping panel attached.</p>
<p>Instead of removing the plastic capping panel, just remove the 4 screws that hold the ends of the plastic capping panel to the front of the dashboard. There are 2 screws at each end of the dash, above where the speakers go.</p>
<p>Remove the steering column shrouds, instrument pack and plastic finish above the climate controls (as described above.)</p>
<p>You can then gently bend or bow the plastic capping panel inwards at both ends, whilst moving the whole dash board to the right (drivers side), and slipping the left (passenger side) end out past the windscreen pillar. To avoid risk of scuffing the left pillar a piece of cloth can first be placed over the end of the capping panel where it will rub the pillar, although the windscreen pillar appears to be pretty tough material and hard to scuff.</p>
<h3><span class="mw-headline" id="Re-fitting">Re-fitting</span></h3>

<p>Basically the reverse of the above.  Only tricky bit is re-assembling the steering column shrouds and instrument pack : loosely assemble the shrouds first before replacing the instrument pack and then tighten everything up.</p>
<p>The image below shows the keyhole slots (bottom green circles) and spigot pin holes (top green circles) that the dash top slots into on refitting.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:S2dash016.jpg" title="Click to enlarge:Dash removed, showing holes used to refit"><img src="S2dash016.jpg" alt="Click to enlarge:Dash removed, showing holes used to refit" title="Click to enlarge:Dash removed, showing holes used to refit" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click to enlarge:Dash removed, showing holes used to refit</div></div>
</div>


<p>

</p>