
<p>Instructions for replacing the Central Locking Module (CDL Module in Lotus-speak). These instructions are for a 05 Elise 111R, but it&#39;s probably very similar for other models. If you go to a dealer to get this done they do it the correct way by taking the whole dash apart and they charge 4 hours labour. I did this using the procedure below in 45 minutes without losing any blood.</p>
<p>The part number needed is A116M6048F. You can get this from a Lotus dealer - I paid £38.71 from Lispcomb.</p>
<p>The module itself looks like this. You can see that the circuit board is held into the case by 4 tabs - one on each side. The existing case will be left in the car and just the circuit board replaced (these two pics are from <a class="external text" href="http://forums.seloc.org/member.php?action=viewpro&#38;member=monkski" rel="nofollow">monski</a> - cheers).
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:CDLModuleReplace-CDM.jpg" title="CDM"><img src="CDLModuleReplace-CDM.jpg" alt="CDM" title="CDM" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">CDM</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:CDLModuleReplace-EndTabs.jpg" title="End Tabs"><img src="CDLModuleReplace-EndTabs.jpg" alt="End Tabs" title="End Tabs" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">End Tabs</div></div>
</div>

<p>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
The procedure is fairly simple but it&#39;s not very easy to do because of the limited access. You have to stick your hand in through the side window vent hole - my hand was a tight fit but once it was in there was enough space to work. If you&#39;ve got bigger hands or wrists it would be a lot more difficult. Also, the edges of the bits of aluminium are pretty sharp so be careful.</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Procedure">Procedure</a>
<ul>
<li class="toclevel-2"><a href="#Remove_light_switch_panel">Remove light switch panel</a>
</li>
<li class="toclevel-2"><a href="#Move_vent_hose">Move vent hose</a>
</li>
<li class="toclevel-2"><a href="#Remove_module">Remove module</a>
</li>
<li class="toclevel-2"><a href="#Put_it_all_back_together">Put it all back together</a>
</li>
</ul>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Procedure">Procedure</span></h2>
<h3><span class="mw-headline" id="Remove_light_switch_panel">Remove light switch panel</span></h3>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:CDLModuleReplace1.jpg" title="Light switch panel removed"><img src="CDLModuleReplace1.jpg" alt="Light switch panel removed" title="Light switch panel removed" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Light switch panel removed</div></div>
</div>

<p>
Unscrew the 4 torx screws holding the panel in and move it to one side. You can disconnect the switches or just be careful not to pull the wires too hard.
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:CDLModuleReplace2.jpg" title="Light switch panel removed 2"><img src="CDLModuleReplace2.jpg" alt="Light switch panel removed 2" title="Light switch panel removed 2" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Light switch panel removed 2</div></div>
</div>

<p>
You&#39;ll then be faced with the hose that carries the air to the side window vent. This needs to be moved as the module is behind it.
<br /><br /><br /><br /><br /><br /><br /><br /><br />
</p><h3><span class="mw-headline" id="Move_vent_hose">Move vent hose</span></h3>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:CDLModuleReplace3.jpg" title="Move vent hose 1"><img src="CDLModuleReplace3.jpg" alt="Move vent hose 1" title="Move vent hose 1" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Move vent hose 1</div></div>
</div>

<p>
The vent hose needs to be moved to the left as you look at it. It&#39;s fixed by 2 plastic tabs - one at the top and one at the bottom - that fit into slots in the aluminium. It requires quite a bit of force to get it out - I managed to do it by twisting the whole end part anticlockwise and bending it slightly.
<br /><br /><br /><br /><br /><br /><br /><br /><br />
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:CDLModuleReplace4.jpg" title="Move vent hose 2"><img src="CDLModuleReplace4.jpg" alt="Move vent hose 2" title="Move vent hose 2" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Move vent hose 2</div></div>
</div>

<p>
Once you&#39;ve freed it push it out of the way to the left.
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</p><h3><span class="mw-headline" id="Remove_module">Remove module</span></h3>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:CDLModuleReplace5.jpg" title="Module 1"><img src="CDLModuleReplace5.jpg" alt="Module 1" title="Module 1" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Module 1</div></div>
</div>

<p>
</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:CDLModuleReplace6.jpg" title="Module 2"><img src="CDLModuleReplace6.jpg" alt="Module 2" title="Module 2" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Module 2</div></div>
</div>

<p>
<br />
You can now see the module. It&#39;s on the right under the big bit of foam with the orange wire sticking out of it. You need to unplug the module, the connector seemed to come off quite easily with a bit of wiggling. To get the circuit board out of the case I just jammed a smallish screwdriver down the left side of the circuit board and levered it out bit by bit.</p>
<p>Once the board is out you can put the new one in. The bit of grey foam gets in the way here, I managed to use the CDL connector to hold the foam up out of the way so I could get the new board in. It&#39;s quite tricky as you can&#39;t see what you&#39;re doing so you have to do it by feel.</p>
<p>Test that the new module works as expected.</p>
<h3><span class="mw-headline" id="Put_it_all_back_together">Put it all back together</span></h3>
<p>Once it&#39;s in you just need to put everything back. The hose is a PITA to get back, but it just needs a bit of force to get it back in place. Then put the switch panel back in, carefully pushing all the wires back in to the gap where they came from. Before screwing it all back together be sure to check that the switches all still work as I managed to disconnect the headlight switch by accident.</p>
<p>Thanks to all those that replied on <a class="external text" href="http://forums.seloc.org/viewthread.php?tid=199857" rel="nofollow">this thread</a> and others for the information on how to do this.</p>
<p>


</p>