
<p>
I know very little about engines.  When my car won&#39;t start, I haven&#39;t a clue what to do, where to look or what to try.  It&#39;s depressing and you feel helpless</p>
<p>This is hopefully going to be a reference for things to try when your car is broken or won&#39;t start.  It should provide a valuable starting place when you get that sinking feeling in your stomach and the search function is not helping.</p>
<p>It will no doubt become full of anecdotal advice, some of which may be contradictory or may not be relevant to your particular model.  If you want to add to it, please keep to SOLUTIONS THAT HAVE WORKED rather than conjecture.  That way it should cut down on arguments or deletions.</p>

<p>I&#39;ll start with a couple of my own soon but i&#39;m not yet sure how to create subcategories.  Feel free to edit, but consider it work in progress.  If you know how to create subcategories under the main category of &#34;Troubleshooting&#34;,  please do it and save time.  Thanks  :-)</p>

<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Car_Won.27t_Start">Car Won&#39;t Start</a>
</li>
<li class="toclevel-1"><a href="#Noises_whilst_Driving">Noises whilst Driving</a>
</li>
<li class="toclevel-1"><a href="#Dash_has_died_.28S2.29">Dash has died (S2)</a>
</li>
<li class="toclevel-1"><a href="#Lights_stay_on_all_of_the_time">Lights stay on all of the time</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Car_Won.27t_Start">Car Won&#39;t Start</span></h2>

<p><b>Absolutley nothing happens when key is turned</b>  (if you know solution, please edit this paragraph and supply an answer)  </p>
<p><i>Battery flat</i></p>
<p><i>Immobiliser relay </i> - not working?  don&#39;t know much abvout this, can anyone edit?</p>
<p><b>Clicking noise when ignition is turned</b> - Some charge in the battery, but not enough or starter motor is dead.  Charge battery or maybe jumpstart.</p>
<p>You&#39;ll know if its the battery as the dash / headlights will dim when you attempt to start the car.</p>
<p>If starter motor, put car in 4th and push backwards a little, remove from 4th gear then try starting.</p>

<p><b>Dash lights up but that&#39;s it</b> 
did you hear the whirr of the fuel pump?  if not, it could be one of the following reasons:  </p>
<p><i>Fuel pump knackered</i> - Apparently this is relatively uncommon but can happen.  (can anyone who&#39;s had this happen edit this and explain how it was solved please).  Fuel pump not working can also be caused by a wire that has rubbed sufficently that the plastic sheath has worn through and the wires have corroded and eventually snapped causing no power to the fuel pump. </p>
<p><i>Fuel pump fuse has blown</i> (located in the boot on S1s) - Look in the passenger side of the boot and you&#39;ll find a black plastic circle.  remove this and fiddle around inside until you can grab fuse.  pliers are handy.  20A yellow fuse.</p>
<p><i>Problem with wiring</i> - By the passenger seat (S1) is a small, metal, circular inspection cover.  Remove this and someone handy with a multimeter can check if the fuel pump is drawing any current when ignition is turned.  May help eliminate a problem, if not identify it.</p>
<p><i>Inertia switch has triggered</i> - this is in the engine compartment (S1) and triggers in the case of an accident so that the fuel is cut off and reduces the risk of fire.  it can be pressed to reset.  It&#39;s like a big rubber button facing skywards, near the MFRU box.</p>
<p><i>MFRU (Multifunction Relay Unit)</i> - this is a plastic box toward the rear of the engine compartment.  It has a couple of big square plastic connectors and lots of wire going into it.  I got water in mine after a particularly wet weekend.  Had the symptoms described above.  Drying the box helped restart the car but it went again due to corroded contacts on the connectors.  Replacing the box (circa £40) solved the problem.</p>


<p><b>Starter Motor turns but the engine won&#39;t catch</b></p>
<p><i>You have put fuel in it, haven&#39;t you?</i>  - Oh how i laughed when both my brother and Mr AA man couldn&#39;t get his Vauxhall Nova to start.  Tank was empty.  Brother is a mechanic.  Fools.</p>
<p><i>Has it rained heavily recently?</i>  Due to the engine cover having vents/holes in it (thereby making it unsuitable as a &#39;cover&#39;), water can get to various places quite easily.</p>
<p><i>Is there a spark getting to the sparkplugs?</i> -  You can check for a spark by removing the king lead at the dizzy end and lying it on the engine. Turn over the car for a few revolutions and see if you get a good healthy blue spark. This is best done whilst NOT in strong sunlight, so a closed garage will do.
If there is a spark there then repeat the spark test at the spark plug end. If no spark then possibly the crank position sensor has gone south. If all ok (it sparks ok) then maybe the coolant sensor/air temp sensor/TPS. Unplugging the coolant/air sensors should mean the ECU &#39;replaces&#39; those sensor vaues with &#39;default&#39; ones. There was also a thread recently about someone who disconnected the TPS to get them home so I would assume the ECU has default values for that as well.</p>
<p><i>Dry the Distributor Cap</i> - This can be removed and dried quite easily in about 5-10 mins.  Remember which lead attaches where.</p> 
<p><i>Check the Distributor Rotor Arm</i>  - Despite my car producing a spark, it was misfiring on acceleration.   Mr AA man diagnosed it as a small crack in the contacts of the Rotor Arm.  Replaced for £7 quid, everything has worked fine since.</p>
<p><i>Check the Sparkplugs</i> - Despite there being a cover over them, they can get water ingress.  Remove the cover and pull the plastic tab.  The rubber plug covers look like this:  which one do you think was faulty?
<a class="external autonumber" href="http://gallery.seloc.org/albums/userpics/28610/Photo-0047.jpg" rel="nofollow">[1]</a>.</p>
<p>See the Sparkplug Wiki page for replacement info.  Can be bought from Halfrauds, nothing special.  They even listed Lotus in the flipchart thing, which i was surprised about.</p>
<p><i>Is fuel getting to the engine?</i> - Fuel pump problem? Also worth checking the &#39;multiplugs&#39; just forward of the ECU and giving them a squirt of contact cleaner. Check the earth plate in the left rear corner of the engine bay and clean up the contacts with emery paper.
Make sure the inertia switch hasn&#39;t popped up. The latch degrades over time and doesn&#39;t necessarily need a sudden shock to activate.</p>

<p>Other suggestions from the forums include:</p>
- check inertia switch
- check fuel pump fuse
- check if fuel pump primes
- if fuel problem can be excluded...
- check, or speculatively replace
<p>. HT leads, master HT lead
. distributor cap and rotor arm
. coil pack
. crankshaft sensor</p>
<h2><span class="mw-headline" id="Noises_whilst_Driving">Noises whilst Driving</span></h2>

<p><b>Grinding Noises</b></p>
<p><i>Stones</i> - could be stones caught between the brake disc and the brake pad.  Do you have unexpected circular grooves ground out of the disc?  Since the wheel is moving forwards, sometimes a quick reverse can dislodge the stone.  Failing that, remove the wheel and take out the brake pad</p>
<p><i>Wheel Bearings</i> - When mine went, I got a grinding, whirring noise that was related to car speed, not engine speed.  It was there even when I depressed the clutch and the noise &#39;wound down&#39; in pitch as the car coasted to a halt.  Can also manifest itself when turning either left or right, indicated a problem side.</p>
<p><b>Clunking</b></p>
<p>my (standard) 111R has just developed a worrying road speed clunk from the rear.
It&#39;s only noticeable a really slow speeds (2-10mph) and is even accompanied by a slight &#39;catching&#39; sensation.   It sounds to me like driveshafts?</p>
<p>Figured it out - it&#39;s a sticky rear caliper that binds slightly every revolution.</p>

<h2><span class="mw-headline" id="Dash_has_died_.28S2.29">Dash has died (S2)</span></h2>

<p><i>Car works, some lights come on but needles don&#39;t move</i>  - Could perhaps be caused by a bad earth.  Disconnecting from the battery and reconnecting may &#39;reboot&#39; the Stack Unit and sort out the problem (anecdotal advice)</p>


<h2><span class="mw-headline" id="Lights_stay_on_all_of_the_time">Lights stay on all of the time</span></h2>

<p>&#34;I have a new electrical problem in that my passenger front and rear sidelights come on and stay on as soon as the ignition is turned. No combination of pressing light switches makes them go out, they are still on once the engine is started. The front side light seems to pulse when the engine is running.
I have fitted a new battery last month and I have checked all earth points are good and clean.</p>
<p>I have finally cured this problem:
Certainly took a bit of finding. This was caused by the wiring loom being chaffed in the centre tunnel between the two footwells. The lower nut that holds the driver footrest on had rubbed through one of the large wires which shorted and took out five smaller wires. It eventually blew the 50amp ignition fuse and it was only after the car started stalling that I realised the problem was bigger than just the lights playing up. I only managed to find this due to me starting the car before I got in, I happened to catch the footrest as I got in and the fuse blew again. There is very little movement of the footrest, but just the weight of my foot on it was enough to cause it to blow.
It looks like the halfords muppets that fitted the stereo and sub for the previous owner managed to trap the loom when they rammed their wiring in and it took a couple of years to cause damage as I dont use the foot rest that often&#34;</p>