
<p><b>Change a Honda&#39;d S1 inner driveshaft boot. (Near side)</b></p>
<p>Note that this is Norfolk-n-Proud&#39;s Phoenix Honda conversion, other conversions may be subtly different put the main principles remain the same.</p>
<p><b>Parts Required:</b>
</p>
<ul>
<li>Official Honda Type R inboard boot kit.</li>
<li>2x new boot bands (I used the type that have the hooks and holes, as they fit very tight)</li>
</ul>
 
<p><b>Tools Required:</b>
</p>
<ul>
<li>32mm socket</li>
<li>19mm socket</li>
<li>19mm spanner</li>
<li>8mm hex</li>
<li>3 leg puller</li>
<li>circlip pliers</li>
<li>vice</li>
<li>rubber hammer</li>
<li>tipex</li>
<li>Prybar</li>
<li>band crimp tool. </li>
</ul>
 
<p><b>Considerations:</b>
</p>
<dl>
<dd>The Honda CV grease for the inbound joint differs from the grease thats used for the outer joint.The Honda boot is made of tough stuff and will not strech over a boot tool or air tool like OEM strechy ones, the only way to fit the standard honda boot is to completely remove the driveshaft from the car and dismantle the tripod joint. The Hub bolt may be done up very tight, I needed an 1 inch drive wrench with a 4foot piece of scaffold tube to brake mine with a friend in the car practically standing on the brakes.</dd>
</dl>
 
<p><b>Step 1</b>
</p>
<dl>
<dd>Remove the lotus wheel centre to allow access to the hub bolt, using a 32mm socket and as manly wrench as you can, with the assistance of a friend in the car holding the brakes (hard) loosen the hub bolt.</dd>
</dl>
 
<p><b>Step 2</b>
</p>
<dl>
<dd>loosen the wheel bolts, jack and if possible axlestand the car (or if you are lucky enough to have access to a hydraulic lift, that&#39;s a bonus !)</dd>
</dl>
 
<p><b>Step 3</b>
</p>
<dl>
<dd>Remove Wheel bolts, wheel, and hub bolt.</dd>
</dl>
 
<p><b>Step 4</b>
</p>
<dl>
<dd>Using a 19mm socket and spanner remove the bolt holding the shock to the bottom wishbone.</dd>
</dl>
 
<p><b>Step 5</b>
</p>
<dl>
<dd>Using an 8mm hex socket, remove the 2 bolts holding the top wishbone&#39;s arm (the bit the ball joint bolts into) be careful to catch all the camber shims that fallout and ensure they are set aside to go back with the bolts.</dd>
</dl>

<p><a class="image" href="http://wiki.seloc.org/a/Image:IMG_0252.jpg" ><img src="IMG_0252.jpg" width="220" />
</a></p>
<p><b>Step 6</b> 
</p>
<dl>
<dd>The bottom wishbone should now drop away, using a rubber hammer give the driveshaft end a clout to release from hub, carefully drop the hub assembly away so the driveshaft is now out of the hub. Keep a close eye on the tension on the brake hose, suspend the bottom wishbone if necessary.</dd>
</dl>

<p><a class="image" href="http://wiki.seloc.org/a/Image:Img02252.jpg" ><img src="Img02252.jpg" width="220" />
</a></p> 
<p><b>Step 7</b>
</p>
<dl>
<dd>Carefully suspend the driveshaft and use a prybar to unclip the driveshaft from the gearbox. at this stage you may well find depending on your conversion, the driveshaft will not withdraw because of the limited space in the subframe. If this is the case remove both the existing inboard boot bands and draw the boot towards the outer of the shaft.</dd>
</dl>
 
<p><b>Step 8</b> 
</p>
<dl>
<dd>Carefully withdraw the shaft being careful not to seperate the inboard joint, or damage the rubber gearbox oil seals, Its important for wear purposes the correct tripods go back into the correct slots in the driveshaft end.</dd>
</dl>
 
<p><b>Step 9</b>
</p>
<dl>
<dd>Using a rag, remove as much of the grease as possible whilst keeping the join together, then follow up with a quick spray with a degreasing solvent. once the solvent has dried, using the tippex mark one of the tripod recesses along with the tripod shaft. allow tippex to dry and then extract the driveshaft from the driveshaft-end.</dd>
</dl>

<p><a class="image" href="http://wiki.seloc.org/a/Image:Hondatripod.jpg" ><img src="Hondatripod.jpg" width="220" />
</a><a class="image" href="http://wiki.seloc.org/a/Image:Hondadsend.jpg" ><img src="Hondadsend.jpg" width="220" />
</a></p> 
<p><b>Step 10</b>
</p>
<dl>
<dd>Clean up more if necessary being careful not to remove the tippex. remove the circlip retaining the tripod join in place on the end of the shaft. then using a 3 leg puller, attach to the end of the shaft and tigten to draw the tripod joint from the shaft.</dd>
</dl>

<p><a class="image" href="http://wiki.seloc.org/a/Image:removedtripod.jpg" ><img src="removedtripod.jpg" width="220" />
</a></p> 
<p><b>Step 11</b> 
</p>
<dl>
<dd>Slide the new Honda boot onto the shaft as far down so it touches the outboard boot, then clamp the shaft in a soft jaw vice place the tripod join on the shaft as far as you can, then using a socket the size of the tripod joint and a rubber hammer, reseat the tripod back onto the shaft far enough to refit the circlip.</dd>
</dl>
 
<p><b>Step 12</b>
</p>
<dl>
<dd>Place a helping of cv grease in each of the 3 tripod recesses in the shaft end and then re-insert the shaft (complete with freshly installed tripod) into the shaft end ensuring the previous tippex marks line up with the correct joint), add further cv grease, but save 2/3rds back to squeeze into the boot itself (don&#39;t do this yet however)</dd>
</dl>
 
<p><b>Step 13</b>
</p>
<dl>
<dd>Reinstall the shaft into the gearbox, keeping the inboard boot out of the way at the far end of the shaft so its not caught or damaged / snagged on the subframe. the shaft itself will need a good press into place, until the snap-ring locks it into place. now the boot can be filled with the remainder of the grease and slid up and over the joint.</dd>
</dl>
 

<p><b>Step 14</b>
</p>
<dl>
<dd>Install the largest (inner) clip. tighten as best you can with your hands, then use the crimp tool to tighten, ensuring the band is in the boot recess and keeps perfectly round and neat.</dd>
</dl>
 
<p><b>Step 15</b>
</p>
<dl>
<dd>Press the smaller (outer) end of the boot up towards the gearbox, until a tiny bit of grease comes out, this ensures as much air is extracted as possible, then pull down to the boot back to the notch for the outer band. install the smaller band as in Step 14.</dd>
</dl>
 
<p><b>Repeat steps 6 through to 1 in reverse for re-assembly, using the following torque settings:</b></p> 

<dl>
<dd>Damper to wishbone: 33lb/ft</dd>
<dd>Hub Bolt: 161lb/ft + final crack with extension bar.</dd>
<dd>bolts into hub through ball joint plynth: 33lb/ft</dd>
</dl>

<p>



</p>