
<p>Replacing the exhaust flexi section can be a pain but with a bit of perserverance you can do it and save yourself a few quid.  Here&#39;s how to do it:-</p>

<ol>
<li><b>Make sure exhaust IS NOT hot!!</b></li>
<li>Remove rear and mid undertray (can be removed together)</li>
<li>Spray penetrating oil on all four studs\nuts that connect flexi section to exhaust manifold, also spray some on the Anti-tizz bolts that connect it to the engine block as you will have to remove the bracket if it&#39;s fitted.</li>
<li>Go and have your dinner and get a good nights sleep whilst the penetrating oil does it&#39;s job!!</li>
<li>Using socket with extension undo four nuts holding flexi section to manifold, this is made quite a bit easier if you use a UJ on the socket extension.  Hardest one to get to is the one nearest the heat shield but the heat shield can be slightly moved to gain the required access to undo the nut.</li>
<li>Undo 3 bolts holding flexi section to the cat\cat replacement pipe</li>
<li>Undo two bolts fixing the flexi section exhaust hanger in place just abive the cat connection</li>
<li>If in place remove two bolts holding the Anti-Tizz bracket to the engine block. When you first see this you will think there is no way these can be got to from below but it can be done with a bit of patience using an open ended spanner</li>
<li>Remove exhaust section</li>
<li>Replacement is a reversal of removal but it is advisable to use new gaskets on both ends</li>
</ol>

<p>
</p>