
<div style="page-break-inside: avoid;">
<table align="right" cellpadding="2" cellspacing="0" class="infobox" font="3" rules="rows" style="font-size:85%; width:25em; border-collapse:collapse; border:1px solid black;">
<tr style="background:LightBlue;">
<td align="center" colspan="2" style="font-size: larger;"><b>Time &#38; Tools</b></td></tr>
<tr>
<th>Time:</th>
<td>Approx 1 hour - Assuming everything comes apart nicely and the outside bearing racer doesn’t snap off and stay attached to the hub flange - in which case you will need to carefully cut it off using an air grinder etc.</td></tr>
<tr>
<th>Tools:</th>
<td>17, 19 and 2 x 24mm Sockets<br />2 x Extension bars<br />2 x Big wrenches or Breaker Bars<br />17mm Spanner<br />8mm Hex head socket or Allen key<br />Torque wrench<br />Bearing circlip pliers<br />Penetrating fluid<br />Hydraulic press (at least 10 tonne)<br />Duralac<br />Threadlock or Pipe Sealer<br />Toothbrush<br />CV Grease<br />Fine Sandpaper<br />Oven</td></tr></table></div>

<h1><span class="mw-headline" id="Preparation">Preparation</span></h1>

<p><b>Before you start, take your new wheel bearing and pop in the freezer until required! This will ensure the bearing is as small as it can be prior to fitment!</b></p>
<h1><span class="mw-headline" id="Replacing_the_bearing">Replacing the bearing</span></h1>

<p><b>1.</b> Whilst the car is sitting on the ground, pop the wheel cap off and using a breaker bar and a <b>24mm</b> socket crack the torque off the M16 Clamp bolt as this is tightened to <b>210Nm</b>.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Wheel-bearing-1.JPG" title="Loosening the M16 Clamp bolt"><img src="Wheel-bearing-1.JPG" alt="Loosening the M16 Clamp bolt" title="Loosening the M16 Clamp bolt" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Loosening the M16 Clamp bolt</div></div>
</div>

<p>Jack up the car and <a href="http://wiki.seloc.org/a/Remove_the_wheels" title="Remove the wheels">remove the wheel</a>. Whilst it’s off you may also wish to take the opportunity to clean it thoroughly.</p>

<p><b>2.</b> Remove the 2 bolts holding the calliper to the hub body using an <b>8mm</b> hex socket or Allen key. (bolt to be re-installed using thread lock or pipe sealer and tightened to <b>45Nm</b></p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Wheel-bearing-2.JPG" title="Calliper bolt locations"><img src="Wheel-bearing-2.JPG" alt="Calliper bolt locations" title="Calliper bolt locations" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Calliper bolt locations</div></div>
</div>

<p>Providing your discs are not too badly worn, you should be able to extract the calliper complete with pads without having to remove the pads. Ensure the calliper is suspended to prevent any damage to the brake pipe work. Next remove the brake disc.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Wheel-bearing-3.JPG" title="Brake disc and calliper removed and properly supported"><img src="Wheel-bearing-3.JPG" alt="Brake disc and calliper removed and properly supported" title="Brake disc and calliper removed and properly supported" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Brake disc and calliper removed and properly supported</div></div>
</div>


<p><b>3.</b> Remove the M16 Clamp bolt using a <b>24mm</b> socket on each side</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Wheel-bearing-4.JPG" title="M16 Clamp bolt removed"><img src="Wheel-bearing-4.JPG" alt="M16 Clamp bolt removed" title="M16 Clamp bolt removed" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">M16 Clamp bolt removed</div></div>
</div>


<p><b>4.</b> Now loosen all 6 bolts retaining the steering arm and bottom ball joint plinth. 2 x <b>8mm</b> hex bolts on steering arm, 4 x <b>17mm</b> bolts on the bottom plinth.</p>

<p><b>5.</b> Remove the 4 x <b>17mm</b> bolts attaching the bottom plinth, note a <b>17mm</b> spanner will be necessary for the front 2 bolts do to limited clearance for a socket. When these bolts are re-installed they should be tightened to <b>45Nm</b>, thread lock applied to bolts and Duralac applied to the plinth to prevent corrosion.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Wheel-bearing-5.JPG" title="Lower hub bolt locations"><img src="Wheel-bearing-5.JPG" alt="Lower hub bolt locations" title="Lower hub bolt locations" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Lower hub bolt locations</div></div>
</div>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Wheel-bearing-6.JPG" title="Removing the front lower hub bolts with a screwdriver"><img src="Wheel-bearing-6.JPG" alt="Removing the front lower hub bolts with a screwdriver" title="Removing the front lower hub bolts with a screwdriver" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Removing the front lower hub bolts with a screwdriver</div></div>
</div>

<p>It may be necessary to prize the hub from the plinth with a flat screwdriver as previous application of duralac will cause them to stick together.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Wheel-bearing-7.JPG" title="Prizing the hub and plinth apart"><img src="Wheel-bearing-7.JPG" alt="Prizing the hub and plinth apart" title="Prizing the hub and plinth apart" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Prizing the hub and plinth apart</div></div>
</div>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Wheel-bearing-8.JPG" title="Once separated, apply Duralac to the plinth"><img src="Wheel-bearing-8.JPG" alt="Once separated, apply Duralac to the plinth" title="Once separated, apply Duralac to the plinth" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Once separated, apply Duralac to the plinth</div></div>
</div>


<p><b>6.</b> Remove the 2 x <b>8mm</b> hex bolts connecting the steering arm ensuring you catch any camber shims that fall out, note Duralac again should be applied to the nearest shim to the alloy hub and bolts re-installed at <b>45Nm</b> with thread lock.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Wheel-bearing-9.JPG" title="Steering arm bolt location, when removing watch for camber shims"><img src="Wheel-bearing-9.JPG" alt="Steering arm bolt location, when removing watch for camber shims" title="Steering arm bolt location, when removing watch for camber shims" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Steering arm bolt location, when removing watch for camber shims</div></div>
</div>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Wheel-bearing-10.JPG" title="Apply Duralac to the shim touching the alloy hub"><img src="Wheel-bearing-10.JPG" alt="Apply Duralac to the shim touching the alloy hub" title="Apply Duralac to the shim touching the alloy hub" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Apply Duralac to the shim touching the alloy hub</div></div>
</div>


<p><b>7.</b> Now the hub is removed the specialist tool and part where you make your missus very angry begins.</p>
<p>Spray the bearing and inner hub carrier thoroughly with penetrating fluid and leave a few minutes to soak.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Wheel-bearing-11.JPG" title="Hub removed"><img src="Wheel-bearing-11.JPG" alt="Hub removed" title="Hub removed" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Hub removed</div></div>
</div>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Wheel-bearing-12.JPG" title="Hub sprayed with penetrating fluid"><img src="Wheel-bearing-12.JPG" alt="Hub sprayed with penetrating fluid" title="Hub sprayed with penetrating fluid" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Hub sprayed with penetrating fluid</div></div>
</div>

<p>Using a socket which is slightly smaller than the inner bearing shaft of the hub flange suspend the hub flange facing down and press the flange free of the bearing assembly.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Wheel-bearing-13.JPG" title="Pressing the flange shaft out from the hub"><img src="Wheel-bearing-13.JPG" alt="Pressing the flange shaft out from the hub" title="Pressing the flange shaft out from the hub" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Pressing the flange shaft out from the hub</div></div>
</div>

<p><b>Ensure none of the wheel studs do not contact the stand base or they will be pressed from the flange too.</b></p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Wheel-bearing-14.JPG" title="The removed flange shaft"><img src="Wheel-bearing-14.JPG" alt="The removed flange shaft" title="The removed flange shaft" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">The removed flange shaft</div></div>
</div>

<p>Clean the flange shaft and if necessary use the fine sand paper to remove any corrosion, apply a tiny bit of grease to aid re-assembly once the bearing has been replaced.</p>

<p><b>8.</b> Clean the hub assembly thoroughly and remove the 2 cir-clips front and rear using special cir-clip pliers.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Wheel-bearing-15.JPG" title="Removing the cir-clip"><img src="Wheel-bearing-15.JPG" alt="Removing the cir-clip" title="Removing the cir-clip" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Removing the cir-clip</div></div>
</div>

<p>Pre-heat an oven to 90degrees and place the whole hub on a piece of greaseproof paper for 20 minutes.</p>
<p>After 20 minutes, remove the hub spray some more penetrating fluid on the bearing itself, this will cause the bearing to cool quicker whilst the alloy is still warm.</p>

<p><b>9.</b> Pop the whole assembly in the press with the flattest side facing down, allowing space beneath for the bearing to drop clear. Using a large socket to press the bearing clear.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Wheel-bearing-16.JPG" title="Pressing out the old bearing"><img src="Wheel-bearing-16.JPG" alt="Pressing out the old bearing" title="Pressing out the old bearing" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Pressing out the old bearing</div></div>
</div>


<p><b>10.</b> Clean the inside of the empty hub including the cir-clip recesses, apply a thin smear of grease to the inside of the hub, re-install the inside cir-clip.</p>
<p>Remove the wheel bearing from the freezer, apply a thin smear of grease to the outside of the bearing and seat on top of the hub and using a flat surface on top press the bearing as far home as you can until your flat surface touches the hub body.</p>
<p>To finish pressing the bearing the remainder of the way, it is Important the bearing is pressed home by its outer body to avoid damage to the inner bearing (as pictured) obviously this object needs to have a smaller diameter than the inner hub walls otherwise it will end up attached to the hub too.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Wheel-bearing-17.JPG" title="Outer bearing area marked"><img src="Wheel-bearing-17.JPG" alt="Outer bearing area marked" title="Outer bearing area marked" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Outer bearing area marked</div></div>
</div>

<p>I ground down the old bearing to make a slightly smaller diameter and used this to finish pressing the new bearing home to the installed cir-clip.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Wheel-bearing-18.JPG" title="Pressing in the new bearing"><img src="Wheel-bearing-18.JPG" alt="Pressing in the new bearing" title="Pressing in the new bearing" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Pressing in the new bearing</div></div>
</div>


<p><b>11.</b> Re-install the final cir-clip and the bearing replacement is complete.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Wheel-bearing-19.JPG" title="Cir-clip and bearing refitted"><img src="Wheel-bearing-19.JPG" alt="Cir-clip and bearing refitted" title="Cir-clip and bearing refitted" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Cir-clip and bearing refitted</div></div>
</div>


<p><b>12.</b> Re-press the hub flange home being careful to support the bearing on the inner race to prevent damage. Ensure you press this home the correct way round, as shown.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Wheel-bearing-20.JPG" title="Pressing in the hub flange"><img src="Wheel-bearing-20.JPG" alt="Pressing in the hub flange" title="Pressing in the hub flange" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Pressing in the hub flange</div></div>
</div>


<p><b>13.</b> Re-install the hub, plinth, steering arm and brakes as per guide above.</p>

<p><b>14.</b> Stand back and admire your handy work!
</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Wheel-bearing-21.JPG" title="Voila!"><img src="Wheel-bearing-21.JPG" alt="Voila!" title="Voila!" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Voila!</div></div>
</div>


<p>More photos and info in this post</p>
<p><a class="external free" href="http://forums.seloc.org/viewthread.php?tid=353090&#38;page=1#pid5976460" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=353090&#38;page=1#pid5976460</a></p>
<p>


</p>