
<p>The system is charged with <b>0.55 kg</b> of refrigerant HFC R134a.</p>
<p>Filling points on Elise are located in the front services compartment, and on the Exige ahead of the RH rear wheel, accessible after removal of the front most part of the wheel-arch liner. (This depends on the year!)</p>
<p>Standard R134a &#39;quick fit&#39; connectors are used in the compressor suction &#38; discharge pipes at the right side closest to the firewall of the engine bay;
</p>
<ul>
<li>the low pressure vapour line is fitted in the pipe between the evaporator &#38; compressor.</li>
<li>the high pressure liquid line is fitted in the pipe between the compressor &#38; condenser.</li>
</ul>


<p>There is a &#34;<i>Lotus Service Notes</i>,&#34; &#34;<i>Section PL</i>,&#34; that goes into <b>great detail</b> including torque setting for all the pipe work, diagrams, part numbers.</p>
<p>All of the pipes are aluminium, they have a lip on each end, this makes the nuts captive. There are &#34;O&#34; rings these should be replaced if the joint is opened, not all the &#34;O&#34; rings are the same size.



</p>