
<p>The official Lotus Price List for 2012 can be found <a class="external text" href="http://Evorainfo.net/FileStore/PDFs/Lotus%20Range%20Price%20List%202012.pdf" rel="nofollow">here</a>.</p>
<p>This page is a tabulated reproduction of the information contained in this PDF.</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1"><a href="#The_Lotus_Evora_Range">The Lotus Evora Range</a>
<ul>
<li class="toclevel-2"><a href="#Price">Price</a>
</li>
<li class="toclevel-2"><a href="#Exterior_Specification">Exterior Specification</a>
</li>
<li class="toclevel-2"><a href="#Interior_Specification">Interior Specification</a>
</li>
<li class="toclevel-2"><a href="#Vehicle_Options">Vehicle Options</a>
</li>
<li class="toclevel-2"><a href="#Fuel_Consumption_and_Emissions">Fuel Consumption and Emissions</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#The_Lotus_Elise_Range">The Lotus Elise Range</a>
<ul>
<li class="toclevel-2"><a href="#Price_2">Price</a>
</li>
<li class="toclevel-2"><a href="#Exterior_Specification_2">Exterior Specification</a>
</li>
<li class="toclevel-2"><a href="#Interior_Specification_2">Interior Specification</a>
</li>
<li class="toclevel-2"><a href="#Vehicle_Options_2">Vehicle Options</a>
</li>
<li class="toclevel-2"><a href="#Fuel_Consumption_and_Emissions_2">Fuel Consumption and Emissions</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#The_Lotus_Exige_Range">The Lotus Exige Range</a>
<ul>
<li class="toclevel-2"><a href="#Price_3">Price</a>
</li>
<li class="toclevel-2"><a href="#Exterior_Specification_3">Exterior Specification</a>
</li>
<li class="toclevel-2"><a href="#Interior_Specification_3">Interior Specification</a>
</li>
<li class="toclevel-2"><a href="#Vehicle_Options_3">Vehicle Options</a>
</li>
<li class="toclevel-2"><a href="#Fuel_Consumption_and_Emissions_3">Fuel Consumption and Emissions</a>
</li>
</ul>
</li>
</ul></td></tr></table><hr/>
<h1><span class="mw-headline" id="The_Lotus_Evora_Range">The Lotus Evora Range</span></h1>

<h2><span class="mw-headline" id="Price">Price</span></h2>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<td width="350"><b>PRICE</b></td>
<th width="90">Evora (2+0)</th>
<th width="90">Evora (2+2)</th>
<th width="90">Evora S (2+0)</th>
<th width="90">Evora S (2+2)</th></tr>
<tr>
<td>Base price including VAT and excluding on the road costs</td>
<td align="center">£51,550</td>
<td align="center">£53,450</td>
<td align="center">£60,550</td>
<td align="center">£62,450</td></tr></table></div>

<h2><span class="mw-headline" id="Exterior_Specification">Exterior Specification</span></h2>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<td width="350"><b>EXTERIOR SPECIFICATION</b></td>
<th width="90">Evora (2+0)</th>
<th width="90">Evora (2+2)</th>
<th width="90">Evora S (2+0)</th>
<th width="90">Evora S (2+2)</th></tr>
<tr>
<td>Solid paint</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td></tr>
<tr>
<td>Electric door mirrors</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td></tr>
<tr>
<td>Classic wheel, silver, cast (18” front and 19” rear)</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">O</td>
<td align="center">O</td></tr>
<tr>
<td>Classic wheel, stealth grey, cast (18” front and 19” rear)</td>
<td align="center">O</td>
<td align="center">O</td>
<td align="center">S</td>
<td align="center">S</td></tr></table></div>

<h2><span class="mw-headline" id="Interior_Specification">Interior Specification</span></h2>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<td width="350"><b>INTERIOR SPECIFICATION</b></td>
<th width="90">Evora (2+0)</th>
<th width="90">Evora (2+2)</th>
<th width="90">Evora S (2+0)</th>
<th width="90">Evora S (2+2)</th></tr>
<tr>
<td>Adjustable Recaro leather sports seats (front)</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td></tr>
<tr>
<td>CD/MP3/WMA receiver with 4 speakers</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td></tr>
<tr>
<td>Central door locking</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td></tr>
<tr>
<td>Flat bottomed magnesium steering wheel trimmed in leather</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td></tr>
<tr>
<td>Leather gear knob</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td></tr>
<tr>
<td>Leather handbrake sleeve</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td></tr>
<tr>
<td>Manual steering column adjustment for length and height</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td></tr>
<tr>
<td>Bespoke aluminium illuminated control knobs and switches</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td></tr>
<tr>
<td>Electric windows</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td></tr>
<tr>
<td>Remote release glove box</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td></tr>
<tr>
<td>Door storage bins and integrated cup holders</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td></tr>
<tr>
<td>12V interior accessory socket</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td></tr>
<tr>
<td>12V boot mounted accessory socket</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td></tr>
<tr>
<td>Lotus command centre with auxiliary trip computer and vehicle monitoring displays</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td></tr>
<tr>
<td>Immobiliser and remote activated alarm</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td></tr></table></div>

<h2><span class="mw-headline" id="Vehicle_Options">Vehicle Options</span></h2>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<td width="350"><b>VEHICLE OPTIONS</b></td>
<th width="90">Evora (2+0)</th>
<th width="90">Evora (2+2)</th>
<th width="90">Evora S (2+0)</th>
<th width="90">Evora S (2+2)</th></tr>
<tr>
<td>Lotus Intelligent Precision Shift (IPS)</td>
<td align="center">£1,800</td>
<td align="center">£1,800</td>
<td align="center">£1,800</td>
<td align="center">£1,800</td></tr>
<tr>
<td>Tech Pack</td>
<td align="center">£2,800</td>
<td align="center">£2,800</td>
<td align="center">£2,800</td>
<td align="center">£2,800</td></tr>
<tr>
<td colspan="5">Upgraded speakers and stereo system with 2x50W amplifier and subwoofer with dedicated amplifier, DVD player, 7” WVGA touch screen display, BluetoothTM mobile phone connection, USB connection for various iPod* models, MP3 players and memory sticks, tyre pressure monitoring, cruise control, rear parking sensors</td></tr>
<tr>
<td>Premium Pack</td>
<td align="center">£2,000</td>
<td align="center">£2,000 </td>
<td align="center">£2,000</td>
<td align="center">£2,000</td></tr>
<tr>
<td colspan="5">Accent lighting, leather door panelling below trim band, leather trimmed door pockets, armrest, centre console and tailgate insert panel, leather footwell side panels, choice of leather colour: Ebony Black, Ivory White, Venom Red, Cognac Brown, Imperial Blue, Cocoa Brown, Ash Grey, includes leather rear seats (2+2 option only)</td></tr>
<tr>
<td>Premium Pack SuedeTex®</td>
<td align="center">£2,800</td>
<td align="center">£2,800 </td>
<td align="center">£2,800</td>
<td align="center">£2,800</td></tr>
<tr>
<td colspan="5">Accent lighting, leather door panelling below trim band, leather trimmed door pockets, armrest, centre console and tailgate insert panel, leather footwell side panels, SuedeTex® trim band, Ebony Black leather and Slate Grey SuedeTex® seat combination (front and rear on 2+2)</td></tr>
<tr>
<td>Premium Pack Sport</td>
<td align="center">£2,500</td>
<td align="center">£2,500</td>
<td align="center">£2,500</td>
<td align="center">£2,500</td></tr>
<tr>
<td colspan="5">Accent lighting, leather door panelling below trim band, leather trimmed door pockets, armrest, centre console and tailgate insert panel, leather footwell side panels, carbon effect leather inserts on the seats, choice of leather colour: Ebony Black with red contrast stitching and piping, or Venom Red, Cocoa Brown and Imperial Blue with black contrast stitching and piping</td></tr>
<tr>
<td>SuedeTex® Trim Pack</td>
<td align="center">£700</td>
<td align="center">£700</td>
<td align="center">£700</td>
<td align="center">£700</td></tr>
<tr>
<td colspan="5">Gear gaiter, handbrake sleeve, handbrake gaiter, door handle inner, door pocket</td></tr>
<tr>
<td>Sport Pack</td>
<td align="center">£1,200</td>
<td align="center">£1,200</td>
<td align="center">S</td>
<td align="center">S</td></tr>
<tr>
<td colspan="5">Switchable sports mode with sharper throttle response (standard with IPS), increased RPM limit and sportier setting for Dynamic Performance Management (DPM), sports diffuser (uprated Evora S diffuser remains unchanged), titanium sports exhaust tailpipe (stainless steel on Evora S), cross-drilled brake discs, red painted brake calipers</td></tr>
<tr>
<td>Sport Pack (with IPS)</td>
<td align="center">£850</td>
<td align="center">£850</td>
<td align="center">S</td>
<td align="center">S</td></tr>
<tr>
<td>Power-fold door mirrors</td>
<td align="center">£350</td>
<td align="center">£350</td>
<td align="center">£350</td>
<td align="center">£350</td></tr>
<tr>
<td>Reversing camera (Tech Pack required)</td>
<td align="center">£350</td>
<td align="center">£350</td>
<td align="center">£350</td>
<td align="center">£350</td></tr>
<tr>
<td>Heated front seats (Standard on Premium Packs)</td>
<td align="center">£350</td>
<td align="center">£350</td>
<td align="center">£350</td>
<td align="center">£350</td></tr>
<tr>
<td>Metallic paint</td>
<td align="center">£750</td>
<td align="center">£750</td>
<td align="center">£750</td>
<td align="center">£750</td></tr>
<tr>
<td>Premium Paint</td>
<td align="center">£1,500</td>
<td align="center">£1,500</td>
<td align="center">£1,500</td>
<td align="center">£1,500</td></tr>
<tr>
<td>Motorsport Paint</td>
<td align="center">£2,000</td>
<td align="center">£2,000</td>
<td align="center">£2,000</td>
<td align="center">£2,000</td></tr>
<tr>
<td>Classic wheel, stealth grey, cast (18” front and 19” rear)</td>
<td align="center">£350</td>
<td align="center">£350</td>
<td align="center">S</td>
<td align="center">S</td></tr>
<tr>
<td>Sport wheel, silver, forged (18” front and 19” rear)</td>
<td align="center">£1,650</td>
<td align="center">£1,650</td>
<td align="center">£1,650</td>
<td align="center">£1,650</td></tr>
<tr>
<td>Sport wheel, gloss anthracite, forged (18” front and 19” rear)</td>
<td align="center">£1,900</td>
<td align="center">£1,900</td>
<td align="center">£1,900</td>
<td align="center">£1,900</td></tr>
<tr>
<td>Design wheel, gloss black, forged (19” front and 20” rear)</td>
<td align="center">£2,200</td>
<td align="center">£2,200</td>
<td align="center">£2,200</td>
<td align="center">£2,200</td></tr>
<tr>
<td>Design wheel, satin gunmetal, forged (19” front and 20” rear)</td>
<td align="center">£2,200</td>
<td align="center">£2,200</td>
<td align="center">£2,200</td>
<td align="center">£2,200</td></tr>
<tr>
<td>Design wheel, diamond cut, forged (19” front and 20” rear)</td>
<td align="center">£2,300</td>
<td align="center">£2,300</td>
<td align="center">£2,300</td>
<td align="center">£2,300</td></tr></table></div>

<h2><span class="mw-headline" id="Fuel_Consumption_and_Emissions">Fuel Consumption and Emissions</span></h2>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<td></td>
<th align="center" colspan="2">Evora</th>
<th align="center" colspan="2">Evora S</th></tr>
<tr>
<td width="350"><b>FUEL CONSUMPTION (mpg (l/100km))</b></td>
<th width="90">MANUAL</th>
<th width="90">IPS</th>
<th width="90">MANUAL</th>
<th width="90">IPS</th></tr>
<tr>
<td><b>Urban</b></td>
<td align="center"><b>21.5 (13.2)</b></td>
<td align="center"><b>21.2 (13.3)</b></td>
<td align="center"><b>19.9 (14.2)</b></td>
<td align="center"><b>19.6 (14.4)</b></td></tr>
<tr>
<td><b>Extra urban</b></td>
<td align="center"><b>39.6 (7.1)</b></td>
<td align="center"><b>42.8 (6.6)</b></td>
<td align="center"><b>38.4 (7.4)</b></td>
<td align="center"><b>40.8 (6.9)</b></td></tr>
<tr>
<td><b>Combined</b></td>
<td align="center"><b>30.3 (9.3)</b></td>
<td align="center"><b>37.4 (9.0)</b></td>
<td align="center"><b>28.7 (9.9)</b></td>
<td align="center"><b>29.3 (9.7)</b></td></tr>
<tr>
<td><b>CO2 emissions (g/km)</b></td>
<td align="center"><b>217</b></td>
<td align="center"><b>210</b></td>
<td align="center"><b>229</b></td>
<td align="center"><b>224</b></td></tr></table></div>

<h1><span class="mw-headline" id="The_Lotus_Elise_Range">The Lotus Elise Range</span></h1>

<h2><span class="mw-headline" id="Price_2">Price</span></h2>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<td width="440"><b>PRICE</b></td>
<th width="90">Elise</th>
<th width="90">Elise CR</th>
<th width="90">Elise S</th></tr>
<tr>
<td>Base price including VAT and excluding on the road costs</td>
<td align="center">£28,100</td>
<td align="center">£27,500</td>
<td align="center">£36,200</td></tr></table></div>

<h2><span class="mw-headline" id="Exterior_Specification_2">Exterior Specification</span></h2>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<td width="440"><b>EXTERIOR SPECIFICATION</b></td>
<th width="90">Elise</th>
<th width="90">Elise CR</th>
<th width="90">Elise S</th></tr>
<tr>
<td>Front mud-flaps</td>
<td align="center">S</td>
<td align="center">O</td>
<td align="center">S</td></tr>
<tr>
<td>Black soft-top</td>
<td align="center">S</td>
<td align="center">O</td>
<td align="center">S</td></tr>
<tr>
<td>Solid paint</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td></tr>
<tr>
<td>Rear diffuser with silver anodised finish</td>
<td align="center">S</td>
<td align="center">N/A</td>
<td align="center">S</td></tr>
<tr>
<td>Clear sill stone chip protection film</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td></tr>
<tr>
<td>Rear spoiler</td>
<td align="center">N/A</td>
<td align="center">N/A</td>
<td align="center">S</td></tr>
<tr>
<td>Standard wheel, silver, lightweight cast, 12-spoke (16” front and 17” rear)</td>
<td align="center">S</td>
<td align="center">N/A</td>
<td align="center">N/A</td></tr>
<tr>
<td>Standard wheel, black, lightweight cast, 12-spoke (16” front and 17” rear)</td>
<td align="center">O</td>
<td align="center">S</td>
<td align="center">N/A</td></tr>
<tr>
<td>Standard S wheel, silver, Y-type, lightweight cast, 6-spoke (16” front and 17” rear)</td>
<td align="center">N/A</td>
<td align="center">N/A</td>
<td align="center">S</td></tr></table></div>

<h2><span class="mw-headline" id="Interior_Specification_2">Interior Specification</span></h2>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<td width="440"><b>INTERIOR SPECIFICATION</b></td>
<th width="90">Elise</th>
<th width="90">Elise CR</th>
<th width="90">Elise S</th></tr>
<tr>
<td>Lightweight aluminium passenger footrest</td>
<td align="center">S</td>
<td align="center">O</td>
<td align="center">S</td></tr>
<tr>
<td>Plain leather sun-visors</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td></tr>
<tr>
<td>Lightweight aluminium footwell divider</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td></tr>
<tr>
<td>Black plain/perforated leather steering wheel</td>
<td align="center">S</td>
<td align="center">N/A</td>
<td align="center">S</td></tr>
<tr>
<td>SuedeTex® steering wheel</td>
<td align="center">N/A</td>
<td align="center">S</td>
<td align="center">N/A</td></tr>
<tr>
<td>Black leather gear lever gaiter</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td></tr>
<tr>
<td>Polished aluminium gear knob and handbrake sleeve</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td></tr>
<tr>
<td>Driver and passenger airbags</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td></tr>
<tr>
<td>CD/MP3/WMA receiver with 4 speakers</td>
<td align="center">S</td>
<td align="center">O</td>
<td align="center">S</td></tr>
<tr>
<td>Immobiliser and remote activated alarm</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td></tr>
<tr>
<td>Central door locking</td>
<td align="center">S</td>
<td align="center">O</td>
<td align="center">S</td></tr>
<tr>
<td>Engine start push button</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td></tr>
<tr>
<td>Black carpet mats</td>
<td align="center">S</td>
<td align="center">O</td>
<td align="center">S</td></tr>
<tr>
<td>Black cloth seats with composite structure</td>
<td align="center">S</td>
<td align="center">N/A</td>
<td align="center">S</td></tr>
<tr>
<td>Lightweight composite seats with SuedeTex® padding</td>
<td align="center">N/A</td>
<td align="center">S</td>
<td align="center">N/A</td></tr>
<tr>
<td>Face-level air vents</td>
<td align="center">S</td>
<td align="center">S</td>
<td align="center">S</td></tr></table></div>

<h2><span class="mw-headline" id="Vehicle_Options_2">Vehicle Options</span></h2>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<td width="440"><b>VEHICLE OPTIONS</b></td>
<th width="90">Elise</th>
<th width="90">Elise CR</th>
<th width="90">Elise S</th></tr>
<tr>
<td>Lotus Serial Precision Shift (SPS)</td>
<td align="center">£1,500</td>
<td align="center">£1,500</td>
<td align="center">N/A</td></tr>
<tr>
<td>Touring Pack</td>
<td align="center">£2,100</td>
<td align="center">N/A</td>
<td align="center">£2,100</td></tr>
<tr>
<td colspan="4">Choice of leather colours: Black, Biscuit, Ruby, Cream, leather seats, padded leather door panels, perforated leather door inserts, leather trimmed centre console, black perforated leather handbrake lever gaiter, black carpet mats with embroidered Elise logo, noise insulation panelling, auxiliary driving lights, iPod* stereo connection, trinket tray divider and cup holder, cruise control</td></tr>
<tr>
<td>Comfort Pack</td>
<td align="center">N/A</td>
<td align="center">£1,100</td>
<td align="center">N/A</td></tr>
<tr>
<td colspan="4">CD/MP3/WMA receiver with 4 speakers, comfort mats with CR logo, central door locking, sound insulation, lightweight aluminium passenger footrest, front mud flaps, standard capacity battery, standard suspension with standard anti-roll bar</td></tr>
<tr>
<td>Sports Pack</td>
<td align="center">£1,800</td>
<td align="center">N/A</td>
<td align="center">£1,800</td></tr>
<tr>
<td colspan="4">Bilstein sports dampers, optional wheel, silver, forged 14-spoke (16” front and 17” rear), cloth sports seats (select Sport Pack and Touring Pack together and the sport seat will be trimmed in either black leather or SuedeTex®)</td></tr>
<tr>
<td>Black Style Pack</td>
<td align="center">£550</td>
<td align="center">S</td>
<td align="center">£550</td></tr>
<tr>
<td colspan="4">Specified wheel choice in black and black rear diffuser</td></tr>
<tr>
<td>Black soft-top</td>
<td align="center">S</td>
<td align="center">£600</td>
<td align="center">S</td></tr>
<tr>
<td>Hard-top</td>
<td align="center">£1,100</td>
<td align="center">£1,100</td>
<td align="center">£1,100</td></tr>
<tr>
<td>Air conditioning unit</td>
<td align="center">£1,100</td>
<td align="center">£1,100</td>
<td align="center">£1,100</td></tr>
<tr>
<td>Metallic paint</td>
<td align="center">£600</td>
<td align="center">£1,100</td>
<td align="center">£600</td></tr>
<tr>
<td>Premium paint</td>
<td align="center">£1,200</td>
<td align="center">£1,200</td>
<td align="center">£1,200</td></tr>
<tr>
<td>Motorsport paint</td>
<td align="center">£1,800</td>
<td align="center">£1,800</td>
<td align="center">£1,800</td></tr>
<tr>
<td>Matt paint</td>
<td align="center">N/A</td>
<td align="center">£1,000</td>
<td align="center">N/A</td></tr>
<tr>
<td>Optional wheel, black, forged 14-spoke (16” front and 17” rear)</td>
<td align="center">N/A</td>
<td align="center">£1,200</td>
<td align="center">N/A</td></tr></table></div>

<h2><span class="mw-headline" id="Fuel_Consumption_and_Emissions_2">Fuel Consumption and Emissions</span></h2>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<td width="440"><b>FUEL CONSUMPTION (mpg (l/100km))</b></td>
<th width="90">Elise</th>
<th width="90">Elise CR</th>
<th width="90">Elise S</th></tr>
<tr>
<td><b>Urban</b></td>
<td align="center"><b>34.0 (8.3)</b></td>
<td align="center"><b>34.0 (8.3)</b></td>
<td align="center"><b>TBC</b></td></tr>
<tr>
<td><b>Extra urban</b></td>
<td align="center"><b>56.0 (5.0)</b></td>
<td align="center"><b>56.0 (5.0)</b></td>
<td align="center"><b>TBC</b></td></tr>
<tr>
<td><b>Combined</b></td>
<td align="center"><b>45.0 (6.3)</b></td>
<td align="center"><b>45.0 (6.3)</b></td>
<td align="center"><b>TBC</b></td></tr>
<tr>
<td><b>CO2 emissions (g/km)</b></td>
<td align="center"><b>149</b></td>
<td align="center"><b>149</b></td>
<td align="center"><b>TBC</b></td></tr></table></div>

<h1><span class="mw-headline" id="The_Lotus_Exige_Range">The Lotus Exige Range</span></h1>

<h2><span class="mw-headline" id="Price_3">Price</span></h2>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<td width="620"><b>PRICE</b></td>
<th width="90">Exige S</th></tr>
<tr>
<td>Base price including VAT and excluding on the road costs</td>
<td align="center">£49,900<br />Later changed to £52,900</td></tr></table></div>

<h2><span class="mw-headline" id="Exterior_Specification_3">Exterior Specification</span></h2>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<td width="620"><b>EXTERIOR SPECIFICATION</b></td>
<th width="90">Exige S</th></tr>
<tr>
<td>Solid paint</td>
<td align="center">S</td></tr>
<tr>
<td>Black rear diffuser </td>
<td align="center">S</td></tr>
<tr>
<td>Front splitter and rear wing</td>
<td align="center">S</td></tr>
<tr>
<td>Sport exhaust with bypass valve</td>
<td align="center">S</td></tr>
<tr>
<td>Satin black wheels, cast (17” front and 18” rear)</td>
<td align="center">S</td></tr></table></div>

<h2><span class="mw-headline" id="Interior_Specification_3">Interior Specification</span></h2>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<td width="620"><b>INTERIOR SPECIFICATION</b></td>
<th width="90">Exige S</th></tr>
<tr>
<td>Lightweight aluminium passenger footrest</td>
<td align="center">S</td></tr>
<tr>
<td>Plain leather sun-visors</td>
<td align="center">S</td></tr>
<tr>
<td>Black leather steering wheel</td>
<td align="center">S</td></tr>
<tr>
<td>Black leather gear lever gaiter</td>
<td align="center">S</td></tr>
<tr>
<td>Polished aluminium gear knob</td>
<td align="center">S</td></tr>
<tr>
<td>Driver and passenger airbags</td>
<td align="center">S</td></tr>
<tr>
<td>CD/MP3/WMA receiver with 4 speakers</td>
<td align="center">S</td></tr>
<tr>
<td>Immobiliser and remote activated alarm</td>
<td align="center">S</td></tr>
<tr>
<td>Central door locking</td>
<td align="center">S</td></tr>
<tr>
<td>Engine start push button</td>
<td align="center">S</td></tr>
<tr>
<td>Black carpet mats</td>
<td align="center">S</td></tr>
<tr>
<td>Black seats with Lotus roundel</td>
<td align="center">S</td></tr>
<tr>
<td>Face-level air vents</td>
<td align="center">S</td></tr></table></div>

<h2><span class="mw-headline" id="Vehicle_Options_3">Vehicle Options</span></h2>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<td width="620"><b>VEHICLE OPTIONS</b></td>
<th width="90">Exige S</th></tr>
<tr>
<td>Premium Pack</td>
<td align="center">£2,000</td></tr>
<tr>
<td colspan="2">Choice of leather colour: Ebony Black, Ivory White, Venom Red, Cognac Brown, Imperial Blue, Cocoa Brown, Ash Grey, leather centre console, fully covered foot well area (carpet + leather), Sport/Premium steering wheel in full black leather, leather sills, door panels in leather, metal bezel around gear and handbrake gaiter, Sport/Premium seats in full leather, full sound insulating material, dark trinket tray, face-level air vents covered in leather</td></tr>
<tr>
<td>Premium Pack Sport SuedeTex®</td>
<td align="center">£1,500</td></tr>
<tr>
<td colspan="2">Ebony Black/Slate Grey SuedeTex® interior combination, SuedeTex® centre console, black floor mats, Sport/Premium steering wheel with dark grey leather and dark grey binnacle top, door panels in carbon effect leather, metal bezel around gear and handbrake gaiter, Sport/Premium seats with carbon effect leather inserts, sound insulating material</td></tr>
<tr>
<td>Carbon Pack (Premium Pack required)</td>
<td>£1,500</td></tr>
<tr>
<td colspan="2">Carbon centre console, carbon sill covers, carbon air conditioning controls, carbon air conditioning vents, carbon binnacle surround and binnacle top, carbon Dynamic Performance Management (DPM) switch panel</td></tr>
<tr>
<td>Race Pack</td>
<td align="center">£2,000</td></tr>
<tr>
<td colspan="2">4 mode Lotus DPM system including launch control, exhaust bypass valve override switch, optimised suspension to suit the Trofeo tyre characteristics</td></tr>
<tr>
<td>Convenience Pack</td>
<td align="center">£350</td></tr>
<tr>
<td colspan="2">Trinket tray divider, USB connection, cup holder</td></tr>
<tr>
<td>Air conditioning</td>
<td align="center">£1,100</td></tr>
<tr>
<td>Rear parking sensors</td>
<td align="center">£350</td></tr>
<tr>
<td>Heated seats</td>
<td align="center">£350</td></tr>
<tr>
<td>Contrast stitching (Premium Pack Sport SuedeTex® required)</td>
<td align="center">£245</td></tr>
<tr>
<td>Trofeo tyres</td>
<td align="center">£800</td></tr>
<tr>
<td>Crossbar and harness mounts</td>
<td align="center">£700</td></tr>
<tr>
<td>Metallic paint</td>
<td align="center">£600</td></tr>
<tr>
<td>Premium paint</td>
<td align="center">£1,200</td></tr>
<tr>
<td>Motorsport paint</td>
<td align="center">£1,800</td></tr>
<tr>
<td>Diamond cut wheels, cast (17” front and 18” rear)</td>
<td align="center">£350</td></tr></table></div>

<h2><span class="mw-headline" id="Fuel_Consumption_and_Emissions_3">Fuel Consumption and Emissions</span></h2>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<td width="620"><b>FUEL CONSUMPTION (mpg (l/100km))</b></td>
<th width="90">Exige S</th></tr>
<tr>
<td><b>Urban</b></td>
<td align="center">TBC</td></tr>
<tr>
<td><b>Extra Urban</b></td>
<td align="center">TBC</td></tr>
<tr>
<td><b>Combined</b></td>
<td align="center">TBC</td></tr>
<tr>
<td><b>CO2 emissions (g/km)</b></td>
<td align="center">TBC</td></tr></table></div>

<p>




</p>