
<p>Road tax prices correct at time of writing (28/01/2012).</p>
<p>Despite my best efforts this data may contain errors and inaccuracies, please Edit to correct them if you find any!</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1"><a href="#Elise_and_Exige_S1">Elise and Exige S1</a>
</li>
<li class="toclevel-1"><a href="#Elise_S2">Elise S2</a>
</li>
<li class="toclevel-1"><a href="#Exige_S2">Exige S2</a>
</li>
<li class="toclevel-1"><a href="#Europa">Europa</a>
</li>
<li class="toclevel-1"><a href="#Esprit">Esprit</a>
</li>
<li class="toclevel-1"><a href="#Evora">Evora</a>
</li>
<li class="toclevel-1"><a href="#Vauxhall_VX220">Vauxhall VX220</a>
</li>
</ul></td></tr></table><hr/>
<h1><span class="mw-headline" id="Elise_and_Exige_S1">Elise and Exige S1</span></h1>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>
! Model</th>
<th>CO2 (g/km)</th>
<th>Euro Compliance</th>
<th>Fuel (Combined cycle, mpg)</th>
<th>Tax Band</th>
<th>Tax Price (12 months)</th>
<th>Notes</th></tr>
<tr>
<th rowspan="6"><b>S1</b></th>
<th>Base</th>
<td align="center">168</td>
<td align="center">EU2</td>
<td align="center">39</td>
<td align="center">Over 1549cc</td>
<td align="center">£215</td>
<td></td></tr>
<tr>
<th>111S</th>
<td align="center">174</td>
<td align="center">EU2</td>
<td align="center">38</td>
<td align="center">Over 1549cc</td>
<td align="center">£215</td>
<td></td></tr>
<tr>
<th>Sport 135</th>
<td align="center">168</td>
<td align="center">EU2</td>
<td align="center">39</td>
<td align="center">Over 1549cc</td>
<td align="center">£215</td>
<td>Modifications carried out to base car by Lotus Sport, therefore not retested.</td></tr>
<tr>
<th>Sport 160</th>
<td align="center">218</td>
<td align="center">EU2</td>
<td align="center">30</td>
<td align="center">Over 1549cc</td>
<td align="center">£215</td>
<td></td></tr>
<tr>
<th>340R</th>
<td align="center">183</td>
<td align="center">EU2</td>
<td align="center" />
<td align="center">Over 1549cc</td>
<td align="center">£215</td>
<td></td></tr>
<tr>
<th>Exige</th>
<td align="center">225</td>
<td align="center">EU2</td>
<td align="center" />
<td align="center">Over 1549cc</td>
<td align="center">£215</td>
<td>Unless registered after 1st March 2001 then it is £260 </td></tr></table></div>

<h1><span class="mw-headline" id="Elise_S2">Elise S2</span></h1>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>
! Model</th>
<th>CO2 (g/km)</th>
<th>Euro Compliance</th>
<th>Fuel (Combined cycle, mpg)</th>
<th>Tax Band</th>
<th>Tax Price (12 months)</th>
<th>Notes</th></tr>
<tr>
<th rowspan="10"><b>S2 Elise</b></th>
<th>K-series 120bhp</th>
<td align="center">177</td>
<td align="center">EU3</td>
<td align="center">38</td>
<td align="center">I</td>
<td align="center">£210</td>
<td>Close ratio B4BP fitted as standard, leading to higher emission figures</td></tr>
<tr>
<th>K-series VVC 156bhp</th>
<td align="center">163</td>
<td align="center">EU3</td>
<td align="center">40</td>
<td align="center">G</td>
<td align="center">£165</td>
<td>&#39;Long&#39; G4BP gearbox gives lower emissions than base model despite higher power.</td></tr>
<tr>
<th>Sport 135R</th>
<td align="center">184</td>
<td align="center">EU3</td>
<td align="center">36</td>
<td align="center">I</td>
<td align="center">£210</td>
<td></td></tr>
<tr>
<th>111R/R (MY04-MY08)</th>
<td align="center">208</td>
<td align="center">EU4</td>
<td align="center">32</td>
<td align="center">K</td>
<td align="center">£260</td>
<td></td></tr>
<tr>
<th>R (MY08-MY10)</th>
<td align="center">196</td>
<td align="center">EU4</td>
<td align="center">34</td>
<td align="center">J</td>
<td align="center">£245</td>
<td>MY06 revision of the 111R reduces emissions and improves fuel consumption.</td></tr>
<tr>
<th>Toyota S (134bhp)</th>
<td align="center">179</td>
<td align="center">EU4</td>
<td align="center">37</td>
<td align="center">I</td>
<td align="center">£210</td>
<td>1ZZ engine, not to be confused with early K-series Elise S or 1ZR-FAE used in the 1.6.</td></tr>
<tr>
<th>SC (08-Mid 09)</th>
<td align="center">202</td>
<td align="center">EU4</td>
<td align="center">33</td>
<td align="center">K</td>
<td align="center">£260</td>
<td></td></tr>
<tr>
<th>SC (Mid 09-11)</th>
<td align="center">199</td>
<td align="center">EU4</td>
<td align="center">33</td>
<td align="center">J</td>
<td align="center">£245</td>
<td>Lower emission for MY10 onward Elise SC&#39;s. Introduced May 2009.</td></tr>
<tr>
<th>Toyota 1.6</th>
<td align="center">149</td>
<td align="center">EU5</td>
<td align="center">45</td>
<td align="center">F</td>
<td align="center">£130</td>
<td>1ZR engine</td></tr>
<tr>
<th>Toyota S (220bhp)</th>
<td align="center">175</td>
<td align="center">EU5</td>
<td align="center">37.5</td>
<td align="center">H</td>
<td align="center">£190</td>
<td>Supercharged 2ZR-FE engine, not to be confused with the early K-series Elise S or earlier Toyota 1ZZ engined Elise S with 134bhp.</td></tr></table></div>

<h1><span class="mw-headline" id="Exige_S2">Exige S2</span></h1>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>
! Model</th>
<th>CO2 (g/km)</th>
<th>Euro Compliance</th>
<th>Fuel (Combined cycle, mpg)</th>
<th>Tax Band</th>
<th>Tax Price (12 months)</th>
<th>Notes</th></tr>
<tr>
<th rowspan="8"><b>S2 Exige</b></th>
<th>Base</th>
<td align="center">208</td>
<td align="center">EU4</td>
<td align="center">32</td>
<td align="center">K</td>
<td align="center">£260</td>
<td></td></tr>
<tr>
<th>240R</th>
<td align="center" />
<td align="center">EU4</td>
<td align="center" />
<td align="center" />
<td align="center" />
<td>Figures needed</td></tr>
<tr>
<th>S (06-09)</th>
<td align="center">216</td>
<td align="center">EU4</td>
<td align="center">31</td>
<td align="center">K</td>
<td align="center">£260 </td>
<td>Performance Pack upgrades do not affect the official emission figures or tax banding.</td></tr>
<tr>
<th>S (09-11)</th>
<td align="center">199</td>
<td align="center">EU4</td>
<td align="center">33</td>
<td align="center">J</td>
<td align="center">£245</td>
<td>Revised MY10 cars introduced in May 2009. Performance Pack upgrades do not affect the official emission figures or tax banding.</td></tr>
<tr>
<th>Cup 240/255/260 (06-09)</th>
<td align="center">216</td>
<td align="center">EU4</td>
<td align="center">31</td>
<td align="center">K</td>
<td align="center">£260</td>
<td>Lotus Sport modified cars, emissions as per base Exige S.</td></tr>
<tr>
<th>Cup 260 (09-11)</th>
<td align="center">199</td>
<td align="center">EU4</td>
<td align="center">33</td>
<td align="center">J</td>
<td align="center">£245</td>
<td>Revised MY10 cars introduced in May 2009. Lotus Sport modified cars, emissions as per base Exige S.</td></tr>
<tr>
<th>2-Eleven</th>
<td align="center">216</td>
<td align="center">EU4</td>
<td align="center">31</td>
<td align="center">K</td>
<td align="center">£260</td>
<td>As cars are road registered through the SVA process the 2-Eleven does not go through regular type approval testing, emission figures are therefore taken from the Exige S.</td></tr>
<tr>
<th>S (V6)</th>
<td align="center">236</td>
<td align="center">EU5</td>
<td align="center">28</td>
<td align="center">L</td>
<td align="center">£445</td>
<td></td></tr></table></div>

<h1><span class="mw-headline" id="Europa">Europa</span></h1>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>
! Model</th>
<th>CO2 (g/km)</th>
<th>Euro Compliance</th>
<th>Fuel (Combined cycle, mpg)</th>
<th>Tax Band</th>
<th>Tax Price (12 months)</th>
<th>Notes</th></tr>
<tr>
<th rowspan="3"><b>Europa</b></th>
<th>Base</th>
<td align="center">220</td>
<td align="center">EU4</td>
<td align="center">30</td>
<td align="center">K</td>
<td align="center">£260</td>
<td></td></tr>
<tr>
<th>S</th>
<td align="center">220</td>
<td align="center">EU4</td>
<td align="center">30</td>
<td align="center">K</td>
<td align="center">£260</td>
<td></td></tr>
<tr>
<th>SE</th>
<td align="center">229</td>
<td align="center">EU4</td>
<td align="center">28</td>
<td align="center">L</td>
<td align="center">£445</td>
<td></td></tr></table></div>

<h1><span class="mw-headline" id="Esprit">Esprit</span></h1>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>
! Model</th>
<th>CO2 (g/km)</th>
<th>Euro Compliance</th>
<th>Fuel (Combined cycle, mpg)</th>
<th>Tax Band</th>
<th>Tax Price (12 months)</th>
<th>Notes</th></tr>
<tr>
<th rowspan="4"><b>Esprit</b></th>
<th>GT3</th>
<td align="center">294</td>
<td align="center">EU2</td>
<td align="center">22</td>
<td align="center">Over 1549cc</td>
<td align="center">£215</td>
<td></td></tr>
<tr>
<th>Sport 350</th>
<td align="center">328</td>
<td align="center">EU2</td>
<td align="center">21</td>
<td align="center">Over 1549cc (Registered before March 1st 2001)<br />K (Registered on or after March 1st 2001)</td>
<td align="center">£215<br />£260</td>
<td></td></tr>
<tr>
<th>V8 (98-01)</th>
<td align="center">328</td>
<td align="center">EU2</td>
<td align="center">21</td>
<td align="center">Over 1549cc</td>
<td align="center">£215</td>
<td></td></tr>
<tr>
<th>V8 (01-03)</th>
<td align="center">366</td>
<td align="center">EU3</td>
<td align="center">21</td>
<td align="center">K</td>
<td align="center">£260</td>
<td></td></tr></table></div>

<h1><span class="mw-headline" id="Evora">Evora</span></h1>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>
! Model</th>
<th>CO2 (g/km)</th>
<th>Euro Compliance</th>
<th>Fuel (Combined cycle, mpg)</th>
<th>Tax Band</th>
<th>Tax Price (12 months)</th>
<th>Notes</th></tr>
<tr>
<th rowspan="5">Evora</th>
<th>Evora</th>
<td align="center">205</td>
<td align="center">EU5</td>
<td align="center">32.5</td>
<td align="center">K</td>
<td align="center">£260</td>
<td></td></tr>
<tr>
<th>Evora Sports Gearbox</th>
<td align="center">217</td>
<td align="center">EU5</td>
<td align="center">30.3</td>
<td align="center">K</td>
<td align="center">£260</td>
<td>Optional extra (09-11), standard fit on MY12 cars.</td></tr>
<tr>
<th>Evora IPS</th>
<td align="center">210</td>
<td align="center">EU5</td>
<td align="center">31.4</td>
<td align="center">K</td>
<td align="center">£260</td>
<td></td></tr>
<tr>
<th>Evora S</th>
<td align="center">229</td>
<td align="center">EU5</td>
<td align="center">28.7</td>
<td align="center">L</td>
<td align="center">£445</td>
<td></td></tr>
<tr>
<th>Evora S IPS</th>
<td align="center">224</td>
<td align="center">EU5</td>
<td align="center">29.3</td>
<td align="center">K</td>
<td align="center">£260</td>
<td></td></tr></table></div>

<h1><span class="mw-headline" id="Vauxhall_VX220">Vauxhall VX220</span></h1>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>
! Model</th>
<th>CO2 (g/km)</th>
<th>Euro Compliance</th>
<th>Fuel (Combined cycle, mpg)</th>
<th>Tax Band</th>
<th>Tax Price (12 months)</th>
<th>Notes</th></tr>
<tr>
<th rowspan="3">VX220</th>
<th>2.2</th>
<td align="center">205</td>
<td align="center">EU4</td>
<td align="center">33</td>
<td align="center">K</td>
<td align="center">£260</td>
<td></td></tr>
<tr>
<th>2.0 Turbo</th>
<td align="center">202</td>
<td align="center">EU4</td>
<td align="center">33</td>
<td align="center">K</td>
<td align="center">£260</td>
<td></td></tr>
<tr>
<th>VXR Turbo</th>
<td align="center">202</td>
<td align="center">EU4</td>
<td align="center">33</td>
<td align="center">K</td>
<td align="center">£260</td>
<td></td></tr></table></div>

<p>









</p>