
<div style="page-break-inside: avoid;">
<table cellpadding="0" cellspacing="0" style="clear: right; margin-bottom: .5em; float: right; padding: .5em 0 .8em 1.4em; background: none; width: auto;">
<tr>
<td><table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Elise">Elise</a>
<ul>
<li class="toclevel-2"><a href="#Sport_Mode">Sport Mode</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Evora">Evora</a>
<ul>
<li class="toclevel-2"><a href="#Sport_Mode_2">Sport Mode</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Exige_S">Exige S</a>
<ul>
<li class="toclevel-2"><a href="#Touring_Mode">Touring Mode</a>
</li>
<li class="toclevel-2"><a href="#Sport_Mode_3">Sport Mode</a>
</li>
<li class="toclevel-2"><a href="#Race_Mode">Race Mode</a>
<ul>
<li class="toclevel-3"><a href="#Launch_Control">Launch Control</a>
</li>
<li class="toclevel-3"><a href="#Off">Off</a>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</ul></td></tr></table><hr/>
</td></tr></table></div>



<p>Not to be confused with the SELOC meaning for <a href="http://wiki.seloc.org/a/DPM" title="DPM">DPM</a>, the Dynamic Performance Management system is Lotus&#39; branding for the cars electronic stability control systems, consisting of:
</p>
<ul>
<li>Corner Brake Control (CBC)</li>
<li>Drag Torque Control (DTC)</li>
<li>Electronic Differential Lock (EDL)</li>
<li>Traction Control System (TCS)</li>
<li>Electronic Stability Control (ESC)</li>
<li>Anti-lock Braking System (ABS)*</li>
<li>Hydraulic Brake Assist (HBA)*</li>
<li>Electronic Brake Distribution (EBD)*</li>
<li>Understeer Recognition</li>
</ul>
<p>All apart from * can be completely switched off</p>
<p>DPM is only found on the Evora (post <a href="http://wiki.seloc.org/a/Evora_model_history_milestones#Federal_Evora_Introduction:_March_2010" title="Evora model history milestones">March 2010 onwards</a>), ZR-series engined Elises (<a href="http://wiki.seloc.org/a/Elise_model_history#Introduction_of_Lotus_Dynamic_Performance_Management_.28Lotus_DPM.29" title="Elise model history">1.6 from September 2011 onwards</a>, MY12 S) and the V6 engined Exige S. Some previous models could be fitted with optional <a href="http://wiki.seloc.org/a/Traction_control" title="Traction control">Lotus Traction Control</a>.</p>
<h2><span class="mw-headline" id="Elise">Elise</span></h2>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Elise_Sport_Button.jpg" title="Elise DPM Sport Button"><img src="Elise_Sport_Button.jpg" alt="Elise DPM Sport Button" title="Elise DPM Sport Button" class="location-right type-thumb" width="400" />
</a>
<div class="thumbcaption">Elise DPM Sport Button</div></div>
</div>

<h3><span class="mw-headline" id="Sport_Mode">Sport Mode</span></h3>

<p>Only available on cars fitted with optional Sport Pack.</p>

<h2><span class="mw-headline" id="Evora">Evora</span></h2>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_IPS_Sport_Button.jpg" title="Evora IPS Sport Button"><img src="Evora_IPS_Sport_Button.jpg" alt="Evora IPS Sport Button" title="Evora IPS Sport Button" class="location-right type-thumb" width="400" />
</a>
<div class="thumbcaption">Evora IPS Sport Button</div></div>
</div>

<h3><span class="mw-headline" id="Sport_Mode_2">Sport Mode</span></h3>

<p>Only available on cars fitted with optional Sport Pack (Standard on <a href="http://wiki.seloc.org/a/Models_-_Evora#Evora_S" title="Models - Evora">Evora S</a>).</p>


<h2><span class="mw-headline" id="Exige_S">Exige S</span></h2>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Exige_S_DPM_Switch.jpg" title="Exige S (Prototype) DPM Mode Selector"><img src="Exige_S_DPM_Switch.jpg" alt="Exige S (Prototype) DPM Mode Selector" title="Exige S (Prototype) DPM Mode Selector" class="location-right type-thumb" width="400" />
</a>
<div class="thumbcaption">Exige S (Prototype) DPM Mode Selector</div></div>
</div>

<p>
Unlike the Elise and Evora, the Exige S uses a 3 position rotary switch. The third position, marked with a chequered flag, is used to disable the Lotus DPM assists entirely, and to select Race Mode in cars equipped with the option.</p>
<p>The switch does not stay in the third position and returns to the centre after being selected by twisting and holding the switch - so if the car is restarted it will revert to Sport Mode, not the previously selected Race Mode or DPM Off. This is important to remember as Sport Mode is LESS restrictive than Race Mode.</p>
<h3><span class="mw-headline" id="Touring_Mode">Touring Mode</span></h3>

<p>Touring mode puts all DPM systems in to their fully activated mode and is designed for normal daily driving conditions.</p>
<p><b>ABS</b>: Constant<br />
<b>Max Engine RPM</b>: 6800rpm<br />
<b>Throttle progression</b>: Standard<br />
<b>Engine Protection Valve (Exhaust valve) strategy</b>: EPV opens at high throttle/RPM applications<br />
<b>DPM Characteristics</b>: Understeer recognition on, managed slip threshold</p>
<h3><span class="mw-headline" id="Sport_Mode_3">Sport Mode</span></h3>

<p>Sport Mode increases the traction slip thresholds and removes understeer recognition, allowing the driver more vehicle control before an intervention is required.</p>
<p><b>ABS</b>: Constant<br />
<b>Max Engine RPM</b>: 7200rpm<br />
<b>Throttle progression</b>: Increased response<br />
<b>Engine Protection Valve (Exhaust valve) strategy</b>: EPV opens from medium throttle applications/engine speeds<br />
<b>DPM Characteristics</b>: Understeer recognition switched off. Increased slip thresholds and increased yaw angle available</p>
<h3><span class="mw-headline" id="Race_Mode">Race Mode</span></h3>

<p>Only available on cars fitted with optional Race Pack.</p>
<p><b>ABS</b>: Constant<br />
<b>Max Engine RPM</b>: 7200rpm<br />
<b>Throttle progression</b>: As Sport<br />
<b>Engine Protection Valve (Exhaust valve) strategy</b>: EPV permanently open<br />
<b>DPM Characteristics</b>: Understeer recognition switched off. ESP intervention level set high to allow race traction control to function. The traction system learns and calculates available levels of grip and optimises the correct level of torque and EDL intervention to deliver maximum traction to the driver</p>
<h4><span class="mw-headline" id="Launch_Control">Launch Control</span></h4>

<p>Available only on cars equipped with the Race Pack. Can only be activated when the car is stationary and in Race Mode.</p>
<p>To use launch control the car must be:</p>

<ul>
<li>Stationary</li>
<li>Engine coolant temperature between 80-110c</li>
<li>Steering wheel in the straight ahead position (a few degrees tolerance allowed)</li>
<li>Launch control not have been used in the last 2 minutes</li>
<li>No ECU/ESP fault codes present</li>
<li>Vehicle has not performed the maximum number of allowed launches (still to be defined)</li>
<li>Vehicle has covered more than 500 miles as logged by the ECU</li>
</ul>

<p>The launch control system can be <a class="external text" href="http://www.youtube.com/watch?v=W3wnyLqlSsE" rel="nofollow">seen in action on YouTube</a>.</p>
<h4><span class="mw-headline" id="Off">Off</span></h4>

<p>All assists disabled except those related to braking.</p>
<p><b>ABS</b>: Constant<br />
<b>Max Engine RPM</b>: 7200rpm<br />
<b>Throttle progression</b>: As Sport<br />
<b>Engine Protection Valve (Exhaust valve) strategy</b>: EVP permanently open<br />
<b>DPM Characteristics</b>: TC.ESP is completely switched off</p>

<p>



</p>