
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:S2_K_Series_IACV.JPG" title="Idle Air Control Valve (S2 K-Series)"><img src="S2_K_Series_IACV.JPG" alt="Idle Air Control Valve (S2 K-Series)" title="Idle Air Control Valve (S2 K-Series)" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Idle Air Control Valve (S2 K-Series)</div></div>
</div>

<p>
The <b>Idle Air Control Valve</b> (IACV), or <b>stepper motor</b>, allows the electronic control unit (<a href="http://wiki.seloc.org/a/ECU" title="ECU">ECU</a>) to regulate the airflow to the engine independently of the driver&#39;s throttle input. </p>
<p>When the engine is idling ECU uses this control (in parallel with ignition timing modulation) to compensate for varying loads that the engine must overcome to maintain the desired idle speed (i.e. friction, electrical load, A/C compressor load etc) </p>
<p>The IACV is also used to control airflow during load changes between positive and negative torque to provide a throttle damping function to improve the drivability characteristics of the vehicle. </p>


<ul>
<li>S1 K-Series engined Elises use a Rover EU2 Stepper IACV (Part No. MLZ100090)</li>
<li>S2 K-Series engined Elises use a Rover EU3 PWM IACV (Rover MDQ100170 Lotus A117E6069S)</li>
</ul>


<p>If you are suspiscious that your IACV may be stuck/jammed, you can test it by disconnecting and reconnecting the <a href="http://wiki.seloc.org/a/ECU" title="ECU">ECU</a> temperature sender with the car ignition on (but not running). If it can move, you&#39;ll hear it chatter as it seeks to a new position when you unplug the sensor.</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Fitting_and_removal">Fitting and removal</a>
</li>
<li class="toclevel-1"><a href="#S1">S1</a>
<ul>
<li class="toclevel-2"><a href="#Location">Location</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#S2">S2</a>
<ul>
<li class="toclevel-2"><a href="#Location_2">Location</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#.22Resetting.22_the_iacv">&#34;Resetting&#34; the iacv</a>
</li>
<li class="toclevel-1"><a href="#External_links">External links</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Fitting_and_removal">Fitting and removal</span></h2>
<h2><span class="mw-headline" id="S1">S1</span></h2>
<p>Removal is a simple process and takes less than five minutes.  It is held in place by two t20 torx screws although a 3mm allen key will also fit.  The lower bolt is slightly harder to get at although easy when the IACV is disconnected from the loom.  When removed it may be sooty and should be cleaned with carburettor cleaner. </p>
<h3><span class="mw-headline" id="Location">Location</span></h3>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:IACV.jpg" title="Idle Air Control Valve (S1 K-Series)"><img src="IACV.jpg" alt="Idle Air Control Valve (S1 K-Series)" title="Idle Air Control Valve (S1 K-Series)" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Idle Air Control Valve (S1 K-Series)</div></div>
</div>



<h2><span class="mw-headline" id="S2">S2</span></h2>
<p>Removal, cleaning and refitting is a 20 minute job. Unplug the loom attachment first. The valve assembly is held in place by four torx screws. The lower two are not visible and have to be located by feel. When the assembly comes free be careful not to drop the rubber seal. Detach the hose. Cleaned with copious amounts of carburettor cleaner spray (until the fluid runs clear). Fitting is reverse of removal, use silicon grease on the seal before reseating. Screw torque 1.5nm.</p>
<p><a class="external free" href="http://forums.seloc.org/viewthread.php?tid=166362&#38;page=1#pid3289867" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=166362&#38;page=1#pid3289867</a></p>
<h3><span class="mw-headline" id="Location_2">Location</span></h3>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:iacv_in_situ.jpg" title="Idle Air Control Valve (S2 K-Series) In Situ"><img src="iacv_in_situ.jpg" alt="Idle Air Control Valve (S2 K-Series) In Situ" title="Idle Air Control Valve (S2 K-Series) In Situ" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Idle Air Control Valve (S2 K-Series) In Situ</div></div>
</div>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:iacv_released.jpg" title="Idle Air Control Valve (S2 K-Series) Released"><img src="iacv_released.jpg" alt="Idle Air Control Valve (S2 K-Series) Released" title="Idle Air Control Valve (S2 K-Series) Released" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Idle Air Control Valve (S2 K-Series) Released</div></div>
</div>


<h2><span class="mw-headline" id=".22Resetting.22_the_iacv">&#34;Resetting&#34; the iacv</span></h2>
<p>S1 (Stepper) The IAC Valve postition maybe reset by switching the ignition on disabling the imobiliser and pressing the throttle fully and slowly 5 times, it may also be reset with the Lotus check tool. This is detailed in section EMN page 14 of the service manual.</p>
<p>S2 (PWM) The S2 ECU cant measure where the IACV is so has to count the drive pulses it sends and remember the poistion, then tries to return to a datum every ignition on/off.  If it loses track e.g. battery disconnected the ignition needs to be switched on to position 2 and off several times to run the valve back to the datum.</p>
<h2><span class="mw-headline" id="External_links">External links</span></h2>

<ul>
<li><a class="external free" href="http://www.eliseparts.com/shop/index.php?main_page=product_info&#38;cPath=131&#38;products_id=460" rel="nofollow">http://www.eliseparts.com/shop/index.php?main_page=product_info&#38;cPath=131&#38;products_id=460</a></li>
</ul>

<p>




</p>