<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Description">Description</a>
</li>
<li class="toclevel-1"><a href="#Correct_Operation">Correct Operation</a>
</li>
<li class="toclevel-1"><a href="#Sensor_Testing">Sensor Testing</a>
</li>
<li class="toclevel-1"><a href="#Replacing_the_Sensor">Replacing the Sensor</a>
</li>
<li class="toclevel-1"><a href="#Spare_Parts">Spare Parts</a>
</li>
<li class="toclevel-1"><a href="#Wiring">Wiring</a>
</li>
<li class="toclevel-1"><a href="#External_Links">External Links</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Description">Description</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:lamba2.JPG" title="Lambda Sensor"><img src="lamba2.JPG" alt="Lambda Sensor" title="Lambda Sensor" class="location-right type-thumb" width="220" />
</a>
<div class="thumbcaption">Lambda Sensor</div></div>
</div>

<p>
The <b>Lambda Sensor</b>, also known as an Oxygen or O<sub>2</sub> sensor, gives a voltage feedback to the <a href="http://wiki.seloc.org/a/ECU" title="ECU">ECU</a> indicating the amount of oxygen in the exhaust stream, thus allowing accurate control over the combustion mixture. This is important to minimise emissions, maximise fuel economy and ensure the longevity of the catalytic converter.</p>
<p>On a standard Elise exhaust, it is located on the manifold downpipe, somewhat resembling a spark plug in appearance, screwed into a threaded hole facing the front of the engine. It will (usually) have 4 silicone sheathed wires emerging from it, and may also have an outer heat resistant wrap covering the wires until they have run some distance from the exhaust.</p>
<p>The wires are usually colour coded as follows:</p>
<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/File:Lambda_Wiring.jpeg" title="Standard Lamba Wiring connector"><img src="Lambda_Wiring.jpeg" alt="Standard Lamba Wiring connector" title="Standard Lamba Wiring connector" class="location-right type-thumb" width="200" />
</a>
<div class="thumbcaption">Standard Lamba Wiring connector</div></div>
</div>







<ul>
<li>White (x2) - Terminals 3&#38;4 - heater wires. Voltage is supplied via these from the <a href="http://wiki.seloc.org/a/ECU" title="ECU">ECU</a> to pre-heat the sensor to its operating temperature when the engine is warming up. Polarity is not important.</li>
<li>Grey - Terminal 2 - sensor ground (earth)</li>
<li>Black - Terminal 1 - sensor signal (+<sub>ve</sub>)</li>
</ul>

















<h2><span class="mw-headline" id="Correct_Operation">Correct Operation</span></h2>
<p>A correctly operating sensor acts as a fuel cell once heated to a minimum of 300°C, producing a voltage by electromechanical means, which typically ranges from around 0.2 volts in the case of a lean mixture to 0.8 volts for a rich mixture. The optimum mixture ratio is reached at around 0.45 volts.</p>

<h2><span class="mw-headline" id="Sensor_Testing">Sensor Testing</span></h2>

<ul>
<li>Disconnect the sensor from the ECU at the square, black plastic connector, so that the sensor&#39;s voltage may be measured in isolation.</li>
<li>Attach an electronic voltmeter or oscilloscope (adjusted to a 1.0 volt range) across the black and grey wires attached to the lambda sensor. This can be done in a number of ways; paring back the insulation from the wires, attaching sprung probes directly to the pins in the connector, pushing pins or IDC splicing blocks through the insulation on the wires, etc. <b>DO NOT</b> use a moving coil meter to test the sensor, as the meter&#39;s low internal resistance will almost certainly damage it.</li>
<li>Start the engine and allow it to warm up for several minutes. As the heater wire has been disconnected from the <a href="http://wiki.seloc.org/a/ECU" title="ECU">ECU</a>, it will take longer than normal for it to reach its 300°C minimum operating temperature.</li>
<li>Examine the voltage output from the sensor. It should be greater than 0.2 volts. No voltage, or a very tiny voltage - far below 0.2 volts, most likely indicates a faulty sensor.</li>
<li>Rev the engine and examine the change in voltage at the sensor. There should be practically no time delay between the engine being revved and a change in voltage at the sensor. A long delay may also indicate a faulty sensor.</li>
</ul>


<h2><span class="mw-headline" id="Replacing_the_Sensor">Replacing the Sensor</span></h2>
<p>This is commonly considered to be a complete pain, primarily due to the sensor&#39;s tendency to &#39;weld&#39; itself into the screw fitting in the exhaust manifold, making it very difficult to remove. Access is also extremely tight, and it is likely that there will not be sufficient room to faclitate using a specialist oxygen sensor socket.</p>
<p>One suggested solution is to cut the wires to the sensor, allowing a 22mm ring spanner to be used to attempt to remove it.</p>
<p>It is said that Lotus garages have their own special ways and means of removing these sensors, and this can involve removing the exhaust manifold entirely, especially where removing the sensor has led to the sensor mounting thread being stripped and having to be re-cut or helicoiled.</p>

<h2><span class="mw-headline" id="Spare_Parts">Spare Parts</span></h2>

<ul>
<li>Elise S1
<ul>
<li>Lotus: A111E6059S</li>
<li>Bosch: 0 258 003 229</li>
<li>Rover: MHK 10006</li>
</ul></li>
</ul>


<ul>
<li>Elise S2
<ul>
<li>Lotus: A117E6007F</li>
<li>Bosch: 0 258 006 127</li>
<li>Rover: MHK 100840</li>
<li>Same sensor type used on location in front and behind of cat-converter</li>
</ul></li>
</ul>

<p>Prices range from around £50 for an after market part without the connector attached to £70 for one with a connector to £150+ for a Lotus branded unit from a main dealer.</p>
<p>Do not be tempted to use a (cheaper) S1 sensor on an S2 and splicing the wires. The S2 <a href="http://wiki.seloc.org/a/ECU" title="ECU">ECU</a> will turn on the MIL because the heater element resistance value is different between the two sensor types and the S1 sensor falls outside the allowable range for the S2 <a href="http://wiki.seloc.org/a/ECU" title="ECU">ECU</a>.</p>

<ul>
<li>Honda engine FRONT sensor for European K20A2 engine (narrowband)
<ul>
<li>Honda 36531-PRA-G01</li>
<li>DENSO 192 400-1090 </li>
<li>NTK OHK563-H5</li>
</ul></li>
</ul>


<ul>
<li>Honda engine REAR sensor (not fitted/used on most Elise conversions!)
<ul>
<li>Honda 36532-PRC-004</li>
<li>NTK OZA562-H7</li>
</ul></li>
</ul>

<h2><span class="mw-headline" id="Wiring">Wiring</span></h2>
<p>For Sinclaire&#39;s/Essex Autosport Honda conversion the wirings should be connected as follows:
</p>
<ul>
<li>Terminal 1 (Lambda Black) - orange</li>
<li>Terminal 2 (Lambda Grey) - purple / white</li>
<li>Terminal 3 (Lambda White) - red / yellow</li>
<li>Terminal 4 (Lambda White) - black white</li>
</ul>

<p>The coloured wiring on Link Up and other conversions will be dependent on the converter.  However they will be connected:
</p>
<ul>
<li>2x white = heater wires ( to ECU A1 and +12V)</li>
<li>1x black = sensor/signal ground (to ECU E4)</li>
<li>1x grey = sensor/signal voltage (to ECU A6) </li>
</ul>


<h2><span class="mw-headline" id="External_Links">External Links</span></h2>

<ul>
<li><a class="external text" href="http://www.lambdasensor.com" rel="nofollow">lambdasensor.com</a></li>
<li><a class="external text" href="http://www.lambdasensor.com/main/bosch/price.pl?item=0258003229" rel="nofollow">lambdasensor.com .... s1</a></li>
<li><a class="external text" href="http://www.fuelparts.co.uk" rel="nofollow">fuelparts.co.uk</a></li>
</ul>


<p>



</p>