
<p>A <b>High Intensity Discharge</b>, or <b>HID</b>, is an aftermarket upgrade people fit to improve the lighting on the Elise.</p>
<p>Xenon or HID lamps are the bright white lamps you normally find in the newer generation cars.  Although these lamps draw less current then the OE halogen bulbs, the light output is increased by approx. 3 - 3.5x over a Halogen bulb.</p>
<p>Besides the colour temperature of these lamps is different.  Some kits quote around 6000 Kelvin which is experienced as near daylight. The advantage of this colour temperature is a more relaxing view of what&#39;s in front of you. Besides, road marking will reflect better.</p>
<p><b>It is a common misconception that the higher the K (Kelvin temperature) the brighter the bulb.</b> In fact it is the opposite.  The K rating is inversely proportional to the light output.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:Hidguide.jpg" ><img src="Hidguide.jpg" width="220" />
</a></p>
<p>The actual bulb looks like a small glass bubble. The bubble looks empty, but is filled with Xenon gas. (hence the reason why some people call these lamps Xenon lamps) The Xenon gas is used as the conductor.  Applying 12 Volts to this conductor wouldn&#39;t start the lamp as the Xenon gas needs a higher voltage to start.  To start the lamp, you need to apply approx. 24000 Volts, but when the lamp heats up the voltage is lowered to approx. 85 Volts.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:bulbguide.jpg" ><img src="bulbguide.jpg" width="220" />
</a></p>
<p>Comparing the two: (based on a H1 (=Elise S2) base)
Halogen HID
Wattage (W) 55 / 35
Candela (CD) 67500 / 202500
Lumen (Lm) 1550 / 3200
ColourTemp (K) 3200 / 6000</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Comparison">Comparison</a>
</li>
<li class="toclevel-1"><a href="#Kit_suppliers">Kit suppliers</a>
<ul>
<li class="toclevel-2"><a href="#Elise_shop">Elise shop</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Bulb_suppliers">Bulb suppliers</a>
</li>
<li class="toclevel-1"><a href="#External_links">External links</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Comparison">Comparison</span></h2>
<p>The first 3 pictures by <a class="external text" href="http://forums.seloc.org/m/Janitor" rel="nofollow">Janitor</a> show direct comparison taken in identical light with a flash. (The original lights on left, HID &#38; LEDs on right) But they are for an S2.
The subsequent 6 pictures by <a class="external text" href="http://forums.seloc.org/m/Grinnders" rel="nofollow">Grinnders</a> show the comparison between standard Halogen and 4000k HID on an S1 in standard H4 units.</p>
<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:hid_comparison_1.jpg" ><img src="hid_comparison_1.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Sidelights</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:hid_comparison_2.jpg" ><img src="hid_comparison_2.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Dipped headlights</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:hid_comparison_3.jpg" ><img src="hid_comparison_3.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Main Beam</p>
                    </div>
                </div>
                <div></div><div></div>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:S1HalvHIDLoBeam.jpg" ><img src="S1HalvHIDLoBeam.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>S1 with half HID half halogen Lo Beam</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:S1H4HIDFullBeam.jpg" ><img src="S1H4HIDFullBeam.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>S1 with half HID half halogen Hi Beam</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:S1DoubleHIDLowBeam.jpg" ><img src="S1DoubleHIDLowBeam.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>S1 with full HID Lo Beam</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:S1doubleHIDHiBeam.jpg" ><img src="S1doubleHIDHiBeam.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>S1 with full HID (excl. spots) Hi Beam</p>
                    </div>
                </div>
                <div></div>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:HID4300kv6000kLo.JPG" ><img src="HID4300kv6000kLo.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>S1 Lo beam with 4300k Drivers side 6000k Pax</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:HID4300kv6000kHi.JPG" ><img src="HID4300kv6000kHi.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>S1 Hi beam with 4300k Drivers side 6000k Pax and both spots</p>
                    </div>
                </div>
                </p>

<ul>
<li><a href="http://wiki.seloc.org/a/Fit_a_HID_kit" title="Fit a HID kit">How to fit a HID kit</a></li>
<li><a href="http://wiki.seloc.org/a/Hurricane_HID_kit_FAQ" title="Hurricane HID kit FAQ">Hurricane HID kit FAQ</a></li>
</ul>

<h2><span class="mw-headline" id="Kit_suppliers">Kit suppliers</span></h2>
<h3><span class="mw-headline" id="Elise_shop">Elise shop</span></h3>
<p>Elise shop supply the Hurricane
</p>
<ul>
<li><a class="external free" href="http://www.elise-shop.com/index.php?main_page=index&#38;cPath=7" rel="nofollow">http://www.elise-shop.com/index.php?main_page=index&#38;cPath=7</a></li>
</ul>

<h2><span class="mw-headline" id="Bulb_suppliers">Bulb suppliers</span></h2>

<ul>
<li><a class="external free" href="http://www.hids4u.co.uk/" rel="nofollow">http://www.hids4u.co.uk/</a></li>
<li><a class="external free" href="http://www.xenondirect.com/" rel="nofollow">http://www.xenondirect.com/</a></li>
</ul>

<h2><span class="mw-headline" id="External_links">External links</span></h2>

<ul>
<li><a class="external free" href="http://en.wikipedia.org/wiki/High-intensity_discharge_lamp" rel="nofollow">http://en.wikipedia.org/wiki/High-intensity_discharge_lamp</a></li>
<li><a class="external free" href="http://en.wikipedia.org/wiki/Headlight#HID_technology_.28Xenon_and_Bi-Xenon.29" rel="nofollow">http://en.wikipedia.org/wiki/Headlight#HID_technology_.28Xenon_and_Bi-Xenon.29</a></li>
</ul>

<p>


</p>