
<p>



</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:alternator.jpg" title="Rover K Series Alternator"><img src="alternator.jpg" alt="Rover K Series Alternator" title="Rover K Series Alternator" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Rover K Series Alternator</div></div>
</div>


<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Alternator">Alternator</a>
</li>
<li class="toclevel-1"><a href="#Alternator_Problem_Diagnosis">Alternator Problem Diagnosis</a>
</li>
<li class="toclevel-1"><a href="#Removal">Removal</a>
</li>
<li class="toclevel-1"><a href="#Removal_from_Air_Con_Cars">Removal from Air Con Cars</a>
</li>
<li class="toclevel-1"><a href="#Regulator">Regulator</a>
</li>
<li class="toclevel-1"><a href="#Alternator_belt">Alternator belt</a>
</li>
<li class="toclevel-1"><a href="#Alternator_Heat_Protection">Alternator Heat Protection</a>
</li>
<li class="toclevel-1"><a href="#Sourcing_Replacement">Sourcing Replacement</a>
</li>
<li class="toclevel-1"><a href="#Alternator_Re-build">Alternator Re-build</a>
</li>
<li class="toclevel-1"><a href="#Alternator_Pulley_Information">Alternator Pulley Information</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Alternator">Alternator</span></h2>

<p><a class="external text" href="http://en.wikipedia.org/wiki/Alternator" rel="nofollow">Wikipedia on Alternator</a></p>
<p>Electrical pack replacement.</p>
<p>If you have a problem with the brushes or the electrical pack in general, a new part can be bought from WOODAUTO. (www.woodauto.com). To order, you will need to call them.</p>
<p>My alternator on a S1 Elise stopped working, so I removed it from the car. Took the electrical pack off, and saw the tails from the brushes were no longer connected to their connections, corrosion was the reason.</p>
<p>The electrical pack off mine had ref. RTM152b. On the Woods website, this came up but their ref. is VRG36884 RMI. This item cost £24 plus VAT. All in all, posted to my door cost me £30.00 with VAT.</p>
<p>Refer to the current guild for a photo of the electical pack. It is the black part which has been removed from the alternater. No major rebuild at all if this is the problem.</p>
<p>Time take, 1hr.</p>
<p>Information added by Britspeed off Seloc.</p>
<h2><span class="mw-headline" id="Alternator_Problem_Diagnosis">Alternator Problem Diagnosis</span></h2>

<p>Common failures:</p>
<p>Regulator &#38; Rectifier failure:</p>
<p>Battery lights flash on dash, headlights flash on when trying to start. When checking the voltage across the battery terminals readings are usually  less then 12v, or can be open circuit and go high voltage 18v. This can have a detrimental affect on the battery - boils the acid/fluid if too high. Easiest solution - Remove the alternator and get checked by auto electrician. </p>

<p>The battery warning light on dash and flashing headlights can also be caused by a flat battery. There is a clicking as the solenoid etc click over but the engine will not start.</p>

<p>Bearing Failure for S2 111s and other model with 4-2-1 exhaust:</p>
<p>Due to the additional width of the 4-2-1 pipes, failure of the rear bearing is not uncommon.
The heat from the pipes cooks the grease until the bearing runs dry and very loud.
Noise produced sounds like metal grinding against metal.</p>


<p>Please add your Info, Just click EDIT</p>
<h2><span class="mw-headline" id="Removal">Removal</span></h2>
<p>Should take about 1hr:
</p>
<ol>
<li>Disconnect the battery</li>
<li>Remove offside rear wheel and wheel arch liner</li>
<li>Remove plastic cam cover - three 8mm screws</li>
<li>Remove any exhaust manifold heat shield</li>
<li>Remove main (largest) wire from alternator 13mm nut.  You can&#39;t remove the control wire (clip on connector) yet as the heat shield is in the way.  Leave this for now.</li>
<li>Remove 15mm tension bolt</li>
<li>Remove 15mm top bolt</li>
<li>Pry alternator from bracket.  Start with small flat head screwdriver and gradually move to larger size as the alternator moves out.</li>
<li>Disconnect control wire plug and remove belt from pully</li>
<li>Extract alternator from above</li>
</ol>


<ul>
<li>Removing the undertray offers no advantage although removing the boot lid is helpful.</li>
</ul>

<h2><span class="mw-headline" id="Removal_from_Air_Con_Cars">Removal from Air Con Cars</span></h2>
<p>I find it best to remove the engine cover to gain direct access from directly above the alternator.  Get the gas removed from the system before you touch the pipes.
</p>
<ol>
<li>Release the tension in the auxillary belt by slackening the pulley tension bolt (remove the belt).  The pulley sits inbetween the engine and compressor.</li>
<li>Undo the nut attaching the smaller rubber aircon pipe to the sill pipe in the wheel arch.  This will allow you access to the larger pipe.</li>
<li>Remove the top alternator bolt and the bracket holding the air con pipes together.</li>
<li>Slacken the bottom alternator bolt through the wheel arch.  This should allow you to pivot the alternator away from the top alternator bracket.</li>
<li>Remove the top bracket.</li>
<li>Use the appropriate allen key to remove the bolt holding the large air con pipe on to the compressor.  You can access the bolt through the wheel arch.</li>
<li>From above either slacken (or remove)the smaller air con pipe going to the compressor.</li>
<li>Using a ratchet spanner or similar, access the bottom alternator bolt from above (I found it best to stand in the cockpit!)  Use a 1/4 inch ratchet with extension to access the back bolt.</li>
<li>Extract alternator from above.</li>
</ol>
 


<h2><span class="mw-headline" id="Regulator">Regulator</span></h2>
<p>Very common for these to fail.  Can be replaced for about £60.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:Bosch_alternator_regulator_f00m145269.JPG" title="Bosch Alternator Regulator"><img src="Bosch_alternator_regulator_f00m145269.JPG" alt="Bosch Alternator Regulator" title="Bosch Alternator Regulator" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Bosch Alternator Regulator</div></div>
</div>

<h2><span class="mw-headline" id="Alternator_belt">Alternator belt</span></h2>

<p>You can change the alternator belt by taking off the rear drivers side wheel and plastic inner arch mud guard. Removing the undertray will give no advantage. You will just need a good socket set, though you can get to A and B easily enough with a 15mm spanner.</p>
<p>Loosen  &#39;A&#39; pivot bolt and &#39;B&#39; tensioner bolt, to allow the alternator to &#39;swing&#39;.</p>
<p>&#39;C&#39; on the diagram is the tensioner of the belt, loosen this to remove the belt. The tensioner bolt is the 8mm bolt on the end of the arm. It slots into the end of the arm and allows the adjustment. Difficult to see when peering in, but easy enough to locate.</p>
<p>The MG Rover part number for a belt for the S1 is PQS100840 and costs about £10.50 including VAT. - <i> This part number may be correct if you&#39;re going to a Rover dealer, but UniPart gave me a different belt when I asked for that number, the correct belt was UniPart number GMV50738 - AL...Ease 27/08/09</i></p>
<p><b>Tension belt</b> to the following on S2:
For heater cars - one way deflection of 6-8mm under moderate finger pressure
For AC cars - as previous but 9-10mm </p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:alternator1.jpg" title="Alternator as shown on elise S2"><img src="alternator1.jpg" alt="Alternator as shown on elise S2" title="Alternator as shown on elise S2" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Alternator as shown on elise S2</div></div>
</div>

<p>
<a class="image" href="http://wiki.seloc.org/a/Image:servicealternator.jpg" ><img src="servicealternator.jpg" width="220" />
</a></p>


<h2><span class="mw-headline" id="Alternator_Heat_Protection">Alternator Heat Protection</span></h2>

<p>Heat-shield fabrics claim to reflect up to 90% of the heat radiated by the exhaust and can function at temperatures unto 2000 degrees Fahrenheit.</p>
<p>The potential downside is that the critical components are also thermally insulated from the inside and could therefore suffer from internally generated heat, ie too much protection could make matter worse.</p>
<p><a class="external free" href="http://www.eliseparts.com/shop/index.php?main_page=product_info&#38;products_id=289" rel="nofollow">http://www.eliseparts.com/shop/index.php?main_page=product_info&#38;products_id=289</a></p>
<p><a class="external free" href="http://www.elise-shop.com/index.php?main_page=product_info&#38;products_id=80" rel="nofollow">http://www.elise-shop.com/index.php?main_page=product_info&#38;products_id=80</a></p>
<p>Material can be bought here :-</p>
<p><a class="external free" href="http://www.merlinmotorsport.co.uk/advanced_search_result.php?keywords=heat" rel="nofollow">http://www.merlinmotorsport.co.uk/advanced_search_result.php?keywords=heat</a></p>
<p>There are option to improve the standard of the existing manifold shielding or to wrap the exhaust. Both of which <a href="http://wiki.seloc.org/a/May" title="May">may</a> just push the heat elsewhere and cause problems further down the line.</p>




<p>Please add your Info, Just click EDIT</p>
<h2><span class="mw-headline" id="Sourcing_Replacement">Sourcing Replacement</span></h2>

<p>It is not recommended to purchase Chinese manufactured pattern replacement alternators for the Elise, such as those commonly advertised on eBay. They are not built to withstand sustained high revs and are guaranteed to fail prematurely. These include:</p>

<ul>
<li>Unipoint (ALT-4212)</li>
</ul>

<p>Known good models include:</p>

<ul>
<li>Magneti Marelli (63321239)</li>
<li>Bosch - OE part</li>
<li>02 111s BOSCH 0124225011</li>
</ul>


<h2><span class="mw-headline" id="Alternator_Re-build">Alternator Re-build</span></h2>

<p>Should your alternator bearing pack up and you don&#39;t want to buy a new one (£165) or exchange (£120-140) or repair (£40), then you can always fix it yourself.</p>
<p>Doing this may stop you from being able to exchange an alternator at a later date, if you have any worries stop now.</p>

<p>1. Remove the alternator from the car as described above, access can only be achieved through the wheel arch, with the drivers rear wheel removed. Good luck getting it out between the engine mount and the fuel filler pipes, stick with it!</p>
<p>2. Once you&#39;ve got the alternator on the bench remove the 2 nuts and the 1 screw holding the plastic cover on and remove, then undo the 3 screws (a&#38;b + c not shown!) holding the electrical parts on - remove sideway and slide out with the commutators attached.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:alternator1a.jpg" title="Click to make bigger"><img src="alternator1a.jpg" alt="Click to make bigger" title="Click to make bigger" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click to make bigger</div></div>
</div>


<p>3. Undo the 4 long bolts, I used a screw driver with a hex shaft and drove it round with a spanner.</p>
<p>4. Using a sturdy flat blade screw drive prise the 2 halves of the body apart. This takes time and you have to work methodically work round from one side to another.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:alternator2.jpg" title="Click to make bigger"><img src="alternator2.jpg" alt="Click to make bigger" title="Click to make bigger" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click to make bigger</div></div>
</div>


<p>5. Using a 2 or 3 leg puller pull the bearing off the shaft. I used a small hollow nut to protect the plastic shroud on the shaft, so that the centre of the puller pushed against metal instead of plastic.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:alternator3.jpg" title="Click to make bigger"><img src="alternator3.jpg" alt="Click to make bigger" title="Click to make bigger" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click to make bigger</div></div>
</div>


<p>6. Measure the bearing using a vernier. Mine was 35mmOD, 17mmID by 10mm -- SKF 6003.
Go here</p>
<p>Enter you bearing dimensions and obtain a product code. Then take that code over to eBay and see if you can find a 99p replacement!
You could go for an uprated high temperature bearing but make sure the rpm rating is up to the job.</p>
<p>7. Refit the new bearing by either using a deep socket and drift or make a press from a jack, some wood and wedge under something heavy.</p>
<p>8. Align the 2 halves of the alternator and refit the 4 long bolts, tighten each one a 1/4 turn until tight. Refit the electronics in the reverse of disassemble, making sure to push the commutator back in first.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:alternator4.jpg" title="Click to make bigger"><img src="alternator4.jpg" alt="Click to make bigger" title="Click to make bigger" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click to make bigger</div></div>
</div>


<p>9. Refit to the car, reconnect the wiring and tension the belt as above.</p>

<p>Alternator parts supplier
<a class="external free" href="http://www.woodauto.com/Unit.aspx?Man=BOSCH&#38;Ref=0124225011" rel="nofollow">http://www.woodauto.com/Unit.aspx?Man=BOSCH&#38;Ref=0124225011</a></p>
<h2><span class="mw-headline" id="Alternator_Pulley_Information">Alternator Pulley Information</span></h2>

<p>Assume tickover at 900 rpm for the warning light to go out. </p>
<p>Standard pulley diameter 48mm, light goes out at 900 rpm, equivalents are</p>
<pre>57mm needs 996 rpm
67mm needs 1183 rpm
80mm needs 1503 rpm

</pre>
<p>Belt sizes are 5pk 738, next size up is 5pk 778 (Gates)</p>