
<p>The Instrument binnacle in the Elise is made by a company called &#39;Stack&#39; and therefore is referred to as &#39;Stack unit&#39; or just &#39;Stack&#39;.  Late Elise have replaced the Stack with a Shurlok unit.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:elisestack.JPG" title="S1 Elise Stack Unit"><img src="elisestack.JPG" alt="S1 Elise Stack Unit" title="S1 Elise Stack Unit" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">S1 Elise Stack Unit</div></div>
</div>


<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<ul>
<li class="toclevel-1"><a href="#Resetting">Resetting</a>
</li>
<li class="toclevel-1"><a href="#Stack_Unit_-_removing_unit">Stack Unit - removing unit</a>
</li>
<li class="toclevel-1"><a href="#Stack_unit_-_removing_glass">Stack unit - removing glass</a>
</li>
<li class="toclevel-1"><a href="#S1_Stack_Glass">S1 Stack Glass</a>
</li>
<li class="toclevel-1"><a href="#Dimensions_S1_Stack_Glass">Dimensions S1 Stack Glass</a>
</li>
<li class="toclevel-1"><a href="#Return_to_Zero">Return to Zero</a>
</li>
<li class="toclevel-1"><a href="#CAN_Bus_API_for_PI_Shurlok_Clusters">CAN Bus API for PI Shurlok Clusters</a>
</li>
<li class="toclevel-1"><a href="#Also_See">Also See</a>
</li>
</ul>
</ul>
</ul></td></tr></table><hr/>
<h3><span class="mw-headline" id="Resetting">Resetting</span></h3>
<p>I recently acquired a GPS and was very shocked to see that my speedo was over-reading by about 10 mph when compared to the GPS. On searching the Tech forum, I realised that this is quite common, and can be simply rectified by resetting the Stack unit as follows:</p>
<pre>- Turn off the ignition
- Open the driver&#39;s door (yes, really!)
- Press and hold the trip-meter reset button
- Whilst still holding the reset button turn the key in the ignition to the second position (just before the engine turns)
</pre>
<p>The Stack will then wind both needles back to below the zero position, and the LCD will show the software revision number. Once it&#39;s gone through the motions your speedo should then read true!</p>
<p>From my research, this seems to work on all versions of the Elise, including those with Stack and Shurlok instruments.</p>
<h3><span class="mw-headline" id="Stack_Unit_-_removing_unit">Stack Unit - removing unit</span></h3>
<p>To remove the stack unit it is necessary to first remove the steering column surround which consists of removing its 5?? screws. NOTE: be careful as the odometer reset switch is attached to the surround and it may be possible to damage the two delicate wires connecting it. </p>
<p>Once the steering column surround is removed you should see two 10 or 12mm bolts. Once these are removed the unit should become free apart from the wiring harness connected at the rear. NOTE: be careful at this stage as it is possible to damage the wiring harness if excess weight or force is placed on the cabling</p>
<p>To gain better access to the plug at the rear I removed the cowl surrounding the unit using a small socket set with a universal joint to remove the 4 small nuts. NOTE: It is probably a good idea to try to mark the unit somehow first as the cowl is fitted with elongated holes to allow fine positioning of the cowl surrounding the unit.</p>
<p>The plug at the rear has an upper and lower blue retaining clip. These were relatively easily removed (however be careful they don&#39;t fall inside the dash like mine did ;)) The plug itself however was VERY difficult to remove and I had to proceed with patience continuously gently wriggling it until it beame free. This took a long time but eventually worked.</p>
<p>The unit should now be free to remove from the vehicle. To remount the unit I simply reversed the above sequence. </p>
<h3><span class="mw-headline" id="Stack_unit_-_removing_glass">Stack unit - removing glass</span></h3>
<p>To remove the perspex window of the stack unit it should first be removed from the vehicle using the above procedure.</p>
<p>The glass is held in place using a black bath sealant type substance and this should be scraped away as best as possible. I, very gently, used a stanley knife blade to separate the perspex window from the plastic surrounding lip. This is a job that should be done very carefully and slowly otherwise there will be obvious damage to the unit. I did this over a period of days as not to become too frustrated with it. When I started to get frustrated with it I went off and had a beer and tried again the next day....not a job to do if you&#39;re in a rush!</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:stack_unit_1.jpg" ><img src="stack_unit_1.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>


<p>Once I was satisfied that I had removed as much of the black sealant as I could I gently started to insert broken stanley blade segments into the gap and really gently try to lever the perspex out of the unit. I started along the bottom edge and in the bottom corners in case I made any marks on the unit as these areas are somewhat hidden by the steering column surround . NOTE: stanley blades are bloody sharp and you could very easily cut yourself. Don&#39;t say I didn&#39;t warn you!</p>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:stack_unit_2.jpg" ><img src="stack_unit_2.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>


<p>Once I had managed to lift a corner I continued to separate the black sealant at the back of the perspex. I then added another segment of broken stanley blade to keep it lifted and slowly worked my way round the edge. Be careful not to lever the perspex too much or it might break and i&#39;m not so sure how easy or cheap it would be to get a replacement.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:stack_unit_3.jpg" ><img src="stack_unit_3.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>


<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:stack_unit_4.jpg" ><img src="stack_unit_4.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>


<p>To refit the glass I managed to find some black bath sealant at my local DIY shop. I first cleaned all of the surfaces as best as I could and then pushed the glass back in place. I then sparingly squeezed some of the sealant around the edge of the glass clearing away the excess immediatlely. I decided not to put any sealant behind the glass as the glass already seemed a reasonably tight fit and just in case i had to do the same job next week, It is a Lotus after all! I just put enough around the edge to seal it so that moisture, condensation etc shouldn&#39;t be able to get in.</p>
<p>My best advice is to take your time with this job. It&#39;s a bit long but i think the slower you do it the less likely you are to damage the unit. Good luck!</p>

<h3><span class="mw-headline" id="S1_Stack_Glass">S1 Stack Glass</span></h3>
<p>If you need to replace the Glass(Lens) on your S1&#39;s Stack, you can get this (already painted of couse) directly from Stack for £50.00 ex vat and shipping.</p>
<p>Contact:
sales@stackinc.com or sharon.drew@stackltd.com</p>
<p>(As of Oct 25, 2008, STACK no longer sell the replacement Glass) but elise-shop.com started to sell the glasses. You can find them here: <a class="external text" href="http://www.elise-shop.com/stack-replacement-glass-elise-s1-exige-s1-p-354087.html" rel="nofollow">..here..</a></p>
<h3><span class="mw-headline" id="Dimensions_S1_Stack_Glass">Dimensions S1 Stack Glass</span></h3>
<p>If you want to make yourself a lightweight perspex version of the Stack glass, here are the dimensions </p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:StackDimensions.jpg" ><img src="StackDimensions.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>



<h3><span class="mw-headline" id="Return_to_Zero">Return to Zero</span></h3>
<p>There appears to be an undocumented software feature in the stack firmware which returns the odometer value back to zero.  A very handy feature indeed but unfortunately the procedure required to perform this functionality is currently unknown..</p>

<ul>
<li><a class="external free" href="http://arc.seloc.org/viewthread.php?tid=121480" rel="nofollow">http://arc.seloc.org/viewthread.php?tid=121480</a></li>
</ul>

<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Stack_return_to_zero.jpg" ><img src="Stack_return_to_zero.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>S2 Stack display after odometer reset</p>
                    </div>
                </div>
                </p>
<h3><span class="mw-headline" id="CAN_Bus_API_for_PI_Shurlok_Clusters">CAN Bus API for PI Shurlok Clusters</span></h3>


<ul>
<li><a class="external free" href="http://www.warp.at/lotus" rel="nofollow">http://www.warp.at/lotus</a></li>
</ul>

<h3><span class="mw-headline" id="Also_See">Also See</span></h3>
<p><a class="external text" href="http://www.stackltd.com/" rel="nofollow">Stack&#39;s WebSite</a></p>
<p><a class="external text" href="http://www.cishurlok.com/" rel="nofollow">Shurlok&#39;s WebSite</a></p>
<p><a class="external text" href="http://en.wikipedia.org/wiki/Dashboard#Dashboard_items" rel="nofollow">Dashbord Instrument cluster</a></p>
<p>



</p>