<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Fuses">Fuses</a>
</li>
<li class="toclevel-1"><a href="#Fuse_Colours">Fuse Colours</a>
</li>
<li class="toclevel-1"><a href="#Elise">Elise</a>
<ul>
<li class="toclevel-2"><a href="#Elise_S1_Fuse_Box">Elise S1 Fuse Box</a>
</li>
<li class="toclevel-2"><a href="#Elise_S1_Relays">Elise S1 Relays</a>
</li>
<li class="toclevel-2"><a href="#Elise_S1_Maxi_Fuses">Elise S1 Maxi Fuses</a>
</li>
<li class="toclevel-2"><a href="#K_Series_Elise_S2_Fuse_Box">K Series Elise S2 Fuse Box</a>
</li>
<li class="toclevel-2"><a href="#K_Series_Elise_S2_Relays">K Series Elise S2 Relays</a>
</li>
<li class="toclevel-2"><a href="#K_Series_Elise_S2_Engine_Fuses">K Series Elise S2 Engine Fuses</a>
</li>
<li class="toclevel-2"><a href="#Toyota_Elise_S2_Fuse_Box">Toyota Elise S2 Fuse Box</a>
</li>
<li class="toclevel-2"><a href="#Toyota_Elise_S2_Interior_Fuses_.26_Relays">Toyota Elise S2 Interior Fuses &#38; Relays</a>
</li>
<li class="toclevel-2"><a href="#Toyota_Elise_S2_Engine_Fuses">Toyota Elise S2 Engine Fuses</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Evora">Evora</a>
<ul>
<li class="toclevel-2"><a href="#Main_Fusebox">Main Fusebox</a>
</li>
<li class="toclevel-2"><a href="#Relays">Relays</a>
</li>
<li class="toclevel-2"><a href="#Rear_Fusebox">Rear Fusebox</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#References">References</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Fuses">Fuses</span></h2>

<p>Fuses protect your car from electrical short circuits and power overloads that can damage equipment or start a fire. Often, a fuse will blow due to a momentary overload, and replacing the bad fuse as directed below will fix the problem (the car&#39;s horn or interior lights may cease to work, for example). If a fuse blows repeatedly, it indicates an electrical problem that will require a little trip to your Lotus Dealer. The wires can corrode on the reverse of the fusebox and break off. If this happens new clip in fuse terminals can be sourced from Smart car dealers, part number 011 545 84 26 or 004 545 52 26, both parts numbers are correct. Simply solder them onto the wire and push fit them into a spare socket in the fusebox, then mark up your handbook with the change. </p>
<p><b>Never replace a fuse with one of bigger amperage. This could damage the device the fuse is meant to protect.</b></p>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:fuses.JPG" title="&#39;Littel&#39; coloured fuses"><img src="fuses.JPG" alt="&#39;Littel&#39; coloured fuses" title="&#39;Littel&#39; coloured fuses" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">&#39;Littel&#39; coloured fuses</div></div>
</div>


<h2><span class="mw-headline" id="Fuse_Colours">Fuse Colours</span></h2>


<p><b>2A = BLACK</b></p>
<p><b>3A = VIOLET</b></p>
<p><b>4A = PINK</b></p>
<p><b>5A = ORANGE</b></p>
<p><b>7.5A = BROWN</b></p>
<p><b>10A = RED</b></p>
<p><b>15A = LIGHT BLUE</b></p>
<p><b>20A = YELLOW</b></p>
<p><b>25A = CLEAR</b></p>
<h2><span class="mw-headline" id="Elise">Elise</span></h2>

<h3><span class="mw-headline" id="Elise_S1_Fuse_Box">Elise S1 Fuse Box</span></h3>

<p>The main fusebox is located in the front under the bonnet, on the passenger side, and is protected by a plastic cover. Twenty two slots are provided for standard size &#39;Littelfuse&#39; 257 series blade fuses which are numbered, and <a class="external text" href="http://wiki.seloc.org/index.php/Fusebox#Fuse_Colours" rel="nofollow">coloured</a> according to their amperage rating, and may be pulled out from their slots using the fuse extractor tool provided on the fusebox lid.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:s1mainfuses.JPG" title="S1 Main Fuse Box"><img src="s1mainfuses.JPG" alt="S1 Main Fuse Box" title="S1 Main Fuse Box" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">S1 Main Fuse Box</div></div>
</div>




<div style="page-break-inside: avoid;">
<table border="1" cellpadding="8" cellspacing="0">
<tr>
<td><b>Slot</b></td>
<td><b>Rating</b></td>
<td align="right"><b>Circuit</b></td></tr>
<tr>
<td>1</td>
<td>3A</td>
<td align="right">Rear fog lamp</td></tr>
<tr>
<td>2</td>
<td>2A</td>
<td align="right">Alarm ignition</td></tr>
<tr>
<td>3</td>
<td>20A</td>
<td align="right">Interior fan</td></tr>
<tr>
<td>4</td>
<td>15A</td>
<td align="right">Wiper motor</td></tr>
<tr>
<td>5</td>
<td>3A</td>
<td align="right">Reverse lamp</td></tr>
<tr>
<td>6</td>
<td>7.5A</td>
<td align="right">Direction indicators</td></tr>
<tr>
<td>7</td>
<td>10A</td>
<td align="right">Ignition services</td></tr>
<tr>
<td>8</td>
<td>7.5A</td>
<td align="right">Stop lamps &#38; Battery services 
(Stack speedo, tacho and LCD)</td></tr>
<tr>
<td>9</td>
<td>10A</td>
<td align="right">Hazard lamps</td></tr>
<tr>
<td>10</td>
<td>7.5A</td>
<td align="right">Horn</td></tr>
<tr>
<td>11</td>
<td>10A</td>
<td align="right">Alarm &#38; Interior lamp</td></tr>
<tr>
<td>12</td>
<td>25A</td>
<td align="right">Cooling fan</td></tr>
<tr>
<td>13</td>
<td>BLANK</td>
<td align="right">BLANK</td></tr>
<tr>
<td>14</td>
<td>20A</td>
<td align="right">Audio</td></tr>
<tr>
<td>15</td>
<td>20A</td>
<td align="right">Cigar lighter</td></tr>
<tr>
<td>16</td>
<td>5A</td>
<td align="right">Sidelamp LH</td></tr>
<tr>
<td>17</td>
<td>5A</td>
<td align="right">Sidelamp RH and Stack illumination</td></tr>
<tr>
<td>18</td>
<td>BLANK</td>
<td align="right">BLANK</td></tr>
<tr>
<td>19</td>
<td>BLANK</td>
<td align="right">BLANK</td></tr>
<tr>
<td>20</td>
<td>20A</td>
<td align="right">Fast fan speed relay</td></tr>
<tr>
<td>21</td>
<td>BLANK</td>
<td align="right">BLANK</td></tr>
<tr>
<td>22</td>
<td>BLANK</td>
<td align="right">BLANK</td></tr></table></div>

<p>Early Elises (pre Oct 97) have several fuse boxes. The main one is located on the left hand side of the front services compartment. A smaller fuse box is located underneath the windscreen motor cover. The fuel pump fuse is located near the ECU at the rear of the car (LH in the boot).</p>

<div style="page-break-inside: avoid;">
<table border="1" cellpadding="8" cellspacing="0">
<tr>
<td><b>Slot</b></td>
<td><b>Rating</b></td>
<td align="right"><b>Circuit</b></td></tr>
<tr>
<td>1</td>
<td>3A</td>
<td align="right">Rear fog lamp</td></tr>
<tr>
<td>2</td>
<td>2A</td>
<td align="right">Alarm</td></tr>
<tr>
<td>3</td>
<td>15A</td>
<td align="right">Interior fan</td></tr>
<tr>
<td>4</td>
<td>15A</td>
<td align="right">Wiper motor</td></tr>
<tr>
<td>5</td>
<td>3A</td>
<td align="right">Reverse lamp</td></tr>
<tr>
<td>6</td>
<td>7.5A</td>
<td align="right">Direction indicators</td></tr>
<tr>
<td>7</td>
<td>5A</td>
<td align="right">Ignition services</td></tr>
<tr>
<td>8</td>
<td>7.5A</td>
<td align="right">Stop lamps &#38; Battery services</td></tr>
<tr>
<td>9</td>
<td>10A</td>
<td align="right">Hazard lamps</td></tr>
<tr>
<td>10</td>
<td>7.5A</td>
<td align="right">Horn</td></tr>
<tr>
<td>11</td>
<td>10A</td>
<td align="right">Alarm &#38; Interior lamp</td></tr>
<tr>
<td>12</td>
<td>25A</td>
<td align="right">Cooling fan</td></tr></table></div>

<p>Fusebox under wiper motor</p>

<div style="page-break-inside: avoid;">
<table border="1" cellpadding="8" cellspacing="0">
<tr>
<td><b>Slot</b></td>
<td><b>Rating</b></td>
<td align="right"><b>Circuit</b></td></tr>
<tr>
<td>13</td>
<td>20A</td>
<td align="right">Radio</td></tr>
<tr>
<td>14</td>
<td>20A</td>
<td align="right">Cigar lighter</td></tr>
<tr>
<td>15</td>
<td>5A</td>
<td align="right">Sidelamp LH</td></tr>
<tr>
<td>16</td>
<td>5A</td>
<td align="right">Sidelamp RH</td></tr></table></div>

<p>Fuel pump fuse located near ECU LH </p>

<div style="page-break-inside: avoid;">
<table border="1" cellpadding="8" cellspacing="0">
<tr>
<td><b>Slot</b></td>
<td><b>Rating</b></td>
<td align="right"><b>Circuit</b></td></tr>
<tr>
<td>17</td>
<td>10A</td>
<td align="right">Fuel pump</td></tr></table></div>


<h3><span class="mw-headline" id="Elise_S1_Relays">Elise S1 Relays</span></h3>



<div style="page-break-inside: avoid;">
<table border="1" cellpadding="8" cellspacing="0">
<tr>
<td><b>A</b></td>
<td align="right">Horn</td></tr>
<tr>
<td><b>B</b></td>
<td align="right">Cooling fan</td></tr>
<tr>
<td><b>C</b></td>
<td align="right">Dip beam</td></tr>
<tr>
<td><b>D</b></td>
<td align="right">Main beam</td></tr></table></div>



<h3><span class="mw-headline" id="Elise_S1_Maxi_Fuses">Elise S1 Maxi Fuses</span></h3>

<p>Also on the elise is two Maxi fuses, the fuses are located in the front service compartment, beneath the wiper motor protective cover.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:s1maxi.JPG" title="Maxi Fuses"><img src="s1maxi.JPG" alt="Maxi Fuses" title="Maxi Fuses" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Maxi Fuses</div></div>
</div>




<div style="page-break-inside: avoid;">
<table border="1" cellpadding="8" cellspacing="0">
<tr>
<td><b>A</b></td>
<td align="right">Lighting</td></tr>
<tr>
<td><b>B</b></td>
<td align="right">Ignition switch</td></tr></table></div>


<h3><span class="mw-headline" id="K_Series_Elise_S2_Fuse_Box">K Series Elise S2 Fuse Box</span></h3>

<p>The main fusebox is located in the front <a href="http://wiki.seloc.org/a/Services_compartment" title="Services compartment">services compartment</a>, on the passenger side, and is protected by a clear plastic cover. For access, remove the passenger side front body <a href="http://wiki.seloc.org/a/Access_panel" title="Access panel">access panel</a>, followed by the radiator air deflector panel. Twenty two slots are provided for standard size &#39;Littelfuse&#39; 257 series blade fuses which are numbered, and <a class="external text" href="http://wiki.seloc.org/index.php/Fuse_box#Fuse_Colours" rel="nofollow">coloured</a> according to their amperage rating, and may be pulled out from their slots useing the fuse extractor tool provided on the fusebox lit.</p>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:s2fusebox.JPG" title="S2 Fusebox"><img src="s2fusebox.JPG" alt="S2 Fusebox" title="S2 Fusebox" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">S2 Fusebox</div></div>
</div>



<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:carfusebox.JPG" title="S2 Fusebox"><img src="carfusebox.JPG" alt="S2 Fusebox" title="S2 Fusebox" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">S2 Fusebox</div></div>
</div>




<div style="page-break-inside: avoid;">
<table border="1" cellpadding="8" cellspacing="0">
<tr>
<td><b>Slot</b></td>
<td><b>Raiting</b></td>
<td align="right"><b>Circuit</b></td></tr>
<tr>
<td>1</td>
<td>20A</td>
<td align="right">Aux. power socket</td></tr>
<tr>
<td>2</td>
<td>2A</td>
<td align="right">Alarm siren</td></tr>
<tr>
<td>3</td>
<td>20A</td>
<td align="right">Interior fan</td></tr>
<tr>
<td>4</td>
<td>15A</td>
<td align="right">Wiper motor</td></tr>
<tr>
<td>5</td>
<td>7.5A</td>
<td align="right">Stop lamp</td></tr>
<tr>
<td>6</td>
<td>7.5A</td>
<td align="right">Direction indicators</td></tr>
<tr>
<td>7</td>
<td>10A</td>
<td align="right">Ignition services</td></tr>
<tr>
<td>8</td>
<td>7.5A</td>
<td align="right">Battery services</td></tr>
<tr>
<td>9</td>
<td>10A</td>
<td align="right">Hazard lamps</td></tr>
<tr>
<td>10</td>
<td>7.5A</td>
<td align="right">Horn</td></tr>
<tr>
<td>11</td>
<td>10A</td>
<td align="right">Alarm power &#38; Interior lamp</td></tr>
<tr>
<td>12</td>
<td>25A</td>
<td align="right">Cooling fan</td></tr>
<tr>
<td>13</td>
<td>7.5A</td>
<td align="right">Audi ignition</td></tr>
<tr>
<td>14</td>
<td>BLANK</td>
<td align="right">BLANK</td></tr>
<tr>
<td>15</td>
<td>7.5A</td>
<td align="right">Audio +ve; switch module</td></tr>
<tr>
<td>16</td>
<td>10A</td>
<td align="right">Sidelamps;rear fog</td></tr>
<tr>
<td>17</td>
<td>10A</td>
<td align="right">Dip beam LH</td></tr>
<tr>
<td>18</td>
<td>10A</td>
<td align="right">Dip beam RH</td></tr>
<tr>
<td>19</td>
<td>BLANK</td>
<td align="right">BLANK</td></tr>
<tr>
<td>20</td>
<td>15A</td>
<td align="right">Main beam LH</td></tr>
<tr>
<td>21</td>
<td>15A</td>
<td align="right">Main beam RH</td></tr>
<tr>
<td>22</td>
<td>BLANK</td>
<td align="right">BLANK</td></tr></table></div>



<h3><span class="mw-headline" id="K_Series_Elise_S2_Relays">K Series Elise S2 Relays</span></h3>

<p>Fuses and relays associated with the engine management system are located at the rear of the engine bay adjacent to the engine <a href="http://wiki.seloc.org/a/ECM" title="ECM">ECM</a>. The mulit-function relay unit containing the engine control relay and starter relay is mounted on the chassis rear subframe below the engine <a href="http://wiki.seloc.org/a/ECM" title="ECM">ECM</a>.</p>

<div style="page-break-inside: avoid;">
<table border="1" cellpadding="8" cellspacing="0">
<tr>
<td><b>A</b></td>
<td align="right">Horn</td></tr>
<tr>
<td><b>B</b></td>
<td align="right">Cooling fan</td></tr>
<tr>
<td><b>C</b></td>
<td align="right">BLANK</td></tr>
<tr>
<td><b>D</b></td>
<td align="right">BLANK</td></tr></table></div>


<h3><span class="mw-headline" id="K_Series_Elise_S2_Engine_Fuses">K Series Elise S2 Engine Fuses</span></h3>


<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:s2enginefuses.JPG" title="S2 Engine Fuses"><img src="s2enginefuses.JPG" alt="S2 Engine Fuses" title="S2 Engine Fuses" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">S2 Engine Fuses</div></div>
</div>




<div style="page-break-inside: avoid;">
<table border="1" cellpadding="8" cellspacing="0">
<tr>
<td><b>Slot</b></td>
<td><b>Rating</b></td>
<td align="right"><b>Circit</b></td></tr>
<tr>
<td><b>1</b></td>
<td>BLANK</td>
<td align="right">BLANK</td></tr>
<tr>
<td><b>2</b></td>
<td>BLANK</td>
<td align="right">BLANK</td></tr>
<tr>
<td><b>3</b></td>
<td>20A</td>
<td align="right">Start immobiliser</td></tr>
<tr>
<td><b>4</b></td>
<td>20A</td>
<td align="right">Fuel pump</td></tr>
<tr>
<td><b>5</b></td>
<td>80A</td>
<td align="right">Alternator output</td></tr></table></div>

<h3><span class="mw-headline" id="Toyota_Elise_S2_Fuse_Box">Toyota Elise S2 Fuse Box</span></h3>


<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:yodamainfuses.JPG" title="Main Fusebox"><img src="yodamainfuses.JPG" alt="Main Fusebox" title="Main Fusebox" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Main Fusebox</div></div>
</div>


<p>The main fusebox is located in the front <a href="http://wiki.seloc.org/a/Services_compartment" title="Services compartment">services compartment</a>, on the passenger side, and is protected by a clear plastic cover. For access, remove the passenger side front body <a href="http://wiki.seloc.org/a/Access_panel" title="Access panel">access panel</a>, followed by the radiator air deflector panel. Twenty two slots are provided for standard size &#39;Littelfuse&#39; 257 series blade fuses which are numbered, and <a class="external text" href="http://wiki.seloc.org/index.php/Fuse_box#Fuse_Colours" rel="nofollow">coloured</a> according to their amperage rating, and may be pulled out from their slots useing the fuse extractor tool provided on the fusebox lit.</p>


<div style="page-break-inside: avoid;">
<table border="1" cellpadding="8" cellspacing="0">
<tr>
<td><b>Slot</b></td>
<td><b>Raiting</b></td>
<td align="right"><b>Circuit</b></td></tr>
<tr>
<td>1</td>
<td>20A</td>
<td align="right">Aux. power socket</td></tr>
<tr>
<td>2</td>
<td>2A</td>
<td align="right">non USA:alarm siren USA:reverse lamps</td></tr>
<tr>
<td>3</td>
<td>20A</td>
<td align="right">driver window</td></tr>
<tr>
<td>4</td>
<td>20A</td>
<td align="right">Passange window</td></tr>
<tr>
<td>5</td>
<td>7.5A</td>
<td align="right">non USA:Reverse lamps USA:Stoplamps</td></tr>
<tr>
<td>6</td>
<td>7.5A</td>
<td align="right">Turn indicators</td></tr>
<tr>
<td>7</td>
<td>10A</td>
<td align="right">Ignition services</td></tr>
<tr>
<td>8</td>
<td>7.5A</td>
<td align="right">Battery services</td></tr>
<tr>
<td>9</td>
<td>10A</td>
<td align="right">Hazard lamps</td></tr>
<tr>
<td>10</td>
<td>7.5A</td>
<td align="right">Horn</td></tr>
<tr>
<td>11</td>
<td>10A</td>
<td align="right">Alarm &#38; Interior lamp</td></tr>
<tr>
<td>12</td>
<td>10A</td>
<td align="right">ABS</td></tr>
<tr>
<td>13</td>
<td>3A</td>
<td align="right"><a href="http://wiki.seloc.org/a/ECU" title="ECU">ECU</a> ignition</td></tr>
<tr>
<td>14</td>
<td>20A</td>
<td align="right">Radiator fans 1 fast &#38; 2 slow </td></tr>
<tr>
<td>15</td>
<td>7.5A</td>
<td align="right">Radio, switch pack module</td></tr>
<tr>
<td>16</td>
<td>10A</td>
<td align="right">non USA:Rear fog USA:Sidelamps</td></tr>
<tr>
<td>17</td>
<td>10A</td>
<td align="right">Dip beam LH</td></tr>
<tr>
<td>18</td>
<td>10A</td>
<td align="right">Dip beam RH</td></tr>
<tr>
<td>19</td>
<td>20A</td>
<td align="right">A.C comp relay &#38; rad fan 2 fast</td></tr>
<tr>
<td>20</td>
<td>15A</td>
<td align="right">Main beam LH</td></tr>
<tr>
<td>21</td>
<td>15A</td>
<td align="right">Main beam RH</td></tr>
<tr>
<td>22</td>
<td>7.5</td>
<td align="right">CDL</td></tr></table></div>





<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:fuseview.JPG" title="Overhead View of the fusebox"><img src="fuseview.JPG" alt="Overhead View of the fusebox" title="Overhead View of the fusebox" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Overhead View of the fusebox</div></div>
</div>


<h3><span class="mw-headline" id="Toyota_Elise_S2_Interior_Fuses_.26_Relays">Toyota Elise S2 Interior Fuses &#38; Relays</span></h3>

<p>The wash/wipe module, turn/hazard flasher relay, horn relay and a relay for inertia switch activation of the central door locking, are mounted on the scuttle beam above the passenger footwell, with four fuses secured to the harness in that area.</p>
<p>A 60A Maxi fuse protecting the ABS circuit is located beneath the passenger side fascia top, adjacent to the positive post. A multi-function relay unit containing the engine control relay, fuel pump relay and starter relay is mounted in
the engine bay near the <a href="http://wiki.seloc.org/a/ECU" title="ECU">ECU</a>. A similar relay unit is mounted in the front services compartment alongside the fusebox, and operates the a.c. compressor and radiator fans.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:yodainsidefuses.JPG" title="Interior fuses"><img src="yodainsidefuses.JPG" alt="Interior fuses" title="Interior fuses" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Interior fuses</div></div>
</div>


<p><b>Important Note: Although the two modules are identical in appearance, their function is different and they must not be transposed.</b></p>
<p>The A.C. relay module A117M0038F has a brown label marked YWB100800.</p>
<p>The engine relay module A111E6024F has a white label marked YWB100970.</p>

<div style="page-break-inside: avoid;">
<table border="1" cellpadding="8" cellspacing="0">
<tr>
<td><b>C1</b></td>
<td>20A</td>
<td align="right">Interior fan</td></tr>
<tr>
<td><b>C2</b></td>
<td>15A</td>
<td align="right">Wiper motor</td></tr>
<tr>
<td><b>C3</b></td>
<td>7.5A</td>
<td align="right">Audio key-in</td></tr>
<tr>
<td><b>C4</b></td>
<td>10A</td>
<td align="right">A.C. compressor</td></tr></table></div>


<h3><span class="mw-headline" id="Toyota_Elise_S2_Engine_Fuses">Toyota Elise S2 Engine Fuses</span></h3>


<p>Fuses and relays associated with the engine management system are contained in two 4-position fuse holders located at the front of the engine bay on the cabin bulkhead, adjacent to the engine <a href="http://wiki.seloc.org/a/ECM" title="ECM">ECM</a>. To access the fuses, unclip rear edge of the cover.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:yodaenginefuses.JPG" title="Engine Fuses"><img src="yodaenginefuses.JPG" alt="Engine Fuses" title="Engine Fuses" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Engine Fuses</div></div>
</div>




<div style="page-break-inside: avoid;">
<table border="1" cellpadding="8" cellspacing="0">
<tr>
<td><b>R1</b></td>
<td>20A</td>
<td align="right">Fuel pump</td></tr>
<tr>
<td><b>R2</b></td>
<td>3A</td>
<td align="right">Immobiliser</td></tr>
<tr>
<td><b>R3</b></td>
<td>5A</td>
<td align="right">Alternator sense</td></tr>
<tr>
<td><b>R4</b></td>
<td>5A</td>
<td align="right"><a href="http://wiki.seloc.org/a/ECU" title="ECU">ECU</a> battery feed</td></tr>
<tr>
<td><b>R5</b></td>
<td>5A</td>
<td align="right">O2 heaters</td></tr>
<tr>
<td><b>R6</b></td>
<td>7.5A</td>
<td align="right">VSV&#39;s VVT, VVL, IAC</td></tr>
<tr>
<td><b>R7</b></td>
<td>10A</td>
<td align="right">Injectors, ignition coils</td></tr>
<tr>
<td><b>R8</b></td>
<td>5A</td>
<td align="right">Re-circ. pump</td></tr></table></div>


<h2><span class="mw-headline" id="Evora">Evora</span></h2>

<h3><span class="mw-headline" id="Main_Fusebox">Main Fusebox</span></h3>

<p>The main fuse and relay boxes are located at the front of the passenger footwell, protected by a removable panel secured by a quarter turn fastener at each top corner, and a location channel on the floor. Forty slots are provided for mini fuses which are numbered, and coloured according to their amperage rating, and may be pulled out from their slots using the fuse extractor tool clipped to the fusebox. Six maxi fuses protecting major circuits are also provided, along with six single contact change over micro relays and two 50A power relays.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_-_Main_Fuse_Box.png" title="Evora Main Fuse Box"><img src="Evora_-_Main_Fuse_Box.png" alt="Evora Main Fuse Box" title="Evora Main Fuse Box" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Evora Main Fuse Box</div></div>
</div>



<div style="page-break-inside: avoid;">
<table border="1" cellpadding="8" cellspacing="0">
<tr>
<th>Slot</th>
<td><b>Rate</b></td>
<td><b>Circuit</b></td>
<th>Slot</th>
<td><b>Rate</b></td>
<td><b>Circuit</b></td>
<th>Slot</th>
<td><b>Rate</b></td>
<td><b>Circuit</b></td></tr>
<tr>
<th>C1</th>
<td>10A</td>
<td>Horn</td>
<th>C21</th>
<td>3A</td>
<td>Ignition Services</td>
<th>MC1</th>
<td>40A</td>
<td>Battery Positive</td></tr>
<tr>
<th>C2</th>
<td>5A</td>
<td>Battery Services</td>
<th>C22</th>
<td>5A</td>
<td>ABS</td>
<th>MC1</th>
<td>40A</td>
<td>B+, ignition</td></tr>
<tr>
<th>C3</th>
<td>7.5A</td>
<td>CDL, Alarm B+</td>
<th>C23</th>
<td>3A</td>
<td>Homelink</td>
<th>MC3</th>
<td>40A</td>
<td>Accessories</td></tr>
<tr>
<th>C4</th>
<td>20A</td>
<td>Rad fan relay 1</td>
<th>C24</th>
<td>3A</td>
<td>Brake lamps</td>
<th>MC4</th>
<td>40A</td>
<td>ABS B+</td></tr>
<tr>
<th>C5</th>
<td>20A</td>
<td>Rad fan relay 3</td>
<th>C25</th>
<td>15A</td>
<td>HL powerwash</td>
<th>MC5</th>
<td>25A</td>
<td>ABS B+</td></tr>
<tr>
<th>C6</th>
<td>10A</td>
<td>Radio B+</td>
<th>C26</th>
<td>5A</td>
<td>Alarm ignition</td>
<th>MC6</th>
<td>25A</td>
<td>HRS</td></tr>
<tr>
<th>C7</th>
<td>5A</td>
<td>Key-in relay</td>
<th>C27</th>
<td />
<td /></tr>
<tr>
<th>C8</th>
<td>2A</td>
<td>Ignition switch</td>
<th>C28</th>
<td>7.5A</td>
<td>HVAC ignition</td></tr>
<tr>
<th>C9</th>
<td>20A</td>
<td>Driver&#39;s window</td>
<th>C29</th>
<td>5A</td>
<td>Washer jets</td></tr>
<tr>
<th>C10</th>
<td>20A</td>
<td>Passenger&#39;s window</td>
<th>C30</th>
<td>5A</td>
<td>SRS unit</td></tr>
<tr>
<th>C11</th>
<td>7.5A</td>
<td>Hazard &#38; Turn</td>
<th>C31</th>
<td>3A</td>
<td>Heated mirrors</td></tr>
<tr>
<th>C12</th>
<td>3A</td>
<td>Interior lighting</td>
<th>C32</th>
<td>5A</td>
<td>Washer pump</td></tr>
<tr>
<th>C13</th>
<td>20A</td>
<td>Int. control mod.</td>
<th>C33</th>
<td>5A</td>
<td>Mirror/window sw.</td></tr>
<tr>
<th>C14</th>
<td>3A</td>
<td>Footwell lamps</td>
<th>C34</th>
<td>20A</td>
<td>Wiper Motor</td></tr>
<tr>
<th>C15</th>
<td>5A</td>
<td>LH sidelamps</td>
<th>C35</th>
<td />
<td /></tr>
<tr>
<th>C16</th>
<td>5A</td>
<td>RH sidelamps</td>
<th>C36</th>
<td>20A</td>
<td>Interior fan</td></tr>
<tr>
<th>C17</th>
<td>15A</td>
<td>LH headlamp</td>
<th>C37</th>
<td>10A</td>
<td>Cabin power socket</td></tr>
<tr>
<th>C18</th>
<td>15A</td>
<td>RH headlamp</td>
<th>C38</th>
<td />
<td /></tr>
<tr>
<th>C19</th>
<td>15A</td>
<td>Main beam</td>
<th>C39</th>
<td />
<td /></tr>
<tr>
<th>C20</th>
<td>3A</td>
<td>Rear foglamp</td>
<th>C40</th>
<td />
<td /></tr></table></div>

<h3><span class="mw-headline" id="Relays">Relays</span></h3>

<p>Mounted on the front fusebox panel, is a block of relays, the layout of which is inverted for opposite drive hands:</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_-_Front_Relay_Blocks.png" title="Evora Main Fuse Box"><img src="Evora_-_Front_Relay_Blocks.png" alt="Evora Main Fuse Box" title="Evora Main Fuse Box" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Evora Main Fuse Box</div></div>
</div>


<h3><span class="mw-headline" id="Rear_Fusebox">Rear Fusebox</span></h3>

<p>Fuses and relays for the engine bay and rear mounted systems are contained in a fusebox mounted in the cabin, behind the left hand rear quarter trim panel. For access, use a coin to release the quarter turn fastener on the lower edge of the removable panel, and unhook the top edge. Twenty slots are provided for mini fuses which are numbered, and coloured according to their amperage rating, and may be pulled out from their slots using the fuse extractor tool clipped to the fusebox. Two maxi fuses protecting major circuits are also provided, along with four single contact change over micro relays, and two power relays.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_-_Rear_Fuse_Box.png" title="Evora Main Fuse Box"><img src="Evora_-_Rear_Fuse_Box.png" alt="Evora Main Fuse Box" title="Evora Main Fuse Box" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Evora Main Fuse Box</div></div>
</div>



<div style="page-break-inside: avoid;">
<table border="1" cellpadding="8" cellspacing="0">
<tr>
<th>Slot</th>
<td><b>Rate</b></td>
<td><b>Circuit</b></td>
<th>Slot</th>
<td><b>Rate</b></td>
<td><b>Circuit</b></td>
<th>Slot</th>
<td><b>Rate</b></td>
<td><b>Circuit</b></td></tr>
<tr>
<th>R1</th>
<td>10A</td>
<td>ECU, fan relay 3</td>
<th>R11</th>
<td>7.5A</td>
<td>A.c. compressor</td>
<th>MR1</th>
<td>30A</td>
<td>Crank &#38; main relay</td></tr>
<tr>
<th>R2</th>
<td>7.5A</td>
<td>Injectors</td>
<th>R12</th>
<td>3A</td>
<td>Rev lamp, camera</td>
<th>MR2</th>
<td>30A</td>
<td>Busbar R17-R20</td></tr>
<tr>
<th>R3</th>
<td>10A</td>
<td>Ignition coils</td>
<th>R13</th>
<td />
<td /></tr>
<tr>
<th>R4</th>
<td>2A</td>
<td>Re-circ. pump</td>
<th>R14</th>
<td>10A</td>
<td>Engine bay fan</td></tr>
<tr>
<th>R5</th>
<td />
<td />
<th>R15</th>
<td>3A</td>
<td>Boot lamps</td></tr>
<tr>
<th>R6</th>
<td />
<td />
<th>R16</th>
<td>10A</td>
<td>Boot power socket</td></tr>
<tr>
<th>R7</th>
<td>5A</td>
<td>ECU ignition</td>
<th>R17</th>
<td>20A</td>
<td>Amplifier</td></tr>
<tr>
<th>R8</th>
<td>7.5A</td>
<td>Engine solenoids</td>
<th>R18</th>
<td>5A</td>
<td>Fuel filler flap</td></tr>
<tr>
<th>R9</th>
<td>5A</td>
<td>O2 heaters</td>
<th>R19</th>
<td>10A</td>
<td>Fuel pump</td></tr>
<tr>
<th>R10</th>
<td>5A</td>
<td>Alternator ign.</td>
<th>R20</th>
<td>5A</td>
<td>Alternator B+</td></tr></table></div>

<h2><span class="mw-headline" id="References">References</span></h2>
<p><a class="external text" href="http://en.wikipedia.org/wiki/Fuse_box" rel="nofollow">Wikipedia On Fuse Boxes</a></p>
<p>



</p>