
<p>
</p><h2><span class="mw-headline" id="Wiring_Colours">Wiring Colours</span></h2>

<p>These apply to MG cars, but there are some parallels with the Elise s1 at least - hopefully might prove useful!</p>
<p>Wire colours as referred to on the circuit diagrams in the service manuals:</p>


<ul>
<li>B= Black</li>
<li>N=Brown</li>
<li>R=Red</li>
<li>O=Orange</li>
<li>Y=Yellow</li>
<li>G=Green</li>
<li>U=Blue</li>
<li>P=Purple</li>
<li>LG=Light Green</li>
<li>K=Pink</li>
<li>S=Slate</li>
<li>W=White </li>
</ul>

<p>Naming convention:</p>
<p>UR = Blue wire with red stripe
RU = Red wire with a blue stripe</p>
 
<p>Some occurences (check against service notes, some will be irrelevant and MG specific)</p>


<div style="page-break-inside: avoid;">
<table width="421">
<tr valign="center">
<td align="left" width="184"><font face="Verdana">

<font face="Arial,Helvetica" size="-1"><b>Component</b></font>

</font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1"><b>Wire</b></font><br /><font face="Arial,Helvetica" size="-1"><b>Colors</b></font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Alternator or Generator</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(B), N,(NG),NY</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Alternator or Generator Control Box)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(B, N,NG,NY)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Batteries</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">B,N</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Starter Solenoid</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">N, (WR), (WY)</font> </font></td></tr>
<tr>
<td width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Starter</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">B</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Lighting Switch</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">N,(R),(RG),U</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Dip Switch pre &#39;67)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">U,UR,UW</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">RH Headlamp</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">B, UR,UW</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">LH Headlamp</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">B,UR,UW</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Full/High Beam Warning Lamp</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">B,UW</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">R.H. Front Parking Lamp</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">B,R</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">L.H. Front Parking Lamp</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">B,R</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Panel Lamp Switch or Dimmer &#39;68 on)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(R,RW)</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Panel Lamps</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">B,RW</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Number Plate Lamps</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">B,R</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">R.H. Stop/Tail Lamp</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">B,G,GP,R</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">L.H. Stop/Tail Lamp</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">B,G,GP,R</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Stop Lamp Switch</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">G,GP</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Fuse Block</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">N,G,P,(R),(RG),W</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Courtesy or Map Lamp</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(B),P,PW</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">RH Door Switch</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">B,PW</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">LH Door Switch</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">B,PW</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Horn(s)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">P,PB</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Horn Switch</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">B,PB</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Direction Flasher Unit</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">G,LGN</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Column Flasher/Dip/Horn Switch</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">B,GR,GW,LGN</font>,<font face="Arial,Helvetica" size="-1">P,U,UR,UW</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Flasher Indicator Lamp</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">G,GR or GW</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">RH Front Flasher Lamp</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">B,GW</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">LH Front Flasher Lamp</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">B,GR</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">RH Rear Flasher Lamp</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">B,GW</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">LH Rear Flasher Lamp</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">B,GR</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Blower Motor Switch</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">G,GY</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Blower Motor</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">B,GY</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Fuel Gauge</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">GB,LGG</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Fuel Level Sender</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">B,GB</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Windshield Wiper Motor Switch)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(B,BG), (G,NLG,RLG,ULG)</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Wiper Motor</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(B,BG,G) or</font> <font face="Arial,Helvetica" size="-1">(NLG,RLG,ULG)</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Ignition Switch</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">N,PK,W,WG,WR</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Ignition Coil</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">W,WB</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Distributor Contact Breaker</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">WB</font> </font></td></tr>
<tr valign="center">
<td width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Fuel Pump</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">B,W</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Oil Pressure Gauge</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">B,WN</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Ignition Warning Lamp</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">NB,NY</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Speedometer</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">B, RW</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Coolant Temperature Gauge</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(B,GU)</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Coolant Temperature Sender)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(GU)</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Reversing Lamp Switch</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">G,GN</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Reversing Lamps</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">GN</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Driving/Fog Lamp Switch) </font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(R,RY)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Driving Lamp) </font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(B, UY)</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Fog Lamp) </font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(B,RY)</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Cigar Lighter/(Illumination)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">GK,(RW)</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Radio)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(G,N)</font> </font></td></tr>
<tr valign="center">
<td width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Instrument Panel Voltage Regulator</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">G,LGG</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Boot/Trunk Lamp Switch</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">B,PW</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Boot/Trunk Lamp</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">P,PW</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Line Fuse to 32,36,37,57,67b)</font><br /><font face="Arial,Helvetica" size="-1">(Line Fuse to 60)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(GK,WG)</font><br /><font face="Arial,Helvetica" size="-1">(GK,RW)</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Line Fuse to 116 pre 67)</font><br /><font face="Arial,Helvetica" size="-1">(Line Fuse to 196)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(W,WB)</font><br /><font face="Arial,Helvetica" size="-1">(S,SP)</font> </font></td></tr>
<tr valign="center">
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Overdrive Solenoid)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(YP)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Overdrive Manual Switch)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(W,Y)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Overdrive Gear Switch) </font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(YP,YR)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Automatic   transmission Illumination Lamp)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(B, RW)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Windscreen/shield Washer Pump)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(G,LGB)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Auto Xmission Illumination Switch)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(RW)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Tachometer</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">W,W</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Courtesy or Map Lamp Switch)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(RG,RP)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Courtesy or Map Lamp)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(P,RP)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Heated Backlight Switch) (GT only)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(GB,WB)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Heated Backlight) (GT only)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(GB,WB)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Windscreen/shield Wash-Wipe Switch) </font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(LGB,NLG,RLG,ULG)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Automatic Xmission Safety Switch)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(G,WR)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Electrical Oil Pressure Sender) </font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(WN)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Heated Backlight Lamp) (GT only)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(BG)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Hazard Warning Lamp</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">LGP </font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Hazard Flasher Switch</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">G,GR,GW</font>,<font face="Arial,Helvetica" size="-1">LGG,LGP</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Hazard Flasher Unit</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">LGN,N</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Brake Pressure Warning Switch/Lamp)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(BW,P)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Brake Pressure Failure Switch) </font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(BW,BW)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Ignition Key Warning Buzzer) </font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(PG,PK)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Ignition Key Warning Door Switch )</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(P,PG)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(RH Front Side Marker)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(B,U)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(LH Front Side Marker)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(B,U)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">RH Rear Side Marker</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(B,U)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">LH Rear Side marker </font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(B,U)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Starter Solenoid Relay )</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(N,WN,WR)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Running on Control Valve)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(SP,SY)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Running on Control Valve Switch)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(SY)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Driver Seat Belt Buckle Switch)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(LGW,NR)</font>, <font face="Arial,Helvetica" size="-1">(B,YN)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Passenger Seat Belt Warning Switch)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(B,LGW)</font> </font></td></tr>
<tr>
<td width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Passenger Seat Sensor </font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">NP,YG</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Gearbox Seat Belt Warning Switch)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(LGW)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Fasten Seat Belt Lamp)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(NR)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Blocking Diode)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(NR,PG)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Hand/Parking Brake Switch)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(GO)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Hand/Parking Brake Warning Light)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(GO)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Cigar Lighter Illumination)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(RW)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Heater Control Illumination)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(B,RW)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(Heated Rear Window Relay)</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(B,G,P,WB)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Drivers Seat Sensor Switch</font> </font></td>
<td width="154"><font face="Verdana"><font face="Arial,Helvetica" size="-1">(NP,YU)</font> </font></td></tr>
<tr>
<td align="left" width="184"><font face="Verdana"><font face="Arial,Helvetica" size="-1">Sequential Seat Belt Control Unit</font> </font></td>
<td width="154"><font face="Verdana"><font face="arial" size="1">  (B,G,NP, PG,YG,YK, YO,YP,YU)</font> </font></td></tr></table></div>