<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#How_to_fit_a_new_head_unit">How to fit a new head unit</a>
</li>
<li class="toclevel-1"><a href="#Remove_the_old_unit">Remove the old unit</a>
</li>
<li class="toclevel-1"><a href="#Remove_the_old_head_unit_cage">Remove the old head unit cage</a>
</li>
<li class="toclevel-1"><a href="#Fitting_the_new_head_unit">Fitting the new head unit</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="How_to_fit_a_new_head_unit">How to fit a new head unit</span></h2>

<p>You&#39;ll need</p>

<ul>
<li>Flat head screwdriver</li>
<li>Head unit &#39;keys&#39;</li>
<li>About an hour</li>
</ul>

<h2><span class="mw-headline" id="Remove_the_old_unit">Remove the old unit</span></h2>

<p>Firstly remove the plastic surround from around the head unit, if it has one, my oem blankput head unit did not. Pop in the head unit keys and gently remove the head unit, below is a set of pictures to show you how the keys slot into the cage and allow you to remove the head unit.</p>

<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Headunit1.JPG" ><img src="Headunit1.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Head unit cage</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Headunit2.JPG" ><img src="Headunit2.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Head unit fitted in cage</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Headunit3.JPG" ><img src="Headunit3.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Cage side view</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Headunit4.JPG" ><img src="Headunit4.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Keys in cage</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Headunit5.JPG" ><img src="Headunit5.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Keys in cage</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Headunit6.JPG" ><img src="Headunit6.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Keys in cage</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Headubnni.JPG" ><img src="Headubnni.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>ISO Head unit connector</p>
                    </div>
                </div>
                </p>

<h2><span class="mw-headline" id="Remove_the_old_head_unit_cage">Remove the old head unit cage</span></h2>

<p>Not all new head units will come with a cage, it will depend on your model, also if the cage fitted is from the same brand you wont need to change it over. The old cage will need to be gently &#39;crushed&#39; so that you can remove it from the cars head unit hole, if you do it gently the cage can be bent back to shape after you have removed it, like in my picutres in the bellow gallery.</p>

<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Headunit8.JPG" ><img src="Headunit8.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Keys in old headunit</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Headunit9.JPG" ><img src="Headunit9.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Removing old head unit</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Headunit10.JPG" ><img src="Headunit10.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Back of head unit loom</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Headunit11.JPG" ><img src="Headunit11.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Car ISO Connector</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Headunit12.JPG" ><img src="Headunit12.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Old cage removed, light crushed</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Headunit13.JPG" ><img src="Headunit13.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Old cage reshaped, good as new</p>
                    </div>
                </div>
                </p>

<h2><span class="mw-headline" id="Fitting_the_new_head_unit">Fitting the new head unit</span></h2>

<p>Make sure you get the cage the right way round, the lip should be on your side on the cage. Pop the cables through the cage and then gently push down as many of the cage tages down, this holds the cage in the car. I used a screw driver to do this, once your happy it is secure slide the new headunit in after connecting the ISO loom togeather.  Make sure not to snag the cables.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:Headunit14.JPG" title="Cage tages"><img src="Headunit14.JPG" alt="Cage tages" title="Cage tages" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Cage tages</div></div>
</div>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:Headunit15.JPG" title="Job done!"><img src="Headunit15.JPG" alt="Job done!" title="Job done!" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Job done!</div></div>
</div>


