
<p>The Alpine Ezi-DAB module is a small adaptor which can be used to retro-fit DAB radio support to cars without necessitating the replacement of the head-unit. This can send DAB radio either through stereo AUX component cables or FM transmission.</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Fitting">Fitting</a>
<ul>
<li class="toclevel-2"><a href="#Removing_the_head-unit">Removing the head-unit</a>
</li>
<li class="toclevel-2"><a href="#Modified_Wiring_Harness">Modified Wiring Harness</a>
</li>
<li class="toclevel-2"><a href="#Aerial">Aerial</a>
</li>
<li class="toclevel-2"><a href="#Placement_and_Wiring">Placement and Wiring</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#References">References</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Fitting">Fitting</span></h2>

<p>This fitting guide focuses on an Evora with the Alpine IVA-W520R and reversing cameras, fitted using the AUX connector.</p>
<h3><span class="mw-headline" id="Removing_the_head-unit">Removing the head-unit</span></h3>

<p>1. Remove fascia around stereo - held by 4 tower clips - I opened the face of the stereo as if inserting a disc and eased my fingers behind the panel and pulled forward. A flat blade screwdriver between bottom of the panel and dash helps ease out the clip closest the wheel. Unclip 3 x mini harnesses for fascia switches.</p> 
<p>2. Remove 4 x screws securing the radio and ease out - it is in there tight due to stabilising mount on rear of unit.</p>
<h3><span class="mw-headline" id="Modified_Wiring_Harness">Modified Wiring Harness</span></h3>

<p>3. Strip down Ezi-Dab power harness to include just 12v ignition, 12v permanent and earth. Tap into original connections to rear of Alpine unit - I used service sheets from Lotus website for reference.</p> 
<p>4. Swap camera-in harness for the new harness including Aux-in.</p>
<p>Old &#38; new cables:</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Alpine_Ezi-DAB_-_Wiring_Harness.jpg" ><img src="Alpine_Ezi-DAB_-_Wiring_Harness.jpg" class="location-center type-thumb" width="400" />
</a></div>
</div>

<p>5. Attach Aux-in harness to Ezi-dab phono cable and thread through to under dash/glovebox.</p> 
<p>6. Replace radio/dash etc being careful not to dislodge ipod and nav connections on rear of unit. Replace fascia panel.</p>
<h3><span class="mw-headline" id="Aerial">Aerial</span></h3>

<p>7. Remove passenger side A-pillar trim, secure DAB aerial to windscreen and run aerial wire down A pillar securing with gaffa tape. Replace trim.</p>
<p>I secured my aerial a couple of inches from the trim to avoid damaging when reattaching trim but could be stuck closer.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Alpine_Ezi-DAB_-_Aerial.jpg" ><img src="Alpine_Ezi-DAB_-_Aerial.jpg" class="location-center type-thumb" width="400" />
</a></div>
</div>

<h3><span class="mw-headline" id="Placement_and_Wiring">Placement and Wiring</span></h3>

<p>8. Mount Ezi-DAB controller - I placed in glovebox to avoid unnecessary clutter.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Alpine_Ezi-DAB_-_Unit_in_glovebox.jpg" ><img src="Alpine_Ezi-DAB_-_Unit_in_glovebox.jpg" class="location-center type-thumb" width="400" />
</a></div>
</div>

<p>9. Wire up Ezi-DAB control box to aerial, power, line out/aux-in and dash controller and mount control box under passenger side dash behind extrusion that spans cockpit.</p> 
<p>10. Tidy up cables and then enjoy crystal clear DAB radio via Aux source on main stereo. </p>
<h2><span class="mw-headline" id="References">References</span></h2>

<p><a class="external text" href="http://forums.seloc.org/viewthread.php?tid=346128" rel="nofollow">Technical Discussion - Installing DAB in an Evora (or possibly Elise, Exige etc.)</a></p>
<p>

</p>