
<p>The Lotus Racing Evora GTN upgrade packages were developed by Lotus Racing based on the <a href="http://wiki.seloc.org/a/Models_-_Evora#Evora_GT4" title="Models - Evora">Evora GT4</a> and <a href="http://wiki.seloc.org/a/Models_-_Evora#Evora_GTS" title="Models - Evora">GTS</a> race cars, allowing for a factory support route for adapting Evora road cars in to Evora GTN specification road cars, eligible for entry in to the Lotus Cup Race Series in the V6 Cup class.</p>
<p><a class="external text" href="http://evorainfo.net/FileStore/PDFs/Brochures/EVORA%20GTN%20BROCHURE%20" rel="nofollow">(SinglePages).pdf Lotus Evora GTN Brochure</a></p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Bodywork">Bodywork</a>
<ul>
<li class="toclevel-2"><a href="#Rear_Wing">Rear Wing</a>
</li>
<li class="toclevel-2"><a href="#Barge_Boards">Barge Boards</a>
</li>
<li class="toclevel-2"><a href="#Rear_lourved_engine_cover">Rear lourved engine cover</a>
</li>
<li class="toclevel-2"><a href="#.27A.27_Panels">&#39;A&#39; Panels</a>
</li>
<li class="toclevel-2"><a href="#Carbon_door_frame_and_polycarbonate_windows">Carbon door frame and polycarbonate windows</a>
</li>
<li class="toclevel-2"><a href="#Rear_quarter_carbon_panels">Rear quarter carbon panels</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Chassis">Chassis</a>
<ul>
<li class="toclevel-2"><a href="#Motorsport_specification_wishbone_kit">Motorsport specification wishbone kit</a>
</li>
<li class="toclevel-2"><a href="#Lotus_Racing_2_Way_Adjustable_Ohlins_Damper_.26_Spring_Car_Kit">Lotus Racing 2 Way Adjustable Ohlins Damper &#38; Spring Car Kit</a>
</li>
<li class="toclevel-2"><a href="#Front_anti_roll_bar">Front anti roll bar</a>
</li>
<li class="toclevel-2"><a href="#Rear_anti_roll_bar">Rear anti roll bar</a>
</li>
<li class="toclevel-2"><a href="#Lotus_Racing_Wheel_Package">Lotus Racing Wheel Package</a>
</li>
<li class="toclevel-2"><a href="#Front_and_Rear_Tow_Straps">Front and Rear Tow Straps</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Interior">Interior</a>
<ul>
<li class="toclevel-2"><a href="#FIA_Roll_Cage_Assembly">FIA Roll Cage Assembly</a>
</li>
<li class="toclevel-2"><a href="#FIA_Approved_Racing_Seat_.26_Seat_Runners">FIA Approved Racing Seat &#38; Seat Runners</a>
</li>
<li class="toclevel-2"><a href="#6_Point_Hans_Compliant_Harness">6 Point Hans Compliant Harness</a>
</li>
<li class="toclevel-2"><a href="#Life_Line_Electronic_Fire_Extinguisher_Kit">Life Line Electronic Fire Extinguisher Kit</a>
</li>
<li class="toclevel-2"><a href="#Sparco_Quick_Release_Steering_Wheel">Sparco Quick Release Steering Wheel</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Powertrain">Powertrain</a>
<ul>
<li class="toclevel-2"><a href="#Engine_Upgrade_Kit">Engine Upgrade Kit</a>
</li>
<li class="toclevel-2"><a href="#Alloy_Baffled_Wet_Sump_Kit">Alloy Baffled Wet Sump Kit</a>
</li>
<li class="toclevel-2"><a href="#Latest_Specification_Gear_Cables">Latest Specification Gear Cables</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Miscellaneous">Miscellaneous</a>
<ul>
<li class="toclevel-2"><a href="#Evora_.E2.80.98S.E2.80.99_Supercharger_Kit">Evora ‘S’ Supercharger Kit</a>
</li>
<li class="toclevel-2"><a href="#Oil_Cooling">Oil Cooling</a>
</li>
<li class="toclevel-2"><a href="#Performance_Brake_Pads_.E2.80.93_Pagid_RS14">Performance Brake Pads – Pagid RS14</a>
</li>
<li class="toclevel-2"><a href="#Performance_2-Piece_Front_Brake_Disc">Performance 2-Piece Front Brake Disc</a>
</li>
<li class="toclevel-2"><a href="#High_Ambient_PWR_Radiator">High Ambient PWR Radiator</a>
</li>
<li class="toclevel-2"><a href="#96L_ATL_Fuel_Cell_FIA_Approved">96L ATL Fuel Cell FIA Approved</a>
</li>
<li class="toclevel-2"><a href="#Interior_Lightweight_Door_Cards">Interior Lightweight Door Cards</a>
</li>
<li class="toclevel-2"><a href="#Electrically_Operated_Kill_Switch_Kit">Electrically Operated Kill Switch Kit</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Contact_details">Contact details</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Bodywork">Bodywork</span></h2>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_GTN_-_Bodywork_-_Kit.jpg" ><img src="Evora_GTN_-_Bodywork_-_Kit.jpg" class="location-right type-thumb" width="400" />
</a></div>
</div>

<p>
Part No: <b>ALS5B0157J</b></p>
<p>The bodywork kit comprises of a selection of parts found as standard on the race-winning Lotus Evora GT4 car. These parts are principally designed to increase the aerodynamic performance of the car.</p>
<p>Total BODYWORK Kit price Ex VAT <b>£3,750</b></p>

<h3><span class="mw-headline" id="Rear_Wing">Rear Wing</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_GTN_-_Bodywork_-_Rear_Wing.jpg" ><img src="Evora_GTN_-_Bodywork_-_Rear_Wing.jpg" class="location-right type-thumb" width="200" />
</a></div>
</div>

<p>
Part No: <b>ALS5B0023J</b></p>
<p>Aero optimised designed GRP rear wing. Its formed shape has been extensively tested in-house and on circuit. It includes wing end plates and retain the existing mounts.</p>
<p>Kit Price: <b>£1,295</b></p>

<h3><span class="mw-headline" id="Barge_Boards">Barge Boards</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_GTN_-_Bodywork_-_Barge_Boards.jpg" ><img src="Evora_GTN_-_Bodywork_-_Barge_Boards.jpg" class="location-right type-thumb" width="200" />
</a></div>
</div>

<p>
Part No: <b>ALS5V0050J</b></p>
<p>Providing a larger underfloor surface area to increase downforce by increasing the effective floor area. Supplied in painted gloss block.</p>
<p>Kit Price: <b>£295</b></p>

<h3><span class="mw-headline" id="Rear_lourved_engine_cover">Rear lourved engine cover</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_GTN_-_Bodywork_-_Rear_lourved_engine_cover.jpg" ><img src="Evora_GTN_-_Bodywork_-_Rear_lourved_engine_cover.jpg" class="location-right type-thumb" width="200" />
</a></div>
</div>

<p>
Part No: <b>ALS5B0006F</b></p>
<p>Made from lightweight GRP the glass replacement offers a weight saving and improvement in heat dissipation from the engine bay.</p>
<p>Kit Price: <b>£395</b></p>

<h3><span class="mw-headline" id=".27A.27_Panels">&#39;A&#39; Panels</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_GTN_-_Bodywork_-_A_Panels.jpg" ><img src="Evora_GTN_-_Bodywork_-_A_Panels.jpg" class="location-right type-thumb" width="200" />
</a></div>
</div>

<p>
Part No: ALS5B0158J</p>
<p>Made from lightweight GRP they assist in removing the turbulent air from around the wheel, and therefore increase downforce and improve brake cooling.</p>
<p>Kit Price: <b>£595</b></p>

<h3><span class="mw-headline" id="Carbon_door_frame_and_polycarbonate_windows">Carbon door frame and polycarbonate windows</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_GTN_-_Bodywork_-_Carbon_door_frame_and_polycarbonate_windows.jpg" ><img src="Evora_GTN_-_Bodywork_-_Carbon_door_frame_and_polycarbonate_windows.jpg" class="location-right type-thumb" width="200" />
</a></div>
</div>

<p>
Part No: <b>ALS5B0159J</b></p>
<p>Offers significant weight reduction and drivers side window features a slider.</p>
<p>Kit Price: <b>£975</b></p>

<h3><span class="mw-headline" id="Rear_quarter_carbon_panels">Rear quarter carbon panels</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_GTN_-_Bodywork_-_Rear_quarter_carbon_panels.jpg" ><img src="Evora_GTN_-_Bodywork_-_Rear_quarter_carbon_panels.jpg" class="location-right type-thumb" width="200" />
</a></div>
</div>

<p>
Part No: <b>ALS5B0160J</b></p>
<p>Made from high quality ‘pre preg’ carbon fibre these panels replace the existing and heavier glass parts.</p>
<p>Kit Price: <b>£465</b></p>

<h2><span class="mw-headline" id="Chassis">Chassis</span></h2>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_GTN_-_Chassis_-_Kit.jpg" ><img src="Evora_GTN_-_Chassis_-_Kit.jpg" class="location-right type-thumb" width="400" />
</a></div>
</div>

<p>
Part No: <b>ALS5C0086J</b></p>
<p>The chassis kit focuses on improving the handling of the developed Lotus chassis with the inclusion of motorsport specification wishbones, and high performance Ohlins dampers with 2 way adjustment, fitted with  stiffer Eibach springs. Added to the package are increased stiffness anti roll bars and either black or silver 18” GT4 cast aluminium alloy rims.</p>
<p>Total Chassis Kit Price: <b>£9,200</b></p>

<h3><span class="mw-headline" id="Motorsport_specification_wishbone_kit">Motorsport specification wishbone kit</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/image:Lotus_Racing_-_ALS5C0087J.jpg" ><img src="Lotus_Racing_-_ALS5C0087J.jpg" class="location-right type-thumb" width="200" />
</a></div>
</div>

<p>
Part No: <b>ALS5C0087J</b></p>
<p>Comprising of all 8 wishbones these are fitted with high specification cross axis joints as opposed to OEM silent blocks, and allow improved stiffness, reduced friction and increased camber adjustment on the front over standard wishbones.</p>
<p>Kit Price: <b>£2,695</b></p>

<h3><span class="mw-headline" id="Lotus_Racing_2_Way_Adjustable_Ohlins_Damper_.26_Spring_Car_Kit">Lotus Racing 2 Way Adjustable Ohlins Damper &#38; Spring Car Kit</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/File:Lotus_Racing_-_ALS5C0088J.jpg" ><img src="Lotus_Racing_-_ALS5C0088J.jpg" class="location-right type-thumb" width="200" />
</a></div>
</div>

<p>
Part No: <b>ALS5C0088J</b></p>
<p>These performance dampers from Ohlins are adjustable for low speed bump and rebound, and developed specifically for Evora race cars. Comprising of stiffer Eibach springs and motorsport specification mounts they offer the ability to fine tune the handling for the perfect set up.</p>
<p>Kit Price: <b>£4,295</b></p>

<h3><span class="mw-headline" id="Front_anti_roll_bar">Front anti roll bar</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/File:Lotus_Racing_-_ALS5C0089J.jpg" ><img src="Lotus_Racing_-_ALS5C0089J.jpg" class="location-right type-thumb" width="200" />
</a></div>
</div>

<p>
Part No: <b>ALS5C0089J</b></p>
<p>Developed by Lotus Racing and supplied with rubber mounts it offers increased stiffness to improve handling that works best in conjunction with Ohlins dampers and Lotus Racing wheel package.</p>
<p>Kit Price: <b>£465</b></p>

<h3><span class="mw-headline" id="Rear_anti_roll_bar">Rear anti roll bar</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/File:Evora_GTN_-_Chassis_-_Rear_Anti_Roll_Bar.jpg" ><img src="Evora_GTN_-_Chassis_-_Rear_Anti_Roll_Bar.jpg" class="location-right type-thumb" width="200" />
</a></div>
</div>

<p>
Part No: <b>ALS5C0090J</b></p>
<p>Developed by Lotus Racing and supplied with rubber mounts it offers increased stiffness to improve handling that works best in conjunction with Ohlins dampers and Lotus Racing wheel package.</p>
<p>Kit Price: <b>£465</b></p>

<h3><span class="mw-headline" id="Lotus_Racing_Wheel_Package">Lotus Racing Wheel Package</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/File:Evora_GTN_-_Chassis_-_Lotus_Racing_Wheel_Package.jpg" ><img src="Evora_GTN_-_Chassis_-_Lotus_Racing_Wheel_Package.jpg" class="location-right type-thumb" width="200" />
</a></div>
</div>

<p>
Part No: <b>ALS5G0023J</b></p>
<p>Competition wheels manufactured by Rimstock are used as standard on the Evora GT4. These wheels are cast aluminium alloy to improve strength and reduce weight, and are available in black or silver.</p>
<p>Kit Price: <b>£1,295</b></p>

<h3><span class="mw-headline" id="Front_and_Rear_Tow_Straps">Front and Rear Tow Straps</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/File:Evora_GTN_-_Chassis_-_Front_and_Rear_Tow_Straps.jpg" ><img src="Evora_GTN_-_Chassis_-_Front_and_Rear_Tow_Straps.jpg" class="location-right type-thumb" width="200" />
</a></div>
</div>

<p>
Part No: <b>ALS5A0185J</b></p>
<p>Front and rear straps are designed for recovery operations and are a requirement for track use. Supplied in bright red with the appropriate mount for fitting.</p>
<p>Kit Price: <b>£195</b></p>

<h2><span class="mw-headline" id="Interior">Interior</span></h2>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/File:Evora_GTN_-_Interior_-_Kit.jpg" ><img src="Evora_GTN_-_Interior_-_Kit.jpg" class="location-right type-thumb" width="400" />
</a></div>
</div>

<p>
Part No: <b>ALS5V0051J</b></p>
<p>The interior kit provides all the parts that develop your car for track use. Our primary concern for both you and your car is safety, and this kit comprises of a bolt in roll cage, Sparco racing seat on fixed runners, and a 6 point Hans compliant harness. For ultimate safety it also includes a fire extinguisher system and quick release Sparco racing steering wheel.</p>
<p>Total Interior Kit Price: <b>£5,750</b></p>

<h3><span class="mw-headline" id="FIA_Roll_Cage_Assembly">FIA Roll Cage Assembly</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/File:Evora_GTN_-_Interior_-_FIA_Roll_Cage_Assembly.jpg" ><img src="Evora_GTN_-_Interior_-_FIA_Roll_Cage_Assembly.jpg" class="location-right type-thumb" width="200" />
</a></div>
</div>

<p>
Part No: <b>ALS5A0186J</b></p>
<p>Full FIA specification T45 roll cage as fitted the the Evora GT4. Includes fitting kit.</p>
<p>Kit Price: <b>£4,095</b></p>

<h3><span class="mw-headline" id="FIA_Approved_Racing_Seat_.26_Seat_Runners">FIA Approved Racing Seat &#38; Seat Runners</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/File:Evora_GTN_-_Interior_-_FIA_Approved_Racing_Seat_%26_Seat_Runners.jpg" ><img src="Evora_GTN_-_Interior_-_FIA_Approved_Racing_Seat_%26_Seat_Runners.jpg" class="location-right type-thumb" width="200" />
</a></div>
</div>

<p>
Part No: <b>ALS5V0052J</b></p>
<p>This high specification Sparco EVO seat has been developed for race use with a lightweight fibreglass shell.</p>
<p>Kit Price: <b>£495</b></p>

<h3><span class="mw-headline" id="6_Point_Hans_Compliant_Harness">6 Point Hans Compliant Harness</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/File:Evora_GTN_-_Interior_-_6_Point_Hans_Compliant_Harness.jpg" ><img src="Evora_GTN_-_Interior_-_6_Point_Hans_Compliant_Harness.jpg" class="location-right type-thumb" width="200" />
</a></div>
</div>

<p>
Part No: <b>ALS5V0053J</b></p>
<p>Sparco six point Hans compliant and FIA approved seat harness, supplied with necessary fitting kit.</p>
<p>Kit Price: <b>£415</b></p>

<h3><span class="mw-headline" id="Life_Line_Electronic_Fire_Extinguisher_Kit">Life Line Electronic Fire Extinguisher Kit</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/File:Evora_GTN_-_Interior_-_Life_Line_Electronic_Fire_Extinguisher_Kit.jpg" ><img src="Evora_GTN_-_Interior_-_Life_Line_Electronic_Fire_Extinguisher_Kit.jpg" class="location-right type-thumb" width="200" />
</a></div>
</div>

<p>
Part No: <b>ALS5V0054J</b></p>
<p>Electrically operated fire extinguisher kit, with 4 nozzles.</p>
<p>Kit Price: <b>£465</b></p>

<h3><span class="mw-headline" id="Sparco_Quick_Release_Steering_Wheel">Sparco Quick Release Steering Wheel</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/File:Evora_GTN_-_Interior_-_Sparco_Quick_Release_Steering_Wheel.jpg" ><img src="Evora_GTN_-_Interior_-_Sparco_Quick_Release_Steering_Wheel.jpg" class="location-right type-thumb" width="200" />
</a></div>
</div>

<p>
Part No: <b>ALS5V0055J</b></p>
<p>Sparco suede covered sports steering wheel supplied with quick release boss and hub mounting, for easy and quick removal.</p>
<p>Kit Price: <b>£445</b></p>

<h2><span class="mw-headline" id="Powertrain">Powertrain</span></h2>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/File:Evora_GTN_-_Powertrain_-_Kit.jpg" ><img src="Evora_GTN_-_Powertrain_-_Kit.jpg" class="location-right type-thumb" width="400" />
</a></div>
</div>

<p>
Part No: <b>ALS5E0145J</b></p>
<p>The powertrain kit develops the performance of your Lotus Evora by improving air flow via the fitting of a performance air filter, de-cat pipe, and sports exhaust and thus increasing performance. Further developments include the fitting of a baffled wet sump, and replacing the gear cables for the latest specification improved version.</p>
<p>Total Powertrain Kit price Ex VAT <b>£2,950</b></p>

<h3><span class="mw-headline" id="Engine_Upgrade_Kit">Engine Upgrade Kit</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/File:Evora_GTN_-_Powertrain_-_Engine_Upgrade_Kit.jpg" ><img src="Evora_GTN_-_Powertrain_-_Engine_Upgrade_Kit.jpg" class="location-right type-thumb" width="200" />
</a></div>
</div>

<p>
Part No: <b>ALS5E0146J</b></p>
<p>Comprising of a performance air filter, de-cat pipe and sports exhaust, this kit improves overall engine performance and response.</p>
<p>Kit Price: <b>£875</b></p>
<h3><span class="mw-headline" id="Alloy_Baffled_Wet_Sump_Kit">Alloy Baffled Wet Sump Kit</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/File:Evora_GTN_-_Powertrain_-_Alloy_Baffled_Wet_Sump_Kit.jpg" ><img src="Evora_GTN_-_Powertrain_-_Alloy_Baffled_Wet_Sump_Kit.jpg" class="location-right type-thumb" width="200" />
</a></div>
</div>

<p>
Part No: <b>ALS5E0147J</b></p>
<p>This kit replaces the existing sump and helps to maintain adequate engine oil pressure, critical for any circuit/track use.</p>
<p>Kit Price: <b>£1,495</b></p>

<h3><span class="mw-headline" id="Latest_Specification_Gear_Cables">Latest Specification Gear Cables</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/File:Evora_GTN_-_Powertrain_-_Latest_Specification_Gear_Cables.jpg" ><img src="Evora_GTN_-_Powertrain_-_Latest_Specification_Gear_Cables.jpg" class="location-right type-thumb" width="200" />
</a></div>
</div>

<p>
Part No: ALS5F0175J</p>
<p>For pre-2012 cars, this replaces the existing gear cables to bring them in line with the latest specification version. It is a lightweight, easy motion cable set to improve gearshift accuracy and feel.</p>
<p>Kit Price: <b>£975</b></p>

<h2><span class="mw-headline" id="Miscellaneous">Miscellaneous</span></h2>

<h3><span class="mw-headline" id="Evora_.E2.80.98S.E2.80.99_Supercharger_Kit">Evora ‘S’ Supercharger Kit</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/File:Evora_GTN_-_Miscellaneous_-_Evora_%E2%80%98S%E2%80%99_Supercharger_Kitt.jpg" ><img src="Evora_GTN_-_Miscellaneous_-_Evora_%E2%80%98S%E2%80%99_Supercharger_Kitt.jpg" class="location-right type-thumb" width="400" />
</a></div>
</div>

<p>
Part No: <b>ALS5E0148J</b></p>
<p>The GTN supercharger kit can be fitted to a manual gearbox and utilises all the components found on the standard Evora ‘S’ resulting in an increase of power and torque from 280 PS to 350 PS, and 350 Nm to 400 Nm respectively.</p>
<p>This kit is a motorsport specific item and therefore intended for use on private property and/or racing tracks only and is not intended for use on public roads. Please ensure you read the disclaimer below and understand the affect on warranty. All prices exclude vat, delivery and regional taxes.</p>
<p>It features the following:</p>

<ul>
<li>Hi-flow fuel injectors and up-rated fuel pump</li>
<li>Replacement NGK spark plugs</li>
<li>Supercharger and belt to suit</li>
<li>Evora ‘S’ lightened flywheel</li>
<li>Up-rated clutch housing and plate</li>
<li>ECU remap (The ECU will require returning to Lotus Racing for the appropriate map update.)</li>
<li>Evora ‘S’ 2 into 1 exhaust downpipe</li>
<li>Evora ‘S’ rear under tray to increase gearbox cooling</li>
<li>Engine mount pads to reduce engine vibration/movement</li>
<li>All necessary fixings</li>
<li>Full fitting guide</li>
</ul>

<p>Kit Price: <b>£5,495</b></p>
<p>The are 2 available options in terms of silencer and catalyst pipes.</p>

<ul>
<li>Standard Evora ‘S’ secondary pipe with catalyst and Evora ‘S’ silencer as fitted to the standard car</li>
</ul>

<p>Part No: <b>ALS5E0183J</b><br />Kit Price: <b>£945</b></p>

<ul>
<li>Secondary de-cat pipe removing the catalyst and lightweight stainless steel sports exhaust with blue tipped titanium tailpipe trims. This is the recommended option to the reduction in weight and improved breathing.</li>
</ul>

<p>Part No: <b>ALS5E0184J</b><br />Kit Price: <b>£775</b></p>

<h3><span class="mw-headline" id="Oil_Cooling">Oil Cooling</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/File:Evora_GTN_-_Miscellaneous_-_Oil_Cooling.jpg" ><img src="Evora_GTN_-_Miscellaneous_-_Oil_Cooling.jpg" class="location-right type-thumb" width="400" />
</a></div>
</div>

<p>
Part No: <b>ALS5E0185J</b></p>
<p>The oil cooling kit is supplied as a separate kit to allow customisation, and this is the preferred and recommended option. This kit utilises the standard Evora &#39;S&#39; air to oil coolers that are located in the front bumper. The oil is fed by pre-formed aluminium pipes that run along the sills as shown in the diagram. For model year 12 vehicles please contact Lotus Racing as a different variation is required.</p>
<p>Kit Price: <b>£1,295</b></p>

<h3><span class="mw-headline" id="Performance_Brake_Pads_.E2.80.93_Pagid_RS14">Performance Brake Pads – Pagid RS14</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/File:Evora_GTN_-_Miscellaneous_-_Performance_Brake_Pads_%E2%80%93_Pagid_RS14.jpg" ><img src="Evora_GTN_-_Miscellaneous_-_Performance_Brake_Pads_%E2%80%93_Pagid_RS14.jpg" class="location-right type-thumb" width="200" />
</a></div>
</div>

<p>
Front Part No: <b>ALS5J0140F</b>
Rear Part No: <b>ALS5J0177F</b></p>
<p>Pagid track pads with improved frictional coefficients for improved bite. Compound also improves fade resistance whilst maintaining good wear rate characteristics. Supplied as an axle set.</p>
<p>Price: <b>£225</b></p>

<h3><span class="mw-headline" id="Performance_2-Piece_Front_Brake_Disc">Performance 2-Piece Front Brake Disc</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/File:Evora_GTN_-_Miscellaneous_-_Performance_2-Piece_Front_Brake_Disc.jpg" ><img src="Evora_GTN_-_Miscellaneous_-_Performance_2-Piece_Front_Brake_Disc.jpg" class="location-right type-thumb" width="200" />
</a></div>
</div>

<p>
FL Disc Part No: <b>ALS5J0140F</b>
FR Disc Part No: <b>ALS5J0177F</b></p>
<p>Designed for competition, these 2 - piece ventilated discs offer improved performance and cooling characteristics.</p>
<p>Price: <b>£385</b></p>

<h3><span class="mw-headline" id="High_Ambient_PWR_Radiator">High Ambient PWR Radiator</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/File:Evora_GTN_-_Miscellaneous_-_High_Ambient_PWR_Radiator.jpg" ><img src="Evora_GTN_-_Miscellaneous_-_High_Ambient_PWR_Radiator.jpg" class="location-right type-thumb" width="200" />
</a></div>
</div>

<p>
Part No: <b>ALS5K0064J</b></p>
<p>Double bypass 68mm radiator manufactured by PWR, offers improved cooling of engine temperature.</p>
<p>Note: Cannot be used in conjunction with A/C condenser and specifically for track use only.</p>
<p>Price: <b>£1,295</b></p>

<h3><span class="mw-headline" id="96L_ATL_Fuel_Cell_FIA_Approved">96L ATL Fuel Cell FIA Approved</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/File:Evora_GTN_-_Miscellaneous_-_96L_ATL_Fuel_Cell_FIA_Approved.jpg" ><img src="Evora_GTN_-_Miscellaneous_-_96L_ATL_Fuel_Cell_FIA_Approved.jpg" class="location-right type-thumb" width="200" />
</a></div>
</div>

<p>
Part No: <b>ALS5L0065J</b></p>
<p>96L FIA compliant bag tank. Foam filled, anti-surge tank supplied with pipes, filler necks, quick release caps, carbon quarter panels, fuel drain and all other necessary fittings.</p>
<p>Note: Tank also available as single item.</p>
<p>Price: <b>£6,750</b></p>

<h3><span class="mw-headline" id="Interior_Lightweight_Door_Cards">Interior Lightweight Door Cards</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/File:Evora_GTN_-_Miscellaneous_-_Interior_Lightweight_Door_Cards.jpg" ><img src="Evora_GTN_-_Miscellaneous_-_Interior_Lightweight_Door_Cards.jpg" class="location-right type-thumb" width="200" />
</a></div>
</div>

<p>
Part No: <b>ALS5V0056J</b></p>
<p>Lightweight GRP door cards replace heavier OEM version. Car set supplied unpainted with all relevant fixings. Painting available upon request.</p>
<p>Price: <b>£775</b></p>
<h3><span class="mw-headline" id="Electrically_Operated_Kill_Switch_Kit">Electrically Operated Kill Switch Kit</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/File:Evora_GTN_-_Miscellaneous_-_Electrically_Operated_Kill_Switch_Kit.jpg" ><img src="Evora_GTN_-_Miscellaneous_-_Electrically_Operated_Kill_Switch_Kit.jpg" class="location-center type-thumb" width="400" />
</a></div>
</div>

<p>Part No: ALS5M0225J**</p>
<p>FIA compliant kill switch allows for remote fitting in the cockpit for easy driver access, plus greater flexibility in location of external controls.</p>

<ul>
<li>
<ul>
<li>Will require a fully qualified electrical engineer, preferably with previous electronic motorsport experience.</li>
</ul></li>
</ul>

<h2><span class="mw-headline" id="Contact_details">Contact details</span></h2>

<p>For further information please contact Adrian Kent - Parts Department<br />
Telephone: +44 (0)1953 608980<br />
Email: akent@lotuscars.com</p>
<p>All prices exclude VAT, delivery and local taxes. All parts shown are for track use only and may effect standard vehicle warranty.</p>
<p>













</p>