
<p> </p>
<p>The ignition switch can wear which can cause malfunction (e.g. no starter).<br />
<br />
</p><table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#S1">S1</a>
<ul>
<li class="toclevel-2"><a href="#Ignition_lock">Ignition lock</a>
<ul>
<li class="toclevel-3"><a href="#Remove_the_ignition_lock">Remove the ignition lock</a>
</li>
<li class="toclevel-3"><a href="#Insert_the_ignition_lock">Insert the ignition lock</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Ignition_switch">Ignition switch</a>
<ul>
<li class="toclevel-3"><a href="#Remove_the_ignition_switch">Remove the ignition switch</a>
</li>
<li class="toclevel-3"><a href="#Assemble_the_ignition_switch">Assemble the ignition switch</a>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="S1">S1</span></h2>
<p>The ignition switch used in the Elise S1 is like the rest of the steering column from GM/Vauxhall/Opel (e.g. Corsa B). The GM spare part number is 914852 or 90389377.<br />
<br />
<b>IMPORTANT!!! To remove/insert the ignition lock and/or switch ensure the key is inserted and is set to position I</b> (key vertical and position where normally the radio is on but ignition is still off).<br />
<br />
</p><h3><span class="mw-headline" id="Ignition_lock">Ignition lock</span></h3>
<h4><span class="mw-headline" id="Remove_the_ignition_lock">Remove the ignition lock</span></h4>
<div class="thumb tright">
<div class="thumbinner" style="width:242px;"><a class="internal" href="http://wiki.seloc.org/a/File:Zuend_1.jpg" title="Position of the key and unlatch the lock"><img src="Zuend_1.jpg" alt="Position of the key and unlatch the lock" title="Position of the key and unlatch the lock" class="location-right type-thumb" width="240" />
</a>
<div class="thumbcaption">Position of the key and unlatch the lock</div></div>
</div>

<p>
</p>
<ol>
<li>Remove the column shroud (7 screws and 1 nut for the trip switch)</li>
<li>Insert key and set to position I (key must be vertical - see picture)</li>
<li>At the front side (the side where the steering wheel is) of the outer barrel is a small hole. Press the short side of a small allen key into the hole (see picture). At the same time press the lock by the key towards the column and gently wiggle the lock until is comes loose. The lock is pressed out by spring tension.</li>
</ol>
<p><br />
</p><h4><span class="mw-headline" id="Insert_the_ignition_lock">Insert the ignition lock</span></h4>
<div class="thumb tright">
<div class="thumbinner" style="width:242px;"><a class="internal" href="http://wiki.seloc.org/a/File:Zuend_4.jpg" title="Unlatch the steering wheel lock"><img src="Zuend_4.jpg" alt="Unlatch the steering wheel lock" title="Unlatch the steering wheel lock" class="location-right type-thumb" width="240" />
</a>
<div class="thumbcaption">Unlatch the steering wheel lock</div></div>
</div>

<p>
</p>
<ol>
<li>Before inserting the ignition lock make sure the steering wheel lock is disengaged. Use a small screwdriver to push the mechanism downwards until it locks into place (see picture) </li>
<li>Ensure the key is inserted and is set to position I. Test if the locking notch on top of the ignition lock can be pressed in until it is level with the outer shape of the lock.</li>
<li>Press the lock into the barrel until it locks into place</li>
<li>Check function and reattach the shroud</li>
</ol>
<p><br />
<br />
</p><h3><span class="mw-headline" id="Ignition_switch">Ignition switch</span></h3>
<h4><span class="mw-headline" id="Remove_the_ignition_switch">Remove the ignition switch</span></h4>
<div class="thumb tright">
<div class="thumbinner" style="width:242px;"><a class="internal" href="http://wiki.seloc.org/a/File:Zuend_2.jpg" title="Direction to unlock the ignition switch"><img src="Zuend_2.jpg" alt="Direction to unlock the ignition switch" title="Direction to unlock the ignition switch" class="location-right type-thumb" width="240" />
</a>
<div class="thumbcaption">Direction to unlock the ignition switch</div></div>
</div>

<p>
</p>
<div class="thumb tright">
<div class="thumbinner" style="width:242px;"><a class="internal" href="http://wiki.seloc.org/a/File:Zuendschalter.jpg" title="Direction to unlatch the plug"><img src="Zuendschalter.jpg" alt="Direction to unlatch the plug" title="Direction to unlatch the plug" class="location-right type-thumb" width="240" />
</a>
<div class="thumbcaption">Direction to unlatch the plug</div></div>
</div>

<p>
</p>
<div class="thumb tright">
<div class="thumbinner" style="width:242px;"><a class="internal" href="http://wiki.seloc.org/a/File:Zuend_3.jpg" title="Unscrew the ignition switch fix grub screw"><img src="Zuend_3.jpg" alt="Unscrew the ignition switch fix grub screw" title="Unscrew the ignition switch fix grub screw" class="location-right type-thumb" width="240" />
</a>
<div class="thumbcaption">Unscrew the ignition switch fix grub screw</div></div>
</div>

<p>
</p>
<ol>
<li>Disconnect the battery</li>
<li>Remove the ignition lock (see above)</li>
<li>Use a small screwdriver to remove the ignition switch cover or unlock switch with the cover mounted (more fiddly but possible - see picture)</li>
<li>Use a small screwdriver and press as shown in the picture to unlatch the plug (only possible if the switch had been set to position I) and disconnect the plug</li>
<li>Unscrew the grub screw and remove without dropping it</li>
<li>The switch is now only held by a small dowel. Move the switch towards the steering wheel to get it off the dowel and remove it.</li>
</ol>
<p><br />
</p><h4><span class="mw-headline" id="Assemble_the_ignition_switch">Assemble the ignition switch</span></h4>

<ol>
<li>Use the (removed) ignition lock to ensure the switch is set to position I and the latch can be pressed in (see picture)</li>
<li>Insert in the switch on the dowel and screw in the grub screw. Don&#39;t fully tighten yet. </li>
<li>Insert the ignition lock (see above)</li>
<li>Tighten the grub screw</li>
<li>If you removed the cover of the plug reattach it</li>
<li>Press the plug in the switch until it latches</li>
<li>Reconnect the battery and test switch</li>
<li>Reattach the shroud</li>
</ol>