<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Introduction">Introduction</a>
</li>
<li class="toclevel-1"><a href="#A_Brief_Overview_of_Emissions_Control">A Brief Overview of Emissions Control</a>
</li>
<li class="toclevel-1"><a href="#The_Lambda_Sensor">The Lambda Sensor</a>
</li>
<li class="toclevel-1"><a href="#Problems">Problems</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Introduction">Introduction</span></h2>

<p>Passing ones MoT emissions test with ones Elise appears to be an annual trauma.  This page is the beginnings of a &#39;how-to&#39; guide of hints and tips to help you through.</p>
<h2><span class="mw-headline" id="A_Brief_Overview_of_Emissions_Control">A Brief Overview of Emissions Control</span></h2>

<p>Combustion engines of all types generally burn hydrocarbons (HC)as their primary fuel source.  </p>
<p>In the limiting case, hydrocarbons combine with ambient oxygen (O2) to create carbon dioxide (CO2) and water (H2O), however an internal combustion engine is never 100% efficient and this chemical reaction usually has some incomplete products, namely carbon monoxide (CO) and unburned hydrocarbons (uHC).  </p>
<p>In addition, the normally inert nitrogen (N2) in the air forms oxides of nitrogen (NOx) during the high temperature and pressure phases of the combustion process.</p>
<p>cont...</p>
<h2><span class="mw-headline" id="The_Lambda_Sensor">The Lambda Sensor</span></h2>

<p>Otherwise known as an <a href="http://wiki.seloc.org/a/Lambda_sensor" title="Lambda sensor">Oxygen Sensor</a> or a HEGO sensor (Heated Exhaust Gas Oxygen), the <a href="http://wiki.seloc.org/a/Lambda_sensor" title="Lambda sensor">Lambda sensor</a> returns a voltage signal which is a non-linear function of the amount of oxygen present in the exhaust</p>
<h2><span class="mw-headline" id="Problems">Problems</span></h2>

<p>Some of the higher performance elises (S160, S190 etc) run a bit close to the wind on emissions, taking the car for a good thrash (10 or 20 miles) to get the CAT fully up to temperature and to burn off some of the carbon hich may have built up in the engine can help.</p>
<p>A leaking exhaust flexi joint can allow some air back up the exhaust and fool the lamda sensor making the ECU run the engine rich which can in turn cause an emissions failure.</p>
<p>Generally if any <a href="http://wiki.seloc.org/a/ECU" title="ECU">ECU</a> sensor is faulty (particularly the water temperature sensor) the <a href="http://wiki.seloc.org/a/ECU" title="ECU">ECU</a> will run the engine rich as a self preservation measure.</p>