
<p>The <b>exhaust silencer</b> is located at the end of the exhaust system and is designed to quieten the engine noise.</p>
<p>The various Elise models require different silencers and the following pages have been created: -
</p>
<ul>
<li><a href="http://wiki.seloc.org/a/Exhaust_silencers_for_Elise_S1%2C_Exige_S1%2C_340R" title="Exhaust silencers for Elise S1, Exige S1, 340R">Exhaust silencers for Elise S1, Exige S1, 340R</a></li>
<li><a href="http://wiki.seloc.org/a/Exhaust_silencers_for_Elise_S2%2C_K_series_engine" title="Exhaust silencers for Elise S2, K series engine">Exhaust silencers for Elise S2, K series engine</a></li>
<li><a href="http://wiki.seloc.org/a/Exhaust_silencers_for_Elise_S2%2C_Exige_S2%2C_111R%2C_Toyota_engine" title="Exhaust silencers for Elise S2, Exige S2, 111R, Toyota engine">Exhaust silencers for Elise S2, Exige S2, 111R, Toyota engine</a></li>
<li><a href="http://wiki.seloc.org/a/Exhaust_silencers_for_Elise%2C_Honda_engine" title="Exhaust silencers for Elise, Honda engine">Exhaust silencers for Elise, Honda engine</a></li>
</ul>




<h2><span class="mw-headline" id="Differences_Between_Lotus_Exhausts_From_Janspeed">Differences Between Lotus Exhausts From Janspeed</span></h2>

<p>Motorsport silencer supplied from 1996 – 2000 </p>	
<p>This was the very first aftermarket exhaust sold by lotus for the MK1 Elise as an O.E. upgrade, designed for the Sport 135 kit, the silencer could also be fitted to standard cars. This exhaust was manufacturered in mild steel and developed to be more about a loud sound instead of performance with the twin round tailpipes. We only recommend using this silencer up to approx 150ps as creating too much backpressure. </p>
<p>Supersport silencer supplied from 2000-2005</p>
<p>The Janspeed Supersport silencer for the MK1 Lotus Elise is designed to reduce weight and backpressure leading to increased power and stunning sound quality. This Supersport design was originally manufacturered for Lotus car in mild steel, Each Supersport silencer is now manufacturered by hand in high grade (304) Stainless Steel and comes with the market leading lifetime guarantee. New nuts and bolts are also inclusive for easy fitting. 8.7kg  </p>

<p>Roadsport silencer supplied from Aug 2005 Onwards</p>

<p>After listening to many Lotus Elise owners and their comments we are pleased to now offer The New Janspeed Roadsport design silencers for all models of the MK1 Lotus Elise. Each silencer is beautifully hand crafted in nothing but the highest grade (304) stainless steel throughout production on individual jigs to ensure a perfect fit every time. All bends are mandrel formed to minimise loss of wall thickness and tube volume to maximize exhaust gas flow and life of each silencer produced. Each Roadsport silencer has unique twin round 76mm chrome backslashed tailpipes engraved with the Janspeed logo, new nuts and bolt for easy fitting. The new design is much lighter at only 8.6kg, less restrictive than the standard production silencer and quieter than the earlier Janspeed Supersport design. Around town and long journeys the new Roadsport silencer is not too load making it easy to live with. When given full throttle it delivers a fantastic crisp sports note, the ideal all-round silencer for fast road and track use. Lifetime guarantee, polished stainless finish, competitively priced, superb sports sound, improved flow and power are all key factors to the new Roadsport silencer.</p>
<p>Advantages of the new Roadsport silencer</p>

<ol>
<li>Not as loud as the Supersport or Motorsport</li>
<li>Performance better than Supersport and Motorsport</li>
<li>Highly Polished stainless steel </li>
<li>Engraved tailpipes</li>
<li>Lifetime Guarantee</li>
</ol>

<p><a class="external text" href="http://www.ptp-ltd.co.uk/" rel="nofollow">Power Train Projects</a></p>
