
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Janspeed-S2-Catalyst-Replac_LRG.jpg" title="Janspeed S2 Catalyst Replacement Pipe"><img src="Janspeed-S2-Catalyst-Replac_LRG.jpg" alt="Janspeed S2 Catalyst Replacement Pipe" title="Janspeed S2 Catalyst Replacement Pipe" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Janspeed S2 Catalyst Replacement Pipe</div></div>
</div>

<p>
A Cat Replacement Pipe, or CRP, is a device used to replace the <a href="http://wiki.seloc.org/a/Catalytic_converter" title="Catalytic converter">Catalytic converter</a> on an internal combustion engine.  Somethimes refered to as a de-cat pipe or decat or straight catpipe, it&#39;s nothing more than a straight through piece of tubing!</p>
<p>Alternatives to this are a <a href="http://wiki.seloc.org/a/SCRP" title="SCRP">SCRP</a> or <a href="http://wiki.seloc.org/a/Sports_CAT" title="Sports CAT">Sports CAT</a>.</p>

<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Noise">Noise</a>
</li>
<li class="toclevel-1"><a href="#Performance">Performance</a>
</li>
<li class="toclevel-1"><a href="#MOT_.26_Legality_.26_Insurance">MOT &#38; Legality &#38; Insurance</a>
</li>
<li class="toclevel-1"><a href="#111S_.26_VVC_Engine">111S &#38; VVC Engine</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Noise">Noise</span></h2>
<p>Large increase in noise, pops &#38; bangs on overrun.</p>
<p>Annoys the neighbours!</p>
<h2><span class="mw-headline" id="Performance">Performance</span></h2>
<p>About a 3BHP/2,7NM gain att peak on the non-VVC engine(stock).
Wight saving is about 2,5kg</p>
<h2><span class="mw-headline" id="MOT_.26_Legality_.26_Insurance">MOT &#38; Legality &#38; Insurance</span></h2>
<p>It is illegal to use your car on the road without a CAT and not just because of the emissons.  This may cause you a problem in the event of an insurance claim.  The procedure to <a href="http://wiki.seloc.org/a/Change_a_CAT" title="Change a CAT">change your CRP</a> is quite simple.</p>
<h2><span class="mw-headline" id="111S_.26_VVC_Engine">111S &#38; VVC Engine</span></h2>

<p>All tuning is a case of balance and this is still the case with exhaust systems.  Some engines require some back pressure and the system may have been tuned with it in mind so a Motor sport version maybe more favourable than removing it completely as seems to be the case on the VVC engine.</p>
<p>Some further reading and testing on similar engine configurations can be found on this MGF owners site.</p>

<ul>
<li><a class="external free" href="http://www.mgf.ultimatemg.com/group2/exhaust/catalysts.htm" rel="nofollow">http://www.mgf.ultimatemg.com/group2/exhaust/catalysts.htm</a></li>
<li><a class="external text" href="http://forums.seloc.org/t/157908" rel="nofollow">SELOC thread with counter argument to MGF test above</a></li>
</ul>

<p>


</p>