
<p>Janspeed 4-2-1 Manifold S2
Fitting Instructions</p>
<p>This is an amusing account of the first time that I tried to fit an aftermarket exhaust manifold to my car. However it does highlight some important points that must be considered when undertaking this task.</p>
<p>I do have to emphasise that once you have fitted a manifold you will soon realise that it is not as daunting as it sounds.</p>

<p>Day 1 - Tuesday (8:00pm start, not recommended)</p>
<p>1. Remove diffuser.</p>
<p>2. Remove rear undertray.</p>
<p>3. Remove engine cover.</p>
<p>4. Remove soft top.</p>
<p>5. Remove 80 Amp alternator fuse. (I didn’t and now I have a 60 Amp fuse instead because that was all that Halfords had in stock). Full explanation further in procedure.</p>
<p>6. Remove top heat shield.</p>
<p>7. Unplug the lambda sensor connector.</p>
<p>8. Jack up car.</p>
<p>9. Remove 6 rusty nuts holding manifold onto down pipe from underneath the car.</p>
<p>10. Remove cat replacement pipe and undo rear mounting for downpipe.</p>
<p>11. Undo bottom engine steady bar.</p>
<p>12. Lower car to the ground.</p>
<p>13. Remove the 5 nuts holding manifold to cylinder head (in my case only 1 stud unscrewed from the head).</p>
<p>Do this while standing in the car on the seats.</p>
<p>14. Remove manifold from top of the engine bay by jiggling the manifold and pulling the engine backwards and forwards.</p>
<p>15. Jack car up again.</p>
<p>16. Remove the down pipe from the bottom of the car by jiggling the down pipe and pulling the engine backwards and forwards. You do not need to remove the oil filter.</p>
<p>17. Inspect the manifold and be amazed how badly the weld blocks up the exhaust ports. At this point you will be feeling satisfied with your decision to replace this piece of sh*t.</p>
<p>18. Lower car to the ground again. And remove alternator heat shield, but first of all check once again that you have removed the 80 Amp fuse. If you don’t do this then there is a high probability that you will short the positive terminal on the alternator with your extension bar and blow the fuse. You may not notice this until you drive the car next and the battery warning light will stay on.</p>
<p>19. Jack car up again.</p>
<p>20. Crawl under the car with your shiny new Janspeed manifold then jiggle and pull repeatedly until it finally slips through between the engine and bulk head.</p>
<p>21. Lower car to the ground again.</p>
<p>22. Get in car and stand on the seats and pull the manifold up until it fits on the studs. If you have not removed the 80 Amp fuse and still have not blown it, you will probably blow it now.</p>
<p>23. Bolt the manifold onto the head. This is not too difficult, it just needs a bit of patience.</p>
<p>24. Look at how close the first primary is to the alternator. Worry about cooking the alternator and how expensive it’s going to be to replace. </p>
<p>25. Have a cup of tea and decide there’s no going back now, so jack up car again.</p>
<p>26. Remove lambda sensor from the original down pipe.</p>
<p>27. Refit lambda sensor to the new manifold. Re-route cable and reconnect. Then cable tie the loom to the throttle cable, so that it does not interfere with the drive shaft.</p>
<p>28. Slide exhaust clamp onto down pipe flange and slide flexi pipe onto down pipe. Wonder why you can’t get the exhaust clamp to fit properly, so decide to deform it with a hammer and vice to make it fit over the flanges. Finally decide this was a bad idea and it is now 11:00pm, so go to bed.</p>

<p>Day 2 - Wednesday</p>
<p>29. 8:00 am. Borrow a car and get to work late. At this point you will wish that you had left the bl**dy thing alone, and decide there was nothing wrong with the original manifold.</p>
<p>30. Come home from work and buy some exhaust paste from Halfords. At this point you still don’t know that you have blown the alternator fuse, but buy one anyway, because it will save you a return trip.</p>
<p>31. Continue deforming the exhaust clamp until it is nearly b*ggered, then manage to get it to clamp the flanges together, hoping the copious amount of exhaust paste glues the joint together.</p>
<p>32. Refit cat pipe and bolt the hangers back in place.</p>
<p>33 Lower car to the ground again.</p>
<p>34 Refit engine cover. Then spend 10 minutes b*ggering about trying to line it up properly. Give up and decide that it looks better with a big gap on one side when it’s shut.</p>
<p>34. Refit rear under tray. This takes ages if you try doing it on your own, or 5 minutes if you have a helper.</p>
<p>35. Open garage door and start the engine.</p>
<p>36. Look at the smoke from your new manifold. Hope that it’s just oil burning off. Check all joints and switch off engine. Tighten up cat replacement pipe bolts properly this time and repeat procedure. Burn fingers on hot exhaust, while feeling for more leaks.</p>
<p>37. Refit rear diffuser.</p>
<p>38. Remove rear diffuser.</p>
<p>39. Jack up car again.</p>
<p>40. Refit bolt to engine steady bar and tighten.</p>
<p>41. Replace rear diffuser.</p>
<p>38. Make a cup of tea and go to bed at midnight.</p>

<p>Day 3 - Thursday</p>
<p>39. Get up, start car and notice that hot stainless steel smell.</p>
<p>40. Drive 100 yards down the road and see the battery warning light is on. Do a U turn and drive straight home. Open engine cover to retrieve handbook to find out where the alternator fuse is and what size it is. Touch hot exhaust manifold with right forefinger and cry out in agony when it burns. Smell burning flesh on manifold and wonder if the alternator has cooked as badly as your finger.</p>
<p>41. Borrow a car and get to work late.</p>
<p>42. Stay at work late to finish weekly report. Get to Halfords just before closing time only to find that they have only got a 60 Amp fuse.</p>
<p>43. Rush dinner down and back in the garage at 9:00pm.</p>
<p>44. Fit new fuse and spend ages trying to get the plastic protective cover back on.</p>
<p>45. Go to the pub, have a couple of beers and go to bed.</p>

<p>Day 3 - Friday</p>
<p>46. Start car up and everything works o.k., drive to work worrying about cooking the alternator. Hot stainless steel smell eventually stops.</p>
<p>47. Arrive at work feeling a bit deaf. Convince yourself the exhaust sounds different, much deeper sound now, like a Lancaster bomber.</p>
<p>48. Drive home and go to the pub, get p*ssed.</p>

<p>Day 4 - Saturday</p>
<p>49. Have a lay in and decide to get some exhaust wrap, so that the alternator does not cook.</p>
<p>50. Drive all over West London and eventually realise that nobody will sell you any exhaust wrap.</p>
<p>51. Drive to Romford on the M25 wondering what else is cooking as well as the alternator.</p>
<p>52. Hammer it through the tunnels thinking this must be the loudest car in the world.</p>
<p>53. Get to Burton Power and buy some exhaust wrap. Stare in amazement when they give you the bill.( I told them that they were more expensive than my dentist), then leave to join a traffic jam in the pouring rain with roof off.</p>
<p>54. Drive to SGT to look at the new 135R (they laughed at my max power gold diffuser &#38; blue calipers when I pulled up outside).</p>
<p>55. After admiring the Yokos shod on the OZ wheels, go home and remove the exhaust. Similar procedure to above, but a lot easier this time (I had to stop so that I could borrow a car to take my daughter to a party, but you can continue if you wish).</p>

<p>Day 5 - Sunday</p>
<p>57. Get up early and start wrapping the really expensive exhaust wrap on the manifold. When finished stop and admire what a work of art you have created. It will be nearly to good to put back on the car. Think about hanging it on the wall in the living room instead.</p>
<p>58. Have breakfast.</p>
<p>59. Now decide to work out why the flexi pipe does not fit properly. After much head scratching find the problem to be a few spots of weld inside the tube of the flexi pipe. This is easily removed with a Dremel. Also grind the inside of the four ports at the top of the manifold at the same time, as there will be a bit of overweld in there as well, although nothing like as bad as the original manifold.</p>
<p>60. Fit manifold to car. Similar procedure to above, but really easy this time and you should get no blown fuses. If you do blow a fuse then you are a bl**dy idiot.</p>
<p>61. Go to Halfords and buy their last 60 Amp fuse in stock.</p>
<p>62. Fit new 60 Amp fuse and swear again about how hard the black plastic protective cover is to put back on.</p>
<p>63. Try to bend exhaust clamp back to its original shape. Fit flanges together with a more reasonable amount of exhaust paste and marvel at how well the exhaust clamp fits this time.</p>
<p>64. Start engine and nearly choke on the smoke from the exhaust wrap.</p>
<p>65. Wait for engine to get up to normal operating temperature and tap the exhaust manifold with left forefinger because your right forefinger will still numb from Thursday. It will be hot, but you will not get searing pain like the last time you touched the bare stainless steel.</p>
<p>66. Keep engine running until exhaust wrap stops smoking.</p>
<p>67. Turn off engine.</p>
<p>68. Job done.</p>
<p>



</p>