
<p>Replacing the exhaust silencer on the Elise is relatevely simple.  The hardest part is removing the three bolts securing the silencer to the <a href="http://wiki.seloc.org/a/CAT" title="CAT">CAT</a>.</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<ul>
<li class="toclevel-1"><a href="#S1">S1</a>
</li>
<li class="toclevel-1"><a href="#S2">S2</a>
</li>
<li class="toclevel-1"><a href="#TOOLS">TOOLS</a>
</li>
<li class="toclevel-1"><a href="#FITTING">FITTING</a>
</li>
</ul>
</ul>
</ul></td></tr></table><hr/>
<h3><span class="mw-headline" id="S1">S1</span></h3>

<p>Tools</p>
<pre>  17mm ring spanner
  17mm socket and breaker bar
  13mm socket
  Torch
  Plusgas
  8mm socket and 4mm (?) allen key to remove the undertray
</pre>
<p>If you want to be really through you could buy the following parts (in stainless if you like) which replace the nuts and bolts that are probably very rusty.</p>
<pre>2 x cat gasgets (Rover WCM 10480), 
6 x 10mm x 30mm hex bolts
12 x 10mm plain washers
6 x M6 full nuts
6 x M6 x 35mm hex bolts
6 x 6mm plain washers
6 x M6 full nuts
1 x Catalyst hanger bracket (Lotus part A111G6001F)
</pre>
<p>Back the car onto ramps</p>
<p>Remove the under-tray</p>
<p>Soak the Nuts at each end of the cat and the bolts fixing the exhaust hangers in PlusGas , WD40, or the like.</p>
<p>leave overnight</p>
<p>Often easier to unbolt the 17mm nuts on the inlet side of the cat as they tend to be less rusted, the cat and siliencer can bet seperated more easily once the exhaust system is off the car.</p>
<p>Put a jack or axel stand under the exhaust so it doesn&#39;t fall on your face.</p>
<p>Remove the three exhaust hanger rubbers - two 13mm AF nuts on each</p>
<p>The exhaust and cat should now be free.</p>
<p>seperate the cat and silencer</p>
<p>If you bought new 10mm bolts you can press out the studs from the ends of the cat using a heavy vice and an old socket.</p>
<p>copper grease everything liberally before putting it back together.</p>
<h3><span class="mw-headline" id="S2">S2</span></h3>



<h3><span class="mw-headline" id="TOOLS">TOOLS</span></h3>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:oil.JPG" title="Penitration Oil or WD40"><img src="oil.JPG" alt="Penitration Oil or WD40" title="Penitration Oil or WD40" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Penitration Oil or WD40</div></div>
</div>

<p>This will help remove those very rusted bolts</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:coppergrease.JPG" title="Copper Grease, useful but not necessary"><img src="coppergrease.JPG" alt="Copper Grease, useful but not necessary" title="Copper Grease, useful but not necessary" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Copper Grease, useful but not necessary</div></div>
</div>

<p>This should be used to coat all new bolts and nuts to prevent seizure in the future.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:RatchetSet.jpg" title="ratchet set"><img src="RatchetSet.jpg" alt="ratchet set" title="ratchet set" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">ratchet set</div></div>
</div>



<p>This is a must have item.</p>
<p>I also recommend a stainless steal bolt/gasket set from eliseparts that contains</p>
<p>6x Stainless Steel M10 bolts</p>
<p>12x Stainless steel M10 washers</p>
<p>6x M10 Stainless Steel full nuts</p>
<p>2 x new Exhaust Gaskets.</p>

<h3><span class="mw-headline" id="FITTING">FITTING</span></h3>

<p>New rubber exhaust mounts are a wise replacement as well
( 3 rubber mounts are used, 2 on the &#39;back box&#39; and 1 one the CAT).</p>
<p>You may have to &#39;cut&#39; off some of the old rusted bots, this is quite common.</p>

<p>Another recommendation of mine is to undo the top bolt in the left hand side of the wheel arch so you can disconnect the <a class="external text" href="http://wiki.seloc.org/index.php/Lambda_sensor" rel="nofollow">Lambda sensor</a> wire and &#39;drop&#39; it through the flap. (this is because the 22mm <a class="external text" href="http://wiki.seloc.org/index.php/Lambda_sensor" rel="nofollow">Lambda</a> bolt on my exhaust would not come undone.) so you may not have to do this.</p>


<p>Step 1:
<a href="http://wiki.seloc.org/a/Remove_the_rear_undertray" title="Remove the rear undertray">Remove the rear undertray</a></p>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:TRAY7.JPG" title="Exhaust System"><img src="TRAY7.JPG" alt="Exhaust System" title="Exhaust System" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Exhaust System</div></div>
</div>


<p>Standard Elise S2 exhaust system.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:rusty.JPG" title="Rusty Exhaust Gasket"><img src="rusty.JPG" alt="Rusty Exhaust Gasket" title="Rusty Exhaust Gasket" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Rusty Exhaust Gasket</div></div>
</div>

<p>These are only 5 years old, yet very rusty! </p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:TRAY8.JPG" title="Soake the bolts"><img src="TRAY8.JPG" alt="Soake the bolts" title="Soake the bolts" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Soake the bolts</div></div>
</div>

<p>Soake the exhaust bolts over night, this should help the free-up some of the rusted bolts.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:TRAY9.JPG" title="Soked bolts"><img src="TRAY9.JPG" alt="Soked bolts" title="Soked bolts" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Soked bolts</div></div>
</div>

<p>I used a good half a can on the bolts by soaking them and leaving for half an hour or so then and re-soaking them.</p>
<p>It can help to remove the nearside rear wheel, inorder to gain access to the back of the cat bolts. You will also be able to get better leaverage from here.</p>

<p>I forgot to take pictures / get my camera out when i was using a friends hydraulic ramp as it was a bit hectic, but i did take some with my camera phone, sorry</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:helpinghand.jpg" title="Always good to have a friend, who is a &#39;grease monkey&#39; near buy"><img src="helpinghand.jpg" alt="Always good to have a friend, who is a &#39;grease monkey&#39; near buy" title="Always good to have a friend, who is a &#39;grease monkey&#39; near buy" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Always good to have a friend, who is a &#39;grease monkey&#39; near buy</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:lamba.JPG" title="Lambda Sensor"><img src="lamba.JPG" alt="Lambda Sensor" title="Lambda Sensor" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Lambda Sensor</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:lamba2.JPG" title="Lambda Sensor"><img src="lamba2.JPG" alt="Lambda Sensor" title="Lambda Sensor" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Lambda Sensor</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Flexi.JPG" title="Flexi Section of the Sports Cat"><img src="Flexi.JPG" alt="Flexi Section of the Sports Cat" title="Flexi Section of the Sports Cat" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Flexi Section of the Sports Cat</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:sportscat.JPG" title="Sports Cat Fitted"><img src="sportscat.JPG" alt="Sports Cat Fitted" title="Sports Cat Fitted" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Sports Cat Fitted</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:sportscat2.JPG" title="Sports Cat Fitted"><img src="sportscat2.JPG" alt="Sports Cat Fitted" title="Sports Cat Fitted" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Sports Cat Fitted</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:exhausthanger.JPG" title="Elise Exhaust Mounts"><img src="exhausthanger.JPG" alt="Elise Exhaust Mounts" title="Elise Exhaust Mounts" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Elise Exhaust Mounts</div></div>
</div>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:exhaustoff.JPG" title="Exhaust finnaly out"><img src="exhaustoff.JPG" alt="Exhaust finnaly out" title="Exhaust finnaly out" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Exhaust finnaly out</div></div>
</div>



<p>I would also like to say that on a scale of 1 to 10 ( 10 being a qualified mechanic). I am about a 2 (knowing little) and i think that changing the exhaust on the elise is easy, if you exclude the rusted/seized nuts that are more of a pain than a problem.</p>

<p>Also See  <a class="external free" href="http://www.elisenet.com/Exhaust.htm" rel="nofollow">http://www.elisenet.com/Exhaust.htm</a></p>
<p>



</p>