<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Elise_S1">Elise S1</a>
<ul>
<li class="toclevel-2"><a href="#HANGAR_111_Signature_Series">HANGAR 111 Signature Series</a>
<ul>
<li class="toclevel-3"><a href="#Signature_Sports_Exhaust_-_Elise_S1_Twin_Round_Tailpipes">Signature Sports Exhaust - Elise S1 Twin Round Tailpipes</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#BTB_Exhausts">BTB Exhausts</a>
<ul>
<li class="toclevel-3"><a href="#Twin_Round">Twin Round</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Bastuck">Bastuck</a>
<ul>
<li class="toclevel-3"><a href="#Twin_Round_2">Twin Round</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Magnex">Magnex</a>
<ul>
<li class="toclevel-3"><a href="#Twin_3.22_Round">Twin 3&#34; Round</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Yoshimura">Yoshimura</a>
<ul>
<li class="toclevel-3"><a href="#Cyclone">Cyclone</a>
</li>
<li class="toclevel-3"><a href="#Cyclone_Carbonfibre_Wrapped">Cyclone Carbonfibre Wrapped</a>
</li>
<li class="toclevel-3"><a href="#Racing_Cyclone">Racing Cyclone</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Moto_Concept">Moto Concept</a>
<ul>
<li class="toclevel-3"><a href="#Racing_Cup_double_tip_sports_exhaust">Racing Cup double tip sports exhaust</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Janspeed">Janspeed</a>
<ul>
<li class="toclevel-3"><a href="#Round">Round</a>
</li>
<li class="toclevel-3"><a href="#Sports">Sports</a>
</li>
<li class="toclevel-3"><a href="#Roadsport">Roadsport</a>
</li>
<li class="toclevel-3"><a href="#Supersport_Round">Supersport Round</a>
</li>
<li class="toclevel-3"><a href="#Supersport_Oval">Supersport Oval</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Raceline">Raceline</a>
<ul>
<li class="toclevel-3"><a href="#Repackable">Repackable</a>
</li>
<li class="toclevel-3"><a href="#Non_Repackable">Non Repackable</a>
</li>
<li class="toclevel-3"><a href="#4_into_1">4 into 1</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Eliseparts">Eliseparts</a>
<ul>
<li class="toclevel-3"><a href="#High_Flow_Sports_Exhaust_S1_.26_Exige">High Flow Sports Exhaust S1 &#38; Exige</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Bell_.26_Colvill">Bell &#38; Colvill</a>
<ul>
<li class="toclevel-3"><a href="#Sports_2">Sports</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Quicksilver">Quicksilver</a>
<ul>
<li class="toclevel-3"><a href="#Super_Sport">Super Sport</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#KOMO_TEC">KOMO TEC</a>
<ul>
<li class="toclevel-3"><a href="#Stainless_steel_rear_silencer_Komo-Sport_for_Elise_MK1">Stainless steel rear silencer Komo-Sport for Elise MK1</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Milltek">Milltek</a>
<ul>
<li class="toclevel-3"><a href="#Sports_3">Sports</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Larini">Larini</a>
<ul>
<li class="toclevel-3"><a href="#Club_Sport">Club Sport</a>
</li>
<li class="toclevel-3"><a href="#Sports_S1_.26_Exige">Sports S1 &#38; Exige</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Blueflame">Blueflame</a>
<ul>
<li class="toclevel-3"><a href="#Sports_4">Sports</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#2Bular">2Bular</a>
<ul>
<li class="toclevel-3"><a href="#Re-packable">Re-packable</a>
</li>
</ul>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#340R">340R</a>
<ul>
<li class="toclevel-2"><a href="#Janspeed_2">Janspeed</a>
<ul>
<li class="toclevel-3"><a href="#Carbonfibre_Wrapped">Carbonfibre Wrapped</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Blueflame_2">Blueflame</a>
<ul>
<li class="toclevel-3"><a href="#Titanium">Titanium</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#KOMO_TEC_2">KOMO TEC</a>
<ul>
<li class="toclevel-3"><a href="#Sportauspuff_Edelstahl_Komo-Sport_340R">Sportauspuff Edelstahl Komo-Sport 340R</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#2Bular_2">2Bular</a>
<ul>
<li class="toclevel-3"><a href="#Single_Exit">Single Exit</a>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Elise_S1">Elise S1</span></h2>

<h3><span class="mw-headline" id="HANGAR_111_Signature_Series">HANGAR 111 Signature Series</span></h3>
<p>Official website - <a class="external text" href="http://www.hangar111.com/" rel="nofollow">Hangar 111</a></p>
<h4><span class="mw-headline" id="Signature_Sports_Exhaust_-_Elise_S1_Twin_Round_Tailpipes">Signature Sports Exhaust - Elise S1 Twin Round Tailpipes</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:elise-s1-signature.jpg" ><img src="elise-s1-signature.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>Less Than Standard</td></tr>
<tr>
<td style="background:silver">dB</td>
<td>92-96db</td></tr>
<tr>
<td style="background:silver">Price</td>
<td>From £315+vat</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Hangar 111 Lotus Performance</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.hangar111.com/web-store/212-elise-s1-exige-mk1-sports-exhaust-stainless-steel.html" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Stainless Steel Sports exhaust system for the Elise S1 with round tailpipes.  Noise level is dependant on state of tune, but you can expect an average of around 94-97Db in most applications.
</td></tr></table></div>

<h3><span class="mw-headline" id="BTB_Exhausts">BTB Exhausts</span></h3>
<p>Official website - <a class="external text" href="http://www.racecar.co.uk/btb/" rel="nofollow">BTP</a></p>
<h4><span class="mw-headline" id="Twin_Round">Twin Round</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:No_image_available.png" ><img src="No_image_available.png" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td /></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>BTB</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.racecar.co.uk/btb" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Stainless steel performance systems. BTB silencers for Lotus Elise have been designed to maximise performance with minimum weight in keeping with the spirit of Lotus design. Sound quality has been specifically tuned to retain a sporty appeal while remaining within tolerable levels for everyday use.</td></tr></table></div>

<h3><span class="mw-headline" id="Bastuck">Bastuck</span></h3>
<p>Official website - <a class="external text" href="http://www.bastuck.de/" rel="nofollow">Bastuck</a></p>
<h4><span class="mw-headline" id="Twin_Round_2">Twin Round</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Bastuck_S1.jpg" ><img src="Bastuck_S1.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td /></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Bastuck</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.bastuck.de/edelstahl/html/html2006/Frameseiten/fs008.htm" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>

<h3><span class="mw-headline" id="Magnex">Magnex</span></h3>
<p>Official website - <a class="external text" href="http://www.magnexexhausts.com/" rel="nofollow">Magnex</a></p>
<h4><span class="mw-headline" id="Twin_3.22_Round">Twin 3&#34; Round</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Magnex.jpg" ><img src="Magnex.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>£399.99</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Magnex</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.magnexexhausts.com/fullsystems/details.asp?id=102" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>DISCONTINUED

<h3><span class="mw-headline" id="Yoshimura">Yoshimura</span></h3>
<p>Official website - <a class="external text" href="http://www.kawahara-motorsport.com/" rel="nofollow">KMS</a>
</p><h4><span class="mw-headline" id="Cyclone">Cyclone</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Cyclone.jpg" ><img src="Cyclone.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td /></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Kawahara Motor Sport (KMS)</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.lotuscars.co.jp/yoshimura/exige/cyclone.html" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back or Full System</td></tr></table></div>

<p>Official website - <a class="external text" href="http://www.kawahara-motorsport.com/" rel="nofollow">KMS</a>
</p><h4><span class="mw-headline" id="Cyclone_Carbonfibre_Wrapped">Cyclone Carbonfibre Wrapped</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:KMS4.jpg" ><img src="KMS4.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel/Carbonfibre</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>￥３２８,０００</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Kawahara Motor Sport (KMS)</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.lotuscars.co.jp/yoshimura/elise/4.htm" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back or Full System</td></tr></table></div>

<p>Official website - <a class="external text" href="http://www.kawahara-motorsport.com/" rel="nofollow">KMS</a>
</p><h4><span class="mw-headline" id="Racing_Cyclone">Racing Cyclone</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Racing-cyclone.jpg" ><img src="Racing-cyclone.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td /></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Kawahara Motor Sport (KMS)</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.lotuscars.co.jp/yoshimura/exige/racing-cyclone.html" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>The exhaust will NOT bolt to the stock cat. You must order the complete system.</td></tr></table></div>

<h3><span class="mw-headline" id="Moto_Concept">Moto Concept</span></h3>
<p>Official website - <a class="external text" href="http://www.moto-concept.de/en/index.php" rel="nofollow">Moto Concept</a>
</p><h4><span class="mw-headline" id="Racing_Cup_double_tip_sports_exhaust">Racing Cup double tip sports exhaust</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Bild.jpg" ><img src="Bild.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>650 EUR</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Moto Concept</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.moto-concept.de/en/autos/lotus/elise1/artikel_elise1_detail.php?item_id=15231" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>

<h3><span class="mw-headline" id="Janspeed">Janspeed</span></h3>
<p>Official website - <a class="external text" href="http://www.janspeed.com/" rel="nofollow">Janspeed</a>
</p><h4><span class="mw-headline" id="Round">Round</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Elise-S1-silencer-100.jpg" ><img src="Elise-S1-silencer-100.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>£349.99</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>PTP</td></tr>
<tr>
<td style="background:silver">Web </td>
<td /></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back
Twin 76mm Back Slashed Round Tails</td></tr></table></div>

<p>Official website - <a class="external text" href="http://www.janspeed.com/" rel="nofollow">Janspeed</a>
</p><h4><span class="mw-headline" id="Sports">Sports</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Janspeed-steel-sports.jpg" ><img src="Janspeed-steel-sports.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Mild Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>9kg</td></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>discontinued</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Lotus(Janspeed)</td></tr>
<tr>
<td style="background:silver">Web </td>
<td /></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Lotus OEM sports exhaust, gain ~6BHP</td></tr></table></div>

<p>Official website - <a class="external text" href="http://www.janspeed.com/" rel="nofollow">Janspeed</a></p>
<h4><span class="mw-headline" id="Roadsport">Roadsport</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Roadsport.gif" ><img src="Roadsport.gif" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>£350 inc VAT</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>PTP</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.ptp-ltd.co.uk/shop/ProductDetails.aspx?productID=537" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back

A bit noisy if used with a cat pipe and Janspeed 4-2-1 manifold. It has a nasty resonance at 3,300rpm - and that is 80 mph in an S1!
I have now added a silenced cat pipe (£99 from Geary).</td></tr></table></div>

<p>Official website - <a class="external text" href="http://www.janspeed.com/" rel="nofollow">Janspeed</a></p>
<h4><span class="mw-headline" id="Supersport_Round">Supersport Round</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:S1-janspeed-supersport.jpg" ><img src="S1-janspeed-supersport.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>8Kg</td></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>£399.66 inc VAT</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>PTP</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.ptp-ltd.co.uk/shop/ProductDetails.aspx?productID=825" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back
Twin 70mm Round Tails.
A pain to fit, offside hanger bolts are above the silencer box and almost impossible to get a spanner on.</td></tr></table></div>

<p>Official website - <a class="external text" href="http://www.janspeed.com/" rel="nofollow">Janspeed</a></p>
<h4><span class="mw-headline" id="Supersport_Oval">Supersport Oval</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Supersport_Oval.jpg" ><img src="Supersport_Oval.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>£351.33 inc VAT </td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>PTP</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.ptp-ltd.co.uk/shop/ProductDetails.aspx?productID=575" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>

<h3><span class="mw-headline" id="Raceline">Raceline</span></h3>
<p>Official website - <a class="external text" href="http://www.raceline.co.uk/" rel="nofollow">Raceline</a>
</p><h4><span class="mw-headline" id="Repackable">Repackable</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Mk2mufreplo.jpg" ><img src="Mk2mufreplo.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>£495 plus VAT</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Raceline</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.raceline.co.uk/lotuseliseframes.htm" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back
7&#34; Stainless Steel Exhaust Silencer Assembly Repackable</td></tr></table></div>

<p>Official website - <a class="external text" href="http://www.raceline.co.uk/" rel="nofollow">Raceline</a>
</p><h4><span class="mw-headline" id="Non_Repackable">Non Repackable</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:No_image_available.png" ><img src="No_image_available.png" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>£350 plus VAT</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Raceline</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.raceline.co.uk/lotuseliseframes.htm" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back
7&#34; Stainless Steel Exhaust Silencer Assembly Non Repackable</td></tr></table></div>

<p>Official website - <a class="external text" href="http://www.raceline.co.uk/" rel="nofollow">Raceline</a></p>
<h4><span class="mw-headline" id="4_into_1">4 into 1</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Kit6a.jpg" ><img src="Kit6a.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>Four Branch Primary Set - Stainless Steel £291.40 plus VAT

Four into One Exhaust Collector - Stainless Steel £242.26 plus VAT

Cat Replacement Pipe £69.00 plus VAT</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Raceline</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.raceline.co.uk/lotuseliseframes.htm" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back or Entire System. Well built system. Nice rumble, not too loud on a standard engine. With Raceline 160 kit &#38; cat pipe, passes noise restrictions at Goodwood and Bedford</td></tr></table></div>

<h3><span class="mw-headline" id="Eliseparts">Eliseparts</span></h3>
<p>Official website - <a class="external text" href="http://www.eliseparts.com/shop/index.php" rel="nofollow">Eliseparts</a>
</p><h4><span class="mw-headline" id="High_Flow_Sports_Exhaust_S1_.26_Exige">High Flow Sports Exhaust S1 &#38; Exige</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Exhaust-box1_MED.jpg" ><img src="Exhaust-box1_MED.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>6kg</td></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>£399.44 Inc. VAT</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Eliseparts</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.eliseparts.com/shop/index.php?main_page=product_info&#38;cPath=118&#38;products_id=391" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back
Only requires 2 rubber mounts</td></tr></table></div>

<h3><span class="mw-headline" id="Bell_.26_Colvill">Bell &#38; Colvill</span></h3>
<p>Official website - <a class="external text" href="http://www.bell-colvill.co.uk/" rel="nofollow">Bell &#38; Colvill</a>
</p><h4><span class="mw-headline" id="Sports_2">Sports</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:LOTAC05104.jpg" ><img src="LOTAC05104.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>£349.96 inc VAT</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Bell &#38; Colvill</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.bell-colvill.co.uk/LotusShop/Details.asp?Id=LOTAC05104#" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back
Order Code : LOTAC05104 </td></tr></table></div>

<h3><span class="mw-headline" id="Quicksilver">Quicksilver</span></h3>
<p>Official website - </p>
<p><a class="external text" href="http://www.quicksilverexhausts.com/" rel="nofollow">Quicksilver Exhausts</a></p>
<p>or <a class="external text" href="http://www.lotusexhausts.com/" rel="nofollow">Lotus Exhausts</a>
</p><h4><span class="mw-headline" id="Super_Sport">Super Sport</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Qselises1supersport.jpg" ><img src="Qselises1supersport.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td>Appx 98 on Std Exige</td></tr>
<tr>
<td style="background:silver">Price</td>
<td>£475 Inc. VAT</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Hangar 111</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.hangar111.com/ckshop.php?item=405&#38;ret=http%3A%2F%2Fwww.hangar111.com%2Fckshop.php%3Fpage%3D1%26category%3D22" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back
Twin round tail pipes</td></tr></table></div>

<h3><span class="mw-headline" id="KOMO_TEC">KOMO TEC</span></h3>
<p>Official website - <a class="external text" href="http://www.komo-tec.com/index.php" rel="nofollow">KOMO TEC</a>
</p><h4><span class="mw-headline" id="Stainless_steel_rear_silencer_Komo-Sport_for_Elise_MK1">Stainless steel rear silencer Komo-Sport for Elise MK1</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:371_0.jpg" ><img src="371_0.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>769 EUR</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>KOMO TEC</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.komo-tec.com/product_info.php/products_id/371" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back
The tailpipes are in 2x 70mm diameter with a perforated tube inside.</td></tr></table></div>

<h3><span class="mw-headline" id="Milltek">Milltek</span></h3>
<p>Official website - <a class="external text" href="http://www.millteksport.com/" rel="nofollow">Milltek</a>
</p><h4><span class="mw-headline" id="Sports_3">Sports</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:No_image_available.png" ><img src="No_image_available.png" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td /></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td /></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td /></tr>
<tr>
<td style="background:silver">Web </td>
<td /></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back
Dual 76.2mm Meteor</td></tr></table></div>

<h3><span class="mw-headline" id="Larini">Larini</span></h3>
<p>Official website - <a class="external text" href="http://www.larinisystems.com/" rel="nofollow">Larini</a>
</p><h4><span class="mw-headline" id="Club_Sport">Club Sport</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:ELISES1CLUB-t.jpg" ><img src="ELISES1CLUB-t.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td>100dB Static with a CRP on an otherwise standard S1 </td></tr>
<tr>
<td style="background:silver">Price</td>
<td>£296.00</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Larini</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.larinisystems.com/catalogue.php" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>

<p>Official website - <a class="external text" href="http://www.larinisystems.com/" rel="nofollow">Larini</a>
</p><h4><span class="mw-headline" id="Sports_S1_.26_Exige">Sports S1 &#38; Exige</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:LS1015-t.jpg" ><img src="LS1015-t.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>£350.00</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Larini</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.larinisystems.com/catalogue.php" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>

<h3><span class="mw-headline" id="Blueflame">Blueflame</span></h3>
<p>Official website - <a class="external text" href="http://www.blueflameperformance.com/contact.asp" rel="nofollow">Blueflame</a>
</p><h4><span class="mw-headline" id="Sports_4">Sports</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Lotuselise_mk1ex.jpg" ><img src="Lotuselise_mk1ex.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>£295.00 inc.VAT plus £12 UK postage and packing</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td><a class="external text" href="http://www.moto-build.com/" rel="nofollow">Motobuild</a></td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.moto-build.com/mainsite/lotuselise_mk1ex.html" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back
This is not one of those loud systems that drive you mad and get you refused at trackdays, this has a lovely note without being obtrusive, if you want LOUD this is not it!</td></tr></table></div>

<h3><span class="mw-headline" id="2Bular">2Bular</span></h3>
<p>Official website - <a class="external text" href="http://www.2bular.com/" rel="nofollow">2Bular</a>
</p><h4><span class="mw-headline" id="Re-packable">Re-packable</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:2bularrepackablewithlargetailpipe.jpg" ><img src="2bularrepackablewithlargetailpipe.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>Manifold/Header £581.63 Inc, VAT Plus p&#38;p

Re-Packable Silencer £464.13 Inc VAT Plus p&#38;p</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>2Bular</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.2bular.com/products.htm" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Repackable with large tailpipe
The exhaust will NOT bolt to the cat you must order the Manifold/Header with the silencer</td></tr></table></div>

<h2><span class="mw-headline" id="340R">340R</span></h2>
<h3><span class="mw-headline" id="Janspeed_2">Janspeed</span></h3>
<p>Official website - <a class="external text" href="http://www.janspeed.com/" rel="nofollow">Janspeed</a>
</p><h4><span class="mw-headline" id="Carbonfibre_Wrapped">Carbonfibre Wrapped</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:No_image_available.png" ><img src="No_image_available.png" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Carbonfibre wrapped silencer </td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>10kgs</td></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td /></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td /></tr>
<tr>
<td style="background:silver">Web </td>
<td /></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>

<h3><span class="mw-headline" id="Blueflame_2">Blueflame</span></h3>
<p>Official website - <a class="external text" href="http://www.blueflameperformance.com/contact.asp" rel="nofollow">Blueflame</a>
</p><h4><span class="mw-headline" id="Titanium">Titanium</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:340rtitanium.jpg" ><img src="340rtitanium.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Titanium</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>5.4Kgs</td></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td /></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td /></tr>
<tr>
<td style="background:silver">Web </td>
<td /></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>

<h3><span class="mw-headline" id="KOMO_TEC_2">KOMO TEC</span></h3>
<p>Official website - <a class="external text" href="http://www.komo-tec.com/index.php" rel="nofollow">KOMO TEC</a>
</p><h4><span class="mw-headline" id="Sportauspuff_Edelstahl_Komo-Sport_340R">Sportauspuff Edelstahl Komo-Sport 340R</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:369_0.jpg" ><img src="369_0.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td /></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>899 EUR</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>KOMO TEC</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.komo-tec.com/product_info.php/products_id/369" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>

<h3><span class="mw-headline" id="2Bular_2">2Bular</span></h3>
<p>Official website - <a class="external text" href="http://www.2bular.com/" rel="nofollow">2Bular</a>
</p><h4><span class="mw-headline" id="Single_Exit">Single Exit</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:2bular340RPerformanceSilencer.jpg" ><img src="2bular340RPerformanceSilencer.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>6.2Kgs</td></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>£397.15 Inc. VAT plus p&#38;p</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>2Bular</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.2bular.com/products.htm" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>7” diameter Performance Silencer</td></tr></table></div>

<p>

</p>