<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<ul>
<li class="toclevel-1"><a href="#HANGAR_111_Signature_Series">HANGAR 111 Signature Series</a>
<ul>
<li class="toclevel-2"><a href="#Signature_Sports_Exhaust_-_Elise_S2_Large_Round_Tailpipes">Signature Sports Exhaust - Elise S2 Large Round Tailpipes</a>
</li>
<li class="toclevel-2"><a href="#Signature_Sports_Exhaust_-_Elise_S2_Slash-Cut_Round_Tailpipes">Signature Sports Exhaust - Elise S2 Slash-Cut Round Tailpipes</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#BTB_Exhausts">BTB Exhausts</a>
<ul>
<li class="toclevel-2"><a href="#Twin_Round">Twin Round</a>
</li>
</ul>
</li>
</ul>
<li class="toclevel-1"><a href="#Lotus">Lotus</a>
<ul>
<li class="toclevel-2"><a href="#S2_Supersport_Silencer">S2 Supersport Silencer</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Yoshimura">Yoshimura</a>
<ul>
<li class="toclevel-2"><a href="#Cyclone">Cyclone</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Bastuck">Bastuck</a>
<ul>
<li class="toclevel-2"><a href="#Twin_Oval">Twin Oval</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Moto_Concept">Moto Concept</a>
<ul>
<li class="toclevel-2"><a href="#T.C3.9CV_approved_sport_exhaust_for_Elise_MK_II">TÜV approved sport exhaust for Elise MK II</a>
</li>
<li class="toclevel-2"><a href="#GT_sports_exhaust_for_Lotus_Elise_MK_II">GT sports exhaust for Lotus Elise MK II</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Hayward_.26_Scott">Hayward &#38; Scott</a>
</li>
<li class="toclevel-1"><a href="#D.27s_DEVELOPMENT">D&#39;s DEVELOPMENT</a>
<ul>
<li class="toclevel-2"><a href="#Racing_Exhaust">Racing Exhaust</a>
</li>
<li class="toclevel-2"><a href="#Sports_Exhaust">Sports Exhaust</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Raceline">Raceline</a>
<ul>
<li class="toclevel-2"><a href="#Raceline_Mk2_Exhaust_Silencer">Raceline Mk2 Exhaust Silencer</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Janspeed">Janspeed</a>
<ul>
<li class="toclevel-2"><a href="#Supersport_Oval">Supersport Oval</a>
</li>
<li class="toclevel-2"><a href="#Supersport_Round">Supersport Round</a>
</li>
<li class="toclevel-2"><a href="#Roadsport_Oval">Roadsport Oval</a>
</li>
<li class="toclevel-2"><a href="#Roadsport_Round">Roadsport Round</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Larini">Larini</a>
<ul>
<li class="toclevel-2"><a href="#Club_Sport_Sport_Oval">Club Sport Sport Oval</a>
</li>
<li class="toclevel-2"><a href="#Club_Sport_Sport_Round">Club Sport Sport Round</a>
</li>
<li class="toclevel-2"><a href="#Sports_Oval">Sports Oval</a>
</li>
<li class="toclevel-2"><a href="#Sports_Round">Sports Round</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Eliseparts">Eliseparts</a>
<ul>
<li class="toclevel-2"><a href="#S2_Eliseparts_Sports_Exhaust">S2 Eliseparts Sports Exhaust</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Quicksilver">Quicksilver</a>
<ul>
<li class="toclevel-2"><a href="#Super_Sport_Round_Tails">Super Sport Round Tails</a>
</li>
<li class="toclevel-2"><a href="#Super_Sport_Oval_Tails">Super Sport Oval Tails</a>
</li>
<li class="toclevel-2"><a href="#Carbon_Race_Ultralight">Carbon Race Ultralight</a>
</li>
<li class="toclevel-2"><a href="#Ti_Ultralight_Sports_Exhaust">Ti Ultralight Sports Exhaust</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#KOMO_TEC">KOMO TEC</a>
<ul>
<li class="toclevel-2"><a href="#Sports_exhaust_silencer_MK2_with_ABE">Sports exhaust silencer MK2 with ABE</a>
</li>
<li class="toclevel-2"><a href="#Sports_Sportauspuff_MK2_Race">Sports Sportauspuff MK2 Race</a>
</li>
<li class="toclevel-2"><a href="#Sports_exhaust_silencer_MK2_Komo-Sport">Sports exhaust silencer MK2 Komo-Sport</a>
</li>
<li class="toclevel-2"><a href="#Sports_exhaust_silencer_MK2_VVC.2F160">Sports exhaust silencer MK2 VVC/160</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Milltek">Milltek</a>
<ul>
<li class="toclevel-2"><a href="#Sports">Sports</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#2Bular">2Bular</a>
<ul>
<li class="toclevel-2"><a href="#Single_Exit">Single Exit</a>
</li>
<li class="toclevel-2"><a href="#111R_Style">111R Style</a>
</li>
</ul>
</li>
</ul>
</ul></td></tr></table><hr/>
<h3><span class="mw-headline" id="HANGAR_111_Signature_Series">HANGAR 111 Signature Series</span></h3>
<p>Official website - <a class="external text" href="http://www.hangar111.com/" rel="nofollow">Hangar 111</a></p>
<h4><span class="mw-headline" id="Signature_Sports_Exhaust_-_Elise_S2_Large_Round_Tailpipes">Signature Sports Exhaust - Elise S2 Large Round Tailpipes</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:signature-exhaust-elise-s2-k-series.jpg" ><img src="signature-exhaust-elise-s2-k-series.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>Less Than Standard</td></tr>
<tr>
<td style="background:silver">dB</td>
<td>92-96db</td></tr>
<tr>
<td style="background:silver">Price</td>
<td>From £363+vat</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Hangar 111 Lotus Performance</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.hangar111.com/web-store/213-elise-s2-111s-sports-exhaust-stainless-steel.html" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Stainless Steel Sports exhaust system for the Elise S2 featuring large oval, slash-cut round (111S) or large round tailpipes.  You can choose tailpipe options when ordering.  The noise level is dependant on state of tune, but you can expect an average of around 92-96Db in most applications.  Noise levels may be higher when used with a decat pipe.  Sound effects can be found on the website.
</td></tr></table></div>

<h4><span class="mw-headline" id="Signature_Sports_Exhaust_-_Elise_S2_Slash-Cut_Round_Tailpipes">Signature Sports Exhaust - Elise S2 Slash-Cut Round Tailpipes</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:signature-exhaust-elise-s2-k-series-slash.jpg" ><img src="signature-exhaust-elise-s2-k-series-slash.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>Less Than Standard</td></tr>
<tr>
<td style="background:silver">dB</td>
<td>92-96db</td></tr>
<tr>
<td style="background:silver">Price</td>
<td>From £363+vat</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Hangar 111 Lotus Performance</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.hangar111.com/web-store/213-elise-s2-111s-sports-exhaust-stainless-steel.html" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Stainless Steel Sports exhaust system for the Elise S2 featuring large oval, slash-cut round (111S) or large round tailpipes.  You can choose tailpipe options when ordering.  The noise level is dependant on state of tune, but you can expect an average of around 92-96Db in most applications.  Noise levels may be higher when used with a decat pipe.  Sound effects can be found on the website.
</td></tr></table></div>

<h3><span class="mw-headline" id="BTB_Exhausts">BTB Exhausts</span></h3>
<p>Official website - <a class="external text" href="http://www.racecar.co.uk/btb/" rel="nofollow">BTP</a></p>
<h4><span class="mw-headline" id="Twin_Round">Twin Round</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:BTB.jpg" ><img src="BTB.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td /></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>BTB</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.racecar.co.uk/btb" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Stainless steel performance systems. BTB silencers for Lotus Elise have been designed to maximise performance with minimum weight in keeping with the spirit of Lotus design. Sound quality has been specifically tuned to retain a sporty appeal while remaining within tolerable levels for everyday use.

</td></tr></table></div>


<h2><span class="mw-headline" id="Lotus">Lotus</span></h2>
<p>Official website - <a class="external text" href="http://www.lotuscars.co.uk/" rel="nofollow">Lotus</a></p>
<h3><span class="mw-headline" id="S2_Supersport_Silencer">S2 Supersport Silencer</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Lotus_magnex.jpg" ><img src="Lotus_magnex.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>9,1kg</td></tr>
<tr>
<td style="background:silver">dB</td>
<td>84dB @4000rpm / 1 meter</td></tr>
<tr>
<td style="background:silver">Price</td>
<td>€514.61 (€612.39 Inc TAX)</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Lotus dealers</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.speedgt.com/" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>LOTAC05108 CLF/Magnex Official sports silencer since JanSpeed was dropped </td></tr></table></div>

<h2><span class="mw-headline" id="Yoshimura">Yoshimura</span></h2>
<p>Official website - <a class="external text" href="http://www.kawahara-motorsport.com/" rel="nofollow">KMS</a></p>
<h3><span class="mw-headline" id="Cyclone">Cyclone</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:KMS-ELISE2-111S-YOSHI-12.jpg" ><img src="KMS-ELISE2-111S-YOSHI-12.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td /></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Kawahara Motor Sport (KMS)</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.lotuscars.co.jp/KMS/lotus/elise2/yoshimura/index.htm" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td /></tr></table></div>

<h2><span class="mw-headline" id="Bastuck">Bastuck</span></h2>
<p>Official website - <a class="external text" href="http://www.bastuck.de/" rel="nofollow">Bastuck</a></p>
<h3><span class="mw-headline" id="Twin_Oval">Twin Oval</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Bastuck_S2.jpg" ><img src="Bastuck_S2.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td /></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Bastuck</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.bastuck.de/edelstahl/html/html2006/Frameseiten/fs009.htm" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>

<h2><span class="mw-headline" id="Moto_Concept">Moto Concept</span></h2>
<p>Official website - <a class="external text" href="http://www.moto-concept.de/en/index.php" rel="nofollow">Moto Concept</a>
</p><h3><span class="mw-headline" id="T.C3.9CV_approved_sport_exhaust_for_Elise_MK_II"><a class="external text" href="http://en.wikipedia.org/wiki/Technischer_%C3%9Cberwachungsverein" rel="nofollow">TÜV approved</a> sport exhaust for Elise MK II</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Bild2.jpg" ><img src="Bild2.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>670 EUR</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Moto Concept</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.moto-concept.de/en/autos/lotus/elise2/artikel_elise2_detail.php?item_id=15307" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back 
This is actually the BASTUCK Exhaust System LOEI-OVAL</td></tr></table></div>

<p>Official website - <a class="external text" href="http://www.moto-concept.de/en/index.php" rel="nofollow">Moto Concept</a></p>
<h3><span class="mw-headline" id="GT_sports_exhaust_for_Lotus_Elise_MK_II">GT sports exhaust for Lotus Elise MK II</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Bild3.jpg" ><img src="Bild3.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>650 EUR</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Moto Concept</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.moto-concept.de/en/autos/lotus/elise2/artikel_elise2_detail.php?item_id=15154" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>

<h2><span class="mw-headline" id="Hayward_.26_Scott">Hayward &#38; Scott</span></h2>
<p>Official website - <a class="external text" href="http://www.haywardandscott.co.uk/" rel="nofollow">Hayward &#38; Scott</a>
</p>
<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Exhaust_haywardandscott.jpg" ><img src="Exhaust_haywardandscott.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td /></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td /></tr>
<tr>
<td style="background:silver">Web </td>
<td /></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>

<h2><span class="mw-headline" id="D.27s_DEVELOPMENT">D&#39;s DEVELOPMENT</span></h2>
<h3><span class="mw-headline" id="Racing_Exhaust">Racing Exhaust</span></h3>
<p>Official website - <a class="external text" href="http://stores.ebay.co.uk/JITHK" rel="nofollow">D&#39;s DEVELOPMENT via Ebay</a>
</p>
<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:000004.jpg" ><img src="000004.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>6kg</td></tr>
<tr>
<td style="background:silver">dB</td>
<td>120dB on standard car with induction kit</td></tr>
<tr>
<td style="background:silver">Price</td>
<td>£220</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>D&#39;s DEVELOPMENT </td></tr>
<tr>
<td style="background:silver">Web </td>
<td>[ <a class="external free" href="http://stores.ebay.co.uk/JITHK_pc00017_W0QQfciZQ2d1QQfclZ4QQfsnZAnewQ20DigitalQQfsooZ1QQfsopZ1QQftsZ2QQsaselZ20084875QQsofpZ0" rel="nofollow">http://stores.ebay.co.uk/JITHK_pc00017_W0QQfciZQ2d1QQfclZ4QQfsnZAnewQ20DigitalQQfsooZ1QQfsopZ1QQftsZ2QQsaselZ20084875QQsofpZ0</a> Click Here]</td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back
This exhaust is so loud it will blow your Granny&#39;s knickers off from 10 miles away</td></tr></table></div>

<h3><span class="mw-headline" id="Sports_Exhaust">Sports Exhaust</span></h3>
<p>Official website - <a class="external text" href="http://stores.ebay.co.uk/JITHK" rel="nofollow">D&#39;s DEVELOPMENT via Ebay</a>
</p>
<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:001369.jpg" ><img src="001369.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>7-8kg</td></tr>
<tr>
<td style="background:silver">dB</td>
<td>Makes the Stage 2 Exige sound like a mouse farting, its a LOT LOUDER especially in the cabin.<a class="external free" href="http://uk.youtube.com/watch?v=ECMRhAwbd-0" rel="nofollow">http://uk.youtube.com/watch?v=ECMRhAwbd-0</a>
<a class="external free" href="http://uk.youtube.com/watch?v=0zZBLOkz8gM" rel="nofollow">http://uk.youtube.com/watch?v=0zZBLOkz8gM</a> </td></tr>
<tr>
<td style="background:silver">Price</td>
<td>£260</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>ADS </td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://cgi.ebay.co.uk/Ds-DEVELOPMENT-LOTUS-ELISE-S2-SPORT-EXHAUST_W0QQitemZ220139292294QQihZ012QQcategoryZ38786QQtcZphotoQQcmdZViewItem" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back, more silenced than the race exhaust, , LOUD Exhaust, very boomy for first 2000 miles then a very nice deep warm exhaust note once sooted up. Welding by this company is second to none. Weight saving over standard is excellent. With a DeCat your car will sound like an animal! Roarrrrrrrr.... pop! 
</td></tr></table></div>

<h2><span class="mw-headline" id="Raceline">Raceline</span></h2>
<p>Official website - <a class="external text" href="http://www.raceline.co.uk/" rel="nofollow">Raceline</a>
</p><h3><span class="mw-headline" id="Raceline_Mk2_Exhaust_Silencer">Raceline Mk2 Exhaust Silencer</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Mk2muflo.jpg" ><img src="Mk2muflo.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>£395 plus VAT</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Raceline</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.raceline.co.uk/products/part_section.asp?SectionID=78&#38;CategoryID=9" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>

<h2><span class="mw-headline" id="Janspeed">Janspeed</span></h2>
<p>Official website - <a class="external text" href="http://www.janspeed.com/" rel="nofollow">Janspeed</a>
</p><h3><span class="mw-headline" id="Supersport_Oval">Supersport Oval</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:S2_Supersport_Oval.jpg" ><img src="S2_Supersport_Oval.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>11.5kg approximate (13kg shipping weight)</td></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>£399.66 inc. VAT </td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>PTP</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.ptp-ltd.co.uk/shop/172_32/lotus/lotus_elise_s2_%28k_series%29/exhaust_systems/s2_elise_janspeed_supersport_exhaust_silencer_%28k_series_engine%29.htm" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back
Duplex 101mm x 90mm Back Slashed Ovals</td></tr></table></div>

<p>Official website - <a class="external text" href="http://www.janspeed.com/" rel="nofollow">Janspeed</a></p>
<h3><span class="mw-headline" id="Supersport_Round">Supersport Round</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Janspeed_Supersport_Round.gif" ><img src="Janspeed_Supersport_Round.gif" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>8.7kg  approximate  </td></tr>
<tr>
<td style="background:silver">dB</td>
<td>11.5kg approximate (13kg shipping weight)</td></tr>
<tr>
<td style="background:silver">Price</td>
<td>£399.66 inc. VAT </td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>PTP</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.ptp-ltd.co.uk/shop/172_32/lotus/lotus_elise_s2_%28k_series%29/exhaust_systems/s2_elise_janspeed_supersport_exhaust_silencer_%28k_series_engine%29.htm" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back
Duplex 90mm Back Round, and will fit Oval rear Grills</td></tr></table></div>

<p>Official website - <a class="external text" href="http://www.janspeed.com/" rel="nofollow">Janspeed</a></p>
<p>I sound tested the Roadsport exhaust with sports CAT on my stock S2 results are:</p>

<p>2,000rpm = 74.2 DBA</p>
<p>4,000rpm = 86.2 DBA</p>
<p>6,000rpm = 91.3 DBA</p>
<h3><span class="mw-headline" id="Roadsport_Oval">Roadsport Oval</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:S2_Roadsport_Oval.jpg" ><img src="S2_Roadsport_Oval.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>11.5kg approximate (13kg shipping weight) </td></tr>
<tr>
<td style="background:silver">dB</td>
<td>91.4 at 6k with sports cat</td></tr>
<tr>
<td style="background:silver">Price</td>
<td>£350.00 inc. VAT </td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>PTP</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.ptp-ltd.co.uk/shop/169_32/lotus/lotus_elise_s2_%28k_series%29/exhaust_systems/s2_elise_-_janspeed_roadsport_silencer_for_k_series_engine.htm" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back
Duplex 101mm x 90mm Back Slashed Ovals. 

Advantages of the new Roadsport silencer

1:	Not as loud as the Supersport or Motorsport

2:	Performance better than Supersport and Motorsport

3:	Highly Polished stainless steel 

4:	Engraved tailpipes

5:	Lifetime Guarantee
</td></tr></table></div>

<p>Official website - <a class="external text" href="http://www.janspeed.com/" rel="nofollow">Janspeed</a></p>
<h3><span class="mw-headline" id="Roadsport_Round">Roadsport Round</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:S2_Roadsport_Round.jpg" ><img src="S2_Roadsport_Round.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>11.5kg approximate (13kg shipping weight) </td></tr>
<tr>
<td style="background:silver">dB</td>
<td>91.4 at 6k with sports cat</td></tr>
<tr>
<td style="background:silver">Price</td>
<td>£350.00 inc. VAT</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>PTP</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.ptp-ltd.co.uk/shop/169_32/lotus/lotus_elise_s2_%28k_series%29/exhaust_systems/s2_elise_-_janspeed_roadsport_silencer_for_k_series_engine.htm" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back
Duplex 90mm Back Round, and will fit Oval rear Grills.

Advantages of the new Roadsport silencer

1:	Not as loud as the Supersport or Motorsport

2:	Performance better than Supersport and Motorsport

3:	Highly Polished stainless steel 

4:	Engraved tailpipes

5:	Lifetime Guarantee</td></tr></table></div>

<h2><span class="mw-headline" id="Larini">Larini</span></h2>
<p>Official website - <a class="external text" href="http://www.larinisystems.com/" rel="nofollow">Larini</a>
</p><h3><span class="mw-headline" id="Club_Sport_Sport_Oval">Club Sport Sport Oval</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:ELISE2CLUBOVAL-t.jpg" ><img src="ELISE2CLUBOVAL-t.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td>95 with Cat fitted</td></tr>
<tr>
<td style="background:silver">Price</td>
<td>£380</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Larini</td></tr>
<tr>
<td style="background:silver">Web </td>
<td /></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>

<p>Official website - <a class="external text" href="http://www.larinisystems.com/" rel="nofollow">Larini</a></p>
<h3><span class="mw-headline" id="Club_Sport_Sport_Round">Club Sport Sport Round</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:LS1013-t.jpg" ><img src="LS1013-t.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td>95 with Cat fitted</td></tr>
<tr>
<td style="background:silver">Price</td>
<td>£370</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Larini</td></tr>
<tr>
<td style="background:silver">Web </td>
<td /></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>

<p>Official website - <a class="external text" href="http://www.larinisystems.com/" rel="nofollow">Larini</a></p>
<h3><span class="mw-headline" id="Sports_Oval">Sports Oval</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:EL2SPORT-t.jpg" ><img src="EL2SPORT-t.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>£350</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Larini</td></tr>
<tr>
<td style="background:silver">Web </td>
<td /></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>

<p>Official website - <a class="external text" href="http://www.larinisystems.com/" rel="nofollow">Larini</a>
</p><h3><span class="mw-headline" id="Sports_Round">Sports Round</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:ELISESPORTRO-t.jpg" ><img src="ELISESPORTRO-t.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>£340</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Larini</td></tr>
<tr>
<td style="background:silver">Web </td>
<td /></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>

<h2><span class="mw-headline" id="Eliseparts">Eliseparts</span></h2>
<p>Official website - <a class="external text" href="http://www.eliseparts.com/shop/index.php" rel="nofollow">Eliseparts</a>
</p><h3><span class="mw-headline" id="S2_Eliseparts_Sports_Exhaust">S2 Eliseparts Sports Exhaust</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:S2-exhaus1t_LRG.jpg" ><img src="S2-exhaus1t_LRG.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>£440.92 Inc. VAT</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Eliseparts </td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.eliseparts.com/shop/index.php?main_page=product_info&#38;cPath=118&#38;products_id=534" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back
Round tail pipes only</td></tr></table></div>

<h2><span class="mw-headline" id="Quicksilver">Quicksilver</span></h2>

<h3><span class="mw-headline" id="Super_Sport_Round_Tails">Super Sport Round Tails</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Elises2111ssupersportroundtails.jpg" ><img src="Elises2111ssupersportroundtails.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>£359.00 Inc. VAT</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td /></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.hangar111.com/ckshop.php?item=407&#38;ret=http%3A%2F%2Fwww.hangar111.com%2Fckshop.php%3Fpage%3D1%26category%3D22" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back
Elise S2 111S (and Elise S2 with 111S rear grilles)</td></tr></table></div>

<h3><span class="mw-headline" id="Super_Sport_Oval_Tails">Super Sport Oval Tails</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:QSEliseS2SuperSport.jpg" ><img src="QSEliseS2SuperSport.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>£379.98 Inc. VAT</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Hangar111</td></tr>
<tr>
<td style="background:silver">Web </td>
<td /></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back
Elise S2 111 with oval rear grills</td></tr></table></div>

<p>Official website - </p>
<p><a class="external text" href="http://www.quicksilverexhausts.com/" rel="nofollow">Quicksilver</a></p>
<p>or <a class="external text" href="http://www.lotusexhausts.com/" rel="nofollow">Lotus Exhausts</a></p>
<h3><span class="mw-headline" id="Carbon_Race_Ultralight">Carbon Race Ultralight</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Carbonultralightrace.jpg" ><img src="Carbonultralightrace.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Carbon Fibre Race Silencer with stainless steel pipes/tail and internals</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>Approximately 3.8kg</td></tr>
<tr>
<td style="background:silver">dB</td>
<td>Approximately 93db on a standard vehicle with a catalyst bypass and induction kit fitted.</td></tr>
<tr>
<td style="background:silver">Price</td>
<td>£699.13 Inc. VAT</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Hangar111</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.hangar111.com/ckshop.php?item=141&#38;ret=http%3A%2F%2Fwww.hangar111.com%2Fckshop.php%3Fpage%3D1%26category%3D22" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back
Single exit ultra lightweight exhaust </td></tr></table></div>

<p>Official website - </p>
<p><a class="external text" href="http://www.quicksilverexhausts.com/" rel="nofollow">Quicksilver</a></p>
<p>or <a class="external text" href="http://www.lotusexhausts.com/" rel="nofollow">Lotus Exhausts</a>
</p><h3><span class="mw-headline" id="Ti_Ultralight_Sports_Exhaust">Ti Ultralight Sports Exhaust</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Ti_Ultralight_Sports_Exhaust.jpg" ><img src="Ti_Ultralight_Sports_Exhaust.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Titanium Silencer with stainless steel pipes/tail.</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>Approximately 3.5 kgs</td></tr>
<tr>
<td style="background:silver">dB</td>
<td>Approximately 93db on a standard vehicle with a Catalyst bypass and induction kit fitted. </td></tr>
<tr>
<td style="background:silver">Price</td>
<td>£699.13 inc. VAT </td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td /></tr>
<tr>
<td style="background:silver">Web </td>
<td /></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back
Single exit ultra lightweight exhaust </td></tr></table></div>

<h2><span class="mw-headline" id="KOMO_TEC">KOMO TEC</span></h2>
<p>Official website - <a class="external text" href="http://www.komo-tec.com/index.php" rel="nofollow">KOMO TEC</a>
</p><h3><span class="mw-headline" id="Sports_exhaust_silencer_MK2_with_ABE">Sports exhaust silencer MK2 with ABE</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:154_0.jpg" ><img src="154_0.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>799 EUR</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>KOMO TEC</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.komo-tec.com/product_info.php/products_id/154" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back
German <a class="external text" href="http://en.wikipedia.org/wiki/Technischer_%C3%9Cberwachungsverein" rel="nofollow">TÜV approved</a> system</td></tr></table></div>

<p>Official website - <a class="external text" href="http://www.komo-tec.com/index.php" rel="nofollow">KOMO TEC</a>
</p><h3><span class="mw-headline" id="Sports_Sportauspuff_MK2_Race">Sports Sportauspuff MK2 Race</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:155_0.jpg" ><img src="155_0.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>1099 EUR</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>KOMO TEC</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.komo-tec.com/product_info.php/products_id/155" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>

<p>Official website - <a class="external text" href="http://www.komo-tec.com/index.php" rel="nofollow">KOMO TEC</a>
</p><h3><span class="mw-headline" id="Sports_exhaust_silencer_MK2_Komo-Sport">Sports exhaust silencer MK2 Komo-Sport</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Mk2auspuffsportneu.jpg" ><img src="Mk2auspuffsportneu.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>699 EUR</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>KOMO TEC</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.komo-tec.com/product_info.php/products_id/190" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>

<p>Official website - <a class="external text" href="http://www.komo-tec.com/index.php" rel="nofollow">KOMO TEC</a>
</p><h3><span class="mw-headline" id="Sports_exhaust_silencer_MK2_VVC.2F160">Sports exhaust silencer MK2 VVC/160</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Mk2auspuffvvc.jpg" ><img src="Mk2auspuffvvc.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>749 EUR</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>KOMO TEC</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.komo-tec.com/product_info.php/products_id/196" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>

<h2><span class="mw-headline" id="Milltek">Milltek</span></h2>
<p>Official website - <a class="external text" href="http://www.millteksport.com/" rel="nofollow">Milltek</a>
</p><h3><span class="mw-headline" id="Sports">Sports</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:268.sm.jpg" ><img src="268.sm.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td /></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td /></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td /></tr>
<tr>
<td style="background:silver">Web </td>
<td /></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back
Pipe Diameter: 2.25&#34; (57.15mm)  </td></tr></table></div>

<h2><span class="mw-headline" id="2Bular">2Bular</span></h2>
<p>Official website - <a class="external text" href="http://www.2bular.com/" rel="nofollow">2Bular</a>
</p><h3><span class="mw-headline" id="Single_Exit">Single Exit</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:111S2bularfullperformancesystem.jpg" ><img src="111S2bularfullperformancesystem.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>£399.50 Inc. VAT Plus p&#38;p</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>2Bular</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.2bular.com/products.htm" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat back</td></tr></table></div>

<p>Official website - <a class="external text" href="http://www.2bular.com/" rel="nofollow">2Bular</a>
</p><h3><span class="mw-headline" id="111R_Style">111R Style</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:111Sprotypelargesilencertwin3inchdtm.jpg" ><img src="111Sprotypelargesilencertwin3inchdtm.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>£434.75 Inc. VAT Plus p&#38;p.</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>2Bular</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.2bular.com/products.htm" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat back
Need to cut the diffuser</td></tr></table></div>

<p>

</p>