<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<ul>
<li class="toclevel-1"><a href="#HANGAR_111_Signature_Series">HANGAR 111 Signature Series</a>
<ul>
<li class="toclevel-2"><a href="#Signature_Sports_Exhaust_-_Twin_Grille_Exit_for_all_Toyota_Engined_Cars">Signature Sports Exhaust - Twin Grille Exit for all Toyota Engined Cars</a>
</li>
<li class="toclevel-2"><a href="#Signature_Sports_Exhaust_-_Twin_Undertray_Exit_for_all_Toyota_Engined_Cars">Signature Sports Exhaust - Twin Undertray Exit for all Toyota Engined Cars</a>
</li>
<li class="toclevel-2"><a href="#Signature_Sports_Exhaust_-_Twin_Undertray_Exit_for_all_Toyota_Engined_Cars_2">Signature Sports Exhaust - Twin Undertray Exit for all Toyota Engined Cars</a>
</li>
<li class="toclevel-2"><a href="#Signature_Sports_Exhaust_-_Single_Oval_Undertray_Exit_for_all_Toyota_Engined_Cars">Signature Sports Exhaust - Single Oval Undertray Exit for all Toyota Engined Cars</a>
</li>
<li class="toclevel-2"><a href="#Signature_Sports_Exhaust_-_Single_Grille_Exit_for_all_Toyota_Engined_Cars">Signature Sports Exhaust - Single Grille Exit for all Toyota Engined Cars</a>
</li>
</ul>
</li>
</ul>
<li class="toclevel-1"><a href="#Lotus_Stage_1">Lotus Stage 1</a>
<ul>
<li class="toclevel-2"><a href="#Sports">Sports</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Lotus_Stage_2">Lotus Stage 2</a>
<ul>
<li class="toclevel-2"><a href="#Sports_2">Sports</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Quicksilver">Quicksilver</a>
<ul>
<li class="toclevel-2"><a href="#111R.2FExige_S2_Supersports_System">111R/Exige S2 Supersports System</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Arqray">Arqray</a>
<ul>
<li class="toclevel-2"><a href="#Double_Tip_Stainless_Steel">Double Tip Stainless Steel</a>
</li>
<li class="toclevel-2"><a href="#Double_Tip_Titanium">Double Tip Titanium</a>
</li>
<li class="toclevel-2"><a href="#Single_Tip">Single Tip</a>
</li>
<li class="toclevel-2"><a href="#Twin_Muffler">Twin Muffler</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Larini">Larini</a>
<ul>
<li class="toclevel-2"><a href="#Sports_with_F1_Tips">Sports with F1 Tips</a>
</li>
<li class="toclevel-2"><a href="#Sports_with_Oval_SE_Tips">Sports with Oval SE Tips</a>
</li>
<li class="toclevel-2"><a href="#Sports_with_Round_SE_Tips">Sports with Round SE Tips</a>
</li>
<li class="toclevel-2"><a href="#Sports_with_Slash_Cut_Tips">Sports with Slash Cut Tips</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Janspeed">Janspeed</a>
<ul>
<li class="toclevel-2"><a href="#Roadsport_Elise.2FExige">Roadsport Elise/Exige</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Milltek">Milltek</a>
<ul>
<li class="toclevel-2"><a href="#Sports_3">Sports</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#2Bular">2Bular</a>
<ul>
<li class="toclevel-2"><a href="#Thru_Diffuser_Twin_Extended_Tips">Thru Diffuser Twin Extended Tips</a>
</li>
<li class="toclevel-2"><a href="#Stage_2_Style">Stage 2 Style</a>
</li>
<li class="toclevel-2"><a href="#Ultra_and_GT3_Single_Tip_Silencer">Ultra and GT3 Single Tip Silencer</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#KOMO_TEC">KOMO TEC</a>
<ul>
<li class="toclevel-2"><a href="#Sportauspuff_Elise_111R_mit_T.C3.9CV_Gutachten">Sportauspuff Elise 111R mit TÜV Gutachten</a>
</li>
<li class="toclevel-2"><a href="#Sportauspuff_Elise_111R_ohne_T.C3.9CV_Gutachten">Sportauspuff Elise 111R ohne TÜV Gutachten</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Moto_Concept">Moto Concept</a>
<ul>
<li class="toclevel-2"><a href="#Sport_exhaust_with_oval_single_endpipe">Sport exhaust with oval single endpipe</a>
</li>
<li class="toclevel-2"><a href="#Cup_exhaust_70mm_endpipes">Cup exhaust 70mm endpipes</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Trial">Trial</a>
<ul>
<li class="toclevel-2"><a href="#Exige.2FElise111R_V2_Exhaust_Kit_SPL">Exige/Elise111R V2 Exhaust Kit SPL</a>
</li>
<li class="toclevel-2"><a href="#V1_Muffler">V1 Muffler</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Von_hep">Von hep</a>
<ul>
<li class="toclevel-2"><a href="#Exige.2FElise_111R">Exige/Elise 111R</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#HKS">HKS</a>
<ul>
<li class="toclevel-2"><a href="#Exige.2FElise_R.2FElise_S">Exige/Elise R/Elise S</a>
</li>
</ul>
</li>
</ul>
</ul></td></tr></table><hr/>
<h3><span class="mw-headline" id="HANGAR_111_Signature_Series">HANGAR 111 Signature Series</span></h3>
<p>Official website - <a class="external text" href="http://www.hangar111.com/" rel="nofollow">Hangar 111</a></p>
<h4><span class="mw-headline" id="Signature_Sports_Exhaust_-_Twin_Grille_Exit_for_all_Toyota_Engined_Cars">Signature Sports Exhaust - Twin Grille Exit for all Toyota Engined Cars</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:toyota-twin-exit-signature.jpg" ><img src="toyota-twin-exit-signature.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>Less Than Standard</td></tr>
<tr>
<td style="background:silver">dB</td>
<td>96-98db (depending on tune)</td></tr>
<tr>
<td style="background:silver">Price</td>
<td>From £383+vat</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Hangar 111 Lotus Performance</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.hangar111.com/web-store/429-exige-s2-elise-111r-2-eleven-sport-exhaust-stainless-steel.html" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Stainless Steel Sports exhaust system for the Elise, Exige and 2-Eleven featuring any of the Toyota 1.8 or 1.6 ltr Engines. This system has twin tailpipes that are positioned either side of the number plate.  Requires Hangar 111 Grille Kit to achieve appearance shown in image. Can also be used with our original rear-panel-elminator Kit. Superb sound effects without booming in cockpit and exceptional flow characteristics.
</td></tr></table></div>

<h4><span class="mw-headline" id="Signature_Sports_Exhaust_-_Twin_Undertray_Exit_for_all_Toyota_Engined_Cars">Signature Sports Exhaust - Twin Undertray Exit for all Toyota Engined Cars</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:toyota-twin-undertray-signature.jpg" ><img src="toyota-twin-undertray-signature.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>Less Than Standard</td></tr>
<tr>
<td style="background:silver">dB</td>
<td>96-98db (depending on tune)</td></tr>
<tr>
<td style="background:silver">Price</td>
<td>From £383+vat</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Hangar 111 Lotus Performance</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.hangar111.com/web-store/427-elise-111r-exige-s2-sports-exhaust.html" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Stainless Steel Sports exhaust system for the Elise and Exige featuring any of the Toyota 1.8 or 1.6 ltr Engines. This system has twin tailpipes that exit through the rear diffuser and point rearwards.  Superb sound effects without booming in cockpit and exceptional flow characteristics.
</td></tr></table></div>

<h4><span class="mw-headline" id="Signature_Sports_Exhaust_-_Twin_Undertray_Exit_for_all_Toyota_Engined_Cars_2">Signature Sports Exhaust - Twin Undertray Exit for all Toyota Engined Cars</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:toyota-twin-undertray-flush-fit-signature.jpg" ><img src="toyota-twin-undertray-flush-fit-signature.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>Less Than Standard</td></tr>
<tr>
<td style="background:silver">dB</td>
<td>92-98db (depending on tune)</td></tr>
<tr>
<td style="background:silver">Price</td>
<td>From £383+vat</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Hangar 111 Lotus Performance</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.hangar111.com/web-store/211-elise-111r-exige-s2-sports-exhaust-stainless-steel.html" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Stainless Steel Sports exhaust system for the Elise and Exige featuring any of the Toyota 1.8 or 1.6 ltr Engines. This system has twin tailpipes that exit flush with the rear diffuser and point downwards - giving a refined subtle appearance.  Superb sound effects without booming in cockpit and exceptional flow characteristics.
</td></tr></table></div>

<h4><span class="mw-headline" id="Signature_Sports_Exhaust_-_Single_Oval_Undertray_Exit_for_all_Toyota_Engined_Cars">Signature Sports Exhaust - Single Oval Undertray Exit for all Toyota Engined Cars</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:toyota-single-oval-signature.jpg" ><img src="toyota-single-oval-signature.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>Less Than Standard</td></tr>
<tr>
<td style="background:silver">dB</td>
<td>95-98db (depending on tune)</td></tr>
<tr>
<td style="background:silver">Price</td>
<td>From £383+vat</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Hangar 111 Lotus Performance</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.hangar111.com/web-store/583-elise-111r-exige-s2-2-eleven-sports-exhaust-system-stainless-steel.html" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Stainless Steel Sports exhaust system for the Elise and Exige featuring any of the Toyota 1.8 or 1.6 ltr Engines. This system has a single oval tailpipe that exits through the rear diffuser and points downwards.  Popular with supercharged models to improve flow and reduce noise.  Superb sound effects without booming in cockpit and exceptional flow characteristics.
</td></tr></table></div>

<h4><span class="mw-headline" id="Signature_Sports_Exhaust_-_Single_Grille_Exit_for_all_Toyota_Engined_Cars">Signature Sports Exhaust - Single Grille Exit for all Toyota Engined Cars</span></h4>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:toyota-single-exit-signature.jpg" ><img src="toyota-single-exit-signature.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>Less Than Standard</td></tr>
<tr>
<td style="background:silver">dB</td>
<td>95-98db (depending on tune)</td></tr>
<tr>
<td style="background:silver">Price</td>
<td>From £383+vat</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Hangar 111 Lotus Performance</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.hangar111.com/web-store/428-elise-111r-exige-s2-2-eleven-sports-exhaust-system-stainless-steel.html" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Stainless Steel Sports exhaust system for the Elise and Exige featuring any of the Toyota 1.8 or 1.6 ltr Engines. This system has a single tailpipe 

that exits through a grille or can be used with our original rear-panel-eliminator kit. Popular with supercharged models to improve flow and reduce noise.  Superb sound effects without booming in cockpit and exceptional flow characteristics.
</td></tr></table></div>


<h2><span class="mw-headline" id="Lotus_Stage_1">Lotus Stage 1</span></h2>
<h3><span class="mw-headline" id="Sports">Sports</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:" ><img src="" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td /></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td /></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td /></tr>
<tr>
<td style="background:silver">Web </td>
<td /></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>

<h2><span class="mw-headline" id="Lotus_Stage_2">Lotus Stage 2</span></h2>
<h3><span class="mw-headline" id="Sports_2">Sports</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:" ><img src="" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td /></tr>
<tr>
<td style="background:silver">Weight</td>
<td>18lbs</td></tr>
<tr>
<td style="background:silver">dB</td>
<td>70dB at Idle

92dB at 4000 RPM

103dB at 6200 RPM

All dB measurements conducted at a distance of 20&#34; from the exhaust tip opening, at an offset of 45 degrees from ehaust tip centreline</td></tr>
<tr>
<td style="background:silver">Price</td>
<td /></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td /></tr>
<tr>
<td style="background:silver">Web </td>
<td /></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>

<h2><span class="mw-headline" id="Quicksilver">Quicksilver</span></h2>
<p>Official website - </p>
<p><a class="external text" href="http://www.quicksilverexhausts.com/" rel="nofollow">Quicksilver</a></p>
<p>or <a class="external text" href="http://www.lotusexhausts.com/" rel="nofollow">Lotus Exhausts</a>
</p><h3><span class="mw-headline" id="111R.2FExige_S2_Supersports_System">111R/Exige S2 Supersports System</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:" ><img src="" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>15.8lbs</td></tr>
<tr>
<td style="background:silver">dB</td>
<td>70dB at Idle

Revised system in August 2006 to include updated silencer producing slightly less noise and more torque.

92dB at 4000 RPM
98dB at 6200 RPM

All dB measurements conducted static at a distance of 0.5m from the exhaust tip opening, at an offset of 45 degrees from ehaust tip centreline (as per MSA Rules).</td></tr>
<tr>
<td style="background:silver">Price</td>
<td>See Hangar 111 Wesbite</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Hangar 111</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.hangar111.com" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back System, Stainless Steel, 25 Year Warranty</td></tr></table></div>

<h2><span class="mw-headline" id="Arqray">Arqray</span></h2>
<h3><span class="mw-headline" id="Double_Tip_Stainless_Steel">Double Tip Stainless Steel</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Twintip_medium.jpg" ><img src="Twintip_medium.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>22lbs</td></tr>
<tr>
<td style="background:silver">dB</td>
<td>74dB at Idle

93dB at 4000 RPM

100dB at 6200

With Sports Cat

All dB measurements conducted at a distance of 20&#34; from the exhaust tip opening, at an offset of 45 degrees from ehaust tip centreline</td></tr>
<tr>
<td style="background:silver">Price</td>
<td>$1,200.00</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Sector111 </td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.sector111.com/handler.cfm?cat_id=20216&#38;cat_id=20229&#38;prod_id=1200&#38;function=product" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>The exhaust will NOT bolt to the stock cat. You must order either the Sport Cat or Cat Replacement Pipe to fit this system to your car. Track use only. </td></tr></table></div>

<h3><span class="mw-headline" id="Double_Tip_Titanium">Double Tip Titanium</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Twintip_medium.jpg" ><img src="Twintip_medium.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Titanium</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>13.7lbs</td></tr>
<tr>
<td style="background:silver">dB</td>
<td>74dB at Idle

93dB at 4000 RPM

100dB at 6200 RPM

With Sports Cat

All dB measurements conducted at a distance of 20&#34; from the exhaust tip opening, at an offset of 45 degrees from ehaust tip centreline </td></tr>
<tr>
<td style="background:silver">Price</td>
<td>$2,400.00</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Sector111 </td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.sector111.com/handler.cfm?cat_id=20216&#38;cat_id=20229&#38;prod_id=1201&#38;function=product" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>The exhaust will NOT bolt to the stock cat. You must order either the Sport Cat or Cat Replacement Pipe to fit this system to your car. Track use only.</td></tr></table></div>

<h3><span class="mw-headline" id="Single_Tip">Single Tip</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Singletip_medium.jpg" ><img src="Singletip_medium.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>15lbs</td></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>$800.00 </td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Sector111 </td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.sector111.com/handler.cfm?cat_id=20216&#38;cat_id=20229&#38;prod_id=1203&#38;function=product" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back
This system requires that one of the perforated panels be modified or removed.</td></tr></table></div>

<h3><span class="mw-headline" id="Twin_Muffler">Twin Muffler</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Dualmuffler2_medium.jpg" ><img src="Dualmuffler2_medium.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>18lbs</td></tr>
<tr>
<td style="background:silver">dB</td>
<td>69dB at Idle

95dB at 4000 RPM

104dB at 6200 RPM

All dB measurements conducted at a distance of 20&#34; from the exhaust tip opening, at an offset of 45 degrees from ehaust tip centreline </td></tr>
<tr>
<td style="background:silver">Price</td>
<td>$1,200.00 </td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Sector111 </td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.sector111.com/handler.cfm?cat_id=20216&#38;cat_id=20229&#38;prod_id=1344&#38;function=product" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back
No modifications needed</td></tr></table></div>

<h2><span class="mw-headline" id="Larini">Larini</span></h2>
<p>Official website - <a class="external text" href="http://www.larinisystems.com/" rel="nofollow">Larini</a>
</p><h3><span class="mw-headline" id="Sports_with_F1_Tips">Sports with F1 Tips</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:111F1-t.jpg" ><img src="111F1-t.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>£370.00 + VAT</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Larini</td></tr>
<tr>
<td style="background:silver">Web </td>
<td /></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>

<p>Official website - <a class="external text" href="http://www.larinisystems.com/" rel="nofollow">Larini</a>
</p><h3><span class="mw-headline" id="Sports_with_Oval_SE_Tips">Sports with Oval SE Tips</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:" ><img src="" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>£370.00 + VAT</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Larini</td></tr>
<tr>
<td style="background:silver">Web </td>
<td /></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back
Side exit as per K Series S2</td></tr></table></div>

<p>Official website - <a class="external text" href="http://www.larinisystems.com/" rel="nofollow">Larini</a>
</p><h3><span class="mw-headline" id="Sports_with_Round_SE_Tips">Sports with Round SE Tips</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:111RSE2-t.jpg" ><img src="111RSE2-t.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td>68dB at Idle

94.5dB at 4000 RPM

102dB at 6200 RPM

All dB measurements conducted at a distance of 20&#34; from the exhaust tip opening, at an offset of 45 degrees from ehaust tip centreline 
</td></tr>
<tr>
<td style="background:silver">Price</td>
<td>£370.00 + VAT</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Larini</td></tr>
<tr>
<td style="background:silver">Web </td>
<td /></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back
Side exit as per K Series S2</td></tr></table></div>

<p>Official website - <a class="external text" href="http://www.larinisystems.com/" rel="nofollow">Larini</a>
</p><h3><span class="mw-headline" id="Sports_with_Slash_Cut_Tips">Sports with Slash Cut Tips</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Larini_medium.jpg" ><img src="Larini_medium.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td>68dB at Idle

94.5dB at 4000 RPM

102dB at 6200 RPM

All dB measurements conducted at a distance of 20&#34; from the exhaust tip opening, at an offset of 45 degrees from ehaust tip centreline 
</td></tr>
<tr>
<td style="background:silver">Price</td>
<td>£370.00 + VAT</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Larini</td></tr>
<tr>
<td style="background:silver">Web </td>
<td /></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>

<h2><span class="mw-headline" id="Janspeed">Janspeed</span></h2>
<p>Official website - <a class="external text" href="http://www.janspeed.com/" rel="nofollow">Janspeed</a>
</p><h3><span class="mw-headline" id="Roadsport_Elise.2FExige">Roadsport Elise/Exige</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:SS997th.jpg" ><img src="SS997th.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td>Static 93 - 95  Drive by 88</td></tr>
<tr>
<td style="background:silver">Price</td>
<td>£350 inc. VAT</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>PTP</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.ptp-ltd.co.uk/shop/ProductDetails.aspx?productID=536" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>

<h2><span class="mw-headline" id="Milltek">Milltek</span></h2>
<p>Official website - <a class="external text" href="http://www.millteksport.com/" rel="nofollow">Milltek</a>
</p><h3><span class="mw-headline" id="Sports_3">Sports</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:252.sm.jpg" ><img src="252.sm.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td /></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td /></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td /></tr>
<tr>
<td style="background:silver">Web </td>
<td /></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back
Twin 76.2mm Jet Pipe Diameter: 2.50&#34; (63.50mm)  </td></tr></table></div>

<h2><span class="mw-headline" id="2Bular">2Bular</span></h2>
<p>Official website - <a class="external text" href="http://www.2bular.com/" rel="nofollow">2Bular</a>
</p><h3><span class="mw-headline" id="Thru_Diffuser_Twin_Extended_Tips">Thru Diffuser Twin Extended Tips</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:2bular111R6inchthrudiffuser.jpg" ><img src="2bular111R6inchthrudiffuser.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>6&#34; 4.5Kgs

7&#34; 5.5Kgs

8&#34; 6.5Kgs</td></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>6&#34; £381.88 Inc. VAT Plus p&#38;p

7&#34; £387.75 Inc. VAT Plus p&#38;p

8&#34; £393.63 Inc. VAT Plus p&#38;p</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>2Bular</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.2bular.com/products.htm" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back
8&#34; silencer will not fit behind rear grill</td></tr></table></div>

<p>Official website - <a class="external text" href="http://www.2bular.com/" rel="nofollow">2Bular</a>
</p><h3><span class="mw-headline" id="Stage_2_Style">Stage 2 Style</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:2bularTrackDaysilencerStage2style.jpg" ><img src="2bularTrackDaysilencerStage2style.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>£434.75 Inc. VAT Plus p&#38;p</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>2Bular</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.2bular.com/products.htm" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>

<p>Official website - <a class="external text" href="http://www.2bular.com/" rel="nofollow">2Bular</a>
</p><h3><span class="mw-headline" id="Ultra_and_GT3_Single_Tip_Silencer">Ultra and GT3 Single Tip Silencer</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:2bularGT3SingleTip.jpg" ><img src="2bularGT3SingleTip.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>4.75&#34; 3.2Kgs

6&#34; 4.2Kgs

7&#34; 5.2Kgs

8&#34; 6.2Kgs </td></tr>
<tr>
<td style="background:silver">dB</td>
<td>97dB at 5500 RPM

101dB at 6500 RPM (2nd cam)

7”dia x 22”long TrackDay silencer at 0.5 Metre  </td></tr>
<tr>
<td style="background:silver">Price</td>
<td>4.75&#34; Ultra £381.88 Inc. VAT Plus p&#38;p

6&#34; Ultra £381.88 Inc. VAT Plus p&#38;p

7&#34; Ultra £387.75 Inc. VAT Plus p&#38;p

8&#34; GT3 £393.63 Inc. VAT Plus p&#38;p</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>2Bular</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.2bular.com/products.htm" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>

<h2><span class="mw-headline" id="KOMO_TEC">KOMO TEC</span></h2>
<p>Official website - <a class="external text" href="http://www.komo-tec.com/index.php" rel="nofollow">Komo Tec</a>
</p><h3><span class="mw-headline" id="Sportauspuff_Elise_111R_mit_T.C3.9CV_Gutachten">Sportauspuff Elise 111R mit TÜV Gutachten</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:220_1.jpg" ><img src="220_1.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>849 EUR</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>KOMO TEC</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.komo-tec.com/product_info.php/products_id/220" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>

<p>Official website - <a class="external text" href="http://www.komo-tec.com/index.php" rel="nofollow">Komo Tec</a>
</p><h3><span class="mw-headline" id="Sportauspuff_Elise_111R_ohne_T.C3.9CV_Gutachten">Sportauspuff Elise 111R ohne TÜV Gutachten</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:230_1.jpg" ><img src="230_1.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>749 EUR</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>KOMO TEC</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.komo-tec.com/product_info.php/products_id/230" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>

<h2><span class="mw-headline" id="Moto_Concept">Moto Concept</span></h2>
<p>Official website - <a class="external text" href="http://www.moto-concept.de/en/index.php" rel="nofollow">Moto Concept</a>
</p><h3><span class="mw-headline" id="Sport_exhaust_with_oval_single_endpipe">Sport exhaust with oval single endpipe</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Bild4.jpg" ><img src="Bild4.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>620 EUR</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Moto Concept</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.moto-concept.de/en/autos/lotus/elise2r/artikel_elise2r_detail.php?item_id=15609" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>

<p>Official website - <a class="external text" href="http://www.moto-concept.de/en/index.php" rel="nofollow">Moto Concept</a>
</p><h3><span class="mw-headline" id="Cup_exhaust_70mm_endpipes">Cup exhaust 70mm endpipes</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Bild5.jpg" ><img src="Bild5.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>720 EUR</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Moto Concept</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.moto-concept.de/en/autos/lotus/elise2r/artikel_elise2r_detail.php?item_id=15569" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Cat Back</td></tr></table></div>

<h2><span class="mw-headline" id="Trial">Trial</span></h2>
<p>Official website - <a class="external text" href="http://www.trialusa.net/" rel="nofollow">Trial</a>
</p><h3><span class="mw-headline" id="Exige.2FElise111R_V2_Exhaust_Kit_SPL">Exige/Elise111R V2 Exhaust Kit SPL</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Trial.jpg" ><img src="Trial.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>$3200</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Trial</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.shopts.com/trial_elise/58AFCD12-BAFC-455C-AC99-08A5E52E5E1F/2D3E1972-EB56-4D8C-A356-2B3FEA316AF0.html" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>This Kit includes the TRIAL Header, SPL Downpipe (70mm →63mm), and SPL (Side Tip) Muffler!</td></tr></table></div>

<p>Official website - <a class="external text" href="http://www.trialusa.net/" rel="nofollow">Trial</a>
</p><h3><span class="mw-headline" id="V1_Muffler">V1 Muffler</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Trial2.jpg" ><img src="Trial2.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel &#38; Titanium</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td>105dB @ 5700rpm</td></tr>
<tr>
<td style="background:silver">Price</td>
<td>$1450</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Trial</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.shopts.com/trial_elise/58AFCD12-BAFC-455C-AC99-08A5E52E5E1F/17673652-5D3E-46A9-88BF-327E68DE0350.html" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Tail: Titanium 70mm *2
Main: Stainless Steel 63mm</td></tr></table></div>

<h2><span class="mw-headline" id="Von_hep">Von hep</span></h2>
<p>Official website - <a class="external text" href="http://www.vonhep.com/" rel="nofollow">Von hep</a>
</p><h3><span class="mw-headline" id="Exige.2FElise_111R">Exige/Elise 111R</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Von_hep.jpg" ><img src="Von_hep.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Exhaust, Panel Exit, Single Tip</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>9.25 lbs Total Weight Including All Hardware</td></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>$499</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Von hep</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.vonhep.com/prod_desc_9_1.html?sno=298" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Stainless Steel shell, core and inlet/outlet pipes with billet aluminum end caps. Silent Sport Premium Packing. Stainless Steel Clamps and Brackets.</td></tr></table></div>

<h2><span class="mw-headline" id="HKS">HKS</span></h2>
<h3><span class="mw-headline" id="Exige.2FElise_R.2FElise_S">Exige/Elise R/Elise S</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:HKS_exhaust.jpg" ><img src="HKS_exhaust.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>SUS304 Stainless Steel Twin Tip Ø50 x 2</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>47% less than OEM exhaust</td></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>TBC</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Co-ordSport</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external autonumber" href="http://www.coordsport.com" rel="nofollow">[1]</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td><b><i>&#39;COMING SOON</i></b></td>
<th>COMING SOON</th>
<th>COMING SOON</th>
<th><b><i>&#39;</i></b></th></tr></table></div>

<p>


</p>