<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1"><a href="#Lotus">Lotus</a>
<ul>
<li class="toclevel-2"><a href="#Evora">Evora</a>
</li>
<li class="toclevel-2"><a href="#Evora_Sport_Pack">Evora Sport Pack</a>
</li>
<li class="toclevel-2"><a href="#Lotus_Sport_Stage_1_Exhaust">Lotus Sport Stage 1 Exhaust</a>
</li>
<li class="toclevel-2"><a href="#Evora_S_Exhaust">Evora S Exhaust</a>
</li>
<li class="toclevel-2"><a href="#MY12_Exhaust">MY12 Exhaust</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Blueflame">Blueflame</a>
</li>
<li class="toclevel-1"><a href="#Kreissieg">Kreissieg</a>
<ul>
<li class="toclevel-2"><a href="#2x80mm_Valvetronic_Cat-Back">2x80mm Valvetronic Cat-Back</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Larini">Larini</a>
<ul>
<li class="toclevel-2"><a href="#Sports_.28Oval.29">Sports (Oval)</a>
</li>
<li class="toclevel-2"><a href="#Sports_.28Twin_slash_tips.29">Sports (Twin slash tips)</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#QuickSilver">QuickSilver</a>
<ul>
<li class="toclevel-2"><a href="#Evora_Sports_Exhaust">Evora Sports Exhaust</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Supersprint">Supersprint</a>
<ul>
<li class="toclevel-2"><a href="#Evora_.27OO.27">Evora &#39;OO&#39;</a>
</li>
<li class="toclevel-2"><a href="#Evora_.22Racing.22_OO">Evora &#34;Racing&#34; OO</a>
</li>
</ul>
</li>
</ul></td></tr></table><hr/>
<h1><span class="mw-headline" id="Lotus">Lotus</span></h1>

<h2><span class="mw-headline" id="Evora">Evora</span></h2>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:" ><img src="" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>17.8kg</td></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>£523.95</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Lotus</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.lotuscars.com" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Standard exhaust. Part number C132S0003F</td></tr></table></div>

<h2><span class="mw-headline" id="Evora_Sport_Pack">Evora Sport Pack</span></h2>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:" ><img src="" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel with Titanium tailpipes</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>17.6kg</td></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td /></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Lotus</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.lotuscars.com" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Included as part of the Evora Sport Pack, this uses the standard exhaust silencer with titanium exhaust tips.<br />This is not the same as the exhaust fitted to the Evora S.</td></tr></table></div>

<h2><span class="mw-headline" id="Lotus_Sport_Stage_1_Exhaust">Lotus Sport Stage 1 Exhaust</span></h2>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:LotusEvoraSportTitaniumExhaust.jpg" ><img src="LotusEvoraSportTitaniumExhaust.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>13.5kg</td></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>£818.99</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Lotus</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.lotuscars.com" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Part number LOTAC05504.<br />Different to the Sport Pack exhaust. Blue &#39;burnt&#39; effect on the tail pipes.</td></tr></table></div>

<h2><span class="mw-headline" id="Evora_S_Exhaust">Evora S Exhaust</span></h2>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:LotusEvoraSExhaust.jpg" ><img src="LotusEvoraSExhaust.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td /></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Lotus</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.lotuscars.com" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Part Number: A132S0154F</td></tr></table></div>

<h2><span class="mw-headline" id="MY12_Exhaust">MY12 Exhaust</span></h2>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:" ><img src="" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td /></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Lotus</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.lotuscars.com" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>MY12 updates saw a change to a revised exhaust system for the Evora and Evora S, changes included:<br />Removing CAT No.3<br />Re-Programme of ECU to allow for this<br />Wire up the By-Pass Exhaust Actuator Valve through to the ECU and Harness to open and close

More details on the changes and how to upgrade a pre-MY12 car can be found here: <a class="external free" href="http://forums.seloc.org/viewthread.php?tid=321814" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=321814</a><br />A comparison video can be found here: <a class="external free" href="http://www.youtube.com/watch?v=AZrx2lPB4aw" rel="nofollow">http://www.youtube.com/watch?v=AZrx2lPB4aw</a></td></tr></table></div>

<h1><span class="mw-headline" id="Blueflame">Blueflame</span></h1>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:BlueflameSlashCut.jpg" ><img src="BlueflameSlashCut.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>£744</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Blueflame Performance Exhausts</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="https://www.blueflameperformance.com/cars_english/lotus-evora-09-down-pipe-back-system-removing-second-cat-stainless-3-50-slash-cut-trims.html#" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td><a class="external text" href="http://www.youtube.com/watch?v=tILcZzgL_3U" rel="nofollow">Video</a></td></tr></table></div>

<h1><span class="mw-headline" id="Kreissieg">Kreissieg</span></h1>

<h2><span class="mw-headline" id="2x80mm_Valvetronic_Cat-Back">2x80mm Valvetronic Cat-Back</span></h2>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:Kreissieg_Evora_2x80.jpg" ><img src="Kreissieg_Evora_2x80.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>15kg</td></tr>
<tr>
<td style="background:silver">dB</td>
<td>Variable</td></tr>
<tr>
<td style="background:silver">Price</td>
<td>$5000</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Kreissieg</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://kreissieg.ocnk.net/product/494" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Includes a wired remote (wireless available) to control the exhaust valve. This valve is not controlled by the Sport Mode button in the car.<br />Customer can choose 2 Levels of exhaust tone<br />Level 1 - Stock sound level<br />Level 2 - Sport sound level<br />Level 3 - Loud F1 high-pitched tone<br />Level 4 - Very loud F1 high-pitched tone (Requires Bypass Pipe)<br />Level 5 - Very loud real F1 tone (Requires Bypass Pipe)<br /><b>Videos:</b><br /><a class="external text" href="http://www.youtube.com/watch?v=YkE3iuhW2X0" rel="nofollow">Static</a><br /><a class="external text" href="http://www.youtube.com/watch?v=h7Gj0WgxL_Y" rel="nofollow">Drive-by</a></td></tr></table></div>

<h1><span class="mw-headline" id="Larini">Larini</span></h1>

<h2><span class="mw-headline" id="Sports_.28Oval.29">Sports (Oval)</span></h2>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:LariniEvoraSportOval.jpg" ><img src="LariniEvoraSportOval.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>£714</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Larini Exhaust Systems</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.larinisystems.com/" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td><a class="external text" href="http://www.youtube.com/watch?v=nGNVhK6x1i8" rel="nofollow">Video</a></td></tr></table></div>

<h2><span class="mw-headline" id="Sports_.28Twin_slash_tips.29">Sports (Twin slash tips)</span></h2>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:LariniEvoraSportTwin.jpg" ><img src="LariniEvoraSportTwin.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>£743</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Larini Exhaust Systems</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.larinisystems.com/" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td /></tr></table></div>

<h1><span class="mw-headline" id="QuickSilver">QuickSilver</span></h1>

<h2><span class="mw-headline" id="Evora_Sports_Exhaust">Evora Sports Exhaust</span></h2>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:QuicksilverEvoraSportsExhaust.jpg" ><img src="QuicksilverEvoraSportsExhaust.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>7.8kg</td></tr>
<tr>
<td style="background:silver">dB</td>
<td>89dB</td></tr>
<tr>
<td style="background:silver">Price</td>
<td>£950</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>QuickSilver Exhaust Systems</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.quicksilverexhausts.com/Lotus-Evora-Sports-Exhaust_LOTUS_328_productbulletin.htm" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td /></tr></table></div>

<h1><span class="mw-headline" id="Supersprint">Supersprint</span></h1>

<h2><span class="mw-headline" id="Evora_.27OO.27">Evora &#39;OO&#39;</span></h2>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:SupersprintEvora.jpg" ><img src="SupersprintEvora.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>13.6 kg</td></tr>
<tr>
<td style="background:silver">dB</td>
<td /></tr>
<tr>
<td style="background:silver">Price</td>
<td>€950 + vat</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Supersprint</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.supersprint.com/en/prod-c-313-10374-10373-rear_exhaust_oo_90.aspx" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td /></tr></table></div>

<h2><span class="mw-headline" id="Evora_.22Racing.22_OO">Evora &#34;Racing&#34; OO</span></h2>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:SupersprintEvoraRacing.jpg" ><img src="SupersprintEvoraRacing.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td>11.2 kg</td></tr>
<tr>
<td style="background:silver">dB</td>
<td>99 dBA</td></tr>
<tr>
<td style="background:silver">Price</td>
<td>€880 + vat</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Supersprint</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.supersprint.com/en/prod-c-313-10374-10809-rear_exhaust_racing_oo_90.aspx" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td><a class="external text" href="http://www.youtube.com/watch?v=LO0_AQZDHNQ" rel="nofollow">Video</a></td></tr></table></div>

<p>
</p>