
<p><b>Coolant should be replaced every two years</b></p>
<p>as it ages, its freezing point raises and you run the risk of the coolant freezing. Also, its ability to prevent corrosion is reduced in time.</p>
<p>The Elise System takes around 8 litres</p>
<h2><span class="mw-headline" id="Types">Types</span></h2>
<p>One can get very complicated about coolant and I was once told to simplify it into green coolant and pink coolant, the latter being an extended life antifreeze.  However, there are intrinsic differences in the constituents of various coolants and their compatibilities with one another.</p>
<p>Types of Anti-Freeze
There are three primary types of anti-freeze for your car’s radiator cooling system:</p>

<ol>
<li>Ethylene Glycol/Polyethylene Glycol. Tried and true, this type of anti-freeze is still standard after almost 70 years. Modern ethylene glycol anti-freezes have several additives to protect, clean, and lubricate your cooling system.</li>
<li>Non-Toxic Radiator Coolant. This anti-freeze does not contain ethylene glycol or polyethylene glycol (both acutely toxic). These engine coolants are, however, still toxic but only in larger quantities and over longer periods.</li>
<li>Extended-Life Anti-Freeze. In most cases, this is simply an ethylene glycol anti-freeze with one or more carboxylate additives to prevent corrosion of the cooling system. These engine coolants should make your car radiator and cooling system last longer.</li>
</ol>

<p>Common engine coolant additives include: nitrates (corrosion inhibitors, buffers), silicates (corrosion inhibitors, especially for aluminum radiators), carboxylates (buffers, corrosion inhibitors), and borates (buffers).</p>
<p>Never mix different types of engine coolant. You can damage or further reduce your car radiator’s efficiency by mixing the different types. Before you change types, thoroughly drain and flush your cooling system.</p>

<p>The different types - made even more complicated:</p>
<p>OAT coolant (orange or pink) contains no silicates and no
phosphates. It&#39;s a blend of two or more organic acids, a
specific class of inhibitors with slow-acting, long-life
properties. Texaco&#39;s Havoline Dex-Cool (also sold under the
Goodwrench label by GM) was the first example. Prestone
and Peak also have introduced OAT coolants that are
chemically compatible with Dex-Cool.</p>
<p>Conventional Japanese coolant (green or red) contains no
silicates, but has a heavy dose of phosphates and other
inhibitors, including a modest amount of one or two organic
acids.</p>
<p>Conventional European coolant (blue or yellow) contains a
low dose of silicates and no phosphates, but does include
other inhibitors, including one organic acid.</p>
<p>Hybrid European coolant (blue or green) is similar to
conventional European, but with a much greater dose of
organic acids. It&#39;s a balanced formula designed to have the
silicates provide the primary protection for the aluminum,
then allow the organic acids to provide long-term protection.</p>



<p>Bottom line - I had the blue stuff, but radiator went and Steve Williams replaced it with the pink stuff. He was pretty adamant that as long as I carried on using the off the shelf &#34;pink&#34; stuff, this would be OK. That said, the level stays between min and max (goes up to max on the track) and hasn&#39;t needed topping up.</p>
<p>Red, OAT,</p>
<p>Blue green.</p>
<p>Ethylene glycol
Glycol antifreeze</p>
<p><a class="external free" href="http://en.wikipedia.org/wiki/Antifreeze" rel="nofollow">http://en.wikipedia.org/wiki/Antifreeze</a></p>
<h2><span class="mw-headline" id="Further_reading">Further reading</span></h2>

<ul>
<li><a class="external text" href="http://www.charityguide.org/volunteer/fifteen/antifreeze-poisoning.htm" rel="nofollow">Antifreeze Poisoning</a></li>
<li><a class="external text" href="http://www.slate.com/id/2103821/" rel="nofollow">Slate.com: Why is antifreeze so delicious?</a></li>
<li><a class="external free" href="http://bioengr.ag.utk.edu/Extension/ExtProg/machinery/Articles/engcool.htm" rel="nofollow">http://bioengr.ag.utk.edu/Extension/ExtProg/machinery/Articles/engcool.htm</a></li>
</ul>
