<h3><span class="mw-headline" id="Thermostat">Thermostat</span></h3>

<p>The thermostat wants to hold the coolant entry temp to 82°C (or thereabouts depending on which stat you have fitted) and at full load the delta across the engine will be 3-4°C so roughly 85-86 out and this is where the engine coolant temp (ECT) is measured. The coolant flow is then devided either to the top hose--&#62; rad or to the heater/bypass and back to the stat.</p>

<p>The proportion of flow depends on the position of the thermostat. The stat has a opening range of about 14°C so when the ECT is reading 99-100+ you know the stat is fully open and therefore most of the coolant is going through the rad. To hold a steady 99 top hose the rad must reduce the temp of the coolant by the 3-4°.</p>

<p>More normally the stat will just run cracked open at 86-90 ish ECT. In this case not much coolant goes to the rad so if for example 25% is going that way then the radiator dT will be 16°C (25% at 70°C bottom hose + 75% bypass at 86°C = mixed temp of 82°C). At 10% rad flow the bottom hose would be at 40°C.</p>

<p>In really cold ambient conditions the bottom hose can be cold (i.e. 20°C) and the stat has to just blend a tiny amount of cold in with the bulk of the hot bypass/heater flow. This is a worst point for the system. At VMax down a german autobahn in winter for example - very low overall coolant flow (the bypass /heater route is restrictive compared to the rad). If the mixing around the wax bulb of the stat isn&#39;t very good then it will tend to overshoot and hence the glugs of cold fluid coming through will give your engine a good thermal shock test which induces rapid metal contraction which is a big test for the head gasket.</p>



<p>Standard Item is 88</p>

<h3><span class="mw-headline" id="Locating_the_thermostat">Locating the thermostat</span></h3>



<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:stat1.jpg" ><img src="stat1.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:stat2.jpg" ><img src="stat2.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>


<h3><span class="mw-headline" id="Remote_thermostat">Remote thermostat</span></h3>


<p>Fitting.</p>
<p><a href="http://wiki.seloc.org/a/Eliseparts" title="Eliseparts">Eliseparts</a></p>
<p><a href="http://wiki.seloc.org/a/QED_Motorsport" title="QED Motorsport">QED Motorsport</a></p>
