
<p>Listed below are temperature ranges from by SELOC members from their <a href="http://wiki.seloc.org/a/Stack" title="Stack">stack</a> display within the car.</p>

<div style="page-break-inside: avoid;">
<table border="1" cellpadding="5" cellspacing="0">
<tr>
<th>Model </th>
<th>Engine </th>
<th>Modifications from Standard </th>
<th>Motorway (70mph) type crusing range (deg C)</th></tr>
<tr>
<td>S2      </td>
<td>1.8 Rover &#39;K&#39; </td>
<td>Standard </td>
<td>96-97</td></tr>
<tr>
<td>S2      </td>
<td>1.8 Rover &#39;K&#39; </td>
<td>Eliseparts remote T-stat </td>
<td>82-84</td></tr>
<tr>
<td>S2      </td>
<td>2.0 Honda K20 </td>
<td>Eliseparts Hi-Pressure Alu rad </td>
<td>84-86</td></tr>
<tr>
<td>S2      </td>
<td>1.8 Toyota 190 </td>
<td>Standard </td>
<td>83-86</td></tr>
<tr>
<td>S2 111S </td>
<td>1.8 Rover &#39;K&#39; </td>
<td />
<td>89-91</td></tr>
<tr>
<td>S2 111S </td>
<td>1.8 Rover &#39;K&#39; </td>
<td>Eliseparts Hi-Pressure Alu rad </td>
<td>85-86</td></tr>
<tr>
<td>S2 111S </td>
<td>1.8 Rover &#39;K&#39; </td>
<td>PRT with PEL500150 </td>
<td>84-85</td></tr>
<tr>
<td>S1 </td>
<td>1.8 Rover &#39;K&#39; </td>
<td>Rover PRT 82° stat </td>
<td>80-81</td></tr>
<tr>
<td>1999 S1 </td>
<td>1.8 Rover &#39;K&#39; </td>
<td />
<td>86</td></tr></table></div>

<h2><span class="mw-headline" id="Fan">Fan</span></h2>
<p>The service manual states the fans at the front should automatically switch on when the coolant temperature rises 101/102°C.  The temperature should then fall and the fan switches off when the temperature drops below 98/96°C.</p>
<h2><span class="mw-headline" id="Temperature_senders">Temperature senders</span></h2>

<p>The S1 has two <a href="http://wiki.seloc.org/a/Temperature_sender" title="Temperature sender">Temperature senders</a>: brown (sends to ECU), blue (sends to dash).  The blue temperature sender is notoriously unreliable and often fails, resulting in temperature readings approx 10°C lower than reality.  The blue sender is also a &#34;single wire&#34; type which is affected by electrical load.  In most cases, a 1°C rise in temperature can be seen when turning on each item of electrical equipment, e.g. headlights, heater fan, windscreen wipers.</p>
<p>The S2 (Rover engine) has a single (black) temperature sender for both ECU and dash.</p>
<p>The S2 (Toyota engine) has ???</p>