
<p>I had an issue on my S1 when coolant started leaking from one of the aluminium pipes that run from the engine compartment down into the side sills and to the front.</p>
<p>Further investigation showed that one of the other pipes had rubbed against the heater pipe and worn through it and created a tiny hole which meant that coolant was leaking from the pipe.</p>
<p>I realised there was no way the pipe could be replaced so set about repairing it, so I thought I would let people know how I did it.</p>
<p>What you will need:-</p>
<p>Short length of 16mm rubber heater hose (available from Halfords for a couple of pounds a meter)
4 x 15-22mm jubilee clips (make sure they are decent ones)
Small round 15mm pipe cutter (circular type available from most DIY shops, the smaller the better as access to spin it round the pipe is limited)
Washing up bowl or similar to catch coolant.</p>
<p><b>WARNING ** THIS SHOULD ONLY BE ATTEMPTED WHEN THE ENGINE AND COOLANT WATER IS COMPLETELY COOL ** DO NOT DO WHEN CAR IS HOT!!</b></p>
<p>1. Place the washing up bowl or suitable container under the pipe where the leak is.</p>
<p>2. Push the pipe cutter onto the pipe where the hole is.</p>
<p>3. Spin the cutter around the pipe slowly cutting into the pipe, this can be quite hard work as the pipe is actually a bit bigger than 15mm and space is limited but if you persevere it will cut through the pipe.</p>
<p>4. Once the pipe is cut allow the coolant to drain out and into the bowl.</p>
<p>5. Place two of the jubilee clips onto one end of the cut aluminium pipe.</p>
<p>6. Take a short length of the rubber coolant hose and slide onto one of the cut ends.</p>
<p>7. Slide the remaining two jubilee clips onto the other cut aluminium pipe.</p>
<p>8. Then slide the rubber hose onto the other cut aluminium pipe end.</p>
<p>9. Slide the jubilee clips onto the rubber hose at each end and tighten.</p>
<p>10. Refill system with a suitable coolant and bleed cooling system as described here <a href="http://wiki.seloc.org/a/Bleed_the_cooling_system" title="Bleed the cooling system">Bleed the cooling system</a></p>