
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Front_splitter.jpg" title="Front splitter on a S2 Elise"><img src="Front_splitter.jpg" alt="Front splitter on a S2 Elise" title="Front splitter on a S2 Elise" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Front splitter on a S2 Elise</div></div>
</div>

<p>
In its most basic form a splitter is a horizontal extension of the lower front edge of the car protruding forwards into the airflow.  Although this looks simple, it is a very efficient way to generate downforce at the front of the car.</p>
<p>As a car passes though the air, an area of high pressure builds up along its relatively flat leading surfaces (think of the force which pushes on your hand if you hold it out of the car window).  Usually this air flows either under the car or around and over the bodywork.  A splitter taps this area of high pressure by providing an additional surface for it to act on.  As well as pushing back on the front of the car, the high pressure pushes down on the top surface of the splitter creating downforce.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:splitter.jpg" title="A simple diagram showing air pressures with and without a splitter"><img src="splitter.jpg" alt="A simple diagram showing air pressures with and without a splitter" title="A simple diagram showing air pressures with and without a splitter" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">A simple diagram showing air pressures with and without a splitter</div></div>
</div>



<p>I hit almost every speed bump with it at standard ride height, but the roads near me are terrible, so no fault of the splitter. If you are running a lowered ride height - as I am doing now, it will further lower the front by nearly 20 mm in real terms. Looks cool though and is very similar to the reverie one only fibreglass and much better value. </p>

<ul>
<li>On the Elise expect around a 10/15 mm drop in clearance.</li>
<li>40Kg downforce at 100mph.</li>
</ul>

<p>It is possible to <a href="http://wiki.seloc.org/a/Fit_a_front_splitter" title="Fit a front splitter">fit a front splitter</a> yourself.</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Damage_concealer">Damage concealer</a>
</li>
<li class="toclevel-1"><a href="#Suppliers">Suppliers</a>
<ul>
<li class="toclevel-2"><a href="#Tigga.21">Tigga!</a>
</li>
<li class="toclevel-2"><a href="#Alvans">Alvans</a>
</li>
<li class="toclevel-2"><a href="#Eliseparts">Eliseparts</a>
</li>
<li class="toclevel-2"><a href="#Reverie">Reverie</a>
</li>
<li class="toclevel-2"><a href="#Elise_Shop">Elise Shop</a>
</li>
<li class="toclevel-2"><a href="#Lotus_Power">Lotus Power</a>
</li>
<li class="toclevel-2"><a href="#Lotus_Garage">Lotus Garage</a>
</li>
<li class="toclevel-2"><a href="#British_Racing_Group">British Racing Group</a>
</li>
</ul>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Damage_concealer">Damage concealer</span></h2>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:front_splitter_damage_concealer.jpg" title="Cover up that damaged front clamshell"><img src="front_splitter_damage_concealer.jpg" alt="Cover up that damaged front clamshell" title="Cover up that damaged front clamshell" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Cover up that damaged front clamshell</div></div>
</div>

<p>
Another application for the front splitter is to conceal damaged front clamshells.  It is far easier to have one of these install than pay for a fix/respray at your <a href="http://wiki.seloc.org/a/Lotus_specialists" title="Lotus specialists">local specialist</a>.</p>

<h2><span class="mw-headline" id="Suppliers">Suppliers</span></h2>
<h3><span class="mw-headline" id="Tigga.21">Tigga!</span></h3>
<p>Fellow SELOC member <a class="external text" href="http://forums.seloc.org/member.php?action=viewpro&#38;member=Tigga%21" rel="nofollow">Tigga!</a> supplies a splitter for the Elise S2.
</p>
<ul>
<li><a class="external free" href="http://forums.seloc.org/viewthread.php?tid=74329" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=74329</a></li>
</ul>
<h3><span class="mw-headline" id="Alvans">Alvans</span></h3>
<p>Alvan Motors make a splitter for the S2 which does not reduce the overall ground clearence.
</p>
<ul>
<li><a class="external free" href="http://www.alvan-motors.com/" rel="nofollow">http://www.alvan-motors.com/</a> (note: link broken)</li>
</ul>

<h3><span class="mw-headline" id="Eliseparts">Eliseparts</span></h3>

<ul>
<li><a class="external text" href="http://www.eliseparts.com/search/?phrase=front+splitter" rel="nofollow"><a class="external free" href="http://www.eliseparts.com" rel="nofollow">http://www.eliseparts.com</a></a></li>
</ul>

<h3><span class="mw-headline" id="Reverie">Reverie</span></h3>

<ul>
<li><a class="external free" href="http://www.reverie.ltd.uk" rel="nofollow">http://www.reverie.ltd.uk</a></li>
</ul>
<h3><span class="mw-headline" id="Elise_Shop">Elise Shop</span></h3>

<ul>
<li><a class="external text" href="http://www.elise-shop.com/advanced_search_result.html?keyword=front+splitter&#38;search_in_description=1" rel="nofollow"><a class="external free" href="http://www.elise-shop.com" rel="nofollow">http://www.elise-shop.com</a></a></li>
</ul>

<h3><span class="mw-headline" id="Lotus_Power">Lotus Power</span></h3>

<ul>
<li><a class="external free" href="http://www.lotuspower.co.uk/" rel="nofollow">http://www.lotuspower.co.uk/</a></li>
</ul>

<h3><span class="mw-headline" id="Lotus_Garage">Lotus Garage</span></h3>

<ul>
<li><a class="external free" href="http://www.lotusgarage.com" rel="nofollow">http://www.lotusgarage.com</a></li>
</ul>

<h3><span class="mw-headline" id="British_Racing_Group">British Racing Group</span></h3>

<ul>
<li><a class="external free" href="http://shop.britishracinggroup.com/" rel="nofollow">http://shop.britishracinggroup.com/</a></li>
</ul>

<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:front_splitter_tigga.jpg" ><img src="front_splitter_tigga.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Tigga!</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:front_splitter_alvans.jpg" ><img src="front_splitter_alvans.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Alvan</p>
                    </div>
                </div>
                </p>
<p>

</p>