<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1"><a href="#Drag">Drag</a>
<ul>
<ul>
<li class="toclevel-2"><a href="#Drag_2">Drag</a>
</li>
<li class="toclevel-2"><a href="#Rear_vacuum">Rear vacuum</a>
</li>
<li class="toclevel-2"><a href="#Flow_detachment">Flow detachment</a>
</li>
<li class="toclevel-2"><a href="#Turbulence">Turbulence</a>
</li>
</ul>
</ul>
</li>
</ul></td></tr></table><hr/>
<h1><span class="mw-headline" id="Drag">Drag</span></h1>


<p>A simple definition of aerodynamics is the study of the flow of air around and through a vehicle, primarily if it is in motion. To understand this flow, you can visualize a car moving through the air. As we all know, it takes some energy to move the car through the air, and this energy is used to overcome a force called Drag. </p>


<h3><span class="mw-headline" id="Drag_2">Drag</span></h3>

<p>In vehicle aerodynamics, is comprised primarily of two forces. Frontal pressure is caused by the air attempting to flow around the front of the car. As millions of air molecules approach the front grill of the car, they begin to compress, and in doing so raise the air pressure in front of the car. At the same time, the air molecules travelling along the sides of the car are at atmospheric pressure, a lower pressure compared to the molecules at the front of the car. </p>

<p>Just like an air tank, if the valve to the lower pressure atmosphere outside the tank is opened, the air molecules will naturally flow to the lower pressure area, eventually equalizing the pressure inside and outside the tank. The same rules apply to cars. The compressed molecules of air naturally seek a way out of the high pressure zone in front of the car, and they find it around the sides, top and bottom of the car.</p>

<p><a class="image" href="http://wiki.seloc.org/a/image:frontalpressure.jpg" ><img src="frontalpressure.jpg" width="220" />
</a></p>


<h3><span class="mw-headline" id="Rear_vacuum">Rear vacuum</span></h3>


<p>Is caused by the &#34;hole&#34; left in the air as the car passes through it. To visualize this, imagine a bus driving down a road. The blocky shape of the bus punches a big hole in the air, with the air rushing around the body, as mentioned above. At speeds above a crawl, the space directly behind the bus is &#34;empty&#34; or like a vacuum. This empty area is a result of the air molecules not being able to fill the hole as quickly as the bus can make it. The air molecules attempt to fill in to this area, but the bus is always one step ahead, and as a result, a continuous vacuum sucks in the opposite direction of the bus. This inability to fill the hole left by the bus is technically called Flow detachment.</p>

<p><a class="image" href="http://wiki.seloc.org/a/Image:Rearvacuum.JPG" ><img src="Rearvacuum.JPG" width="220" />
</a></p>



<h3><span class="mw-headline" id="Flow_detachment">Flow detachment</span></h3>


<p>Applies only to the &#34;rear vacuum&#34; portion of the drag equation, and it is really about giving the air molecules time to follow the contours of a car&#39;s bodywork, and to fill the hole left by the vehicle, it&#39;s tires, it&#39;s suspension and protrusions (ie. mirrors, roll bars). If you have witnessed the Le Mans race cars, you will have seen how the tails of these cars tend to extend well back of the rear wheels, and narrow when viewed from the side or top. This extra bodywork allows the air molecules to converge back into the vaccum smoothly along the body into the hole left by the car&#39;s cockpit, and front area, instead of having to suddenly fill a large empty space.</p>

<p>The reason keeping flow attachment is so important is that the force created by the vacuum far exceeds that created by frontal pressure, and this can be attributed to the Turbulence created by the detachment.</p>


<h3><span class="mw-headline" id="Turbulence">Turbulence</span></h3>


<p>Generally affects the &#34;rear vacuum&#34; portion of the drag equation, but if we look at a protrusion from the race car such as a wing mirror, we see a compounding effect. For instance, the air flow detaches from the flat side of the mirror, which of course faces toward the back of the car. The turbulence created by this detachment can then affect the air flow to parts of the car which lie behind the mirror. Intake ducts, for instance, function best when the air entering them flows smoothly. Therefore, the entire length of the car really needs to be optimized (within reason) to provide the least amount of turbulence at high speed.</p>

<p>(Diagram shows turbulence around a wing mirror)</p>

<p><a class="image" href="http://wiki.seloc.org/a/image:turbulence.JPG" ><img src="turbulence.JPG" width="220" />
</a></p>





<p><a class="external text" href="http://en.wikipedia.org/wiki/Drag_%28physics%29" rel="nofollow">Wikipedia On Drag</a></p>
<p><a class="external text" href="http://en.wikipedia.org/wiki/Fluid_dynamics" rel="nofollow">Wikipedia On Fluid Dynamics</a></p>
<p><a class="external text" href="http://en.wikipedia.org/wiki/Turbulence" rel="nofollow">Wikipedia On Turbulence</a></p>





<p><b>Some Information © <a class="external text" href="http://www.gmecca.com/byorc/index.html" rel="nofollow">Gmecca</a></b></p>