<h3><span class="mw-headline" id="Downforce">Downforce</span></h3>




<p>One term very often heard in race car circles is Downforce. Downforce is the same as the lift experienced by airplane wings, only it acts to press down, instead of lifting up. Every object travelling through air creates either a lifting or downforce situation. Race cars, of course use things like inverted <a class="external text" href="http://wiki.seloc.org/index.php/Wings" rel="nofollow">wings</a> to force the car down onto the track, increasing traction. The average street car however tends to create lift. This is because the car body shape itself generates a low pressure area above itself. </p>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Lotus78.jpg" title="Lotus 78 The &#39;Wing&#39; Car"><img src="Lotus78.jpg" alt="Lotus 78 The &#39;Wing&#39; Car" title="Lotus 78 The &#39;Wing&#39; Car" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Lotus 78 The &#39;Wing&#39; Car</div></div>
</div>



<p>How does a car generate this low pressure area?</p>
<p>According to Bernoulli, the man who defined the basic rules of <a class="external text" href="http://en.wikipedia.org/wiki/Bernoulli%27s_principle" rel="nofollow">fluid dynamics</a>, for a given volume of air, the higher the speed the air molecules are travelling, the lower the pressure becomes. Likewise, for a given volume of air, the lower the speed of the air molecules, the higher the pressure becomes. This of course only applies to air in motion across a still body, or to a vehicle in motion, moving through still air. </p>

<p>Air slows down as it approaches the front of the car, and as a result more molecules are packed into a smaller space. Once the air Stagnates at the point in front of the car, it seeks a lower pressure area, such as the sides, top and bottom of the car. </p>

<p><a class="image" href="http://wiki.seloc.org/a/Image:Liftdownforce.JPG" ><img src="Liftdownforce.JPG" width="220" />
</a></p>


<p>Now, as the air flows over the hood of the car, it&#39;s loses pressure, but when it reaches the windscreen, it again comes up against a barrier, and briefly reaches a higher pressure. The lower pressure area above the hood of the car creates a small lifting force that acts upon the area of the hood (Sort of like trying to suck the hood off the car). The higher pressure area in front of the windscreen creates a small (or not so small) downforce. This is akin to pressing down on the windshield. </p>

<p>Where most road cars get into trouble is the fact that there is a large surface area on top of the car&#39;s roof. As the higher pressure air in front of the wind screen travels over the windscreen, it accellerates, causing the pressure to drop. This lower pressure literally lifts on the car&#39;s roof as the air passes over it. Worse still, once the air makes it&#39;s way to the rear window, the notch created by the window dropping down to the trunk leaves a vacuum, or low pressure space that the air is not able to fill properly. The flow is said to detach and the resulting lower pressure creates lift that then acts upon the surface area of the boot. This  is where the driver would feel the car becoming &#34;light&#34; in the rear when travelling at high speeds.</p> 
<p><a class="image" href="http://wiki.seloc.org/a/Image:Underbody.JPG" ><img src="Underbody.JPG" width="220" />
</a></p>
<p>Not to be forgotten, the underside of the car is also responsible for creating lift or downforce. If a car&#39;s front end is lower than the rear end, then the widening gap between the underside and the road creates a vacuum, or low pressure area, and therefore &#34;suction&#34; that equates to downforce. The lower front of the car effectively restricts the air flow under the car.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Splitter.jpg" title="Lotus Elise With Front Splitter"><img src="Splitter.jpg" alt="Lotus Elise With Front Splitter" title="Lotus Elise With Front Splitter" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Lotus Elise With Front Splitter</div></div>
</div>





<p><a class="external text" href="http://en.wikipedia.org/wiki/Downforce" rel="nofollow">Wikipedia On Downforce</a></p>
<p><a class="external text" href="http://en.wikipedia.org/wiki/Lotus_78" rel="nofollow">Wikipedia On The Lotus 78</a></p>
<p><a class="external text" href="http://en.wikipedia.org/wiki/Diffuser_%28automotive%29" rel="nofollow">Wikipedia On Diffusers</a></p>
<p><a class="external text" href="http://en.wikipedia.org/wiki/Ground_effect" rel="nofollow">Wikipedia On Ground Effect</a></p>


<p><b>Some Information © <a class="external text" href="http://www.gmecca.com/byorc/index.html" rel="nofollow">Gmecca</a></b></p>