<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1"><a href="#Wings_and_Spoilers">Wings and Spoilers</a>
<ul>
<ul>
<li class="toclevel-2"><a href="#Spoilers">Spoilers</a>
</li>
<li class="toclevel-2"><a href="#Wings">Wings</a>
</li>
<li class="toclevel-2"><a href="#Aftermarket_Options">Aftermarket Options</a>
</li>
</ul>
</ul>
</li>
</ul></td></tr></table><hr/>
<h1><span class="mw-headline" id="Wings_and_Spoilers">Wings and Spoilers</span></h1>

<h3><span class="mw-headline" id="Spoilers">Spoilers</span></h3>

<p>Are used primarily on saloon-type race cars. They act like barriers to air flow, in order to build up higher air pressure in front of the spoiler. This is useful, because as mentioned previously, a sedan car tends to become &#34;Light&#34; in the rear end as the low pressure area above the trunk lifts the rear end of the car. </p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:Spoiler.jpg" ><img src="Spoiler.jpg" width="220" />
</a></p>

<p>This method is applied to the Elise 160 (The added crescent moon spoiler) and also to all Elise S2&#39;s as the &#39;Spoiler&#39; is built into the rear of the car. </p>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:S2spoiler.jpg" title="Lotus Elise S2 &#39;Spoiler&#39;"><img src="S2spoiler.jpg" alt="Lotus Elise S2 &#39;Spoiler&#39;" title="Lotus Elise S2 &#39;Spoiler&#39;" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Lotus Elise S2 &#39;Spoiler&#39;</div></div>
</div>


<h3><span class="mw-headline" id="Wings">Wings</span></h3>

<p>Probably the most popular form of aerodynamic aid is the wing. Wings perform very efficiently, generating lots of downforce for a small penalty in drag. Spoiler are not nearly as efficient, but because of their practicality and simplicity, spoilers are used a lot on sedans. </p>
<p>The wing works by differentiating pressure on the top and bottom surface of the wing. As mentioned previously, the higher the speed of a given volume of air, the lower the pressure of that air, and vice-versa. What a wing does is make the air passing under it travel a larger distance than the air passing over it (in race car applications). Because air molecules approaching the leading edge of the wing are forced to separate, some going over the top of the wing, and some going under the bottom, they are forced to travel differing distances in order to &#34;Meet up&#34; again at the trailing edge of the wing.</p>
<p><a class="image" href="http://wiki.seloc.org/a/image:wing.jpg" ><img src="wing.jpg" width="220" />
</a></p>

<p>Wings were added to all Exige S1&#39;s and S2&#39;s</p>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:exiges1wing.jpg" title="Lotus Exige S1 Wing"><img src="exiges1wing.jpg" alt="Lotus Exige S1 Wing" title="Lotus Exige S1 Wing" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Lotus Exige S1 Wing</div></div>
</div>


<p><b>Please add info</b></p>

<h3><span class="mw-headline" id="Aftermarket_Options">Aftermarket Options</span></h3>

<p>There are many aftermarket options for fitting Wings or spoilers to the elise</p>
<p><b>Please add info</b></p>


<p><a class="external text" href="http://en.wikipedia.org/wiki/Spoiler_%28automotive%29" rel="nofollow">Wikipedia On Spoilers</a></p>
<p>



</p>


<p><b>Some Information © <a class="external text" href="http://www.gmecca.com/byorc/index.html" rel="nofollow">Gmecca</a></b></p>