
<div style="page-break-inside: avoid;">
<table align="right" cellpadding="2" cellspacing="0" class="infobox" font="3" rules="rows" style="font-size:85%; width:25em; border-collapse:collapse; border:1px solid black;">
<tr style="background:LightBlue;">
<td align="center" colspan="2" style="font-size: larger;"><b>Time &#38; Tools</b></td></tr>
<tr>
<th>Time:</th>
<td>20-30 mins</td></tr>
<tr>
<th>Tools:</th>
<td>14mm spanner, torque wrench, filter removal tool, new oil drain plug sealing washer, tools for removing undertray</td></tr></table></div>

<p>Frequent oil and filter changes are the most important preventative maintenance procedures which can be undertaken by the owner.  As engine oil ages, it becomes diluted and contaminated, which leads to premature engine wear.</p>
<p><a href="http://wiki.seloc.org/a/Oil_Labelling_Explained" title="Oil Labelling Explained">Information About Oil</a></p>
<p><a class="external text" href="http://arc.seloc.org/t/106354" rel="nofollow">Also See This Thread, good info in there</a></p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Procedure">Procedure</a>
</li>
<li class="toclevel-1"><a href="#Notes">Notes</a>
</li>
<li class="toclevel-1"><a href="#111R_Notes">111R Notes</a>
</li>
<li class="toclevel-1"><a href="#K_Series_Oil_Filters">K Series Oil Filters</a>
</li>
<li class="toclevel-1"><a href="#S2_111R_and_S2_Exige_n.2Fa_Series_Oil_Filters">S2 111R and S2 Exige n/a Series Oil Filters</a>
</li>
<li class="toclevel-1"><a href="#Honda_conversion_filters">Honda conversion filters</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Procedure">Procedure</span></h2>

<ol>
<li>Warm engine up</li>
<li>Raise rear of car.<sup>1</sup></li>
<li><a href="http://wiki.seloc.org/a/Remove_the_rear_undertray" title="Remove the rear undertray">Remove middle undertray</a>.</li>
<li>Remove the oil filler cap from the cylinder head cover.</li>
<li>Remove sump plug with a 15mm (K Series) socket/spanner and drain oil into something that will hold 5 litres of fluid.</li>
<li>Replace sump plug washer and screw in sump plug. Tighten to 25 Nm.</li>
<li>Remove oil filter. (I managed to use a chain removal tool successfully on the K Series, S2 111S)</li>
<li>Smear some oil on the seal of new filter and screw on by hand (it also helps to part fill the new filter with oil).</li>
<li>Pour the new oil in to the engine, the amount will vary if you have remote coolers or a non standard installation but a Kseries will be around 4ltrs, remember though its easier to top up than remove.</li>
<li>Remove engine management system fuse or fuel pump fuse from fuse box.</li>
<li>Check the car is in neutral, then turn the engine over (the engine will not fire due to the removed fuse) and observe the oil pressure light going out. Have a look underneath for a possible leak at the oil filter or sump plug. Slightly tighten oil filter if necessary, do not over tighten.</li>
<li>Replace the previously removed <a href="http://wiki.seloc.org/a/ECU" title="ECU">ECU</a> or fuel pump fuse.</li>
<li>Start the engine, check it fires and run for a short while.</li>
<li>Turn engine off and check again for any leaks.</li>
<li><a href="http://wiki.seloc.org/a/Remove_the_rear_undertray" title="Remove the rear undertray">Replace undertray</a></li>
<li>Lower car, leave for a short while and check dipstsick.</li>
</ol>

<h2><span class="mw-headline" id="Notes">Notes</span></h2>

<p><sup>1</sup>Access to the underside of the vehicle will be greatly improved if it can be raised on a lift, driven onto ramps, or jacked up and supported on axle stands.  I reverse mine onto ramps, but if you&#39;ve got some blocks of wood that are approx 3 inches + tall then you can squeeze underneath without too much bother.
Which ever option you choose ensure that the car is left in gear, with the handbrake on and the front wheels are chocked so that there is no chance the car can move off the supports.</p>
<p><sup>2</sup>The thread on the oil filter and oil filter take off is 13/16-16 UNF
</p>

<h2><span class="mw-headline" id="111R_Notes">111R Notes</span></h2>

<p>Tools needed:</p>
<pre>- 8mm spanner for small undertray bolts
- 13 mm (1/2&#34;) socket and ratchet for large undertray bolts
- 9/16&#34; spanner for sump plug
- Short, but stout screwdriver and hammer to remove filter or 25mm socket for KnN filter 
</pre>
<p>As has been previously discussed in various threads, using a chain tool to remove the filter does is not too successful - there is just no room to move the tool around properly. Instead the whack-a-screwdriver-though-and-turn technique is the preferred method.
Alternatively water pump pliers can be used to grip the filter to release it and then undone by hand.</p>
<p>Whilst under the car check for wear on the coolant return pipe as it can wear through as it rubs on the cooler fitting under engine movement. As a preventative measure you could cable-tie a bit of rubber pipe at the return. This pipe is not on all cars.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:return.jpg" ><img src="return.jpg" width="220" />
</a></p>
<h2><span class="mw-headline" id="K_Series_Oil_Filters">K Series Oil Filters</span></h2>

<p>These filters can be used with all K series engines.</p>

<ol>
<li>AC DELCO 93156323 </li>
<li>AC DELCO 25011520 (PF 53) </li>
<li>AMSOIL SDF-57 </li>
<li>BECK/ARNLEY 0418988 </li>
<li>BOSCH 72150 </li>
<li>FRAM PH966B </li>
<li>FRAM PH2870A </li>
<li>FRAM PH3614 </li>
<li>K&#38;N HP1002 </li>
<li>MANN 056 115 561G </li>
<li>NAPA 1374 </li>
<li>PUROLATOR L10028 </li>
<li>PUROLATOR L10241 Metro 1.3L </li>
<li>UNIPART GFE148 </li>
<li>WIX WL7142 </li>
<li>Mobil M1 102</li>
<li>Champion B104</li>
<li>Mahle OC237</li>
</ol>

<h2><span class="mw-headline" id="S2_111R_and_S2_Exige_n.2Fa_Series_Oil_Filters">S2 111R and S2 Exige n/a Series Oil Filters</span></h2>

<p>The Toyota part numbers for oil filters are:</p>

<ol>
<li>90915-YZZJ2</li>
<li>90915-10004</li>
<li>90915-TA002</li>
<li>TRD 00602-90915-006</li>
<li>TRD 90915-SP010</li>
<li>Mahle OC217</li>
<li>K&#38;N HP-1002 25mm nut end.  </li>
<li>Mann Filter W610/9</li>
</ol>

<p>Some of the part numbers have changed but I believe these are valid. The TRD numbers are for Toyota Racing items, usually coloured red. </p>
<p>I ask for 90915-YZZJ2 at my local Toyota garage and it fits and works fine or ask for a filter to fit a Gen 6 Toyota Celica up to 2004. Or to fit the 2ZZ-GE Toyota engine. </p>
<p>Here is a list of cars that share the yota engine
<a href="http://wiki.seloc.org/a/Http://en.wikipedia.org/wiki/Toyota_ZZ_engine" title="Http://en.wikipedia.org/wiki/Toyota ZZ engine">http://en.wikipedia.org/wiki/Toyota_ZZ_engine</a></p>
<p>To save all the hammering a screwdrive &#34;issues&#34;. Get your self a KnN oil filter part HP-1002. It has a 25mm nut on the end you can use socket to get it on and off. Would seem to be a Sinclaires standard fit and my car was last serviced there etc.</p>
<p>Dont for get to change your sump bolt crush washer. It is the smaller non metal of the 2 types most shops sell for toyota cars (12mm ID x 24mm OD x 2mm) Part No. 90430-12031.</p>
<p>Sealey Tools do a dedicated oil filter cup type wrench for Toyota filters part no. VS7111 this takes a 3/8&#34; sq drive wrench.</p>
<h2><span class="mw-headline" id="Honda_conversion_filters">Honda conversion filters</span></h2>

<p>Cars with Honda conversions may need a specific type of filter. List can be found <a href="http://wiki.seloc.org/a/Oil_filters_for_Honda_conversion" title="Oil filters for Honda conversion">HERE</a></p>

<p>



</p>