
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:S1DriversWheelarch.jpg" title="Drivers side wheelarch on an S1 with the liner removed"><img src="S1DriversWheelarch.jpg" alt="Drivers side wheelarch on an S1 with the liner removed" title="Drivers side wheelarch on an S1 with the liner removed" class="location-right type-thumb" width="220" />
</a>
<div class="thumbcaption">Drivers side wheelarch on an S1 with the liner removed</div></div>
</div>

<p>
To drain the engine cooling system, remove the header tank cap, and disconnect the radiator feed and return hoses from the rear ends of the water rails running down each sill.</p>
<p>After refilling with suitable <a href="http://wiki.seloc.org/a/Coolant" title="Coolant">coolant</a>, you will need to <a href="http://wiki.seloc.org/a/Bleed_the_cooling_system" title="Bleed the cooling system">bleed</a> the system.</p>
<p>




</p>