<h3><span class="mw-headline" id="Oil_filters_for_Honda_conversions">Oil filters for Honda conversions</span></h3>

<p>Honda converted cars require special attention to the type of filter that is used bacuse of space constraints.</p>
<p>In the case of conversions that use the OEM filter location (eg. Link-Up) you need to use a filter with a small outer diameter to fit it between the subrame and the engine.</p>
<p>For this puspose you can use the short and narrow OEM Honda filters (65mm long):</p>

<ul>
<li>Honda 15400-PFB-004</li>
<li>Honda 15400-PFB-014</li>
</ul>

<p>Or if these are not available you can also use:</p>

<ul>
<li>Renault 82 00 033 408</li>
<li>MANN  W 67/1</li>
<li>HAMP (Honda After Market Parts) H1540-PFB-515</li>
<li>WL7254 WIX OIL FILTER (PH5796)(Z1277)</li>
<li>Lautrette MECAFILTER ELH4300</li>
<li>UFI 23.258.00 (66 mm long)</li>
</ul>

<p>Which are also the same size.</p>
<p>A possible option depending on the amount of space that&#39;s available would also be:</p>

<ul>
<li>MANN    W 67 (85 mm long)  </li>
<li>MANN    W 610/3 (90 mm long)</li>
<li>UFI 23.265.00 (87.5 mm long)</li>
</ul>

<p>BUT MAKE SURE THESE FIT BEFOREHAND! They fit on Link-Up conversions.</p>
<p>All filters above ar of a narrow (approx. 65-70mm) type.</p>
<p>The OEM Civic TypeR filters listed are:</p>

<ul>
<li>Honda   15400-PLC-004</li>
<li>Honda   15400-PLM-A01</li>
</ul>

<p>With the last one being more &#39;fat&#39; and only being suitable for use in a converted Elise if the conversion has a remote oil filter mount.</p>
<p>Optionally in that case you can also use a similarly sized:</p>

<ul>
<li>MANN    W 814/80</li>
</ul>

<p>Sinclaires/Essex Autosport use the filter below on their remote filter mount.</p>

<ul>
<li>CROSLAND 672</li>
</ul>

<p>

</p>