
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Thermostat_closed.JPG" title="Cooling system showing the location of the matrix just behind the radiator"><img src="Thermostat_closed.JPG" alt="Cooling system showing the location of the matrix just behind the radiator" title="Cooling system showing the location of the matrix just behind the radiator" class="location-right type-thumb" width="220" />
</a>
<div class="thumbcaption">Cooling system showing the location of the matrix just behind the radiator</div></div>
</div>

<p>The heater matrix is a small radiator through which the <a href="http://wiki.seloc.org/a/Coolant" title="Coolant">coolant</a> runs and warms the air which enters the cabin. On the S1, it is located on the driver&#39;s side, near the <a href="http://wiki.seloc.org/a/Battery" title="Battery">battery</a>. The heater matrix is mounted vertically to the side of the blower fan unit. </p>
<p>When the matrix fails, coolant leaks out of it&#39;s pipes and into the heater system, resulting in a fine mist entering the cabin through the ventilation system and misting up the windscreen. With a badly failed matrix, a micro-climate can form in the passenger footwell with mist rising and falling whilst driving.</p>
<p>A replacement heater matrix can be purchased from <a class="external text" href="http://www.eliseparts.com/shop/index.php?main_page=product_info&#38;products_id=487" rel="nofollow">EliseParts</a> (part no AW38506, manufactured by KL Automotive, 01827 300 100).</p>
<p>Alernatively a pattern part for the S1 heater matrix matrix can be obtained from <a class="external free" href="http://www.demisterman.co.uk/" rel="nofollow">http://www.demisterman.co.uk/</a> (The matrix also is identical to that used on the TX2 London black cab) </p>
<p>elise-shop.com has developed a <a class="external text" href="http://www.elise-shop.com/heater-matrix-standard-or-upgraded-elise-exige-p-446.html" rel="nofollow">high capacity heater matrix</a> which has 30% more capacity, but same shape, yet thicker than the original heater matrix.</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Replacing_the_heater_matrix">Replacing the heater matrix</a>
<ul>
<li class="toclevel-2"><a href="#Removing_the_matrix_unit">Removing the matrix unit</a>
</li>
<li class="toclevel-2"><a href="#Repainting_the_metalwork">Repainting the metalwork</a>
</li>
<li class="toclevel-2"><a href="#Blower_motor">Blower motor</a>
</li>
<li class="toclevel-2"><a href="#Fan_speed_control_resistors">Fan speed control resistors</a>
</li>
<li class="toclevel-2"><a href="#Reassembling_the_matrix_unit">Reassembling the matrix unit</a>
</li>
<li class="toclevel-2"><a href="#Refilling_with_coolant">Refilling with coolant</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#See_also">See also</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Replacing_the_heater_matrix">Replacing the heater matrix</span></h2>


<div style="page-break-inside: avoid;">
<table align="right" cellpadding="2" cellspacing="0" class="infobox" font="3" rules="rows" style="font-size:85%; width:25em; border-collapse:collapse; border:1px solid black;">
<tr style="background:LightBlue;">
<td align="center" colspan="2" style="font-size: larger;"><b>Time &#38; Tools</b></td></tr>
<tr>
<th>Time:</th>
<td>4 - 6 hours</td></tr>
<tr>
<th>Tools:</th>
<td>Torx T10 screwdriver, socket set, telescopic magnetic device, glue for the plastic matrix cover, new heater matrix</td></tr></table></div>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:1999EliseHeaterMatrix.JPG" title="Photo of an old failing heater matrix from a late 1999 S1 Elise. Note the bending of the matrix elements where the rivets were driven into the side of the plastic case."><img src="1999EliseHeaterMatrix.JPG" alt="Photo of an old failing heater matrix from a late 1999 S1 Elise. Note the bending of the matrix elements where the rivets were driven into the side of the plastic case." title="Photo of an old failing heater matrix from a late 1999 S1 Elise. Note the bending of the matrix elements where the rivets were driven into the side of the plastic case." class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Photo of an old failing heater matrix from a late 1999 S1 Elise. Note the bending of the matrix elements where the rivets were driven into the side of the plastic case.</div></div>
</div>

<p>This is a tricky job due to the location of the matrix and the position of the screws holding it in place.</p>
<p>First, <a href="http://wiki.seloc.org/a/Replace_the_coolant" title="Replace the coolant">empty the system of coolant</a>. This can be done by first unscrewing the coolant reservoir tank cap, then removing the drivers-side wheelarch liner (<a href="http://wiki.seloc.org/a/Remove_the_wheels" title="Remove the wheels">remove the wheel</a> first!) and undo the <a href="http://wiki.seloc.org/a/Radiator" title="Radiator">radiator</a> feed hose. Drain into a bucket and dispose of safely. The radiator hose and wheelarch liner can be refitted as this side of the car doesn&#39;t need to be accessed again. Some people have reported successfully replacing the matrix without draining the system of coolant by clamping the feed and return hoses before disconnecting them from the matrix and then filling the new matrix with coolant via a funnel.</p>
<p>Next remove the plastic radiator cowl/surround with a Torx T10 screwdriver and <a href="http://wiki.seloc.org/a/Battery#S1_Fitting" title="Battery">remove the battery</a>.</p>
<h3><span class="mw-headline" id="Removing_the_matrix_unit">Removing the matrix unit</span></h3>

<p>Some vehicles have the matrix/blower assembly held together by an rubber band as shown in the workshop manual. Other vehicles have the two held together by a metal bracket and nut on both the top and bottom. These instructions describe removal of the matrix when the matrix/blower assembly are held together with the metal bracket.</p>
<p>It may be possible to bust the two rivets on one side of the matrix cover to allow the matrix to be removed without unscrewing the matrix/blower assembly. If this is possible, it will significantly reduce the disassembly/assembly time. If not, follow the procedures below:</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:1999EliseMatrixBlowerAssembly.jpg" title="This model has a single green ceramic terminal block and a metal bracket and nut holding the matrix case to the blower case. Earlier S1 models varied.

You can see a spanner to the left of the green ceramic block removing one of the bolts holding the blower to the chassis."><img src="1999EliseMatrixBlowerAssembly.jpg" alt="This model has a single green ceramic terminal block and a metal bracket and nut holding the matrix case to the blower case. Earlier S1 models varied.

You can see a spanner to the left of the green ceramic block removing one of the bolts holding the blower to the chassis." title="This model has a single green ceramic terminal block and a metal bracket and nut holding the matrix case to the blower case. Earlier S1 models varied.

You can see a spanner to the left of the green ceramic block removing one of the bolts holding the blower to the chassis." class="location-right type-thumb" width="220" />
</a>
<div class="thumbcaption">This model has a single green ceramic terminal block and a metal bracket and nut holding the matrix case to the blower case. Earlier S1 models varied.

You can see a spanner to the left of the green ceramic block removing one of the bolts holding the blower to the chassis.</div></div>
</div>

<p>
The matrix/blower assembly is held in place by 4 screws. Remove the metal <a class="external text" href="http://www.eliseparts.com/products/show/84/166/flexible-heater-ducting/" rel="nofollow">flexible heater ducting</a> and the hoses into and out of the matrix itself. One of the screws is just inside the outlet from the blower where the hose attached. Two are into the bulkhead below the radiator behind the cylindrical green ceramic terminal block. And the fourth is closer to the battery again into the bulkhead below the radiator. It&#39;s easiest if you remove the green ceramic terminal block - it&#39;s simply held on by the metal at each end which can be squeezed together and pulled out of the center of the green cylinder. Early Elise models had 3 cylindrical terminal blocks mounted on the blower. Later models had just one.</p>
<p>The wire which controls the hot/cold flap sits on top of the assembly. This should be removed. The sprung metal clip holding the cable in placed can be levered off and the S-shaped end of the wire can be removed from the control armature.</p>
<p>Once the matrix/blower assembly is free, it may still not be possible to get the unit out of the vehicle. The <a class="external text" href="http://www.eliseparts.com/products/show/61/182/heater-blower-fan/" rel="nofollow">blower</a> is connected to the matrix by a metal strip and nut both on the top and the bottom of the assembly. As the matrix/blower assembly is now free and has a certain degree of rotation within the car, the matrix can be separated from the blower by undoing the nut and rotating the metal strip about 30 degrees. The metal strip on the bottom of the assembly is identical.  The nuts are prone to rounding or shearing, in which case you will need to drill-out the rivet instead.</p>
<p>With the matrix separated from the blower, you can now remove the matrix from the car.  To aid removal, you may need to:</p>

<ul>
<li>Rotate the matrix around and extract it upside down</li>
<li>Remove the front services compartment latch and alarm sensor</li>
<li>Remove the battery clamp and slide the battery as far out of the way as possible</li>
<li>Unclip all wiring beside the radiator and pull it on top of the radiator</li>
</ul>

<p>The matrix unit is held within a plastic case which is riveted and can be glued on the bottom. Take care to remove the rivets without damaging the plastic too much - you only need to remove one pair of rivets as this will allow the plastic to bend enough to remove the matrix.</p>
<h3><span class="mw-headline" id="Repainting_the_metalwork">Repainting the metalwork</span></h3>

<p>Whilst you have the matrix assembly out you may want to repaint it. The rivets must be drilled out to remove the brackets and blower fan. The parts can then be stripped and repainted. POR15 is recommended for this as Hammerite is rather smelly and will make the hot air supply equally smelly for several months. </p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Heater_Components.jpeg" title="Repainted heater matrix parts"><img src="Heater_Components.jpeg" alt="Repainted heater matrix parts" title="Repainted heater matrix parts" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Repainted heater matrix parts</div></div>
</div>

<h3><span class="mw-headline" id="Blower_motor">Blower motor</span></h3>
<p>The blower motor is manufactured by Gate, part number MP5620/HW1. They are available from Transport Heating Services, OX29 0YG, 01993 849 522, their part number J1512, at approx £100 each (Sept 2012). Stocks are limited as gate has moved its manufacturing to China. Some people have had success with getting the motor repaired, check the SELOC archives.</p>
<p>This blower motor is also fitted to Land Rover&#39;s notably the Defender from about 1988 up to roughly 1996. Lot&#39;s lying about in scrapyards!</p>
<h3><span class="mw-headline" id="Fan_speed_control_resistors">Fan speed control resistors</span></h3>

<p>S1 heaters have either one or three large green ceramic resistors which are switched in to regulate the speed of the blower fan. If these are damaged it may be possible to replace them with off-the-shelf electronic parts based on the schematic. </p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Heater-resistors-schematic.jpg" title="Resistor schematic"><img src="Heater-resistors-schematic.jpg" alt="Resistor schematic" title="Resistor schematic" class="location-right type-thumb" width="220" />
</a>
<div class="thumbcaption">Resistor schematic</div></div>
</div>

<h3><span class="mw-headline" id="Reassembling_the_matrix_unit">Reassembling the matrix unit</span></h3>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:S1BlowerMatrixAssembly.jpg" title="Photo showing the blower/matrix assembly removed from the vehicle and clamped while being glued. Originally it was held together with rivets and the holes for the rivets can still be seen."><img src="S1BlowerMatrixAssembly.jpg" alt="Photo showing the blower/matrix assembly removed from the vehicle and clamped while being glued. Originally it was held together with rivets and the holes for the rivets can still be seen." title="Photo showing the blower/matrix assembly removed from the vehicle and clamped while being glued. Originally it was held together with rivets and the holes for the rivets can still be seen." class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Photo showing the blower/matrix assembly removed from the vehicle and clamped while being glued. Originally it was held together with rivets and the holes for the rivets can still be seen.</div></div>
</div>

<p>
Clean out the inside of the plastic case before putting the new matrix inside and either riveting or glueing the case back together.</p>
<p>Take care to orientate the motor so the small hole in its case is facing the ground when it is fitted. Failure to do this will result in your motor filling with water when it rains (don&#39;t ask how I know).</p>
<p>Re-assemble matrix/blower unit and then screw it back into the chassis - this may need two pairs of hands and a lot of patience due to the location of the screws. A telescopic magnetic device can be useful to retrieve dropped screws! Re-attach the green cylindrical terminal block, re-fit the hoses into the matrix and replace the battery.</p>
<h3><span class="mw-headline" id="Refilling_with_coolant">Refilling with coolant</span></h3>

<p>It may be easier not refitting the plastic radiator cowl just yet as it is easier to get to the radiator bleed screw when bleeding the system. If any of the plastic fasteners were broken whilst removing the radiator cowl, more can be purchased from <a class="external text" href="http://www.elise-shop.com/index.php?main_page=product_info&#38;products_id=382" rel="nofollow">Elise Shop</a>.</p>
<p>Finally add coolant back into the header tank and follow the instructions in <a href="http://wiki.seloc.org/a/Bleed_the_cooling_system" title="Bleed the cooling system">Bleed the cooling system</a>.</p>
<h2><span class="mw-headline" id="See_also">See also</span></h2>
<p><a href="http://wiki.seloc.org/a/Coolant_system" title="Coolant system">Coolant system</a></p>


<p>


</p>