<h2><span class="mw-headline" id="Oil_advice_for_modifiers_and_track_addicts"><b>Oil advice for modifiers and track addicts</b></span></h2>


<p>If you are modding your car and adding BHP or using it off road then consider your oil choice carefully as the stock manufacturers recommended oil will not give you the protection that your engine requires.</p>
<p>A standard oil will not be thermally stable enough to cope with higher temperatures without &#34;shearing&#34; meaning that the oil will not give the same protection after a couple of thousand miles as it it when it was new.</p>
<p>Let’s start with the fundamentals. An engine is a device for converting fuel into motive power. Car enthusiasts get so deep into the details they lose sight of this! </p>
<p>To get more power, an engine must be modified such that it converts more fuel per minute into power than it did in standard form. To produce 6.6 million foot-pounds per minute of power (ie 200 BHP) a modern engine will burn about 0.5 litres of fuel per minute.(Equivalent to 18mpg at 120mph). So, to increase this output to 300BHP or 9.9 million foot-pounds per minute it must be modified to burn (in theory) 0.75 litres. </p>
<p>However, fuel efficiency often goes out of the window when power is the only consideration, so the true fuel burn will be rather more than 0.75 litres/min.</p>
<p>That’s the fundamental point, here’s the fundamental problem: </p>
<p>Less than 30% of the fuel (assuming it’s petrol) is converted to all those foot-pounds. The rest is thrown away as waste heat. True, most of it goes down the exhaust, but over 10% has to be eliminated from the engine internals, and the first line of defence is the oil. </p>
<p>More power means a bigger heat elimination problem. Every component runs hotter; For instance, piston crowns and rings will be running at 280-300C instead of a more normal 240-260C, so it is essential that the oil films on cylinder walls provide an efficient heat path to the block casting, and finally to the coolant. </p>
<p>Any breakdown or carbonisation of the oil will restrict the heat transfer area, leading to serious overheating. </p>
<p>A modern synthetic lubricant based on true temperature-resistant synthetics is essential for long-term reliability. At 250C+, a mineral or hydrocracked mineral oil, particularly a 5W/X or 10W/X grade, is surprisingly volatile, and an oil film around this temperature will be severely depleted by evaporation loss.</p>
<p>Back in the 1970s the solution was to use a thick oil, typically 20W/50; in the late 1980s even 10W/60 grades were used. But in modern very high RPM engines with efficient high-delivery oil pumps thick oils waste power, and impede heat transfer in some situations. </p>
<p>A light viscosity good synthetic formulated for severe competition use is the logical and intelligent choice for the 21st century.</p>
<p>You must seriously consider a &#34;true&#34; synthetic for &#34;shear stability&#34; and the right level of protection.</p>
<p>Petroleum oils tend to have low resistance to “shearing” because petroleum oils are made with light weight basestocks to begin with, they tend to burn off easily in high temperature conditions which causes deposit formation and oil consumption.
As a result of excessive oil burning and susceptibility to shearing (as well as other factors) petroleum oils must be changed more frequently than synthetics.</p>
<p>True synthetic oils (PAO’s and Esters) contain basically no waxy contamination to cause crystallization and oil thickening at cold temperatures. In addition, synthetic basestocks do not thin out very much as temperatures increase. So, pour point depressants are unnecessary and higher viscosity basestock fluids can be used which will still meet the &#34;W&#34; requirements for pumpability. </p>
<p>Hence, little or no VI improver additive would need to be used to meet the sae 30, 40 or 50 classification while still meeting 0W or 5W requirements.</p>
<p>The end result is that very little shearing occurs within true synthetic oils because they are not &#34;propped up&#34; with viscosity index improvers. There simply is no place to shear back to. In fact, this is easy to prove by just comparing synthetic and petroleum oils of the same grade. </p>
<p>Of course, the obvious result is that your oil remains &#34;in grade&#34; for a much longer period of time for better engine protection and longer oil life.</p>
<p>If you would like advice then please feel free to ask.</p>
<p>Cheers
Guy (opieoils)</p>

<p>


</p>