
<div style="page-break-inside: avoid;">
<table cellpadding="0" cellspacing="0" style="clear: right; margin-bottom: .5em; float: right; padding: .5em 0 .8em 1.4em; background: none; width: auto;">
<tr>
<td><table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Pre-launch">Pre-launch</a>
</li>
<li class="toclevel-1"><a href="#Platform_Architecture">Platform Architecture</a>
</li>
<li class="toclevel-1"><a href="#Exige_Models">Exige Models</a>
<ul>
<li class="toclevel-2"><a href="#Exige_S_.282012.29">Exige S (2012)</a>
</li>
<li class="toclevel-2"><a href="#Exige_S_Roadster">Exige S Roadster</a>
</li>
<li class="toclevel-2"><a href="#Exige_V6_Cup">Exige V6 Cup</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Concept_Cars">Concept Cars</a>
<ul>
<li class="toclevel-2"><a href="#Exige_V6_Development_Mules">Exige V6 Development Mules</a>
</li>
<li class="toclevel-2"><a href="#Exige_S_Show_Car">Exige S Show Car</a>
</li>
<li class="toclevel-2"><a href="#Exige_S_Roadster_SPS">Exige S Roadster SPS</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Motorsport">Motorsport</a>
<ul>
<li class="toclevel-2"><a href="#Exige_R-GT">Exige R-GT</a>
</li>
<li class="toclevel-2"><a href="#Exige_V6_Cup_2">Exige V6 Cup</a>
</li>
<li class="toclevel-2"><a href="#Exige_V6_Cup_R">Exige V6 Cup R</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#References">References</a>
</li>
</ul>
</ul></td></tr></table><hr/>
</td></tr></table></div>




<h2><span class="mw-headline" id="Pre-launch">Pre-launch</span></h2>

<p>A V6 engined version of the Exige had been rumored for many years, even back before the introduction of the <a href="http://wiki.seloc.org/a/Category:Lotus_Evora" title="Category:Lotus Evora">Evora</a>, but as rumors built through 2011<sup id="_ref-1" class="reference"><a href="#_note-1" title="">[1]</a></sup>, with prototypes being spotted both with modified S2 Exige style bodywork and camouflaged paintwork at the Nurburgring - with camouflaged cars seen lacking the Exiges traditional roof scoop and, in some cases, the rear wing.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Lotus_Exige_S_2012_Launch.jpg" title="Lotus Exige S (2012) unveiling at Frankfurt Motor Show, 2011."><img src="Lotus_Exige_S_2012_Launch.jpg" alt="Lotus Exige S (2012) unveiling at Frankfurt Motor Show, 2011." title="Lotus Exige S (2012) unveiling at Frankfurt Motor Show, 2011." class="location-left type-thumb" width="400" />
</a>
<div class="thumbcaption">Lotus Exige S (2012) unveiling at Frankfurt Motor Show, 2011.</div></div>
</div>

<p> The car finally broke cover at the Frankfurt Motor Show<sup id="_ref-2" class="reference"><a href="#_note-2" title="">[2]</a></sup> on September 13th with Lotus Advisory Board member Bob Lutz unveiling the Exige S road and Exige R-GT rally cars.</p>
<p>The launch however was only the beginning of the Exige S&#39;s protracted path towards customer deliveries.</p>
<p>At the Frankfurt Motor Show initial deliveries were cited for January 2012<sup id="_ref-3" class="reference"><a href="#_note-3" title="">[3]</a></sup>, but the company was unable to provide official performance, weight or emission figures for the car, instead simply giving estimated 0-60mph, 0-100mph and weight figures of 3.8s, 7.9s and 1080kg respectively as the car was still waiting to undergo the type approval process.</p>
<p>After the Frankfurt launch the car was again seen testing at the Nurburgring<sup id="_ref-4" class="reference"><a href="#_note-4" title="">[4]</a></sup>, along with a test car spotted in Holland<sup id="_ref-5" class="reference"><a href="#_note-5" title="">[5]</a></sup> along with the MY12 Elise S and a dealer preview even at JCT600 in November<sup id="_ref-6" class="reference"><a href="#_note-6" title="">[6]</a></sup>.</p>
<p>A number of dealership demo days were scheduled for December<sup id="_ref-7" class="reference"><a href="#_note-7" title="">[7]</a></sup>, with the blue &#39;Ride and Handling&#39; prototype set to be driven between dealership, however the cars engine was damaged during filming at the companies Hethel test track with Bruno Senna driving the car. Rumors say that Senna selected the wrong gear on a downshift and over-revved the engine, however Lotus never commented on the cause of the damage.</p>
<p>In its place the non-running Frankfurt show car was trailered between the preview days, however the first 3 events had to be cancelled due to the short notice and distances involved. A <a class="external text" href="http://www.seloc.org/2011/12/gallery-exige-s-preview-days-underway/" rel="nofollow">gallery of photos from the preview days</a> and <a class="external text" href="http://www.seloc.org/articles/guides/first-impressions-of-the-exige-s-v6/" rel="nofollow">first impressions</a> on it can be found on the main SELOC website.</p>
<p>Official performance figures<sup id="_ref-8" class="reference"><a href="#_note-8" title="">[8]</a></sup> and initial brochures<sup id="_ref-9" class="reference"><a href="#_note-9" title="">[9]</a></sup> were finally published in January 2012, however the cars 0-100mph and weight figures had increased to 8.5s and 1176kg and customer cars were still nowhere to be seen and delivery dates being pushed out.</p>
<p>In February 2012 Lotus teased a new convertible model at the Geneva motor show, and while many predicted a convertible Evora<sup id="_ref-10" class="reference"><a href="#_note-10" title="">[10]</a></sup> it was instead the Exige S Roadster<sup id="_ref-11" class="reference"><a href="#_note-11" title="">[11]</a></sup> which was shown - explaining the spoiler-less Exige seen testing before the cars launch.</p>
<p>Press reviews finally came out on April 25th<sup id="_ref-12" class="reference"><a href="#_note-12" title="">[12]</a></sup>, with the reviews raving about the cars performance, handling and new Race Mode, but some bemoaning the cramped interior dimensions inherent of the Elise chassis. The take-over of Proton by DRB-Hicom<sup id="_ref-13" class="reference"><a href="#_note-13" title="">[13]</a></sup> however led to a halt in funding, a shutdown of the factory production lines and further delays for deliveries to September 2012<sup id="_ref-14" class="reference"><a href="#_note-14" title="">[14]</a></sup>.</p>
<p>Potential customers for the car finally got a chance to drive it during a series of dealer demo days<sup id="_ref-15" class="reference"><a href="#_note-15" title="">[15]</a></sup> in May, and you can <a class="external text" href="http://www.seloc.org/2012/06/test-driven-exige-s/" rel="nofollow">read about our test drive</a>.</p>
<p>The first line built Exige S came off the production line on July 26th<sup id="_ref-16" class="reference"><a href="#_note-16" title="">[16]</a></sup>, however further checks and quality improvements meant that delays continued, with durability issues being cited as the cause<sup id="_ref-17" class="reference"><a href="#_note-17" title="">[17]</a></sup>. The first cars to be shipped from the factory appeared to be <a href="http://wiki.seloc.org/a/Models_-_Exige_V6#Exige_V6_Cup_Competition" title="Models - Exige V6">Exige V6 Cup</a> cars prepared by Lotus Racing and sold to Asia and the US for the Lotus Cup series<sup id="_ref-18" class="reference"><a href="#_note-18" title="">[18]</a></sup>. On December 11th, 2012 the first European dealer demo cars were delivered to the Frédéric Koninckx Motors and Lotus Verhiest dealerships in Belgium<sup id="_ref-19" class="reference"><a href="#_note-19" title="">[19]</a></sup>, while UK dealer <a class="external text" href="http://www.bellandcolvill.co.uk" rel="nofollow">Bell &#38; Colvill</a> collected the first UK dealer demo car from Lotus&#39;s Hethel factory on December 14th 2012<sup id="_ref-20" class="reference"><a href="#_note-20" title="">[20]</a></sup>.</p>
<p>The first customer delivery was made on January 4th 2013 to SELOC member Harleston<sup id="_ref-21" class="reference"><a href="#_note-21" title="">[21]</a></sup> as a customer car that was built early amongst the later batch of UK dealer cars. </p>

<h2><span class="mw-headline" id="Platform_Architecture">Platform Architecture</span></h2>

<p>The V6 engined Exige retains the same basic <a href="http://wiki.seloc.org/a/Chassis" title="Chassis">chassis</a> that has been used throughout the Elises life, but matches it up with a new rear sub-frame similar in design to that of the Evora with which it shares it&#39;s <a href="http://wiki.seloc.org/a/Toyota_engines#Evora_S.2FExige_S" title="Toyota engines">2GR-FE engine</a>.</p>
<p>Major mechanical changes to previous generation Elise chassis based cars include Evora style cast aluminium lower rear wishbones, larger suspension bushes carried over from the Evora and the addition of a rear anti-roll bar. The front wishbones remain a similar design but with extra strengthening. The steering rack is also replaced by a slightly quicker ratio unit, but despite the weight gain and wider tyres remains non-power-assisted.</p>
<p>Compared the the S2 the Exige V6 has a 70mm longer wheelbase to accommodate the new engine, 25mm wider front track and 38mm wider rear track.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:602px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Exige_V6_and_Elise_S2_Overhead.png" title="Exige V6 and S2 Elise Overhead Comparison"><img src="Exige_V6_and_Elise_S2_Overhead.png" alt="Exige V6 and S2 Elise Overhead Comparison" title="Exige V6 and S2 Elise Overhead Comparison" class="location-center type-thumb" width="600" />
</a>
<div class="thumbcaption">Exige V6 and S2 Elise Overhead Comparison</div></div>
</div>

<p>The 2012 Exige S was also the first Lotus to see the latest generation Bosch derived Lotus DPM system, which boasts a highly acclaimed Race Mode which actively monitors the grip levels of the rear tyres and works to maximise traction.</p>
<h2><span class="mw-headline" id="Exige_Models">Exige Models</span></h2>

<h3><span class="mw-headline" id="Exige_S_.282012.29">Exige S (2012)</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Exige_S_2012_Press_Shot.jpg" title="Lotus Exige S (2012)"><img src="Exige_S_2012_Press_Shot.jpg" alt="Lotus Exige S (2012)" title="Lotus Exige S (2012)" class="location-right type-thumb" width="400" />
</a>
<div class="thumbcaption">Lotus Exige S (2012)</div></div>
</div>

<p>
</p>
<div style="page-break-inside: avoid;">
<table border="1" class="wikitable">
<tr>
<td><b>Layout</b> </td>
<td>Transverse mid engined, rear wheel drive</td></tr>
<tr>
<td><b>Length</b> </td>
<td>4084 mm</td></tr>
<tr>
<td><b>Width</b> </td>
<td>1802 mm</td></tr>
<tr>
<td><b>Height</b> </td>
<td>1129mm</td></tr>
<tr>
<td><b>Engine fuel</b> </td>
<td>Petrol</td></tr>
<tr>
<td><b>Engine configuration</b> </td>
<td>V6 with Supercharger</td></tr>
<tr>
<td><b>Engine capacity</b> </td>
<td>3456 cc</td></tr>
<tr>
<td><b>Engine power</b> </td>
<td>345hp (350PS/257.5KW) at 7000 rpm</td></tr>
<tr>
<td><b>Engine torque</b> </td>
<td>295lb/ft (400Nm) at 4500 rpm</td></tr>
<tr>
<td><b>Engine rev limit</b> </td>
<td>7000rpm (7200rpm transient)</td></tr>
<tr>
<td><b>0-60mph (0-100 km/h)</b> </td>
<td>4.6 seconds (4.8 seconds)</td></tr>
<tr>
<td><b>Top speed</b> </td>
<td>170mph (274kph)</td></tr>
<tr>
<td><b>CO<sub>2</sub>Emissions</b> </td>
<td>236g/km</td></tr>
<tr>
<td><b>Weight</b> </td>
<td>1176kg</td></tr>
<tr>
<td><b>Transmission</b> </td>
<td>6 speed manual</td></tr>
<tr>
<td><b>Drive</b> </td>
<td>RWD</td></tr></table></div>


<h3><span class="mw-headline" id="Exige_S_Roadster">Exige S Roadster</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Exige_S_Roadster_-_Nurburgring.jpg" title="Exige S Roadster (2012)"><img src="Exige_S_Roadster_-_Nurburgring.jpg" alt="Exige S Roadster (2012)" title="Exige S Roadster (2012)" class="location-right type-thumb" width="400" />
</a>
<div class="thumbcaption">Exige S Roadster (2012)</div></div>
</div>

<p>
The soft-top version of the Exige S differs from the coupe not only in the different roof, but also lacks the rear spoiler and front splitter of the coupe. Because of this, and to prevent damage to the soft-top, the Roadster is electronically limited to a top speed of 145mph.</p>
<p>The Roadster also features different <a href="http://wiki.seloc.org/a/Interior_-_Exige_V6#Roadster" title="Interior - Exige V6">interior trim specifications</a> for the Premium and Premium Sport packs, with quilted leather used.</p>

<h3><span class="mw-headline" id="Exige_V6_Cup">Exige V6 Cup</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Exige_V6_Cup.jpg" title="Lotus Exige V6 Cup"><img src="Exige_V6_Cup.jpg" alt="Lotus Exige V6 Cup" title="Lotus Exige V6 Cup" class="location-right type-thumb" width="400" />
</a>
<div class="thumbcaption">Lotus Exige V6 Cup</div></div>
</div>

<p>
A track day focused, road-going version of the <a href="http://wiki.seloc.org/a/Models_-_Exige_V6#Exige_V6_Cup_2" title="Models - Exige V6">Exige V6 Cup race car</a>, first shown at the Lotus Festival 2012. The road going version was first shown by Lotus Racing at the Autosport International 2013 show<sup id="_ref-22" class="reference"><a href="#_note-22" title="">[22]</a></sup>, priced from £52,495.00 + VAT.</p>
<p>The engine remains as per the Exige S, however the Exige V6 Cup features as standard the follow performance upgrades and safety equipment:
</p>
<ul>
<li>Bespoke &#39;V6 Cup&#39; exterior detail &#38; interior trim</li>
<li>T45 steel main roll hoop incorporating &#39;A&#39; frame, harness bar (optional front FIA bolt-in cage)</li>
<li>FIA approved fire suppression system</li>
<li>Internal &#38; external battery isolator switches</li>
<li>Competition drivers seat with 4 point harness (Subject to approval in certain markets)</li>
<li>Race pack - Pirelli Trofeo tyres, 4 mode DPM, 2 piece brake discs, exhaust bypass switch</li>
<li>Multi adjustable suspension</li>
<li>Removable quick release steering wheel</li>
<li>Baffled wet sump system</li>
<li>Front &#38; rear towing eyes</li>
<li>Lotus Racing specific chassis number</li>
<li>Weight reduction of circa 80 kilos (Claimed weight reduction over standard S road model)</li>
</ul>

<p>Many of the changes to the Exige V6 Cup are available through the <a href="http://wiki.seloc.org/a/Lotus_Racing_Exige_V6_Performance_Parts" title="Lotus Racing Exige V6 Performance Parts">Lotus Racing Exige V6 Performance Parts</a> upgrades for the <a href="http://wiki.seloc.org/a/Models_-_Exige_V6#Exige_S_.282012.29" title="Models - Exige V6">Exige S</a>.</p>

<h2><span class="mw-headline" id="Concept_Cars">Concept Cars</span></h2>

<h3><span class="mw-headline" id="Exige_V6_Development_Mules">Exige V6 Development Mules</span></h3>


<div style="page-break-inside: avoid;">
<table class="wikitable" style="float: right; margin: 1em auto 1em auto;">
<tr>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Exige_V6_Development_Mule.jpg" title="Exige V6 Development Mule"><img src="Exige_V6_Development_Mule.jpg" alt="Exige V6 Development Mule" title="Exige V6 Development Mule" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Exige V6 Development Mule</div></div>
</div>
 </td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Exige_V6_Development_Mule_2.jpg" title="Exige V6 Development Mule"><img src="Exige_V6_Development_Mule_2.jpg" alt="Exige V6 Development Mule" title="Exige V6 Development Mule" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Exige V6 Development Mule</div></div>
</div>
</td></tr></table></div>
<p>These early test mules were spotted some time before the initial announcement of the Exige S testing both on the road and at the Nurburgring, with sightings as far back as 2009<sup id="_ref-23" class="reference"><a href="#_note-23" title="">[23]</a></sup>.</p>
<p>These cars were sported modified S2 bodywork, including riveted on arches and front bumper extensions to accommodate the cars wider track and front mounted oil and water coolers.</p>

<h3><span class="mw-headline" id="Exige_S_Show_Car">Exige S Show Car</span></h3>


<div style="page-break-inside: avoid;">
<table class="wikitable" style="float: right; margin: 1em auto 1em auto;">
<tr>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Exige_S_Show_Car.jpg" title="Lotus Exige S Show Car"><img src="Exige_S_Show_Car.jpg" alt="Lotus Exige S Show Car" title="Lotus Exige S Show Car" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Lotus Exige S Show Car</div></div>
</div>
 </td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Exige_S_Show_Car_Interior.jpg" title="Lotus Exige S Show Car"><img src="Exige_S_Show_Car_Interior.jpg" alt="Lotus Exige S Show Car" title="Lotus Exige S Show Car" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Lotus Exige S Show Car</div></div>
</div>
</td></tr></table></div>
<p>Shown at the Frankfurt launch of the Exige S, the Exige S Show Car was a non-functioning model which had to be wheeled around by hand and which was also used for the initial Dealer Preview Days after the original development car that was planned to be used was damaged. It now resides in the Regents Street Lotus Originals store.</p>
<p>Many details on the car differ somewhat from the finished product - including things like the DPM switch, door pulls and lack of hydraulic lifters on the boot-lid.</p>
<p>The show car was finished in Pearl White with red accent details which were not available as factory orders for the production car, and also features a bespoke version of the Premium Sport Pack interior and the cancelled Carbon Pack.</p>

<h3><span class="mw-headline" id="Exige_S_Roadster_SPS">Exige S Roadster SPS</span></h3>


<div style="page-break-inside: avoid;">
<table class="wikitable" style="float: right; margin: 1em auto 1em auto;">
<tr>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Exige_S_Roadster_SPS_1.jpg" title="Lotus Exige S Roadster SPS"><img src="Exige_S_Roadster_SPS_1.jpg" alt="Lotus Exige S Roadster SPS" title="Lotus Exige S Roadster SPS" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Lotus Exige S Roadster SPS</div></div>
</div>
 </td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Exige_S_Roadster_SPS_2.jpg" title="Lotus Exige S Roadster SPS"><img src="Exige_S_Roadster_SPS_2.jpg" alt="Lotus Exige S Roadster SPS" title="Lotus Exige S Roadster SPS" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Lotus Exige S Roadster SPS</div></div>
</div>
</td></tr></table></div>
<p>The Exige S Roadster was first shown at the Geneva Motor Show on 6th March 2012<sup id="_ref-24" class="reference"><a href="#_note-24" title="">[24]</a></sup>.</p>
<p>The show car featured several features not available on the <a href="http://wiki.seloc.org/a/Models_-_Exige_V6#Exige_S_Roadster" title="Models - Exige V6">production model</a> however, including a non-standard paint colour of Mansory Blue and a bespoke Mansory interior that featured additional trimming beyond the standard Premium Pack<sup id="_ref-25" class="reference"><a href="#_note-25" title="">[25]</a></sup>, and the aluminium tub visible on the inside painted matt black.</p>
<p>The car was also said to feature the SPS (Serial Precision Shift) hydraulically automated version of the EA60 gearbox as fitted to the <a href="http://wiki.seloc.org/a/Models_-_Evora#Evora_GTE" title="Models - Evora">Evora GTE</a>, however the show car was non-functional<sup id="_ref-26" class="reference"><a href="#_note-26" title="">[26]</a></sup>. The SPS option was listed both for the Exige S and Exige S Roadster Specifications when the car was first listed on the Lotus Cars website, but was later removed.</p>

<h2><span class="mw-headline" id="Motorsport">Motorsport</span></h2>

<h3><span class="mw-headline" id="Exige_R-GT">Exige R-GT</span></h3>


<div style="page-break-inside: avoid;">
<table class="wikitable" style="float: right; margin: 1em auto 1em auto;">
<tr>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Exige_R-GT_Goodwood_1.jpg" title="Lotus Exige R-GT Rally Car"><img src="Exige_R-GT_Goodwood_1.jpg" alt="Lotus Exige R-GT Rally Car" title="Lotus Exige R-GT Rally Car" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Lotus Exige R-GT Rally Car</div></div>
</div>
 </td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Exige_R-GT_Goodwood_2.jpg" title="Lotus Exige R-GT Rally Car"><img src="Exige_R-GT_Goodwood_2.jpg" alt="Lotus Exige R-GT Rally Car" title="Lotus Exige R-GT Rally Car" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Lotus Exige R-GT Rally Car</div></div>
</div>
</td></tr></table></div>
<p>The Exige R-GT was first shown alongside the standard Exige S road car at the Frankfurt Motor Show 2011<sup id="_ref-27" class="reference"><a href="#_note-27" title="">[27]</a></sup>, the Exige R-GT was the first motor sport variant of the new Exige to be shown to the public. The car was shown initially in a paint scheme designed to match the Lotus Talbot Sunbeam rally cars, but was later changed to the black and gold colour scheme.</p>
<p>Designed for tarmac rallying in the FIA R-GT class for GT Production Cars<sup id="_ref-28" class="reference"><a href="#_note-28" title="">[28]</a></sup> the Exige R-GT features a number of modifications to conform to the class regulations and make it suitable for rallying.
</p>
<ul>
<li>34 mm air restrictor, reducing power to 302bhp</li>
<li>Ballasted to 1200kg minimum weight</li>
<li>Steel rollcage specifically designed and homologated, bolted and bonded on the lightweight Aluminium chassis</li>
<li>Front and rear specific underbody protections</li>
<li>WRC style crew side protections and lexan side windows</li>
<li>Roof cockpit air scoop</li>
<li>3 ways adjustable front and rear specific dampers</li>
<li>6 ratios sequential gearbox, two homologated final drives and LSD differential</li>
<li>Uprated brake discs, calipers, improved cooling and hydraulic handbrake</li>
<li>7&#34; x 17&#34; front wheels with 205-62/17 front tyres</li>
<li>8&#34; x 18&#34; rear wheels with 225-65/18 rear tyres</li>
</ul>

<p>The Exige R-GT received it&#39;s first shakedown test in Turin on December 23rd 2011<sup id="_ref-29" class="reference"><a href="#_note-29" title="">[29]</a></sup> and again in St Remo in March 2012<sup id="_ref-30" class="reference"><a href="#_note-30" title="">[30]</a></sup>,with it&#39;s first event planned for April 2012<sup id="_ref-31" class="reference"><a href="#_note-31" title="">[31]</a></sup>.</p>
<p>The car failed to receive the necessary homologation in time to compete in the Rally 1000 Miglia in April, but made an appearance at the Goodwood Festival of Speed<sup id="_ref-32" class="reference"><a href="#_note-32" title="">[32]</a></sup> and ran as the course car at the Belgian Geko Ypres rally<sup id="_ref-33" class="reference"><a href="#_note-33" title="">[33]</a></sup> before receiving FIA homologation in July 2012<sup id="_ref-34" class="reference"><a href="#_note-34" title="">[34]</a></sup>.</p>
<p>The car made it&#39;s first competitive appearance driven by Bernardo Sousa at the Madeira round of the European Rally Championship, but crashed out on the third stage after suffering issues electrical issues which caused a failure with the gear selection<sup id="_ref-35" class="reference"><a href="#_note-35" title="">[35]</a></sup>. The crash damaged the chassis beyond repair and the car made no more appearances in 2012 - it&#39;s unknown if any Exige R-GT&#39;s will be campaigned in 2013.</p>


<h3><span class="mw-headline" id="Exige_V6_Cup_2">Exige V6 Cup</span></h3>


<div style="page-break-inside: avoid;">
<table class="wikitable" style="float: right; margin: 1em auto 1em auto;">
<tr>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Lotus_Exige_V6_Cup_Competition_1.jpg" title="Lotus Exige V6 Cup Competition"><img src="Lotus_Exige_V6_Cup_Competition_1.jpg" alt="Lotus Exige V6 Cup Competition" title="Lotus Exige V6 Cup Competition" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Lotus Exige V6 Cup Competition</div></div>
</div>
 </td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Lotus_Exige_V6_Cup_Competition_2.jpg" title="Lotus Exige V6 Cup Competition"><img src="Lotus_Exige_V6_Cup_Competition_2.jpg" alt="Lotus Exige V6 Cup Competition" title="Lotus Exige V6 Cup Competition" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Lotus Exige V6 Cup Competition</div></div>
</div>
</td></tr>
<tr>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Lotus_Exige_V6_Cup_Competition_3.jpg" title="Lotus Exige V6 Cup Competition"><img src="Lotus_Exige_V6_Cup_Competition_3.jpg" alt="Lotus Exige V6 Cup Competition" title="Lotus Exige V6 Cup Competition" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Lotus Exige V6 Cup Competition</div></div>
</div>
 </td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Lotus_Exige_V6_Cup_Competition_4.jpg" title="Lotus Exige V6 Cup Competition"><img src="Lotus_Exige_V6_Cup_Competition_4.jpg" alt="Lotus Exige V6 Cup Competition" title="Lotus Exige V6 Cup Competition" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Lotus Exige V6 Cup Competition</div></div>
</div>
</td></tr></table></div>
<p>The Exige V6 Cup was first shown at the Lotus Festival in August 2012<sup id="_ref-36" class="reference"><a href="#_note-36" title="">[36]</a></sup>, with full specifications made available ahead of the cars official unveiling at Autosport International 2013<sup id="_ref-37" class="reference"><a href="#_note-37" title="">[37]</a></sup>. The engine remains the same as in the standard <a href="http://wiki.seloc.org/a/Models_-_Exige_V6#Exige_S_.282012.29" title="Models - Exige V6">Exige S</a>, bar the addition of a baffled wet-sump, while the unladen vehicle mass is dropped to 1080kg.</p>
<p>The Lotus Exige V6 Cup features as standard the follow performance upgrades and safety equipment:
</p>
<ul>
<li>AP-Racing four-piston calipers (front and rear) with ventilated and cross drilled 2 piece discs</li>
<li>Double wishbone suspension with anti-roll bars (front and rear)</li>
<li>Lotus Dynamic Performance Management (Lotus DPM) with switchable driving modes: Touring, Sport and DPM off</li>
<li>Aerodynamically optimised front splitter, rear diffuser and wing</li>
<li>Sport exhaust with bypass valve</li>
<li>Tool kit</li>
<li>2-Way adjustable dampers</li>
<li>FIA approved roll-cage</li>
<li>FIA approved fire extinguisher</li>
<li>6-point race harness (Hans)</li>
<li>Baffled sump</li>
<li>Track specification tow eyes</li>
<li>Head lamp cover decals</li>
<li>Removable steering wheel</li>
<li>Battery Isolator Switch</li>
</ul>

<p>The track only version of the Exige V6 Cup is sold in to the US market and is eligible for racing in the <a class="external text" href="http://www.lotuscup.us/" rel="nofollow">‎ Lotus Cup USA</a> series.</p>

<h3><span class="mw-headline" id="Exige_V6_Cup_R">Exige V6 Cup R</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Lotus-Exige-V6-Cup-R-Development-Car-1.jpg" title="Exige V6 Cup R Development Car"><img src="Lotus-Exige-V6-Cup-R-Development-Car-1.jpg" alt="Exige V6 Cup R Development Car" title="Exige V6 Cup R Development Car" class="location-right type-thumb" width="400" />
</a>
<div class="thumbcaption">Exige V6 Cup R Development Car</div></div>
</div>

<p>
In December 2012 a lucky group of potential Exige V6 Cup customers, including forum member &#39;jokke_vlo&#39; were invited up to Hethel to test out the latest developments by Lotus Racing on the companies test track<sup id="_ref-38" class="reference"><a href="#_note-38" title="">[38]</a></sup>.</p>
<p>The revised car features a number of aerodynamic and mechanical changes to help transform the latest Exige from a road and track day weapon in to a full race ready machine. </p>
<p>On the outside the car has sprouted an extended front splitter and larger, adjustable, rear wing, while a slatted rear engine cover, removed inner rear lights and cut out where the number plate normally rests aid cooling.</p>
<p>Under the hood the Toyota sourced 2GR-FE engine sees a small power increase to 366ps due to revised intake, exhaust and mapping, while a sequential, paddle shift gearbox is added to help improve lap times and durability in race conditions.</p>
<p>Exige V6 Cup R cars are hand-built from the chassis up by Lotus Racing, with sills bolted to the chassis as opposed to being production line built with bonded side panels as on the Exige S and regular Exige V6 Cup cars. This helps with the access and repairs often needed on race cars.</p>
<p>The Lotus Exige V6 Cup R features as standard the follow performance upgrades and safety equipment:
</p>
<ul>
<li>Bespoke &#39;V6 Cup&#39; exterior detail &#38; interior trim</li>
<li>T45 steel main roll hoop incorporating &#39;A&#39; frame, harness bar &#38; front FIA bolt-in cage</li>
<li>Motorsport specification carbon fibre rear wing</li>
<li>Lightweight louvered engine cover</li>
<li>Optional 6 speed sequential transmission with &#39;paddle-shift&#39; operation, race tuned shift strategy</li>
<li>FIA FT3 70 litre capacity fuel cell</li>
<li>FIA approved fire suppression system</li>
<li>Internal &#38; external battery isolator switches</li>
<li>FIA &#38; HANS compliant carbon fibre drivers seat with 6 point harness</li>
<li>Race pack - competition slick tyres, 4 mode DPM, 2 piece brake discs</li>
<li>Multi adjustable competition specification suspension with front &#38; rear anti roll bars</li>
<li>Removable quick release steering wheel</li>
<li>Baffled wet sump system with single rear mounted oil cooler</li>
<li>Front &#38; rear towing eyes</li>
<li>Lotus Racing specific chassis number</li>
<li>Weight reduction of circa 100 kilos (Claimed weight reduction over standard S road model)</li>
</ul>


<h2><span class="mw-headline" id="References">References</span></h2><ol class="references">
<li id="_note-1"><b><a href="#_ref-1" title="">&#8593;</a></b> <a class="external text" href="http://forums.seloc.org/viewthread.php?tid=308000" rel="nofollow">SELOC Forums » SELOC Chat » Imminent new very powerful factory Exige</a></li><li id="_note-2"><b><a href="#_ref-2" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2011/09/lotus-cars-group-lotus-unveils-the-next-generation-exige-at-frankfurt/" rel="nofollow">SELOC - Lotus Cars – Group Lotus unveils the next generation Exige at Frankfurt</a></li><li id="_note-3"><b><a href="#_ref-3" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2011/10/my12-range-set-to-hit-dealers-soon/" rel="nofollow">SELOC - MY12 Range Set To Hit Dealers Soon...</a></li><li id="_note-4"><b><a href="#_ref-4" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2011/10/exige-s-v6-spotted-testing-at-the-nurburgring/" rel="nofollow">SELOC - Exige S V6 Spotted Testing at the Nurburgring</a></li><li id="_note-5"><b><a href="#_ref-5" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2011/11/exige-v6-and-s2-exige-side-by-side-in-the-netherlands/" rel="nofollow">SELOC - Exige V6 and S2 Exige side by side in the Netherlands</a></li><li id="_note-6"><b><a href="#_ref-6" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2011/11/exige-s-v6-pictures-and-video-from-jct600/" rel="nofollow">SELOC - Exige S V6 pictures and video from JCT600</a></li><li id="_note-7"><b><a href="#_ref-7" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2011/12/exige-s-dealer-preview-dates-announced/" rel="nofollow">SELOC - Exige S Dealer Preview Dates Announced</a></li><li id="_note-8"><b><a href="#_ref-8" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2012/01/final-exige-s-performance-and-weight-figures/" rel="nofollow">SELOC - Final Exige S Performance and Weight Figures</a></li><li id="_note-9"><b><a href="#_ref-9" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2012/01/my12-exige-s-brochure-available-online/" rel="nofollow">SELOC - MY12 Exige S Brochure Available Online</a></li><li id="_note-10"><b><a href="#_ref-10" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2012/02/lotus-to-launch-exige-s-convertible-at-geneva/" rel="nofollow">SELOC - Lotus to Launch Exige S Convertible at Geneva</a></li><li id="_note-11"><b><a href="#_ref-11" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2012/03/lotus-cars-hardcore-soft-top/" rel="nofollow">SELOC - Lotus Cars – Hardcore Soft Top</a></li><li id="_note-12"><b><a href="#_ref-12" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2012/04/exige-s-review-day-review-roundup/" rel="nofollow">SELOC - Exige S Review Day – Review Roundup</a></li><li id="_note-13"><b><a href="#_ref-13" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/articles/guides/the-lotus-position-what-happening-at-hethel/" rel="nofollow">SELOC - The Lotus Position – What Happening At Hethel?</a></li><li id="_note-14"><b><a href="#_ref-14" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2012/04/exige-s-deliveries-to-begin-september/" rel="nofollow">SELOC - Exige S Deliveries to Begin September</a></li><li id="_note-15"><b><a href="#_ref-15" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2012/05/exige-s-demo-days/" rel="nofollow">SELOC - Exige S Demo Days</a></li><li id="_note-16"><b><a href="#_ref-16" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2012/07/lotus-cars-first-production-exige-s-comes-off-the-assembly-line/" rel="nofollow">SELOC - Lotus Cars – First Production Exige S comes off the Assembly Line</a></li><li id="_note-17"><b><a href="#_ref-17" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2012/10/exige-s-hit-with-further-delays/" rel="nofollow">SELOC - Exige hit with further delays</a></li><li id="_note-18"><b><a href="#_ref-18" title="">&#8593;</a></b> <a class="external text" href="http://www.lotustalk.com/forums/f163/exige-cup-v-6-a-118692/" rel="nofollow">LotusTalk - Lotus &#34;Track&#34; and Racing Cars - Exige Cup V-6</a></li><li id="_note-19"><b><a href="#_ref-19" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2012/12/european-exige-s-dealer-demo-deliveries-begin/" rel="nofollow">SELOC - European Exige S dealer demo deliveries begin</a></li><li id="_note-20"><b><a href="#_ref-20" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2012/12/bell-and-colvill-collect-uks-first-exige-s-dealer-demonstrator-car/" rel="nofollow">SELOC - Bell &#38; Colvill collect UKs first Exige S dealer demonstrator car</a></li><li id="_note-21"><b><a href="#_ref-21" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2013/01/early-exige-s-customer-cars-begin-to-arrive/" rel="nofollow">SELOC - Early Exige S customer cars begin to arrive</a></li><li id="_note-22"><b><a href="#_ref-22" title="">&#8593;</a></b> <a class="external text" href="http://www.lotuscars.com/gb/news/racing/yes-you-are-seeing-double-lotus-introduce-exige-duo-autosport-international-show" rel="nofollow">Lotus Cars - Yes, you are seeing double…. Lotus introduce Exige duo at Autosport International Show</a></li><li id="_note-23"><b><a href="#_ref-23" title="">&#8593;</a></b> <a class="external text" href="http://www.gtspirit.com/2009/12/08/spyshots-lotus-elise-or-exige-mule/" rel="nofollow">GTSpirit - Spyshots: Lotus Elise or Exige Mule</a></li><li id="_note-24"><b><a href="#_ref-24" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2012/03/lotus-cars-hardcore-soft-top/" rel="nofollow">SELOC - Lotus Cars – Hardcore Soft Top</a></li><li id="_note-25"><b><a href="#_ref-25" title="">&#8593;</a></b> <a class="external text" href="http://forums.seloc.org/p/5984272" rel="nofollow">SELOC Forums » SELOC Chat » The Exige V6 photo thread</a></li><li id="_note-26"><b><a href="#_ref-26" title="">&#8593;</a></b> <a class="external text" href="http://forums.seloc.org/viewthread.php?tid=335614&#38;page=3#pid5685096" rel="nofollow">SELOC Forums » SELOC Chat » FINALLY!!! pics of exige V6 Spyder concept from Top Marques - Monaco</a></li><li id="_note-27"><b><a href="#_ref-27" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2011/09/lotus-cars-the-return-of-lotus-to-rally-2/" rel="nofollow">SELOC - Lotus Cars – The Return of Lotus to Rally</a></li><li id="_note-28"><b><a href="#_ref-28" title="">&#8593;</a></b> <a class="external text" href="http://www.fia.com/sites/default/files/regulation/file/256%20%282013%29.pdf" rel="nofollow">FIA Article 256 (2013) - Specific Regulations for GT Production Cars (Group RGT) - published on 11.12.2012</a></li><li id="_note-29"><b><a href="#_ref-29" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2011/12/lotus-cars-lotus-motorsport-hit-major-milestones-video-and-gallery/" rel="nofollow">SELOC - Lotus Cars – Lotus Motorsport Hit Major Milestones – Video and Gallery</a></li><li id="_note-30"><b><a href="#_ref-30" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2012/03/lotus-cars-rallying-st-remo-test/" rel="nofollow">SELOC - Lotus Cars – Rallying – St Remo Test</a></li><li id="_note-31"><b><a href="#_ref-31" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2012/03/exige-r-gt-to-make-italian-debut/" rel="nofollow">SELOC - Exige R-GT to Make Italian Debut</a></li><li id="_note-32"><b><a href="#_ref-32" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2012/07/video-lotus-take-to-the-goodwood-hillclimb/" rel="nofollow">SELOC - Video – Lotus Take To The Goodwood Hillclimb</a></li><li id="_note-33"><b><a href="#_ref-33" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2012/06/lotus-cars-something-from-the-weekend-26th-june-2012/" rel="nofollow">SELOC - Lotus Cars – Something From The Weekend – 26th June 2012</a></li><li id="_note-34"><b><a href="#_ref-34" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2012/07/lotus-cars-lotus-exige-r-gt-gains-fia-homologation/" rel="nofollow">SELOC - Lotus Cars – Lotus Exige R-GT Gains FIA Homologation</a></li><li id="_note-35"><b><a href="#_ref-35" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2012/07/sousa-and-exige-r-gt-crash-out-of-madeira-debut/" rel="nofollow">SELOC - Sousa and Exige R-GT crash out of Madeira debut</a></li><li id="_note-36"><b><a href="#_ref-36" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2012/08/lotus-racing-exige-v6-cup-specifications/" rel="nofollow">SELOC - Lotus Racing Exige V6 Cup specifications</a></li><li id="_note-37"><b><a href="#_ref-37" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2013/01/lotus-cars-lotus-racing-set-to-reveal-its-motorsport-mettle-at-autosport-international-where-visitors-can-win-a-driving-academy-experience/" rel="nofollow">SELOC - Lotus Cars – Lotus Racing set to reveal its Motorsport mettle at Autosport International where visitors can win a Driving Academy experience</a></li><li id="_note-38"><b><a href="#_ref-38" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2012/12/seloc-member-tests-latest-exige-v6-developments-from-lotus-racing/" rel="nofollow">SELOC - SELOC member tests latest Exige V6 developments from Lotus Racing</a></li>
</ol>