
<div style="page-break-inside: avoid;">
<table cellpadding="0" cellspacing="0" style="clear: right; margin-bottom: .5em; float: right; padding: .5em 0 .8em 1.4em; background: none; width: auto;">
<tr>
<td><table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Chassis">Chassis</a>
<ul>
<li class="toclevel-2"><a href="#2_Way_Adjustable_Spring_and_Damper_Car_Kit">2 Way Adjustable Spring and Damper Car Kit</a>
</li>
<li class="toclevel-2"><a href="#Front_and_Rear_Towing_Eye_Kit">Front and Rear Towing Eye Kit</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Interior">Interior</a>
<ul>
<li class="toclevel-2"><a href="#6_Point_Harness_Kit">6 Point Harness Kit</a>
</li>
<li class="toclevel-2"><a href="#FIA_Fixed_Seat_Runner_Kit">FIA Fixed Seat Runner Kit</a>
</li>
<li class="toclevel-2"><a href="#Harness_Bar_and_4_Point_Harness">Harness Bar and 4 Point Harness</a>
</li>
<li class="toclevel-2"><a href="#Race_Seat.2C_FIA_Hans_Approved_.27V6_Cup.27_Logo">Race Seat, FIA Hans Approved &#39;V6 Cup&#39; Logo</a>
</li>
<li class="toclevel-2"><a href="#Race_Seat.2C_FIA_Hans_Approved_.27V6_Cup_R.27_Logo">Race Seat, FIA Hans Approved &#39;V6 Cup R&#39; Logo</a>
</li>
<li class="toclevel-2"><a href="#Quick_Release_Steering_Wheel_and_Boss">Quick Release Steering Wheel and Boss</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Powertrain">Powertrain</a>
<ul>
<li class="toclevel-2"><a href="#Baffled_Wet_Sump">Baffled Wet Sump</a>
</li>
<li class="toclevel-2"><a href="#Sports_Exhaust">Sports Exhaust</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Miscellaneous">Miscellaneous</a>
<ul>
<li class="toclevel-2"><a href="#70L_Fuel_Cell_Kit">70L Fuel Cell Kit</a>
</li>
<li class="toclevel-2"><a href="#Brake_Upgrade_Kit">Brake Upgrade Kit</a>
</li>
<li class="toclevel-2"><a href="#Performance_Brake_Pads">Performance Brake Pads</a>
</li>
<li class="toclevel-2"><a href="#Polycarbonate_Rear_Window">Polycarbonate Rear Window</a>
</li>
<li class="toclevel-2"><a href="#Triple_Bypass_Radiator">Triple Bypass Radiator</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Coming_soon">Coming soon</a>
</li>
<li class="toclevel-1"><a href="#Contact_details">Contact details</a>
</li>
<li class="toclevel-1"><a href="#References">References</a>
</li>
</ul>
</ul></td></tr></table><hr/>
</td></tr></table></div>



<p>Following the release of the eagerly awaited Lotus Exige S, Lotus Racing have been working on a selection of performance upgrades and parts to enhance the safety, handling and performance for track day applications<sup id="_ref-1" class="reference"><a href="#_note-1" title="">[1]</a></sup>.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:602px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Lotus_Racing_Exige_S_Performance_Parts_Brochure_Page.png" title="Lotus Racing Exige S Performance Parts Brochure Page"><img src="Lotus_Racing_Exige_S_Performance_Parts_Brochure_Page.png" alt="Lotus Racing Exige S Performance Parts Brochure Page" title="Lotus Racing Exige S Performance Parts Brochure Page" class="location-center type-thumb" width="600" />
</a>
<div class="thumbcaption">Lotus Racing Exige S Performance Parts Brochure Page</div></div>
</div>

<h2><span class="mw-headline" id="Chassis">Chassis</span></h2>

<h3><span class="mw-headline" id="2_Way_Adjustable_Spring_and_Damper_Car_Kit">2 Way Adjustable Spring and Damper Car Kit</span></h3>

<p>Part No: <b>ALS9Y0002F</b><br />
Price: <b>£2,495</b></p>
<h3><span class="mw-headline" id="Front_and_Rear_Towing_Eye_Kit">Front and Rear Towing Eye Kit</span></h3>

<p>Part No: <b>ALS9Y0003F</b><br />
Price: <b>£195</b></p>
<h2><span class="mw-headline" id="Interior">Interior</span></h2>

<h3><span class="mw-headline" id="6_Point_Harness_Kit">6 Point Harness Kit</span></h3>

<p>Part No: <b>ALS9Y0006F</b><br />
Price: <b>£345</b></p>
<h3><span class="mw-headline" id="FIA_Fixed_Seat_Runner_Kit">FIA Fixed Seat Runner Kit</span></h3>

<p>Part No: <b>A128U0047S</b><br />
Price: <b>£141.42</b></p>
<h3><span class="mw-headline" id="Harness_Bar_and_4_Point_Harness">Harness Bar and 4 Point Harness</span></h3>

<p>Part No: <b>ALS9Y0001F</b><br />
Price: <b>£395</b></p>
<h3><span class="mw-headline" id="Race_Seat.2C_FIA_Hans_Approved_.27V6_Cup.27_Logo">Race Seat, FIA Hans Approved &#39;V6 Cup&#39; Logo</span></h3>

<p>Part No: <b>ALS9V0001F</b><br />
Price: <b>£995</b></p>
<h3><span class="mw-headline" id="Race_Seat.2C_FIA_Hans_Approved_.27V6_Cup_R.27_Logo">Race Seat, FIA Hans Approved &#39;V6 Cup R&#39; Logo</span></h3>

<p>Part No: <b>ALS9V0002F</b><br />
Price: <b>£995</b></p>
<h3><span class="mw-headline" id="Quick_Release_Steering_Wheel_and_Boss">Quick Release Steering Wheel and Boss</span></h3>

<p>Part No: <b>ALS9Y0004F</b><br />
Price: <b>£495</b></p>
<h2><span class="mw-headline" id="Powertrain">Powertrain</span></h2>

<h3><span class="mw-headline" id="Baffled_Wet_Sump">Baffled Wet Sump</span></h3>

<p>Part No: <b>ALS5E0149F</b><br />
Price: <b>£1,495</b></p>
<h3><span class="mw-headline" id="Sports_Exhaust">Sports Exhaust</span></h3>

<p>Part No: <b>LOTAC05504</b><br />
Price: <b>£682.49</b></p>
<h2><span class="mw-headline" id="Miscellaneous">Miscellaneous</span></h2>

<h3><span class="mw-headline" id="70L_Fuel_Cell_Kit">70L Fuel Cell Kit</span></h3>

<p>Part No: <b>ALS9Y0005F</b><br />
Price: <b>£1,980.18</b></p>
<h3><span class="mw-headline" id="Brake_Upgrade_Kit">Brake Upgrade Kit</span></h3>

<p>Part No: <b>ALS9Y0007F</b><br />
Price: <b>£2,295</b></p>
<h3><span class="mw-headline" id="Performance_Brake_Pads">Performance Brake Pads</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/File:Evora_GTN_-_Miscellaneous_-_Performance_Brake_Pads_%E2%80%93_Pagid_RS14.jpg" ><img src="Evora_GTN_-_Miscellaneous_-_Performance_Brake_Pads_%E2%80%93_Pagid_RS14.jpg" class="location-right type-thumb" width="200" />
</a></div>
</div>

<p>
Front Part No: <b>ALS5J0140F</b>
Rear Part No: <b>ALS5J0177F</b></p>
<p>Pagid track pads with improved frictional coefficients for improved bite. Compound also improves fade resistance whilst maintaining good wear rate characteristics. Supplied as an axle set.</p>
<p>Price: <b>£225</b></p>

<h3><span class="mw-headline" id="Polycarbonate_Rear_Window">Polycarbonate Rear Window</span></h3>

<p>Part No: <b>ALS3B0133K</b><br />
Price: <b>£245</b></p>
<h3><span class="mw-headline" id="Triple_Bypass_Radiator">Triple Bypass Radiator</span></h3>

<p>Part No: <b>ALS3K0034F</b><br />
Price: <b>£307.33</b></p>
<h2><span class="mw-headline" id="Coming_soon">Coming soon</span></h2>


<ul>
<li>Ohlin Adjustable Race Dampers</li>
<li>Carbon Rear Tailgate</li>
<li>Lightweight Battery</li>
<li>Performance Road Tyres</li>
<li>High Downforce Carbon Rear Wing</li>
<li>Stiffer Engine Mounts</li>
<li>Xtrac Sequential Gearbox with Paddleshift</li>
</ul>

<h2><span class="mw-headline" id="Contact_details">Contact details</span></h2>

<p>For further information please contact Adrian Kent - Parts Department<br />
Telephone: +44 (0)1953 608980<br />
Email: akent@lotuscars.com</p>
<p>All prices exclude VAT, delivery and local taxes. All parts shown are for track use only and may effect standard vehicle warranty.</p>
<h2><span class="mw-headline" id="References">References</span></h2><ol class="references">
<li id="_note-1"><b><a href="#_ref-1" title="">&#8593;</a></b> <a class="external text" href="http://forums.seloc.org/viewthread.php?tid=354674" rel="nofollow">SELOC Chat » Exige V6 - Performance Brake Option</a></li>
</ol>