<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Wheels">Wheels</a>
<ul>
<li class="toclevel-2"><a href="#Lotus.2FOE">Lotus/OE</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Wheel_Dimensions">Wheel Dimensions</a>
</li>
<li class="toclevel-1"><a href="#Wheel_Bolts">Wheel Bolts</a>
</li>
<li class="toclevel-1"><a href="#Tyres">Tyres</a>
<ul>
<li class="toclevel-2"><a href="#OE_Fitment">OE Fitment</a>
</li>
<li class="toclevel-2"><a href="#Alternatives">Alternatives</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#References">References</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Wheels">Wheels</span></h2>

<h3><span class="mw-headline" id="Lotus.2FOE">Lotus/OE</span></h3>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>Design </th>
<th>Pictures </th>
<th>Colours </th>
<th>Size </th>
<th>Part numbers </th>
<th>Weight</th></tr>
<tr>
<th>Standard</th>
<td align="Center"><a class="image" href="http://wiki.seloc.org/a/File:Exige_S_Wheel_(Black).png" title="Black, cast"><img src="Exige_S_Wheel_(Black).png" alt="Black, cast" width="120" />
</a> <a class="image" href="http://wiki.seloc.org/a/File:Exige_S_Wheel_(Silver).png" title="Silver, cast"><img src="Exige_S_Wheel_(Silver).png" alt="Silver, cast" width="120" />
</a> <a class="image" href="http://wiki.seloc.org/a/File:Exige_S_Wheel_(Diamond_Cut).png" title="Diamond Cut, cast"><img src="Exige_S_Wheel_(Diamond_Cut).png" alt="Diamond Cut, cast" width="120" />
</a> </td>
<td>Black - Cast<br />Diamond Cut - Cast<br />Silver - Cast </td>
<td>Front: 7.5J x 17&#34;<br />Rear: 9.5J x 18&#34; </td>
<td>Black Front: A138G0019F<br />Black Rear: A138G0024F<br />Diamond Cut Front: A138G0001F<br />Diamond Cut Rear: A138G0002F<br />Silver Front: A138G0020F<br />Silver Rear: A138G0052F</td>
<td>Front: 7.50kg<br />Rear: 11.07kg</td></tr>
<tr>
<th>Winter</th>
<td>Cast alloy, 12 spoke, 5-bolt fixing</td>
<td />
<td>Front: 7.5J x 17&#34; ET30<br />Rear: 8.0J x 18&#34; ET15</td>
<td>Front: A138G0007F<br />Rear: A138G0008F</td>
<td></td></tr></table></div>

<h2><span class="mw-headline" id="Wheel_Dimensions">Wheel Dimensions</span></h2>

<p>Details provided by Simon Bichara<sup id="_ref-1" class="reference"><a href="#_note-1" title="">[1]</a></sup>.</p>

<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>Type</th>
<th>Standard</th>
<td>Cast alloy, 5 spoke-split in pairs, silver or black, 5-bolt fixing with diamond cut machine finish on the 5 radial spokes</td></tr>
<tr>
<th rowspan="2">Size</th>
<th>Front</th>
<td>7.5J x 17 H2 ET 26.3</td></tr>
<tr>
<th>Rear</th>
<td>9.5J x 18 H2 ET35</td></tr>
<tr>
<th rowspan="2">Inset</th>
<th>Front</th>
<td>+ 26.0 mm</td></tr>
<tr>
<th>Rear</th>
<td>+ 35.0 mm</td></tr>
<tr>
<th rowspan="2">PCD</th>
<th>Front</th>
<td>5x110.0 ± 0.1 mm</td></tr>
<tr>
<th>Rear</th>
<td>5x114.3 ± 0.1 mm</td></tr>
<tr>
<th rowspan="3">Wheel bolts</th>
<th>Thread</th>
<td>M12 x 1.5 x 26 mm</td></tr>
<tr>
<th>Torque</th>
<td>105 Nm</td></tr>
<tr>
<th>Seat</th>
<td>60° taper</td></tr>
<tr>
<th colspan="2">Centre spigot hole diameter</th>
<td>65 mm</td></tr>
<tr>
<th colspan="2">Radial run-out at bead seat</th>
<td>0.3 mm max.</td></tr>
<tr>
<th colspan="2">Laterial run-out at bead seat</th>
<td>0.3 mm max.</td></tr></table></div>

<p>Note that the inset figure is the displacement of the wheelrim centreline relative to the wheel/hub mounting face. A positive inset indicates that the wheelrim centreline lies inboard of the wheel mounting face, whereas a negative inset means the wheelrim centreline is outboard of the mounting face.</p>
<h2><span class="mw-headline" id="Wheel_Bolts">Wheel Bolts</span></h2>

<p>Wheel bolts should be tightened to 105 Nm.</p>
<h2><span class="mw-headline" id="Tyres">Tyres</span></h2>

<p>As standard the tyres on the <a href="http://wiki.seloc.org/a/Models_-_Exige_V6#Exige_S_.282012.29" title="Models - Exige V6">Exige S</a> are the following sizes:<br />
Front: 205/45 R17 88Y, 32 psi (2.2 bar)<br />
Rear: 265/35 R18 97Y (Corsa)/93Y (Trofeo), 38 psi (2.6 bar)</p>
<h3><span class="mw-headline" id="OE_Fitment">OE Fitment</span></h3>

<p>As standard the Exige S comes equipped with <a class="external text" href="http://www.pirelli.com/tyre/gb/en/car/sheet/pzero_corsa_system.html" rel="nofollow">Pirelli P Zero Corsa</a> summer tyres.</p>
<p>Track focused <a class="external text" href="http://www.pirelli.com/tyre/gb/en/car/sheet-motorsport/pzero_trofeo.html" rel="nofollow">Pirelli P Zero Trofeo</a> tyres are also available from Lotus, combining 2 distinct tread patterns. The inner area, together with the longitudinal grooves, responds to the critical issues of wet surfaces and aquaplaning, while the outer area with pattern derived from rally asphalt applications, ensures the required rigidity to cope with the stresses during cornering, typical of racetrack driving.</p>
<p>For winter tyres Lotus specify Pirelli SottoZero Serie II tyres, SottoZero 210 Serie II 205/45 R17 88V M+S (33.5 psi) for the fronts, SottoZero 240 Serie II 235/40 R18 95V M+S (36 psi) for the rears. Although the rear tyres can fit the standard 9.5J x 18&#34; rear wheels, Lotus also supply 8J x 18&#34; rear wheels.</p>
<h3><span class="mw-headline" id="Alternatives">Alternatives</span></h3>

<p><a class="external text" href="http://www.avonmotorsport.com/road-legal/performance/zzr" rel="nofollow">Avon Motorsport ZZR</a> tyres are available to fit the <a href="http://wiki.seloc.org/a/Models_-_Exige_V6#Exige_S_.282012.29" title="Models - Exige V6">Exige S</a> and are used for the <a href="http://wiki.seloc.org/a/Models_-_Exige_V6#Exige_V6_Cup_2" title="Models - Exige V6">Exige V6 Cup</a> and <a href="http://wiki.seloc.org/a/Models_-_Exige_V6#Exige_V6_Cup_R" title="Models - Exige V6">Exige V6 Cup R</a> for the <a class="external text" href="http://www.lotrdc.com/lotuscupuk/" rel="nofollow">Lotus Cup UK</a> and <a class="external text" href="http://www.lotrdc.com/lotuscupeurope/" rel="nofollow">Europe</a> series. The fronts are a fraction wider at 215/40 R17, resulting in a slight decrease in rolling radius for the front tyre as there is a 1.95% decrease in diameter due to the lower side profile.</p>
<p>Conti Wintersport TS 830P tyres are also available to fit the Exige S as an alternative winter tyre<sup id="_ref-2" class="reference"><a href="#_note-2" title="">[2]</a></sup>.<br />
205/45/17 Conti WinterContact TS 830P 205/45 R17 88V XL<br />
265/35/18 Conti WinterContact TS 830P 265/35 R18 97V XL</p>
<h2><span class="mw-headline" id="References">References</span></h2><ol class="references">
<li id="_note-1"><b><a href="#_ref-1" title="">&#8593;</a></b> <a class="external text" href="http://forums.seloc.org/p/6089781" rel="nofollow">SELOC Forums » SELOC Chat » New Exige S Begins Production</a></li><li id="_note-2"><b><a href="#_ref-2" title="">&#8593;</a></b> <a class="external text" href="http://forums.seloc.org/p/6027638" rel="nofollow">SELOC Chat » MUCKING ABOUT IN THE SNOW(Lotus&#39;s): PART TWO</a></li>
</ol>