
<p>The interior of the V6-engined Exige S is very closely related to that of S2 Exige S, with some notable changes including the removal of the Start button to accommodate the <a href="http://wiki.seloc.org/a/Lotus_DPM#Exige_S" title="Lotus DPM">DPM switch</a>, the introduction of some new interior options and general quality improvements.</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Standard">Standard</a>
</li>
<li class="toclevel-1"><a href="#Coupe">Coupe</a>
<ul>
<li class="toclevel-2"><a href="#Premium_Pack">Premium Pack</a>
</li>
<li class="toclevel-2"><a href="#Premium_Pack_Sport">Premium Pack Sport</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Roadster">Roadster</a>
<ul>
<li class="toclevel-2"><a href="#Premium_Pack_2">Premium Pack</a>
</li>
<li class="toclevel-2"><a href="#Premium_Pack_Sport_2">Premium Pack Sport</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#V6_Cup">V6 Cup</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Standard">Standard</span></h2>

<div class="thumb tright">
<div class="thumbinner" style="width:82px;"><a class="internal" href="http://wiki.seloc.org/a/image:Exige_V6_Interior_(Standard).png" ><img src="Exige_V6_Interior_(Standard).png" class="location-right type-thumb" width="80" />
</a></div>
</div>

<p>
</p>
<ul>
<li>Only available trimmed in black cloth.<br /></li>
<li>Standard steering wheel.<br /></li>
<li>Limited carpet set.</li>
</ul>

<p><b>Colour Swatches</b></p>
<p><a class="image" href="http://wiki.seloc.org/a/image:Swatch_-_Charcoal_Cloth.png" ><img src="Swatch_-_Charcoal_Cloth.png" class="location-left" width="100" />
</a></p>


<h2><span class="mw-headline" id="Coupe">Coupe</span></h2>

<h3><span class="mw-headline" id="Premium_Pack">Premium Pack</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:82px;"><a class="internal" href="http://wiki.seloc.org/a/image:Exige_V6_Interior_(Coupe_-_Premium).png" ><img src="Exige_V6_Interior_(Coupe_-_Premium).png" class="location-right type-thumb" width="80" />
</a></div>
</div>

<p>
</p>
<ul>
<li>Choice of leather colours: Ebony Black, Venom Red, Ivory White, Ash Grey, Cocoa Brown, Cognac Brown, Imperial Blue<br /></li>
<li>Covered foot well area (carpet + leather)<br /></li>
<li>Premium steering wheel in full black leather<br /></li>
<li>Leather sills<br /></li>
<li>Door panels in leather<br /></li>
<li>Sport seats in full leather<br /></li>
<li>Trinket tray with divider and stowage mats<br /></li>
<li>Leather dashboard area</li>
</ul>

<p><b>Colour Swatches</b></p>
<p><a class="image" href="http://wiki.seloc.org/a/image:Swatch_-_Ebony_Black.png" ><img src="Swatch_-_Ebony_Black.png" width="100" />
</a> <a class="image" href="http://wiki.seloc.org/a/image:Swatch_-_Venom_Red.png" ><img src="Swatch_-_Venom_Red.png" width="100" />
</a> <a class="image" href="http://wiki.seloc.org/a/image:Swatch_-_Ivory_White.png" ><img src="Swatch_-_Ivory_White.png" width="100" />
</a> <a class="image" href="http://wiki.seloc.org/a/image:Swatch_-_Ash_Grey.png" ><img src="Swatch_-_Ash_Grey.png" width="100" />
</a> <a class="image" href="http://wiki.seloc.org/a/image:Swatch_-_Cocoa_Brown.png" ><img src="Swatch_-_Cocoa_Brown.png" width="100" />
</a> <a class="image" href="http://wiki.seloc.org/a/image:Swatch_-_Cognac_Brown.png" ><img src="Swatch_-_Cognac_Brown.png" width="100" />
</a> <a class="image" href="http://wiki.seloc.org/a/image:Swatch_-_Imperial_Blue.png" ><img src="Swatch_-_Imperial_Blue.png" width="100" />
</a></p>

<h3><span class="mw-headline" id="Premium_Pack_Sport">Premium Pack Sport</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:82px;"><a class="internal" href="http://wiki.seloc.org/a/image:Exige_V6_Interior_(Coupe_-_Premium_Sport).png" ><img src="Exige_V6_Interior_(Coupe_-_Premium_Sport).png" class="location-right type-thumb" width="80" />
</a></div>
</div>

<p>
</p>
<ul>
<li>Sports seats in Ebony Black leather or Ebony Black/Slate Grey SuedeTex combination with carbon effect leather inserts<br /></li>
<li>Leather or SuedeTex centre console<br /></li>
<li>Premium Sport steering wheel<br /></li>
<li>Door panels in leather or SuedeTex</li>
</ul>

<p><b>Colour Swatches</b></p>
<p><a class="image" href="http://wiki.seloc.org/a/image:Swatch_-_Ebony_Black.png" ><img src="Swatch_-_Ebony_Black.png" width="100" />
</a> <a class="image" href="http://wiki.seloc.org/a/image:Swatch_-_Slate_Grey_SuedeTex.png" ><img src="Swatch_-_Slate_Grey_SuedeTex.png" width="100" />
</a></p>

<h2><span class="mw-headline" id="Roadster">Roadster</span></h2>

<h3><span class="mw-headline" id="Premium_Pack_2">Premium Pack</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:82px;"><a class="internal" href="http://wiki.seloc.org/a/image:Exige_V6_Interior_(Roadster_-_Premium).png" ><img src="Exige_V6_Interior_(Roadster_-_Premium).png" class="location-right type-thumb" width="80" />
</a></div>
</div>

<p>
</p>
<ul>
<li>Choice of leather colours: Ebony Black, Venom Red, Ivory White, Ash Grey, Cocoa Brown, Cognac Brown, Imperial Blue<br /></li>
<li>Covered foot well area (carpet + leather)<br /></li>
<li>Premium steering wheel in full black leather<br /></li>
<li>Leather sills<br /></li>
<li>Quilted door panels in leather<br /></li>
<li>Quilted Sport seats in full leather<br /></li>
<li>Trinket tray with divider and stowage mats<br /></li>
<li>Leather dashboard area</li>
</ul>

<p><b>Colour Swatches</b></p>
<p><a class="image" href="http://wiki.seloc.org/a/image:Swatch_-_Ebony_Black.png" ><img src="Swatch_-_Ebony_Black.png" width="100" />
</a> <a class="image" href="http://wiki.seloc.org/a/image:Swatch_-_Venom_Red.png" ><img src="Swatch_-_Venom_Red.png" width="100" />
</a> <a class="image" href="http://wiki.seloc.org/a/image:Swatch_-_Ivory_White.png" ><img src="Swatch_-_Ivory_White.png" width="100" />
</a> <a class="image" href="http://wiki.seloc.org/a/image:Swatch_-_Ash_Grey.png" ><img src="Swatch_-_Ash_Grey.png" width="100" />
</a> <a class="image" href="http://wiki.seloc.org/a/image:Swatch_-_Cocoa_Brown.png" ><img src="Swatch_-_Cocoa_Brown.png" width="100" />
</a> <a class="image" href="http://wiki.seloc.org/a/image:Swatch_-_Cognac_Brown.png" ><img src="Swatch_-_Cognac_Brown.png" width="100" />
</a> <a class="image" href="http://wiki.seloc.org/a/image:Swatch_-_Imperial_Blue.png" ><img src="Swatch_-_Imperial_Blue.png" width="100" />
</a></p>

<h3><span class="mw-headline" id="Premium_Pack_Sport_2">Premium Pack Sport</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:82px;"><a class="internal" href="http://wiki.seloc.org/a/image:Exige_V6_Interior_(Roadster_-_Premium_Sport).png" ><img src="Exige_V6_Interior_(Roadster_-_Premium_Sport).png" class="location-right type-thumb" width="80" />
</a></div>
</div>

<p>
</p>
<ul>
<li>Quilted Sports seats in Ebony Black leather or Ebony Black/Slate Grey SuedeTex combination<br /></li>
<li>Leather or SuedeTex centre console<br /></li>
<li>Premium Sport steering wheel<br /></li>
<li>Door panels in leather or SuedeTex</li>
</ul>

<p><b>Colour Swatches</b></p>
<p><a class="image" href="http://wiki.seloc.org/a/image:Swatch_-_Ebony_Black.png" ><img src="Swatch_-_Ebony_Black.png" width="100" />
</a> <a class="image" href="http://wiki.seloc.org/a/image:Swatch_-_Slate_Grey_SuedeTex.png" ><img src="Swatch_-_Slate_Grey_SuedeTex.png" width="100" />
</a></p>

<h2><span class="mw-headline" id="V6_Cup">V6 Cup</span></h2>

<div class="thumb tright">
<div class="thumbinner" style="width:82px;"><a class="internal" href="http://wiki.seloc.org/a/image:Exige_V6_Cup_Seat.png" ><img src="Exige_V6_Cup_Seat.png" class="location-right type-thumb" width="80" />
</a></div>
</div>

<p>
</p>
<ul>
<li>Bespoke &#39;V6 Cup&#39; interior trim</li>
<li>T45 steel main roll hoop incorporating &#39;A&#39; frame, harness bar (optional front FIA bolt-in cage)</li>
<li>FIA approved fire suppression system</li>
<li>Internal &#38; external battery isolator switches</li>
<li>Competition drivers seat with 4 point harness (Subject to approval in certain markets)</li>
</ul>


<p>
</p>