
<p>The official Lotus Price List for 2013 can be found <a class="external text" href="http://Evorainfo.net/FileStore/PDFs/Lotus%20Customer%20Price%20List%202013%20ENG.pdf" rel="nofollow">here</a>.</p>
<p>This page is a tabulated reproduction of the information contained in this PDF.</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#The_Lotus_Elise_Range">The Lotus Elise Range</a>
<ul>
<li class="toclevel-2"><a href="#Price">Price</a>
</li>
<li class="toclevel-2"><a href="#Vehicle_Options">Vehicle Options</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#The_Lotus_Exige_S">The Lotus Exige S</a>
<ul>
<li class="toclevel-2"><a href="#Price_2">Price</a>
</li>
<li class="toclevel-2"><a href="#Vehicle_Options_2">Vehicle Options</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#The_Lotus_Evora_Range">The Lotus Evora Range</a>
<ul>
<li class="toclevel-2"><a href="#Price_3">Price</a>
</li>
<li class="toclevel-2"><a href="#Vehicle_Options_3">Vehicle Options</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#The_Lotus_Evora_Sports_Racer">The Lotus Evora Sports Racer</a>
<ul>
<li class="toclevel-2"><a href="#Price_4">Price</a>
</li>
<li class="toclevel-2"><a href="#Vehicle_Options_4">Vehicle Options</a>
</li>
<li class="toclevel-2"><a href="#Standard_Specification">Standard Specification</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Disclaimer">Disclaimer</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="The_Lotus_Elise_Range">The Lotus Elise Range</span></h2>

<h3><span class="mw-headline" id="Price">Price</span></h3>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<td width="440"><b>Price</b></td>
<th width="90">Elise</th>
<th width="90">Elise CR</th>
<th width="90">Elise S</th></tr>
<tr>
<td><b>Base price including VAT and excluding on the road costs†</b></td>
<td>£28,100</td>
<td>£27,500</td>
<td>£36,200</td></tr></table></div>

<h3><span class="mw-headline" id="Vehicle_Options">Vehicle Options</span></h3>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<td width="440"><b>Vehicle Options</b></td>
<th width="90">Elise</th>
<th width="90">Elise CR</th>
<th width="90">Elise S</th></tr>
<tr>
<td><b>Touring Pack</b></td>
<td>£2,100</td>
<td>N/A</td>
<td>£2,100</td></tr>
<tr>
<td colspan="4">Choice of leather colour: Ebony Black, Ivory White, Venom Red, Cognac Brown, Imperial Blue, Cocoa Brown, Ash Grey, leather seats, padded leather door panels, leather door inserts, leather trimmed centre console, black leather handbrake lever gaiter, black carpet mats with embroidered Elise logo, noise insulation panelling, auxiliary driving lights, USB connection for various iPod® models, MP3 players and memory sticks, trinket tray divider and cup holder, cruise control</td></tr>
<tr>
<td><b>Comfort Pack</b></td>
<td>N/A</td>
<td>£1,100</td>
<td>N/A</td></tr>
<tr>
<td colspan="4">CD/MP3/WMA receiver with 4 speakers, comfort mats with CR logo, central door locking, sound insulation, lightweight aluminium passenger footrest, front mud flaps, standard capacity battery, standard suspension with standard anti-roll bar</td></tr>
<tr>
<td><b>Sport Pack</b></td>
<td>£1,800</td>
<td>N/A</td>
<td>£1,800</td></tr>
<tr>
<td colspan="4">Bilstein sports dampers, Sport wheel, silver, forged 14-spoke (16” front and 17” rear), cloth sports seats (select Sport Pack and Touring Pack together and the sport seat will be trimmed in either black leather or SuedeTex®) and Sports mode for Lotus DPM</td></tr>
<tr>
<td><b>Black Style Pack</b></td>
<td>£550</td>
<td>S</td>
<td>£550</td></tr>
<tr>
<td colspan="4">Specified wheel choice in black and black rear diffuser</td></tr>
<tr>
<td><b>Power Pack*</b></td>
<td>POA</td>
<td>POA</td>
<td>POA</td></tr>
<tr>
<td colspan="4">Sports exhaust upgrade and Sports airbox upgrade</td></tr>
<tr>
<td><b>Black soft-top</b></td>
<td>S</td>
<td>£600</td>
<td>S</td></tr>
<tr>
<td><b>Hard-top</b></td>
<td>£1,100</td>
<td>£1,100</td>
<td>£1,100</td></tr>
<tr>
<td><b>Air conditioning</b></td>
<td>£1,100</td>
<td>£1,100</td>
<td>£1,100</td></tr>
<tr>
<td><b><a href="http://wiki.seloc.org/a/Paint_Colours_-_2012" title="Paint Colours - 2012">Metalic paint</a></b></td>
<td>£600</td>
<td>N/A</td>
<td>£600</td></tr>
<tr>
<td><b><a href="http://wiki.seloc.org/a/Paint_Colours_-_2012" title="Paint Colours - 2012">Premium paint</a></b></td>
<td>£1,200</td>
<td>N/A</td>
<td>£1,200</td></tr>
<tr>
<td><b><a href="http://wiki.seloc.org/a/Paint_Colours_-_2012" title="Paint Colours - 2012">Motorsport paint</a></b></td>
<td>£1,800</td>
<td>N/A</td>
<td>£1,800</td></tr>
<tr>
<td><b><a href="http://wiki.seloc.org/a/Paint_Colours_-_2012" title="Paint Colours - 2012">Matt paint</a></b></td>
<td>N/A</td>
<td>£1,000</td>
<td>N/A</td></tr>
<tr>
<td><b>Optional wheel, black, forged 14-spoke (16” front and 17” rear)</b></td>
<td>N/A</td>
<td>£1,200</td>
<td>N/A</td></tr></table></div>

<h2><span class="mw-headline" id="The_Lotus_Exige_S">The Lotus Exige S</span></h2>

<h3><span class="mw-headline" id="Price_2">Price</span></h3>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<td width="620"><b>Price</b></td>
<th width="90">Exige S</th></tr>
<tr>
<td><b>Base price including VAT and excluding on the road costs†</b></td>
<td>£52,900</td></tr></table></div>

<h3><span class="mw-headline" id="Vehicle_Options_2">Vehicle Options</span></h3>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<td width="620"><b>Vehicle Options</b></td>
<th width="90">Exige S</th></tr>
<tr>
<td><b><a href="http://wiki.seloc.org/a/Interior_-_Exige_V6#Premium_Pack" title="Interior - Exige V6">Premium Pack</a></b></td>
<td>£2,000</td></tr>
<tr>
<td colspan="2">Choice of leather colour: Ebony Black, Ivory White, Venom Red, Cognac Brown, Imperial Blue, Cocoa Brown, Ash Grey, leather centre console, fully covered foot well area (carpet + leather), Premium steering wheel in full black leather, leather sills, door panels in leather, Premium seats in full leather, full sound insulating material, dark trinket tray, face-level air vents covered in leather</td></tr>
<tr>
<td><b><a href="http://wiki.seloc.org/a/Interior_-_Exige_V6#Premium_Pack_Sport" title="Interior - Exige V6">Premium Pack Sport (choice of leather or SuedeTex®)</a></b></td>
<td>£1,500</td></tr>
<tr>
<td colspan="2">Sport seats in Ebony Black leather or Ebony Black/Slate Grey SuedeTex® combination with carbon effect leather inserts, leather or SuedeTex® centre console, black floor mats, Premium Sport steering wheel, door panels in leather or SuedeTex®</td></tr>
<tr>
<td><b>Race Pack</b></td>
<td>£2,000</td></tr>
<tr>
<td colspan="2">4 mode Lotus DPM system including launch control, exhaust bypass valve override switch, optimised suspension to suit the Trofeo tyre characteristics</td></tr>
<tr>
<td><b>Convenience Pack</b></td>
<td>£350</td></tr>
<tr>
<td colspan="2">Cruise Control, trinket tray divider, USB connection, cup holder</td></tr>
<tr>
<td><b>Air conditioning</b></td>
<td>£1,100</td></tr>
<tr>
<td><b>Rear parking sensors</b></td>
<td>£350</td></tr>
<tr>
<td><b>Heated seats</b></td>
<td>£350</td></tr>
<tr>
<td><b>Contrast stitching</b> Premium Pack Sport required</td>
<td>£245</td></tr>
<tr>
<td><b><a href="http://wiki.seloc.org/a/Wheels_and_tyres_-_Exige_V6#OE_Fitment" title="Wheels and tyres - Exige V6">Trofeo tyres</a></b></td>
<td>£800</td></tr>
<tr>
<td><b><a href="http://wiki.seloc.org/a/Brakes_-_V6#Brake_Upgrade_Kit" title="Brakes - V6">Two-piece high performance brake discs</a></b></td>
<td>£1,700</td></tr>
<tr>
<td><b><a href="http://wiki.seloc.org/a/Paint_Colours_-_2012" title="Paint Colours - 2012">Metalic paint</a></b></td>
<td>£600</td></tr>
<tr>
<td><b><a href="http://wiki.seloc.org/a/Paint_Colours_-_2012" title="Paint Colours - 2012">Premium paint</a></b></td>
<td>£1,200</td></tr>
<tr>
<td><b><a href="http://wiki.seloc.org/a/Paint_Colours_-_2012" title="Paint Colours - 2012">Motorsport paint</a></b></td>
<td>£1,800</td></tr>
<tr>
<td><b><a href="http://wiki.seloc.org/a/Wheels_and_tyres_-_Exige_V6#Lotus.2FOE" title="Wheels and tyres - Exige V6">Diamond cut wheel, cast (17&#34; front and 18&#34; rear)</a></b></td>
<td>£350</td></tr></table></div>

<h2><span class="mw-headline" id="The_Lotus_Evora_Range">The Lotus Evora Range</span></h2>

<h3><span class="mw-headline" id="Price_3">Price</span></h3>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<td width="350"><b>Price</b></td>
<th width="90">Evora (2+0)</th>
<th width="90">Evora (2+2)</th>
<th width="90">Evora S (2+0)</th>
<th width="90">Evora S (2+2)</th></tr>
<tr>
<td><b>Base price including VAT and excluding on the road costs†</b></td>
<td>£51,550</td>
<td>£53,450</td>
<td>£60,550</td>
<td>£62,450</td></tr></table></div>

<h3><span class="mw-headline" id="Vehicle_Options_3">Vehicle Options</span></h3>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<td width="350"><b>Vehicle Options</b></td>
<th width="90">Evora (2+0)</th>
<th width="90">Evora (2+2)</th>
<th width="90">Evora S (2+0)</th>
<th width="90">Evora S (2+2)</th></tr>
<tr>
<td><b><a href="http://wiki.seloc.org/a/2GR-FE_Gearboxes#Automatic_gearbox_information" title="2GR-FE Gearboxes">Lotus Intelligent Precision Shift (IPS)</a></b></td>
<td>£1,800</td>
<td>£1,800</td>
<td>£1,800</td>
<td>£1,800</td></tr>
<tr>
<td><b>Tech Pack</b></td>
<td>£2,800</td>
<td>£2,800</td>
<td>£2,800</td>
<td>£2,800</td></tr>
<tr>
<td colspan="5">Upgraded speakers and stereo system with 2x50W amplifier and subwoofer with dedicated amplifier, DVD player, 7” WVGA touch screen display with integrated Satellite Navigation, BluetoothTM mobile phone connection, USB connection for various iPod® models, MP3 players and memory sticks, tyre pressure monitoring, cruise control, rear parking sensors</td></tr>
<tr>
<td><b><a href="http://wiki.seloc.org/a/Interior_-_Evora#MY12_Onwards" title="Interior - Evora">Premium Pack</a></b></td>
<td>£2,000</td>
<td>£2,000</td>
<td>£2,000</td>
<td>£2,000</td></tr>
<tr>
<td><b><a href="http://wiki.seloc.org/a/Interior_-_Evora#Premium_Suedetex" title="Interior - Evora">Premium Pack SuedeTex®</a></b></td>
<td>£2,800</td>
<td>£2,800</td>
<td>£2,800</td>
<td>£2,800</td></tr>
<tr>
<td colspan="5">Accent lighting, leather door panelling below trim band, leather trimmed door pockets, armrest, centre console in SuedeTex®, tailgate insert panel in leather, leather footwell side panels, SuedeTex® trim band, Ebony Black leather and Slate Grey SuedeTex® seat combination (front and rear on 2+2)</td></tr>
<tr>
<td><b><a href="http://wiki.seloc.org/a/Interior_-_Evora#Premium_Sport" title="Interior - Evora">Premium Pack Sport</a></b></td>
<td>£2,500</td>
<td>£2,500</td>
<td>£2,500</td>
<td>£2,500</td></tr>
<tr>
<td colspan="5">Accent lighting, leather door panelling below trim band, leather trimmed door pockets, armrest, centre console and tailgate insert panel, leather footwell side panels, carbon effect leather inserts on the seats, choice of leather colour: Ebony Black with red contrast stitching and piping, or Venom Red, Cocoa Brown and Imperial Blue with black contrast stitching and piping</td></tr>
<tr>
<td><b>SuedeTex® Trim Pack</b></td>
<td>£700</td>
<td>£700</td>
<td>£700</td>
<td>£700</td></tr>
<tr>
<td colspan="5">Gear gaiter, handbrake sleeve, handbrake gaiter, door handle inner, door pocket</td></tr>
<tr>
<td><b><a href="http://wiki.seloc.org/a/Lotus_DPM#Sport_Mode_2" title="Lotus DPM">Sport Pack</a></b></td>
<td>£1,200</td>
<td>£1,200</td>
<td>S</td>
<td>S</td></tr>
<tr>
<td colspan="5">Switchable sports mode with sharper throttle response (standard with IPS), increased RPM limit and sportier setting for Dynamic Performance Management (DPM), sports diffuser (uprated Evora S diffuser remains unchanged), titanium sports exhaust tailpipe (stainless steel on Evora S), cross-drilled brake discs, choice of red or black painted brake calipers</td></tr>
<tr>
<td><b>Sport Pack (with IPS)</b></td>
<td>£850</td>
<td>£850</td>
<td>S</td>
<td>S</td></tr>
<tr>
<td><b>Power-fold door mirrors</b></td>
<td>£350</td>
<td>£350</td>
<td>£350</td>
<td>£350</td></tr>
<tr>
<td><b>Reversing camera</b> Tech Pack required</td>
<td>£350</td>
<td>£350</td>
<td>£350</td>
<td>£350</td></tr>
<tr>
<td><b>Heated front seats</b> Standard on Premium Packs</td>
<td>£350</td>
<td>£350</td>
<td>£350</td>
<td>£350</td></tr>
<tr>
<td><b><a href="http://wiki.seloc.org/a/Paint_Colours_-_2012" title="Paint Colours - 2012">Metalic paint</a></b></td>
<td>£750</td>
<td>£750</td>
<td>£750</td>
<td>£750</td></tr>
<tr>
<td><b><a href="http://wiki.seloc.org/a/Paint_Colours_-_2012" title="Paint Colours - 2012">Premium paint</a></b></td>
<td>£1,500</td>
<td>£1,500</td>
<td>£1,500</td>
<td>£1,500</td></tr>
<tr>
<td><b><a href="http://wiki.seloc.org/a/Paint_Colours_-_2012" title="Paint Colours - 2012">Motorsport paint</a></b></td>
<td>£2,000</td>
<td>£2,000</td>
<td>£2,000</td>
<td>£2,000</td></tr>
<tr>
<td><b><a href="http://wiki.seloc.org/a/Wheels_and_tyres_-_Evora#Lotus.2FOEM" title="Wheels and tyres - Evora">Classic wheel, stealth grey, cast (18” front and 19” rear)</a></b></td>
<td>£350</td>
<td>£350</td>
<td>S</td>
<td>S</td></tr>
<tr>
<td><b><a href="http://wiki.seloc.org/a/Wheels_and_tyres_-_Evora#Lotus.2FOEM" title="Wheels and tyres - Evora">Sport wheel, silver, forged (18” front and 19” rear)</a></b></td>
<td>£1,650</td>
<td>£1,650</td>
<td>£1,650</td>
<td>£1,650</td></tr>
<tr>
<td><b><a href="http://wiki.seloc.org/a/Wheels_and_tyres_-_Evora#Lotus.2FOEM" title="Wheels and tyres - Evora">Sport wheel, gloss anthracite, forged (18” front and 19” rear)</a></b></td>
<td>£1,900</td>
<td>£1,900</td>
<td>£1,900</td>
<td>£1,900</td></tr>
<tr>
<td><b><a href="http://wiki.seloc.org/a/Wheels_and_tyres_-_Evora#Lotus.2FOEM" title="Wheels and tyres - Evora">Design wheel, gloss black, forged (19” front and 20” rear)</a></b></td>
<td>£2,200</td>
<td>£2,200</td>
<td>£2,200</td>
<td>£2,200</td></tr>
<tr>
<td><b><a href="http://wiki.seloc.org/a/Wheels_and_tyres_-_Evora#Lotus.2FOEM" title="Wheels and tyres - Evora">Design wheel, satin gunmetal, forged (19” front and 20” rear)</a></b></td>
<td>£2,200</td>
<td>£2,200</td>
<td>£2,200</td>
<td>£2,200</td></tr>
<tr>
<td><b><a href="http://wiki.seloc.org/a/Wheels_and_tyres_-_Evora#Lotus.2FOEM" title="Wheels and tyres - Evora">Design wheel, diamond cut, forged (19” front and 20” rear)</a></b></td>
<td>£2,300</td>
<td>£2,300</td>
<td>£2,300</td>
<td>£2,300</td></tr></table></div>

<h2><span class="mw-headline" id="The_Lotus_Evora_Sports_Racer">The Lotus Evora Sports Racer</span></h2>

<h3><span class="mw-headline" id="Price_4">Price</span></h3>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<td width="530"><b>Price</b></td>
<th width="90">Evora (2+2)</th>
<th width="90">Evora S (2+2)</th></tr>
<tr>
<td><b>Base price including VAT and excluding on the road costs†</b></td>
<td>£57,900</td>
<td>£65,900</td></tr></table></div>

<h3><span class="mw-headline" id="Vehicle_Options_4">Vehicle Options</span></h3>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<td width="530"><b>Vehicle Options</b></td>
<th width="90">Evora (2+2)</th>
<th width="90">Evora S (2+2)</th></tr>
<tr>
<td><b><a href="http://wiki.seloc.org/a/2GR-FE_Gearboxes#Automatic_gearbox_information" title="2GR-FE Gearboxes">Lotus Intelligent Precision Shift (IPS)</a></b></td>
<td>£1,800</td>
<td>£1,800</td></tr></table></div>

<h3><span class="mw-headline" id="Standard_Specification">Standard Specification</span></h3>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th colspan="2" width="710">Standard Specification</th></tr>
<tr>
<th width="355">Exterior</th>
<th width="355">Interior</th></tr>
<tr>
<td>Paint options: Aspen White, Carbon Grey, Nightfall Blue, Ardent Red<br />Black accents: Roof, side mirror pods, front splitter, side sills, rear diffuser, light bezels, name badges<br />Union Jack side marker badge<br />Design wheel, gloss black, forged, (19” front and 20” rear) with Pirelli P-Zero Corsa tyres<br />Power-fold door mirrors<br />Reversing Camera</td>
<td>Ebony Black leather ‘Premium Sport’ seats with red contrast piping and stitching or Venom Red leather ‘Premium Sport’ seats with black contrast piping and stitching<br />Slate Grey SuedeTex® dashboard, doors and centre console with red contrast stitching<br />Gunmetal dashboard panels with black accents<br />2+2 seating configuration</td></tr>
<tr>
<th>Sport Pack</th>
<th>Tech Pack</th></tr>
<tr>
<td>Switchable sports mode with sharper throttle response (standard with IPS)<br />Increased RPM limit and sportier setting for Dynamic Performance Management (DPM)<br />Sports diffuser (uprated Evora S diffuser remains unchanged)<br />Titanium sports exhaust tailpipe (stainless steel on Evora S)<br />Cross-drilled brake discs<br />Red or black painted brake calipers</td>
<td>Upgraded audio system with 2x50W amplifier and subwoofer with dedicated amplifier<br />DVD player<br />7” WVGA touch screen display with integrated Satellite Navigation<br />BluetoothTM mobile phone connectivity USB connection for various iPod® models, MP3 players and memory sticks<br />Tyre pressure monitoring<br />Cruise control<br />Rear parking sensors</td></tr></table></div>

<h2><span class="mw-headline" id="Disclaimer">Disclaimer</span></h2>

<p>Reproduced from the Lotus Customer Price List 2013.</p>
<p>Prices include VAT at the rate of 20%. The VAT element of the price may change to reflect changes in the applicable VAT rate. Prices do not include delivery charges, PDI, first service, number plates, first registration fee, road fund licence, fuel (or any other on the road charges) or any other costs. Please contact your authorised Lotus dealership for further information. Prices are effective from 1st March 2013. Prices stated are manufacturer’s recommended retail price. Information contained within this price guide is correct at the time of going to print. Lotus Cars Limited reserves the right to amend prices and specification at any time without prior notice.</p>
<p>



</p>