<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<ul>
<ul>
<li class="toclevel-1"><a href="#Chassis_development.E2.80.A6or_why_is_everybody_telling_me_to_get_my_car_.E2.80.98Geo.E2.80.99d.E2.80.99.3F">Chassis development…or why is everybody telling me to get my car ‘Geo’d’?</a>
</li>
</ul>
</ul>
<li class="toclevel-1"><a href="#Toe-in_.2F_Toe-out">Toe-in / Toe-out</a>
</li>
<li class="toclevel-1"><a href="#Camber">Camber</a>
</li>
<li class="toclevel-1"><a href="#Castor">Castor</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h4><span class="mw-headline" id="Chassis_development.E2.80.A6or_why_is_everybody_telling_me_to_get_my_car_.E2.80.98Geo.E2.80.99d.E2.80.99.3F">Chassis development…or why is everybody telling me to get my car ‘Geo’d’?</span></h4>
<p>So you bought yourself a nice, shiny Elise or Exige,
and have driven the first couple of thousand miles?
That’s the point where lots of owners are hit by the
‘go faster blues’ and either start investing in go
faster parts, or walk away not knowing where to
start.</p>
<p>In this article, I’d like to give some insights to the
updates you can do to get more fun out of your car
without the need to install a 200+bhp engine for
starters.</p>
<p>One of the regular remarks on the forum is ‘get
yourself upgraded’. Of course, driving and racing
courses will make you go faster! Everyone who’s
even a little active within the Seloc community
knows the name Andrew Walsh (aka Walshy). He
can sure help you to understand your car and make
you go faster. Besides - it’s great fun to do!</p>
<p>Time to go for the first engine mod? Run out of
possibilities to go any faster? Not quite! There are
more possibilities to make you go faster without
the need to improve the power output of your car’s
engine. The trickery which makes this possible is
Geometry. I can hear people say ‘Lotus is the best
chassis developer in the world, so why would I fiddle
around with their settings?’ The answer is as
easy as it is logical - Lotus has created a car which
needs to be everyone’s friend. It needs to be entertaining
for the beginner but at the same time Lotus
wouldn’t want to make its handling tricky. If you’re
a bit further down the line, have built up track
experience and have some training courses under
your belt, you might opt for a bit more entertainment,
so you could start playing with the geometry
of your car. Before doing that, I’d advise you to buy
your first upgrade: a stiffer and adjustable front
anti-roll bar. This simple and relatively cheap
upgrade will enable you to play around with the
balance between under- and over-steer. (understeer,
in which the car starts sliding over its front
wheels while entering a corner; over-steer, in
which the rear of the car attempts to overtake the
front, ultimately resulting in a spin).</p>
<p>Mind you, the balancing act of the anti roll bar
(ARB) will not improve grip. A lot of people hate
under-steer and prefer over-steer as long as it’s
controllable. Control is exactly what you can get by
setting up the ARB. Another effect of this device is
the reduction of body roll - that does improve grip!
How does grip work? When you think of the four
patches of rubber which are the contact of the car
with the road surface, you can appreciate the basic
grip of the tyre. The more sticky the tyre, the more
grip you will have. Well not exactly - another thing
you wouldn’t want is to lose the weight on one of
these patches. If you do, that specific tyre will not
be able to provide you with the grip you’re used to.
Getting back to the ARB, body roll actually is moving
the weight on to the tyres. If you steer into a
corner, the mass of your car will want to move on
in a straight line. This will cause the body to roll
over the car’s roll centre. The less the body is able
to roll, the more weight you will keep in the same
place, so there you go - it will produce more grip in
a corner and will help you to go faster!
The next step to improve your feeling with the car
could be to start fiddling with the Geometry of the
car. To do so, you’ll have to understand the basics
of Geometry. If you really want to understand what
you’re doing and even want to do it yourself, I
would strongly suggest you pick up the parts manual
first and buy yourself a pile of shims. You will
need them!</p>
<p>First, the basics. There are a couple of things you’ll need to understand first - All settings are measured per axle!</p>
<h2><span class="mw-headline" id="Toe-in_.2F_Toe-out">Toe-in / Toe-out</span></h2>
<div class="thumb tright"><a class="internal" href="http://wiki.seloc.org/a/Image:Chassis_development_toe.png" ><img src="Chassis_development_toe.png" class="location-right type-frame" />
</a></div>

<p>
Looking on the axle from above, if the fronts of the
wheels are closer to each other then the rears, this
is called Toe-in. If the opposite is true, e.g. the rear
side of the wheels are closer to each other then the
fronts, this is called Toe-out.</p>
<p>Toe-in will produce high-speed straight line stability
but will make the car a slow turner. You have
to work harder to get into corners.</p>
<p>Toe-out will not help you for straight line stability.
The car will be pretty nervous, but it will want to
attack each and every corner.
There is no such thing as the perfect setting for
Toe-in / Toe-out. The ideal setting for a (semi)-professional
race car driver might be horrible for you.
Keep in mind, the more toe you set, the harder
your tyres will wear!</p>
<h2><span class="mw-headline" id="Camber">Camber</span></h2>
<div class="thumb tright"><a class="internal" href="http://wiki.seloc.org/a/Image:Chassis_development_camber.png" ><img src="Chassis_development_camber.png" class="location-right type-frame" />
</a></div>

<p>
You will now have to look at the wheel from the
front or the rear. The camber can be called negative
if the top of the wheels are closer to each other
than the bottom.</p>
<p>Positive camber is the setting where the bottom of
the wheels are closer to each other than the top.</p>
<p>Where camber is concerned nearly every possible
setting, the camber will be negative. The only
question is.. how far should you go?
The effect of negative camber might be loss of
straight-line grip. As you’re setting the surface of
the tyre in an angle to the surface of the road, you
are losing grip. But as soon as you enter a corner
(which is the place where you lose most speed
when track- driving), the surface of the tyre will
deform and, when your setup would be 0 Camber,
you’ll lose grip. Having the car set with negative
camber, the road surface contact will actually
increase in the corner, thus improving grip. Exactly
what you want!</p>
<h2><span class="mw-headline" id="Castor">Castor</span></h2>
<div class="thumb tleft"><a class="internal" href="http://wiki.seloc.org/a/Image:Chassis_development_castor.png" ><img src="Chassis_development_castor.png" class="location-left type-frame" />
</a></div>

<p>
This one is a little more difficult
to explain.. You will
have to look at the wheel
from the side. The hub is
behind the wheel and if you
look at it, you will see that
there&#39;s an angle between
the top and bottom connection
of the wishbones. This angle is called Castor.
Castor is controlled by shims at the connection
points of the upper front wishbone.</p>
<p>If the castor angle is too small, the car will feel
very unstable at high speeds and will react very
nervously on any steering action. If the castor angle
is too big, the tyres will wear very quickly and you
will lose grip in corners. The reason for this is that
castor (on the front wheels) will produce camber as
soon as you turn the wheels. Finding the right balance
is key again.</p>
<p>I can hear you thinking now: ‘The workshop I’m
visiting has a very expensive test setup to do these
alignments. How could I possibly do that on my
garage floor?’ The good news is - you can! The bad
news is… it’ll take you some time to get there. If
you are serious about this, you could bring your car
to this workshop to try a new setting you’ve figured
out, but in the end, it would cost quite some money.
An optimal setup for a nice, warm, dry track is different
to that for the cold, wet roads at home, so
you might end up queuing at the workshop every
week.</p>
<p>So it’s time to make a decision here. Are you going
to try a handful of general setups during a season?
You might opt for the workshop.
If you would like to end up making your own setup
per different track or according to weather, you
could start investing in your own equipment. You
could look at companies like
www.longacreracing.com who are selling quite
interesting low-budget solutions for Geometry
modifications. If you search on the Internet, you
will also find other companies, and also descriptions
of doing a setup yourself using small ropes.</p>
<p>There’s one thing which is important to understand
before you start. The floor you are doing the
setup on needs to be level and you must put some
weight in the driver’s seat (preferably something
that matches your own).</p>
<p>One more thing: say you’ve added a shim in the
front suspension. You’ve lifted the car, removed the
wheel, done the shimming and built it all together
again. After doing that you should check what
you’ve done, but you shouldn’t just measure again
after lowering the car! Roll it forward and roll it
back again! The suspension needs to settle, and
you do that while rolling the car back and forth.</p>
<p>Your car came out of the factory with what you’d
call a general setup. Depending on what you want
to achieve, there are a couple of different setups
that you can use as a starting point to find your
own. Lotus has released quite a few setups for the
Elise, Exige and 340R. You can choose one of these
as a starting point and start modifying from there.
If you’re doing your own Geo for the first time, I’d
advise you to take it step by step: e.g. first do the
Toe-in / Toe-out until you’re satisfied with the
behaviour. Next step could be the camber, etc.</p>
<p>It’s winter - a good time to start understanding all
of this and preparing yourself for a new season.
Once you’re able to do your own Geo, I’ll start nagging
you about bump steer settings and springs
and dampers.</p>
<p>This artice, written by Yvo Tuk, is taken from issue 2 of the Lotus Enthusiast, the magazine for SELOC Members.</p>