<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Locations">Locations</a>
<ul>
<li class="toclevel-2"><a href="#Small_platform">Small platform</a>
<ul>
<li class="toclevel-3"><a href="#Elise">Elise</a>
</li>
<li class="toclevel-3"><a href="#Europa">Europa</a>
</li>
<li class="toclevel-3"><a href="#2-Eleven">2-Eleven</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Evora">Evora</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#VIN_Decoding">VIN Decoding</a>
<ul>
<li class="toclevel-2"><a href="#MY98-00">MY98-00</a>
</li>
<li class="toclevel-2"><a href="#MY01-04">MY01-04</a>
</li>
<li class="toclevel-2"><a href="#MY04-10_-_Elise_Platform">MY04-10 - Elise Platform</a>
</li>
<li class="toclevel-2"><a href="#MY10_onwards_-_Elise_Platform">MY10 onwards - Elise Platform</a>
</li>
<li class="toclevel-2"><a href="#MY09-12_-_Evora">MY09-12 - Evora</a>
</li>
</ul>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Locations">Locations</span></h2>

<p>For details of VIN number locations in cars from the 1950&#39;s-1980&#39;s (including non-Lotus cars) forum member <a class="external text" href="http://forums.seloc.org/m/foggy156" rel="nofollow">foggy156</a> has books detailing locations for a wide variety of cars and has kindly offered to share this information. Please contact him via u2u if you have any queries he might be able to assist with.</p>
<h3><span class="mw-headline" id="Small_platform">Small platform</span></h3>

<h4><span class="mw-headline" id="Elise">Elise</span></h4>

<p>The Vehicle Identifcation Number (V.I.N) is stamped on the chassis in the right hand front wheelarch area, viewable with the front wheels turned to right full lock, and is also printed on a label stuck to the inside of the chassis sideframe alongside the driver&#39;s seat. The engine number is marked on a vertical patch at the right hand side of the rear face of the cylinder block, adjacent to the clutch housing.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:chasnumb2.jpg" title="VIN location - Elise S1"><img src="chasnumb2.jpg" alt="VIN location - Elise S1" width="220" />
</a></p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:VIN_Location_-_Elise_S2.PNG" title="VIN location - Elise S2"><img src="VIN_Location_-_Elise_S2.PNG" alt="VIN location - Elise S2" width="220" />
</a></p>
<h4><span class="mw-headline" id="Europa">Europa</span></h4>

<p>The Vehicle Identification Number (V.I.N.) is stamped on the chassis in the right hand front wheelarch area, viewable with the front wheels turned to full right lock, and is also printed on a label stuck to the driver’s side door aperture, viewable with the door open. The engine number is stamped on the LH rear flange of the cylinder block, alongside the clutch housing jointface.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:VIN_Location_-_Europa.PNG" title="VIN location - Europa"><img src="VIN_Location_-_Europa.PNG" alt="VIN location - Europa" width="220" />
</a></p>
<h4><span class="mw-headline" id="2-Eleven">2-Eleven</span></h4>

<p>The Vehicle Identification Number (V.I.N.) is stamped on the chassis in the right hand front wheelarch area, viewable with the front wheels turned to full right lock, and is also printed on a label stuck to the tank bay behind the driver’s seat. The engine number is marked on a vertical patch at the right hand side of the rear face of the cylinder block, adjacent to the clutch housing.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:VIN_Location_-_2-Eleven.PNG" title="VIN location - 2-Eleven"><img src="VIN_Location_-_2-Eleven.PNG" alt="VIN location - 2-Eleven" width="220" />
</a></p>
<h3><span class="mw-headline" id="Evora">Evora</span></h3>

<p>The Vehicle Identification Number (V.I.N.) is stamped on the chassis on the right hand front seat support crossmember, viewable beneath the rear carpet, and is also printed on a label stuck to the tank bay behind the driver’s seat. The engine number is marked on a vertical patch at the right hand side of the rear face of the cylinder block, adjacent to the clutch housing.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:VIN_Location_-_Evora.PNG" ><img src="VIN_Location_-_Evora.PNG" width="220" />
</a></p>
<h2><span class="mw-headline" id="VIN_Decoding">VIN Decoding</span></h2>

<h3><span class="mw-headline" id="MY98-00">MY98-00</span></h3>

<p><a class="image" href="http://wiki.seloc.org/a/Image:Vin_decoder.JPG" ><img src="Vin_decoder.JPG" width="220" />
</a></p>
<h3><span class="mw-headline" id="MY01-04">MY01-04</span></h3>

<p><a class="image" href="http://wiki.seloc.org/a/Image:VIN_Decoding_-_MY01-04.PNG" ><img src="VIN_Decoding_-_MY01-04.PNG" width="220" />
</a></p>
<h3><span class="mw-headline" id="MY04-10_-_Elise_Platform">MY04-10 - Elise Platform</span></h3>

<p>2004 M.Y. - 2010 M.Y. up to serial no. 0359</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:VIN_Decoding_-_MY04-10.PNG" ><img src="VIN_Decoding_-_MY04-10.PNG" width="220" />
</a></p>
<h3><span class="mw-headline" id="MY10_onwards_-_Elise_Platform">MY10 onwards - Elise Platform</span></h3>

<p>2010 M.Y. serial no. 0360 onwards</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:VIN_Decoding_-_MY10-onwards_-_Small_Platform.PNG" ><img src="VIN_Decoding_-_MY10-onwards_-_Small_Platform.PNG" width="220" />
</a></p>
<h3><span class="mw-headline" id="MY09-12_-_Evora">MY09-12 - Evora</span></h3>

<p><a class="image" href="http://wiki.seloc.org/a/Image:VIN_Decoding_-_MY09-12_-_Evora.PNG" ><img src="VIN_Decoding_-_MY09-12_-_Evora.PNG" width="220" />
</a></p>
<p>








</p>