<h1>MOT Requirements for Seatbelts and Harnesses</h1>

<p>Many people fit harnesses to enhance safety features of their sports car. Some are required to if they participate in competitive motorsport. It&#39;s know that in severe accidents passengers wearing 4 or more point harnesses come off better than passengers wearing the 3 point inertia reel equivalent. </p>

<p>Those involved in competitive motorsport will commonly fit a harness approved to FIA standards 8854/98 for 3 and 4 point harnesses and 8853/98 for 5 and 6 point harnesses. These standards are widely regarded as the highest standard for passenger harnesses.  </p>

<p>Despite the benefits of the motorsport style harness there are a number of pitfalls to overcome during the Ministry of Transport (MOT) test.  Misconceptions exist regarding the suitability of a motorsport style harness in road going vehicles.  The following information has been obtained directly from Vehicle and Operator Services Agency (VOSA).  </p>


<h1>Are multi-point (4,5,6) FIA approved harnesses eligible for the MOT test?</h1>

<p><b>VOSA (29 September 2009):</b></p>
<p>Note 3 on page 3 of the MOT Inspection Manual Section 5.1 states that an adult (full) harness is acceptable if it has a British Standard Mark or an acceptable alternative.</p>

<p>C&#38;U Regg 47 (4)(c)(i) states a that a belt can show a British Standard mark or a mark including the specification numbers, BS 3254: 1960 or BS3254:Part 1 1988 and we would accept a harness with these markings.</p>

<p>It is the responsibility of the vehicle presenter to prove the acceptability of any alternative.</p>


<h1>Do FIA standards meet the British Standards?</h1>

<p><b>VOSA (29 September 2009):</b></p>
<p>We have had sight of these documents and it is our opinion that they do not meet all the required standards.  We approached FIA specifically to determine whether their specification has been accepted as an alternative to BS but received no response.</p>

<p>Ultimately DfT have responsibility for legislation and they may be able to advise on acceptable alternative markings.</p>


<h1>Summary</h1>

<p>As it stands harnesses which only show FIA approval are not eligible for the MOT test unless the vehicle presenter can prove (documented proof) that the standards marked on the harness meet or are equivalent to BS 3254: 1960 or BS3254:Part 1 1988.  </p>

<p>After reviewing the FIA&#39;s documents for harness standards VOSA concluded that the British Standard was not met. More information was requested from the FIA but this was not forthcoming. </p>

<p>It is not yet clear what the shortcomings are without reviewing the BS documents. </p>

<p>Further investigation and enquiries should probably be made to the Department for Transport. </p>


<h1>Further Reading</h1>

<p>VOSA on Wikipedia <a class="external free" href="http://en.wikipedia.org/wiki/Vehicle_and_Operator_Services_Agency" rel="nofollow">http://en.wikipedia.org/wiki/Vehicle_and_Operator_Services_Agency</a></p>
<p>VOSA official <a class="external free" href="http://www.vosa.gov.uk/vosacorp/index.htm" rel="nofollow">http://www.vosa.gov.uk/vosacorp/index.htm</a></p>
<p>FIA standards <a class="external free" href="http://www.fia.com/en-GB/sport/regulations/Pages/FIAStandards.aspx" rel="nofollow">http://www.fia.com/en-GB/sport/regulations/Pages/FIAStandards.aspx</a></p>
<p>Standard 8854/98 for 3 and 4 point harnesses (English from page 41):
<a class="external free" href="http://argent.fia.com/web/fia-public.nsf/5DA162B206693ED2C12574430044D116/$FILE/8854-98_Harness.pdf" rel="nofollow">http://argent.fia.com/web/fia-public.nsf/5DA162B206693ED2C12574430044D116/$FILE/8854-98_Harness.pdf</a></p>
<p>Standard 8853/98 for 5 and 6 point harnesses (English from page 41):
<a class="external free" href="http://argent.fia.com/web/fia-public.nsf/DF4679931C4F78CCC1257443004479B7/$FILE/8853-98_Harness.pdf" rel="nofollow">http://argent.fia.com/web/fia-public.nsf/DF4679931C4F78CCC1257443004479B7/$FILE/8853-98_Harness.pdf</a></p>
<p>DfT Wikipedia <a class="external free" href="http://en.wikipedia.org/wiki/Department_for_Transport" rel="nofollow">http://en.wikipedia.org/wiki/Department_for_Transport</a></p>
<p>DfT official <a class="external free" href="http://www.dft.gov.uk/" rel="nofollow">http://www.dft.gov.uk/</a></p>
<p>British Standards <a class="external free" href="http://en.wikipedia.org/wiki/British_Standards" rel="nofollow">http://en.wikipedia.org/wiki/British_Standards</a></p>
<p>MOT Computerisation Manuals <a class="external free" href="http://www.motinfo.gov.uk/htdocs/index.htm" rel="nofollow">http://www.motinfo.gov.uk/htdocs/index.htm</a></p>
<p>As above, Section 5 Seatbelts <a class="external free" href="http://www.motinfo.gov.uk/htdocs/m3s05000101.htm" rel="nofollow">http://www.motinfo.gov.uk/htdocs/m3s05000101.htm</a></p>
