<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1"><a href="#General">General</a>
</li>
<li class="toclevel-1"><a href="#Elise.2FExige">Elise/Exige</a>
<ul>
<li class="toclevel-2"><a href="#K-series">K-series</a>
<ul>
<li class="toclevel-3"><a href="#Service_Schedule">Service Schedule</a>
</li>
<li class="toclevel-3"><a href="#Cam_belts">Cam belts</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Toyota">Toyota</a>
<ul>
<li class="toclevel-3"><a href="#Service_Schedule_2">Service Schedule</a>
</li>
</ul>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Evora">Evora</a>
<ul>
<li class="toclevel-2"><a href="#Service_Schedule_3">Service Schedule</a>
</li>
</ul>
</li>
</ul></td></tr></table><hr/>
<h1><span class="mw-headline" id="General">General</span></h1>

<p>In order to maintain warranty validation and help ensure proper safety, emissions performance and dependability of the vehicle, Lotus Cars Ltd. requires that the vehicle be serviced in accordance with this schedule. Each service should be performed either within 1000 miles (1600 kms) of the distance stipulated, or within one month of the anniversary of the previous service, whichever first occurs. Any necessary repairs should be completed without delay. </p>
<p>A cross (X) in the following table indicates an operation to be performed. The corresponding box should be ticked when the operation has been satisfactorily performed, or the X circled if extra work and time is required. The approval of the customer should be obtained before any extra work is undertaken, details of which should be recorded in the space provided at the end of the schedule. </p>
<p>After Sales Service: There is no charge to the vehicle owner for the labour content of the After Sales Service. Only materials used will be charged. </p>
<p>Inspect means assess condition and test for correct operation. Extra time is required to adjust or repair - advise customer beforehand if necessary. </p>
<p>Check means test and adjust/fill or tighten as necessary. Labour time is included. </p>
<h1><span class="mw-headline" id="Elise.2FExige">Elise/Exige</span></h1>

<p>Servicing for the Elise is different for the K-series and Toyota engined cars, the relevant schedules can be found below.</p>
<h2><span class="mw-headline" id="K-series">K-series</span></h2>

<p>There are four types of services for the K-series engined Elise:
</p>
<ol>
<li>After sales Service (AS) </li>
<li>A Service (A)</li>
<li>B Service (B)</li>
<li>C Service (C)</li>
</ol>

<p>These run on the sequence A, A, B, A, A, C.</p>
<p>Servicing Sequence Type KM / Mileage or time:
</p>
<ul>
<li>AS 1500 / 1000 or within 12 months </li>
<li>A  15000 / 9000 or 12 months</li>
<li>A  30000 / 18000 or 12 months </li>
<li>B  45000 / 27000 or 12 months </li>
<li>A  60000 / 36000 or 12 months </li>
<li>A  75000 / 45000 or 12 months </li>
<li>C  90000 / 54000 or 12 months </li>
<li>A  105000 / 63000 or 12 months </li>
<li>A  120000 / 72000 or 12 months </li>
<li>B  135000 / 81000 or 12 months </li>
<li>A  150000 / 90000 or 12 months </li>
<li>A  165000 / 99000 or 12 months </li>
<li>C  180000 / 108000 or 12 months</li>
</ul>

<h3><span class="mw-headline" id="Service_Schedule">Service Schedule</span></h3>


<div style="page-break-inside: avoid;">
<table border="1" width="600">
<tr align="center">
<td rowspan="2" width="50"><b>Op. No.</b></td>
<td rowspan="2"><b>Operation Description</b></td>
<td colspan="6"><b>Service Type</b></td></tr>
<tr>
<td align="center" width="50"><b>After Sales</b> </td>
<td align="center" width="50"><b>A</b></td>
<td align="center" width="50"><b>B</b></td>
<td align="center" width="50"><b>C</b></td>
<td align="center" width="50"><b>Months</b></td></tr>
<tr>
<td align="center">1 </td>
<td>Fit protective covers to seats, footwells, steering wheel and rear body</td>
<td align="center">X </td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td style="background: #ffcc00;" />
<td colspan="6" style="background: #ffcc00;"><b>Lubrication</b></td></tr>
<tr>
<td align="center">2</td>
<td>Renew engine oil &#38; filter*</td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">3</td>
<td>Inspect engine &#38; transmission for oil leaks</td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">4</td>
<td>Check transmission oil level</td>
<td></td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td></td>
<td colspan="6">
<ul>
<li>In &#39;severe service&#39; conditions (dusty areas, or cold, stop/start driving), change twice as frequently or as required</li>
</ul></td></tr>
<tr>
<td style="background: #ffcc00;" />
<td colspan="6" style="background: #ffcc00;"><b>Engine</b></td></tr>
<tr>
<td align="center">5</td>
<td>Renew air cleaner element* (refer above)</td>
<td></td>
<td></td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">6</td>
<td>Renew spark plugs</td>
<td></td>
<td></td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">7</td>
<td>Inspect auxiliary drive belt condition</td>
<td></td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">8</td>
<td>Renew cam belt</td>
<td></td>
<td></td>
<td></td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">9</td>
<td>Renew fuel filter</td>
<td></td>
<td></td>
<td></td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">10</td>
<td>Connect &#39;Lotus Check&#39; scanner tool and run Pre-Test</td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">11</td>
<td>Inspect &#38; record tailpipe CO</td>
<td></td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td style="background: #ffcc00;" />
<td colspan="6" style="background: #ffcc00;"><b>Cooling System</b></td></tr>
<tr>
<td align="center">12</td>
<td></td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">13</td>
<td>Check coolant level</td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">14</td>
<td>Renew coolant</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td align="center">24</td></tr>
<tr>
<td style="background: #ffcc00;" />
<td colspan="6" style="background: #ffcc00;"><b>Braking System</b></td></tr>
<tr>
<td align="center">15</td>
<td>Inspect parking brake adjustment</td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">16</td>
<td>Inspect operation of brake tell tales</td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">17</td>
<td>Inspect brake pad thickness &#38; disc condition ^</td>
<td></td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td></td>
<td>^ In conditions where the brakes are subject to heavy use inspection may be required more frequently</td>
<td colspan="5" /></tr>
<tr>
<td align="center">18</td>
<td>Inspect brake hoses, pipes &#38; hydraulic units</td>
<td></td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">19</td>
<td>Check brake fluid level</td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">20</td>
<td>Renew brake/clutch fluid</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td align="center">12</td></tr>
<tr>
<td style="background: #ffcc00;" />
<td colspan="6" style="background: #ffcc00;"><b>Steering &#38; Suspension</b></td></tr>
<tr>
<td align="center">21</td>
<td>Check security and condition of front &#38; rear suspension</td>
<td></td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">22</td>
<td>Inspect dampers for leaks &#38; performance</td>
<td></td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">23</td>
<td>Inspect front &#38; rear wheel bearing for play</td>
<td></td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">24</td>
<td>Inspect condition of driveshaft gaiters</td>
<td></td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">25</td>
<td>Inspect steering ball joints &#38; gaiters</td>
<td></td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">26</td>
<td>Inspect free play at steering wheel</td>
<td></td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td style="background: #ffcc00;" />
<td colspan="6" style="background: #ffcc00;"><b>Wheels &#38; Tyres</b></td></tr>
<tr>
<td align="center">27</td>
<td>Inspect tyre condition &#38; set pressures</td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td style="background: #ffcc00;" />
<td colspan="6" style="background: #ffcc00;"><b>Electrical</b></td></tr>
<tr>
<td align="center">28</td>
<td>Check battery terminals for security &#38; condition</td>
<td></td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">29</td>
<td>Inspect operation of all lights</td>
<td></td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">30</td>
<td>Inspect operation of all electrical equipment</td>
<td></td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td style="background: #ffcc00;" />
<td colspan="6" style="background: #ffcc00;"><b>Body</b></td></tr>
<tr>
<td align="center">31</td>
<td>Adjust hinges &#38; latches. Lubricate door check plate</td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">32</td>
<td>Inspect operation and condition of seat belts</td>
<td></td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">33</td>
<td>Top up screenwash reservoir</td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">34</td>
<td>Renew alarm transmitter batteries (check with customer)</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td align="center">24</td></tr></table></div>

<p>Note that for some variants (Sport 160/190, Exige), the service interval is every 6000 miles instead of the usual 9000 miles. Many advocate a service sequence of A,B,A,B,A,C on these cars so that the spark plugs are replaced every other service. Apparently this is what Lotus always intended but some service record books were printed incorrectly.</p>
<h3><span class="mw-headline" id="Cam_belts">Cam belts</span></h3>
<p>Lotus have amended the original schedule and now recommend changing cam belts at least every four years rather than the original six, this will often mean services can become &#34;A+belts&#34;, &#34;B+belts&#34;, or &#34;C-belts&#34; depending on age and mileage and you will need to track the age of the cambelt separately from the normal service history.</p>
<p>Extract from Group Lotus Aftersales bulletin ...</p><blockquote>The synthetic cam belt used on Rover powertrain Elise models is subject to age, as well as usage degradation, and will be adversely affected by any contamination with oil or coolant. In order to bring cam-belt time servicing in line with current Rover recommendations the Service Schedule for all Rover powertrain Elise models was revised in October 2003 to stipulate a cam belt replacement time interval of 4 years (54,000miles/90,000km), with an inspection every 2 years (27,000miles/45,000km). For 340R/Sport 160/Exige models, the corresponding distance intervals are 36,000miles/60,000km, and 18,000miles/30,000km.
</blockquote>

<p>See also: <a class="external text" href="http://wiki.seloc.org/a/Cambelt" rel="nofollow">Cambelt</a></p>
<h2><span class="mw-headline" id="Toyota">Toyota</span></h2>

<p>Toyota engined Elises share the 9,000 mile/12 month service intervals of the K-series cars, but does not follow the same pattern of work.</p>
<p>The majority of the servicing remains the same each year, with transmission oil check every 3rd service and replaced every 6th service, air filter replaced every 3rd service, and spark plugs replaced every 6th service.</p>
<p>For supercharged cars (Elise SC, Exige S) the supercharger belt is replaced every other service.</p>
<h3><span class="mw-headline" id="Service_Schedule_2">Service Schedule</span></h3>


<div style="page-break-inside: avoid;">
<table border="1" width="600">
<tr align="center">
<td rowspan="2" width="50"><b>Op. No.</b></td>
<td rowspan="2"><b>Operation Description</b></td>
<td colspan="3"><b>Service Type</b></td></tr>
<tr>
<td align="center" width="50"><b>After Sales</b> </td>
<td align="center" width="50"><b>9,000m (15,000km)<br />or 12 months</b></td>
<td align="center" width="50"><b>Other Intervals</b></td></tr>
<tr>
<td align="center">1 </td>
<td>Fit protective covers to seats, footwells, steering wheel and rear body</td>
<td align="center">X </td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td style="background: #ffcc00;" />
<td colspan="4" style="background: #ffcc00;"><b>Lubrication</b></td></tr>
<tr>
<td align="center">2 </td>
<td>Renew engine oil and filter - <i>normal conditions</i></td>
<td align="center">X </td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">2a</td>
<td>Renew engine oil and filter - <i>special conditions</i></td>
<td align="center" colspan="3">4,500m (7,500km)/6 months</td></tr>
<tr>
<td align="center">3 </td>
<td>Inspect engine &#38; transmission for oil leaks</td>
<td align="center">X </td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">4</td>
<td>Check transmission oil level</td>
<td align="center" colspan="3">27,000m (45,000km)</td></tr>
<tr>
<td align="center">5</td>
<td>Renew transmission oil</td>
<td align="center" colspan="3">54,000m (90,000km)/6 years</td></tr>
<tr>
<td style="background: #ffcc00;" />
<td colspan="4" style="background: #ffcc00;"><b>Engine</b></td></tr>
<tr>
<td align="center">6</td>
<td>Inspect air cleaner element - <i>special conditions</i></td>
<td></td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">7</td>
<td>Renew air cleaner elements</td>
<td align="center" colspan="3">27,000m (45,000km)</td></tr>
<tr>
<td align="center">8</td>
<td>Renew spark plugs</td>
<td align="center" colspan="3">54,000m (90,000km)/6 years</td></tr>
<tr>
<td align="center">9</td>
<td>Inspect auxiliary drive belt condition</td>
<td></td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">10</td>
<td>Inspect integrity of fuel system</td>
<td></td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">11</td>
<td>Connect &#39;Lotus Scan&#39;, check for fault codes &#38; programme level</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">12</td>
<td>Print &#39;Lotus Scan&#39; Engine History Report and return to Lotus</td>
<td align="center">X</td>
<td></td>
<td></td></tr>
<tr>
<td style="background: #ffcc00;" />
<td colspan="4" style="background: #ffcc00;"><b>Cooling System</b></td></tr>
<tr>
<td align="center">13</td>
<td>Inspect water radiator &#38; oil cooler hoses &#38; pipework for damage or leaks. Clean radiator &#38; oil cooler finning</td>
<td></td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">14</td>
<td>Check coolant level</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">15</td>
<td>Renew coolant</td>
<td></td>
<td></td>
<td align="center">4 years</td></tr>
<tr>
<td style="background: #ffcc00;" />
<td colspan="4" style="background: #ffcc00;"><b>Braking System</b></td></tr>
<tr>
<td align="center">16</td>
<td>Inspect parking brake adjustment</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">17</td>
<td>Inspect brake pad thickness &#38; disc condition - <i>normal conditions</i></td>
<td></td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">17a</td>
<td>Inspect brake pad thickness &#38; disc condition - <i>special conditions</i></td>
<td align="center" colspan="3">4,500m (7,500km)</td></tr>
<tr>
<td align="center">18</td>
<td>Inspect brake hoses, pipes &#38; hydraulic units</td>
<td></td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">19</td>
<td>Check brake fluid level</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">20</td>
<td>Renew brake/clutch fluid</td>
<td></td>
<td></td>
<td align="center">1 year</td></tr>
<tr>
<td style="background: #ffcc00;" />
<td colspan="4" style="background: #ffcc00;"><b>Steering &#38; Suspension</b></td></tr>
<tr>
<td align="center">21</td>
<td>Check security and condition of front &#38; rear suspension inc. free articulation of rear toe link ball joints</td>
<td></td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">22</td>
<td>Check torque of rear toe-link inboard fixing (50 Nm)</td>
<td align="center">X</td>
<td></td>
<td></td></tr>
<tr>
<td align="center">23</td>
<td>Inspect dampers for leaks and performance</td>
<td></td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">24</td>
<td>Inspect front and rear wheel bearings for play</td>
<td></td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">25</td>
<td>Inspect condition of drive shaft gaiters</td>
<td></td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">26</td>
<td>Inspect condition of ball joints and gaiters</td>
<td></td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">27</td>
<td>Inspect free play at steering wheel</td>
<td></td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td style="background: #ffcc00;" />
<td colspan="4" style="background: #ffcc00;"><b>Wheels &#38; Tyres</b></td></tr>
<tr>
<td align="center">28</td>
<td>Inspect tyre condition &#38; set pressures</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td style="background: #ffcc00;" />
<td colspan="4" style="background: #ffcc00;"><b>Electrical</b></td></tr>
<tr>
<td align="center">29</td>
<td>Check battery &#38; terminals for security &#38; condition</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">30</td>
<td>Inspect operation of all lights</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td style="background: #ffcc00;" />
<td colspan="4" style="background: #ffcc00;"><b>Body</b></td></tr>
<tr>
<td align="center">31</td>
<td>Inspect adjustment of hinges and latches</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">32</td>
<td>Inspect operation &#38; condition of seat belts</td>
<td></td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">33</td>
<td>Lift footwell mats, clean &#38; dry floor</td>
<td></td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">34</td>
<td>Inspect wiper operation &#38; top up windscreen washer reservoir</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">35</td>
<td>Renew alarm transmitter batteries (check with customer)</td>
<td></td>
<td></td>
<td align="center">1 year</td></tr></table></div>

<h1><span class="mw-headline" id="Evora">Evora</span></h1>

<h2><span class="mw-headline" id="Service_Schedule_3">Service Schedule</span></h2>


<div style="page-break-inside: avoid;">
<table border="1" width="600">
<tr align="center">
<td rowspan="2" width="50"><b>Op. No.</b></td>
<td rowspan="2"><b>Operation Description</b></td>
<td colspan="3"><b>Service Type</b></td></tr>
<tr>
<td align="center" width="50"><b>After Sales</b> </td>
<td align="center" width="50"><b>9,000m (15,000km)<br />or 12 months</b></td>
<td align="center" width="50"><b>Other Intervals</b></td></tr>
<tr>
<td align="center">1 </td>
<td>Fit protective covers to seats, footwells, steering wheel and rear body</td>
<td align="center">X </td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td style="background: #ffcc00;" />
<td colspan="4" style="background: #ffcc00;"><b>Lubrication</b></td></tr>
<tr>
<td align="center">2 </td>
<td>Renew engine oil and filter - <i>normal conditions</i></td>
<td align="center">X </td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">2a</td>
<td>Renew engine oil and filter - <i>special conditions</i></td>
<td align="center" colspan="3">4,500m (7,500km)/6 months</td></tr>
<tr>
<td align="center">3 </td>
<td>Inspect engine &#38; transmission for oil leaks</td>
<td align="center">X </td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">4</td>
<td>Renew manual transmission oil</td>
<td align="center" colspan="3">36,000m (60,000km)/4 years</td></tr>
<tr>
<td style="background: #ffcc00;" />
<td colspan="4" style="background: #ffcc00;"><b>Engine</b></td></tr>
<tr>
<td align="center">5 </td>
<td>Inspect air cleaner element - <i>normal conditions</i></td>
<td></td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">5a</td>
<td>Inspect air cleaner element - <i>dusty conditions</i></td>
<td align="center" colspan="3">As required</td></tr>
<tr>
<td align="center">6</td>
<td>Renew air cleaner element - <i>normal conditions</i></td>
<td align="center" colspan="3">36,000m (60,000km)/4 years</td></tr>
<tr>
<td align="center">6a</td>
<td>Renew air cleaner element - <i>special conditions</i></td>
<td align="center" colspan="3">As required</td></tr>
<tr>
<td align="center">7</td>
<td>Renew spark plugs</td>
<td align="center" colspan="3">54,000m (90,000km)</td></tr>
<tr>
<td align="center">9</td>
<td>Inspect auxiliary drive belt condition</td>
<td></td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">10</td>
<td>Inspect integrity of fuel system</td>
<td />
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">11</td>
<td>Inspect for fault codes &#38; ECU programme level</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">12</td>
<td>Print Engine History &#38; Performance reports and return to Lotus</td>
<td align="center">X</td>
<td></td>
<td></td></tr>
<tr>
<td style="background: #ffcc00;" />
<td colspan="4" style="background: #ffcc00;"><b>Cooling System</b></td></tr>
<tr>
<td align="center">13</td>
<td>Inspect water radiator &#38; pipework for damage or leaks. Clean radiator finning</td>
<td></td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">14</td>
<td>Check coolant level</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">15</td>
<td>Renew coolant</td>
<td></td>
<td></td>
<td align="center">4 years</td></tr>
<tr>
<td style="background: #ffcc00;" />
<td colspan="4" style="background: #ffcc00;"><b>Braking System</b></td></tr>
<tr>
<td align="center">16</td>
<td>Inspect parking brake adjustment</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">17</td>
<td>Inspect brake pad thickness &#38; disc condition - <i>normal conditions</i></td>
<td></td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">17a</td>
<td>Inspect brake pad thickness &#38; disc condition - <i>special conditions</i></td>
<td align="center" colspan="3">4500m (7,500km)</td></tr>
<tr>
<td align="center">18</td>
<td>Inspect brake hoses, pipes &#38; hydraulic units</td>
<td></td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">19</td>
<td>Check brake fluid level</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">20</td>
<td>Renew brake/clutch fluid</td>
<td align="center" colspan="3">18,000m (30,000km)/2 years</td></tr>
<tr>
<td style="background: #ffcc00;" />
<td colspan="4" style="background: #ffcc00;"><b>Steering and Suspension</b></td></tr>
<tr>
<td align="center">21</td>
<td>Check security and condition of front &#38; rear suspension</td>
<td></td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">22</td>
<td>Inspect dampers for leaks and performance</td>
<td></td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">23</td>
<td>Inspect front and rear wheel bearings for play</td>
<td></td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">24</td>
<td>Inspect condition of drive shaft gaiters</td>
<td></td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">25</td>
<td>Inspect steering ball joints and gaiters</td>
<td></td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">26</td>
<td>Inspect free play at steering wheel</td>
<td></td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td style="background: #ffcc00;" />
<td colspan="4" style="background: #ffcc00;"><b>Wheels &#38; Tyres</b></td></tr>
<tr>
<td align="center">27</td>
<td>Inspect tyre condition &#38; set pressures</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td style="background: #ffcc00;" />
<td colspan="4" style="background: #ffcc00;"><b>Electrical</b></td></tr>
<tr>
<td align="center">28</td>
<td>Check battery &#38; terminals for security &#38; condition</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">29</td>
<td>Inspect operation of all lights</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td style="background: #ffcc00;" />
<td colspan="4" style="background: #ffcc00;"><b>Body</b></td></tr>
<tr>
<td align="center">30</td>
<td>Inspect operation &#38; adjustment of hinges and latches, manual door locks</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">31</td>
<td>Inspect operation &#38; condition of seat belts</td>
<td></td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">32</td>
<td>Inspect wiper operation &#38; top up windscreen washer reservoir</td>
<td align="center">X</td>
<td align="center">X</td>
<td></td></tr>
<tr>
<td align="center">33</td>
<td>Renew pollen filter</td>
<td align="center" colspan="3">18,000m (30,000km)/2 years</td></tr>
<tr>
<td align="center">34</td>
<td>Renew alarm transmitter batteries (check with customer)</td>
<td></td>
<td></td>
<td align="center">1 year</td></tr></table></div>

<p>




</p>