<h2><span class="mw-headline" id="Screw_in_type">Screw in type</span></h2>

<p>The standard badge on the S1 Elise, as with older Lotus&#39;, is bolted to the front bodywork.</p>
<p>If bolted down access to the rear is obstructed by the crash structure and so to remove the badge either the front clamshell must be removed from the car or the badge can be drilled through.</p>
<p>When refitting it may be advisable to stuck the badge down as opposed to bolting it, to allow for future removal.</p>
<h2><span class="mw-headline" id="Stuck_on_type">Stuck on type</span></h2>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:badge1.jpg" ><img src="badge1.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>


<p>Options to loosen the badge include heat (hairdryers, hot water, heat guns)and simply prying the badge off, but these do run the risk of damage to your paintwork in some cases.</p>
<p>However, one thing that does work without any chance of damage (assuming your car is clean and there&#39;s no grit/dirt to grind into the paint) is the fishing line/dental floss technique.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:badge2.jpg" ><img src="badge2.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>


<p>Lotus have kindly considered this technique when they were designing the build quality of their cars. They left a small gap all the way around the badge through which you can pull taught a length of nylon fishing line or dental floss.</p>
<p>With a sawing action back and forth, the line/floss will easily cut through the adhesive pad holding the badge to the clam. The line (and particularly floss) may snap a few times but it&#39;s cheap so just grab another bit! Work slowly though and without any bling rings on your hand and there&#39;ll be no risk to your paint work.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:badge3.jpg" ><img src="badge3.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>


<p>Eventually, you&#39;ll be through and the plastic faded badge will fall to the ground.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:badge4.jpg" ><img src="badge4.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>


<p>Next you have to remove the adhesive pad. The best method for this is pulling at it gently, as it stretches and comes away in clumps. Failing this, you&#39;ll need to rub away at it with a finger or thumb nail.  Tar Remover etc can be used if needs be but physical persuasion will be required.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:badge5.jpg" ><img src="badge5.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>


<p>Once the adhesive pad is all gone, all you are left with is a bit of sticky glue on your car. This is best removed with a bit of Meths or tar remover etc.</p>
<p>








</p>