
<div style="page-break-inside: avoid;">
<table cellpadding="0" cellspacing="0" style="clear: right; margin-bottom: .5em; float: right; padding: .5em 0 .8em 1.4em; background: none; width: auto;">
<tr>
<td><table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Pre-launch">Pre-launch</a>
</li>
<li class="toclevel-1"><a href="#Platform_Architecture">Platform Architecture</a>
</li>
<li class="toclevel-1"><a href="#Evora_Models">Evora Models</a>
<ul>
<li class="toclevel-2"><a href="#Evora">Evora</a>
<ul>
<li class="toclevel-3"><a href="#Launch_Edition">Launch Edition</a>
</li>
<li class="toclevel-3"><a href="#Naomi_for_Haiti">Naomi for Haiti</a>
</li>
<li class="toclevel-3"><a href="#Press_reception">Press reception</a>
<ul>
<li class="toclevel-4"><a href="#Awards">Awards</a>
</li>
</ul>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Evora_IPS">Evora IPS</a>
</li>
<li class="toclevel-2"><a href="#Evora_S">Evora S</a>
<ul>
<li class="toclevel-3"><a href="#Evora_S_Gumball">Evora S Gumball</a>
</li>
<li class="toclevel-3"><a href="#Naomi_for_Japan">Naomi for Japan</a>
</li>
<li class="toclevel-3"><a href="#Freddie_Mercury_Evora_S">Freddie Mercury Evora S</a>
</li>
<li class="toclevel-3"><a href="#The_Who_Evora_S">The Who Evora S</a>
</li>
<li class="toclevel-3"><a href="#Evora_GP_Edition">Evora GP Edition</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Evora_S_IPS">Evora S IPS</a>
</li>
<li class="toclevel-2"><a href="#Evora_GTE">Evora GTE</a>
</li>
<li class="toclevel-2"><a href="#Evora_Sports_Racer">Evora Sports Racer</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#MY12_Updates">MY12 Updates</a>
</li>
<li class="toclevel-1"><a href="#Concept_Cars">Concept Cars</a>
<ul>
<li class="toclevel-2"><a href="#Evora_414E_Hybrid">Evora 414E Hybrid</a>
</li>
<li class="toclevel-2"><a href="#Evora_Carbon_Concept">Evora Carbon Concept</a>
</li>
<li class="toclevel-2"><a href="#Evora_by_Mansory">Evora by Mansory</a>
</li>
<li class="toclevel-2"><a href="#Evora_GTE_Road_Concept">Evora GTE Road Concept</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Motorsport">Motorsport</a>
<ul>
<li class="toclevel-2"><a href="#Evora_Type_124">Evora Type 124</a>
</li>
<li class="toclevel-2"><a href="#Evora_GT4">Evora GT4</a>
</li>
<li class="toclevel-2"><a href="#Evora_Enduro">Evora Enduro</a>
</li>
<li class="toclevel-2"><a href="#Evora_GTE_2">Evora GTE</a>
</li>
<li class="toclevel-2"><a href="#Evora_GTS">Evora GTS</a>
</li>
<li class="toclevel-2"><a href="#Evora_GTC">Evora GTC</a>
</li>
<li class="toclevel-2"><a href="#Evora_GX">Evora GX</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#References">References</a>
</li>
</ul>
</ul></td></tr></table><hr/>
</td></tr></table></div>




<h2><span class="mw-headline" id="Pre-launch">Pre-launch</span></h2>

<p>Known as Project Eagle during its development the Evora is Lotus&#39;s first ever mid-engined 2+2, although the default configuration is actually the &#34;+0&#34;, with the rear seats an optional extra.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Evora-cad.jpg" title="Lotus Evora CAD shot showing the 2+2 layout"><img src="Evora-cad.jpg" alt="Lotus Evora CAD shot showing the 2+2 layout" title="Lotus Evora CAD shot showing the 2+2 layout" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Lotus Evora CAD shot showing the 2+2 layout</div></div>
</div>

<p>In the run up to it&#39;s launch Lotus carried out a promotion campaign promising &#34;True Character in a Faceless World&#34;, which included people with blank face masks appearing at Wimbledon, the Henley regatta and Elton John&#39;s white tie and tiara ball.<sup id="_ref-1" class="reference"><a href="#_note-1" title="">[1]</a></sup></p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Evora-faceless.jpg" title="Lotus &#39;Faceless People&#39; spectating at Wimbledon"><img src="Evora-faceless.jpg" alt="Lotus &#39;Faceless People&#39; spectating at Wimbledon" title="Lotus &#39;Faceless People&#39; spectating at Wimbledon" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Lotus &#39;Faceless People&#39; spectating at Wimbledon</div></div>
</div>

<p>This promotion lead to the website <a class="external free" href="http://www.facelesspeople.com" rel="nofollow">http://www.facelesspeople.com</a>, which featured nothing but a countdown to the cars launch and a link back to the Group Lotus website. Since the launch this site has been removed and is no longer available.</p>
<p>The unveiling of the Evora on the 22nd of July at the 2008 British International Motor Show<sup id="_ref-2" class="reference"><a href="#_note-2" title="">[2]</a></sup> marked Lotus&#39;s first all-new car since the Elise in 1995. Although Lotus had produced models such as the Exige, Series 2 Elise and Europa in the interim period these were still fundamentally based on the original Elise platform.</p>
<p>As with the &#39;Federal&#39; Elise the Lotus Evora was designed with international sales in mind, in particular the lucrative US market. This was deemed vital to help Lotus reach a wider audience of more affluent buyers, with the Evora looking to compete against a far wider range of cars than the Elise&#39;s niche appeal.</p>
<p>Parallels could certainly be drawn between the Evora launch and that of the original Elite and Esprit, with Lotus looking to produce cars that would push up market and could command higher pricing and, hopefully, profit margins...</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Lotus-Evora-1.jpg" title="The Lotus Evora at the 2008 British International Motor Show"><img src="Lotus-Evora-1.jpg" alt="The Lotus Evora at the 2008 British International Motor Show" title="The Lotus Evora at the 2008 British International Motor Show" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">The Lotus Evora at the 2008 British International Motor Show</div></div>
</div>

<p>At the launch Lotus where bullish, talking of how the car had been developed in just 18 months<sup>Citation needed</sup>, and of projected sales figure of around 2,000 cars per year worldwide.</p>
<h2><span class="mw-headline" id="Platform_Architecture">Platform Architecture</span></h2>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:VVA_Platform.jpg" title="Lotus VVA Platform in 3 parts"><img src="VVA_Platform.jpg" alt="Lotus VVA Platform in 3 parts" title="Lotus VVA Platform in 3 parts" class="location-right type-thumb" width="400" />
</a>
<div class="thumbcaption">Lotus VVA Platform in 3 parts</div></div>
</div>

<p>
As with the Lotus Elise the Evora chassis is formed from bonded aluminium extrusions, a technique which Lotus pioneered with the Elise.</p>
<p>Unlike the Elise however the Evora chassis based around Lotus&#39;s VVA chassis architecture.<sup id="_ref-3" class="reference"><a href="#_note-3" title="">[3]</a></sup></p>
<p>This is built is made up of three separate sections, the central tub, the front and rear, which are then joined together (bolted?) to form the completed chassis.</p>
<p>This not only eases repairs - in the Elise if the suspension pick points are damaged in a crash the whole chassis will often be written off, where as with the Evora the damaged section can be removed and replaced - but also saves time in the cars construction, with the sections able be built simultaneously before being joined together once all three are completed.</p>
<p>This approach could also ease future developments where, for example, a new power train was to be utilised which necessitates a change to the rear of the car. In this case production of the front and centre sections could be carried out as per normal with rear sections being attached to meet demand and/or build schedules when the chassis was completed.</p>

<h2><span class="mw-headline" id="Evora_Models">Evora Models</span></h2>

<p>At present all models of the Lotus Evora share the same coupe body shape and are all powered by derivatives of the <a href="http://wiki.seloc.org/a/Toyota_engines#Evora_S.2FExige_S" title="Toyota engines">2GR-FE engine</a>.</p>
<p>Early cars, particularly the Launch Edition models, have been noted as having some interior build quality issues, but these have been steadily improved.</p>
<h3><span class="mw-headline" id="Evora">Evora</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora-Press-Shot.jpg" title="Lotus Evora Press Photograph"><img src="Evora-Press-Shot.jpg" alt="Lotus Evora Press Photograph" title="Lotus Evora Press Photograph" class="location-right type-thumb" width="400" />
</a>
<div class="thumbcaption">Lotus Evora Press Photograph</div></div>
</div>

<p>
After its unveiling in July 2008, the first customer Evora was sold to Matthew Melling, a customer of Stratton Motor Company, in September 2009.<sup id="_ref-4" class="reference"><a href="#_note-4" title="">[4]</a></sup></p>
<p>The initial run of 450 cars delivered were all the <a href="#Launch_Edition">Launch Edition</a> models, which were produced to a fixed specification to ease the initial production process.</p>
<p>After this regular production began, with both the Evora 2+0 and 2+2 available with a range of <a href="http://wiki.seloc.org/a/Pricing_and_Upgrades_(2011)#Vehicle_Options_4" title="Pricing and Upgrades (2011)">option</a> and <a href="http://wiki.seloc.org/a/Pricing_and_Upgrades_(2011)#Vehicle_Options_3" title="Pricing and Upgrades (2011)">upgrade packs</a>.</p>
<p><a class="external text" href="http://www.Evorainfo.net/FileStore/PDFs/PR/Evora%20Press%20Release.pdf" rel="nofollow">Lotus Evora Press Release (PDF)</a></p>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td><b>Layout</b> </td>
<td>Transverse mid engined, rear wheel drive</td></tr>
<tr>
<td><b>Length</b> </td>
<td>4342 mm</td></tr>
<tr>
<td><b>Width</b> </td>
<td>1848 mm</td></tr>
<tr>
<td><b>Height</b> </td>
<td>1223mm</td></tr>
<tr>
<td><b>Engine fuel</b> </td>
<td>Petrol</td></tr>
<tr>
<td><b>Engine configuration</b> </td>
<td>V6</td></tr>
<tr>
<td><b>Engine capacity</b> </td>
<td>3456 cc</td></tr>
<tr>
<td><b>Engine power</b> </td>
<td>276hp (280PS/206KW) at 6400 rpm</td></tr>
<tr>
<td><b>Engine torque</b> </td>
<td>258lb/ft (350Nm) at 4600 rpm</td></tr>
<tr>
<td><b>Engine rev limit</b> </td>
<td>6400rpm (7000rpm with Sport Pack)</td></tr>
<tr>
<td><b>0-60mph (0-100 km/h)</b> </td>
<td>4.9 seconds (5.1 seconds)</td></tr>
<tr>
<td><b>Top speed</b> </td>
<td>162mph (261kph)</td></tr>
<tr>
<td><b>CO<sub>2</sub>Emissions</b> </td>
<td>205g/km (MY09)<br />199g/km (MY10/11)<br />215g/km (with Sports Gearbox)</td></tr>
<tr>
<td><b>Weight</b> </td>
<td>1382kg</td></tr>
<tr>
<td><b>Seats</b> </td>
<td>2 (with option of 2+2)</td></tr>
<tr>
<td><b>Transmission</b> </td>
<td>6 speed manual (Optional Sports Gearbox)</td></tr>
<tr>
<td><b>Drive</b> </td>
<td>RWD</td></tr></table></div>


<h4><span class="mw-headline" id="Launch_Edition">Launch Edition</span></h4>

<p>The Evora Launch Edition made up the first 450 (200 destined for the UK) production Evora&#39;s. They were all built to the same specification, allowing Lotus to bring the production line up without having to worry about the various different permutations possible with customised cars.</p>
<p>All Launch Editions came equipped with 2+2 seating, Tech Pack, Premium Pack, Sport Pack, Hi-power silver cast alloy wheels, Bi-Xenon Headlamps, Alpine Imprint Audio System, Reversing Camera, Electric Powerfold Mirrors and a numbered plaque. The Sport Ratio gearbox was not an option on Launch Edition cars, with the only options being the cars paint and possibly interior trim.<sup id="_ref-5" class="reference"><a href="#_note-5" title="">[5]</a></sup></p>
<p>The Evora Launch Edition was priced at £58,460, with <a href="http://wiki.seloc.org/a/Paint_Colours_-_Evora#Metallic_Colours" title="Paint Colours - Evora">Metallic</a>, <a href="http://wiki.seloc.org/a/Paint_Colours_-_Evora#Lifestyle_Colours" title="Paint Colours - Evora">Lifestyle</a> and <a href="http://wiki.seloc.org/a/Paint_Colours_-_Evora#Premium_Colours" title="Paint Colours - Evora">Premium</a> paint colours as cost options.</p>
<h4><span class="mw-headline" id="Naomi_for_Haiti">Naomi for Haiti</span></h4>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Evora_Haiti.jpg" title="The Lotus Evora Naomi for Haiti"><img src="Evora_Haiti.jpg" alt="The Lotus Evora Naomi for Haiti" title="The Lotus Evora Naomi for Haiti" class="location-right type-thumb" width="400" />
</a>
<div class="thumbcaption">The Lotus Evora Naomi for Haiti</div></div>
</div>

<p>
Following the <a class="external text" href="http://news.bbc.co.uk/1/hi/8455629.stm" rel="nofollow">earthquake that struck Haiti</a> in 2010, Lotus donated eight special edition Evora&#39;s to be auctioned off at Naomi Campbell&#39;s Fashion for Relief show, held at Somerset House on February 18th, during London Fashion Week.</p>
<p>The &#34;Naomi for Haiti&#34; cars were based off the standard Evora, and featured a unique livery designed by Lotus Design Director, Donato Coco, which &#34;reflects Naomi’s
design direction.&#34;.</p>
<p>The cars raised over €1.4 million towards relief efforts<sup id="_ref-6" class="reference"><a href="#_note-6" title="">[6]</a></sup>, with the first 2 cars selling for over £300,000 each.</p>
<p><a class="external text" href="http://www.Evorainfo.net/FileStore/PDFs/PR/Naomi%20for%20Haiti%20Press%20Release.pdf" rel="nofollow">Naomi for Haiti Press Release (PDF)</a></p>

<h4><span class="mw-headline" id="Press_reception">Press reception</span></h4>

<p>The Evora launched to positive reception from the press, with 5-star reviews in Evo<sup id="_ref-7" class="reference"><a href="#_note-7" title="">[7]</a></sup> and Car<sup id="_ref-8" class="reference"><a href="#_note-8" title="">[8]</a></sup> magazines.</p>
<p>Reviews praised the Evora&#39;s ride and handling, but raised some concerns as to whether the build quality was up to the level of its rivals.
&#34;It has proved to be a really usable GT car, yet it has also played the junior supercar role in a way I hadn’t expected. It still hasn’t got the feeling of solidity that Porsche imbues in its cars, but as a package the Evora has a lot of similarities with the multi-talented 911.&#34;</p>
<h5><span class="mw-headline" id="Awards">Awards</span></h5>

<p>Autocar - Britain&#39;s Best Driver&#39;s Car 2009<sup id="_ref-9" class="reference"><a href="#_note-9" title="">[9]</a></sup><br />
Car Magazine - Performance Car of the Year 2009<sup id="_ref-10" class="reference"><a href="#_note-10" title="">[10]</a></sup><br />
Evo - Car of the Year 2009<sup id="_ref-11" class="reference"><a href="#_note-11" title="">[11]</a></sup></p>
<p><a class="external text" href="http://www.Evorainfo.net/FileStore/PDFs/PR/Evora%20Award%20Press%20Release.pdf" rel="nofollow">Lotus Evora Award Press Release (PDF)</a></p>
<h3><span class="mw-headline" id="Evora_IPS">Evora IPS</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_IPS_Press_Shot.jpg" title="Evora IPS Press Shot"><img src="Evora_IPS_Press_Shot.jpg" alt="Evora IPS Press Shot" title="Evora IPS Press Shot" class="location-right type-thumb" width="400" />
</a>
<div class="thumbcaption">Evora IPS Press Shot</div></div>
</div>

<p>
Launched alongside the Evora S at the Paris Motor Show on September 30th 2010, the Evora IPS<sup id="_ref-12" class="reference"><a href="#_note-12" title="">[12]</a></sup> paired the normally aspirated <a href="http://wiki.seloc.org/a/Toyota_2GR-FE_engine#Evora" title="Toyota 2GR-FE engine">Toyota 2GR-FE</a> engine with the <a href="http://wiki.seloc.org/a/Gear_Ratios_-_Evora#Automatic_gearbox_information" title="Gear Ratios - Evora">Toyota U660E gearbox</a>.</p>
<p>The Toyota U660E gearbox is a traditional torque-converter automatic gearbox, and unlike the manual is only available with the standard Toyota specification <a href="http://wiki.seloc.org/a/Gear_Ratios_-_Evora#Gear_Ratios" title="Gear Ratios - Evora">gear ratios</a>. This is paired with Lotus&#39;s own electronics to give the gearbox a more sporting feel.</p>
<p>Inside the car sees the removal of the tradition gearstick, replaced with a panel for switching between Reverse, Neutral, Drive and Park, along with the Sport button. Paddles are fitted behind the steering wheel, with left paddle changing down and the right changing up. In the instrument binnacle the small LCD used to show the odometer is re-purposed to show the current gear selection and mode. In the foot-well, as you&#39;d expect, there are only two pedals.</p>
<p><a class="external text" href="http://www.Evorainfo.net/FileStore/PDFs/PR/Evora%20S%20and%20IPS%20Press%20Release.pdf" rel="nofollow">Lotus Evora S and IPS Press Release (PDF)</a></p>

<div style="page-break-inside: avoid;">
<table class="wikitable" style="margin: 1em auto 1em auto;">
<tr>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Evora_IPS_Steering_Wheel_and_Paddles.jpg" title="Evora IPS Steering Wheel and Paddles"><img src="Evora_IPS_Steering_Wheel_and_Paddles.jpg" alt="Evora IPS Steering Wheel and Paddles" title="Evora IPS Steering Wheel and Paddles" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Evora IPS Steering Wheel and Paddles</div></div>
</div>
 </td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Evora_IPS_Gear_Selector.jpg" title="Evora IPS Gear Selector"><img src="Evora_IPS_Gear_Selector.jpg" alt="Evora IPS Gear Selector" title="Evora IPS Gear Selector" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Evora IPS Gear Selector</div></div>
</div>
</td></tr>
<tr>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Evora_IPS_Gear_Display.jpg" title="Evora IPS Gear Display"><img src="Evora_IPS_Gear_Display.jpg" alt="Evora IPS Gear Display" title="Evora IPS Gear Display" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Evora IPS Gear Display</div></div>
</div>
 </td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Evora_IPS_Pedals.jpg" title="Evora IPS Pedals"><img src="Evora_IPS_Pedals.jpg" alt="Evora IPS Pedals" title="Evora IPS Pedals" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Evora IPS Pedals</div></div>
</div>
</td></tr></table></div>

<p>Sport mode in the Evora IPS changes the way the gearbox reacts, both in terms of the chosen gear and the amount of time the car will remain in Manual mode after a paddle has been used. It does not however increase the rev limit due to the limitations of most torque converter automatic gearboxes.</p>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td><b>Layout</b> </td>
<td>Transverse mid engined, rear wheel drive</td></tr>
<tr>
<td><b>Length</b> </td>
<td>4342 mm</td></tr>
<tr>
<td><b>Width</b> </td>
<td>1848 mm</td></tr>
<tr>
<td><b>Height</b> </td>
<td>1223mm</td></tr>
<tr>
<td><b>Engine fuel</b> </td>
<td>Petrol</td></tr>
<tr>
<td><b>Engine configuration</b> </td>
<td>V6</td></tr>
<tr>
<td><b>Engine capacity</b> </td>
<td>3456 cc</td></tr>
<tr>
<td><b>Engine power</b> </td>
<td>276hp (280PS/206KW) at 6400 rpm</td></tr>
<tr>
<td><b>Engine torque</b> </td>
<td>258lb/ft (350Nm) at 4600 rpm</td></tr>
<tr>
<td><b>Engine rev limit</b> </td>
<td>6400rpm</td></tr>
<tr>
<td><b>0-60mph (0-100 km/h)</b> </td>
<td>5.3 seconds (5.5 seconds)</td></tr>
<tr>
<td><b>Top speed</b> </td>
<td>155mph (250kph)</td></tr>
<tr>
<td><b>CO<sub>2</sub>Emissions</b> </td>
<td>208g/km</td></tr>
<tr>
<td><b>Weight</b> </td>
<td>1436kg</td></tr>
<tr>
<td><b>Seats</b> </td>
<td>2 (with option of 2+2)</td></tr>
<tr>
<td><b>Transmission</b> </td>
<td>6 speed automatic</td></tr>
<tr>
<td><b>Drive</b> </td>
<td>RWD</td></tr></table></div>


<h3><span class="mw-headline" id="Evora_S">Evora S</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_S_and_IPS_Launch.jpg" title="The Evora S and IPS are launched at the Paris Motor Show 2010"><img src="Evora_S_and_IPS_Launch.jpg" alt="The Evora S and IPS are launched at the Paris Motor Show 2010" title="The Evora S and IPS are launched at the Paris Motor Show 2010" class="location-right type-thumb" width="400" />
</a>
<div class="thumbcaption">The Evora S and IPS are launched at the Paris Motor Show 2010</div></div>
</div>

<p>
Officially unveiled at the Paris Motor Show on September 30th 2010 alongside the Evora IPS. It&#39;s launch was somewhat overshadowed however as Lotus chose the same event to unveil this &#39;New Era&#39; range of concept cars, prompting concerns that the Evora would quickly be replaced by the new Elan. These concerns were later allayed with the Elan later scheduled for 2017 and Lotus committing to continuing the evolution of the Evora range.</p>
<p>The most obvious enhancement from the base Evora is the addition of an <a href="http://wiki.seloc.org/a/Toyota_2GR-FE_engine#Evora_S" title="Toyota 2GR-FE engine">Eaton Roots-type Twin-Vortices supercharger</a> helping the Evora S produce 345bhp, but the Evora S also receives the Sport Pack, cross drilled brakes and Stealth Grey Classic Wheels as standard, along with revisions made to areas such as the gear shift linkage.</p>
<p><a class="external text" href="http://www.Evorainfo.net/FileStore/PDFs/PR/Evora%20S%20and%20IPS%20Press%20Release.pdf" rel="nofollow">Lotus Evora S and IPS Press Release (PDF)</a></p>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td><b>Layout</b> </td>
<td>Transverse mid engined, rear wheel drive</td></tr>
<tr>
<td><b>Length</b> </td>
<td>4342 mm</td></tr>
<tr>
<td><b>Width</b> </td>
<td>1848 mm</td></tr>
<tr>
<td><b>Height</b> </td>
<td>1223mm</td></tr>
<tr>
<td><b>Engine fuel</b> </td>
<td>Petrol</td></tr>
<tr>
<td><b>Engine configuration</b> </td>
<td>V6 with Supercharger</td></tr>
<tr>
<td><b>Engine capacity</b> </td>
<td>3456 cc</td></tr>
<tr>
<td><b>Engine power</b> </td>
<td>345hp (350PS/257.5KW) at 7000 rpm</td></tr>
<tr>
<td><b>Engine torque</b> </td>
<td>295lb/ft (400Nm) at 4500 rpm</td></tr>
<tr>
<td><b>Engine rev limit</b> </td>
<td>7000rpm</td></tr>
<tr>
<td><b>0-60mph (0-100 km/h)</b> </td>
<td>4.6 seconds (4.8 seconds)</td></tr>
<tr>
<td><b>Top speed</b> </td>
<td>172mph (277kph)</td></tr>
<tr>
<td><b>CO<sub>2</sub>Emissions</b> </td>
<td>235g/km (MY10/11)<br />229g/km (MY12)</td></tr>
<tr>
<td><b>Weight</b> </td>
<td>1437kg</td></tr>
<tr>
<td><b>Seats</b> </td>
<td>2 (with option of 2+2)</td></tr>
<tr>
<td><b>Transmission</b> </td>
<td>6 speed manual</td></tr>
<tr>
<td><b>Drive</b> </td>
<td>RWD</td></tr></table></div>


<h4><span class="mw-headline" id="Evora_S_Gumball">Evora S Gumball</span></h4>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_S_Gumball.jpg" title="Evora S Gumball on the 2011 Gumball Rally 3000"><img src="Evora_S_Gumball.jpg" alt="Evora S Gumball on the 2011 Gumball Rally 3000" title="Evora S Gumball on the 2011 Gumball Rally 3000" class="location-right type-thumb" width="400" />
</a>
<div class="thumbcaption">Evora S Gumball on the 2011 Gumball Rally 3000</div></div>
</div>

<p> A one off car created by Lotus for the 2011 Gumball Rally 3000 and driven by Tamer Hassan.</p>
<p>Based on the standard Evora S the Gumball car was enhanced with a range of cosmetic and mechanical changes borrowed from the Evora GT4 race car. These included the full GT4 aero package of front and rear bumpers, front diffuser, rear splitter and wing, air intake, barge board and grills, along with the GT4 exhaust, wheels, 4-way adjustable Ohlin dampers, stiffer Eibach Race springs and a 30mm lower ride height - although road tyres were retained to keep the car road legal.</p>
<p>With these changes the Evora S Gumball 3000 was quoted to be producing 400ps.</p>
<p><a class="external text" href="http://lotusfiles.com/gumball3000/TechSpec.pdf" rel="nofollow">Lotus Evora S - 2011 Gumball 3000 Tech Specs</a></p>

<h4><span class="mw-headline" id="Naomi_for_Japan">Naomi for Japan</span></h4>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:NaomiForJapan.jpg" title="Evora S Naomi for Japan"><img src="NaomiForJapan.jpg" alt="Evora S Naomi for Japan" title="Evora S Naomi for Japan" class="location-right type-thumb" width="400" />
</a>
<div class="thumbcaption">Evora S Naomi for Japan</div></div>
</div>


<h4><span class="mw-headline" id="Freddie_Mercury_Evora_S">Freddie Mercury Evora S</span></h4>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:FreddieMercuryEvoraS.jpg" title="Freddie Mercury Evora S Concept Art from the September 1st press release"><img src="FreddieMercuryEvoraS.jpg" alt="Freddie Mercury Evora S Concept Art from the September 1st press release" title="Freddie Mercury Evora S Concept Art from the September 1st press release" class="location-right type-thumb" width="400" />
</a>
<div class="thumbcaption">Freddie Mercury Evora S Concept Art from the September 1st press release</div></div>
</div>

<p>
</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:FreddieMercuryEvoraSInterior.jpg" title="Freddie Mercury Evora S Concept Art from the September 1st press release"><img src="FreddieMercuryEvoraSInterior.jpg" alt="Freddie Mercury Evora S Concept Art from the September 1st press release" title="Freddie Mercury Evora S Concept Art from the September 1st press release" class="location-right type-thumb" width="400" />
</a>
<div class="thumbcaption">Freddie Mercury Evora S Concept Art from the September 1st press release</div></div>
</div>

<p>
The Freddie Mercury Evora S was first announced by Lotus Cars in a press release<sup id="_ref-13" class="reference"><a href="#_note-13" title="">[13]</a></sup> on September 1st, 2011 as a limited edition of just 1 car. </p>
<p>The car was offered up for sale as an auction item for the Mercury Phoenix Trust, an HIV and AIDs charity fund, and sold on September 5th - which would have been Freddie Mercury&#39;s 65th birthday - to Chris Evans<sup id="_ref-14" class="reference"><a href="#_note-14" title="">[14]</a></sup> for £100,000. Evans visited Hethel later in September<sup id="_ref-15" class="reference"><a href="#_note-15" title="">[15]</a></sup> to tour the factory, try some laps of the Hethel test track, and sign off his cars specification.</p>
<p>The final specification of the car was as follows: Evora S (MY12), 2+0 seating configuration, Pearl White with unique Red and Bronze stripes, Premium Pack Suedetex (custom colour scheme), Tech Pack, Diamond Cut Alloy Wheels, Reversing Camera, Powerfold Mirrors, Lotus Evora Freddie Mercury &#34;65&#34; Build Plate.</p>
<p>Unlike the concept renderings the car was specified with black suedetex fronts to the seats (although retained the concept renderings yellow rear panel), while the dash received a yellow suedetex covering.</p>
<p>Since taking delivery of the car Evans has since twice placed the car for sale, as apparently he didn&#39;t have room for the car amongst his collection<sup id="_ref-16" class="reference"><a href="#_note-16" title="">[16]</a></sup>
. It was first offered for sale in February 2012, unregistered and with delivery mileage, at Ferrari and Maserati dealership Meridien Modena<sup id="_ref-17" class="reference"><a href="#_note-17" title="">[17]</a></sup> - advertising the car at £76,000 - and then once again in November 2012, registered on a 12-plate with 2156 miles and an asking price of £57,995 at Lotus dealers Bell &#38; Colvill<sup id="_ref-18" class="reference"><a href="#_note-18" title="">[18]</a></sup>, with the price later dropping.</p>
<p>In June 2013 the car was sold to SELOC member &#39;missis sumner&#39;<sup id="_ref-19" class="reference"><a href="#_note-19" title="">[19]</a></sup>.</p>

<div style="page-break-inside: avoid;">
<table class="wikitable" style="margin: 1em auto 1em auto;">
<tr>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Evora_S_-_Freddie_Mercury_Edition_-_B%26C_-_1.jpg" title="Freddie Mercury Evora S"><img src="Evora_S_-_Freddie_Mercury_Edition_-_B%26C_-_1.jpg" alt="Freddie Mercury Evora S" title="Freddie Mercury Evora S" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Freddie Mercury Evora S</div></div>
</div>
</td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Evora_S_-_Freddie_Mercury_Edition_-_B%26C_-_2.jpg" title="Freddie Mercury Evora S"><img src="Evora_S_-_Freddie_Mercury_Edition_-_B%26C_-_2.jpg" alt="Freddie Mercury Evora S" title="Freddie Mercury Evora S" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Freddie Mercury Evora S</div></div>
</div>
</td></tr>
<tr>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Evora_S_-_Freddie_Mercury_Edition_-_B%26C_-_3.jpg" title="Freddie Mercury Evora S Interior"><img src="Evora_S_-_Freddie_Mercury_Edition_-_B%26C_-_3.jpg" alt="Freddie Mercury Evora S Interior" title="Freddie Mercury Evora S Interior" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Freddie Mercury Evora S Interior</div></div>
</div>
</td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Evora_S_-_Freddie_Mercury_Edition_-_B%26C_-_4.jpg" title="Freddie Mercury Evora S Interior"><img src="Evora_S_-_Freddie_Mercury_Edition_-_B%26C_-_4.jpg" alt="Freddie Mercury Evora S Interior" title="Freddie Mercury Evora S Interior" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Freddie Mercury Evora S Interior</div></div>
</div>
</td></tr></table></div>


<h4><span class="mw-headline" id="The_Who_Evora_S">The Who Evora S</span></h4>


<div style="page-break-inside: avoid;">
<table class="wikitable" style="float: right; margin: 0em auto 0em auto;">
<tr>
<td><a class="image" href="http://wiki.seloc.org/a/image:Evora_-_The_Who_-_Exterior.png" title="The Who Evora S Exterior Concept Art"><img src="Evora_-_The_Who_-_Exterior.png" alt="The Who Evora S Exterior Concept Art" class="location-right" width="400" />
</a></td></tr>
<tr>
<td><a class="image" href="http://wiki.seloc.org/a/image:Evora_-_The_Who_-_Interior.png" title="The Who Evora S Interior Concept Art"><img src="Evora_-_The_Who_-_Interior.png" alt="The Who Evora S Interior Concept Art" class="location-right" width="400" />
</a></td></tr></table></div>
<p>Another one-off car built and auctioned off for charity, The Who Evora S was designed in conjunction with The Who front-man Roger Daltrey CBE<sup id="_ref-20" class="reference"><a href="#_note-20" title="">[20]</a></sup> and was sold by Bonhams to raise money for the <a class="external text" href="http://www.teenagecancertrust.org/who-we-are/media-centre/press-releases/roger-daltrey-lotus-evora-auctioned-for-teenage-ca/" rel="nofollow">Teenage Cancer Trust</a>.</p>
<p>The car was built to MY12 specification and features a full compliment of option packs, with the IPS gearbox, 2+2 seating, Tech Pack, Premium Sports Pack, power-fold mirrors, reversing camera and heated seats all included. The exterior was finished in Starlight Black, with unique detailing including pin-striping of the sills, The Who roundels ahead of the doors, a Union Jack decal on the rear wing and Roger Daltrey&#39;s signature by the rear windows. The interior was similarly unique, with a red dashboard and black leather and alcantara trimmed seats with red contrast sticking and The Who roundels embroidered into the headrests. </p>
<p>It was hoped that the car, which would have had a list price of over £73,000, would raise in excess of £80,000<sup id="_ref-21" class="reference"><a href="#_note-21" title="">[21]</a></sup>, however the final sale price came to just £56,000 including buyers premium<sup id="_ref-22" class="reference"><a href="#_note-22" title="">[22]</a></sup>.</p>
<p>Since it&#39;s sale the car has been spotted in the wild at the Lotus of Cleveland dealership in America <sup id="_ref-23" class="reference"><a href="#_note-23" title="">[23]</a></sup> and is a LHD car.</p>


<h4><span class="mw-headline" id="Evora_GP_Edition">Evora GP Edition</span></h4>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_GP_Edition.jpg" title="Evora GP Edition"><img src="Evora_GP_Edition.jpg" alt="Evora GP Edition" title="Evora GP Edition" class="location-right type-thumb" width="400" />
</a>
<div class="thumbcaption">Evora GP Edition</div></div>
</div>

<p>
Announced October 10th, 2011<sup id="_ref-24" class="reference"><a href="#_note-24" title="">[24]</a></sup>, the Evora GP Edition is a limited edition based around the Evora S with Lotus Renault GP inspired livery.</p>
<p>In addition to the standard Evora S specification the Evora GP Edition features:
Premium Pack with SuedeTex and custom Red Stitching
Suedetex Base Pack
Tech Pack
Reversing Camera
Forged Diamond Cut Design Wheels 19 inch front and 20 inch rear</p>
<p>UK and European cars were built to MY11 specification with a total of 3 UK and 4 or 5 European cars, while the 14 US and 4 Canadian cars were built to MY12 specification.<sup id="_ref-25" class="reference"><a href="#_note-25" title="">[25]</a></sup></p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Evora_GP_Edition_-_Exterior.jpg" title="UK market Evora GP Edition exterior"><img src="Evora_GP_Edition_-_Exterior.jpg" alt="UK market Evora GP Edition exterior" title="UK market Evora GP Edition exterior" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">UK market Evora GP Edition exterior</div></div>
</div>

<p>The Evora GP Edition also features a unique gold colour for the wheels, a gold livery applied to the bodywork, and red trim on the front splitter, wing mirror covers and above the rear diffuser. MY11 cars received the Premium Pack with SuedeTex and custom Red Stitching, but with the MY12 style darker dashboard finish, while MY12 cars received the later MY12 Premium Pack Sport interior in Ebony black leather with Red Piping.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Evora_GP_Edition_-_Interior.jpg" title="UK market Evora GP Edition interior"><img src="Evora_GP_Edition_-_Interior.jpg" alt="UK market Evora GP Edition interior" title="UK market Evora GP Edition interior" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">UK market Evora GP Edition interior</div></div>
</div>


<h3><span class="mw-headline" id="Evora_S_IPS">Evora S IPS</span></h3>

<p>Introduced at the Frankfurt Motor Show in 2011, the Evora S IPS combined the two introductions from Paris the previous year, matching up the more powerful Evora S engine with the Evora IPS paddle shift automatic gearbox.</p>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td><b>Layout</b> </td>
<td>Transverse mid engined, rear wheel drive</td></tr>
<tr>
<td><b>Length</b> </td>
<td>4342 mm</td></tr>
<tr>
<td><b>Width</b> </td>
<td>1848 mm</td></tr>
<tr>
<td><b>Height</b> </td>
<td>1223mm</td></tr>
<tr>
<td><b>Engine fuel</b> </td>
<td>Petrol</td></tr>
<tr>
<td><b>Engine configuration</b> </td>
<td>V6 with Supercharger</td></tr>
<tr>
<td><b>Engine capacity</b> </td>
<td>3456 cc</td></tr>
<tr>
<td><b>Engine power</b> </td>
<td>345hp (350PS/257.5KW) at 7000 rpm</td></tr>
<tr>
<td><b>Engine torque</b> </td>
<td>295lb/ft (400Nm) at 4500 rpm</td></tr>
<tr>
<td><b>Engine rev limit</b> </td>
<td>7000rpm</td></tr>
<tr>
<td><b>0-60mph (0-100 km/h)</b> </td>
<td>4.6 seconds (4.8 seconds)</td></tr>
<tr>
<td><b>Top speed</b> </td>
<td>172mph (277kph)</td></tr>
<tr>
<td><b>CO<sub>2</sub>Emissions</b> </td>
<td>224g/km (MY12)</td></tr>
<tr>
<td><b>Weight</b> </td>
<td>1437kg</td></tr>
<tr>
<td><b>Seats</b> </td>
<td>2 (with option of 2+2)</td></tr>
<tr>
<td><b>Transmission</b> </td>
<td>6 speed automatic</td></tr>
<tr>
<td><b>Drive</b> </td>
<td>RWD</td></tr></table></div>

<h3><span class="mw-headline" id="Evora_GTE">Evora GTE</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_GTE_Road_Car_-_Hethel_Pit_Lane.jpg" title="Evora GTE Road Car in the Hethel Pit Lane"><img src="Evora_GTE_Road_Car_-_Hethel_Pit_Lane.jpg" alt="Evora GTE Road Car in the Hethel Pit Lane" title="Evora GTE Road Car in the Hethel Pit Lane" class="location-right type-thumb" width="400" />
</a>
<div class="thumbcaption">Evora GTE Road Car in the Hethel Pit Lane</div></div>
</div>

<p>Despite sharing it&#39;s name with the <a href="http://wiki.seloc.org/a/Models_-_Evora#Evora_GTE_2" title="Models - Evora">Evora GTE Race Car</a> the Evora GTE Road Cars drivetrain is a modified version of the <a href="http://wiki.seloc.org/a/Toyota_engines#Evora_S.2FExige_S" title="Toyota engines">supercharged 2GR-FE</a> seen in the <a href="http://wiki.seloc.org/a/Models_-_Evora#Evora_S" title="Models - Evora">Evora S</a> rather than the 4-litre Toyota Cosworth engine used in the race cars.</p>
<p>Power is increased to 438bhp at 7000rpm through the process of an engine rebuild with stronger internal components in conjunction with a higher boost pressure and larger intercooler. This is fed through a hydraulically automated version of the <a href="http://wiki.seloc.org/a/Toyota_Gearboxes#EA60" title="Toyota Gearboxes">Toyota EA60 gearbox</a>, and controlled via steering wheel mounted paddles.</p>
<p>Weight is reduced by around 90-105kg compared to the Evora S through the extensive use of carbon fibre both inside and out, including wider carbon fibre bodywork with the front and rear camshells, wings, doors, rear bulkhead and spoilers all made by Mansory in Germany.</p>
<p>Although the car garnered much publicity, various engineering issues meant that it never entered full production. A number of cars were however delivered to collectors in Asia and the Middle East<sup id="_ref-26" class="reference"><a href="#_note-26" title="">[26]</a></sup>.</p>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td><b>Layout</b> </td>
<td>Transverse mid engined, rear wheel drive</td></tr>
<tr>
<td><b>Length</b> </td>
<td>4360.5 mm</td></tr>
<tr>
<td><b>Width</b> </td>
<td>1848 mm</td></tr>
<tr>
<td><b>Height</b> </td>
<td>1214 mm</td></tr>
<tr>
<td><b>Engine fuel</b> </td>
<td>Petrol</td></tr>
<tr>
<td><b>Engine configuration</b> </td>
<td>V6 with Supercharger</td></tr>
<tr>
<td><b>Engine capacity</b> </td>
<td>3456 cc</td></tr>
<tr>
<td><b>Engine power</b> </td>
<td>437hp (444PS/257.5KW) at 7000 rpm</td></tr>
<tr>
<td><b>Engine torque</b> </td>
<td>310lb/ft (420Nm) at 4500 rpm</td></tr>
<tr>
<td><b>Engine rev limit</b> </td>
<td>7200rpm</td></tr>
<tr>
<td><b>0-60mph (0-100 km/h)</b> </td>
<td>TBC</td></tr>
<tr>
<td><b>Top speed</b> </td>
<td>TBC</td></tr>
<tr>
<td><b>CO<sub>2</sub>Emissions</b> </td>
<td>TBC</td></tr>
<tr>
<td><b>Weight</b> </td>
<td>1276kg</td></tr>
<tr>
<td><b>Seats</b> </td>
<td>2</td></tr>
<tr>
<td><b>Transmission</b> </td>
<td>6 speed hydraulically automated manual</td></tr>
<tr>
<td><b>Drive</b> </td>
<td>RWD</td></tr></table></div>


<h3><span class="mw-headline" id="Evora_Sports_Racer">Evora Sports Racer</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Lotus_Evora_Sports_Racer.jpg" title="Lotus Evora S Sports Racer"><img src="Lotus_Evora_Sports_Racer.jpg" alt="Lotus Evora S Sports Racer" title="Lotus Evora S Sports Racer" class="location-right type-thumb" width="400" />
</a>
<div class="thumbcaption">Lotus Evora S Sports Racer</div></div>
</div>

<p>
Introduced in December 2012<sup id="_ref-27" class="reference"><a href="#_note-27" title="">[27]</a></sup>, the Evora Sports Racer was introduced in an attempt to reinvigorate interest in the model by adding new detailing an effective £6,450-£7,150 price drop over an equivalent specification standard model.</p>
<p>The Evora Sports Racer can be ordered in either <a href="http://wiki.seloc.org/a/Models_-_Evora#Evora" title="Models - Evora">normally aspirated</a> (£57,900) or <a href="http://wiki.seloc.org/a/Models_-_Evora#Evora_S" title="Models - Evora">supercharged</a> (£65,900), and incorporates the black detailing previously available as bespoke orders on some customer cars, with a black roof, front splitter, rear diffuser, side sills, rear badging and door mirror pods.</p>
<p>All the option packs normally offered on the Evora are <a href="http://wiki.seloc.org/a/Pricing_and_Upgrades_(2013)#Standard_Specification" title="Pricing and Upgrades (2013)">included as standard</a>, with only three option for buyers to choose from - two no cost options in the form of a limited selection of <a href="http://wiki.seloc.org/a/Paint_Colours_-_2012" title="Paint Colours - 2012">colours</a> (Aspen White, Carbon Grey, Nightfall Blue or Ardent Red), either the Ebony Black or Venom Red <a href="http://wiki.seloc.org/a/Interior_-_Evora#Premium_Sport" title="Interior - Evora">Premium Sport Interior</a> and 1 cost option, the <a href="http://wiki.seloc.org/a/2GR-FE_Gearboxes#Automatic_gearbox_information" title="2GR-FE Gearboxes">IPS gearbox</a>.</p>
<p><a class="image" href="http://wiki.seloc.org/a/image:Evora_Sport_Racer_Colours.jpg" ><img src="Evora_Sport_Racer_Colours.jpg" class="location-center" width="220" />
</a></p>


<h2><span class="mw-headline" id="MY12_Updates">MY12 Updates</span></h2>

<p>The launch of the MY12 cars at the Frankfurt Motor Show saw a range of improvements and specification changes to the Evora range, some of which had been made to cars as and when they were developed, and others which were added specifically to the Model Year 2012 cars.</p>
<p><b>Changes included</b><br />
Close Ratio Gearbox, Bi-Xenon headlights and Body Coloured Door Handles now included as standard throughout the range<br />
Revised selection of <a href="http://wiki.seloc.org/a/Paint_Colours_-_2012" title="Paint Colours - 2012">Paint Colours</a>, including some unique to the Evora and the new Motorsport colours.<br />
Revised gear linkage, gear stick design and positioning.<br />
Pioneer headunit for the Tech Pack, replacing the previous Alpine unit.<br />
New exhaust design to give a more evocative exhaust note.<br />
Redesigned door seals and latches.<br />
Revised interior with additional Premium Sport option, new colour options, leather covering on extra surfaces to improve the look and feel, redesigned steering wheel, higher quality leather, new floormats, etc.</p>

<div style="page-break-inside: avoid;">
<table class="wikitable" style="margin: 1em auto 1em auto;">
<tr>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Evora_S_MY12_Interior_Front.jpg" title="Evora S MY12 &#39;Premium Sport&#39; Interior - Front"><img src="Evora_S_MY12_Interior_Front.jpg" alt="Evora S MY12 &#39;Premium Sport&#39; Interior - Front" title="Evora S MY12 &#39;Premium Sport&#39; Interior - Front" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Evora S MY12 &#39;Premium Sport&#39; Interior - Front</div></div>
</div>
 </td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Evora_S_MY12_Interior_Rear.jpg" title="Evora S MY12 &#39;Premium Sport&#39; Interior - Rear"><img src="Evora_S_MY12_Interior_Rear.jpg" alt="Evora S MY12 &#39;Premium Sport&#39; Interior - Rear" title="Evora S MY12 &#39;Premium Sport&#39; Interior - Rear" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Evora S MY12 &#39;Premium Sport&#39; Interior - Rear</div></div>
</div>
</td></tr></table></div>

<h2><span class="mw-headline" id="Concept_Cars">Concept Cars</span></h2>

<h3><span class="mw-headline" id="Evora_414E_Hybrid">Evora 414E Hybrid</span></h3>


<div style="page-break-inside: avoid;">
<table class="wikitable" style="float: right; margin: 0em auto 0em auto;">
<tr>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_414E_Hybrid.jpg" title="Evora 414E Hybrid"><img src="Evora_414E_Hybrid.jpg" alt="Evora 414E Hybrid" title="Evora 414E Hybrid" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Evora 414E Hybrid</div></div>
</div>
</td></tr>
<tr>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Lotus_Evora_414E_Motor_bay.jpg" title="Evora 414E Hybrid Engine Bay"><img src="Lotus_Evora_414E_Motor_bay.jpg" alt="Evora 414E Hybrid Engine Bay" title="Evora 414E Hybrid Engine Bay" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Evora 414E Hybrid Engine Bay</div></div>
</div>
</td></tr>
<tr>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_414E_Hybrid_Interior.jpg" title="Evora 414E Hybrid Interior"><img src="Evora_414E_Hybrid_Interior.jpg" alt="Evora 414E Hybrid Interior" title="Evora 414E Hybrid Interior" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Evora 414E Hybrid Interior</div></div>
</div>
</td></tr></table></div>

<p>Unveiled at the Geneva Motor Show in September 2010, the Evora 414E Hybrid<sup id="_ref-28" class="reference"><a href="#_note-28" title="">[28]</a></sup> serves as a practical demonstration of the flexibility of Lotus&#39;s VVA platform and replaces the Evora&#39;s Toyota sourced engine with a Hybrid petrol-electic drivetrain.</p>
<p>Unlike many traditional hybrids the petrol engine does not drive the wheels, instead the Lotus Range Extender (1.2l, three-cylinder, 47hp) is used in conjunction with other energy recovery techniques to provide a total range of up to 300 miles.</p>
<p>To increase driver involvement the Lotus developed HALOsonic Internal and External Sound Synthesis system is used to simulate the noise of a conventional petrol driven car, provide aural feedback to the driver as well as an audible warning for pedestrians which is often missing from hybrid cars running on battery power.</p>
<p>The interior and exterior are both styled to reflect the battery powered nature of the car, with the copper colour resembling that of a battery, while the roof and engine cover are made of glass with electrical contact detailing. While the basic interior layout remains the same as that of the standard Evora the rear seats are removed to make way for the battery packs.</p>
<p><a class="external text" href="http://www.Evorainfo.net/FileStore/PDFs/PR/Evora%20414E%20Hybrid%20Press%20Release.pdf" rel="nofollow">Lotus Evora 414E Hybrid Press Release (PDF)</a></p>


<h3><span class="mw-headline" id="Evora_Carbon_Concept">Evora Carbon Concept</span></h3>


<div style="page-break-inside: avoid;">
<table class="wikitable" style="float: right; margin: 1em auto 1em auto;">
<tr>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Evora_Carbon_Concept_Front.jpg" title="Lotus Evora Carbon Concept Front"><img src="Evora_Carbon_Concept_Front.jpg" alt="Lotus Evora Carbon Concept Front" title="Lotus Evora Carbon Concept Front" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Lotus Evora Carbon Concept Front</div></div>
</div>
 </td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Evora_Carbon_Concept_Rear.jpg" title="Lotus Evora Carbon Concept Rear"><img src="Evora_Carbon_Concept_Rear.jpg" alt="Lotus Evora Carbon Concept Rear" title="Lotus Evora Carbon Concept Rear" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Lotus Evora Carbon Concept Rear</div></div>
</div>
</td></tr></table></div>
<p>Shown at the 2010 Geneva Motor Show alongside the Evora 414E Hybrid, the Evora Carbon Concept left the car mechanically unaltered, while subtly enhancing its appearance both inside and out.</p>
<p>On the outside the Evora Carbon Concept features a pearlescent white paint job along with contrasting carbon fibre roof, diffuser and splitter. The ride height is lowered, while 19&#34; diamond cut forged wheels are fitted both front and rear. Tyres are Pirelli P-Zero Corsa&#39;s, sized 235/35/19 on the front and 285/30/19 at the rear.</p>
<p>Inside the interior is fitted with carbon panels, perforated leather and matt alcantara.</p>
<p>Donato Coco, Director of Lotus Design described the car, &#34;The design of the Evora Carbon Concept car features exotic, high tech materials that offer a good synergy with the Lotus brand image, expressing our motorsport heritage and history of stylish sports cars for which Lotus are renowned.&#34;<sup id="_ref-29" class="reference"><a href="#_note-29" title="">[29]</a></sup></p>
<p><a class="external text" href="http://www.Evorainfo.net/FileStore/PDFs/PR/Evora%20Carbon%20Concept%20Press%20Release.pdf" rel="nofollow">Lotus Evora Carbon Concept Press Release (PDF)</a></p>

<h3><span class="mw-headline" id="Evora_by_Mansory">Evora by Mansory</span></h3>


<div style="page-break-inside: avoid;">
<table class="wikitable" style="float:right; margin: 1em auto 1em auto;">
<tr>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Mansory_Evora_Concept_Front.jpg" title="Lotus Mansory Evora Concept Front"><img src="Mansory_Evora_Concept_Front.jpg" alt="Lotus Mansory Evora Concept Front" title="Lotus Mansory Evora Concept Front" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Lotus Mansory Evora Concept Front</div></div>
</div>
 </td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Mansory_Evora_Concept_Rear.jpg" title="Lotus Mansory Evora Concept Rear"><img src="Mansory_Evora_Concept_Rear.jpg" alt="Lotus Mansory Evora Concept Rear" title="Lotus Mansory Evora Concept Rear" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Lotus Mansory Evora Concept Rear</div></div>
</div>
</td></tr></table></div>
<p>The Evora by Mansory was shown at the Geneva Motor Show 2011 as a demonstration of the potential Lotus Bespoke range.</p>
<p>Developed in conjunction with the aftermarket tuning company <a class="external text" href="http://www.mansory.com/" rel="nofollow">Mansory</a>, the Evora by Mansory built on the themes first shown in the <a href="http://wiki.seloc.org/a/Models_-_Evora#Evora_Carbon_Concept" title="Models - Evora">Carbon Concept</a>, with pearlescent white paint, a carbon fibre roof, splitter, diffuser and sills, and added restyled front and rear bumpers, a carbon fibre rear spoiler with additional element beneath the wing, and some other small carbon fibre detailing.</p>
<p>Commenting on the car in Geneva, CEO Dany Bahar said: ”I think our collaboration with Mansory really showcases the aesthetic potential of the car too, the only limit is your imagination.</p>
<p><a class="external text" href="http://www.Evorainfo.net/FileStore/PDFs/PR/Evora%20by%20Mansory%20Press%20Release.pdf" rel="nofollow">Lotus Evora by Mansory Press Release (PDF)</a></p>

<h3><span class="mw-headline" id="Evora_GTE_Road_Concept">Evora GTE Road Concept</span></h3>


<div style="page-break-inside: avoid;">
<table class="wikitable" style="float: right; margin: 1em auto 1em auto;">
<tr>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Evora_GTE_Road_Concept_Front.jpg" title="Lotus Evora GTE Road Concept Front"><img src="Evora_GTE_Road_Concept_Front.jpg" alt="Lotus Evora GTE Road Concept Front" title="Lotus Evora GTE Road Concept Front" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Lotus Evora GTE Road Concept Front</div></div>
</div>
 </td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Evora_GTE_Road_Concept_Rear.jpg" title="Lotus Evora GTE Road Concept Rear"><img src="Evora_GTE_Road_Concept_Rear.jpg" alt="Lotus Evora GTE Road Concept Rear" title="Lotus Evora GTE Road Concept Rear" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Lotus Evora GTE Road Concept Rear</div></div>
</div>
</td></tr></table></div>
<p>The Evora GTE Road Concept was shown at the Pebble Beach Show in August 2011 along with the Exige Matt Black Edition as part of the yearly Concours D’Elegance event.<sup id="_ref-30" class="reference"><a href="#_note-30" title="">[30]</a></sup></p>
<p>The Evora GTE Road Car Concept took inspiration, if not actual mechanicals, from the range of Evora race cars, while also building themes seen in previous <a href="http://wiki.seloc.org/a/Models_-_Evora#Concept_Cars" title="Models - Evora">Evora concept cars</a> such as the <a href="http://wiki.seloc.org/a/Models_-_Evora#Evora_Carbon_Concept" title="Models - Evora">Evora Carbon Concept</a> and <a href="http://wiki.seloc.org/a/Models_-_Evora#Evora_by_Mansory" title="Models - Evora">Evora by Mansory</a>.</p>
<p>The Evora GTE&#39;s lowered suspension and wider bodywork helped give it a more purposeful stance, while the front bumper — an evolution of those first seen on the <a href="http://wiki.seloc.org/a/Models_-_Evora#Evora_by_Mansory" title="Models - Evora">Evora by Mansory</a> - helped both add an element of air of aggression that many felt was missing from the Evora range and a visual link to the &#34;New Era&#34; range of cars shown by Lotus at Paris 2010.</p>
<p>The Mansory link was also evident in the small badge on the cars rear spoiler—the only aspect of the design to have seen much in the way of criticism.</p>

<h2><span class="mw-headline" id="Motorsport">Motorsport</span></h2>

<h3><span class="mw-headline" id="Evora_Type_124">Evora Type 124</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Lotus_Evora_Type_124.jpg" title="Lotus Evora Type 124"><img src="Lotus_Evora_Type_124.jpg" alt="Lotus Evora Type 124" title="Lotus Evora Type 124" class="location-right type-thumb" width="400" />
</a>
<div class="thumbcaption">Lotus Evora Type 124</div></div>
</div>


<h3><span class="mw-headline" id="Evora_GT4">Evora GT4</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Lotus_Evora_GT4.jpg" title="Lotus Evora GT4 at the Lotus Festival 2011"><img src="Lotus_Evora_GT4.jpg" alt="Lotus Evora GT4 at the Lotus Festival 2011" title="Lotus Evora GT4 at the Lotus Festival 2011" class="location-right type-thumb" width="400" />
</a>
<div class="thumbcaption">Lotus Evora GT4 at the Lotus Festival 2011</div></div>
</div>

<p>
<a class="external text" href="http://issuu.com/lotuscars/docs/gt4" rel="nofollow">Lotus Evora GT4 Tech Specs on Issuu</a></p>
<p>The Evora GT4 is an evolution of the original Evora Type 124, designed to compete in the British and European GT4 championship, along with Lotus Cup Europe in 2011 onwards and Lotus Cup UK from 2012.</p>
<p>The enlarged <a href="http://wiki.seloc.org/a/Toyota_engines#Motorsport" title="Toyota engines">4-litre 2GR-FE</a> is naturally aspirated, built by Cosworth and produces 360PS in European GT4 form. Weight is reduced to 1200kg.</p>
<p>In 2011 the <a class="external text" href="http://www.lotussportuk.com/" rel="nofollow">Lotus Sport UK</a> run Evora GT4 driven by Phil Glew and shared with various team mates scored a number of GT4 class wins in the British GT Championship, while a <a class="external text" href="http://www.strattonmotorcompany.com/lotus.php" rel="nofollow">Stratton Motor Company</a> run Evora GT4 finished first in the <a class="external text" href="http://www.lotrdc.com/" rel="nofollow">LoTRDC</a> organised Lotus 1000km race at Brands Hatch.</p>

<h3><span class="mw-headline" id="Evora_Enduro">Evora Enduro</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_GT_Enduro.jpg" title="Lotus Evora GT Enduro"><img src="Evora_GT_Enduro.jpg" alt="Lotus Evora GT Enduro" title="Lotus Evora GT Enduro" class="location-right type-thumb" width="400" />
</a>
<div class="thumbcaption">Lotus Evora GT Enduro</div></div>
</div>

<p>
<a class="external text" href="http://issuu.com/lotuscars/docs/enduro" rel="nofollow">Lotus Evora Enduro Tech Specs on Issuu</a></p>
<p>Following on from the Evora GT4 Endurance specification, the Evora Enduro is designed to compete in a range of endurance series and events including Britcar, Creventic Endurance Races, the VLN German Championship, Dutch Supercars, the 24hrs of Dubai and the 12hrs of Sepang.</p>
<p>Engine power is increased to 440bhp @ 7000rpm, while weight is reduced further to 1160kg.</p>
<p>Compared to the Evora GT4, the Evora Enduro features uprated Alcon brakes, including 6 piston calipers at the front, improved cooling, a larger 120 litre fuel tank, and an ATL &#39;dry break&#39; quick fill refueling system.</p>

<h3><span class="mw-headline" id="Evora_GTE_2">Evora GTE</span></h3>


<div style="page-break-inside: avoid;">
<table class="wikitable" style="float: right; margin: 1em auto 1em auto;">
<tr>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Lotus_Evora_GTE_Race_Car_Front.jpg" title="Lotus Evora GTE Race Car Front"><img src="Lotus_Evora_GTE_Race_Car_Front.jpg" alt="Lotus Evora GTE Race Car Front" title="Lotus Evora GTE Race Car Front" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Lotus Evora GTE Race Car Front</div></div>
</div>
 </td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Lotus_Evora_GTE_Race_Car_Rear.jpg" title="Lotus Evora GTE Race Car Rear"><img src="Lotus_Evora_GTE_Race_Car_Rear.jpg" alt="Lotus Evora GTE Race Car Rear" title="Lotus Evora GTE Race Car Rear" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Lotus Evora GTE Race Car Rear</div></div>
</div>
</td></tr></table></div>
<p><a class="external text" href="http://issuu.com/lotuscars/docs/gte" rel="nofollow">Lotus Evora GTE Race Car Specs on Issuu</a></p>
<p>The Evora GTE race car is a development of the <a href="http://wiki.seloc.org/a/Models_-_Evora#Evora_Enduro" title="Models - Evora">Evora Enduro</a> designed to compete under GT2 regulations. Changes included an increase in power to 440bhp from the 4.0l Cosworth tuned 2GR-FE paired up with a six speed Xtrac 426 sequential paddle shift racing gearbox, Alcon brakes, full FIA specification roll cage, FIA-compliant 120 litre ATL fuel system, FIA fire extinguisher system, wider carbon fibre bodywork, &#39;swan neck&#39; rear wing, diffuser, front splitter and additional lighting. Overall weight was reduced to just 1160kg<sup id="_ref-31" class="reference"><a href="#_note-31" title="">[31]</a></sup>.</p>
<p>In 2011 the Evora GTE was raced by the Lotus Jetalliance team in the Intercontinental Le Mans Cup, including competing in the 2011 Le Mans 24hr race. The team was supported by the factory and entered two cars, but didn&#39;t fair well in the series, finishing the year 4th out of 4 entries in the GTE Pro class<sup id="_ref-32" class="reference"><a href="#_note-32" title="">[32]</a></sup>.</p>
<p>At Le Mans the two car entry struggled both with overheating and a lack of pace in qualifying, and while the No. 64 entry of Singerland/Rich/Hartshorne was forced to retire after 126 laps when a rear wheel nut detached from the car and the loss of the wheel resulted in terminal damage to the car<sup id="_ref-33" class="reference"><a href="#_note-33" title="">[33]</a></sup> the No. 65 car of Rossiter/Hirschi/Mowlem ran with minimal issues and took the flag after 295 laps in 22nd place overall and 7th in class. Lotus put together a video on the 2011 Le Mans attempt <a class="external text" href="http://www.youtube.com/watch?v=eD4CaaRfxJM" rel="nofollow">which can be found on Youtube</a>.</p>

<div style="page-break-inside: avoid;">
<table class="wikitable" style="text-align:center; font-size:95%;">
<tr>
<th>Year</th>
<th>Chassis</th>
<th>Engine</th>
<th>Number</th>
<th><a class="external text" href="http://en.wikipedia.org/wiki/2011_12_Hours_of_Sebring" rel="nofollow">Sebring</a></th>
<th><a class="external text" href="http://en.wikipedia.org/wiki/2011_1000_km_of_Spa" rel="nofollow">Spa</a></th>
<th><a class="external text" href="http://en.wikipedia.org/wiki/2011_24_Hours_of_Le_Mans" rel="nofollow">Le Mans</a></th>
<th><a class="external text" href="http://en.wikipedia.org/wiki/2011_6_Hours_of_Imola" rel="nofollow">Imola</a></th>
<th><a class="external text" href="http://en.wikipedia.org/wiki/2011_6_Hours_of_Silverstone" rel="nofollow">Silverstone</a></th>
<th><a class="external text" href="http://en.wikipedia.org/wiki/2011_Petit_Le_Mans" rel="nofollow">Road America</a></th>
<th><a class="external text" href="http://en.wikipedia.org/wiki/2011_6_Hours_of_Zhuhai" rel="nofollow">Zhuhai</a></th></tr>
<tr>
<th rowspan="2">2011</th>
<th rowspan="2">Lotus Evora GTE</th>
<th rowspan="2">Toyota Cosworth 2GR-FE 4.0l</th>
<th>64</th>
<td />
<td>40th<br />(9th)</td>
<td>DNF</td>
<td>DNF</td>
<td>NC</td>
<td>DNF</td>
<td>21st<br />(4th)</td></tr>
<tr>
<th>65</th>
<td />
<td>DNF</td>
<td>22nd<br />(7th)</td>
<td>DNF</td>
<td>40th<br />(12th)</td>
<td>NC</td>
<td>NC</td></tr></table></div>

<p>Jetalliance did not continue with the Evora GTE in 2012, with a single car instead being run by <a class="external text" href="http://alexjobracing.com" rel="nofollow">Alex Job Racing</a> in the American Le Mans series in the GT class, with drivers Bill Sweedler and former Indycar Rookie of the year Townsend Bell<sup id="_ref-34" class="reference"><a href="#_note-34" title="">[34]</a></sup>.</p>
<p>Once again the team struggled, with engine issues delaying the introduction of the 2012 spec engine and a lack of development from the factory, but the team finished the year with plans to continue development in to 2013<sup id="_ref-35" class="reference"><a href="#_note-35" title="">[35]</a></sup>. These plans were cancelled however after Lotus announced the <a href="http://wiki.seloc.org/a/Models_-_Evora#Evora_GX" title="Models - Evora">Evora GX</a> aimed at competing in the ALMS GX class.</p>

<div style="page-break-inside: avoid;">
<table class="wikitable" style="text-align:center; font-size:95%;">
<tr>
<th>Year</th>
<th>Chassis</th>
<th>Engine</th>
<th>Number</th>
<th><a class="external text" href="http://en.wikipedia.org/wiki/2012_12_Hours_of_Sebring" rel="nofollow">Sebring</a></th>
<th><a class="external text" href="http://en.wikipedia.org/wiki/2012_American_Le_Mans_Series_at_Long_Beach" rel="nofollow">Long Beach</a></th>
<th><a class="external text" href="http://en.wikipedia.org/wiki/2012_American_Le_Mans_Monterey" rel="nofollow">Laguna Seca</a></th>
<th><a class="external text" href="http://en.wikipedia.org/wiki/2012_Northeast_Grand_Prix" rel="nofollow">Lime Rock</a></th>
<th><a class="external text" href="http://en.wikipedia.org/wiki/2012_Grand_Prix_of_Mosport" rel="nofollow">Mosport</a></th>
<th><a class="external text" href="http://en.wikipedia.org/wiki/2012_Mid-Ohio_Sports_Car_Challenge" rel="nofollow">Mid-Ohio</a></th>
<th><a class="external text" href="http://en.wikipedia.org/wiki/2012_Road_Race_Showcase" rel="nofollow">Road America</a></th>
<th><a class="external text" href="http://en.wikipedia.org/wiki/2012_Baltimore_Sports_Car_Challenge" rel="nofollow">Baltimore</a></th>
<th><a class="external text" href="http://en.wikipedia.org/wiki/2012_American_Le_Mans_Series_VIR_240" rel="nofollow">Virginia</a></th>
<th><a class="external text" href="http://en.wikipedia.org/wiki/2012_Petit_Le_Mans" rel="nofollow">Road Atlanta</a></th></tr>
<tr>
<th>2012</th>
<th>Lotus Evora GTE</th>
<th>Toyota Cosworth 2GR-FE 4.0l</th>
<th>23</th>
<td />
<td>NC</td>
<td>DNF</td>
<td>18th<br />(10th)</td>
<td>17th<br />(8th)</td>
<td>24th<br />(11th)</td>
<td>20th<br />(7th)</td>
<td>15th<br />(10th)</td>
<td>15th<br />(6th)</td>
<td>24th<br />(11th)</td></tr></table></div>

<p>The Evora GTE is not competing in 2013, with both chassis being returned to Lotus.</p>

<h3><span class="mw-headline" id="Evora_GTS">Evora GTS</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Lotus_Evora_GTS_Race_Car.jpg" title="Lotus Evora GTS"><img src="Lotus_Evora_GTS_Race_Car.jpg" alt="Lotus Evora GTS" title="Lotus Evora GTS" class="location-right type-thumb" width="400" />
</a>
<div class="thumbcaption">Lotus Evora GTS</div></div>
</div>

<p>
Unlike previous race going Evoras which use a Cosworth developed, enlarged and normally aspirated version of the Toyota 2GR-FE engine, the Evora GTS is based heavily on the road going Evora S, retaining it’s supercharged 345bhp engine with the addition of a wet baffled sump and Accusump along with a range of modifications inherited from the Evora GT4.</p>
<p>Along with the Evora GTS, Lotus Racing are also providing a range of kits to convert road going Evoras to Evora GTN specification. Both the Evora GTS and converted Evora GTN cars will be eligible to race alongside the Evora GT4 in the new Lotus Cup UK and Lotus Cup Europe ‘V6 Cup’ class.</p>
<p><a class="external text" href="http://evorainfo.net/FileStore/PDFs/Brochures/Evora%20GTS.pdf" rel="nofollow">Lotus Evora GTS Technical Specifications</a><br />
<a class="external text" href="http://evorainfo.net/FileStore/PDFs/Brochures/EVORA%20GTN%20FLYER%20" rel="nofollow">(lowRes).pdf Lotus Evora GTN Flyer</a><br />
<a class="external text" href="http://evorainfo.net/FileStore/PDFs/Brochures/EVORA%20GTN%20BROCHURE%20" rel="nofollow">(SinglePages).pdf Lotus Evora GTN Brochure</a></p>

<h3><span class="mw-headline" id="Evora_GTC">Evora GTC</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Lotus_Evora_GTC.jpg" title="Lotus Evora GTC"><img src="Lotus_Evora_GTC.jpg" alt="Lotus Evora GTC" title="Lotus Evora GTC" class="location-right type-thumb" width="400" />
</a>
<div class="thumbcaption">Lotus Evora GTC</div></div>
</div>

<p>
<a class="external text" href="http://www.seloc.org/2012/05/lotus-cars-lotus-racing-launch-new-evora-gtc/" rel="nofollow">Lotus Cars – Lotus Racing Launch New Evora GTC</a></p>
<p>Announced in May 2012, the Evora GTC is a major upgrade to the Evora GT4 Enduro race car, available either as a newly built race car from Lotus Racing or as to upgrade existing Evora GT4 Enduro cars.</p>
<p>The first customer Evora GTC car is run by Team Bullrun in Britcar who upgraded their Evora GT4 Enduro for the British race series.</p>
<p>Improvements to the GTC include a drop in weight thanks to the use of carbon fibre for the doors, roof and engine cover, along with plexiglass windows - saving 30kg over the Evora GT4 Enduro. The car also features wider arches to accommodate a larger wheel and tyre combination, along with new BOSCH traction control and ABS systems to help drivers maximise the cars performance.</p>

<h3><span class="mw-headline" id="Evora_GX">Evora GX</span></h3>


<div style="page-break-inside: avoid;">
<table class="wikitable" style="float: right; margin: 1em auto 1em auto;">
<tr>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Evora_GX_-_1.jpg" title="Lotus Evora GX Race Car Front"><img src="Evora_GX_-_1.jpg" alt="Lotus Evora GX Race Car Front" title="Lotus Evora GX Race Car Front" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Lotus Evora GX Race Car Front</div></div>
</div>
 </td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Lotus_Evora_GX_-_2.jpg" title="Lotus Evora GX Race Car at Goodwood FoS"><img src="Lotus_Evora_GX_-_2.jpg" alt="Lotus Evora GX Race Car at Goodwood FoS" title="Lotus Evora GX Race Car at Goodwood FoS" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Lotus Evora GX Race Car at Goodwood FoS</div></div>
</div>
</td></tr></table></div>
<p><a class="external text" href="http://www.seloc.org/2012/06/lotus-cars-goodwood-lotus-headlines-the-loudest-summer-festival-of-them-all/" rel="nofollow">Lotus Cars – Goodwood – Lotus Headlines the Loudest Summer Festival of Them All</a></p>
<p>The Evora GX is a version of the <a href="#Evora_GTC">Evora GTC</a> race car which has been tweaked and modified to meet the technical regulations for the American Grand-Am &#39;GX&#39; Class.</p>
<p>Compared to the Evora GTC the Evora GX utilises the same 440bhp drive-train, wider track and carbon-fibre panels, but has tweaks to the front-end aerodynamics, the fitment of the standardised Grand-Am rear wing and the removal of ABS and traction control as required by the series. Weight is increased 10kg over the Evora GTC, chiefly because of the thicker roll-cage specified by the US series.</p>
<p>The first Evora GX was to be raced by McMahon Raceworks with Condor Motorsport in the America Grand-Am road races as part of the Rolex Sports Car Series new GX class in 2013, but this did not appear to materialise.</p>

<h2><span class="mw-headline" id="References">References</span></h2><ol class="references">
<li id="_note-1"><b><a href="#_ref-1" title="">&#8593;</a></b> <a class="external text" href="http://www.autocar.co.uk/News/NewsArticle/Lotus-Concepts/233717/" rel="nofollow">Autocar: Lotus&#39; faceless ad campaign</a></li><li id="_note-2"><b><a href="#_ref-2" title="">&#8593;</a></b> <a class="external text" href="http://www.evo.co.uk/news/evonews/225417/lotus_evora.html" rel="nofollow">Evo - Lotus Evora breaks cover</a></li><li id="_note-3"><b><a href="#_ref-3" title="">&#8593;</a></b> <a class="external text" href="http://www.lotuscars.com/engineering/en/evora-platform" rel="nofollow">Lotus Cars - Evora platform and low volume VVA</a></li><li id="_note-4"><b><a href="#_ref-4" title="">&#8593;</a></b> <a class="external text" href="http://lotusenthusiast.net/2009/09/first-lotus-evora-delivered.html" rel="nofollow">Lotus Enthusiast - First Lotus Evora delivered!</a></li><li id="_note-5"><b><a href="#_ref-5" title="">&#8593;</a></b> <a class="external text" href="http://www.lotusdriversguide.com/Press/Evora_Range_Specification_and_Pricing.php" rel="nofollow">Lotus Drivers Guide - The 2010 Model Year Lotus Evora Range Specification and Pricing</a></li><li id="_note-6"><b><a href="#_ref-6" title="">&#8593;</a></b> <a class="external text" href="http://www.lotusdriversguide.com/Press/evora_naomi_for_haiti_GBP_1400000.php" rel="nofollow">Lotus Drivers Guide - Lotus contribution to Fashion for Relief Haiti confirmed at €1.4m</a></li><li id="_note-7"><b><a href="#_ref-7" title="">&#8593;</a></b> <a class="external text" href="http://www.evo.co.uk/carreviews/evocarreviews/241450/lotus_evora.html" rel="nofollow">evo Car Reviews - Lotus Evora</a></li><li id="_note-8"><b><a href="#_ref-8" title="">&#8593;</a></b> <a class="external text" href="http://www.carmagazine.co.uk/Drives/Search-Results/First-drives/Lotus-Evora-2009-the-new-CAR-review/" rel="nofollow">Car Magazine - Lotus Evora</a></li><li id="_note-9"><b><a href="#_ref-9" title="">&#8593;</a></b> <a class="external text" href="http://www.autocar.co.uk/News/NewsArticle/AllCars/242429/" rel="nofollow">Autocar - Evora is UK’s Best Driver’s Car</a></li><li id="_note-10"><b><a href="#_ref-10" title="">&#8593;</a></b> <a class="external text" href="http://www.carmagazine.co.uk/CAR-Features-2009/Performance-Car-of-The-Year-2009/" rel="nofollow">Car Magazine - Performance Car of The Year 2009</a></li><li id="_note-11"><b><a href="#_ref-11" title="">&#8593;</a></b> <a class="external text" href="http://www.evo.co.uk/carreviews/cargrouptests/244843/evo_car_of_the_year_2009.html" rel="nofollow">evo car of the year 2009</a></li><li id="_note-12"><b><a href="#_ref-12" title="">&#8593;</a></b> <a class="external text" href="http://www.lotuscars.com/en/evora-ips" rel="nofollow">Lotus Cars - Current Range - Evora IPS</a></li><li id="_note-13"><b><a href="#_ref-13" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2011/09/lotus-cars-another-lotus-bites-the-dust/" rel="nofollow">SELOC - Lotus Cars – Another Lotus Bites the Dust...</a></li><li id="_note-14"><b><a href="#_ref-14" title="">&#8593;</a></b> <a class="external text" href="http://www.mailonsunday.co.uk/home/moslive/article-2034798/Why-I-started-playing-bumper-cars-head-Do-I-need-someone.html" rel="nofollow">Mail Online - Why have I started playing bumper cars with my head? Do I need to see someone?</a></li><li id="_note-15"><b><a href="#_ref-15" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2011/09/lotus-cars-chris-evans-signs-off-%E2%80%98freddie%E2%80%99-evora/" rel="nofollow">SELOC - Lotus Cars – Chris Evans signs-off ‘Freddie’ Evora</a></li><li id="_note-16"><b><a href="#_ref-16" title="">&#8593;</a></b> <a class="external text" href="http://www.mailonsunday.co.uk/tvshowbiz/article-2111686/Queen-fanatic-Chris-Evans-forced-sell-Freddie-Mercury-inspired-Lotus-Ferraris-garage.html" rel="nofollow">Mail Online - Queen fanatic Chris Evans forced to sell Freddie Mercury-inspired Lotus because his garage is full of Ferraris</a></li><li id="_note-17"><b><a href="#_ref-17" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2012/02/freddie-mercury-evora-up-for-sale/" rel="nofollow">SELOC - Freddie Mercury Evora up for sale</a></li><li id="_note-18"><b><a href="#_ref-18" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2012/11/freddie-mercury-edition-evora-s-up-for-sale-again/" rel="nofollow">SELOC - Freddie Mercury Edition Evora S up for sale again</a></li><li id="_note-19"><b><a href="#_ref-19" title="">&#8593;</a></b> <a href="http://wiki.seloc.org/a/Http://forums.seloc.org/viewthread.php%3Ftid%3D366902" title="Http://forums.seloc.org/viewthread.php?tid=366902">SELOC Forums » SELOC Chat » Meet Freddie!</a></li><li id="_note-20"><b><a href="#_ref-20" title="">&#8593;</a></b> <a class="external text" href="http://www.topgear.com/uk/car-news/roger-daltrey-lotus-evora-the-who-auction-2011-11-28" rel="nofollow">Top Gear - Lotus styled by Roger Daltrey for sale</a></li><li id="_note-21"><b><a href="#_ref-21" title="">&#8593;</a></b> <a class="external text" href="http://www.teenagecancertrust.org/who-we-are/media-centre/press-releases/roger-daltrey-lotus-evora-auctioned-for-teenage-ca/" rel="nofollow">Teenage Cancer Trust - Roger Daltrey Lotus Evora auctioned for Teenage Cancer Trust</a></li><li id="_note-22"><b><a href="#_ref-22" title="">&#8593;</a></b> <a class="external text" href="http://www.bonhams.com/auctions/19293/lot/409/" rel="nofollow">Bonhams - Sold in aid of Teenage Cancer Trust, The Who Evora designed by Roger Daltrey CBE 2012 Lotus Evora S 2+2 Coupé</a></li><li id="_note-23"><b><a href="#_ref-23" title="">&#8593;</a></b> <a class="external text" href="http://www.lotustalk.com/forums/f170/who-evora-spotted-local-dealership-121832/" rel="nofollow">LotusTalk - The &#34;Who Evora&#34; spotted at the local dealership</a></li><li id="_note-24"><b><a href="#_ref-24" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2011/10/lotus-evora-s-gp-edition/" rel="nofollow">SELOC - Lotus Evora S GP Edition</a></li><li id="_note-25"><b><a href="#_ref-25" title="">&#8593;</a></b> <a class="external text" href="http://www.lotustalk.com/forums/f170/gp-edition-registry-111686/" rel="nofollow">LotusTalk - The Lotus Cars Community &#62; Lotus Discussions &#62; Lotus Evora &#62; GP Edition Registry</a></li><li id="_note-26"><b><a href="#_ref-26" title="">&#8593;</a></b> <a class="external text" href="http://forums.seloc.org/p/6035596" rel="nofollow">SELOC Forums » SELOC Chat » On the line with the Exige V6</a></li><li id="_note-27"><b><a href="#_ref-27" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2012/12/lotus-introduce-new-evora-sports-racer-model-the-lotus-evora-just-got-better/" rel="nofollow">SELOC - Lotus introduce new Evora ‘Sports Racer’ model – The Lotus Evora just got better!</a></li><li id="_note-28"><b><a href="#_ref-28" title="">&#8593;</a></b> <a class="external text" href="http://www.lotuscars.com/news/en/lotus-414e-hybrid" rel="nofollow">Lotus Cars - News - Evora 414E Hybrid</a></li><li id="_note-29"><b><a href="#_ref-29" title="">&#8593;</a></b> <a class="external text" href="http://www.lotuscars.com/news/en/evora-carbon-concept-makes-motorshow-debut" rel="nofollow">Lotus Cars - News - Evora Carbon Concept makes Motorshow Debut</a></li><li id="_note-30"><b><a href="#_ref-30" title="">&#8593;</a></b> <a class="external text" href="http://www.lotuscars.com/news/en/pebblebeach2011" rel="nofollow">Lotus Cars - News - Lotus Double Premiere at Pebble Beach Week 2011</a></li><li id="_note-31"><b><a href="#_ref-31" title="">&#8593;</a></b> <a class="external text" href="http://www.racecar-engineering.com/cars/lotus-evora/" rel="nofollow">Racecar Engineering - Lotus Evora</a></li><li id="_note-32"><b><a href="#_ref-32" title="">&#8593;</a></b> <a class="external text" href="http://en.wikipedia.org/wiki/2011_Intercontinental_Le_Mans_Cup#LM_GTE_Pro_standings" rel="nofollow">| 2011 Intercontinental Le Mans Cup</a></li><li id="_note-33"><b><a href="#_ref-33" title="">&#8593;</a></b> <a class="external text" href="http://www.doubledeclutch.com/?p=1444" rel="nofollow">DoubleDeClutch.com - Lotus Blossom</a></li><li id="_note-34"><b><a href="#_ref-34" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2012/02/lotus-cars-team-lotus-ajr/" rel="nofollow">SELOC - Lotus Cars – Team Lotus AJR</a>.</li><li id="_note-35"><b><a href="#_ref-35" title="">&#8593;</a></b> <a class="external text" href="http://alexjobracing.com/12_news/1105_lotus.html" rel="nofollow">Alex Job Racing - Lotus Alex Job Racing Finish Development Season with Plan for 2013</a></li>
</ol>