
<p>Please fill this entry with known issues that are occurring with the Lotus Evora.</p>
<p>These are not necessarily common or guaranteed issues, just ones which have been reported by some owners.</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Exterior">Exterior</a>
<ul>
<li class="toclevel-2"><a href="#Cracked_cosmetic_roof_panel">Cracked cosmetic roof panel</a>
</li>
<li class="toclevel-2"><a href="#Door_lock_issues">Door lock issues</a>
</li>
<li class="toclevel-2"><a href="#Front_Door_Pillar_Surround">Front Door Pillar Surround</a>
</li>
<li class="toclevel-2"><a href="#Rear_Light_Chrome_Trims">Rear Light Chrome Trims</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Interior">Interior</a>
<ul>
<li class="toclevel-2"><a href="#Interior_Build_Quality">Interior Build Quality</a>
</li>
<li class="toclevel-2"><a href="#Poor_fitting_passenger_airbag_lid">Poor fitting passenger airbag lid</a>
</li>
<li class="toclevel-2"><a href="#Recaro_seat_wear">Recaro seat wear</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Mechanical">Mechanical</a>
<ul>
<li class="toclevel-2"><a href="#Clutch_Master_Cylinder">Clutch Master Cylinder</a>
</li>
<li class="toclevel-2"><a href="#Anti-Roll_Bar_Bushes">Anti-Roll Bar Bushes</a>
</li>
<li class="toclevel-2"><a href="#Gear_Cables">Gear Cables</a>
</li>
<li class="toclevel-2"><a href="#Oil_lines">Oil lines</a>
</li>
<li class="toclevel-2"><a href="#Rear_Tyre_Wear">Rear Tyre Wear</a>
</li>
<li class="toclevel-2"><a href="#Transmission_Noise">Transmission Noise</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#References">References</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Exterior">Exterior</span></h2>

<h3><span class="mw-headline" id="Cracked_cosmetic_roof_panel">Cracked cosmetic roof panel</span></h3>

<p>Although rare the cosmetic roof panel fixings can expand slightly with heat, leading to the boot clipping the panel when the boot is opened. Over time this can lead to the panel cracking.<sup id="_ref-1" class="reference"><a href="#_note-1" title="">[1]</a></sup></p>
<p>The issue is reported as being recognised by Lotus and is resolved by replacing the cosmetic roof panel and fixings.</p>
<h3><span class="mw-headline" id="Door_lock_issues">Door lock issues</span></h3>

<p>See <a class="external text" href="http://forums.seloc.org/viewthread.php?tid=364994" rel="nofollow">thread</a>.</p>
<h3><span class="mw-headline" id="Front_Door_Pillar_Surround">Front Door Pillar Surround</span></h3>

<p>On some earlier cars some of the front door pillar/windscreen surround mouldings were coming unstuck and had to be replaced.</p>
<h3><span class="mw-headline" id="Rear_Light_Chrome_Trims">Rear Light Chrome Trims</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_Black_Rear_Light_Surround.jpg" title="Later style black rear light surround."><img src="Evora_Black_Rear_Light_Surround.jpg" alt="Later style black rear light surround." title="Later style black rear light surround." class="location-right type-thumb" width="200" />
</a>
<div class="thumbcaption">Later style black rear light surround.</div></div>
</div>

<p>
Chrome rear light surrounds N/A Evoras have been seen to corrode and been replaced under warranty. Later Evora &#39;S&#39; MY12 cars use a black rear light surround which does not exhibit the same issues and can be fitted as a replacement<sup id="_ref-2" class="reference"><a href="#_note-2" title="">[2]</a></sup>.</p>

<h2><span class="mw-headline" id="Interior">Interior</span></h2>

<h3><span class="mw-headline" id="Interior_Build_Quality">Interior Build Quality</span></h3>

<p>Some reports of poor build quality on the interior, particularly in early cars.</p>
<h3><span class="mw-headline" id="Poor_fitting_passenger_airbag_lid">Poor fitting passenger airbag lid</span></h3>

<p>The clips which hold down the passenger side airbag lid can sometimes fail, causing the lid to no longer sit flush over the airbag module. These clips are designed to break when the airbag is deployed, and so the failure should not a safety issue and should not affect the operation of the airbag.<sup id="_ref-3" class="reference"><a href="#_note-3" title="">[3]</a></sup></p>
<p>These clips can be replaced to remedy the issue, however doing so involves removing some parts of the dash and given the implications of working around the airbag are best carried out by an approved Lotus Service Centre.</p>
<h3><span class="mw-headline" id="Recaro_seat_wear">Recaro seat wear</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Evora_Seat_Wear.jpg" title="Wear to the side bolster of the drivers seat in an Evora"><img src="Evora_Seat_Wear.jpg" alt="Wear to the side bolster of the drivers seat in an Evora" title="Wear to the side bolster of the drivers seat in an Evora" class="location-right type-thumb" width="200" />
</a>
<div class="thumbcaption">Wear to the side bolster of the drivers seat in an Evora</div></div>
</div>

<p>
The Evora comes equipped with Recaro Sportster CS seats as standard and there has been a report of these showing signs of wear even early in the cars life<sup id="_ref-4" class="reference"><a href="#_note-4" title="">[4]</a></sup>.</p>
<p>These seats are also used in other cars such as the Mk2 Ford Focus RS where they have exhibited similar issues, suggesting this is a quality control issue for Recaro.</p>
<p>Lotus appear to be willing to replace seats that have shown excessive wear under warranty, however this is not guaranteed.</p>
<p>Others have reported positive results using <a class="external text" href="http://www.liquidleather.com/scuffs.htm" rel="nofollow">Gliptone Liquid Leather Scuffmaster</a> to dye the seats where they have worn<sup id="_ref-5" class="reference"><a href="#_note-5" title="">[5]</a></sup>.</p>

<h2><span class="mw-headline" id="Mechanical">Mechanical</span></h2>

<h3><span class="mw-headline" id="Clutch_Master_Cylinder">Clutch Master Cylinder</span></h3>

<p>The design of the clutch master cylinder was improved upon for the <a href="http://wiki.seloc.org/a/Models_-_Evora#Evora_S" title="Models - Evora">Evora S</a>, and can be retrofitted to the standard model if the original unit fails.</p>
<p>Some have reported rare case of failures of the early style clutch master cylinder leading to a change of clutch pedal feel, and an inability to operate the clutch<sup id="_ref-6" class="reference"><a href="#_note-6" title="">[6]</a></sup>.</p>
<h3><span class="mw-headline" id="Anti-Roll_Bar_Bushes">Anti-Roll Bar Bushes</span></h3>

<p>Anti-roll bar (ARB) bushes can dry out and cause knocking noises, particularly the front . Replacing these and properly lubricating them can solve the issue<sup id="_ref-7" class="reference"><a href="#_note-7" title="">[7]</a></sup>.</p>
<h3><span class="mw-headline" id="Gear_Cables">Gear Cables</span></h3>

<p>Some earlier cars were reported to have less than accurate shifting, so the gear shifts were changed in the second half of 2010. However, increasing it&#39;s accuracy resulted in reports of some, over time suffering stiff or obstructive gear shifts, making some gears difficult to select.</p>
<p>If customers complain of poor gear shift quality then the cables can be adjusted both at the gearbox and gear linkage ends to improve gear selection, or replaced entirely. This is a 5 hour job as it involves removing parts of the interior.</p>
<p>For MY12 cars the cable set up was changed albeit at a cost to try and improve the consistency of accurate and smooth gear-changes. However, a well set up/adjusted pre MY12 will provide a similar feel.</p>
<p>For more information see the following forum threads:
</p>
<ul>
<li><a class="external text" href="http://forums.seloc.org/viewthread.php?tid=338898" rel="nofollow">SELOC Chat » Evora gear change upgrade</a></li>
<li><a class="external text" href="http://forums.seloc.org/p/5776122" rel="nofollow">SELOC Chat » Fobbed off by Lotus</a></li>
</ul>

<h3><span class="mw-headline" id="Oil_lines">Oil lines</span></h3>

<p>Evora S only.</p>
<p>A recall was made for Evora S&#39; built before September 2011 for a replacement to the three-piece oil feed pipe used to supply oil to the engine cylinder head after there were reports of failures resulting in engine loss and possible engine fires.</p>
<p>The pipe is replaced by a redesigned single piece item.<sup id="_ref-8" class="reference"><a href="#_note-8" title="">[8]</a></sup></p>
<h3><span class="mw-headline" id="Rear_Tyre_Wear">Rear Tyre Wear</span></h3>

<p>Rear tyre wear has been reported to be fairly high on many cars, even when driven conservatively. In general owners have reported rear tyres can need replacing after around 10k miles, while others have seen as little as 5k miles, although this obviously is affected by usage and driving style.</p>
<h3><span class="mw-headline" id="Transmission_Noise">Transmission Noise</span></h3>

<p>Some Evoras are reported as having higher than expected transmission noise at low speed in the lower gears, characterised by the sound of &#39;a rotating component binding on a metal casing&#39;. Some owners have managed to get Lotus to address the issue under warranty, and others report that the noise is down to poor quality throwout bearings in the clutch.</p>
<p>Forum threads:
</p>
<ul>
<li><a class="external text" href="http://forums.seloc.org/p/5767842" rel="nofollow">SELOC Chat » Search for Evora Nearly complete...any final tips</a></li>
<li><a class="external text" href="http://www.lotustalk.com/forums/f170/supercharging-my-na-evora-116587/index4.html#post1758551" rel="nofollow">LotusTalk - The Lotus Cars Community &#62; Lotus Discussions &#62; Lotus Evora</a></li>
</ul>

<h2><span class="mw-headline" id="References">References</span></h2><ol class="references">
<li id="_note-1"><b><a href="#_ref-1" title="">&#8593;</a></b> <a class="external text" href="http://www.pistonheads.com/gassing/topic.asp?h=0&#38;f=213&#38;t=1328746&#38;mid=116749&#38;nmt=Odd+boot+opening+issue" rel="nofollow">PistonHeads &#62; Gassing Station &#62; Lotus &#62; Evora &#62; Odd boot opening issue</a></li><li id="_note-2"><b><a href="#_ref-2" title="">&#8593;</a></b> <a class="external text" href="http://forums.seloc.org/viewthread.php?tid=351082" rel="nofollow">SELOC Chat » Good service from Williams Automobiles on Evora and mods</a></li><li id="_note-3"><b><a href="#_ref-3" title="">&#8593;</a></b> <a class="external text" href="http://forums.seloc.org/p/5970707" rel="nofollow">SELOC Forums » SELOC Chat » Which Evora model is this?</a></li><li id="_note-4"><b><a href="#_ref-4" title="">&#8593;</a></b> <a class="external text" href="http://forums.seloc.org/viewthread.php?tid=303857" rel="nofollow">SELOC Forums: Evora S - 3 months in</a></li><li id="_note-5"><b><a href="#_ref-5" title="">&#8593;</a></b> <a class="external text" href="http://forums.seloc.org/viewthread.php?tid=350508" rel="nofollow">SELOC Forums » SELOC Chat » Evora Seats - Leather not as durable as I thought</a></li><li id="_note-6"><b><a href="#_ref-6" title="">&#8593;</a></b> <a class="external text" href="http://www.pistonheads.com/gassing/topic.asp?h=0&#38;f=213&#38;t=1272922&#38;nmt=" rel="nofollow">PistonHeads &#62; Gassing Station &#62; Lotus &#62; Evora &#62; Clutch pedal hit the floor...</a></li><li id="_note-7"><b><a href="#_ref-7" title="">&#8593;</a></b> <a class="external text" href="http://forums.seloc.org/viewthread.php?tid=351082" rel="nofollow">SELOC Chat » Good service from Williams Automobiles on Evora and mods</a></li><li id="_note-8"><b><a href="#_ref-8" title="">&#8593;</a></b> <a class="external text" href="http://www.insideline.com/lotus/evora/2011/2011-lotus-evora-recalled-for-fire-risk.html" rel="nofollow">Inside Line - 2011 Lotus Evora Recalled for Fire Risk</a></li>
</ol>