<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1"><a href="#The_Elise_Range">The Elise Range</a>
<ul>
<li class="toclevel-2"><a href="#Elise">Elise</a>
<ul>
<li class="toclevel-3"><a href="#Vehicle_Options">Vehicle Options</a>
</li>
<li class="toclevel-3"><a href="#Upgrade_Packs">Upgrade Packs</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Elise_Club_Racer">Elise Club Racer</a>
<ul>
<li class="toclevel-3"><a href="#Vehicle_Options_2">Vehicle Options</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Elise_.28US.29">Elise (US)</a>
<ul>
<li class="toclevel-3"><a href="#Vehicle_Options_3">Vehicle Options</a>
</li>
<li class="toclevel-3"><a href="#Upgrade_Packs_2">Upgrade Packs</a>
</li>
</ul>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#The_Evora_Range">The Evora Range</a>
<ul>
<li class="toclevel-2"><a href="#Vehicle_Options_4">Vehicle Options</a>
</li>
<li class="toclevel-2"><a href="#Upgrade_Packs_3">Upgrade Packs</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Source">Source</a>
</li>
</ul></td></tr></table><hr/>
<h1><span class="mw-headline" id="The_Elise_Range">The Elise Range</span></h1>

<p>The Elise SC is only shown on the US price list due to emission regulations.</p>
<p>US Elise specifications may differ to the European models.</p>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Model </th>
<th>Price (UK) </th>
<th>Price (FR) </th>
<th>Price (DE) </th>
<th>Price (ES) </th>
<th>Price (IT) </th>
<th>Price (BE) </th>
<th>Price (CH)</th>
<th>Price (US)</th></tr>
<tr>
<td>Elise </td>
<td>£28,100 </td>
<td>€37,650 </td>
<td>€37.450 </td>
<td>€37.200 </td>
<td>€37.650 </td>
<td>€38.890 </td>
<td>CHF 52,700 </td>
<td>$47,250</td></tr>
<tr>
<td>Elise Club Racer </td>
<td>£27,500 </td>
<td>€34,620 </td>
<td>€34.450 </td>
<td>€34.160 </td>
<td>€34.740 </td>
<td>€35.820 </td>
<td>CHF 48,900 </td>
<td>N/A</td></tr>
<tr>
<td>Elise SC (US Only) </td>
<td>N/A </td>
<td>N/A </td>
<td>N/A </td>
<td>N/A </td>
<td>N/A </td>
<td>N/A </td>
<td>N/A </td>
<td>$54,990</td></tr></table></div>

<h2><span class="mw-headline" id="Elise">Elise</span></h2>

<h3><span class="mw-headline" id="Vehicle_Options">Vehicle Options</span></h3>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Option </th>
<th>Price (UK) </th>
<th>Price (FR) </th>
<th>Price (DE) </th>
<th>Price (ES) </th>
<th>Price (IT) </th>
<th>Price (BE) </th>
<th>Price (CH)</th></tr>
<tr>
<td>Air Conditioning </td>
<td>£1,100 </td>
<td>€1.850 </td>
<td>€1.850 </td>
<td>€1.825 </td>
<td>€1.850 </td>
<td>€1.860 </td>
<td>CHF 2,560</td></tr>
<tr>
<td>Metallic Paint </td>
<td>£570 </td>
<td>€880 </td>
<td>€880 </td>
<td>€860 </td>
<td>€880 </td>
<td>€880 </td>
<td>CHF 1,210</td></tr>
<tr>
<td>Lifestyle Paint </td>
<td>£1,100 </td>
<td>€1.350 </td>
<td>€1.350 </td>
<td>€1.320 </td>
<td>€1.350 </td>
<td>€1.350 </td>
<td>CHF 1,910</td></tr>
<tr>
<td>Premium Paint </td>
<td>£2,100 </td>
<td>€2.600 </td>
<td>€2.600 </td>
<td>€2.550 </td>
<td>€2.600 </td>
<td>€2.610 </td>
<td>CHF 3,720</td></tr>
<tr>
<td>Hard-Top </td>
<td>£1,100 </td>
<td>€1.720 </td>
<td>€1.720 </td>
<td>€1.700 </td>
<td>€1.720 </td>
<td>€1.730 </td>
<td>CHF 2,510</td></tr></table></div>

<h3><span class="mw-headline" id="Upgrade_Packs">Upgrade Packs</span></h3>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Pack </th>
<th>Price (UK) </th>
<th>Price (FR) </th>
<th>Price (DE) </th>
<th>Price (ES) </th>
<th>Price (IT) </th>
<th>Price (BE) </th>
<th>Price (CH)</th></tr>
<tr>
<td><b>Black Style Pack</b><br />Black Wheels<br />Black Rear Diffuser </td>
<td>£520 </td>
<td>€715 </td>
<td>€715 </td>
<td>€710 </td>
<td>€720 </td>
<td>€725 </td>
<td>CHF 1,060</td></tr>
<tr>
<td><b>Sport Pack</b><br />Bilstein Sports Dampers<br />Silver Y type 5-spoke forged wheels<br />ProBax Sports Seats </td>
<td>£1,600 </td>
<td>€2.695 </td>
<td>€2.695 </td>
<td>€2.650 </td>
<td>€2.695 </td>
<td>€2.720 </td>
<td>CHF 3,870</td></tr>
<tr>
<td><b>Touring Pack</b><br />Leather ProBax Seats<br />Padded Leather Door Panels<br />Perforated Leather Door Inserts<br />Leather Trimmed Centre Console<br />Black Perforated Leather Handbrake-lever Gaiter<br />Black Carpet Mats with Embroidered Elise Logo<br />Noise Insulation Panelling<br />Auxiliary Driving Lights<br />iPod Stereo Connection<br />Trinket Tray Divider and Cup Holder<br />Cruise Control </td>
<td>£2,100 </td>
<td>€2.650 </td>
<td>€2.650 </td>
<td>€2.600 </td>
<td>€2.650 </td>
<td>€2.665 </td>
<td>CHF 3,820</td></tr></table></div>

<h2><span class="mw-headline" id="Elise_Club_Racer">Elise Club Racer</span></h2>

<h3><span class="mw-headline" id="Vehicle_Options_2">Vehicle Options</span></h3>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Option </th>
<th>Price (UK) </th>
<th>Price (FR) </th>
<th>Price (DE) </th>
<th>Price (ES) </th>
<th>Price (IT) </th>
<th>Price (BE) </th>
<th>Price (CH)</th></tr>
<tr>
<td>Air Conditioning </td>
<td>£1,100 </td>
<td>€1.850 </td>
<td>€1.850 </td>
<td>€1.825 </td>
<td>€1.850 </td>
<td>€1.860 </td>
<td>CHF 2,560</td></tr>
<tr>
<td>Black Y type 5-spoke forged wheels </td>
<td>£1,100 </td>
<td>€1.400 </td>
<td>€1.400 </td>
<td>€1.380 </td>
<td>€1.400 </td>
<td>€1.420 </td>
<td>CHF 2.110</td></tr>
<tr>
<td>Hard-Top </td>
<td>£1,100 </td>
<td>€1.720 </td>
<td>€1.720 </td>
<td>€1.700 </td>
<td>€1.720 </td>
<td>€1.730 </td>
<td>CHF 2,510</td></tr>
<tr>
<td>Soft-Top </td>
<td>£500 </td>
<td>€555 </td>
<td>€550 </td>
<td>€550 </td>
<td>€555 </td>
<td>€560 </td>
<td>CHF 850</td></tr>
<tr>
<td>Airbag Deletion </td>
<td>£0 </td>
<td>€0 </td>
<td>€0 </td>
<td>€0 </td>
<td>€0 </td>
<td>€0 </td>
<td>CHF 0</td></tr>
<tr>
<td><b>Comfort Pack</b><br />Radio and Speakers<br />Black Carpet Mats with Embroidered CR Logo<br />Central Locking<br />Sound Insulation<br />Passenger Foot Rest<br />Mud Flaps<br />Standard Capacity Battery<br />Standard Suspension with Standard Anti-Roll Bar </td>
<td>£1,000 </td>
<td>€1,110 </td>
<td>€1,100 </td>
<td>€1,100 </td>
<td>€1,110 </td>
<td>€1,120 </td>
<td>CHF 1.690</td></tr></table></div>

<h2><span class="mw-headline" id="Elise_.28US.29">Elise (US)</span></h2>

<h3><span class="mw-headline" id="Vehicle_Options_3">Vehicle Options</span></h3>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Option </th>
<th>Elise </th>
<th>Elise SC</th></tr>
<tr>
<td>Limited Slip Differential </td>
<td>$1,790 </td>
<td>$1,790</td></tr>
<tr>
<td>Lotus Traction Control System </td>
<td>NC </td>
<td>$495</td></tr>
<tr>
<td>Metallic Paint </td>
<td>NC </td>
<td>$590</td></tr>
<tr>
<td>Lifestyle Paint </td>
<td>$1,200 </td>
<td>$1,200</td></tr>
<tr>
<td>Premium Paint </td>
<td>$3,300 </td>
<td>$3,300</td></tr>
<tr>
<td>Hard-Top </td>
<td>NC </td>
<td>$1,475</td></tr></table></div>

<h3><span class="mw-headline" id="Upgrade_Packs_2">Upgrade Packs</span></h3>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Pack </th>
<th>Elise </th>
<th>Elise SC</th></tr>
<tr>
<td><b>Black Style Pack</b><br />Black Wheels<br />Black Rear Diffuser </td>
<td>$495 </td>
<td>$495</td></tr>
<tr>
<td><b>Sport Pack</b><br />Bilstein Sports Dampers<br />Silver Y type 5-spoke forged wheels<br />ProBax Sports Seats </td>
<td>$2,600 </td>
<td>$2,600</td></tr>
<tr>
<td><b>Touring Pack</b><br />Leather ProBax Seats<br />Padded Leather Door Panels<br />Perforated Leather Door Inserts<br />Leather Trimmed Centre Console<br />Black Perforated Leather Handbrake-lever Gaiter<br />Black Carpet Mats with Embroidered Elise Logo<br />Noise Insulation Panelling<br />Auxiliary Driving Lights<br />iPod Stereo Connection<br />Trinket Tray Divider and Cup Holder<br />Cruise Control </td>
<td>NC </td>
<td>$1,600</td></tr></table></div>

<h1><span class="mw-headline" id="The_Evora_Range">The Evora Range</span></h1>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Model </th>
<th>Price (UK) </th>
<th>Price (FR) </th>
<th>Price (DE) </th>
<th>Price (ES) </th>
<th>Price (IT) </th>
<th>Price (BE) </th>
<th>Price (CH) </th>
<th>Price (US)</th></tr>
<tr>
<td>Evora 2+0 </td>
<td>£49,600 </td>
<td>€60.300 </td>
<td>€59.990 </td>
<td>€59.500 </td>
<td>€60.500 </td>
<td>€61.810 </td>
<td>CHF 84,600 </td>
<td>$64,000</td></tr>
<tr>
<td>Evora 2+2 </td>
<td>£51,100 </td>
<td>€63.850 </td>
<td>€63.500 </td>
<td>€63.000 </td>
<td>€64.050 </td>
<td>€65.375 </td>
<td>CHF 90,200 </td>
<td>$65,500</td></tr>
<tr>
<td>Evora S 2+0 </td>
<td>£58,800 </td>
<td>€70.350 </td>
<td>€69.990 </td>
<td>€69.500 </td>
<td>€70.600 </td>
<td>€71.980 </td>
<td>CHF 99,000 </td>
<td>N/A</td></tr>
<tr>
<td>Evora S 2+2 </td>
<td>£60,300 </td>
<td>€73.900 </td>
<td>€73.500 </td>
<td>€73.000 </td>
<td>€74.150 </td>
<td>€75.580 </td>
<td>CHF 104,700 </td>
<td>N/A</td></tr></table></div>


<h2><span class="mw-headline" id="Vehicle_Options_4">Vehicle Options</span></h2>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Option </th>
<th>Price (UK) </th>
<th>Price (FR) </th>
<th>Price (DE) </th>
<th>Price (ES) </th>
<th>Price (IT) </th>
<th>Price (BE) </th>
<th>Price (CH) </th>
<th>Price (US)</th></tr>
<tr>
<td>Sports Ratio 6-speed M/T (Standard on the Evora S) </td>
<td>£1,600 </td>
<td>€1.810 </td>
<td>€1.800 </td>
<td>€1.790 </td>
<td>€1.820 </td>
<td>€1.830 </td>
<td>CHF 2,720 </td>
<td>$1,500</td></tr>
<tr>
<td>Lotus Intelligent Precision Shift (IPS) (Not available on the Evora S) </td>
<td>£1,800 </td>
<td>€2.015 </td>
<td>€2.000 </td>
<td>€1.985 </td>
<td>€2.020 </td>
<td>€2.035 </td>
<td>CHF 3,040 </td>
<td /></tr>
<tr>
<td>Stealth Grey Classic Wheels (Standard on the Evora S) </td>
<td>£340 </td>
<td>€555 </td>
<td>€550 </td>
<td>€550 </td>
<td>€555 </td>
<td>€560 </td>
<td>CHF 830 </td>
<td>$475</td></tr>
<tr>
<td>Silver Sport Wheels </td>
<td>£1,600 </td>
<td>€2.000 </td>
<td>€1.990 </td>
<td>€1.980 </td>
<td>€2.000 </td>
<td>€2.025 </td>
<td>CHF 3,010 </td>
<td>$1,750</td></tr>
<tr>
<td>Gloss Anthracite Sport Wheels </td>
<td>£1,900 </td>
<td>€2.780 </td>
<td>€2.750 </td>
<td>€2.730 </td>
<td>€2.780 </td>
<td>€2.800 </td>
<td>CHF 4,170 </td>
<td>$2,125</td></tr>
<tr>
<td>Diamond Cut Sport Wheels </td>
<td>£2,000 </td>
<td>€2.870 </td>
<td>€2.850 </td>
<td>€2.830 </td>
<td>€2.880 </td>
<td>€2.900 </td>
<td>CHF 4,340 </td>
<td>$2,475</td></tr>
<tr>
<td>Diamond Cut Turbine Wheels </td>
<td>£2,000 </td>
<td>€2.870 </td>
<td>€2.850 </td>
<td>€2.830 </td>
<td>€2.880 </td>
<td>€2.900 </td>
<td>CHF 4,340 </td>
<td>$2,475</td></tr>
<tr>
<td>Diamond Cut Design Wheels </td>
<td>£2,300 </td>
<td>€3.300 </td>
<td>€3.275 </td>
<td>€3.250 </td>
<td>€3.310 </td>
<td>€3.330 </td>
<td>CHF 4,980 </td>
<td>$2,950</td></tr>
<tr>
<td>Bi-Xenon Headlights </td>
<td>£620 </td>
<td>€995 </td>
<td>€990 </td>
<td>€990 </td>
<td>€1.000 </td>
<td>€1.000 </td>
<td>CHF 1,510 </td>
<td>- </td></tr>
<tr>
<td>Power-fold Door Mirrors </td>
<td>£340 </td>
<td>€295 </td>
<td>€290 </td>
<td>€290 </td>
<td>€295 </td>
<td>€295 </td>
<td>CHF 440 </td>
<td>$450</td></tr>
<tr>
<td>SuedeTex® Base Pack </td>
<td>£660 </td>
<td>€750 </td>
<td>€745 </td>
<td>€740 </td>
<td>€755 </td>
<td>€760 </td>
<td>CHF 1,140 </td>
<td>$975</td></tr>
<tr>
<td><a href="http://wiki.seloc.org/a/Paint_Colours_-_Evora#Metallic_Colours" title="Paint Colours - Evora">Metallic Paint</a> </td>
<td>£570 </td>
<td>€995 </td>
<td>€990 </td>
<td>€990 </td>
<td>€1.000 </td>
<td>€1.000 </td>
<td>CHF 1,510 </td>
<td>$590</td></tr>
<tr>
<td><a href="http://wiki.seloc.org/a/Paint_Colours_-_Evora#Lifestyle_Colours" title="Paint Colours - Evora">Lifestyle Paint</a> </td>
<td>£1,100 </td>
<td>€1.860 </td>
<td>€1.850 </td>
<td>€1.840 </td>
<td>€1.870 </td>
<td>€1.900 </td>
<td>CHF 2,800 </td>
<td>$1,200</td></tr>
<tr>
<td><a href="http://wiki.seloc.org/a/Paint_Colours_-_Evora#Premium_Colours" title="Paint Colours - Evora">Premium Paint</a> </td>
<td>£2,100 </td>
<td>€2.750 </td>
<td>€2.740 </td>
<td>€2.720 </td>
<td>€2.800 </td>
<td>€2.800 </td>
<td>CHF 4,120 </td>
<td>$3,300</td></tr>
<tr>
<td>Body Coloured Door Handles </td>
<td>£340 </td>
<td>€300 </td>
<td>€300 </td>
<td>€300 </td>
<td>€300 </td>
<td>€300 </td>
<td>CHF 460 </td>
<td /></tr>
<tr>
<td>Front Heated Seats (standard on Premium Pack) </td>
<td>£310 </td>
<td>€355 </td>
<td>€350 </td>
<td>€350 </td>
<td>€355 </td>
<td>€360 </td>
<td>CHF 540 </td>
<td>$500</td></tr>
<tr>
<td>Reversing Camera (only in conjunction with Tech Pack) </td>
<td>£340 </td>
<td>€595 </td>
<td>€590 </td>
<td>€590 </td>
<td>€595 </td>
<td>€600 </td>
<td>CHF 900 </td>
<td>$495</td></tr>
<tr>
<td>Alpine Imprint Audio System (only in conjunction with Tech Pack) </td>
<td>£520 </td>
<td>€1.500 </td>
<td>€1.500 </td>
<td>€1.500 </td>
<td>€1.500 </td>
<td>€1.550 </td>
<td>CHF 2,260 </td>
<td>$695</td></tr></table></div>

<h2><span class="mw-headline" id="Upgrade_Packs_3">Upgrade Packs</span></h2>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Pack </th>
<th>Price (UK) </th>
<th>Price (FR) </th>
<th>Price (DE) </th>
<th>Price (ES) </th>
<th>Price (IT) </th>
<th>Price (BE) </th>
<th>Price (CH) </th>
<th>Price (US)</th></tr>
<tr>
<td><b>Sport Pack</b><br />Switchable Sports Mode with Sharper<br />Throttle Response (standard with IPS)<br />Increased RPM Limit (N/A with IPS) and sportier<br />setting for Dynamic Performance Control (DPM)<br />Sports Diffuser (3 piece)<br />Titanium Sports Exhaust Tailpipe (Stainless steel on Evora S)<br />Cross-Drilled Brake Discs<br />Black Painted Brake Calipers </td>
<td>£1,100 (£770 with IPS) </td>
<td>€1.500 (€1.125 with IPS) </td>
<td>€1.500 (€1.150 with IPS) </td>
<td>€1.480 (€1.110 with IPS) </td>
<td>€1.500 (€1.130 with IPS) </td>
<td>€1.500 (€1.140 with IPS) </td>
<td>CHF 2,260 (CHF 1,700 with IPS) </td>
<td>$1,275</td></tr>
<tr>
<td><b>Premium Pack</b><br />Accent Lighting<br />Leather Door Panelling Below Trim Band<br />Leather Trimmed Door Pockets, Armrest, Centre Console and Tailgate Insert Panel<br />Leather Footwell Side Panels<br />Choice of Seat Leather Colour: Oyster, Charcoal, Cocobolo or Paprika.<br />Heated Leather Front Recaro Seats<br />Also includes leather rear seats (2+2 option only) </td>
<td>£1,800 </td>
<td>€3.010 </td>
<td>€2.990 </td>
<td>€2.970 </td>
<td>€3.020 </td>
<td>€3.040 </td>
<td>CHF 4,500 </td>
<td>$2,200</td></tr>
<tr>
<td><b>Premium Pack in Suedetex </b></td>
<td>£2,600 </td>
<td>€3.320 </td>
<td>€3.300 </td>
<td>€3.275 </td>
<td>€3.330 </td>
<td>€3.360 </td>
<td>CHF 5,020 </td>
<td>$3,850</td></tr>
<tr>
<td><b>Tech Pack</b><br />Upgraded Speakers and Stereo System with 2x50W Amplifier<br />and Subwoofer with Dedicated Amplifier<br />DVD Player, 7” WVGA Touch Screen Display<br />Bluetooth Mobile Phone Connection<br />USB Connection for Various iPod* Models, MP3 Players and Memory Sticks<br />Tyre Pressure Monitoring System (TPMS)<br />Cruise Control<br />Rear Parking Sensors<br />Homelink </td>
<td>£2,700 </td>
<td>€3.550 </td>
<td>€3.490 </td>
<td>€3.465 </td>
<td>€3.520 </td>
<td>€3.550 </td>
<td>CHF 5,270 </td>
<td>$2,995</td></tr></table></div>

<h1><span class="mw-headline" id="Source">Source</span></h1>

<p><a class="external text" href="http://www.evorainfo.net/FileStore/PDFs/Evora%20Price%20List%202011.pdf" rel="nofollow">Lotus UK Price List 2011</a></p>
<p>

</p>