<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1"><a href="#The_Evora_Range">The Evora Range</a>
<ul>
<li class="toclevel-2"><a href="#Vehicle_Options">Vehicle Options</a>
</li>
<li class="toclevel-2"><a href="#Upgrade_Packs">Upgrade Packs</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Source">Source</a>
</li>
</ul></td></tr></table><hr/>
<h1><span class="mw-headline" id="The_Evora_Range">The Evora Range</span></h1>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Model </th>
<th>Price (UK) </th>
<th>Price (FR) </th>
<th>Price (DE) </th>
<th>Price (IT) </th>
<th>Price (BE) </th>
<th>Price (CH)</th></tr>
<tr>
<td>Evora 2+0 </td>
<td>£47,500 </td>
<td>€61.189 </td>
<td>€59.990 </td>
<td>€61.874 </td>
<td>€61,809 </td>
<td>CHF 93,241</td></tr>
<tr>
<td>Evora 2+2 </td>
<td>£49,875 </td>
<td>€64.717 </td>
<td>€63.500 </td>
<td>€65.413 </td>
<td>€65,378 </td>
<td>CHF 97,829</td></tr></table></div>


<h2><span class="mw-headline" id="Vehicle_Options">Vehicle Options</span></h2>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Option </th>
<th>Price (UK) </th>
<th>Price (FR) </th>
<th>Price (DE) </th>
<th>Price (IT) </th>
<th>Price (BE) </th>
<th>Price (CH)</th></tr>
<tr>
<td>Tech Pack </td>
<td>£2,495 </td>
<td>€3.508 </td>
<td>€3.490 </td>
<td>€3.519 </td>
<td>€3.549 </td>
<td>CHF 5.228</td></tr>
<tr>
<td>Sport Pack </td>
<td>£950 </td>
<td>€1.498 </td>
<td>€1.490 </td>
<td>€1.503 </td>
<td>€1.515 </td>
<td>CHF 2.233</td></tr>
<tr>
<td>Premium Pack </td>
<td>£2,495 </td>
<td>€3.005 </td>
<td>€2.990 </td>
<td>€3.015 </td>
<td>€3.040 </td>
<td>CHF 4.478</td></tr>
<tr>
<td><a href="http://wiki.seloc.org/a/Paint_Colours_-_Evora#Metallic_Colours" title="Paint Colours - Evora">Metallic Paint</a> </td>
<td>£538 </td>
<td>€995 </td>
<td>€990 </td>
<td>€998 </td>
<td>€1.007 </td>
<td>CHF 1.482</td></tr>
<tr>
<td><a href="http://wiki.seloc.org/a/Paint_Colours_-_Evora#Lifestyle_Colours" title="Paint Colours - Evora">Lifestyle Paint</a> </td>
<td>£979 </td>
<td>€1.859 </td>
<td>€1.850 </td>
<td>€1.866 </td>
<td>€1.881 </td>
<td>CHF 2.771</td></tr>
<tr>
<td><a href="http://wiki.seloc.org/a/Paint_Colours_-_Evora#Premium_Colours" title="Paint Colours - Evora">Premium Paint</a> </td>
<td>£1,957 </td>
<td>€2.751 </td>
<td>€2.737 </td>
<td>€2.760 </td>
<td>€2.783 </td>
<td>CHF 4,101</td></tr>
<tr>
<td>Powerfold Door Mirrors </td>
<td>£300 </td>
<td>€291 </td>
<td>€290 </td>
<td>€292 </td>
<td>€295 </td>
<td>CHF 433</td></tr>
<tr>
<td>Bi-Xenon Headlamps </td>
<td>£550 </td>
<td>€995 </td>
<td>€990 </td>
<td>€998 </td>
<td>€1.007 </td>
<td>CHF 1.484</td></tr>
<tr>
<td>Alpine/Lotus IMPRINT Sound </td>
<td>£1,495 </td>
<td>€1.498 </td>
<td>€1.490 </td>
<td>€1.503 </td>
<td>€1.515 </td>
<td>CHF 2.234</td></tr>
<tr>
<td>Alpine Reversing camera </td>
<td>£300 </td>
<td>€593 </td>
<td>€590 </td>
<td>€595 </td>
<td>€600 </td>
<td>CHF 892</td></tr>
<tr>
<td>Stealth Grey cast alloy wheels </td>
<td>£300 </td>
<td>€553 </td>
<td>€550 </td>
<td>€555 </td>
<td>€559 </td>
<td>CHF 825</td></tr>
<tr>
<td>Silver forged alloy wheels </td>
<td>£1,495 </td>
<td>€2.000 </td>
<td>€1.990 </td>
<td>€2.007 </td>
<td>€2.023 </td>
<td>CHF 2.985</td></tr>
<tr>
<td>Gloss Anthracite forged alloy wheels </td>
<td>£1,795 </td>
<td>€2.764 </td>
<td>€2.750 </td>
<td>€2.773 </td>
<td>€2.796 </td>
<td>CHF 4.122</td></tr>
<tr>
<td>Sports Ratio 6-speed M/T </td>
<td>£1,495 </td>
<td>€1.809 </td>
<td>€1.800 </td>
<td>€1.815 </td>
<td>€1.830 </td>
<td>CHF 2.698</td></tr></table></div>

<h2><span class="mw-headline" id="Upgrade_Packs">Upgrade Packs</span></h2>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Pack </th>
<th>Price (UK) </th>
<th>Price (FR) </th>
<th>Price (DE) </th>
<th>Price (IT) </th>
<th>Price (BE) </th>
<th>Price (CH)</th></tr>
<tr>
<td><b>Sport Pack</b><br />Switchable Sports mode featuring<br />Enhanced Throttle response and RPM limit<br />Sports traction control mode with increased yaw and slip thresholds<br />Sports diffuser<br />Titanium sports exhaust tailpipe<br />Cross drilled brake disks<br />Black painted brake callipers<br />Engine Oil cooler </td>
<td>£950 </td>
<td>€1.498 </td>
<td>€1.490 </td>
<td>€1.503 </td>
<td>€1.515 </td>
<td>CHF 2.233</td></tr>
<tr>
<td><b>Premium Pack</b><br />Accent Lighting<br />Leather trimmed tailgate insert panel<br />Evora Logo on dash<br />Premium floor mats<br />Choice of Seat Leather Colour: Charcoal, Chestnut, Oyster or Paprika.<br />Leather door panelling below trim band<br />Leather trimmed door pockets<br />Leather footwell side panels<br />Leather trimmed armrest<br />Fully leather trimmed centre console </td>
<td>£2,495 </td>
<td>€3.005 </td>
<td>€2.990 </td>
<td>€3.015 </td>
<td>€3.040 </td>
<td>CHF 4.478</td></tr>
<tr>
<td><b>Tech Pack</b><br />Upgraded stereo system with:<br />Alpine Mobile Media Station<br />DVD±R/±RW/MP3/AAC/WMA/DivX Playback<br />2x50W High Power Amp (6&#34; 1/4 coaxial 2-way speakers &#38; dash mounted tweaters)<br />Alpine Lightweight amplifier with lightweight 150watt subwoofer<br />7&#34; WVGA Touch Screen display<br />Alpine BlackBird Portable Satellite Navigation<br />Bluetooth mobile phone connection<br />USB connection for various iPod models and selected other MP3 player and memory sticks<br />iPod connection and docking cradle in glovebox<br />Full speed AUX input<br />Quick search<br />Cruise Control, included in steering wheel<br />Rear parking sensors<br />Tyre pressure monitoring system </td>
<td>£2,495 </td>
<td>€3.508 </td>
<td>€3.490 </td>
<td>€3.519 </td>
<td>€3.549 </td>
<td>CHF 5.228</td></tr></table></div>

<h1><span class="mw-headline" id="Source">Source</span></h1>

<p><a class="external text" href="http://www.evorainfo.net/FileStore/PDFs/Evora%20Option%20and%20Price%20List%202009.pdf" rel="nofollow">Evora Options and Price List - 2009</a></p>