
<p>This page is designed to serve as a preliminary buyers guide for those interested in the Lotus Evora.</p>
<p>As the Evora is a relatively new car, with all still under warranty at the time of writing, but we&#39;ll be adding advice and information over time.</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Running_Costs">Running Costs</a>
<ul>
<li class="toclevel-2"><a href="#Servicing">Servicing</a>
</li>
<li class="toclevel-2"><a href="#Tax_Bands">Tax Bands</a>
</li>
<li class="toclevel-2"><a href="#Consumables">Consumables</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Recalls">Recalls</a>
</li>
<li class="toclevel-1"><a href="#Buyers_Checklist">Buyers Checklist</a>
<ul>
<li class="toclevel-2"><a href="#Engine">Engine</a>
</li>
<li class="toclevel-2"><a href="#Transmission">Transmission</a>
</li>
<li class="toclevel-2"><a href="#Suspension_and_Brakes">Suspension and Brakes</a>
</li>
<li class="toclevel-2"><a href="#Bodywork">Bodywork</a>
</li>
<li class="toclevel-2"><a href="#Interior_and_Electrics">Interior and Electrics</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Options">Options</a>
<ul>
<li class="toclevel-2"><a href="#Seating_configurations">Seating configurations</a>
</li>
<li class="toclevel-2"><a href="#Tech_Pack_Identification">Tech Pack Identification</a>
</li>
<li class="toclevel-2"><a href="#Premium_Pack_Identification">Premium Pack Identification</a>
</li>
<li class="toclevel-2"><a href="#Sport_Pack_Identification">Sport Pack Identification</a>
</li>
<li class="toclevel-2"><a href="#Other_options">Other options</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Pricing">Pricing</a>
</li>
<li class="toclevel-1"><a href="#References">References</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Running_Costs">Running Costs</span></h2>

<h3><span class="mw-headline" id="Servicing">Servicing</span></h3>

<p>Servicing on the Evora and Evora S is carried out on a 1 year or 9,000 mile basis.</p>
<p>These services vary in price from around £425 up to £699, with alternating Minor and Major services.</p>
<p>You can find the servicing schedule for the Evora on the <a href="http://wiki.seloc.org/a/Servicing#Service_Schedule_3" title="Servicing">Servicing</a> page, and get an idea of pricing on the <a href="http://wiki.seloc.org/a/Servicing_costs" title="Servicing costs">Servicing Costs</a> entry.</p>
<h3><span class="mw-headline" id="Tax_Bands">Tax Bands</span></h3>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Model </th>
<th>Emissions (Combined Cycle) </th>
<th>Tax Band </th>
<th>1st Year Tax Rate </th>
<th>Annual Tax Rate</th></tr>
<tr>
<td><b>Evora</b> </td>
<td>205g/km CO<sub>2</sub> </td>
<td>K </td>
<td>£580 </td>
<td>£250</td></tr>
<tr>
<td><b>Evora Sports Gearbox</b> </td>
<td>217g/km CO<sub>2</sub> </td>
<td>K </td>
<td>£580 </td>
<td>£250</td></tr>
<tr>
<td><b>Evora IPS</b> </td>
<td>210g/km CO<sub>2</sub> </td>
<td>K </td>
<td>£580 </td>
<td>£250</td></tr>
<tr>
<td><b>Evora S</b> </td>
<td>229g/km CO<sub>2</sub> </td>
<td>L </td>
<td>£790 </td>
<td>£435</td></tr>
<tr>
<td><b>Evora S IPS</b> </td>
<td>224g/km CO<sub>2</sub> </td>
<td>K </td>
<td>£580 </td>
<td>£250</td></tr></table></div>

<h3><span class="mw-headline" id="Consumables">Consumables</span></h3>

<p>These prices are for parts only, including VAT but exclude delivery and fitting.</p>
<p>Many of the consumables for the Evora such as oil and air filters are Toyota parts, and so are quite reasonably priced. Be aware however that if the car is equipped with the 19&#34; front and 20&#34; rear wheels the OE fitment Pirelli P Zero Corsa tyres are considerably more expensive than the regular Pirelli P Zero&#39;s fitted as standard to 18&#34; front and 19&#34; rear wheel combinations. Rear tyre wear has also been reported to be somewhat higher than expected with the standard tyres, so it is not uncommon for owners to try alterative brands.</p>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Item </th>
<th>Price </th>
<th>Part Number </th>
<th>Vendor </th>
<th>Date</th></tr>
<tr>
<td><b>Tyres</b> </td>
<td>Front: £130.20 (Pirelli P Zero)<br />Rear: £265.90 (Pirelli P Zero)<br />Front (19&#34;): £238.50 (Pirelli P Zero Corsa)<br />Rear (20&#34;): £442.70 (Pirelli P Zero Corsa)</td>
<td>Front: A132G6005F<br />Rear: A132G6006F </td>
<td><a class="external text" href="http://camskill.co.uk/" rel="nofollow">Camskill</a> </td>
<td>11/11/2011</td></tr>
<tr>
<td><b>Brake Pads</b> </td>
<td>Front: £211.03 (AP Racing - OEM Fitment)<br />Rear: £211.03 (AP Racing - OEM Fitment) </td>
<td>Front: <a class="external text" href="http://www.elise-shop.com/a132j0001s-p-353729.html" rel="nofollow">A132J0001S</a><br />Rear: <a class="external text" href="http://www.elise-shop.com/a132j0002s-p-353730.html" rel="nofollow">A132J0002S</a> </td>
<td><a class="external text" href="http://www.elise-shop.com/" rel="nofollow">Elise-shop</a> </td>
<td>09/08/2011</td></tr>
<tr>
<td><b>Brake Discs</b> </td>
<td />
<td />
<td />
<td></td></tr>
<tr>
<td><b>Clutch</b> </td>
<td>Friction Plate: £180.48 </td>
<td><a class="external text" href="http://www.elise-shop.com/c132f0015f-p-414947.html" rel="nofollow">C132F0015F</a> </td>
<td><a class="external text" href="http://www.elise-shop.com/" rel="nofollow">Elise-shop</a> </td>
<td>09/08/2011</td></tr>
<tr>
<td><b>Oil Filter</b> </td>
<td>£33.60 </td>
<td><a class="external text" href="http://www.elise-shop.com/a132e6399s-p-353429.html" rel="nofollow">A132E6399S</a> </td>
<td><a class="external text" href="http://www.elise-shop.com/" rel="nofollow">Elise-shop</a> </td>
<td>09/08/2011</td></tr>
<tr>
<td><b>Air Filter</b> </td>
<td>£38.69 </td>
<td><a class="external text" href="http://www.elise-shop.com/a132e6324s-p-353357.html" rel="nofollow">A132E6324S</a> </td>
<td><a class="external text" href="http://www.elise-shop.com/" rel="nofollow">Elise-shop</a> </td>
<td>09/08/2011</td></tr></table></div>

<h2><span class="mw-headline" id="Recalls">Recalls</span></h2>

<p>Below is a list of recalls made to the Evora since it release - this list is assumed to be incomplete at present.</p>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Title </th>
<th>Date </th>
<th>Summary </th>
<th>VINs affected </th>
<th>Link</th></tr>
<tr>
<td><b>Heater/a.c. unit drain tube freezing causing poor demist performance</b> </td>
<td>01/02/2010 </td>
<td>Fix to solve poor demisting performance during the winter months due to water freezing and blocking the drain hole.<br />Fix carried out at owners request. </td>
<td>Up to 1065 </td>
<td><a class="external text" href="http://evorainfo.net/FileStore/PDFs/Recalls/Evora%20Recall%20-%20Drain%20Tube.pdf" rel="nofollow">PDF</a></td></tr>
<tr>
<td><b>Replacement of exhaust muffler flexible mountings</b> </td>
<td>01/02/2010 </td>
<td>Upgraded silicone material on exhaust mounts to improve durability.<br />Carried out when the car is serviced. </td>
<td>- </td>
<td><a class="external text" href="http://evorainfo.net/FileStore/PDFs/Recalls/Evora%20Recall%20-%20Exhaust%20Mounting.pdf" rel="nofollow">PDF</a></td></tr>
<tr>
<td><b>Fitment of &#39;in-line&#39; fuse to alarm siren circuit</b> </td>
<td>01/02/2010 </td>
<td>Fix to ensure doors automatically unlock in the event of an accident. </td>
<td>Affected VINs listed in PDF </td>
<td><a class="external text" href="http://evorainfo.net/FileStore/PDFs/Recalls/Evora%20Recall%20-%20Siren%20Fuse.pdf" rel="nofollow">PDF</a></td></tr></table></div>

<h2><span class="mw-headline" id="Buyers_Checklist">Buyers Checklist</span></h2>

<h3><span class="mw-headline" id="Engine">Engine</span></h3>

<p>The <a href="http://wiki.seloc.org/a/Toyota_2GR-FE_engine#Evora" title="Toyota 2GR-FE engine">Evora</a> and <a href="http://wiki.seloc.org/a/Toyota_2GR-FE_engine#Evora_S" title="Toyota 2GR-FE engine">Evora S</a> both use variants of the <a href="http://wiki.seloc.org/a/Toyota_2GR-FE_engine" title="Toyota 2GR-FE engine">Toyota 2GR-FE engine</a> in combination with Lotus&#39;s own T6e engine management system.</p>
<p>This delivers 276bhp in the Evora, and 345bhp in the Evora S thanks to the addition of a supercharger.</p>
<p>At present there is little of note about this engine in terms of reliability - it&#39;s a well proven unit used across a range of different Toyota vehicles - however if possible when buying its worth getting a dealer to perform a read out of the engine ECU which will record any instances of the engine being over-revved which can occur if a driver has made an early downshift. If this has occurred it can cause damage to the engine, and if severe enough may impact on warranty claims if its suspected to be the cause of a failure.</p>
<h3><span class="mw-headline" id="Transmission">Transmission</span></h3>

<p>The Evora has a range of gearbox options in the form of the standard 6-speed manual, optional Close Ratio &#39;Sport&#39; gearbox, and IPS automatic. The Evora S gets the Sport ratios as standard, and as of MY12 was also offered with the IPS gearbox. </p>
<p>While early Evora &#39;<a href="http://wiki.seloc.org/a/Models_-_Evora#Launch_Edition" title="Models - Evora">Launch Edition</a>&#39; cars were fully loaded in terms of options, very few came with the close ratio gearbox.</p>
<p>The standard ratio box is somewhat long geared in the higher gears (1st and 2nd are identical in both gear sets), but offers improved fuel economy and may be an advantage if the car is to see regular motorway use.</p>
<p>One of the main criticisms in early Evora reviews was that of the poor gear linkage used by the manual gearbox. Improvements to this were reported have been made during the cars post-launch updates, possibly coinciding with the launch of the Evora S, so shift quality may vary depending on the age of the car. The updated gear linkages can be fitted to earlier cars, and in some cases where cars have suffered from poor shift quality have been fitted under warranty - it is well worth asking about this when buying a car, particularly if it&#39;s from a dealership.</p>
<p>There are currently no known major issues with the Evora&#39;s transmission, however there have been reports of unexplained noise from the cars drivetrain. Dealers have been known to dismiss this as &#39;within acceptable limits&#39;, and the cause is currently unknown.</p>
<p>For more information on the Evora gearbox see our <a href="http://wiki.seloc.org/a/Gear_Ratios_-_Evora" title="Gear Ratios - Evora">separate Wiki page</a>.</p>
<h3><span class="mw-headline" id="Suspension_and_Brakes">Suspension and Brakes</span></h3>


<p>Unlike the Elise and its derivatives, the Evora makes use of forged aluminium for the suspension wishbones in an effort to reduce unsprung weight. Dampers are provided by Bilstein and fitted with Eibach springs.<br />So far the long-term durability of the Evora&#39;s dampers is an unknown quality.</p>
<p>The brake discs, calipers and pads are provided by AP Racing, with 4-pot calipers both front and rear. Cross drilled brake discs are an optional extra as part of the Sport Pack along with black painted calipers (Red for post MY12 models, black becoming a no cost option).</p>
<h3><span class="mw-headline" id="Bodywork">Bodywork</span></h3>

<p>Unlike the Elise and Exige, the Evora features front and rear bumpers which are separate to the main clamshells. This means that in the event of a minor accident the bumpers can be replaced separately, hopefully leading to lower costs and shorter lead times on parts.</p>
<p>Fibreglass cars can be susceptible to paint blisters and bubbling. So far however this has not been reported on the Evora.</p>
<h3><span class="mw-headline" id="Interior_and_Electrics">Interior and Electrics</span></h3>

<p>The interior quality is one of the main areas that came in for criticism when the Evora was first launched, and has gradually been improved through the models life. There is no hard and fast rule as to when major changes were made, but generally the later the car the better the interior build quality.</p>
<p>The main issue to look out for here is that space in the rear seats is somewhat limited, so if they&#39;re likely to be in regular use take someone with you when looking at the car and make sure they can fit in behind the drivers seat. There are some known interior quality issues, including <a href="http://wiki.seloc.org/a/Common_Issues_-_Evora#Recaro_seat_wear" title="Common Issues - Evora">premature wear to the front seat bolsters</a>.</p>
<h2><span class="mw-headline" id="Options">Options</span></h2>

<h3><span class="mw-headline" id="Seating_configurations">Seating configurations</span></h3>
<p>The Evora is available in both 2+0 and 2+2 seating configurations. The 2+2 is the most common configuration and features a pair of cloth or leather rear seats, where as the 2+0 comes equipped with a rear storage shelf and a small aluminium divider with net to stop items shuffling around.</p>

<div style="page-break-inside: avoid;">
<table class="wikitable" style="margin: 1em auto 1em auto;">
<tr>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Evora_2%2B0_Rear_Shot.jpg" title="Evora 2+0 Rear Bench"><img src="Evora_2%2B0_Rear_Shot.jpg" alt="Evora 2+0 Rear Bench" title="Evora 2+0 Rear Bench" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Evora 2+0 Rear Bench</div></div>
</div>
 </td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Evora_2%2B2_Rear_Shot.jpg" title="Evora 2+2 Rear Seats"><img src="Evora_2%2B2_Rear_Shot.jpg" alt="Evora 2+2 Rear Seats" title="Evora 2+2 Rear Seats" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Evora 2+2 Rear Seats</div></div>
</div>
</td></tr></table></div>

<h3><span class="mw-headline" id="Tech_Pack_Identification">Tech Pack Identification</span></h3>

<p>Cars with the Tech Pack fitted can easily be identified by the double DIN stereo and Cruise Control buttons on the steering wheel.<br />
Both the standard and Tech Pack stereos are Alpine units. Standard cars get the <a class="external text" href="http://www.alpine-electronics.co.uk/products/product-singleview/cd-head-units/cde-111r.html" rel="nofollow">Alpine CDE-111RM</a> (CDE-102Ji for Japan, CDE-102 for USA) - a fairly standard CD headunit, while Tech Pack cars are fitted with the touch-screen <a class="external text" href="http://www.alpine-electronics.co.uk/products/product-singleview/mobile-media-stations/iva-w505r.html" rel="nofollow">IVA-W505R</a> (VIE-X077 for Japan, IVA-W505R for USA).</p>
<p>Tech Pack equipped cars can also be fitted with the <a class="external text" href="http://www.alpine-electronics.co.uk/products/product-singleview/processors/pxa-h100.html" rel="nofollow">Alpine &#39;IMPRINT&#39; PXA-H100 processor</a>, which aims to compensate for the acoustics of an in-car environment to improve sound quality.</p>

<div style="page-break-inside: avoid;">
<table class="wikitable" style="margin: 1em auto 1em auto;">
<tr>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Evora_S_Interior_without_Tech_Pack.jpg" title="Evora S without Tech Pack"><img src="Evora_S_Interior_without_Tech_Pack.jpg" alt="Evora S without Tech Pack" title="Evora S without Tech Pack" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Evora S without Tech Pack</div></div>
</div>
 </td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Evora_with_Tech_Pack.jpg" title="Evora with Tech Pack"><img src="Evora_with_Tech_Pack.jpg" alt="Evora with Tech Pack" title="Evora with Tech Pack" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Evora with Tech Pack</div></div>
</div>
</td></tr></table></div>

<h3><span class="mw-headline" id="Premium_Pack_Identification">Premium Pack Identification</span></h3>

<p>Cars fitted with the Premium Pack gain a number of interior features that make it easily distinguishable.</p>
<p>Unless the Premium Pack is specified the only interior leather colour available is Black. The Premium Pack adds to this the option of Oyster, Cocobolo or Paprika leather, while the Premium Pack in Suedetex released in 2011 comes with Anthracite Suedetex.</p>
<p>The Premium Pack also adds leather various surfaces, accent lighting in the cabin, heated front seats, a leather arm rest, and a boot cargo net.</p>

<div style="page-break-inside: avoid;">
<table class="wikitable" style="margin: 1em auto 1em auto;">
<tr>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Configurator_without_Premium_Pack.jpg" title="Without Premium Pack"><img src="Configurator_without_Premium_Pack.jpg" alt="Without Premium Pack" title="Without Premium Pack" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Without Premium Pack</div></div>
</div>
 </td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Configurator_with_Premium_Pack.jpg" title="With Premium Pack"><img src="Configurator_with_Premium_Pack.jpg" alt="With Premium Pack" title="With Premium Pack" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">With Premium Pack</div></div>
</div>
</td></tr></table></div>

<h3><span class="mw-headline" id="Sport_Pack_Identification">Sport Pack Identification</span></h3>

<p>The Sport Pack is an optional extra on the standard Evora, but comes as standard on the Evora S. With the Evora IPS the pack is still optional but the Sport Mode button is included as standard to select the Sport gearbox setting and sharpen the cars throttle response.</p>
<p>Other identifying features for Sport Pack cars are the Sports Diffuser(3 piece),Cross-Drilled Brake Discs, Black Painted Brake Calipers (Red for MY12 onwards) and twin Titanium Exhaust Tailpipes. The standard Evora gets twin Stainless Steel Exhaust Tailpipes. The Evora S comes with a single Stainless Steel  Exhaust Tailpipe as standard.</p>

<div style="page-break-inside: avoid;">
<table class="wikitable" style="margin: 1em auto 1em auto;">
<tr>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Configurator_without_Sports_Pack_Front.jpg" title="Evora without Sports Pack"><img src="Configurator_without_Sports_Pack_Front.jpg" alt="Evora without Sports Pack" title="Evora without Sports Pack" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Evora without Sports Pack</div></div>
</div>
 </td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Configurator_with_Sports_Pack_Front.jpg" title="Evora with Sports Pack"><img src="Configurator_with_Sports_Pack_Front.jpg" alt="Evora with Sports Pack" title="Evora with Sports Pack" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Evora with Sports Pack</div></div>
</div>
</td></tr>
<tr>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Configurator_without_Sports_Pack_Rear.jpg" title="Evora without Sports Pack"><img src="Configurator_without_Sports_Pack_Rear.jpg" alt="Evora without Sports Pack" title="Evora without Sports Pack" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Evora without Sports Pack</div></div>
</div>
 </td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Configurator_with_Sports_Pack_Rear.jpg" title="Evora with Sports Pack"><img src="Configurator_with_Sports_Pack_Rear.jpg" alt="Evora with Sports Pack" title="Evora with Sports Pack" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Evora with Sports Pack</div></div>
</div>
</td></tr></table></div>

<h3><span class="mw-headline" id="Other_options">Other options</span></h3>

<h2><span class="mw-headline" id="Pricing">Pricing</span></h2>

<p>Due to being a relatively new model, it is rare to see Evora&#39;s available from private sellers, with most coming on to the market via dealerships and specialist traders.</p>
<p>Evora pricing ranges from around £35,000 for early 2009 cars, up to £70,000 for a high-spec Evora S.</p>
<p>The last recorded state of the Evora market is as follows:</p>
<p>Raw data: <a class="external text" href="http://evorainfo.net/FileStore/Price%20Tracker/Evora%20Price%20Tracker%20-%20June%202013.xls" rel="nofollow">Evora Price Tracker - June 2013.xls</a></p>

<div style="page-break-inside: avoid;">
<table border="1" width="700">
<tr>
<th>Year </th>
<th>Varient </th>
<th>Sample Size </th>
<th>Lowest Advertised Price </th>
<th>Median Advertised Price </th>
<th>Highest Advertised Price </th>
<th>Change in Number of Advertised Cars Since Last Sample </th>
<td>Median Price Change Since Last Sample</td></tr>
<tr>
<td>2009 </td>
<td>Evora </td>
<td>1 </td>
<td />
<td>£32,489 </td>
<td />
<td>-1 </td>
<td>-£2,461</td></tr>
<tr>
<td>2010 </td>
<td>Evora </td>
<td>11 </td>
<td>£30,989 </td>
<td>£33,995 </td>
<td>£35,000 </td>
<td>0 </td>
<td>£1,000</td></tr>
<tr>
<td />
<td>Evora S </td>
<td>0 </td>
<td>- </td>
<td>- </td>
<td>- </td>
<td>-1 </td>
<td /></tr>
<tr>
<td>2011 </td>
<td>Evora </td>
<td>3 </td>
<td>£37,000 </td>
<td>£39,000 </td>
<td>£39,999 </td>
<td>2 </td>
<td>£1,550</td></tr>
<tr>
<td />
<td>Evora IPS </td>
<td>1 </td>
<td />
<td>£40,995 </td>
<td />
<td>0 </td>
<td>£4,045</td></tr>
<tr>
<td />
<td>Evora S </td>
<td>8 </td>
<td>£39,995 </td>
<td>£40,995 </td>
<td>£60,950 </td>
<td>4 </td>
<td>-£12,268.50</td></tr>
<tr>
<td>2012 </td>
<td>Evora </td>
<td>2 </td>
<td>£47,995 </td>
<td>£48,995 </td>
<td>£49,995 </td>
<td>1 </td>
<td>-£7,005</td></tr>
<tr>
<td />
<td>Evora S </td>
<td>1 </td>
<td />
<td>£49,995 </td>
<td />
<td>-3 </td>
<td>-£14,927.50</td></tr>
<tr>
<td />
<td>Evora S IPS </td>
<td>2 </td>
<td>£57,995 </td>
<td>£58,972.50 </td>
<td>£59,950 </td>
<td>-6 </td>
<td>-£3,022.50</td></tr>
<tr>
<td>2013 </td>
<td>Evora </td>
<td>2 </td>
<td>£57,900 </td>
<td>£57,900 </td>
<td>£57,900 </td>
<td>- </td>
<td /></tr>
<tr>
<td />
<td>Evora S </td>
<td>5 </td>
<td>£59,989 </td>
<td>£65,000 </td>
<td>£66,250 </td>
<td>- </td>
<td /></tr>
<tr>
<td />
<td>Evora S IPS </td>
<td>2 </td>
<td>£58,995 </td>
<td>£59,247.50 </td>
<td>£59,500 </td>
<td>- </td>
<td /></tr></table></div>

<p>Sample taken on June 15th, 2013.</p>
<p>The lowest priced car in this sample is a 2010 Evora 2+0 in Starlight Black with 27,800 miles on the clock at £30,989.</p>
<p>For historic Evora pricing information please see the <a href="http://wiki.seloc.org/a/Evora_Price_Tracking" title="Evora Price Tracking">Evora Price Tracking</a> in this Wiki.</p>
<h2><span class="mw-headline" id="References">References</span></h2>

<p><a class="external text" href="http://forums.seloc.org/p/6282886" rel="nofollow">SELOC Forums » SELOC Chat » Buying an Evora</a></p>