
<p>This page is to track the price of the Lotus Evora over time.</p>
<p>Pricing information is taken solely from Pistonheads Classifieds.</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#June_2013">June 2013</a>
</li>
<li class="toclevel-1"><a href="#December_2012">December 2012</a>
</li>
<li class="toclevel-1"><a href="#August_2012">August 2012</a>
<ul>
<li class="toclevel-2"><a href="#Trends">Trends</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#April_2012">April 2012</a>
<ul>
<li class="toclevel-2"><a href="#Trends_2">Trends</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#January_2012">January 2012</a>
<ul>
<li class="toclevel-2"><a href="#Trends_3">Trends</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#September_2011">September 2011</a>
<ul>
<li class="toclevel-2"><a href="#Trends_4">Trends</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#August_2011">August 2011</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="June_2013">June 2013</span></h2>

<p>Raw data: <a class="external text" href="http://evorainfo.net/FileStore/Price%20Tracker/Evora%20Price%20Tracker%20-%20June%202013.xls" rel="nofollow">Evora Price Tracker - June 2013.xls</a></p>

<div style="page-break-inside: avoid;">
<table border="1" width="700">
<tr>
<th>Year </th>
<th>Varient </th>
<th>Sample Size </th>
<th>Lowest Advertised Price </th>
<th>Median Advertised Price </th>
<th>Highest Advertised Price </th>
<th>Change in Number of Advertised Cars Since Last Sample </th>
<td>Median Price Change Since Last Sample</td></tr>
<tr>
<td>2009 </td>
<td>Evora </td>
<td>1 </td>
<td />
<td>£32,489 </td>
<td />
<td>-1 </td>
<td>-£2,461</td></tr>
<tr>
<td>2010 </td>
<td>Evora </td>
<td>11 </td>
<td>£30,989 </td>
<td>£33,995 </td>
<td>£35,000 </td>
<td>0 </td>
<td>£1,000</td></tr>
<tr>
<td />
<td>Evora S </td>
<td>0 </td>
<td>- </td>
<td>- </td>
<td>- </td>
<td>-1 </td>
<td /></tr>
<tr>
<td>2011 </td>
<td>Evora </td>
<td>3 </td>
<td>£37,000 </td>
<td>£39,000 </td>
<td>£39,999 </td>
<td>2 </td>
<td>£1,550</td></tr>
<tr>
<td />
<td>Evora IPS </td>
<td>1 </td>
<td />
<td>£40,995 </td>
<td />
<td>0 </td>
<td>£4,045</td></tr>
<tr>
<td />
<td>Evora S </td>
<td>8 </td>
<td>£39,995 </td>
<td>£40,995 </td>
<td>£60,950 </td>
<td>4 </td>
<td>-£12,268.50</td></tr>
<tr>
<td>2012 </td>
<td>Evora </td>
<td>2 </td>
<td>£47,995 </td>
<td>£48,995 </td>
<td>£49,995 </td>
<td>1 </td>
<td>-£7,005</td></tr>
<tr>
<td />
<td>Evora S </td>
<td>1 </td>
<td />
<td>£49,995 </td>
<td />
<td>-3 </td>
<td>-£14,927.50</td></tr>
<tr>
<td />
<td>Evora S IPS </td>
<td>2 </td>
<td>£57,995 </td>
<td>£58,972.50 </td>
<td>£59,950 </td>
<td>-6 </td>
<td>-£3,022.50</td></tr>
<tr>
<td>2013 </td>
<td>Evora </td>
<td>2 </td>
<td>£57,900 </td>
<td>£57,900 </td>
<td>£57,900 </td>
<td>- </td>
<td /></tr>
<tr>
<td />
<td>Evora S </td>
<td>5 </td>
<td>£59,989 </td>
<td>£65,000 </td>
<td>£66,250 </td>
<td>- </td>
<td /></tr>
<tr>
<td />
<td>Evora S IPS </td>
<td>2 </td>
<td>£58,995 </td>
<td>£59,247.50 </td>
<td>£59,500 </td>
<td>- </td>
<td /></tr></table></div>

<p>Sample taken on June 15th, 2013.</p>
<p>The lowest priced car in this sample is a 2010 Evora 2+0 in Starlight Black with 27,800 miles on the clock at £30,989.</p>
<h2><span class="mw-headline" id="December_2012">December 2012</span></h2>

<p>Raw data: <a class="external text" href="http://evorainfo.net/FileStore/Price%20Tracker/Evora%20Price%20Tracker%20-%20December%202012.xls" rel="nofollow">Evora Price Tracker - December 2012.xls</a></p>

<div style="page-break-inside: avoid;">
<table border="1" width="700">
<tr>
<th>Year </th>
<th>Varient </th>
<th>Sample Size </th>
<th>Lowest Advertised Price </th>
<th>Median Advertised Price </th>
<th>Highest Advertised Price </th>
<th>Change in Number of Advertised Cars Since Last Sample </th>
<td>Median Price Change Since Last Sample</td></tr>
<tr>
<td>2009 </td>
<td>Evora </td>
<td>2 </td>
<td>£34,950 </td>
<td>£34,950 </td>
<td>£34,950 </td>
<td>-1 </td>
<td>£1,955</td></tr>
<tr>
<td>2010 </td>
<td>Evora </td>
<td>11 </td>
<td>£25,995 </td>
<td>£32,995 </td>
<td>£35,989 </td>
<td>2 </td>
<td>-£1,995</td></tr>
<tr>
<td />
<td>Evora S </td>
<td>1 </td>
<td>£37,995 </td>
<td>£37,995 </td>
<td>£37,995 </td>
<td>1 </td>
<td /></tr>
<tr>
<td>2011 </td>
<td>Evora </td>
<td>1 </td>
<td>£37,450 </td>
<td>£37,450 </td>
<td>£37,450 </td>
<td>-1 </td>
<td>£1,455</td></tr>
<tr>
<td />
<td>Evora IPS </td>
<td>1 </td>
<td>£36,950 </td>
<td>£37,450 </td>
<td>£37,450 </td>
<td>0 </td>
<td>£1,000</td></tr>
<tr>
<td />
<td>Evora S </td>
<td>4 </td>
<td>£39,995 </td>
<td>£53,263.50 </td>
<td>£60,950 </td>
<td>-10 </td>
<td>-£74</td></tr>
<tr>
<td>2012 </td>
<td>Evora </td>
<td>1 </td>
<td>£56,000 </td>
<td>£56,000 </td>
<td>£56,000 </td>
<td>1 </td>
<td /></tr>
<tr>
<td />
<td>Evora S </td>
<td>4 </td>
<td>£49,990 </td>
<td>£64,922.50 </td>
<td>£72,000 </td>
<td>3 </td>
<td>£4,927.50</td></tr>
<tr>
<td />
<td>Evora S IPS </td>
<td>8 </td>
<td>£47,000 </td>
<td>£61,995 </td>
<td>£74,250 </td>
<td>+2 </td>
<td>-£7,443.50</td></tr></table></div>

<p>Sample taken on December 31st, 2012.</p>
<p>The lowest priced car in this sample is a 2010 Evora 2+0 in Laser Blue with 65,000 miles on the clock at £25,995. This car was previously owned by a Lotus manager and is claimed to have done predominantly motorway mileage.</p>
<h2><span class="mw-headline" id="August_2012">August 2012</span></h2>

<p>Raw data: <a class="external text" href="http://evorainfo.net/FileStore/Price%20Tracker/Evora%20Price%20Tracker%20-%20August%202012.xls" rel="nofollow">Evora Price Tracker - August 2012.xls</a></p>

<div style="page-break-inside: avoid;">
<table border="1" width="700">
<tr>
<th>Year </th>
<th>Varient </th>
<th>Sample Size </th>
<th>Lowest Advertised Price </th>
<th>Median Advertised Price </th>
<th>Highest Advertised Price </th>
<th>Change in Number of Advertised Cars Since Last Sample </th>
<td>Median Price Change Since Last Sample</td></tr>
<tr>
<td>2009 </td>
<td>Evora </td>
<td>3 </td>
<td>£32,495 </td>
<td>£32,995 </td>
<td>£34,995 </td>
<td>-1 </td>
<td>-£927.50</td></tr>
<tr>
<td>2010 </td>
<td>Evora </td>
<td>9 </td>
<td>£31,995 </td>
<td>£34,990 </td>
<td>£36,495 </td>
<td>-3 </td>
<td>-£1,232.50</td></tr>
<tr>
<td />
<td>Evora S </td>
<td>0 </td>
<td>- </td>
<td>- </td>
<td>- </td>
<td>-1 </td>
<td /></tr>
<tr>
<td>2011 </td>
<td>Evora </td>
<td>2 </td>
<td>£35,995 </td>
<td>£35,995 </td>
<td>£35,995 </td>
<td>0 </td>
<td>-£9,004.50</td></tr>
<tr>
<td />
<td>Evora IPS </td>
<td>1 </td>
<td>£37,950 </td>
<td>£37,950 </td>
<td>£37,950 </td>
<td>-6 </td>
<td>-£14,039</td></tr>
<tr>
<td />
<td>Evora S </td>
<td>14 </td>
<td>£40,999 </td>
<td>£53,337.50 </td>
<td>£60,950 </td>
<td>-13 </td>
<td>-£1,197.50</td></tr>
<tr>
<td>2012 </td>
<td>Evora S </td>
<td>1 </td>
<td>£59,995 </td>
<td>£59,995 </td>
<td>£59,995 </td>
<td>0 </td>
<td>-£7,994</td></tr>
<tr>
<td />
<td>Evora S IPS </td>
<td>6 </td>
<td>£64,995 </td>
<td>£69,438.50 </td>
<td>£72,750 </td>
<td>+2 </td>
<td>-£556.50</td></tr></table></div>

<p>Sample taken on August 31st, 2012.</p>
<p>The lowest priced car in this sample is a 2010 Evora 2+0 in Carbon Grey with 15,155 miles on the clock at £31,995. This car was a very low specification, lacking even the Sports pack - the first such car seen in these samples.<br />
There were no 2010 Evora S cars for sale when this sample was taken.</p>
<h3><span class="mw-headline" id="Trends">Trends</span></h3>

<p>A longer gap between samples than is typical, so price changes may be more exaggerated.</p>
<p>Far fewer cars on the market, likely due to Lotus stopping the management car scheme, however more cars are expected in the coming months as early cars reach the end of their 3 year hire purchases and manufacturer warranty periods.</p>
<h2><span class="mw-headline" id="April_2012">April 2012</span></h2>

<p>Raw data: <a class="external text" href="http://evorainfo.net/FileStore/Price%20Tracker/Evora%20Price%20Tracker%20-%20April%202012.xls" rel="nofollow">Evora Price Tracker - April 2012.xls</a></p>

<div style="page-break-inside: avoid;">
<table border="1" width="700">
<tr>
<th>Year </th>
<th>Varient </th>
<th>Sample Size </th>
<th>Lowest Advertised Price </th>
<th>Median Advertised Price </th>
<th>Highest Advertised Price </th>
<th>Change in Number of Advertised Cars Since Last Sample </th>
<td>Median Price Change Since Last Sample</td></tr>
<tr>
<td>2009 </td>
<td>Evora </td>
<td>4 </td>
<td>£31,995 </td>
<td>£33,922.50 </td>
<td>£35,995 </td>
<td>-6 </td>
<td>-£450</td></tr>
<tr>
<td>2010 </td>
<td>Evora </td>
<td>12 </td>
<td>£33,995 </td>
<td>£36,222.50 </td>
<td>£39,995 </td>
<td>-13 </td>
<td>-£1,767.50</td></tr>
<tr>
<td />
<td>Evora S </td>
<td>1 </td>
<td>£42,950 </td>
<td>£42,950 </td>
<td>£42,950 </td>
<td>-1 </td>
<td>-£3,500</td></tr>
<tr>
<td>2011 </td>
<td>Evora </td>
<td>2 </td>
<td>£40,000 </td>
<td>£44,999.50 </td>
<td>£49,999 </td>
<td>-1 </td>
<td>-£2,000.50</td></tr>
<tr>
<td />
<td>Evora IPS </td>
<td>7 </td>
<td>£39,995 </td>
<td>£51,989 </td>
<td>£60,850 </td>
<td>-1 </td>
<td>-£1,506</td></tr>
<tr>
<td />
<td>Evora S </td>
<td>27 </td>
<td>£41,995 </td>
<td>£52,140 </td>
<td>£70,950 </td>
<td>-10 </td>
<td>-£1,767</td></tr>
<tr>
<td>2012 </td>
<td>Evora S </td>
<td>1 </td>
<td>£67,989 </td>
<td>£67,989 </td>
<td>£67,989 </td>
<td>0 </td>
<td>-£5,000</td></tr>
<tr>
<td />
<td>Evora S IPS </td>
<td>4 </td>
<td>£67,489 </td>
<td>£69,995 </td>
<td>£72,750 </td>
<td>+3 </td>
<td>-£2,000</td></tr></table></div>

<p>Sample taken on April 18th, 2012.</p>
<p>The lowest priced car in this sample is a 2009 Evora Launch Edition in Frost Blue.<br /></p>
<p>It comes with the 2+2 seating configuration, and comes equipped with the Sports Pack and Premium Pack with Oyster leather. It also has Xenons, the standard Classic Silver alloy wheels and 13,000 miles on the clock. The gearbox is not specified but can be assumed to be the long ratio box as the car is a Launch Edition model</p>
<p>It is worth noting that between this sample and the previous one the &#39;James Bond&#39; styled Evora advertised by Lotus Silverstone was <a class="external text" href="http://www.seloc.org/2012/02/first-evora-to-dip-below-the-30000-mark/" rel="nofollow">dropped in price to £29,995</a> and sold. This is the lowest priced Evora that has been seen advertised for sale in the UK to date.</p>
<p>Additionally the lowest recorded price Evora S was advertised on the 18th by well known Lotus trader Will Blackham, coming in just under the £40,000 mark at £39,995. This car was not included in the sample however as it had not yet been advertised on PistonHeads.</p>
<h3><span class="mw-headline" id="Trends_2">Trends</span></h3>

<p>Overall prices have dropped an average of £1,748.75 across the board, however the number of cars listed for sale has dropped sharply since January, from 85 to 53.</p>
<p>When looking be aware that some dealers - most notably Stratstone Lotus Leicester - are listed unregistered MY11 cars as &#39;2012&#39; in the PistonHeads details. These cars are included in the 2011 sections in the raw data and marked accordingly so as not to confuse the price data of MY12 cars.</p>
<h2><span class="mw-headline" id="January_2012">January 2012</span></h2>

<p>Raw data: <a class="external text" href="http://evorainfo.net/FileStore/Price%20Tracker/Evora%20Price%20Tracker%20-%20January%202012.xls" rel="nofollow">Evora Price Tracker - January 2012.xls</a></p>

<div style="page-break-inside: avoid;">
<table border="1" width="700">
<tr>
<th>Year </th>
<th>Varient </th>
<th>Sample Size </th>
<th>Lowest Advertised Price </th>
<th>Median Advertised Price </th>
<th>Highest Advertised Price</th></tr>
<tr>
<td>2009 </td>
<td>Evora </td>
<td>10 </td>
<td>£31,816 </td>
<td>£34,372 </td>
<td>£36,950</td></tr>
<tr>
<td>2010 </td>
<td>Evora </td>
<td>25 </td>
<td>£33,995 </td>
<td>£37,990 </td>
<td>£40,995</td></tr>
<tr>
<td />
<td>Evora S </td>
<td>2 </td>
<td>£45,950 </td>
<td>£46,450 </td>
<td>£46,950</td></tr>
<tr>
<td>2011 </td>
<td>Evora </td>
<td>3 </td>
<td>£38,995 </td>
<td>£42,999 </td>
<td>£49,999</td></tr>
<tr>
<td />
<td>Evora IPS </td>
<td>8 </td>
<td>£44,990 </td>
<td>£53,495 </td>
<td>£60,850</td></tr>
<tr>
<td />
<td>Evora S </td>
<td>37 </td>
<td>£43,950 </td>
<td>£53,907 </td>
<td>£70,450</td></tr>
<tr>
<td>2012 </td>
<td>Evora S </td>
<td>1 </td>
<td>£72,989 </td>
<td>£72,989 </td>
<td>£72,989</td></tr>
<tr>
<td />
<td>Evora S IPS </td>
<td>1 </td>
<td>£71,995 </td>
<td>£71,995 </td>
<td>£71,995</td></tr></table></div>

<p>The lowest priced car in this sample is a 2009 Evora in Aquamarine.<br /></p>
<p>It comes with the 2+2 seating configuration, and comes equipped with the Sports Pack and Premium Pack with Oyster leather. It also has Xenons and the Sports exhaust, the standard Classic Silver alloy wheels and 12,046 miles on the clock. The gearbox is not specified.</p>
<h3><span class="mw-headline" id="Trends_3">Trends</span></h3>

<p>Evora S&#39;s have seen the steepest drop, with the median price for a 2011 car coming down just over £6,000 to £53,907. Interestingly some 2011 Evora S&#39;s are cheaper than their 2010 equivalents, although there are only 2 x 2010 Evora S&#39;s listed on PistonHeads vs. 37 2011&#39;s.</p>
<h2><span class="mw-headline" id="September_2011">September 2011</span></h2>

<p>Raw data: <a class="external text" href="http://evorainfo.net/FileStore/Price%20Tracker/Evora%20Price%20Tracker%20-%20September%202011.xls" rel="nofollow">Evora Price Tracker - September 2011.xls</a></p>

<div style="page-break-inside: avoid;">
<table border="1" width="700">
<tr>
<th>Year </th>
<th>Varient </th>
<th>Sample Size </th>
<th>Lowest Advertised Price </th>
<th>Median Advertised Price </th>
<th>Highest Advertised Price</th></tr>
<tr>
<td>2009 </td>
<td>Evora </td>
<td>3 </td>
<td>£35,995 </td>
<td>£36,991 </td>
<td>£36,991</td></tr>
<tr>
<td />
<td>Evora (Launch) </td>
<td>5 </td>
<td>£35,995 </td>
<td>£38,950 </td>
<td>£39,995</td></tr>
<tr>
<td>2010 </td>
<td>Evora </td>
<td>17 </td>
<td>£37,950 </td>
<td>£39,950 </td>
<td>£49,999</td></tr>
<tr>
<td />
<td>Evora S </td>
<td>3 </td>
<td>£47,950 </td>
<td>£50,990 </td>
<td>£58,990</td></tr>
<tr>
<td>2011 </td>
<td>Evora </td>
<td>4 </td>
<td>£42,999 </td>
<td>£47,498 </td>
<td>£49,999</td></tr>
<tr>
<td />
<td>Evora IPS </td>
<td>6 </td>
<td>£49,990 </td>
<td>£54,450 </td>
<td>£59,995</td></tr>
<tr>
<td />
<td>Evora S </td>
<td>31 </td>
<td>£48,950 </td>
<td>£59,995 </td>
<td>£70,450</td></tr></table></div>

<p>The lowest priced car in this sample is a 2009 Evora Launch Edition in Starlight Black.<br /></p>
<p>It comes with the 2+2 seating configuration, and being a Launch Edition has the Sports Pack, Tech Pack, and Premium Pack with Paprika leather all fitted as standard. It also includes Xenons, Heated Seats, a reversing sensor and the optional Sports Anthracite alloy wheels, and has 17,500 miles on the clock.</p>
<h3><span class="mw-headline" id="Trends_4">Trends</span></h3>

<p>2009 cars appear to have sold well this month, with a drop in the number of unsold cars on the market to just 4. Asking prices have remained largely similar, except for 2010 Evora S&#39;s which have seen a median drop in price of just over £8,000.</p>
<h2><span class="mw-headline" id="August_2011">August 2011</span></h2>

<p>Raw data: <a class="external text" href="http://evorainfo.net/FileStore/Price%20Tracker/Evora%20Price%20Tracker%20-%20August%202011.xls" rel="nofollow">Evora Price Tracker - August 2011.xls</a></p>

<div style="page-break-inside: avoid;">
<table border="1" width="700">
<tr>
<th>Year </th>
<th>Varient </th>
<th>Sample Size </th>
<th>Lowest Advertised Price </th>
<th>Median Advertised Price </th>
<th>Highest Advertised Price</th></tr>
<tr>
<td>2009 </td>
<td>Evora </td>
<td>3 </td>
<td>£36,991 </td>
<td>£37,451 </td>
<td>£37,995</td></tr>
<tr>
<td />
<td>Evora (Launch) </td>
<td>9 </td>
<td>£37,950 </td>
<td>£38,950 </td>
<td>£44,000</td></tr>
<tr>
<td>2010 </td>
<td>Evora </td>
<td>15 </td>
<td>£38,950 </td>
<td>£39,990 </td>
<td>£49,999</td></tr>
<tr>
<td />
<td>Evora S </td>
<td>3 </td>
<td>£49,950 </td>
<td>£58,995 </td>
<td>£59,990</td></tr>
<tr>
<td>2011 </td>
<td>Evora </td>
<td>4 </td>
<td>£46,995 </td>
<td>£47,498 </td>
<td>£49,999</td></tr>
<tr>
<td />
<td>Evora IPS </td>
<td>7 </td>
<td>£51,390 </td>
<td>£54,450 </td>
<td>£59,995</td></tr>
<tr>
<td />
<td>Evora S </td>
<td>28 </td>
<td>£49,950 </td>
<td>£59,996 </td>
<td>£70,450</td></tr></table></div>

<p>The lowest priced car in this sample is a 2009 Evora (non-Launch Edition) in Ardent Red.<br /></p>
<p>It comes with the 2+2 seating configuration, Sports Pack, Xenons, Close-Ratio Gearbox, the standard Classic Silver alloy wheels and has 10,531 miles on the clock.</p>