
<div style="page-break-inside: avoid;">
<table border="1" width="100%">
<tr>
<td colspan="2" style="background: #ffcc00;"><b>Vehicle Description</b></td>
<td colspan="2" style="background: #ffcc00;"><b>Technical Specification<br />Lotus Evora (IPS Option where stated)</b></td>
<td colspan="2" style="background: #ffcc00;"><b>Technical Specification<br />Lotus Evora S (IPS Option where stated)</b></td>
<td colspan="2" style="background: #ffcc00;"><b>Technical Specification<br />Lotus Evora GTE</b></td></tr>
<tr>
<td colspan="2" valign="top">Engine</td>
<td colspan="2" valign="top">Mid-mounted, transverse, 3456 cm3, 2GR-FE engine, aluminium lightweight and compact construction, V6 24 valve, water cooled, naturally aspirated with double overhead camshafts per cylinder bank, 4 valves per cylinder, Dual-Variable Valve Timing – intelligent, direct ignition system, electronic throttle control system-intelligent</td>
<td colspan="2" valign="top">Mid-mounted, transverse, 3456 cm3, 2GR-FE engine, aluminium lightweight and compact construction, V6 24 valve, water cooled, supercharged with double overhead camshafts per cylinder bank, 4 valves per cylinder, Dual-Variable Valve Timing – intelligent, direct ignition system, electronic throttle control system-intelligent

Harrop HTV 1320 supercharger assembly (utilising Eaton Twin Vortex Series (TVS) Technology ™)

Exhaust Protection Valve (opens at 4700 rpm) designed to reduce the back pressure at high rpm, allowing the engine to safely generate full power.</td>
<td colspan="2" valign="top">Mid-mounted, transverse, 3456 cm3, 2GR-FE engine, aluminium lightweight and compact construction, V6 24 valve, water cooled, supercharged with double overhead camshafts per cylinder bank, 4 valves per cylinder, Dual-Variable Valve Timing – intelligent, direct ignition system, electronic throttle control system-intelligent

Harrop HTV 1320 supercharger assembly (utilising Eaton Twin Vortex Series (TVS) Technology ™)</td></tr>
<tr>
<td colspan="2" valign="top">Compression ratio</td>
<td colspan="2" valign="top">10:1</td>
<td colspan="2" valign="top">10:1</td>
<td colspan="2" valign="top">10:1</td></tr>
<tr>
<td colspan="2" valign="top">Swept volume (Bore x Stroke)</td>
<td colspan="2" valign="top">94 x 83 mm</td>
<td colspan="2" valign="top">94 x 83 mm</td>
<td colspan="2" valign="top">94 x 83 mm</td></tr>
<tr>
<td colspan="2" valign="top">Engine management</td>
<td colspan="2" valign="top">Lotus T6e engine control unit</td>
<td colspan="2" valign="top">Lotus T6e engine control unit</td>
<td colspan="2" valign="top">Lotus T6e engine control unit</td></tr>
<tr>
<td colspan="2" valign="top">Max Power</td>
<td colspan="2" valign="top">280 PS / 206 kW / 276 hp @ 6400 rpm</td>
<td colspan="2" valign="top">350 PS / 257.5 kW / 345 hp @ 7000 rpm</td>
<td colspan="2" valign="top">444 PS @ 7000 rpm</td></tr>
<tr>
<td colspan="2" valign="top">Max Torque</td>
<td colspan="2" valign="top">350 Nm / 256lbft @ 4600rpm</td>
<td colspan="2" valign="top">400 Nm / 295 lb ft @ 4500 rpm</td>
<td colspan="2" valign="top">420 Nm @ 4500 rpm</td></tr>
<tr>
<td colspan="2" valign="top">Emissions control</td>
<td colspan="2" valign="top">Three-way catalytic converter. 
Euro V emissions compliant with full On-Board Diagnostics (OBD).</td>
<td colspan="2" valign="top">Three-way catalytic converter
Euro V emissions compliant with full On-Board Diagnostics (OBD). </td>
<td colspan="2" valign="top">Two way catalytic converter</td></tr>
<tr>
<td colspan="2" valign="top">Transmission</td>
<td colspan="2" valign="top">EA60 6 speed transverse Sports Ratios manual gearbox with open differential.
IPS: U660E 6 speed transverse automatic gearbox with open differential</td>
<td colspan="2" valign="top">EA60 6 speed transverse Sports Ratios manual gearbox with open differential.
IPS: U660E 6 speed transverse automatic gearbox with open differential</td>
<td colspan="2" valign="top">EA60 6 speed transverse Sports Ratios manual gearbox with open differential 
AMT Hydraulic Control unit</td></tr>
<tr>
<td colspan="2" valign="top">Suspension</td>
<td colspan="2" valign="top">Front and rear: Fully independent suspension, Forged Aluminium Double wishbone suspension, antiroll bar, Eibach springs and Bilstein dampers</td>
<td colspan="2" valign="top">Front and rear: Fully independent suspension, Forged Aluminium Double wishbone suspension, antiroll bar, Eibach springs and Bilstein dampers</td>
<td colspan="2" valign="top">Front and rear: Fully independent suspension, Double wishbone suspension, antiroll bar, Eibach springs and Bilstein dampers</td></tr>
<tr>
<td colspan="2" valign="top">Chassis</td>
<td colspan="2" valign="top">Lotus designed VVA (modular lightweight bonded Aluminium structure)
Total chassis weight 203 kg
Front module 29 kg
Rear module 58 kg
Chassis tub 116 kg
Whole vehicle torsional stiffness: 26,600 Nm per degree</td>
<td colspan="2" valign="top">Lotus designed VVA (modular lightweight bonded Aluminium structure)
Total chassis weight 203 kg
Front module 29 kg
Rear module 58 kg
Chassis tub 116 kg
Whole vehicle torsional stiffness: 26,600 Nm per degree</td>
<td colspan="2" valign="top">Lotus designed VVA (modular lightweight bonded Aluminium structure)
Total chassis weight 203 kg
Front module 29 kg
Rear module 58 kg
Chassis tub 116 kg
Whole vehicle torsional stiffness: 26,600 Nm per degree</td></tr>
<tr>
<td colspan="2" valign="top">Body</td>
<td colspan="2" valign="top">Lightweight composite body panels</td>
<td colspan="2" valign="top">Lightweight composite body panels</td>
<td colspan="2" valign="top">Lightweight carbon fibre body panels with composite front inspection panel and rear bootlid</td></tr>
<tr>
<td colspan="2" valign="top">Fuel Tank</td>
<td colspan="2" valign="top">Stainless steel fuel tank</td>
<td colspan="2" valign="top">Stainless steel fuel tank</td>
<td colspan="2" valign="top">Stainless steel fuel tank</td></tr>
<tr>
<td colspan="2" valign="top">Dynamic Performance Management (DPM)</td>
<td colspan="2" valign="top">Corner Brake Control (CBC)<br />
Drag Torque Control (DTC)<br />
Electronic Differential Lock (EDL)<br />
Traction Control System (TCS)<br />
Electronic Stability Control (ESC)<br />
Anti-lock Braking System (ABS)*<br />
Hydraulic Brake Assist (HBA)*<br />
Electronic Brake Distribution (EBD)*<br />
Understeer Recognition<br />

All apart from * can be completely switched off

DPM with Sports Mode button<br />
Sport Mode increases the traction slip thresholds and removes understeer recognition, allowing the driver more vehicle control before an intervention is required.</td>
<td colspan="2" valign="top">Corner Brake Control (CBC)<br />
Drag Torque Control (DTC)<br />
Electronic Differential Lock (EDL)<br />
Traction Control System (TCS)<br />
Electronic Stability Control (ESC)<br />
Anti-lock Braking System (ABS)*<br />
Hydraulic Brake Assist (HBA)*<br />
Electronic Brake Distribution (EBD)*<br />
Understeer Recognition<br />

All apart from * can be completely switched off

DPM with Sports Mode button<br />
Sport Mode increases the traction slip thresholds and removes understeer recognition, allowing the driver more vehicle control before an intervention is required.</td>
<td colspan="2" valign="top">Corner Brake Control (CBC)<br />
Drag Torque Control (DTC)<br />
Electronic Differential Lock (EDL)<br />
Traction Control System (TCS)<br />
Electronic Stability Control (ESC)<br />
Anti-lock Braking System (ABS)*<br />
Hydraulic Brake Assist (HBA)*<br />
Electronic Brake Distribution (EBD)*<br />
Understeer Recognition<br />

All apart from * can be completely switched off

DPM with Sports Mode button<br />
Sport Mode increases the traction slip thresholds and removes understeer recognition, allowing the driver more vehicle control before an intervention is required.</td></tr>
<tr>
<td colspan="2" valign="top">Steering</td>
<td colspan="2" valign="top">Rack and pinion steering box with 2.86 turns lock-to-lock. Lotus tuned hydraulically assisted power assistance</td>
<td colspan="2" valign="top">Rack and pinion steering box with 2.86 turns lock-to-lock. Lotus tuned hydraulically assisted power assistance</td>
<td colspan="2" valign="top">Rack and pinion steering box with 2.86 turns lock-to-lock. Lotus tuned hydraulically assisted power assistance</td></tr>
<tr>
<td colspan="2" valign="top">Brakes</td>
<td colspan="2" valign="top">Servo-assisted, track tuned 4-channel Antilock Braking System (ABS)<br />
Black AP-Racing four-piston calipers (front and rear) <br />
Front: 350 mm ventilated and cross drilled cast-iron discs<br />
Rear: 332 mm ventilated and cross drilled cast-iron discs</td>
<td colspan="2" valign="top">Servo-assisted, track tuned 4-channel Antilock Braking System (ABS)<br />
Black AP-Racing four-piston calipers (front and rear) <br />
Front: 350 mm ventilated and cross drilled cast-iron discs<br />
Rear: 332 mm ventilated and cross drilled cast-iron discs</td>
<td colspan="2" valign="top">Servo-assisted, track tuned 4-channel Antilock Braking System (ABS)<br />
Black AP-Racing four-piston calipers (front and rear) <br />
Front: 350 mm ventilated and cross drilled cast-iron discs<br />
Rear: 332 mm ventilated and cross drilled cast-iron discs</td></tr>
<tr>
<td colspan="2" valign="top">Wheels</td>
<td colspan="2" valign="top">Cast wheels - Silver or Stealth Grey (option) – 18” x 8” front &#38; 19” x 9.5” rear

Forged wheels (option):<br />
Silver or Anthracite – 18” x 8” front &#38; 19” x 9.5” rear - (3.2 kg lighter)<br />
Diamond Cut “Turbine”<br />
18” x 8” front &#38; 19” x 9.5” rear<br />
Diamond Cut “Design” <br />
19” front &#38; 20” rear<br /></td>
<td colspan="2" valign="top">Cast wheels – Silver or Stealth Grey – 18” x 8” front &#38; 19” x 9.5” rear

Forged wheels (option):<br />
Silver or Anthracite – 18” x 8” front &#38; 19” x 9.5” rear - (3.2 kg lighter)<br />
Diamond Cut “Turbine”<br />
18” x 8” front &#38; 19” x 9.5” rear<br />
Diamond Cut “Design” <br />
19” front &#38; 20” rear<br /></td>
<td colspan="2" valign="top">Forged wheels:<br />
Unique GTE centre lock<br />
19” front &#38; 20” rear </td></tr>
<tr>
<td colspan="2" valign="top">Tyres</td>
<td colspan="2" valign="top">Standard:<br />
225/40 ZR18 Pirelli P-Zero<br />
255/35 ZR19 Pirelli P-Zero

Option<br />
Bespoke Pirelli P-Zero Corsa (LS marking on tyres)<br />
Front 235/35R19<br />
Rear 275/30R20</td>
<td colspan="2" valign="top">Standard:
225/40 ZR18 Pirelli P-Zero<br />
255/35 ZR19 Pirelli P-Zero

Option<br />
Bespoke Pirelli P-Zero Corsa (LS marking on tyres)<br />
Front 235/35R19<br />
Rear 275/30R20</td>
<td colspan="2" valign="top">Bespoke Pirelli P-Zero Corsa (LS marking on tyres)<br />
Front 235/35R19<br />
Rear 275/30R20</td></tr>
<tr>
<td rowspan="10" valign="top">Gear ratios</td>
<td valign="top" />
<td valign="top" width="15%">Manual </td>
<td valign="top" width="15%">IPS</td>
<td valign="top" width="15%">Manual</td>
<td valign="top" width="15%">IPS</td>
<td valign="top" width="30%">AMT</td></tr>
<tr>
<td valign="top" width="50">1st:</td>
<td valign="top">3.538</td>
<td valign="top">3.300</td>
<td valign="top">3.538</td>
<td valign="top">3.300</td>
<td colspan="2" valign="top">3.538</td></tr>
<tr>
<td valign="top">2nd:</td>
<td valign="top">1.913</td>
<td valign="top">1.900</td>
<td valign="top">1.913</td>
<td valign="top">1.900</td>
<td colspan="2" valign="top">1.913</td></tr>
<tr>
<td valign="top">3rd:</td>
<td valign="top">1.407</td>
<td valign="top">1.420</td>
<td valign="top">1.407</td>
<td valign="top">1.420</td>
<td colspan="2" valign="top">1.407</td></tr>
<tr>
<td valign="top">4th:</td>
<td valign="top">1.091</td>
<td valign="top">1.000</td>
<td valign="top">1.091</td>
<td valign="top">1.000</td>
<td colspan="2" valign="top">1.091</td></tr>
<tr>
<td valign="top">5th:</td>
<td valign="top">0.9697</td>
<td valign="top">1.000</td>
<td valign="top">0.9697</td>
<td valign="top">1.000</td>
<td colspan="2" valign="top">0.9697</td></tr>
<tr>
<td valign="top">6th:</td>
<td valign="top">0.8611</td>
<td valign="top">0.608</td>
<td valign="top">0.8611</td>
<td valign="top">0.608</td>
<td colspan="2" valign="top">0.8611</td></tr>
<tr>
<td valign="top">Reverse:</td>
<td valign="top">3.831</td>
<td valign="top">4.148</td>
<td valign="top">3.831</td>
<td valign="top">4.148</td>
<td colspan="2" valign="top">3.831</td></tr>
<tr>
<td valign="top">Final Drive (1st-4th):</td>
<td valign="top">3.777</td>
<td valign="top">3.685 (1st to 6th)</td>
<td valign="top">3.777</td>
<td valign="top">3.685 (1st to 6th)</td>
<td colspan="2" valign="top">3.777</td></tr>
<tr>
<td valign="top">Final Drive (5th-6th):</td>
<td valign="top">3.238</td>
<td valign="top">N/A</td>
<td valign="top">3.238</td>
<td valign="top">N/A</td>
<td colspan="2" valign="top">3.238</td></tr></table></div>



<div style="page-break-inside: avoid;">
<table border="1" width="100%">
<tr>
<td style="background: #ffcc00;"><b>Performance Figures</b></td>
<td style="background: #ffcc00;" width="30%"><b>Technical Specification<br />Lotus Evora (IPS Option where stated)</b></td>
<td style="background: #ffcc00;" width="30%"><b>Technical Specification<br />Lotus Evora S (IPS Option where stated)</b></td>
<td style="background: #ffcc00;" width="30%"><b>Technical Specification<br />Lotus Evora GTE</b></td></tr>
<tr>
<td valign="top">Max. Engine Speed</td>
<td valign="top">6600 rpm continuous and 6800 rpm transient<br />
With Sports button activated
6800 rpm continuous and 7200 rpm transient</td>
<td valign="top">6600 rpm continuous and 6800 rpm transient
With Sports button activated
6800 rpm continuous and 7200 rpm transient</td>
<td valign="top">7200 rpm</td></tr>
<tr>
<td valign="top">0-60 mph</td>
<td valign="top">4.9 seconds
(with IPS option: 5.3 seconds)</td>
<td valign="top">4.6s</td>
<td valign="top">TBC</td></tr>
<tr>
<td valign="top">0-100 km/h</td>
<td valign="top">5.1 seconds
(with IPS option: 5.5 seconds)</td>
<td valign="top">4.8s</td>
<td valign="top">TBC</td></tr>
<tr>
<td valign="top">Maximum speed</td>
<td valign="top">261 km/h / 162 mph
(with IPS option: 250 km/h / 155 mph)</td>
<td valign="top">277 km/h / 172 mph</td>
<td valign="top">TBC</td></tr>
<tr>
<td valign="top">60-0 mph</td>
<td valign="top">33.6 meters – 2.4 seconds</td>
<td valign="top">33.6 meters – 2.4 seconds</td>
<td valign="top">TBC</td></tr>
<tr>
<td valign="top">100-0 mph</td>
<td valign="top">88.6 meters – 3.9 seconds</td>
<td valign="top">88.6 meters – 3.9 seconds</td>
<td valign="top">TBC</td></tr>
<tr>
<td valign="top">100-0 km/h</td>
<td valign="top">36.8 meters – 2.5 seconds</td>
<td valign="top">36.8 meters – 2.5 seconds</td>
<td valign="top">TBC</td></tr>
<tr>
<td valign="top">160-0 km/h</td>
<td valign="top">89.5 meters –  3.9 seconds</td>
<td valign="top">89.5 meters –  3.9 seconds</td>
<td valign="top">TBC</td></tr>
<tr>
<td valign="top">Fuel consumption – urban</td>
<td valign="top">21.5 mpg – 13.2 litres / 100km
(with IPS option: 21.2 mpg / – 13.3 litres / 100km</td>
<td valign="top" />
<td valign="top">TBC </td></tr>
<tr>
<td valign="top">Fuel consumption – extra urban</td>
<td valign="top">39.6 mpg – 7.1 litres / 100km
(with IPS option: 42.8 mpg – 6.6 litres / 100km</td>
<td valign="top">14.2 litres / 100km (19.9 mpg)
with IPS option: 19.6 mpg – 14.4 litres / 100km</td>
<td valign="top">TBC </td></tr>
<tr>
<td valign="top">Fuel consumption – combined</td>
<td valign="top">30.3 mpg – 9.3 litres / 100km
(with IPS option: 31.4 mpg – 9.0 litres / 100km</td>
<td valign="top">9.9 litres / 100km (28.7 mpg)
with IPS option: 29.3 mpg – 9.7 litres / 100km</td>
<td valign="top">TBC</td></tr>
<tr>
<td valign="top">CO<sub>2</sub> emissions</td>
<td valign="top">217 g CO2  / km
(with IPS option: 210 g CO2  / km</td>
<td valign="top">CO2 Emissions 229 g CO2  / km
(with IPS option: 224 g CO2  / km)</td>
<td valign="top">TBC</td></tr>
<tr>
<td valign="top">Power to Weight</td>
<td valign="top">202 PS / tonne; with IPS option: 195 PS / tonne</td>
<td valign="top">243.5 PS / tonne</td>
<td valign="top">348 PS / tonne</td></tr></table></div>



<div style="page-break-inside: avoid;">
<table border="1" width="100%">
<tr>
<td style="background: #ffcc00;"><b>Dimensions</b></td>
<td style="background: #ffcc00;" width="20%"><b>Lotus Evora</b></td>
<td style="background: #ffcc00;" width="20%"><b>Lotus Evora S</b></td>
<td style="background: #ffcc00;" width="20%"><b>Lotus Evora GTE</b></td></tr>
<tr>
<td valign="top">Wheelbase</td>
<td valign="top">2574.5mm</td>
<td valign="top">2574.5mm</td>
<td valign="top">2574.5mm</td></tr>
<tr>
<td valign="top">Track – front</td>
<td valign="top">1564 mm</td>
<td valign="top">1564 mm</td>
<td valign="top">1664 mm</td></tr>
<tr>
<td valign="top">Track – rear</td>
<td valign="top">1575.5mm</td>
<td valign="top">1575.5mm</td>
<td valign="top">1685.5mm</td></tr>
<tr>
<td valign="top">Overall length</td>
<td valign="top">4350.5mm</td>
<td valign="top">4360.5mm</td>
<td valign="top">4360.5mm</td></tr>
<tr>
<td valign="top">Overall width (door mirrors included)</td>
<td valign="top">1972mm</td>
<td valign="top">1972mm</td>
<td valign="top">1972mm</td></tr>
<tr>
<td valign="top">Overall height – (unladen)</td>
<td valign="top">1229 mm</td>
<td valign="top">1229 mm</td>
<td valign="top">1214 mm</td></tr>
<tr>
<td valign="top">Overhang – front</td>
<td valign="top">1000 mm</td>
<td valign="top">1000 mm</td>
<td valign="top">1000 mm</td></tr>
<tr>
<td valign="top">Overhang – rear</td>
<td valign="top">776 mm</td>
<td valign="top">784 mm</td>
<td valign="top">784 mm</td></tr>
<tr>
<td valign="top">Turning circle</td>
<td valign="top">10.14 m</td>
<td valign="top">10.14 m</td>
<td valign="top">10.14 m</td></tr>
<tr>
<td valign="top">Ground clearance front– unladen</td>
<td valign="top">180.6 mm</td>
<td valign="top">180.6 mm</td>
<td valign="top">165.6 mm</td></tr>
<tr>
<td valign="top">Ground clearance between axels – unladen</td>
<td valign="top">140 mm</td>
<td valign="top">140 mm</td>
<td valign="top">125 mm</td></tr>
<tr>
<td valign="top">Vehicle mass – unladen (running order, full tank of fuel, no occupants, no luggage)</td>
<td valign="top">1382 kg
(With IPS option: 1436 kg)</td>
<td valign="top">1436 kg
(With IPS option: 1442 kg)</td>
<td valign="top">1276 kg</td></tr>
<tr>
<td valign="top">Luggage Capacity</td>
<td valign="top">50 kg</td>
<td valign="top">50 kg</td>
<td valign="top">50 kg</td></tr>
<tr>
<td valign="top">Weight distribution</td>
<td valign="top">Front: 39% 
Rear: 61% </td>
<td valign="top">Front: 39% 
Rear: 61% </td>
<td valign="top">TBC</td></tr>
<tr>
<td valign="top">Drag Coefficient</td>
<td valign="top">0.33 (CdA: 0.627)</td>
<td valign="top">0.33 (CdA: 0.627)</td>
<td valign="top">TBC</td></tr>
<tr>
<td valign="top">Aerodynamic balance at 160 km/h (100 mph)</td>
<td valign="top">3 kg front; 5 kg rear</td>
<td valign="top">3 kg front; 5 kg rear</td>
<td valign="top">TBC</td></tr>
<tr>
<td valign="top">Fuel tank capacity</td>
<td valign="top">60 litres / 13.1 gallons usable volume</td>
<td valign="top">60 litres / 13.1 gallons usable volume</td>
<td valign="top">60 litres / 13.1 gallons usable volume</td></tr>
<tr>
<td valign="top">Boot capacity</td>
<td valign="top">160 litres</td>
<td valign="top">160 litres</td>
<td valign="top">~150 litres</td></tr></table></div>



<div style="page-break-inside: avoid;">
<table border="1" width="100%">
<tr>
<td style="background: #ffcc00;"><b>Exterior Specification</b></td>
<td style="background: #ffcc00;" width="20%"><b>Lotus Evora</b></td>
<td style="background: #ffcc00;" width="20%"><b>Lotus Evora S</b></td>
<td style="background: #ffcc00;" width="20%"><b>Lotus Evora GTE</b></td></tr>
<tr>
<td valign="top">Solid paint</td>
<td valign="top">S</td>
<td valign="top">S</td>
<td rowspan="3" valign="top">Unique GTE Paint range</td></tr>
<tr>
<td valign="top">Metallic paint</td>
<td valign="top">O</td>
<td valign="top">O</td></tr>
<tr>
<td valign="top">Premium paint</td>
<td valign="top">O</td>
<td valign="top">O</td></tr>
<tr>
<td valign="top">Heated and electric door mirrors</td>
<td valign="top">S</td>
<td valign="top">S</td>
<td valign="top">S</td></tr>
<tr>
<td valign="top">Heated and electric (power-fold) door mirrors</td>
<td valign="top">O</td>
<td valign="top">O</td>
<td valign="top">S</td></tr>
<tr>
<td valign="top">Body coloured door handles</td>
<td valign="top">S</td>
<td valign="top">S</td>
<td valign="top">S</td></tr>
<tr>
<td valign="top">18” front and 19” rear cast alloy wheels</td>
<td valign="top">S</td>
<td valign="top">S</td>
<td valign="top">N/A</td></tr></table></div>



<div style="page-break-inside: avoid;">
<table border="1" width="100%">
<tr>
<td style="background: #ffcc00;"><b>Interior Specification</b></td>
<td style="background: #ffcc00;" width="20%"><b>Lotus Evora</b></td>
<td style="background: #ffcc00;" width="20%"><b>Lotus Evora S</b></td>
<td style="background: #ffcc00;" width="20%"><b>Lotus Evora GTE</b></td></tr>
<tr>
<td valign="top">Adjustable Recaro leather sports seats (front)</td>
<td valign="top">S</td>
<td valign="top">S</td>
<td valign="top">S with unique GTE styling</td></tr>
<tr>
<td valign="top">Heated front Recaro seats (standard with Premium Pack)</td>
<td valign="top">O</td>
<td valign="top">O</td>
<td valign="top">S</td></tr>
<tr>
<td valign="top">2+2 seat configuration with Isofix in rear</td>
<td valign="top">O</td>
<td valign="top">O</td>
<td valign="top">N/A</td></tr>
<tr>
<td valign="top">CD/MP3/WMA receiver</td>
<td valign="top">S</td>
<td valign="top">S</td>
<td valign="top">S</td></tr>
<tr>
<td valign="top">Central door locking</td>
<td valign="top">S</td>
<td valign="top">S</td>
<td valign="top">S</td></tr>
<tr>
<td valign="top">Flat bottomed magnesium steering wheel trimmed in leather</td>
<td valign="top">S</td>
<td valign="top">S</td>
<td valign="top">S with unique GTE styling</td></tr>
<tr>
<td valign="top">Leather handbrake sleeve</td>
<td valign="top">S</td>
<td valign="top">S</td>
<td valign="top">S</td></tr>
<tr>
<td valign="top">Leather Gearknob</td>
<td valign="top">S</td>
<td valign="top">S</td>
<td valign="top">N/A</td></tr>
<tr>
<td valign="top">Manual steering column adjustment for length and height</td>
<td valign="top">S</td>
<td valign="top">S</td>
<td valign="top">S</td></tr>
<tr>
<td valign="top">Bespoke aluminium illuminated control knobs and switches</td>
<td valign="top">S</td>
<td valign="top">S</td>
<td valign="top">S</td></tr>
<tr>
<td valign="top">Electric windows</td>
<td valign="top">S</td>
<td valign="top">S</td>
<td valign="top">S</td></tr>
<tr>
<td valign="top">Remote release glove box</td>
<td valign="top">S</td>
<td valign="top">S</td>
<td valign="top">S</td></tr>
<tr>
<td valign="top">Door storage bins and integrated cup holders</td>
<td valign="top">S</td>
<td valign="top">S</td>
<td valign="top">S</td></tr>
<tr>
<td valign="top">12v interior accessory socket</td>
<td valign="top">S</td>
<td valign="top">S</td>
<td valign="top">S</td></tr>
<tr>
<td valign="top">12v boot mounted battery accessory socket</td>
<td valign="top">S</td>
<td valign="top">S</td>
<td valign="top">S</td></tr>
<tr>
<td valign="top">Lotus command centre with auxiliary trip computer and vehicle monitoring displays</td>
<td valign="top">S</td>
<td valign="top">S</td>
<td valign="top">S with unique GTE styling</td></tr>
<tr>
<td valign="top">Immobiliser and remote activated alarm</td>
<td valign="top">S</td>
<td valign="top">S</td>
<td valign="top">S</td></tr></table></div>



<div style="page-break-inside: avoid;">
<table border="1" width="100%">
<tr>
<td style="background: #ffcc00;"><b>Safety Equipment</b></td>
<td style="background: #ffcc00;" width="20%"><b>Lotus Evora</b></td>
<td style="background: #ffcc00;" width="20%"><b>Lotus Evora S</b></td>
<td style="background: #ffcc00;" width="20%"><b>Lotus Evora GTE</b></td></tr>
<tr>
<td valign="top">Dual Stage Driver and Passenger Airbags</td>
<td valign="top">S</td>
<td valign="top">S</td>
<td valign="top">S</td></tr>
<tr>
<td valign="top">Passenger Airbag on/off switch (non federal markets)</td>
<td valign="top">S</td>
<td valign="top">S</td>
<td valign="top">S</td></tr>
<tr>
<td valign="top">Load Limiting Pyrotechnic Pre-tensioning Front Seat Belts</td>
<td valign="top">S</td>
<td valign="top">S</td>
<td valign="top">S</td></tr>
<tr>
<td valign="top">ISOFIX Child Seat Anchorage (LATCH system in federal markets)</td>
<td valign="top">S</td>
<td valign="top">S</td>
<td valign="top">N/A</td></tr></table></div>



<div style="page-break-inside: avoid;">
<table border="1" width="100%">
<tr>
<td style="background: #ffcc00;"><b>Options</b></td>
<td style="background: #ffcc00;" width="20%"><b>Lotus Evora</b></td>
<td style="background: #ffcc00;" width="20%"><b>Lotus Evora S</b></td>
<td style="background: #ffcc00;" width="20%"><b>Lotus Evora GTE</b></td></tr>
<tr>
<td valign="top"><b>SPORT PACK</b><br />
Switchable sports mode with sharper throttle response, increased rpm limit and sports DPM setting<br />
Sports diffuser<br />
Titanium sports exhaust tailpipe<br />
Cross-drilled brake discs<br />
Red painted brake callipers</td>
<td valign="top">O</td>
<td valign="top">S</td>
<td valign="top">N/A</td></tr>
<tr>
<td valign="top"><b>PREMIUM PACK</b><br />
Accent lighting<br />
Premium floor mats<br />
Leather door panelling below trim band<br />
Leather trimmed door pockets, armrest, centre console and tailgate insert panel<br />
Leather footwell side panels<br />
Choice of seven leather shades:<br />
Venom Red, Ebony Black, Cocoa Brown, Ash Grey, Imperial Blue, Cognac Brown, Ivory White<br />
Heated front Recaro seats</td>
<td valign="top">O</td>
<td valign="top">O</td>
<td valign="top">N/A</td></tr>
<tr>
<td valign="top"><b>PREMIUM PACK SUEDETEX®</b><br />
Accent lighting<br />
Premium floor mats<br />
Leather door panelling below trim band<br />
Leather trimmed door pockets, armrest, centre console and tailgate insert panel<br />
Leather footwell side panels<br />
Ebony Black leather and Slate Grey SuedeTex® <br />
Heated front Recaro seats</td>
<td valign="top">O</td>
<td valign="top">O</td>
<td valign="top">N/A</td></tr>
<tr>
<td valign="top"><b>PREMIUM PACK SPORT</b><br />
Accent lighting<br />
Premium floor mats<br />
Leather door panelling below trim band<br />
Leather trimmed door pockets, armrest, centre console and tailgate insert panel<br />
Leather footwell side panels<br />
Choice of four leather shades:<br />
Ebony Black with red contrast stitching and piping, Venom Red, Cocoa Brown and Imperial Blue with black contrast stitching and piping<br />
Carbon effect leather inserts on front seats (and rear seats if 2+2)<br />
Heated front Recaro seats</td>
<td valign="top">O</td>
<td valign="top">O</td>
<td valign="top">N/A</td></tr>
<tr>
<td valign="top"><b>TECH PACK</b><br />
Upgraded speakers and stereo system with 2x50W amplifier and subwoofer with dedicated amplifier, DVD player, 7” WVGA touch screen display<br />
Bluetooth† mobile phone connection<br />
USB connection for various iPod* models, MP3 players and memory sticks<br />
Tyre pressure monitoring<br />
Cruise control<br />
Rear parking sensors</td>
<td valign="top">O</td>
<td valign="top">O</td>
<td valign="top">N/A</td></tr>
<tr>
<td valign="top"><b>GTE PACK</b><br />
Switchable sports mode with sharper throttle response, increased rpm limit and sports DPM setting<br />
Unique GTE sports carbon fibre diffuser<br />
Unique GTE exhaust tailpipe<br />
Cross-drilled brake discs<br />
Red painted brake callipers<br />
Accent lighting<br />
Carbon fibre floor panels<br />
Unique carbon fibre interior door panels<br />
Leather trimmed door pockets, armrest, centre console and tailgate insert panel<br />
Carbon fibre footwell side panels<br />
Heated front Recaro seats<br />
Unique GTE trim<br />
Heated front Recaro seats<br />
Upgraded speakers and stereo system with 2x50W amplifier and subwoofer with dedicated amplifier, DVD player, 7” WVGA touch screen display<br />
Bluetooth† mobile phone connection<br />
USB connection for various iPod* models, MP3 players and memory sticks<br />
Tyre pressure monitoring<br />
Cruise control<br />
Rear parking sensors</td>
<td valign="top">N/A</td>
<td valign="top">N/A</td>
<td valign="top">S</td></tr></table></div>



<div style="page-break-inside: avoid;">
<table border="1" width="100%">
<tr>
<td style="background: #ffcc00;"><b>Interior Specification</b></td>
<td style="background: #ffcc00;" width="20%"><b>Lotus Evora</b></td>
<td style="background: #ffcc00;" width="20%"><b>Lotus Evora S</b></td>
<td style="background: #ffcc00;" width="20%"><b>Lotus Evora GTE</b></td></tr>
<tr>
<td valign="top">Lotus Dynamic Performance Management (Lotus DPM)</td>
<td valign="top">S</td>
<td valign="top">S</td>
<td valign="top">S</td></tr>
<tr>
<td valign="top">Lotus tuned ABS system</td>
<td valign="top">S</td>
<td valign="top">S</td>
<td valign="top">S</td></tr>
<tr>
<td valign="top">Ventilated brake discs (350 mm front, 332 mm rear)</td>
<td valign="top">S</td>
<td valign="top">N/A</td>
<td valign="top">N/A</td></tr>
<tr>
<td valign="top">Servo assisted drilled ventilated discs (350 mm front, 332 mm rear)</td>
<td valign="top">O</td>
<td valign="top">S</td>
<td valign="top">S</td></tr>
<tr>
<td valign="top">AP Racing 4-piston calipers (front and rear)</td>
<td valign="top">S</td>
<td valign="top">S</td>
<td valign="top">S</td></tr>
<tr>
<td valign="top">Classic wheel, silver, cast (18” front and 19” rear)</td>
<td valign="top">S</td>
<td valign="top">S</td>
<td rowspan="5" valign="top">Forged wheels:<br />Unique GTE centre lock<br />19” front &#38; 20” rear</td></tr>
<tr>
<td valign="top">Classic wheel, stealth grey, cast (18” front and 19” rear)</td>
<td valign="top">O</td>
<td valign="top">S</td></tr>
<tr>
<td valign="top">Sport wheel, silver or gloss anthracite, forged (18” front and 19” rear)</td>
<td valign="top">O</td>
<td valign="top">O</td></tr>
<tr>
<td valign="top">Design wheel, diamond cut, forged (19” front and 20” rear)</td>
<td valign="top">O</td>
<td valign="top">O</td></tr>
<tr>
<td valign="top">Design wheel, satin gunmetal or gloss black, forged (19” front and 20” rear)</td>
<td valign="top">O</td>
<td valign="top">O</td></tr>
<tr>
<td valign="top">Tyres<br />Pirelli P-Zero<br />Front 225/40 ZR18<br />Rear 255/35 ZR19</td>
<td valign="top">S</td>
<td valign="top">S</td>
<td valign="top">N/A</td></tr>
<tr>
<td valign="top">Tyres<br />Bespoke Pirelli P-Zero Corsa (LS marking on tyres)<br />Front 235/35R19<br />Rear 275/30R20</td>
<td valign="top">O</td>
<td valign="top">O</td>
<td valign="top">S</td></tr>
<tr>
<td valign="top">Sports rear diffuser</td>
<td valign="top">N/A</td>
<td valign="top">S</td>
<td valign="top">CARBON</td></tr>
<tr>
<td valign="top">Bi-Xenon headlights</td>
<td valign="top">S</td>
<td valign="top">S</td>
<td valign="top">S</td></tr>
<tr>
<td valign="top">Body coloured, electric door mirrors</td>
<td valign="top">S</td>
<td valign="top">O</td>
<td valign="top">CARBON</td></tr>
<tr>
<td valign="top">Black coloured, electric door mirrors</td>
<td valign="top">N/A</td>
<td valign="top">S</td>
<td valign="top">N/A</td></tr>
<tr>
<td valign="top">Power fold mirrors</td>
<td valign="top">O</td>
<td valign="top">O</td>
<td valign="top">S</td></tr>
<tr>
<td valign="top">Reversing Camera (only with tech pack)</td>
<td valign="top">O</td>
<td valign="top">O</td>
<td valign="top">S</td></tr>
<tr>
<td valign="top">Air conditioning</td>
<td valign="top">S</td>
<td valign="top">S</td>
<td valign="top">S</td></tr></table></div>

<p>S = Standard<br />
O = Optional<br />
N/A = Not Available<br />
POA = Price On Application.<br /></p>
<p>iPod is a trade mark of Apple Inc registered in USA and other countries.<br />
The Bluetooth word mark and logos are owned by Bluetooth SIG Inc</p>