
<p>This page contains a list of Toyota gearboxes used in Lotus cars.</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#ZZ-series_Gearboxes">ZZ-series Gearboxes</a>
<ul>
<li class="toclevel-2"><a href="#C64">C64</a>
<ul>
<li class="toclevel-3"><a href="#Known_Issues">Known Issues</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#C56">C56</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#ZR-series_Gearboxes">ZR-series Gearboxes</a>
<ul>
<li class="toclevel-2"><a href="#EC60">EC60</a>
</li>
<li class="toclevel-2"><a href="#EC60A">EC60A</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#2GR-series_Gearboxes">2GR-series Gearboxes</a>
<ul>
<li class="toclevel-2"><a href="#EA60">EA60</a>
</li>
<li class="toclevel-2"><a href="#U660E">U660E</a>
</li>
</ul>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="ZZ-series_Gearboxes">ZZ-series Gearboxes</span></h2>

<p>Gearboxes used in cars equipped with ZZ-series engines, such as the 111R, Toyota engined &#34;Elise S&#34;, S2 Exiges and the 2-Eleven.</p>
<h3><span class="mw-headline" id="C64">C64</span></h3>

<p>Fitted in all the <a href="http://wiki.seloc.org/a/Toyota_engines#2ZZ-GE" title="Toyota engines">2ZZ-GE</a> engined Lotus cars including the <a href="http://wiki.seloc.org/a/Elise_model_history#Elise_111R_Introduction:_January_2004" title="Elise model history">Elise 111R</a>, <a href="http://wiki.seloc.org/a/Elise_model_history#Introduction_of_Elise_SC:_February_2008" title="Elise model history">Elise SC</a>, <a href="http://wiki.seloc.org/a/Elise_model_history#2004_Exige_Introduction:_March_2004" title="Elise model history">all S2 Exige variants</a> and the <a href="http://wiki.seloc.org/a/Elise_model_history#2-Eleven_Introduction:_May_2007" title="Elise model history">2-11</a> (GT4 excluded). The C64 is a six speed transmission and features the following ratios.</p>

<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>1st</th>
<th>2nd</th>
<th>3rd</th>
<th>4th</th>
<th>5th</th>
<th>6th</th>
<th>Reverse</th>
<th>Final</th></tr>
<tr>
<td>3.166</td>
<td>2.050</td>
<td>1.481</td>
<td>1.166</td>
<td>0.916</td>
<td>0.815</td>
<td>3.250</td>
<td>4.529</td></tr></table></div>

<p>Other C6x gearboxes, such as the C60 and C63, are used in conjunction with the ZZ-series engine in cars such as the Toyota Celica. The C60 features identical 1st-5th ratios and final drive, but with a longer 6th gear, while the C63 features a completely different gearset (other than 1st) and longer final drive, reducing acceleration but increasing in gear speeds.</p>

<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>Varient</th>
<th>1st</th>
<th>2nd</th>
<th>3rd</th>
<th>4th</th>
<th>5th</th>
<th>6th</th>
<th>Reverse</th>
<th>Final</th></tr>
<tr>
<th>C60</th>
<td>3.166</td>
<td>2.050</td>
<td>1.481</td>
<td>1.166</td>
<td>0.916</td>
<td>0.725</td>
<td>3.250</td>
<td>4.529</td></tr>
<tr>
<th>C63</th>
<td>3.166</td>
<td>1.904</td>
<td>1.310</td>
<td>1.031</td>
<td>0.864</td>
<td>0.725</td>
<td></td>
<td>3.941</td></tr></table></div>

<h4><span class="mw-headline" id="Known_Issues">Known Issues</span></h4>

<p>There have been reports of a weakness in the syncro-mesh in the C64 gearbox on 3rd and 4th gear. Changing the <a href="http://wiki.seloc.org/a/Gearbox_oil#Toyota_C64" title="Gearbox oil">gearbox oil</a> and engine mounts has been observed in some cases to cure or lessen this issue: <a class="external free" href="http://forums.seloc.org/viewthread.php?tid=311604" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=311604</a></p>
<p>In the event of a gearbox failure (or if increasing power or planning on using the car heavily on track) then it is highly worth considering the stronger <a class="external text" href="http://www.hangar111.com/web-store/lotus-2-eleven-gearbox-a-clutch/445-toyota-elise-exige-2-eleven-jubu-racing-gearset-2zz-c64-gearbox.html" rel="nofollow">Jubu Racing Gearset</a> for a rebuild, along with an gearbox oil cooler to reduce gearbox temperatures.</p>
<h3><span class="mw-headline" id="C56">C56</span></h3>

<p>Fitted by Lotus to the <a href="http://wiki.seloc.org/a/Elise_model_history#2007_M.Y._.26_Elise_S_Introduction:_June_2006" title="Elise model history">Elise S (2007-2010)</a> with the <a href="http://wiki.seloc.org/a/Toyota_engines#1ZZ-FE" title="Toyota engines">1ZZ-FE engine</a>, the Toyota C56 gearbox is a 5-speed transmission.</p>
<p>Gear ratios for this transmission.
</p>
<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>1st</th>
<th>2nd</th>
<th>3rd</th>
<th>4th</th>
<th>5th</th>
<th>Reverse</th>
<th>Final</th></tr>
<tr>
<td>3.166</td>
<td>1.904</td>
<td>1.392</td>
<td>1.031</td>
<td>0.815</td>
<td>3.250</td>
<td>4.312</td></tr></table></div>

<h2><span class="mw-headline" id="ZR-series_Gearboxes">ZR-series Gearboxes</span></h2>

<p>Gearboxes used in cars equipped with ZR-series engines, such as the Elise 1.6 and supercharged MY12 Elise S.</p>
<h3><span class="mw-headline" id="EC60">EC60</span></h3>

<p>Fitted by Lotus to the <a href="http://wiki.seloc.org/a/Elise_model_history#2011_M.Y._Introduction:_March_2010" title="Elise model history">MY11 Elise</a> and Elise CR with the 1.6l <a href="http://wiki.seloc.org/a/Toyota_engines#1ZR-FAE" title="Toyota engines">1ZR-FAE</a> engine, the EC60 is a 6-speed transmission with the following ratios:</p>

<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>1st</th>
<th>2nd</th>
<th>3rd</th>
<th>4th</th>
<th>5th</th>
<th>6th</th>
<th>Reverse</th>
<th>Final</th></tr>
<tr>
<td>3.538</td>
<td>1.913</td>
<td>1.310</td>
<td>0.971</td>
<td>0.818</td>
<td>0.700</td>
<td>3.333</td>
<td>4.294</td></tr></table></div>

<h3><span class="mw-headline" id="EC60A">EC60A</span></h3>

<p>Rumoured to be the hydraulically automated version of the EC60 found in the Elise SPS, you can find more information here: <a class="external text" href="http://www.seloc.org/articles/guides/speculating-on-the-elise-sps/" rel="nofollow">SELOC - Speculating on the Elise SPS</a></p>
<p>This gearbox is found in the Toyota Auris 1.6 Multimode, and it&#39;s gear ratios match those of the standard EC60. Cars using this box have failed to materialise however.</p>
<h2><span class="mw-headline" id="2GR-series_Gearboxes">2GR-series Gearboxes</span></h2>

<p>For more information on the gearboxes pair up with the 2GR-series engines by Lotus, be sure to look at the Wiki entry <a href="http://wiki.seloc.org/a/2GR-FE_Gearboxes" title="2GR-FE Gearboxes">2GR-FE Gearboxes</a>, which contains extensive information on the Evora and Exige S gearbox options.</p>
<h3><span class="mw-headline" id="EA60">EA60</span></h3>

<p>Originally source designed for use in diesel cars such as the Toyota Auris 2.0 D-4D, the EA60 is used by Lotus in the <a href="http://wiki.seloc.org/a/Models_-_Evora#Evora" title="Models - Evora">Evora</a>, <a href="http://wiki.seloc.org/a/Models_-_Evora#Evora_S" title="Models - Evora">Evora S</a> and the <a href="http://wiki.seloc.org/a/Models_-_Exige_V6#Exige_Models" title="Models - Exige V6">V6-engined Exige S</a>.</p>
<p>The EA60 is used with two different gearsets, the standard one as used by Toyota and a &#39;Sport&#39; ratio set.</p>

<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>
! 1st</th>
<th>2nd</th>
<th>3rd</th>
<th>4th</th>
<th>5th</th>
<th>6th</th>
<th>Reverse</th>
<th>Final (1st-4th)</th>
<th>Final (5th-6th)</th></tr>
<tr>
<th>Sport</th>
<td>3.528</td>
<td>1.913</td>
<td>1.218</td>
<td>0.86</td>
<td>0.79</td>
<td>0.638</td>
<td>3.831</td>
<td>3.777</td>
<td>3.238</td></tr>
<tr>
<th>Standard</th>
<td>3.528</td>
<td>1.913</td>
<td>1.407</td>
<td>1.091</td>
<td>0.9697</td>
<td>0.8611</td>
<td>3.831</td>
<td>3.777</td>
<td>3.238</td></tr></table></div>

<h3><span class="mw-headline" id="U660E">U660E</span></h3>

<p>The Evora IPS and S IPS use the Toyota U660E gearbox as used by Toyota in conjunction with the 2GR-FE engine in several vehicles. </p>

<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>1st</th>
<th>2nd</th>
<th>3rd</th>
<th>4th</th>
<th>5th</th>
<th>6th</th>
<th>Reverse</th>
<th>Final</th></tr>
<tr>
<td>3.300</td>
<td>1.900</td>
<td>1.420</td>
<td>1.000</td>
<td>0.713</td>
<td>0.608</td>
<td>4.148</td>
<td>3.935</td></tr></table></div>

<p>





</p>