<h1><span class="mw-headline" id="Service_Notes">Service Notes</span></h1>

<p>Service Notes and Manuals contain detailed instructions on the Technical Specification and servicing information.</p>
<p>Service Notes and Manuals can often be found for sale through eBay or the numerous Lotus parts traders second hand.<br />
SELOC does not offer Lotus Service Notes for download. Please do not add download links to this document.</p>

<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>Vehicle</th>
<th>Part No.</th>
<th>Available from</th></tr>
<tr>
<th>Elan (62-73)</th>
<td>X036T0327J</td>
<td>Printed: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Elan/Elan_Workshop_Manual_62_to_73/222.htm" rel="nofollow">Bell and Colvill</a> £80.22</td></tr>
<tr>
<th>Europa (All Models)</th>
<td>A046T0327J</td>
<td>Printed: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Europa/Europa%20Workshop%20manual/812.htm" rel="nofollow">Bell and Colvill</a> £95.40</td></tr>
<tr>
<th>Elan +2 (67-74)</th>
<td>X050T0327J</td>
<td>Printed: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Elan/Elan%20+2%20-%20Workshop%20Manual%2067-74/1091.htm" rel="nofollow">Bell and Colvill</a> £85.81</td></tr>
<tr>
<th>Elite/Eclat</th>
<td>A075T0327J</td>
<td>Printed: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Elite%20%20Eclat/Elite%20-%20Eclat%20-%20Workshop%20Manual/1329.htm" rel="nofollow">Bell and Colvill</a> £95.40</td></tr>
<tr>
<th>Esprit S1/S2</th>
<td>A079T0327J</td>
<td>Printed: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Esprit/Esprit%20S1-S2%20Workshop%20Manual/1095.htm" rel="nofollow">Bell and Colvill</a> £95.40</td></tr>
<tr>
<th>Esprit S3 and Turbo (80-87)</th>
<td>A082T0327J</td>
<td>Printed: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Esprit/Esprit%20S3%20&#38;%20Turbo%2080-87%20Workshop%20Manual/1096.htm" rel="nofollow">Bell and Colvill</a> £109.28</td></tr>
<tr>
<th>Esprit (88-92)</th>
<td>General: B082T0327J<br />
EMG MPFI Section: C082T0327J<br />
EMH (SE) Section: D082T0327J<br />
Esprit/Elan Electrical: F082T0327J<br />
JF (ABS) Section: G082T0327J<br />
WA/WC Section: J082T0327J</td>
<td><b>Printed</b><br />
General: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Esprit/Esprit%2088-92%20-%20Workshop%20Manual%20-%20General/868.htm" rel="nofollow">Bell and Colvill</a> £126.79<br />
EMG MPFI Section: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Esprit/Esprit%2088-92%20-%20Workshop%20Manual%20-%20EMG%20MPFI%20Section%20/968.htm" rel="nofollow">Bell and Colvill</a> £59.62<br />
EMH (SE) Section: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Esprit/Esprit%2088-92%20-%20Workshop%20Manual%20-EMH%20" rel="nofollow">(SE)%20Section%20/966.htm Bell and Colvill</a> £95.40<br />
Esprit/Elan Electrical: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Esprit%20Elan/Esprit%20&#38;%20Elan%20Electrical%20Workshop%20Manual/1099.htm" rel="nofollow">Bell and Colvill</a> £77.25<br />
JF (ABS) Section: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Esprit/Esprit%20-%20Workshop%20Manual%20-%20JF%20section%20" rel="nofollow">(ABS)/1093.htm Bell and Colvill</a> £59.62<br />
WA/WC (SIR) Section: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Esprit/Esprit%20Workshop%20Manual%20-%20Section%20WA-WC%20%20" rel="nofollow">(SIR)/1098.htm Bell and Colvill</a> £71.53</td></tr>
<tr>
<th>Esprit (93 onwards and V8)</th>
<td>General: K082T0327J<br /> 
EMM Section: L082T0327J<br />
JG (ABS) Section: M082T0327J</td>
<td><b>Printed</b><br />
General: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Esprit/Esprit%2093%20On%20&#38;%20V8%20%20Workshop%20Manual/39.htm" rel="nofollow">Bell and Colvill</a> £98.88<br />
EMM Section: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Esprit/Esprit%20V8%20Workshop%20Manual%20-%20EMM%20Section%20/64.htm" rel="nofollow">Bell and Colvill</a> £59.62<br />
JG (ABS) Section: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Esprit/Esprit%20V8%20-%20Workshop%20Manual%20-%20JG%20Section%20" rel="nofollow">(ABS)/51.htm Bell and Colvill</a> £59.62</td></tr>
<tr>
<th>Excel</th>
<td>A089T0327J</td>
<td>Printed: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Excel/Excel%20Workshop%20Manual/916.htm" rel="nofollow">Bell and Colvill</a> £115.77</td></tr>
<tr>
<th>Elan (90-)</th>
<td>General: A100T0327J<br />
Esprit/Elan Electrical: F082T0327J<br />
EMJ Section: B100T0327J<br />
EML Section: D100T0327J<br />
EMK Section: C100T0327J<br />
WB (SIR) Section: E100T0327J<br /></td>
<td><b>Printed</b><br />
General: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Elan/Elan%20Workshop%20Manual%20-%20General%20-%20M100%20-%201990%20On/956.htm" rel="nofollow">Bell and Colvill</a> £95.40<br />
Esprit/Elan Electrical: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Esprit%20Elan/Esprit%20&#38;%20Elan%20Electrical%20Workshop%20Manual/1099.htm" rel="nofollow">Bell and Colvill</a> £77.25<br />
EMJ Section: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Elan/Elan%20-%20Workshop%20Manual%20-%20EMJ%20Section%20-%20M100%20-%201990%20On/953.htm" rel="nofollow">Bell and Colvill</a> £95.40<br />
EML Section: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Elan/Elan%20Workshop%20Manual%20-%20EML%20Section%20-%20M100%20-%201990%20On/1279.htm" rel="nofollow">Bell and Colvill</a> £47.68<br />
EMK Section: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Elan/Elan%20Workshop%20Manual%20-%20EMK%20Section%20-%20M100%20-%201990%20On/242.htm" rel="nofollow">Bell and Colvill</a> £50.72<br />
WB (SIR) Section: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Elan/Elan%20Workshop%20Manual%20-%20WB%20Section%20SIR%20-%20M100%20-%201990%20On/1267.htm" rel="nofollow">Bell and Colvill</a> £23.24<br /></td></tr>
<tr>
<th>Elise S1, Exige S1 and 340R</th>
<td>A111T0327J</td>
<td>Printed: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Elise%20S1%20%20Exige%20S1%20340R/Elise%20S1%20-%20340R%20-%20Exige%20S1-%20Workshop%20Manual%20/1326.htm" rel="nofollow">Bell and Colvill</a> £95.40</td></tr>
<tr>
<th>Elise S2 (Rover engine, 2001-2005)</th>
<td>A117T0327J</td>
<td>Printed: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Elise%20S2/Elise%20S2%20Workshop%20Manual%20-%20Rover%20Engine/1328.htm" rel="nofollow">Bell and Colvill</a> £108.10</td></tr>
<tr>
<th>Elise and Exige S2 (Toyota engine, 2004-)</th>
<td>General: A120T0327J<br />
Engine Supplement: B120T0327J<br />
Engine and Transmission Supplement: E120T0327J</td>
<td><b>Printed</b><br />
General: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Exige%20S2/111R%20-%20Exige%20S2%20General%20Workshop%20Manual%20-%20With%20Toyota%20Engine/1288.htm" rel="nofollow">Bell and Colvill</a> £98.26<br />
Engine Supplement: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Exige%20S2/111R%20-%20Exige%20S2%20Workshop%20Manual%20Engine%20Supplement%20-%20With%20Toyota%20Engine%20/651.htm" rel="nofollow">Bell and Colvill</a> £123.31<br />
Engine and Transmission Supplement: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Exige%20S2/111R%20%20Exige%20S2%20Workshop%20Manual%20Engine%20Supplement%20and%20Transmission%20With%20Toyota%20Engine/652.htm" rel="nofollow">Bell and Colvill</a> £198.23<br />
<b>PDF</b><br />
General: <a class="external text" href="http://vsi.lotuscars.com/" rel="nofollow">Lotus Vehicle Service Information</a> £4.18 for 1 hour access with unlimited downloads.</td></tr>
<tr>
<th>Europa (2006-)</th>
<td />
<td /></tr>
<tr>
<th>Evora</th>
<td>B132T0327D</td>
<td>PDF: <a class="external text" href="http://vsi.lotuscars.com/" rel="nofollow">Lotus Vehicle Service Information</a> £4.18 for 1 hour access with unlimited downloads.</td></tr>
<tr>
<th>Exige (V6, 2012-)</th>
<td>General: A138T0327<br />Exige V6 Cup Supplementary: BLS9T0026F</td>
<td /></tr></table></div>

<h1><span class="mw-headline" id="Service_Part_Lists">Service Part Lists</span></h1>

<p>Service Part Lists contain full exploded diagrams of the car complete with Part Number listings.</p>
<p>SELOC does not offer Lotus Service Part Lists for download. Please do not add download links to this document.</p>

<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>Vehicle</th>
<th>Part No.</th>
<th>Available from</th></tr>
<tr>
<th>Elan (62-73)</th>
<td>X036T0325J</td>
<td>Printed: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Elan/Elan%20Parts%20List%2062-73/1092.htm" rel="nofollow">Bell and Colvill</a> £59.62</td></tr>
<tr>
<th>Europa S1 and S2 (66-71)</th>
<td>X046T0325J</td>
<td>Printed: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Europa/Europa%20S1%20&#38;%20S2%20Parts%20List%20" rel="nofollow">(66-71)/912.htm Bell and Colvill</a> £59.62</td></tr>
<tr>
<th>Elan +2 (67-74)</th>
<td>X050T0325J</td>
<td>Printed: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Elan/Elan%20+2%20Parts%20List%2067-74/1045.htm" rel="nofollow">Bell and Colvill</a> £88.34</td></tr>
<tr>
<th>Europa Twin Cam (71-75)</th>
<td>A074T0325J</td>
<td>Printed: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Europa/Europa%20Twin%20Cam%20Parts%20List%20%2871-75%29/914.htm" rel="nofollow">Bell and Colvill</a> £95.40</td></tr>
<tr>
<th>Elite/Eclat</th>
<td>A075T0325J</td>
<td>Printed: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Elite%20%20Eclat/Elite%20-%20Eclat%20-%20Parts%20List/1330.htm" rel="nofollow">Bell and Colvill</a> £95.40</td></tr>
<tr>
<th>Esprit S1/S2</th>
<td>A079T0325J</td>
<td>Printed: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Esprit/Esprit%20S1-S2%20Parts%20List/1094.htm" rel="nofollow">Bell and Colvill</a> £95.40</td></tr>
<tr>
<th>Esprit S3 (81-87)</th>
<td>B085T0325J</td>
<td>Printed: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Esprit/Esprit%20S3%20Parts%20List%2081-87/675.htm" rel="nofollow">Bell and Colvill</a> £95.40</td></tr>
<tr>
<th>Esprit Turbo (80-87)</th>
<td>E082T0325J</td>
<td>Printed: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Esprit/Esprit%20Turbo%2080-87%20Parts%20List/1097.htm" rel="nofollow">Bell and Colvill</a> £95.40</td></tr>
<tr>
<th>Esprit (88-92)</th>
<td>L082T0325J</td>
<td>Printed: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Esprit/Esprit%2088-92%20-%20Parts%20List/1331.htm" rel="nofollow">Bell and Colvill</a> £83.47</td></tr>
<tr>
<th>Esprit USA (83-87)</th>
<td>D082T0325J</td>
<td /></tr>
<tr>
<th>Esprit (93-)</th>
<td>M082T0325J</td>
<td>Printed: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Esprit/Esprit%2093%20On%20-%20Parts%20List/76.htm" rel="nofollow">Bell and Colvill</a> £87.30</td></tr>
<tr>
<th>Esprit V8/GT3</th>
<td>N082T0325J</td>
<td>Printed: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Esprit/Esprit%20V8%20&#38;%20GT3%20Parts%20List/1003.htm" rel="nofollow">Bell and Colvill</a> £93.92<br />
Online: <a class="external text" href="http://www.deroure.com/diagrams.asp?TBL=0&#38;MAK=1&#38;MDL=15&#38;SMA=0&#38;SMO=0&#38;ST=&#38;SC=0" rel="nofollow">De Roure</a></td></tr>
<tr>
<th>Excel</th>
<td>E089T0325J</td>
<td>Printed: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Excel/Excel%20Parts%20List/915.htm" rel="nofollow">Bell and Colvill</a> £95.40</td></tr>
<tr>
<th>Elan (90-)</th>
<td>G100T0325J</td>
<td>Printed: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Elan/Elan%20Parts%20List%20M100%20-%201990%20On/1150.htm" rel="nofollow">Bell and Colvill</a> £95.40<br />
Online: <a class="external text" href="http://www.deroure.com/diagrams.asp?TBL=0&#38;MAK=1&#38;MDL=23&#38;SMA=0&#38;SMO=0&#38;ST=&#38;SC=0" rel="nofollow">De Roure</a></td></tr>
<tr>
<th>Elise S1</th>
<td>A111T0325J</td>
<td>Online: <a class="external text" href="http://www.deroure.com/diagrams.asp?MDL=13&#38;MAK=1&#38;SMA=0&#38;SMO=0&#38;ST=&#38;SC=0" rel="nofollow">De Roure</a></td></tr>
<tr>
<th>Exige S1</th>
<td>B111T0325J</td>
<td>Printed: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Exige%20S1/Exige%20S1%20Parts%20List/65.htm" rel="nofollow">Bell and Colvill</a> £70.78<br />
Online: <a class="external text" href="http://www.deroure.com/diagrams.asp?MDL=16&#38;MAK=1&#38;SMA=0&#38;SMO=0&#38;ST=&#38;SC=0" rel="nofollow">De Roure</a></td></tr>
<tr>
<th>340R</th>
<td>A340T0325J</td>
<td>Printed: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/340R/340R%20Parts%20List/1090.htm" rel="nofollow">Bell and Colvill</a> £85.27<br />
Online: <a class="external text" href="http://www.deroure.com/diagrams.asp?MDL=10&#38;MAK=1&#38;SMA=0&#38;SMO=0&#38;ST=&#38;SC=0" rel="nofollow">De Roure</a></td></tr>
<tr>
<th>Elise S2 (Rover engine, 2001-2005)</th>
<td>A117T0325J</td>
<td>Printed: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Elise%20S2/Elise%20S2%20Parts%20List%20-%20Rover%20Engine/18.htm" rel="nofollow">Bell and Colvill</a> £95.40<br />
Online: <a class="external text" href="http://www.deroure.com/diagrams.asp?TBL=0&#38;MAK=1&#38;MDL=14&#38;SMA=0&#38;SMO=0&#38;ST=&#38;SC=0" rel="nofollow">De Roure</a></td></tr>
<tr>
<th>Elise and Exige S2 (Toyota engine, 2004-)</th>
<td>B120T0325D</td>
<td>Printed: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Exige%20S2/111R%20-%20Exige%20S2%20Parts%20List%20-%20With%20Toyota%20Engine%20/20.htm" rel="nofollow">Bell and Colvill</a> £95.40 (A120T0325J)<br />
PDF: <a class="external text" href="http://vsi.lotuscars.com/" rel="nofollow">Lotus Vehicle Service Information</a> £4.18 for 1 hour access with unlimited downloads.<br />
Online: <a class="external text" href="http://www.deroure.com/diagrams.asp?MDL=11&#38;MAK=1&#38;SMA=0&#38;SMO=0&#38;ST=&#38;SC=0" rel="nofollow">De Roure</a></td></tr>
<tr>
<th>Europa (2006-)</th>
<td>A124T0325J</td>
<td>Printed: <a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Europa/Europa%20S%202006%20Parts%20List/1238.htm" rel="nofollow">Bell and Colvill</a> £68.85<br />
Online: <a class="external text" href="http://www.deroure.com/diagrams.asp?MDL=19&#38;MAK=1&#38;SMA=0&#38;SMO=0&#38;ST=&#38;SC=0" rel="nofollow">De Roure</a></td></tr>
<tr>
<th>Evora</th>
<td>B132T0325J</td>
<td>PDF: <a class="external text" href="http://vsi.lotuscars.com/" rel="nofollow">Lotus Vehicle Service Information</a> £4.18 for 1 hour access with unlimited downloads.<br />
Online: <a class="external text" href="http://www.deroure.com/diagrams.asp?MDL=20&#38;MAK=1&#38;SMA=0&#38;SMO=0&#38;ST=&#38;SC=0" rel="nofollow">De Roure</a></td></tr>
<tr>
<th>Exige (V6, 2012-)</th>
<td>A138T0325</td>
<td>Online: <a class="external text" href="http://www.deroure.com/diagrams.asp?TBL=0&#38;MAK=1&#38;MDL=40&#38;SMA=0&#38;SMO=0&#38;ST=&#38;SC=0" rel="nofollow">De Roure</a></td></tr></table></div>

<p>









</p>