
<p>The Evoras wing mirrors are electric and heated as standard, however the Power-fold door mirrors which allow the driver to fold in the wing mirrors by pressing in the centre of the wing mirror switch, are an optional extra - priced between £300 in <a href="http://wiki.seloc.org/a/Pricing_and_Upgrades_(2009)#Vehicle_Options" title="Pricing and Upgrades (2009)">2009</a> up to £350 in <a href="http://wiki.seloc.org/a/Pricing_and_Upgrades_(2012)#Vehicle_Options" title="Pricing and Upgrades (2012)">2012</a>.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/File:Powerfold_switch.jpg" title="Lotus Evora Power-fold Wing Mirror Switch"><img src="Powerfold_switch.jpg" alt="Lotus Evora Power-fold Wing Mirror Switch" title="Lotus Evora Power-fold Wing Mirror Switch" class="location-right type-thumb" width="200" />
</a>
<div class="thumbcaption">Lotus Evora Power-fold Wing Mirror Switch</div></div>
</div>

<p>A car fitted with Power-fold Mirrors can be identified by looking at the top of the mirror adjustment switch.<br />
If the top centre is marked with a dot the car is not fitted with Power-fold Mirrors.<br />
If it is marked with a picture of a wing mirror and arrows pointing inwards then the car is fitted with Power-fold Mirrors and these can be activated by pressing in the adjustment stick.</p>
<h2><span class="mw-headline" id="Retro-fitting">Retro-fitting</span></h2>

<p>The only difference between cars fitted with or without power-fold mirrors is the switch fitted in the drivers side door panel. All cars are fitted with the necessary motors and wiring from the factory.</p>
<p>The Power-fold switch is Lotus Part Number A132M6068F and can be ordered from <a class="external text" href="http://www.deroure.com/partinfo.asp?MAK=1&#38;MDL=20&#38;TBL=1871&#38;SMA=0&#38;SMO=0&#38;ST=&#38;SC=0&#38;PBID=50202" rel="nofollow">DeRoure for £42</a>, however the part is originally from the Ford parts bin (Ford Part Number 1S7T-17B676-AA) and is used in a variety of cars such as the Ford Mondeo Mk3 and Fiesta Mk8.</p>
<p>At the time of writing the switch is also available for under £20 from the ebay seller <a class="external text" href="http://myworld.ebay.co.uk/mondeospares/" rel="nofollow">Mondeospares</a>, under the title &#34;FORD MONDEO MK3 POWERFOLD ELECTRIC WING MIRROR SWITCH 2004 - 2007&#34;. The seller has been reported as accepting &#39;Best Offer&#39; bids of £12 + pnp.</p>
<p>Fitting is simply a case of prising out the old switch with a small thin screwdriver wrapped in paper towels to protect the leather and, being careful not to damage the trim, lifting it up and out. Once the switch is out use the screwdriver to release the switch connector latch and unplug it.</p>
<p>To reassemble simply plug in the connector, line up the switch and push it back down in the the hole. The clips on the side will fix it in to position.</p>
<p>For a photo guide there is an excellent post over on the <a class="external text" href="http://www.lotustalk.com/forums/f170/hello-power-fold-mirror-question-113971/index4.html#post1729556" rel="nofollow">LotusTalk forums</a>.</p>
<h2><span class="mw-headline" id="References">References</span></h2>

<p><a class="external text" href="http://www.lotustalk.com/forums/f170/hello-power-fold-mirror-question-113971/index2.html" rel="nofollow">LotusTalk - Hello and Power fold mirror question</a></p>
<p>

</p>