
<p>This page aims to cover the Evoras In Car Entertainment system, revisions made to it over the course of the models life-cycle, and upgrade options.</p>
<p>It is in it&#39;s present state far from conclusive, so please feel free to add or amend details. </p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<ul>
<li class="toclevel-1"><a href="#Head-unit">Head-unit</a>
</li>
<li class="toclevel-1"><a href="#Standard">Standard</a>
</li>
<li class="toclevel-1"><a href="#Tech_Pack_.28MY09-11.29">Tech Pack (MY09-11)</a>
<ul>
<li class="toclevel-2"><a href="#Alpine_NVE-M300P">Alpine NVE-M300P</a>
</li>
<li class="toclevel-2"><a href="#Alpine_400BT">Alpine 400BT</a>
</li>
<li class="toclevel-2"><a href="#Alpine_PXA-H100">Alpine PXA-H100</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Tech_Pack_.28MY12.29">Tech Pack (MY12)</a>
<ul>
<li class="toclevel-2"><a href="#Pioneer_AVIC-F930BT">Pioneer AVIC-F930BT</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Tech_Pack_.28MY13.29">Tech Pack (MY13)</a>
<ul>
<li class="toclevel-2"><a href="#Alpine_INE-W920R">Alpine INE-W920R</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Alternatives">Alternatives</a>
<ul>
<li class="toclevel-2"><a href="#Pioneer_SPH-DA100_AppRadio">Pioneer SPH-DA100 AppRadio</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#DAB_Radio_support">DAB Radio support</a>
</li>
<li class="toclevel-1"><a href="#Speakers">Speakers</a>
</li>
<li class="toclevel-1"><a href="#Main_Speakers">Main Speakers</a>
</li>
<li class="toclevel-1"><a href="#Tweeters">Tweeters</a>
</li>
<li class="toclevel-1"><a href="#Sub-Woofer">Sub-Woofer</a>
</li>
<li class="toclevel-1"><a href="#References">References</a>
</li>
</ul>
</ul>
</ul></td></tr></table><hr/>
<h3><span class="mw-headline" id="Head-unit">Head-unit</span></h3>

<p>The head-unit fitted to Evoras varies depending on the age and specification of the car, with non-Tech Pack equipped cars originally fitted with the <a class="external text" href="http://www.alpine-europe.com/p/Products/cd-head-units19/cde-111r/" rel="nofollow">Alpine CDE-111R</a>, later replaced by <a class="external text" href="http://www.alpine-europe.com/p/Products/cd-head-units19/cde-131r/" rel="nofollow">Alpine CDE-131R</a>(CDE-102Ji for Japan, CDE-102 for USA) - a fairly standard single-DIN CD head-unit - while Tech Pack cars receive a double-DIN head-unit with touch-screen, satellite navigation, iPod dock and Bluetooth mobile phone connectivity integrated.</p>
<p>The standard fit Tech Pack head-unit for MY09-MY11 cars was either the <a class="external text" href="http://www.caraudiocentre.co.uk/product_m-alpine-iva-w505r-kce-350bt_p-23338.htm" rel="nofollow">Alpine IVA-W505R</a> (VIE-X077 for Japan, IVA-W505R for USA) or Alpine IVA-W520R, depending if the sat nav unit is fixed or removable. This Alpine unit was often criticised for it&#39;s cheap looks, fiddly interface and difficulty in syncing up phones via Bluetooth, and so for MY12 cars was replaced with the <a class="external text" href="http://www.pioneer.eu/uk/products/archive/AVIC-F930BT/index.html" rel="nofollow">Pioneer AVIC-F930BT</a> unit.</p>
<h3><span class="mw-headline" id="Standard">Standard</span></h3>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th rowspan="2"><a class="image" href="http://wiki.seloc.org/a/image:Alpine-CDE-111RM.jpg" ><img src="Alpine-CDE-111RM.jpg" width="200" />
</a></th>
<th>Alpine CDE-111RM</th></tr>
<tr>
<td>Standard fit Head-unit. Single DIN.

Euro: Alpine CDE-111RM<br />
Japan: Alpine CDE-102Ji<br />
USA: Alpine CDE-102<br /></td></tr></table></div>

<h3><span class="mw-headline" id="Tech_Pack_.28MY09-11.29">Tech Pack (MY09-11)</span></h3>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th rowspan="2"><a class="image" href="http://wiki.seloc.org/a/image:Alpine-ivaw505r.jpg" ><img src="Alpine-ivaw505r.jpg" width="200" />
</a></th>
<th>Pre-MY12 Tech Pack Head-unit</th></tr>
<tr>
<td>Double-DIN.

Removable: Alpine IVA-W505R<br />
Fixed: Alpine IVA-W520R<br />
Japan: Alpine VIE-X077<br /></td></tr></table></div>

<h4><span class="mw-headline" id="Alpine_NVE-M300P">Alpine NVE-M300P</span></h4>

<p>The Alpine system in pre-MY12 Tech Pack equipped cars uses the <a class="external text" href="http://www.alpine.uk.com/p/Products/navigation-systems6/nve-m300p" rel="nofollow">Alpine NVE-M300P Navigation Module</a>, which is connected to the headunit to provide satellite navigation.</p>
<p><a class="image" href="http://wiki.seloc.org/a/image:Alpine_NVE-M300P.jpg" ><img src="Alpine_NVE-M300P.jpg" width="200" />
</a></p>
<p>The module feature a mini-USB port which can be used with an adapter and memory stick to update the devices firmware and maps using the Naviextras Toolbox software. Full details on how to update these can be found on the <a class="external text" href="http://www.alpine.uk.com/support/firmware-map-update/nve-m300prue-m300-firmware-map-update.html" rel="nofollow">Alpine NVE-M300P/RUE-M300 Firmware &#38; Map Update</a> page.</p>
<h4><span class="mw-headline" id="Alpine_400BT">Alpine 400BT</span></h4>

<p>Provides Bluetooth support for the Alpine headunits used in pre-MY12 Tech Pack equipped cars.</p>
<p>The firmware for this can be updated using a Bluetooth equipped PC, following the <a class="external text" href="http://www.alpine.uk.com/support/bluetooth-firmware-update.html" rel="nofollow">instructions on the Alpine website</a>.</p>
<h4><span class="mw-headline" id="Alpine_PXA-H100">Alpine PXA-H100</span></h4>

<p><a class="external text" href="http://www.alpine.uk.com/p/Products/processors14/pxa-h100" rel="nofollow">Alpine &#39;Imprint&#39;</a> option, only available on pre-MY12 Tech Pack equipped cars.</p>
<h3><span class="mw-headline" id="Tech_Pack_.28MY12.29">Tech Pack (MY12)</span></h3>

<h4><span class="mw-headline" id="Pioneer_AVIC-F930BT">Pioneer AVIC-F930BT</span></h4>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th rowspan="2"><a class="image" href="http://wiki.seloc.org/a/image:Pioneer-AVIC-X930BT.jpg" ><img src="Pioneer-AVIC-X930BT.jpg" width="200" />
</a></th>
<th>MY12 Tech Pack Head-unit</th></tr>
<tr>
<td>Double-DIN.

MY12: Pioneer AVIC-F930BT
MY12 US: Pioneer AVIX-X930BT</td></tr></table></div>

<p>Unlike the older Alpine unit the satellite navigation is contained with the F930BT headunit, rather than using an external module. The same GPS aerial is used as in pre-MY12 modules.</p>
<p>The AVIC-F930BT ships with Tele Atlas maps, however a firmware update can be <a class="external text" href="http://www.navigation.com/is-bin/INTERSHOP.enfinity/WFS/Navteq-NavteqEurope-Site/en_GB/-/EUR/ViewStandardCatalog-Browse?CatalogCategoryID=fkgKCghBTGgAAAE2TCYisLvD&#38;ShowAllProducts=YES&#38;PersistNavigationMenu=YES" rel="nofollow">purchased from NAVTEQ</a> which updates the unit to the latest NAVTEQ 2012 European maps as well as updating the software to add features from the newer AVIC-F940BT headunit such as <a class="external text" href="http://www.pioneer.eu/uk/page/products/advanced-app-mode.html" rel="nofollow">Advanced App mode</a>.</p>
<p>Retro-fitting the AVIC-F930BT requires swapping the radio wiring harness for Part No. A132M0254F <sup id="_ref-1" class="reference"><a href="#_note-1" title="">[1]</a></sup>.</p>
<h3><span class="mw-headline" id="Tech_Pack_.28MY13.29">Tech Pack (MY13)</span></h3>

<h4><span class="mw-headline" id="Alpine_INE-W920R">Alpine INE-W920R</span></h4>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th rowspan="2"><a class="image" href="http://wiki.seloc.org/a/image:Alpine_INE-W920R.jpg" ><img src="Alpine_INE-W920R.jpg" width="200" />
</a></th>
<th>MY13 Tech Pack Head-unit</th></tr>
<tr>
<td>Double-DIN.

Alpine INE-W920R</td></tr></table></div>

<p>For MY13 (exact timing to be confirmed) Lotus reverted to an Alpine head-unit for Tech Pack equipped Evora. The <a class="external text" href="http://www.alpine.co.uk/p/Products/advanced-navi-station2676/ine-w920r" rel="nofollow">Alpine INE-W920R</a> can be fitted to older models with the use of a wiring harness adapter (Part No. A132M0326F) and should be compatible with the existing aerials and rear-view camera as fitted to older Alpine equipped cars<sup id="_ref-2" class="reference"><a href="#_note-2" title="">[2]</a></sup>, although a new microphone is required..</p>
<h3><span class="mw-headline" id="Alternatives">Alternatives</span></h3>

<h4><span class="mw-headline" id="Pioneer_SPH-DA100_AppRadio">Pioneer SPH-DA100 AppRadio</span></h4>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th rowspan="2"><a class="image" href="http://wiki.seloc.org/a/image:Pioneer_SPH-DA100_AppRadio.jpg" ><img src="Pioneer_SPH-DA100_AppRadio.jpg" width="200" />
</a></th>
<th>Third-party Alternative</th></tr>
<tr>
<td>Double-DIN.

Pioneer SPH-DA100 AppRadio</td></tr></table></div>

<p>A low cost double-DIN replacement headunit, the <a class="external text" href="http://www.pioneer.eu/uk/products/25/299/35829/SPH-DA100/specs.html" rel="nofollow">Pioneer SPH-DA100 AppRadio</a> provides a screen with minimal basic functionality such as AM/FM tuning and a built-in rear-view camera input and relies on a compatible iOS or Android to provide functionality such as MP3 playback and sat-nav<sup id="_ref-3" class="reference"><a href="#_note-3" title="">[3]</a></sup>.</p>
<h3><span class="mw-headline" id="DAB_Radio_support">DAB Radio support</span></h3>

<p>None of the Lotus fitted headunits for the Evora support DAB radio, however DAB radio support can be added using aftermarket devices such as the <a href="http://wiki.seloc.org/a/Installing_Alpine_Ezi-DAB_module_to_add_DAB_radio" title="Installing Alpine Ezi-DAB module to add DAB radio">Alpine Ezi-DAB module</a>.</p>
<h3><span class="mw-headline" id="Speakers">Speakers</span></h3>

<p>The Evora features a total of 4 speakers as standard, all mounted in front of the driver - this is the case regardless of whether the car is equipped with the Tech Pack, however this pack does add higher quality door speakers.</p>
<h3><span class="mw-headline" id="Main_Speakers">Main Speakers</span></h3>

<p>The Evora main speakers are located lower front of the doors.</p>
<p>Standard cars are fitted with the Alpine LUK_SB01B speakers (2×45W High Power Amp, 6.25” coaxial 2-way speakers).</p>
<p>Tech Pack cars are fitted with Alpine LUK_WG01 speakers (2x50W amplifier,  6.25” coaxial 2-way speakers).</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_Drivers_Door_Speaker.jpg" ><img src="Evora_Drivers_Door_Speaker.jpg" class="location-center type-thumb" width="400" />
</a></div>
</div>

<h3><span class="mw-headline" id="Tweeters">Tweeters</span></h3>

<p>The Evora features a pair of Alpine tweeters (Part No. A132M0140F) mounted in the dashboard at the base of the A-pillars.
</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_interior.jpg" ><img src="Evora_interior.jpg" class="location-center type-thumb" width="400" />
</a></div>
</div>

<h3><span class="mw-headline" id="Sub-Woofer">Sub-Woofer</span></h3>
<p>(Tech Pack only)Fitted behind a panel below the B-pillar on the right hand side of the car, powered by an Alpine M-150 amplifier and wired to the rear channel on the headunit.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_Premium_Pack_Oyster_Rear_Seats.jpg" title="Subwoofer located behind grate by passenger seat"><img src="Evora_Premium_Pack_Oyster_Rear_Seats.jpg" alt="Subwoofer located behind grate by passenger seat" title="Subwoofer located behind grate by passenger seat" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Subwoofer located behind grate by passenger seat</div></div>
</div>

<h3><span class="mw-headline" id="References">References</span></h3>
<ol class="references">
<li id="_note-1"><b><a href="#_ref-1" title="">&#8593;</a></b> <a class="external text" href="http://forums.seloc.org/p/6111899" rel="nofollow">SELOC Forums » SELOC Chat » Evora Headunit replacement</a></li><li id="_note-2"><b><a href="#_ref-2" title="">&#8593;</a></b> <a class="external text" href="http://forums.seloc.org/p/6112150" rel="nofollow">SELOC Forums » SELOC Chat » Evora Headunit replacement</a></li><li id="_note-3"><b><a href="#_ref-3" title="">&#8593;</a></b> <a class="external text" href="http://forums.seloc.org/p/6126715" rel="nofollow">SELOC Forums » SELOC Chat » So, who HASN&#39;T bought an Evora in the last couple of months...?</a></li>
</ol>