
<p>The steering wheel in the Evora is a bespoke wheel unique to the car. The wheel is fitted with an air-bag and, in Tech Pack equipped car, controls for the Cruise Control.</p>
<p>MY12 cars feature a different Steering Wheel Assembly (MY10/11 - Part Number D132U0206F, MY12 - Part Number A132V0378F) and Finisher Trim (Pre-MY12 - Part Number A132V0082F, MY12 Black Finisher - Part Number A132V0333F). IPS equipped cars are fitted with a different Back Cover to accommodate the paddle shift.</p>
<h2><span class="mw-headline" id="Steering_Wheel_Removal">Steering Wheel Removal</span></h2>

<p>As discussed in the forum thread <sup id="_ref-1" class="reference"><a href="#_note-1" title="">[1]</a></sup>.</p>
<p><b>Be aware that the steering wheel features an air-bag, which is an explosive device. Be sure to take all necessary safety precautions when working with it and if in any doubt have the work carried out by a trained professional.</b>
<br />SELOC takes no responsibility for damage or injury caused by interfering with it or by following the steps below.</p>
<p><b>Step 1</b> - <b>DISCONNECT BATTERY FIRST !!!!!</b></p>
<p>Leave for atleast a minute before touching anything to allow air-bag ECU to discharge any power. Do not reconnect the battery until everything has been reassembled.</p>
<p><b>Step 2</b></p>
<p>Undo the two T30 torxs fixings on the side. These hold the airbag in place, once pulled out disconnect the connector using a 90 degree pick.</p>
<p><b>Step 3</b></p>
<p>Then if your car has cruise control undo the other connector.</p>
<p><b>Step 4</b></p>
<p>Next up undo the 24mm steering wheel to column bolt. Make sure you don&#39;t loose the aluminium spacer bush, as you remove the steering wheel.</p>
<p>Do not leave the steering wheel off the column for a long period as the column retracts back inside itself. If you are planning to leave it off for a while then you should fit the Lotus Column Spacer Tool (Part Number T000T1519F).</p>
<h2><span class="mw-headline" id="References">References</span></h2><ol class="references">
<li id="_note-1"><b><a href="#_ref-1" title="">&#8593;</a></b> <a class="external text" href="http://forums.seloc.org/viewthread.php?tid=350230" rel="nofollow">SELOC Chat - Removing Evora steering wheel- How?</a></li>
</ol>