<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Evora">Evora</a>
<ul>
<li class="toclevel-2"><a href="#Transmitters">Transmitters</a>
</li>
<li class="toclevel-2"><a href="#Disabling">Disabling</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#References">References</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Evora">Evora</span></h2>

<p>Fitted as part of the Tech Pack option kit, the Evoras Tyre Pressure Monitoring System is a General Motors made system.</p>
<p>The valves act as the sensor and transmit pressure changes back to the receiver in the boot. The system self-calibrates and so when tyres are replaced should re-calibrate after a few miles.</p>
<p>There is a specific process that must be followed when removing the tyres from the wheel to avoid damaging the TPMS sensors, and so tyre changes on TPMS equipped wheels should be carried out by fitters familiar with this process.</p>
<h3><span class="mw-headline" id="Transmitters">Transmitters</span></h3>

<p>The TPMS valves (Part No. A121G6000F) need to be paired with conical sealing nuts (Part No. A121G6001F).</p>
<p>If you need to replace a sensor you can just fit the new sensor and the system should auto-detect it after a few miles of driving. When fitting them grease on the threads and inside the cap can help stop them from seizing on.</p>
<h3><span class="mw-headline" id="Disabling">Disabling</span></h3>

<p>If a sensor for the TPMS fails or is removed the system will show a warning beep and a light to alert the driver. If the issue is known and not of concern to the driver then the system can be unplugged or disabled in software.</p>
<p>The TPMS module is behind the plastic latch panel in the boot.</p>
<p>Literally bellow the boot latch, Remove the Plastic panel, 2x10mm nuts and 3 fixings then remove the panel disconnecting the cig lighter wiring and two boot lights, remove rear boot carpet then disconnect the TPMS plug to the unit.<sup id="_ref-1" class="reference"><a href="#_note-1" title="">[1]</a></sup></p>
<p>Alternatively the system can be disabled using the Lotus Techcentre software.</p>
<h2><span class="mw-headline" id="References">References</span></h2><ol class="references">
<li id="_note-1"><b><a href="#_ref-1" title="">&#8593;</a></b> <a class="external text" href="http://forums.seloc.org/viewthread.php?tid=353426" rel="nofollow">SELOC Forums » SELOC Chat » Evora TPMS problem</a></li>
</ol>