<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Issue">Issue</a>
</li>
<li class="toclevel-1"><a href="#Solution">Solution</a>
</li>
<li class="toclevel-1"><a href="#Step_by_step_guide">Step by step guide</a>
</li>
<li class="toclevel-1"><a href="#References">References</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Issue">Issue</span></h2>

<p>User &#34;<i>Simon back in an S1</i>&#34; noted that at speed a draught was coming in to his Evora S which would disappear when the recirculation button was press. This is caused by an opening for the recirculation circuit behind the fuse box which, at speed, would allow air to be drawn in to the cabin from the outside<sup id="_ref-1" class="reference"><a href="#_note-1" title="">[1]</a></sup>.</p>
<h2><span class="mw-headline" id="Solution">Solution</span></h2>

<p>To solve this problem a panel can be installed over the opening, preventing air from being drawn in to the cabin. Small holes on the panel allow the recirculation function to still work.</p>
<h2><span class="mw-headline" id="Step_by_step_guide">Step by step guide</span></h2>

<p>Guide for covering the opening by &#34;<i>Simon back in an S1</i>&#34;. This fix was devised with input from Andy French of Lotus Cars.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:102px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_footwell_and_gearbox_tunnel_draught_-_1.jpg" ><img src="Evora_footwell_and_gearbox_tunnel_draught_-_1.jpg" class="location-right type-thumb" width="100" />
</a></div>
</div>

<p>
<b>1.</b> Remove the fusebox panel in the passenger footwell and locate the relay box containing the purple relays.</p>

<div class="thumb tright">
<div class="thumbinner" style="width:102px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_footwell_and_gearbox_tunnel_draught_-_2.jpg" ><img src="Evora_footwell_and_gearbox_tunnel_draught_-_2.jpg" class="location-right type-thumb" width="100" />
</a></div>
</div>

<p>
<b>2.</b> Remove the four bolts holding the relay box in place and cut the zip tie holding the wiring to the bulkhead. Move the relay box out of the way. Black letterbox opening behind is the culprit of the draughts.</p>

<div class="thumb tright">
<div class="thumbinner" style="width:102px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_footwell_and_gearbox_tunnel_draught_-_3.jpg" ><img src="Evora_footwell_and_gearbox_tunnel_draught_-_3.jpg" class="location-right type-thumb" width="100" />
</a></div>
</div>

<p>
<b>3.</b> Andy recommended an ABS plastic panel to shut off the opening. However, I only had some thin balsa which I cut to 255mm x 85mm (letterbox spans an opening larger than is visible in the photos) and applied some tape to the back. Some small holes already in the balsa allows the recirc still to work.</p>

<div class="thumb tright">
<div class="thumbinner" style="width:102px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_footwell_and_gearbox_tunnel_draught_-_4.jpg" ><img src="Evora_footwell_and_gearbox_tunnel_draught_-_4.jpg" class="location-right type-thumb" width="100" />
</a></div>
</div>

<p>
<b>4.</b> Wiggle the panel through the gap behind the relay box and then Stick the panel in place over the opening.</p>

<div class="thumb tright">
<div class="thumbinner" style="width:102px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_footwell_and_gearbox_tunnel_draught_-_5.jpg" ><img src="Evora_footwell_and_gearbox_tunnel_draught_-_5.jpg" class="location-right type-thumb" width="100" />
</a></div>
</div>

<p>
<b>5.</b> I added some lagging I had to provide some extra insulation leaving only two holes in the panel uncovered for the recirc function. The holes aren&#39;t necessary if the recirc function isn&#39;t used.</p>

<p><b>6.</b> Replace the zip tie holding the wiring and bolt the relay box back in place. Replace fusebox aluminium panel.</p>
<p>The motorway test drive revealed the absence of any draughts and that the cabin warmed up considerably faster. I&#39;d recommend this simple mod to anyone experiencing draughts to the footwell or centre console area.</p>
<h2><span class="mw-headline" id="References">References</span></h2><ol class="references">
<li id="_note-1"><b><a href="#_ref-1" title="">&#8593;</a></b> <a class="external text" href="http://forums.seloc.org/viewthread.php?tid=357768" rel="nofollow">SELOC Forums » Technical Discussion » Solution to Evora footwell &#38; gearbox tunnel draughts</a></li>
</ol>