<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Standard">Standard</a>
</li>
<li class="toclevel-1"><a href="#Premium_Packs">Premium Packs</a>
<ul>
<li class="toclevel-2"><a href="#Premium">Premium</a>
<ul>
<li class="toclevel-3"><a href="#Pre-MY12">Pre-MY12</a>
</li>
<li class="toclevel-3"><a href="#MY12_Onwards">MY12 Onwards</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Premium_Suedetex">Premium Suedetex</a>
</li>
<li class="toclevel-2"><a href="#Premium_Sport">Premium Sport</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Rear_seats">Rear seats</a>
<ul>
<li class="toclevel-2"><a href="#Removal">Removal</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#References">References</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Standard">Standard</span></h2>

<div class="thumb tright">
<div class="thumbinner" style="width:122px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_Interior_(Standard).png" ><img src="Evora_Interior_(Standard).png" class="location-right type-thumb" width="120" />
</a></div>
</div>

<p><b>Colour Swatches</b></p>
<p><a class="image" href="http://wiki.seloc.org/a/image:Swatch_-_Ebony_Black.png" ><img src="Swatch_-_Ebony_Black.png" width="100" />
</a> <a class="image" href="http://wiki.seloc.org/a/image:Swatch_-_Charcoal_Cloth.png" ><img src="Swatch_-_Charcoal_Cloth.png" width="100" />
</a></p>

<h2><span class="mw-headline" id="Premium_Packs">Premium Packs</span></h2>

<p>All Premium Packs include:
</p>
<ul>
<li>Accent lighting</li>
<li>Leather trimmed door pockets</li>
<li>Armrest</li>
<li>Leather footwell side panels</li>
<li>Leather tailgate insert panel</li>
</ul>

<h3><span class="mw-headline" id="Premium">Premium</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:122px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_Interior_(Premium).png" ><img src="Evora_Interior_(Premium).png" class="location-right type-thumb" width="120" />
</a></div>
</div>

<h4><span class="mw-headline" id="Pre-MY12">Pre-MY12</span></h4>


<ul>
<li>Accent lighting</li>
<li>Upgraded interior trim</li>
<li>Further extensive use of premium grade leathers in a choice of colours: Oyster (Magnolia), Chestnut (Tan), Paprika (Red), Charcoal (Black)</li>
</ul>

<h4><span class="mw-headline" id="MY12_Onwards">MY12 Onwards</span></h4>


<ul>
<li>Leather centre console</li>
<li>Leather door panelling below trim band</li>
<li>Choice of leather colours: Ebony Black, Venom Red, Ivory White, Ash Grey, Cocoa Brown, Cognac Brown, Imperial Blue, includes leather rear seats (2+2 option only)</li>
</ul>

<p><b>Colour Swatches</b></p>
<p><a class="image" href="http://wiki.seloc.org/a/image:Swatch_-_Ebony_Black.png" ><img src="Swatch_-_Ebony_Black.png" width="100" />
</a> <a class="image" href="http://wiki.seloc.org/a/image:Swatch_-_Venom_Red.png" ><img src="Swatch_-_Venom_Red.png" width="100" />
</a> <a class="image" href="http://wiki.seloc.org/a/image:Swatch_-_Ivory_White.png" ><img src="Swatch_-_Ivory_White.png" width="100" />
</a> <a class="image" href="http://wiki.seloc.org/a/image:Swatch_-_Ash_Grey.png" ><img src="Swatch_-_Ash_Grey.png" width="100" />
</a> <a class="image" href="http://wiki.seloc.org/a/image:Swatch_-_Cocoa_Brown.png" ><img src="Swatch_-_Cocoa_Brown.png" width="100" />
</a> <a class="image" href="http://wiki.seloc.org/a/image:Swatch_-_Cognac_Brown.png" ><img src="Swatch_-_Cognac_Brown.png" width="100" />
</a> <a class="image" href="http://wiki.seloc.org/a/image:Swatch_-_Imperial_Blue.png" ><img src="Swatch_-_Imperial_Blue.png" width="100" />
</a></p>

<h3><span class="mw-headline" id="Premium_Suedetex">Premium Suedetex</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:122px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_Interior_(Premium_SuedeTex).png" ><img src="Evora_Interior_(Premium_SuedeTex).png" class="location-right type-thumb" width="120" />
</a></div>
</div>


<ul>
<li>Slate Grey SuedeTex® centre console</li>
<li>SuedeTex® trim band and lower door panelling</li>
<li>Ebony Black leather and SuedeTex® seat combination (front and rear on 2+2)</li>
</ul>

<p><b>Colour Swatches</b></p>
<p><a class="image" href="http://wiki.seloc.org/a/image:Swatch_-_Ebony_Black.png" ><img src="Swatch_-_Ebony_Black.png" width="100" />
</a> <a class="image" href="http://wiki.seloc.org/a/image:Swatch_-_Slate_Grey_SuedeTex.png" ><img src="Swatch_-_Slate_Grey_SuedeTex.png" width="100" />
</a></p>

<h3><span class="mw-headline" id="Premium_Sport">Premium Sport</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:122px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_Interior_(Premium_Sport).png" ><img src="Evora_Interior_(Premium_Sport).png" class="location-right type-thumb" width="120" />
</a></div>
</div>

<p>
Leather centre console<br />
Carbon effect leather inserts on the seats<br />
Leather door panelling below trim band<br />
Choice of leather colour: Ebony Black with red contrast stitching and piping, or Venom Red, Cocoa Brown and Imperial Blue with black contrast stitching and piping, includes leather rear seats (2+2 option only)</p>
<p><b>Colour Swatches</b></p>

<div style="page-break-inside: avoid;">
<table class="wikitable" style="float: left; margin: 0em auto 0em auto;">
<tr>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:102px;"><a class="internal" href="http://wiki.seloc.org/a/image:Swatch_-_Ebony_Black.png" title="Red contrast stitching and piping"><img src="Swatch_-_Ebony_Black.png" alt="Red contrast stitching and piping" title="Red contrast stitching and piping" class="location-center type-thumb" width="100" />
</a>
<div class="thumbcaption">Red contrast stitching and piping</div></div>
</div>
 </td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:102px;"><a class="internal" href="http://wiki.seloc.org/a/image:Swatch_-_Venom_Red.png" title="Black contrast stitching and piping"><img src="Swatch_-_Venom_Red.png" alt="Black contrast stitching and piping" title="Black contrast stitching and piping" class="location-center type-thumb" width="100" />
</a>
<div class="thumbcaption">Black contrast stitching and piping</div></div>
</div>
 </td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:102px;"><a class="internal" href="http://wiki.seloc.org/a/image:Swatch_-_Cocoa_Brown.png" title="Black contrast stitching and piping"><img src="Swatch_-_Cocoa_Brown.png" alt="Black contrast stitching and piping" title="Black contrast stitching and piping" class="location-center type-thumb" width="100" />
</a>
<div class="thumbcaption">Black contrast stitching and piping</div></div>
</div>
 </td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:102px;"><a class="internal" href="http://wiki.seloc.org/a/image:Swatch_-_Imperial_Blue.png" title="Black contrast stitching and piping"><img src="Swatch_-_Imperial_Blue.png" alt="Black contrast stitching and piping" title="Black contrast stitching and piping" class="location-center type-thumb" width="100" />
</a>
<div class="thumbcaption">Black contrast stitching and piping</div></div>
</div>
</td></tr></table></div>


<h2><span class="mw-headline" id="Rear_seats">Rear seats</span></h2>

<p>The Evora can be ordered in one of two configurations - either as a 2+0 with storage behind the seats, or as a 2+2 with a small rear bench for two passengers to sit on.</p>
<p>Although the rear seats are often criticised for their lack of leg room 2+2 configuration cars are more popular and tend to hold a small premium over 2+0&#39;s. It is nigh on impossible to retro fit rear seats to a 2+0 car, as while the interior trim can be changed to accommodate it the seat base and back the fixings required for the rear seat belts are not present in 2+0 cars and are not easily added<sup id="_ref-1" class="reference"><a href="#_note-1" title="">[1]</a></sup>.</p>
<p>The trimming of the rear seats varies depending on whether the car is specified with or without any of the Premium or Premium Sport Pack options listed above.
</p>
<ul>
<li>Standard interior in Evoras not equipped with any form of Premium Pack have the rear seats are trimmed in cloth.</li>
<li>Premium Pack equipped cars feature rear seats trimmed in Black leather with a feature strip in the colour of the front seats running across the seat back.</li>
<li>Premium Pack Sport equipped cars do not have the feature strip and are instead trimmed entirely to match the colour of the front seats, with Lotus roundels in the headrest and carbon leather inserts.</li>
</ul>


<div style="page-break-inside: avoid;">
<table class="wikitable" style="margin: 0em auto 0em auto;">
<tr>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_Cloth_Rear_Seats.jpg" title="Standard interior with cloth rear seats"><img src="Evora_Cloth_Rear_Seats.jpg" alt="Standard interior with cloth rear seats" title="Standard interior with cloth rear seats" class="location-center type-thumb" width="200" />
</a>
<div class="thumbcaption">Standard interior with cloth rear seats</div></div>
</div>
</td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_Premium_Pack_Oyster_Rear_Seats.jpg" title="Premium Pack (Oyster) Rear Seats"><img src="Evora_Premium_Pack_Oyster_Rear_Seats.jpg" alt="Premium Pack (Oyster) Rear Seats" title="Premium Pack (Oyster) Rear Seats" class="location-center type-thumb" width="200" />
</a>
<div class="thumbcaption">Premium Pack (Oyster) Rear Seats</div></div>
</div>
</td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_S_MY12_Interior_Rear.jpg" title="Evora Premium Pack Sport (Ebony Black) Rear Seats"><img src="Evora_S_MY12_Interior_Rear.jpg" alt="Evora Premium Pack Sport (Ebony Black) Rear Seats" title="Evora Premium Pack Sport (Ebony Black) Rear Seats" class="location-center type-thumb" width="200" />
</a>
<div class="thumbcaption">Evora Premium Pack Sport (Ebony Black) Rear Seats</div></div>
</div>
</td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_Premium_Sport_Venom_Red_Rear_Seats.jpg" title="Evora Premium Pack Sport (Venom Red) Rear Seats"><img src="Evora_Premium_Sport_Venom_Red_Rear_Seats.jpg" alt="Evora Premium Pack Sport (Venom Red) Rear Seats" title="Evora Premium Pack Sport (Venom Red) Rear Seats" class="location-center type-thumb" width="200" />
</a>
<div class="thumbcaption">Evora Premium Pack Sport (Venom Red) Rear Seats</div></div>
</div>
</td></tr></table></div>

<h3><span class="mw-headline" id="Removal">Removal</span></h3>

<p>The rear seat base can be easily removed and is just held in place with velcro. The seat backrest is also fairly simple to remove but requires a couple more steps.</p>
<p>On 2+2 cars, the rear seat backrest is secured by a screw behind each backrest top insert pad, two screws at the bottom edge and Velcro patches. To remove the seat:
</p>
<ul>
<li>Remove the rear seat cushion by pulling free from its Velcro fastening.</li>
<li>Remove both backrest top insert pads by pushing upwards to release the spring clips. Release each of the single screw fixings thus revealed.</li>
<li>Remove the two screws at the bottom edge of the backrest, and pull the panel free from its Velcro fastening.</li>
</ul>

<p>On 2+0 cars, the insulating pad on the rear bulkhead is retained by Velcro pads.</p>
<h2><span class="mw-headline" id="References">References</span></h2>
<ol class="references">
<li id="_note-1"><b><a href="#_ref-1" title="">&#8593;</a></b> <a class="external text" href="http://www.pistonheads.com/gassing/topic.asp?h=0&#38;f=213&#38;t=1246243&#38;mid=116749&#38;nmt=Does+anyone+know+if+%3F" rel="nofollow">PistonHeads &#62; Gassing Station &#62; Lotus &#62; Evora &#62; Does anyone know if ?</a></li>
</ol>