<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<ul>
<li class="toclevel-1"><a href="#K_series_Elise">K series Elise</a>
</li>
<li class="toclevel-1"><a href="#48MM_Body">48MM Body</a>
</li>
<li class="toclevel-1"><a href="#52MM_Body">52MM Body</a>
</li>
<li class="toclevel-1"><a href="#Advantages">Advantages</a>
</li>
<li class="toclevel-1"><a href="#Fitment">Fitment</a>
</li>
<li class="toclevel-1"><a href="#See_Also">See Also</a>
</li>
</ul>
</ul>
</ul></td></tr></table><hr/>
<h3><span class="mw-headline" id="K_series_Elise">K series Elise</span></h3>

<p>You can tell which size throttle body you have from the numbers on the top edge:
</p>
<ul>
<li>TV1 = 48mm</li>
<li>TV5 = 52mm</li>
</ul>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:TV5_Throttle_Body.jpg" title="52mm Throttle Body showing TV5 identification marking"><img src="TV5_Throttle_Body.jpg" alt="52mm Throttle Body showing TV5 identification marking" title="52mm Throttle Body showing TV5 identification marking" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">52mm Throttle Body showing TV5 identification marking</div></div>
</div>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:TB52MM.JPG" title="52MM Throttle Body"><img src="TB52MM.JPG" alt="52MM Throttle Body" title="52MM Throttle Body" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">52MM Throttle Body</div></div>
</div>


<h3><span class="mw-headline" id="48MM_Body">48MM Body</span></h3>

<p>The 48mm Throttle body came standard and can be modified to flow alot better (almost as good as the 52mm) by removing the rubber wedge that is located on the throttle body butterfly </p>
<p>(marked in red on picture below).</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:48wedge.JPG" title="48MM Throttle Body Rubber Wedge"><img src="48wedge.JPG" alt="48MM Throttle Body Rubber Wedge" title="48MM Throttle Body Rubber Wedge" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">48MM Throttle Body Rubber Wedge</div></div>
</div>


<p>Remove Butterfly from the throttle body and take off the rubber wedge then Heat the butterfly up and put it on a ceramic tile, any metal surface may cause the solder to adhere. Use multi core solder and just push the end into the hole so it contacts the parent metal, it should then melt and brim the hole, if it doesn&#39;t the butterfly isnt hot enough.</p>
<p>Key the hole and just outside with P180 wet/dry or similar, or a small file.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:48nowedge.JPG" title="48MM Throttle Body with removed wedge"><img src="48nowedge.JPG" alt="48MM Throttle Body with removed wedge" title="48MM Throttle Body with removed wedge" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">48MM Throttle Body with removed wedge</div></div>
</div>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:48wedge2.JPG" title="48MM Throttle Body with removed wedge"><img src="48wedge2.JPG" alt="48MM Throttle Body with removed wedge" title="48MM Throttle Body with removed wedge" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">48MM Throttle Body with removed wedge</div></div>
</div>


<p>Thanks too SELOC member <a class="external text" href="http://forums.seloc.org/member.php?action=viewpro&#38;member=chrissmith2097" rel="nofollow">Chrissmith2097</a> and <a class="external text" href="http://forums.seloc.org/member.php?action=viewpro&#38;member=DVAndrews" rel="nofollow">Dave Andrews</a> of DVAPower</p>
<p>See thread <a class="external free" href="http://forums.seloc.org/viewthread.php?tid=107568" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=107568</a> for more information.</p>
<h3><span class="mw-headline" id="52MM_Body">52MM Body</span></h3>

<p>The 52MM Throttle body came standard fittment on the Elise S1 160 and S2 111S.</p>
<h3><span class="mw-headline" id="Advantages">Advantages</span></h3>

<p>&#34;when we exchanged the 48m TB for 52 Item we got a stunning 1 bhp max power increase, we got a 3 Ft Lbs max increase in Torque&#34;</p>
<p>&#34;The Torque curve increased by 4 Ft Lbs Average and at one point on the curve an 11 Ft Lbs increase was recorded. This 11 Lbs increase was quiet low in the rev range.&#34;</p>

<p><b>-</b> Quoting from SELOC member <a class="external text" href="http://forums.seloc.org/member.php?action=viewpro&#38;member=The+Gimp" rel="nofollow">THE GIMP</a> from when he tested the 48mm vs 52mm on a rolling road.</p>
<h3><span class="mw-headline" id="Fitment">Fitment</span></h3>

<p>Fitment is very easy and only takes around 30 minutes to change.</p>
<p><b>Please Add Info, Just Click Edit</b></p>
<h3><span class="mw-headline" id="See_Also">See Also</span></h3>

<p><a class="external text" href="http://en.wikipedia.org/wiki/Throttle_body" rel="nofollow">Wikipedia On Throttle Bodys</a></p>
<p><a class="external text" href="http://en.wikipedia.org/wiki/Butterfly_valve" rel="nofollow">Wikipedia On Butterfly Valve&#39;s</a></p>
<p><a class="external text" href="http://wiki.seloc.org/a/Throttle_Position_Sensor" rel="nofollow">Throttle Position Sensor</a></p>

<p>
</p>