
<p>Information on induction kits for the Lotus Evora and 2012 Lotus Exige S.</p>
<p>The standard Lotus Evora and Exige S induction system is taken directly from the Toyota RAV4 and features a large air-box. This is quite restrictive and in the normally aspirated Evora people have reported that combined with changes to the <a href="http://wiki.seloc.org/a/Exhausts_-_Evora" title="Exhausts - Evora">exhaust system</a> power can be increased to around 300bhp.</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Lotus">Lotus</a>
</li>
<li class="toclevel-1"><a href="#K.26N">K&#38;N</a>
</li>
<li class="toclevel-1"><a href="#Radium_Engineering">Radium Engineering</a>
</li>
<li class="toclevel-1"><a href="#References">References</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Lotus">Lotus</span></h2>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="6"><a class="image" href="http://wiki.seloc.org/a/Image:Evora_Air-box.jpg" ><img src="Evora_Air-box.jpg" width="150" />
</a></td>
<td><b>OEM</b></td></tr>
<tr>
<td>Material: </td></tr>
<tr>
<td>Price: £29.00</td></tr>
<tr>
<td>Suppliers: Lotus</td></tr>
<tr>
<td><a class="external text" href="http://www.deroure.com/diagrams.asp?MAK=1&#38;MDL=20&#38;TBL=1921&#38;SMA=0&#38;SMO=0&#38;ST=&#38;SC=0" rel="nofollow">Click Here</a></td></tr>
<tr>
<td><b>Filter Part Number</b>: A132E6324S<br />The same air-box is shared by the Evora, Evora S and Exige S, although the Hose and Plenum Assembly differs to fit the supercharger.</td></tr></table></div>

<h2><span class="mw-headline" id="K.26N">K&#38;N</span></h2>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="6"><a class="image" href="http://wiki.seloc.org/a/Image:K-N_Evora_Panel_Filter.jpg" ><img src="K-N_Evora_Panel_Filter.jpg" width="150" />
</a></td>
<td><b>K&#38;N Panel Filter</b></td></tr>
<tr>
<td>Material: Cotton Gauze</td></tr>
<tr>
<td>Price: £42.79</td></tr>
<tr>
<td>Suppliers: K&#38;N</td></tr>
<tr>
<td><a class="external text" href="http://www.knfilters.co.uk/search/product.aspx?Prod=33-2355" rel="nofollow">Click Here</a></td></tr>
<tr>
<td><b>K&#38;N Part Number</b>: 33-2355<br />Direct replacement for the panel filter in the standard Evora, Evora S and Exige S air-box.</td></tr></table></div>

<h2><span class="mw-headline" id="Radium_Engineering">Radium Engineering</span></h2>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="6"><a class="image" href="http://wiki.seloc.org/a/Image:Radium_Engineering_Lotus_Evora_Cold_Air_Intake_System.jpg" ><img src="Radium_Engineering_Lotus_Evora_Cold_Air_Intake_System.jpg" width="150" />
</a></td>
<td><b>Radium Engineering Lotus Evora Cold Air Intake System</b></td></tr>
<tr>
<td>Material: Cotton Gauze</td></tr>
<tr>
<td>Price: $430.00</td></tr>
<tr>
<td>Suppliers: Radium Engineering</td></tr>
<tr>
<td><a class="external text" href="http://store.radiumauto.com/index.php?p=product&#38;id=56&#38;parent=3" rel="nofollow">Click Here</a></td></tr>
<tr>
<td>The Radium Engineering Lotus Evora Cold Air Intake System comprises of a K&#38;N Cone Air Filter, tubing, a heat shield and other associated components to give optimal performance with the Evoras 2GR-FE engine while retaining Sport mode and avoiding triggering the engine warning light. Radium Engineering claim a 21bhp increase vs. the standard airbox, however some people have found that issues with airflow distruption can mean better results are had from the standard air-box<sup id="_ref-1" class="reference"><a href="#_note-1" title="">[1]</a></sup>.<br /><b>Video:</b> <a class="external text" href="http://www.youtube.com/watch?v=12uxaIqMDi8" rel="nofollow">YouTube</a><br /><b>Development Blog:</b> <a class="external text" href="http://radiumauto.com/blog-page.php?Lotus-Evora-Intake-System-45" rel="nofollow">Radium Engineering</a><br /><b>Forum Thread:</b> <a class="external text" href="http://www.lotustalk.com/forums/f170/radium-engineering-lotus-evora-cold-air-intake-system-104646/" rel="nofollow">LotusTalk - RADIUM Engineering: Lotus Evora Cold Air Intake System</a></td></tr></table></div>

<h2><span class="mw-headline" id="References">References</span></h2><ol class="references">
<li id="_note-1"><b><a href="#_ref-1" title="">&#8593;</a></b> <a class="external text" href="http://forums.seloc.org/viewthread.php?tid=352830&#38;page=1#pid5993572" rel="nofollow">Technical Discussion » Evora 2bular exhaust</a></li>
</ol>