<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Lotus_Elise_1.8i">Lotus Elise 1.8i</a>
<ul>
<li class="toclevel-2"><a href="#Lotus_Elise_111S">Lotus Elise 111S</a>
</li>
<li class="toclevel-2"><a href="#Lotus_Elise_Sport_135">Lotus Elise Sport 135</a>
</li>
<li class="toclevel-2"><a href="#Lotus_Elise_160">Lotus Elise 160</a>
</li>
<li class="toclevel-2"><a href="#Lotus_Elise_Sport_190">Lotus Elise Sport 190</a>
</li>
<li class="toclevel-2"><a href="#Lotus_340R">Lotus 340R</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Lotus_Exige">Lotus Exige</a>
<ul>
<li class="toclevel-2"><a href="#Lotus_Exige_S2">Lotus Exige S2</a>
</li>
<li class="toclevel-2"><a href="#Lotus_Exige_240R">Lotus Exige 240R</a>
</li>
<li class="toclevel-2"><a href="#Lotus_Exige_240_CUP">Lotus Exige 240 CUP</a>
</li>
<li class="toclevel-2"><a href="#Lotus_Exige_S">Lotus Exige S</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Vauxhall_VX220">Vauxhall VX220</a>
<ul>
<li class="toclevel-2"><a href="#Vauxhall_VX220_Turbo">Vauxhall VX220 Turbo</a>
</li>
<li class="toclevel-2"><a href="#Vauxhall_VX220_VXR">Vauxhall VX220 VXR</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Lotus_Elise_S2_.28K-Series_Engine.29">Lotus Elise S2 (K-Series Engine)</a>
<ul>
<li class="toclevel-2"><a href="#Lotus_Elise_111S_2">Lotus Elise 111S</a>
</li>
<li class="toclevel-2"><a href="#Lotus_Elise_S2_Sport_190">Lotus Elise S2 Sport 190</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Lotus_Elise_S2_.28Toyota_Engine.29">Lotus Elise S2 (Toyota Engine)</a>
<ul>
<li class="toclevel-2"><a href="#Lotus_Elise_S2_111R">Lotus Elise S2 111R</a>
</li>
<li class="toclevel-2"><a href="#Lotus_Elise_S">Lotus Elise S</a>
</li>
</ul>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Lotus_Elise_1.8i">Lotus Elise 1.8i</span></h2>



<p><b>Sold/Build Number:</b> 1996-2001 / 8613</p>
<p><b>Construction:</b> Riveted and bonded extruded aluminium perimeter chassis with GRP panels.</p>
<p><b>Engine:</b> Transverse mid-mounted, water-cooled all-alloy double overhead-cam 1796cc Rover K-series in-line four with four valves per cylinder and MEMS muli-point fuel injection.</p>
<p><b>Max Power:</b> 118BHP @ 5500rpm</p>
<p><b>Max Torque:</b> 122lb ft @ 3000rpm</p>
<p><b>Transmission:</b> Cable-operated five-speed manual transaxel, driving rear wheels.</p>
<p><b>Suspension:</b> Independent all round by double wishbones and coil springs over monotube dampers; front anti-roll bar.</p>
<p><b>Brakes:</b> 282mm ventilated ceramic / aluminium composite discs.</p>
<p><b>Length:</b> 3726mm</p>
<p><b>Width:</b> 1820mm</p>
<p><b>Height:</b> 1202mm</p>
<p><b>Wheelbase:</b> 2300mm</p>
<p><b>Front Track:</b> 1440mm</p>
<p><b>Rear Track:</b> 1453mm</p>
<p><b>Weight:</b> 723kg (1594lb)</p>
<p><b>Wheels &#38; Tyres:</b> 15in(front) 16in(rear) alloys with 185/55(f) and 205/50(r) rear.</p>
<p><b>0-60MPH:</b> 5.6 sec</p>
<p><b>0-100MPH:</b> 17.4 sec</p>
<p><b>Top Speed:</b> 124 MPH</p>
<p><b>MPG:</b> 28.7</p>
<p><b>Price New:</b> £18,950</p>



<h3><span class="mw-headline" id="Lotus_Elise_111S">Lotus Elise 111S</span></h3>
<p><i>(where different)</i></p>
<p><b>Sold/Build Number:</b> 1999-2001 / 1489</p>
<p><b>Engine:</b> As 1.8i, with variable valve timing</p>
<p><b>Max Power:</b> 143BHP @ 7000rpm</p>
<p><b>Max Torque:</b> 128lb ft @ 4500rpm</p>
<p><b>Transmission:</b> As 1.8i, with close-ratio gears.</p>
<p><b>Brakes:</b> ventilated and cross-drilled iron discs.</p>
<p><b>Weight:</b> 770kg (1698lb)</p>
<p><b>Wheels &#38; Tyres:</b> 225/45(r) rear.</p>
<p><b>0-60MPH:</b> 5.6 sec</p>
<p><b>0-100MPH:</b> 11.7 sec</p>
<p><b>Top Speed:</b> 130 MPH</p>
<p><b>MPG:</b> 30.7</p>
<p><b>Price New:</b> £26,590</p>
<h3><span class="mw-headline" id="Lotus_Elise_Sport_135">Lotus Elise Sport 135</span></h3>
<p><i>(where different)</i></p>
<p><b>Sold/Build Number:</b> 85</p>
<p><b>Engine:</b></p>
<p><b>Max Power:</b></p>
<p><b>Max Torque:</b> </p>
<p><b>Transmission:</b> </p>
<p><b>Brakes:</b> </p>
<p><b>Weight:</b> </p>
<p><b>Wheels &#38; Tyres:</b> </p>
<p><b>0-60MPH:</b> </p>
<p><b>0-100MPH:</b> </p>
<p><b>Top Speed:</b> </p>
<p><b>MPG:</b> </p>
<p><b>Price New:</b></p>
<h3><span class="mw-headline" id="Lotus_Elise_160">Lotus Elise 160</span></h3>
<p><i>(where different to 111S)</i></p>
<p><b>Sold/Build Number:</b> 319</p>
<p><b>Engine</b></p>
<p><b>Type:</b> Four-cylinder in-line, dohc, four valves per cylinder, transversely mid-mounted. </p>
<p><b>Capacity:</b> 1796cc. </p>
<p><b>Construction:</b> All aluminium. </p>
<p><b>Maximum power:</b> 160PS (118kW) at 7000rpm. </p>
<p><b>Maximum torque:</b> 128lb ft (174Nm) at 5200rpm. </p>
<p><b>Transmission</b> 
Manual five-speed transaxle driving the rear wheels. 
Ratios 
First: 3.17to one. 
Second: 1.84 to one. 
Third: 1.31 to one. 
Fourth: 1.03 to one. 
Fifth: 0.77 to one 
Reverse: 3.00 to one. 
Final drive: 3.94 to one. </p>
<p><b>Body</b></p>
<p>Composite body panels with detachable front and rear clamshells, integral fixed headlamps. </p>
<p><b>Chassis</b> </p>
<p>Lotus-designed structure of epoxy-bonded aluminium extrusions incorporating steel roll-hoop. </p>
<p><b>Suspension</b> </p>
<p>Double-wishbones with single coil springs over onotube dampers all-round; 
Lotus Sport suspension settings. Lotus-patented extruded aluminium front uprights. 
Adjustable link front anti-roll bar. Rear toe-link. </p>
<p><b>Steering</b> </p>
<p>Rack and pinion, non-power-assisted. </p>
<p><b>Wheels</b> </p>
<p>MIM five-spoke alloy. 
Front: 6.0Jx15 
Rear: 8.0Jx16 </p>
<p><b>Tyres</b> </p>
<p>Pirelli P Zero 
Front: 185/55 R15 
Rear: 225/45 R16 </p>
<p><b>Brakes</b> </p>
<p>Ventilated iron discs all-round. 
Lotus/AP Racing front allipers, 
Brembo rear callipers. </p>
<p><b>Vital statistics</b> </p>
<p>Wheelbase: 90.6in (2300mm). 
Front track: 56.7in (1440mm). 
Rear track: (1470mm). 
Overall length: 147.0in (3734mm). 
Overall width: 67.0in (1701mm) excluding mirrors. 
Overall height: 45.2in (1148mm). 
Ground clearance: 6.3in (160mm). </p>
<p><b>Fuel</b> </p>
<p>Tank capacity: 8.0gal (36.4 litres). 
Fuel grade: 95 RON minimum.</p>
<p><b>Standard equipment</b> </p>
<p>MIM five-spoke alloy wheels (key-bolted), pillar-mounted rear aerofoil, headlamp covers, êsmokedà front indicator lenses, driving lamps, audio fitting kit Alcantara/nylon upholstery. </p>
<p><b>Options</b> </p>
<p>Metalic paint, Hardtop, Alcantata trim.</p>
<p><b>Serial Number</b></p>
<p>Serial number is build up as follows (e.g. SCC K A 111 6 Y H C 3 0658)</p>
<p>SSC is manufacturer code (Lotus)</p>
<p>G is 1.8k Series, J if the VVC version, K=160</p>
<p>A is Active Restraints</p>
<p>111 designates Elise</p>
<p>6 not sure? check number?</p>
<p>Y is model year 2000</p>
<p>H built in Hethel</p>
<p>C is right hand drive</p>
<p>3 again Elise?</p>
<p>0658 is the Serial number</p>
<p>Serials 0601-0650 had Single Vehicle Approval. All subsequent cars have Whole Vehicle Type Approval. </p>
<p>319 Sport 160 1.8 were build?</p>
<p>Please Add Info</p>
<h3><span class="mw-headline" id="Lotus_Elise_Sport_190">Lotus Elise Sport 190</span></h3>

<p><i>(where different to 1.8i)</i></p>
<p><b>Sold/Build Number:</b> 50+</p>
<p><b>Engine:</b> </p>
<p><b>Max Power:</b></p>
<p><b>Max Torque:</b> </p>
<p><b>Transmission:</b> </p>
<p><b>Brakes:</b> </p>
<p><b>Weight:</b> </p>
<p><b>Wheels &#38; Tyres:</b> </p>
<p><b>0-60MPH:</b> </p>
<p><b>0-100MPH:</b> </p>
<p><b>Top Speed:</b> </p>
<p><b>MPG:</b> </p>
<p><b>Price New:</b></p>
<h3><span class="mw-headline" id="Lotus_340R">Lotus 340R</span></h3>

<p><i>(where different to 1.8i)</i></p>
<p><b>Sold/Build Number:</b> 2000 / 340</p>
<p><b>Engine:</b> As 1.8i, with multi-point fuel injection and Lotus engine management.</p>
<p><b>Max Power:</b> 177BHP @ 7800rpm</p>
<p><b>Max Torque:</b> 126lb ft @ 5000rpm</p>
<p><b>Transmission:</b> As 111s</p>
<p><b>Brakes:</b> 282mm front, 245mm rear ventilated and cross-drilled cast-iron discs.</p>
<p><b>Weight:</b> 675kg (1488lb)</p>
<p><b>Wheels &#38; Tyres:</b> 195/50(f) 25/45(r) rear.</p>
<p><b>0-60MPH:</b> 4.6 sec</p>
<p><b>0-100MPH:</b> 12.5 sec</p>
<p><b>Top Speed:</b> 132 MPH</p>
<p><b>MPG:</b> 25.8</p>
<p><b>Price New:</b> £35,000</p>
<h2><span class="mw-headline" id="Lotus_Exige">Lotus Exige</span></h2>

<p><i>(where different to 1.8i)</i></p>
<p><b>Sold/Build Number:</b> 2000-01 / 604</p>
<p><b>Engine:</b> As 340R</p>
<p><b>Max Power:</b> 190BHP @ 7800rpm</p>
<p><b>Max Torque:</b> 126lb ft @ 5000rpm</p>
<p><b>Transmission:</b> As 111s</p>
<p><b>Steering:</b> 2.3 turns lock-to-lock.</p>
<p><b>Brakes:</b> As 111s.</p>
<p><b>Length:</b> 3780mm</p>
<p><b>Width:</b> 1720mm</p>
<p><b>Height:</b> 1175mm</p>
<p><b>Weight:</b> 785kg (1731lb)</p>
<p><b>Wheels &#38; Tyres:</b> As 340R.</p>
<p><b>0-60MPH:</b> 4.6 sec</p>
<p><b>0-100MPH:</b> 12.5 sec</p>
<p><b>Top Speed:</b> 124 MPH</p>
<p><b>MPG:</b> 22.1</p>
<p><b>Price New:</b> £29.995</p>
<h3><span class="mw-headline" id="Lotus_Exige_S2">Lotus Exige S2</span></h3>

<p><i>(where different to Exige S1 Elise S2???)</i></p>
<p>Please Add Info</p>
<h3><span class="mw-headline" id="Lotus_Exige_240R">Lotus Exige 240R</span></h3>

<p><i>(where different to Exige S2)</i></p>
<p>Please Add Info</p>
<h3><span class="mw-headline" id="Lotus_Exige_240_CUP">Lotus Exige 240 CUP</span></h3>

<p><i>(where different to Exige 240R)</i></p>
<p>Please Add Info</p>
<h3><span class="mw-headline" id="Lotus_Exige_S">Lotus Exige S</span></h3>

<p><i>(where different to Exige S2)</i></p>
<p>Please Add Info</p>
<h2><span class="mw-headline" id="Vauxhall_VX220">Vauxhall VX220</span></h2>
<p><i>(where different to elise S2)</i></p>
<p>Sold/Build Number: 2000-2004 / 5267
Engine: Z22SE, 2198cc, 16V
Max Power: 147BHP @ 5800rpm
Max Torque: 150lb ft @  rpm
Transmission: F23, 5gear
Brakes: 288mm ventilated iron discs
Weight: 870kg 
Wheels &#38; Tyres: 175/55 5,5J17 front 225/45 7J17 rear
0-60MPH: 5.6 sec
0-100MPH: - sec
Top Speed: 136 MPH
MPG: 
Price New:</p>

<h3><span class="mw-headline" id="Vauxhall_VX220_Turbo">Vauxhall VX220 Turbo</span></h3>
<p><i>(where different to VX220)</i></p>
<p>Sold/Build Number: 2003-2005 / 1940
Engine: Z20LET, 1998cc, 16V
Max Power: 200BHP @ 5500rpm
Max Torque: -lb ft @ -rpm
Transmission: F23, 5gear
Brakes: 288mm ventilated iron discs
Weight: 940kg 
Wheels &#38; Tyres: 175/55 5,5J17 front 225/45 7J17 rear
0-60MPH: 4.6 sec
0-100MPH: - sec
Top Speed: - MPH
MPG: 
Price New:</p>

<h3><span class="mw-headline" id="Vauxhall_VX220_VXR">Vauxhall VX220 VXR</span></h3>
<p><i>(where different to VX220)</i></p>
<p>Sold/Build Number: 2003-2005 / 65
Engine: Z20LET, 1998cc, 16V
Max Power: 216BHP @ 5500rpm
Max Torque: 221lb ft @ -rpm
Transmission: F23, 5gear
Brakes: 288mm ventilated iron discs
Weight: 930kg 
Wheels &#38; Tyres: 195/ 16 front 225/17 rear
0-60MPH: 4.2sec
0-100MPH: - sec
Top Speed: 155MPH
MPG: 33
Price New: £29,995</p>
<h2><span class="mw-headline" id="Lotus_Elise_S2_.28K-Series_Engine.29">Lotus Elise S2 (K-Series Engine)</span></h2>

<p><i>With K-Series Engine</i></p>
<p><i>(where different to Elise S1)</i></p>
<p><i>(where different to 1.8i)</i></p>
<p><b>Sold/Build Number:</b> </p>
<p><b>Engine:</b> 
<b>Max Power:</b> 
<b>Max Torque:</b> 
<b>Transmission:</b> 
<b>Steering:</b>
<b>Brakes:</b>
<b>Length:</b>
<b>Width:</b> 
<b>Height:</b> 
<b>Weight:</b> 
<b>Wheels &#38; Tyres:</b> 
<b>0-60MPH:</b> 
<b>0-100MPH:</b> 
<b>Top Speed:</b> 
<b>MPG:</b> 
<b>Price New:</b> </p>


<h3><span class="mw-headline" id="Lotus_Elise_111S_2">Lotus Elise 111S</span></h3>

<p><i>(where different to S2)</i></p>
<p><b>Year of introduction:</b> 2002</p>
<p><b>Power:</b> 156 bhp / 116 KW @ 7000 rpm</p>
<p><b>Torque:</b> 175 Nm / 129 ft lbs @ 3500 rpm</p>
<p><b>Top speed:</b> 132 mph</p>
<p><b>0-60:</b> 5.1 seconds</p>
<p><b>Weight:</b> 806 kg</p>
<p>Please Add Info</p>
<h3><span class="mw-headline" id="Lotus_Elise_S2_Sport_190">Lotus Elise S2 Sport 190</span></h3>

<p><i>(where different to 111S)</i>
The Sport 190 was a £10,587 option on the standard Elise S2
Please add info</p>
<h2><span class="mw-headline" id="Lotus_Elise_S2_.28Toyota_Engine.29">Lotus Elise S2 (Toyota Engine)</span></h2>
<p><i>with Toyota Engine</i>
<i>(where different to K series S2)</i></p>
<p>Please Add Info </p>


<h3><span class="mw-headline" id="Lotus_Elise_S2_111R">Lotus Elise S2 111R</span></h3>
<p><i>(where different Elise S2)</i></p>
<p>Please Add Info</p>


<h3><span class="mw-headline" id="Lotus_Elise_S">Lotus Elise S</span></h3>
<p><i>(where different to Elise S2)</i></p>
<p>Please Add Info</p>

<p>


</p>