
<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td />
<td><a href="http://wiki.seloc.org/a/S2_Wheel_Options#OZ_Racing" title="S2 Wheel Options">OZ Racing</a></td>
<td><a href="http://wiki.seloc.org/a/S2_Wheel_Options#Rimstock_6-spoke" title="S2 Wheel Options">Standard S2</a></td>
<td>Standard S1</td></tr>
<tr>
<td><a href="#AO48_LTS">Yokohama AO48</a></td>
<td>Yes</td>
<td />
<td></td></tr>
<tr>
<td><a href="#AD07_LTS">Yokohama AD07</a></td>
<td />
<td>Yes</td>
<td></td></tr>
<tr>
<td><a href="#RE040">Bridgestone RE040</a></td>
<td />
<td>Yes </td>
<td></td></tr></table></div>


<p><b>Please add knowledge, its easy just press edit</b></p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<ul>
<li class="toclevel-1"><a href="#Elise_S1">Elise S1</a>
</li>
<li class="toclevel-1"><a href="#340R">340R</a>
</li>
<li class="toclevel-1"><a href="#S1_Exige">S1 Exige</a>
</li>
<li class="toclevel-1"><a href="#S2_Elise">S2 Elise</a>
</li>
<li class="toclevel-1"><a href="#Sport_135_and_Lotus_Sport_111_versions">Sport 135 and Lotus Sport 111 versions</a>
</li>
<li class="toclevel-1"><a href="#Elise_111R.2FExige_S2.2FUSA_Elise">Elise 111R/Exige S2/USA Elise</a>
</li>
</ul>
<li class="toclevel-1"><a href="#Manufacturers">Manufacturers</a>
<ul>
<li class="toclevel-2"><a href="#Yokohama">Yokohama</a>
<ul>
<li class="toclevel-3"><a href="#Advan_Neova_AD05.2FAD06_LTS">Advan Neova AD05/AD06 LTS</a>
</li>
<li class="toclevel-3"><a href="#AD07_LTS">AD07 LTS</a>
</li>
<li class="toclevel-3"><a href="#AO38_LTS">AO38 LTS</a>
</li>
<li class="toclevel-3"><a href="#AO48_LTS">AO48 LTS</a>
</li>
<li class="toclevel-3"><a href="#C-Drive">C-Drive</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Bridgestone">Bridgestone</a>
<ul>
<li class="toclevel-3"><a href="#RE040">RE040</a>
</li>
<li class="toclevel-3"><a href="#RE050">RE050</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Dunlop">Dunlop</a>
<ul>
<li class="toclevel-3"><a href="#SP9000">SP9000</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Toyo">Toyo</a>
<ul>
<li class="toclevel-3"><a href="#Proxes_T1-R">Proxes T1-R</a>
</li>
<li class="toclevel-3"><a href="#Proxes_R1R">Proxes R1R</a>
</li>
<li class="toclevel-3"><a href="#Proxes_R888">Proxes R888</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Kumho">Kumho</a>
<ul>
<li class="toclevel-3"><a href="#Ecsta_V700">Ecsta V700</a>
</li>
<li class="toclevel-3"><a href="#Ecsta_Sport_KU31">Ecsta Sport KU31</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Hankook">Hankook</a>
<ul>
<li class="toclevel-3"><a href="#Ventus_RS-2">Ventus RS-2</a>
</li>
</ul>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#What_do_the_Treadwear.2C_Traction_and_Temperature_markings_mean.3F">What do the Treadwear, Traction and Temperature markings mean?</a>
</li>
<li class="toclevel-1"><a href="#The_LAW_.26_your_tyres">The LAW &#38; your tyres</a>
</li>
<li class="toclevel-1"><a href="#Tyre_Links">Tyre Links</a>
</li>
<li class="toclevel-1"><a href="#Tyre_options_-_the_opinions">Tyre options - the opinions</a>
</li>
<li class="toclevel-1"><a href="#Car.2Ftyre_Details:-_S2_111s.2FBridgestone_RE040">Car/tyre Details:- S2 111s/Bridgestone RE040</a>
<ul>
<li class="toclevel-2"><a href="#Rating:-">Rating:-</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Car.2Ftyre_Details:-_S2_111s.2FToyo_T1-R">Car/tyre Details:- S2 111s/Toyo T1-R</a>
<ul>
<li class="toclevel-2"><a href="#Rating:-_2">Rating:-</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Car.2Ftyre_Details:-_S2_135R.2FToyo_T1-R">Car/tyre Details:- S2 135R/Toyo T1-R</a>
<ul>
<li class="toclevel-2"><a href="#Rating:-_3">Rating:-</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Car.2Ftyre_Details:-_S2_111s.2FToyo_R888">Car/tyre Details:- S2 111s/Toyo R888</a>
<ul>
<li class="toclevel-2"><a href="#Rating:-_4">Rating:-</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Car.2Ftyre_Details:-_S2_135R.2FYokohama_A048_LTS">Car/tyre Details:- S2 135R/Yokohama A048 LTS</a>
<ul>
<li class="toclevel-2"><a href="#Rating:-_5">Rating:-</a>
</li>
</ul>
</li>
</ul>
</ul></td></tr></table><hr/>
<h3><span class="mw-headline" id="Elise_S1">Elise S1</span></h3>

<p>Single piece, light alloy roadwheels, in various styles, were fitted with Pirelli P Zero tyres, engineered to
provide the optimum balance of ride and handling characteristics. Pirelli P Zero are the recommended tyres for use on the vehicle under normal road conditions.</p>
<p>Note that the tyre tread pattern is asymmetric with the tyre sidewalls marked ‘Inner’ and ‘Outer’; check that replacement tyres are correctly fitted. 
Part of the tread pattern is also directional in appearance, but the direction of rotation has no bearing on the tyre performance.</p>
<p>Pirelli have ceased manufacture of the P Zero (Nov 2007) and Group Lotus now recommend the Yokohama C-Drive. Note that the only way to mix tyres is with a pair of P Zeros on the front and a pair of C-Drives on the back. Details are on the Lotus web site at <a class="external free" href="http://www.grouplotus.com/media/car/doc/Wheels%20&#38;%20Tyres_Website.pdf" rel="nofollow">http://www.grouplotus.com/media/car/doc/Wheels%20&#38;%20Tyres_Website.pdf</a></p>
<p>In order to give S1 Elise owners an alternative tyre choice with an emphasis on track performance,
Yokohama and Lotus jointly developed the Advan Neova tyre.
This construction, which is not generallyavailable in Europe, features an assymetric directional tread pattern with special attention having been
paid during development to provide improvements in vehicle balance, wet grip and comfort without sacrificing general agility.
Sizes are 195/50x15 front, and 225/45x16 rear, to fit standard Elise roadwheels.</p>
<p>Tyres may be ordered through Lotus dealers and should be fitted in complete vehicle sets. 
Note that the increased width of the front tyre (standard = 185/55 R15) requires that an extension lip be applied around the front wheelarch to provide the necessary tyre coverage - see your dealer.
Since these tyres have not been homologated in all territories, customers should check the legality of these tyres with the appropriate authorities in their country of residence.</p>
<p>Various wheel types have been used.
The first cars were fitted with wheels having 5 split-spokes made by AWI, which wheels are now no longer available. 
These wheels were replaced in April ’99 by a 12 spoke design made by Rimstock, 
whilst the 111S model featured a 6 spoke design by O.Z. with ½” wider (7.5J) rear rims. The Sport 160 used wider ‘Victory’ wheels with 6J and 8J rims.</p>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td><b>S1 Tyre Options</b></td>
<td><b>185/55 R15</b></td>
<td><b>195/50 R15</b></td>
<td><b>205/50 R16</b></td>
<td><b>225/45 R16</b></td></tr>
<tr>
<td>Toyo T1-R</td>
<td>Yes</td>
<td>Yes</td>
<td>Yes</td>
<td>Yes</td></tr>
<tr>
<td>Yokohama C-Drive</td>
<td>Yes</td>
<td />
<td>Yes</td>
<td></td></tr>
<tr>
<td>Yokohama Advan Neova LTS</td>
<td />
<td>Yes </td>
<td />
<td>Yes </td></tr>
<tr>
<td>Yokohama A048</td>
<td />
<td>Yes </td>
<td />
<td>Yes </td></tr>
<tr>
<td>Hankook RS-2</td>
<td />
<td>Yes </td>
<td />
<td>Yes </td></tr>
<tr>
<td>Toyo R888</td>
<td />
<td>Yes </td>
<td />
<td>Yes </td></tr>
<tr>
<td>Dunlop SP9000</td>
<td />
<td>Yes </td>
<td />
<td>Yes </td></tr>
<tr>
<td>Falken Ziex ZE-512</td>
<td>Yes</td>
<td>Yes</td>
<td>Yes</td>
<td>Yes </td></tr>
<tr>
<td>Kumho Ecsta Sport KU31</td>
<td>Yes </td>
<td>Yes </td>
<td>Yes </td>
<td>Yes</td></tr>
<tr>
<td>Bridgestone Potenza RE050 </td>
<td />
<td />
<td>Yes </td>
<td /></tr></table></div>


<ul>
<li>From sizes offered by <a class="external text" href="http://www.blackcircles.com/" rel="nofollow">BlackCircles</a>, <a class="external text" href="http://www.event-tyres.co.uk/" rel="nofollow">Event Tyres</a>, <a class="external text" href="http://www.camskill.co.uk/" rel="nofollow">Camskill</a> or the manufactures website. </li>
</ul>


<p><b>Tyre Pressure(when cold): Front(185/195) 1,6Bar. Rear(205) 1,7Bar. (225) 1,9Bar</b></p>
<h3><span class="mw-headline" id="340R">340R</span></h3>

<p>were fitted with beither 10 spoke magnesium wheels by Tecnomagesio, or 10 spoke alloy wheels by Rimstock, but both wheel types required 6mm longer wheel studs.
Track biased Yokohama A038-R tyres were used. </p>
<h3><span class="mw-headline" id="S1_Exige">S1 Exige</span></h3>

<p>used Rimstock 12 spoke wheels larger in diameter and width than the Elise, and fitted with Lotus specification Yokohama A039 tyres.
These Exige wheels use 60 degree taper wheelnuts as opposed to the spherical seat nuts used on other Elise variants.</p>
<p><b>Tyre Pressure(When Cold): Front 1,6Bar Rear 1,8Bar</b></p>
<h3><span class="mw-headline" id="S2_Elise">S2 Elise</span></h3>

<p>Lotus engineers have worked with the tyre manufacturer Bridgestone, to produce a version of the
‘Potenza’ tyre specifically for the ‘Mk.2’ Elise, to optimise performance on both road and track.
This tyre is identified by the construction code element of the DOT code moulded on one of the tyre sidewalls, and it
is most important that ONLY this version is fitted if the correct handling characteristics are to be maintained.
The rear tyre is NOT the same as fitted to Opel Speedster/Vauxhall VX220. </p>
<p>Lotus front tyre code; CFE.</p>
<p>Lotus rear tyre code; DCK.</p>

<p><a class="external text" href="http://arc.seloc.org/viewthread.php?tid=107800" rel="nofollow">Yoko AD 07&#39;s v Bridgestone RE040</a></p>
<p>The S2 Elise uses different hubs from the S1, with roadwheels having a larger diameter and PCD, such
that there is no interchangeability between models. Rimstock wheels with both 6 and 8 spoke designs have been used, both of which are retained with four conical wheelbolts.
Some 8 spoke wheels are
finished in ‘high power silver’ which can be very difficult to shade match.</p>
<p><b>Tyre Pressure(When cold): Front 1,8Bar (26 psi) Rear 2,0Bar (29 psi)</b></p>
<h3><span class="mw-headline" id="Sport_135_and_Lotus_Sport_111_versions">Sport 135 and Lotus Sport 111 versions</span></h3>

<p>use Yokohama A048 tyres mounted on 16 spoke O.Z. roadwheels in conjunction with sports suspension. 
The wider front tyre (195/50) is fitted on a wider front wheel rim. Lotus approves of this tyre fitment only as part of the complete Sport 135R/111 package.
The tyres should not be fitted on standard specification wheels, or with standard suspension.</p>

<h3><span class="mw-headline" id="Elise_111R.2FExige_S2.2FUSA_Elise">Elise 111R/Exige S2/USA Elise</span></h3>

<p>The 111R originally used the same Bridgestone Potenza RE040 tyres as ‘Mk.2’ Elise, but re-classified to ‘W’
speed rating.  However following the release of the Federal (USA) Elise UK cars are now fitted with the Yokohama Neova AD07 tyres.</p>
<p>The S2 Exige uses the Yokohama A048 tyres as used on Sport 135R/111. </p>
<p>USA Elise are fitted with specially developed Yokohama Neova AD07 tyres.</p>
<p>Standard Elise roadwheels are the same style and rim diameters as on ‘Mk.2’ cars, but the rear wheels
have a greater inset to accommodate the repositioned suspension pick up points, and the front wheels
have been re-classified to a higher load rating.</p>
<p>Exige models use a unique 8 twin spoke design, with a wider front rim (6.5J compared with 6J for the Elise) for the A048 tyres.  The Yokohama AD07 tyres (175mm width) are not recommended for the Exige wheels.  A number of SELOC members have written to Lotus Cars to request the AD07 be made available in a 195mm width to provide a more road biased option than the AO48.</p>
<p>Fitting wheel and tyre configurations not tested or approved by Lotus can result in chassis or body foul,
adversely affecting handling or braking, wheel security or other dangerous conditions and should not be attempted without expert advice.</p>
<h2><span class="mw-headline" id="Manufacturers">Manufacturers</span></h2>
<h3><span class="mw-headline" id="Yokohama">Yokohama</span></h3>
<h4><span class="mw-headline" id="Advan_Neova_AD05.2FAD06_LTS">Advan Neova AD05/AD06 LTS</span></h4>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:LTS.jpg" title="Yokohama Advan Neova LTS"><img src="LTS.jpg" alt="Yokohama Advan Neova LTS" title="Yokohama Advan Neova LTS" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Yokohama Advan Neova LTS</div></div>
</div>


<h4><span class="mw-headline" id="AD07_LTS">AD07 LTS</span></h4>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:ADO7.JPG" title="Yokohama AD07 LTS These are 111R OEM"><img src="ADO7.JPG" alt="Yokohama AD07 LTS These are 111R OEM" title="Yokohama AD07 LTS These are 111R OEM" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Yokohama AD07 LTS These are 111R OEM</div></div>
</div>


<h4><span class="mw-headline" id="AO38_LTS">AO38 LTS</span></h4>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:AO38.JPG" title="Yokohama AO38 LTS These are 340R (195/50 R15 82V,225/45 R16 89W) OEM and for Superior S1 grip"><img src="AO38.JPG" alt="Yokohama AO38 LTS These are 340R (195/50 R15 82V,225/45 R16 89W) OEM and for Superior S1 grip" title="Yokohama AO38 LTS These are 340R (195/50 R15 82V,225/45 R16 89W) OEM and for Superior S1 grip" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Yokohama AO38 LTS These are 340R (195/50 R15 82V,225/45 R16 89W) OEM and for Superior S1 grip</div></div>
</div>


<h4><span class="mw-headline" id="AO48_LTS">AO48 LTS</span></h4>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:AO48.JPG" title="Yokohama AO48 LTS These are S2 135R, S2 Sport 190 and S2 Exige OEM(195/50 R16 84V,225/45 R17 90W)"><img src="AO48.JPG" alt="Yokohama AO48 LTS These are S2 135R, S2 Sport 190 and S2 Exige OEM(195/50 R16 84V,225/45 R17 90W)" title="Yokohama AO48 LTS These are S2 135R, S2 Sport 190 and S2 Exige OEM(195/50 R16 84V,225/45 R17 90W)" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Yokohama AO48 LTS These are S2 135R, S2 Sport 190 and S2 Exige OEM(195/50 R16 84V,225/45 R17 90W)</div></div>
</div>


<h4><span class="mw-headline" id="C-Drive">C-Drive</span></h4>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Cdrive.jpg" title="Yokohama C-Drive Current S1 replacement Tyre 185/55R15, 205/55R16"><img src="Cdrive.jpg" alt="Yokohama C-Drive Current S1 replacement Tyre 185/55R15, 205/55R16" title="Yokohama C-Drive Current S1 replacement Tyre 185/55R15, 205/55R16" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Yokohama C-Drive Current S1 replacement Tyre 185/55R15, 205/55R16</div></div>
</div>


<h3><span class="mw-headline" id="Bridgestone">Bridgestone</span></h3>
<h4><span class="mw-headline" id="RE040">RE040</span></h4>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:RE040.jpg" title="Bridgestone RE040 LTS S2 K-Series OEM"><img src="RE040.jpg" alt="Bridgestone RE040 LTS S2 K-Series OEM" title="Bridgestone RE040 LTS S2 K-Series OEM" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Bridgestone RE040 LTS S2 K-Series OEM</div></div>
</div>


<h4><span class="mw-headline" id="RE050">RE050</span></h4>
<p>Bridgestone Potenza RE050 Fit for S1 rears only in 205/50/16</p>
<h3><span class="mw-headline" id="Dunlop">Dunlop</span></h3>
<h4><span class="mw-headline" id="SP9000">SP9000</span></h4>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:SP9000.JPG" title="SP9000&#39;s"><img src="SP9000.JPG" alt="SP9000&#39;s" title="SP9000&#39;s" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">SP9000&#39;s</div></div>
</div>


<h3><span class="mw-headline" id="Toyo">Toyo</span></h3>
<h4><span class="mw-headline" id="Proxes_T1-R">Proxes T1-R</span></h4>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:TR1.JPG" title="T1-R&#39;s"><img src="TR1.JPG" alt="T1-R&#39;s" title="T1-R&#39;s" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">T1-R&#39;s</div></div>
</div>

<h4><span class="mw-headline" id="Proxes_R1R">Proxes R1R</span></h4>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:R1R.JPG" title="R1R&#39;s"><img src="R1R.JPG" alt="R1R&#39;s" title="R1R&#39;s" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">R1R&#39;s</div></div>
</div>

<h4><span class="mw-headline" id="Proxes_R888">Proxes R888</span></h4>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:888s.JPG" title="R888&#39;s"><img src="888s.JPG" alt="R888&#39;s" title="R888&#39;s" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">R888&#39;s</div></div>
</div>


<h3><span class="mw-headline" id="Kumho">Kumho</span></h3>
<h4><span class="mw-headline" id="Ecsta_V700">Ecsta V700</span></h4>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:ImgTyrV70A.gif" title="Kumho Ecsta V700"><img src="ImgTyrV70A.gif" alt="Kumho Ecsta V700" title="Kumho Ecsta V700" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Kumho Ecsta V700</div></div>
</div>



<h4><span class="mw-headline" id="Ecsta_Sport_KU31">Ecsta Sport KU31</span></h4>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:ImgTyrV701A.jpg" title="Ecsta Sport KU31 15R50/195: 8,8kg, 16R45/225 9,2Kg"><img src="ImgTyrV701A.jpg" alt="Ecsta Sport KU31 15R50/195: 8,8kg, 16R45/225 9,2Kg" title="Ecsta Sport KU31 15R50/195: 8,8kg, 16R45/225 9,2Kg" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Ecsta Sport KU31 15R50/195: 8,8kg, 16R45/225 9,2Kg</div></div>
</div>

<p><a class="external text" href="http://www.kumhotire.com/tire/tire_detail.jsp?prdt_id=16" rel="nofollow">Kumho KU31 product page</a></p>
<p>Treadwear 320 Traction AA Temperature A</p>
<p>Tread depth new 8mm</p>

<p>Approximate cost (May 2008):</p>
<p>195/50R15 £45ea, fitted. 
225/45R16  £61ea, fitted. </p>


<h3><span class="mw-headline" id="Hankook">Hankook</span></h3>
<h4><span class="mw-headline" id="Ventus_RS-2">Ventus RS-2</span></h4>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:VENTUSRS-2Z212.jpg" title="Ventus RS-2 Z212"><img src="VENTUSRS-2Z212.jpg" alt="Ventus RS-2 Z212" title="Ventus RS-2 Z212" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Ventus RS-2 Z212</div></div>
</div>



<h2><span class="mw-headline" id="What_do_the_Treadwear.2C_Traction_and_Temperature_markings_mean.3F">What do the Treadwear, Traction and Temperature markings mean?</span></h2>

<p>These makings are to satisfy the U.S. Department of Transportation (DOT) National Highway Traffic Safety Administration&#39;s (NHTSA) Uniform Tire Quality Grade Standards (UTQG).  Only passenger car tyres sold in the U.S.A. market are required to have UTQG markings.</p>

<p><b>Treadwear</b></p>
<p>The treadwear grade is a comparative rating based on the wear rate of the tire when tested under controlled conditions on a specified government test track. A tire graded 200 would wear twice as long on the government test course under specified test conditions as one graded 100. </p>
<p>Treadwear should not be used in comparison between different tyre manufactures because each manufacturer may use a different base figure.  </p>

<p><b>Traction</b></p>
<p>Traction grades, from highest to lowest, are AA, A, B and C. They represent the tire&#39;s ability to stop on wet pavement as measured under controlled conditions on specified government test surfaces of asphalt and concrete.</p>

<p><b>Temperature</b></p>
<p>This rating grades a tyres ability to dissipate heat when tested under controlled conditions on a specified indoor laboratory test wheel.  The temperature grades from highest to lowest, are A, B and C. These represent the tire&#39;s resistance to the generation of heat.  </p>

<h2><span class="mw-headline" id="The_LAW_.26_your_tyres">The LAW &#38; your tyres</span></h2>


<p><a class="image" href="http://wiki.seloc.org/a/Image:Tyrelawdepth1.gif" ><img src="Tyrelawdepth1.gif" width="220" />
</a></p>

<p>Sources:</p>
<p><a class="external text" href="http://en.wikipedia.org/wiki/UTQG" rel="nofollow">Wikipedia UTQG</a></p>
<p><a class="external text" href="http://www.toyo.com.au/tech_info4.html" rel="nofollow">Toyo Technical Information Issue #4</a></p>
<p><a class="external text" href="http://www.cars101.com/subaru/tiresandwheels.html#UTQGS" rel="nofollow">Understanding Tyres and Wheels, cars101.com</a></p>
<h2><span class="mw-headline" id="Tyre_Links">Tyre Links</span></h2>
<p><a class="external text" href="http://en.wikipedia.org/wiki/Car_tyre" rel="nofollow">Wikipedia on Tyres</a></p>
<p><a class="external text" href="http://www.carbibles.com/tyre_bible.html" rel="nofollow">The Wheel and Tyre Bible</a></p>
<p><a class="external text" href="http://www.bridgestone.co.uk/" rel="nofollow">Bridgestone UK</a></p>
<p><a class="external text" href="http://www.toyo.co.uk/" rel="nofollow">Toyo Tyres UK</a></p>
<p><a class="external text" href="http://www.yokohamatire.com/" rel="nofollow">Yokohama Tyres</a></p>
<p><a class="external text" href="http://www.kumhotire.com/tire/tire_main.jsp" rel="nofollow">Kumho Global Tyre Range</a></p>
<h2><span class="mw-headline" id="Tyre_options_-_the_opinions"><b>Tyre options - the opinions</b></span></h2>


<p>Unfortunately tyres are a matter of opinion, subjective at that, and suitability for the user. However you have to bear in mind that you cannot readily &#34;try before you buy&#34; so this section has been added to give the heads up on tyre choice. Please note they are only for guidance and other opinions and tyres are available ! Your feedback will be appreciated.</p>
<p>If you want to add a review then please do - data sourced from the following thread.</p>
<p><a class="external free" href="http://forums.seloc.org/viewthread.php?tid=99391" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=99391</a></p>
<h2><span class="mw-headline" id="Car.2Ftyre_Details:-_S2_111s.2FBridgestone_RE040">Car/tyre Details:- S2 111s/Bridgestone RE040</span></h2>


<p><b>Driver:</b> Lotusnick</p>
<p><b>Model:</b> S2 111s</p>
<p><b>Tyre Brand:</b> Bridgestone</p> 
<p><b>Tyre Model:</b> RE040</p>
<p><b>Size/rating:</b> 175/55/16 - 225/45/17</p>
<p><b>Wheel option:</b> STD 111s</p>
<p><b>Suspension:</b> Ohlins Road &#38; Track</p>


<h3><span class="mw-headline" id="Rating:-">Rating:-</span></h3>


<p><b>Dry Grip:</b> 3</p>
<p><b>Wet Grip:</b> 3</p>
<p><b>Life:</b> 4</p>
<p><b>On limit predictability:</b> 5</p>
<p><b>Value for money:</b> 5</p>

<p><b>Comment:</b>
Decent grip in all conditions and suit the steering and balance of the car. The skinny fronts make braking on the limit tricky</p>
<h2><span class="mw-headline" id="Car.2Ftyre_Details:-_S2_111s.2FToyo_T1-R">Car/tyre Details:- S2 111s/Toyo T1-R</span></h2>


<p><b>Driver:</b> Lotusnick</p>
<p><b>Model:</b> S2 111s</p>
<p><b>Tyre Brand:</b> Toyo</p>
<p><b>Tyre Model:</b> T1-R</p>
<p><b>Size/rating:</b> 185/50/16 - 225/45/17</p>
<p><b>Wheel option:</b> STD 111s</p>
<p><b>Suspension:</b> Ohlins Road &#38; Track</p>

<h3><span class="mw-headline" id="Rating:-_2">Rating:-</span></h3>

<p><b>Dry Grip:</b> 3</p>
<p><b>Wet Grip:</b> 4</p>
<p><b>Life:</b> 5</p>
<p><b>On limit predictability:</b> 5</p>
<p><b>Value for money:</b> 5</p>
<p><b>Comment:</b>
Very soft sidewalls, that improve the ride but remove most of the directness and the steering feel from the Elise. Quite decent on wet and dry grip, with better braking than the skinny 175 Bridgestones.</p>
<h2><span class="mw-headline" id="Car.2Ftyre_Details:-_S2_135R.2FToyo_T1-R">Car/tyre Details:- S2 135R/Toyo T1-R</span></h2>


<p><b>Driver:</b> Lawrence5</p>
<p><b>Model:</b> S2 135R</p>
<p><b>Tyre Brand:</b> Toyo</p>
<p><b>Tyre Model:</b> T1-R</p>
<p><b>Size/rating:</b> 195/50/16 - 225/45/17</p>
<p><b>Wheel option:</b> OZ’s</p>
<p><b>Suspension:</b> Lotus Sport Suspension</p>

<h3><span class="mw-headline" id="Rating:-_3">Rating:-</span></h3>

<p><b>Dry Grip:</b> 3</p>
<p><b>Wet Grip:</b> 4</p>
<p><b>Life:</b> 5</p>
<p><b>On limit predictability:</b> 5</p>
<p><b>Value for money:</b> 4</p>
<p><b>Comment:</b>
Destroyed the ride to the point of often feeling sick over undulating surfaces. Very soft sidewalls rob a bit of steering feel and initial turn in. Well balanced front to back running 24psi /26psi. Acceptable dry grip but real gain is in the wet and cold coming over from A048’s. Bargain price makes them a good winter/commute choice – esp if you have a 2nd set of rims for spirited driving.</p>
<h2><span class="mw-headline" id="Car.2Ftyre_Details:-_S2_111s.2FToyo_R888">Car/tyre Details:- S2 111s/Toyo R888</span></h2>


<p><b>Driver:</b> Lotusnick</p>
<p><b>Model:</b> S2 111s</p>
<p><b>Tyre Brand:</b> Toyo</p>
<p><b>Tyre Model:</b> R888</p>
<p><b>Size/rating:</b> 195/50/16 - 225/45/17</p>
<p><b>Wheel option:</b> STD 111s</p>
<p><b>Suspension:</b> Bespoke Ohlins</p>

<h3><span class="mw-headline" id="Rating:-_4">Rating:-</span></h3>

<p><b>Dry Grip:</b> 5</p>
<p><b>Wet Grip:</b> 4</p>
<p><b>Life:</b> 3</p>
<p><b>On limit predictability:</b> 3</p>
<p><b>Value for money:</b> 5</p>

<p><b>Comment:</b>
A Semislick that has awesome grip in the dry and better than expected grip in wet conditions. Demands some respect in very wet/cold weather as would any tyre. Good value for money, compared to AO48&#39;s</p>
<h2><span class="mw-headline" id="Car.2Ftyre_Details:-_S2_135R.2FYokohama_A048_LTS">Car/tyre Details:- S2 135R/Yokohama A048 LTS</span></h2>


<p><b>Driver:</b> Lawrence5</p>
<p><b>Model:</b> S2 135R</p>
<p><b>Tyre Brand:</b> Yokohama</p>
<p><b>Tyre Model:</b> A048 LTS</p>
<p><b>Size/rating:</b> 195/50/16 - 225/45/17</p>
<p><b>Wheel option:</b> OZ’s</p>
<p><b>Suspension:</b> Lotus Sport Suspension</p>

<h3><span class="mw-headline" id="Rating:-_5">Rating:-</span></h3>

<p><b>Dry Grip:</b> 5</p>
<p><b>Wet Grip:</b> 2</p>
<p><b>Life:</b> 2</p>
<p><b>On limit predictability:</b> 3</p>
<p><b>Value for money:</b> 3</p>

<p><b>Comment:</b>
Unbelievable dry grip on smooth tarmac but the flip side being the price especially when they only come with 6mm of tread from new. Not too bad in damp conditions but focused tread pattern means they are often overwhelmed through standing water. Need warming through well before offering peak performance but I found rear griped hard and use of throttle can wash out the front though improved by running 23psi in the front. Fantastic for track and low mileage summer users but expensive to run daily and scary in the winter.</p>
<p>



</p>