<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Lotus.2FOEM">Lotus/OEM</a>
<ul>
<li class="toclevel-2"><a href="#Lotus_AWI_5-Spoke">Lotus AWI 5-Spoke</a>
</li>
<li class="toclevel-2"><a href="#Lotus_OZ_6-Spokes_.28111s.2C_JPS.2C_Type_.2749.27.29">Lotus OZ 6-Spokes (111s, JPS, Type &#39;49&#39;)</a>
</li>
<li class="toclevel-2"><a href="#Lotus_Rimstock_12-Spoke">Lotus Rimstock 12-Spoke</a>
</li>
<li class="toclevel-2"><a href="#Lotus_Victory_.28Sport160.29">Lotus Victory (Sport160)</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#S1_Exige">S1 Exige</a>
<ul>
<li class="toclevel-2"><a href="#Lotus_OEM">Lotus OEM</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#340R">340R</a>
<ul>
<li class="toclevel-2"><a href="#Lotus_OEM_Technomagnesium_.28UK.29">Lotus OEM Technomagnesium (UK)</a>
</li>
<li class="toclevel-2"><a href="#Lotus_OEM_Rimstock">Lotus OEM Rimstock</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Aftermarket">Aftermarket</a>
<ul>
<li class="toclevel-2"><a href="#Speedline_Corse_Magnesium">Speedline Corse Magnesium</a>
</li>
<li class="toclevel-2"><a href="#Dymag_Magnesium">Dymag Magnesium</a>
</li>
<li class="toclevel-2"><a href="#TMR_Forged_Alloy">TMR Forged Alloy</a>
</li>
<li class="toclevel-2"><a href="#SJR_12_Spoke_Forged_Alloy">SJR 12 Spoke Forged Alloy</a>
</li>
<li class="toclevel-2"><a href="#Rota_Slipstream">Rota Slipstream</a>
</li>
<li class="toclevel-2"><a href="#Compomotive_MO">Compomotive MO</a>
</li>
</ul>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Lotus.2FOEM">Lotus/OEM</span></h2>




<p><b>Please Add Your knowledge, Its Easy, Just Press <a class="external text" href="http://wiki.seloc.org/index.php?title=&#38;action=edit" rel="nofollow">EDIT</a></b></p>


<p>Alloy wheel weight is very important to the <a class="external text" href="http://en.wikipedia.org/wiki/Unsprung_weight" rel="nofollow">unsprung weight</a> of the car. </p>
<p>Stuck on what PCD or Centrebore means, <a class="external text" href="http://en.wikipedia.org/wiki/Wheel_sizing" rel="nofollow">read here</a>.</p>
<p>If you want different wheels to those listed below, you need pcd converting wheel-spacers like <a class="external text" href="http://www.eliseparts.com/shop/index.php?main_page=product_info&#38;cPath=165&#38;products_id=219" rel="nofollow">Hubcentric Wheel Adaptors.</a> as 4x100pcd is already relatively common.</p>
<p>What you need is simple wheel spacers in 4x100pcd, centre bore 56.6 to make the offset a little more common. These spacers would fit Vauxhall Corsa, Astra F&#38;G, Tigra, Vectra + OPEL Ascona and are therefore pretty easy to come by and quite cheap.  <a class="external text" href="http://www.performancefx.net/wsvauxhall.htm" rel="nofollow">example of cheap spacers</a></p>


<h3><span class="mw-headline" id="Lotus_AWI_5-Spoke">Lotus AWI 5-Spoke</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver" width="100pt">Front </td>
<td width="100pt" />
<td style="background:silver" width="100pt">Rear </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:5spoke.jpg" title="S1 5 Spoke OEM Wheels"><img src="5spoke.jpg" alt="S1 5 Spoke OEM Wheels" title="S1 5 Spoke OEM Wheels" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">S1 5 Spoke OEM Wheels</div></div>
</div>
 </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:5spok.jpg" title="S1 5 Spoke OEM Wheels"><img src="5spok.jpg" alt="S1 5 Spoke OEM Wheels" title="S1 5 Spoke OEM Wheels" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">S1 5 Spoke OEM Wheels</div></div>
</div>
 </td>
<td colspan="9">OEM S1 wheels.
Lotus Part Numbers:

Front: A111G0004F

Rear:  A111G0005F</td></tr>
<tr>
<td>5.5J x 15</td>
<td style="background:silver">Size</td>
<td>7.0J x 16</td></tr>
<tr>
<td>ET14</td>
<td style="background:silver">Offset</td>
<td>ET16</td></tr>
<tr>
<td>95.25 </td>
<td style="background:silver">PCD</td>
<td>95.25 </td></tr>
<tr>
<td>?</td>
<td style="background:silver">Center Bore</td>
<td>?</td></tr>
<tr>
<td>7.10kg</td>
<td style="background:silver">Weight</td>
<td>8.80kg</td></tr>
<tr>
<td>185/55R15 (can be used with 195/50R15)</td>
<td style="background:silver">Tyre size</td>
<td>205/50ZR16 (can be used with 225/45ZR16)</td></tr>
<tr>
<td style="background:silver">Price</td>
<td colspan="2">Not available anymore </td>
<th>!</th></tr>
<tr>
<td style="background:silver">Web</td>
<td colspan="2">[ Click for external link]</td></tr></table></div>

<h3><span class="mw-headline" id="Lotus_OZ_6-Spokes_.28111s.2C_JPS.2C_Type_.2749.27.29">Lotus OZ 6-Spokes (111s, JPS, Type &#39;49&#39;)</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver" width="100pt">Front </td>
<td width="100pt" />
<td style="background:silver" width="100pt">Rear </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:6spoke.jpg" title="S1 6 spoke OEM"><img src="6spoke.jpg" alt="S1 6 spoke OEM" title="S1 6 spoke OEM" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">S1 6 spoke OEM</div></div>
</div>
 </td>
<td rowspan="9" />
<td colspan="9">OEM S1 wheels. 
111s are silver. JPS and Type &#39;49&#39; are gold

Lotus Part Numbers:

Front: A111G0013F (111s), A111G0029F (JPS, Type 49)

Rear: A111G0012F (111s), A111G0031F (JPS, Type 49)</td></tr>
<tr>
<td>5.5J x 15</td>
<td style="background:silver">Size</td>
<td>7.5J x 16</td></tr>
<tr>
<td>ET14</td>
<td style="background:silver">Offset</td>
<td>ET10</td></tr>
<tr>
<td>95.25</td>
<td style="background:silver">PCD</td>
<td>95.25</td></tr>
<tr>
<td>?</td>
<td style="background:silver">Center Bore</td>
<td>?</td></tr>
<tr>
<td>6.95kg</td>
<td style="background:silver">Weight</td>
<td>9.40kg</td></tr>
<tr>
<td>185/55R15(Ex factory) 195/50R15(Alternative fitment such as Neova LTS)</td>
<td style="background:silver">Tyre size</td>
<td>225/45ZR16</td></tr>
<tr>
<td style="background:silver">Price</td>
<td colspan="2">£1200 approx.</td></tr>
<tr>
<td style="background:silver">Web</td>
<td colspan="2">[ Click for external link]</td></tr></table></div>

<h3><span class="mw-headline" id="Lotus_Rimstock_12-Spoke">Lotus Rimstock 12-Spoke</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver" width="100pt">Front </td>
<td width="100pt" />
<td style="background:silver" width="100pt">Rear </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:12spoke.jpg" title="S1 12 Spoke OEM Wheel"><img src="12spoke.jpg" alt="S1 12 Spoke OEM Wheel" title="S1 12 Spoke OEM Wheel" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">S1 12 Spoke OEM Wheel</div></div>
</div>
 </td>
<td rowspan="9" />
<td colspan="9">OEM S1 wheels.
Lotus Part Numbers:

Front: A111G6040F

Rear: A111G6041F</td></tr>
<tr>
<td>5.5J x 15</td>
<td style="background:silver">Size</td>
<td>7.0J x 16</td></tr>
<tr>
<td>ET14</td>
<td style="background:silver">Offset</td>
<td>ET16</td></tr>
<tr>
<td>95.25 </td>
<td style="background:silver">PCD</td>
<td>95.25</td></tr>
<tr>
<td>?</td>
<td style="background:silver">Center Bore</td>
<td>?</td></tr>
<tr>
<td>7.56kg</td>
<td style="background:silver">Weight</td>
<td>8.62kg</td></tr>
<tr>
<td>185/55 R15 (Factory fit) (can be used with 195/50 R15)</td>
<td style="background:silver">Tyre size</td>
<td>205/50 R16 (Factory fit) (can be used with 225/45 R16)</td></tr>
<tr>
<td style="background:silver">Price</td>
<td colspan="2">About £1200</td></tr>
<tr>
<td style="background:silver">Web</td>
<td colspan="2">[ Click for external link]</td></tr></table></div>

<h3><span class="mw-headline" id="Lotus_Victory_.28Sport160.29">Lotus Victory (Sport160)</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver" width="100pt">Front </td>
<td width="100pt" />
<td style="background:silver" width="100pt">Rear </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:silvervictories.jpg" title="S1 160 OEM Wheel"><img src="silvervictories.jpg" alt="S1 160 OEM Wheel" title="S1 160 OEM Wheel" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">S1 160 OEM Wheel</div></div>
</div>
 </td>
<td rowspan="9" />
<td colspan="9">OEM S1 wheels.
Lotus Part Numbers:

Front: A111G6032S (Grey), A111G6030S (Silver)

Rear: A111G6033S (Grey), A111G6031S (Silver)</td></tr>
<tr>
<td>6.0J x 15</td>
<td style="background:silver">Size</td>
<td>8.0J x 16</td></tr>
<tr>
<td>ET10</td>
<td style="background:silver">Offset</td>
<td>ET10</td></tr>
<tr>
<td>95.25 </td>
<td style="background:silver">PCD</td>
<td>95.25</td></tr>
<tr>
<td>?</td>
<td style="background:silver">Center Bore</td>
<td>?</td></tr>
<tr>
<td>8.32kg</td>
<td style="background:silver">Weight</td>
<td>10.0kg</td></tr>
<tr>
<td>195/50R15</td>
<td style="background:silver">Tyre size</td>
<td>225/45ZR16</td></tr>
<tr>
<td style="background:silver">Price</td>
<td colspan="2">complete set GBP 1240 (B&#38;C)</td></tr>
<tr>
<td style="background:silver">Web</td>
<td colspan="2">[ Click for external link]</td></tr></table></div>

<h2><span class="mw-headline" id="S1_Exige">S1 Exige</span></h2>

<h3><span class="mw-headline" id="Lotus_OEM">Lotus OEM</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver" width="100pt">Front </td>
<td width="100pt" />
<td style="background:silver" width="100pt">Rear </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:exw.jpg" title="OEM"><img src="exw.jpg" alt="OEM" title="OEM" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">OEM</div></div>
</div>
 </td>
<td rowspan="9" />
<td colspan="9">Lotus Part Numbers:

Front: A111G0042H

Rear:  A111G0043H</td></tr>
<tr>
<td>7J x 16</td>
<td style="background:silver">Size</td>
<td>8.5J x 17</td></tr>
<tr>
<td>ET7</td>
<td style="background:silver">Offset</td>
<td>ET5</td></tr>
<tr>
<td>95.25</td>
<td style="background:silver">PCD</td>
<td>95.25</td></tr>
<tr>
<td>?</td>
<td style="background:silver">Center Bore</td>
<td>?</td></tr>
<tr>
<td>~8.50kg</td>
<td style="background:silver">Weight</td>
<td>11.20kg</td></tr>
<tr>
<td>195/50 R16</td>
<td style="background:silver">Tyre size</td>
<td>225/45 R17</td></tr>
<tr>
<td style="background:silver">Price</td>
<td colspan="2">complete set inc VAT ???</td></tr>
<tr>
<td style="background:silver">Web</td>
<td colspan="2">[ Click for external link]</td></tr></table></div>

<h2><span class="mw-headline" id="340R">340R</span></h2>

<h3><span class="mw-headline" id="Lotus_OEM_Technomagnesium_.28UK.29">Lotus OEM Technomagnesium (UK)</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver" width="100pt">Front </td>
<td width="100pt" />
<td style="background:silver" width="100pt">Rear </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:MAG1.jpg" title="Technomagnesio only UK cars was offerd these as replacement for the rimstock"><img src="MAG1.jpg" alt="Technomagnesio only UK cars was offerd these as replacement for the rimstock" title="Technomagnesio only UK cars was offerd these as replacement for the rimstock" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Technomagnesio only UK cars was offerd these as replacement for the rimstock</div></div>
</div>
 </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:techmag.jpg" ><img src="techmag.jpg" class="type-thumb" width="220" />
</a></div>
</div>

</td>
<td>colspan=&#34;9&#34; | Lotus Part Numbers:

Front: A340G6002L

Rear:  A340G6003L</td></tr>
<tr>
<td>6JJ x 15</td>
<td style="background:silver">Size</td>
<td>8JJ x 16</td></tr>
<tr>
<td>10</td>
<td style="background:silver">Offset</td>
<td>10</td></tr>
<tr>
<td>95.25 </td>
<td style="background:silver">PCD</td>
<td>95.25</td></tr>
<tr>
<td>?</td>
<td style="background:silver">Center Bore</td>
<td>?</td></tr>
<tr>
<td>4.77kg</td>
<td style="background:silver">Weight</td>
<td>5.82kg</td></tr>
<tr>
<td>?</td>
<td style="background:silver">Tyre size</td>
<td>?</td></tr>
<tr>
<td style="background:silver">Price</td>
<td colspan="2">2000</td></tr>
<tr>
<td style="background:silver">Web</td>
<td colspan="2">[ Click for external link]</td></tr></table></div>

<h3><span class="mw-headline" id="Lotus_OEM_Rimstock">Lotus OEM Rimstock</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver" width="100pt">Front </td>
<td width="100pt" />
<td style="background:silver" width="100pt">Rear </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:MAG2.jpg" title="Rimstock Alloy (outside uk std) replacement delivery wheels when magwheels where in production"><img src="MAG2.jpg" alt="Rimstock Alloy (outside uk std) replacement delivery wheels when magwheels where in production" title="Rimstock Alloy (outside uk std) replacement delivery wheels when magwheels where in production" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Rimstock Alloy (outside uk std) replacement delivery wheels when magwheels where in production</div></div>
</div>

</td>
<td>rowspan=&#34;9&#34; | {{{image2}}} </td>
<td colspan="9">Lotus Part Numbers:

Front: 	A340G6004H

Rear:  	A340G6005H</td></tr>
<tr>
<td>6J15</td>
<td style="background:silver">Size</td>
<td>7.5J16</td></tr>
<tr>
<td>?</td>
<td style="background:silver">Offset</td>
<td>?</td></tr>
<tr>
<td>? </td>
<td style="background:silver">PCD</td>
<td>?</td></tr>
<tr>
<td>?</td>
<td style="background:silver">Center Bore</td>
<td>?</td></tr>
<tr>
<td>6.5</td>
<td style="background:silver">Weight</td>
<td>8.5</td></tr>
<tr>
<td>195/50/15</td>
<td style="background:silver">Tyre size</td>
<td>225/45/16</td></tr>
<tr>
<td style="background:silver">Price</td>
<td colspan="2">Not sold retail</td></tr>
<tr>
<td style="background:silver">Web</td>
<td colspan="2">[ Click for external link]</td></tr></table></div>

<h2><span class="mw-headline" id="Aftermarket">Aftermarket</span></h2>


<h3><span class="mw-headline" id="Speedline_Corse_Magnesium">Speedline Corse Magnesium</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver" width="100pt">Front </td>
<td width="100pt" />
<td style="background:silver" width="100pt">Rear </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:MAG.jpg" title="5 Spoke MAG Wheel"><img src="MAG.jpg" alt="5 Spoke MAG Wheel" title="5 Spoke MAG Wheel" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">5 Spoke MAG Wheel</div></div>
</div>
 </td>
<td rowspan="9" />
<td colspan="9">Lotus Part Numbers:

Front:?

Rear:?</td></tr>
<tr>
<td>6J x 15</td>
<td style="background:silver">Size</td>
<td>8J x 16</td></tr>
<tr>
<td>ET14</td>
<td style="background:silver">Offset</td>
<td>ET10</td></tr>
<tr>
<td>95.25 </td>
<td style="background:silver">PCD</td>
<td>95.25</td></tr>
<tr>
<td>?</td>
<td style="background:silver">Center Bore</td>
<td>?</td></tr>
<tr>
<td>5,5kg</td>
<td style="background:silver">Weight</td>
<td>7kg</td></tr>
<tr>
<td>185-195</td>
<td style="background:silver">Tyre size</td>
<td>225-245</td></tr>
<tr>
<td style="background:silver">Price</td>
<td colspan="2">1220</td></tr>
<tr>
<td style="background:silver">Web</td>
<td colspan="2">[ Click for external link]</td></tr></table></div>

<h3><span class="mw-headline" id="Dymag_Magnesium">Dymag Magnesium</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver" width="100pt">Front </td>
<td width="100pt" />
<td style="background:silver" width="100pt">Rear </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:DYMAG.jpg" title="5 Spoke MAG Wheel"><img src="DYMAG.jpg" alt="5 Spoke MAG Wheel" title="5 Spoke MAG Wheel" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">5 Spoke MAG Wheel</div></div>
</div>
 </td>
<td rowspan="9" />
<td colspan="9">Lotus Part Numbers:

Front:?

Rear:?</td></tr>
<tr>
<td>6J x 15</td>
<td style="background:silver">Size</td>
<td>8J x 16</td></tr>
<tr>
<td />
<td style="background:silver">Offset</td>
<td /></tr>
<tr>
<td>95.25 </td>
<td style="background:silver">PCD</td>
<td>95.25</td></tr>
<tr>
<td>?</td>
<td style="background:silver">Center Bore</td>
<td>?</td></tr>
<tr>
<td>4.9kg</td>
<td style="background:silver">Weight</td>
<td>5.9kg</td></tr>
<tr>
<td>185-195</td>
<td style="background:silver">Tyre size</td>
<td>225-245</td></tr>
<tr>
<td style="background:silver">Price</td>
<td colspan="2">1880 complete set inc VAT ???</td></tr>
<tr>
<td style="background:silver">Web</td>
<td colspan="2">[ Click for external link]</td></tr></table></div>

<h3><span class="mw-headline" id="TMR_Forged_Alloy">TMR Forged Alloy</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver" width="100pt">Front </td>
<td width="100pt" />
<td style="background:silver" width="100pt">Rear </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:TRM.jpg" title="Forged Alloy"><img src="TRM.jpg" alt="Forged Alloy" title="Forged Alloy" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Forged Alloy</div></div>
</div>
 </td>
<td rowspan="9" />
<td colspan="9">Lotus Part Numbers:

Front:?

Rear:?</td></tr>
<tr>
<td>7J x 15</td>
<td style="background:silver">Size</td>
<td>8J x 16</td></tr>
<tr>
<td>+12</td>
<td style="background:silver">Offset</td>
<td>+9</td></tr>
<tr>
<td>95.25 </td>
<td style="background:silver">PCD</td>
<td>95.25</td></tr>
<tr>
<td>?</td>
<td style="background:silver">Center Bore</td>
<td>?</td></tr>
<tr>
<td>4,65kg</td>
<td style="background:silver">Weight</td>
<td>5,85kg</td></tr>
<tr>
<td>185-195</td>
<td style="background:silver">Tyre size</td>
<td>225-245</td></tr>
<tr>
<td style="background:silver">Price</td>
<td colspan="2">2550 + VAT</td></tr>
<tr>
<td style="background:silver">Web</td>
<td colspan="2"><a class="external text" href="http://www.msar-safety.com/detail.asp?p=137&#38;o=S1_Elise_" rel="nofollow">(Car_Set_of4)_in_Black Click for external link</a></td></tr></table></div>

<h3><span class="mw-headline" id="SJR_12_Spoke_Forged_Alloy">SJR 12 Spoke Forged Alloy</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver" width="100pt">Front </td>
<td width="100pt" />
<td style="background:silver" width="100pt">Rear </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:EPW.jpg" title="12 Spoke EP Forge Alloy"><img src="EPW.jpg" alt="12 Spoke EP Forge Alloy" title="12 Spoke EP Forge Alloy" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">12 Spoke EP Forge Alloy</div></div>
</div>
 </td>
<td rowspan="9" />
<td colspan="9">Lotus Part Numbers:

Front:?

Rear:?</td></tr>
<tr>
<td>6,5J x 15</td>
<td style="background:silver">Size</td>
<td>8J x 16</td></tr>
<tr>
<td />
<td style="background:silver">Offset</td>
<td /></tr>
<tr>
<td>95.25 </td>
<td style="background:silver">PCD</td>
<td>95.25</td></tr>
<tr>
<td>?</td>
<td style="background:silver">Center Bore</td>
<td>?</td></tr>
<tr>
<td>5.70 Kg </td>
<td style="background:silver">Weight</td>
<td>7.90 Kg </td></tr>
<tr>
<td>185-195</td>
<td style="background:silver">Tyre size</td>
<td>225-245</td></tr>
<tr>
<td style="background:silver">Price</td>
<td colspan="2">1700</td></tr>
<tr>
<td style="background:silver">Web</td>
<td colspan="2">[ Click for external link]</td></tr></table></div>

<h3><span class="mw-headline" id="Rota_Slipstream">Rota Slipstream</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver" width="100pt">Front </td>
<td width="100pt" />
<td style="background:silver" width="100pt">Rear </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Slipstream_4.jpg" title="Rota - Grey"><img src="Slipstream_4.jpg" alt="Rota - Grey" title="Rota - Grey" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Rota - Grey</div></div>
</div>
 </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Slipstream_5.jpg" title="Rota - Black"><img src="Slipstream_5.jpg" alt="Rota - Black" title="Rota - Black" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Rota - Black</div></div>
</div>
 </td>
<td colspan="9">Lotus Part Numbers:

Front:?

Rear:?</td></tr>
<tr>
<td>6,5J x 15</td>
<td style="background:silver">Size</td>
<td>8J x 16</td></tr>
<tr>
<td>+7, +10</td>
<td style="background:silver">Offset</td>
<td>+10, +12</td></tr>
<tr>
<td>95.25 </td>
<td style="background:silver">PCD</td>
<td>95.25</td></tr>
<tr>
<td>?</td>
<td style="background:silver">Center Bore</td>
<td>?</td></tr>
<tr>
<td>5.95 Kg </td>
<td style="background:silver">Weight</td>
<td>7.95 Kg </td></tr>
<tr>
<td>185-195</td>
<td style="background:silver">Tyre size</td>
<td>225-245</td></tr>
<tr>
<td style="background:silver">Price</td>
<td colspan="2">565</td></tr>
<tr>
<td style="background:silver">Web</td>
<td colspan="2"><a class="external text" href="http://www.eliseparts.com/products.php?product=494" rel="nofollow">Click for external link</a></td></tr></table></div>

<h3><span class="mw-headline" id="Compomotive_MO">Compomotive MO</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver" width="100pt">Front </td>
<td width="100pt" />
<td style="background:silver" width="100pt">Rear </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:MO1562_l.jpg" title="MO - FRONT"><img src="MO1562_l.jpg" alt="MO - FRONT" title="MO - FRONT" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">MO - FRONT</div></div>
</div>
 </td>
<td rowspan="9">
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:MO1680_l.jpg" title="MO - REAR"><img src="MO1680_l.jpg" alt="MO - REAR" title="MO - REAR" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">MO - REAR</div></div>
</div>
 </td>
<td colspan="9">Lotus Part Numbers:

Front:?

Rear:?</td></tr>
<tr>
<td>6J x 15</td>
<td style="background:silver">Size</td>
<td>8J x 16</td></tr>
<tr>
<td>+10</td>
<td style="background:silver">Offset</td>
<td>+10</td></tr>
<tr>
<td>95.25 </td>
<td style="background:silver">PCD</td>
<td>95.25</td></tr>
<tr>
<td>60mm</td>
<td style="background:silver">Center Bore</td>
<td>60mm</td></tr>
<tr>
<td>6.95 Kg </td>
<td style="background:silver">Weight</td>
<td>9.00 Kg </td></tr>
<tr>
<td>185-195</td>
<td style="background:silver">Tyre size</td>
<td>225-245</td></tr>
<tr>
<td style="background:silver">Price</td>
<td colspan="2">542</td></tr>
<tr>
<td style="background:silver">Web</td>
<td colspan="2"><a class="external text" href="http://www.comp.co.uk" rel="nofollow">Click for external link</a></td></tr></table></div>
<p>
</p>