
<p>
Yokohama Tyres</p>


<p>Colour Marking on the Side Wall of the Tyre</p>
<p>Red Point / Red Triangle</p>
<p>Indicates the maximum point of Radial Force Variation (RFV), the stiffest point of the tyre side wall. This mark should be aligned with the &#39;L&#39; mark (i.e. the low mark) on the alloy wheel when fitting.</p>

<p>White Point / White Circle</p>
<p>In the case of some Original Equipment tyres, this white mark will indicate the minimum point of RFV, the most flexible point of the tyre side wall. In these cases the white mark should be aligned with the &#39;high&#39; mark on the wheel, or 180 degrees to the &#39;L&#39; mark.</p>

<p>Yellow Point / Yellow Triangle</p>
<p>If no &#39;L&#39; mark is visible or in the case of fitment to steel wheels, the tyre should be fitted with the yellow mark positioned to line up with the wheel valve. This yellow mark indicates the lightest point of the tyre determined under static balancing conditions.</p>
<h2><span class="mw-headline" id="See_also">See also</span></h2>
<p><a class="external text" href="http://www.carbibles.com/tyre_bible.html" rel="nofollow">The Wheel and Tyre Bible</a></p>