<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Wheels">Wheels</a>
<ul>
<li class="toclevel-2"><a href="#Lotus.2FOEM">Lotus/OEM</a>
</li>
<li class="toclevel-2"><a href="#Aftermarket">Aftermarket</a>
</li>
<li class="toclevel-2"><a href="#Motorsport">Motorsport</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Wheel_Dimensions">Wheel Dimensions</a>
</li>
<li class="toclevel-1"><a href="#Wheel_Bolts">Wheel Bolts</a>
</li>
<li class="toclevel-1"><a href="#Tyres">Tyres</a>
<ul>
<li class="toclevel-2"><a href="#OE_Fitment">OE Fitment</a>
</li>
<li class="toclevel-2"><a href="#Alternatives">Alternatives</a>
</li>
<li class="toclevel-2"><a href="#Motorsport_2">Motorsport</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#References">References</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Wheels">Wheels</span></h2>

<h3><span class="mw-headline" id="Lotus.2FOEM">Lotus/OEM</span></h3>

<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>Design </th>
<th>Pictures </th>
<th>Colours </th>
<th>Size </th>
<th>Part numbers </th>
<th>Weight</th></tr>
<tr>
<th>Classic</th>
<td align="Center"><a class="image" href="http://wiki.seloc.org/a/File:Evora_Classic_Wheel_-_Silver.jpg" title="Silver, cast"><img src="Evora_Classic_Wheel_-_Silver.jpg" alt="Silver, cast" width="220" />
</a> <a class="image" href="http://wiki.seloc.org/a/File:Evora_Classic_Wheel_-_Stealth_Grey.jpg" title="Stealth Grey, cast"><img src="Evora_Classic_Wheel_-_Stealth_Grey.jpg" alt="Stealth Grey, cast" width="220" />
</a></td>
<td>Silver - Cast<br />Stealth Grey - Cast </td>
<td>Front: 8.0J x 18&#34;<br />Rear: 9.5J x 19&#34; </td>
<td>Silver Front: A132G0006F<br />Silver Rear: A132G0007F<br />Stealth Grey Front: A132G0008F<br />Stealth Grey Rear: B132G0009F </td>
<td>Front: 10.4kg<br />Rear: 12.6kg</td></tr>
<tr>
<th>Sport</th>
<td align="Center"><a class="image" href="http://wiki.seloc.org/a/File:Evora_Sport_Wheel_-_Silver.jpg" title="Silver, forged"><img src="Evora_Sport_Wheel_-_Silver.jpg" alt="Silver, forged" width="220" />
</a> <a class="image" href="http://wiki.seloc.org/a/File:Evora_Sport_Wheel_-_Anthracite.jpg" title="Gloss Anthracite, forged"><img src="Evora_Sport_Wheel_-_Anthracite.jpg" alt="Gloss Anthracite, forged" width="220" />
</a> <a class="image" href="http://wiki.seloc.org/a/File:Evora_Sport_Wheel_-_Diamond_Cut.jpg" title="Diamond Cut, forged"><img src="Evora_Sport_Wheel_-_Diamond_Cut.jpg" alt="Diamond Cut, forged" width="220" />
</a></td>
<td>Silver - Forged<br />Anthracite - Forged<br />Diamond Cut - Forged </td>
<td>Front: 8.0J x 18&#34;<br />Rear: 9.5J x 19&#34; </td>
<td>Silver Front: B132G0051F<br />Silver Rear: B132G0052F<br />Diamond Cut Front: A132G0102F<br />Diamond Cut Rear: A132G0103F<br />Anthracite Front: B132G0049F<br />Anthracite Rear: B132G0050F </td>
<td>Front: 9.5kg<br />Rear: 12.0kg
</td></tr>
<tr>
<th>Turbine </th>
<td align="Center"><a class="image" href="http://wiki.seloc.org/a/File:Evora_Turbine_Wheel_-_Diamond_Cut.jpg" title="Diamond Cut, Forged"><img src="Evora_Turbine_Wheel_-_Diamond_Cut.jpg" alt="Diamond Cut, Forged" width="220" />
</a> </td>
<td>Diamond Cut - Forged </td>
<td>Front: 8.0J x 18&#34;<br />Rear: 9.5J x 19&#34; </td>
<td>Left Front: ALS5G0003F<br />Right Front: ALS5G0004F<br />Left Rear: ALS5G0005F<br />Right Rear: ALS5G0006F </td>
<td>N/A</td></tr>
<tr>
<th>Design </th>
<td align="Center"><a class="image" href="http://wiki.seloc.org/a/File:Evora_Design_Wheel_-_Diamond_Cut.jpg" title="Diamond Cut, Forged"><img src="Evora_Design_Wheel_-_Diamond_Cut.jpg" alt="Diamond Cut, Forged" width="220" />
</a> <a class="image" href="http://wiki.seloc.org/a/File:Evora_Design_Wheel_-_Gunmetal.jpg" title="Gunmetal, Forged"><img src="Evora_Design_Wheel_-_Gunmetal.jpg" alt="Gunmetal, Forged" width="120" />
</a> <a class="image" href="http://wiki.seloc.org/a/File:Evora_Design_Wheel_-_Gloss_Black.jpg" title="Gloss Black, Forged"><img src="Evora_Design_Wheel_-_Gloss_Black.jpg" alt="Gloss Black, Forged" width="120" />
</a></td>
<td>Diamond Cut - Forged <br /> Gunmetal - Forged <br /> Gloss Black - Forged</td>
<td>Front: 8.0J x 19&#34;<br />Rear: 9.5J x 20&#34; </td>
<td>Diamond Cut Front: A132G0092F<br />Diamond Cut Rear: A132G0094F </td>
<td>N/A</td></tr></table></div>


<h3><span class="mw-headline" id="Aftermarket">Aftermarket</span></h3>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>Manufacturer </th>
<th>Design </th>
<th>Pictures </th>
<th>Colours </th>
<th>Size </th>
<th>Notes </th>
<th>Weight</th></tr>
<tr>
<th>PB Racing</th>
<td>SD Motorsport Wheel Evora</td>
<td align="Center"><a class="image" href="http://wiki.seloc.org/a/File:Evora_-_PB_Racing_-_SD_Motorsport_Wheel.png" title="PB Racing SD Motorsport Wheel Evora"><img src="Evora_-_PB_Racing_-_SD_Motorsport_Wheel.png" alt="PB Racing SD Motorsport Wheel Evora" width="118" />
</a></td>
<td />
<td><a class="external text" href="http://www.pbracingshop.com/en/wheel/66-sd-motorsport-wheel-evora-18.html" rel="nofollow">18&#34; front</a><br />
<a class="external text" href="http://www.pbracingshop.com/en/wheel/67-sd-motorsport-wheel-evora-19.html" rel="nofollow">19&#34; front or rear</a><br />
<a class="external text" href="http://www.pbracingshop.com/en/wheel/70-sd-motorsport-wheel-evora-20.html" rel="nofollow">20&#34; rear</a></td>
<td>Available in 18&#34; (290€ per wheel), 19&#34; (360€ per wheel) and 20&#34; (400€ per wheel) to match standard Evora wheel sizes.</td>
<td /></tr></table></div>

<h3><span class="mw-headline" id="Motorsport">Motorsport</span></h3>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>Manufacturer </th>
<th>Design </th>
<th>Pictures </th>
<th>Colours </th>
<th>Size </th>
<th>Part numbers </th>
<th>Notes </th>
<th>Weight</th></tr>
<tr>
<th>Lotus Racing</th>
<td>Rimstock Competition wheels</td>
<td align="Center"><a class="image" href="http://wiki.seloc.org/a/File:Evora_GTN_-_Chassis_-_Lotus_Racing_Wheel_Package.jpg" title="Lotus Racing Rimstock Competition Wheels"><img src="Evora_GTN_-_Chassis_-_Lotus_Racing_Wheel_Package.jpg" alt="Lotus Racing Rimstock Competition Wheels" width="118" />
</a></td>
<td>Black<br />Silver</td>
<td>Front: 8.5J x 18&#34;<br />Rear: 10J x 18&#34;</td>
<td>Set: ALS5G0023J</td>
<td>Rimstock wheels sold by Lotus Racing for use with Evora GTS/GTN race cars</td>
<td /></tr></table></div>

<h2><span class="mw-headline" id="Wheel_Dimensions">Wheel Dimensions</span></h2>

<p><b>18&#34; Front, 19&#34; Rear</b></p>

<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th rowspan="2">Type</th>
<th>Standard</th>
<td>Cast alloy, 10 spokes in pairs, silver or grey, 5-bolt fixing.</td></tr>
<tr>
<th>Optional</th>
<td>Forged alloy, 10 radial spokes, silver or grey, 5-bolt fixing.</td></tr>
<tr>
<th rowspan="2">Size</th>
<th>Front</th>
<td>8.0J x 18H2</td></tr>
<tr>
<th>Rear</th>
<td>9.5J x 19H2</td></tr>
<tr>
<th rowspan="2">Inset</th>
<th>Front</th>
<td>+ 52 mm</td></tr>
<tr>
<th>Rear</th>
<td>+ 69 mm</td></tr>
<tr>
<th colspan="2">PCD</th>
<td>114.3mm</td></tr>
<tr>
<th rowspan="3">Wheel bolts</th>
<th>Thread</th>
<td>M12 x 1.5 x 26 mm</td></tr>
<tr>
<th>Torque</th>
<td>105 Nm</td></tr>
<tr>
<th>Seat</th>
<td>60° taper</td></tr>
<tr>
<th colspan="2">Centre spigot hole diameter</th>
<td>68 mm</td></tr>
<tr>
<th colspan="2">Radial run-out at bead seat</th>
<td>0.3 mm max.</td></tr>
<tr>
<th colspan="2">Laterial run-out at bead seat</th>
<td>0.3 mm max.</td></tr></table></div>

<p>Note that the inset figure is the displacement of the wheelrim centreline relative to the wheel/hub mounting face. A positive inset indicates that the wheelrim centreline lies inboard of the wheel mounting face, whereas a negative inset means the wheelrim centreline is outboard of the mounting face.</p>
<h2><span class="mw-headline" id="Wheel_Bolts">Wheel Bolts</span></h2>

<p>The wheel bolts used are of a special design to suit the small diameter fixing tunnels in the wheel centres. The bolts have an M12 x1.5 thread, 60° conical seat, and a 10 spline socket head for which a special extension tool is supplied with the car.</p>
<p>A 17 mm a/f deep socket and 1/2 inch square drive torque wrench should be applied to the extension tool, with a tightening torque of 105 Nm required.</p>
<p>To protect against wheel theft, one of the five bolts securing each wheel is key coded, and requires a correspondingly coded adaptor tool. Fit the adaptor tool onto a 1/2 inch square drive extension, and rotate the adaptor until until full engagement into the bolt head is assured before applying torque. Note that an alignment mark is provided on the coded bolt head and adaptor tool to aid refitting. The spline drive extension and the coded adaptor tool are stowed in the vehicle tool pouch, and should remain with the car at all times to allow servicing or repairs to be performed.</p>
<p>The Part No. for the wheel bolts is A132G6002F.</p>
<h2><span class="mw-headline" id="Tyres">Tyres</span></h2>

<h3><span class="mw-headline" id="OE_Fitment">OE Fitment</span></h3>

<p>The Evora is supplied as standard with <a class="external text" href="http://www.pirelli.com/tyre/ww/en/car/genericContent/p_zero" rel="nofollow">Pirelli P-Zero tyres</a>. The fronts are 225/40 ZR18, the rears are 255/35 ZR19. Pressures as listed in the owners manual are front 33psi, rear 36 psi. This is increased to 40psi and 43psi if the car is heavily loaded. Pirelli produce different compounds for different manufacturers - for the Evora MO compound tyres are used on the front and MO1 for the rear<sup id="_ref-1" class="reference"><a href="#_note-1" title="">[1]</a></sup>.</p>
<p>If you opt for the larger diameter Design wheels then tyre sizes are increased to 235/35 R19 for the fronts and 275/30 R20 for the rears, with Pirelli P-Zero Corsa&#39;s becoming the standard fitment.</p>
<p>Winter tyres are also available from Lotus in the form of the <a class="external text" href="http://www2.yokohama-online.com/gb/tyre-products.php?g=151" rel="nofollow">Yokohama W. Drive</a> V902 &#39;LTS&#39;. These are 215/40 R18 on the front, 245/35 R19 on the rear and use the same pressures as the standard Pirellis.</p>
<h3><span class="mw-headline" id="Alternatives">Alternatives</span></h3>

<p>Yokohama Advan Sport AD08&#39;s are also available to fit the Evora. Yokohama&#39;s were used during the cars development before switching to Pirelli P-Zeros for production.</p>
<p>Avon also makes the <a class="external text" href="http://www.avon-tyres.co.uk/car/zz5" rel="nofollow">ZZ5</a> in sizes to suit the Evora and aimed towards &#39;small to medium -sized high-performance cars&#39;<sup id="_ref-2" class="reference"><a href="#_note-2" title="">[2]</a></sup>. These have been tried by at least two forum members.<sup id="_ref-3" class="reference"><a href="#_note-3" title="">[3]</a></sup></p>
<h3><span class="mw-headline" id="Motorsport_2">Motorsport</span></h3>

<p>As of 2013 the Lotus Cup UK and Europe series, which feature the Evora GTS, GTN and GT4 race cars, make use of the <a class="external text" href="http://www.avonmotorsport.com/road-legal/performance/zzr" rel="nofollow">Avon Motorsport ZZR</a> road legal tyres in conjunction with the 18&#34; <a href="http://wiki.seloc.org/a/Evora_GTN_Packages#Lotus_Racing_Wheel_Package" title="Evora GTN Packages">Rimstock wheels supplied by Lotus Racing</a>.</p>
<h2><span class="mw-headline" id="References">References</span></h2><ol class="references">
<li id="_note-1"><b><a href="#_ref-1" title="">&#8593;</a></b> <a class="external text" href="http://forums.seloc.org/viewthread.php?tid=351246" rel="nofollow">SELOC Forums » SELOC Chat » Pirelli P Zero Corsa tyres- is that the Porsche or the Ferrari version</a></li><li id="_note-2"><b><a href="#_ref-2" title="">&#8593;</a></b> <a class="external text" href="http://www.tyrepress.com/News/1/22/22077.html" rel="nofollow">Tyre Press - Avon launches ZZ5, UHP successor to ZZ3</a></li><li id="_note-3"><b><a href="#_ref-3" title="">&#8593;</a></b> <a class="external text" href="http://forums.seloc.org/viewthread.php?tid=363904" rel="nofollow">SELOC Forums » Technical Discussion » Avon ZZ5 tyres on the Evora</a></li>
</ol>