
<p><b>Introduction</b></p>

<p>Nitron are makers of after market dampers for many performance cars. They make aftermarket and some OEM units for the Juno, the Elise, Exige, 340r from Lotus, the new Caparo T1, Caterhams, Radicals etc, and can give impressive results over OEM setups.</p>
<p>Nitron dampers combine outstanding performance with exquisite product design.  Whether for road or track, on two wheels or four, NITRON have the suspension kit that offers fade free operation lap after lap.</p>
<p>The NTR has evolved from NITRONs fully adjustable race dampers, with developments being incorporated into the latest products.  So as a result of the modular design, the top end components are included right throughout the Nitron range.</p>
<p>All NITRON dampers are gas monotube shim type with a high pressure gas charge.  Couple this with a large piston area and an all alloy construction and you get an ultra low friction damper with excellent heat dissipation properties, ensuring total reliability and fade resistance.</p>

<p><b>Lotus-suitable Product Range</b></p>

<p>As of early 2010, the NTR Line up consists of 6 different products:</p>
- NSS Street Series - a new addition to Nitron&#39;s range from early 2010.

- NTR Fast Road

- NTR Track Day

- NTR Track Day Pro

- NTR Race

- NTR Race Pro

- NTR SCCA Racer (US only)

<p>Each product is tailored to suit a certain type of driving, but within that they can be tailored to your car. So for example, a Fast Road damper for use on a Series 1 would have different setup to one for a heavier Series 2 car.</p>

<p><b>Nitron NTR features</b></p>
- Lightweight alloy design

- Fully CNC billet machined and screwed together, no welding

- Fully titanium and hard anodised (Defence Std. 03-26/2) so no corrosion

- Fully re-buildable and revalvable

- Infinite range of bump / rebound ratios, which can be changed at any time

- Low friction double point rod seal and double acting rod scraper system

- Separate nitrogen gas charge with fully floating aluminium piston design

- Teflon banded piston and floating piston; no metal to metal contact

- Highest quality Teflon lined spherical bearings

- Ride height adjustment via threaded damper body or adjustable end eye

- Spring preload adjusting c-spanner included with all kits

<p><b>Choosing your dampers</b></p>
<p>As discussed on SELOC forums many times, there is no such thing as &#34;the perfect damper&#34;. You could say there&#39;s always going to be the perfect damper for your specific use, but this might be the wrong choice for someone else.</p>
<p>The Nitron line is aimed to help people to make a well informed choice.</p>

<p>One of the best features of the Nitron NTR family is the ability to rebuild the damper to another spec. This means you can actually have the damper updated to your specific needs rather than being stuck and having to buy new dampers.</p>

<p><b>Nitron Street Series / NSS</b></p>
<p>Designed and developed by Nitron, the dampers use gas-monotube technology.  This means they offer a distinct performance advantage over the many twin-tube based products on the market in this price bracket, in terms of weight, responsiveness, and fade resistance. </p>
<p>The Street Series kit has one damping adjuster that alters both bump and rebound damping.  The dampers are billet machined from lightweight aluminium and come with spherical bearing ends and Nitron’s proven low friction sealing system. </p>
<p>As a more road orientated kit, the Nitron Street Series are valved and sprung accordingly to give optimal body control without any undue harshness.  For customers using their car predominantly for track days Nitron would still recommend the legendary NTR range of dampers due to their better control and fade resistance.  </p>
<p><a class="external free" href="http://www.elise-shop.com/images/NSS.jpg" rel="nofollow">http://www.elise-shop.com/images/NSS.jpg</a></p>

<p><b>The NTR Fast Road</b> is designed for people who primarily use their cars on public roads and do a couple of track days a year.
For this use, they demand a top level high performance damper which should clearly has to be a benchmark in the market place.</p>
<p>Softer valving and springs guarantee a good level of comfort. These dampers can be used at factory standard ride heights or slightly lower.</p>
<p><a class="external free" href="http://www.elise-shop.com/images/medium/NRSNTRE_MED.jpg" rel="nofollow">http://www.elise-shop.com/images/medium/NRSNTRE_MED.jpg</a></p>
<p><b>NTR Track Day</b> are primarily targeted at customers who are more focussed at track day performance than performance on public roads.
This doesn&#39;t mean the damper is of no use for public roads, but the focus is more towards track use.</p>
<p>Slightly stiffer Valving and stiffer spring rates combined with a lowered ride-height results in a benchmark damper for this application.</p>
<p><b>NTR Track Day Pro</b> is a damper which is even more focussed on track day use.
Road use will be slightly compromised as valving and spring rates are brought up even further. Delivered with rear helpers and Eibach Motorsport springs as standard.</p>
<p>These dampers are for track day warriors who are not bothered about road performance. Off course, the dampers are usable on public roads, but they simply are not the best choice for road use.</p>
<p>Track day pro dampers can optionally be delivered as two way dampers with remote resevoirs.</p>
<p><a class="external free" href="http://www.elise-shop.com/images/medium/NRSNTRTDP_MED.jpg" rel="nofollow">http://www.elise-shop.com/images/medium/NRSNTRTDP_MED.jpg</a></p>
<p>If you are primarily using your car for track days and even racing your car, the Nitron NTR Race is the damper for you.</p>
<p>These dampers are equipped with helpers front and rear and come with Eibach Motorsport springs as standard.
Valving and spring rates are another step stiffer and options are to go for a three way ajustable kit with or without length adjustment.</p>
<p>Developed following millions of track miles with Nitron dampers on various race cars and using the feedback of several top level race drivers. There simply isn&#39;t a better track day damper on the market.</p>
<p>Top of the bill for the most demanding race or even track day user are the Nitron NTR Race PRO dampers.</p>
<p>These NTR&#39;s are another step forward as they come with 46mm pistons. (other NTR&#39;s come with 40mm pistons)</p>
<p>Available with one way adjustability where regulations demand the damper to be one way adjustable or three way adjustability where the regs allow you to.</p>
<p>Developed from the GT3 kit, this kit also has a 16mm piston rod which allows more oil transfer, thus better control of short damper motion, typically found under braking and corner exit under power.</p>
<p>These dampers are for people who demand the best available damper in the market place.</p>
<p><a class="external free" href="http://www.elise-shop.com/images/medium/NRSNTRRP3_MED.jpg" rel="nofollow">http://www.elise-shop.com/images/medium/NRSNTRRP3_MED.jpg</a></p>
<p>Last but not least are the SCCA Racer damper for the US market.</p>
<p>A hybrid unit based on the GT3 Full Race damper, which has a smaller diameter body to accept the original Lotus spring.</p>
<p>All features of the Race unit (fully CNC ported piston, adjustable length etc) this is a ‘fit and win’ solution. Available only in the US as a 3-way.</p>




<p><b>FAQs</b></p>
- The early ones with 12-13 clicks on the damping adjuster (which is a knurled wheel on the side of the damper) aren&#39;t refurbishable.  Date range for these??

- Fast Road NTRs cost about £1100+VAT+fitting

- NSSs cost about £600+VAT+fitting

- NTR rebuilding costs about £75+VAT per unit from Nitron and takes a couple of weeks


