
<p>The distance a shock travels between loaded and unloaded.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:Car_diagram.jpg" ><img src="Car_diagram.jpg" width="220" />
</a></p>
<h2><span class="mw-headline" id="Measure">Measure</span></h2>

<ul>
<li>Park the car on a flat, level surface and measure the rear <a href="http://wiki.seloc.org/a/Ride_height" title="Ride height">ride height</a>.</li>
<li>Slowely jack the car up until the weight starts to come off the rear wheel.</li>
<li>Stop jacking and measure the ride height</li>
<li>Subtract the static ride height to get your droop travel.</li>
</ul>


<p><a href="http://wiki.seloc.org/a/Nitron_racing_shocks" title="Nitron racing shocks">Nitron</a> recommend ~35mm of rear droop travel but some people use more like 50mm.</p>
<p>Front droop is ...</p>