
<p><b>Helper springs</b> are usually the 4lbs type that have no influence on the actual ride/handing of the car as they only provide some means of keeping the main spring seated.</p>
<p>As the <a href="http://wiki.seloc.org/a/Ride_height" title="Ride height">ride height</a> of the car is lowered, by reducing pre-load on the main spring, there becomes a point you need helper springs to keep the main spring in check (seated) as the suspension extends completely.</p>
<p>2.25&#34; helpers and joiners here <a class="external free" href="http://www.dfaulknersprings.co.uk/helpers.htm" rel="nofollow">http://www.dfaulknersprings.co.uk/helpers.htm</a></p>


<p><b>Eibach Springs - Understanding Spring Codes</b></p>
<p>Eibach ERS &#39;imperial&#39; springs are coded as:</p> 
<p>0600.225.0125</p> 
<p>length.diameter.lb/in</p> 
<p>So that would be a 6 inch long, 2.25&#34; diamater and 125 lb/in spring.</p> 