
<div style="page-break-inside: avoid;">
<table align="right" cellpadding="2" cellspacing="0" class="infobox" font="3" rules="rows" style="font-size:85%; width:25em; border-collapse:collapse; border:1px solid black;">
<tr style="background:LightBlue;">
<td align="center" colspan="2" style="font-size: larger;"><b>Time &#38; Tools</b></td></tr>
<tr>
<th>Time:</th>
<td>1 hour</td></tr>
<tr>
<th>Tools:</th>
<td><a href="http://wiki.seloc.org/a/Ball_joint_splitter" title="Ball joint splitter">Ball joint splitter</a>, spanner, jack</td></tr></table></div>
<p>This procedure details how to change the offside lower front ball joint. The nearside front is an identical procedure and  the upper front ball joints follow a similar procedure. The rear ball joint and damper replacement are slightly more complicated as they require a different method to remove the brake calipers.</p>
<p><b>Safety Notice</b>
I did not use a fixed support to prevent the car from dropping if the trolley jack hydraulics failed when performing this procedure. It is far safer to jack up the car and then use an appropriate fixed support that cannot collapse before performing these steps.</p>

<h2><span class="mw-headline" id="Removal">Removal</span></h2>
<p><b>1. Raise car and remove front wheels</b></p>
<p><b>2. Remove front brake caliper</b>

                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:5._Removing_Brake_Pipe_Clamp.JPG" ><img src="5._Removing_Brake_Pipe_Clamp.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Remove the</p>
                    </div>
                </div>
                </p>

<ul>
<li>Secure the brake caliper so that it does not get in the way of removing the ball joint. Ensure that the brake line is not under strain and taking the weight of the caliper. You may wish to use a cable tie to secure the caliper out of the way. </li>
</ul>

<p><b>3. Remove the brake discs</b></p>
<p><b>4. Remove the ball joint nut</b>

                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:8._Removing_Lower_Ball_Joint_Nut.JPG" ><img src="8._Removing_Lower_Ball_Joint_Nut.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                </p>

<ul>
<li>Use a 19mm ring/open ended spanner for the lower ball joint. You need to start with the ring end and transfer to the open end after winding the nut half the way up, otherwise the ring spanner will get stuck between the nut and the hub carrier and you won’t be able to remove the nut or the spanner.</li>
</ul>

<p><b> 5. Split the ball joint from the hub carrier</b>

                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:9._Splitting_Lower_Ball_Joint.JPG" ><img src="9._Splitting_Lower_Ball_Joint.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:10._Lower_Ball_Joint_Split_From_Hub_Carrier.JPG" ><img src="10._Lower_Ball_Joint_Split_From_Hub_Carrier.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                </p>

<ul>
<li>You may wish to use a <a href="http://wiki.seloc.org/a/Ball_joint_splitter" title="Ball joint splitter">fork splitter</a> with a few hard hits with a club hammer. Alternatively you could use a scissor splitter.</li>
<li>When the ball joint is split from the hub carrier move carrier out of the way. You could use a trolley jack handle as a prop for the hub carrier under the track rod end bolt.</li>
</ul>

<p><b>6. Remove ball joint</b>

                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:11._Steering_Wheel_Set_To_Full_Lock.JPG" ><img src="11._Steering_Wheel_Set_To_Full_Lock.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:12._Ball_Joint_Removal_Tool_Assembled.JPG" ><img src="12._Ball_Joint_Removal_Tool_Assembled.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Make sure that you coat the bolt threads with plenty of copper grease</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:13._Removing_Ball_Joint.JPG" ><img src="13._Removing_Ball_Joint.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Maintain even pressure</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:14._Ball_Joint_Removed.JPG" ><img src="14._Ball_Joint_Removed.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>The ball joint pops out very easily</p>
                    </div>
                </div>
                </p>

<ul>
<li>Turn the steering wheel to full lock to move the hub carrier out of the way, so you can fit a ball joint removal tool.</li>
<li>Remove the ball joint rubber dust cover and circlip. This is important because the dust cover and circlip can bind up in the ball joint removal tool and the bolts could snap when you are tightening them.</li>
<li>Assemble the ball joint removal tool and make sure that you coat the bolt threads with plenty of copper grease. This is an Elise Parts ball joint removal tool.</li>
<li>Using a 19mm socket/ratchet, tighten the bolts 2 turns each keeping them even</li>
</ul>

<h2><span class="mw-headline" id="Fitment">Fitment</span></h2>
<p><b>7. Grease up new ball joint</b>

                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:15._Greasing_New_Ball_Joint_Rubber.JPG" ><img src="15._Greasing_New_Ball_Joint_Rubber.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                </p>

<ul>
<li>It is a good idea to put new ball joints in the freezer for a day or two. This ensures an easy fit into the wishbone.</li>
<li>Grease the rubber dust cover so that it does not snag.</li>
</ul>

<p><b>8. Squeeze in new ball joint</b>

                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:16._Fitting_New_Ball_Joint.JPG" ><img src="16._Fitting_New_Ball_Joint.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:17._Ball_Joint_Assembly_Tool.JPG" ><img src="17._Ball_Joint_Assembly_Tool.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:18._Ball_Joint_Fitted.JPG" ><img src="18._Ball_Joint_Fitted.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                </p>

<ul>
<li>Hand fit the new ball joint into the wishbone. It should go in easily if it is frozen as it will be slightly contracted.</li>
<li>Fit the ball joint assembly tool and hand tighten the bolts making sure everything is evenly spaced.</li>
<li>Tighten the bolts two turns at a time until the ball joint is seated. The heat created during  fitting will defrost the ball joint.</li>
</ul>

<p><b>9. Tighten lower ball joint</b>

                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:30._Tighteneing_Lower_Ball_Joint.JPG" ><img src="30._Tighteneing_Lower_Ball_Joint.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:31._Damper_And_Lower_Ball_Joint_Fitted.JPG" ><img src="31._Damper_And_Lower_Ball_Joint_Fitted.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                </p>

<ul>
<li>With the suspension under compression tighten the lower ball joint nut to 45NM. (Lotus service manual says 55Nm this is for early S1s maybe later cars are different please check)</li>
<li>If you only have a basic tool kit you will not be able to use a 19mm socket and torque wrench because the hub carrier will be in the way, so you will need to estimate the right amount of tightness using a 19mm ring spanner. </li>
</ul>

<p>The damper and lower ball joint are now fitted. Note that the caliper is now repositioned to alleviate the straining on the brake pipe.</p>
<p><b>10. Replace caliper and brake hose</b>

                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:33._Refitting_Brake_Caliper.JPG" ><img src="33._Refitting_Brake_Caliper.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:34._Securing_Brake_Pipe.JPG" ><img src="34._Securing_Brake_Pipe.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Secure the brake pipe to the top wishbone</p>
                    </div>
                </div>
                
</p>
<ul>
<li>Refit the brake caliper and torque down to 45NM (I don’t use retaining compound on these bolts as they are frequently removed).</li>
</ul>

<h2><span class="mw-headline" id="Top_tips">Top tips</span></h2>

<ul>
<li>It is a good idea to put new ball joints in the freezer for a day or two. This ensures an easy fit into the wishbone.</li>
<li>Grease the rubber dust cover so that it does not snag.</li>
</ul>

<p>




</p>