
<p><b><i>How to change a Ball Joint and a Damper</i></b></p>
<p>This procedure details how to change the offside lower front ball joint and damper assembly. The nearside front is an identical procedure and  the upper front ball joints follow a similar procedure. The rear ball joint and damper replacement are slightly more complicated as they require a different method to remove the brake calipers.</p>
<p><b>Safety Notice:</b>
I did not use a fixed support to prevent the car from dropping if the trolley jack hydraulics failed when performing this procedure. It is far safer to jack up the car and then use an appropriate fixed support that cannot collapse before performing these steps.</p>

<p>Step 1. Measure the height of the lower wishbone. You will need to use this measurement at step 28 when you torque up the upper and lower damper bolts (later stage of this procedure).</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:2._Measuring_Lower_Wishbone_Height.JPG" ><img src="2._Measuring_Lower_Wishbone_Height.JPG" width="220" />
</a></p>


<p>Step 2. Loosen the bolts on the road wheel</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:3._Loosening_Road_Wheel_Bolts.JPG" ><img src="3._Loosening_Road_Wheel_Bolts.JPG" width="220" />
</a></p>

<p>Step 3. Jack up the car on the front jacking point using a trolley jack and remove the front road wheel.</p>
<p><b>Safety Notice:</b> It would be much safer to use the rear jacking point to raise the car and then place a fixed support under the front jacking point and lower the jack to use the fixed support for the car.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:4._Road_Wheel_Removed.JPG" ><img src="4._Road_Wheel_Removed.JPG" width="220" />
</a></p>

<p>Step 4. Remove the brake pipe clamp.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:5._Removing_Brake_Pipe_Clamp.JPG" ><img src="5._Removing_Brake_Pipe_Clamp.JPG" width="220" />
</a></p>

<p>Step 5. Remove the brake caliper using an 8mm hex driver or allen key and then remove the rotor.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:6._Removing_Front_Brake_Caliper.JPG" ><img src="6._Removing_Front_Brake_Caliper.JPG" width="220" />
</a></p>

<p>Step 6. Secure the brake caliper so that it does not get in the way of removing the ball joint. Ensure that the brake line is not under strain and taking the weight of the caliper. You may wish to use a cable tie to secure the caliper out of the way. </p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:7._Securing_Front_Brake_Caliper.JPG" ><img src="7._Securing_Front_Brake_Caliper.JPG" width="220" />
</a></p>

<p>Step 7. Remove the ball joint nut . Use a 19mm ring/open ended spanner for the lower ball joint. You need to start with the ring end and transfer to the open end after winding the nut half the way up, otherwise the ring spanner will get stuck between the nut and the hub carrier and you won’t be able to remove the nut or the spanner.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:8._Removing_Lower_Ball_Joint_Nut.JPG" ><img src="8._Removing_Lower_Ball_Joint_Nut.JPG" width="220" />
</a></p>

<p>Step 8. Split the ball joint from the hub carrier. You may wish to  use a fork splitter with a few hard hits with a club hammer. Alternatively you could use a scissor splitter.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:9._Splitting_Lower_Ball_Joint.JPG" ><img src="9._Splitting_Lower_Ball_Joint.JPG" width="220" />
</a></p>

<p>Step 9. When the ball joint is split from the hub carrier move carrier out of the way. You could use a trolley jack handle as a prop for the hub carrier under the track rod end bolt.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:10._Lower_Ball_Joint_Split_From_Hub_Carrier.JPG" ><img src="10._Lower_Ball_Joint_Split_From_Hub_Carrier.JPG" width="220" />
</a></p>

<p>Step 10. Turn the steering wheel to full lock to move the hub carrier out of the way, so you can fit a ball joint removal tool.</p>
<p>Remove the ball joint rubber dust cover and circlip. This is important because the dust cover and circlip can bind up in the ball joint removal tool and the bolts could snap when you are tightening them.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:11._Steering_Wheel_Set_To_Full_Lock.JPG" ><img src="11._Steering_Wheel_Set_To_Full_Lock.JPG" width="220" />
</a></p>

<p>Step 11. Assemble the ball joint removal tool and make sure that you coat the bolt threads with plenty of copper grease. This is an Elise Parts ball joint removal tool.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:12._Ball_Joint_Removal_Tool_Assembled.JPG" ><img src="12._Ball_Joint_Removal_Tool_Assembled.JPG" width="220" />
</a></p>

<p>Step 12. Using a 19mm socket/ratchet, tighten the bolts 2 turns each keeping them even.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:13._Removing_Ball_Joint.JPG" ><img src="13._Removing_Ball_Joint.JPG" width="220" />
</a></p>

<p>Step 13. The ball joint pops out very easily.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:14._Ball_Joint_Removed.JPG" ><img src="14._Ball_Joint_Removed.JPG" width="220" />
</a></p>

<p>Step 14. It is a good idea to put new ball joints in the freezer for a day or two. This ensures an easy fit into the wishbone. Grease the rubber dust cover so that it does not snag.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:15._Greasing_New_Ball_Joint_Rubber.JPG" ><img src="15._Greasing_New_Ball_Joint_Rubber.JPG" width="220" />
</a></p>

<p>Step 15. Hand fit the new ball joint into the wishbone. It should go in easily if it is frozen as it will be slightly contracted.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:16._Fitting_New_Ball_Joint.JPG" ><img src="16._Fitting_New_Ball_Joint.JPG" width="220" />
</a></p>

<p>Step 16. Fit the ball joint assembly tool and hand tighten the bolts making sure everything is evenly spaced.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:17._Ball_Joint_Assembly_Tool.JPG" ><img src="17._Ball_Joint_Assembly_Tool.JPG" width="220" />
</a></p>

<p>Step 17. Tighten the bolts two turns at a time until the ball joint is seated. The heat created during  fitting will defrost the ball joint.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:18._Ball_Joint_Fitted.JPG" ><img src="18._Ball_Joint_Fitted.JPG" width="220" />
</a></p>

<p>Step 18. Now it is time to remove the lower damper bolt using a 17mm socket and open/ring spanner.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:19._Removing_Lower_Shock_Mount.JPG" ><img src="19._Removing_Lower_Shock_Mount.JPG" width="220" />
</a></p>

<p>Step 19. Followed by the upper damper bolt. You will notice that the brake hose is straining in this photograph and I had to reposition the caliper so that the strain was removed from the hose.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:20._Removing_Upper_Shock_Mount.JPG" ><img src="20._Removing_Upper_Shock_Mount.JPG" width="220" />
</a></p>

<p>Step 20. The assembly is now off the car and is waiting for the spring to be  removed.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:21._Shock_Assembly_Removed.JPG" ><img src="21._Shock_Assembly_Removed.JPG" width="220" />
</a></p>

<p>Step 21. In this photograph, the spring is compressed using compressors designed for bigger diameter springs. These work o.k. but more appropriate spring compressors can be purchased. Once the spring is compressed enough the bottom spring plate can be removed.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:22._Removing_Spring_From_Damper.JPG" ><img src="22._Removing_Spring_From_Damper.JPG" width="220" />
</a></p>

<p>Step 22. If you use oversize spring compressors you will need to unclamp the compressors  to remove the spring from the damper.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:23._Spring_Removed_From_Damper.JPG" ><img src="23._Spring_Removed_From_Damper.JPG" width="220" />
</a></p>


<p>Step 23. Here is the new damper alongside the old one ready for the spring to be assembled.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:24._Spring_Ready_To_Be_Fitted_To_New_Damper.JPG" ><img src="24._Spring_Ready_To_Be_Fitted_To_New_Damper.JPG" width="220" />
</a></p>

<p>Step 24. Fit the spring to the new damper using the spring compressors.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:25._Fitting_Spring_To_New_Damper.JPG" ><img src="25._Fitting_Spring_To_New_Damper.JPG" width="220" />
</a></p>

<p>Step 25. Here is the spring compressed on the new damper.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:26._Spring_Compressed_On_New_Damper.JPG" ><img src="26._Spring_Compressed_On_New_Damper.JPG" width="220" />
</a></p>

<p>Step 26. Here is the spring fitted to the damper. Take care to ensure the end of the bottom part of the spring is 180 degrees away from the slot in the bottom spring plate.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:27._Spring_Fitted_To_New_Damper.JPG" ><img src="27._Spring_Fitted_To_New_Damper.JPG" width="220" />
</a></p>

<p>Step 27. Refit the damper assembly and grease the upper bushes. Do not tighten the upper or lower bolts at this stage. Lower the jack supporting the car to it’s minimum position and jack the suspension to the measurement at step 1. This is to ensure the damper is in it’s correct position to be torque tightened. It is important to do this so the damper bushes are in the correct position when the wheel is on the ground, otherwise the bushes will be twisted.</p>
<p>Torque the upper and lower damper bolts to 45 NM </p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:29._Jacking_Lower_Wishbone_To_Ride_Height.JPG" ><img src="29._Jacking_Lower_Wishbone_To_Ride_Height.JPG" width="220" />
</a></p>

<p>Step 28. With the suspension under compression tighten the lower ball joint nut to 45NM. If you only have a basic tool kit you will not be able to use a 19mm socket and torque wrench because the hub carrier will be in the way, so you will need to estimate the right amount of tightness using a 19mm ring spanner. </p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:30._Tighteneing_Lower_Ball_Joint.JPG" ><img src="30._Tighteneing_Lower_Ball_Joint.JPG" width="220" />
</a></p>

<p>Step 29. The damper and lower ball joint are now fitted. Note that the caliper is now repositioned to alleviate the straining on the brake pipe back in step 19.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:31._Damper_And_Lower_Ball_Joint_Fitted.JPG" ><img src="31._Damper_And_Lower_Ball_Joint_Fitted.JPG" width="220" />
</a></p>

<p>Step 30. You can measure the thickness of your brake rotor using a micrometer. My measurement was 24.4mm which should last until my next pad change.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:32._Measuring_Brake_DiscThickness.JPG" ><img src="32._Measuring_Brake_DiscThickness.JPG" width="220" />
</a></p>

<p>Step 31. Refit the brake caliper and torque down to 45NM (I don’t use retaining compound on these bolts as they are frequently removed).</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:33._Refitting_Brake_Caliper.JPG" ><img src="33._Refitting_Brake_Caliper.JPG" width="220" />
</a></p>

<p>Step 32. Secure the brake pipe to the top wishbone.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:34._Securing_Brake_Pipe.JPG" ><img src="34._Securing_Brake_Pipe.JPG" width="220" />
</a></p>

<p>Step 33. Refit the road wheel and nip up the wheel bolts. Check that there is no side to side play by trying to rock the wheel at a quarter to three.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:35._Tightening_Wheel_Bolts.JPG" ><img src="35._Tightening_Wheel_Bolts.JPG" width="220" />
</a></p>

<p>Step 34. Lower the car to the ground and torque up the road wheel bolts to 105Nm on an S2 or the wheel nuts to 80-85Nm on an S1. Depress brake pedal a few times to get the pressure back.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:36_Torque_Wheel_Bolts.JPG" ><img src="36_Torque_Wheel_Bolts.JPG" width="220" />
</a></p>

<p>This is an example of a badly leaking damper.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:37._Leaking_Damper.JPG" ><img src="37._Leaking_Damper.JPG" width="220" />
</a></p>

<p>Here is an alternative ball joint splitter.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:39._Scissor_Type_Ball_Joint_Splitter.jpg" ><img src="39._Scissor_Type_Ball_Joint_Splitter.jpg" width="220" />
</a></p>

<p>Here are alternative coil spring compressors.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:38._Alternative_Coil_Spring_Compressor.jpg" ><img src="38._Alternative_Coil_Spring_Compressor.jpg" width="220" />
</a></p>
<p>



</p>