<h1>GAZ Shocks</h1>

<p>This SELOC TechWiki article is intended as an introduction to the GAZ Shocks damper range, installation and basic setup tips. </p>
<p>Shocks produce a number of variants for the Elise. Most are designed as a direct replacement for the early series 2 Bilstein dampers. </p>

<p> </p><h2>GAZ Gold</h2>
<table cellspacing="5">


<tr>


<td valign="top">
<div class="thumb tright"><a class="internal" href="http://wiki.seloc.org/a/Image:GAZ_Gold_sm.jpg" ><img src="GAZ_Gold_sm.jpg" class="type-frame" />
</a></div>
</td>

<td valign="top">
<p>GAZ Gold dampers are their entry-level units for the Elise. A twintube design and one-way adjustable but both bump and rebound is adjusted at a pre-determined ratio as the knob is turned. GAZ Gold dampers are fitted with a gas cell in the outer reservoir and filled with a high viscosity index multi grade oil to prevent cavitation and reduce fade in extreme conditions. Their body is manufactured from steel and zinc plated. Mounted tothe car with rubber bushes. </p> 
<p>Large image:<a class="external free" href="http://wiki.seloc.org/a/Image:GAZ_Gold.jpg" rel="nofollow">http://wiki.seloc.org/a/Image:GAZ_Gold.jpg</a></p></td>

</tr>

</table><h2>GAZ Gold Professional (GGP)</h2>
<table cellspacing="5">


<tr>


<td valign="top">
<div class="thumb tright"><a class="internal" href="http://wiki.seloc.org/a/Image:GAZ_Gold_Professional_sm.jpg" ><img src="GAZ_Gold_Professional_sm.jpg" class="type-frame" />
</a></div>
</td>

<td valign="top">
<p>GAZ Gold Professional dampers were introduced late in 2008. A development of the GAZ Gold the damper body is manufactured from aerospace grade aluminium and mounts via spherical bearings. This damper is more focussed towards track performance, the unit being lighter offering more precision using spherical bearings. </p>
<p>Large image:<a class="external free" href="http://wiki.seloc.org/a/Image:GAZ_Gold_Professional.JPG" rel="nofollow">http://wiki.seloc.org/a/Image:GAZ_Gold_Professional.JPG</a></p></td>

</tr>

</table><h2>GAZ Monotube</h2>
<table cellspacing="5">


<tr>


<td valign="top">
<div class="thumb tright"><a class="internal" href="http://wiki.seloc.org/a/Image:Gaz_monotube_sm.jpg" ><img src="Gaz_monotube_sm.jpg" class="type-frame" />
</a></div>
</td>

<td valign="top">
<p>GAZ have been developing a monotube damper throughout 2009 and it&#39;s expected to be progression of the GGP damper.  The biggest development being the monotube design which offers better weight placement more suited to the Elise and potentially better damping characteristics. Retail date expected late 2009. </p>
<p>Large image:<a class="external free" href="http://wiki.seloc.org/a/Image:Gaz_monotube.jpg" rel="nofollow">http://wiki.seloc.org/a/Image:Gaz_monotube.jpg</a></p></td>

</tr>

</table>
<p> </p>
<p> </p><h1>Installation</h1>
<p>The most significant difference with the GAZ damper is the twintube design. Bilstein Elise dampers are monotube.  Monotube dampers are fitted upside down where the body of the damper appears above the piston rod. Twintube dampers are fitted with the damper body nearest to the ground to ensure valving between the two tubes remains submerged in oil. </p> 
<p> </p><h2>Mounting Dampers</h2>
<p>GAZ dampers are slightly different than the original S1 Konis and fit best with non-standard mounting brackets. Many have good success with brackets supplied in the Koni to S2 Bilstein fitting kit.  GAZ also produce a &#34;known good&#34; bracket kit which is a direct replacement for any brackets currently fitted. </p>
<p>Series 2 Elises with the Rover engine may find GAZ dampers a direct replacement. </p>
<p> </p><h2>Setting Ride Height</h2>
<p> </p>
<table cellspacing="5">


<tr>


<td valign="top">
<div class="thumb tright"><a class="internal" href="http://wiki.seloc.org/a/Image:Ride_height_points_sm.jpg" title="Points on the chassis suitable for obtaining a ride height figure."><img src="Ride_height_points_sm.jpg" alt="Points on the chassis suitable for obtaining a ride height figure." title="Points on the chassis suitable for obtaining a ride height figure." class="type-frame" />
</a>
<div class="framecaption">Points on the chassis suitable for obtaining a ride height figure.</div></div>
</td>

<td valign="top">
<p>Ride height can be a little tricky to begin with but if you follow these guidelines then the job will be a lot more successful. The Elise wishbones are mounted with rubber bushes that behave like springs acting on the wishbone when the pinch bolts are tightened. This means you need to tighten the wishbone pinch bolts at the desired ride height or the wishbones will be acting against the road spring or worse, the corners will be unbalanced.  </p>
<p>The GAZ Gold dampers are mounted with rubber bushes similarly, the damper mounts should be fully tightened at the desired ride height. GGP dampers use a spherical bearing which is free moving. </p> 
<p>Dampers should be full soft when setting the ride height. Wind the adjuster right off (full anti-clockwise) and clockwise to the first confident &#34;click&#34;.  </p>
<p>Ride height is your preference and there is an open rage available to you. When setting the ride height try to obtain 5-10mm of rake, the rear being 5-10mm higher then the front. </p>
<p>Lotus recommends the ride height is set mid-laden approximating to driver and passenger and a half tank of fuel. Assume a driver or passenger is 75-80kg.  </p>
<p>Ride heights are obtained below front end of chassis siderail (see image point B) and below rear end of chassis siderail (see image point A). </p></td>

</tr>

</table>
<p> </p><h2>Note on nuts and bolts</h2>
<p>Where is it advantageous to replace old rusty bolts with new ones it is not always as simple as it seems. Lotus use zinc plated steel 8.8 M10 bolts with 17mm head for damper installation but have specific shank and overall lengths with may be difficult to source. If the original bolts are to be reused replace the nyloc nuts with new, identical nuts. </p>
<p> </p>
<p> </p><h1>How to Set Damping Adjustment</h1>
<p>Not a black art but does require some trial and error, patience and experience.  Setting the dampers for the road is totally different to setting them for the track and just about everyone has a known good for track and road.  Unfortunately, others peoples settings aren&#39;t going to work best for you but they can help as a guide.  </p>
<p> </p><h2>Road</h2>
<p>Always start from full soft, wind the adjuster right off (full anti-clockwise) and clockwise to the first confident &#34;click&#34;.  This is zero. Zero is very soft and you&#39;ll be able to bounce the car very easily. Start at 3 clicks front and rear and go for a short drive. Ideally on a private road, try some steady braking and weaving manoeuvres. There should be some initial body pitch and roll but you should then get the sensation that any further pitch and roll of the car is being controlled by the damper. Increase one click at a time both front and rear until the pitch and roll is firm and controlled but not abrupt. </p>
<p>Once you&#39;ve obtained a comfortable base road setting you will have to drive on a few typical roads, rough city roads, B-roads and faster undulating A-roads. City roads won&#39;t tell you much about well your setup is working but if the ride is too uncomfortable then you&#39;ll want to wind a click off. B-roads are typically quite undulating and rough. Again, if you&#39;re too stiff it will feel harsh and very uncomfortable. The faster, undulating A-roads will tell you if you&#39;re too soft. You&#39;ll notice a lot of pitch on initial braking and roll at turn in. Over undulating surfaces you may feel the car doesn’t &#34;sit-down&#34; well in which case you need to wind a click or two back on. If the car is not pitching and rolling a much but feels very nervous through corners with an undulating surface then it&#39;s possibly too stiff so try taking a click or two off. As a rule of thumb, go stiff then wind off.</p>
<p>On the road tyres can influence the ride significantly. A tyre is essentially an undampered spring and is considered part of the suspension system.  Increasing pressure in the tyre can make ride feel firmer and if the pressure is reduced, more supple and less harsh. </p> 
<p> </p><h2>Track</h2>
<p>Setting damping for the track is much easier and less time consuming but again, trial and error. Experience from your track settings may also help you tweak your road setup.  </p>
<p>Use your road setup as a starting point wind on a couple of clicks to begin with and get your tyres and car up to temperature then progressively increase stiffness. To begin with add clicks to both front and rear. When the car starts to feel skittish (sometimes known as tyre hop, side hop or walking) through bumpy corners then you&#39;ve passed the ideal so wind a click off. If you start to develop understeer then the front is probably a little stiff so take a click off the front. If the rear is very light or you&#39;re struggling to get the power down on corner exit then the rear is probably too stiff so wind that off a click. </p>
<p> </p>
<p> </p><h1>Adjusting the Geo</h1>
<p>It is probable that your previous dampers weren&#39;t at the ride height you wanted or after years of use the old dampers had lost ride height consistency. If your ride heights have changed you will need to adjust the geometry. Specialist garages are best at doing this or you can choose to do it using the string and pole method or using the CORBO <a class="external free" href="http://bobvanm.brinkster.net/corbo.htm" rel="nofollow">http://bobvanm.brinkster.net/corbo.htm</a> tool.  </p>
<p>If you do choose to do it yourself a useful tip is to set the desired ride height without &#34;people ballast&#34;, set your geo then load the ballast and reset to the desired ride height. This means you don’t have to have people sat in the car while you attempt to set geo and then ride height (which can take some time).  </p> 
<p> </p>
<p> </p><h1>Useful Torque Figures</h1>
<table border="1" cellspacing="0" width="75%">

    
<tr>

        
<td> </td>
        
<td>
            <b>Nm</b></td>
        
<td>
            <b>Notes</b></td>
    
</tr>
    
<tr>

        
<td>
            Damper to chassis</td>
        
<td>
            45</td>
        
<td rowspan="3">
            Tighten ruber bushes at desired ride height</td>
    
</tr>
    
<tr>

        
<td>
            Damper to lower wishbones</td>
        
<td>
            45</td>
    
</tr>
    
<tr>

        
<td>
            Upper and lower wishbone pivot bolts</td>
        
<td>
            45</td>
    
</tr>

</table>
<p>More here: <a class="external free" href="http://wiki.seloc.org/a/Torque_settings" rel="nofollow">http://wiki.seloc.org/a/Torque_settings</a></p>
<p> </p>
<p> </p><h1>Stats</h1>
<table border="1" cellspacing="0" width="50%">

    
<tr>

        
<td>
            <b>Damper Model</b></td>
        
<td>
            <b>Weight (KG)</b></td>
    
</tr>
    
<tr>

        
<td>
            GAZ Gold Professional (GGP-2434)</td>
        
<td>
            2.6</td>
    
</tr>
    
<tr>

        
<td>
            GAZ Gold Professional (GGP-2243)</td>
        
<td>
            3.15</td>
    
</tr>

</table>
<p> </p>
<p> </p><h1>Further Reading</h1>
<pre>   http://wiki.seloc.org/a/Ride_height <br />
   http://wiki.seloc.org/a/Geo_Setups<br />
   http://wiki.seloc.org/a/Geo_Alignment_Rig_%28Home_Made%29<br />
   CORBO Tool http://bobvanm.brinkster.net/corbo.htm<br />
   http://wiki.seloc.org/a/Change_a_damper_and_spring<br />
   http://wiki.seloc.org/a/Suspension_upgrades<br />
   http://wiki.seloc.org/a/Nitron_racing_shocks<br />
   http://wiki.seloc.org/a/Droop_travel<br />
   http://wiki.seloc.org/a/Jacking_points<br />
   http://wiki.seloc.org/a/Torque_settings<br />
   Monotube and Twintubes http://www.hksusa.com/info/?id=2838<br />
   http://wiki.seloc.org/a/Tyre_pressures<br />
   http://wiki.seloc.org/a/Chassis_development<br />
   http://wiki.seloc.org/a/Helper_springs
   &#60;/p&#62;
</pre>
<p>


</p>