<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1"><a href="#Replace_Wheel_Bearings">Replace Wheel Bearings</a>
<ul>
<li class="toclevel-2"><a href="#Elise_S1">Elise S1</a>
</li>
<li class="toclevel-2"><a href="#Elise_S2">Elise S2</a>
<ul>
<li class="toclevel-3"><a href="#Basic_design">Basic design</a>
</li>
<li class="toclevel-3"><a href="#Front">Front</a>
<ul>
<li class="toclevel-4"><a href="#Removal">Removal</a>
</li>
<li class="toclevel-4"><a href="#Installation">Installation</a>
</li>
</ul>
</li>
<li class="toclevel-3"><a href="#Rear">Rear</a>
<ul>
<li class="toclevel-4"><a href="#Removal_2">Removal</a>
</li>
<li class="toclevel-4"><a href="#Installation_2">Installation</a>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
</ul></td></tr></table><hr/>
<h1><span class="mw-headline" id="Replace_Wheel_Bearings">Replace Wheel Bearings</span></h1>

<h2><span class="mw-headline" id="Elise_S1">Elise S1</span></h2>

<p>A detailed guide for <a href="http://wiki.seloc.org/a/Change_a_front_wheel_bearing" title="Change a front wheel bearing">changing the front wheel bearing on an S1 can be found here.</a></p>
<h2><span class="mw-headline" id="Elise_S2">Elise S2</span></h2>

<p>All S2 Elises (irrespective of engine type) use a similar type of wheel bearing. The only difference between these is that the later cars with ABS use bearings with integraded speed pulse sensors for the ABS, while older cars without ABS use 3 &#39;plain&#39; bearings and 1 with a speed pulse sensor.</p>
<p>The latter connects to the ECU which in turn feeds a signal to the dash.</p>
<h3><span class="mw-headline" id="Basic_design">Basic design</span></h3>

<p>The wheel bearings on the S2 are complete units that are bolted to the uprights. The bearing units are sealed for life and not servicable. They can not be opened without being destroyed.</p>
<p>The bearing and hub come as a complete package ready to install. On the upright side there are 3 bolt holes (M12 metric fine) which line up with the holes in the uprights.</p>
<p>The bearing units are bolted to the uprights with 90Nm of torque on each bolt.</p>
<p>Bolts can usually be re-used, but examine them for corrosion (pitting) or other damage. In case of doubt, replace with new ones.</p>

<ul>
<li>Lotus part number for bolts: A116W1170F</li>
</ul>

<h3><span class="mw-headline" id="Front">Front</span></h3>

<h4><span class="mw-headline" id="Removal">Removal</span></h4>


<ul>
<li>Undo the wheel bolts</li>
<li>Jack up the car on the &#39;A&#39; jacking point to raise the side of the car off the floor.</li>
<li>For added security place some support next to the jack</li>
<li>Remove front wheel</li>
</ul>


<p>If an M16 clamp-bolt is fitted through the hub (not required, but recommended):
</p>
<ul>
<li>Attach a size 24 ring spanner to the back so it locks against the lower wishbone</li>
<li>Put a rag between the spanner and the wishbone</li>
<li>Use a breaker bar and size 24 socket to undo the M16 bolt</li>
<li>Remove the bolt and washers, taking care not to mix up the washer types</li>
<li>Clean the bolt and nut, treat with anti-corrosion</li>
</ul>



<ul>
<li>Use pliers/clamp to push brake caliper pistons back (check reservoir!)</li>
<li>Use 8mm key to undo allen-bolts holding caliper to upright</li>
<li>Remove caliper and position on top of upper wishbone (may need to undo P-clip for brake line)</li>
</ul>



<ul>
<li>Remove M5 allen bolt holding brake disc on hub</li>
<li>Lift brake disc from hub</li>
</ul>


<p>The hub and bearing pack are now visible and accessible. You will notice that there are pry slots on the outer edges of the bearing pack where it mounts to the upright.</p>

<ul>
<li>Disconnect speed sensor plug  if required</li>
<li>Turn steering completely to one side</li>
<li>Depending on the type of bolt used, use a 19MM socket, 10MM allen head (or possibly E18 star socket, T55 torx head) and a breaker bar to undo the three bolts than hold the bearing pack to the upright</li>
<li>Turn steering wheel straight again</li>
<li>Use a chisel and lump hammer on the pry slots to separate the bearing from the upright (rust and dirt will make it &#39;stick&#39;)</li>
<li>If you will not re-use the old bearing you can also hit the flange from the back with a lump hammer (this damages the bearing, so do not use this if re-using the bearing!)</li>
<li>After several hits on the pry slots the bearing pack will fall out of the upright</li>
</ul>


<p>The old bearing pack is now removed from the upright and the new one can be installed.</p>
<h4><span class="mw-headline" id="Installation">Installation</span></h4>


<ul>
<li>Using some coarse sandpaper on a fabric backing (eg. grit 60-80) work on the opening of the upright where the bearing pack sits to remove all of the rust and dirt buildup</li>
<li>Clean out the bolt holes</li>
<li>Clean and de-grease surfaces properly so no grit and dirt is present anymore</li>
<li>Apply some anti-seize (eg. ceramic grease) along the edge of the hole so the new bearing pack will seat properly and can be removed easier later.</li>
<li>Offer up the new bearing pack to the upright</li>
<li>Depending on tolerances it may slide into place immediately or need pulling in by using the bolts (this seems to vary)</li>
<li>If the original bolts are OK, insert these from the back of the upright and tighten them finger-tight</li>
<li>Turn steering wheel to one side again</li>
<li>Using a torque wrench do up the bolts in a circular pattern until they are all tightened to 90Nm</li>
<li>Check that the bearing pack sits flat and true on the upright</li>
</ul>


<p>If an M16 clamp-bolt was fitted through the hub (not required, but recommended):
</p>
<ul>
<li>Re-install clamp bolt and washers, coat washer surfaces with some form of anti-corrosion grease</li>
<li>Attach a size 24 ring spanner to the back so it locks against the lower wishbone</li>
<li>Put a rag between the spanner and the wishbone</li>
<li>Use a torque wrench to tighten the M16 nut to 220Nm</li>
</ul>


<ul>
<li>Re-connect speed sensor plug  if required</li>
<li>Clean brake disc inner mating surface to hub</li>
<li>Install brake disc on hub</li>
<li>Install M5 allen bolt holding brake disc on hub</li>
</ul>



<ul>
<li>Install front caliper (may need to replace P-clip for brake line if undone earlier)</li>
<li>Refit allen-bolts holding caliper to upright</li>
<li>Use a torque wrench to tighten to 45Nm each</li>
<li>Re-fit wheel</li>
<li>Apply brake pedal a few times to re-seat brake pads/pistons</li>
</ul>

<p>Have a cuppa!</p>
<h3><span class="mw-headline" id="Rear">Rear</span></h3>

<h4><span class="mw-headline" id="Removal_2">Removal</span></h4>


<ul>
<li>Apply handbrake and put car in 1st gear</li>
<li>Undo the wheel bolts</li>
<li>Jack up the car on the &#39;A&#39; jacking point to raise the side of the car off the floor.</li>
<li>For added security place some support next to the jack</li>
<li>Remove rear wheel</li>
</ul>



<ul>
<li>Remove split pin that secures castellated nut on driveshaft</li>
<li>Use a breaker bar and deep size 30 socket or a size 30 ring spanner on the castellated nut and undo</li>
<li>Remove the nut and washer</li>
<li>Push the driveshaft into the hub to make sure it&#39;s free</li>
</ul>


<ul>
<li>Release handbrake (keep car in gear!)</li>
<li>Remove lock pin and spring from brake caliper </li>
<li>Remove front pad by tapping it down and inboard</li>
<li>Use 6mm key to undo lower allen-bolt holding caliper to upright</li>
<li>Use 17mm socket to undo upper bolt holding caliper to upright</li>
<li>Remove caliper and position on top of diffuser/undertray (may need to undo P-clip for brake line)</li>
</ul>



<ul>
<li>Remove M5 allen bolt holding brake disc on hub</li>
<li>Lift brake disc from hub</li>
</ul>

<p>If the driveshaft was stuck in the bearing earlier, now a 3-prong bearing puller can be used to press the driveshaft out of the bearing.</p>

<p>The hub and bearing pack are now visible and accessible. You will notice that there are pry slots on the outer edges of the bearing pack where it mounts to the upright.</p>

<ul>
<li>Disconnect speed sensor plug  if required</li>
<li>Undo nut of outer trackrod joint to upright</li>
<li>Disconnect trackrod taking care to note order and type of washers</li>
<li>Swivel upright out carefully, making sure you do not pull the driveshaft from the CV joint</li>
<li>Use 8mm allen key to undo the upper mounting plinth bolts that connect the balljoint to the upright</li>
<li>Catch the camber shims that fall out and make note of the amount</li>
</ul>

<p>Now the upright is only connected to the lower balljoint and can swivel relatively freely. </p>

<ul>
<li>Swivel and tilt the upright so the splined end of the driveshaft can be withdrawn from the bearing</li>
<li>Move driveshaft out of the way and re-attach upper plinth temporarily</li>
<li>Swivel upright to it&#39;s (more or less) perpendicular to car</li>
</ul>

<p><i>Note from Scottish Scrutineer</i>
I omitted disturbing the upright as described above as, once the driveshaft was relaesed from the splines, I was able to fit a slim socket onto the bolts securing the bearing pack to the upright. 
<a class="external autonumber" href="http://farm8.static.flickr.com/7409/8722282485_6231b49e5a.jpg" rel="nofollow">[1]</a></p>

<ul>
<li>Depending on the type of bolt used, use a 19MM socket, 10MM allen head (or possibly E18 star socket, T55 torx head) and a breaker bar to undo the three bolts than hold the bearing pack to the upright</li>
<li>Turn upright straight ahead</li>
<li>Use a chisel and lump hammer on the pry slots to separate the bearing from the upright (rust and dirt will make it &#39;stick&#39;)</li>
<li>If you will not re-use the old bearing you can also hit the flange from the back with a lump hammer (this damages the bearing, so do not use this if re-using the bearing!)</li>
<li>After several hits on the pry slots the bearing pack will fall out of the upright</li>
</ul>


<p>The old bearing pack is now removed from the upright and the new one can be installed.</p>
<h4><span class="mw-headline" id="Installation_2">Installation</span></h4>


<ul>
<li>Using some coarse sandpaper on a fabric backing (eg. grit 60-80) work on the opening of the upright where the bearing pack sits to remove all of the rust and dirt buildup</li>
<li>Clean out the bolt holes</li>
<li>Clean and de-grease surfaces properly so no grit and dirt is present anymore</li>
<li>Apply some anti-seize (eg. ceramic grease) along the edge of the hole so the new bearing pack will seat properly and can be removed easier later.</li>
<li>Offer up the new bearing pack to the upright</li>
<li>Depending on tolerances it may slide into place immediately or need pulling in by using the bolts (this seems to vary)</li>
<li>If the original bolts are OK, insert these from the back of the upright and tighten them finger-tight</li>
<li>Swivel upright to it&#39;s (more or less) perpendicular to car</li>
<li>Using a torque wrench do up the bolts in a circular pattern until they are all tightened to 90Nm</li>
<li>Check that the bearing pack sits flat and true on the upright</li>
</ul>


<ul>
<li>Clean and de-grease the splined end of the driveshaft and make sure no dirt or grit is present</li>
<li>Apply some anti-seize grease lightly to splines and mating surface of driveshaft</li>
<li>Undo upper plinth bolts again</li>
<li>Swivel and tilt the upright so the splined end of the driveshaft can be inserted into the bearing</li>
</ul>


<ul>
<li>Re-fit camber shims and bolts holding upper mounting plinth to upright</li>
<li>Use a torque wrench to tighten the bolts to 45Nm (8.8 grade bolts) or 60Nm (10.9 or 12.9 grade bolts)</li>
</ul>


<ul>
<li>Re-fit trackrod and washers</li>
<li>Torque nut of outer trackrod joint to upright (OEM spec nut and balljoint 74Nm, aftermarket, see supplier docs) </li>
</ul>


<ul>
<li>Re-connect speed sensor plug  if required</li>
</ul>



<ul>
<li>Push the driveshaft fully through the hub so it seats properly</li>
<li>Install washer and castellated nut </li>
<li>Use a torque wrench to tighten the castellated nut to 220Nm (if this turns the driveshaft/engine, wait until caliper re-fitted)</li>
<li>Insert split pin that secures castellated nut on driveshaft and hammer ends over to secure it</li>
</ul>



<ul>
<li>Clean brake disc inner mating surface to hub</li>
<li>Install brake disc on hub</li>
<li>Install M5 allen bolt holding brake disc on hub</li>
</ul>


<ul>
<li>Push/screw brake caliper piston back</li>
<li>Install caliper with inner pad in place (may need to replace P-clip for brake line if undone earlier)</li>
<li>Refit allen-bolt and M10 bolt holding caliper to upright</li>
<li>Use a torque wrench to tighten allen bolt to 28Nm and M10 to 45Nm</li>
<li>Re-fit outer pad, spring and locking pin</li>
<li>Apply brake pedal a few times to re-seat brake pads/pistons</li>
<li>Apply handbrake</li>
<li>If you were unable to set the correct torque on the center nut, try again now.</li>
<li>Re-fit wheel</li>
</ul>

<p>All Done!</p>
<p>


</p>