
<div style="page-break-inside: avoid;">
<table cellpadding="0" cellspacing="0" style="clear: right; margin-bottom: .5em; float: right; padding: .5em 0 .8em 1.4em; background: none; width: auto;">
<tr>
<td><table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Dampers">Dampers</a>
<ul>
<li class="toclevel-2"><a href="#Upgrades">Upgrades</a>
<ul>
<li class="toclevel-3"><a href="#Lotus_Racing_2_Way_Adjustable_Ohlins_Damper_.26_Spring_Car_Kit">Lotus Racing 2 Way Adjustable Ohlins Damper &#38; Spring Car Kit</a>
</li>
<li class="toclevel-3"><a href="#Nitron_Racing_Shocks">Nitron Racing Shocks</a>
</li>
</ul>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Wishbones">Wishbones</a>
<ul>
<li class="toclevel-2"><a href="#Revisions">Revisions</a>
</li>
<li class="toclevel-2"><a href="#Upgrades_2">Upgrades</a>
<ul>
<li class="toclevel-3"><a href="#Lotus_Racing_Motorsport_Specification_Wishbone_Kit">Lotus Racing Motorsport Specification Wishbone Kit</a>
</li>
</ul>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Anti_Roll_Bar">Anti Roll Bar</a>
<ul>
<li class="toclevel-2"><a href="#Upgrades_3">Upgrades</a>
<ul>
<li class="toclevel-3"><a href="#Lotus_Racing_Anti_Roll_Bars">Lotus Racing Anti Roll Bars</a>
</li>
</ul>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#References">References</a>
</li>
</ul>
</ul></td></tr></table><hr/>
</td></tr></table></div>




<p>This page aims to cover the Evoras basic suspension arrangement, revisions made to it over the course of the models lifecycle, and upgrade options.</p>
<p>It is in it&#39;s present state far from conclusive, so please feel free to add or amend details.</p>
<h2><span class="mw-headline" id="Dampers">Dampers</span></h2>

<p>The Evoras dampers are manufactured by Bilstein and fitted with Eibach springs.</p>
<p>Dampers differ between the base Evora and Evora S with slightly firmer damping on the S, but the springs used for both models are the same<sup id="_ref-1" class="reference"><a href="#_note-1" title="">[1]</a></sup>.</p>

<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>Part Description </th>
<td>Model </td>
<td>Part Number</td></tr>
<tr>
<th>Front Damper</th>
<td>N/A man &#38; auto </td>
<td>A132C0059F</td></tr>
<tr>
<th>Front Damper</th>
<td>S/Charged man &#38; auto </td>
<td>A132C0079F</td></tr>
<tr>
<th>Front Spring</th>
<td />
<td>A132C0055F</td></tr>
<tr>
<th>Rear Damper</th>
<td>N/A man &#38; auto </td>
<td>A132D0052F</td></tr>
<tr>
<th>Rear Damper</th>
<td>S/Charged man &#38; auto </td>
<td>A132D0065F</td></tr>
<tr>
<th>Rear Spring</th>
<td />
<td>A132D0050F</td></tr></table></div>

<h3><span class="mw-headline" id="Upgrades">Upgrades</span></h3>

<h4><span class="mw-headline" id="Lotus_Racing_2_Way_Adjustable_Ohlins_Damper_.26_Spring_Car_Kit">Lotus Racing 2 Way Adjustable Ohlins Damper &#38; Spring Car Kit</span></h4>

<p><b>Part No: ALS5C0088J</b></p>
<p><a class="image" href="http://wiki.seloc.org/a/File:Lotus_Racing_-_ALS5C0088J.jpg" ><img src="Lotus_Racing_-_ALS5C0088J.jpg" width="220" />
</a></p>
<p>These performance dampers from Ohlins are adjustable for low speed bump and rebound, and developed specifically for Evora race cars.</p>
<p>Comprising of stiffer Eibach springs and motorsport specification mounts they offer the ability to fine tune the handling for the perfect set up.</p>
<h4><span class="mw-headline" id="Nitron_Racing_Shocks">Nitron Racing Shocks</span></h4>

<p>Nitron has developed a reputation for making high quality dampers for Lotus cars and offers a range of aftermarket options for the Lotus Evora in both the NTR40 and NTR46 Race Pro series. For more information please contact <a class="external text" href="http://www.nitron.co.uk/Site/Index.aspx" rel="nofollow">Nitron</a>.</p>

<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>Model </th>
<td>Description </td>
<td>Piston Diameter </td>
<td>Adjuster </td>
<td>Standard Spring Rate (Front) </td>
<td>Standard Spring Rate (Rear) </td>
<td>Helper Springs </td>
<td>Remote Reserviour </td>
<td>Price (inc. VAT)</td></tr>
<tr>
<td><b>NTCLO016_FR</b> </td>
<td>Lotus Evora - NTR Fast Road 40mm</td>
<td align="center">40mm </td>
<td>1-way (Combined bump and rebound) </td>
<td align="center">450lb/ft </td>
<td align="center">600lb/ft </td>
<td align="center">Yes </td>
<td align="center">No </td>
<td>£1,410</td></tr>
<tr>
<td><b>NTCLO016_RPFR</b> </td>
<td>Lotus Evora - NTR Fast Road 46mm  </td>
<td align="center">46mm </td>
<td>1-way (Combined bump and rebound)  </td>
<td align="center">450lb/ft  </td>
<td align="center">600lb/ft  </td>
<td align="center">Yes  </td>
<td align="center">No </td>
<td>£1,650</td></tr>
<tr>
<td><b>NTCLO016_TD</b> </td>
<td>Lotus Evora - NTR Track Day 40mm</td>
<td align="center">40mm </td>
<td>1-way (Combined bump and rebound) </td>
<td align="center">500lb/ft </td>
<td align="center">650lb/ft </td>
<td align="center">Yes </td>
<td align="center">No </td>
<td>£1,410</td></tr>
<tr>
<td><b>NTCLO016_RPTD</b> </td>
<td>Lotus Evora - NTR Track Day 46mm </td>
<td align="center">46mm </td>
<td>1-way (Combined bump and rebound) </td>
<td align="center">500lb/ft </td>
<td align="center">650lb/ft </td>
<td align="center">Yes </td>
<td align="center">No </td>
<td>£1,650</td></tr>
<tr>
<td><b>NTCLO016_TDP1</b> </td>
<td>Lotus Evora - NTR Track Day Pro 1-Way 40mm </td>
<td align="center">40mm </td>
<td>1-way (Combined bump and rebound) </td>
<td align="center">500lb/ft </td>
<td align="center">700lb/ft </td>
<td align="center">Yes </td>
<td align="center">No </td>
<td>£1,644</td></tr>
<tr>
<td><b>NTCLO016_RPTDP1</b> </td>
<td>Lotus Evora - NTR Track Day Pro 1-Way 46mm</td>
<td align="center">46mm </td>
<td>1-way (Combined bump and rebound)</td>
<td align="center">550lb/ft </td>
<td align="center">700lb/ft </td>
<td align="center">Yes </td>
<td align="center">No </td>
<td>£1,884</td></tr>
<tr>
<td><b>NTCLO016_TDP2</b> </td>
<td>Lotus Evora - NTR Track Day Pro 2-Way 40mm </td>
<td align="center">40mm</td>
<td>2-way (Separate bump and rebound) </td>
<td align="center">550lb/ft </td>
<td align="center">700lb/ft </td>
<td align="center">Yes </td>
<td align="center">Yes </td>
<td>£2,340</td></tr>
<tr>
<td><b>NTCLO016_RPTDP2</b> </td>
<td>Lotus Evora - NTR Track Day Pro 2-Way 46mm </td>
<td align="center">46mm </td>
<td>2-way (Separate bump and rebound)  </td>
<td align="center">550lb/ft  </td>
<td align="center">700lb/ft  </td>
<td align="center">Yes </td>
<td align="center">Yes </td>
<td>£2,592</td></tr>
<tr>
<td><b>NTCLO016_R1</b> </td>
<td>Lotus Evora - NTR Race 1-Way 40mm </td>
<td align="center">40mm </td>
<td>1-way (Combined bump and rebound)  </td>
<td align="center">600lb/ft  </td>
<td align="center">850lb/ft  </td>
<td align="center">Yes  </td>
<td align="center">No </td>
<td>£1,644</td></tr>
<tr>
<td><b>NTCLO016_RP1</b> </td>
<td>Lotus Evora - NTR Race Pro 1-Way 46mm  </td>
<td align="center">46mm </td>
<td>1-way (Combined bump and rebound) </td>
<td align="center">600lb/ft </td>
<td align="center">850lb/ft  </td>
<td align="center">Yes  </td>
<td align="center">No </td>
<td>£1,788</td></tr>
<tr>
<td><b>NTCLO016_R3</b> </td>
<td>Lotus Evora - NTR Race 3-Way 40mm </td>
<td align="center">40mm </td>
<td>3-way (Seperate high and low speed bump, combined rebound)  </td>
<td align="center">600lb/ft </td>
<td align="center">850lb/ft </td>
<td align="center">Yes  </td>
<td align="center">Yes </td>
<td>£2,802</td></tr>
<tr>
<td><b>NTCLO016_RP3</b> </td>
<td>Lotus Evora - NTR Race Pro 3-Way 46mm </td>
<td align="center">46mm </td>
<td>3-way (Seperate high and low speed bump, combined rebound) </td>
<td align="center">600lb/ft </td>
<td align="center">850lb/ft </td>
<td align="center">Yes </td>
<td align="center">Yes </td>
<td>£2,922</td></tr></table></div>

<h2><span class="mw-headline" id="Wishbones">Wishbones</span></h2>

<p>The Lotus Evora features double wishbone suspension all round, however unlike the Elise and Exige the Evoras wishbones are made from forged aluminium.</p>
<p>As the Evora is based on the VVA chassis architecture the wishbones are mounted to the front and rear subframes, meaning that in the event of damage to the wishbone mounting points only the corresponding subframes should need replacing, as opposed to the entire tub when the front suspension mounts are damaged on Elise derivatives.</p>
<h3><span class="mw-headline" id="Revisions">Revisions</span></h3>

<p>The Evoras wishbones were revised on cars produced after <a href="http://wiki.seloc.org/a/Evora_model_history_milestones#Evora_S_.28Supercharged.29_new_features_for_base_Evora_.28Non-USA.29:_December_2010" title="Evora model history milestones">September 2010</a>, with all the wishbones receiving revisions for the Evora S, with 15% stiffer bushes used for the lower rear bushes on the front axle to improve steering feel without compromising ride quality, while at the rear all the bushes are 15% stiffer on the Evora S. The tables below shows which wishbones were used on different models and revisions.</p>
<p><b>Front Wishbones</b></p>

<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>Part Description </th>
<td>Remarks </td>
<td>Option </td>
<td>Part Number</td></tr>
<tr>
<th>Wishbone Assembly, front upper, LH</th>
<td>S.O.P to Sept 2010, see TSB 2011/19 </td>
<td>NA </td>
<td><b>B132C4001F</b></td></tr>
<tr>
<th>Wishbone Assembly, front upper, RH</th>
<td>S.O.P to Sept 2010, see TSB 2011/19 </td>
<td>NA </td>
<td><b>B132C4002F</b></td></tr>
<tr>
<th>Wishbone Assembly, front upper, LH</th>
<td>All Cars from Sept 2010 approx, see TSB 2011/19 </td>
<td />
<td><b>C132C4001F</b></td></tr>
<tr>
<th>Wishbone Assembly, front upper, RH</th>
<td>All Cars from Sept 2010 approx, see TSB 2011/19 </td>
<td />
<td><b>C132C4002F</b></td></tr>
<tr>
<th>Wishbone Assembly, front lower, LH</th>
<td>See TSB 2011/19 </td>
<td>NA man &#38; auto </td>
<td><b>B132C4003F</b></td></tr>
<tr>
<th>Wishbone Assembly, front lower, RH</th>
<td>See TSB 2011/19 </td>
<td>NA man &#38; auto </td>
<td><b>B132C4004F</b></td></tr>
<tr>
<th>Wishbone Assembly, front lower, LH</th>
<td>From S.O.P, NA auto from MY12 </td>
<td>S/Charged man &#38; auto </td>
<td><b>A132C4035F</b></td></tr>
<tr>
<th>Wishbone Assembly, front lower, RH</th>
<td>From S.O.P, NA auto from MY12 </td>
<td>S/Charged man &#38; auto </td>
<td><b>A132C4036F</b></td></tr></table></div>

<p><b>Rear Wishbones</b></p>
<p>The upper rear wishbones are not sided, the same part is fitted to each side and is simply flipped over.</p>

<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>Part Description </th>
<td>Remarks </td>
<td>Option </td>
<td>Part Number</td></tr>
<tr>
<th>Wishbone Assembly, rear, upper</th>
<td>See TSB 2011/19 </td>
<td>NA man &#38; auto </td>
<td><b>B132D0011F</b></td></tr>
<tr>
<th>Wishbone Assembly, rear, upper</th>
<td>From S.O.P, NA auto from MY12 </td>
<td>S/Charged man &#38; auto </td>
<td><b>A132D0059F</b></td></tr>
<tr>
<th>Wishbone Assembly, rear, lower, LH</th>
<td>From S.O.P </td>
<td>NA man &#38; auto </td>
<td><b>B132D4001F</b></td></tr>
<tr>
<th>Wishbone Assembly, rear, lower, RH</th>
<td>From S.O.P </td>
<td>NA man &#38; auto </td>
<td><b>B132D4002F</b></td></tr>
<tr>
<th>Wishbone Assembly, rear, lower, LH</th>
<td>From S.O.P, NA auto from MY12 </td>
<td>S/Charged man &#38; auto </td>
<td><b>A132D4037F</b></td></tr>
<tr>
<th>Wishbone Assembly, rear, lower, RH</th>
<td>From S.O.P, NA auto from MY12 </td>
<td>S/Charged man &#38; auto </td>
<td><b>A132D4038F</b></td></tr></table></div>

<h3><span class="mw-headline" id="Upgrades_2">Upgrades</span></h3>

<h4><span class="mw-headline" id="Lotus_Racing_Motorsport_Specification_Wishbone_Kit">Lotus Racing Motorsport Specification Wishbone Kit</span></h4>

<p><b>Part No: ALS5C0087J</b></p>
<p><a class="image" href="http://wiki.seloc.org/a/File:Lotus_Racing_-_ALS5C0087J.jpg" ><img src="Lotus_Racing_-_ALS5C0087J.jpg" width="220" />
</a></p>
<p>Comprising of all 8 wishbones these are fitted with high specification cross axis joints as opposed to OEM silent blocks, and allow improved stiffness, reduced friction and increased camber adjustment on the front over standard wishbones.</p>
<h2><span class="mw-headline" id="Anti_Roll_Bar">Anti Roll Bar</span></h2>

<p>All Evoras comes fitted with a 23mm Anti Roll Bar fitted to the front, however the rear Anti Roll Bar differs between the Evora and Evora S models - 21mm for the Evora and 21.5mm for the Evora S.</p>

<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>Part Description </th>
<td>Remarks </td>
<td>Model </td>
<td>Part Number</td></tr>
<tr>
<th>Anti Roll Bar, front</th>
<td>diameter 23mm </td>
<td />
<td><b>A132C0067F</b></td></tr>
<tr>
<th>Rubber Mount, anti roll bar</th>
<td>diameter 23mm </td>
<td />
<td><b>A132C6012F</b></td></tr>
<tr>
<th>Anti Roll Bar, rear</th>
<td>Black diameter 21mm </td>
<td>NA man &#38; auto </td>
<td><b>A132D0039F</b></td></tr>
<tr>
<th>Rubber Mount, anti roll bar</th>
<td>diameter 21mm </td>
<td>NA man &#38; auto </td>
<td><b>A132C6013F</b></td></tr>
<tr>
<th>Anti Roll Bar, rear</th>
<td>Grey diameter 21.5mm </td>
<td>S/Charged man &#38; auto </td>
<td><b>A132D0061F</b></td></tr>
<tr>
<th>Rubber Mount, anti roll bar</th>
<td>diameter 21.5mm </td>
<td>S/Charged man &#38; auto </td>
<td><b>A132C6016F</b></td></tr></table></div>

<h3><span class="mw-headline" id="Upgrades_3">Upgrades</span></h3>

<h4><span class="mw-headline" id="Lotus_Racing_Anti_Roll_Bars">Lotus Racing Anti Roll Bars</span></h4>

<p><b>Part No: ALS5C0089J (Front), ALS5C0090J (Rear)</b></p>
<p><a class="image" href="http://wiki.seloc.org/a/File:Lotus_Racing_-_ALS5C0089J.jpg" ><img src="Lotus_Racing_-_ALS5C0089J.jpg" width="220" />
</a></p>
<p>Developed by Lotus Racing and
supplied with rubber mounts
it offers increased stiffness to
improve handling that works best
in conjunction with Ohlins dampers
and Lotus Racing wheel package.</p>
<h2><span class="mw-headline" id="References">References</span></h2>
<ol class="references">
<li id="_note-1"><b><a href="#_ref-1" title="">&#8593;</a></b> <a class="external text" href="http://www.youtube.com/watch?v=jJ12k2Gocuk" rel="nofollow">YouTube - Lotus Evora S at Laguna Seca with Lotus Chief Engineer Matthew Becker</a></li>
</ol>