<h3><span class="mw-headline" id="Lotus_Esprit_Turbo_910_Engine">Lotus Esprit Turbo 910 Engine</span></h3>



<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:910engine.JPG" title="Lotus 910 Engine"><img src="910engine.JPG" alt="Lotus 910 Engine" title="Lotus 910 Engine" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Lotus 910 Engine</div></div>
</div>



<p>At the Heart of the Lotus Esprit Turbo is the alloy 910 engine. Although similar to the 900 series engine, used in the Esprit S1, S2 and S3, the 910 Turbo engine was comprehensively reengineered for its highly stressed role. New pistons, with their crowns and piston rings lowered relative to the gudgeon pin, reduced the compression ratio from 9.4:1 to 7.5:1 to avoid detonation when the engine was running at high turbo boost levels and revised camshafts both opened the 16 valves further and kept the open longer. This was unusual; in general, turbo charged engines have fewer valves opening duration than the equivalent normal aspirated unit. The exhaust valves were sodium filled, in the interest of better heat transfer. Instead of five main bearing caps, the Lotus 910 engine uses an integrated main bearing panel, this was strengthened. A larger radiator was fed by a higher capacity water pump, and the water passages in the cylinder head were enlarged.</p>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:910cutthrough.JPG" title="Cut through of the 910 Engine"><img src="910cutthrough.JPG" alt="Cut through of the 910 Engine" title="Cut through of the 910 Engine" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Cut through of the 910 Engine</div></div>
</div>



<p>There was slight over kill in the lubrication system, this originally using a dry sump and a separate oil tank, plus of course, an additional pump to scavenge oil from the bottom of the engine and return it to the tank. This mirrored racing practise, and was adopted to overcome problems with oil surge during fast cornering, and to ensure a big enough oil capacity to prevent the engine running low during a long, fast run. Needless to say, there was an oil cooler too. In March 1983, the Turbo Esprit reverted to a conventional wet-sump system, fitted with radial sump baffles, as developed for the V8 to cure oil surge and consequently starvation of the lubrication system during hard cornering. All this was to ensure that the engine could cope with the extra output that the American <a href="http://wiki.seloc.org/a/Garrett_T3_Turbo" title="Garrett T3 Turbo">Garrett AiResearch T3 Turbo Charger</a>, blowing through the Dellorto 40 DHLA twin-venturi side draught carburettors, could liberate.</p>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:camhousing.JPG" title="Cylinder Head &#38; Cam Housings"><img src="camhousing.JPG" alt="Cylinder Head &#38; Cam Housings" title="Cylinder Head &#38; Cam Housings" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Cylinder Head &#38; Cam Housings</div></div>
</div>



<p>This was the first time that these carburettors had been used on the pressurised side of the forced induction system, so they incorporated pressure seals around the spindles to stop the pressurised petrol / air mix from escaping. The Lotus Esprit system remains unusual among turbocharged, carburettor fed engines in blowing rather than sucking, through the carburettors.</p>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:910understress.JPG" title="Lotus Esprit 910 Engine under stress"><img src="910understress.JPG" alt="Lotus Esprit 910 Engine under stress" title="Lotus Esprit 910 Engine under stress" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Lotus Esprit 910 Engine under stress</div></div>
</div>


<p><b>All Information here © <a class="external text" href="http://www.lotusespritturbo.com" rel="nofollow">www.lotusespritturbo.com</a></b></p>