<h3><span class="mw-headline" id="Garrett_T3_Turbo_Charger">Garrett T3 Turbo Charger</span></h3>

<p>The Lotus Esprit Turbo Charger is mounted on a specially made manifold, made of silicon-molybdenum Iron (later of Stainless steel), and able to resist the red heat at which it and the turbo charger would run under load. Exhaust gases spin a Turbine wheel and speeds of up to 110,000 rpm, and that wheel is connected by a shaft to another positioned just down stream of the air filter. This second turbine wheel compresses the incoming air at a pressure of up to 0.55bar (8psi) before the air enters the carburettor venturis and thence the engine. By compressing the air, a greater quantity of it can be mixed with petrol and forced into the cylinder suction alone, so when the mixture fires, there is a bigger bang and more power.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:garrett1.JPG" title="The Lotus Esprit Turbo Charger"><img src="garrett1.JPG" alt="The Lotus Esprit Turbo Charger" title="The Lotus Esprit Turbo Charger" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">The Lotus Esprit Turbo Charger</div></div>
</div>


<p>There is a limit to how far you can go, though, both in terms of engine strength and because the more you compress the air, the hotter it gets. If it gets too hot, the engine will suffer pre-ignition (pinking) and the pistons will melt. To insure this does not happen, there is a safety valve, known as the wastegate, which caused the exhaust side of the Turbo charger to be by-passed, preventing a further build up of boost, when the inlet tract pressure exceeds 0.55bar. There is a further complication. So that the fuel does not get forced of the carburettor float chambers by the boost pressure, they are sealed and the fuel supply from the petrol tanks, normally pressurised by the pump at 0.3bar (4.5psi), is increased in pressure by an amount corresponding to the boost at a given instant. This is achieved by a pressure regulating valve, operated by a spring load diaphragm which moves according to the Turbo boost pressure.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:garrett2.JPG" title="Section view thorugh the T3 Turbo charger, featured in the Lotus Esprit Turbo"><img src="garrett2.JPG" alt="Section view thorugh the T3 Turbo charger, featured in the Lotus Esprit Turbo" title="Section view thorugh the T3 Turbo charger, featured in the Lotus Esprit Turbo" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Section view thorugh the T3 Turbo charger, featured in the Lotus Esprit Turbo</div></div>
</div>




<p><b>All Information here © <a class="external text" href="http://www.lotusespritturbo.com" rel="nofollow">www.lotusespritturbo.com</a></b></p>