
<p><b>Please note this may be inaccurate due to price changes etc. All prices are correct at the time of writing...</b></p>
<p>For servicing schedules and operations please refer to the <a href="http://wiki.seloc.org/a/Servicing" title="Servicing">Servicing</a> page.</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Hangar_111_Lotus">Hangar 111 Lotus</a>
</li>
<li class="toclevel-1"><a href="#Back_on_Track">Back on Track</a>
<ul>
<li class="toclevel-2"><a href="#Servicing">Servicing</a>
</li>
<li class="toclevel-2"><a href="#Geometry">Geometry</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Castle_Lotus">Castle Lotus</a>
<ul>
<li class="toclevel-2"><a href="#Servicing_2">Servicing</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#DIYgarages">DIYgarages</a>
<ul>
<li class="toclevel-2"><a href="#Servicing_3">Servicing</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Essex_Autosport">Essex Autosport</a>
<ul>
<li class="toclevel-2"><a href="#Servicing_4">Servicing</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Lipscomb_Lotus">Lipscomb Lotus</a>
<ul>
<li class="toclevel-2"><a href="#Servicing_5">Servicing</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Maidstone_Sports_Cars">Maidstone Sports Cars</a>
<ul>
<li class="toclevel-2"><a href="#Servicing_6">Servicing</a>
</li>
<li class="toclevel-2"><a href="#Geometry_2">Geometry</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Plans_Motorsport">Plans Motorsport</a>
<ul>
<li class="toclevel-2"><a href="#Servicing_7">Servicing</a>
</li>
<li class="toclevel-2"><a href="#Geometry_3">Geometry</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Specialised_Paintwork">Specialised Paintwork</a>
<ul>
<li class="toclevel-2"><a href="#Servicing_8">Servicing</a>
</li>
</ul>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Hangar_111_Lotus">Hangar 111 Lotus</span></h2>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td>Website </td>
<td><a class="external free" href="http://www.hangar111.com/lotus-elise-exige-servicing-repairs.htm" rel="nofollow">http://www.hangar111.com/lotus-elise-exige-servicing-repairs.htm</a></td></tr>
<tr>
<td>Phone </td>
<td>01473 811811</td></tr>
<tr>
<td>Email </td>
<td>info@hangar111.com</td></tr>
<tr>
<td>Address </td>
<td>Unit 8b Seven Acres Business Park,<br />Newbourne Road, Waldringfield,<br />Suffolk,<br /><a class="external text" href="http://maps.google.co.uk/maps?q=hangar+111&#38;hl=en&#38;ll=52.075919,1.300507&#38;spn=0.130194,0.41851&#38;sll=53.800651,-4.064941&#38;sspn=16.052594,53.569336&#38;hq=hangar+111&#38;t=h&#38;z=12&#38;iwloc=A" rel="nofollow">(Hangar+111) IP12 4UH</a></td></tr></table></div>

<p>Servicing from £160 upwards using Lotus Service Schedule plus our own list of essentials that are often missed!
Geometry and 4-Wheel Alignment from £90. We perform our own MOT Testing and combined with a service can save you £££s. Comfortable waiting area and parts showroom on site.  Lift into Woodbridge or Ipswich if required!  Loyalty discounts and club member discounts available.</p>
<p>Call or email us for details.</p>
<h2><span class="mw-headline" id="Back_on_Track">Back on Track</span></h2>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td>Website </td>
<td><a class="external free" href="http://backontrackmotorsport.co.uk/" rel="nofollow">http://backontrackmotorsport.co.uk/</a></td></tr>
<tr>
<td>Phone </td>
<td>01483 456030</td></tr>
<tr>
<td>Address </td>
<td>Unit 5, Westfield Road,<br />Slyfield Industrial Estate,<br />Guildford,<br />Surrey,<br /><a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=GU1+1RR" rel="nofollow">GU1 1RR</a> </td></tr></table></div>

<p>All prices include Parts,Labour &#38; VAT, and include a brake/clutch bleed.</p>
<p>Labour rates for other works £55 p/hr +Vat</p>
<p>MOT £54 (0% vat)</p>
<p>Inspection/check over (pre track day/ pre purchase) £60</p>
<h3><span class="mw-headline" id="Servicing">Servicing</span></h3>


<div style="page-break-inside: avoid;">
<table border="1" width="600">
<tr align="center" style="background: #cccccc;">
<th>Model </th>
<th>A Service </th>
<th>B Service </th>
<th>C Service</th></tr>
<tr>
<td>Lotus Elise S1/S2 - K-series </td>
<td>£169 </td>
<td>£269 </td>
<td>£469</td></tr>
<tr>
<td>Lotus Elise S1/S2 - K-series (111S) </td>
<td>£169 </td>
<td>£269 </td>
<td>£549</td></tr>
<tr>
<td>Lotus Exige S1 </td>
<td>£169 </td>
<td>£269 </td>
<td>£479</td></tr>
<tr>
<td>Lotus Elise/Exige S2 - Toyota </td>
<td>£179 </td>
<td>£209 </td>
<td>£309</td></tr>
<tr>
<td>Lotus Elise/Exige S2 - Toyota (Supercharged) </td>
<td>£199 </td>
<td>£299 </td>
<td></td></tr>
<tr>
<td>Lotus Elan M100 </td>
<td>£130 </td>
<td>£230 </td>
<td>£340</td></tr>
<tr>
<td>Vauxhall VX220 </td>
<td>£129 </td>
<td>£169 </td>
<td>£179</td></tr>
<tr>
<td>Vauxhall VX220 Turbo </td>
<td>£129 </td>
<td>£169 </td>
<td>£449</td></tr></table></div>

<h3><span class="mw-headline" id="Geometry">Geometry</span></h3>

<p>Standard Geometry (Check components, set alignment, cambers, castors) £130 </p>
<p>Track Geometry (As Standard, plus adjusting ride height, shock settings and ARB settings) £210</p>
<p>Race Geometry (As Track, plus corner weight &#38; bump steer)</p>
<h2><span class="mw-headline" id="Castle_Lotus">Castle Lotus</span></h2>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td>Website </td>
<td><a class="external free" href="http://www.castlesportscars.co.uk//" rel="nofollow">http://www.castlesportscars.co.uk//</a></td></tr>
<tr>
<td>Phone </td>
<td>01279 647776</td></tr>
<tr>
<td>Address </td>
<td>Castle Sports Cars Ltd,<br />Unit 2,<br />Parsonage Farm,<br />Forest Hall Road,<br />Stansted,<br />Essex<br /><a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=CM24+8GF" rel="nofollow">CM24 8GF</a> </td></tr></table></div>

<h3><span class="mw-headline" id="Servicing_2">Servicing</span></h3>


<div style="page-break-inside: avoid;">
<table border="1" width="600">
<tr align="center" style="background: #cccccc;">
<th>Model </th>
<th>A Service </th>
<th>B Service </th>
<th>C Service</th></tr>
<tr>
<td>Lotus Elise S1/S2 - K-series </td>
<td>£179.17 </td>
<td>£262.50 </td>
<td>£533.34</td></tr>
<tr>
<td>Lotus Elise S1/S2 - K-series (111S) </td>
<td>£179.17 </td>
<td>£262.50 </td>
<td>£554.17</td></tr>
<tr>
<td>Lotus Exige S1 </td>
<td>£179.17 </td>
<td>£300 </td>
<td>£554.17</td></tr>
<tr>
<td>Lotus Elise/Exige S2 - Toyota </td>
<td>£220.42 </td>
<td>£280 </td>
<td>£365.10</td></tr>
<tr>
<td>Lotus Elise/Exige S2 - Toyota (Supercharged) </td>
<td>£220.42<br />(+£100 for S/C belt if required) </td>
<td>£280<br />(+£100 for S/C belt if required) </td>
<td>£365.10<br />(+£100 for S/C belt if required)</td></tr>
<tr>
<td>Lotus Evora </td>
<td>£353.20 </td>
<td>£425.53 </td>
<td>£634.04</td></tr></table></div>

<h2><span class="mw-headline" id="DIYgarages">DIYgarages</span></h2>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td>Website </td>
<td><a class="external free" href="http://diygarages.co.uk/" rel="nofollow">http://diygarages.co.uk/</a></td></tr>
<tr>
<td>Phone </td>
<td>01527 837992</td></tr>
<tr>
<td>Address </td>
<td>Unit 5,DIY Garages,<br />The Big Barn,<br />Boundary Farm,<br />Dusthouse Lane,<br />Finstall,<br />Bromsgrove,<br /><a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=B60+3AE" rel="nofollow">B60 3AE</a> </td></tr></table></div>

<h3><span class="mw-headline" id="Servicing_3">Servicing</span></h3>


<div style="page-break-inside: avoid;">
<table border="1" width="600">
<tr align="center" style="background: #cccccc;">
<th>Model </th>
<th>A Service </th>
<th>B Service </th>
<th>C Service</th></tr>
<tr>
<td>Lotus Elise S1/S2 - K-series </td>
<td>£99 </td>
<td>£169 </td>
<td>£349</td></tr>
<tr>
<td>Lotus Elise S1/S2 - K-series<br />(DIY with use of tools and ramps)</td>
<td>£75 </td>
<td>£135 </td>
<td>£280</td></tr></table></div>

<h2><span class="mw-headline" id="Essex_Autosport">Essex Autosport</span></h2>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td>Website </td>
<td><a class="external free" href="http://www.essexautosport.com/" rel="nofollow">http://www.essexautosport.com/</a></td></tr>
<tr>
<td>Phone </td>
<td>01708 343904</td></tr>
<tr>
<td>Address </td>
<td>Sinclaire House,<br />Bryant Avenue,<br />Romford,<br />Essex,<br /><a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=RM3+0AP" rel="nofollow">RM3 0AP</a></td></tr></table></div>

<p>Prices are not shown at present on the Essex Autosport site. Those below are <b>most likely out of date</b>!</p>
<h3><span class="mw-headline" id="Servicing_4">Servicing</span></h3>


<div style="page-break-inside: avoid;">
<table border="1" width="600">
<tr align="center" style="background: #cccccc;">
<th>Model </th>
<th>A Service </th>
<th>B Service </th>
<th>C Service</th></tr>
<tr>
<td>Lotus Elise S1/S2 - K-series </td>
<td>£189 </td>
<td>£267 </td>
<td>£517</td></tr>
<tr>
<td>Lotus Elise S1/S2 - K-series (111S) </td>
<td>£189 </td>
<td>£267 </td>
<td>£578.55</td></tr>
<tr>
<td>Lotus Exige S1 </td>
<td>£203.11 </td>
<td>£307.90 </td>
<td>£532.89</td></tr></table></div>

<h2><span class="mw-headline" id="Lipscomb_Lotus">Lipscomb Lotus</span></h2>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td>Website </td>
<td><a class="external free" href="http://www.lipscomb.co.uk/lotus/" rel="nofollow">http://www.lipscomb.co.uk/lotus/</a></td></tr>
<tr>
<td>Phone </td>
<td>0845 338 9909</td></tr>
<tr>
<td>Address </td>
<td>Lipscomb Lotus,<br />Performance House,<br />Forstal Road,<br />Aylesford,<br />Maidstone,<br />Kent,<br /><a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=M20+7XE" rel="nofollow">ME20 7XA</a> </td></tr></table></div>

<h3><span class="mw-headline" id="Servicing_5">Servicing</span></h3>


<div style="page-break-inside: avoid;">
<table border="1" width="600">
<tr align="center" style="background: #cccccc;">
<th>Model </th>
<th>A Service </th>
<th>B Service </th>
<th>C Service</th></tr>
<tr>
<td>Lotus Elise S1/S2 - K-series </td>
<td>£195 </td>
<td>£295 </td>
<td>£580</td></tr>
<tr>
<td>Lotus Elise S1/S2 - K-series (111S) </td>
<td>£195 </td>
<td>£295 </td>
<td>£630</td></tr>
<tr>
<td>Lotus Elise/Exige S2 - Toyota </td>
<td>£255 </td>
<td>£325 </td>
<td>£415</td></tr>
<tr>
<td>Lotus Elise/Exige S2 - Toyota (Supercharged) </td>
<td>£355 </td>
<td>£425 </td>
<td>£515</td></tr>
<tr>
<td>Lotus Europa S </td>
<td>£280 </td>
<td>£375 </td>
<td>£555</td></tr>
<tr>
<td>Lotus Evora </td>
<td>£425 </td>
<td>£510 </td>
<td>£760</td></tr>
<tr>
<td>Lotus Esprit V8 </td>
<td>£295 </td>
<td>£749 </td>
<td /></tr>
<tr>
<td>Lotus Elan M100 </td>
<td>£195 </td>
<td>£295 </td>
<td>£395 (ex. cam belt)</td></tr></table></div>

<h2><span class="mw-headline" id="Maidstone_Sports_Cars">Maidstone Sports Cars</span></h2>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td>Website </td>
<td><a class="external free" href="http://www.maidstonesportscars.co.uk/" rel="nofollow">http://www.maidstonesportscars.co.uk/</a></td></tr>
<tr>
<td>Phone </td>
<td>01622 890233</td></tr>
<tr>
<td>Address </td>
<td>Maidstone Sports Cars<br />The Oast House,<br />Great Tong Farm,<br />Headcorn,<br />Kent<br /><a class="external text" href="https://maps.google.co.uk/maps?q=maidstone+sports+cars&#38;fb=1&#38;gl=uk&#38;hq=sports+cars&#38;hnear=0x47ded602f8347067:0xa6f562520cb400cd,Maidstone,+Kent&#38;cid=0,0,4727752644012871629&#38;t=m&#38;z=15&#38;iwloc=A" rel="nofollow">TN27 9PP</a></td></tr></table></div>

<h3><span class="mw-headline" id="Servicing_6">Servicing</span></h3>


<div style="page-break-inside: avoid;">
<table border="1" width="600">
<tr align="center" style="background: #cccccc;">
<th>Model </th>
<th>A Service </th>
<th>B Service </th>
<th>C Service</th></tr>
<tr>
<td>Lotus 340R </td>
<td>£180 </td>
<td>£280 </td>
<td>£810</td></tr>
<tr>
<td>Lotus Elan &#38; Elan Turbo </td>
<td>£160 </td>
<td>£260 </td>
<td>£560</td></tr>
<tr>
<td>Lotus Elise S1/S2 K-series and Exige S1 </td>
<td>£180 </td>
<td>£280 </td>
<td>£545</td></tr>
<tr>
<td>Lotus Elise S1/S2 K-series (111S) </td>
<td>£180 </td>
<td>£280 </td>
<td>£560</td></tr>
<tr>
<td>Lotus Elise/Exige S2 - Toyota </td>
<td>£200 </td>
<td>£260 </td>
<td>N/A</td></tr>
<tr>
<td>Lotus Elise/Exige S2 - Toyota (Supercharged) </td>
<td>£200 </td>
<td>£260 </td>
<td>N/A</td></tr>
<tr>
<td>Lotus Esprit 4 Cyl </td>
<td>£240 </td>
<td>£425 </td>
<td>£865</td></tr>
<tr>
<td>Lotus Esprit 4 cyl Turbo </td>
<td>£360 </td>
<td>£490 </td>
<td>£1185</td></tr>
<tr>
<td>Lotus Esprit V8 </td>
<td>£240 </td>
<td>£405 </td>
<td>£1200</td></tr>
<tr>
<td>Lotus Evora </td>
<td>£355 </td>
<td>£425 </td>
<td>£635</td></tr>
<tr>
<td>Lotus Excel </td>
<td>£240 </td>
<td>£425 </td>
<td>£865</td></tr>
<tr>
<td>Lotus Exige V6 </td>
<td>£355 </td>
<td>£425 </td>
<td>£635</td></tr>
<tr>
<td>Honda Powered Elise/Exige/340R </td>
<td>£180 </td>
<td>£280 </td>
<td>N/A</td></tr>
<tr>
<td>Vauxhall VX220 </td>
<td>£165 </td>
<td>£215</td></tr>
<tr>
<td>Vauxhall VX220 Turbo/VXR </td>
<td>£175 </td>
<td>£225</td></tr></table></div>

<h3><span class="mw-headline" id="Geometry_2">Geometry</span></h3>


<div style="page-break-inside: avoid;">
<table border="1" width="600">
<tr align="center" style="background: #cccccc;">
<th>Setup </th>
<th>Price</th></tr>
<tr>
<td>Basic Setup (Road Use) </td>
<td>£140</td></tr>
<tr>
<td>Intermediate Setup (Track Use) </td>
<td>£240</td></tr>
<tr>
<td>Advanced Setup (Race Use) </td>
<td>£360</td></tr></table></div>

<h2><span class="mw-headline" id="Plans_Motorsport">Plans Motorsport</span></h2>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td>Website </td>
<td><a class="external free" href="http://www.plansmotorsport.com/" rel="nofollow">http://www.plansmotorsport.com/</a></td></tr>
<tr>
<td>Phone </td>
<td>01483 548999</td></tr>
<tr>
<td>Address </td>
<td>19 Dunsfold Park,<br />Dunsfold,<br />Surrey,<br /><a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=GU6+8TB" rel="nofollow">(Plans+Motorsport) GU6 8TB</a></td></tr></table></div>

<p>These prices will need to be adjusted if you ask Plans to use a fully synthetic oil for the service.</p>
<h3><span class="mw-headline" id="Servicing_7">Servicing</span></h3>


<div style="page-break-inside: avoid;">
<table border="1" width="600">
<tr align="center" style="background: #cccccc;">
<th>Model </th>
<th>A Service </th>
<th>B Service </th>
<th>C Service</th></tr>
<tr>
<td>Lotus Elise S1 </td>
<td>£184 </td>
<td>£269 </td>
<td>£469</td></tr>
<tr>
<td>Lotus Elise S1 (111S) </td>
<td>£184 </td>
<td>£269 </td>
<td>£549</td></tr>
<tr>
<td>Lotus Exige S1 </td>
<td>£184 </td>
<td>£279 </td>
<td>£489</td></tr>
<tr>
<td>Lotus Elise S2 K-series </td>
<td>£184 </td>
<td>£269 </td>
<td>£509</td></tr>
<tr>
<td>Lotus Elise S2 K-series (111S) </td>
<td>£184 </td>
<td>£269 </td>
<td>£599</td></tr>
<tr>
<td>Lotus Elise/Exige S2 - Toyota </td>
<td>£184 </td>
<td>£209 </td>
<td>£319</td></tr>
<tr>
<td>Lotus Elise/Exige S2 - Toyota (Supercharged) </td>
<td>£339 </td>
<td>£439 </td>
<td></td></tr>
<tr>
<td>Vauxhall VX220 </td>
<td>£134 </td>
<td>£174 </td>
<td>£184</td></tr>
<tr>
<td>Vauxhall VX220 Turbo/VXR </td>
<td>£134 </td>
<td>£174 </td>
<td>£459</td></tr></table></div>

<h3><span class="mw-headline" id="Geometry_3">Geometry</span></h3>

<p>Elise/VX220: Check all suspension components, set alignment and camber.  £134</p>
- Suspension set up and Corner Weighting  £254

- Suspension set up, Corner Weighting and Bump Steer  £389

<h2><span class="mw-headline" id="Specialised_Paintwork">Specialised Paintwork</span></h2>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td>Website </td>
<td><a class="external free" href="http://www.specialisedpaintwork.com/" rel="nofollow">http://www.specialisedpaintwork.com/</a></td></tr>
<tr>
<td>Phone </td>
<td>0118 9306206</td></tr>
<tr>
<td>Address </td>
<td>Specialised Paintwork<br />Unit 4b, Princents Kiln Industrial Park<br />Princents Kiln<br />Calcot<br />Reading<br /><a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=RG31+7SD" rel="nofollow">RG31 7SD</a> </td></tr></table></div>

<h3><span class="mw-headline" id="Servicing_8">Servicing</span></h3>


<div style="page-break-inside: avoid;">
<table border="1" width="600">
<tr align="center" style="background: #cccccc;">
<th>Model </th>
<th>A Service </th>
<th>B Service </th>
<th>C Service</th></tr>
<tr>
<td>Lotus Elise S1/S2 K-series </td>
<td>£159 </td>
<td>£259 </td>
<td>£359</td></tr>
<tr>
<td>Lotus Elise S1/S2 K-series (111S)</td>
<td>£159 </td>
<td>£259 </td>
<td>£410</td></tr></table></div>

<p>






[[Category:Lotus Evora]
]


</p>