<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Standard_Setups">Standard Setups</a>
<ul>
<li class="toclevel-2"><a href="#Elise.2FExige">Elise/Exige</a>
</li>
<li class="toclevel-2"><a href="#Evora">Evora</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Geo_setting_X_does_Y">Geo setting X does Y</a>
</li>
<li class="toclevel-1"><a href="#Factors_affecting_Geo">Factors affecting Geo</a>
</li>
<li class="toclevel-1"><a href="#Setting_your_own_geo">Setting your own geo</a>
</li>
<li class="toclevel-1"><a href="#See_Also">See Also</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Standard_Setups">Standard Setups</span></h2>

<h3><span class="mw-headline" id="Elise.2FExige">Elise/Exige</span></h3>


<div style="page-break-inside: avoid;">
<table align="center" border="1" cellpadding="5">
<tr style="background-color:#fed200; face:bold;">
<td rowspan="2">Geometry </td>
<td rowspan="2">Ride Height<br />Front/Rear </td>
<td align="center" colspan="3">Front </td>
<td align="center" colspan="3">Rear</td></tr>
<tr style="background-color:#fed200;">
<td>Castor </td>
<td>Camber </td>
<td>Toe </td>
<td>Camber </td>
<td>Toe </td></tr>
<tr>
<td>Standard S1 &#38; S2 </td>
<td>130/130mm </td>
<td>+3.8° </td>
<td>-0.1° </td>
<td>0.2mm OUT Overall </td>
<td>-1.8° </td>
<td>1.2mm IN each side</td></tr>
<tr>
<td>S2 135R          </td>
<td>120/120mm </td>
<td>+3.7° </td>
<td>0°    </td>
<td>0mm               </td>
<td>-1.8° </td>
<td>1.2mm IN each side</td></tr>
<tr>
<td>340R Road        </td>
<td>100/110mm </td>
<td>+3.8° </td>
<td>-0.5° </td>
<td>0.2mm OUT Overall </td>
<td>-2.0° </td>
<td>1.5mm IN each side </td></tr>
<tr>
<td>340R Track       </td>
<td>100/110mm </td>
<td>+3.8° </td>
<td>-1.8° </td>
<td>0.5mm OUT Overall </td>
<td>-2.7° </td>
<td>2.5mm IN each side</td></tr>
<tr>
<td>Exige S1         </td>
<td>112/122mm </td>
<td>+3.8° </td>
<td>-0.5° </td>
<td>0.1mm OUT Overall </td>
<td>-2.4° </td>
<td>1.2mm IN each side</td></tr>
<tr>
<td>Exige S2         </td>
<td>130/130mm </td>
<td>+3.8° </td>
<td>-0.3° </td>
<td>0mm               </td>
<td>-1.8° </td>
<td>1.5mm IN each side</td></tr>
<tr>
<td>Exige 240R       </td>
<td>120/120mm </td>
<td>+3.8° </td>
<td>-0.3° </td>
<td>0mm               </td>
<td>-1.8° </td>
<td>1.5mm IN each side</td></tr>
<tr>
<td>111R             </td>
<td>130/130mm </td>
<td>+3.8° </td>
<td>-0.1° </td>
<td>0mm               </td>
<td>-1.8° </td>
<td>1.2mm IN each side</td></tr>
<tr>
<td>211              </td>
<td>100/110mm </td>
<td>+4.0° </td>
<td>-1.4° </td>
<td>0mm               </td>
<td>-2.5° </td>
<td>1.2mm IN each side</td></tr>
<tr>
<td>Msport           </td>
<td>100/110mm </td>
<td>+3.8° </td>
<td>-0.3° </td>
<td>0.2mm OUT Overall </td>
<td>-2.0° </td>
<td>1.2mm IN each side</td></tr>
<tr style="background-color:#fed200;">
<td colspan="9">Non-Standard Geo Settings</td></tr>
<tr>
<td>a forum hero S2 race </td>
<td>110/115mm </td>
<td>+3.6° </td>
<td>-2.0° </td>
<td>0.5 mm OUT each side </td>
<td>-3.0° </td>
<td>1 mm IN each side</td></tr></table></div>

<p>The standard settings are used when car is loaded with 2x75kg passengers and half tank of fuel.</p>
<h3><span class="mw-headline" id="Evora">Evora</span></h3>


<div style="page-break-inside: avoid;">
<table align="center" border="1" cellpadding="5">
<tr style="background-color:#fed200; face:bold;">
<td rowspan="2">Geometry </td>
<td rowspan="2">Ride Height<br />Front/Rear </td>
<td align="center" colspan="3">Front </td>
<td align="center" colspan="3">Rear</td></tr>
<tr style="background-color:#fed200;">
<td>Castor </td>
<td>Camber </td>
<td>Toe </td>
<td>Camber </td>
<td>Toe </td></tr>
<tr>
<td>Standard </td>
<td>125/147mm </td>
<td>+5.2° </td>
<td>-0.3° </td>
<td>0mm </td>
<td>-1.6° </td>
<td>1.5mm IN each side</td></tr></table></div>


<p>Converting toe from mm to degrees:</p>

<ol>
<li>Measure the rim diameter in mm as the size e.g. 17&#34; is not the actual diameter your measurements are based on.</li>
<li>Multiply the result by PI to get the circumference.</li>
<li>Divide the result by 360 to get mm per degree.</li>
<li>Divide the toe mm by the mm/degree result to get toe in decimal degrees</li>
</ol>


<p>Or Excel =DEGREES( ASIN( TOE_IN_MM / ( RIM_DIA_INCHES * 25.4 ))) </p>
 
<p>Or use the calculator on this page, hypotenuse is the rim diameter the toe  per wheel (total toe divided by 2) in mm is width (or toe in degrees is angle A). * <a class="external free" href="http://joyfulcoder.net/sohcahtoa/" rel="nofollow">http://joyfulcoder.net/sohcahtoa/</a></p>
<h2><span class="mw-headline" id="Geo_setting_X_does_Y">Geo setting X does Y</span></h2>
<p>Some starter guidelines although its really really complex stuff and dependent on many other factors;</p>

<ul>
<li>Increasing front camber from the default -0.1° to -0.5° each side will dramatically improve the understeer, although the inside edges of the tyres will wear slightly faster. Increasing past -1.0° is great for high speed corners but can compromise low speed cornering, will reduce breaking effectiveness and it will tramline on the road.</li>
</ul>


<ul>
<li>Increasing rear camber from the default -1.8° to -2.0° (or higher) makes the car more neutral after you&#39;ve removed the under steer with front camber. Look at the ratios on the standard settings and maintain the front/rear % delta.</li>
</ul>


<ul>
<li>Front toe affects stability or responsiveness of turn in. Front Toe out (standard) makes the car more responsive turn in but causes additional drag in straights. Front toe in is more stable in straight line.</li>
</ul>


<ul>
<li>Rear Toe controls the stability of the rear through the corner. Rear toe in (standard) makes the car more stable and apparently the elise toes in more at the rear as the suspension compresses. Rear toe out causes the rear to steer out from the corner, reducing stability.</li>
</ul>

<h2><span class="mw-headline" id="Factors_affecting_Geo">Factors affecting Geo</span></h2>
<p>When asking questions on the forums about &#34;the best geo for ...&#34; the following need to be considred so make an effort to specify;</p>

<ul>
<li>What you are using the car for (road, sprint race, endurance race)</li>
<li>Tyre spec (section &#38; compound)</li>
<li>Spring rates</li>
<li>Damper spec and settings</li>
<li>Ride height</li>
<li>Current Geo settings</li>
<li>Perceived problems with current setup</li>
</ul>

<h2><span class="mw-headline" id="Setting_your_own_geo">Setting your own geo</span></h2>
<p>Whilst a race prep specialist can charge £200 for a Geo you can DIY castor, camber and toe settings. With a lot of variability in quality at alignment centres (and Lotus dealers !) for the best results put the effort in yourself and build a string based alignment rig which can be more accurate than a computerised laser system. To make a DIY geo/alignmnet rig see:<a href="http://wiki.seloc.org/a/Geo_Alignment_Rig_(Home_Made)" title="Geo Alignment Rig (Home Made)">Geo Alignment Rig (Home Made)</a></p>

<p>1. The Hunter computerised laser alignment system is one of the best (the variabiltiy is quality of the operator) <a class="external free" href="http://www.alignmycar.co.uk" rel="nofollow">http://www.alignmycar.co.uk</a> will find a local place with a Hunter alignment system who will provide a setup sheet showing castor, camber and toe (probably in dd:mm:ss rather than decimal degrees) for £15 and can set the front and rear toe for another £30.</p>

<p>2. If you are going to DIY you must have the relevant S1 or S2 service manual suspension sections. Setting castor and camber is straightforward as a caster washer and camber shim have fixed values, whereas toe is delicate - which way do you wind the flats and a quarter turn of the track rod can alter the toe by 2mm (e.g. just tightening the locknuts).</p>

<p><b>Absolutley critical to getting a good geo is having the right ballast in the seats e.g. for a 780Kg race Elise the difference between empty and an 85Kg driver is 5mm ride height, 0.2° camber and 1mm toe. (Depending on Spring rates used) Don&#39;t let your alignment place guess</b></p>
<h2><span class="mw-headline" id="See_Also">See Also</span></h2>

<ul>
<li><a class="external free" href="http://arc.seloc.org/viewthread.php?tid=52913" rel="nofollow">http://arc.seloc.org/viewthread.php?tid=52913</a> - The pole &#38; string thread by Randy</li>
<li><a class="external free" href="http://arc.seloc.org/viewthread.php?tid=49382" rel="nofollow">http://arc.seloc.org/viewthread.php?tid=49382</a></li>
<li><a class="external free" href="http://arc.seloc.org/viewthread.php?tid=106461" rel="nofollow">http://arc.seloc.org/viewthread.php?tid=106461</a></li>
</ul>

<p>







</p>