
<p><b>Buying a Lotus two eleven 2-11 Advise given to myself by Ads_green and other members</b></p>
<p><b>Buying Advise 2-11 over Atom</b> Ads_green </p>
<p>After testing both, I went for the 211 over the atom as once you get over the acceleration it really doesn&#39;t handle as well as you&#39;d think - in my view I suspect the wheel base is too short for the power and the engine is almost rear mounted rather than mid so it&#39;s a bit lairy on the limit. The atom 3 will fishtail under full power acceleration and inh the corners lurches from understeer to oversteer and back and forth. You really don&#39;t get to put any power down untill you&#39;re travelling in a straight line and it doesn&#39;t inspire confidence.
I do believe that if you are skilled and confident enough the Atom is a great car but for 99% of the rest of us it&#39;s very hard work and feels unbalanced and raw.</p>
<p>As for the 211 it&#39;s just fantastic - sure it&#39;s heavier and less power but you&#39;ll learn more and have more fun whilst you&#39;re doing it and probably end up going faster as a bonus. It really rewards smooth driving with an element of grabbing it by the scruff of the neck. Handling is great and very elise like (no surprises there) but where it really shines is under braking. Short of hitting a large immovable object or fitting a parachute and chucking an anchor out you&#39;ll be outbraking pretty much everything. For comparision, There&#39;s a great clip of a focus diesel outbraking the atom 2 from 100 mph on a dry road.</p>
<p>The problem with both cars is that they are not really even weekend cars and you will probably use them both less than you think.
You&#39;ll spend more time looking up at the sky judging the clouds than polishing the car. Even going on a trackday can be stressful as you will get soaked even in a light drizzle and the car will want to spin at the slightest throttle application in the damp.
Finally, the UK roads are simply too crappy and you end up bouncing over the surface even if you adjust the dampers to try to compensate. The car ends up scrabbling for grip and confidence just falls away and you end up not having fun. I know there are 211 owners who don&#39;t (myself included) but every trackday I&#39;ve been on where 211&#39;s are present then they have arrived on a trailer and for a good reason.</p>
<p>Unless you are doing around 10 trackdays/year then a 211 is a lot of investment for something you&#39;ll real world not use than 1k miles a year and not get to even 10% of it&#39;s capability on road. For the cost of servicing, insurance, tax and tyres the cost of renting a 211 on track once a year works out to be cheaper and less hassle (and thats before you split it with a couple mates). </p>
<p>A well sorted Honda/Audi conersion can be had for less money and you&#39;ll end up using a lot more. You won&#39;t regret buying a 211 but it&#39;s often the case that reality doesn&#39;t match the dream. Just bear all in mind and go into it with your eyes wide open. </p>


<p><b>Things to consider when looking at a 2-11</b></p> 
<p>The rear number plate mount can suffer heat damage. - Ads_green </p>
<p>Make sure car has both battery cut out keys. - Ads_green </p>
<p>Owners manual only on USB stick. - Ads_green </p>
<p>Check Suspension and remote reservoirs for leaks. - Ads_green </p>
<p>Panel gaps are larger and more variable as hand made. Doesnt mean damaged. - Ads_green </p>
<p>Paint can be an issue as seems to be thinner than normal and prone to starring and in even finish. - Ads_green </p>
<p>Leather seats are much better than cloth but don&#39;t like getting wet and take days to dry - Ads_green </p>
<p>211 is very low - think 85 or 95 mm ride height and the splitter sticks out a lot. / The front splitter is easily grounded. - Ads_green </p>
<p>If you buy one, upgrade the oil pump - JBS</p>
<p>Accusump are fitted on all of them - Ads_green </p>
<p>Twin coolers are only fitted as part of the supercharger pack else 1 cooler. - Ads_green </p>
<p>Front tow eye is an option and clam off to fit. </p>
<p>There are no front wheel arch liners, any stones will flick up up and create star cracks on the front wings and damage to the exposed oil cooler radiators. Schutz or some form of stick back race foam can be DIY fitted. I understand lotus also spray something is side them </p>
<p>Front oil coolers like all elise variants are probe to leak on the crimp hoses.</p>
<p>Engine cover easy to catch when taking off.</p>
<p>Accusump needs to be at and holding pressure. Electrical switch should keep pressure at iirc 40psi. Turn the key (but don&#39;t start car) and accusump should discharge to about 12psi.</p>
<p>Older &#39;stick&#39; wing mirrors probe to wear and will move at speed. A blob of Araldite on the top of the stems is your friend and will hold them in position. It not like you&#39;ll be leaving it in Asda car park for them to get knocked. - Ads_green - TheKevlarKid</p>
<p>early cars have no accessory socket</p>

<p><b>Launch Spec</b> </p>
<p>The launch cars also had a few other nice little bits that are different to the later cars. </p>
<p>Lotus stage 1 exhaust as std, the later cars had a much larger and heavier back box. - TheKevlarKid</p>
<p>A lovely aluminium Motorsport heat shield above the exhaust where the later ones had the nimbus shielding as the Exige/Elise has. - TheKevlarKid</p>
<p>adjustable top damper brackets - TheKevlarKid</p>
<p>First 25 were made in the race work shop. </p>

<p><b>parts</b></p>
<p><a class="external text" href="http://forums.seloc.org/member.php?action=viewpro&#38;member=junks" rel="nofollow"><a class="external free" href="http://forums.seloc.org/member.php?action=viewpro&#38;member=junks" rel="nofollow">http://forums.seloc.org/member.php?action=viewpro&#38;member=junks</a></a> Junks supplies all the light weight panels</p>
<p>Polyurethane Engine Mount Inserts for your Lotus <a class="external free" href="http://www.111hq.com/" rel="nofollow">http://www.111hq.com/</a></p>
<p>Service parts manual <a class="external free" href="http://issuu.com/marcassussport/docs/service_parts_list_2-eleven" rel="nofollow">http://issuu.com/marcassussport/docs/service_parts_list_2-eleven</a></p>

<p><b>If your not a Ninja</b></p>
<p>The best way to get in and out is to face the back, hold onto the roll bar and step in. Any other way will cause rubbing and wear on the clam. - Ads_green</p>
<p><b>Servicing</b></p>
<p>Servicing isn&#39;t like a normal car. Lotus recommend pre track checks rather than an annual service programme owing to the use of the car. - Stephanie Plum</p>
<p>The service prices, The smallest is approx £220.00 plus VAT going upto £480.00 plus VAT for the bigest service.</p>

<p><b>2-11, R500 and a Atom 300 back to back test</b></p>
<p><a class="external free" href="http://www.youtube.com/results?search_query=ariel+atom+lotus+2+eleven+caterham" rel="nofollow">http://www.youtube.com/results?search_query=ariel+atom+lotus+2+eleven+caterham</a></p>
