
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:32._Measuring_Brake_DiscThickness.JPG" ><img src="32._Measuring_Brake_DiscThickness.JPG" class="location-left type-thumb" width="220" />
</a></div>
</div>

<p>
You can measure the thickness of your brake rotor using a micrometer. My measurement was 24.4mm which should last until my next pad change.</p>

<p>
</p>