
<p>Work in progress!</p>
<p><b>Chris i moved this from brake pads, better placed here</b></p>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td>S1 MMC</td>
<td>AP Racing Twin-piston Front Calipers and Brembo Rear Calipers</td></tr>
<tr>
<td>S1 non-MMC</td>
<td>AP Racing Twin-piston Front Calipers and Brembo Rear Calipers</td></tr>
<tr>
<td>S2 K Series</td>
<td>AP Racing Twin-piston Front Calipers and Brembo Rear Calipers</td></tr>
<tr>
<td>S2 Toyota</td>
<td>AP Racing Twin-piston Front Calipers and Brembo Rear Calipers</td></tr></table></div>


<h3><span class="mw-headline" id="Front">Front</span></h3>

<ul>
<li>AP Racing Caliper</li>
<li><a class="external free" href="http://www.apracing.com/info/products.asp?product=22S0_446_186" rel="nofollow">http://www.apracing.com/info/products.asp?product=22S0_446_186</a> - Right Hand</li>
<li><a class="external free" href="http://www.apracing.com/info/products.asp?product=23S0_447_186" rel="nofollow">http://www.apracing.com/info/products.asp?product=23S0_447_186</a> - Left Hand</li>
<li><a class="external free" href="http://www.eliseparts.com/products/category/20/brake-calipers/" rel="nofollow">http://www.eliseparts.com/products/category/20/brake-calipers/</a></li>
</ul>

<h3><span class="mw-headline" id="Rear">Rear</span></h3>

<ul>
<li>Brembo Caliper</li>
</ul>



<h3><span class="mw-headline" id="Painting">Painting</span></h3>

<p>Many people paint their calipers so that they look less &#39;tatty&#39;, its a very easy job to do.</p>
<p>Various paints and colours can be used, from just plain Hammerite paint to specialist brake painting kits.</p>
<p>A few tips though:</p>
<p>Avoid rushing this job as it can look bad very easily, make sure you clean the calipers very well first. I used some brake cleaner, then some warm soapy water with a hard toothbrush and finally a soft cloth and my finger. (but my brakes were painted yellow before so I had to apply some paint remover and gently remove all the old paint first).</p>

<p>I used just a standard paint but made sure I used a base coat, main coat and finally a few coats of clear lacquer to fend off the brake dust.</p>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:after1.JPG" ><img src="after1.JPG" class="location-left type-thumb" width="220" />
</a></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:after2.JPG" ><img src="after2.JPG" class="location-left type-thumb" width="220" />
</a></div>
</div>



