
<p><b>Brake fade</b> can be separated into two groups:</p>
<h2><span class="mw-headline" id="Pedal_Fade">Pedal Fade</span></h2>
<p>This is the result of the <a href="http://wiki.seloc.org/a/Brake_fluid" title="Brake fluid">brake fluid</a> boiling in the calipers. This will cause the brake pedal to feel spongy and pedal travel will increase.  If the brake fluid in the system has boiled, it should be immediately replaced as its ability to resist boiling has been greatly reduced. Fluid testing should be regularly done as a matter of course. It should be replaced regularly, or when tests show it has degraded.</p>
<p>Always use the highest-grade fluid possible.</p>
<h2><span class="mw-headline" id="Pad_Fade">Pad Fade</span></h2>
<p>This is the result of friction being lost between <a href="http://wiki.seloc.org/a/Brake_pads" title="Brake pads">pad</a> and <a href="http://wiki.seloc.org/a/Brake_discs" title="Brake discs">disc</a> surface due to the friction material exceeding its maximum operating temperature, usually due to the build up of hot gases between the pad and disc surface. The pedal feel remains constant but the vehicle is not retarded.</p>
<p>If pad fade regularly occurs, an upgrade to a material with a higher operating temperature should be considered. If the highest specification material is being used, consideration should be given to increasing disc size if possible, or improving cooling to the brakes.  The main problem area with high performance braking systems is always the control of the thermal energy. Brake disc and pad temperature analysis can be used to indicate the temperature range the brakes are operating in. With this information material alternatives and cooling aspects can be considered and tried.</p>