
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/File:Evora_Brakes.jpg" ><img src="Evora_Brakes.jpg" class="location-right type-thumb" width="300" />
</a></div>
</div>

<p>
All the current V6 engined Lotus&#39; (<a href="http://wiki.seloc.org/a/Models_-_Evora#Evora" title="Models - Evora">Evora</a>, <a href="http://wiki.seloc.org/a/Models_-_Evora#Evora_S" title="Models - Evora">Evora S</a>, <a href="http://wiki.seloc.org/a/Models_-_Exige_V6#Exige_S_.282012.29" title="Models - Exige V6">Exige S</a>) share a similar braking system, although some unique options are available for each.</p>

<ul>
<li>Servo-assisted, track tuned 4-channel Antilock Braking System (ABS)</li>
<li>AP-Racing four-piston calipers (front and rear) - Evora &#38; Exige use their own unique calipers.</li>
<li>Front: 350 mm ventilated and cross drilled cast-iron discs (except on non-sport pack equipped Evora, which are fitted with non-cross drilled discs)</li>
<li>Rear: 332 mm ventilated and cross drilled cast-iron discs (except on non-sport pack equipped Evora, which are fitted with non-cross drilled discs)</li>
</ul>

<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<ul>
<li class="toclevel-1"><a href="#Evora">Evora</a>
</li>
<li class="toclevel-1"><a href="#Upgrades">Upgrades</a>
</li>
<li class="toclevel-1"><a href="#Performance_Brake_Pads_.E2.80.93_Pagid_RS14">Performance Brake Pads – Pagid RS14</a>
</li>
<li class="toclevel-1"><a href="#Performance_2-Piece_Front_Brake_Disc">Performance 2-Piece Front Brake Disc</a>
</li>
</ul>
<li class="toclevel-1"><a href="#Exige_S">Exige S</a>
<ul>
<li class="toclevel-2"><a href="#Upgrades_2">Upgrades</a>
</li>
<li class="toclevel-2"><a href="#Brake_Upgrade_Kit">Brake Upgrade Kit</a>
</li>
<li class="toclevel-2"><a href="#Performance_Brake_Pads">Performance Brake Pads</a>
</li>
</ul>
</li>
</ul>
</ul></td></tr></table><hr/>
<h3><span class="mw-headline" id="Evora">Evora</span></h3>

<p>For the Evora the brake discs and caliper colour varies depending on the car&#39;s specification.</p>
<p>The entry level <a href="http://wiki.seloc.org/a/Models_-_Evora#Evora" title="Models - Evora">Evora</a>, if specified without the Sport Pack, would come with non-cross drilled brake discs and unpainted brake calipers.</p>
<p>Prior to MY12 cars equipped with the Sport Pack (standard on the <a href="http://wiki.seloc.org/a/Models_-_Evora#Evora_S" title="Models - Evora">Evora S</a>) were fitted with cross drilled brake discs and Black calipers. For the <a href="http://wiki.seloc.org/a/Models_-_Evora#MY12_Updates" title="Models - Evora">MY12 Evora</a> the Sports Pack brake caliper colour was changed to Red (Black being a non-cost option). The actual caliper used is the same regardless of colour.</p>
<h3><span class="mw-headline" id="Upgrades">Upgrades</span></h3>

<p>The following brake upgrades are available as part of the <a href="http://wiki.seloc.org/a/Evora_GTN_Packages" title="Evora GTN Packages">Lotus Racing Evora GTN Upgrade Packages</a>.</p>
<h3><span class="mw-headline" id="Performance_Brake_Pads_.E2.80.93_Pagid_RS14">Performance Brake Pads – Pagid RS14</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/File:Evora_GTN_-_Miscellaneous_-_Performance_Brake_Pads_%E2%80%93_Pagid_RS14.jpg" ><img src="Evora_GTN_-_Miscellaneous_-_Performance_Brake_Pads_%E2%80%93_Pagid_RS14.jpg" class="location-right type-thumb" width="200" />
</a></div>
</div>

<p>
Front Part No: <b>ALS5J0140F</b>
Rear Part No: <b>ALS5J0177F</b></p>
<p>Pagid track pads with improved frictional coefficients for improved bite. Compound also improves fade resistance whilst maintaining good wear rate characteristics. Supplied as an axle set.</p>
<p>Price: <b>£225</b></p>

<h3><span class="mw-headline" id="Performance_2-Piece_Front_Brake_Disc">Performance 2-Piece Front Brake Disc</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/File:Evora_GTN_-_Miscellaneous_-_Performance_2-Piece_Front_Brake_Disc.jpg" ><img src="Evora_GTN_-_Miscellaneous_-_Performance_2-Piece_Front_Brake_Disc.jpg" class="location-right type-thumb" width="200" />
</a></div>
</div>

<p>
FL Disc Part No: <b>ALS5J0140F</b>
FR Disc Part No: <b>ALS5J0177F</b></p>
<p>Designed for competition, these 2 - piece ventilated discs offer improved performance and cooling characteristics.</p>
<p>Price: <b>£385</b></p>

<h2><span class="mw-headline" id="Exige_S">Exige S</span></h2>

<h3><span class="mw-headline" id="Upgrades_2">Upgrades</span></h3>

<p>The following brake upgrades are available as part of the <a href="http://wiki.seloc.org/a/Lotus_Racing_Exige_V6_Performance_Parts" title="Lotus Racing Exige V6 Performance Parts">Lotus Racing Exige S Performance Parts</a> collection.</p>
<h3><span class="mw-headline" id="Brake_Upgrade_Kit">Brake Upgrade Kit</span></h3>

<p>Part No: <b>ALS9Y0007F</b><br />
Price: <b>£2,295</b></p>
<h3><span class="mw-headline" id="Performance_Brake_Pads">Performance Brake Pads</span></h3>

<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a class="internal" href="http://wiki.seloc.org/a/File:Evora_GTN_-_Miscellaneous_-_Performance_Brake_Pads_%E2%80%93_Pagid_RS14.jpg" ><img src="Evora_GTN_-_Miscellaneous_-_Performance_Brake_Pads_%E2%80%93_Pagid_RS14.jpg" class="location-right type-thumb" width="200" />
</a></div>
</div>

<p>
Front Part No: <b>ALS5J0140F</b>
Rear Part No: <b>ALS5J0177F</b></p>
<p>Pagid track pads with improved frictional coefficients for improved bite. Compound also improves fade resistance whilst maintaining good wear rate characteristics. Supplied as an axle set.</p>
<p>Price: <b>£225</b></p>

<p>

</p>