
<p>The <a class="external text" href="http://en.wikipedia.org/wiki/Original_equipment_manufacturer" rel="nofollow">OEM</a> <b>Brake pads</b> on the Elise are reasonably expensive and generally not highly regarded.  There are many after market products to choose from with superior performance, both in terms of stopping power and longevity, and at a more reasonable costs.</p>
<p><b><a class="external text" href="http://elise-faq.info/index.php?title=Pad_change" rel="nofollow">Changing brake pads</a></b> is an easy and rewarding DIY project, and some people prefer the reassurance this gives.  There is a <b><a href="http://wiki.seloc.org/a/Brake_pad_bedding_in_procedure" title="Brake pad bedding in procedure">Brake pad bedding in procedure</a></b> which you are encouraged to following after fitting new pads.</p>
<p>Early S1 Elises with MMC discs MUST use MMC specific pads, if other pads are used you will ruin the discs very quickly and also risk a dangerous brake failure.</p>
<p>Brake pad fitment for the Elise is as follows:-</p>

<p>Below is a list of after market manufacturers with descriptions, and real world experiences, from SELOC members.</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Borg.26Beck">Borg&#38;Beck</a>
</li>
<li class="toclevel-1"><a href="#Brembo_HP_sport_.28HP2000.29">Brembo HP sport (HP2000)</a>
</li>
<li class="toclevel-1"><a href="#Carbone_Lorraine">Carbone Lorraine</a>
<ul>
<li class="toclevel-2"><a href="#RC5.2B.2C_RC6.2C_RC8">RC5+, RC6, RC8</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#EBC">EBC</a>
</li>
<li class="toclevel-1"><a href="#Ferodo">Ferodo</a>
<ul>
<li class="toclevel-2"><a href="#DS2500_-_H_compound">DS2500 - H compound</a>
</li>
<li class="toclevel-2"><a href="#DS3000">DS3000</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Hawk">Hawk</a>
<ul>
<li class="toclevel-2"><a href="#DTC-70">DTC-70</a>
</li>
<li class="toclevel-2"><a href="#DTC-30">DTC-30</a>
</li>
<li class="toclevel-2"><a href="#HT-10">HT-10</a>
</li>
<li class="toclevel-2"><a href="#Blue_9012">Blue 9012</a>
</li>
<li class="toclevel-2"><a href="#HP_Plus">HP Plus</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Mintex">Mintex</a>
<ul>
<li class="toclevel-2"><a href="#1144">1144</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#OMP">OMP</a>
<ul>
<li class="toclevel-2"><a href="#Road.26Sport">Road&#38;Sport</a>
</li>
<li class="toclevel-2"><a href="#Racing">Racing</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Pagid">Pagid</a>
<ul>
<li class="toclevel-2"><a href="#RS_4-2_Blue">RS 4-2 Blue</a>
</li>
<li class="toclevel-2"><a href="#RS_14_Black">RS 14 Black</a>
</li>
<li class="toclevel-2"><a href="#RS_15_Grey">RS 15 Grey</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Performance_Friction">Performance Friction</a>
<ul>
<li class="toclevel-2"><a href="#81">81</a>
</li>
<li class="toclevel-2"><a href="#01">01</a>
</li>
<li class="toclevel-2"><a href="#08">08</a>
</li>
<li class="toclevel-2"><a href="#83">83</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#SBS">SBS</a>
<ul>
<li class="toclevel-2"><a href="#ProTrack">ProTrack</a>
</li>
<li class="toclevel-2"><a href="#ProRace">ProRace</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Textar">Textar</a>
<ul>
<li class="toclevel-2"><a href="#R90_Road_pads">R90 Road pads</a>
</li>
</ul>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Borg.26Beck">Borg&#38;Beck</span></h2>

<p>In 2000 mainstream Automotive Products was broken up and sold, a new, smaller company was created - AP Racing. Specialised in high performance brake and clutch systems for motorsports applications. This company has since been purchased by Brembo S.p.A., but is still run as a separate entity.
You can still buy Elise/Exige brake pads and clutches branded with Borg&#38;Beck. <br /> <b>user information required</b></p>
<p><a class="external free" href="http://www.firstline.co.uk/borgandbeck/index.php" rel="nofollow">http://www.firstline.co.uk/borgandbeck/index.php</a></p>
<h2><span class="mw-headline" id="Brembo_HP_sport_.28HP2000.29">Brembo HP sport (HP2000)</span></h2>
<p><a class="external text" href="http://www.brembo.com" rel="nofollow">| Brembo Manufacturer Website</a></p>
<p>New brake pad available at Eliseparts shop. </p>
<p><b>Below information is from manufacturer. User information required</b></p>
<p>Tested to the highest levels on the track with decelerations from 270kph (168mph) the HP2000 material is capable of operating in the most demanding conditions.<br />
With excellent cold performance &#38; bite, high resistance to fade, frictional stability throughout all operating conditions, reduced pad &#38; disc wear and low dust levels, the all new HP2000 friction material offers significant advantages over its rivals. Designed to be a direct replacement for the Original Equipment (OE) pads the Brembo sport pad comes with the exact same specification as the OE pad including (where applicable): fitted wear leads, slots for separate wear leads and anti-rattle clips with the added benefit of anti-noise shims on every pad.<br />
Combine all of this with competitive pricing and UNECE R90 approval across the full range (making them street legal) and you get a true high performance brake pad fit for the road.</p>
<h2><span class="mw-headline" id="Carbone_Lorraine">Carbone Lorraine</span></h2>
<h3><span class="mw-headline" id="RC5.2B.2C_RC6.2C_RC8">RC5+, RC6, RC8</span></h3>
<p>Sintered brake pads from French manufacturer who started out as a motorbike brake manufacturer, but also does the brake pads for the TGV and works rally teams from Peugeot, etc.</p>

<ul>
<li>RC5+ pads have the lowest friction index (approx 0.48)</li>
<li>RC6 is medium (0.55)</li>
<li>RC8 is high (&#62;0.6)</li>
</ul>

<p>RC8 probably has a friction index that is too high for a light car like the Elise and locks up too quickly or gives too little control over brake modulation. RC8 is only available as a rear pad.</p>
<p>RC6 and RC5+ are more useful.</p>

<p><a class="external text" href="http://www.cl-brakes.com/" rel="nofollow">Manufacturer Website</a></p>
<p><a class="external text" href="http://www.carbonelorrainebraking.co.uk/" rel="nofollow">UK Distributor</a></p>
<p><a class="external text" href="http://www.cl-brakes.co.uk/" rel="nofollow">Dedicated CL Brakes Shop</a></p>
<p>For Elise specific pads:
</p>
<ul>
<li>Front pad type code: 4060</li>
<li>Rear pad type code: 4115</li>
</ul>


<p>As delivered the pads for 4 pot callipers may be too thick and require some grinding of the friction material (about 1mm) to fit properly on new discs.</p>
<p>With standard callipers they are a straight fit but you MUST fit the small square anti rattle rubber buffers directly to the calliper or suffer very annoying rattling from the n/s/f disc.</p>
<p>These pads give a very consistent pedal feel and show little or no variation in retardation if temperatures go up. Fading because of pad material breakdown is virtually impossible as sintered material does not break down until &#62;1100C and by that time your brake fluid will have started to boil.</p>
<p>See the following thread for some concerns:</p>
<p><a class="external text" href="http://forums.seloc.org/viewthread.php?tid=334404&#38;page=1" rel="nofollow">SELOC Chat</a></p>

<h2><span class="mw-headline" id="EBC">EBC</span></h2>
<p><a class="external text" href="http://www.ebcbrakes.com" rel="nofollow">| EBC Manufacturer Website</a></p>
<p>We fit 100&#39;s of EBC Greens &#38; have had no reported failures or catching fire. However, with any pads it is very important to bed them in properly &#38; we supply a hanger on every car that goes out explaining this.
Edited by Sinclaire 20/05/09
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:252px;"><a class="internal" href="http://wiki.seloc.org/a/File:Ebc_brakes.jpg" title="EBC brake pad range temperature overview"><img src="Ebc_brakes.jpg" alt="EBC brake pad range temperature overview" title="EBC brake pad range temperature overview" class="location-left type-thumb" width="250" />
</a>
<div class="thumbcaption">EBC brake pad range temperature overview</div></div>
</div>


<p><b>Ultimax/Blackstuff:</b> no information found on use with Lotus. They are cheap, have the lowest temperature capacity and surely won&#39;t stand up to track use. Nominal friction coefficient 0.46</p>
<p><b>Green:</b> Not recommended for track use but comparable with OEM pads for both stopping power and wear. Nominal friction coefficient 0.55</p>
<p><b>Redstuff:</b> low dust, high temp pad. Designed for large vehicles or high performance vehicles. Average friction coefficient 0.5</p>
<p><b>Yellow:</b> New compound getting a good write-up for track use, possible alternative to Pagids at half the price. Cold friction 0.5 ; 550C(1000F)-0.31 ; 800C(1440F)-0.21 ; Average friction coefficient 0.5</p>
<p><b>Bluestuff NDX:</b> NDX is for street use. Non-NXD is an endurance race pad (not street legal). Cold friction 0.75 ; 550C(1000F)-0.45 ;  800C(1440F)-0.42</p>
<p><b>Orangestuff:</b> New pad. Track use only (not street legal). Designed to slow down car and not stop it. Cold friction 0.5 ; 550C(1000F)-0.6 ; 800C(1440F)-0.63
<br /><br /><br />
One of the <a href="http://wiki.seloc.org/a/Http://arc.seloc.org/viewthread.php%3Ftid%3D126236%26page%3D1#pid2778366" title="Http://arc.seloc.org/viewthread.php?tid=126236&amp;page=1">comments</a> about EBC from forum from a user (Simon S) that has used a lot of brake pads:<br />
EBC *anything* are just shite cheap crap, Greens are IMHO dangerous for anything other than light road use, Reds are not much better, and don&#39;t work well when pushed hard (as in overheat and break up), Yellows are rock hard and just do not offer the same level of retardation and pedal feel the OEM pads to when push come to shove... they also crumble when really pushed (and I had them actually catch fire!).
<br /><br /></p>
<h2><span class="mw-headline" id="Ferodo">Ferodo</span></h2>
<p><a class="external text" href="http://www.ferodo.com/en-global/Products/Pads/Pages/Product-Selection.aspx" rel="nofollow">| Ferodo Manufacturer Website</a>
</p><h3><span class="mw-headline" id="DS2500_-_H_compound">DS2500 - H compound</span></h3>
<p>Similar performance to Mintex 1144 but longer lasting. Common replacement pad in mainland Europe. Consistent coefficient of friction (0,42) at all temperatures.</p>
<h3><span class="mw-headline" id="DS3000">DS3000</span></h3>
<p>Race pad (not suitable for the road). Very grabby (high initial bite like it says on Ferodo website), no pedal feel, non-linear (unvarying torque output). Very High coefficient of friction (0,54) at all speeds and temperatures. There are several flavours of DS3000 pad: DS3000-R,DS3000-E,DS3000plus-M <br /><br />
Additional brake pads from Ferodo. Not available for Elise owners: DS4003, DS1.11, DS2.11 (source: <a class="external free" href="http://www.compfriction.com.au/brake_pads/ferodo_racing.php" rel="nofollow">http://www.compfriction.com.au/brake_pads/ferodo_racing.php</a>)</p>
<h2><span class="mw-headline" id="Hawk">Hawk</span></h2>
<p><a class="external text" href="http://www.hawkperformance.com" rel="nofollow">| Hawk Manufacturer Website</a><br />
According to their catalogue they only produce brake pads/discs for Lotus Elise 2005 (need more info: is this pad compatible with more years?)<br /><b>User information required</b><br />
Code reference:<br />
</p>
<ul>
<li>HB180x.560 Front brake pads</li>
<li>B278x.465 Rear brake pads</li>
</ul>
<p>Instead of &#39;x&#39; fill in compound code: F=High Performance Street(HPS) Z=Performance Ceramic N=HP Plus<br />
</p><h3><span class="mw-headline" id="DTC-70">DTC-70</span></h3>
<p>Race pad. Compound code U: 400-1600°F; 204-871°C. Extremely high torque with aggressive controllable initial bite. Superior release and torque control characteristics. Brake pads designed for cars with high deceleration rates with or without down force.
</p><h3><span class="mw-headline" id="DTC-30">DTC-30</span></h3>
<p>Race pad. Compound code W: 100-1200°F; 38-649°C. Brake pads designed Specifically for Dirt Circle Track applications. Uniquely controllable torque with smooth consistent feel and bite. Superior Release and torque control characteristics.
</p><h3><span class="mw-headline" id="HT-10">HT-10</span></h3>
<p>Race pad. Compound code S: 300-1300°F; 149-871°C. Intermediate to high torque with a smooth initial bite. Very consistent pedal feel. Excellent modulation and release characteristics. Higher Torque than Blue 9012.
</p><h3><span class="mw-headline" id="Blue_9012">Blue 9012</span></h3>
<p>Race pad. Compound code E: 250-1000°F; 121-538°C. Medium/High torque and temperature compound with excellent brake modulation. #1 selling brake pad material for SCCA.
</p><h3><span class="mw-headline" id="HP_Plus">HP Plus</span></h3>
<p>Race/Street pad. Compound code N. Extremely high coefficient of friction makes HP Plus the perfect upgrade over stock for high performance streetcars used in autocross competition or that experience repetitive, heavy braking.<br /><br />
Buy direct from Hawk: <a class="external free" href="http://www.hawkpadsdirect.com/" rel="nofollow">http://www.hawkpadsdirect.com/</a><br />
Direct link to Hawk catalogue: <a class="external free" href="http://www.hawkperformance.com/docs/catalog-current.pdf" rel="nofollow">http://www.hawkperformance.com/docs/catalog-current.pdf</a><br /><br /></p>
<h2><span class="mw-headline" id="Mintex">Mintex</span></h2>
<p><a class="external text" href="http://www.mintex.co.uk/" rel="nofollow">Mintex Manufacturer Website</a><br />
</p><h3><span class="mw-headline" id="1144">1144</span></h3>
<p>Excellent value for fast road and occasional track. Quick to bed in and work well from cold. Good pad life and not particularly abrasive on disks, although can be a bit dusty. Some fade experienced after pro-longed track use. Squeal can be a problem when the pads are hot, but a hefty dollop of coppaslip on the back of the pads should help.</p>
<p>Can overheat on tracks that need heavy braking and not much opportunity for cooling (e.g. Brands Indy), leading to a &#34;gravelly&#34; feel after a few laps.</p>
<p><b>Mintex variations</b></p>
<p>Be aware that there has been some confusion over which pads are 1144&#39;s. The part number for Mintex Pads for the Elise are MDB1890 and MDB1891 (Front and Rear), there are then compound types of which 1144 is one. These are the variations;</p>
<p><b>1109</b> - Standard Road Use - Not suitable for the track - These are normally found in motorfactors or ebay for £25 per axel and sometimes mis-sold as 1144&#39;s.</p>
<p><b>1144</b> - Fast Road / Normal Track Use - Cira £60 per axel, will be marked C-Type on the box.</p>
<p><b>1155</b> - Hard Track use only - harder compound and will lose out on feel and progression</p>
<p>The code will be on the back of the pad.</p>
<h2><span class="mw-headline" id="OMP">OMP</span></h2>

<h3><span class="mw-headline" id="Road.26Sport">Road&#38;Sport</span></h3>
<p>OT/7951 Front pads<br />
OT/7954 Rear pads<br />
<a class="external free" href="http://www.ompracing.it/prodotti.html?categorycode=GPASTIGLIE1&#38;changelanguage=en" rel="nofollow">http://www.ompracing.it/prodotti.html?categorycode=GPASTIGLIE1&#38;changelanguage=en</a></p>
<p>OMP Road&#38;Sport brake pads have been developed to offer excellent performance in fast road use.
</p>
<ul>
<li>Excellent stability of the friction coefficient, even at the highest temperature (see graph).</li>
<li>This compound is the result of 30 years experience in rallies and track racers.</li>
<li>For the new car models manufactured from 10/1999 the pads are homologated according to R-90 rules.</li>
</ul>

<h3><span class="mw-headline" id="Racing">Racing</span></h3>
<p>OT/6951 Front pads<br />
OT/6952 Rear pads<br /></p>
<p><a class="external free" href="http://www.ompracing.it/prodotti.html?categorycode=GPASTIGLIE&#38;changelanguage=en" rel="nofollow">http://www.ompracing.it/prodotti.html?categorycode=GPASTIGLIE&#38;changelanguage=en</a></p>
<p>971C RACING COMPOUND
OMP 971C range of brake pads is made from a new friction material, asbestos free, having following characteristics:
</p>
<ul>
<li>COMPOSITION: thermosetting resins with the addition of special carbon materials.</li>
<li>FRICTION COEFFICIENT: very high (0.48).</li>
<li>FRICTION STABILITY: uniform also during varying of the temperature in a field between 100 and 800° C (see graph).</li>
<li>ANTI-FADING PROPERTIES: excellent</li>
<li>MECHANICAL RESISTANCE: very high also thanks to the special structure formed by the substances present in the compound.</li>
<li>TOP LEVEL PERFORMANCES in professional use (Rally, Group N).</li>
</ul>

<p>Pads have good initial bite from cold and cope well with track use.</p>
<p>Could do with a little more feedback under hard braking, but don&#39;t show any signs of fading.</p>
<p>Like many track-oriented pads they can squeal/screech quite a bit on the street.</p>
<p>Low disc wear.</p>

<h2><span class="mw-headline" id="Pagid">Pagid</span></h2>
<p><a class="external text" href="http://www.braketechnology.com/" rel="nofollow">Official Website</a></p>
<p><a class="external text" href="http://www.braketechnology.com/racecharacteristics.html" rel="nofollow">Racing Compound Characteristics</a></p>
<h3><span class="mw-headline" id="RS_4-2_Blue">RS 4-2 Blue</span></h3>
<p>A medium friction racing compound with good cold friction and fading resistance up to 500°C ( 930°F).
</p>
<ul>
<li>Work well from cold.</li>
<li>Under very hard use they will fade before the RS14 compound.</li>
<li>less prone to squeal than RS14&#39;s</li>
</ul>

<p>Summary, A good compromise for both Road and Track usage. Can be noisy with some disc combo&#39;s.</p>
<p>Fronts are lasting around 10 hard track days (20 hours) rears are lasting 40 track hard days (80 hours).</p>
<h3><span class="mw-headline" id="RS_14_Black">RS 14 Black</span></h3>
<p>This is a medium high friction value ceramic type compound with very good modulation, high fade resistance, low heat conductivity, and a good wear rate up to a temperature of 650°C (1.200°F). 
</p>
<ul>
<li>If used as a road pad they can eat discs, however when at track temperature the wear ratio will be higher in the pad providing less wear of the disk.</li>
<li>Not as effective from cold as the RS 4-2 compound.</li>
<li>Very track orientated pad so whilst safe to use on the road a driver with a road only intention may well be better to look at a different compound.</li>
</ul>
<p>These pads can generate a lot of squeal if not used in anger on a regular basis, so while highly rated for track work, these pads are perhaps too compromised for a road car. Incompatible with a lot of discs so check compatibility before buying.</p>
<h3><span class="mw-headline" id="RS_15_Grey">RS 15 Grey</span></h3>
<p>Very high torque compound. It combines a 20% higher friction value than the RS14 with a slightly increased pad wear. Needs finesse to avoid over braking the car. Good release characteristic. Although the RS15 has a very good modulation (controllability) it might have an excessive bite for some applications, as lightweight cars or cars with boosted brakes. Applications: NASCAR, CART, F3, Touring cars, GT cars, WSC, DP, Trans Am and Rally.</p>

<h2><span class="mw-headline" id="Performance_Friction">Performance Friction</span></h2>
<p>New brake pad available at Eliseparts shop.
<a class="external text" href="http://www.performancefriction.com/" rel="nofollow">| PFC Manufacturer Website</a> <br />
<b>Below information is from manufacturer and other websites. user information required</b></p>
<h3><span class="mw-headline" id="81">81</span></h3>
<p>Low Grip Asphalt and Dirt Track applications
Replacing the perennial favourite 80 compound, 81 offers smooth and stable high temperature torque with excellent cold bite for the dirt and asphalt racers that demand race ready friction.  81 compound also offers quicker release for unrivaled modulation with low wear and excellent disc conditioning properties.
</p><h3><span class="mw-headline" id="01">01</span></h3>
<p>01 is one of the most popular race compounds in the PFC&#39;s arsenal. Slightly higher 
bite and torque for the first 2/3&#39;s of the stop than 83 compound. At the end of the 
stop, 01 compound has less torque scatter for improved modulation with excellent 
release and a flat torque curve. 01 compound is very easy on the discs with very 
low wear, on par with 83 compounds. 
</p><h3><span class="mw-headline" id="08">08</span></h3>
<p>08 compound is one of PFC newest and have gained immediate favor in Endurance Sportscar, and GT racing due to its performance in applications where smooth initial bite is a must. 08 have a slight friction rise with temperature, excellent release and modulation characteristics, and very low abraded disc wear. In addition to its considerable performance, 08 wears the longest of all PFC pads and easily matches wear of the other competitors with much higher bite.</p>

<p>note: Added section below because this compound is mentioned. 83 Compound is replaced by the 81 compound.<br />
</p><h3><span class="mw-headline" id="83">83</span></h3>

<p>Recommended for high grip and severe duty applications.  This is the compound that has won more championships since it’s debut than all others.  It is a perenniel workhorse in NASCAR.  When it comes to slowing down under the most severe conditions, 83 compound has a tremendous history of success.  Higher bite than 80 compound, with a rising torque curve to handle the most extreme conditions, along with low wear.  01, 03 and 05 compounds are steadily replacing 83 compound in most applications.  It is still available in many applications and remains a viable choice nearly 20 years after being released.</p>
<p>Manufacturer website: <a class="external free" href="http://www.performancefriction.com" rel="nofollow">http://www.performancefriction.com</a></p>
<h2><span class="mw-headline" id="SBS">SBS</span></h2>
<p>Scandinavian Brake Systems. Not have the feel of Pagid but  perfectly decent. High performance low cost.
</p>
<ul>
<li><a class="external text" href="http://uk.sbs.dk/divisions/automotive.aspx" rel="nofollow">| SBS Manufacturer Website</a></li>
<li>UK SBS distributer is <a href="http://wiki.seloc.org/a/Questmead" title="Questmead">Questmead</a>.</li>
</ul>

<h3><span class="mw-headline" id="ProTrack">ProTrack</span></h3>
<p>Steady, all round carbon ceramic race compound. Ideal for track days, standard car racing etc.</p>

<ul>
<li>Disc temperatures up to 700°C.</li>
</ul>

<pre>Front: 3017.CC.TH14.3
Rear: 3101.CC.
</pre>
<h3><span class="mw-headline" id="ProRace">ProRace</span></h3>
<p>The professional Dual Carbon race compound for racing at highest level. Stable and consistent brake performance round after round. Extremely high thermal stability.</p>

<ul>
<li>Disc temperatures up to 800°C.</li>
</ul>

<h2><span class="mw-headline" id="Textar">Textar</span></h2>
<p><a class="external text" href="http://www.textar.com" rel="nofollow">| Textar Manufacturer Website</a>
</p><h3><span class="mw-headline" id="R90_Road_pads">R90 Road pads</span></h3>
<p>Pure road pads which should be similar (and possibly identical) to Lotus OEM brake pads.</p>
<p>Additional information: <i>OEM are Textar pads with a Brembo/AP logo printed on them. The Textar logo can be seen engraved in the backing plate.</i></p>
<p>Part numbers:</p>

<ul>
<li>Front: 2032306 (EAN-number: 4019722256141)</li>
<li>Rear: 2041003 (EAN-number: 4019722256172)</li>
</ul>


<p>



</p>