
<p><a class="external text" href="http://www.seloc.org/membership/benefits/insurance/" rel="nofollow">Check the latest SELOC membership insurance benefits</a></p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Companies">Companies</a>
</li>
<li class="toclevel-1"><a href="#Temporary_Cover">Temporary Cover</a>
</li>
<li class="toclevel-1"><a href="#One-off_Track_Day_Insurance">One-off Track Day Insurance</a>
</li>
<li class="toclevel-1"><a href="#Insurance_Check">Insurance Check</a>
</li>
<li class="toclevel-1"><a href="#Job_Title">Job Title</a>
</li>
<li class="toclevel-1"><a href="#Postcode_Risk_Assessment">Postcode Risk Assessment</a>
</li>
<li class="toclevel-1"><a href="#References">References</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Companies">Companies</span></h2>



<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Name &#38; Weblink </th>
<th>Phone </th>
<th>Contact </th>
<th>Mod Friendly </th>
<th>Track Day Cover Included / Additional Information </th></tr>
<tr>
<td><a class="external text" href="http://www.1answer.co.uk/" rel="nofollow">1 Answer Insurance</a></td>
<td>0800 276 1338</td>
<td>Rich Hermida</td>
<td>Audi/Honda/Duratec/Rover/Toyota</td>
<td>6 Track days, 1 Answer insurance. Contact the team on 0800 276 1338 for a bespoke quote, which can include track days with reduced track day excess, agreed value, commuting, Class 1business use with standard features such as 60 European cover, reduced windscreen excess and legal cover. They can mirror NCB and you will earn NCB with their policies. The  main Lotus insurer deals with limited mileage up to 12k pa, and they will insure all Audi, Duratec, Honda N/A, S/C, C/C set ups, along with Katana Toyota powered cars and modified Rover engined cars.Schnitzel (Rich Hermida) is the Sales Director and Seloc advertiser and can be contacted direct on 01323 481407.</td></tr>
<tr>
<td><a class="external text" href="http://www.reis.co.uk/" rel="nofollow">REIS (Formerly Richard Egger Insurance)</a></td>
<td>0115 965 1020 </td>
<td>Steve Hallam or Mary Singleton (mention SELOC for special rates)</td>
<td>Yes </td>
<td>Agreed Value Cover available. Track Day Cover (Four  days included - any venue in the UK or Europe, excluding Nurburgring/Nordschliffe) available - Excess is 10% of insured value. Glass Cover &#38; Club Discounts all available. Discount for Andy Walsh/Car Limits Driver Training Day. Enhanced Windscreen Cover (upto £1000 per claim) as standard. All drivers must be 25+.  Policies limited to 7000 miles per annum maximum. No premium load for Commuting although vehicle must be parked in works car park.</td></tr>
<tr>
<td><a class="external text" href="http://www.competition-car-insurance.co.uk/" rel="nofollow">Competition Car Insurance (CCI)</a> </td>
<td>0844 892 1966 </td>
<td>Option 4 </td>
<td>Yes </td>
<td>4 free days with approved organisers &#38; notification prior to day (1 days notice minimum) required. [If you have 2 years+ claim-free experience driving an Elise or similar, quotes are very competitive. 10% discounts available for SELOC Club Supporters. Also additional discount (10%) to be had for car control course / driver training - need certificate to prove attendance though]. Track cover includes some EU circuits (Nurburgring) but doesn&#39;t include recovery costs and windscreen damage not covered on track. Won&#39;t mirror NCB from another car, but were happy to give me 4 year&#39;s worth &#34;introductory bonus&#34;. Policies limited to 7000 miles. **17.02.14 - confirmed have to be over 40yo**
May 2012 - Just got a quote and it included 6 track days with the same conditions as above.  As of 2012, Aviva (CCI&#39;s underwriter) are heavily loading premiums for anyone that requires &#34;commuting&#34; cover, be sure to mention if you dont need it.</td></tr>
<tr>
<td><a class="external text" href="http://www.heritage-quote.co.uk" rel="nofollow">Heritage</a> </td>
<td>0121 246 6062 - ask for Martin (drivers over 28yrs.) </td>
<td>Discount for SELOC members </td>
<td>Yes </td>
<td>Track cover only included for club you are a member of eg LoT, cover is available for events with other TDOs at an additional premium. Will mirror NCB from other cars - no need to transfer your NCB to the vehicle insured with them. Check terms with Heritage. Spoke to on 11/1/2012 and refused to quote on Elise, saying they dont really deal with these any more</td></tr>
<tr>
<td><a class="external text" href="http://www.ckinsurance.co.uk" rel="nofollow">Chris Knott</a> </td>
<td>0844 576 0660 </td>
<td>Mention SELOC for special rates </td>
<td>Yes </td>
<td>Drivers over 30 (was 25 in previous years and may revert back in 2012). Need to have been driving your lotus for at least a year. Minimum premium is £400 apparently. Does not cover track days, but does offer multi-car policies.</td></tr>
<tr>
<td><a class="external text" href="http://www.hendersontaylor.co.uk/" rel="nofollow">Henderson Taylor insurance</a> </td>
<td>0161 4377442 </td>
<td>(Matt) Mention SELOC for special rates </td>
<td>Yes </td>
<td>Trackdays included, mod friendly policies mostly underwritten by Aviva on very similar terms as CCI (also underwritten by Aviva). As of 22/11/11, mileage limited to 7500 (now 5000?) miles per annum for Lotus policies. As of 08/02/12 Matthew confirmed that unlimited policies are available. As of 2012, Aviva are heavily loading premiums for anyone that requires &#34;commuting&#34; cover, be sure to mention if you dont need it though Matt is on the ball and will almost certainly ask you. (Tyrex) - I spoke to Henderson today (4/1/13) who confirmed that the maximum annual mileage for their policies was 6000. **17.02.14 - maximum mileage is now 4500pa!**</td></tr>
<tr>
<td><a class="external text" href="http://www.manninguk.com/automotive/" rel="nofollow">Manning UK</a> </td>
<td>01491 578759 </td>
<td>- </td>
<td>Yes (up to %age bhp limit) </td>
<td>Sportscar specialists (run club schemes for TVR/Porsche/Aston).  Includes trackdays.  Discounts for driver training.  Happy to quote for Lotus too, very friendly/helpful.  Target profile is primarily second car or low mileage (5K) drivers, werent competitive (for me) on a 9K miles policy.  Well worth a try if you fit their profile though. Offer multi-car policies and unlimited track days.  Honda transplants will exceed their bhp mod limit.
Days with non-ATDO track day companies are not covered, however Lotus on Track have recently joined ATDO.</td></tr>
<tr>
<td><a class="external text" href="http://www.privateclients.aon.co.uk/privateclients/microsites/cars/" rel="nofollow">Lotus - Esteem / AON (Official)</a> </td>
<td>08705 708090 or 01483 706055 or 51 </td>
<td>AON policies now moved to Footman James (below) </td>
<td>? </td>
<td>(Require driver be 30 or over) </td></tr>
<tr>
<td><a class="external text" href="http://www.aplan.co.uk/" rel="nofollow">A-Plan</a> </td>
<td>01635 874 646 </td>
<td>Usually Matthew Minchin. Discount for SELOC members </td>
<td>Yes </td>
<td>Contact the Thatcham office for Lotus schemes. Can provide free 5 day UK trackday cover on Royal Sun Alliance policies. &#34;ok with brakes and suspension upgrade but not too sure with the engine but ok in the end.&#34;<sup id="_ref-1" class="reference"><a href="#_note-1" title="">[1]</a></sup></td></tr>
<tr>
<td><a class="external text" href="http://www.adrianflux.co.uk/" rel="nofollow">Adrian Flux</a> </td>
<td>0800 081 8989 </td>
<td>&#34;Yellow department&#34; Mention SELOC for special rates </td>
<td>Yes </td>
<td></td></tr>
<tr>
<td><a class="external text" href="http://www.noeldazely.co.uk/" rel="nofollow">Noel Dazely</a> </td>
<td>0870 0466604 </td>
<td>Mention SELOC for special rates </td>
<td>Yes </td>
<td></td></tr>
<tr>
<td><a class="external text" href="http://www.aplan.co.uk/" rel="nofollow">Admiral</a> </td>
<td>0800 600 800 </td>
<td />
<td>No </td>
<td>?</td></tr>
<tr>
<td><a class="external text" href="http://www.bell.co.uk/" rel="nofollow">Bell Direct</a> </td>
<td>0800 140 180 </td>
<td />
<td>No </td>
<td>?</td></tr>
<tr>
<td><a class="external text" href="http://www.directline.com/" rel="nofollow">Direct Line</a> </td>
<td>0845 246 8701 </td>
<td />
<td>? </td>
<td>(require tracker and driver over 25yrs old)</td></tr>
<tr>
<td><a class="external text" href="http://www.elephant.co.uk/" rel="nofollow">Elephant</a> </td>
<td>0870 0401 140 or 0870 0131072 </td>
<td />
<td>No </td>
<td /></tr>
<tr>
<td><a class="external text" href="http://www.footmanjames.co.uk/" rel="nofollow">Footman James</a> </td>
<td>0121 561 4196 </td>
<td />
<td>Not very - didn&#39;t even like Performance pack on Exige </td>
<td>Track day cover included but won&#39;t cover Car Limits driver training days with Andrew Walsh
Just called and they only cover classics, they have stopped insuring modern cars</td></tr>
<tr>
<td><a class="external text" href="http://www.argos.co.uk/webapp/wcs/stores/servlet/ArgosFSCarInsuranceHomeView?langId=-1&#38;storeId=10001" rel="nofollow">Argos</a> </td>
<td>0800 015 4835 </td>
<td />
<td>? </td>
<td>? </td></tr>
<tr>
<td><a class="external text" href="http://www.asdafinance.com/car-insurance.html" rel="nofollow">ASDA</a> </td>
<td>0845 300 2310 </td>
<td />
<td>? </td>
<td>?</td></tr>
<tr>
<td><a class="external text" href="http://www.lv.com/insurance/car_insurance" rel="nofollow">Liverpool Victoria</a> </td>
<td>01202 292 333 </td>
<td />
<td>? </td>
<td>Driver must be 25+ on an Elise</td></tr>
<tr>
<td><a class="external text" href="http://www.hastingsdirect.com" rel="nofollow">More Than / Hastings</a> </td>
<td>0800 072 4186 </td>
<td />
<td>? </td>
<td>?</td></tr>
<tr>
<td><a class="external text" href="http://www.michaelwardassociates.com" rel="nofollow">Michael Ward</a> </td>
<td>01707 378260 </td>
<td />
<td>? </td>
<td>Good for young drivers on all sports cars, very easy to deal with! </td></tr></table></div>





<p>Insurance world 01604 615415</p>
<p>Norwich Union Direct 0800 092 9564</p>
<p>Privilege 0845 246 0275</p>
<p>Quoteline Direct 0870 442 9049</p>
<p>Tesco 0845 300 4400</p>

<p>Also remember that you can get affiliate money with some of the bigger insurance companies simply by taking out insurance via your QuidCo.com account. For example, More Than currently give £75 back via QuidCo. These cashback sites are discussed on the uber-price comparison site:
<a class="external free" href="http://www.moneysavingexpert.com/insurance/compare-cheap-car-insurance" rel="nofollow">http://www.moneysavingexpert.com/insurance/compare-cheap-car-insurance</a></p>
<h2><span class="mw-headline" id="Temporary_Cover">Temporary Cover</span></h2>
<p>For instant short-term insurance for courtesy cars and test drives etc - car not needed to be owned by driver:</p>
<p><a class="external free" href="http://www.ecarinsurance.co.uk" rel="nofollow">http://www.ecarinsurance.co.uk</a></p>
<p><a class="external free" href="http://www.dayinsure.com" rel="nofollow">http://www.dayinsure.com</a></p>
<p><a class="external free" href="http://www.tempcover.co.uk" rel="nofollow">http://www.tempcover.co.uk</a> (some restrictions on insurance groups of cars they will cover - it will tell you during the quote)</p>
<h2><span class="mw-headline" id="One-off_Track_Day_Insurance">One-off Track Day Insurance</span></h2>


<ul>
<li>REIS (formally Richard Egger Insurance) - <a class="external free" href="http://www.reis.co.uk/" rel="nofollow">http://www.reis.co.uk/</a></li>
<li>Competition Car Insurance - <a class="external free" href="http://www.competition-car-insurance.co.uk/enquiry.htm" rel="nofollow">http://www.competition-car-insurance.co.uk/enquiry.htm</a></li>
<li>Morris - <a class="external free" href="http://www.morispayment.co.uk/affiliate_trackday.asp?prefix=CIG" rel="nofollow">http://www.morispayment.co.uk/affiliate_trackday.asp?prefix=CIG</a></li>
</ul>

<p>CCI insurance is cheaper if the event is a novice trackday, so be sure to mention it.</p>
<h2><span class="mw-headline" id="Insurance_Check">Insurance Check</span></h2>
<p>Use this site to check whether any car in the UK is insured.</p>
<p><a class="external free" href="http://www.askmid.com" rel="nofollow">http://www.askmid.com</a>
<a class="external free" href="http://ownvehicle.askmid.com/" rel="nofollow">http://ownvehicle.askmid.com/</a> (direct link)</p>
<p>Use this site to check a cars MOT history.  You need the registation plate and V5 document number.</p>
<p><a class="external free" href="http://www.motinfo.gov.uk" rel="nofollow">http://www.motinfo.gov.uk</a></p>
<h2><span class="mw-headline" id="Job_Title">Job Title</span></h2>
<p>Use this site to see what impact subtle variations in your job title can have on your premiums.</p>
<p><a class="external free" href="http://www.moneysavingexpert.com/insurance/car-insurance-job-picker/" rel="nofollow">http://www.moneysavingexpert.com/insurance/car-insurance-job-picker/</a></p>
<h2><span class="mw-headline" id="Postcode_Risk_Assessment">Postcode Risk Assessment</span></h2>
<p>Have a look at this site to see what risk assessment is associated with your postcode.</p>
<p><a class="external free" href="http://www.carinsuranceexplained.com/car_insurance_explained/insurance_postcode_risk.htm" rel="nofollow">http://www.carinsuranceexplained.com/car_insurance_explained/insurance_postcode_risk.htm</a></p>
<h2><span class="mw-headline" id="References">References</span></h2>
<ol class="references">
<li id="_note-1"><b><a href="#_ref-1" title="">&#8593;</a></b> <a class="external text" href="http://forums.seloc.org/viewthread.php?tid=321707" rel="nofollow">SELOC Forums » Suggestions, Q &#38; A » modifying wikipage about insurance</a></li>
</ol>