
<p>This procedure details how to change the nearside upper and lower wishbone bushes on an S2 K-series Lotus Elise. An identical procedure is used to replace the offside front wishbone bushes and most of the principles apply when changing the rear upper and lower wishbone bushes.</p>
<p>The wishbones on the S1 Elise are very similar. The main differences are:-</p>
<p>S2 front wishbones are approximately 8mm longer per side and the bottom front wishbones have different damper mounting points.</p>
<p>The damper mounting points are in the same place on the rear wishbones, but the handbrake cable restraint is different.</p>
<p>So this procedure can also be used for the S1.</p>
<p>Several types of wishbone bushes can be fitted to the Lotus Elise:-</p>


<ul>
<li><b>OEM</b> - Good ride quality, ideal for normal road, fast road and track use. The central steel sleeve is bonded to the rubber so it does not pivot around it freely.</li>
<li><b>Polyurethene</b> - Good ride quality, ideal for normal road, fast road and track use. The central sleeve rotates freely within the bush.</li>
<li><b>Nylatron</b> - Firm ride quality and not recommended for normal road use, ideal for fast road and track use. The central sleeve rotates freely within the bush.</li>
<li><b>Spherical Joints</b> - Harsh ride quality and recommended for track use only. These are not bushes, but close tolerance stainless steel bearings, commonly known as Rose Joints and need to be welded into the wishbones. These are not suitable as DIY replacements.</li>
</ul>


<p>OEM wishbone bushes do not require periodic maintenance. Maintaining polyurethene and nylatron bushes is much easier than fitting them. The wishbones do not need to be completely removed from the car if you need to re-grease the sleeves. All wishbones can be removed from the chassis by just taking out the wishbone bolts and sliding the wishbones out. All other suspension and brake components can remain in place. Only the brake pipe clamps need to be removed and care must be taken to ensure that the brake pipes are not under strain when maintaining the bushes.</p>

<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:19g_Upper_Wishbone_Removed_Without_Removing_Ball_Joint.JPG" ><img src="19g_Upper_Wishbone_Removed_Without_Removing_Ball_Joint.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>This photograph shows polyurethene bushes being maintained in the front upper wishbone with all other components undisturbed, apart from the brake pipe clamp.</p>
                    </div>
                </div>
                </p>
<p>Polyurethane bushes are shown being fitted using this procedure and I have explained the different steps required for fitting OEM, polyurethene and nylatron bushes where appropriate.</p>


<p>Periodic maintenance is required for polyurethene bushes. If the grease dries out then the sleeves will become scored and the inside of the bushes will start to break up.</p>
<p>Here are a couple of photographs showing a sleeve and it&#39;s bush that have not been regreased for 35,000 miles.</p>

<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Scored_Polyurethene_Bush_Sleeve.JPG" ><img src="Scored_Polyurethene_Bush_Sleeve.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Scored_Polyurethene_Bush.JPG" ><img src="Scored_Polyurethene_Bush.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                </p>
<p>Nylatron bushes require even more regular maintinance. Whilst the bush material is harder wearing the lubrication gets expelled very quickly when they are used on the road. These inserts are from a car that only covered 15,000 miles in 2 years of largely dry miles.</p>
<p><a class="external free" href="http://gallery.seloc.org/albums/userpics/13397/nylatroninserts.jpg" rel="nofollow">http://gallery.seloc.org/albums/userpics/13397/nylatroninserts.jpg</a></p>

<h2><span class="mw-headline" id="Procedure">Procedure</span></h2>
<p><a href="http://wiki.seloc.org/a/Remove_the_front_undertray" title="Remove the front undertray">1. Remove the front undertray.</a>

                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:2_Loosen_Bolts_on_Road_Wheel.JPG" ><img src="2_Loosen_Bolts_on_Road_Wheel.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>2. Loosen the bolts/nuts on the front road wheel.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:3_Lift_Car_Using_Rear_Jacking_Point.JPG" ><img src="3_Lift_Car_Using_Rear_Jacking_Point.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>3. Lift the car using the rear jacking point.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:4_Use_Fixed_Support_Under_Front_Jacking_Point.JPG" ><img src="4_Use_Fixed_Support_Under_Front_Jacking_Point.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>4. Place a fixed support under the front jacking point and lower the jack.</p>
                    </div>
                </div>
                <div></div>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:5_Remove_Brake_Pipe_Clamp.JPG" ><img src="5_Remove_Brake_Pipe_Clamp.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>5. Remove the road wheel and then the brake pipe clamp.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:6_Remove_Brake_Caliper.JPG" ><img src="6_Remove_Brake_Caliper.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>6. Remove the brake caliper.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:7_Remove_Brake_Disc.JPG" ><img src="7_Remove_Brake_Disc.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>7. Remove the brake disc and cable tie the caliper out of the way. Ensure the brake pipe is not under any strain.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:8a_Remove_Damper_Assembly.JPG" ><img src="8a_Remove_Damper_Assembly.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>8a. Remove the damper.</p>
                    </div>
                </div>
                <div></div>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:8b_Damper_Assembly_Removed.JPG" ><img src="8b_Damper_Assembly_Removed.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>8b. Damper removed.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:9_Remove_Drop_Link.JPG" ><img src="9_Remove_Drop_Link.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>9. Remove the drop link from the lower wishbone.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:10_Remove_Upper_%26_Lower_Ball_Joint_Nuts.JPG" ><img src="10_Remove_Upper_%26_Lower_Ball_Joint_Nuts.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>10. Remove the upper and lower ball joint nuts.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:11_Remove_Both_Ball_Joints.JPG" ><img src="11_Remove_Both_Ball_Joints.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>11. Remove the upper and lower ball joints from the hub carrier. I prefer to use a fork splitter, but there is a high probability of damaging the ball joint dust covers. Some people prefer to use a scissor type splitter for this step.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:12_Hub_Carrier_Removed.JPG" ><img src="12_Hub_Carrier_Removed.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>12. The ball joints are both removed from the hub carrier. If you apply some lubricant to the ball joint dust cover when using a fork splitter it can prevent the dust cover from splitting.</p>
                    </div>
                </div>
                <div></div>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:13_The_spring_Clips_Usually_Come_Off_the_Balljoint_Rubber.JPG" ><img src="13_The_spring_Clips_Usually_Come_Off_the_Balljoint_Rubber.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>13. The retaining springs always come off the dust covers when using a fork splitter, but they are easy to put back on if lubricant has been used.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:14a_Remove_the_Upper_Wishbone_1.JPG" ><img src="14a_Remove_the_Upper_Wishbone_1.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>14a. Remove the upper wishbone. There are four shims for both the front and the rear bushes. Make a note of where they are positioned as the number of shims placed either side of the bush set the castor angle.</p>
                    </div>
                </div>
                <div>The shims must be reassembled in the same order as they came off. The same number of shims must be placed either side of the rear bush as the front bush. The front bush uses large diameter shims and one of them is a snubber washer that has rubber bonded onto each face. It is important to place this shim in the correct position because it is there to prevent metal to metal contact when using OEM bushes. The rear bush uses small diameter shims.</div>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:14b_Remove_The_Upper_Wishbone_2.JPG" ><img src="14b_Remove_The_Upper_Wishbone_2.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>14b. Remove the upper wishbone continued.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:15b_Upper_Wishbone_Removed_2.JPG" ><img src="15b_Upper_Wishbone_Removed_2.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>15a. The upper wishbone has been removed.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:15c_Upper_Wishbone.JPG" ><img src="15c_Upper_Wishbone.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>15b. This photograph shows the upper wishbone off the car.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:19h_Snubber_Washer.JPG" ><img src="19h_Snubber_Washer.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Snubber washer.</p>
                    </div>
                </div>
                </p>
<p>If you are fitting nylatron or polyurethane bushes you will not be able to refit the snubber washer without modifying it, so you will either need to remove the rubber from the faces of the shim or replace it with a standard large diameter shim. The snubber washer is not designed to be used with aftermarket bushes because the flat of the washer will not make proper contact with the sleeve of the wishbone. This will result in the sleeve not being clamped up tight.</p>
<p>It is worth using new shims when replacing wishbone bushes.</p>

<p>Part numbers for replacement shims:-</p>

<ul>
<li>A111C0080F (Qty 8) - Shim, castor adjustment, small </li>
</ul>


<ul>
<li>A111C0077F (Qty 6) - Shim, castor adjustment </li>
</ul>


<ul>
<li>A111C0081F (Qty 2) - Snubber washer, rubber coated upper wishbone </li>
</ul>


<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:16a_Remove_Lower_Wishbone_1.JPG" ><img src="16a_Remove_Lower_Wishbone_1.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>16a. Remove the lower wishbone. If you are working on your own you will find that it is impossible to remove the rear lower wishbone bolt. To overcome this problem I cable tie a ring spanner to the lower wishbone so that I can remove the bolt from inside the footwell without an assistant.</p>
                    </div>
                </div>
                <div></div>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:16b_Remove_Lower_Wishbone_2.JPG" ><img src="16b_Remove_Lower_Wishbone_2.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>16b. If you are working on the nearside and you have a passenger foot rest you will need to remove it first and then you can access the wishbone bolt.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:16c_Lower_Wishbone.JPG" ><img src="16c_Lower_Wishbone.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>16c. Lower wishbone removed from the car.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:17_Both_Wishbones_Removed.JPG" ><img src="17_Both_Wishbones_Removed.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>17. Both wishbones have been removed from the car.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:18a_Remove_Sleeve_from_Polybush.JPG" ><img src="18a_Remove_Sleeve_from_Polybush.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>18a. If you are removing a polyurethane bush you will need to tap out the stainless steel sleeve first. I use a slightly smaller diameter sleeve to tap out the bush sleeve. The same process can be applied if you are removing nylatron bush sleeves that have become tight. Do NOT do this if you are removing an OEM bush.</p>
                    </div>
                </div>
                <div></div>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:18b_Remove_Polybush_From_Wishbone.JPG" ><img src="18b_Remove_Polybush_From_Wishbone.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>18b. The polyurethane bush can be tapped out easily using a 7/8 inch socket. I have removed nylatron bushes by tapping out the bottom bush using a screwdriver through the centre hole from the top bush, but the bush is not reusable with this method as the screwdriver damages the bush. It is NOT possible to remove an OEM bush by using either of these methods.</p>
                    </div>
                </div>
                <div></div>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:18c_Remove_Standard_Bush_From_Wishbone.JPG" ><img src="18c_Remove_Standard_Bush_From_Wishbone.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>18c. I have added this photograph to show how an OEM bush can be removed from the wishbone. This photograph is an indication of how to remove an OEM bush as the one shown is polyurethane and CANNOT be removed by this method.  Additional notes:  A bit of WD40 does wonders. Socket sizes: a 32mm socket to 'receive' the bushes (on the side with the lip!). A 12mm socket is a perfect fit to push it out - it sits on the inner metallic tube but actually pushes the entire bush out.</p>
                    </div>
                </div>
                </p>
<p>The top hat is much thinner on an OEM bush so the 7/8 inch socket on the left can break the top hat and push the bush through the wishbone easily. The 11/8 inch socket on the right will allow the bush to be pressed out of the wishbone by about 1 inch.</p>
<p>The assembly will then need to be removed from the vice and reinserted as in step 18b. The 7/8 inch socket can be used to tap out the remainder of the bush.  The OEM bush is NOT reusable.</p>

<p>Different methods are used to press in the bushes dependant upon whether OEM, nylatron or polyurethane bushes are being used. In this procedure I have re-fitted polyurethane bushes which are reusable and can be inserted by hand. Nylatron and OEM bushes need to be pressed in to fit. I have never fitted OEM bushes but pressing it should be possible using a heavy duty bench vice and suitable lubricant. Nylatron bushes can definitely be pressed in using a bench vice.</p>
<p>It is important that the bushes are inserted into the wishbones in the correct way. The drawing below shows which way to insert both OEM and polyurethane bushes into the front upper and lower wishbones. You will see that the top wishbone bushes are inserted from the outside and the lower wishbone bushes are inserted from the inside of the wishbones. The same method applies to the rear wishbones. Nylatron bushes are designed differently and two bushes are used for each joint; one bush inserted from either end.</p>
<p>Copper grease needs to be applied to the sleeves on polyurethene bushes during assembly to ensure the sleeves rotate freely in the bushes but it is not recommended for nylatron. Molybdenum grease is the recommended lubricant for nylatron bushes and they will probably need to be reamed after they are pressed in to ensure the sleeve rotates freely in the bush. The tolerance of the wishbone means the two bushes will not always line up exactly when they are inserted from opposite ends. This means the sleeve will not rotate freely and they will tend to bind when in use if they are not fettled.
<a class="image" href="http://wiki.seloc.org/a/Image:Polybush4.JPG" ><img src="Polybush4.JPG" width="220" />
</a></p>
<p>I was not happy with my polyurethane bush installation for the front upper wishbones and I have subsequently made a modification by replacing the small diameter shims that are used on the top rear bushes with the large diameter shims used for the front top wishbone bush. I have found that the small shims penetrate into the polyurethane bushes when the car is driven, like this:-</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:Polybush2.JPG" ><img src="Polybush2.JPG" width="220" />
</a></p>
<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:19c_Upper_Rear_Wishbone_Bush_Fitted.JPG" ><img src="19c_Upper_Rear_Wishbone_Bush_Fitted.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>This photograph shows how the front upper rear wishbone bush had moved after the car was driven. Both rear shims had penetrated the bush which is now misaligned.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:19d_Upper_Rear_Wishbone_Bush_showing_Both_Shims_Embedded.JPG" ><img src="19d_Upper_Rear_Wishbone_Bush_showing_Both_Shims_Embedded.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>This photograph shows both rear shims embedded into the polyurethene bush.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:19e_Upper_Rear_Wishbone_Bush_Showing_Embedded_Shims_Removed.JPG" ><img src="19e_Upper_Rear_Wishbone_Bush_Showing_Embedded_Shims_Removed.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>This photograph shows both shims removed from the bush and you can see that the inner sleeve has been pushed forward.</p>
                    </div>
                </div>
                </p>
<p>This is how I have subsequently fitted the shims on the upper front wishbones:-
<a class="image" href="http://wiki.seloc.org/a/Image:Polybush5.JPG" ><img src="Polybush5.JPG" width="220" />
</a></p>
<p>When the bushes have been fitted, the wishbones need to be re-attached to the car. The reassembly procedure is more or less the reverse of disassembly.</p>
<p>It can be very difficult to get the castor shims back in on the upper front wishbone assembly. It is even more difficult if you are fitting nylatron bushes as you cannot compress the top hats of the bushes. You can superglue the shims together before re-assembly, but this does not work very well if you are re-using old shims because their faces will have become rusty. I fit the shims as closely as possible by tapping them in gently trying not to break the superglue then I use a tapered drift to align the centre holes so the wishbone bolt fits. Do not be tempted to use excessive force to drive the wishbone bolt in as this will result in the bolt thread becoming damaged. If you are re-fitting the small diameter shims you will find they are much harder to fit than the large diameter shims and if you use excessive force the small shims will distort and you will not be able to pass the wishbone bolt through them.</p>
<p><b>Once again, because this is important.</b> If you are fitting nylatron or polyurethane bushes you will not be able to refit the snubber washer without modifying it, so you will either need to remove the rubber from the faces of the shim or replace it with a standard large diameter shim. The snubber washer is not designed to be used with aftermarket bushes because the flat of the washer will not make proper contact with the sleeve of the wishbone. This will result in the sleeve not being clamped up tight.</p>
<p>It is worth using new shims when replacing wishbone bushes.</p>
<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:19h_Snubber_Washer.JPG" ><img src="19h_Snubber_Washer.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Snubber washer.</p>
                    </div>
                </div>
                </p>
<p>If you are fitting nylatron or polyurethane bushes then you can torque tighten all of the wishbone bolts without having to fully re-build the assembly.</p>
<p>If you are fitting OEM bushes then all of the components must be fitted loosely. The bolts cannot be torque tightened at this stage because the suspension needs to be loaded and sitting at normal ride height otherwise the bushes will try to rip themselves apart during use as they will be tightened at the wrong orientation.</p>
<p>Lotus recommend smearing grease on the wishbone bolt shanks before re-assembly when fitting OEM bushes and do not get any grease on the bolt threads. This is not necessary when fitting nylatron or polyurethene bushes because the sleeves do not rotate around the bolt. Both the bolt and sleeves remain fixed and the bushes rotate around the sleeves.</p>
<p>Step 19. Torque tighten the upper wishbone bolts to 45Nm after fitting polyurethane or nylatron bushes. Both front and rear are easily accessible.</p>
<p>When fitting nylatron bushes you must ensure that when the bolts have been torque tightened each wishbone drops under its own weight. If you need to apply any force to lower the wishbone then the sleeves are too tight in the bushes and the wishbone will have to be removed and further reaming will be required to ensure the sleeves are not too tight in the bush. This is important because the handling of the car may be affected if the sleeves are too tight as the wishbones will have a tendancy to drag. Also there will be a tendancy for the bushes to rotate in the wishbone instead of the sleeves which will polish and start to wear out the wishbone. But more importantly, badly fitted nylatron bushes are dangerous because if the sleeves bind in the bushes the wishbone bolts can become loose because the nuts will try to unwind themselves when the suspension raises and lowers in use. If you see the bushes rotating in the wishbone then you must not continue assembing the suspension.</p>
<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:19_Torque_Upper_Wishbone.JPG" ><img src="19_Torque_Upper_Wishbone.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>19a. Remember, you must loosely fit OEM bushes at this stage and assemble the suspension completely then load it to the normal ride height before torque tightening the wishbone bolts.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:19b_Upper_Front_Wishbone_Bush_Fitted.JPG" ><img src="19b_Upper_Front_Wishbone_Bush_Fitted.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>19b. This photoraph is a close up of the upper front wishbone bush fitted with a polyurethene bush after it has been torque tightened.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:19f_Upper_Rear_Wishbone_Bush_Fitted_With_Large_Diameter_Shims.JPG" ><img src="19f_Upper_Rear_Wishbone_Bush_Fitted_With_Large_Diameter_Shims.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>19c. I have used large diameter shims for the upper rear wishbone and they are much easier to fit than the small diameter shims. Also they will not embed themselves in the polyurethene bush.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:20a_Torque_Lower_Wishbone_1.JPG" ><img src="20a_Torque_Lower_Wishbone_1.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>20a. Refit the lower wishbone. The front nut and bolt are easily accessible. If you are working on your own you will find that it is impossible to torque tighten the lower rear wishbone bolt. To overcome this problem I cable tie a ring spanner to the lower wishbone so that I can torque tighten the bolt from inside the foot well without an assistant.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:20b_Torque_Lower_Wishbone_2.JPG" ><img src="20b_Torque_Lower_Wishbone_2.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>20b. The rear lower wishbone bolt can be torque tightened to 45Nm from inside the footwell.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:21_Replace_Passenger_Footrest.JPG" ><img src="21_Replace_Passenger_Footrest.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>21. If you are working on the nearside you can replace the passenger foot rest.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:22_Torque_Drop_Link.JPG" ><img src="22_Torque_Drop_Link.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>22. Torque tighten the drop link to 45NM.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:23_Loosley_Fit_Damper_Assembly.JPG" ><img src="23_Loosley_Fit_Damper_Assembly.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>23. You can loosely fit the damper at this stage. I find it easier to fit now rather than later because the hub carrier is not in the way. Ensure that you grease the top hat washers where they come into contact with the damper. The bolts cannot be torque tightened at this point because the suspension needs to be loaded and sitting at normal ride height otherwise the damper bushes will try to rip themselves apart during use as they will be tightened at the wrong orientation.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:24_Fit_Hub_Assembly.JPG" ><img src="24_Fit_Hub_Assembly.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>24. The hub assembly can now be refitted. The suspension needs to be loaded by placing a jack under the hub carrier and jacked to normal ride height. Both upper and lower ball joints can be torque tightened to 55Nm although you will not be able to use a torque wrench on the lower ball joint nut if you only have a basic tool kit, in which case you will have to estimate the correct torque using a ring spanner.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:25_Torque_Damper_Assembly.JPG" ><img src="25_Torque_Damper_Assembly.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>25. The damper can now be torque tightened to 45Nm and if you have fitted OEM wishbone bushes all of the wishbone bolts can be torque tightened to 45Nm at this stage.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:26_Slacken_Off_Brake_Pad.JPG" ><img src="26_Slacken_Off_Brake_Pad.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>26. Refit the brake disc. You may find that you will need to slacken off one of the brake pads if your disc has developed a lip. I use a clamp and an old steel rule on the face of the pad to spread the load.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:27_Measure_Brake_Disc_Thickness.JPG" ><img src="27_Measure_Brake_Disc_Thickness.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>27. It is always a good idea to measure the thickness of your brake disc at regular intervals to ensure it is still within tolerance.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:28_Torque_Brake_Caliper.JPG" ><img src="28_Torque_Brake_Caliper.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>28. Refit the brake caliper and torque tighten it to 45Nm.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:29_Refit_Brake_Pipe_Clamp.JPG" ><img src="29_Refit_Brake_Pipe_Clamp.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>29. Refit the brake pipe clamp.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:30_Refit_Front_Undertray.JPG" ><img src="30_Refit_Front_Undertray.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>30. Refit the front under tray unless you are about to start on the other side of the car.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:31_Nip_Up_Road_Wheel_Bolts.JPG" ><img src="31_Nip_Up_Road_Wheel_Bolts.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>31. Refit the road wheel and nip the wheel bolts/nuts up. Check to ensure there is no play in any of the suspension components by trying to rock the wheel from side to side by holding it at a quarter to three.</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:32_Torque_Road_Wheel_Bolts.JPG" ><img src="32_Torque_Road_Wheel_Bolts.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>32. Lower the car to the ground and torque up the road wheel bolts to 105Nm on an S2 or the wheel nuts to 80-85Nm on an S1. Press the brake pedal several times to get the pedal feel back.</p>
                    </div>
                </div>
                
As this is major suspension work it is advisable to check and adjust the suspension geometry. See <a class="external free" href="http://wiki.seloc.org/index.php/Geo_Setups" rel="nofollow">http://wiki.seloc.org/index.php/Geo_Setups</a></p>
<p>The diagram below shows which way the OEM bushes should be inserted into the wishbones. Note that there are 3 different part numbers and they are the same for both S1 &#38; S2.

                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Inserting_OEM_Bushes_into_Wishbones.JPG" ><img src="Inserting_OEM_Bushes_into_Wishbones.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                </p>
<p>These part numbers have been superceded by the new part numbers shown below:-</p>
<p>Revised wishbone bush part numbers</p>

<ul>
<li>Front Suspension
<ul>
<li>Upper wishbone rear pivot bush A116C0035F</li>
<li>Lower wishbone/upper wishbone front pivot bushes A116C0068F</li>
</ul></li>
<li>Rear Suspension
<ul>
<li>Lower wishbone front pivot short bushes A116C0067</li>
<li>Lower wishbone rear/upper wishbone bushes A116C0068F</li>
</ul></li>
</ul>
 

<p>



</p>