
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Std_vs_sport_matrix.jpg" title="Standard (left) and Sports (right) CAT&#39;s side-by-side"><img src="Std_vs_sport_matrix.jpg" alt="Standard (left) and Sports (right) CAT&#39;s side-by-side" title="Standard (left) and Sports (right) CAT&#39;s side-by-side" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Standard (left) and Sports (right) CAT&#39;s side-by-side</div></div>
</div>

<p>
A <b>Sports CAT</b> allow the engine to breath a little more freely than the standard CAT and should not be confused with a <a href="http://wiki.seloc.org/a/CRP" title="CRP">CRP</a> or <a href="http://wiki.seloc.org/a/SCRP" title="SCRP">SCRP</a>.</p>
<p><a href="http://wiki.seloc.org/a/Catalytic_converter" title="Catalytic converter">Standard CATs</a> are ceramic, a Sports CAT tend to be made from stainless steel and therefore can stand more abuse without failing.  Inside a CAT is a <a class="external text" href="http://en.wikipedia.org/wiki/Honeycomb" rel="nofollow">honeycombe type structure</a> which is measured in cells/inch.  The heigher the number the smaller the holes and the more restrictive the CAT.  Standard CATs tend to be around 400 whereas Sports CATs are anything from 100 to 200.</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Noise">Noise</a>
</li>
<li class="toclevel-1"><a href="#Performance">Performance</a>
</li>
<li class="toclevel-1"><a href="#Weight_Saving">Weight Saving</a>
</li>
<li class="toclevel-1"><a href="#MOT_.26_Legality_.26_Insurance">MOT &#38; Legality &#38; Insurance</a>
</li>
<li class="toclevel-1"><a href="#S1">S1</a>
</li>
<li class="toclevel-1"><a href="#S2">S2</a>
</li>
<li class="toclevel-1"><a href="#S2_Sports_CAT">S2 Sports CAT</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Noise">Noise</span></h2>
<p>Small increase in noise and a few nice pops and bangs.</p>
<h2><span class="mw-headline" id="Performance">Performance</span></h2>
<p>A small increase in performance but almost negligible.</p>
<h2><span class="mw-headline" id="Weight_Saving">Weight Saving</span></h2>
<p>A <b>Sports CAT</b> is considerably lighter than a standard CAT.</p>
<h2><span class="mw-headline" id="MOT_.26_Legality_.26_Insurance">MOT &#38; Legality &#38; Insurance</span></h2>
<p>Some are cheap and have a very low &#39;dose&#39; of wash coat (like 5gramms per cubic foot) - the coatings cost the money, and you can&#39;t see them, so it&#39;s easy to make savings here.</p>
<p>Then there are different coatings, stuff like MEX45 or MEGC62 etc.</p>
<p>That said, at the end of the day, the higher the surface area, the better it will work as a CAT, this is against the lower flow that a high surface area CAT will have.</p>
<p>For MOT here, a decent (not cheap) 100-cell one will do the job (assuming the engine is OK), the only problem comes if you have to pass something like the IM240 test, in which case, you need something denser than the 100-cell one.</p>
<h2><span class="mw-headline" id="S1">S1</span></h2>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:S1sportscat.jpg" title="Elise S1 &#39;Sports&#39; catalytic converter with a flexi section"><img src="S1sportscat.jpg" alt="Elise S1 &#39;Sports&#39; catalytic converter with a flexi section" title="Elise S1 &#39;Sports&#39; catalytic converter with a flexi section" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Elise S1 &#39;Sports&#39; catalytic converter with a flexi section</div></div>
</div>


<h2><span class="mw-headline" id="S2">S2</span></h2>

<h2><span class="mw-headline" id="S2_Sports_CAT">S2 Sports CAT</span></h2>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:S2sportscat.jpg" title="Elise S2 &#39;Sports&#39; catalytic converter with a flexi section"><img src="S2sportscat.jpg" alt="Elise S2 &#39;Sports&#39; catalytic converter with a flexi section" title="Elise S2 &#39;Sports&#39; catalytic converter with a flexi section" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Elise S2 &#39;Sports&#39; catalytic converter with a flexi section</div></div>
</div>


<p>


</p>