
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Ss_braided_brake_hoses_LRG.jpg" title="Stainless Steel brake hoses"><img src="Ss_braided_brake_hoses_LRG.jpg" alt="Stainless Steel brake hoses" title="Stainless Steel brake hoses" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Stainless Steel brake hoses</div></div>
</div>

<p>
<b>Brake hoses</b> are used to transfer <a href="http://wiki.seloc.org/a/Brake_fluid" title="Brake fluid">brake fluid</a> to the <a class="external text" href="http://en.wikipedia.org/wiki/Disc_brake" rel="nofollow">brake calliper</a> and force the <a href="http://wiki.seloc.org/a/Brake_pads" title="Brake pads">brake pads</a> onto the <a href="http://wiki.seloc.org/a/Brake_discs" title="Brake discs">brake discs</a>.  They should not be confused with <a class="external text" href="http://en.wikipedia.org/wiki/Brake_lining" rel="nofollow">brake lining</a> even though they are sometimes referred to as <b>brake lines</b>.</p>
<p>On an Elise the standard brake hoses are made from rubber which is fine up to a point, however these hoses tend to expand under the hydraulic pressure from the <a href="http://wiki.seloc.org/a/Brake_system" title="Brake system">brake system</a>, this results in the effort from your foot expanding the hose instead of stopping the car. Primarily this reduces brake feel.</p>
<p>Upgrading these (usually to stainless steel braided Teflon hoses) results in a firmer, more positive brake pedal with less pedal travel.  There are four brake hoses on the Elise and the procedure for changing them is relatively involved. </p>


<p>It is worth noting that on the <b>S2 Exige fitted with ABS</b>, one of the front hoses will be slightly longer than the other three to accomodated for the inboard ABS unit located under the radiator on the off side.  In addition the fitting of the new front hoses will require the removal of the front clam due to the ABS unit.</p>

<h2><span class="mw-headline" id="Procedure_for_changing_the_brake_hoses">Procedure for changing the brake hoses</span></h2>

<p><a class="external text" href="http://www.elisenet.plus.com/BrakeHoses.htm" rel="nofollow">Some instructions for an Elise S1 here</a></p>

<h2><span class="mw-headline" id="Aftermarket_Products">Aftermarket Products</span></h2>
<p>Stainless Steal Goodridge Brake hose Kit</p>
<p>Lotus Part Number: A340J6000S</p>
<p>Will fit </p>
<p>Elise S1 and S2</p>
<p>Exige S1 and S2</p>
<p>340R</p>
<p>Will NOT fit USA spec</p>



<p><b>Click on Images to enlarge.</b></p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:howtohose.jpg" title="How to use guide below"><img src="howtohose.jpg" alt="How to use guide below" title="How to use guide below" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">How to use guide below</div></div>
</div>

<p>© of Goodridge
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:goodridge.jpg" title="Lotus Goodridge Hoses"><img src="goodridge.jpg" alt="Lotus Goodridge Hoses" title="Lotus Goodridge Hoses" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Lotus Goodridge Hoses</div></div>
</div>

<p>© of Goodridge</p>
<h2><span class="mw-headline" id="Suppliers">Suppliers</span></h2>


<ul>
<li><a class="external text" href="http://www.goodridge.net/uk/index.htm" rel="nofollow">Goodridge</a></li>
<li><a class="external text" href="http://www.eliseparts.com/shop/index.php?main_page=product_info&#38;cPath=157&#38;products_id=379" rel="nofollow">Elise Parts</a></li>
<li><a class="external text" href="http://www.elise-shop.com/index.php?main_page=product_info&#38;cPath=9&#38;products_id=70" rel="nofollow">Elise Shop</a></li>
</ul>

<p>



</p>