
<div style="page-break-inside: avoid;">
<table align="right" cellpadding="2" cellspacing="0" class="infobox" font="3" rules="rows" style="font-size:85%; width:25em; border-collapse:collapse; border:1px solid black;">
<tr style="background:LightBlue;">
<td align="center" colspan="2" style="font-size: larger;"><b>Time &#38; Tools</b></td></tr>
<tr>
<th>Time:</th>
<td>10mins</td></tr>
<tr>
<th>Tools:</th>
<td>5mm Allen Key, 8mm Socket, Wrench</td></tr></table></div>

<p>The rear undertray, or rear tray, needs to be removed for most jobs involving the <a href="http://wiki.seloc.org/a/Exhaust_silencers" title="Exhaust silencers">exhaust system</a>.  It&#39;s a relatively simple job and can be done without needing to <a href="http://wiki.seloc.org/a/Jacking_points" title="Jacking points">jack the car</a>.  There are in fact two rear undertrays (back and middle) which are bolted together (a third being the <a href="http://wiki.seloc.org/a/Remove_the_front_undertray" title="Remove the front undertray">front undertray</a>).</p>

<h2><span class="mw-headline" id="S1">S1</span></h2>
<p>How is this different?
It&#39;s not - use the same process as the S2.</p>
<h2><span class="mw-headline" id="S2">S2</span></h2>
<p>The rear undertray is actually two trays bolted together.  Although it is only the rearmost of the two trays that need to be removed, it is sometimes simpler to remove both together.</p>
<h3><span class="mw-headline" id="Just_the_rearmost_tray">Just the rearmost tray</span></h3>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:boltorder.JPG" title="Bolt removal order"><img src="boltorder.JPG" alt="Bolt removal order" title="Bolt removal order" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Bolt removal order</div></div>
</div>

<p>
Recommended Removal order of the rear under tray bolts are: -
</p>
<ol>
<li>Remove all the &#39;RED&#39; doted bolts first, they are 8MM.</li>
<li>Remove the &#39;GREEN&#39; dotted bolt, also 8MM.</li>
<li>Finally remove the &#39;BLUE&#39; doted Allen bolts.</li>
<li>Don&#39;t forget when you replace the tray that the back tray goes under the middle tray, not on top of.</li>
</ol>


<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:TRAY1.JPG" ><img src="TRAY1.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>8MM bolt removal, this is one of 12</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:TRAY2.JPG" ><img src="TRAY2.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>All 8MM bolts removed</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:TRAY3.JPG" ><img src="TRAY3.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>One of the two back Allen 5MM bolts</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:TRAY4.JPG" ><img src="TRAY4.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Removing the 5MM Allen bolts</p>
                    </div>
                </div>
                </p>

<ul>
<li>It&#39;s worth replacing the standard zinc bolts &#38; washers with quality Stainless Steel ones. Speedy Fasteners <a class="external text" href="http://www.speedyfasteners.com" rel="nofollow">Speedy Fasteners Web Site</a> or <a class="external text" href="http://stores.ebay.co.uk/Speedy-Fasteners" rel="nofollow">Speedy Fasteners eBay Site</a> sell full undertray kits which include all the clips and anti-rattle washers you need.</li>
</ul>

<p>



</p>