
<p>The <b>Malfunction Indicator Lamp</b> (MIL) is provides to warn the driver that the engine management system has detected a fault which may result in increased toxic emissions from the exhaust.
</p>
<ol>
<li>If the lamp lights steady whilst driving, dealer advice should be sought without delay, and all unnecessary journeys avoided.</li>
<li>If the lamp flashes, an engine misfire has been detected which is sufficiently severe to cause overheat damage to the <a href="http://wiki.seloc.org/a/Catalytic_converter" title="Catalytic converter">catalytic converter</a>.  Slow down immediately and be prepared to stop.
<ul>
<li>If the <b>MIL</b> then stops flashing, and is lit steady, proceed with caution and seek dealer advice.</li>
<li>If the <b>MIL</b> continues to flash, stop the engine and seek dealer advice.  Continuing to drive the car with a flashing <b>MIL</b>may cause overheat damage to the <a href="http://wiki.seloc.org/a/Catalytic_converter" title="Catalytic converter">exhaust catalyst</a> and increase toxic emissions.</li>
</ul></li>
</ol>

<p>MIL warning codes</p>	
<p>Code	Fault Description</p>	
<p>P0011	A Camshaft Position - Timing Over-Advanced or System Performance</p>
<p>P0012	A Camshaft Position - Timing Over-Retarded</p>
<p>P0076	Intake Valve Control Solenoid Circuit Low</p>
<p>P0077	Intake Valve Control Solenoid Circuit High</p>
<p>P0101	Mass or Volume Air Flow Circuit Range/Performance</p>
<p>P0102	Mass or Volume Air Flow Circuit Low Input</p>
<p>P0103	Mass or Volume Air Flow Circuit High Input</p>
<p>P0106	Manifold Absolute Pressure/Barometric Pressure Circuit Range/Performance</p>
<p>P0107	Manifold Absolute Pressure/Barometric Pressure Circuit Low Input</p>
<p>P0108	Manifold Absolute Pressure/Barometric Pressure Circuit High Input</p>
<p>P0111	Intake Air Temperature Sensor 1 Circuit Range/Performance</p>
<p>P0112	Intake Air Temperature Sensor 1 Circuit Low</p>
<p>P0113	Intake Air Temperature Sensor 1 Circuit High</p>
<p>P0116	Engine Coolant Temperature Circuit Range/Performance</p>
<p>P0117	Engine Coolant Temperature Circuit Low</p>
<p>P0118	Engine Coolant Temperature Circuit High</p>
<p>P0121	Throttle/Pedal Position Sensor/Switch “A” Circuit Range/Performance</p>
<p>P0122	Throttle/Pedal Position Sensor/Switch “A” Circuit Low</p>
<p>P0123	Throttle/Pedal Position Sensor/Switch “A” Circuit High</p>
<p>P0128	Coolant <a href="http://wiki.seloc.org/a/Thermostat" title="Thermostat">Thermostat</a> (Coolant Temperature Below Thermostat Regulating Temperature)</p>
<p>P0131	O2 Sensor Circuit Low Voltage (Pre Catalyst)</p>
<p>P0132	O2 Sensor Circuit High Voltage (Pre Catalyst)</p>
<p>P0133	O2 Sensor Circuit Slow Response (Pre Catalyst)</p>
<p>P0134	O2 Sensor Circuit No Activity Detected (Pre Catalyst)</p>
<p>P0135	O2 Sensor Heater Circuit (Pre Catalyst)</p>
<p>P0137	O2 Sensor Circuit Low Voltage (Post Catalyst)</p>
<p>P0138	O2 Sensor Circuit High Voltage (Post Catalyst)</p>
<p>P0139	O2 Sensor Circuit Slow Response (Post Catalyst)</p>
<p>P0140	O2 Sensor Circuit No Activity Detected (Post Catalyst)</p>
<p>P0141	O2 Sensor Heater Circuit (Post Catalyst)</p>
<p>P0171	System Too Lean</p>
<p>P0172	System Too Rich</p>
<p>P0201	Injector Circuit/Open – Cylinder 1</p>
<p>P0202	Injector Circuit/Open – Cylinder 2</p>
<p>P0203	Injector Circuit/Open – Cylinder 3</p>
<p>P0204	Injector Circuit/Open – Cylinder 4</p>
<p>P0300	Random/Multiple Cylinder Misfire Detected</p>
<p>P0301	Cylinder 1 Misfire Detected</p>
<p>P0302	Cylinder 2 Misfire Detected</p>
<p>P0303	Cylinder 3 Misfire Detected</p>
<p>P0304	Cylinder 4 Misfire Detected</p>
<p>P0324	Knock Control System Error</p>
<p>P0327	Knock Sensor 1 Circuit Low</p>
<p>P0328	Knock Sensor 1 Circuit High</p>
<p>P0335	Crankshaft Position Sensor “A” Circuit Range/Performance</p>
<p>P0340	Camshaft Position Sensor “A” Circuit</p>
<p>P0351	Ignition Coil “A” Primary/Secondary Circuit</p>
<p>P0352	Ignition Coil “B” Primary/Secondary Circuit</p>
<p>P0353	Ignition Coil “C” Primary/Secondary Circuit</p>
<p>P0354	Ignition Coil “D” Primary/Secondary Circuit</p>
<p>P0420	Catalyst System Efficiency Below Threshold</p>
<p>P0441	Evaporative Emission System Incorrect Purge Flow</p>
<p>P0442	Evaporative Emission System Leak Detected (small leak)</p>
<p>P0444	Evaporative Emission System Purge Control Valve Circuit Open</p>
<p>P0445	Evaporative Emission System Purge Control Valve Circuit Shorted</p>
<p>P0446	Evaporative Emission System Vent Control Circuit</p>
<p>P0447	Evaporative Emission System Vent Control Circuit Open</p>
<p>P0448	Evaporative Emission System Vent Control Circuit Shorted</p>
<p>P0451	Evaporative Emission System Pressure Sensor/Switch Range/Performance</p>
<p>P0452	Evaporative Emission System Pressure Sensor/Switch Low</p>
<p>P0453	Evaporative Emission System Pressure Sensor/Switch High</p>
<p>P0455	Evaporative Emission System Leak Detected (large leak)</p>
<p>P0456	Evaporative Emission System Leak Detected (very small leak)</p>
<p>P0461	Fuel Level Sensor “A” Circuit Range/Performance</p>
<p>P0462	Fuel Level Sensor “A” Circuit Low</p>
<p>P0463	Fuel Level Sensor “A” Circuit High</p>
<p>P0480	Fan 1 Control Circuit</p>
<p>P0481	Fan 2 Control Circuit</p>
<p>P0500	Vehicle Speed Sensor “A”</p>
<p>P0506	Idle Air Control System RPM Lower Than Expected</p>
<p>P0507	Idle Air Control System RPM Higher Than Expected</p>
<p>P0508	Idle Air Control System Circuit Low</p>
<p>P0509	Idle Air Control System Circuit High</p>
<p>P0562	System Voltage Low</p>
<p>P0563	System Voltage High</p>
<p>P0601	Watchdog</p>
<p>P0606	Checksum</p>
<p>P0627	Fuel Pump Control Circuit /Open</p>
<p>P0638   Throttle Actuator Control Range/Performance</p>
<p>P0646	A/C Clutch Relay Control Circuit Low</p>
<p>P0647	A/C Clutch Relay Control Circuit High</p>
<p>P1301	Misfire level causing emissions increase</p>
<p>P1302	Misfire level causing catalyst system damage</p>
<p>P2104   Throttle Actuator Control System - Forced Idle</p>
<p>P2602	Coolant Pump Control Circuit Low</p>
<p>P2603	Coolant Pump Control Circuit High</p>
<p>P2646	A Rocker Arm Actuator System Performance or Stuck Off</p>
<p>P2647	A Rocker Arm Actuator System Stuck On</p>
<p>P2648	A Rocker Arm Actuator Control Circuit Low</p>
<p>P2649	A Rocker Arm Actuator Control Circuit High</p>


<p>


</p>