
<p><b>Take your time when jacking the car up, make sure you have the jack in the correct place.</b></p>
<p><b>When placing the car onto axle stands be slow lowering the jack as the car needs to shift its weight.</b></p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1"><a href="#Elise">Elise</a>
<ul>
<li class="toclevel-2"><a href="#A">A</a>
</li>
<li class="toclevel-2"><a href="#B">B</a>
</li>
<li class="toclevel-2"><a href="#C">C</a>
</li>
<li class="toclevel-2"><a href="#D">D</a>
</li>
<li class="toclevel-2"><a href="#See_also">See also</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Evora">Evora</a>
</li>
</ul></td></tr></table><hr/>
<h1><span class="mw-headline" id="Elise">Elise</span></h1>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Jacking.JPG" ><img src="Jacking.JPG" class="location-left type-thumb" width="220" />
</a></div>
</div>


<h2><span class="mw-headline" id="A">A</span></h2>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:jacking_points_blue_sticker.jpg" title="The blue stickers marks the place to jack at"><img src="jacking_points_blue_sticker.jpg" alt="The blue stickers marks the place to jack at" title="The blue stickers marks the place to jack at" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">The blue stickers marks the place to jack at</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:jacking_points_side.jpg" title="Jacking Point A"><img src="jacking_points_side.jpg" alt="Jacking Point A" title="Jacking Point A" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Jacking Point A</div></div>
</div>



<p><b>A</b> </p>

<p>In the above image.  Marks the single point per side jacking point, marked with a blue jacking point sticker on the underside of the car.  This jacking point will allow you to raise both wheels on one side of the car at the same time.</p>


<h2><span class="mw-headline" id="B">B</span></h2>

<p>In the above image.  Marks a jacking point that should be used when the car is raised on a 4 point lift, in conjunction with the C point (below)</p>
<p>Both <b>B</b> points can be used together to support the front of the car when work requires both front wheels to be removed.  This can be with conventional axle stands or more stably, two boxes (5 reams) of paper.</p>
<p>Axel stands on the b jacking points spread on wood you can see them under the wood
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:scrappingtonAxleStandsB.jpg" ><img src="scrappingtonAxleStandsB.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:B_points.jpg" title="Note jack left inplace for extra protection"><img src="B_points.jpg" alt="Note jack left inplace for extra protection" title="Note jack left inplace for extra protection" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Note jack left inplace for extra protection</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Bpoints2.JPG" title="Close up of the picture on the left"><img src="Bpoints2.JPG" alt="Close up of the picture on the left" title="Close up of the picture on the left" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Close up of the picture on the left</div></div>
</div>


<h2><span class="mw-headline" id="C">C</span></h2>
<p>Marks a jacking point, in the fuel tank bay shear panel, which should be used in conjunction with point B (above) when raising the car on a 4 point lift. This jacking point cannot be used without removing the undertray.</p>
<h2><span class="mw-headline" id="D">D</span></h2>
<p>Marks a jacking point that may be user to raise the rear of the car. This jacking point cannot be used without removing the undertray.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:D_points.jpg" title="Jacking point D"><img src="D_points.jpg" alt="Jacking point D" title="Jacking point D" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Jacking point D</div></div>
</div>


<p><a class="external free" href="http://gallery.seloc.org/albums/userpics/37655/Jacking-Point-D.JPG" rel="nofollow">http://gallery.seloc.org/albums/userpics/37655/Jacking-Point-D.JPG</a></p>
<h2><span class="mw-headline" id="See_also">See also</span></h2>


<p><b>This can be used but preference should always be for the wheels to be raised on ramps or for jacking points B, C or D to be used.</b></p>

<p>The green arrow points to where I place axle stands - this means that the suspension and springs compress onto the bump stops and support the car.</p>

<p>The wishbones (red arrow) are not strong enough to support the car weight.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:alxelstands.JPG" title="click to make bigger"><img src="alxelstands.JPG" alt="click to make bigger" title="click to make bigger" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">click to make bigger</div></div>
</div>



<p><b>Some &#39;Jacking&#39; Threads:</b></p>
<p><a class="external free" href="http://forums.seloc.org/viewthread.php?tid=115837" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=115837</a></p>
<p><a class="external free" href="http://forums.seloc.org/viewthread.php?tid=117273" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=117273</a></p>

<ul>
<li><a href="http://wiki.seloc.org/a/Jacking_accidents" title="Jacking accidents">Jacking accidents</a></li>
</ul>

<h1><span class="mw-headline" id="Evora">Evora</span></h1>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:Evora_Jacking_Points.PNG" ><img src="Evora_Jacking_Points.PNG" class="location-left type-thumb" width="220" />
</a></div>
</div>

<p><b>A</b> - Identified by a blue sticker. Beneath the front ends of the chassis main siderails, just behind the rear edge of the front undertray.</p>
<p><b>B</b> - Identified by a blue sticker. Beneath each end of the fuel tank bay rear crossmember, just ahead of the front edge of the engine bay undertray.</p>
<p>




</p>