
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:bleed_screw.jpg" title="Plastic bleed screw"><img src="bleed_screw.jpg" alt="Plastic bleed screw" title="Plastic bleed screw" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Plastic bleed screw</div></div>
</div>

<p>
There are two bleed screws on the Elise cooling system. One is on the front left side on the hose that exits the radiator. You may be able to reach it from above by shoving your hand down next to the radiator shroud. Otherwise turn the wheel on full right-hand lock and you should find it behind the wheelarch liner. If not remove the road wheel and you&#39;ll see it no problem.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Bleed_screw_in_engine_bay.jpg" title="Bleed screw position in the engine bay"><img src="Bleed_screw_in_engine_bay.jpg" alt="Bleed screw position in the engine bay" title="Bleed screw position in the engine bay" class="location-right type-thumb" width="220" />
</a>
<div class="thumbcaption">Bleed screw position in the engine bay</div></div>
</div>

<p>
The other is in the engine bay on the metal pipe that runs across the top of the gearbox. (8mm)</p>
<p>The best way to bleed the system is to remove the expansion tank cap put the heater on high with the blower fan off and allow the car to idle until it reaches 60C or so. Then increase the revs to around 2000/2500rpm. Once the return pipe is hot in the engine bay (the one with the bleed screw) and the radiator is hot all over the <a href="http://wiki.seloc.org/a/Thermostat" title="Thermostat">thermostat</a> has opened and you can bleed the system.</p>
<p>Be very careful not to lose the bleed screws or any washers on them. And be very careful of the hot coolant. I find two or three pairs of latex gloves insulate enough to prevent burning.</p>
<p>Handy hint - on an S2, the front bleed screw can be best turned by using a 10p coin in the slot of the screw head. Much easier than trying to turn it by the knurling on the edge and much much easier than getting a screwdriver in there. The S1 was just a thumbscrew.  Take care not to over-tighten this screw as well.</p>
<p>Oh and as you&#39;re bleeding keep an eye on the coolant level and top it up if it gets low - you don&#39;t want to draw even more air into the system!!
<a class="image" href="http://wiki.seloc.org/a/Image:Rad_bleed.JPG" ><img src="Rad_bleed.JPG" width="220" />
</a></p>
<p>Note for LHD cars: the front bleed screw is located on the right side, best accessed through the right wheelarch (At least on mine - LHD S2 K series). It looks like not S2 K series are the same since I have come across that has the front bleed screw on the left. The front bleed screw is on the radiator exit. 




</p>



<p>S2 Exige:</p>
<p>Front Bleed screw located on the DRIVERS side you can remove the wheel arch liner (front section) to feel for the bleed screw.</p>