
<p>The <b>Headlight Switch Panel</b> in an Elise is situated next to the <a href="http://wiki.seloc.org/a/Stack" title="Stack">stack</a>/steering wheel on the dashboard. </p>
<h2><span class="mw-headline" id="Removal">Removal</span></h2>


<ol>
<li>Remove the plastic surrounding the switches. This can be done using a couple of credit cards wedged into the top and lever the top down.</li>
<li>Remove the aluminium panel which the lights are attached to. This has 2 screws at the top and 2 screws on the face. If they are hidden behind the black adhesive sticker, then puncture a hole through the sticker.</li>
<li>Unscrew the bottom of the plastic steering column surround. This has 3 screws at the bottom and one at either side, plus two at the front. Let it dangle on the two wires</li>
<li>Remove the plastic surrounding the heater controls in the same way as in step 1</li>
<li>Unbolt the Stack instrument panel using a 10mm socket set.</li>
<li>The painted aluminium panel above the switch panel should slide towards the steering column. It is held on using a sprung piece of metal, so should just it pull off.</li>
<li>The switch connectors just pull off the switch bodies.</li>
</ol>

<p>There&#39;s a lot of unscrewing there - so if you&#39;re lucky to have long wires some of the steps can be omitted.</p>

<p>



</p>