
<p>
</p>


<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<ul>
<li class="toclevel-1"><a href="#Parts_Required_and_Suppliers">Parts Required and Suppliers</a>
</li>
<li class="toclevel-1"><a href="#How_To_Fit">How To Fit</a>
</li>
<li class="toclevel-1"><a href="#Working_on_the_car">Working on the car</a>
</li>
<li class="toclevel-1"><a href="#Modifying_the_Kit">Modifying the Kit</a>
</li>
<li class="toclevel-1"><a href="#Refitting">Refitting</a>
</li>
<li class="toclevel-1"><a href="#See_Also">See Also</a>
</li>
</ul>
</ul>
</ul></td></tr></table><hr/>
<h3><span class="mw-headline" id="Parts_Required_and_Suppliers">Parts Required and Suppliers</span></h3>
<p>Using Land-Rover Kit (PCH001190):</p> 
<p>2 off 32mm diameter x 50mm length alloy hose joiners (£5.00 each) - <a class="external text" href="http://www.midlandperformancecentre.co.uk/tuning/product.asp?cn=3005&#38;scn=1052&#38;scn2=2285&#38;p=1955" rel="nofollow">Midland Performance Centre</a></p>
<p>1 off 32mm diameter x 100mm length alloy hose joiners (£6.00) - <a class="external text" href="http://www.midlandperformancecentre.co.uk/tuning/product.asp?cn=3005&#38;scn=1052&#38;scn2=2286&#38;p=1969" rel="nofollow">Midland Performance Centre</a></p>

<p>Using MG-Rover Kit (PCH003320):</p>
<p>1 off 32mm diameter x 50mm length alloy hose joiners (£5.00 each) - <a class="external text" href="http://www.midlandperformancecentre.co.uk/tuning/product.asp?cn=3005&#38;scn=1052&#38;scn2=2285&#38;p=1955" rel="nofollow">Midland Performance Centre</a></p>
<p>or cut a piece from the aluminium tube discarded from the original system</p>
<h3><span class="mw-headline" id="How_To_Fit">How To Fit</span></h3>

<p>With thanks to SELOC Member <a class="external text" href="http://forums.seloc.org/member.php?action=viewpro&#38;member=elise_s1" rel="nofollow">Elise_S1</a></p>
<p>The following page explains how I fitted the kit PCH001190 designed for the Land Rover Freelander to my Lotus Elise S1. Although I tried to use a setup which is as close as possible to the one used by Rover for the late MG-TF, this is NOT an official upgrade and, if you decide to copy it, I accept no liability for any possible consequences.</p>
<p>As my car is a standard late S1, the guide is for a similar car. Although the setup is compatible with all the K powered Elises and derivatives, some models may need some corrections because of their different cooling circuits. Early Elise S1, all cars with air conditioning and cars with aftermarket oil/water heat exchanger do need a slightly different setup.</p>

<p><b>To install the remote thermostat the following parts are required:</b></p>


<ul>
<li>1 Land Rover Freelander Thermostat Kit part PCH001190</li>
</ul>


<ul>
<li>1 Spacer to use instead of the old thermostat part PEL000040</li>
</ul>


<ul>
<li>3 Thermostat housing gaskets (2 O-rings + 1 inner gasket)</li>
</ul>


<ul>
<li>40 cm aluminium pipe, OD 32 mm ID 28 mm</li>
</ul>


<ul>
<li>8 lt of coolant fluid (I used a red OAT product, as recommended by the manifacturer)</li>
</ul>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:LRstatSEC.jpg" title="Click to Enlarge"><img src="LRstatSEC.jpg" alt="Click to Enlarge" title="Click to Enlarge" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click to Enlarge</div></div>
</div>


<p>First thing to do is take apart the PCH001190 and getting familiar with all its components. You will have 5 rubber hoses and 10 clips. </p>
<p><b>IMPORTANT!!</b></p>
<p>The clips should be used as follows: the 3 black ones must go on the T junction; the 2 larger grey are for the thermostat housing (bottom and side hoses); 1 medium sized grey clip is for the thermostat top hose and the remaining 4 small grey are for the other junctions.</p>
<p>Then you need the interconnections: with the aluminium pipe you need to make part 1 (90 mm long), part 2 (60 mm long) and part 3 (45 mm long). I actually fitted a plug to junction 1 to achieve a tidier coolant draining, but this require some TIG welding and is not necessary.</p>

<h3><span class="mw-headline" id="Working_on_the_car">Working on the car</span></h3>

<p>Following the Service Manual instructions, drain the coolant circuit, then remove the return pipe and the short rubber hose connected to the engine main coolant rail (1 clip at the bottom + 1 clip at the top). You remove also the outlet hose (1 clip at the engine outlet spout + 1 clip at the bottom pipe, you need to loosen the pipe mount to remove the hose). Once removed the return pipe you can undo the coolant rail: 2 (tight) bolts below the rail and the oil dipstick bolt holding the thermostat housing. I did this without the manifold in place and it was simple, but I seriously doubt it is that easy with the manifold on.... once loosened the coolant rail you can remove the thermostat housing. You open it (3 bolts) and replace the old thermostat with the ring PEL000040. I enlarged the bypass duct inside the housing from 12 to14.5 mm to improve the heater flow. All 3 gaskets should be replaced, to minimize the risk of leaks. Apply silicone lubricant on the O-rings, then fit housing + coolant rail back in.</p>
<h3><span class="mw-headline" id="Modifying_the_Kit">Modifying the Kit</span></h3>

<p>This part is the most important of all: cutting the Kit hoses to make it fit. I prefer not to give measures about where you should cut the hoses because, on another car, the lengths required could be slightly different. you can take the photos as a guideline, but BE CAREFUL as, once you cut a hose too short, you are into trouble. My advice is to leave 2 cm extra hose as a safety margin, use no clips and then cut again where needed after having tried to make it fit. To achieve a clean rubber cut, you can insert the remaining of the aluminium tube where you need to do the cut. Hoses H and D need no cutting.</p>

<ul>
<li>Once reassembled, the PCH001190 kit should look like this:</li>
</ul>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:EliseKit.jpg" title="Click to Enlarge"><img src="EliseKit.jpg" alt="Click to Enlarge" title="Click to Enlarge" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click to Enlarge</div></div>
</div>



<ul>
<li>Here below is the kit and the two parts it is going to replace:</li>
</ul>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:compare.jpg" title="Click to Enlarge"><img src="compare.jpg" alt="Click to Enlarge" title="Click to Enlarge" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click to Enlarge</div></div>
</div>


<h3><span class="mw-headline" id="Refitting">Refitting</span></h3>

<p>The original jubilee clips can be used to secure the new setup to the car, leaving the remaining clip (originally there were 2 on the top return hose) to secure hose H to pipe 1.</p>
<p>If a drain take off is present, all clips could be tightened, otherwise leave the bottom pipe disconnected to allow system flushing. Personally, I recommend a good and repeated flush of the whole coolant system with clean water, especially if a different type of coolant is going to be used. Refill the circuit with coolant, check all the junctions for leaks and bleed the system as on the Service Manual.</p>

<ul>
<li>Below there are some photos of the PRRT fitted to my car. </li>
</ul>

<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:ThermoF.jpg" ><img src="ThermoF.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Click to Enlarge</p>
                    </div>
                </div>
                <div></div>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:ThermoG.jpg" ><img src="ThermoG.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Click to Enlarge</p>
                    </div>
                </div>
                <div></div>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:ThermoH.jpg" ><img src="ThermoH.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Click to Enlarge</p>
                    </div>
                </div>
                <div></div>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:ThermoL.jpg" ><img src="ThermoL.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Click to Enlarge</p>
                    </div>
                </div>
                </p>
<h3><span class="mw-headline" id="See_Also">See Also</span></h3>

<p><b>There are several ways to set up your cooling system</b></p>
<p><b>PLEASE ADD INFO</b>

                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:robstevens.gif" ><img src="robstevens.gif" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Rob Stevens Setup</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:stevebutts.gif" ><img src="stevebutts.gif" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Steve Butts Setup</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:liamcrilly.gif" ><img src="liamcrilly.gif" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Liam Crilly's Setup</p>
                    </div>
                </div>
                </p>

<p><a class="external free" href="http://wiki.seloc.org/a/PRT" rel="nofollow">http://wiki.seloc.org/a/PRT</a></p>
<p>

</p>