
<p>There are diferent places to buy the carpeting &#39;set&#39;.</p>
<p>From Lotus, eliseparts or ebay, the information here is about the ebay &#39;set&#39;.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:carpet1.jpg" title="put a short description here"><img src="carpet1.jpg" alt="put a short description here" title="put a short description here" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">put a short description here</div></div>
</div>


<p>After removing the seats, lift the carpeting in.</p>
<p>NOTE: it is very difficult to put in place! to make it easyer cut it into 3 pieces </p>
<p>(under the seats where it wouldn&#39;t notice).</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:carpet2.jpg" title="put a short description here"><img src="carpet2.jpg" alt="put a short description here" title="put a short description here" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">put a short description here</div></div>
</div>


<p>Since the teklite is already stuck over the floor I decided the best way to hold the carpet down would be to skip the provided velcro and go for some contact adhesive - evo-stick was my weapon of choice. </p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:carpet3.jpg" title="put a short description here"><img src="carpet3.jpg" alt="put a short description here" title="put a short description here" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">put a short description here</div></div>
</div>



<p>The carpet is slightly too big in almost all dimensions so it needs to be trimmed to fit perfectly, this is made worse by the thick teklite already there.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:carpet4.jpg" title="put a short description here"><img src="carpet4.jpg" alt="put a short description here" title="put a short description here" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">put a short description here</div></div>
</div>



<p>Finally the back, took a lot of trimming this bit as the teklite had massivly changed the dimensions, I also needed to make new holes for the seat frame bolts as they didnt line up. I put some more contact adhesive round the back edge, didnt bother anywhere else as the seat and cargo net holders will pin it in place:</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:carpet5.jpg" title="put a short description here"><img src="carpet5.jpg" alt="put a short description here" title="put a short description here" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">put a short description here</div></div>
</div>



<p>I didn&#39;t bother with the side pieces, just didnt seem neccessary.</p>


<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:carpet6.jpg" title="put a short description here"><img src="carpet6.jpg" alt="put a short description here" title="put a short description here" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">put a short description here</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:carpet7.jpg" title="put a short description here"><img src="carpet7.jpg" alt="put a short description here" title="put a short description here" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">put a short description here</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:carpet8.jpg" title="put a short description here"><img src="carpet8.jpg" alt="put a short description here" title="put a short description here" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">put a short description here</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:carpet9.jpg" title="put a short description here"><img src="carpet9.jpg" alt="put a short description here" title="put a short description here" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">put a short description here</div></div>
</div>


<p>

</p>