<h3><span class="mw-headline" id="Scoops_or_Vents">Scoops or Vents</span></h3>

<p><a class="image" href="http://wiki.seloc.org/a/Image:Scoop.jpg" ><img src="Scoop.jpg" width="220" />
</a></p>

<p>Scoops, or vents (Or if you like its scientific name: positive pressure intakes), are useful when high volume air flow is desireable and almost every type of race car makes use of these devices. They work on the principle that the air flow compresses inside an &#34;air box&#34;, when subjected to a constant flow of air. The air box has an opening that permits an adequate volume of air to enter, and the expanding air box itself slows the air flow to increase the pressure inside the box.</p>


<p><a class="image" href="http://wiki.seloc.org/a/Image:S1scoop.jpg" ><img src="S1scoop.jpg" width="220" />
</a>      <a class="image" href="http://wiki.seloc.org/a/Image:S2sidescoops.jpg" ><img src="S2sidescoops.jpg" width="220" />
</a></p>



<p>



</p>

<p><b>Some Information © <a class="external text" href="http://www.gmecca.com/byorc/index.html" rel="nofollow">Gmecca</a></b></p>