
<div style="page-break-inside: avoid;">
<table align="right" cellpadding="2" cellspacing="0" class="infobox" font="3" rules="rows" style="font-size:85%; width:25em; border-collapse:collapse; border:1px solid black;">
<tr style="background:LightBlue;">
<td align="center" colspan="2" style="font-size: larger;"><b>Time &#38; Tools</b></td></tr>
<tr>
<th>Time:</th>
<td>30 mins</td></tr>
<tr>
<th>Tools:</th>
<td><a href="http://wiki.seloc.org/a/Tool_roll" title="Tool roll">Tool roll</a>, Jack, 17mm socket, Wheel brace/extension bar, Copper grease</td></tr></table></div>

<h3><span class="mw-headline" id="Removal">Removal</span></h3>

<p>Loosen the 4 wheel bolts with bolt tools found in the <a href="http://wiki.seloc.org/a/Tool_roll" title="Tool roll">Tool roll</a> then <a href="http://wiki.seloc.org/a/Jacking_points" title="Jacking points">jack up the car</a>, then undo the wheel bolts and remove the wheel.</p>

<h3><span class="mw-headline" id="Fitting">Fitting</span></h3>

<p>Refit the wheel, replace the 4 wheel bolts so they are hand tight then lower car to the ground and torque wheel bolts to </p>
<p>105NM (S2) </p>
<p>80-85NM (S1)</p>
<p>Check that there is no side to side play by trying to rock the wheel at a quarter to three.</p>
<p>Depress brake pedal a few times to get the pressure back.</p>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:36_Torque_Wheel_Bolts.JPG" ><img src="36_Torque_Wheel_Bolts.JPG" class="location-left type-thumb" width="220" />
</a></div>
</div>


<h3><span class="mw-headline" id="Warning">Warning</span></h3>

<p>Do not over torque the nuts <b>they will shear</b> invest in a torque wrench or you will end up paying out for a new set of wheel bolts.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:brokenbolt.JPG" ><img src="brokenbolt.JPG" class="location-left type-thumb" width="220" />
</a></div>
</div>




<p>




</p>