
<p>There are 2 ways of doing this.  ***I SUGGEST METHOD 2***:</p>
<h4><span class="mw-headline" id="METHOD_1:__THROUGH_THE_FRONT_SERVICE_HATCH_.28BONNET.29">METHOD 1:  THROUGH THE FRONT SERVICE HATCH (BONNET)</span></h4>

- Remove the rad surround first to give you a bit more space:

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:Without_rad_surround.JPG" title="Click me to make larger"><img src="Without_rad_surround.JPG" alt="Click me to make larger" title="Click me to make larger" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click me to make larger</div></div>
</div>


- Start with the Drivers side first as this is the easiest of the pair and will prepair you for the other side!

- Remove the bulb first by reaching in and unscrewing the fitting.

- Put the new bulb in and leave the fitting on the rad for now.

- The nuts on the back of the indicator lenses are 7mm. - <b>make sure you have some before you start! The old ones may be rusted or missing altogether.</b>

<p>(TIP) tape the attachment onto the screwdriver tool so you dont drop it into the bay and loose it:</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:Tape.JPG" title="Click me to make larger"><img src="Tape.JPG" alt="Click me to make larger" title="Click me to make larger" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click me to make larger</div></div>
</div>


- Reach round the side of the rad and feel your way onto the outside bolt first. Unsrew.

- The nut on the inside of the drivers side indicator will need an extension tool because the rad may get in the way a bit. Unscrew

- Once the indicator is out give the recess a clean

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:Wash.JPG" title="Click me to make larger"><img src="Wash.JPG" alt="Click me to make larger" title="Click me to make larger" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click me to make larger</div></div>
</div>


- Put the new indicator in and screw on the nuts:

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:1_Orange_1_Clear.JPG" title="Click me to make larger"><img src="1_Orange_1_Clear.JPG" alt="Click me to make larger" title="Click me to make larger" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click me to make larger</div></div>
</div>

 
- Screw the bulb fitting back into the back of the lense.

- On the passenger side The rad hose is in the way for the inside bolt and is extremely difficult to even get the ratchet onto, let alone be able to unscrew it! It can be done via method 1 but method 2 is much easier.

<h4><span class="mw-headline" id="METHOD_2:__THROUGH_THE_WHEEL_ARCH">METHOD 2:  THROUGH THE WHEEL ARCH</span></h4>

- Turn the wheels to full lock to the left.

- Run your fingers round the wheel arch lining till you reach the top of the arch.  You should be able to get you fingers underneath the liner here.

- Pull the lining out and use a piece of wood to peg it into place

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:Arch_Liner.JPG" title="Click me to make larger"><img src="Arch_Liner.JPG" alt="Click me to make larger" title="Click me to make larger" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click me to make larger</div></div>
</div>



- This method is much better than approaching it through the top.

- Remove the bulb fitting as in method 1 above.

- Use the following ratchet to get the nuts off:

 
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:Tools.JPG" title="Click me to make larger"><img src="Tools.JPG" alt="Click me to make larger" title="Click me to make larger" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click me to make larger</div></div>
</div>


 
- Wash the recess and fit the new lense as above

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:Clear_Indicators.JPG" title="Click me to make larger"><img src="Clear_Indicators.JPG" alt="Click me to make larger" title="Click me to make larger" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click me to make larger</div></div>
</div>


- Screw the bulb fitting into the back of the lense.

<p>JOB DONE</p>

<p>
</p>