<h3><span class="mw-headline" id="Harnesses">Harnesses</span></h3>

<p><b><i>Info by Jen-MSAR on a post about using harnesses with std seats</i></b></p>
<p><a class="external free" href="http://forums.seloc.org/viewthread.php?tid=209935&#38;page=1#pid3847713" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=209935&#38;page=1#pid3847713</a></p>
<p>Anchorage Locations and Geometries</p>
<p>Belt Routing</p>
<p>The expected restraining function of any seat belt or racing harness can only be achieved by</p>
<p>· optimised strap routing around and from the wearer’s body</p>
<p>· optimised anchor point locations</p>
<p>An occupant can be effectively restrained ONLY by load transfer through the hard points of the occupant’s body. The only accessible hard points are the following:</p>
<p>· pelvic</p>
<p>· thorax [chest] ] to a limited level only</p>
<p>· clavicle [shoulders]</p>

<p>Therefore, it is essential that strap routing be optimised as described in the following graphs.</p>
<p><a class="external free" href="http://gallery.seloc.org/albums/userpics/34810/routing.bmp" rel="nofollow">http://gallery.seloc.org/albums/userpics/34810/routing.bmp</a></p>
<p>What happens during a frontal impact:</p>
<p>This data is based on an optimised installation with an upright seating position during dynamic testing. It simulates a 90° head on collision, utilising a 75 kg [165 lb] mass dummy, an impact velocity of 50 kph [31 mph] and a stopping distance of approximately 400 mm [16”] with a maximumdeceleration of 30 g [FIA Standard 8854/98 dynamic test requirements]:</p>
<p>· The pelvic load, expected to surpass 14 kN [3,100 lb] at each side, will elongate the lap belt and compress the tissue on the pelvis. The pelviswill slide forward by 80 to 100 mm [3”-4”]</p>
<p>· The upper torso load is expected to surpass 7 kN [1,550 lb] on each strap, will elongate the shoulder belts, the upper body will roll in, theadjusters will move up the chest by approximately 200 mm [8”] and forward head trajectory will be up to 400 mm [16”]</p>
<p>· The pelvic movement combined with the shoulder belt forces will load the anti-sub straps to more than 6 kN [1,320 lb] each in a 5- or 6-point racing harness and can be intentionally higher in a Formula type model where the anti-sub straps are routed rearwards.</p>
<p>In more reclined seating positions, the pelvic load will be reduced to approx. 9 kN [2,000 lb] since the seat pan, designed as a ramp, will take some of the load. Therefore it is essential the seat or chassis manufacturer ensure the seat pan is strong enough not to bend or even collapse under extreme loads.</p>
<p>In any case, seats are a significant component of the safety system!</p>
<p>To simplify this, you have to remember that for a harness to work in an optimal way and as designed the routing has to be correct. The harness will still work if your mounting points have an upward angle but not in the optimal way.</p>
<p>As shown in the diagram above harnesses are designed to touch the hard points on your body - bone..... If the your belts are routing upwards from the body like this:</p>
<p><a class="external free" href="http://gallery.seloc.org/albums/userpics/34810/harness_upwards.bmp" rel="nofollow">http://gallery.seloc.org/albums/userpics/34810/harness_upwards.bmp</a></p>
<p>Then they are no longer touching the body on the the hard points.</p>
<p>The other point to remember is that depending on what angle your shoulder harness mounts to will also decipher how much movement the upper body has. If the belts are routed parallel from the shoulders or to a max downwards angle of 20 degrees then there will be practically no upper body movement as the harness will hold the body in the correct position. If the angle is upwards then this now allows for movement in the upper body, especially during side impacts.</p>
<p>I sent this information to a customer recently regarding the height of the harness bar. The information above wtill relates to this thread</p>
<p>earlier posting about bolt on harnesses:</p>
<p>This subject has come up before and i am sure it will come up again. I will write an honest answer based on the information and training I have been given direct from SCHROTH the harness manufacturer who LOTUS use for sport packages including 4 point harnesses.</p>
<p>I am aware many of you use bolt on style belts, and I do not want to offend anyone…I simply want to point out the guidelines for use direct from the manufacturer.</p>
<p>This advice does not only relate to LOTUS it is the same for any sports car with integrated headrest seats.</p>
<p>We do not recommend using any style harnesses with standard seats (integrated headrest)</p>
<p><a class="external free" href="http://gallery.seloc.org/albums/userpics/34810/image_128.gif" rel="nofollow">http://gallery.seloc.org/albums/userpics/34810/image_128.gif</a></p>
<p>The danger is that in an accident the harnesses will hold the seat in really well but not the driver… in the accident there is a real risk that the driver will ascend out of the straps ... obviously there are lots of potential variables but do you want to be one of them ?
We have toughly tested lots of different examples, using different size dummies and different ways of securing the harness, eg with bolts. The end result is that all these methods are dangerous for the safety of the driver and passenger.</p>
<p>The harness slide away from the shoulders and the occupant is propelled forward, hitting the steering wheel.</p>
<p>Wrap harness with slotted seat holes are the safest and only real option we like to recommend.</p>
<p>In this diagram you can see looking at the yellow and black dots where the harnesses should be mounted for correct installation. The bolt on harnesses tend to make the mounting points where the red dots are. This is not correct and is dangerous!
<a class="external free" href="http://gallery.seloc.org/albums/userpics/34810/standard_seat.bmp" rel="nofollow">http://gallery.seloc.org/albums/userpics/34810/standard_seat.bmp</a></p>
<p>I would not give this advice and possibly loose sales if I didn’t have a reason to do so, I would rather give this advice, try and keep you all safe and sleep easy knowing that I have advised to my best knowledge. If I told you differently against the advice of the manufacture then heaven forbid you had an accident and fell out of the harness I wouldn’t be able to live with that burden.</p>
<p>At the end of the day it is the customer’s individual choice and all I can offer is advice. You are the one to make the decision.</p>
<p>If you want to take my advice use wrap harnesses/ or bolted harness if the bolt holes are positioned in the correct place BUT you must route the harnesses through slots in the seats. Either by using seat grommets on standard seats or sport seats with holes.</p>

<p>Oh and by the way...</p>
<p>It is not only the manufactures warning but the FIA&#39;s</p>
<p>The FIA also say that it is unsafe to install a harness to a seat with integrated headrest. ....................</p>
<p>A safety harness must not be installed on a seat having no head
restraint or having a backrest with integrated head restraint (no
opening between backrest and head restraint).
The lap and crotch straps should pass not over the sides of the
seat but through the seat, in order to wrap and hold the pelvic
region over the greatest possible surface.</p>
<p><a class="external free" href="http://argent.fia.com/web/fia-public.nsf/9A0C673EA6ACD98BC125741A004DFE50/$FILE/253%20" rel="nofollow">http://argent.fia.com/web/fia-public.nsf/9A0C673EA6ACD98BC125741A004DFE50/$FILE/253%20</a>(08-09).pdf</p>
<p>I hope this is useful.</p>
<p>The question at the start of this thread would not exist if you were not concerened for your safety. Just because you have read of someone having the same set up, experencing an accident and being fine afterwards does not mean that would happen to you.</p>
<p>Forces in accidents are extreme and by sitting in the car and feeling fully secure would not be suficiient for me after knowing that in some accidents drivers have been securely fastened up with harness (not correctly routed) but they felt ok with their set up and after an accident they were found in the passenger footwell...... I would want to know that all the guidlines have been corretly followed. ...accidents are unique. Safety is not something to be comprimising on.</p>
<p>I have also had first hand expeience with forces of accidents which I hope I never have to go through again. 100mph into an almost stationary object. After watching the video again and agian I can&#39;t believe how much my body was propelled forward and away from my seat. I suffered broken ribs and servere whiplash which I still have to get treated for over a year later.</p>
<p>I have a feeling that no matter what I say you guys and girls will most likely just do as you please anyway. --- hell its human nature to want to do as your told not to. But I just felt I had to explain my point of view.</p>

<p>



</p>