<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<ul>
<li class="toclevel-1"><a href="#Spark_Plugs">Spark Plugs</a>
</li>
<li class="toclevel-1"><a href="#Elise_S1">Elise S1</a>
</li>
<li class="toclevel-1"><a href="#Elise_S2">Elise S2</a>
</li>
<li class="toclevel-1"><a href="#Honda_K20A2">Honda K20A2</a>
</li>
<li class="toclevel-1"><a href="#2ZZGE_NA">2ZZGE NA</a>
</li>
<li class="toclevel-1"><a href="#Gapping">Gapping</a>
</li>
<li class="toclevel-1"><a href="#Links">Links</a>
</li>
</ul>
</ul>
</ul></td></tr></table><hr/>
<h3><span class="mw-headline" id="Spark_Plugs">Spark Plugs</span></h3>
<p>New plug and an old, crap plug
<a class="image" href="http://wiki.seloc.org/a/Image:Pluggaps.jpg" ><img src="Pluggaps.jpg" width="220" />
</a></p>

<ul>
<li>27nm Torque</li>
</ul>


<ul>
<li>S1 = 0.9mm (0.900mm) Gaping</li>
</ul>

<h3><span class="mw-headline" id="Elise_S1">Elise S1</span></h3>

<p>Lotus PN:A111E6043S</p>
<p>Lotus PN:A111E6285S</p>

<ul>
<li>S1 = 0.9mm (0.900mm) Gaping</li>
</ul>


<ul>
<li>Champion: RC8 PYP</li>
<li>NGK PFR 6N-11   (requires 10mm Plug Socket)</li>
<li>NGK PFR 6 N R</li>
<li>Bosch F 5 DP 0R</li>
<li>Bosch FR 56</li>
</ul>



<h3><span class="mw-headline" id="Elise_S2">Elise S2</span></h3>

<p>Lotus PN:A117E6023S</p>

<ul>
<li>S2 = 1mm (1.00mm) Gaping </li>
</ul>


<ul>
<li>NGK PFR6N-11</li>
</ul>


<ul>
<li>Bosch FR 56</li>
</ul>

<p>2004 MY S2 111S</p>
<p>Owners&#39; manual states:
Unipart GSP 66527
Rover NLP 100290
Champion RC8 PYPB4</p>
<h3><span class="mw-headline" id="Honda_K20A2">Honda K20A2</span></h3>


<ul>
<li>Denso Iridium    SK22PR-M11</li>
<li>NGK              IFR7G-11KS</li>
</ul>

<p>Iridium plugs are OEM fitment on the K20 engine.</p>
<p><b>DO NOT TRY TO GAP IRIDIUM PLUGS YOURSELF!</b></p>
<p>The electrode is extremely thin (only approx 1 to 2mm) and can damage easily.</p>
<h3><span class="mw-headline" id="2ZZGE_NA">2ZZGE NA</span></h3>

<p>IFR6T-11 NGK Spark Plugs</p>
<h3><span class="mw-headline" id="Gapping">Gapping</span></h3>

<p>To &#39;Gap&#39; the spark plugs a <a href="http://wiki.seloc.org/a/Feeler_gauge" title="Feeler gauge">Feeler gauge</a> is used</p>
<h3><span class="mw-headline" id="Links">Links</span></h3>

<p><a class="external text" href="http://www.eliseparts.com/shop/index.php?main_page=product_info&#38;cPath=132&#38;products_id=453" rel="nofollow">Eliseparts</a></p>
<p><a class="external text" href="http://www.elise-shop.com/index.php?main_page=product_info&#38;cPath=22&#38;products_id=320" rel="nofollow">Elise-shop</a></p>
<p><a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Elise_S2/Spark_Plug/70.htm" rel="nofollow">Bell &#38; Colvill S2 Spark Plugs</a></p>
<p><a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/Elise_S1/Spark_Plug/959.htm" rel="nofollow">Bell &#38; Colvill S1 Spark Plugs</a></p>
<p><a class="external text" href="http://www.bellandcolvill.co.uk/lotus/parts/340R/Spark_Plug/56.htm" rel="nofollow">Bell &#38; Colvill S1 Exige, 340R , Elise S1 190 Spark Plugs</a></p>


<p>


</p>