<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<ul>
<li class="toclevel-1"><a href="#Misfire">Misfire</a>
</li>
<li class="toclevel-1"><a href="#Steady_Misfire">Steady Misfire</a>
</li>
<li class="toclevel-1"><a href="#Loose.2Fdisconnected_HT_Leads">Loose/disconnected HT Leads</a>
</li>
<li class="toclevel-1"><a href="#Moisture_in_Distributor_.28Dizzy.29_Cap">Moisture in Distributor (Dizzy) Cap</a>
</li>
<li class="toclevel-1"><a href="#Spark_Plugs">Spark Plugs</a>
</li>
<li class="toclevel-1"><a href="#Coil_Packs">Coil Packs</a>
</li>
<li class="toclevel-1"><a href="#Throttle_Position_Sensor">Throttle Position Sensor</a>
</li>
<li class="toclevel-1"><a href="#Lambda_Sensor">Lambda Sensor</a>
</li>
<li class="toclevel-1"><a href="#Head_Gasket_Failure">Head Gasket Failure</a>
</li>
<li class="toclevel-1"><a href="#Inlet_Manifold_Gasket_Failure">Inlet Manifold Gasket Failure</a>
</li>
</ul>
</ul>
</ul></td></tr></table><hr/>
<h3><span class="mw-headline" id="Misfire">Misfire</span></h3>


<h3><span class="mw-headline" id="Steady_Misfire">Steady Misfire</span></h3>

<p>In the case of a steady misfire, isolating the misfiring cylinder is the first step in diagnosing the problem. </p>

<p><b>Items that can cause a misfire:</b></p>
<h3><span class="mw-headline" id="Loose.2Fdisconnected_HT_Leads">Loose/disconnected HT Leads</span></h3>

<p>Check they are all attached properly! (Cured my misfire anyway....)</p>
<h3><span class="mw-headline" id="Moisture_in_Distributor_.28Dizzy.29_Cap">Moisture in Distributor (Dizzy) Cap</span></h3>

<p>Unscrew, check for moisture, dry off.  </p>
<h3><span class="mw-headline" id="Spark_Plugs">Spark Plugs</span></h3>

<p><a href="http://wiki.seloc.org/a/Spark_plugs" title="Spark plugs">Spark plugs</a></p>
<h3><span class="mw-headline" id="Coil_Packs">Coil Packs</span></h3>

<p><a href="http://wiki.seloc.org/a/Coil_packs" title="Coil packs">Coil packs</a></p>
<h3><span class="mw-headline" id="Throttle_Position_Sensor">Throttle Position Sensor</span></h3>

<p><a href="http://wiki.seloc.org/a/Throttle_Position_Sensor" title="Throttle Position Sensor">Throttle Position Sensor</a></p>
<h3><span class="mw-headline" id="Lambda_Sensor">Lambda Sensor</span></h3>

<p><a href="http://wiki.seloc.org/a/Lambda_sensor" title="Lambda sensor">Lambda sensor</a></p>
<h3><span class="mw-headline" id="Head_Gasket_Failure">Head Gasket Failure</span></h3>

<p>A spark plug that shows heavy whitish to brown deposits may indicate a coolant leak either past the head gasket or through a crack in the combustion chamber.
This type of problem will only get worse and may soon lead to even greater problems if the leak isn&#39;t fixed. Coolant makes a lousy lubricant and can cause ring, cylinder and bearing damage if it gets into a cylinder or the crankcase.</p>
<p><a href="http://wiki.seloc.org/a/Head_gasket_failure" title="Head gasket failure">Head gasket failure</a></p>
<h3><span class="mw-headline" id="Inlet_Manifold_Gasket_Failure">Inlet Manifold Gasket Failure</span></h3>

<p>The Inlet manifold gasket can fail and allow air leaks and coolant/anti-freeze to leak into the cylinder ahead of the injectors. Tell tale signs can include rusty spark plugs on cylinder 1 and 4, sometimes even all four, lumpy idle or misfiring, high emissions, jerky acceleration and deceleration when coming off the accelerator, anti-freeze around the inlet manifold, unburnt fuel and possibly destroyed catalytic convertor.</p>
<p><a href="http://wiki.seloc.org/a/Inlet_manifold_gasket_failure" title="Inlet manifold gasket failure">Inlet manifold gasket failure</a></p>
<p>


</p>