<h3><span class="mw-headline" id="Tyre_pressures">Tyre pressures</span></h3>

<p>Make sure you buy a tyre pressure gauge of your own, who knows when the last time the air pump at the garage was calibrated. </p>
<p>Buying your own gauge will insure you get similar readings.</p>


<p><b>Please enter all readings as COLD for Road and HOT for Track</b></p>


<p>Please beware that tyre pressure is part of your suspension setup and the pressure numbers from the manual is a good start if you run factory geo and OE tyres. Anything else is trial and error. </p>
<p>That said starting at the low end will help you find the correct pressure faster.</p>




<p><b>As used by other SELOC members:</b></p>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td><b>Elise S1</b></td>
<td><b>FRONT</b></td>
<td><b>REAR</b></td>
<td><b>SIZE</b></td>
<td><b>Road or Track?</b></td>
<td><b>Used by</b></td></tr>
<tr>
<td>Toyo R888</td>
<td>22</td>
<td>24</td>
<td></td>
<td>Road</td>
<td></td></tr>
<tr>
<td>Yokohama Advan Neova LTS</td>
<td>22</td>
<td>24</td>
<td></td>
<td>Road</td>
<td></td></tr>
<tr>
<td>Yokohama Advan Neova LTS</td>
<td>20</td>
<td>22</td>
<td></td>
<td>Road</td>
<td>Mr Wiki in the Summer</td></tr>
<tr>
<td>Yokohama Advan Neova LTS</td>
<td>22</td>
<td>24</td>
<td></td>
<td>Road</td>
<td>Mr Wiki in the winter</td></tr>
<tr>
<td>Yokohama Advan A048r (M)</td>
<td>23</td>
<td>24</td>
<td>195/255</td>
<td>Road</td>
<td>sc-009</td></tr>
<tr>
<td>Yokohama Advan A048</td>
<td>27</td>
<td>28</td>
<td></td>
<td>Track</td>
<td></td></tr>
<tr>
<td>Toyo Proxies T1R</td>
<td>24 </td>
<td>26</td>
<td></td>
<td>Road</td>
<td></td></tr>
<tr>
<td>Toyo R1R</td>
<td>22 </td>
<td>24</td>
<td></td>
<td>Road</td>
<td></td></tr>
<tr>
<td>BF Goodrich G Force Profilers</td>
<td>22</td>
<td>24</td>
<td></td>
<td>Road</td>
<td></td></tr>
<tr>
<td>Yoko C Drive</td>
<td>22 </td>
<td>24</td>
<td></td>
<td>Road</td>
<td></td></tr>
<tr>
<td>Kumho Ecsta KU31</td>
<td>24 </td>
<td>26</td>
<td></td>
<td>Road</td>
<td></td></tr>
<tr>
<td>Kumho Ecsta KU31</td>
<td>23 </td>
<td>24</td>
<td>195/225</td>
<td>Road (Wet)</td>
<td>sc-009</td></tr>
<tr>
<td>Kumho Ecsta KU31</td>
<td>26 </td>
<td>26</td>
<td>195/225</td>
<td>Track</td>
<td>sc-009</td></tr>
<tr>
<td>Kumho Ecsta KU31</td>
<td>23 </td>
<td>25</td>
<td>195/225</td>
<td>Road</td>
<td>sida</td></tr>
<tr>
<td>Kumho Ecsta KU31</td>
<td>26 </td>
<td>28</td>
<td>195/225</td>
<td>Track</td>
<td>sida</td></tr>
<tr>
<td>Hankook RS2</td>
<td>24 </td>
<td>26</td>
<td>195/225</td>
<td>Road</td>
<td>ReVolt</td></tr></table></div>


<p>The Elise manual says 26F/27.5R for Bridgestones on a K series but this may be too high with rear centre tread wearing first.</p>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td><b>Elise S2 K series</b></td>
<td><b>FRONT</b></td>
<td><b>REAR</b></td>
<td><b>Road or Track?</b></td>
<td><b>Used by</b></td></tr>
<tr>
<td>Yoko AD07</td>
<td>22</td>
<td>24</td>
<td>Road &#38; Track</td>
<td></td></tr>
<tr>
<td>Bridgestones</td>
<td>24</td>
<td>26</td>
<td>Road</td>
<td></td></tr>
<tr>
<td>Bridgestones</td>
<td>26 </td>
<td>27.5</td>
<td>Road (and no abnormal centre wear at all)</td>
<td></td></tr>
<tr>
<td>Bridgestones</td>
<td>24</td>
<td>26</td>
<td>Track</td>
<td></td></tr>
<tr>
<td>Yoko AD07</td>
<td>23 </td>
<td>25</td>
<td>Road</td>
<td></td></tr>
<tr>
<td>Toyo R888</td>
<td>22 </td>
<td>24</td>
<td>Road</td>
<td></td></tr>
<tr>
<td>Toyo R888</td>
<td>20 </td>
<td>22</td>
<td>Track</td>
<td></td></tr>
<tr>
<td>Yoko AO48</td>
<td>22 </td>
<td>24</td>
<td>Road</td>
<td></td></tr>
<tr>
<td>Dunlop SP9000</td>
<td>24 </td>
<td>26</td>
<td>Road</td>
<td></td></tr></table></div>


<p>The Elise manual says 26F/29R for Bridgestones on a Toyota-engined Elise Standard 111R</p>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td><b>Elise S2 Toyota</b></td>
<td><b>FRONT</b></td>
<td><b>REAR</b></td>
<td><b>Road or Track?</b></td>
<td><b>Used by</b></td></tr>
<tr>
<td>Yokohama AD07</td>
<td>23</td>
<td>25</td>
<td>Road</td>
<td></td></tr>
<tr>
<td>Yokohama A048</td>
<td>22</td>
<td>24</td>
<td>Road</td>
<td></td></tr>
<tr>
<td>Bridgestones</td>
<td>23</td>
<td>24</td>
<td>Road</td>
<td></td></tr>
<tr>
<td>Toyo R1R</td>
<td>22</td>
<td>24</td>
<td>Road</td>
<td>Juninho1976</td></tr>
<tr>
<td>Tyre Name</td>
<td>PSI </td>
<td>PSI</td>
<td>?</td>
<td></td></tr>
<tr>
<td>Tyre Name</td>
<td>PSI </td>
<td>PSI</td>
<td>?</td>
<td></td></tr>
<tr>
<td>Tyre Name</td>
<td>PSI </td>
<td>PSI</td>
<td>?</td>
<td></td></tr></table></div>





<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td><b>Exige S2 Toyota</b> </td>
<td><b>FRONT</b></td>
<td><b>REAR</b></td>
<td><b>Road or Track?</b></td>
<td><b>Used by</b></td></tr>
<tr>
<td>Yokohama A048</td>
<td>22</td>
<td>24</td>
<td>Track</td>
<td></td></tr>
<tr>
<td>Yokohama A048</td>
<td>24 </td>
<td>26</td>
<td>Road</td>
<td></td></tr>
<tr>
<td>Toyo T1-R</td>
<td>26</td>
<td>28</td>
<td>Road</td>
<td></td></tr>
<tr>
<td>Toyo 888</td>
<td>19</td>
<td>23</td>
<td>Track</td>
<td></td></tr></table></div>





<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td><b>Europa</b></td>
<td><b>FRONT</b></td>
<td><b>REAR</b></td>
<td><b>Road or Track?</b></td></tr>
<tr>
<td>Tyre Name</td>
<td>PSI</td>
<td>PSI</td>
<td>?</td></tr>
<tr>
<td>Tyre Name</td>
<td>PSI </td>
<td>PSI</td>
<td>?</td></tr>
<tr>
<td>Tyre Name</td>
<td>PSI </td>
<td>PSI</td>
<td>?</td></tr></table></div>

<h3><span class="mw-headline" id="Toyo_888_Tyre_Pressures">Toyo 888 Tyre Pressures</span></h3>

<p>Extracted from the following thread:</p>
<p><a class="external free" href="http://forums.seloc.org/t/222602" rel="nofollow">http://forums.seloc.org/t/222602</a></p>
<p>My name is Alan Meaker, I am the Motorsport Manager for Toyo Tyres (UK) Ltd.</p>
<p>I was at Rockingham on the Saturday 1ST March at the LOT trackday and worked with a couple of cars using our R888 tyre regarding pressures and tread temperatures.</p>
<p>What I would like to do is to offer some advice on tyre temperatures and pressures and how to achieve the best from our tyres when taking part in either trackdays or racing.</p>
<p>The R888 has a semi race construction (very stiff) and a race tread compound. The optimum tread temperature range is between 85C and 95C measured using a probe type pyrometer, and ideally a maximum difference across the tread of 9C. The maximum hot pressure we recommend is 40psi. Camber angles up to 5 degrees are permissible but the final setting will depend on tread temperatures. It is advisable to have as much positive castor as practical as castor induces a beneficial camber change during cornering. I recommend that the tyres be put through 2 heat cycles before hard use.</p>

<p>The pressures you use will initially depend on the weight of the car, too little pressure on a heavy car can lead to over deflection of the tyre and subsequent failure.</p>
<p>Below are some basic settings:</p>
<p>VEHICLE WEIGHT COLD PRESSURE HOT PRESSURE
Very Light &#60; 800kg 17 - 22 psi 22 - 29 psi
Light 800kg - 1000kg 20 - 26 psi 24 - 32 psi
Heavy 1000kg - 1400kg 23 - 27 psi 28 - 40 psi
Very Heavy &#62; 1400kg 27 - 35 psi 37 - 40 psi


As a tyre gets hotter the pressure increases, this is due to the moisture in the air. The cold pressure you set to achieve a desired hot pressure will depend on the conditions on the day i.e. ambient and track temperature, wet or dry. If the day/track is cold you will need to start with a higher cold pressure as the tyre will not get as hot therefore the pressure increase will not be so great. 
Hot pressures must be balanced side to side. Once the tyres have cooled you will find that you will have a difference in pressure side to side, if you have been racing on a right hand track you will find the offside pressures will usually be higher than the nearside.


Changing hot inflation pressures by small amounts can be used to fine tune handling.

Reduce Oversteer Reduce rear pressures or increase front pressures
Increase Oversteer Increase rear pressures or reduce front pressures
Reduce Understeer Reduce front pressures or increase rear pressures
Increase Understeer Increase front pressures or reduce rear pressures


Achieving the required tread temperatures will depend again on the conditions on the day i.e. ambient and track temperature, wet or dry.

You often here competitors saying “My tyres started to go of towards the end of the race”, this is usually due to the tread getting to hot.

The tread temperatures are constantly changing through out a race, hotter when cornering and cooler when on the straights and cooling even more when you are slowing to come into the pits. Therefore the temps you record in the pits will be lower than those during the race. So if you record temperatures within the range given above the probability is the temps will be too high during the race.

Increasing your tyre pressures will cause your tread temperatures to increase, more pressure stiffens the tyre’s casing which results in the tread having to do more work resulting in the tread getting hotter. Lowering your pressures will cause them to decrease.


Inevitably changing one thing will affect other things, the whole set up of your car is a compromise between anything that is adjustable. 

Some of you are also asking about different compounds. Originally we only had one compound ‘GG’ (medium hard), but we have now introduced some sizes in a ‘SG’ (soft/wet) compound. This was done primarily for sprint/hillclimb (around 60 second runs) where the distances covered are relatively short and you need the tyres to work/heat up very quickly. This is not a compound I would recommend for race/trackday dry use as the tyres will go off very quickly.

The sizes that will be available are:

185/60R13, 205/60R13, 195/50R15, 205/50R15, 225/45R16, 225/45R17.

Another subject is the introduction of our Proxes R1R. This tyre was due to be launched at the beginning of 2008, unfortunately this has been delayed to at least mid 2008 but there is a good chance it will be latter than this. Regarding sizes, initially we will have a rear fit (225/45ZR17) but not the front (195/50R16).

I hope this is of some use to you. 

If I can be of any further assistance please give me a call.

01933 414537


Best Regards

Alan 




[[Category:Wheels and tyres]]
[[Category:Lotus Elise]]
[[Category:S1]]
[[Category:S2]]
[[Category:S2 Exige]]</p>