
<p>The S1 Elise suffers from the hinge bolt loosening which leads to excessive lateral movement on opening &#38; ultimately the cover becoming detached. Popular myth has it that the rear clam has to be removed to access the bolt. Not so.</p>

<ol>
<li>Take off the hood but leave the cant rails &#38; cross struts in place.</li>
<li>Remove the roll over bar cover by undoing the catch on either side. Lift out the rear window.</li>
<li>Open the engine cover and place dust sheets around the opening (all round) to protect the paintwork of the rear clam. Place another sheet over the top of the engine to catch the bolts/shims that you will drop that then necessitate the removal of the undertray to retrieve!</li>
<li>Remove the aerial shaft by unscrewing it. Unbolt it from the underside &#38; cut the two cable ties that attach the loom &#38; heatshield (if you have one) to the bodywork. (you’re only doing this to get some movement not to remove the whole thing).</li>
<li>Remove the 3 bolts that attach the cover to the hinge. Another set of hands helps here if only to catch the cover &#38; help stop it damaging any paintwork. Note the shims that sit between hinge and cover. </li>
<li>Pull the cover backwards a few inches so you can see the gutter underneath the rear window that that the cover sits in – DO NOT allow the cover securing pin at the rear to scratch the body work</li>
<li>Remove the 4 clam securing bolts that you will find in the gutter that the front of the engine cover sits in.</li>
<li>Gently prise up the front edge of the rear clam by accessing it though the rear window gap with a bit of wooden dowel or the like – jam the dowel against the hood struts that you have left in place. Now you can see the bolt &#38; tighten it – a ratchet spanner makes this part of the job much easier</li>
</ol>

<p>Reassembly is the reverse of this. When you are reattaching the hinge to the cover you’ll need to do some jiggling with the bolts firm but not tight to get the cover to sit squarely in the aperture.</p>

<p>
</p>