<h3><span class="mw-headline" id="What_Cleaning_products.3F">What Cleaning products?</span></h3>

<p>Here is a quick &#39;run down&#39; on what products to use when cleaning your Elise.</p>
<p>Note: cleaning your car is up to you, so use what ever products you prefer.  This is just a shortlist of well-regarded products that are considered to be among the best.</p>
<p>1 is best / recommended but obviously some items are not easily available at short notice etc so you might want to sacrifice the last ounce of performance for something further down the list thats available on the High Street. </p>



<p><b>Shampoo</b></p>
<p><b>1.</b> Chemical Guys Maxi Suds 2</p>
<p><b>2.</b> Meguiars Gold Class car shampoo</p>
<p><b>3.</b> Meguiars NXT Generation car wash</p>
<p><b>4.</b> Auto Glym Shampoo and Wax</p>
<p><b>5.</b>Enter</p>




<p><b>Polish</b></p>
<p><b>1.</b>Auto Glym Super Resin Polish (Excellent for hiding swirls and scratches)</p>
<p><b>2.</b>Enter</p>
<p><b>3.</b>Enter</p>
<p><b>4.</b>Enter</p>
<p><b>5.</b>Enter</p>


<p><b>Glaze</b></p>
<p><b>1.</b>Auto Glym Ultra Deep Shine ( Dark color )</p>
<p><b>2.</b>Auto Glym Fast Glass</p>
<p><b>3.</b>Enter</p>
<p><b>4.</b>Enter</p>
<p><b>5.</b>Enter</p>


<p><b>Wax / Sealant</b></p>
<p><b>1.</b> Chemical Guys 50/50 wax</p>
<p><b>2.</b> Chemical Guys Factory Sealant</p>
<p><b>3.</b> Swissol - Best of Show (Amazing durability - has been known to last upto a year, approx £100 a tub though)</p>
<p><b>4.</b>Auto Glym Ultimate Gloss Protection</p>
<p><b>5.</b>Enter</p>



<p><b>Interior Ali</b></p>
<p><b>1.</b> Meguiars All Purpose Cleaner (a weak mix solution)</p>
<p><b>2.</b>Wet Shammy! - no oily residue left on plastics.</p>
<p><b>3.</b>Auto Glym interior Shampoo</p>
<p><b>4.</b>Enter</p>
<p><b>5.</b>Enter</p>



<p><b>Leather</b></p>
<p><b>1.</b> Autoglym Leather Care Cream</p>
<p><b>2.</b>Enter</p>
<p><b>3.</b>Enter</p>
<p><b>4.</b>Enter</p>
<p><b>5.</b>Enter</p>



<p><b>Plastic fins &#38; other black trim</b></p>
<p><b>1.</b>Auto GLym Vinyl Rubber</p>
<p><b>2.</b>Enter</p>
<p><b>3.</b>Enter</p>
<p><b>4.</b>Enter</p>
<p><b>5.</b>Enter</p>



<p><b>Tyres</b></p>
<p><b>1.</b>Carplan Tyre Slik (Wins tyre black of the year every year)</p>
<p><b>2.</b>Turtle Wax Tyre Shine (use from a Jar &#38; apply with Pait brush)</p>
<p><b>3.</b>Chemical Guys - New Look Trim Gel</p>
<p><b>4.</b>Enter</p>
<p><b>5.</b>Enter</p>


<p><b>Alloy Wheels</b></p>
<p><b>1.</b>Auto Glym (Custom) Wheel Cleaner</p>
<p><b>2.</b>Enter</p>
<p><b>3.</b>Enter</p>
<p><b>4.</b>Enter</p>
<p><b>5.</b>Enter</p>


<p><b>Scratch removal</b></p>
<p><b>1.</b>Auto Glym Paint Renovator</p>
<p><b>2.</b>Chemical Guys - Diamond Cut (1000-2000)</p>
<p><b>3.</b>Meguiar&#39;s Ultimate Compound</p>
<p><b>4.</b>Enter</p>
<p><b>5.</b>Enter</p>


<p><b>Metal work</b></p>
<p><b>1.</b>Brasso / Brillo Pad depending on metal finish!</p>
<p><b>2.</b>Autosol - Metal Polish.</p>
<p><b>3.</b>Enter</p>
<p><b>4.</b>Enter</p>
<p><b>5.</b>Enter</p>


<p><b>Accessories</b></p>
<p>recommeded foam lances, wash mitts, applicator pads, drying towels, polishing cloths, clays &#38; lubes etc</p>

<p>



</p>
<p><b>Synth - Shammy&#39;s are better than leather ones</b></p>
<p><b>Lambs wool wash mitt</b></p>
<p><b>Pure Cotton Polishing clothes</b></p>