
<p>
I hope this serves as inspiration for all the &#39;ditherers&#39; like me, wondering whether to do it or not! DO it, it&#39;s easy!!!</p>
<p>1) Remove pads - i used a plastic scrapery type thing and some pulling. not easy.</p>
<p>2) Pad comes off, looks like this:</p>

<p><a class="external free" href="http://gallery.seloc.org/albums/userpics/28610/Photo-0010.jpg" rel="nofollow">http://gallery.seloc.org/albums/userpics/28610/Photo-0010.jpg</a></p>


<p>3) Use brute force and ignorance to rip the leather off:</p>
<p><a class="external free" href="http://gallery.seloc.org/albums/userpics/28610/Photo-0011%7E0.jpg" rel="nofollow">http://gallery.seloc.org/albums/userpics/28610/Photo-0011%7E0.jpg</a></p>


<p>4) The foam comes off quite easily using a fingernail and pulling. Under it you will find a lovely smooth piece of high quality Norfolk Plastic</p>
<p><a class="external free" href="http://gallery.seloc.org/albums/userpics/28610/Photo-0012%7E0.jpg" rel="nofollow">http://gallery.seloc.org/albums/userpics/28610/Photo-0012%7E0.jpg</a></p>


<p>5) I didn&#39;t bother cleaning up the insides of the plastic, nor removing all the supersticky black stuff that held the pad on. Life is too short. Draw around your plastic on a sheet of thinnish foam</p>
<p><a class="external free" href="http://gallery.seloc.org/albums/userpics/28610/Photo-0013.jpg" rel="nofollow">http://gallery.seloc.org/albums/userpics/28610/Photo-0013.jpg</a></p>
<p><a class="external free" href="http://gallery.seloc.org/albums/userpics/28610/Photo-0014.jpg" rel="nofollow">http://gallery.seloc.org/albums/userpics/28610/Photo-0014.jpg</a></p>

<p>6) Cut out the foam</p>
<p><a class="external free" href="http://gallery.seloc.org/albums/userpics/28610/Photo-0015.jpg" rel="nofollow">http://gallery.seloc.org/albums/userpics/28610/Photo-0015.jpg</a></p>

<p>and stick it on using spray glue. I got mine from an upholsterers shop. I&#39;m sure sticky backed plastic (yay!) would work just fine</p>

<p><a class="external free" href="http://gallery.seloc.org/albums/userpics/28610/Photo-0016.jpg" rel="nofollow">http://gallery.seloc.org/albums/userpics/28610/Photo-0016.jpg</a></p>
<p>7) use the glue again to stick down the final material. I used leather effect vinyl. cost a couple of quid, literally and is waterproof for the inevitable S1 leaks. Note that it is easier to glue the vinyl down before cutting the shape out. remember to leave a gap around the edge for the fold-over (d&#39;oh!)</p>

<p><a class="external free" href="http://gallery.seloc.org/albums/userpics/28610/Photo-0017.jpg" rel="nofollow">http://gallery.seloc.org/albums/userpics/28610/Photo-0017.jpg</a></p>

<p>8) This is the inexpert bit - i&#39;m not an upholsterer so i just did the best i could using spray adhesive and duct tape (yay!). No-one going to see the inside so i don&#39;t care what it looks like. And it works. Is there anything Duct tape can&#39;t do???</p>

<p><a class="external free" href="http://gallery.seloc.org/albums/userpics/28610/Photo-0018%7E0.jpg" rel="nofollow">http://gallery.seloc.org/albums/userpics/28610/Photo-0018%7E0.jpg</a></p>

<p>9) No-one can spot my bodgery from the correct side!!</p>


<p><a class="external free" href="http://gallery.seloc.org/albums/userpics/28610/Photo-0021.jpg" rel="nofollow">http://gallery.seloc.org/albums/userpics/28610/Photo-0021.jpg</a></p>

<p>10) i used sticky backed velcro to put them back on. I didn&#39;t remove all the gunk off the sills becasue i&#39;m lazy and skint and CBA going to halfords to get some autoglym tar remover, as is suggested by others on this fine forum.</p>

<p><a class="external free" href="http://gallery.seloc.org/albums/userpics/28610/Photo-0022.jpg" rel="nofollow">http://gallery.seloc.org/albums/userpics/28610/Photo-0022.jpg</a></p>

<p><a class="external free" href="http://gallery.seloc.org/albums/userpics/28610/Photo-0023.jpg" rel="nofollow">http://gallery.seloc.org/albums/userpics/28610/Photo-0023.jpg</a></p>

<p>Added:  It was suggested to me by a trimming shop that you can glue the edges with superglue to ensure they do not unpeel - might save you some duct tape!</p>

<p>Added by dern... I did mine following this guide with two changes that may be useful. I used two layers of thick felt instead of the foam which gave a very nice feel to the sill pad. I left about 3/4mm overlap of felt rather than cut it to the edges which meant that when you pull the vinyl over the edge you don&#39;t get such a sharp edge which could prematurely wear the vinyl if you keep knocking the pad as you get out. Once the vinyl was cut to shape and glued to the felt using the spray adhesive I painted impact adhesive on the edge of the plastic (on the back) and on the edge of the vinyl and left it to dry. Then you can pull over the edges and they&#39;ll stick to the back very quickly which helps you do a neat job of sticking the vinyl all the way round without mucking up what you&#39;ve already done.</p>