
<p>The Elise S1 111S 143bhp EU2 VVC is controlled by the MEMS 2J ECU common with the early VVC MGFs</p>
<p>The Elise S2 111S 156bhp EU3 VVC is controlled by the Lotus K4 ECU A117M0109F (which looks the same as the MEMS 3 but is *NOT*). </p>

<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#EU2_.26amp.3B_EU3_Differences">EU2 &#38; EU3 Differences</a>
</li>
<li class="toclevel-1"><a href="#VVC_Failure_Modes">VVC Failure Modes</a>
</li>
<li class="toclevel-1"><a href="#Lotus_S2_K4_ECU_VVC_Connections">Lotus S2 K4 ECU VVC Connections</a>
</li>
<li class="toclevel-1"><a href="#Lotus_S2_K4_ECU_VVC_DTC_Codes">Lotus S2 K4 ECU VVC DTC Codes</a>
</li>
<li class="toclevel-1"><a href="#VVC_Timing_Information">VVC Timing Information</a>
</li>
<li class="toclevel-1"><a href="#VVC_Mechanisms_Strip_down">VVC Mechanisms Strip down</a>
</li>
<li class="toclevel-1"><a href="#VVC_Hydraulic_Control_Unit">VVC Hydraulic Control Unit</a>
</li>
<li class="toclevel-1"><a href="#VVC_and_Emerald_ECU">VVC and Emerald ECU</a>
</li>
<li class="toclevel-1"><a href="#External_Resources">External Resources</a>
</li>
<li class="toclevel-1"><a href="#Fitting_an_EU2_VVC_Engine_to_a_non-VVC_S1_Elise">Fitting an EU2 VVC Engine to a non-VVC S1 Elise</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="EU2_.26amp.3B_EU3_Differences">EU2 &#38; EU3 Differences</span></h2>

<p>The mechanicals which are different from the EU3 to EU2 engine:</p>
<p>1. 52mm TB as standard (EU2 48mm)</p>
<p>2. Wasted spark coil packs on top of the plugs (EU2 under induction)</p>
<p>3. KTM plate oil/water cooler under the induction (EU2 none)</p>
<p>4. Dark blue 192cc/min injectors (EU2 cream 218cc/min)</p>
<p>5. TF160 pistons with marginally higher compression and expanded ring belt to strengthen ring lands, indentifiable by &#39;160&#39; engraved on the crown (EU2 standard pistons)</p>
<p>6. Double tang conrods (EU2 single tang)</p>
<p>7. Machining of the head around the inlet and exhaust valves (triple-angle valve seats) both in the valve throats and combustion chamber to improve low lift flow </p>
<p>8. VVC control connectors are differnt colours and have different keyways</p>
<p>9. IACV MDQ100170 is PWM (EU2 is Stepper)</p>
<p>10. Cam Position Sensor NSC000010 may have a longer pickup (EU2 is NSC100380)</p>
<h2><span class="mw-headline" id="VVC_Failure_Modes">VVC Failure Modes</span></h2>
<p>ECT Sensor low/error limits to 6K RPM</p>
<p>MAP Sensor error limits to 6K RPM</p>
<p>VVC Oil Temp Sensor low/error limites to 6K RPM</p>
<p>VVC Solenoid low resistance (should be 6.6 to 8.8 Ohms) limits to 5.5K RPM </p>
<p>ECU VVC control circuit fried (from wrong battery polarity) limits to 5.5K RPM </p>
<p>Cam Position Sensor limits to 5.5K RPM (The VVC CPS is NSC000010 variable reluctance, different to the standard K16 Hall effect)</p>

<p>Excellent write up on the S1 EU2 VVC MEMS 2J logic and failure modes here * <a class="external free" href="http://www.mgfcar.de/library/ENGINE_MANAGEMENT_SYSTEM_VVC_MEMS_2J.htm" rel="nofollow">http://www.mgfcar.de/library/ENGINE_MANAGEMENT_SYSTEM_VVC_MEMS_2J.htm</a></p>
<p>Excellent write up on the EU3 VVC MEMS 3 logic (which the S2 K4 is based on) and failure modes here * 
<a class="external free" href="http://www.mgfcar.de/library/ENGINE_MANAGEMENT_SYSTEM_%20MPi_VVC_MEMS_3.htm" rel="nofollow">http://www.mgfcar.de/library/ENGINE_MANAGEMENT_SYSTEM_%20MPi_VVC_MEMS_3.htm</a></p>

<p>Note: Connecting the battery on wrong polarity can blow the K4 ECU VVC control circut, as can running with a low resistance solenoid. Lotus issued a service note on this.</p>
<p><a class="external free" href="http://wiki.seloc.org/images/a/a2/VVC_Solenoid_SB.jpg" rel="nofollow">http://wiki.seloc.org/images/a/a2/VVC_Solenoid_SB.jpg</a></p>
<h2><span class="mw-headline" id="Lotus_S2_K4_ECU_VVC_Connections">Lotus S2 K4 ECU VVC Connections</span></h2>

<div style="page-break-inside: avoid;">
<table>
<tr>
<td>K4 Pin </td>
<td>Wire </td>
<td>Function </td>
<td>Connector</td></tr>
<tr>
<td>06 </td>
<td>Blue </td>
<td>VVC Oil Temp Earth </td>
<td>BLACK</td></tr>
<tr>
<td>10 </td>
<td>Green Orange </td>
<td>VVC Oil Temp Signal </td>
<td>BLACK</td></tr>
<tr>
<td>12 </td>
<td>Black Yellow </td>
<td>VVC Decriment </td>
<td>BLUE </td></tr>
<tr>
<td>49 </td>
<td>Brown Black </td>
<td>VVC Increment </td>
<td>BROWN</td></tr></table></div>


<p>The S2 Connector order is LEFT &#60; Blue - Brown - Black &#62; RIGHT VVC Actuator</p>
<p>The S1 connector order is LEFT &#60; Blue - Black - Brown &#62; RIGHT VVC Actuator</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:http://gallery.seloc.org/albums/userpics/24232/S2_VVC_Engine_Sensors.JPG" ><img src="http://gallery.seloc.org/albums/userpics/24232/S2_VVC_Engine_Sensors.JPG" width="220" />
</a></p>
<h2><span class="mw-headline" id="Lotus_S2_K4_ECU_VVC_DTC_Codes">Lotus S2 K4 ECU VVC DTC Codes</span></h2>
<p>The S2 ECU is ODB2 compliant (ISO9141/KWP2000) so can be read by most scantools. Of course the S1 MEMS isn&#39;t OBD2 so no idea what that spits out ...</p>

<div style="page-break-inside: avoid;">
<table>
<tr>
<td>Code </td>
<td>Description </td>
<td></td></tr>
<tr>
<td>P1336 </td>
<td>S2 Crankshaft Position System Variation Not Learned </td>
<td></td></tr>
<tr>
<td>P1400 </td>
<td>S2 Fan 1 Relay Short </td>
<td></td></tr>
<tr>
<td>P1401 </td>
<td>S2 Fan 1 Relay Open </td>
<td></td></tr>
<tr>
<td>P1402 </td>
<td>S2 Fan 2 Relay Short [unverified] </td>
<td></td></tr>
<tr>
<td>P1403 </td>
<td>S2 Fan 2 Relay Open [unverified] </td>
<td></td></tr>
<tr>
<td>P1470 </td>
<td>S2 Coolant Recirculation Relay Open [unverified] </td>
<td></td></tr>
<tr>
<td>P1480 </td>
<td>S2 Exhaust flap relay open </td>
<td></td></tr>
<tr>
<td>P1481 </td>
<td>S2 Exhaust flap short circuit </td>
<td></td></tr>
<tr>
<td>P1490 </td>
<td>S2 VVC brown increment solenoid open circuit (Black Yellow) </td>
<td></td></tr>
<tr>
<td>P1491 </td>
<td>S2 VVC brown increment solenoid short circuit (Black Yellow) </td>
<td></td></tr>
<tr>
<td>P1492 </td>
<td>S2 VVC blue decrement solenoid open circuit (Black Brown) </td>
<td></td></tr>
<tr>
<td>P1493 </td>
<td>S2 VVC blue decrement solenoid Short circuit (Black Brown) </td>
<td></td></tr>
<tr>
<td>P1494 </td>
<td>S2 VVC black oil temp sensor LOW open circuit (Green Orange + Blue) </td>
<td></td></tr>
<tr>
<td>P1495 </td>
<td>S2 VVC black oil temp sensor HIGH short circuit (Green Orange + Blue) </td>
<td></td></tr></table></div>

<h2><span class="mw-headline" id="VVC_Timing_Information">VVC Timing Information</span></h2>

<p>Timing of VVC, text by Dave Andrews (DVA Power), Pictures and additional text by Rob Clarke</p>
<p>Ok...first off we need a cam carrier with the inlet nearest to me so the front of the engine is on my left.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:vvcrebuild-step1.jpg" ><img src="vvcrebuild-step1.jpg" width="220" />
</a></p>
<p>Fitting the front VVC mechanism to the cam carrier, at the moment this is just held on with two bolt so it doesn’t fall off and fall apart.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:vvcrebuild-step2.jpg" ><img src="vvcrebuild-step2.jpg" width="220" />
</a></p>
<p>Turn the inner rotating part of the mech. so that the toothed rack on the outer rotor moves in a clockwise direction and the slot in the rotor lines up with the slot machined in the outer support ring of the mech casing at the top centre (as viewed).</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:vvcrebuild-step3.jpg" ><img src="vvcrebuild-step3.jpg" width="220" />
</a></p>
<p>At this point the teeth on the rotor should start pretty much level with the cam ladder surface and extend down and below the surface of the rack radially, effectively from the 3 O’clock position to the 7 O’clock position as viewed from the front of the ladder. The start of the rotors toothed rack should be clearly visible through the break in the casing support ring where the synch. shaft will fit.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:vvcrebuild-step4.jpg" ><img src="vvcrebuild-step4.jpg" width="220" />
</a></p>
<p>Support the VVC mech. with your hand and remove the two bolts holding the mech. to the ladder, do not let the mech fall away or disengage from the cam. Rotate the mech. slighty anti-clockwise so that the slot which accepts the synch shaft moves upwards a little away from the ladder. Take the synch shaft and enmesh the front end (this has two tooth pinions) into the teeth on the mechs rotor. Rotate the VVC mech back into its correct position and this should bring the synch shaft down into it’s correct position nestling in its bearings. Replace the bolts holding the VVC mech. to the ladder and do them up nearly tight. Rotate the synch shaft in an anti clockwise direction until the pinion teeth meet the end of the toothed track on the VVC mech. rotor and the shaft will turn no more.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:vvcrebuild-step5.jpg" ><img src="vvcrebuild-step5.jpg" width="220" />
</a></p>
<p>At this point the slot on the rotor and the slot on the mech. casting at the top centre should be pretty much in line.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:vvcrebuild-step6.jpg" ><img src="vvcrebuild-step6.jpg" width="220" />
</a></p>
<p>Take the rear VVC mech/cam and rotate the inner rotor in an anti-clockwise direction until the slot in the rotor and the slot in the mech housing at the top are in line, when this is done the teeth on the rotor should occupy the 3 O’clock to 7 O’clock positions as with the front mech and it should be a mirror image of the front mech with the end of the teetyh track clearly visible at the point where the synch shaft will fit.</p>
<p>Now fit the VVC rear mech/cam to the ladder while fitting the synch shaft rear end to the teeth track on the mech, There is a bit of a knack to making sure the synch shaft enmeshes in the correct tooth on the inner rotor. Make sure the cam is sitting correctly in its bearings and the VVC mech. is aligned with its bolt holes and then fix the rear VVC mech to the ladder with two bolts and ensure these are nearly tight as with the front mech. Rotate the synch shaft in an anti-clockwise direction until it will not turn any more and ensure that the teeth on each pinion at either end have reached the last tooth on the VVC mech rotor, if they are not exactly in synch then undo the bolts on the rear mech, rotate this anti clockwise a little until the synch shaft can be disengaged from the toothed track and re-synch the track and pinion, then re-seat the mech and do the bolts up. Continue until the two mechs are in synch. with one another and effectively mirror images and ensure the synch shaft is rotated fully anti-clockwise until it locks against the ends of the toothed tracks.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:vvcrebuild-step7.jpg" ><img src="vvcrebuild-step7.jpg" width="220" />
</a></p>
<p>If the cams are installed correctly the lobs will be in these positions </p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:vvcrebuild-step8.jpg" ><img src="vvcrebuild-step8.jpg" width="220" />
</a></p>
<p>Once the cam ladder is on the head you can check the timing marks, with everything lined up you should be able to see a semi-circle in the 6mm hole in the cam carrier like this </p>
<p>Front cam -</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:Headbuild-vvctimingrear.jpg" ><img src="Headbuild-vvctimingrear.jpg" width="220" />
</a></p>
<p>Rear cam –</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:Headbuild-vvctimingfront.jpg" ><img src="Headbuild-vvctimingfront.jpg" width="220" />
</a> </p>
<h2><span class="mw-headline" id="VVC_Mechanisms_Strip_down">VVC Mechanisms Strip down</span></h2>

<p>First off here are most of the bits inside of the VVC mechanism housing, I say most because there is a bearing pressed into the housing that doesn’t come out. In this picture you can see the cam, two “plates” with caged bearings and 4 “slidey things” and finally an inner sleeve for want a better word which has the teeth for the VVC sync shaft.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:Vvc-interntals.jpg" ><img src="Vvc-interntals.jpg" width="220" />
</a></p>
<p>At this point I have to point out that it was very important to mark every item if disassembling as the “slidey” bits do wear a little and if not fitted into the same place on reassembly they don’t slide properly. Same goes for the plates.</p>
<p>With all the bits removed from the mechanism I gave it a bit of a clean out then applied some fresh engine oil into it. Added the outer sleeve to the housing ready for the first plate.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:VVC-strippedmech-Step1.jpg" ><img src="VVC-strippedmech-Step1.jpg" width="220" />
</a></p>
<p>First insert the first plate, this goes in with the lip at the bottom</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:VVC-strippedmech-Step2.jpg" ><img src="VVC-strippedmech-Step2.jpg" width="220" />
</a></p>
<p>Insert the bearing cage, this sits around the plate. Add the two slidey blocks, making sure they are in the right place. They should fit “nice” i.e you don’t need to force them in. One of the slidey blocks sits on one of the pins that is in the bottom of the housing</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:VVC-strippedmech-Step3.jpg" ><img src="VVC-strippedmech-Step3.jpg" width="220" />
</a></p>
<p>Taking the next plate (lip on top this time) and fitting the bearing cage before fitting both into the housing, noting that the large hole allows access to the slidey block on the lower plate that didn’t have the pin in. (this will be a locating hole for one of the cam pins) One of slidey blocks goes over the second pin that is fixed to the bottom of the housing. The last slidey block is ready to take the second pin from the cam.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:VVC-strippedmech-Step4.jpg" ><img src="VVC-strippedmech-Step4.jpg" width="220" />
</a></p>
<p>Now the two pins on the cam locate into the to slidey blocks (one on the lower plate and one on the upper one). Its now ready for installation</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:VVC-strippedmech-Step5.jpg" ><img src="VVC-strippedmech-Step5.jpg" width="220" />
</a></p>
<h2><span class="mw-headline" id="VVC_Hydraulic_Control_Unit">VVC Hydraulic Control Unit</span></h2>

<p>HCU is oil pressure controlled, the piston operates the VVC sync shaft which inturn changes the cam timing.</p>
<p>In a few bits</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:HCU-Exploded.jpg" ><img src="HCU-Exploded.jpg" width="220" />
</a></p>
<p>VVC gaskets, this is available from Rimmer Bros or PTP</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:VVCgaskets.jpg" ><img src="VVCgaskets.jpg" width="220" />
</a></p>
<p>HCU piston assembled</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:VVC-HCU.jpg" ><img src="VVC-HCU.jpg" width="220" />
</a></p>
<p>The heart of the control mechanism of the HCU is the “spool valve”, this looks like a pipe which is full of holes. </p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:VVC-internal.jpg" ><img src="VVC-internal.jpg" width="220" />
</a></p>

<h2><span class="mw-headline" id="VVC_and_Emerald_ECU">VVC and Emerald ECU</span></h2>
<p>Emerald K3 ECU needs to be firmware revision 1.13 to filter out Cam Position Sensor noise that can cause VVC cam control issues at high RPM.</p>
<h2><span class="mw-headline" id="External_Resources">External Resources</span></h2>
<p>VVC Sensors * <a class="external free" href="http://homepage.swissonline.ch/TomsSeven/Navigation2/Map.htm" rel="nofollow">http://homepage.swissonline.ch/TomsSeven/Navigation2/Map.htm</a></p>
<p>VVC Sensors * <a class="external free" href="http://www.mgfcar.de/sensor/index.htm" rel="nofollow">http://www.mgfcar.de/sensor/index.htm</a></p>
<p>VVC Mechanism Assembly * <a class="external free" href="http://www.davebence.co.uk/mods_10.htm" rel="nofollow">http://www.davebence.co.uk/mods_10.htm</a></p>
<p>VVC Timing * <a class="external free" href="http://forums.mg-rover.org/showthread.php?p=1940938" rel="nofollow">http://forums.mg-rover.org/showthread.php?p=1940938</a></p>

<p>


</p>

<h2><span class="mw-headline" id="Fitting_an_EU2_VVC_Engine_to_a_non-VVC_S1_Elise">Fitting an EU2 VVC Engine to a non-VVC S1 Elise</span></h2>
<p>Lotus didnt make any changes to the car&#39;s wiring loom between their standard 120bhp S1 and the 143bhp VVC powered 111S. This means that you can easily fit an EU2 VVC K-Series engine (eg. from an MGF) and run it using the Rover MEMS J2 ECU. All you&#39;ll need is a donor VVC engine, engine loom and a matching Lucas 5AS module (sits behind the Stack dashboard) to make the swap.</p>