<h3><span class="mw-headline" id="S1_Seized_Bonnet_Hinge_repair">S1 Seized Bonnet Hinge repair</span></h3>

<p>Many of you S1 owners will know that a common problem is that the front bonnet hinge is prone to corrosion and can sieze.  This will mean that you cannot open the bonnet fully and this in turn puts pressure on the clam where the bonnet hinge is attached to it. </p>
<p>It is riveted to the clam by two rivets but it is easy to sort. The steps below show how you can remove it, clean it, and then re-fit to fix the problem.</p>

<ol>
<li>Open bonnet to release the catch side of it.</li>
<li>Unbolt the 3 bolts that hold the bonnet to the hinge, these may be corroded so maybe worth spraying some penetrating oil on first.  If they break then the stub can be removed once bonnet is off.</li>
<li>Lift bonnet away from clam.</li>
<li>Drill out the two rivets carefully that hold the hinge in place. (Take note of how hinge is attached to clam as it will be easier when re-fitting)</li>
<li>Remove hinge</li>
<li>Undo two side bolts that hold the two hinge pieces together (maybe spray some penetrating oil on and leave for a bit if a bit stiff\rusty), there will be two washers either side.</li>
<li>Once apart you can clean up both hinge parts, paint if you want and re-grease before fitting all back together. You could use stainless bolts to join the two hinge bits together. Make sure it moves nice and smoothly.</li>
<li>Then rivet the hinge back onto the clam (can get a simple rivet kit from any diy store)</li>
<li>Bolt bonnet to hinge and align as required.</li>
<li>Check closes fine and catch releases fine.</li>
<li>ALL DONE!!</li>
</ol>

<p>Took me no more than an hour to sort.</p>

<p>edit:</p>
<p>I had the hinge seize to the point where the rivets themselves snapped and the whole hinge came away.  You can see the rivet head next to where my yellow stripe is coming away from where the bonnet rubbed against it.  The rivet heads in the clam just popped off with a bit of applied force whereas the remainder of the rivets in the mech itself had to be drilled out.  Think I used a 6mm drill bit.   I used M5 nut+bolts and a bit of EvoStick Flexible adhesive to reattach the hinge mechanism.  I also took the hinge mech apart and gave it a good clean/greasing.</p>

<p><a class="image" href="http://wiki.seloc.org/a/Image:http://gallery.seloc.org/albums/userpics/28610/DSC03761.JPG" ><img src="http://gallery.seloc.org/albums/userpics/28610/DSC03761.JPG" width="220" />
</a> </p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:http://gallery.seloc.org/albums/userpics/28610/DSC03762.JPG" ><img src="http://gallery.seloc.org/albums/userpics/28610/DSC03762.JPG" width="220" />
</a> </p>
<p>
</p>