<h2><span class="mw-headline" id="Peening_of_fire_ring_to_eradicate_porosity">Peening of fire ring to eradicate porosity</span></h2>


<p>By Dave Andrews</p>

<p>I have been asked a number of times to explain the process I use to eradicate porosity on the K series head surface.</p>

<p>The area of the fire ring and immediate surroundings are peened downwards to compress any voids or porosity before the head is skimmed, this is akin to a cold forging process. When the head is skimmed the material where the fire ring sits is then consolidated and free of any voids or porosity, the area beneath the surface is also homogenised and should be blemish free.</p>

<p>This reduces the possibility of a fire ring breach due to porosity to virtually zero.</p>

<p>I have published below some photos, firstly the tool I use to peen the surface and also some pictures of a cylinder head surface that has been peened.</p>



<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Peen_Tool.jpg" ><img src="Peen_Tool.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>The tool is an old exhaust valve with the head reduced and domed and the tip reduced to 4mm with the end a large radius dome shape. An old guide is tapped on to it to assist with holding the tool.</p>
                    </div>
                </div>
                <div></div><div></div>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Peen_1.jpg" ><img src="Peen_1.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                <div></div><div></div>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Peen_2.jpg" ><img src="Peen_2.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                <div></div><div></div>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Peen_3.jpg" ><img src="Peen_3.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                <div></div><div></div>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Peen_4.jpg" ><img src="Peen_4.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                <div></div>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Porosity.jpg" ><img src="Porosity.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Here is a photograph of the surface of a head that has been peened and skimmed which shows very clearly the type of porosity that can occur on the head surface. It illustrates quite clearly (by dint of some crudely drawn lines) the fire ring area that has been peened and is as a result completely free of any such porosity and voids even though the adjacent areas both inside and outside of the fire ring are badly peppered.</p>
                    </div>
                </div>
                </p>
<h2><span class="mw-headline" id="Forum_thread">Forum thread</span></h2>
<p><a class="external free" href="http://forums.seloc.org/viewthread.php?tid=237333" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=237333</a></p>

<p>


</p>