
<p><b>This is a guide to fitting Schroth Profi ASM II wrap around harnesses to an S2 using the Sector 111 fixing kit which retains your seatbelts.</b></p>
<p>Tools required:</p>

<ul>
<li>6mm Allen key/socket.</li>
</ul>


<ul>
<li>5mm Allen key/socket.</li>
</ul>


<ul>
<li>Ratchet and long extension.</li>
</ul>


<ul>
<li>U-joint flexible adaptor for sockets,optional but helpful.</li>
</ul>


<ul>
<li>13mm spanner/socket.</li>
</ul>


<ul>
<li>2x17mm spanners.</li>
</ul>

<p>This guide is designed to supplement the Sector 111 instructions.</p>
<pre>http://www.msar-safety.com/download/harnesskit.pdf
</pre>

<p>1)Firstly,remove the drivers seat by unbolting the rear two 6mm allen bolts and then the front two 8mm(13mm spanner size)bolts,sliding the seat backwards and forwards makes this easier.Remember to pick up the two small metal &#39;tabs&#39; at the rear of the seat runners and remember their orientation(they stop the seat going back too far).
You will also need to unbolt the seatbelt from the seat using the 17mm spanner(later cars have two wires attached under the seat for the seatbelt warning light,simply pull apart the connectors and label them).Remove the spacer from the seatbelt mount as this is not used again. 
</p>
<ul>
<li>Protecting the centre console and door sill with blankets also stops you scratching/marking them when the seat comes out /voe</li>
</ul>


<p>2)Correctly orientate your harnesses.The release buckles sit on both &#39;inboard&#39; sides(closest to centre console)and the shoulder belts <b>MUST</b> have the yellow tags on the &#39;inboard&#39; sides also.</p>
<p><b>THIS IS VERY IMPORTANT!!</b>  *Note* the shoulder belts are left and right handed,get them the right way around!</p>

<ul>
<li>Note the newer ASMs are now fully tested and can be used with the yellow tabs either way around,check on your instructions!</li>
</ul>


<p>3)Next,lay the drivers seat on a blanket on the floor with the seatbelt buckle facing you(&#39;inboard&#39; side).Undo the 6mm allen bolt and remove.Pop out the spacer,buckle and spring.Loosen the three 5mm allen bolts around the seat bracket.</p>
<p>Now comes the fiddly bit.Open the Sector 111 fixing kit and identify the flat washers.Between the seat bracket and seat you will need firstly,a flat washer,then the Schroth lapbelt bracket(with lapbelt attached,obviously!),next the Tapered spacer(faces outwards),and finally the seatbelt buckle.Align them all with a screwdriver through the hole,then push the allen bolt back in and tighten up making <b>VERY</b> sure its not cross-threaded first.</p>
<p>Tighten the three allen bolts back up.</p>
<p>Ensure the seatbelt buckle can still move albeit with a little resistance.Spin the seat over and loosen the three allen bolts on that side.Check all other fixings are tight!</p>


<p>4)Now the seat needs to go back in,but before you locate it,you need to attach the seatbelt and lapbelt.</p>
<p>So,again you should have a flat washer and lapbelt bracket but this time there is the flat spacer from the kit that goes in,followed by the seatbelt mount(ensure its the right way around),again locate all together centrally and bolt to the seat using the original bolt.</p>
<p>Re-tighten three 5mm allen bolts.</p>

<p>5)Re-fit the seat by reversing step 1.Dont forget the metal tabs at the ends of the seat runners.Check all fixings are tight!</p>

<p>6)Now the passenger side seat needs to come out,its a little more fiddly than the drivers side as you can&#39;t move it back or forth but step 1 is repeated again.</p>

<p>7)Repeat the steps in 3 for fitting the inboard lapbelt.Next the outboard mount needs fixing,this is the threaded stud from the kit.</p>
<p>Wind it in to the seat thread using the shorter threaded end.</p>
<p>Next wind the two nuts down the longer thread and &#39;lock&#39; them together using two spanners in opposing directions,this allows you to then tighten the stud into the seat using the locked nuts.</p>
<p>Unlock the nuts using your spanners and wind both off the stud.</p>

<p>8)Again,the seat needs to go in and again,you need to mount the seatbelt and lapbelt on it before you locate it(lean the seat at an angle to help with this).</p>
<p>So,on the stud goes firstly, the lapbelt bracket,then the &#39;Top hat&#39; spacer from the kit(again,faces outwards),next the seatbelt mount(check its the right way around!)and finally the flat washer,spring washer and 17mm nut from the kit goes on and is done up tight.</p>
<p>Again,the seatbelt buckle should be able to move with a little resistance. </p>

<p>9)Re-fit the passenger seat.Check all fixings are tight!</p>

<p>10)Wrap the shoulder straps around the harness bar one by one making sure they are the correct hand and you end up with the yellow tabs on the inboard sides.</p>
<p>You can do this with the seats in place by wrapping each shoulder strap in the space in between each seat,sliding them along and pulling through the harness hole in each seat. </p>
<p><b>Alternatively you can fit the shoulder straps when the seats are out which some will find easier</b>.</p>
<p><b>IMPORTANT!</b>Ensure you wrap each harness through the buckle in the correct order,see guide:</p>
<p><a class="external free" href="http://gallery.seloc.org/albums/userpics/34810/picture%7E0.jpg" rel="nofollow">http://gallery.seloc.org/albums/userpics/34810/picture%7E0.jpg</a> </p>
<p><a class="external free" href="http://gallery.seloc.org/albums/userpics/34810/installation.JPG" rel="nofollow">http://gallery.seloc.org/albums/userpics/34810/installation.JPG</a> </p>
<p><a class="external free" href="http://videos.sector111.com/video2.php" rel="nofollow">http://videos.sector111.com/video2.php</a></p>

<p>Adjust the length of each one to suit by doing a test fit of connecting all the harness belts and tightening them up(with you in the seat natch!)</p>

<p>11)Have a cup of tea and a choccy biccy.</p>

<p>12)Sit back and admire handywork. :)</p>
<p>Big thanks to Jen @ MSAR for the links and advise!</p>
<h2><span class="mw-headline" id="Links">Links</span></h2>

<ul>
<li><a class="external free" href="http://www.msar-safety.com/detail.asp?p=111&#38;o=LOTUS_II-FE_-_4pt_asm_%28Push_Button%29" rel="nofollow">http://www.msar-safety.com/detail.asp?p=111&#38;o=LOTUS_II-FE_-_4pt_asm_%28Push_Button%29</a></li>
<li><a class="external free" href="http://forums.seloc.org/viewthread.php?tid=242208" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=242208</a></li>
</ul>

<p>

</p>