<h3><span class="mw-headline" id="Discs_.26_Pads">Discs &#38; Pads</span></h3>
<p>A familiar topic!</p>

<p>&#60;&#60;MORE TO BE ADDED SOON&#62;&#62;


After looking at the market options for replacement items, there are several price points that a buyer will fall into.

1.Cheapest option

2.Better than OEM

3.Light track work / fast road

4.Heavy track work

5.Crazy Honda/Audi power



&#60;&#60;MORE TO BE ADDED SOON&#62;&#62;








[[Category:Brakes]]
[[Category:Lotus Elise]]
[[Category:S1]]
[[Category:S2]]
[[Category:VX220]]</p>