
<p><b>S1 Side Window Adjustment</b></p>
<p>Had a go at adjusting my side window today, as both sides have been leaking water a little - not a massive problem as I rarely use the car in the rain, but enough to annoy me occasionally, particularly when I wash the car.
The driver side window also wasn&#39;t particularly smooth when winding down, so I wanted to investigate this at the same time.</p>
<p>Being a mechanical pleb with just this diagram to work from I decided to create my own photo guide.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:S1windowadj.JPG" ><img src="S1windowadj.JPG" width="220" />
</a></p>
<p>So I decided to have a go at creating my own photo guide. Apologies in advance for some of the photos - it was a little tricky holding 2kg of DSLR in one hand, a spanner in the other, the inspection light between my elbow and a knee and trying to line the shot up blind.</p>
<p>First things first get yourself set up in the car. I wanted to keep the roof fitted to the car to check the windows alignment as I went along, so hung my inspection light over the roof bar, and kept my laptop in the car for reference.</p>
<p>You&#39;ll also need the following tools:</p>
- 2.5 and 5mm allen keys

- 8mm and 10mm spanners

- A decent sized Philips screwdriver


<p><a class="image" href="http://wiki.seloc.org/a/image:Elise-Side-Window-1-1024.jpg" ><img src="Elise-Side-Window-1-1024.jpg" width="220" />
</a></p>
<p>First job is to remove the window winder. This is simply held on by the 5mm hex bolt in the centre. Put this to one side as you&#39;ll want it in a moment.</p>
<p><a class="image" href="http://wiki.seloc.org/a/image:Elise-Side-Window-2-1024.jpg" ><img src="Elise-Side-Window-2-1024.jpg" width="220" />
</a></p>
<p>Next up take the 2.5mm allen key and undo the 7 bolts holding in the door card. With these removed the door card should be easy to remove by pulling it down slightly to clear the top section from the door pull area, then towards you. Take care in case someone has stuck the inner door liner to the back of the door card.</p>
<p><a class="image" href="http://wiki.seloc.org/a/image:Elise-Side-Window-3-1024.jpg" ><img src="Elise-Side-Window-3-1024.jpg" width="220" />
</a></p>
<p>You now have access to the window mechanism inside the door.
The first thing I would be checking at this point is the bolts behind the window winder, as in my car these were both a little loose. Tighten them up with the 10mm spanner.</p>
<p><a class="image" href="http://wiki.seloc.org/a/image:Elise-Side-Window-6-1024.jpg" ><img src="Elise-Side-Window-6-1024.jpg" width="220" />
</a></p>
<p>Now you&#39;ll most likely want to refit the window winder as you&#39;ll be moving the window up and down a few times.</p>
<p>The first step I&#39;d take is to locate the window stops and set them to the maximum height - this allows for the maximum amount of adjustment in other areas and then we can set them later.
These brackets control the maximum height the window can go to, and on mine were set above the height the window could wind to - meaning if you grabbed the top of the glass when the window was closed you could pull it up another 5mm or so.</p>
<p>Wind the window into the closed position, so that the glass isn&#39;t blocking the brackets.</p>
<p>The front bracket will be hidden behind the one of the window arms.</p>
<p><a class="image" href="http://wiki.seloc.org/a/image:Elise-Side-Window-10-1024.jpg" ><img src="Elise-Side-Window-10-1024.jpg" width="220" />
</a></p>
<p>The other is a little harder to get to, hidden back towards the rear of the door and above the line of the door skin, so you&#39;ll likely be working more or less blind here.</p>
<p><a class="image" href="http://wiki.seloc.org/a/image:Elise-Side-Window-11-1024.jpg" ><img src="Elise-Side-Window-11-1024.jpg" width="220" />
</a></p>
<p>Slacken off, but don&#39;t remove, all 4 bolts, and push the brackets upwards.</p>
<p>Next wind the window down, bringing round the toothed arc that operates the window mechanism.
This has a small stop on it, which sets how far the mechanism can be turned. This has an off-centre bolt on the back which can be used to adjust its positioning, allowing for fine adjustment of how far the window can be closed.</p>
<p><a class="image" href="http://wiki.seloc.org/a/image:Elise-Side-Window-8-1024.jpg" ><img src="Elise-Side-Window-8-1024.jpg" width="220" />
</a></p>
<p>This contacts against the inner metal beam when the window is closed, stopping it being raised any higher.</p>
<p><a class="image" href="http://wiki.seloc.org/a/image:Elise-Side-Window-7-1024.jpg" ><img src="Elise-Side-Window-7-1024.jpg" width="220" />
</a></p>
<p>You&#39;ll want to adjust this until you have the height for the window set to the level it sits nicely against the edge of the roof along the cant rail, and meets the seals along the A and B pillars with as little in the way of gaps as possible.</p>
<p>If you find the window is sitting high one end and low the other you can adjust the angle of the window slightly with the bolts marked on the diagram below - sorry I didn&#39;t take a good picture of these ones.</p>
<p><a class="image" href="http://wiki.seloc.org/a/image:Elise-Side-Window-3-marked-1024.jpg" ><img src="Elise-Side-Window-3-marked-1024.jpg" width="220" />
</a></p>
<p>These can be loosened off with the 8mm spanner to adjust - it seems as if one has to be set high and the other low, if the front is high and the rear low the window will be angled back slightly, and visa versa. Adjusting these so the front was in the down position and the rear was up solved the window winder smoothness issue I had and gave the best fit against the roof.</p>
<p>At this point I then pulled the window stops (remember we slackened them off earlier?) down to the height of the window and tightened them up - this prevents the window from being pulled upwards when it is already closed.</p>
<p>For reference I also located the adjustments for the lean of the window and tried making a slight adjustment as my window seemed to move outwards a little when you shut the door, as if it was resting leaning a little too far in.</p>
<p>These are both on the underside of the door and use the Philips screwdriver - mine were a little corroded but giving them a quick soak in WD40 and using a fairly thick screwdriver made easy work of them - careful using smaller screwdrivers, you could easily round the heads as they could well be quite stiff.</p>
<p>The first adjustment is at the front of the door, towards the hinge. These each have a bracket attached that runs either side of the glass and control the angle at which it leans in.</p>
<p><a class="image" href="http://wiki.seloc.org/a/image:Elise-Side-Window-5-1024.jpg" ><img src="Elise-Side-Window-5-1024.jpg" width="220" />
</a></p>
<p>The second adjustment is at the other end of the door. These both attach to a single bracket that is located on the outside of the glass, towards the outer door skin. This controls the lean if moved side to side and the pinch if moved backwards and forwards.</p>
<p><a class="image" href="http://wiki.seloc.org/a/image:Elise-Side-Window-4-1024.jpg" ><img src="Elise-Side-Window-4-1024.jpg" width="220" />
</a></p>
<p>I found both these quite hard to change as you have to push on the bolt to hold it in position at the same time as tightening it, but I seem to have taken a little bit of lean out of the window so it moves less now - might help if you are suffering from rattling windows?</p>
<p>Not a comprehensive guide by any means, but hopefully might at least help people visualise where the various adjusters are - any corrections or questions let me know and I&#39;ll do my best to update this or answer them.</p>