
<p>
There are a couple of reasons why your bonnet won&#39;t open:</p>
<p>a) Cable has snapped (not common)</p>
<p>b) The bonnet catch pin is misaligned</p>
<p>c) The bonnet hinge is misaligned/loose</p>

<p>The procedure to try first is to have a friend pull on the bonnet release catch in the driver&#39;s footwell whilst wiggling the lid in different directions. Different people have had success by pulling in different directions, so try them all.  Some folk adocate pulling quite hard, but it&#39;s up to you as to how much force you think the fibreglass can take.</p>
<p>If that fails, it&#39;s time to get a little more involved.</p>
<p>1)  Jack up the driver&#39;s side front wheel.</p>
<p>2)  Remove wheel  (asssuming of course you have learnt to NOT keep the locking nut key under the bonnet.....)</p>
<p>3)  Undo the 5 or so screws that hold the wheelarch liner on.</p>
<p>4)  Bend and prise the wheelarch liner out/off the car. Don&#39;t worry it&#39;s very flexible</p>

<p>You should now be greeted with this sight (photo taken with bonnet open, obviously).  When the bonnet is down, the bonnet catch spring would be to the left of the grey wiggly rubber thingy that&#39;s just above the white plastic bottle in the photo.  Mine is attached to the bonnet so it&#39;s not in the photo.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:http://gallery.seloc.org/albums/userpics/28610/DSC03757.JPG" ><img src="http://gallery.seloc.org/albums/userpics/28610/DSC03757.JPG" width="220" />
</a></p>

<p>you need to reach up there and try some of the following:</p>
<p>a)  release/manipulate the catch mechanism by hand.  Here are some photos of the mechanism so you can understand what you are trying to do:</p>
<p>The mechanism:</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:http://gallery.seloc.org/albums/userpics/28610/DSC03754.JPG" ><img src="http://gallery.seloc.org/albums/userpics/28610/DSC03754.JPG" width="220" />
</a> </p>
<p>I&#39;m pointing at the 90 degree curved metal plate thingy.  The release cable is attached to this.  Pull it, or squeeze it to release the mechanism.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:http://gallery.seloc.org/albums/userpics/28610/DSC03758.JPG" ><img src="http://gallery.seloc.org/albums/userpics/28610/DSC03758.JPG" width="220" />
</a> </p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:http://gallery.seloc.org/albums/userpics/28610/DSC03759.JPG" ><img src="http://gallery.seloc.org/albums/userpics/28610/DSC03759.JPG" width="220" />
</a></p>


<p>Hopefully this will work.  Apply pressure to the bonnet with your elbow or use a friend.  If this fails, then it is likely that the bonnet or bonnet catch pin are misaligned.  Keep reading...  ;-)</p>
<p>Here is the bonnet pin after I had got the bonnet open and detached it from the bonnet.  </p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:http://gallery.seloc.org/albums/userpics/28610/DSC03764.JPG" ><img src="http://gallery.seloc.org/albums/userpics/28610/DSC03764.JPG" width="220" />
</a> </p>
<p>See the hexagonal bit my fingers are touching?  Get a pair of pliers (I actually used wire cutters for a better grip) and undo this while it is in place.  You will end up with the pin still in the mech, but the bonnet open.  Guaranteed to work as long as you can get something that will turn it!!</p>
<p>RE-ALIGNMENT</p>
<p>Once you have the method above working (removing the pin), you can attempt alignment. </p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:http://gallery.seloc.org/albums/userpics/28610/DSC03765.JPG" ><img src="http://gallery.seloc.org/albums/userpics/28610/DSC03765.JPG" width="220" />
</a> </p>

<p>I put the detached pin in the mech and closed to bonnet to gauge where it should go.  There is room for small adjustments when screwing the pin back in.  Experiment.
If it gets caught, unscrew the pin and start again.</p>
<p>It&#39;s a good time to check that the mech actually releases the pin properly when the cable is pulled.  I checked by kneeling by the driver&#39;s footwell, pulling the handle and watching the pin fly up over the open bonnetlid and land on the bonnet!  Luckily no damage to paintwork!  Idiot!</p>
<p>You can adjust the force or &#39;push&#39; of the spring by getting a flat screwdriver, holding the hexagonal nut and turning the pin.  I adjusted mine so that it wasn&#39;t quite so squashed when the bonnet was closed.  </p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:http://gallery.seloc.org/albums/userpics/28610/DSC03766.JPG" ><img src="http://gallery.seloc.org/albums/userpics/28610/DSC03766.JPG" width="220" />
</a> </p>
<p>Edit by Unclefester 21 May 2011</p>
<p>After making the mistake of not adjusting the catch as described here, and tightening it in what I THOUGHT (wrongly) was the right position, I turned my lid into a bank vault for which I didn&#39;t have the codes. In my efforts to re-open it, I realised that there is another method.</p>
<p>If you look at the gap at the rear mid point of the lid, you will see that with a torch, you can actually see the heads of the two allen head bolts in the female part of the catch, as shown here...</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:http://gallery.seloc.org/albums/userpics/28610/DSC03754.JPG" ><img src="http://gallery.seloc.org/albums/userpics/28610/DSC03754.JPG" width="220" />
</a> </p>
<p>I found that it is possible to undo these with the lid closed with an allen head tip, on the UJ of a small ratchet with an extension bar. Insert the allen tip carefully into the allen bolt hole. Make sure it&#39;s fully in the hole, and you should find you can undo the bolt quite easily. It&#39;s easier to see the bolts if you pull the plastic forward edge of the rain channell back a bit...it&#39;s quite flexible.</p>
<p>If you start with the right side bolt, with luck the lid will pop part open, which then makes access to the left bolt head easier....it&#39;s offset and access isn&#39;t a simple otherwise.</p>
<p>I found the wiper needed parking in the opposite position for access to each bolt, done on the ignition key.</p>
<p>On loosening the second bolt even slightly, the catch has the chance to realign itself, and  the lid pops open immediately.</p>


<p>Bonnet Hinge - see Techwiki article about Bonnet hinges seizing.</p>