
<p>This is the procedure for changing rear pads on an S1 Elise. (Its the same caliper on the K series S2 models and most likely still in use on the Tonka Toy engined cars)</p>

<p>1. Jack up the car and remove the rear wheel. Use axle stands.</p>
<p>I&#39;m not much for Health and Safety but I would NEVER work on a car with only a jack supporting it. As a minimum, place the removed wheel under the car to prevent the car hitting the ground/your head should the jack slip </p>
<p>2. Release the handbrake</p>
<p>3. Remove the pad retaining pin. You willl need a thin screwdiver/bar or preferably a pin punch to knock out the retaining pin. Insert the punch in the small hole in rear of caliper and knock the retaining pin towards the outside. The hole is much smaller at the back than the one you see at the front</p>


<ul>
<li>
<ul>
<li>
<ul>
<li>BE CAREFUL YOU DO NOT LOSE THE SMALL ANTI-RATTLE SPRING (Bendy wire bit straddling disc). It may ping out as you knock the pin past it</li>
</ul></li>
</ul></li>
</ul>


<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:Rear_Brake_Pin_Pushed_Out.JPG" title="Retaining Pin"><img src="Rear_Brake_Pin_Pushed_Out.JPG" alt="Retaining Pin" title="Retaining Pin" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Retaining Pin</div></div>
</div>

<p>4. With the pin removed, knock the outer pad inward to release.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:Outside_Pad_Removal.JPG" title="Outer Pad Removal"><img src="Outside_Pad_Removal.JPG" alt="Outer Pad Removal" title="Outer Pad Removal" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Outer Pad Removal</div></div>
</div>

<p>5. To get to the rear pad you require to remove the disc. Its not held on by anything other than the road wheel clamping it against the hub. The disc is likely to be stuck to the hub by road gunk/corrosion. Wire brush the end of the hub where it sticks through the disc. </p>
<p>If it still will not move, use a large piece of wood, a soft faced hammer or a metal hammer with a wood block between hammer and disc. </p>
<p>From the rear. Strike the top and bottom of the disc alternate blows (as you rotate the disc) and the disc will start moving off the hub. </p>


<ul>
<li>
<ul>
<li>
<ul>
<li>DO NOT HIT THE DISC DIRECTLY WITH A METAL HAMMER. Brake discs are brittle and will crack.</li>
</ul></li>
</ul></li>
</ul>


<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:Remove_Disc.JPG" title="Removing the Disc"><img src="Remove_Disc.JPG" alt="Removing the Disc" title="Removing the Disc" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Removing the Disc</div></div>
</div>

<p>6. Remove the rear pad. Its not held in with anything once the disc is removed</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:Removing_Rear_Pad.JPG" title="Removing the Rear Pad"><img src="Removing_Rear_Pad.JPG" alt="Removing the Rear Pad" title="Removing the Rear Pad" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Removing the Rear Pad</div></div>
</div>

<p>7. Use a set of thin nosed pliers to push in (hard) while rotating clockwise, to screw the caliper piston back in. </p>
<p>Straight ended pliers will allow you to push with your body weight. </p>


<ul>
<li>
<ul>
<li>
<ul>
<li>BE CAREFUL THAT YOU DO NOT SLIP OFF THE PISTON WITH THE PLIERS AND PUT A HOLE IN THE RUBBER DUST GAITOR--- EASILY DONE</li>
</ul></li>
</ul></li>
</ul>


<p>(Caliper windback tools are available if you don&#39;t fancy using pliers)</p>
<p>If you are fitting new pads then release the cap from the fluid reservoir and use a turkey baster to suck out some fluid. </p>


<ul>
<li>
<ul>
<li>
<ul>
<li>
<ul>
<li>DO NOT TAKE OUT SO MUCH THAT AIR GETS INTO THE SYSTEM VIA THE RESERVIOR PIPEWORK</li>
</ul></li>
</ul></li>
</ul></li>
</ul>


<p>Screw in the caliper/check level/remove fluid if needed /screw in some more/repeat if in doubt</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:Screw_Back_Piston.JPG" title="Screw Back Piston"><img src="Screw_Back_Piston.JPG" alt="Screw Back Piston" title="Screw Back Piston" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Screw Back Piston</div></div>
</div>

<p>8. Apply a thin smear of copper grease to the back of the pads. Look at the contact points on the back of the pads and only apply the grease on these points</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:P1010138.JPG" title="Copper Grease Applied"><img src="P1010138.JPG" alt="Copper Grease Applied" title="Copper Grease Applied" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Copper Grease Applied</div></div>
</div>

<p>9. To aid refitting, its worth cleaning the retaiing pin with some sandpaper and greasing lightly with copper grease</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:P1010142.JPG" title="Retaining Pin"><img src="P1010142.JPG" alt="Retaining Pin" title="Retaining Pin" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Retaining Pin</div></div>
</div>
 
<p>10. Replace the rear pad.</p>
<p>11. Carefully clean the back of disc and mating surface on the hub face. Anything caught between disc and hub face will prevent the disc fromsitting square on the hub, running true and cause vibration on braking.</p>
<p>Now refit the brake disc to the </p>


<ul>
<li>
<ul>
<li>
<ul>
<li>ENSURE THE DISC IS FITTING FULLY AGAINST THE HUB AND NOT HELD OFF BY THE INNER PAD - should be OK is you&#39;ve screwed the piston right in</li>
</ul></li>
</ul></li>
</ul>


<p>12. Slip the outer pad into place.</p>
<p>Refit the retaining pin and the anti-rattle spring clip. </p>


<ul>
<li>
<ul>
<li>
<ul>
<li>MAKE SURE THE SPRING WASHER (small ring) AT THE END OF THE RETAINING PIN IS FULLY PUSHED INTO THE CALIPER TO ENSURE THE PIN IS SECURELY HELD (Shown still sticking out in this photo)</li>
</ul></li>
</ul></li>
</ul>


<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:Reassemble.JPG" title="Reassembly"><img src="Reassemble.JPG" alt="Reassembly" title="Reassembly" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Reassembly</div></div>
</div>

<p>13. Refit the road wheel</p>
<p>14. </p>


<ul>
<li>
<ul>
<li>
<ul>
<li>IMPORTANT. Before driving anywhere. Press the brake pedal a few times to take up any gap between pad and disc....or you&#39;ll get a suprise the first junction you come to - VOE :-(</li>
</ul></li>
</ul></li>
</ul>


<p>Additional Notes</p>
<p>Some brake pads are supplied with stick-on anti-squeel pads. Some folk don&#39;t fit them as it adds a small amount of spongyness to the brake feel (the pad has to compress before the pad actually moves). Personal choice. Probably important if you are racing and need 100% brake control/are a driving God.... other folk fit just happy the brakes don&#39;t squeel</p>

<p>An alternative on the method detailed above that requires a bit more work is to removing one of the rear caliper reatining bolts and tilt the caliper back on the other. If you use this method you need to apply some threadlock on the caliper bolt when you re-bolt the caliper to its mount</p>