
<p>For the most up to date details on Lotus dealers and service centres, check the <a class="external text" href="http://www.lotuscars.com/gb/dealers-and-service-centres" rel="nofollow">Lotus website</a>.</p>
<p>We also have a separate page listing independent <a href="http://wiki.seloc.org/a/Lotus_specialists" title="Lotus specialists">Lotus specialists</a>.</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#UK">UK</a>
<ul>
<li class="toclevel-2"><a href="#Authorised_Service_Centres">Authorised Service Centres</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Europe">Europe</a>
</li>
<li class="toclevel-1"><a href="#US.2FCanada">US/Canada</a>
</li>
<li class="toclevel-1"><a href="#Rest_of_World">Rest of World</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="UK">UK</span></h2>


<div style="page-break-inside: avoid;">
<table border="1" class="wikitable sortable">
<caption>Sortable table</caption>
<tr>
<th scope="col">Dealer </th>
<th scope="col">County</th>
<th class="unsortable" scope="col">Address</th>
<th class="unsortable" scope="col">Website</th>
<th class="unsortable" scope="col">Sales Contact</th>
<th class="unsortable" scope="col">Telephone</th></tr>
<tr>
<th>Bell &#38; Colvill Ltd</th>
<td>Surrey</td>
<td><a class="external text" href="http://maps.google.co.uk/maps?q=KT24+6DG" rel="nofollow">Epsom Road, West Horsley, Surrey, KT24 6DG</a></td>
<td><a class="external free" href="http://www.bellandcolvill.co.uk/lotus/" rel="nofollow">http://www.bellandcolvill.co.uk/lotus/</a></td>
<td>Jamie Matthews</td>
<td>01483 281000</td></tr>
<tr>
<th>Castle Lotus</th>
<td>Essex</td>
<td><a class="external text" href="http://maps.google.co.uk/maps?q=CM24+8GF" rel="nofollow">Units 1-3, M11 Business Link, Parsonage Farm Forest Hall Road, Stansted, CM24 8GF</a></td>
<td><a class="external free" href="http://www.castlesportscars.co.uk/" rel="nofollow">http://www.castlesportscars.co.uk/</a></td>
<td>Ben Speak</td>
<td>01279 647776</td></tr>
<tr>
<th>JCT 600 Brooklands</th>
<td>West Yorkshire</td>
<td><a class="external text" href="http://maps.google.co.uk/maps?q=LS12+6BY" rel="nofollow">102 Gelderd Road, Lower Wortley, Leeds, W. Yorks, LS12 6BY</a></td>
<td><a class="external free" href="http://www.jct600.co.uk/dealerships/lotus_leeds/" rel="nofollow">http://www.jct600.co.uk/dealerships/lotus_leeds/</a></td>
<td>Andy Byran</td>
<td>08448 447449</td></tr>
<tr>
<th>Lipscomb Lotus</th>
<td>Kent</td>
<td><a class="external text" href="http://maps.google.co.uk/maps?q=ME20+7XA" rel="nofollow">Performance House, Forstal Road, Maidstone, Kent, ME20 7XA</a></td>
<td><a class="external free" href="http://www.lipscomb.co.uk/lotus/" rel="nofollow">http://www.lipscomb.co.uk/lotus/</a></td>
<td>Paul Doyle</td>
<td>08430 224222</td></tr>
<tr>
<th>Lotus Newcastle</th>
<td>Tyne and Wear</td>
<td><a class="external text" href="http://maps.google.co.uk/maps?q=NE8+2QU" rel="nofollow">Gateshead, Ellison Road,Gateshead, NE8 2QU</a></td>
<td><a class="external free" href="http://www.lotusnewcastle.co.uk/" rel="nofollow">http://www.lotusnewcastle.co.uk/</a></td>
<td>Carl Leightley</td>
<td>0191 4607204</td></tr>
<tr>
<th>Lotus Silverstone</th>
<td>Northamptonshire</td>
<td><a class="external text" href="http://maps.google.co.uk/maps?q=NN12+8TN" rel="nofollow">Unit 41 and 42, Silverstone Circuit, Silverstone, Northamptonshire, NN12 8TN</a></td>
<td><a class="external free" href="http://www.lotussilverstone.co.uk/" rel="nofollow">http://www.lotussilverstone.co.uk/</a></td>
<td>Aimee Mitchell</td>
<td>0844 3728302</td></tr>
<tr>
<th>Military &#38; Diplomatic Sales Only</th>
<td>Sussex</td>
<td><a class="external text" href="http://maps.google.co.uk/maps?q=BN2+4JZ" rel="nofollow">Westgate Road, Brighton, BN2 4JZ</a></td>
<td><a class="external free" href="http://www.griffintaxfree.com/lotus-military-diplomatic-sales/" rel="nofollow">http://www.griffintaxfree.com/lotus-military-diplomatic-sales/</a></td>
<td />
<td>01273 574000</td></tr>
<tr>
<th>Motor Mall</th>
<td>Jersey</td>
<td><a class="external text" href="http://maps.google.co.uk/maps?q=JE1+3US" rel="nofollow">La Grande Route de St Jean, St Helier, Jersey, JE1 3US</a></td>
<td />
<td />
<td>01534 635566</td></tr>
<tr>
<th>Murray Motor Company</th>
<td>City of Edinburgh</td>
<td><a class="external text" href="http://maps.google.co.uk/maps?q=EH11+4DJ" rel="nofollow">Bankhead Drive, Sighthill Industrial Estate, Edinburgh, EH11 4DJ</a></td>
<td><a class="external free" href="http://www.murraylotus.co.uk/" rel="nofollow">http://www.murraylotus.co.uk/</a></td>
<td>Brandon Ware</td>
<td>0131 2008888</td></tr>
<tr>
<th>Stratstone Lotus Leicester</th>
<td>Leicestershire</td>
<td><a class="external text" href="http://maps.google.co.uk/maps?q=EH11+4DJ" rel="nofollow">45 Northgate Street, Leicester, LE3 5BZ</a></td>
<td><a class="external free" href="http://www.stratstone.com/lotus-cars.html" rel="nofollow">http://www.stratstone.com/lotus-cars.html</a></td>
<td>Mark Freer</td>
<td>0116 2426391</td></tr>
<tr>
<th>Stratton Motor Company</th>
<td>Norfolk</td>
<td><a class="external text" href="http://maps.google.co.uk/maps?q=NR15+2XJ" rel="nofollow">Ipswich Road, Long Stratton, Norwich, Norfolk, NR15 2XJ</a></td>
<td><a class="external free" href="http://www.strattonmotorcompany.com/lotus.php" rel="nofollow">http://www.strattonmotorcompany.com/lotus.php</a></td>
<td>Guy Munday</td>
<td>01508 530491</td></tr>
<tr>
<th>Westover Sports Cars</th>
<td>Dorset</td>
<td><a class="external text" href="http://maps.google.co.uk/maps?q=BH15+1JF" rel="nofollow">Westover House, West Quay Road, Poole, Dorset BH15 1JF</a></td>
<td><a class="external free" href="http://www.westovergroup.co.uk/lotus" rel="nofollow">http://www.westovergroup.co.uk/lotus</a></td>
<td>Chris Amey</td>
<td>01202 974 049</td></tr></table></div>

<h3><span class="mw-headline" id="Authorised_Service_Centres">Authorised Service Centres</span></h3>

<p>Authorised Service Centres are approved by Lotus to carry out servicing, warranty and repair work, but do not offer new car sales.</p>

<div style="page-break-inside: avoid;">
<table border="1" class="wikitable sortable">
<caption>Sortable table</caption>
<tr>
<th scope="col">Dealer </th>
<th scope="col">County</th>
<th class="unsortable" scope="col">Address</th>
<th class="unsortable" scope="col">Website</th>
<th class="unsortable" scope="col">Telephone</th></tr>
<tr>
<th>Allon White</th>
<td>Bedfordshire</td>
<td><a class="external text" href="http://maps.google.co.uk/maps?q=MK43+0BS" rel="nofollow">119 High Street, Cranfield, Bedfordshire, MK43 0BS</a></td>
<td><a class="external free" href="http://www.allonwhite.co.uk/" rel="nofollow">http://www.allonwhite.co.uk/</a></td>
<td>01234 750 205</td></tr>
<tr>
<th>Fibreglass Services</th>
<td>West Sussex</td>
<td><a class="external text" href="http://maps.google.co.uk/maps?q=BN18+0AS" rel="nofollow">Progress Garage, Yapton Lane, Walberton, Arundel, W. Sussex, BN18 0AS</a></td>
<td><a class="external free" href="http://www.fibreglassservices.co.uk/" rel="nofollow">http://www.fibreglassservices.co.uk/</a></td>
<td>01243 554422</td></tr>
<tr>
<th>Formula One</th>
<td>Tyne and Wear</td>
<td><a class="external text" href="http://maps.google.co.uk/maps?q=NE2+1YW" rel="nofollow">Albert Street, Newcastle upon Tyne, NE2 1YW</a></td>
<td><a class="external free" href="http://www.f1carsales.com/" rel="nofollow">http://www.f1carsales.com/</a></td>
<td>0191 2610383</td></tr>
<tr>
<th>Graypaul Birmingham</th>
<td>Worcestershire</td>
<td><a class="external text" href="http://maps.google.co.uk/maps?q=B61+0HS" rel="nofollow">492 Birmingham Road, Marlbrook, Bromsgrove, B61 0HS</a></td>
<td><a class="external free" href="http://www.sytner.co.uk/ferrari/graypaul-birmingham/home.aspx" rel="nofollow">http://www.sytner.co.uk/ferrari/graypaul-birmingham/home.aspx</a></td>
<td>0121 4453020</td></tr>
<tr>
<th>H.R.Owen Sports Cars</th>
<td>London</td>
<td><a class="external text" href="http://maps.google.co.uk/maps?q=NW10+6TD" rel="nofollow">5 - 9 School Road, North Acton, London, NW10 6TD</a></td>
<td><a class="external free" href="http://www.hrowen.co.uk/lotus" rel="nofollow">http://www.hrowen.co.uk/lotus</a></td>
<td>020 89306252</td></tr>
<tr>
<th>Kelvedon Motors</th>
<td>Lincolnshire</td>
<td><a class="external text" href="http://maps.google.co.uk/maps?q=PE11+3ND" rel="nofollow">Bourne Road, Spalding, Lincolnshire, PE11 3ND</a></td>
<td><a class="external free" href="http://www.kelsport.net/" rel="nofollow">http://www.kelsport.net/</a></td>
<td>01775 725457</td></tr>
<tr>
<th>Lancaster Amersham</th>
<td>Bucks</td>
<td><a class="external text" href="http://maps.google.co.uk/maps?q=HP7+9DD" rel="nofollow">44 London Road, Amersham, Bucks, HP7 9DD</a></td>
<td><a class="external free" href="http://www.jardinemotorsgroup.co.uk/" rel="nofollow">http://www.jardinemotorsgroup.co.uk/</a></td>
<td>01494 725 911</td></tr>
<tr>
<th>Williams Automobiles Ltd</th>
<td>South Gloucestershire</td>
<td><a class="external text" href="http://maps.google.co.uk/maps?q=BS37+6QG" rel="nofollow">Totteroak Courtyard, Horton, Bristol, BS37 6QG</a></td>
<td><a class="external free" href="http://www.williamsautomobiles.com/lotus" rel="nofollow">http://www.williamsautomobiles.com/lotus</a></td>
<td>01454 315112</td></tr></table></div>

<h2><span class="mw-headline" id="Europe">Europe</span></h2>


<div style="page-break-inside: avoid;">
<table border="1" class="wikitable sortable">
<caption>Sortable table</caption>
<tr>
<th scope="col">Dealer </th>
<th scope="col">Country</th>
<th scope="col">Type</th>
<th class="unsortable" scope="col">Address</th>
<th class="unsortable" scope="col">Website</th>
<th class="unsortable" scope="col">Telephone</th></tr>
<tr>
<th>Bulla GmbH</th>
<td>Austria</td>
<td>Dealer &#38; Service Centre</td>
<td>Laxenburgerstrasse 155-161, Vosendorf, 2331</td>
<td><a class="external free" href="http://www.auto-bulla.at/index.php?option=com_content&#38;task=view&#38;id=84&#38;Itemid=80" rel="nofollow">http://www.auto-bulla.at/index.php?option=com_content&#38;task=view&#38;id=84&#38;Itemid=80</a></td>
<td>+43 01 690 1001 </td></tr>
<tr>
<th>Frederic Koninckx Motors</th>
<td>Belgium</td>
<td>Dealer &#38; Service Centre</td>
<td>Onze Lieve Vrouwstraat 10 Berchem, Antwerpen, 2600</td>
<td><a class="external free" href="http://www.lotuscars.be/lotus/lotus.htm" rel="nofollow">http://www.lotuscars.be/lotus/lotus.htm</a></td>
<td>+32 3 226 11 40 </td></tr>
<tr>
<th>Lotus Thierry Verhiest</th>
<td>Belgium</td>
<td>Dealer &#38; Service Centre</td>
<td>Joseph Plateau Straat 5, Oostende, 8400</td>
<td><a class="external free" href="http://www.lotus-verhiest.com/" rel="nofollow">http://www.lotus-verhiest.com/</a></td>
<td>+32 59 51 81 55</td></tr>
<tr>
<th>Lotus Wallonie</th>
<td>Belgium</td>
<td>Dealer &#38; Service Centre</td>
<td>Z.I. Rue Le Marais, 15H Villers-Le-Bouillet, Liege, 4530</td>
<td><a class="external free" href="http://www.lotuswallonie.be/" rel="nofollow">http://www.lotuswallonie.be/</a></td>
<td>+32 (0)4 259 50 50</td></tr>
<tr>
<th>Mototrend Ltd.</th>
<td>Cyprus</td>
<td>Dealer &#38; Service Centre</td>
<td>224 Yiannou Kranidioto Latsia, Nicosia, 2233</td>
<td><a class="external free" href="http://www.mototrend.com.cy/" rel="nofollow">http://www.mototrend.com.cy/</a></td>
<td>+357 22768789</td></tr>
<tr>
<th>Lotus Copenhagen</th>
<td>Denmark</td>
<td>Dealer &#38; Service Centre</td>
<td>Banevingen 9, Copenhagen, 2200</td>
<td><a class="external free" href="http://www.mlagruppen.dk/Lotus-copenhagen.aspx" rel="nofollow">http://www.mlagruppen.dk/Lotus-copenhagen.aspx</a></td>
<td>+45 45 200 430 </td></tr>
<tr>
<th>Auto 100</th>
<td>Estonia</td>
<td>Dealer &#38; Service Centre</td>
<td>Mustamae tee 6b, Tallinn, 10621</td>
<td><a class="external free" href="http://lotuscars.auto100.ee/" rel="nofollow">http://lotuscars.auto100.ee/</a></td>
<td>+372 6 222 233</td></tr>
<tr>
<th>Automobiles Chassay</th>
<td>France</td>
<td>Dealer &#38; Service Centre</td>
<td>11, Boulevard Abel Gance, Tours, 37100</td>
<td><a class="external free" href="http://www.chassay.fr/" rel="nofollow">http://www.chassay.fr/</a></td>
<td>+33 247 40 60 60</td></tr>
<tr>
<th>Garage DIZIER</th>
<td>France</td>
<td>Service Centre</td>
<td>40 Rue Laugier, Paris, 75017</td>
<td />
<td>+33 1 47 63 72 23</td></tr>
<tr>
<th>Lotus Lyon</th>
<td>France</td>
<td>Dealer &#38; Service Centre</td>
<td>45 rue Malesherbes, Lyon, 69006</td>
<td><a class="external free" href="http://www.tla.fr/Neufs/GammeLotus/tabid/3406/Default.aspx" rel="nofollow">http://www.tla.fr/Neufs/GammeLotus/tabid/3406/Default.aspx</a></td>
<td>+33 478 932 798</td></tr>
<tr>
<th>Marcassus Sport</th>
<td>France</td>
<td>Dealer &#38; Service Centre</td>
<td>26 avenue du Louron ZA En Jacca, Colomiers, 31770</td>
<td><a class="external free" href="http://www.marcassus-sport.com/2-35440-LOTUS.php" rel="nofollow">http://www.marcassus-sport.com/2-35440-LOTUS.php</a></td>
<td>+33 562 12 29 00</td></tr>
<tr>
<th>Neubauer Distribution</th>
<td>France</td>
<td>Dealer &#38; Service Centre</td>
<td>9 Boulevard Gouvion-Saint-Cyr, Paris, 75017</td>
<td><a class="external free" href="http://www.neubauer.fr/lotus/" rel="nofollow">http://www.neubauer.fr/lotus/</a></td>
<td>+33 143 18 29 00</td></tr>
<tr>
<th>Neubauer Distribution</th>
<td>France</td>
<td>Service Centre</td>
<td>162 Rue Lamarck, Paris, 75018</td>
<td><a class="external free" href="http://www.neubauer.fr/lotus/" rel="nofollow">http://www.neubauer.fr/lotus/</a></td>
<td>+33 155 20 6666 </td></tr>
<tr>
<th>TLA</th>
<td>France</td>
<td>Dealer &#38; Service Centre</td>
<td>57 Blvd Jules Janin, St. Etienne, 42000</td>
<td><a class="external free" href="http://www.tla.fr/Neufs/GammeLotus/tabid/3406/Default.aspx" rel="nofollow">http://www.tla.fr/Neufs/GammeLotus/tabid/3406/Default.aspx</a></td>
<td>+33 477 32 66 06 </td></tr>
<tr>
<th>Verbaere Automobiles</th>
<td>France</td>
<td>Dealer &#38; Service Centre</td>
<td>5 rue Lavoisier Lomme, Lille, 59160</td>
<td><a class="external free" href="http://www.voplille.fr/" rel="nofollow">http://www.voplille.fr/</a></td>
<td>+33 320 905 252 </td></tr>
<tr>
<th>Autohaus Haese GmbH</th>
<td>Germany</td>
<td>Dealer &#38; Service Centre</td>
<td>Anna-Birle-Str. 7, Mainz Kastel, 55252</td>
<td><a class="external free" href="http://www.lotus-haese.de/" rel="nofollow">http://www.lotus-haese.de/</a></td>
<td>+49 6134 182 90 </td></tr>
<tr>
<th>Autohaus Ulmen GmbH</th>
<td>Germany</td>
<td>Dealer &#38; Service Centre</td>
<td>Konigsberger Strasse 26, Dusseldorf, 40231</td>
<td><a class="external free" href="http://www.ulmen.com/neuwagen/lotus/" rel="nofollow">http://www.ulmen.com/neuwagen/lotus/</a></td>
<td>+49 211 310 000 </td></tr>
<tr>
<th>Automobile-Muller e.K</th>
<td>Germany</td>
<td>Dealer &#38; Service Centre</td>
<td>Eduard Rhein Strasse 10 - 14, Konigswinter, 53639</td>
<td><a class="external free" href="http://www.mueller-motors.de/verkauf/neufahrzeuge/lotus/" rel="nofollow">http://www.mueller-motors.de/verkauf/neufahrzeuge/lotus/</a></td>
<td>+49 22 44 810 10 </td></tr>
<tr>
<th>Exklusive Kollektion GmbH &#38; Co KG</th>
<td>Germany</td>
<td>Dealer &#38; Service Centre</td>
<td>Konigsbrucker Strasse 96, Dresden, 01099</td>
<td><a class="external free" href="http://www.exklusive-kollektion.de/" rel="nofollow">http://www.exklusive-kollektion.de/</a></td>
<td>+49 351 40 455 48 </td></tr>
<tr>
<th>Komo-Tec GmbH</th>
<td>Germany</td>
<td>Service Centre</td>
<td>Robert Bosch Strasse 30, Mendig, 56743</td>
<td><a class="external free" href="http://www.komo-tec.com/" rel="nofollow">http://www.komo-tec.com/</a></td>
<td>+49 26 52 989536</td></tr>
<tr>
<th>Lotus Leipzig</th>
<td>Germany</td>
<td>Dealer &#38; Service Centre</td>
<td>Franz Flemming Str. 7, Leipzig, 04178</td>
<td><a class="external free" href="http://lotusleipzig.de/page/HOME.html" rel="nofollow">http://lotusleipzig.de/page/HOME.html</a></td>
<td>+49 (0)341 44235413</td></tr>
<tr>
<th>Lotus Leipzig</th>
<td>Germany</td>
<td>Dealer &#38; Service Centre</td>
<td>Merseburger Str. 200, Leipzig, 04178</td>
<td><a class="external free" href="http://lotusleipzig.de/page/HOME.html" rel="nofollow">http://lotusleipzig.de/page/HOME.html</a></td>
<td>+49 (0)341 44235413 </td></tr>
<tr>
<th>Merz &#38; Pabst GmbH</th>
<td>Germany</td>
<td>Dealer &#38; Service Centre</td>
<td>Schelmenwasenstrasse 7, Stuttgart, 70567</td>
<td><a class="external free" href="http://lotus.merz-pabst.com/" rel="nofollow">http://lotus.merz-pabst.com/</a></td>
<td>+49 711 233 111</td></tr>
<tr>
<th>Merz &#38; Pabst GmbH</th>
<td>Germany</td>
<td>Dealer &#38; Service Centre</td>
<td>Meilenwerk Region Stuttgart, Graf Zeppelin Platz 1 Boblingen, Stuttgart, 71034</td>
<td><a class="external free" href="http://lotus.merz-pabst.com/" rel="nofollow">http://lotus.merz-pabst.com/</a></td>
<td>+49 711 233 111</td></tr>
<tr>
<th>Rosenmaier</th>
<td>Germany</td>
<td>Service Centre</td>
<td>Im Strassle 12, Markgroeningen, 71706</td>
<td />
<td>+49 7145 970 70</td></tr>
<tr>
<th>Schuttenbach Auto Service</th>
<td>Germany</td>
<td>Service Centre</td>
<td>Gutenbergstrasse 11, Anzing bei Munchen, 85646</td>
<td><a class="external free" href="http://www.schuttenbach.de/auto-service.html" rel="nofollow">http://www.schuttenbach.de/auto-service.html</a></td>
<td>+49 (0)8121 427 0 </td></tr>
<tr>
<th>Westside Cars GmbH &#38; Co. KG</th>
<td>Germany</td>
<td>Service Centre</td>
<td>Hamburg, Billhorner Kanalstraße 1, Hamburg, 20539</td>
<td><a class="external free" href="http://www.westsidecars.eu" rel="nofollow">http://www.westsidecars.eu</a></td>
<td>+49 (0)40 69 15 985 </td></tr>
<tr>
<th>Trident Cars S.A.</th>
<td>Greece</td>
<td>Dealer &#38; Service Centre</td>
<td>Tricoupi Centre, Tricoupi Avenue, Kifissia, Athens, 14600</td>
<td />
<td>+30 210 620 4802 </td></tr>
<tr>
<th>Trident Cars S.A.</th>
<td>Greece</td>
<td>Service Centre</td>
<td>Trident House, Aristotelous &#38; Dekelias Avenue Aharnae, Athens, 13671</td>
<td />
<td>+30 10 620 4802/803 </td></tr>
<tr>
<th>Bettini Automobili</th>
<td>Italy</td>
<td>Dealer &#38; Service Centre</td>
<td>Via Empoli 4, Firenze, 50142</td>
<td><a class="external free" href="http://www.bettiniautomobili.it/" rel="nofollow">http://www.bettiniautomobili.it/</a></td>
<td>+39 55 732 7000 </td></tr>
<tr>
<th>Bettini Automobili</th>
<td>Italy</td>
<td>Service Centre</td>
<td>c/o English Cars SPA, Via S. Quirico 24F, Firenze, 50142</td>
<td><a class="external free" href="http://www.bettiniautomobili.it/" rel="nofollow">http://www.bettiniautomobili.it/</a></td>
<td>+39 055 732 1500</td></tr>
<tr>
<th>Lotus Milano</th>
<td>Italy</td>
<td>Dealer &#38; Service Centre</td>
<td>Milan via Cesare Battisti Vedano al Lambro, Milano</td>
<td><a class="external free" href="http://www.lotusmilano.it/" rel="nofollow">http://www.lotusmilano.it/</a></td>
<td>+39 039 2324397 </td></tr>
<tr>
<th>Lotus Roma</th>
<td>Italy</td>
<td>Dealer &#38; Service Centre</td>
<td>Via Salaria 1313, Roma, 00138</td>
<td><a class="external free" href="http://www.lotusroma.it/" rel="nofollow">http://www.lotusroma.it/</a></td>
<td>+39 06 888 95 74 </td></tr>
<tr>
<th>Lotus Roma</th>
<td>Italy</td>
<td>Service Centre</td>
<td>Via Montaione 50, Roma, 00139</td>
<td><a class="external free" href="http://www.lotusroma.it/" rel="nofollow">http://www.lotusroma.it/</a></td>
<td>+39 068 121 447 </td></tr>
<tr>
<th>PB Racing SRL</th>
<td>Italy</td>
<td>Dealer &#38; Service Centre</td>
<td>Via Provinciale 44 Lallio, Bergamo, 24040</td>
<td><a class="external free" href="http://www.pbracing.it/index.php?option=com_content&#38;task=view&#38;id=13&#38;Itemid=155" rel="nofollow">http://www.pbracing.it/index.php?option=com_content&#38;task=view&#38;id=13&#38;Itemid=155</a></td>
<td>+39 35 20 3396 </td></tr>
<tr>
<th>Trivellato</th>
<td>Italy</td>
<td>Dealer &#38; Service Centre</td>
<td>Padova, Via Bolzani, 152 (S.S. 16 km 9,5), Maserà di Padova, Padova, 35020</td>
<td><a class="external free" href="http://www.trivellatocar.com/" rel="nofollow">http://www.trivellatocar.com/</a></td>
<td>+39 49 8961605</td></tr>
<tr>
<th>Garage Olivier Origer</th>
<td>Luxembourg</td>
<td>Dealer &#38; Service Centre</td>
<td>55-57 rue Basse, Schifflange, L-3813</td>
<td><a class="external free" href="http://www.lotuscars.lu/" rel="nofollow">http://www.lotuscars.lu/</a></td>
<td>+352 54 80 85</td></tr>
<tr>
<th>AutoKoncept</th>
<td>Monaco</td>
<td>Dealer &#38; Service Centre</td>
<td>25 Boulevard Albert 1er, Monaco, MC98000</td>
<td><a class="external free" href="http://www.autokonceptmonaco.com/" rel="nofollow">http://www.autokonceptmonaco.com/</a></td>
<td>+377 97 974226</td></tr>
<tr>
<th>AutoKoncept</th>
<td>Monaco</td>
<td>Service Centre</td>
<td>35 Bld Rainier III, Monaco, MC98000</td>
<td><a class="external free" href="http://www.autokonceptmonaco.com/" rel="nofollow">http://www.autokonceptmonaco.com/</a></td>
<td>+377 97 97 42 24</td></tr>
<tr>
<th>Van der Kooi Sportscars</th>
<td>Netherlands</td>
<td>Dealer &#38; Service Centre</td>
<td>Amsteldijk 52, Amsterdam, 1074 HX</td>
<td><a class="external free" href="http://www.lotuscars.nl/website/lotus/index.php" rel="nofollow">http://www.lotuscars.nl/website/lotus/index.php</a></td>
<td>+31 20 673 58 58 </td></tr>
<tr>
<th>Van der Kooi Sportscars</th>
<td>Netherlands</td>
<td>Dealer &#38; Service Centre</td>
<td>Kwinkweerd 10d, Lochem, 7241CW</td>
<td><a class="external free" href="http://www.lotuscars.nl/website/lotus/index.php" rel="nofollow">http://www.lotuscars.nl/website/lotus/index.php</a></td>
<td>+31 573 255 933</td></tr>
<tr>
<th>Lotus Warszawa Sp. z o.o.</th>
<td>Poland</td>
<td>Dealer &#38; Service Centre</td>
<td>ul. Pulawska 361, Warszawa 02-801</td>
<td><a class="external free" href="http://lotuswarszawa.pl/" rel="nofollow">http://lotuswarszawa.pl/</a></td>
<td>+48 22 2415000 </td></tr>
<tr>
<th>Lotus Warszawa Sp. z o.o.</th>
<td>Poland</td>
<td>Service Centre</td>
<td>Waszyngtona 50, Warszawa 03-910</td>
<td><a class="external free" href="http://lotuswarszawa.pl/" rel="nofollow">http://lotuswarszawa.pl/</a></td>
<td>+48 22 3543448</td></tr>
<tr>
<th>Lotus Portugal</th>
<td>Portugal</td>
<td>Dealer &#38; Service Centre</td>
<td>Rua Delfim Ferreira 424/460 Porto, Porto, 4100-199</td>
<td />
<td>+351 226 158 620 </td></tr>
<tr>
<th>Lotus Bucharest</th>
<td>Romania</td>
<td>Dealer &#38; Service Centre</td>
<td>Str. Drumul Garii Odai 1A Otopeni, Jud. Ilfov, Bucharest, 075100</td>
<td />
<td>+40 021 310 64 92 </td></tr>
<tr>
<th>Lotus Bucharest</th>
<td>Romania</td>
<td>Service Centre</td>
<td>Calea Bucurestilor 253A Otopeni, Jud. Ilfov, Bucharest, 075100</td>
<td />
<td>+40 021 310 64 92</td></tr>
<tr>
<th>Lotus Barcelona</th>
<td>Spain</td>
<td>Dealer &#38; Service Centre</td>
<td>Passeig de la Zona Franca 8-12, Barcelona, 08038</td>
<td><a class="external free" href="http://www.lotusdealer.es/" rel="nofollow">http://www.lotusdealer.es/</a></td>
<td>+34 932 896 363</td></tr>
<tr>
<th>Garage Ultra SA</th>
<td>Switzerland</td>
<td>Service Centre</td>
<td>Rue Malagny 30, Gland CH-1196</td>
<td />
<td>+41 22 354 87 87 </td></tr>
<tr>
<th>Kumschick Sports Cars AG</th>
<td>Switzerland</td>
<td>Dealer &#38; Service Centre</td>
<td>Luzernerstr. 57, Schotz CH-6247</td>
<td><a class="external free" href="http://www.kumschick.com/unsere-marken-and-leistungen/lotus/" rel="nofollow">http://www.kumschick.com/unsere-marken-and-leistungen/lotus/</a></td>
<td>+41 41 980 06 80</td></tr>
<tr>
<th>Lotus Autozentrum West</th>
<td>Switzerland</td>
<td>Dealer &#38; Service Centre</td>
<td>Piccardstr. 1, St. Gallen CH-9015</td>
<td><a class="external free" href="http://www.lotus-west.ch/" rel="nofollow">http://www.lotus-west.ch/</a></td>
<td>+41 71 311 6666</td></tr>
<tr>
<th>Pfenninger Autos AG</th>
<td>Switzerland</td>
<td>Dealer &#38; Service Centre</td>
<td>Schwantenmos 9, Zumikon CH-8126</td>
<td><a class="external free" href="http://www.lotusautos.ch/flash/index1.html" rel="nofollow">http://www.lotusautos.ch/flash/index1.html</a></td>
<td>+41 44 918 40 47</td></tr>
<tr>
<th>Schaffner Racing GmbH</th>
<td>Switzerland</td>
<td>Service Centre</td>
<td>Industriestrasse 2, Birmensdorf CH-8903</td>
<td />
<td>+41 44 737 28 00</td></tr>
<tr>
<th>Speedy Garage SA</th>
<td>Switzerland</td>
<td>Dealer &#38; Service Centre</td>
<td>Chemin des Mesanges 2, Romanel-sur-Lausanne CH - 1032</td>
<td><a class="external free" href="http://speedygarage.ch/" rel="nofollow">http://speedygarage.ch/</a></td>
<td>+41 21 653 12 33 </td></tr></table></div>

<h2><span class="mw-headline" id="US.2FCanada">US/Canada</span></h2>

<h2><span class="mw-headline" id="Rest_of_World">Rest of World</span></h2>

<p>








</p>