
<p>Car just failed the MOT (French) on a badly split gaiter and reading some of the horror stories about skinned knuckles and how it took hours to get the ..... thing over the rack got me thinking.</p>
<p>The result is that I&#39;ve just swapped a gaiter in 20 minutes (not including jacking and taking the wheel off).</p>
<p>This is how you do it:</p>
<p>I read that some people recommended warming the gaiter in hot water to make it more elastic and easier to fit so going on from there I wondered what would happen if I stretched the end of the gaiter over a larger diameter former to give it some permanent stretch. </p>
<p>Look below and you&#39;ll see that I used a minuature flower-pot. First I warmed the gaiter end in hot water and then pushed it over the flower-pot. It will stretch more but I thought that was sufficient.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Steering_Rack_Gaiter_Replacement_-_1.JPG" ><img src="Steering_Rack_Gaiter_Replacement_-_1.JPG" class="location-center type-thumb" width="400" />
</a></div>
</div>

<p> </p>
<p>Then I placed the whole thing in boiling water on the stove</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Steering_Rack_Gaiter_Replacement_-_2.JPG" ><img src="Steering_Rack_Gaiter_Replacement_-_2.JPG" class="location-center type-thumb" width="400" />
</a></div>
</div>

<p> </p>
<p>After 5 minutes I removed the flower-pot and the result is a considerably larger opening on the gaiter.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Steering_Rack_Gaiter_Replacement_-_3.JPG" ><img src="Steering_Rack_Gaiter_Replacement_-_3.JPG" class="location-center type-thumb" width="400" />
</a></div>
</div>

<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Steering_Rack_Gaiter_Replacement_-_4.JPG" ><img src="Steering_Rack_Gaiter_Replacement_-_4.JPG" class="location-center type-thumb" width="400" />
</a></div>
</div>

<p>This larger opening will gradually contract over 24 hours to near enough the original size, but you have a couple of hours to use it before it gets too small again.</p>
<p>Once done this will just slip straight over the rack body end with no effort and then the zip-tie can be tightened using the slotted pipe trick (catch the end of the zip in a thin pipe and you can twist this to tighten the tie in the confines of the chassis.</p>
<p>One other tip is to mark the track-rod and rack shaft with tippex (useful for all sorts of things like this) so that before disassembly you have a reference point -then just count the turns on removal so you can get the same position later.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Steering_Rack_Gaiter_Replacement_-_5.JPG" ><img src="Steering_Rack_Gaiter_Replacement_-_5.JPG" class="location-center type-thumb" width="400" />
</a></div>
</div>

<p>






</p>