
<p>What’s written on your oil bottle and what does it mean?</p>
<p><a class="external text" href="http://forums.seloc.org/viewthread.php?tid=85272" rel="nofollow">This post</a> may seem like going back to basics but I am constantly surprised by the amount of people who do not know or understand what is written on a bottle of oil and therefore no idea of what they are buying/using.</p>
<p>To be blunt about the subject, if a bottle of oil does not contain the following basic information then DO NOT buy it look for something that does!</p>

<ol>
<li>The purpose for which it is intended (i.e. Motor oil, Gear oil etc)</li>
<li>The viscosity (i.e. 10w-40, 5w-30 etc for Motor oils and 80w-90, 75w-90 etc for Gear oils)</li>
<li>The specifications that it meets (should contain both API and ACEA ratings)</li>
<li>The OEM Approvals that it carries and the codes (i.e. MB229.3, VW503.00, BMW LL01 etc)</li>
</ol>

<p>Ignore the marketing blurb on the label it is in many cases meaningless and I will explain later what statements you should treat this with some scepticism</p>
<p>So, what does the above information mean and why is it important?</p>
<p><b>The Basics</b></p>
<p>All oils are intended for an application and in general are not interchangeable. You would not for example put an Automatic Transmission Oil or a Gear Oil in your engine! It is important to know what the oils intended purpose is.</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Viscosity">Viscosity</a>
</li>
<li class="toclevel-1"><a href="#Specifications">Specifications</a>
</li>
<li class="toclevel-1"><a href="#API">API</a>
<ul>
<li class="toclevel-2"><a href="#PETROL">PETROL</a>
</li>
<li class="toclevel-2"><a href="#DIESEL">DIESEL</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#ACEA">ACEA</a>
</li>
<li class="toclevel-1"><a href="#Approvals">Approvals</a>
</li>
<li class="toclevel-1"><a href="#Finally">Finally</a>
</li>
<li class="toclevel-1"><a href="#Why_oils_lose_viscosity_with_use">Why oils lose viscosity with use</a>
</li>
<li class="toclevel-1"><a href="#Are_5w_and_0w_oils_too_thin.3F">Are 5w and 0w oils too thin?</a>
</li>
<li class="toclevel-1"><a href="#Other_sources_of_information">Other sources of information</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Viscosity">Viscosity</span></h2>
<p>Most oils on the shelves today are <a class="external text" href="http://en.wikipedia.org/wiki/Motor_oil#Multi-grade_motor_oil" rel="nofollow">Multigrades</a>, which simply means that the oil falls into 2 viscosity grades (i.e. 10w-40 etc)</p>
<p>Multigrades were first developed some 50 years ago to avoid the old routine of using a thinner oil in winter and a thicker oil in summer.</p>
<p>In a 10w-40 for example the 10w bit (W = winter, not weight or watt or anything else for that matter) simply means that the oil must have a certain maximum viscosity/flow at low temperature. The lower the “W” number the better the oils cold temperature/cold start performance.</p>
<p>The 40 in a 10w-40 simply means that the oil must fall within certain viscosity limits at 100 degC. This is a fixed limit and all oils that end in 40 must achieve these limits. Once again the lower the number the thinner the oil, a 30 oil is thinner than a 40 oil at 100 degC etc. Your handbook will specify whether a 30, 40 or 50 etc is required. </p>
<p><a class="external text" href="http://en.wikipedia.org/wiki/Viscosity" rel="nofollow">Viscosity link on Wikipedia</a></p>
<h2><span class="mw-headline" id="Specifications">Specifications</span></h2>
<p>Specifications are important as these indicate the performance of the oil and whether they have met or passed the latest tests or whether the formulation is effectively obsolete or out of date.
There are two specifications that you should look for on any oil bottle and these are <a class="external text" href="http://en.wikipedia.org/wiki/Motor_oil#American_Petroleum_Institute" rel="nofollow">API</a> (American Petroleum Institute]) and <a class="external text" href="http://en.wikipedia.org/wiki/ACEA" rel="nofollow">ACEA</a> (Association des Constructeurs Europeens d’Automobiles) all good oils should contain both of these and an understanding of what they mean is important.</p>
<h2><span class="mw-headline" id="API">API</span></h2>
<p>This is the more basic as it is split (for passenger cars) into two catagories. S = Petrol and C = Diesel, most oils carry both petrol (S) and diesel (C) specifications.</p>
<p>The following table shows how up to date the specifications the oil are:</p>
<h3><span class="mw-headline" id="PETROL">PETROL</span></h3>

<div style="page-break-inside: avoid;">
<table border="1" cellpadding="5" cellspacing="0">
<tr>
<td>SG</td>
<td>Introduced 1989 has much more active dispersant to combat black sludge</td></tr>
<tr>
<td>SH</td>
<td>Introduced 1993 has same engine tests as SG, but includes phosphorus limit 0.12%, together with control of foam, volatility and shear stability</td></tr>
<tr>
<td>SJ</td>
<td>Introduced 1996 has the same engine tests as SG/SH, but phosphorus limit 0.10% together with variation on volatility limits</td></tr>
<tr>
<td>SL</td>
<td>Introduced 2001, all new engine tests reflective of modern engine designs meeting current emissions standards</td></tr>
<tr>
<td>SM</td>
<td>Introduced November 2004, improved oxidation resistance, deposit protection and wear protection, also better low temperature performance over the life of the oil compared to previous categories</td></tr></table></div>

<p>Note:</p>
<p>All specifications prior to SL are now obsolete and although suitable for some older vehicles are more than 10 years old and do not provide the same level of performance or protection as the more up to date SL and SM specifications.</p>
<h3><span class="mw-headline" id="DIESEL">DIESEL</span></h3>

<div style="page-break-inside: avoid;">
<table border="1" cellpadding="5" cellspacing="0">
<tr>
<td>CD</td>
<td>Introduced 1955, international standard for turbo diesel engine oils for many years, uses single cylinder test engine only</td></tr>
<tr>
<td>CE</td>
<td>Introduced 1984, improved control of oil consumption, oil thickening, piston deposits and wear, uses additional multi cylinder test engines</td></tr>
<tr>
<td>CF4</td>
<td>Introduced 1990, further improvements in control of oil consumption and piston deposits, uses low emission test engine</td></tr>
<tr>
<td>CF</td>
<td>Introduced 1994, modernised version of CD, reverts to single cylinder low emission test engine. Intended for certain indirect injection engines</td></tr>
<tr>
<td>CF2</td>
<td>Introduced 1994, defines effective control of cylinder deposits and ring face scuffing, intended for 2 stroke diesel engines</td></tr>
<tr>
<td>CG4</td>
<td>Introduced 1994, development of CF4 giving improved control of piston deposits, wear, oxidation stability and soot entrainment. Uses low sulphur diesel fuel in engine tests</td></tr>
<tr>
<td>CH4</td>
<td>Introduced 1998, development of CG4, giving further improvements in control of soot related wear and piston deposits, uses more comprehensive engine test program to include low and high sulphur fuels</td></tr>
<tr>
<td>CI4</td>
<td>Introduced 2002, developed to meet 2004 emission standards, may be used where EGR ( exhaust gas recirculation ) systems are fitted and with fuel containing up to 0.5 % sulphur. May be used where API CD, CE, CF4, CG4 and CH4 oils are specified.</td></tr></table></div>


<p>Note:
All specifications prior to CH4 are now obsolete and although suitable for some older vehicles are more than 10 years old and do not provide the same level of performance or protection as the more up to date CH4 &#38; CI4 specifications. </p>
<p>If you want a better more up to date oil specification then look for SL, SM, CH4, CI4 </p>
<h2><span class="mw-headline" id="ACEA">ACEA</span></h2>

<p>This is the European equivalent of API (US) and is more specific in what the performance of the oil actually is. A = Petrol, B = Diesel and C = Catalyst compatible or low SAPS (Sulphated Ash, Phosphorus and Sulphur).</p>
<p>Unlike API the ACEA specs are split into performance/application catagories as follows:</p>

<div style="page-break-inside: avoid;">
<table border="1" cellpadding="5" cellspacing="0">
<tr>
<td>A1</td>
<td>Fuel economy petrol</td></tr>
<tr>
<td>A2</td>
<td>Standard performance level (now obsolete)</td></tr>
<tr>
<td>A3</td>
<td>High performance and/or extended drain</td></tr>
<tr>
<td>A4</td>
<td>Reserved for future use in certain direct injection engines</td></tr>
<tr>
<td>A5</td>
<td>Combines A1 fuel economy with A3 performance</td></tr>
<tr style="background:silver">
<td colspan="2" /></tr>
<tr>
<td>B1</td>
<td>Fuel economy diesel</td></tr>
<tr>
<td>B2</td>
<td>Standard performance level (now obsolete)</td></tr>
<tr>
<td>B3</td>
<td>High performance and/or extended drain</td></tr>
<tr>
<td>B4</td>
<td>For direct injection car diesel engines</td></tr>
<tr>
<td>B5</td>
<td>Combines B1 fuel economy with B3/B4 performance</td></tr>
<tr style="background:silver">
<td colspan="2" /></tr>
<tr>
<td>C1-04</td>
<td>Petrol and Light duty Diesel engines, based on A5/B5-04 low SAPS, two way catalyst compatible.</td></tr>
<tr>
<td>C2-04</td>
<td>Petrol and light duty Diesel engines, based on A5/B5-04 mid SAPS, two way catalyst compatible.</td></tr>
<tr>
<td>C3-04</td>
<td>Petrol and light duty Diesel engines, based on A5/B5-04 mid SAPS, two way catalyst compatible, Higher performance levels due to higher HTHS.</td></tr></table></div>

<p>Note: SAPS = Sulphated Ash, Phosphorous and Sulphur.</p>
<p>Put simply, A3/B3, A5/B5 and C3 oils are the better quality, stay in grade performance oils.</p>
<h2><span class="mw-headline" id="Approvals">Approvals</span></h2>
<p>Many oils mention various OEM’s on the bottle, the most common in the UK being VW, MB or BMW but do not be misled into thinking that you are buying a top oil because of this.</p>
<p>Oil Companies send their oils to OEM’s for approval however some older specs are easily achieved and can be done so with the cheapest of mineral oils. Newer specifications are always more up to date and better quality/performance than the older ones.</p>
<p>Some of the older OEM specifications are listed here and depending on the performance level of your car are best ignored if you are looking for a quality high performance oil:</p>
<p>VW – 500.00, 501.00 and 505.00</p>
<p>Later specs like 503, 504, 506 and 507 are better performing more up to date oils</p>
<p>MB – 229.1</p>
<p>Later specs like 229.3 and 229.5 are better performing more up to date oils.</p>
<p>BMW – LL98</p>
<p>Later specs like LL01 and LL04 are better performing more up to date oils.</p>



<h2><span class="mw-headline" id="Finally">Finally</span></h2>
<p>Above is the most accurate guidance I can give without going into too much depth however there is one final piece of advice regarding the labelling. </p>
<p>Certain statements are made that are meaningless and just marketing blurb, here are a few to avoid!</p>

<ul>
<li>Recommended for use where.........</li>
<li>May be used where the following specifications apply..........</li>
<li>Approved by..........(but with no qualification)</li>
<li>Recommended/Approved by (some famous person, these endorsements are paid for)</li>
<li>Racing/Track formula (but with no supporting evidence)</li>
</ul>

<p>Also be wary of statements like “synthetic blend” if you are looking for a fully synthetic oil as this will merely be a semi-synthetic.</p>
<p>Like everything in life, you get what you pay for and the cheaper the oil the cheaper the ingredients and lower the performance levels.</p>


<h2><span class="mw-headline" id="Why_oils_lose_viscosity_with_use">Why oils lose viscosity with use</span></h2>

<p><b>Viscosity Index Improvers.</b> 
An oils viscosity will decrease as the engine temperature rises. Viscosity Index Improvers are added to reduce this thinning. They are a key addative in the production of multigrade oils. </p>
<p>VI Improvers are heat sensitive long chain, high molecular weight polymers that minimise the viscosity loss of the oil at high temperatures. They work like springs, coiled at low temperatures and uncoiling at high temperatures. This makes the molecules larger (at high temps) which increases internal resistance within the thinning oil. They in effect &#34;fight back&#34; against the viscosity loss in the oil.</p>

<p><b>&#34;Shearing&#34;</b> 
The long chain molecules in VI Improvers are prone to &#34;shearing&#34; with use which reduces their ability to prevent the oil from losing viscosity. This &#34;shearing&#34; occurs when shear stress ruptures the long chain molecules and converts them to shorter, lower weight molecules. The shorter, lower weight molecules offer less resistance to flow and their ability to maintain viscosity is reduced.</p>
<p>This shearing not only reduces the viscosity of the oil but can cause piston ring sticking (due to deposits), increased oil consumption and increased engine wear.</p>
<p>Like basestock quality, VI Improvers also vary in quality. As with many items the more you pay, the better the finished article and more expensive, usually synthetic oils are likely to incorporate better VI improvers. All other things being equal the less VI improver an oil contains, the better it will stay in grade by resisting viscosity loss. </p>

<p><b>Which oils require more VI Improvers?</b> 
There are two scenarios where large amounts of these polymers are required as a rule.</p>
<p>Firstly in &#34;wide viscosity span&#34; multigrades. By this I mean that the difference between the lower &#34;W&#34; number and the higher number is large for example 5w-50 (diff 45) and 10w-60 (diff 50) are what is termed as &#34;wide viscosity span&#34; oils.</p>
<p>Narrow viscosity oils like 0w-30 (diff 30) or 5w-40 (diff 35) require far less VI Improvers and therefore are less prone to &#34;shearing&#34;.</p>
<p>Secondly, mineral and hydrocracked (petroleum synthetic oils) require more VI Improvers than proper PAO/Ester (Group IV or V) synthetic oils as they have a higher inherent VI to begin with, this is due to differences in the molecular structure of the synthetic base oils compared to mineral oils.</p>
<p>It is a fact that many synthetics require significantly less VI Improver to work as a multigrade and are therefore less prone to viscosty loss by shearing. </p>

<p><b>HTHS - High temperature High shear</b>
A relatively new oil test/specification, the oil is subjected to high temperature 150C and is mechanically sheared at 1 x 10^6 per second. A value of 2.8 or is considered the minumum for normal bearing wear. Here are some HTHS numbers on well known oils, the higher the number the more shear stable the oil; 4&#39;s and 5&#39;s are excellent numbers and demonstrate basestock quality e.g. Silkolene and Motul.</p>
<p>Mobil 1  0W40             HTHS 3.6</p>
<p>Castrol RS 10w-60         HTHS 3.7</p>
<p>Castrol RS 0w-40          HTHS 3.7</p>
<p>Silkolene PRO S 5w-40     HTHS 4.07 </p>
<p>Motul 300V 10w-40         HTHS 4.19 </p>
<p>Motul 300V 5w-40          HTHS 4.51 </p>
<p>Redline 5w40              HTHS 4.6</p>
<p>Redline 10W40             HTHS 4.7</p>
<p>Mobil 1 15w-50            HTHS 5.11</p>
<p>Silkolene PRO S 10w-50    HTHS 5.11 </p>
<p>Silkolene PRO R 15w-50    HTHS 5.23 </p>
<p>Motul 300V 15w-50         HTHS 5.33 </p>
<p>Redline 15W50             HTHS 5.8 </p>


<p>ROAD: Most semi synthetics are past their best between 3-5000 miles, synthetics are good for 9000-12000 miles on the road. </p>
<p>TRACK: Change periods will be determined by quality of the oil i.e. how shear stable it is under track conditions. A decent race oil will take about 10 hours of hard track use and a semi-syntehtic or hydrocracked base stock will last about an hour before the oil begins to lose viscosity.</p>
<h2><span class="mw-headline" id="Are_5w_and_0w_oils_too_thin.3F">Are 5w and 0w oils too thin?</span></h2>

<p>I read on many forums about 0w and 5w oils being too thin. </p>
<p>0w-40, 5w-40, 10w-40 and 15w-40 are all the same thickness (14 centistokes) at 100degC. </p>
<p>Centistokes (cst) is the measure of a fluid&#39;s resistance to flow (viscosity). It is calculated in terms of the time required for a standard quantity of fluid at a certain temperature to flow through a standard orifice. The higher the value, the more viscous the fluid. </p>
<p>As viscosity varies with temperature, the value is meaningless unless accompanied by the temperature at which it is measured. In the case of oils, viscosity is generally reported in centistokes (cst) and usually measured at 40degC and 100degC. </p>
<p>So, all oils that end in 40 (sae 40) are around 14cst thickness at 100degC. </p>
<p>This applies to all oils that end in the same number, all oils that end in 50 (sae 50) are around 18.5cst at 100degC and all oils that end in 60 (sae 60) are around 24cst at 100degC. </p>
<p>With me so far? </p>
<p>Great! </p>
<p>Now, ALL oils are thicker when cold. Confused? It&#39;s true and here is a table to illustrate this. </p>
<p>SAE 40 (straight 40)</p>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Temp degC</th>
<th>Viscosity (thickness) </th></tr>
<tr>
<td>0</td>
<td>2579cst </td></tr>
<tr>
<td>20</td>
<td>473cst</td></tr>
<tr>
<td>40</td>
<td>135cst</td></tr>
<tr>
<td>60</td>
<td>52.2cst</td></tr>
<tr>
<td>100</td>
<td>14cst</td></tr>
<tr>
<td>120</td>
<td>8.8cst </td></tr></table></div>


<p>As you will see, there is plenty of viscosity at 0degC, in fact many times more than at 100degC and this is the problem especially in cold weather, can the oil flow quick enough to protect vital engine parts at start up. Not really! </p>
<p>So, given that an sae 40 is 14cst at 100degC which is adequate viscosity to protect the engine, and much thicker when cold, how can a 0w oil be too thin? </p>
<p>Well, it can&#39;t is the truth. </p>
<p>The clever part (thanks to synthetics) is that thin base oils can be used so that start up viscosity (on say a 5w-40 at 0degC) is reduced to around 800cst and this obviously gives much better flow than a monograde sae 40 (2579cst as quoted above). </p>
<p>So, how does this happen, well as explained at the beginning, it&#39;s all about temperature, yes a thin base oil is still thicker when cold than at 100degC but the clever stuff (due to synthetics again) is that the chemists are able to build these oils out of molecules that do not thin to less than 14cst at 100degC! </p>
<p>What are the parameters for our recommendations? 
Well, we always talk about good cold start protection, by this we mean flow so a 5w will flow better than a 10w and so on. This is why we recommend 5w or 10w as the thickest you want to use except in exceptional circumstances. Flow is critical to protect the engine from wear! </p>
<p>We also talk about oil temps, mods and what the car is used for. This is related to the second number xw-(XX) as there may be issues with oil temperatures causing the oil to be too thin and therefore the possibility of metal to metal contact. </p>
<p>This is difficult to explain but, if for example your oil temp does not exceed 120degC at any time then a good &#34;shear stable&#34; sae 40 is perfectly capable of giving protection. </p>
<p>&#34;Shear stability&#34; is important here because if the oil shears it thins and that&#39;s not good! </p>
<p>However, if you are seeing temperatures in excess of 120degC due to mods and track use etc then there is a strong argument to using an sae 50 as it will have more viscosity at these excessive temperatures. </p>
<p>There are trade offs here. Thicker oils cause more friction and therefore more heat and they waste power and affect fuel consumption so it&#39;s always best to use the thinnest oil (i.e. second number) that you can get away with and still maintain oil pressure.</p>
<h2><span class="mw-headline" id="Other_sources_of_information">Other sources of information</span></h2>


<p><a class="external text" href="http://www.opieoils.co.uk/" rel="nofollow">Opie Oil</a></p>
<p><a class="external text" href="http://en.wikipedia.org/wiki/Motor_oil" rel="nofollow">Wikipedia on Motor Oil</a></p>

<p>



</p>