
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Catalytic_coverter_1.jpg" title="Standard CAT"><img src="Catalytic_coverter_1.jpg" alt="Standard CAT" title="Standard CAT" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Standard CAT</div></div>
</div>

<p>
A catalytic converter (colloquially, &#34;cat&#34; or &#34;catcon&#34;) is a device used to reduce the toxicity of emissions from an internal combustion engine.</p>
<p>See <a class="external text" href="http://en.wikipedia.org/wiki/Catalytic_converter" rel="nofollow">Catalytic converter</a> on Wikipedia for further information.</p>
<p>These are often replaced in the exhaust system with a <a href="http://wiki.seloc.org/a/Sports_CAT" title="Sports CAT">sports CAT</a> or <a href="http://wiki.seloc.org/a/CAT_replacement_pipe" title="CAT replacement pipe">CAT replacement pipe</a>.</p>

<h2><span class="mw-headline" id="Storage">Storage</span></h2>
<p>Whilst using a <a href="http://wiki.seloc.org/a/CRP" title="CRP">CRP</a> you need to store your CAT.  Basically keep it dry such as at the bottom of an airing cupboard in a bag.</p>
<h2><span class="mw-headline" id="S1">S1</span></h2>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:S1_cat.jpg" title="Elise S1 catalytic converter"><img src="S1_cat.jpg" alt="Elise S1 catalytic converter" title="Elise S1 catalytic converter" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Elise S1 catalytic converter</div></div>
</div>

<p>
Pre-TF MGF&#39;s have the same cat as an S1. Weight 4,3Kg</p>

<h2><span class="mw-headline" id="S2">S2</span></h2>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:S2_cat.jpg" title="Elise S2 catalytic converter"><img src="S2_cat.jpg" alt="Elise S2 catalytic converter" title="Elise S2 catalytic converter" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Elise S2 catalytic converter</div></div>
</div>

<p>
The S2 CAT is different from the S1.</p>

<p>


</p>