
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Silenced_crp.jpg" title="4&#34; and 5&#34; Eliseparts full stainless steel SCRPs"><img src="Silenced_crp.jpg" alt="4&#34; and 5&#34; Eliseparts full stainless steel SCRPs" title="4&#34; and 5&#34; Eliseparts full stainless steel SCRPs" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">4&#34; and 5&#34; Eliseparts full stainless steel SCRPs</div></div>
</div>

<p>
All the benefits of a <a href="http://wiki.seloc.org/a/CRP" title="CRP">CRP</a> but without the noise, which is deeper and less raspy than a straight through pipe.</p>
<p>Some products are actually quieter than a <a href="http://wiki.seloc.org/a/Catalytic_converter" title="Catalytic converter">standard CAT</a>.</p>
<p>Big enough that the police may be convinced its a <a href="http://wiki.seloc.org/a/Sports_CAT" title="Sports CAT">Sports CAT</a> which must have expired.</p>


<p>



</p>