
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Brakes_mmc_discs.jpg" title="Early Elise S1 MMC disc"><img src="Brakes_mmc_discs.jpg" alt="Early Elise S1 MMC disc" title="Early Elise S1 MMC disc" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Early Elise S1 MMC disc</div></div>
</div>

<p>
The <b>Brakes</b> on the Elise utilises <a class="external text" href="http://en.wikipedia.org/wiki/Disc_brake" rel="nofollow">disc brakes</a> all round.  The system comprises of <a href="http://wiki.seloc.org/a/Brake_pads" title="Brake pads">brake pads</a>, <a href="http://wiki.seloc.org/a/Brake_discs" title="Brake discs">brake discs</a> and <a href="http://wiki.seloc.org/a/Brake_hoses" title="Brake hoses">brake hoses</a>.  There are many better brake products on the market than the OEM fitment, and at a more resonable price.</p>
<p>Useful background info on brake systems and technology can be found at <a class="external text" href="http://www.carbibles.com/brake_bible.html" rel="nofollow">Brake Bible</a> pages.</p>
<h2><span class="mw-headline" id="S1">S1</span></h2>
<p>The first production of Elise S1&#39;s had <a class="external text" href="http://en.wikipedia.org/wiki/Metal_matrix_composite" rel="nofollow">Metal Matrix Composite</a> (MMC) discs as standard.  This was an Aluminium-Ceramic composite which required specialist pads.</p>
<p>MMC brake discs look dull grey in colour and do not suffer from the normal red/brown rust that covers steel disks.</p>
<p>If you have the older MMC discs you have not option but to buy the special MMC pads from your local dealer.  Using pads designed for steel discs on MMC discs will destroy them in a very few miles, despite this fact some dealers will, somewhat unbelievably, allow you to spec steel based pads for MMC discs, make sure <b>YOU</b> know.</p>
<p>There is a brake overhaul kit for the rear calipers. Applicable at least to 1998 cars and probably later. This is the brake seals and the slider seals. Instructions with the kit. Remember to remove the grub screw before trying to remove the pistons!</p>
<p>The company that manufactures the kit is called Autofren and the Kit no is D4291 from a Renault Laguna 1 1997 with ABS. </p>
<p>Seguridad Industrial SA
31638
Eugui
Navarra
Espana</p>
<p>www.seinsa.es        website in English as well!</p>
<h2><span class="mw-headline" id="S2">S2</span></h2>
<p>Move from nuts to bolts...</p>
<h2><span class="mw-headline" id="S2_Toyota">S2 Toyota</span></h2>
<p>Introduced <a class="external text" href="http://en.wikipedia.org/wiki/Anti-lock_braking_system" rel="nofollow">ABS</a></p>
<p>


</p>