<h2><span class="mw-headline" id="Traction_Control">Traction Control</span></h2>


<p>Wikipedia On <a class="external text" href="http://en.wikipedia.org/wiki/Traction_control" rel="nofollow">Traction Control</a></p>

<p>Offered as an £395 Option on the 06 Elise and Exige onwards.</p>

<p>A switchable Lotus Traction Control System (LTC) is available for the first time on the Elise and Exige for 2006. The LTC works through the engine management system to reduce power when required to maintain traction.</p>
<p>Unlike many traction control systems, LTC has been tuned to complement the skills of the driver without taking over. The Lotus LTC is active above 5mph and operates much more quickly than many brake-based systems.</p>

<p>The system can be deactivated with an illuminated button which is located adjacent to the gear lever</p>

<p>The Lotus Traction Control system is activated via the Lotus T4e Engine Control Unit. It is fully developed in-house at Hethel by Lotus Engineering.*</p>
<p>The Traction Control is also available from Lotus for the Toyota T4 (2005) Equipped cars.</p>

<ul>
<li>The Traction Control was NOT developed by RaceLogic</li>
</ul>


<p><b>VARIABLE TRACTION CONTROL</b>
First available in the &#34;Launch Edition&#34; 2-11.
Option on Exige S models (Model Year 2008)</p>
<p>Consists of a rotary knob (like that on the heater controls), which adjusts the setting of the traction control system.
Adjustable from no slip (0%) which is default setting, incrementally upto 10%</p>

<p><b>Lotus Engineering Newsletter article</b>
<a class="external free" href="http://www.just-auto.com/proactive/pdf/lotus-newsletter-issue-23.pdf" rel="nofollow">http://www.just-auto.com/proactive/pdf/lotus-newsletter-issue-23.pdf</a></p>
<p>



</p>