
<p>Harnesses greatly improve the feel of the car on track and lock you into the seated position.  The installation is relatively common no matter which <a href="http://wiki.seloc.org/a/Harness_bar" title="Harness bar">harness bar</a> or belts you choose.</p>
<h2><span class="mw-headline" id="Procedure">Procedure</span></h2>

<ol>
<li><a href="http://wiki.seloc.org/a/Removing_the_seats" title="Removing the seats">Remove seats</a>
<dl>
<dd>(and unscrew the inertia belts from the seats at this point if you plan not to keep them).</dd>
</dl></li>
<li>Remove plastic trim
<dl>
<dd>(and the intertia belt spool, if applicable).</dd>
</dl></li>
<li>Loosely screw harness bar in place.</li>
<li>Stick masking tape onto the rollover bar at the top and bottom of the circular section of the harness bar where it meets the rollover bar (hard to explain but is very simple).</li>
<li>Remove the harness bar</li>
<li>Loosely put the plastic trim in place and, using the masking tape on the rollover bar as a guide, mark the top and bottom of the harness bar onto the plastic trim.</li>
<li>Remove the plastic trim and cut away the trim so that it can fit back in place with the harness bar fitted.</li>
<li>Put the plastic trim loosely back into the car.</li>
<li>Slide one end of the harness bar *past* the fixing point on the rollover bar so that you can then get the other end of the harness bar past the other side of the rollover bar.</li>
<li>Bolt the harness bar to the rollover bar. You&#39;ll need a 17mm socket/spanner and should be able to pass the socket/spanner from below if the original belts are removed. If you want to keep the original belts, put them back in before fixing the plastic trim.</li>
<li>Fit the plastic trim properly in place</li>
<li>Attach the shoulder harnesses to the harness bar.</li>
<li>Attach the lap harnesses to the seats. I removed my inertia reel belts so this was really easy.</li>
<li>Bolt the seats in</li>
</ol>


<p><a class="external text" href="http://www.aouv49.dsl.pipex.com/IMG_2389.JPG" rel="nofollow">Picture 1</a> Please note, photo incorrect, holes should faces downwards, not upwards as pictured.</p>
<p><a class="external text" href="http://www.aouv49.dsl.pipex.com/IMG_2391.JPG" rel="nofollow">Picture 2</a></p>
<p><a class="external text" href="http://www.aouv49.dsl.pipex.com/IMG_2392.JPG" rel="nofollow">Picture 3</a></p>
<p><a class="external text" href="http://www.aouv49.dsl.pipex.com/IMG_2398.JPG" rel="nofollow">Picture 4</a></p>
<p><a class="external text" href="http://www.aouv49.dsl.pipex.com/IMG_2395.JPG" rel="nofollow">Picture 5</a></p>
<h2><span class="mw-headline" id="Information_and_Pictures_Provided_By">Information and Pictures Provided By</span></h2>

<p><a class="external text" href="http://forums.seloc.org/member.php?action=viewpro&#38;member=PhilS" rel="nofollow">PhilS</a></p>
<p><a class="external free" href="http://forums.seloc.org/viewthread.php?tid=8428" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=8428</a></p>
<p><a class="external text" href="http://forums.seloc.org/member.php?action=viewpro&#38;member=Steve+S2" rel="nofollow">Steve S2</a></p>
<p><a class="external free" href="http://forums.seloc.org/viewthread.php?tid=21495#pid312060" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=21495#pid312060</a></p>
<h2><span class="mw-headline" id="Discussion">Discussion</span></h2>

<p>Discussion on the merits of harness fitting options
<a class="external free" href="http://forums.seloc.org/viewthread.php?tid=166724&#38;page=1" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=166724&#38;page=1</a></p>
<p>



</p>