


<div style="page-break-inside: avoid;">
<table border="1" cellpadding="5" cellspacing="2">
<tr>
<td>Original Weight (kg) </td>
<td>Aftermarket product and weight (kg)</td></tr>
<tr>
<td colspan="2">

<h3><span class="mw-headline" id="Brakes">Brakes</span></h3></td></tr>
<tr>
<td>S1 MMC 2.9 kg/each </td>
<td>EBC 6 kg</td></tr>
<tr>
<td />
<td>S1 Eliseparts Ali Bells 5.245kg/each</td></tr>
<tr>
<td />
<td>S1 EBC (Grooved) 5.605kg/each</td></tr>
<tr>
<td />
<td>S1 Pagid (plain) 5.790Kg/each</td></tr>
<tr>
<td>S2 Drilled 5.9 kg/each </td>
<td>Ali bells 5.0 kg</td></tr>
<tr>
<td colspan="2">

<h3><span class="mw-headline" id="Exhaust">Exhaust</span></h3></td></tr>
<tr>
<td>S1 Standard 20 kg </td>
<td>S1 Eliseparts Sport Exhaust 8 kg</td></tr>
<tr>
<td>K series standard manifold 3.3kg flexi pipe 3.4kg </td>
<td>k series full stainless steel 4-1 manifold 8kg</td></tr>
<tr>
<td />
<td>S1 Janspeed 4-2-1 small bore w/flexi 6.575kg</td></tr>
<tr>
<td />
<td>S1 Eliseparts 4&#34; SCRP 2.335kg</td></tr>
<tr>
<td />
<td>S1 Eliseparts 5&#34; Sports Exhaust 7.985kg</td></tr>
<tr>
<td colspan="2">

<h3><span class="mw-headline" id="Steering.2FSuspension">Steering/Suspension</span></h3></td></tr>
<tr>
<td>S1 Front Ball Joint Mount 332g/Each   </td>
<td>Eliseparts Aluminium Ball Joint Mount 122g/Each</td></tr>
<tr>
<td>S1 (Early) Steering Arm 368g/Each  </td>
<td /></tr>
<tr>
<td>S1 (Later) Steering Arm ???g/Each </td>
<td>Eliseparts Lightweight Aluminium Steering Arm 300g/Each</td></tr>
<tr>
<td colspan="2">

<h3><span class="mw-headline" id="Engine">Engine</span></h3></td></tr>
<tr>
<td>S1 Rear Engine Mount 854g </td>
<td>S1 Eliseparts Adjustable Engine Mout 462g</td></tr>
<tr>
<td>S1 Magneti Marelli Alternator 5.075Kg </td>
<td>S1 Eliseparts Lightweight &#39;K&#39; Series Alternator (steel pully) 3.230Kg</td></tr>
<tr>
<td colspan="2">

<h3><span class="mw-headline" id="Door">Door</span></h3></td></tr>
<tr>
<td>S2 w/o ali beam complete: 15.1kg </td>
<td /></tr>
<tr>
<td>S2 window mech.: 1.375kg </td>
<td /></tr>
<tr>
<td>S2 window winder: 120g </td>
<td></td></tr>
<tr>
<td>S2 mirror fixing triangle: 355g </td>
<td></td></tr>
<tr>
<td>S2 mirror: 405g </td>
<td></td></tr>
<tr>
<td>S2 seal window: 302g </td>
<td></td></tr>
<tr>
<td>S2 inner trim (plastic+leather): 705g </td>
<td /></tr></table></div>

<h2><span class="mw-headline" id="Elise_Weight_Reduction">Elise Weight Reduction</span></h2>

<p>S1 Alarm Fob 20 grams</p>

<p><b>Carbon clams</b> are hideous money compared to the weight saved, and don&#39;t save much at all unless they are autoclaved or vacuum formed. Benetec CF Front Clam 4.95 kg Vs std at 15 kg but cost £58k :( Benetec CF Rear Clam 7,2kg</p>

<p>Be very wary of <b>polycarbonate side screens</b>. They are very flexible and, with the roof fitted, flare out dramatically at speeds above 60MPH.</p>
<p>Early <b>rear arch liners</b> are 2.8 kg. Later liners are lighter.</p>

<p>Removing the GRP where the reversing light and fog lights are, along with the grilles and the reversing light saves about 1 kg.</p>

<p>The <b>rubber seals around all four wheel arch liners</b> (assuming you haven&#39;t ditched the arch liners) are about 200g each, and most of the boot lid seal can be removed with just token parts left in to prevent rattle giving about 1  kg of saving.</p>


<p><b>Exhaust</b> Exige/111R Catback: 13 kg. Stage 1: 11.8 kg (saves 1.2 kg). Stage 2: 8.2 kg (saves 4.8 kg). Quicksilver Titanium: 5.2 kg (saves 7.8 kg)</p>


<p><b>S1 Weight Reduction</b></p>

-13,4 kg Carbon fibre track seats (1,8 kg vs 8.5 kg) x2


-12.5 kg Titanium Exhaust system (std 16 kg vs 3.5 kg) 


-11.2 kg MMC discs instead of iron disks (2.7 kg vs 5.5 kg each) 


-11,1 KG TRM FSL001 instead of std AWI 5 spoke Wheels (20,7kg vs 31.8 kg)


-9,9kg Race battery (www.voltphreaks.com or www.braillebattery.com) (1,36 kg vs 11.35 kg) 


-7.25 kg Lexan front window (5 kg vs 12.25 kg) 


-6.8 kg Speedline Magnesium instead of std AWI 5 spoke (25 kg vs 31.8 kg) 


-6.55 kg Alloy Fuel Tank 


-4.4 kg Carbon fibre fixed seat frames(2 kg and 3 kg vs 0.3 kg) 


-4.4 kg Remove the door reinforcement on 2 doors 


-4 kg Remove radio and speakers (radio ~1.4 kg speakers ~1.6 kg) 


-3.695 kg Soft top and mountings (Top 1.807 kg, siderails 1.888 kg) 


-3.3 kg Lightweight Flywheel 


-2.71 kg Cat Replacement Pipe (flexi stainless) (1.587 kg Vs 4.3 kg) mild steel 1.8 kg 


-2.55 kg Lightweight alternator (3.35 kg vs 5.9 kg) 


-2.2 kg Billet aluminium crankshaft pulley 


-2.136 kg Back window 


-2 kg Alu boot lit instead of GRP (Glass Reinforced Plastic)


-2 kg Alu top engine mount 


-2 kg 2x Leather sill covers 


-1.994 kg Rollbar cover 


-1.697 kg Heat shield baggage compartment 


-1,59 kg CF undertray insted of alu std


-1.388 kg Dressed baggage compartment 


-1.329Kg Original Airbox and filter


-1 kg Eliseparts Lightweight Wheel studs


-1 kg Carbon fibre steering wheel (1.7 kg vs 0.7 kg) 


-0,9 kg Elisparts solid 4-2-1 manifold (5,8 kg vs std 6,7 kg)


-0,9 kg Carbon fibre side mirrors instead of std


-0.872 kg Alu ball joint mounts (1.308 kg vs 0.436 kg) 


-0.8 kg Footwell divider 


-0,83 kg lexan back window instead of std glass


-0.6 kg Handbrake and gear stick cover 


-0.562 kg Pair of Alu Verniers instead of std iron pulleys(570g v.s. 298g each)


-0.53 kg Passenger footrest 


-0.5 kg Front Mud flaps 


-0.4 kg Alarm siren


-0.23 kg Inner Rear view mirror 


-1/2 of std Lightweight Starter Motor 


-2/3 of std Polycarbonate / perspex rear/side/front screen 

<p>plastic boot lid stay 865g</p>
<p>2 x plastic floor mats 160g</p>
<p>passenger foot rest 535g</p>
<p>charcoal canister and pipes 625g</p>
<p>rear grills 310g</p>
<p>removal of fibre glass behind fog/reverse lights 370g</p>
<p>speakers including wiring 1220g</p>
<p>plastic speaker mounts behind seats 525g</p>
<p>plastic wiper motor guard 60g</p>
<p>rear wheel arch liners 2300g</p>
<p>plastic booy drain pipe 225g</p>
<p>front brake disc splash guards 210g</p>
<p>radio and surround 1760g</p>
<p>front grill 275g</p>
<p>handbrake trim surround 240g</p>
<p>Aerial and lead 160g</p>
<p>gear stick surround trim 325g</p>
<p>alarm siren 370g</p>
<p>rubber trim from rear wheel arches and boot lid 140g</p>
<p>interior side pads 2000g</p>
<p>boot bag 1435g</p>
<p>heat insulation/sound deadening in boot 1495g</p>
<p>boot divider Ali 1295g</p>
<p>rear under tray (homemade Carbon fibre) reduced by 900g</p>
<p>Rear boot tray 1620g</p>
<p>heat shield above exhaust (below boot tray) 1885g</p>
<p>misc nuts bolts cables ties etc 445g</p>
<p>passenger seat &#38; belt 9725g</p>
<p>remove cat and replace with CRP 2725g</p>
<p>battery replaced by varley red top 6100g</p>
<p>battery bracket and breather piper 200g </p>

<h3><span class="mw-headline" id="Other_sources_of_Information">Other sources of Information</span></h3>

<p><a class="external text" href="http://forums.seloc.org/m/SteveB" rel="nofollow">SteveB</a></p>
<p><a class="external free" href="http://www.340r.net/technical/weight/weight.htm" rel="nofollow">http://www.340r.net/technical/weight/weight.htm</a></p>
<p><a class="external free" href="http://forums.seloc.org/t/91178" rel="nofollow">http://forums.seloc.org/t/91178</a></p>
<p><a class="external free" href="http://www.elisetalk.com/forums/showthread.php?t=27701" rel="nofollow">http://www.elisetalk.com/forums/showthread.php?t=27701</a></p>
<p><a class="external text" href="http://www.eliseparts.com/shop/index.php?main_page=index&#38;cPath=128" rel="nofollow">Eliseparts Weight Reduction Section</a></p>

<p>

</p>