
<div style="page-break-inside: avoid;">
<table cellpadding="0" cellspacing="0" style="clear: right; margin-bottom: .5em; float: right; padding: .5em 0 .8em 1.4em; background: none; width: auto;">
<tr>
<td><table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1"><a href="#Series_1">Series 1</a>
<ul>
<li class="toclevel-2"><a href="#Model_Introduction:_June_.E2.80.9896">Model Introduction: June ‘96</a>
</li>
<li class="toclevel-2"><a href="#1997_Model_Year:_November_.E2.80.9896">1997 Model Year: November ‘96</a>
</li>
<li class="toclevel-2"><a href="#Uprated_Starter_Motor:_February_.E2.80.9897">Uprated Starter Motor: February ‘97</a>
</li>
<li class="toclevel-2"><a href="#Commonisation_of_a.c._type_chassis:_September_.E2.80.9897">Commonisation of a.c. type chassis: September ‘97</a>
</li>
<li class="toclevel-2"><a href="#1998_Model_Year:_October_.E2.80.9897">1998 Model Year: October ‘97</a>
</li>
<li class="toclevel-2"><a href="#Revised_Harness_.26_Main_Fusebox:_October_.E2.80.9897">Revised Harness &#38; Main Fusebox: October ‘97</a>
</li>
<li class="toclevel-2"><a href="#Optional_U.K._Market_Cobra_6422_Alarm:_October_.E2.80.9897">Optional U.K. Market Cobra 6422 Alarm: October ‘97</a>
</li>
<li class="toclevel-2"><a href="#Front_Brake_Disc_Shields:_December_.E2.80.9897">Front Brake Disc Shields: December ‘97</a>
</li>
<li class="toclevel-2"><a href="#Revised_Soft_Top_Cant_Rails:_May_.E2.80.9898">Revised Soft Top Cant Rails: May ‘98</a>
</li>
<li class="toclevel-2"><a href="#Cast_Iron_Brakes:_June_.E2.80.9898">Cast Iron Brakes: June ‘98</a>
</li>
<li class="toclevel-2"><a href="#Integral_Boot_Box:_September_.E2.80.9898">Integral Boot Box: September ‘98</a>
</li>
<li class="toclevel-2"><a href="#1999_Model_Year:_November_.E2.80.9898">1999 Model Year: November ‘98</a>
</li>
<li class="toclevel-2"><a href="#Sport_135:_November_.E2.80.9898">Sport 135: November ‘98</a>
</li>
<li class="toclevel-2"><a href="#Integral_Stud_Toe-Link_Ball_Joints:_December_.E2.80.9898">Integral Stud Toe-Link Ball Joints: December ‘98</a>
</li>
<li class="toclevel-2"><a href="#50th_Anniversary_Elise:_January_.E2.80.9899">50th Anniversary Elise: January ‘99</a>
</li>
<li class="toclevel-2"><a href="#Angled_Rear_Window:_January_.E2.80.9899">Angled Rear Window: January ‘99</a>
</li>
<li class="toclevel-2"><a href="#Elise_111S:_January_.E2.80.9899">Elise 111S: January ‘99</a>
</li>
<li class="toclevel-2"><a href="#Elise_.E2.80.98JPS.E2.80.99:_July_.E2.80.9899">Elise ‘JPS’: July ‘99</a>
</li>
<li class="toclevel-2"><a href="#Elise_.E2.80.98Type_49.E2.80.99:_October_.E2.80.9899">Elise ‘Type 49’: October ‘99</a>
</li>
<li class="toclevel-2"><a href="#Elise_.E2.80.98Millenium.E2.80.99:_October_.E2.80.9899">Elise ‘Millenium’: October ‘99</a>
</li>
<li class="toclevel-2"><a href="#Elise_340R:_January_.E2.80.9800">Elise 340R: January ‘00</a>
</li>
<li class="toclevel-2"><a href="#Sport_160:_February_.E2.80.9800">Sport 160: February ‘00</a>
</li>
<li class="toclevel-2"><a href="#Exige:_July_.E2.80.9800">Exige: July ‘00</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Series_2_-_K-series">Series 2 - K-series</a>
<ul>
<li class="toclevel-2"><a href="#Elise_.E2.80.98Mk.2.E2.80.99_Introduction:_November_2000">Elise ‘Mk.2’ Introduction: November 2000</a>
</li>
<li class="toclevel-2"><a href="#Hard_Top_Roof_and_.E2.80.98Short.E2.80.99_Soft_Top:_March_2002">Hard Top Roof and ‘Short’ Soft Top: March 2002</a>
</li>
<li class="toclevel-2"><a href="#Elise_111_.26_111S:_May_2002">Elise 111 &#38; 111S: May 2002</a>
</li>
<li class="toclevel-2"><a href="#2003_Model_Year:_January_2003">2003 Model Year: January 2003</a>
</li>
<li class="toclevel-2"><a href="#Lotus_Sport_135R:_May_2003">Lotus Sport 135R: May 2003</a>
</li>
<li class="toclevel-2"><a href="#Lotus_Sport_111:_May_2003">Lotus Sport 111: May 2003</a>
</li>
<li class="toclevel-2"><a href="#2004_Model_Year:_May_2003">2004 Model Year: May 2003</a>
</li>
<li class="toclevel-2"><a href="#2005_Model_Year:_October_2004">2005 Model Year: October 2004</a>
</li>
<li class="toclevel-2"><a href="#Revised_5-speed_Transmission_for_Standard_Elise:_July_2005">Revised 5-speed Transmission for Standard Elise: July 2005</a>
</li>
<li class="toclevel-2"><a href="#2006_Model_Year:_September_2005">2006 Model Year: September 2005</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Series_2_-_Toyota">Series 2 - Toyota</a>
<ul>
<li class="toclevel-2"><a href="#Elise_111R_Introduction:_January_2004">Elise 111R Introduction: January 2004</a>
</li>
<li class="toclevel-2"><a href="#2004_Exige_Introduction:_March_2004">2004 Exige Introduction: March 2004</a>
</li>
<li class="toclevel-2"><a href="#2005_M.Y._Elise_for_North_America:_May_2004">2005 M.Y. Elise for North America: May 2004</a>
</li>
<li class="toclevel-2"><a href="#2005_M.Y._Elise.2FExige_.28non-USA.29:_Sept._2004">2005 M.Y. Elise/Exige (non-USA): Sept. 2004</a>
</li>
<li class="toclevel-2"><a href="#Lotus_Sport_Exige_240R:_March_2005">Lotus Sport Exige 240R: March 2005</a>
</li>
<li class="toclevel-2"><a href="#2006_M.Y._Introduction:_September_2005">2006 M.Y. Introduction: September 2005</a>
</li>
<li class="toclevel-2"><a href="#Sports_Racer:_October_2005">Sports Racer: October 2005</a>
</li>
<li class="toclevel-2"><a href="#Exige_Cup_190_.26_240:_January_2006">Exige Cup 190 &#38; 240: January 2006</a>
</li>
<li class="toclevel-2"><a href="#Exige_S:_February_2006">Exige S: February 2006</a>
</li>
<li class="toclevel-2"><a href="#USA_Lotus_Sport_Elise:_March_2006">USA Lotus Sport Elise: March 2006</a>
</li>
<li class="toclevel-2"><a href="#2007_M.Y._.26_Elise_S_Introduction:_June_2006">2007 M.Y. &#38; Elise S Introduction: June 2006</a>
</li>
<li class="toclevel-2"><a href="#USA_Exige_S:_October_2006">USA Exige S: October 2006</a>
</li>
<li class="toclevel-2"><a href="#Exige_S_British_GT_Special_Edition:_November_2006">Exige S British GT Special Edition: November 2006</a>
</li>
<li class="toclevel-2"><a href="#USA_Low_Speed_Damage_Mitigation:_January_2007">USA Low Speed Damage Mitigation: January 2007</a>
</li>
<li class="toclevel-2"><a href="#Lotus_Sport_Exige_Cup_255:_January_2007">Lotus Sport Exige Cup 255: January 2007</a>
</li>
<li class="toclevel-2"><a href="#2-Eleven_Introduction:_May_2007">2-Eleven Introduction: May 2007</a>
</li>
<li class="toclevel-2"><a href="#USA_Elise_Limited_Edition_.E2.80.98Type_72D.E2.80.99">USA Elise Limited Edition ‘Type 72D’</a>
</li>
<li class="toclevel-2"><a href="#Exige_Club_Racer:_September_2007">Exige Club Racer: September 2007</a>
</li>
<li class="toclevel-2"><a href="#Introduction_of_2008_Model_Year_Elise.2FExige:_October_2007">Introduction of 2008 Model Year Elise/Exige: October 2007</a>
</li>
<li class="toclevel-2"><a href="#Elise_S_Hethel_40th_Limited_Edition:_October_2007">Elise S Hethel 40th Limited Edition: October 2007</a>
</li>
<li class="toclevel-2"><a href="#Elise_.E2.80.98California.E2.80.99_Limited_Edition:_October_2007">Elise ‘California’ Limited Edition: October 2007</a>
</li>
<li class="toclevel-2"><a href="#Exige_Sprint:_November_2007">Exige Sprint: November 2007</a>
</li>
<li class="toclevel-2"><a href="#Introduction_of_Elise_SC:_February_2008">Introduction of Elise SC: February 2008</a>
</li>
<li class="toclevel-2"><a href="#Lotus_Sport_Exige_Cup_260:_February_2008">Lotus Sport Exige Cup 260: February 2008</a>
</li>
<li class="toclevel-2"><a href="#USA_Elise_SC_.E2.80.9960th_Anniversary.E2.80.99:_May_2008">USA Elise SC ’60th Anniversary’: May 2008</a>
</li>
<li class="toclevel-2"><a href="#Clark_Type_25_Elise_SC:_June_2008">Clark Type 25 Elise SC: June 2008</a>
</li>
<li class="toclevel-2"><a href="#2009_M.Y._Introduction:_September_2008">2009 M.Y. Introduction: September 2008</a>
</li>
<li class="toclevel-2"><a href="#2009_M.Y._Lotus_sport_Exige_Cup_260:_October_2008">2009 M.Y. Lotus sport Exige Cup 260: October 2008</a>
</li>
<li class="toclevel-2"><a href="#2010_M.Y._Introduction:_May_2009">2010 M.Y. Introduction: May 2009</a>
</li>
<li class="toclevel-2"><a href="#Exige_S_Type_72:_December_2009">Exige S Type 72: December 2009</a>
</li>
<li class="toclevel-2"><a href="#Exige_Scura.2FStealth:_January_2010">Exige Scura/Stealth: January 2010</a>
</li>
<li class="toclevel-2"><a href="#2011_M.Y._Introduction:_March_2010">2011 M.Y. Introduction: March 2010</a>
</li>
<li class="toclevel-2"><a href="#Elise_SC_and_Exige_S_RGB_Special_Editions:_September_2010">Elise SC and Exige S RGB Special Editions: September 2010</a>
</li>
<li class="toclevel-2"><a href="#Introduction_of_Lotus_Dynamic_Performance_Management_.28Lotus_DPM.29">Introduction of Lotus Dynamic Performance Management (Lotus DPM)</a>
</li>
<li class="toclevel-2"><a href="#Elise_CR_.28Club_Racer.29:_February_2011">Elise CR (Club Racer): February 2011</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#External_links">External links</a>
</li>
</ul></td></tr></table><hr/>
</td></tr></table></div>




<h1><span class="mw-headline" id="Series_1">Series 1</span></h1>

<h2><span class="mw-headline" id="Model_Introduction:_June_.E2.80.9896">Model Introduction: June ‘96</span></h2>

<p>VIN: T 0017 onwards </p>


<h2><span class="mw-headline" id="1997_Model_Year:_November_.E2.80.9896">1997 Model Year: November ‘96</span></h2>

<p>VIN: V 240 onwards </p>
<p>No specification change. </p>
<h2><span class="mw-headline" id="Uprated_Starter_Motor:_February_.E2.80.9897">Uprated Starter Motor: February ‘97</span></h2>

<p>VIN: V 685 </p>
<p>Starter motor uprated from 1.0 kW to 1.4 kW and engine management fuse relocated from rear to front services 
compartment. </p>
<h2><span class="mw-headline" id="Commonisation_of_a.c._type_chassis:_September_.E2.80.9897">Commonisation of a.c. type chassis: September ‘97</span></h2>

<p>VIN: V 1685 (approx.) Plus; 1672, 1673, 1677, 1682. Less; 1694, 1708. </p>
<p>Shape of chassis, rear side of fuel tank crossmember, changed to accommodate a.c. compressor. Low level engine 
coolant outlet pipe. Re-circ. ventililation holes in chassis toe-board.</p>
<h2><span class="mw-headline" id="1998_Model_Year:_October_.E2.80.9897">1998 Model Year: October ‘97</span></h2>

<p>VIN: W 1814 onwards. </p>
<p>No specification change. </p>
<h2><span class="mw-headline" id="Revised_Harness_.26_Main_Fusebox:_October_.E2.80.9897">Revised Harness &#38; Main Fusebox: October ‘97</span></h2>

<p>VIN: W 1941 onwards. Plus; 1920, 1926, 1937, 1938. Less; 1965, 2002. </p>
<p>New harness introduced to accommodate optional U.K. market Cobra 6422 alarm. New main fusebox with 22 ‘Littel’ 
fuses in front luggage compartment. </p>
<h2><span class="mw-headline" id="Optional_U.K._Market_Cobra_6422_Alarm:_October_.E2.80.9897">Optional U.K. Market Cobra 6422 Alarm: October ‘97</span></h2>

<p>VIN: W 1947 onwards. Plus 1937, 1938. </p>
<p>Option upgraded from Cobra 6019HF to 6422. Facility to reprogramme transmitter keys. Override switch deleted. </p>
<h2><span class="mw-headline" id="Front_Brake_Disc_Shields:_December_.E2.80.9897">Front Brake Disc Shields: December ‘97</span></h2>

<p>VIN: W 2260 (approx.) </p>
<p>Alloy shield fitted on inboard side of front discs. </p>
<h2><span class="mw-headline" id="Revised_Soft_Top_Cant_Rails:_May_.E2.80.9898">Revised Soft Top Cant Rails: May ‘98</span></h2>

<p>VIN: W 3332 </p>
<p>Latches on rear end of roof cant rails use new dovetail design to improve location. Door seals changed to incorporate moulded front ends to mate with new cantrail front seals. New soft top canopy with press studs repositioned to suit 
new cant rails. Parts set required to fit <a class="external text" href="http://wiki.seloc.org/index.php/Hardtop" rel="nofollow">hardtop</a> roof.</p>
<h2><span class="mw-headline" id="Cast_Iron_Brakes:_June_.E2.80.9898">Cast Iron Brakes: June ‘98</span></h2>

<p>VIN: W 3714 (approx.) </p>
<p>Cast iron brake discs and corresponding pads replace aluminium metal matrix brakes. </p>
<h2><span class="mw-headline" id="Integral_Boot_Box:_September_.E2.80.9898">Integral Boot Box: September ‘98</span></h2>

<p>VIN: W 4429 (approx.) Plus; 4140, 4315, 4365, 4383. Less 4653. </p>
<p>Rear clamshell incorporates integral luggage compartment box to replace luggage bag.</p>
<h2><span class="mw-headline" id="1999_Model_Year:_November_.E2.80.9898">1999 Model Year: November ‘98</span></h2>

<p>VIN: X 4976 onwards. </p>
<p>No specification change. </p>



<h2><span class="mw-headline" id="Sport_135:_November_.E2.80.9898">Sport 135: November ‘98</span></h2>

<p>VIN: X 5401 - 5450, 6001 - 6035. </p>
<p>Original batch (50 cars): 135 bhp cylinder head; Close ratio gearbox; Sports exhaust; Red, competition style seats; Red sports steering wheel; Drilled 
iron brake discs; Quicksilver paint with blue soft top; Headlamp covers; Sport 135 side decals; Silver roll over bar. 2nd batch 
variations (35 cars): 111S wheels, tyres &#38; spats; black painted fuel filler cap; matt finish alloy gear knob; Sport 135 99 side decals.</p>
<h2><span class="mw-headline" id="Integral_Stud_Toe-Link_Ball_Joints:_December_.E2.80.9898">Integral Stud Toe-Link Ball Joints: December ‘98</span></h2>

<p>VI: X 5479
Rear suspension toe-link ball joint design changes to incorporate integral M10 stud.</p>
<h2><span class="mw-headline" id="50th_Anniversary_Elise:_January_.E2.80.9899">50th Anniversary Elise: January ‘99</span></h2>

<p>VIN: X 5463 - 5816 (total 51) </p>
<p>Anniversary green with gold painted wheels, green/rafia leather seats, ‘Elise’ floor mats, gold decals, 50th Anniversary decal on 
rear transom, hard top and certificate of authenticity.  Just 50 of these special editions were made. </p>
<h2><span class="mw-headline" id="Angled_Rear_Window:_January_.E2.80.9899">Angled Rear Window: January ‘99</span></h2>

<p>VIN: X 5558 </p>
<p>Rear window mounted in angled surround.</p>
<h2><span class="mw-headline" id="Elise_111S:_January_.E2.80.9899">Elise 111S: January ‘99</span></h2>

<p>VIN: X 5722 </p>
<p>VVC engine &#38; close ratio transmission. Revised muffler &#38; tailpipes. Cross-drilled iron discs. Lotus styled 6-spoke 
road wheels, 7.5” rear rims with 225/45 ZR16 rear P Zeros. Optional rear spoiler extension. Acrylic headlamp covers &#38; 
smoke front indicator lenses. Composite engine lid, rear wheelarch spats, ‘111S’ decal on rear body &#38; fascia, moulded 
air intake grille. Forged alloy window winders, weave patterned dash inserts, revised seat foams &#38; stitching. </p>


<h2><span class="mw-headline" id="Elise_.E2.80.98JPS.E2.80.99:_July_.E2.80.9899">Elise ‘JPS’: July ‘99</span></h2>

<p>Available based on either standard or 111S versions. Black body colour. All cars have gold painted grilles as follows; radiator air intake, radiator outlet, engine lid outlet, rear clamshell recess, engine bay intake. All cars have gold 
painted 111S type road wheels, black and gold Alcantara steering wheel, gold painted dash insert panels, 111S type 
black leather seats with gold Alcantara centres, gold decals on rear body and dash, black &#38; gold nose badge, Union Flag 
decal on rear. Standard versions also have headlamp covers and rear wheelarch spats. </p>


<h2><span class="mw-headline" id="Elise_.E2.80.98Type_49.E2.80.99:_October_.E2.80.9899">Elise ‘Type 49’: October ‘99</span></h2>

<p>Available based on either standard or 111S versions. Two tone red/white body colour. All cars have gold painted 
111S type road wheels, black and red Alcantara steering wheel, 111S type black leather seats with red Alcantara centres, gold decals. Standard versions also have headlamp covers and rear wheelarch spats. </p>


<h2><span class="mw-headline" id="Elise_.E2.80.98Millenium.E2.80.99:_October_.E2.80.9899">Elise ‘Millenium’: October ‘99</span></h2>

<p>Available based on either standard or 111S versions. Atlantis Blue body colour. All cars have blue Alcantara steering 
wheel pad and sill trim panels, 111S type black leather seats with blue Alcantara centres. Standard versions also have 
111S type road wheels, rear wheelarch spats and headlamp covers. Cars were usually supplied with a range of dealer 
fitted Lotus accessories. </p>
<p>Forged Steel Rear Hub Carriers: November ‘99 </p>
<p>VIN: X 8177 (approx.) </p>
<p>New design forged steel rear hub carrier replaces extruded alloy carrier, and incorporates calliper mounting plate, 
and lower ball joint carrier. </p>


<h2><span class="mw-headline" id="Elise_340R:_January_.E2.80.9800">Elise 340R: January ‘00</span></h2>

<p>VIN: Y 0004 to 0009, 9640 onwards. </p>
<p>Limited edition of 340. Extreme lightweight version of the Elise, based on modified standard chassis fitted with minimalist bodywork and a detuned, road going version of the VHPD powertrain. See 340R supplement for full specification. </p>


<h2><span class="mw-headline" id="Sport_160:_February_.E2.80.9800">Sport 160: February ‘00</span></h2>

<p>SVA: VIN: Y 0601 to 0650. </p>
<p>WVTA: VIN: Y 0651 onwards. </p>
<p>First 50 cars with Single Vehicle Approval. Subsequent cars Whole Vehicle Type Approved. High performance derivative, based on 111S specification with 160 PS fixed valve timing engine. WVTA versions require airbox modification 
and sport exhaust fitment for full power release. Other features include new engine controller, sport suspension, ‘race’ wheels, plinth mounted rear aerofoil, Alcantara trimmed seats and steering wheel pad, body decals.</p>
<h2><span class="mw-headline" id="Exige:_July_.E2.80.9800">Exige: July ‘00</span></h2>

<p>VIN: Y 0001 (Character 13 = 8) - model specific serial number sequence. </p>
<p>Road going version of the Elise race series car, with 178 bhp 340R engine, close ratio transmission, sport suspension 
and larger 12-spoke black finish wheels (16x7 &#38; 17x8.5) with Yokohama A039 tyres. Front and rear clamshells styled 
as race car with pillar mounted rear aerofoil. Clear polycarbonate rear tailgate with air ducting, linked to roof mounted 
air intake duct. Optional Alcantara sports seats and 340R harnesses. Meta security system. Roof duct mounted radio 
aerial. </p>
<h1><span class="mw-headline" id="Series_2_-_K-series">Series 2 - K-series</span></h1>

<h2><span class="mw-headline" id="Elise_.E2.80.98Mk.2.E2.80.99_Introduction:_November_2000">Elise ‘Mk.2’ Introduction: November 2000</span></h2>

<p>VIN character 10 = 1; VIN character 13 = 7; Serial number from 0018. </p>
<p>Changes from previous model include: Restyled body and interior; revised soft top with integral cantrails; revised 
door window guides; chassis siderails lowered at cockpit sides; revised suspension with new hubs and steel hub carriers; revised engine spec. with Lotus K4 controller to meet ECD3; close ratio transmission; larger diameter road wheels 
with Bridgestone Potenza tyres; new brake discs and pads; new fuel tank and pump; Meta vehicle security system; battery moved to rear luggage compartment; new heater system with rotary controls; new exhaust muffler with outboard 
tailpipes. </p>
<p>Air Conditioning Option: February 2002 </p>
<p>Co-incident with 2002 model year changepoint. VIN character 10 = 2; Serial number from 1936. </p>
<p>VIN character 12: C = RHD heater, D = LHD heater, N = RHD a.c., P = LHD a.c. </p>
<p>Cars with heater only continue unchanged, but a.c. cars use new heating, ventilation and air conditioning (HVAC) 
system, incorporating face level vents, dual intake blower fan, air blender flap without water valve, electrical rotary 
controls with stepper motor operated flaps. Larger engine cooling radiator with twin fans. Coolant re-circulation pump. 
Cobra 8185/8186 security system. </p>
<p>Cobra 8185/8186 Vehicle Security System: February 2002 </p>
<p>Fitted on all cars with a.c. (see above) and then as running change to heater cars during March. </p>
<p>Cobra 8185 immobiliser becomes standard specification. 8186 optional upgrade to meet U.K. Thatcham 1 requirements, including self powered siren, selectable intrusion sensor, illuminated entry. </p>

<h2><span class="mw-headline" id="Hard_Top_Roof_and_.E2.80.98Short.E2.80.99_Soft_Top:_March_2002">Hard Top Roof and ‘Short’ Soft Top: March 2002</span></h2>


<p><a class="external text" href="http://wiki.seloc.org/index.php/Hardtop" rel="nofollow">Hardtop</a> roof panel introduced as factory option. Incorporates revised rear window shroud with external weatherstrip 
and new, shorter, soft top without tails. </p>


<h2><span class="mw-headline" id="Elise_111_.26_111S:_May_2002">Elise 111 &#38; 111S: May 2002</span></h2>

<p>VIN character 4 = J; Serial number from 2677. </p>
<p>Std. car continues unchanged. 111 &#38; 111S versions available as option, including: 160ps VVC engine; ‘G6’ transmission ratios; new exhaust muffler with round tailpipes and flap valve; intake resonator box; oil/water heat exchanger; 
larger type (a.c.) radiator, twin rad. fans and re-circ. pump; 8-spoke heat treated road wheels; enhanced rear diffuser; 
Shurlock instrument pack; heater cars use HVAC system (see above) less a.c. equipment. </p>


<h2><span class="mw-headline" id="2003_Model_Year:_January_2003">2003 Model Year: January 2003</span></h2>

<p>VIN character 10 = 3; Serial number from 4397. </p>
<p>No specification change. </p>


<h2><span class="mw-headline" id="Lotus_Sport_135R:_May_2003">Lotus Sport 135R: May 2003</span></h2>

<p>VIN character 4 = M; Serial number from 4612. </p>
<p>Sports option for U.K. only. Based on standard car with following changes: 100kW engine with modified porting, 
111/111S type intake manifold, 52mm throttle body and complete exhaust system, re-programmed <a href="http://wiki.seloc.org/a/ECM" title="ECM">ECM</a>. Sports suspension with stiffer springs and dampers, adjustable spring pans, 5-hole anti-roll bar, re-positioned steering rack. O.Z. 
16-spoke roadwheels in black or silver with 6.5J front rims. Yokohama A048 tyres. Cross-drilled brake discs. 111/111S 
rear diffuser. Body colour Silver Mica, Blue Mica or Saffron Yellow. Body colour grilles on mica cars. ‘Lotus Sport 135R’ 
decals and interior embroidery. Blue Alcantara trim features. Plaque on passenger sill. </p>


<h2><span class="mw-headline" id="Lotus_Sport_111:_May_2003">Lotus Sport 111: May 2003</span></h2>

<p>Aluminium plate etched ‘Lotus Sport 111’ bonded to chassis below VIN at right hand front. </p>

<p>‘04 M.Y. VIN from serial number 0004. </p>
<p>Track biased option for Australia, Hong Kong, Japan, Singapore. Based on Elise 111 with following changes: Sports 
suspension with stiffer springs and dampers, adjustable spring pans, 5-hole anti-roll bar, re-positioned steering rack. </p>
<p>O.Z. 16-spoke roadwheels in black or silver with 6.5J front rims. Yokohama A048 tyres. Body colour Silver Mica, Blue 
Mica, Starlight Black, Ardent Red. Body colour grilles. ‘Lotus Sport 111’ decals and interior embroidery. Black Alcantara 
trim features. High grade roof hoop with optional forward brace for MSA approval. Plaque on passenger sill. 
2004 Model Year: May 2003 </p>
<p>VIN character 10 = 4; Serial number sequence re-started at 0001. </p>
<p>Range as previous with following new features: Optional central door locking on driver’s and passenger’s doors 
operated via Cobra 8185/8186 alarm transmitter. Electric window operation combined with CDL option. Gearchange 
mechanism noise suppression. Interior noise suppression package on ‘S’ variants. Uprated battery, bar graph fuel display, orange backlighting, restyled repeater lamps, optional CD multichanger in boot, aerial ground plane, washer bottle 
in engine compartment, optional Tracker security. Sun visors, new trim features. Lotus roundel on rear transom. Red 
spark plug cover.</p>
<h2><span class="mw-headline" id="2004_Model_Year:_May_2003">2004 Model Year: May 2003</span></h2>

<p>VIN character 10 = 4; Serial number restarts at 0001.</p>
<p>Range as previous with following new features: Optional central door locking on driver&#39;s and passenger&#39;s doors operated via Cobra 8185/8186 alarm transmitter. Electric window operation combined with CDL option. Gearchange mechanism noise suppression. Interior noise suppression package on &#39;S&#39; variants. Uprated battery, bar graph fuel display, orange backlighting, restyled repeater lamps, optional CD multichanger in boot, aerial ground plane, washer bottle in engine compartment, optional Tracker security. Sun visors, new trim features. Lotus roundel on rear transom. Red spark plug cover.</p>
<h2><span class="mw-headline" id="2005_Model_Year:_October_2004">2005 Model Year: October 2004</span></h2>
<p>VIN character 10 = 5; Serial number sequence continues</p>
<p>Specification unchanged.</p>
<h2><span class="mw-headline" id="Revised_5-speed_Transmission_for_Standard_Elise:_July_2005">Revised 5-speed Transmission for Standard Elise: July 2005</span></h2>

<p>VIN serial number 4919</p>
<p>Transmission for Rover powertrain cars changed from B4BP to C4BP.</p>
<p>Lowered 1st &#38; 2nd gear ratios, raised 5th gear ratio.</p>
<h2><span class="mw-headline" id="2006_Model_Year:_September_2005">2006 Model Year: September 2005</span></h2>

<p>VIN character 10 = 6; Serial number restarts at 0001, common to all variants.</p>
<p>Specification unchanged.</p>
<h1><span class="mw-headline" id="Series_2_-_Toyota">Series 2 - Toyota</span></h1>

<h2><span class="mw-headline" id="Elise_111R_Introduction:_January_2004">Elise 111R Introduction: January 2004</span></h2>

<p>VIN character 4 = P; Character 13 = 3; Serial number from 0970 </p>
<p>Note that the serial number sequence is shared with other Elise variants. </p>
<p>Changes from previous model include: Toyota powertrain with 1.8 litre VVTL-i engine and 6-speed transmission. 
Twin exhaust tailpipes exiting through centre of diffuser. Larger fuel tank with new pump. Revised chassis rail rear 
ends, new rear subframe, revised seat belt mounting frame backstays. Revised rear suspension wishbones, springs 
and dampers. ABS brake control with vacuum servo. Revised front bonnet grilles and access covers. </p>


<h2><span class="mw-headline" id="2004_Exige_Introduction:_March_2004">2004 Exige Introduction: March 2004</span></h2>

<p>VIN character 4 = P; Character 13 = 8; Serial number from 1092 </p>
<p>Note that the serial number sequence is shared with other Elise variants. 
Differences compared with Elise 111R include: Restyled front and rear clamshells with fixed roof and strut mounted rear 
aerofoil. Front body splitter panel. Re-styled road wheels, wider on the front, and Yokohama A048 tyres. </p>


<h2><span class="mw-headline" id="2005_M.Y._Elise_for_North_America:_May_2004">2005 M.Y. Elise for North America: May 2004</span></h2>

<p>VIN character 10 = 5; Character 12 = L; Serial number from 0001 </p>
<p>Note that the serial number sequence is shared with other ‘05 M.Y. Elise variants. </p>
<p>Differences compared with Elise 111R include: Driver and passenger airbags, pyrotechnic seat belt pre-tensioners; 
Re-styled fascia and dashboard structure; Front speakers moved onto top surface of fascia, stowage pockets incorporated into dashboard end panels, fixed windscreen demist vents. Engine start button in driver’s side switch panel. 
Revised springs and dampers, Yokohama AD07 tyres. Side marker lamps on front and rear wheelarch lips. Revised 
fuel system with fuel filler flap. </p>


<h2><span class="mw-headline" id="2005_M.Y._Elise.2FExige_.28non-USA.29:_Sept._2004">2005 M.Y. Elise/Exige (non-USA): Sept. 2004</span></h2>

<p>VIN character 10 = 5; Serial number from 0597 (sequence shared with USA model). </p>
<p>No specification change. Note; last ‘04 serial number 2476.</p>

<h2><span class="mw-headline" id="Lotus_Sport_Exige_240R:_March_2005">Lotus Sport Exige 240R: March 2005</span></h2>

<p>Limited edition of 50 units produced as post registration official factory conversions of &#39;05 Exige by the Lotus Sport
workshops at Hethel, for U.K. and certain overseas territories. The car is not identifiable from the VIN coding.
Differences compared to standard Exige include: 243 bhp engine upgrade using 
<a class="external text" href="http://www.automotive.eaton.com/product/engine_controls/superchargers/M62.asp" rel="nofollow">Eaton M62 supercharger</a> with
integral by-pass valve, air/air chargecooler and 5th fuel injector. Re-programmed ECU. Accusump. Stiffened springs &#38;
Ohlins adjustable dampers. Adjustable front anti-roll bar. Chassis rear brace kit. Forged 5-spoke widened roadwheels
&#38; Yokohama A048 tyres. Motorsport brake pads, braided hoses, yellow callipers, silicone brake fluid. Sport Yellow body
colour with black wheels, or Sport Black body with silver wheels. Black interior with yellow inserts. 4-point harnesses,
T45 roof hoop and backstays.</p>
<h2><span class="mw-headline" id="2006_M.Y._Introduction:_September_2005">2006 M.Y. Introduction: September 2005</span></h2>

<p>VIN character 10 = 6; Serial number restarts at 0001, common to all variants.<br />
Introduction of USA Exige and Canadian Elise.<br />
5-speed Elise remains unchanged.<br />
Differences between 6-speed &#39;06 Elise and &#39;05 include; Electronic throttle control (using no mechanical cable).</p>
<p><a class="external text" href="http://wiki.seloc.org/index.php/Traction_control" rel="nofollow">Optional Lotus Traction Control (LTC)</a> or <a class="external text" href="http://wiki.seloc.org/index.php/Limited_slip_differential" rel="nofollow">Limited Slip Differential</a><a class="external text" href="http://wiki.seloc.org/index.php/Limited_slip_differential" rel="nofollow">(LSD)</a> with <a class="external text" href="http://wiki.seloc.org/index.php/Traction_control" rel="nofollow">LTC</a>. </p>
<p>Standard fit Yokohama AD07 tyres on non-USA cars.<br />
Optional forged wheels with new 6.0 in front size.<br />
LED rear lamp clusters incorporating reflectors (formerly separate), and commonised USA type CHMSL.<br />
ProBax seat foams.<br />
New body colours.</p>
<p>USA &#38; Canadian Elise; revised fuel tank and evap. loss system. Canadian Elise uses daytime running lights and clutch down start allow switch.<br />
USA Exige similar to non-USA, but with USA airbag interior.</p>
<h2><span class="mw-headline" id="Sports_Racer:_October_2005">Sports Racer: October 2005</span></h2>

<p>Special paint versions of &#39;06 M.Y. 111R in either Ardent Red with triple Monaco White stripes, or Nightfall Blue with
twin Monaco White stripes. Combined total of 199 units with unique build plate on sill. Forged wheels, sport suspension,
twin front oil coolers, <a class="external text" href="http://wiki.seloc.org/index.php/Traction_control" rel="nofollow">LTC</a>. Black leather interior with red or blue stitching, and red or blue &#39;Elise&#39; embroidered into
head restraints. Sports Racer decals.</p>

<h2><span class="mw-headline" id="Exige_Cup_190_.26_240:_January_2006">Exige Cup 190 &#38; 240: January 2006</span></h2>

<p>Limited number of competition oriented naturally aspirated (190) or supercharged (240) models produced as post
registration official factory conversions of &#39;06 Exige by the Lotus Sport workshops at Hethel for U.K. and certain overseas
territories. Not identifiable from VIN coding.
Differences compared to 240R (see above) include: Electronic throttle, high flow port injectors (no 5th).Cup 240
fitted with torque sensing <a class="external text" href="http://wiki.seloc.org/index.php/Limited_slip_differential" rel="nofollow">LSD</a> with <a class="external text" href="http://wiki.seloc.org/index.php/Traction_control" rel="nofollow">LTC</a>. Cup 190 uses friction plate <a class="external text" href="http://wiki.seloc.org/index.php/Limited_slip_differential" rel="nofollow">LSD</a>. Standard Exige wheels in &#39;Hi-power&#39; silver.
Race cars fitted with FIA 6-point roll cage, remote kill switch, extinguisher system. Standard body colours.</p>
<h2><span class="mw-headline" id="Exige_S:_February_2006">Exige S: February 2006</span></h2>

<p>VIN character 4 = P
Factory built type approved supercharged Exige. Not USA.
Differences to standard Exige include: 221 PS supercharged engine similar to 240R but using electronic throttle,
smooth flow inlet adaptor, standard injectors without 5th injector, modified downpipe, revised muffler with single oval
tailpipe. Enlarged roof duct inlet for chargecooler. Body colour splitter, scoops and aerofoil. &#39;Exige S&#39; decal on rear
transom, &#39;S&#39; on front quarter panels.</p>
<h2><span class="mw-headline" id="USA_Lotus_Sport_Elise:_March_2006">USA Lotus Sport Elise: March 2006</span></h2>

<p>Limited edition of 50. Saffron Yellow with twin Storm Titanium stripes. Saffron Yellow centre console. Yellow highlighted
sports seats, &#39;carbon&#39; door trim inserts. Harness bar, T45 seat belt mounting frame. Motorsport mats, stalks,
winders and parking brake sleeve. Traction control, supersport suspension, black forged wheels, Yokohama A048s,
braided brake hoses, silicone fluid, motorsport clutch. Lotus Sport decals and Union flags. Lotus Sport chassis plate.</p>
<h2><span class="mw-headline" id="2007_M.Y._.26_Elise_S_Introduction:_June_2006">2007 M.Y. &#38; Elise S Introduction: June 2006</span></h2>

<p>VIN character 10 = 7; Serial number restarts at 0001, common to all variants.<br />
VIN character 4 identifies engine type. Elise S = Y</p>
<p>Differences between &#39;07 Elise/Exige and &#39;06 include:
</p>
<ul>
<li>Elise 111R renamed Elise R</li>
<li>New sealed headlamp units</li>
<li>Raised LOTUS lettering on rear transom</li>
<li>Additional screen pillar seal</li>
<li>Alpine audio</li>
<li>Improved HVAC ducting.</li>
</ul>

<p>New model Elise S uses 1ZZ-FE engine producing 100 kW, with variable inlet timing but fixed valve lift, plastic inlet manifold, revised
intake snorkel, revised exhaust manifold and downpipe, smaller tailpipes within standard trims.<br />
Elise S also uses new C56 5-speed transmission and 6-spoke roadwheels sharing styling of standard &#39;01 model wheels.</p>
<h2><span class="mw-headline" id="USA_Exige_S:_October_2006">USA Exige S: October 2006</span></h2>

<p>The specification of the USA Exige S is that of the standard USA Exige and option packs, apart from the engine, which is as non-USA Exige S with the following exceptions: High flow port injectors, specific engine programming, 223 PS, 223 Nm. Carry-over features from the non-USA Exige S include exhaust downpipe and optimised muffler with single oval tailpipe. roof air intake funnel mouth.</p>
<h2><span class="mw-headline" id="Exige_S_British_GT_Special_Edition:_November_2006">Exige S British GT Special Edition: November 2006</span></h2>

<p>Celebrating Lotus Sport Cadena’s 2006 British GT3 Team Championship victory</p>
<p>Differences to standard Exige S include:<br />
Torsen LSD &#38; Lotus Traction Control.<br />
Chassis rear brace kit.<br />
T45 roof hoop &#38; stays.<br />
Braided brake hoses.<br />
Level 1 sports exhaust.<br />
Forged 7-bifurcated spoke silver wheels.<br />
Lotus Sport black metallic body colour with Sport yellow &#38; Arctic silver quad stripes, supplier decals on sills, Lotus Sport visor strip, Cadena decals on front wings, GT3 decal on rear clam, GT3 winners decal with unique build number on rear quarter panel, Lotus sport build plate with build number.<br />
4-point harnesses<br />
Black/yellow door trims and unique black/yellow trimmed seats.<br />
Optional a.c.<br /></p>
<p>Optional GT pack available as post registration official factory conversion by Lotus Sport workshops at Hethel for U.K. and certain overseas territories, includes:<br />
High flow injectors<br />
Different ECU &#38; unique calibration for 243 bhp<br />
Accusump<br />
2-way adjustable Ohlins dampers with uprated springs<br />
308mm front discs &#38; 4-piston calipers<br />
Pagid pads<br />
Castrol SRF brake fluid.</p>
<h2><span class="mw-headline" id="USA_Low_Speed_Damage_Mitigation:_January_2007">USA Low Speed Damage Mitigation: January 2007</span></h2>

<p>From ‘07 USA VIN serial no. 1579
To meet USA safety legislation, modifications made to Elise/Exige:<br />
Front; armatures and foam inserts added between crash structure and clamshell.<br />
Rear; bumper panel housing foam pads either side of license plate, narrower rear grilles, reinforced boot floor and diffuser support panel, stiffened diffuser.<br />
Some elements commonised for all markets.</p>
<h2><span class="mw-headline" id="Lotus_Sport_Exige_Cup_255:_January_2007">Lotus Sport Exige Cup 255: January 2007</span></h2>

<p>Produced as post registration official factory conversions of ‘07 Exige S by the Lotus sport workshops at Hethel for certain territories, excluding U.K. and USA. Not identifiable from VIN coding.</p>
<p>Based on Exige Cup 240 (see above)with the following differences:<br />
Power increase to 255 PS by; unique ECU calibration, enlarged chargecooler, extended roof duct, larger air cleaner and intake spout, uprated fuel pump.<br />
A.P. Racing 4-piston alloy front calipers, 308mm front discs.</p>
<h2><span class="mw-headline" id="2-Eleven_Introduction:_May_2007">2-Eleven Introduction: May 2007</span></h2>

<p>VIN character 6/7/8 = 123; Character 13 = 2</p>
<p>Extreme, minimalist, track focussed Elise variant based on Exige Cup 255 powertrain componentry, but using a new chargecooler arrangement. Produced
in small numbers for U.K. and certain overseas territories. In U.K. only, SVA road going version avilable. All other territories only for track use, in LHD or RHD.</p>
<p>New body with no doors or roof. Aeroscreen. Rear aerofoil in two versions. FIA compliant roll over bar. Chassis rear brace, unique front top wishbones and steering arms, optional Ohlins suspension. Accusump, twin front oil coolers. Standard LTC, optional variable LTC &#38; Launch Control. Uprated clutch. Odyssey battery. Limited warranty for SVA cars. Extensive options list.</p>
<h2><span class="mw-headline" id="USA_Elise_Limited_Edition_.E2.80.98Type_72D.E2.80.99">USA Elise Limited Edition ‘Type 72D’</span></h2>

<p>Limited edition of 50 cars to commemorate the 35th anniversary of Lotus’F1 1972 World Championship victory with the type 72D.</p>
<p>Phantom black body colour with hand painted gold pinstriping. Rear body spoiler, black diffuser. Gold laurel leaf decal on front quarters, gold
‘Elise’ and ‘Type 72D’ decals, gold raised LOTUS lettering, gold/black nosebadge, gold fuel filler cap. Gold Exige 8 split-spoke with Yokohama
A048 tyres and sports suspension. Black &#38; gold seats and interior trim details with Limited Edition plaque. Scale model crash helmet.</p>
<h2><span class="mw-headline" id="Exige_Club_Racer:_September_2007">Exige Club Racer: September 2007</span></h2>

<p>Limited edition of 25 for U.K. Unlimited for Europe.</p>
<p>For U.K., spec. based on ’07 Exige S with Sport, Touring and Super Touring packs and a.c.. Sports exhaust supplied for dealer fitment.
For Europe, spec. based on ’08 Exige S (see below) with Sport and Performance packs. Forged wheels.</p>
<p>All cars: Hethel track decal on rear transom, Le Mans blue body with Phantom black triple stripe. Black leather and carbon effect trim with colour
coded stitching.</p>
<h2><span class="mw-headline" id="Introduction_of_2008_Model_Year_Elise.2FExige:_October_2007">Introduction of 2008 Model Year Elise/Exige: October 2007</span></h2>

<p>VIN character 10 = 8.<br />
VIN serial number restarts at 0001.<br />
Exige N.A. built only to special order.</p>
<p>All cars now with dual airbags and start button in matt charcoal finish fascia.<br />
PFK 457 security system with Lotus design transmitter key.<br />
Tyre pressure monitoring for USA only.<br />
High rpm sequential tell tales.<br />
CAN bus diagnostics using laptop Lotus Techcentre.<br />
New paint colours.<br />
Performance Pack option (VIN character 4 = W) with 240 hp calibration, high flow injectors, big roof scoop, uprated clutch, 4-piston front brake callipers and enlarged front discs, variable traction and launch control (excludes warranty).</p>
<h2><span class="mw-headline" id="Elise_S_Hethel_40th_Limited_Edition:_October_2007">Elise S Hethel 40th Limited Edition: October 2007</span></h2>

<p>Commemorating 40 years of production at Hethel.</p>
<p>All LHD.‘08 M.Y. Elise S in Burnt Orange with hardtop. Orange body grilles and centre console. Black diffuser and wheels. Black leather seats and door trim with orange stitching. Build plaque. Country decals below side repeater lamps. 7 Union Flag, 6 Swiss, 2 Belgium, 4 French, 10 German, 6 Italian.</p>

<h2><span class="mw-headline" id="Elise_.E2.80.98California.E2.80.99_Limited_Edition:_October_2007">Elise ‘California’ Limited Edition: October 2007</span></h2>

<p>USA only, 25 off Ardent Red with cream/red leather and champagne trim, 25
off saffron Yellow with black leather and champagne trim.</p>
<p>Based on USA Elise with touring pack. Rear body spoiler. Silver front intake grilles, other grilles in body colour. 16-spoke cast wheels in Hi-power silver, AD07 tyres. Lotus roundel and California decals on front wings. Sports seats in cream &#38; red or black leather. Other trim in cream &#38; red or black leather. Hardtop lining in Beige cloth. RHD footwell divider.</p>
<h2><span class="mw-headline" id="Exige_Sprint:_November_2007">Exige Sprint: November 2007</span></h2>

<p>Limited edition of 40 cars for U.K. market, one for each year from 1967
to 2006.</p>
<p>’08 M.Y. Exige S with Sport, Touring and Performance Pack, a.c., black forged wheels, 2-tone paint in Aspen White and either Persian Blue or Saffron Yellow, with gold decal strip and ‘Exige Sprint’ logo. Union flag on rear body, laurel decal on LHR quarter, colour coded leather seats and trim, embroidered footwell carpet mats. Build plaque on chassis sill.</p>
<h2><span class="mw-headline" id="Introduction_of_Elise_SC:_February_2008">Introduction of Elise SC: February 2008</span></h2>

<p>Supercharged Elise without chargecooler<br />
VIN character 4 = Z</p>
<p>Based on Elise R, but using new Eaton M45 supercharger rotor pack integrated into inlet manifold, high flow fuel injectors and unique calibration to produce 220 PS.<br />
Rear body spoiler<br />
Lotus styled 12 spoke road wheels in6.0 and 8.0 front/rear widths, standard AD07 tyres.<br />
Wheelarch lips on non-USA cars.<br />
‘Elise Supercharged’ decals on rear transom and front wings.</p>
<h2><span class="mw-headline" id="Lotus_Sport_Exige_Cup_260:_February_2008">Lotus Sport Exige Cup 260: February 2008</span></h2>

<p>Fully Type Approved version of Exige Cup 255 (see above).<br />
VIN character 4 = A</p>
<p>Based on Exige S with: Big roof scoop, high output fuel pump, unique calibration to produce 260 PS. Accusump, uprated clutch, Torsen LSD, Variable
Traction and Launch control (excludes warranty). 4-piston front brake callipers and enlarged front discs, braided hoses, Bilstein or Ohlins adjustable spring/dampers, stiff adjustable ARB in hard mounts, hi-power silver 16-spoke cast wheels, A048 tyres. FIA compliant battery isolator and plumbed in fire extinguisher. T45 seat belt anchorage frame. FIA compliant cage and 4-point harnesses supplied separately. NO airbags and none pre-tensioner 3-point belts. No CDL. Black Alcantara/carbon effect seats and door trim. Build plaque on dash, ‘Lotus Sport’ decal on front quarter panels, ‘Cup 260’ decal on rear transom, black diffuser. Restricted warranty.</p>
<h2><span class="mw-headline" id="USA_Elise_SC_.E2.80.9960th_Anniversary.E2.80.99:_May_2008">USA Elise SC ’60th Anniversary’: May 2008</span></h2>

<p>Limited edition of 60 USA cars to commemorate 60th anniversary of Lotus cars.</p>
<p>Based on Elise SC with hard and soft tops, Touring and Sport Packs, supersport suspension, forged wheels, A048 tyres, T45 seat belt frame &#38; harness bar. Body and double stripe paint in BRG/Saffron, Saffron/Black, Black/Arctic, Storm Titanium/Canyon Red. Complimentary trim inserts and 60th Anniversary embroidery. Anniversary decal on rear transom.</p>
<h2><span class="mw-headline" id="Clark_Type_25_Elise_SC:_June_2008">Clark Type 25 Elise SC: June 2008</span></h2>

<p>edition of 25 U.K. cars to commemorate 40th anniversary of Jim Clark’s death. Donation for each car sold to Jim Clark memorial fund.</p>
<p>Based on Elise SC with hard top and Sport Pack. BRG (B04) with Saffron single centre stripe, Lotus Sport wheels with black spokes and silver rims, A048 tyres. Black &#38; red leather themed interior, with sports seats, wood gearknob and build plaque. Type 25 decal on rear transom, Jim Clark signature on LH buttress and inner door panels, race roundels on doors with Type 25 decals.</p>
<h2><span class="mw-headline" id="2009_M.Y._Introduction:_September_2008">2009 M.Y. Introduction: September 2008</span></h2>

<p>(Final ‘08 cars: Elise 2308; Exige 2304; 2-Eleven 22940)<br />
VIN character 10 = 9. VIN serial number restarts at 0001<br />
No changes apart from Cup260</p>
<h2><span class="mw-headline" id="2009_M.Y._Lotus_sport_Exige_Cup_260:_October_2008">2009 M.Y. Lotus sport Exige Cup 260: October 2008</span></h2>

<p>Lightweight body panels using carbon fibre, rear window deleted from rear bulkhead. Lightweight components incl. battery, c/c U-bends, billet flywheel, new 12-spoke roadwheels in 7 &#38; 8 inch widths, rear subframe with DeltaProtect coating, deletion of footwell pads, interior mirror, sunvisors, tailgate strut. HANS approved seats. Body colured SBAF ‘A’ . Chassis drilled for front cage. New body graphics.</p>
<h2><span class="mw-headline" id="2010_M.Y._Introduction:_May_2009">2010 M.Y. Introduction: May 2009</span></h2>

<p>(Final ‘09 cars: Elise TBA; Exige TBS; 2-Eleven TBA; USA TBA)<br />
VIN character 10 = A. VIN serial number restarts at 0001.</p>
<p>Elise range unchanged.<br />
Exige S (on USA &#38; Gulf only from 0360): Front clamshell with restyled lower section including larger intake ducts with horizontal vane in each oil cooler duct. New full width body colour front splitter. Wider, body mounted rear aerofoil, supported by end plates. All models: reduced emissions and improved economy figures.</p>
<h2><span class="mw-headline" id="Exige_S_Type_72:_December_2009">Exige S Type 72: December 2009</span></h2>

<p>Celebrates Type 72 twenty GP victories. Limited edition of 20 for U.K., 20 for Europe, plus selected RoW territories.</p>
<p>Phantom Black with gold pinstriping, gold Exige S on rear, Type 72 on passenger ‘B’ panel. Sport and Touring Packs. Machined forged 5-spoke wheels in blacl and gold. Black microfibre trim with gold stitching. Build plaque with GP win.</p>
<h2><span class="mw-headline" id="Exige_Scura.2FStealth:_January_2010">Exige Scura/Stealth: January 2010</span></h2>

<p>Limited edition of 35 cars for Europe and some RoW territories. Badged as ‘Stealth’ for Japan.</p>
<p>Based on Exige S with Cup 260 features including powertrain, suspension and body.. Soft feel matt black paint finish with gloss Phantom Black triple stripes. Forged 10 slitspoke wheels in matt black. Laquered carbon fibre seat shells and centre tunnel. Anthracite gear knob and parking brake sleeve.</p>
<h2><span class="mw-headline" id="2011_M.Y._Introduction:_March_2010">2011 M.Y. Introduction: March 2010</span></h2>

<p>VIN character 10 = B. VIN serial number restarts at 0001.</p>
<p>Exige range unchanged.</p>
<p>Changes to Elise range include:<br />
Revised front body with enlarged oil cooler intake ducts and chin spoilers<br />
Restyled radiator outlet ducts<br />
One-piece lift out access cover<br />
Aluminium mesh grilles<br />
Separate rear transom panel without faux end grilles<br />
New diffuser<br />
New headlamp units incorporating LED turn lamps and LED daytime running lamps.<br />
New 12-spoke cast roadwheels, or new 5-’Y’ spoke forged wheels.<br />
Elise S model replaced with 1.6 ltr, 1ZR FAE engine, featuring inlet and exhaust cam VVT-i, and VALVEMATIC inlet valve lift control, Lotus T6
controller; new 6-speed type EC60 transmission; revised rear subframe; optional cruise control.</p>
<h2><span class="mw-headline" id="Elise_SC_and_Exige_S_RGB_Special_Editions:_September_2010">Elise SC and Exige S RGB Special Editions: September 2010</span></h2>

<p>Limited edition of cars to celebrate the career of Roger Becker (RGB) the former Director of Vehicle Engineering who retired in January 2010 following 44 years of service.</p>
<p>Based on the Elise SC and the Exige S with Sports and Touring packs, rear subframe shear panel (Exige S only), Lotus ultra lightweight forged alloy wheels and air conditioning as standard.</p>
<p>Produced in four colours, Aspen White, Starlight Black, Solar Yellow &#38; Carbon Grey.</p>
<p>RGB special editions are identified by a numbered interior plaque, Roger Becker’s signature decals on the side of the bodywork and special monochrome Lotus nose badge.</p>
<h2><span class="mw-headline" id="Introduction_of_Lotus_Dynamic_Performance_Management_.28Lotus_DPM.29">Introduction of Lotus Dynamic Performance Management (Lotus DPM)</span></h2>

<p>Introduced at VIN BH_10391 in September 2011 for Elise with 1ZR powertrain only.</p>
<p>Kelsey Hayes ABS system replaced with Bosch ABS modulator incorporating electronic stability control referred as Lotus Dynamic Performance Management and HBA (Hydraulic Brake Assist). Revisions to tell tale lamps include addition of side light tell-tale, cruise control tell-tale (previously located on centre console) Lotus DPM tell-tales and revised functionality of coolant temperature tell-tale and LCD display.</p>
<h2><span class="mw-headline" id="Elise_CR_.28Club_Racer.29:_February_2011">Elise CR (Club Racer): February 2011</span></h2>

<p>Based on 1ZR powertrain for Europe and some ROW territories. Introduced as the entry level variant to the Elise range. Increased power to weight ratio over standard 1.6 Elise by deletion of certain standard factory fitted components such as carpets, radio and speakers, passenger footrest, central locking, mudflaps, NVH material and soft top roof (shower cover supplied). Lightweight battery fitment with isolator switch available to replace standard battery. Additional customer optional delete of airbag and pyrotechnic seat belt system as well as Dealer option fit of lighter weight forged wheels and ‘power pack’ consisting of TRD airbox, high flow filter and level 1 sports exhaust. A ‘Sport’ mode button is fitted as standard and located in the centre console opposite Lotus DPM switch. Sports suspension fitted as standard with adjustable yellow Anti-Roll bar.</p>
<p>Available in Saffron Yellow B106, Ardent Red C94, Sky Blue C124, Aspen White C113, Carbon Grey B137 &#38; Matt Black B141. The CR is fitted with a ‘Black Style Pack’ as standard, which includes a matt black finish to the roll hoop cover, the rear transom panel and door mirror covers.</p>
<p>Elise CR logos R/H rear clamshell &#38; LH/RH front clamshell above the side repeaters, top of roll hoop cover &#38; door interior. A rear ‘LOTUS’ decal replaces the rear 3D ‘LOTUS’ badge but still uses the standard Lotus logo nose badge. Body coloured seats, with SuedeTex pads, body coloured painted centre console with the Elise CR decal. Matt black radio blanking panel with CR decal. SuedeTex trim to door inserts, handbrake/gearlever gaiter and elements of the steering wheel (including steering wheel centre if airbag delete option selected).</p>
<p>See Technical Service Bulletin 2011/09 for full details</p>
<h1><span class="mw-headline" id="External_links">External links</span></h1>

<ul>
<li><a class="external free" href="http://www.elises.co.uk/models/index.html" rel="nofollow">http://www.elises.co.uk/models/index.html</a></li>
</ul>

<p>




</p>