<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Vehicle_Security_System">Vehicle Security System</a>
<ul>
<li class="toclevel-2"><a href="#Elise_S1_1996_to_2000">Elise S1 1996 to 2000</a>
</li>
<li class="toclevel-2"><a href="#Elise_Alarm_Upgrage_Option_pre_Oct_97">Elise Alarm Upgrage Option pre Oct 97</a>
</li>
<li class="toclevel-2"><a href="#Elise_Alarm_Upgrage_Option_After_Oct_97">Elise Alarm Upgrage Option After Oct 97</a>
</li>
<li class="toclevel-2"><a href="#340R_Exige_S1_and_Elise_S2_Before_Feb_02">340R Exige S1 and Elise S2 Before Feb 02</a>
</li>
<li class="toclevel-2"><a href="#Elise_S2_After_March_02">Elise S2 After March 02</a>
</li>
<li class="toclevel-2"><a href="#Elise_.26_Exige_S2_2008.3F_Onwards">Elise &#38; Exige S2 2008? Onwards</a>
<ul>
<li class="toclevel-3"><a href="#Transmitter_Key_battery_replacement">Transmitter Key battery replacement</a>
</li>
<li class="toclevel-3"><a href="#Emergency_Disarming.2Fmobilising">Emergency Disarming/mobilising</a>
</li>
<li class="toclevel-3"><a href="#Programming_Additional_Transmitters">Programming Additional Transmitters</a>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Vehicle_Security_System">Vehicle Security System</span></h2>


<p>Various security alarm systems have been used on the Elise, but whichever system is fitted,it is most important that the vehicle owner keeps secure records of the transmitter codes and mechanical key codes to allow replacements to be ordered in case of transmitter or key loss.
New cars are provided with duplicate keys/transmitters, and the security codes are supplied on tabs, stickers or printed cards, which information should be recorded and kept safely with the vehicle documents.</p>
<p>Spare transmitters and keys should be accessible at all times if the grief and misery of lock outs is to be avoided.</p>
<p>Spare or replacement transmitters and keys may be ordered from Lotus dealers quoting thesecurity codes, and are normally obtainable within a few days.
If the security codes have been lost, it is possible for the dealer, having adequately established proof of ownership, to request from Lotus a factory record archive search, for which a small charge is made.
This would of course be of no value if the alarm system or lock set has been replaced since factory build.</p>

<h3><span class="mw-headline" id="Elise_S1_1996_to_2000">Elise S1 1996 to 2000</span></h3>

<p>S1 1996 to 2000 model year Elise is fitted as standard with a Lucas 5AS security module which is electronically matched to the engine management system and provides the following security features:</p>
<p>The trapezoidal transmitter fob has two buttons, one smooth and one embossed with a padlock symbol. Replacement transmitters are purchased uncoded, and are matched to the car by a Lotus dealer using a scanner tool.</p>







<h3><span class="mw-headline" id="Elise_Alarm_Upgrage_Option_pre_Oct_97">Elise Alarm Upgrage Option pre Oct 97</span></h3>

<p>Optional upgrade on S1 Elise prior to October 1997 was a Cobra Goldline 6019HF,
which meets Thatcham Category One requirements and includes the following features:
- Ingress protection using sensing switches on the front bonnet, engine lid and both
doors;</p>
- Switchable intrusion sensing using a microwave sensor;

- Self powered siren;

- Passive engine immobilisation;

- Dynamic coding of the transmitter key.


<p>When the alarm is fully armed, triggering will occur if:</p>
- a door, bonnet or engine lid is opened;

- movement within the passenger compartment is detected.

- the vehicle power supply is interrupted.

<p>When triggered, the self powered siren will sound and the hazard warning lamps will flash.
The rectangular transmitter fob has a red and a blue button. Replacement transmitters are
ordered quoting the security code.</p>

<h3><span class="mw-headline" id="Elise_Alarm_Upgrage_Option_After_Oct_97">Elise Alarm Upgrage Option After Oct 97</span></h3>

<p>Optional upgrade on S1 Elise prior from October 1997 was a Cobra 6422, which
meets Thatcham Category One requirements and includes similar features to the 6019HF.
The round shape transmitter fobs have a large and a small button. Replacement
transmitters are purchased uncoded, and are programmed to the car by the owner using the
security touch key.</p>

<h3><span class="mw-headline" id="340R_Exige_S1_and_Elise_S2_Before_Feb_02">340R Exige S1 and Elise S2 Before Feb 02</span></h3>

<p>S2 Elise prior to Feb. &#39;02 and all 340R and S1 Exige models, use a Meta vehicle
security system, being either an M36 T2 electronic immobiliser meeting Thatcham category
2 requirements, or, as an optional upgrade, a full M99 T2 alarm system incorporating M23
cockpit intrusion sensing and a self powered siren, which meets Thatcham 1</p>
<p>The optional upgrade includes the following security features:</p>
- Ingress protection using sensing switches on the front access panels and engine lid.
- Selectable cockpit intrusion sensing using a microwave sensor.

- Automatic (passive) engine immobilisation to prevent the engine from being started.

- Self powered siren to maintain protection if the vehicle battery is disconnected.

- &#39;Dynamic coding&#39; of the transmitter keys; 
<p>Each time the transmitters are used, the
operating frequency is randomly changed to guard against the possibility of code copying.
The alarm will be triggered by any of the following actions:
- Opening a door, engine lid or front access panel;
- Movement detected within the cockpit;
- Energising the ignition circuit (&#39;hot wiring&#39;);
- Interruption of the vehicle battery power supply.
The transmitter fob with single button is incorporated into the head of the mechanical door key.
Replacement transmitter/keys may be ordered either uncoded (if only a mechanical blade is required, into the head of which the original transmitter board may be transferred), or coded (if security code is supplied). New coded transmitters must then be programmed to the car by the owner using a button press sequence.</p>

<h3><span class="mw-headline" id="Elise_S2_After_March_02">Elise S2 After March 02</span></h3>

<p>Elise models built from approx. March &#39;02, are fitted with a Cobra 8185 engine electronic
immobiliser meeting Thatcham category 2 requirements, but for enhanced theft and vandal
protection, the car can be specified with a Thatcham 1 category Cobra 8186 upgraded alarm
which includes cockpit intrusion sensing and a self powered siren.</p>
<p>Online User guide <a class="external free" href="http://auto.manualsonline.com/manuals/mfg/cobra_electronics/8186.html" rel="nofollow">http://auto.manualsonline.com/manuals/mfg/cobra_electronics/8186.html</a></p>
<p>Immobiliser (8185 &#38; 8186): In order to provide a measure of automatic vehicle security,
independent of any driver initiative, both 8185 and 8186 systems will ‘passively’ immobilise
the engine’s cranking and running circuits after the first occurring of the following
approximate time delays:</p>
<p>i) Four minutes after switching off the ignition.</p>
<p>ii) One minute after switching off the ignition and opening either door. 8186 Alarm System: As an optional upgrade, the Elise may be specified factory built with a Cobra 8186 vehicle security system which incorporates the following features:</p>
- Ingress protection using sensing switches on both doors, both front body access panels, and the engine cover.

- Selectable cockpit intrusion sensing using a microwave sensor.

- Automatic (passive) engine immobilisation to prevent the engine from being started.

- Self powered siren to maintain protection if the vehicle battery is disconnected.

- &#39;Dynamic coding&#39; of the transmitter keys; Each time the transmitters are used, the operating frequency is randomly changed to guard against the possibility of code copying.

- Personal protection by remote activation of siren.

<p>The alarm will be triggered by any of the following actions:</p>
- Opening a door, engine lid or front access panel;

- Movement detected within the cockpit;

- Energising the ignition circuit (&#39;hot wiring&#39;);

- Interruption of the vehicle battery power supply.

<p>The transmitter fobs are the same as used on Cobra 6422 (see above). 
Replacement transmitters are purchased un-coded, and are programmed to the car by the owner using a Personal Identification Number (PIN) supplied with the alarm.</p>
<h3><span class="mw-headline" id="Elise_.26_Exige_S2_2008.3F_Onwards">Elise &#38; Exige S2 2008? Onwards</span></h3>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Transmitter_Key.gif" ><img src="Transmitter_Key.gif" class="location-left type-thumb" width="220" />
</a></div>
</div>

<p>
These models have a single key fob that combines ignition key and alarm.
They are oval (think like an eye) in shape and have 3 buttons, one round with a Lotus logo and 2 flat black ones.</p>

<h4><span class="mw-headline" id="Transmitter_Key_battery_replacement">Transmitter Key battery replacement</span></h4>

<p>The transmitter keys will normally operate within a range of 5 metres from the car, but this may be reduced by the presence of other radio signals in the vicinity. The transmitters are powered by a long life 3v lithium battery (type CR2032) which should last for 3 years. However, it is recommended to renew the batteries every 12 months.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Transmitter_Battery_Replacement.gif" ><img src="Transmitter_Battery_Replacement.gif" class="location-left type-thumb" width="220" />
</a></div>
</div>

<p>
</p>
<ol>
<li>Using a small screwdriver, prise open the back panel of the key case using the slot by the keyring hole.</li>
<li>Remove the old battery and wait for 10 seconds before inserting the new battery with the +ve sign uppermost and holding the battery only by the periphery</li>
<li>refit the back panel, pressing firmly to engage the clip.</li>
<li>the transmitter should now operate normally</li>
</ol>


<h4><span class="mw-headline" id="Emergency_Disarming.2Fmobilising">Emergency Disarming/mobilising</span></h4>

<p>If the transmitter keys are lost or damaged, the alarm system owner&#39;s 5-digit PIN may be used to disarm the alarm, PROVIDED that access is available to the cabin:</p>

<ol>
<li>turn on the ignition, the alarm tell tale will light</li>
<li>If the alarm is armed, accessing the cabin or turning on the ignition will trigger the alarm until completion of this emergency process</li>
<li>Within 10 seconds, turn the ignition off; the tell tale will begin to flash</li>
<li>After a number of flashes corresponding to the first digit of the PIN, turn on the ignition.<br />Note that the first flash may not be of full duration (but it is still to be counted) dependent on the waveform position at time of ignition switch off</li>
<li>Turn off the ignition and after a number of flashes corresponding to the second digit of the PIN, turn on the ignition.<br />Repeat this process until all 5 digits have been completed. <br />Note that 10 flashes correspond to a zero digit</li>
<li>If the PIN is entered correctly, the alarm will sound a short beep and will now be overridden and the engine mobilised.<br />However passive immobilisation will still occur after an ignition off time of 40 seconds, requiring a repeat of the above procedure to mobilise.<br />Passive arming and passive door locking cannot occur until a transmitter is used to operate the alarm.</li>
</ol>

<p>If at any stage of the process, a number is entered incorrectly, the system will immediately revert to the start, so that the whole PIN must be re-entered.</p>
<h4><span class="mw-headline" id="Programming_Additional_Transmitters">Programming Additional Transmitters</span></h4>

<p>A max of 6 transmitters may be programmed to the car, any thereafter overwriting the first to have been programmed.</p>

<ol>
<li>With the engine immobilised (tell tale flashes briefly once per second), turn on the ignition</li>
<li>Enter the PIN as detailed above, followed by the additional two digits 1, 1.</li>
<li>The tell tale will flash rapidly for one second, then turn off.</li>
<li>Within 8 seconds, press any button on the transmitter to be programmed.<br />The tell tale will then pulse rapidly and the siren will beep</li>
<li>Within 10 seconds, press any button on the next transmitter to be programmed (if applicable) and repeat this process for all remaining transmitters.</li>
<li>When all transmitters have been programmed, wait for 10 seconds , of turn off the ignition.</li>
</ol>

<p>To disable a lost or stolen transmitter from the system, use the above procedure to programme 6 transmitters, if necessary, repeatedly reprogramming the same transmitter if less than 6 programmed transmitters are to be used.</p>

<p>pfk manual elise s2 alarm <a class="external free" href="http://www.warp.at/liz/pfk457/D457520RV3.pdf" rel="nofollow">http://www.warp.at/liz/pfk457/D457520RV3.pdf</a></p>
<p>WORKS ON 2005 CAR</p>
<p>REMOTE KEY FOB - PROGRAMMING - USE WHEN ADDING A NEW REMOTE INTO THE SYSTEM</p>
<p>IGNITION MUST BE ON AND THE ALARM OFF</p>
<p>STEP 1 – PREPARING ALL REMOTE KEY FOBS - ALL FOBS MUST BE DONE SIMULTANEOUSLY</p>
<p>Press and hold both buttons on remote until the LED stops flashing (about 10 seconds).</p>
<p>Do this for all remotes to be programmed </p>
<p>The LED on the remote should stay on until after programming. </p>
<p>If the LED on the remote extinguishes by the time you want to program, the key has gone into battery
saving mode, press large button once to bring the LED back on then proceed with programming.</p>
<p>STEP 2 – ENTER PIN </p>
<p>1) Turn ignition ON and OFF 3 times within 5 seconds.</p>
<p>2) Security LED will blink once indicating that the security code can now be entered.</p>
<p>3) Enter security code as follows:</p>
<p>.... a) Turn ignition ON &#38; count number of blinks representing 1ST digit of code then turn ignition OFF.</p>
<p>.... b) Repeat for 2nd digit.</p>
<p>.... c) Repeat for 3rd digit.</p>
<p>.... d) Repeat for 4th digit.</p>
<p>4) Turn ignition ON and LED will come on permanently if correct code has been entered</p>
<p>STEP 3 – COMPLETE THE REMOTE KEY FOB PROCEDURE </p>
<p>1) Press and hold the large button on one of the remotes until the security LED light in the tachometer goes out then comes back on.</p>
<p>2) Do this for each remaining remote</p>
<p>3) Turn off the ignition and check each remote for the correct operation.</p>




<p>




</p>