
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:How_to_fit_a_front_splitter.jpg" title="Front splitter"><img src="How_to_fit_a_front_splitter.jpg" alt="Front splitter" title="Front splitter" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Front splitter</div></div>
</div>

<p>
Fitting a <a href="http://wiki.seloc.org/a/Front_splitter" title="Front splitter">front splitter</a> to the front of your car couldn&#39;t be easier.</p>

<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Procedure">Procedure</a>
<ul>
<li class="toclevel-2"><a href="#Glue">Glue</a>
</li>
<li class="toclevel-2"><a href="#Bolts">Bolts</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Incorrect_fitment">Incorrect fitment</a>
</li>
<li class="toclevel-1"><a href="#Removal">Removal</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Procedure">Procedure</span></h2>
<p>There are two ways to secure the splitter to the front clamshell.</p>
<h3><span class="mw-headline" id="Glue">Glue</span></h3>

<ul>
<li>Sikaflex</li>
</ul>

<h3><span class="mw-headline" id="Bolts">Bolts</span></h3>
<p>This description was written for fitting one of Tigga&#39;s splitters, but could be applied to other splitters as well</p>
<p>Normally, Tigga&#39;s splitters are supplied with all the required bolts and washers etc, however I bought mine second hand and they had been lost. I went off to B&#38;Q and bought these:</p>
<p><a class="external free" href="http://www.cableaddict.co.uk/elise/1.jpg" rel="nofollow">http://www.cableaddict.co.uk/elise/1.jpg</a></p>
<p>The bolt size is M4X20mm and the washer size is M5X25mm. Ideally, you also need nylon locking nuts as well.</p>
<p>You need easy access to the underside of the front of the car. If you don&#39;t have access to ramps etc, using a step worked brilliantly for me.</p>
<p><a class="external free" href="http://www.cableaddict.co.uk/elise/2.jpg" rel="nofollow">http://www.cableaddict.co.uk/elise/2.jpg</a></p>
<p>The splitter comes pre-drilled with ten holes, three at the back (yellow arrows) and seven at the front (pink). You will need to widen these out with a drill to fit the bolts you have chosen to use.</p>
<p><a class="external free" href="http://www.cableaddict.co.uk/elise/3.jpg" rel="nofollow">http://www.cableaddict.co.uk/elise/3.jpg</a></p>
<p>The three holes with yellow arrow will be fixed to the underside of the car using the three pre-existing bolts which hold the undertray onto the car. You can see these here going through the yellow front clam:</p>
<p><a class="external free" href="http://www.cableaddict.co.uk/elise/4.jpg" rel="nofollow">http://www.cableaddict.co.uk/elise/4.jpg</a></p>
<p>You will need to drill holes in the underside of the front clam for the seven bolts maked with pink arrows, and to fit these bolts, you will need to completely remove the front undertray to hold the nuts in position at you tighten them however STOP!!! Before completely removing the undertray, first just undo the front three. but the bolts through the holes marked in yellow and re attach them to the car.</p>
<p><a class="external free" href="http://www.cableaddict.co.uk/elise/5.jpg" rel="nofollow">http://www.cableaddict.co.uk/elise/5.jpg</a></p>
<p>This holds the splitter in place and makes it easy to accurately drill the seven new holes in the clam, using the pre-drilled splitter holes as a guide.</p>
<p>Next, remove the splitter and undertray completely, and then attach the splitter to the car using the new bolts through the holes you have just drilled in the clam. Remeber to use locking nuts or at least good threadlock!</p>
<p>After this, put the front undertray back on and bolt it in place with the front three bolts going through the holes marked in yellow in the picture above.</p>
<p><a class="external free" href="http://www.cableaddict.co.uk/elise/6.jpg" rel="nofollow">http://www.cableaddict.co.uk/elise/6.jpg</a></p>
<p>That&#39;s it done! I hope it&#39;s helpful to someone and I haven&#39;t made it too confusing, but hopefully it shows that it&#39;s a really simple job that anyone can expect to complete well within an hour. Here&#39;s the finished job -</p>
<p><a class="external free" href="http://www.cableaddict.co.uk/elise/7.jpg" rel="nofollow">http://www.cableaddict.co.uk/elise/7.jpg</a></p>
<h2><span class="mw-headline" id="Incorrect_fitment">Incorrect fitment</span></h2>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:how_to_fit_a_front_slitter_-_incorrectly_fitted.jpg" title="Make sure you use large spreader washers"><img src="how_to_fit_a_front_slitter_-_incorrectly_fitted.jpg" alt="Make sure you use large spreader washers" title="Make sure you use large spreader washers" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Make sure you use large spreader washers</div></div>
</div>

<p>
Unfortunately, if not correctly fitted, the splitter can part company with your car at high speeds.  At best this will damage the splitter, at worse, your front clamshell.  Remember it needs to sustain around 40 Kg of down force.</p>

<h2><span class="mw-headline" id="Removal">Removal</span></h2>
<p>If you want to remove the splitter you can use a sharp (Stanley) blade to cut the <i>seal</i> and it comes off relatively easily.</p>
<p>


</p>