<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<ul>
<li class="toclevel-1"><a href="#S1_Elise_Suspension_Enhancement_Kit">S1 Elise Suspension Enhancement Kit</a>
</li>
<li class="toclevel-1"><a href="#Elise_S2_Bilstein_damper_collars">Elise S2 Bilstein damper collars</a>
</li>
<li class="toclevel-1"><a href="#Elise_111R_Sport_Suspension">Elise 111R Sport Suspension</a>
</li>
<li class="toclevel-1"><a href="#S2_Spring_Rates">S2 Spring Rates</a>
</li>
<li class="toclevel-1"><a href="#Nitron_racing_shocks">Nitron racing shocks</a>
</li>
<li class="toclevel-1"><a href="#Ohlins">Ohlins</a>
</li>
</ul>
</ul>
</ul></td></tr></table><hr/>
<h3><span class="mw-headline" id="S1_Elise_Suspension_Enhancement_Kit">S1 Elise Suspension Enhancement Kit</span></h3>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:S1upgrade.jpg" title="S1 Upgrade Kit"><img src="S1upgrade.jpg" alt="S1 Upgrade Kit" title="S1 Upgrade Kit" class="location-right type-thumb" width="220" />
</a>
<div class="thumbcaption">S1 Upgrade Kit</div></div>
</div>

<p> </p>
<p>NOTE: Although the kit is an official Lotus upgrade, it is still classed as a modification for insurance purposes and should be disclosed. This was confirmed by Lotus Cars Technical Publications and Archives Department, 11/01/2011.</p>
<p>In order that owners of S1 Elise might enjoy the benefits of suspension development on 
the S2 model, a retrofit kit has been introduced which comprises Bilstein dampers and 
Eibach springs to provide enhanced ride comfort and refinement. </p>

<p>Parts Required                      Part Number                   Qty </p>
<p>Suspension Enhancement Kit                     A111C0148S          1 </p>

<p>comprising: </p>
<p>Spring/damper assembly                   front A117C0052F          2</p> 
<p>Spring/damper assembly                    rear C117D0038F          2 </p>
<p>Bracket, rear damper to chassis                A117D0077F          2 </p>
<p>Spreader Plate, rear damper mount              A111D0125F          2 </p>
<p>Fitting Instructions                           LSL459              1 </p>


<p>Changes</p>
<p>The front spring rate has been increased to 42.5 N/mm from 27.5 (&#39;Mk.1&#39;) and 35 (&#39;Mk.2&#39;). </p>
<p>The rear spring rate has been increased to 50 N/mm from 40 (as &#39;Mk.2&#39;). </p>
<p>The front spring abutment uses the lowermost groove in the damper body. </p>
<p>The rear spring abutment uses the uppermost groove in the damper body. </p>
<p>The mid-laden (2 x 75kg passengers plus half tank of fuel) ride height is lowered to 
130/130mm from 140/140 front/rear. </p>
<p>The brackets securing the rear damper to the chassis are unique to this application to 
provide the correct mid-laden ride height (with other bracket variants, rear height would 
be too low). </p>
<p>The spreader plates were fitted as standard to S1 cars with barrel shaped springs, but 
not to parallel spring cars. The springs were changed from parallel to barrel at approx VIN W 3580 (June &#39;98).</p>
<p>Apart from the mid-laden ride height, suspension geometry settings and steering rack 
shim plates are unchanged.</p>
<p>Individual Part Numbers are </p>
<p>Bilstein Front Dampers E117.C.007H
Bilstein Rears Dampers E117.D.009H</p>
<p>See <a class="external free" href="http://www.bell-colvill.co.uk/admin/lotusnews/PDFS/4489.pdf" rel="nofollow">http://www.bell-colvill.co.uk/admin/lotusnews/PDFS/4489.pdf</a></p>
<h3><span class="mw-headline" id="Elise_S2_Bilstein_damper_collars">Elise S2 Bilstein damper collars</span></h3>

<p>The upper and lower spring retaining collars on the Bilstein shocks, fitted to the S2 Elise, suffer badly from corrosion. The collars can be purchased separately which saves having to buy replacement shocks:</p>
<p>Damper collar replacement kit - Lotus Part Number: A120C6003S (1 kit required per damper - includes upper and lower spring retaining collar and a new circlip, that retains the upper collar) £15.77 +vat</p>
<p>The material composition of replacement collars include a silicone content but additional protection can be obtained using acf 50 (for floor pan corrosion)A117A0239S £11.71 +vat.</p>
<p>Bilstein Technical Centre U.K
Unit 3
Swannington Road
LE9 6TU Broughton Astley</p>
<p>Phone: 01455 283407
Fax: 01455 283301</p>
<h3><span class="mw-headline" id="Elise_111R_Sport_Suspension">Elise 111R Sport Suspension</span></h3>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:S2bilstein.jpg" title="S2 Bilsteins"><img src="S2bilstein.jpg" alt="S2 Bilsteins" title="S2 Bilsteins" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">S2 Bilsteins</div></div>
</div>

<p>The suspension of the Elise 111R and Exige are similar, but the springs and dampers of the Exige  are stiffened to match the Yokohama A048 tyres with wider front wheels, and provide a more sporting ride/handling balance.
Owners of Elise 111R who wish to enjoy this type of characteristic can fit the Exige springs and dampers in conjunction with a vehicle set of Yokohama A048 tyres mounted on Exige wheels.
The Exige front wheel size is increased in width over the 111R from 5.5J to 6.5J, and the front tyre section increases from 175/55 to 195/50. Rear wheel and tyre sizes remain unchanged at 7.5J and 215/45 respectively.
Tyre pressures remain at 1.8 bar front, and 2.0 bar rear.</p>

<p>Wheel options are either:</p>
<p>Standard Exige cast alloy, 8-paired spoke, satin black painted, front 6.5J x 16, rear 7.5J x 17</p>
<p>or:</p>
<p>Lightweight forged alloy, 7-split spoke, satin silver painted, front 6.5J x 16, rear 7.5J x 17 
Each forged front wheel saves 2.4 kg over the cast Exige wheel, with a 2.7 kg saving for each rear wheel.</p>

<p>Note that using the wider wheel set and Yokohama A048 tyres on an otherwise standard car will 
increase grip levels over the original specification, but in order to enjoy the full benefit of these tyres, 
it is strongly recommended that only a complete vehicle set of wheels/tyres/springs/dampers are fitted.
It is also necessary to fit an edge finisher to the front wheelarches in order to maintain the legally required tread coverage when using the wider section front tyres.</p>

<p>Customers outside the U.K. should check the legality of this fitment with the appropriate authorities in their country of residence before purchase. </p>

<p>Part numbers are as follows: </p>

<p>Front Damper A122C0007H (2 required) </p>
<p>Front Spring A122C0008H (2 required) </p>
<p>Rear Damper A122D0008H (2 required) </p>
<p>Rear Spring A122D0006H (2 required)</p>
<h3><span class="mw-headline" id="S2_Spring_Rates">S2 Spring Rates</span></h3>

<p>Stock Elise suspension front: A116C0015H Eibach spring 200lb/in
Rear: A120D0012H spring 285lb/in</p>
<p>LSS springs for Elise 05 (Federal): 220 F/ 314 R (ie +10%)</p>
<p>Stock Exige front: A122C008H 257lb/in
Rear: A122D006H 371 lb/in</p>
<p>Exige track pack for Federal Exige (non returnable so much stiffer) 271 F/ 371</p>
<h3><span class="mw-headline" id="Nitron_racing_shocks">Nitron racing shocks</span></h3>

<p>Makers of after market shock absorbers ideal for the many track orientated cars
EG The Juno, the elise, exige, 340r from lotus, the new caparo T1, caterham and radical, claimed to give impressive results over OEM setups</p>
<p>NITRON shock absorbers combine outstanding performance with exquisite product design.  Whether for road or track, on two wheels or four, NITRON have the suspension kit that offers fade free operation lap after lap.</p>
<p>The NTR has evolved from NITRONs fully adjustable race dampers, with developments being incorporated into the latest products.  So as a result of the modular design, the top end components are included right throughout the Nitron range.</p>
<p>All NITRON shocks are gas monotube shim type with a high pressure gas charge.  Couple this with a large piston area and an all alloy construction and you get an ultra low friction damper with excellent heat dissipation properties, ensuring total reliability and fade resistance.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:NitronsStdSmall.jpg" ><img src="NitronsStdSmall.jpg" width="220" />
</a></p>
<p><a class="external text" href="http://www.nitron.co.uk/" rel="nofollow">Nitron Website</a></p>

<h3><span class="mw-headline" id="Ohlins">Ohlins</span></h3>


<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:OHLINS.jpg" title="Lotus Sport Ohlins"><img src="OHLINS.jpg" alt="Lotus Sport Ohlins" title="Lotus Sport Ohlins" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Lotus Sport Ohlins</div></div>
</div>

<p>


</p>