
<p><b>Organic Acid Technology</b> is a type of <a href="http://wiki.seloc.org/a/Coolant" title="Coolant">coolant</a> used in the <a href="http://wiki.seloc.org/a/Coolant_system" title="Coolant system">coolant system</a> on internal combustion engines.</p>
<p>For nearly a decade, vehicle manufacturers have been introducing and using a variety of extended-life coolants. The only thing these coolants have in common is that they all seem to differ in formulation and colour. There are orange, green, blue, red, yellow, even pink ones. The proliferation of different coolant types has created a great deal of chemical confusion about what type of coolant should be used to top off or refill late-model cooling systems. </p>
<p>Each vehicle manufacturer has their own unique coolant specifications based on corrosion protection requirements, service life and chemical compatibility. These requirements are usually spelled out in the vehicle owners manual, and/or a decal or label on the coolant reservoir. It is important to always use the coolant chemistry recommended in the vehicle owners manual. </p>
<p><b>You cannot rely on the colour</b> in the coolant because two coolants with similar colours may have different chemistry, and two coolants with different colours may have similar chemistry. What is more, colours can change if somebody tops off the system with a different coolant. </p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Coolant_Types">Coolant Types</a>
<ul>
<ul>
<li class="toclevel-2"><a href="#Traditional_blue_.28UK.29_or_green_.28N.A..29_antifreeze">Traditional blue (UK) or green (N.A.) antifreeze</a>
</li>
<li class="toclevel-2"><a href="#OAT-based_extended-life_coolants">OAT-based extended-life coolants</a>
</li>
<li class="toclevel-2"><a href="#Hybrid_OAT_coolants">Hybrid OAT coolants</a>
</li>
</ul>
</ul>
</li>
<li class="toclevel-1"><a href="#Which_Type_of_Antifreeze.3F">Which Type of Antifreeze?</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Coolant_Types">Coolant Types</span></h2>
<p>There are essentially three basic types of antifreeze: </p>
<h4><span class="mw-headline" id="Traditional_blue_.28UK.29_or_green_.28N.A..29_antifreeze">Traditional blue (UK) or green (N.A.) antifreeze</span></h4>
<p>The original universal formula that everybody used until the introduction of today&#39;s extended-life coolants. The is a fast-acting silicate and phosphate corrosion inhibitor, providing quick protection for bare iron and aluminium surfaces, thay have a proven track record of providing trouble-free service in virtually any vehicle application assuming the chemistry is correct. The short-lived nature of the corrosion inhibitors means this type of coolant should be changed frequently. 
</p><h4><span class="mw-headline" id="OAT-based_extended-life_coolants">OAT-based extended-life coolants</span></h4>
<p>OAT stands for Organic Acid Technology, and includes such ingredients as sebacate, 2-ethylhexanoic acid (2-EHA) and other organic acids, but no silicates or phosphates (except in the case of Toyota&#39;s pink extended-life coolant, which adds a dose of phosphate to its extended-life OAT-based antifreeze). OAT-based coolants are usually (but not always) dyed a different colour to distinguish them from traditional blue/ green antifreeze. GM OAT-based Dex-Cool is orange. Volkswagen/Audi uses a similar product that is dyed pink. But Honda has an extended-life OAT coolant that is dyed dark green and does not contain 2-EHA. </p>
<p>The corrosion inhibitors in OAT coolants are slower acting but much longer-lived than those in traditional coolants. Consequently, OAT coolants typically have longer a recommended service life.</p>
<p>OAT corrosion inhibitors provide excellent long-term protection for aluminium and cast iron, but may not be the best choice for older cooling systems that have copper/brass radiators and heater cores. It depends on the formula.</p>
<h4><span class="mw-headline" id="Hybrid_OAT_coolants">Hybrid OAT coolants</span></h4>
<p>Also known as G-05. This formulation also uses organic acids, but not 2-EHA (different organic acids are used). Hybrid OAT coolants add some silicate to provide quick-acting protection for aluminium surfaces. Silicate also helps repair surface erosion caused by cavitation in the water pump. Hybrid OAT coolants are currently used by many European vehicle manufacturers as well as Ford and Chrysler. </p>
<h2><span class="mw-headline" id="Which_Type_of_Antifreeze.3F">Which Type of Antifreeze?</span></h2>

<p>The safe answer is the type specified by the vehicle manufacturer. But practically speaking, shops do not have the shelf space to stock different coolants for each different make of vehicle. </p>
<p>Many antifreeze suppliers have introduced Universal Coolant or Global Coolant products that are one-size-fits-all coolants <b>claimed</b> to be compatible with any new vehicle cooling system as well as older vehicles. </p>
<p>One very important point to keep in mind here is that universal coolants and extended-life coolants are not lifetime coolants. The corrosion inhibitors in all types of coolant eventually wear out and must be replenished by changing the coolant. Leave the old coolant in too long and the cooling system will experience corrosion problems.</p>
<p>



</p>