
<div style="page-break-inside: avoid;">
<table align="right" cellpadding="2" cellspacing="0" class="infobox" font="3" rules="rows" style="font-size:85%; width:25em; border-collapse:collapse; border:1px solid black;">
<tr style="background:LightBlue;">
<td align="center" colspan="2" style="font-size: larger;"><b>Time &#38; Tools</b></td></tr>
<tr>
<th>Time:</th>
<td>10 mins</td></tr>
<tr>
<th>Tools:</th>
<td>Zip ties, electrical tape, adjustable spanner</td></tr></table></div>
<p>The &#34;Peugeot windscreen washer mod&#34; is great for anyone who drives their car on bad weather days but likes to remain able to see out of the front.</p>
<p>The mod is totally easy, but it took me best part of an hour to get the necessary detail out of the forum search. I&#39;ll re-post here:</p>

<ol>
<li>Nip to your friendly neighbourhood Peugeot parts desk, and ask for Peugeot part number 643861 (Bin A6C5)For LHD cars the number is 643860. - a &#34;Spray Ramp&#34;. It costs about £11.50 inc. VAT (06-01-2010). It comes with ample tubing already attached. Ample to do the job. Some people have used a similar TVR part, but this costs £12 and your nearest TVR dealer is probably further away than your nearest Peugeot dealer. Alternatively, check the <a href="http://wiki.seloc.org/a/Windscreen_wipers" title="Windscreen wipers">Windscreen wipers</a> page for details of the Valeo VM15 replacement wiper.</li>
<li>Get hold of some small black cable ties and an adjustable spanner. Some black electrical tape is also handy.</li>
<li>Remove the washer bottle from the front service compartment. Follow the hose with your fingers, and remove it from the plastic T section. Also remove the plastic T section.</li>
<li>On the outside of the service compartment, remove the sleeve from around one of your existing window washer nozzles. Then use the spanner to remove the washer nozzle. I found that I didn&#39;t need to get a spanner to the nut on the underside, holding it with my fingers was sufficient. Removing the existing washer jet allows the mod to be completed without drilling a hole in your car, making the mod totally reversible.</li>
<li>Post the black tube from the Peugeot part through the nozzle hole, and connect it to the hose from the washer bottle. The Peugeot tube fits snuggly inside the washer pipe where the T piece was inserted. At this point the joint can be sealed effectively with some amalgum tape (preffered) or some good insulating tape. I tested the spray ramp to be sure I knew how it worked and how best to mount it. There is a hole on the end of the ramp which is easy to direct too wide - fun when a cyclist passes you, but not fun when you have the roof off!</li>
<li>Cable-tie &#38; tape the spray ramp to your wiper arm/blade, making sure the holes point forward. Test again, then return the washer bottle to the service compartment and shut the lid.</li>
<li>Job done. Takes about 30 mins.</li>
</ol>

<p>For even more spraying fun, you could even use 2 spray ramps and resurrect the T piece, but I found this was not necessary.</p>
<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Windscreen_washer_mod_1.jpg" ><img src="Windscreen_washer_mod_1.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Windscreen_washer_mod_2.jpg" ><img src="Windscreen_washer_mod_2.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Windscreen_washer_mod_3.jpg" ><img src="Windscreen_washer_mod_3.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Windscreen_washer_mod_4.jpg" ><img src="Windscreen_washer_mod_4.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Windscreen_washer_mod_5.jpg" ><img src="Windscreen_washer_mod_5.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Windscreen_washer_mod_6.jpg" ><img src="Windscreen_washer_mod_6.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Windscreen_washer_mod_7.jpg" ><img src="Windscreen_washer_mod_7.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Windscreen_washer_mod_8.jpg" ><img src="Windscreen_washer_mod_8.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                </p>



<div class="thumb tleft">
<div class="thumbinner" style="width:102px;"><a class="internal" href="http://wiki.seloc.org/a/Image:washbar.jpg" title="Citroen Wash Bar"><img src="washbar.jpg" alt="Citroen Wash Bar" title="Citroen Wash Bar" class="location-left type-thumb" width="100" />
</a>
<div class="thumbcaption">Citroen Wash Bar</div></div>
</div>

<p>  You can also use the washbar from a Citroen BX
&#34;Citroen part no. N93780 bx washer jet spray bar&#34;
And on the S2, the hose to supply the new bar can fit through without any cutting or drilling of holes. - there&#39;s a gap large enough under the clam just behind the base of the wiper.</p>
<p>Spray bar Wiper</p>




<p><b>ALSO</b></p>
<p>Now I always got the impression that the Espace wiper with integrated spray bar was a special part only available online (couldn&#39;t be arsed) or at Renault (ditto). </p>
<p>However at a local motorfactors I asked for a 24&#34; single blade with, if possible, a spray bar. And was handed a very nice Champion X60W which fits the Espace and things like the Mercedes Sprinter van. He also sold me 2 metres of suitable tubing which was the exact amount needed to route to the water bottle without drilling holes or removing the original spray units.</p>
<p>Three cable ties later it was done very neatly.</p>
<p>The point is this wiper type is widely available although not at Halfords.</p>
<p><a href="http://wiki.seloc.org/a/The_Cost" title="The Cost">The Cost</a></p>
<p>Wiper 15 pounds,
Tubing 2 pounds,
Cable ties pennies.</p>
<p>You need the S2 wiper arm which is about 15 pounds from Lotus.</p>
<p>The &#39;spray bar&#39; is a little plastic strip about 2.5 inches long and is very neat. </p>
<p><b>For Later S2 cars</b></p>
<p>I&#39;ve just completed this mod on my 111R, using a Valeo VM15 wiper blade.</p>
<p>This is a simple job, but a little different to the job described here. </p>

<ol>
<li>take both front access panels off</li>
<li>unmount the fusebox to give yourself room to work - make sure you don&#39;t drop the polythene spacers - you&#39;ll never find them again if you do!</li>
<li>look &#38; feel for the pipe to the washer sprays - it&#39;s black &#38; quite fat</li>
<li>because the washer bottle is at the back of the car, you&#39;ll feel that it goes through a small non return valve (NRV) before going on to the jets - disconnect the pipe from the washer jet side of the NRV</li>
<li>fit the wiper blade</li>
<li>route some pipe from the NRV out to the blade - there&#39;s space to do this very neatly without drilling, cutting, or even removing the existing jets</li>
<li>cable tie everything in place</li>
<li>put everything back together</li>
</ol>

<hr />

<p>If you want to take it easy you can always use the Elise Shop wiper with integrated spraybar. Here is how I did it on my 2005 S2 111S:</p>
<p>Start: an Elise with a very dirty windscreen. Mark the position of the original wiper with a piece of tape. In my case this wasn&#39;t necessary, since the window was very dirty.
<a class="image" href="http://wiki.seloc.org/a/Image:Wiper-spraybar2.JPG" title="Windscreen and original wiper"><img src="Wiper-spraybar2.JPG" alt="Windscreen and original wiper" width="220" />
</a></p>
<p>Take both front panels off and remove the old wiper. You can use a small crowbar to lift the wiper from the spline, but a screwdriver and a piece of wood will do just as well. Don&#39;t touch the windscreen though!
<a class="image" href="http://wiki.seloc.org/a/Image:Wiper-spraybar3.JPG" title="Front panels off"><img src="Wiper-spraybar3.JPG" alt="Front panels off" width="220" />
</a></p>
<p>Locate the little hose to the washer nozzles: black and with a no-return valve / connector in them
<a class="image" href="http://wiki.seloc.org/a/Image:Wiper-spraybar4.JPG" title="Look for the no-return valve / connector"><img src="Wiper-spraybar4.JPG" alt="Look for the no-return valve / connector" width="220" />
</a></p>
<p>In my case there is no room to feed the hose through, therefore I had to drill a hole (just like it is said in the manual). I protected the paint with some gaffer tape. First I made a hole with a 3mm drill and after that I used a 9,5mm drill to make the hole as you can see in the pictur. 
<a class="image" href="http://wiki.seloc.org/a/Image:Wiper-spraybar5.JPG" title="Hole for the hose"><img src="Wiper-spraybar5.JPG" alt="Hole for the hose" width="220" />
</a></p>
<p>Fiddle the grommet through the hole (this is a part of the delivery)
<a class="image" href="http://wiki.seloc.org/a/Image:Wiper-spraybar6.JPG" title="Fitted grommet"><img src="Wiper-spraybar6.JPG" alt="Fitted grommet" width="220" />
</a></p>
<p>Fit the new wiper (with integrated spraybar and feed the new hose through the grommet. In the picture you&#39;ll find the new hose from the wiper and the old hose. These have to be connected. Since the new hose is a bit narrower than the old one, it&#39;s a tight fit.
<a class="image" href="http://wiki.seloc.org/a/Image:Wiper-spraybar7.JPG" title="The new hose and the old hose coming from the pump"><img src="Wiper-spraybar7.JPG" alt="The new hose and the old hose coming from the pump" width="220" />
</a></p>
<p>The hose should look like this
<a class="image" href="http://wiki.seloc.org/a/Image:Wiper-spraybar8.JPG" title="New hose feeding through grommet"><img src="Wiper-spraybar8.JPG" alt="New hose feeding through grommet" width="220" />
</a></p>
<p>Test it! If it works OK and you&#39;ve made sure the wipermotor doesn&#39;t catch the hose, close the front panels.
<a class="image" href="http://wiki.seloc.org/a/Image:Wiper-spraybar9.JPG" title="Bad picture of the end result. Looks nice and tidy"><img src="Wiper-spraybar9.JPG" alt="Bad picture of the end result. Looks nice and tidy" width="220" />
</a></p>

--[[User:Friso|Friso]] 16:16, 15 December 2010 (UTC)

<h2><span class="mw-headline" id="External_links">External links</span></h2>
<p><a class="external free" href="http://www.scottishelises.com/phpbb/viewtopic.php?t=851" rel="nofollow">http://www.scottishelises.com/phpbb/viewtopic.php?t=851</a></p>


<p>


</p>