
<p>Problem encountered with an S2 drivers side window sticking 2&#34; open.</p>
<p>Even with door card off and the door handle mech out to have a good look, its pretty difficult to gain access to the window.</p>
<p>Issue identified with the screw holding the top of the window guide rail at hinge end of door. 
This can loosen and sit proud of the guide. 
This then catches on the top slide (white nylon material sikoflexed to the side of the window) on the front edge of the window.
Prior to removal of door card etc, lower the window, take the window seals off the door (these slide off easily by hand) and inspect window guide for loose fitting screw (if screw is loose, window guide will rattle).
A short-handled philips screwdriver to tighten the screw and it&#39;s as good as new.</p>
<p>All in all its a 5 minute job with the right diagnosis.</p>
<p>Just fixed the same issue with the passenger side, this time the double headed adjusting screw at the bottom of the window guide had come loose from the window guide and this allowed the nylon slides to come free of the window guide, the nylon slides have a u shaped back to attach over the window guide, fixed by manipulating the slides back over the window guides and screwing the double headed adjuster into the bottom of the window guide.</p>


<p>

</p>