
<p>A <b>Pressure Relief Remote Thermostat (PRRT)</b>, or sometimes just <b>PRT</b>, is used to increase the amount of coolant flowing around the engine.
The PRRT has a bypass valve opening when the coolant pump is flowing too much coolant for the radiator circuit.
This valve is reducing pressure difference inside the whole circuit, achieving at the same time a more constant temperature inside the engine.</p>

<p><b>Note:</b> The acronym <b>PRT</b> means <b>Pressure Relief Thermostat</b>. This setup was developed by Bill Hutchins and used by Rover, MG and Landrover, it has been in use in mid engined cars for 25 years, and an Elise system was previously developed by Simon Scuffham when racing his k-series engined elise. <b>PRRT</b> is actually a misnomer (albeit harmless), allegedly invented by one of the members of the Seloc forum. The PRRT acronym may not actually be recognised by anyone outside of the Seloc forum (including anyone involved in the design, manufacture or assembly of the device) though is perhaps a more accurate description as the second R refers to <b>remote</b>.</p>

<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#PRRT_Colours">PRRT Colours</a>
</li>
<li class="toclevel-1"><a href="#PRRT_Part_Numbers">PRRT Part Numbers</a>
</li>
<li class="toclevel-1"><a href="#PR.28R.29T_for_Dummies">PR(R)T for Dummies</a>
<ul>
<li class="toclevel-2"><a href="#What_parts_are_needed:">What parts are needed:</a>
<ul>
<li class="toclevel-3"><a href="#Early_S1_.28Upper_aluminium_water_rail.29">Early S1 (Upper aluminium water rail)</a>
</li>
<li class="toclevel-3"><a href="#S2_and_Late_S1_.28Lower_Aluminium_water_rail.29">S2 and Late S1 (Lower Aluminium water rail)</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Fitting_modifications">Fitting modifications</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#F.A.Q.">F.A.Q.</a>
</li>
<li class="toclevel-1"><a href="#External_links">External links</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="PRRT_Colours">PRRT Colours</span></h2>


<ul>
<li>Cream is 87°C With Medium Spring: first being used on FreeLander &#38; MGF/TF.</li>
<li>Black is 82°C With Hard Spring: Not suitable for Rover K engines.</li>
<li>Grey is 82°C With Light Spring: Latest being used on Freelander (MGF/TF ?). Land Rover replace the old stat (87°C) with this one if they have to open the coolant circuit. <b><i>THIS IS THE ONE YOU WANT !!!</i></b></li>
</ul>

<h2><span class="mw-headline" id="PRRT_Part_Numbers">PRRT Part Numbers</span></h2>
<p><b>PCH001190</b> Land Rover cream PRRT kit (including all the hoses and clips needed to make it fit). It is meant to be fitted on a Freelander. (<b><i>BUY this for an early S1</i></b>)
<a class="external free" href="http://www.mgfcar.de/hgf/freelander_0026.pdf" rel="nofollow">http://www.mgfcar.de/hgf/freelander_0026.pdf</a></p>
<p><b>PEL500150</b> Land Rover Part grey PRRT kit (full hoses kit, similar to PCH001190 but with a non useable plastic elbow with small takeoff). Not easy to adapt to the Elise. This kit may also be difficult to obtain.</p>
<p><b>PCH003320</b> MG cream PRRT kit. This kit is for the MGF which cooling system is very close to the Elise&#39;s so it requires less modifications than the Land Rover kit. It&#39;s also cheaper and only requires the addition of a piece of aluminium tube as a hose joiner, which can be cut from a discarded tube from the original system. (<b><i>BUY this except early S1</i></b>)</p>
<p><b>PEL500110</b> Land Rover grey PRRT (standalone) (<b><i>BUY this</i></b>) </p>
<p><b>PEM101020</b> Rover part number for both Black and Cream PRRT (standalone) - the fact two different thermostats share the same part number could cause some confusion.  The downside with the cream PRRT is that (unless at temperature?) the stat won&#39;t open below 1500-1750 rpm due to the spring rate.</p>
<p><b>PEL000040</b> a metal polo mint replaces the old thermostat in the housing which pulls left out of the water pump before disassembly (BUY this)</p>
<p><b>PEM00020P</b> is a complete new dummy thermostat assembly with PEL000040 fitted. It also includes the two O rings for insertion of the assembly into the water pump.</p>
<p>For DIY instructions on fitting please see the <a href="http://wiki.seloc.org/a/Fit_a_PRRT" title="Fit a PRRT">Fit a PRRT</a> guide.</p>
<h2><span class="mw-headline" id="PR.28R.29T_for_Dummies">PR(R)T for Dummies</span></h2>

<h3><span class="mw-headline" id="What_parts_are_needed:">What parts are needed:</span></h3>

<h4><span class="mw-headline" id="Early_S1_.28Upper_aluminium_water_rail.29">Early S1 (Upper aluminium water rail)</span></h4>

<ul>
<li>Land Rover Freelander kit with cream thermostat (88°C): PCH001190 from Land Rover</li>
<li>Thermostat blanking plate (the seal comes with it): PEL000040  from Land Rover or MG-Rover</li>
<li>Optionnal: Grey thermostat (82°C, lighter springs): PEL500110 from Land Rover</li>
<li>Hose Joiner 32 mm diam. x?</li>
<li>Hose clips 32 mm diam. x?</li>
</ul>

<p>For fitting, go there: <a class="external free" href="http://forums.seloc.org/viewthread.php?tid=104578&#38;page=1" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=104578&#38;page=1</a></p>
<h4><span class="mw-headline" id="S2_and_Late_S1_.28Lower_Aluminium_water_rail.29">S2 and Late S1 (Lower Aluminium water rail)</span></h4>

<ul>
<li>MG-Rover MGF CVT automatic kit with cream thermostat (88°C): PCH003320 from MG-Rover</li>
<li>Thermostat blanking plate (the seal comes with it): PEL000040  from Landrover or MG-Rover</li>
<li>Optionnal: Grey thermostat (82°C, lighter springs): PEL500110 from Landrover</li>
<li>Hose Joiner 32 mm diam. x1</li>
<li>Hose clips 32 mm diam. x?</li>
</ul>

<h3><span class="mw-headline" id="Fitting_modifications">Fitting modifications</span></h3>
<p>Don&#39;t take values as a gospel, go progressively:
<a class="external free" href="http://gallery.seloc.org/albums/userpics/26904/Adapt_kit_MGF_origine_et_modif.jpg" rel="nofollow">http://gallery.seloc.org/albums/userpics/26904/Adapt_kit_MGF_origine_et_modif.jpg</a> 
<a class="external free" href="http://gallery.seloc.org/albums/userpics/26904/Adapt_kit_MGF_a_la_longueur.jpg" rel="nofollow">http://gallery.seloc.org/albums/userpics/26904/Adapt_kit_MGF_a_la_longueur.jpg</a></p>
<p>A guide for fitting MGF kit can be found here:
<a class="external free" href="http://forums.seloc.org/viewthread.php?tid=134324&#38;page=1" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=134324&#38;page=1</a></p>
<h2><span class="mw-headline" id="F.A.Q.">F.A.Q.</span></h2>


<ul>
<li>Can I just replace the original thermostat without changing hoses?
<ul>
<li>=&#62; No you can&#39;t. The thermostat wouldn&#39;t fit to begin with, and it requires a different circuit setup to work.</li>
</ul></li>
</ul>


<ul>
<li>What do I use if I have / I want to fit an oilcooler?
<ul>
<li>=&#62; Go for the &#34;Early S1&#34; list. The landrover Kit has more hoses to play with, it will be easier to adapt. Have a look at <a class="external text" href="http://web.tiscali.it/elise_s1/index.htm" rel="nofollow">Carlo&#39;s site</a> (Elise S1) for examples.</li>
</ul></li>
</ul>


<ul>
<li>Isn&#39;t there a Kit with the grey (82°C) so I don&#39;t have to buy it separetly? 
<ul>
<li>=&#62; Yes, LandRover has a Freelander kit comming with the Grey stat. It&#39;s ref is PEL500150. It&#39;s apparently harder to adapt to the elise because of different hoses/elbows. Beside, most of the cost of the kit comes from the hoses.  So you&#39;d better choose the right hose kit and them change the stat.</li>
</ul></li>
</ul>

<h2><span class="mw-headline" id="External_links">External links</span></h2>

<ul>
<li><a class="external free" href="http://web.tiscali.it/elise_s1/index.htm" rel="nofollow">http://web.tiscali.it/elise_s1/index.htm</a> Carlo&#39;s Comprehensive Approach</li>
<li><a class="external free" href="http://111ti.free.fr/elise_cooling_jul2005/" rel="nofollow">http://111ti.free.fr/elise_cooling_jul2005/</a></li>
<li><a class="external free" href="http://arc.seloc.org/p/2344458" rel="nofollow">http://arc.seloc.org/p/2344458</a></li>
<li><a class="external free" href="http://arc.seloc.org/t/110181" rel="nofollow">http://arc.seloc.org/t/110181</a></li>
<li><a class="external free" href="http://www.mgf.ultimatemg.com/group2/engines/development_history_of_the_K.htm" rel="nofollow">http://www.mgf.ultimatemg.com/group2/engines/development_history_of_the_K.htm</a></li>
<li><a class="external free" href="http://www.mgf.ultimatemg.com/group2/common_problems/hgf_pages/why_do_hgfs.htm" rel="nofollow">http://www.mgf.ultimatemg.com/group2/common_problems/hgf_pages/why_do_hgfs.htm</a></li>
<li><a class="external free" href="http://www.exiges.com/ubbthreads/showflat.php?Cat=&#38;Board=UBB2&#38;Number=67593&#38;Forum=All_Forums&#38;Words=PEL500150&#38;Searchpage=0&#38;Limit=25&#38;Main=66091&#38;Search=true&#38;where=bodysub&#38;Name=&#38;daterange=1&#38;newerval=1&#38;newertype=y&#38;olderval=&#38;oldertype=&#38;bodyprev=#Post67593" rel="nofollow">http://www.exiges.com/ubbthreads/showflat.php?Cat=&#38;Board=UBB2&#38;Number=67593&#38;Forum=All_Forums&#38;Words=PEL500150&#38;Searchpage=0&#38;Limit=25&#38;Main=66091&#38;Search=true&#38;where=bodysub&#38;Name=&#38;daterange=1&#38;newerval=1&#38;newertype=y&#38;olderval=&#38;oldertype=&#38;bodyprev=#Post67593</a></li>
<li><a class="external free" href="http://www.youtube.com/watch?v=jy-Kp-0hj9Y" rel="nofollow">http://www.youtube.com/watch?v=jy-Kp-0hj9Y</a></li>
</ul>

<p>


</p>