
<p>Thinking of investing in track upgrades for an S2 Lotus Elise ? </p>
<p>This article is a pragmatic and cost conscious approach to stepwise investments for getting the most out of the Elise handling on track as your driving improves, without pissing away too much cash ( LOL if that’s possible ). </p>
<p>This is about handling - for engine/power upgrades e.g. induction, exhaust, headwork, <a href="http://wiki.seloc.org/a/ECU" title="ECU">ECU</a>, cams, transplants I&#39;d suggest browsing the other <a class="external text" href="http://wiki.seloc.org/a/SELOC_TechWiki" rel="nofollow">SELOC Techwiki</a> articles ( just note that if your over 95dba static you could have problems attending some track events ). </p>
<p>The article is aimed at folks new to this to give a complete picture of most of the investments that can be made for a great track car ( e.g. ready to raceprep for  <a class="external text" href="http://www.lotrdc.com" rel="nofollow">LOTRDC</a>  class A ) but does not represent the &#34;the ultimate in affluent or exotic upgrades&#34;, for that simply look at Bogie&#39;s car <a class="external text" href="http://www.lotus-register.com/garage/garage.php?mode=view_vehicle&#38;CID=8" rel="nofollow">Clicky Here</a></p>

<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<ul>
<li class="toclevel-1"><a href="#0.___Kit_Bag">0.   Kit Bag</a>
</li>
<li class="toclevel-1"><a href="#1..09Oil">1.	Oil</a>
</li>
<li class="toclevel-1"><a href="#2..09Brake_Pads_and_Fluid">2.	Brake Pads and Fluid</a>
</li>
<li class="toclevel-1"><a href="#3..09Harness">3.	Harness</a>
</li>
<li class="toclevel-1"><a href="#4..09Camera_.26_mount">4.	Camera &#38; mount</a>
</li>
<li class="toclevel-1"><a href="#5..09Suspension">5.	Suspension</a>
</li>
<li class="toclevel-1"><a href="#6..09Tyres">6.	Tyres</a>
</li>
<li class="toclevel-1"><a href="#7..09Brake_Disks">7.	Brake Disks</a>
</li>
<li class="toclevel-1"><a href="#8.___ARB">8.   ARB</a>
</li>
<li class="toclevel-1"><a href="#9..09Uniball_Toe_links">9.	Uniball Toe links</a>
</li>
<li class="toclevel-1"><a href="#10..09Other_Stuff">10.	Other Stuff</a>
</li>
<li class="toclevel-1"><a href="#Vendors">Vendors</a>
</li>
</ul>
</ul>
</ul></td></tr></table><hr/>
<h3><span class="mw-headline" id="0.___Kit_Bag">0.   Kit Bag</span></h3>
<p>Start with a £10 tire pressure gauge as the most important item and add from there ... after hiring smelly helmets why not sweat in your own ( Type A, A/FR or SNELL ) then tyre pump, fuel can, gloves etc.</p>
<h3><span class="mw-headline" id="1..09Oil">1.	Oil</span></h3>
<p>Before you hit the track and start cooking the engine get some decent oil in - favourite would be fully synthetic with a high HTHS value and change when it’s black (every 8 to 12 track hours). If you don’t have an oil cooler even more important for a 5.x HTHS oil and change even more often. Worst case put in any  W40 in but try and keep it fresh, rocking out on track with your car in need of an oil change is simply mad. </p>
<p>Read the <a href="http://wiki.seloc.org/a/Oil_Labelling_Explained#Why_oils_lose_viscosity_with_use" title="Oil Labelling Explained">Why oils lose viscosity with use</a> article which explains that &#34;a decent race oil will take about 10 hours of hard track use and a semi-syntehtic or hydrocracked base stock will last about an hour before the oil begins to lose viscosity&#34;.</p>
<h3><span class="mw-headline" id="2..09Brake_Pads_and_Fluid">2.	Brake Pads and Fluid</span></h3>
<p>After your first track experience you&#39;ll be wanting more consistent stopping power with longer sessions and the brakes are the first item to stress. Consider Mintex 1144 £100 for occasional tracking, Pagid RS42 blue for road and track £200, Pagid RS14 black £200 for hard core track bias (i.e. not great when cold and wet on the way to work). Fronts should last 24 track hours rears two to four times that. </p>
<p>Decent pads that wont fade with heat need fresh fluid (Castrol Super DOT4 £10, AP600 £20, SRF £50) and plan to bleed fluid regularly (every 2 to 6 track hours) plus completely change it annually (Lotus recommend that even for road use) 
If your flushing the fluid then put some stainless steel braided hoses on £50 for more consistent brake feel as the increase in labour cost is marginal.</p>
<p>See <a href="http://wiki.seloc.org/a/Brake_pads" title="Brake pads">Brake pads</a> and <a href="http://wiki.seloc.org/a/Brake_fluid" title="Brake fluid">Brake fluid</a> for more information.</p>
<h3><span class="mw-headline" id="3..09Harness">3.	Harness</span></h3>
<p>So the cornering and braking is throwing you around the cabin and wedging your left leg against the gear lever just isn’t good enough to stop the bruising. If your just having fun consider a CGlock but if you really want to &#34;feel&#34; the car you need a harness.</p>
<p>Bolt in or Wraparound ? </p>
<p>If you don’t have seats with shoulder strap holes you MUST buy bolt in harnesses. If you have seat holes then you can have either.</p>
<p>Harness shoulder strap bar ? </p>
<p>There are two principle types of harness bar, one that mounts mid level using dedicated points on the roll hoop but requires cutting the plastic back panel or one that bolts up behind the inertia reels and requires no cutting but can hold the straps too high and loose if you are shorter. </p>
<p>Also See <a href="http://wiki.seloc.org/a/Fit_a_harness_bar_and_belts" title="Fit a harness bar and belts">Fit a harness bar and belts</a></p>
<p>Harness Points ? </p>
<p>They come in 4 or 5/6 point (crutch strap). 4 point is fine as you need a special cut-out in the base of the seat and a mount frame and/or custom floor spreader plates to use the 5/6 crutch strap.</p>
<p>Clubman or Standard ? </p>
<p>Clubman harness have the 2” shoulder straps permanently attached to the lap straps and do not join at the buckle which means they can be quite wide at the shoulders, you could pop out the middle if you are a slight build. Separate shoulder and lap straps which all join at the buckle are more expensive but far more secure and come in 2” or 3” (pref) shoulder strap widths. Lap straps should generally be 2” for security as the 3” can apparently ride up the pelvis fitted to Elise seats.</p>
<p>Adjusters ? </p>
<p>Shoulder straps can be fitted with plain buckles or quick release adjusters which make leaning forward (e.g. if using harness on the road) a whole lot easier.</p>
<p>The gold standard for harnesses are the Willans Silverstone 4x4 3” shoulder 2” lap strap with quick release adjusters £180 and you can add a the crutch strap later; use this as a price/performance comparison benchmark for whatever you are thinking of buying. <a class="external text" href="http://www.willansharness.co.uk/User_Files/specsheet1310.pdf" rel="nofollow">All the harness options on one page Here</a></p>
<p>Racing !</p>
<p>Note that if you anticipate racing your car the S1 A frame and S2 cages do not have bolt in harness points so you will need to change to wrapround harnesses and a race seat with harness holes - maybe do this now to save switching costs.</p>
<h3><span class="mw-headline" id="4..09Camera_.26_mount">4.	Camera &#38; mount</span></h3>
<p>If you really want to improve, along with lots of training, video yourself for later review of performance and technique. With a harness bar the usual camera mount is a Manfrotto superclamp SC with extension spindle ES and camera plate for £40 (Note many circuits incl Silverstone are banning suction mounts). <a class="external text" href="http://www.b-hague.co.uk/Mounting%20Brackets.htm" rel="nofollow">Camera Brackets Here</a></p>
<p>Stick any MiniDV or digital camera on there (anti vibration like Sony supersteadyshot really helps) but avoid the direct to CD or HDD types as the vibration can kill them. Being obsessive is also a plus for this stage </p>
<p>If your camcorder has analogue input or you have a solid state MPEG recorder you could use a bullet cam (wide angle pref) mounted just about anywhere on the car. <a class="external text" href="http://www.rfconcepts.co.uk" rel="nofollow">Bullet cams Here</a> <a class="external text" href="http://www.fastfilms.co.uk" rel="nofollow">or Here</a></p>
<h3><span class="mw-headline" id="5..09Suspension">5.	Suspension</span></h3>
<p>So your bouncing over the track at speed and overloading the tyres on the bumpstops in corners with loads of lock and high slip angles for safe predictable understeery fun, time for suspension  ? Well if you eventually want to fit cut slick tyres and actually use their capabilities you really will need stiffer springs and that means new monotube dampers that can handle the spring rates.</p>
<p>Lotus Sport Suspension with adjustable ride height £600, Nitron One Way with adjustable ride height and damping (bump/rebound) £1,100 or Ohlins or ... but be really careful about the £500 twintube damper offers since cheap is cheap. This is a long conversation and involves careful consideration of spring rates, ride height and geometry, but the most common setup for regular track cars is Nitron one way with 400/475 springs on 110/120 ride which will drop a 2 minute lap by 5 to 10 seconds providing a more stable and predictable platform. Going lower than 110 on the front will cause the wheels to catch on the clam under heavy braking and cause early lock-up. Going stiffer on the springs (say 450/550) will allow less damping, but, they will be far less forgiving when you make a mistake. the Do a SELOC search on +spring +rates</p>
<p>Dropping the ride height needs the stering rack riser plates replaced with the 10 notch motorsport version to reduce bump steer.</p>
<p>New suspension will need the Geometry adjusting, another long story but 340R Road is probably a good place to be here whilst still on road tyres see:<a href="http://wiki.seloc.org/a/Geo_Setups" title="Geo Setups">Geo Setups</a> for more information.</p>
<h3><span class="mw-headline" id="6..09Tyres">6.	Tyres</span></h3>
<p>By now you are melting your road tyres on track so it could be time for 195/225 cut slicks. Either Yokohama A048 £650 or Toyo R888 £450 will drop a 2 minute lap by a further 5 to 10 seconds with more consistency. See <a href="http://wiki.seloc.org/a/Tyres_for_OZ_Racing_Rims" title="Tyres for OZ Racing Rims">Tyres for OZ Racing Rims</a> for more information.</p>
<p>You need to be really committed here since these tyres cost 50 to 100% more than your current road tyres and only last 25 to 50% the miles - this will generate a big jump in operating costs for a worse experience on the road (e.g. aquaplane in standing water). Maybe keep your original rims and tyres for road use ?</p>
<p>Whilst you could run 195 tyres on the standard 5.5J front rims, to allow the sidewalls to do their job properly, it is highly recommended to upgrade the front rims to 6.5J or 7J which unfortunately needs a whole new set of 4 like TeamDynamics 1.2 £500 or Lotus Motorsport OZ or Exige Spider £1,000 See <a href="http://wiki.seloc.org/a/S2_Wheel_Options" title="S2 Wheel Options">S2 Wheel Options</a> for more information (Rover and Toyota engine cars have different rear offsets).</p>
<p><b>PS If you are not able to consistently exceed your current road tyres capability on track and regularly catch oversteer with a dab of oppylock, &#34;upgrading&#34; to cut slicks too early will probably hinder your development as there is less feel/feedback and the breakaway is sharper (less progressive).</b> Honestly its a *LOT* easier to learn on road tyres.</p>
<h3><span class="mw-headline" id="7..09Brake_Disks">7.	Brake Disks</span></h3>
<p>You are probably now at the point of overheating the OEM/EBC front disks with higher approach speeds and the extra braking capacity of the cut slicks across longer sessions. Time to upgrade the front disks to something that handles heat better; Elise-shop Motorsport disks £200 or Elise parts Ally Bell £300. There is marginal benefit upgrading the rear disks as they are used a LOT less (between 1:2 and 1:4) unless you are running really long sessions or BIG power. Yes you can run mixed front to back disks (e.g. the Official Lotus Motorsport AP5000 upgrade kit is for the front only and keeps the OEM disks on the rear).</p>
<h3><span class="mw-headline" id="8.___ARB">8.   ARB</span></h3>
<p>Your consistently taking Craners at Donington or Coppice at Cadwell and the like around 100 mph and to improve high speed cornering stability and consistency a 2.5x ARB will help £200. You&#39;ll probably want to increase the front camber now or consider the 340R Track Geo setup.</p>

<h3><span class="mw-headline" id="9..09Uniball_Toe_links">9.	Uniball Toe links</span></h3>
<p>You don’t have to have solid/uniball rear toe links to run cut slicks - Lotus shipped the S2 135R and Exige on A048s with standard toe links, and there are many thousands of track miles done each year on these with an extremely low failure rate (the major problem was the S1 design) ... BUT the more hours you spend using the capabilities of cut slicks pushing the car hard on track up the curbs etc the higher your exposure to risk, so at some point when you have a spare £250 its worth doing on an S2. <a href="http://wiki.seloc.org/a/S2_Toelink_Install" title="S2 Toelink Install">S2 Toelink Install</a>.</p>
<p>Whilst your there, don’t forget to check or change the rear plinth bolts from 8.8 to A117W7212F 10.9 grade and torque to 50 lbft to stop your rear wheels falling off ! <a class="external free" href="http://forums.seloc.org/viewthread.php?goto=2758738" rel="nofollow">http://forums.seloc.org/viewthread.php?goto=2758738</a></p>
<h3><span class="mw-headline" id="10..09Other_Stuff">10.	Other Stuff</span></h3>
<p>Steering Wheel – you can bring the steering wheel 20 to 30mm closer, but it needs a new wheel (300mm Momo Team is usual £100) with an adaptor £20 and boss either fixed £50 or removable £100 <a href="http://wiki.seloc.org/a/S2_Removable_Steering_Install" title="S2 Removable Steering Install">S2 Removable Steering Install</a>.</p>
<p>Seats – Really nice but unnecessary (Budget £400, Eliseparts CF £550, Mog CF £600, 340R/Exige £700, Reverie Mulsanne £800) don’t forget you may need custom mounts or a subframe conversion kit as well. Yes having shoulder and crutch holes is great, but with a properly fitted quality harness, the normal Elise seats are OK for track days.</p>
<h3><span class="mw-headline" id="Vendors">Vendors</span></h3>
<p>For stuff mentioned above checkout a mix ‘n match of:</p>
<p><a class="external text" href="http://www.eliseparts.com" rel="nofollow">Eliseparts</a></p>
<p><a class="external text" href="http://www.elise-shop.com" rel="nofollow">Elise-Shop</a></p>
<p><a class="external text" href="http://www.hangar111.com" rel="nofollow">Hangar111</a></p>


<p>

</p>