
<p><a class="image" href="http://wiki.seloc.org/a/image:Delphi.jpg" ><img src="Delphi.jpg" class="location-left" width="220" />
</a></p>


<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<ul>
<li class="toclevel-1"><a href="#Battery_Coding">Battery Coding</a>
</li>
<li class="toclevel-1"><a href="#Battery_.22Conditioning.22">Battery &#34;Conditioning&#34;</a>
</li>
</ul>
<li class="toclevel-1"><a href="#Recommended_Batteries">Recommended Batteries</a>
<ul>
<li class="toclevel-2"><a href="#Varta_Blue_Dynamic">Varta Blue Dynamic</a>
</li>
<li class="toclevel-2"><a href="#Varta_Silver_Dynamic">Varta Silver Dynamic</a>
</li>
<li class="toclevel-2"><a href="#Halfords">Halfords</a>
</li>
<li class="toclevel-2"><a href="#Tudor.2FExide">Tudor/Exide</a>
<ul>
<li class="toclevel-3"><a href="#Technica">Technica</a>
</li>
<li class="toclevel-3"><a href="#Tech-Start.2B">Tech-Start+</a>
</li>
<li class="toclevel-3"><a href="#Tech-Tronic2">Tech-Tronic2</a>
</li>
</ul>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#S1_Fitting">S1 Fitting</a>
</li>
<li class="toclevel-1"><a href="#S2_K-series_Fitting">S2 K-series Fitting</a>
</li>
<li class="toclevel-1"><a href="#S2_Yota_Fitting">S2 Yota Fitting</a>
</li>
<li class="toclevel-1"><a href="#Jump_starting_a_battery">Jump starting a battery</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h3><span class="mw-headline" id="Battery_Coding">Battery Coding</span></h3>

<p>Most common batteries have a type number (UK) &#38; this generally decides the physical size &#38; the pole type/configuration but not the current rating as type numbers are available in several capacities eg 44A to around 70A.</p>
<p>The more modern numbering system is the ETN system. </p>
<p>eg <b>580</b>-<b>063</b>-<b>039</b></p>
<p>In which the 1st three digits are the current rating (<b>-500</b>) then the configuration &#38; physical size (<b>type number 063</b>) &#38; the last three are cold cranking (<b>X100</b>) so in this example the battery specs are: 80A - type063 - 390A cold cranking.</p>

<ul>
<li><b>Voltage</b> - 12V</li>
</ul>


<ul>
<li><b>Capacity</b> - 55Ah</li>
</ul>


<ul>
<li><b>CCA(EN)</b> - 540A / 390A / 450A (but not important)</li>
</ul>


<ul>
<li><b>Dimensions(mm):</b> 207 x 175 x 175</li>
</ul>

<h3><span class="mw-headline" id="Battery_.22Conditioning.22">Battery &#34;Conditioning&#34;</span></h3>


<p><b>Please add Info</b></p>
<p>Like many things in life, the term “maintenance-free” is only partially true. Lead-acid batteries normally consume some of the water in their dilute sulphuric acid electrolyte during a normal charge-discharge cycle. It actually electrolyzes into hydrogen and oxygen and escapes as gas. So adding water periodically is necessary to keep the plates flooded. Maintenance-free batteries use a calcium alloy of lead instead of an antimony alloy, which reduces the amount of electrolysis. In addition, the amount of free-standing electrolyte above the plates is designed to be much higher in a new maintenance-free battery. This means that there’s enough electrolyte to keep the plates covered even after a few seasons of normal use. So, during the battery’s normal service life there should be no need to add water. Any abnormal electrical system condition or high ambient temperatures may boil off more than the normal amount of water, however. Adding water may extend the service life of these supposedly maintenance-free batteries, although one should be careful not to over dilute the electrolyte level.</p>
<p>The extended use of battery chargers or conditioners may also cause the electrolyte levels in the cells to be reduced. Indeed, some battery conditioners that are marketed as being suitable for permanent connection are not suited for this - they can also reduce the electrolyte level over time. This is because they deliver a constant, albeit very low, current to the battery which drains the cells dry of electrolyte.</p>
<p>A truly intelligent conditioner should not have this problem, as they monitor the charge in the battery, adjusting the charge given to the battery as necessary. The Accumate is one such charger, although there are others that should be suitable.</p>


<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:battery1.JPG" title="Battery filler caps may be concealed under a tab or even under a large vinyl label."><img src="battery1.JPG" alt="Battery filler caps may be concealed under a tab or even under a large vinyl label." title="Battery filler caps may be concealed under a tab or even under a large vinyl label." class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Battery filler caps may be concealed under a tab or even under a large vinyl label.</div></div>
</div>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:battery3.JPG" title="A built-in hydrometer eye is a good check, but won’t necessarily find a bad battery."><img src="battery3.JPG" alt="A built-in hydrometer eye is a good check, but won’t necessarily find a bad battery." title="A built-in hydrometer eye is a good check, but won’t necessarily find a bad battery." class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">A built-in hydrometer eye is a good check, but won’t necessarily find a bad battery.</div></div>
</div>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:battery4.JPG" title="A Cut Away of a maintenance-free Battery."><img src="battery4.JPG" alt="A Cut Away of a maintenance-free Battery." title="A Cut Away of a maintenance-free Battery." class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">A Cut Away of a maintenance-free Battery.</div></div>
</div>







<h2><span class="mw-headline" id="Recommended_Batteries">Recommended Batteries</span></h2>

<p>The S1 Elise uses one of the smallest standard car batteries available, Type 063, typically found on superminis like the Peugeot 106.</p>
<h3><span class="mw-headline" id="Varta_Blue_Dynamic">Varta Blue Dynamic</span></h3>

<p>ETN (European Type Number): <a class="external text" href="http://pmd.varta-automotive.com/pmd2/showBatterieDetail.do?ArtikelNr=5444020443132" rel="nofollow">544 402 044 (Varta datasheet)</a></p>
<p>This is a good value for money battery with 44 Ah and 440 CCA. It weighs 11kg.</p>
<h3><span class="mw-headline" id="Varta_Silver_Dynamic">Varta Silver Dynamic</span></h3>

<p>ETN (European Type Number): <a class="external text" href="http://pmd.varta-automotive.com/pmd2/showBatterieDetail.do?ArtikelNr=5524010523162" rel="nofollow">552 401 052 (Varta datasheet)</a></p>
<p>This is an extremely powerful battery for the size, boasting 52 Ah and 520 CCA.  It weighs 13kg which is up to 1kg heavier than most others this size.  Prices vary considerably from £53 to £80 so shop around and find a supplier from the Varta web site.</p>
<h3><span class="mw-headline" id="Halfords">Halfords</span></h3>

<p>It is on their computer system if you cant remember the size and need to ask them.  Also remember there is a SELOC discount for all members at Halfords - <a class="external text" href="http://www.seloc.org/benefits.php?bc=6" rel="nofollow">check the benefits pages</a> for instructions.</p>
<p>They might offer to fit it, but after checking their computer they&#39;ll find a warning that they&#39;ve had problems with Elise immobilisers, and then decline to fit it for you. Allegedly their problem was with immobilisers on early S1&#39;s, but don&#39;t fear, just following the handbook procedure for S2&#39;s certainly produced no problems at all.</p>
<h3><span class="mw-headline" id="Tudor.2FExide">Tudor/Exide</span></h3>

<h4><span class="mw-headline" id="Technica">Technica</span></h4>

<ul>
<li>Order number: 543 20</li>
<li>Type number: TA02</li>
<li>Capacity: 43 Ah</li>
<li>Cold start current: 370 EN</li>
</ul>


<ul>
<li>Lenght 207mm</li>
<li>Width  175mm</li>
<li>Height 175mm</li>
</ul>

<p>Regular battery with slightly higher capacity than OEM 36Ah</p>
<h4><span class="mw-headline" id="Tech-Start.2B">Tech-Start+</span></h4>

<ul>
<li>Order number: 445 00</li>
<li>Type number: TP03</li>
<li>Capacity: 45 Ah</li>
<li>Cold start current: 450 EN</li>
</ul>


<ul>
<li>Lenght 207mm</li>
<li>Width  175mm</li>
<li>Height 175mm</li>
</ul>

<p>Extra cold temperature start capacity</p>
<h4><span class="mw-headline" id="Tech-Tronic2">Tech-Tronic2</span></h4>

<ul>
<li>Order number: 850 00</li>
<li>Type number: TC03</li>
<li>Capacity: 50 Ah</li>
<li>Cold start current: 360 EN</li>
</ul>


<ul>
<li>Lenght 207mm</li>
<li>Width  175mm</li>
<li>Height 175mm</li>
</ul>

<p>Deep-cycle resistant battery</p>
<h2><span class="mw-headline" id="S1_Fitting">S1 Fitting</span></h2>


<div style="page-break-inside: avoid;">
<table align="right" cellpadding="2" cellspacing="0" class="infobox" font="3" rules="rows" style="font-size:85%; width:25em; border-collapse:collapse; border:1px solid black;">
<tr style="background:LightBlue;">
<td align="center" colspan="2" style="font-size: larger;"><b>Time &#38; Tools</b></td></tr>
<tr>
<th>Time:</th>
<td>15 minutes</td></tr>
<tr>
<th>Tools:</th>
<td>10mm socket set,Spanner to undo terminals on battery</td></tr></table></div>

<p>Remove the windscreen washer tank by sliding up, rotating around 180 degrees and sitting it on the radiator. This helps prop up the bodywork while you work. </p>
<p>You could remove the radiator cowl using a Torx T10 screwdriver, but you&#39;re more than likely to bust a plastic fastener in the process. The radiator cowl is quite flexible so can be bent out of the way to allow the battery to exit.  It does help a lot to remove the cowl when lowering the new battery into position.</p>
<p>It also helps to remove the plastic cover over the wiper motor, and snip off the cable ties on the wiring loom to make space to remove the old battery.</p>
<p>Undo the battery clamp which the washer tank slid into. It has 3 10mm bolts. The top one is thinner than the others. </p>
<p>As with all car batteries always remove the negative -ve terminal first and reattach it last - in case the spanner shorts the terminal to the cars bodywork this will prevent sparks / red hot spanners; [this is reversed on positive earth cars].</p>
<p>Now the battery is free, but it needs to be lifted out of the car. It&#39;s a tight squeeze past the wiring looms but it can be done.</p>
<p>The new battery does not have the same type of handle as the Lotus part.</p>
<p>People have suggested using a piece of wood to make up the difference, or even manufacturing a new bracket. I just cut the handle off the the old battery and stuck it onto the &#34;step&#34; on the old one with some sticky foam pads.</p>
<p>Lotus sell a modified battery clamp for about a tenner [part. E111M0025F] which will fit even better but that means you have to remember to order it.</p>
<p>Eliseparts also sell an <a class="external text" href="http://www.eliseparts.com/shop/index.php?main_page=product_info&#38;products_id=525" rel="nofollow">adjustable battery clamp</a> which allows adjustment for both height and width of the new battery. This is needed for the Varta batteries, which are wider.</p>


<p>The supplier assured me the battery was sealed - <b>IT IS NOT!</b></p>
<p>There are <b>two</b> vent holes on either side of the battery, about 1/4 inch in diameter. I used the passenger side one for the vent pipe, and plugged the driver&#39;s side one with the blanking plug which comes free, moulded onto the battery&#39;s handle.</p>
<p>The battery breather is <b>Very</b> important, not fitting the battery breather or forgetting to plug the second hole the Varta batteries have can mean concentrated sulphuric acid sloshing around inside your car - Not a good thing.</p>
<p>Remember to smear the terminals with vaseline before reattaching the cables, this helps stop corrosion.</p>
<p>If you are keen, remove the other end of the earth strap where it attaches to the chassis and clean it with emery paper, grease it with vaseline and refit - this can help with the &#34;Engine temperature appears to change when I turn on the heater fan&#34; problem.</p>
<h2><span class="mw-headline" id="S2_K-series_Fitting">S2 K-series Fitting</span></h2>



<p>The procedure is described in the Owners Handbook and is pretty self explanatory:</p>
<p>1.  Undo the retaining clamp at the base of the battery (6mm Allen key required), and slide the battery out of the retaining shoe so you have easy access to the terminals.  If you&#39;re doing this on your own - loosen the negative black earth cable nut slightly BUT DON&#39;T DISCONNECT IT JUST YET.</p>
<p>2.  Turn all lights, radios, satnav etc equipment off.</p>
<p>3.  Turn the ignition off and wait about 10 seconds for the engine management system to settle down.</p>
<p>4.  <b>DON&#39;T</b> arm the alarm or immobiliser</p>
<p>N.B. It is easier to undo the 12mm nut on the stud rather than attempt to undo the 10mm nut on the terminal</p>
<p>5.  Within 25 seconds of turning off the ignition (i.e. before the immobiliser/alarm kicks in), disconnect the negative black earth cable from the battery.  <b>ALWAYS</b> disconnect the black first.</p>
<p>6.  Disconnect the positive red cable from the battery.</p>
<p>7.  Swap the old battery out, transfer the terminal connectors to the new battery, put the new battery into the boot so you can work on it to reconnect the terminal cables.</p>
<p>8.  Connect the positive red cable to the new battery.</p>
<p>9.  Connect the negative black cable to the new battery (have the keyfob to hand just in case the alarm goes off).  <b>ALWAYS</b> reconnect the black last.</p>
<p>10.  Slide it back into the retaining shoe, refit the 6mm clamp.</p>
<h2><span class="mw-headline" id="S2_Yota_Fitting">S2 Yota Fitting</span></h2>



<p><a class="external text" href="http://en.wikipedia.org/wiki/Car_battery" rel="nofollow">Wikipedia On Car Batteries</a></p>
<h2><span class="mw-headline" id="Jump_starting_a_battery">Jump starting a battery</span></h2>

<p>When jumping/charging batteries, hook up the positive terminals first, then negative (whether it&#39;s to the battery or to some convenient point on the chassis/engine). </p>
<p>Once jumped/charged, remove negative first, then positive last.</p>

<p>


</p>