<h2><span class="mw-headline" id="Early_Elise_S2">Early Elise S2</span></h2>
<p><a class="image" href="http://wiki.seloc.org/a/image:toolroll.JPG" title="Early Lotus Elise S2 Tool Roll"><img src="toolroll.JPG" alt="Early Lotus Elise S2 Tool Roll" class="location-left" width="220" />
</a></p>

<p>The contents from left to right:
</p>
<ol>
<li>Wheel Nut bolt</li>
<li>Wheel Nut lock</li>
<li>Tow Hook</li>
<li>8mm Allen Key </li>
<li>3mm Allen key</li>
</ol>


<h2><span class="mw-headline" id="Later_Elise_S2">Later Elise S2</span></h2>
<p><a class="image" href="http://wiki.seloc.org/a/image:DSCF1073.jpg" title="Later Lotus Elise S2 Tool Roll"><img src="DSCF1073.jpg" alt="Later Lotus Elise S2 Tool Roll" class="location-left" width="220" />
</a></p>

<p>The contents from left to right:
</p>
<ol>
<li>Wheel Nut bolt</li>
<li>Wheel Nut lock</li>
<li>8mm Allen Key </li>
<li>3mm Allen key</li>
<li>T40 Torx key (optional - hardtop fittings)</li>
<li>Tow Hook</li>
</ol>

<p>

</p>