
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:ball_joint.jpg" title="Ball joints"><img src="ball_joint.jpg" alt="Ball joints" title="Ball joints" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Ball joints</div></div>
</div>


<p>Elise ball joint are not a specific item. The same have been used on Vauxhall (Opel) Kadett.
Parts number are: Quiton Hazel: QSJ883S, Deplhi: TC163.<br /><br /></p>
<p>[Remark by YvoTuk (www.elise-shop.com)]<br /><br />
We have found the above comment not to be correct.<br /><br /></p>
<p>Nowadays, big automotive companies like QH, TRW, Delphi etc. outsource &#39;simple&#39; chassis components to various parties. In practice, buying a QSJ883S might be the right thing to do today, but you might experience a problem tomorrow.<br /><br /></p>
<p>WARNING ! - Purchase Non specific ball joints at your own risk, myself and other local members have found the new QH and Delphi Joints to be too loose or too large to press in.. Both elise-shop and Eliseparts have their own delphi manufactured part that fits perfectly. (added March 2009)</p>
<p>What we&#39;ve seen happening was:<br />
- <b>Length / taper of shaft changed</b>, steering arm or ball joint plinth was sitting higher up or lower down, which directly affects the geometry of your car.
- <b>Size of the lower part changed</b> by a few thou&#39;s which made the ball joint stiff. This is something you will recognize very easy when you install the new ball joint. The self steering of the car can be completely gone.<br /><br /></p>
<p>For these reasons, we have made an arrangement with one of the big automotive players to produce a ball joint for us which is manufactured to a tighter specification. This specific ball joint is not available through the regular channels and can only be bought from us.</p>

<p>See <a href="http://wiki.seloc.org/a/Change_a_ball_joint" title="Change a ball joint">change a ball joint</a> for further details.</p>
<h2><span class="mw-headline" id="External_links">External links</span></h2>


<ul>
<li><a class="external free" href="http://www.elise-shop.com/index.php?main_page=product_info&#38;cPath=8&#38;products_id=61" rel="nofollow">http://www.elise-shop.com/index.php?main_page=product_info&#38;cPath=8&#38;products_id=61</a></li>
<li><a class="external free" href="http://www.eliseparts.com/products.php?product=399" rel="nofollow">http://www.eliseparts.com/products.php?product=399</a></li>
</ul>


<p>


</p>