<h3><span class="mw-headline" id="Indicators">Indicators</span></h3>


<p>S2 Indicators</p>
<p><b>Lotus Part Numbers:</b></p>
<p>L\H: B117M0018F</p>
<p>R\H: B117M0017F</p>
<p>and they are £62.50</p>
<p>The indicator release clip is accessed through a small hole in the clam in the corner of the grill appature, 10 o&#39;clock of the driving lamp if fitted. The hole is visible in the second photo.</p>
<p>A medium sized flat blade screw driver is best used to release the clip.</p> 
<p>The clips can break on the S2 indicators making them &#39;pop&#39; out, and your indicator unit will need replacing, or if you&#39;re a <a class="external text" href="http://en.wikipedia.org/wiki/Skinflint" rel="nofollow">skinflint</a> like SELOC member <a class="external text" href="http://forums.seloc.org/m/dobbin" rel="nofollow">Dobbin</a> you can use this handy trick:</p>

<ul>
<li>Drill a hole in what&#39;s left of the bottom indicator tab and then feed a length of nylon shock cord through it. </li>
</ul>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:cord1.jpg" title="Hole Drilled, Cord Through."><img src="cord1.jpg" alt="Hole Drilled, Cord Through." title="Hole Drilled, Cord Through." class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Hole Drilled, Cord Through.</div></div>
</div>



<ul>
<li>Both ends fed around the driving light and passed through one of those springy toggles you get on jackets. </li>
</ul>
<p><a class="external text" href="http://shop.acesupplies.co.uk/acatalog/Webbing_and_Cord_Fittings.html" rel="nofollow">Toggles</a>
<a class="image" href="http://wiki.seloc.org/a/Image:toggle.jpg" ><img src="toggle.jpg" width="220" />
</a></p>
<p>Then tied together with a cable tie around the driving light. </p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:cord2.jpg" title="Cord Around Driving Light."><img src="cord2.jpg" alt="Cord Around Driving Light." title="Cord Around Driving Light." class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Cord Around Driving Light.</div></div>
</div>



<ul>
<li>Once the indicator is popped back in you can then pull the cord as tight as you like.</li>
</ul>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:cord3.jpg" title="Pulling The Cord Tight Around The Driving Light."><img src="cord3.jpg" alt="Pulling The Cord Tight Around The Driving Light." title="Pulling The Cord Tight Around The Driving Light." class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Pulling The Cord Tight Around The Driving Light.</div></div>
</div>



<ul>
<li>You can just see the nylon cord, you can usually tuck it well out of the way.</li>
</ul>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:cord4.jpg" title="Job&#39;s A Carrot."><img src="cord4.jpg" alt="Job&#39;s A Carrot." title="Job&#39;s A Carrot." class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Job&#39;s A Carrot.</div></div>
</div>


<h3><span class="mw-headline" id="See_Also">See Also</span></h3>

<p><a class="external text" href="http://www.sandsmuseum.com/cars/elise/experience/maintenance/indicatorlens/indicatorlens.html" rel="nofollow">Sandsmusem external link</a></p>

<p>

</p>