<h3><span class="mw-headline" id="S2_Horn">S2 Horn</span></h3>

<p>This Should take about 2 hours max ( but leave time for 3 ).</p>


<ul>
<li>Jack up and secure car.</li>
</ul>


<ul>
<li>Remove front undertray.</li>
</ul>


<ul>
<li>Remove Drivers side wheel.</li>
</ul>


<ul>
<li>Remove the right access panel, and fuse cover and remove horn <a href="http://wiki.seloc.org/a/Fusebox" title="Fusebox">fuse (7.5AMP)</a></li>
</ul>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:accesspannel2.JPG" title="Remove the Horn Fuse"><img src="accesspannel2.JPG" alt="Remove the Horn Fuse" title="Remove the Horn Fuse" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Remove the Horn Fuse</div></div>
</div>



<ul>
<li>Remove mudflap screws and pull mudflaps away to gain access to the old horn, there is a 8mm nut and two wires that you need to disconnect.</li>
</ul>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:mudflaps.JPG" title="Removing of the mudflaps"><img src="mudflaps.JPG" alt="Removing of the mudflaps" title="Removing of the mudflaps" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Removing of the mudflaps</div></div>
</div>



<ul>
<li>Attach the new horn in place of the old horn.</li>
</ul>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:Stockhorn.JPG" title="The old horn"><img src="Stockhorn.JPG" alt="The old horn" title="The old horn" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">The old horn</div></div>
</div>


<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:airhorn.JPG" title="New Horn"><img src="airhorn.JPG" alt="New Horn" title="New Horn" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">New Horn</div></div>
</div>



<ul>
<li>You may need to drill a hole in the side, but there are lots there already, to make use of.</li>
</ul>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:newhorn2.JPG" title="New Horn in Place"><img src="newhorn2.JPG" alt="New Horn in Place" title="New Horn in Place" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">New Horn in Place</div></div>
</div>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:newhorn.JPG" title="New Horn in Place"><img src="newhorn.JPG" alt="New Horn in Place" title="New Horn in Place" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">New Horn in Place</div></div>
</div>



<ul>
<li>A <b>Top Tip</b> is put the tubing in hot water to help it fit over the connectors of the unit and horn ends.</li>
</ul>


<ul>
<li>Once new horn is fitted, fit a new <a href="http://wiki.seloc.org/a/Fusebox" title="Fusebox">25AMP fuse</a> inplace of the old <a href="http://wiki.seloc.org/a/Fusebox" title="Fusebox">7.5AMP fuse</a> you took out at the begining.</li>
</ul>


<ul>
<li>Test horn, Jobs a carrot</li>
</ul>


<p><a class="external text" href="http://www.eliseparts.com/shop/index.php?main_page=product_info&#38;products_id=502" rel="nofollow">Horn From Eliseparts</a></p>




<p>




</p>