
<p>Exhaust Heatshield on the Elise S1 looks like cardboard with a silver toplayer.</p>
<p>This material degrades over time and on a lot of cars, it got damaged by replacing exhausts etc. When the aluminium top-layer damages, the lower layer seems to pulverise which completely discards the function of the material.
Besides, when upgrading to another (higher power) engine, a lot more heat is generated in the exhaust bay, but also in the area between the engine and the exhaust bay.</p>
<p>A good way of getting rid of this (potential) problem is to replace the OE heatshield with a mixture of Nimbus GII and Cirrus GIIIx heatshield material.</p>
<p>To understand why to use both, you&#39;d have to understand the characteristics of the material:</p>

<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Nimbus_Gll_Material_Properties">Nimbus Gll Material Properties</a>
</li>
<li class="toclevel-1"><a href="#Cirrus_GIIIx_Material_Properties">Cirrus GIIIx Material Properties</a>
</li>
<li class="toclevel-1"><a href="#Description">Description</a>
</li>
<li class="toclevel-1"><a href="#Replacement_of_the_OE_shield_and_some_extra...">Replacement of the OE shield and some extra...</a>
</li>
<li class="toclevel-1"><a href="#Pricing_this_project...">Pricing this project...</a>
</li>
<li class="toclevel-1"><a href="#Only_for_racers.3F_NO.21">Only for racers? NO!</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Nimbus_Gll_Material_Properties">Nimbus Gll Material Properties</span></h2>

<p><b>Construction:</b> <br />
Double aluminium sheet, double formed<br />
Materials: 0.3 &#38; 0.125mm 1050A &#39;0&#39; grade aluminium<br />
Material Thickness: 0.43 mm<br />
Product Thickness: 5.25 mm<br />Area Density: 1.69 kg/m2<br /></p>
<p><b>Thermal:</b><br />
Thermal Conductivity  @ 150 ºC 0.27 W/mK<br />
Hot Plate Temperature Drop @ 150 ºC: 72.3 ºC</p>
<h2><span class="mw-headline" id="Cirrus_GIIIx_Material_Properties">Cirrus GIIIx Material Properties</span></h2>

<p><b>Construction:</b> <br />
2x Aluminised steel sheet, with synthetic fibre insert, double formed<br />
Materials: 2x 0.15 Feran steel, BS6536 AS05. 1mm synthetic fibre<br />
Material Thickness: 1 mm<br />
Product Thickness: 4.45 mm mm<br />
Area Density: 3.51 kg/m2<br /></p>
<p><b>Thermal:</b><br />
Thermal Conductivity  @ 150 ºC 0.11 W/mK<br />
Hot Plate Temperature Drop @ 150 ºC: 54 ºC</p>

<h2><span class="mw-headline" id="Description">Description</span></h2>

<p>I removed the old heatshield from my car (the cardboard stuff with silver lining) and replaced that with Nimbus. The real hot area&#39;s (which are manifold and cat) have been protected with Cirrus.</p>
<p>Nimbus and Cirrus are for different applications.
</p>
<ul>
<li>Nimbus is a two layer heatshield (as described above) which is perfect for general use. It&#39;s good to shield an exhaust or -as I did- as a replacement of the old cardboard heatshield.</li>
<li>Cirrus has an extra layer in between which makes it ideally suited for the really hot (radiating) area&#39;s. The extra layer doesn&#39;t only provide an extra barrier, it also stops the material from degrading over several heat cycles.</li>
</ul>

<p>What I&#39;ve done is simply replace all cardboard (OE) stuff with Nimbus and extended that into the engine bay to cover the area&#39;s which were not covered by the old heatshield. After that, I created a second layer from Cirrus(and formed that) around the manifold and the cat.</p>
<p>I&#39;ve used one sheet of Nimbus and one sheet of Cirrus for this &#39;project&#39;.</p>
<h2><span class="mw-headline" id="Replacement_of_the_OE_shield_and_some_extra...">Replacement of the OE shield and some extra...</span></h2>
<p>What I&#39;ve done is very simple:</p>

<ul>
<li>remove all exhaust components</li>
<li>remove the old heatshield (in one piece!!)</li>
<li>take the old heatshield and &#39;crush it&#39; on the sheet of Nimbus. Draw a cutting line around the original cardboard. <b>(take at least 2cm around the old stuff as you have to fold Nimbus round to stop it from falling apart)</b>
<ul>
<li>Do not cut it at the point where the manifold goes into the engine bay, you can simply fold that around the subframe and shield the area which isn&#39;t shielded at this moment.</li>
<li>Do not cut the holes for the exhaust mounts! (I did that, but it&#39;s useless and would only introduce new &#39;leaks&#39;, so I covered it again)</li>
</ul></li>
<li>form the Nimbus so it&#39;ll fit in the car. Don&#39;t forget to shape some extra&#39;s (a cross or so) to prevent it from rattling)</li>
<li>use long and wide pop rivets to fit the new heatshield.
<ul>
<li>Drill hole, stick pop rivet in from above and push a large outside diameter washer over the other side of the pop rivet to spread the load. Preferably use more pop rivets then original to get the whole thing stable.</li>
</ul></li>
<li>Create a tunnel made from Cirrcus which fits over the manifold and cat. I&#39;ve bend the side approx. 5cm down to catch the heat. (also here, you will have to fold the sides, so you need to cut a bigger sheet then the actual size needed!). Exactly same story here with the pop rivets.</li>
</ul>

<p>I had a bit of a problem as the pop rivets initially were not long enough. This can simply be solved by tapping the area around the pop rivet (diameter of the washer)</p>
<p>For the manifold end on the engine, I formed a sheet around the manifold and attached that to the boot bulkhead with square pipes of ali.</p>
<h2><span class="mw-headline" id="Pricing_this_project...">Pricing this project...</span></h2>

<p>The cost for one sheet of Nimbus is 85 euro + VAT (1226*1250mm)</p>
<p>Cirrus is available at 90 euro + VAT (580*1250mm)</p>
<p>Besides that, you will need (preferably full aluminium) pop rivets and large outside diameter washers.</p>

<h2><span class="mw-headline" id="Only_for_racers.3F_NO.21">Only for racers? NO!</span></h2>
<p>In the past years, I found that not only trackdays but mainly long motorway stretches were really warming up the rear end of the car. Wires were melted, the cable loom of my satnav which I dropped in the boot, was melted as well.</p>
<p>I&#39;ve done Abbeville recently which means a 3,5 hr stretch of 100mph on the motorway.. temperature went down from well over 100 degrees in the boot to around 29 degrees in the hottest area (boot was completely packed up which stopped any airflow)</p>

<p>


</p>