
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Rover_k_series_engine_mount.jpg" title="Standard Rover K Series engine mount"><img src="Rover_k_series_engine_mount.jpg" alt="Standard Rover K Series engine mount" title="Standard Rover K Series engine mount" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Standard Rover K Series engine mount</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Bernard_k_series_engine_mount.jpg" title="Bernard &#39;K&#39; series engine mount"><img src="Bernard_k_series_engine_mount.jpg" alt="Bernard &#39;K&#39; series engine mount" title="Bernard &#39;K&#39; series engine mount" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Bernard &#39;K&#39; series engine mount</div></div>
</div>

<p><b>Engine mounts</b> secure the engine to the <a href="http://wiki.seloc.org/a/Chassis" title="Chassis">chassis</a>.</p>
<p>NVH = <a href="http://wiki.seloc.org/a/Noise_Vibration_Harshness" title="Noise Vibration Harshness">Noise Vibration Harshness</a></p>

<h2><span class="mw-headline" id="Failure">Failure</span></h2>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Rover_k_series_engine_mount_failure.jpg" title="A failed Rover K series engine mount"><img src="Rover_k_series_engine_mount_failure.jpg" alt="A failed Rover K series engine mount" title="A failed Rover K series engine mount" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">A failed Rover K series engine mount</div></div>
</div>


<h2><span class="mw-headline" id="Forum_threads">Forum threads</span></h2>

<ul>
<li><a class="external free" href="http://arc.seloc.org/t/108077" rel="nofollow">http://arc.seloc.org/t/108077</a></li>
<li><a class="external free" href="http://arc.seloc.org/t/102568" rel="nofollow">http://arc.seloc.org/t/102568</a></li>
</ul>



<p>


</p>