
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Rear_clamshell_removed.jpg" title="Please upload a picture"><img src="Rear_clamshell_removed.jpg" alt="Please upload a picture" title="Please upload a picture" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Please upload a picture</div></div>
</div>

<p>
A few of us are removing rear clam currently</p>
<p>add remove some of this</p>
<p>if outside buy halfords small car cover £25</p>
<p>soft/hard top wil need to be off</p>
<p>drive or lift car up onto a 6&#34; concrete blocks</p>
<p>disconnect battery black wire (nearest bulkhead)</p>

<h2><span class="mw-headline" id="Procedure">Procedure</span></h2>
<p><b>1. Remove roll over bar shroud</b>
from inside cabin
4 8mm bolts upwards
remove rool bar black plastic clip things for softtop catches - undo 2 allen bolts
long tail shroud undo allen bolt at each end
lift off shroud - leaves sticky foam on rear clam - where do you buy some more?</p>
<p><b>2. Remove speaker trim panel</b>
it&#39;s only held in with 4 of those black plastic rivet things with heads that maul when you try to unscrew them
so decided to remove passenger seat
and passenger seat belt top mount to clam shell
seat is only held in by 4 sownward allen bolts (as above)
front 2 are easy to get to
rear tunnel is ok if you have enough extensions
rear near side only if you have a flexible extension,and the bolt is so tight it you need to rotate the seat too, to help it release
( you&#39;ll need to remove the bracket holding the lumbar bubble thing too - allen head )
ok then remove the trim panel undoing the speaker wires</p>
<p>all this for
<b>3. Remove bolt each side going sideways into the clam</b></p>
<p><b>4. Remove engine cover</b>
2 bolts each hinge with assorted washers
unplug the aerial near the engine cover
from inside cabin unscrew 2 nuts per hinge and remove hinge clamp brackets which hold down front of clam</p>
<p><b>5. Have a rest and remove carpet foam etc from within boot</b>
remove battery bracket 2 bolts
2 more clam bolts through floor battery side
3 clam bolts right side
discover tyre weld above offside wheel arch</p>
<p><b>6. Remove 2 allen bolts holding ecu unit to boot partition</b>
leave ecu where it is</p>
<p><b>7. Remove n/s wheel ( jack car first)</b>
remove liner
remove half dozen of those screw plastic rivet things
remove one 8mm bolt just above shock absorber</p>
<p>lift liner over shock absorber - it&#39;s tight
easerest of wheel arch liner out of space - its a good job its flexible - I found back end easiest to get out first
and there&#39;s a clip holding some wires which you need to poke out from inside the wheel arch</p>
<p>this gives access to 2 bolts holding clam / air box tube/side grill towards front of wheel arch - there may be &#39;C&#39; shims here!
from inside liner pull battery wires through clam with grommit
same for rear lightcluter wires - undo connector in boot
refit wheel lower jack</p>
<p><b>8. Do same for o/s wheel</b>
after removing the liner
undo the 8 screws holding the petrol filler aluminium ring
aand press the filler cap gently - it should unstick and move slighly inside clam</p>
<p><b>9. I found it easier to <a href="http://wiki.seloc.org/a/Remove_the_rear_undertray" title="Remove the rear undertray">Remove the rear undertray</a></b></p>
<p><b>10. Remove a pozi screw each side holding the grille around the exhaust</b></p>
<p><b>11. You will need to unbolt the exhaust silencer hanger which is bolted to the clam near the N/S/R wheel</b></p>
<p><b>11. Remove one more bolt each side at this point screwing sideways into the clam</b></p>
<p>lift off the clam</p>
<p>refit by reversing the above procedure :)</p>
<h2><span class="mw-headline" id="Top_tips">Top tips</span></h2>


<ul>
<li>Worth removing the edge finisher (rubber trim) around the air intake grills, they may be glued on and are attached to the rear clam and the sill panels.  If they are glued and you try to remove the clam they will probably tear (although if they are glued you will probably have to replace anyway, part no A111U6034V).</li>
</ul>


<ul>
<li>Replace the standard zinc bolts &#38; washers with quality Stainless Steel ones. Speedy Fasteners <a class="external text" href="http://www.speedyfasteners.com" rel="nofollow">Speedy Fasteners Web Site</a> or <a class="external text" href="http://stores.ebay.co.uk/Speedy-Fasteners" rel="nofollow">Speedy Fasteners eBay Site</a> sell S1 and S2 clamshell kits.</li>
</ul>

<p>



</p>