
<p>1. Give me a little Brake</p>
<p>2. Ugly Duckling Brakes</p>
<p>3. The Little Brakes That Could</p>
<p>(The original article is here: <a class="external free" href="http://40mmbrakes.auto.officelive.com/history.aspx" rel="nofollow">http://40mmbrakes.auto.officelive.com/history.aspx</a>) </p>

<p>What do a 1988 Renault Alliance, 1992 front wheel drive Dodge Monaco, a Lotus Elise, and a non-ABS Gen 1/2 Dodge Viper have in common? Would you believe the rear brakes?</p>

<p><a class="image" href="http://wiki.seloc.org/a/Image:Brembo_Caliper_1.JPG" ><img src="Brembo_Caliper_1.JPG" width="220" />
</a></p>

<p>When Bob Lutz, Tom Gale and Francois Castaing created their vision of a supercar, they explored the contents of the Renault parts bin, where Castaing had been technical director for motorsport programs. Renault used a Brembo single piston disc brake caliper that cleverly incorporated the parking brake and eliminated the need and weight of an additional secondary brake. The unit is small and compact, and actually weighs less than the aluminum 4-piston Brembo caliper on the front of a Viper.</p>
<p>To reach over the much thicker Viper brake rotor, the casting was stretched almost a half inch, but otherwise the mounting hardware, internal parts, the 36 mm diameter brake piston, and all replacement rubber parts were the same.</p>

<p>Internal parts? </p>

<p><a class="image" href="http://wiki.seloc.org/a/Image:Brembo_Caliper_2.JPG" ><img src="Brembo_Caliper_2.JPG" width="220" />
</a></p>

<p>There are quite a few internal mechanical parts to enable the parking brake to engage and disengage, clamp tightly on the rotor, and to advance the piston when the brake pads wear. For smooth operation and long life, the parking brake arm rotation advances the piston against a needle bearing supported thrust washer. Pulling on the parking brake handle rolls three ball bearings up internal ramps to provide tremendous mechanical leverage and act like small doorstops to keep the parking brake engaged. The rod that actually forces the brake piston against the pad and rotor is threaded so that each application also adjusts the system for pad wear. The rod rotates easily by rolling on a 6-ball caged bearing. All of these parts are internal, bathed in brake fluid, and held captive by a snap ring in the piston and another deep in the casting, requiring both the caliper and piston to be significantly deeper than a non-parking brake caliper.</p>
<p>The caliper is mounted to the upright with two bolts. The larger M10 hex head bolt (15mm socket) rides inside a greased, steel sleeve to keep the caliper floating perpendicular to the rotor and to absorb the torque when applying the brakes. A smaller M8 socket head cap screw (6mm allen) also runs through a steel sleeve, but with a rubber guide and an internal Teflon slide.</p>
<p>Together they align the caliper for even pad wear and allow the caliper to slide side-to-side as the brakes are applied and released.</p>
<p>There are some particular service concerns to pay attention to. The intricate internal parking brake parts are susceptible to rust and may experience some sticking when water inevitably sneaks into the system. Flush your brake fluid regularly. </p>
<p>Also, the rubber boot protecting the inner end of the greased steel sleeve is frequently abraded by brake pad material, and without protection from the elements, the side-to-side sliding action can get rough and cause unusual pad wear. As with any brakes, track use will often harden the piston dust boot, allowing road grit between the piston and seal. When the dust boot can’t protect the piston, leaks are only a matter of time.</p>

<p><a class="image" href="http://wiki.seloc.org/a/Image:Brembo_Caliper_3.JPG" ><img src="Brembo_Caliper_3.JPG" width="220" />
</a></p>

<p>So what can you do if your calipers need a little TLC? Don’t look for help from the service manual, there are no instructions! Your friendly Dodge parts manager can’t help either, since individual parts are not available. Your only option through Dodge is to purchase the complete caliper, which carries a list price of around $450. </p>

<h2><span class="mw-headline" id="Servicing">Servicing</span></h2>

<p><b>UK Parts</b></p>
<p>A Brembo slider repair kit is available from Renault dealers (part number 7701205496) for £30+VAT.  A piston seal kit is also available (part number?) and complete kits that include everything.  Bleed nipples are 10mm and common with most Ford calipers (available from most motor factors).</p>
<p><b>US Parts</b></p>
<p>The Do-It-Yourself secret is to ask for Renault parts! If you need a dust boot, look for Auto Specialties part KC-83017 (about $6). For the mounting bolts, slide boots, and other external rubber parts, ask for the Mopar brake attaching kit PN 4423504 (about $70.) The OEM 36mm piston seal is Brembo part number BRE05.5955.56 (around $11.) For internal parts, purchase a remanufactured Dodge Monaco caliper for around $100 and transfer the parts needed over to your Viper caliper. Make sure you get the side you want – the left and right calipers are mirror images inside and out!</p>
<p>If you drive with the spirit that the Viper was intended, you may have noticed how often one or both of the front tires lock up and slide. Unfortunately, for all the engineering that Brembo put into the rear brakes, the Renault-size brake piston leaves the brake bias excessively towards the front. Testing in a 1994 RT/10 showed that with the front tires doing most of the work, braking performance was limited to a tepid 0.8 G’s before skidding. Not very super performance, is it?</p>
<h2><span class="mw-headline" id="Upgrades">Upgrades</span></h2>

<p>To improve a Viper’s stopping capability, you don’t need to spend thousands of dollars on massive 4-piston rear calipers, permanently cut up the rear suspension upright to make them fit, adjust them with an add-on proportioning valve, and give up your parking
brake… although it would look great (and weigh more!) The OEM calipers can be bored out to a larger size (just like an engine block) and the pistons can be sleeved to fit (as is done in auto restoration efforts.) The casting accommodates a “plus two”-size larger 40mm piston (Brembo parts come in even sizes, so 36mm to 38mm to 40mm is two steps), which increases the rear brake clamping force by 23%.</p>

<p><a class="image" href="http://wiki.seloc.org/a/Image:Brembo_Caliper_4.JPG" ><img src="Brembo_Caliper_4.JPG" width="220" />
</a></p>

<p>This nicely complements the front brakes and allowed the same ’94 RT/10 to improve to over 1.0 G’s braking using the same brake hoses, pads, and mounting hardware. It is an easy two-three hour job for the DIY owner and retains the stock look, fits under the original wheel sizes and is externally undetectable. Best of all, the testament to “this is how Viper brakes should have been from the factory” is that they do not add points in the Viper Days Clas Matrix.</p>

<p><a class="image" href="http://wiki.seloc.org/a/Image:Brembo_Caliper_5.JPG" ><img src="Brembo_Caliper_5.JPG" width="220" />
</a></p>

<p>The oldest Vipers are now approaching their 15th birthday, so it’s time to start preparing for the inevitable round of gathering hard-to-find parts. If you have any caliper questions, need sources for those small missing or broken brake parts, or are considering a rebuild or resize, share your questions and answers on the Viper Club website forums. My display name is Tom, F&#38;L GoR and I’ll be happy to help. And yes I wish they looked nicer, but as ugly ducklings they can still do the job!</p>
<p>Original article Tom Hayden 1Oct06</p>
<h2><span class="mw-headline" id="External_links">External links</span></h2>

<ul>
<li><a class="external free" href="http://www.brembo.com/ENG" rel="nofollow">http://www.brembo.com/ENG</a></li>
</ul>

<p><a class="external text" href="http://www.elise-shop.com/index.php?main_page=product_info&#38;products_id=642" rel="nofollow">Rear Caliper Overhaul kit</a></p>
<p><a class="external text" href="http://www.elise-shop.com/index.php?main_page=product_info&#38;products_id=533" rel="nofollow">Rubber Slider Seals</a></p>
<p><a class="external text" href="http://www.40mmbrakes.auto.officelive.com/default.aspx" rel="nofollow">General Brembo Caliper Information</a></p>
<p>


</p>