
<p>This is a guide to how to fit an iPod radio an S2 Elise (s1 comments at bottom).</p>
<p>The radio that I have installed is an Alpine, CDE-9881R with an iPod cable,  (KCE-422i.)</p>
<p>There are a few thing you need to be aware of</p>
<p>This radio came with ISO adaptor cable that plugged in to the radio and then the Elise´s ISO connectors. 
<a class="image" href="http://wiki.seloc.org/a/Image:IMGP1344.jpg" ><img src="IMGP1344.jpg" width="140" />
</a>
<a class="image" href="http://wiki.seloc.org/a/Image:IMGP1343.jpg" ><img src="IMGP1343.jpg" width="140" />
</a></p>
<p>These are the ISO connectors from the Elise...
<a class="image" href="http://wiki.seloc.org/a/Image:IMGP1339.jpg" ><img src="IMGP1339.jpg" width="140" />
</a></p>

<p>The iPod radio´s aerial connector is also called ISO, as well or JASO.
<a class="image" href="http://wiki.seloc.org/a/Image:IMGP1340.jpg" ><img src="IMGP1340.jpg" width="140" />
</a></p>

<p>This will not fit in to the aerial cable on the Elise, as the connector a DIN connector.
<a class="image" href="http://wiki.seloc.org/a/Image:IMGP1346.jpg" ><img src="IMGP1346.jpg" width="140" />
</a></p>

<p>It was necessary for me to purchase a ISO to DIN aerial connector, as it is not possible to force the DIN connector in to the ISO connector.
<a class="image" href="http://wiki.seloc.org/a/Image:IMGP1348.jpg" ><img src="IMGP1348.jpg" width="140" />
</a></p>

<p>Here it is plugged in.
<a class="image" href="http://wiki.seloc.org/a/Image:IMGP1350.jpg" ><img src="IMGP1350.jpg" width="140" />
</a></p>

<p>1.   Remove the old radio and mounting sleeve.</p>
<p>2.1 To install the iPod cable, (KCE-422i,) remove the passenger side speaker grill and speaker.</p>
<p>2.2 Remove the black plastic lower part of the dash, this has two screws at the top and two at the bottom, twist from the bottom as this will gently pull the black plastic insert away from the passenger dash tray.</p>
<p>2.2 The tread the iPod cable through the whole where the radio goes, then pass it to the left, as far as it will go, then put you hand up, where the lower part of the black dash was and pull the cable, then thread the required amount on to the passenger tray.</p>
<p>2.3 Replace the black plastic lower part of the dash, and then the speaker grill and speaker.
<a class="image" href="http://wiki.seloc.org/a/Image:IMGP1347.jpg" ><img src="IMGP1347.jpg" width="140" />
</a></p>
 
<p>3.   Before fitting the radio into the mounting sleeve, test it. Connect all cables. It is worth checking the positive power cables, it is possible that the switched power and the constant power are the wrong way around. To test this turn the ignition on, set one of the radio stations, then turn off the ignition, wait a few seconds, turn on the ignition again. Has the radio remembered the radio station? If not change the red and yellow wires around. I did not need to do this, it worked correctly first time.</p>
<p>4.   Fit the new mounting sleeve.
<a class="image" href="http://wiki.seloc.org/a/Image:IMGP1354.jpg" ><img src="IMGP1354.jpg" width="140" />
</a></p>
<p>5.  Bind together all the cables with Electrical insulation tape, this makes it easier to get all the cables in the right place while putting the radio in to the mounting sleeve.</p>
<p>6. Press the radio firmly into mounting sleeve, there are two catches, one either side of the mounting sleeve, this stops the radio from being removed easily.
<a class="image" href="http://wiki.seloc.org/a/Image:IMGP1356.jpg" ><img src="IMGP1356.jpg" width="140" />
</a></p>

<h2><span class="mw-headline" id="s1_notes">s1 notes</span></h2>

<p>I&#39;ve just fitted a similar Panasonic unit to my s1.</p>
<p>Fitting was similar to the above, except you need to be more creative when threading the ipod lead down behind the dash.</p>
<p>The easiest method I found without taking the whole dash apart, was to use the rubber grommet immediately to the rear of the radio aperture - get your arm in there with a torch and then thread the ipod lead through it.</p>
<p>If (like mine) your ipod lead head is too large to slip through the grommet as-is, then simply use a sharp knife to slit the side of the grommet centre a little, giving more room.</p>
<p>I then opted to velcro my ipod case under the dash for security and ease of access.</p>
<p>Use a few cable ties or long velcro strips to attach the excess ipod cable to the existing wiring loom that dangles down underneath the dash.</p>
<p>Job&#39;s a carrot!</p>

<p>


</p>