
<p>Hello All,</p>
<p>Over a period of time the cable which keeps the front of your soft top roof attached can
corrode and break. It took five years for mine to do this, but depending how you store
your car it could happen before or after this time.</p>
<p>Step 1</p>
<p>Order the following part from your local Lotus Dealership : B116V0064H
( mine cost around £32 )</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:Cable.jpg" ><img src="Cable.jpg" width="220" />
</a></p>

<p>Step 2</p>
<p>Undo the old broken cable ( see picture ) you will need to open up the glued fabric
around the side supports and use a small allen key to release. Turn the key anti-clockwise.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:Wire_release.jpg" ><img src="Wire_release.jpg" width="220" />
</a></p>

<p>Step 3</p>
<p>Insert the new Cable.. The original cables had adjustable tensioners, now unfortunately these are non-adjustable, so find the smallest end and insert it into the drivers side gap, there
are two ways of doing this..</p>
<p>(i) Use your original broken cable and tie string around that and the new cable, use pliers
to keep the seam taught and drag through slowly until the small new cable has come through the other side.</p>
<p>(ii) if you old cable has broken in the middle you will need to remove this altogether.
You will need to thread some strong string through the seam.</p>
<p>I used the Carbon Fibre Struts from my kite ( binded with gaffer tape ) and a bit of string attached to it, so i could get the string through.</p>
<p>Once through, tie the string to the end of the new cable and slowly ease through the seam.</p>
<p>By the way.. this is a PIG of a job.. so do it slowly until the cable is fully through.</p>
<p>DO NOT BIND THE OLD CABLE WITH THE NEW ONE WITH A BIT OF GAFFER TAPE...( Gaffer tape is great stuff.. but not that fantastic ) in my case this lead to the gaffer tape breaking half way through and leaving a wedge of tape in the middle of the seam ( See Picture on NOT how to do it ).</p>
<p>String is your friend, use a good knott and progressively pull through and you will be fine.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:Bad_practice.jpg" ><img src="Bad_practice.jpg" width="220" />
</a></p>
<p>4. Tighten the Bolts with the Allen Keys make sure that the bolts are facing towards you.</p>
<p>All Done, Stick the Fabric by the roof bars back down with glue and re-apply the roof to the car !</p>
<p>

</p>