<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Kit_List">Kit List</a>
</li>
<li class="toclevel-1"><a href="#Tool_List">Tool List</a>
</li>
<li class="toclevel-1"><a href="#Method">Method</a>
</li>
<li class="toclevel-1"><a href="#Result">Result</a>
</li>
<li class="toclevel-1"><a href="#Conclusion">Conclusion</a>
</li>
<li class="toclevel-1"><a href="#Credits">Credits</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Kit_List">Kit List</span></h2>
<p>Head to manifold gasket</p>
<p>Cat to manifold gasket</p>
<p>Adjustable bottom engine mount</p>
<p>Piper 4-2-1 manifold</p>
<p>4L oil</p>
<p>Oil filter</p>
<p>Washers (lots - for use as spacers)</p>
<h2><span class="mw-headline" id="Tool_List">Tool List</span></h2>
<p>Jack</p>
<p>Axle Stands</p>
<p>Spanners (open and ring), sockets: 10mm to 19mm</p>
<p>Plusgas seized bolt release spray</p>
<p>Latex gloves</p>
<p>Thread file (and perhaps Ford Pinto 2L spark plug)</p>
<p>Philips screwdriver</p>
<p>Ratchet wrenches - torque wrench size, mid range, and mini. For leverage and access.</p>
<p>Torch / inspection lamp</p>
<p>Oil tray / collector</p>
<p>Lump hammer</p>
<p>Bacon, HP Sauce, Bread, Tea, Kit-Kats, Beer, Coke</p>
<h2><span class="mw-headline" id="Method">Method</span></h2>
<p>1. Remove boot lid - disconnecting ariel and connectors. Note positioning and number of spacing washers.</p>
<p>2. Remove undertray (rear diffuser and mid section leaving them both as one piece)</p>
<p>3. Remove offside rear wheel</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:WorkingConditionsW.jpg" title="Working Conditions - N.B. Liner pulled back (step 4)"><img src="WorkingConditionsW.jpg" alt="Working Conditions - N.B. Liner pulled back (step 4)" title="Working Conditions - N.B. Liner pulled back (step 4)" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Working Conditions - N.B. Liner pulled back (step 4)</div></div>
</div>

<p> 
4. Remove offside rear wheel arch liner. We had a issue with the rearmost lowest screw and so bent the flexible liner out of the way to access the engine mount bolts.</p>
<p>5. Soak bolts / nuts holding the downpipe to the cat and the cat to the exhaust in Plusgas</p>
<p>6. Time for first cup of tea and bacon sandwiches</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:UndertrayHeatshieldAndORWheelW.jpg" title="Tray, heatshield, OR Wheel"><img src="UndertrayHeatshieldAndORWheelW.jpg" alt="Tray, heatshield, OR Wheel" title="Tray, heatshield, OR Wheel" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Tray, heatshield, OR Wheel</div></div>
</div>

<p> 
7. Remove manifold heat shield - three bolts.</p>
<p>8. Remove bolts holding the downpipe onto the manifold (from underneath the car with the engine still bolted in place)</p>
<p>9. Crack off and put on loosely the bolts / nuts holding the downpipe to the cat and the cat to the exhaust. We had a major issue with one of the cat-exhaust bolts and had to chisel it off.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:BackBoxAndCatSupportW.jpg" title="Stands, jack, and plastic bucket support!"><img src="BackBoxAndCatSupportW.jpg" alt="Stands, jack, and plastic bucket support!" title="Stands, jack, and plastic bucket support!" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Stands, jack, and plastic bucket support!</div></div>
</div>

<p> 
10. Remove CAT if possible. We left it in situ with the attached lambda sensor. Balanced on a makeshift bucket + toolbox platform. We did remove the back box though to provide more working space.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:EngineMountW.jpg" title="Access to the engine mounting bolts"><img src="EngineMountW.jpg" alt="Access to the engine mounting bolts" title="Access to the engine mounting bolts" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Access to the engine mounting bolts</div></div>
</div>

<p> 
11. Remove two bolts holding engine mount to chassis - accessed via the offside rear wheel space.  These are the bolts that sit fore and aft of the engine mount and attach vertically down into the chassis longeron.  Note that the bolts screw into some hard-to-access nuts inside the longeron extrusion.  The nut to the fore of the engine mount is reasonably easy to access, whilst the aft one is more of a challenge and is best done by an assistant accessing it with a spanner via the car&#39;s boot.  You&#39;ll need to use a spanner (open end) to hold the aft nut in place whilst undoing the associated bolt with a socket.  For the bolt to the fore of the mount, you need to hold the bolt in place with a socket whilst undoing the nut underneath the longeron.  Accessing the bolt to the fore of the engine mount will require a socket, a universal joint and a short extension bar.</p>
<p>12. Remove the downpipe</p>
<p>13. Within the engine bay, locate the loom to the manifold lambda sensor, and disconnect the lambda sensor.</p>
<p>14. Remove engine steady bar</p>
<p>15. Pull the engine rearwards - use the trolley jack to lift and shift the engine block. Using the sump as the contact point. 10cm square block of wood make this an easier task.</p>
<p>16. Unbolt the manifold from the head</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:OldManifoldAlmostOutW.jpg" title="Unbolted and almost out"><img src="OldManifoldAlmostOutW.jpg" alt="Unbolted and almost out" title="Unbolted and almost out" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Unbolted and almost out</div></div>
</div>

<p> 
17. Remove manifold in two pieces through top and bottom of engine bay.</p>
<p>18. Soak manifold lambda sensor in Plusgas</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:AlternatorHeatshieldW.jpg" title="Alternator heat shield, to left of alternator"><img src="AlternatorHeatshieldW.jpg" alt="Alternator heat shield, to left of alternator" title="Alternator heat shield, to left of alternator" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Alternator heat shield, to left of alternator</div></div>
</div>

<p> 
19. Take off alternator heat shield. This took an absolute age. Be careful not to round off the bolts. Small spanners and a gentle bit of persuasion with a lump hammer will get you there eventually, along with lots of Plusgas.</p>
<p>20. Oil filter off, catching 95% of the oil! Spend time mopping up the spillage until you have a clean worksurface once more.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:OldAndNewW.jpg" title="Compare old &#39;pig iron&#39; mess, with sleek new manifold"><img src="OldAndNewW.jpg" alt="Compare old &#39;pig iron&#39; mess, with sleek new manifold" title="Compare old &#39;pig iron&#39; mess, with sleek new manifold" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Compare old &#39;pig iron&#39; mess, with sleek new manifold</div></div>
</div>

<p> 
5hrs 30mins to this point. We now have everything off, its time to start to reconstruct with the new manifold. But more sandwiches and tea first...</p>
<p>21. Looking from the rear of the car, slide the manifold in with it rotated 90 degrees anticlockwise
offer the manifold up whilst jiggling the engine and pulling the manifold from above. Watch for the brake cable which runs exactly in the most inconvenient position. At times this task appears impossible. Just *how* can the manifold fit. Watch out for trapped fingers. Keep jiggling the engine block and rattling the manifold. Eventually it does pop through the impossible gap and into position.  To re-iterate: it helps massively if you can have someone pulling the manifold upwards from above the engine bay at the same time as the person feeding the manifold under the engine.  Brute force and ignorance are required, as the alternator heat-sheild mounting bracket on the manifold will foul against the transverse chassis rail at the base of the engine bay.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:HoldingManifoldInSituW.jpg" title="Keep manifold steady as it is being bolted to the head"><img src="HoldingManifoldInSituW.jpg" alt="Keep manifold steady as it is being bolted to the head" title="Keep manifold steady as it is being bolted to the head" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Keep manifold steady as it is being bolted to the head</div></div>
</div>

<p> 
22. Fit manifold to head using the new gasket - with the &#34;half hole end&#34; fitting next to the water outlet from the head. Remember to use two washers between in each nut and the new manifold&#39;s flange (new flange is perhaps 5mm thinner than old flange). Be extremely careful not to cross thread the head bolts!</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:NewManifoldInW.jpg" title="What &#39;success&#39; looks like :-)"><img src="NewManifoldInW.jpg" alt="What &#39;success&#39; looks like :-)" title="What &#39;success&#39; looks like :-)" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">What &#39;success&#39; looks like :-)</div></div>
</div>

<p> 
23. Alternator heat shield will need clipping with tin snips. Perhaps 5-6cm cut from the plate in order to accommodate the new manifold. I reused the one from Steve S2&#39;s car as it was a cast off from his Honda upgrade. I&#39;ve didn&#39;t take a photo of the original and trimmed heatshields for reference. Sorry.</p>
<p>24. Fit alternator heat shield - again, this takes an age as there is almost no space to work in. Be careful to ensure bolts are aligned properly and no cross threading takes place.</p>
<p>25. Fit new oil filter</p>
<p>26. Refit engine mount bolts</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:EngineBracketAlignmentNewAndOldW.jpg" title="Use the old to set the new length correctly"><img src="EngineBracketAlignmentNewAndOldW.jpg" alt="Use the old to set the new length correctly" title="Use the old to set the new length correctly" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Use the old to set the new length correctly</div></div>
</div>

<p> 
27. Set the new adjustable engine steady bar to same length as the standard steady bar</p>
<p>28. Fit steady bar just with bolts</p>
<p>29. Check that manifold is sufficiently clear of the lower chassis transverse longeron. If not, shorten the adjustable steady bar. When all OK, torque up steady bar bolts and nuts. </p>
<p>30. Refit cat and back box - the exhaust exit pipes may need adjusting to suit the solid manifold. </p>
<p>31. Remove lambda sensor from old manifold. This could have been a tough job, but instead the sensor simply unscrewed with normal spanner usage! The expectation is that the lambda sensor will have siezed, but not in our case (135R with 20k miles)</p>
<p>32. File threads of lambda sensor with thread file, if threads are knackered then use a Ford Sierra 2.0 Pinto spark to rethread.</p>
<p>33. Plug the lambda sensor into position</p>
<p>34. Replace oil</p>
<p>35. Line up the undertray to guesstimate where extra sheet metal will have to be removed (approx 10cm x 15cm piece on the off-side rear of the existing hole.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:CuttingUndertrayW.jpg" title="Angle grinder on the undertray, showing rough pattern to cut."><img src="CuttingUndertrayW.jpg" alt="Angle grinder on the undertray, showing rough pattern to cut." title="Angle grinder on the undertray, showing rough pattern to cut." class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Angle grinder on the undertray, showing rough pattern to cut.</div></div>
</div>

<p> 
36. Use and angle grinder and snips to cut the sheet metal.</p>
<p>37. Take the car for a spin. Listening for anything &#39;out of the ordinary&#39;. I went for a 15 minute blast, getting up to 6000rpm - all OK.</p>
<p>38. Check and tighten bolts all around</p>
<p>39. Fix undertray back into position. Using washers to provide 5-10mm extra spacing for the central screws.</p>
<p>40. Wait a little longer for the manifold to have cooled down. Then attempt to replace the manifold heatshield. We had a major challenge here with the top most bolt. Perhaps due to engine block expansion due to heat? Finally in place, the bottom fixing bolt didn&#39;t make it though - it simply would not lock into position.</p>
<p>41. Replace boot lid and reconnect ariel.</p>
<p>42. Final cup of tea, and beer. Job well done.</p>
<p>5hrs 30mins to replace all the parts. 11 hours total.</p>
<h2><span class="mw-headline" id="Result">Result</span></h2>
<p>Much more low down torque, gives the car a whole new set of driving characteristics. Most notably when pulling away at lower speeds and gives a much better range for changing up and down. Much improved engine note - much &#39;cleaner&#39;, less boom and noise. Additionally, when slowing at speed the momentum is maintained much longer when throttling back, the engine note changes gentle and progressively. Haven&#39;t had the chance to experience differences at top end of the rev range. No difference in MPG / oil usage noted at this time.</p>
<h2><span class="mw-headline" id="Conclusion">Conclusion</span></h2>
<p>A valuable upgrade, definitely recommended for the price. Next step is to tie this into a cam change to extend the characteristics across the full range. For more info on just how a change in manifold design can make such a difference, follow <a class="external autonumber" href="http://forums.seloc.org/viewthread.php?tid=136395" rel="nofollow">[1]</a> this link.</p>
<h2><span class="mw-headline" id="Credits">Credits</span></h2>
<p>Credit to SteveB, Steve S2 and BrianDrought who provided this comprehensive activity list based their own experiences. Special gold star to Steve S2 for travelling 200 miles to the grim north, not forgetting to bring his jack, axle stands and ready-cut alternator heat shield and then ruining his legs, back, arms and shoulders during the 11 hour fitting marathon.</p>
<p>

</p>