
<p><b>D.I.Y. Black Wheels</b></p>
<p><b>Stage 1 (Removing old paint)</b></p>
<p>I decided that taking the tyres off the wheels would involve more hassle and cost and only worth it if planning on doing an absolutely flawless job - in which case you would not be d.i.y.ing anyway (or if the tyres were already off)</p>
<p>Started by sanding the paint off the wheels till only what looked like the undercoat was left, the old paint was very pitted and rough from ground in brake dust (this part took most of the time) and then cleaned them with a bit of petrol on a rag, although something like brake cleaner will do the same</p>
<p><a class="image" href="http://wiki.seloc.org/a/image:bw1.jpg" ><img src="bw1.jpg" width="220" />
</a></p>
<p><a class="image" href="http://wiki.seloc.org/a/image:bw2.jpg" ><img src="bw2.jpg" width="220" />
</a></p>
<p>Theres no going back now!</p>
<p><b>Stage 2 (Masking off the tyres)</b></p>
<p>As the tyres were not coming off I needed to make sure that no paint got on them. I believe you can buy special masking tape that goes round corners but the ordinary stuff is fine - thats why I have made cuts across the tape to allow it to bend.</p>
<p><a class="image" href="http://wiki.seloc.org/a/image:bw3.jpg" ><img src="bw3.jpg" width="220" />
</a></p>
<p>After the first stage of fine taping around the rim I placed a sheet of newspaper over the wheel and marked off a line to cut around the shape of the rim and then attached the sheet of newspaper to the masking tape put on earlier so as to cover the whole of the tyre area at risk.</p>
<p><a class="image" href="http://wiki.seloc.org/a/image:bw4.jpg" ><img src="bw4.jpg" width="220" />
</a></p>
<p><b>Stage 3 (Applying the paint)</b></p>
<p>I did this by applying many light coats (about 10 if i remember!) and changing angles to make sure I got all of the wheel surfaces and angles (quite a difficult task). Its important to not start or stop spraying while pointing at the desired area as you get spits from the aerosol so nice sweeping motions without stopping on a spot seemed to work best. I used Hammerite smooth black aerosol paint (x2 400ml tins) and painted the inside of the wheel with the same from a tin but brushed on smoothly as not seen.</p>
<p>First coat:</p>
<p><a class="image" href="http://wiki.seloc.org/a/image:bw5.jpg" ><img src="bw5.jpg" width="220" />
</a></p>
<p>Last coat with masking removed:</p>
<p><a class="image" href="http://wiki.seloc.org/a/image:bw6.jpg" ><img src="bw6.jpg" width="220" />
</a></p>
<p>And finally the finished item back on the car:</p>
<p><a class="image" href="http://wiki.seloc.org/a/image:bw7.jpg" ><img src="bw7.jpg" width="220" />
</a></p>

<p>



</p>