<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Installing_a_Oil_Pressure_and_and_Oil_Temperature_gauge_in_an_S2">Installing a Oil Pressure and and Oil Temperature gauge in an S2</a>
<ul>
<li class="toclevel-2"><a href="#The_new_hardware">The new hardware</a>
</li>
<li class="toclevel-2"><a href="#Preparation">Preparation</a>
</li>
<li class="toclevel-2"><a href="#Installing_the_sensors">Installing the sensors</a>
</li>
<li class="toclevel-2"><a href="#Laying_cables">Laying cables</a>
</li>
<li class="toclevel-2"><a href="#Installing_the_gauges">Installing the gauges</a>
<ul>
<li class="toclevel-3"><a href="#Power_and_lighting">Power and lighting</a>
</li>
<li class="toclevel-3"><a href="#Mounting_Plate">Mounting Plate</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Results">Results</a>
</li>
<li class="toclevel-2"><a href="#Testing.2C_calibrating_and_setting_of_warning_levels">Testing, calibrating and setting of warning levels</a>
</li>
</ul>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Installing_a_Oil_Pressure_and_and_Oil_Temperature_gauge_in_an_S2">Installing a Oil Pressure and and Oil Temperature gauge in an S2</span></h2>
<h3><span class="mw-headline" id="The_new_hardware">The new hardware</span></h3>
<p>The gauges were bought from elise-shop.com because all my experiences there have been brilliant. Although I wanted a simple gauge I did decide to go for the new (end of 2007) gauges they had to offer there because they were &#39;cheap&#39;, had 270 degree displays (so you get a good reading) and have warning options in several ways. They are high tech, perhaps a bit too high tech with the lights, animations and sounds. But they work, look cool and seem reliable.</p>

<ul>
<li>Oil Temperature Gauge (comes with cables and sensor) <a class="external free" href="http://www.elise-shop.com/index.php?main_page=product_info&#38;products_id=634" rel="nofollow">http://www.elise-shop.com/index.php?main_page=product_info&#38;products_id=634</a></li>
<li>Oil Pressure Gauge (comes with cables and sensor) <a class="external free" href="http://www.elise-shop.com/index.php?main_page=product_info&#38;products_id=635" rel="nofollow">http://www.elise-shop.com/index.php?main_page=product_info&#38;products_id=635</a></li>
<li>Sensor Adapter Take off for k-Series engine <a class="external free" href="http://www.elise-shop.com/index.php?main_page=product_info&#38;cPath=10&#38;products_id=389" rel="nofollow">http://www.elise-shop.com/index.php?main_page=product_info&#38;cPath=10&#38;products_id=389</a></li>
</ul>
<p><a class="image" href="http://wiki.seloc.org/a/Image:Oil-002.jpg" ><img src="Oil-002.jpg" width="220" />
</a></p>
<p>Please note the sensors, the sensor cables and the Sensor Adapter Take off are not shown here. The image shows the gauge &#39;holders that allow the gauges to be mounted in different locations (on top of dash etc). Apart from some aluminum plate (not too thin) some new bolts and a bit of wire I used nothing else.</p>
<h3><span class="mw-headline" id="Preparation">Preparation</span></h3>

<ul>
<li>The work started by removing the radio and the front speakers (rear speakers will need to be removed later).  This saved 2500 grams being replaced by 450 grams of new equipment. All the old weight was high in the car, the new weight (mainly the Sensor Adapter) is mostly low in the car. The radio was replaced as it was not never heard over the engine. <a class="image" href="http://wiki.seloc.org/a/Image:Oil-001.jpg" ><img src="Oil-001.jpg" width="220" />
</a></li>
<li>Both the bottom plates were removed so all parts of the engine were accessible.</li>
<li>Oil plug was removed, all oil drained and left 24 hours to drip (amazing how much keeps coming out), oil plug inserted.</li>
<li>Oil Filter was removed at the same time and again left open for 24 hours (again amazed of the amount of oil that is comes out, after 20 hours thick black tar seems to drip out)</li>
<li>Center Console was detached (not removed)</li>
</ul>

<h3><span class="mw-headline" id="Installing_the_sensors">Installing the sensors</span></h3>
<p>After cleaning the area around the oil filter the new oil filter was installed, with the adapter plate between engine and filter. The two sensors were screwed in without any sealing method (they have tapered screw) and have not leaked to this moment).</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:Oil-003.jpg" ><img src="Oil-003.jpg" width="220" />
</a></p>
<h3><span class="mw-headline" id="Laying_cables">Laying cables</span></h3>
<p>The cables that come with the sensors are obviously not intended for a mid engine car as they turned out to be too short. I had to cut them and solder in another 50 cm of cable. From the sensors the cables were fed through the same chassis hole that has the throttle cable. </p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:Oil-004.jpg" ><img src="Oil-004.jpg" width="220" />
</a></p>
<p>Inside the passenger compartment the cables were fed through the center console and follows other cables into the dashboard. This was probably the hardest part. You need to be a contortionist to handle anything there. My wife managed to get the tie-raps on, amazing.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:Oil-005.jpg" ><img src="Oil-005.jpg" width="220" />
</a></p>
<h3><span class="mw-headline" id="Installing_the_gauges">Installing the gauges</span></h3>
<h4><span class="mw-headline" id="Power_and_lighting">Power and lighting</span></h4>
<p>The gauges use 12 volts/ground/acc power and lights on/off power. All these connections were taken from the radio connection cable. Using the acc and lights on/off cables it is possible to get different lighting styles (amber/white/none lighting for day, Amber/white for night). I decided for white day lighting and amber night lighting. Only one gauge needs to be connected as connection cable can chain link to other gauges.
<a class="image" href="http://wiki.seloc.org/a/Image:Oil-006.jpg" ><img src="Oil-006.jpg" width="220" />
</a></p>
<h4><span class="mw-headline" id="Mounting_Plate">Mounting Plate</span></h4>
<p>As the gauges would need to installed in place of the radio a new aluminum plate had to be created. I decided to remove the two right hand screws that hold the heater panel in place and drill two new holes on the other side of the &#39;radio hole&#39;, no other modification of the dashboard was needed. This created 4 holes that are used to bolt the new panel in place. The mounting plate has room for three gauges (perhaps I&#39;ll install something else next year). The gauges are held in place with the brackets that were provided (slightly cut down in length) and some tape was used to prevent any possible rattling.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:Oil-007.jpg" ><img src="Oil-007.jpg" width="220" />
</a></p>
<h3><span class="mw-headline" id="Results">Results</span></h3>
<p>The final results are exactly as I intended and the look is fully acceptable (the aluminum will weather to the same dull finish as the background). The gauges are well visible while driving and the warning settings that will flash the gauge in red and/or light the warning light and/or make a gauge beep are absolutely impossible to miss.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:Oil-008.jpg" ><img src="Oil-008.jpg" width="220" />
</a></p>




<p>A second fitting is shown below. The gauges are held very firmly in place using black silicone sealant as a glue - it is just visible around the edges of the right hand gauge. The DIN mounting is also held securely in place using the same.</p>
<p><a class="external free" href="http://gallery.seloc.org/albums/userpics/31096/gauges.jpg" rel="nofollow">http://gallery.seloc.org/albums/userpics/31096/gauges.jpg</a></p>
<p>Read more about this installation at <a class="external free" href="http://forums.seloc.org/viewthread.php?tid=171330&#38;page=1#pid3347959" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=171330&#38;page=1#pid3347959</a></p>
<h3><span class="mw-headline" id="Testing.2C_calibrating_and_setting_of_warning_levels">Testing, calibrating and setting of warning levels</span></h3>
<p>To follow, including video of gauge in motion.</p>

<p>Setting the warning levels is as per the instructions included with the gauges, recorded here for reference when I inevitably lose the instructions.</p>
<p>1. Mute selecter: Set key hold after power on</p>
<p>2. Peak selecter: </p>
<pre>     [To View] Normal mode --&#62; SET KEY --&#62; Peak mode --&#62; SET KEY --&#62; Normal mode
     [To Reset] Normal mode --&#62; SET KEY --&#62; Peak mode --&#62; HOLD SET KEY 3 SEC --&#62; Clear peak --&#62; PEAK LED FLASH --&#62; Normal mode
</pre>
<p>3. Warning set selecter:</p>
<pre>     [Slow] Normal mode --&#62; HOLD SET KEY 5 SEC --&#62; Warning set mode / pointer LED flash --&#62; SET KEY --&#62; Pointer move slowly --&#62; OVER 5 SEC --&#62; Normal mode
     [Quick] Normal mode --&#62; HOLD SET KEY 5 SEC --&#62; Warning set mode / pointer LED flash --&#62; HOLD SET KEY --&#62; Pointer move quickly --&#62; OVER 5 SEC --&#62; Normal mode
</pre>

<p>No calibration necessary</p>
<p>S2 135R with PRRT fitted reads:</p>
<pre>     - ~6 bar from cold (ambient temp 20C / June / summer time)
     - 5 bar when warm and driving to red line / limiter
     - 4.5 bar when driving at easy pace
     - 1.8 bar idle at warm
</pre>
<pre>     - 100C motorway / enthusiastic A/B-road driving
     - 90C easy pace driving
     - 120C+ on track
</pre>

<p>Note: Temperature warning level is a HIGH value (e.g. 110C), pressure warning is a LOW value (e.g. 1 bar)</p>
<p>



</p>