
<p>RLAB65KES2 Performance Air Box</p>
<p>Fitting and Maintenance Instructions: Lotus Elise S2</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Parts_List:-">Parts List:-</a>
</li>
<li class="toclevel-1"><a href="#Tools_you_will_need:">Tools you will need:</a>
</li>
<li class="toclevel-1"><a href="#Removal:">Removal:</a>
</li>
<li class="toclevel-1"><a href="#Fitting:">Fitting:</a>
</li>
<li class="toclevel-1"><a href="#Cleaning:">Cleaning:</a>
</li>
<li class="toclevel-1"><a href="#Re-oiling:">Re-oiling:</a>
</li>
<li class="toclevel-1"><a href="#See_also">See also</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Parts_List:-">Parts List:-</span></h2>


<ul>
<li>1x RLAB65 Carbon Air Box</li>
<li>1x Carbon Fibre Ring</li>
<li>4x M5 x 10 Button Head Screws</li>
<li>1x Aluminium air box mounting bracket (anodised bright silver with o-ring to hold air box in place)</li>
<li>1x M6 plated Hex Head Screws</li>
<li>3x M6 Penny washer</li>
<li>2x M6 Nyloc nut</li>
<li>1x JC60/73R maxogen air filter (anodised bright silver)</li>
<li>1x silicon air intake hose</li>
<li>1x Air box to throttle body 60-80 hose clip</li>
<li>1x Air box to throttle body 70-90 hose clip</li>
<li>1x Cold air intake hose 0.5m long x 102mm ID</li>
<li>1x 90-110 hose clip</li>
<li>1x JDR-1 Dust Retention Spray</li>
<li>2x Cable ties (450 x 8mm)</li>
</ul>

<h2><span class="mw-headline" id="Tools_you_will_need:">Tools you will need:</span></h2>


<ul>
<li>Slotted screw driver</li>
<li>Phillips screw driver</li>
<li>3mm allen key</li>
<li>1 x 8mm open ended spanner</li>
<li>2 x 10mm open ended spanner</li>
</ul>

<h2><span class="mw-headline" id="Removal:">Removal:</span></h2>

<p>Note: It will be safer if the rear of the car is raised by jack and suspended for the time of fitting with two axle stands. Once the vehicle is stable the nearside road wheel will need to be removed and further work may begin.</p>
<p>To take out the rear inner wheel arch firstly remove the 5 off Phillips head screws and 1 off 8mm head bolt. Before removing the inner wheel arch completely disconnect the rear wheel speed sensor and push back through the plastic inner liner and then push out the plastic mounting of the Lambda sensor before cutting the 2 off cable ties that hold the intake air ducting to the air box which will then leave the wheel arch free to remove completely.</p>
<p>Remove the throttle body to air box hose and then take off the air box lid and remove the air filter. Next push out the plastic fitting from inside the air box out towards the wheel arch and then use a 10mm spanner to remove the forward bolt situated on the outside of the air box (between the sub frame and air box) and then remove the lower half of the air box with the intake ducting by pulling it up and out through the engine cover access.</p>
<h2><span class="mw-headline" id="Fitting:">Fitting:</span></h2>

<p>Note: There is a sticker on the aluminium mounting bracket to identify which way around you fit the itg bracket to the existing air box mounting bracket. (the slightly shorter vertical hook faces the front of the car, the slightly taller doglegged hook faces the rear of the car)</p>
<p>Fit the itg air box mounting bracket over the exposed stud using the existing 6mm washer one side and a large penny washer on the other and fixing it with one of the 6mm nyloc nuts. Then fit the M6 x 25mm hex head bolt through from the wheel side and fix using the further two penny washers (one either side of the plate) and tighten using the other M6 nyloc nut. There is adjustment in the mounting plate to move it up and down on the slots. Initially fit it as low down as it will go and adjust as necessary later once you have offered the air box up for fitting.</p>
<p>Insert the maxogen air filter into the Carbon air box (Note: the filter must be oiled before fitting). Ensure a good fit of the aluminium spinning on the air filter to the protruding lip of the air box. Then fit the circular filter mounting ring using the 4 x M5 button head set screws to hold the filter into the air box.</p>
<p>Now fit the cold air intake hose (0.5m x 102mm) to the snout of the air box using the 90-110 hose clip. (Note: Fit the end of the ducting to the air box that has the internal wire helix cut back away from the top of the hose). (Tip. If you are having difficulty with this then compress the ducting completely and turn it in circles while pushing the ducting onto the air box using a putty knife or screw driver to locate the end of the hose over the air box snout).</p>
<p>Fit the black silicon hose to the air filter (now located in the air box) and tighten carefully using the 70-90mm hose clip. Put the air box assembly into the car laying the reduced neck of the air box onto the mounting bracket/cradle and feeding the ducting into the wheel arch.</p>
<p>Push the air box to throttle body hose over the throttle body as far as it will go and secure using the 60-80mm hose clip. You may need to use a slotted screw driver or knife carefully to help slide the hose over the throttle body opening. (Note: When the airbox is in position with it&#39;s neck on the cradle of the mounting bracket the itg logo will be facing directly upwards and may be read from left to right when standing from the back of the car. The end that locates onto the air filter will sit lower in the car than the end that will mount to the throttle body).</p>
<p>Do not over tighten the clip to the throttle body.</p>
<p>Attach the ducting to the original cable tie mounts using the 2 cable ties provided pulling the ducting tightly into the cable tie mounts. This will leave about a 150mm end float of the ducting that will reach the 2nd or 3rd intake slot from the top of the nearside intake grill. (Note: The ducting should not be angled directly over the intake grill as it will allow more road debris/dirt to enter the air box which after a long period may be detrimental to the life of the air filter. Performance will be lost by having the end of the ducting vertically adjacent to the intake grill instead of over it as the rush of cold air over the ducting end is sufficient to reduce inlet temperature by 15 deg C).</p>
<p>Finally refit the inner wheel arch liner (Note: attach the lambda sensor fixing before fully refitting the wheel liner in place and at the same time push the wheel speed sensor back through the hole in the liner). Firstly use the 1 x 8mm bolt to locate the liner in place followed by the 5 Phillips screws (2 at the front and 3 at the rear). Refit the road wheel and lower the car off the jacks.</p>
<p>After your first drive check to see if anything has come loose and tighten accordingly. Be careful the engine will be hot.</p>
<h2><span class="mw-headline" id="Cleaning:">Cleaning:</span></h2>

<p>The preferred method to clean this filter is to use liquid detergent (washing up liquid) and warm water to remove the dust/dirt when preoiled with dust retention coating. You could also clean the filter in a bath of petrol if necessary. The adhesives and materials used in the filter are petrol resistant but the adhesives are not totally water resistant so washing in warm water is tolerated but under no circumstances must the filter be left to soak as in time this will break down the adhesive.</p>
<p>Massage the foam firmly with your hands whilst in water and this agitating will help pull the dirt particles out of the filter. Rinse through in clean water 2-3 times to remove any remnants of the detergent used to help remove the dirt.</p>
<p>Water encountered in normal use (I.e. Rain, spray etc) will have no adverse effect on the filter.</p>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:ITG_001.JPG" title="What you will need."><img src="ITG_001.JPG" alt="What you will need." title="What you will need." class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">What you will need.</div></div>
</div>



<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:ITG_002.JPG" title="Open it up!."><img src="ITG_002.JPG" alt="Open it up!." title="Open it up!." class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Open it up!.</div></div>
</div>



<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:ITG_003.JPG" title="Massaging."><img src="ITG_003.JPG" alt="Massaging." title="Massaging." class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Massaging.</div></div>
</div>



<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:ITG_004.JPG" title="More Massaging."><img src="ITG_004.JPG" alt="More Massaging." title="More Massaging." class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">More Massaging.</div></div>
</div>



<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:ITG_005.JPG" title="Clean."><img src="ITG_005.JPG" alt="Clean." title="Clean." class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Clean.</div></div>
</div>



<h2><span class="mw-headline" id="Re-oiling:">Re-oiling:</span></h2>

<p>After cleaning the filter should be allowed to dry thoroughly. Do not use a high pressure air line or a hot air blower. Try when time allows to allow the filter to air dry. Re-oiling with dust retention oil involves spraying the oil to give a medium covering all over. The oil has a white marker dye to show where the filter has been coated and then work or &#39;massage&#39; the oil into the depth of the foam for a couple of minutes. The filters are fairly robust and will allow compression while working the oil in.</p>

<h2><span class="mw-headline" id="See_also">See also</span></h2>

<p><a class="external text" href="http://www.itgairfilters.com/content2.asp?section=cleaning#" rel="nofollow">ITG&#39;s Cleaning Guide downloads</a></p>
<p><a class="external text" href="http://www.merlinmotorsport.co.uk/AIR-DUCTING-Flexible-Ducting-Black-Neoprene-Single-Layer/c18_313_314/p4217/102MM-BLACK-SINGLE-LAYER-DUCT.-" rel="nofollow">(PER-METRE)/product_info.html Replacement intake hose</a></p>

<p>



</p>