
<p><b>PLEASE ADD INFORMATION, WORK IN PROGRESS</b></p>

<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<ul>
<li class="toclevel-1"><a href="#Part_numbers">Part numbers</a>
</li>
<li class="toclevel-1"><a href="#Cambelt">Cambelt</a>
</li>
<li class="toclevel-1"><a href="#Tensioner">Tensioner</a>
</li>
<li class="toclevel-1"><a href="#Changing_the_Cambelt_.28Auto_Tensioner_inc_Water_Pump.29">Changing the Cambelt (Auto Tensioner inc Water Pump)</a>
</li>
<li class="toclevel-1"><a href="#Tools_Required">Tools Required</a>
</li>
<li class="toclevel-1"><a href="#Method">Method</a>
</li>
<li class="toclevel-1"><a href="#Waterpump_Change">Waterpump Change</a>
</li>
<li class="toclevel-1"><a href="#Cambelt_Continued">Cambelt Continued</a>
</li>
<li class="toclevel-1"><a href="#NOTES">NOTES</a>
</li>
<li class="toclevel-1"><a href="#See_Also">See Also</a>
</li>
</ul>
</ul>
</ul></td></tr></table><hr/>
<h3><span class="mw-headline" id="Part_numbers">Part numbers</span></h3>

<p>For auto tensioner:</p>
<p>Rover pt no, LHN100560</p>
<p>Gates pt no. 5497XS</p>
<p>Piper pt no TBP33</p>

<p>For manual tensioner:</p>
<p>Rover pt no. LHN100390</p>
<p>Gates pt no. 5416XS</p>
<p>Piper pt no. TBP17 wide</p>

<h3><span class="mw-headline" id="Cambelt">Cambelt</span></h3>


<p>Lotus have amended the original schedule and now recommend changing cam belts at least every four years rather than the original six, this will often mean services can become &#34;A+belts&#34;, &#34;B+belts&#34;, or &#34;C-belts&#34; depending on age and mileage and you will need to track the age of the cambelt separately from the normal service history.</p>
<p>Extract from <a class="external text" href="http://www.grouplotus.com/car/car_aftsales_techtpc.php?pageID=2" rel="nofollow">Group Lotus Aftersales bulletin</a> ...</p><blockquote>The synthetic cam belt used on Rover powertrain Elise models is subject to age, as well as usage degradation, and will be adversely affected by any contamination with oil or coolant. In order to bring cam-belt time servicing in line with current Rover recommendations the Service Schedule for all Rover powertrain Elise models was revised in October 2003 to stipulate a cam belt replacement time interval of 4 years (54,000miles/90,000km), with an inspection every 2 years (27,000miles/45,000km). For 340R/Sport 160/Exige models, the corresponding distance intervals are 36,000miles/60,000km, and 18,000miles/30,000km.
</blockquote>



<h3><span class="mw-headline" id="Tensioner">Tensioner</span></h3>


<p><b>PLEASE ADD INFORMATION</b></p>
<p>Auto or Manual</p>

<h3><span class="mw-headline" id="Changing_the_Cambelt_.28Auto_Tensioner_inc_Water_Pump.29">Changing the Cambelt (Auto Tensioner inc Water Pump)</span></h3>

<p>It is much easier to change the cambelt with the rear clam off but this is not necessary and access through the drivers rear wheel arch with the liner removed is still excellent compared to most 16v engines. </p>
<p>Instructions are for a &#34;clam on&#34; change</p>
<p>The rear of the car needs to be a high as possible to allow access to loosen and torque up the crank bolt (210Nm is tight)</p>
<p>((CLICK ON IMAGES TO ENLARGE ))</p>
<h3><span class="mw-headline" id="Tools_Required">Tools Required</span></h3>

<p>You will require a cut down 22mm socket to fit in the limited space between the crank pulley and the chassis (a 6 sided socket is stronger than a 12sided. Silverline do one for a couple of ££&#39;s from Amazon)</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:Cambelt2.jpg" title="Gap"><img src="Cambelt2.jpg" alt="Gap" title="Gap" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Gap</div></div>
</div>

<p>
</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:22mm_Socket_Marked.JPG" ><img src="22mm_Socket_Marked.JPG" class="type-thumb" width="220" />
</a></div>
</div>

<p>
</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:Cambelt4.jpg" ><img src="Cambelt4.jpg" class="type-thumb" width="220" />
</a></div>
</div>

<p>You will also need a</p>
<p>.  1/2&#34; breaker bar to loosen the crank bolt. As long as possible (don&#39;t try and use a ratchet handle, you&#39;ll break it and get a hernia to boot) </p>
<p>.  a torque wrench capable of operating up to 210Nm (with a slim head if possible)</p>
<p>.  A Rover K Series camshaft locking tool</p>  
<h3><span class="mw-headline" id="Method">Method</span></h3>

<p>1. Run the rear of the car up on ramps if you have them and remove the rear undertray and diffuser. Loosen the RHS rear wheel nuts while the weight of the car is still on the wheel  </p>
<p>2. Remove the spark plugs (this will allow the engine to be turned over much easier 
using the crank bolt as required below</p>
<p>3. Jack up the RHS of car higher still and place axle stands at the B and C positions in the daigram (if you don&#39;t have ramps then jack and support with axle stands in stages, as the tilt on the car can easily cause it to slip off a jack on it own)</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:Jacking_Positions.JPG" ><img src="Jacking_Positions.JPG" class="type-thumb" width="220" />
</a></div>
</div>

<p>.</p>
<p>Try and get the car high enough that you can kneel with your head inside the rear wheel arch (when the liner is out) as this is a comfortable working position allowing you to reach into the engine bay through the arch</p>
<p>4. Move the ramp out of your way and remove RHS rear wheel</p>
<p>5. Remove RHS rear wheel arch liner</p>
<p>6. You may wish to remove the brake disc on the RHS rear wheel to allow greater access into the wheel arch when working (it is not necessary to do this)</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:Cambelt1.jpg" title="View with Liner Out"><img src="Cambelt1.jpg" alt="View with Liner Out" title="View with Liner Out" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">View with Liner Out</div></div>
</div>

<p>7. Loosen the pivot bolt and clamp bolt on the alternator</p>
<p>8. Loosen the adjuster bolt to move the alternator towards the engine and provide slack on the the belt. The bolt has a fine pitch so expect to turn it many times before the belt slackens (If you intend to refit the existing alternator belt, before undoing the adjuster bolt, mark the position of the clamp bolt on the slotted bracket, so that you know exactly where to tighten the belt up to on reassembly)</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:Alternator_Diagram.JPG" title="Alternator bolts"><img src="Alternator_Diagram.JPG" alt="Alternator bolts" title="Alternator bolts" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Alternator bolts</div></div>
</div>

<p>9. Remove the alternator belt</p>
<p>10. Unbolt the upper cam belt cover and maneuver it upwards and out via the the engine bay (the cover to clam clearance is tight, but it will come out with minimum force if jiggled about a bit)</p>
<p>Ensure that you do not loose the rubber seal that press fits onto the bottom edge of the upper cover</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:Cambelt3.jpg" title="Top Cover Removed"><img src="Cambelt3.jpg" alt="Top Cover Removed" title="Top Cover Removed" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Top Cover Removed</div></div>
</div>

<p>11. Before loosening the crank bolt place a suitably sized screwdriver or allen key in the visible flywheel ring gear next to the drivers side driveshaft to prevent the engine rotating (I found an allen key much less likely to slip)</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:Allen_Key_Crank_Lock.JPG" title="Crank Locked with Allen Key"><img src="Allen_Key_Crank_Lock.JPG" alt="Crank Locked with Allen Key" title="Crank Locked with Allen Key" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Crank Locked with Allen Key</div></div>
</div>

<p>12. From under the car and using the breaker bar with the cut down socket, loosen the crank bolt (you are likely to have to brace your knees/feet against the underside to gain enough purchase to undo the bolt. Folk on here have snapped breaker bars doing this, so take care)</p>
<p>13. Remove the crank bolt, the large washer (note orientation) and then the crank pulley</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:Crank_Pulley_and_Bolt.JPG" ><img src="Crank_Pulley_and_Bolt.JPG" class="type-thumb" width="220" />
</a></div>
</div>

<p>14(a). Remove the lower cam cover</p>
<p>14(b). Replace the crank bolt (only) and hand tighten.</p>
<p>15(a). Before removing the cambelt the engine requires to be placed in a known positioned with No1 piston (closest to belt end) at Top Dead Centre (TDC).  As a visual aid to help find TDC, place a long screwdriver/large tie wrap/clean garden cane etc etc down through hole where you removed the spark plug on cylinder 1. It will rest on the piston crown and rise and fall with the engine rotation as required in part 16 and indicate if the piston is at TDC or (bottom dead centre) BDC. ***Make sure that whatever you use is long enough so that it does not fall into the engine at piston BDC !!! ***</p>
<p>15(b). Its worth highlighting the camshaft sprocket alignment marks, the crankshaft sprocket alignment marks and the engine block alignment mark with some Tippex (or white paint) for ease of viewing</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:Cambelt5.jpg" title="Camshaft Alignment Marks"><img src="Cambelt5.jpg" alt="Camshaft Alignment Marks" title="Camshaft Alignment Marks" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Camshaft Alignment Marks</div></div>
</div>

<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:Cambelt6.jpg" title="Crankshaft and Block Alignment Marks"><img src="Cambelt6.jpg" alt="Crankshaft and Block Alignment Marks" title="Crankshaft and Block Alignment Marks" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Crankshaft and Block Alignment Marks</div></div>
</div>

<p> </p>
<p>16. Remove the screwdriver/allen key from the flywheel teeth, and with the car out of gear. Turn the engine using a rachet/spanner on the crank bolt (only ever turn clockwise), until the camshaft and crank shaft alignment mark line up as above AND the visual aid in cylinder 1 shows the piston is at TDC. Camshaft sprocket marks should face each other in a line with the centre bolts of each shaft. The crank dimple marks should straddle the block mark.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:K_Alignment_Marks.JPG" title="K Series Camshaft Alignment Marks"><img src="K_Alignment_Marks.JPG" alt="K Series Camshaft Alignment Marks" title="K Series Camshaft Alignment Marks" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">K Series Camshaft Alignment Marks</div></div>
</div>

<p>17. Replace the screwdriver or allen key in the flywheel and place the camshaft locking tool into place</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:Cambelt7.jpg" title="Cam Locking Tool"><img src="Cambelt7.jpg" alt="Cam Locking Tool" title="Cam Locking Tool" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Cam Locking Tool</div></div>
</div>

<p>18. Mark the old belt/sprockets at both cams and on the crank. When the old belt is off, transfer these marks to the new belt (carefully count the belt teeth). When fitting the new, the marks will ensure it is not out by a tooth anywhere along its length (the K series will run without damage when the belt is out by a tooth either way but not very well!!).</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:Cambelt8.jpg" title="Belt to Sprocket Double Check"><img src="Cambelt8.jpg" alt="Belt to Sprocket Double Check" title="Belt to Sprocket Double Check" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Belt to Sprocket Double Check</div></div>
</div>

<p>19. Unbolt the tensioner centre bolt, remove the tensioner and slide off the cambelt.</p>
<p>20. The engine mount prevents the old belt from being removed completely. There are two ways of getting the old belt out and new one in </p>
<p>20a (Thanks to Dave Andrews for this tip):
The easiest method is to remove one bolt on the engine mount at a time and weave the belt inbetween the bolts. Slacken both so that the engine drops by 12-15mm or so. Remove one bolt and push the belt into the gap between. Replace the bolt and tighten to where it was (I.E. 12mm gap), then remove the other bolt and push the belt the rest of the way through the gap. Reverse the process to get the new belt in, then do up both bolts to the correct torque. </p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:Engine_Mount.JPG" title="Engine Mount"><img src="Engine_Mount.JPG" alt="Engine Mount" title="Engine Mount" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Engine Mount</div></div>
</div>

<p>20b The alternative method, is to place a trolley jack under the engine (use a peice of wood between to spread the contact load), jack the engine up slightly and remove the engine mount bolts completely. Takes a bit longer and if the engine moves ever so slighly back or forward it can be a PITA to get the bolts started in the threads again</p>
<h3><span class="mw-headline" id="Waterpump_Change">Waterpump Change</span></h3>

<p>21 If you intend to change the waterpump as well (and if your in here already its probably worth it !!), now is the time to do it. Drain the coolant by undoing and hoses that enter both side rails at the rear of the car</p>

<p>22. Unbolt the old pump and remove it. (Expect more coolant to flow from the engine block). There are 6 bolts circled in the photo. The top left is bolted from the rear side, the bottom right is a pillar bolt (used for the front cover as well) and there are two dowels, squared in the photo. Check that the old rubber sealant ring was removed with the old pump and if there is any corrosion around the face/dowels remove with wet an dry paper. The block surface should be clean to allow the new pump to fit well </p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:Waterpump_Bolts.JPG" title="Waterpump Bolts and Dowels"><img src="Waterpump_Bolts.JPG" alt="Waterpump Bolts and Dowels" title="Waterpump Bolts and Dowels" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Waterpump Bolts and Dowels</div></div>
</div>

<p> </p>
<p>23. Ensuring the new sealant ring is in place in the groove on the new pump and fit the pump (you can use some (proper) automotive RTV silicon to hold the new sealant ring in place if required). Tighten the bolts in stages alternating between diagonally opposite bolts to 10Nm</p>
<h3><span class="mw-headline" id="Cambelt_Continued">Cambelt Continued</span></h3>

<p>24. Before fitting the new tensioner, it is advisable to mark the end of the tensioner wire pointer with a drop of Tippex/white paint to alow it to be seen clearer during positioning</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:Cambelt10.jpg" title="New Tensioner on Right with Pointer Marked"><img src="Cambelt10.jpg" alt="New Tensioner on Right with Pointer Marked" title="New Tensioner on Right with Pointer Marked" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">New Tensioner on Right with Pointer Marked</div></div>
</div>

<p>25. Fit the new tensioner into position and secure with the centre bolt but leave it loose enough that the tensioner will wobble quite freely to give some freeplay while fitting the new belt. Ensure that the wire loop on the tensioner is hooked behind the bolt on the block.</p>
<p>The tensioner lever (the part where the allen key fits, should be at the 9 o&#39;clock position)</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:Auto_Tensioner_Wire.JPG" title="Tensioner Wire Hook Position"><img src="Auto_Tensioner_Wire.JPG" alt="Tensioner Wire Hook Position" title="Tensioner Wire Hook Position" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Tensioner Wire Hook Position</div></div>
</div>

<p>26. Fit the new belt onto the crank pulley first. If you marked the belt as per section 18 above, line up the mark on the belt with the sprocket mark. Fit the belt so that approx half of the width is on the sprocket/half is hanging off the front edge. Again this gives you more leeway/flex with the belt as you feed it on.</p>
<p>27. Keeping the long RHS of the belt taught, feed it over the RHS (exhaust) cam sprocket then over the LHS (inlet) cam sprocket, again lining up the white marks you placed on it earlier and again only pushing the belt on half way</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:Cambelt12.jpg" title="New Belt - Aligning Crank Sprocket Mark"><img src="Cambelt12.jpg" alt="New Belt - Aligning Crank Sprocket Mark" title="New Belt - Aligning Crank Sprocket Mark" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">New Belt - Aligning Crank Sprocket Mark</div></div>
</div>

<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:Cambelt11.jpg" title="New Belt - Aligning Cam Sprocket Marks"><img src="Cambelt11.jpg" alt="New Belt - Aligning Cam Sprocket Marks" title="New Belt - Aligning Cam Sprocket Marks" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">New Belt - Aligning Cam Sprocket Marks</div></div>
</div>


<p>28. Feed the belt up around the water pump then around tensioner. Once around all the mounting points you can then push the belt fully onto all the sprockets until seated fully</p>
<p>29. Tighten the tensioner centre bolt, not fully, but enough to pull it against the block</p>
<p>30 From the service manual:-</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:Auto_Tensioner_Setup.JPG" title="Auto Tensioner Adjustment"><img src="Auto_Tensioner_Setup.JPG" alt="Auto Tensioner Adjustment" title="Auto Tensioner Adjustment" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Auto Tensioner Adjustment</div></div>
</div>

<p>30a. &#34;Tighten the centre bolt until it is just posible to move the tensioner lever&#34;</p> 
<p>30b. &#34;check the belt is central around gears and pulleys</p>
<p>30c. &#34;Using a 6mm Allen Key, rotate tensioner anti-clockwise and align the centre of the indent on the tensioner pointer to the index wire</p>
<p>ENSURE that the pointer approaches the index wire from above. Should pointer go past index wire, release tension completely and repeat tensioning procedure&#34; </p>
<p>30d.  &#34;Ensuring that the pointer maintains the correct position, tighten centre bolt to 25Nm&#34;</p>
<p>(It is quite difficult to hold the allen key on the lever and use a torque wrench in this location. If you tighten this bolt up using the &#34;calibrated hand&#34; method, do not overtighten the bolt. </p>
<p>31. Remove the cam locking tool and the crank locking allen key/scredriver and using a ratchet on the crank bolt, rotate the engine 2 turns clockwise. Check the tensioner pointer is still in the correct position</p>
<p>32. Remove the crank bolt, refit the cambelt lower cover.</p>
<p>33. Ensuring the mating surfaces of the crank pulley, washer, bolt and sprocket are clean, refit the crank pulley, washer and bolt. (Do not use a thread lock compound). Make sure the notch on the pulley is keyed to the crank before tightening the bolt hand tight</p>
<p>34. Replace the crank locking allen key/screwdriver and torque the crank pulley to 210Nm. This is a significant force even with a long torque wrench. Do not be tempted to just beef up the bolt with a big spanner, numerous instances of the the crank nose being worn away, the pulley undoing and the crank sprocket sliding off because of a loose bolt have been documented with the K series</p>
<p>35. Remember to remove the crank locking allen key/screwdriver !!!!</p>
<p>36. Refit the alternator belt</p>
<p>37. Refit the upper cam belt cover (be careful that the rubber sealing gasket on the lower edge is in the correct place. Its easily knocked off)</p>
<p>38. If you have changed the water pump, reconnect all coolant hoses and refill the system with new coolant.</p>
<p>39. I always turn the car over on the starter with the spark plugs removed just as a double triple check that all is well. (not advisable on cars with coil packs as they can be damaged. Better to remove the power to the fuel pump) If it doesn&#39;t rattle like a bag of nails :-), then refit the spark plugs and leads, start the engine </p>
<p>40. Lower the car and bleed the cooling system per the service manual or </p>
<p><a class="external free" href="http://wiki.seloc.org/a/Bleed_the_cooling_system" rel="nofollow">http://wiki.seloc.org/a/Bleed_the_cooling_system</a></p>
<h3><span class="mw-headline" id="NOTES">NOTES</span></h3>

<p>1. Alternative methods used to lock the crank include having the car in gear and an assistant press on the brakes VERY hard. It has worked for some and it appears OK for loosening the crank bolt but when doing up any slipage will throw out the timing !!!</p>
<p>Another method to undo the crank bolt that has been used is jam the socket and breaker bar against the groung/something very rigid, and use the starter motor to turn the engine. The bolt being held will undo as the crank turns. Use this method at your own risk.... and make sure the car is out of gear when you do it</p>
<p>2. There have been a small number if instances reported where the cambelt centre tensioner bolt has become seized to the block through corrosion/overzealous tightening or the use of thread lock. Before stripping the engine to find this may be the case (and you now have a car that is incapable of being driven to a garage/mechanic), you may wish to check the tensioner bolt will loosen. This is possible by removing the upper cam belt cover before all else and trying to move the bolt a quarter turn. If it moves, tighten it back up and follow the normal procedure above</p>

<p>Useful video:
<a class="external free" href="http://www.mgf.ultimatemg.com/group2/engines/index.htm" rel="nofollow">http://www.mgf.ultimatemg.com/group2/engines/index.htm</a></p>
<p>Useful link to another guide fitting the manual tensioner
<a class="external free" href="http://www.tadts.com/instructions/engine/100016.html" rel="nofollow">http://www.tadts.com/instructions/engine/100016.html</a></p>
<p>Quick Guide</p>
<p>Thread here: <a class="external free" href="http://forums.seloc.org/viewthread.php?tid=314945&#38;page=1#pid5349364" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=314945&#38;page=1#pid5349364</a></p>
<h3><span class="mw-headline" id="See_Also">See Also</span></h3>


<p><b>PLEASE ADD INFORMATION</b></p>
<p>

</p>