
<p>Legality of Number plates are frequently discussed on this forum.</p>

<ul>
<li><a class="external text" href="http://www.dvla.gov.uk/media/pdf/leaflets/displayofnumberplates.pdf" rel="nofollow">Link to DVLA website</a></li>
</ul>

<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Sizes">Sizes</a>
<ul>
<li class="toclevel-2"><a href="#Before_Jan_73">Before Jan 73</a>
</li>
<li class="toclevel-2"><a href="#Before_Sept_2001">Before Sept 2001</a>
</li>
<li class="toclevel-2"><a href="#After_Sept_2001">After Sept 2001</a>
</li>
</ul>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Sizes">Sizes</span></h2>
<h3><span class="mw-headline" id="Before_Jan_73">Before Jan 73</span></h3>
<p><a class="image" href="http://wiki.seloc.org/a/image:Reg_plates_before_Jan_73.JPG" ><img src="Reg_plates_before_Jan_73.JPG" width="220" />
</a></p>
<h3><span class="mw-headline" id="Before_Sept_2001">Before Sept 2001</span></h3>
<p><a class="image" href="http://wiki.seloc.org/a/image:Reg_plates_before_sept_2001.JPG" ><img src="Reg_plates_before_sept_2001.JPG" width="220" />
</a></p>
<h3><span class="mw-headline" id="After_Sept_2001">After Sept 2001</span></h3>
<p><a class="image" href="http://wiki.seloc.org/a/image:Reg_plates_after_sept_2001.JPG" ><img src="Reg_plates_after_sept_2001.JPG" width="220" />
</a></p>


<p>

</p>