
<p>Due to an unexpected number of S1s finding ditches and hedges Lotus designed the S2 to be more road user friendly with an under steer bias (e.g. 175 section tyres) which can be addressed in the following cost focussed steps;</p>

<p>1. Learn to drive around it trail-braking in to corners and staying off the power coming out on a Walshy day or empty track. </p>

<p>2. Increase the front camber to -0.5 or -0.7 (340R Road see: <a href="http://wiki.seloc.org/a/Geo_Setups" title="Geo Setups">Geo_Setups</a> ) note that the S2 hub carriers or ball joint plinths will usually need to be machined down to get more than this (understeer is now 95% gone). </p>

<p>3. Fit 195 section road tyres like TR1s (understeer 100% gone with the camber in step 2, without it the tyres alone are marginal).</p>

<p>4. You <b>do not need A048/R888 rubber to sort out under steer</b>, with stiffer springs, dampers and an aggresive Geo they will simply allow you to go faster through a corner than road tyres. </p>

<p>5. If you have adjustable dampers and run spring rates at the same % as your cars weight distribution (generally 45%f/55r%) harder damping on the front = under steer, harder damping on the rear = over steer. </p>

<p>6. I have no real idea what a stiffer ARB brings to the Elise party, to me it seems to add low speed chicane or hairpin under steer and high speed corner (craners, coppice) stability. &#60; PLEASE EDIT THIS IF YOU HAVE SOME FACTS !</p>

<p>

</p>