<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<ul>
<li class="toclevel-1"><a href="#Fuel_Economy">Fuel Economy</a>
</li>
<li class="toclevel-1"><a href="#Tank_Capacity">Tank Capacity</a>
</li>
<li class="toclevel-1"><a href="#Fuel_Guage">Fuel Guage</a>
</li>
<li class="toclevel-1"><a href="#S1">S1</a>
</li>
<li class="toclevel-1"><a href="#S2">S2</a>
</li>
<li class="toclevel-1"><a href="#Fuel_economy_tips_from_Guy">Fuel economy tips from Guy</a>
</li>
</ul>
</ul>
</ul></td></tr></table><hr/>
<h3><span class="mw-headline" id="Fuel_Economy">Fuel Economy</span></h3>

<p>Figures in the table below are approximate, based on real-world experience of SELOC members.
</p>
<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>Engine</th>
<th>Steady motorway driving</th>
<th>Spirited B-road driving</th>
<th>on Track</th></tr>
<tr>
<td>K series (S1) - 118hp</td>
<td>53mpg</td>
<td>34mpg</td>
<td>?</td></tr>
<tr>
<td>K series - 118hp</td>
<td>37mpg</td>
<td>34mpg</td>
<td>?</td></tr>
<tr>
<td>K series - 160hp</td>
<td>44 mpg</td>
<td>30-35 mpg</td>
<td>?</td></tr>
<tr>
<td>K series - 200hp</td>
<td>34mpg</td>
<td>?</td>
<td>?</td></tr>
<tr>
<td>Toyota </td>
<td>?</td>
<td>?</td>
<td>?</td></tr>
<tr>
<td>Toyota SC</td>
<td>30 mpg</td>
<td>26 mpg</td>
<td>?</td></tr>
<tr>
<td>Honda NA</td>
<td>37mpg</td>
<td>31mpg</td>
<td>13-17</td></tr>
<tr>
<td>Honda SC</td>
<td>36-40</td>
<td>20-25</td>
<td>7-10</td></tr>
<tr>
<td>Audi 250hp</td>
<td>?</td>
<td>28mpg</td>
<td>?</td></tr>
<tr>
<td>Audi 300hp</td>
<td>?</td>
<td>?</td>
<td>?</td></tr></table></div>

<p>To calculate fuel economy, divide the distance travelled since the tank was full by the number of imperial gallons it takes to fill the car again. 36L = 7.9 Gallons, 1L = 0.22 Gallons (see <a class="external text" href="http://www.google.com/search?hl=en&#38;safe=off&#38;q=1L+in+imperial+gallons" rel="nofollow">Google&#39;s conversion thingy</a>)</p>
<h3><span class="mw-headline" id="Tank_Capacity">Tank Capacity</span></h3>

<p>While not strictly related to fuel economy, this is a common question on the forums. The &#39;offical&#39; tank capacity of an elise is 36L, however brimming a completely empty elise can take up to 45L.</p>
<h3><span class="mw-headline" id="Fuel_Guage">Fuel Guage</span></h3>


<h3><span class="mw-headline" id="S1">S1</span></h3>
<p>The fuel guage on an early S1 elise is hopelessly unreliable. On the S1, there is a digital readout which displays: Full&#62;34L&#62;33L&#62;32L...11L&#62;Refill. This can change by as much as 6L on a long corner, but &#39;Refill&#39; normally means you have about 10-15% capacity remaining (good for about 30 miles of steady driving). Left hand corners and downhill inclines will cause the reading to be lower than actual, right-handers and uphills have the opposite effect. Later S1 fuel gauge tends to be more accurate, on switching to refill, steady driving will see around 50 miles before cutting out.</p>
<h3><span class="mw-headline" id="S2">S2</span></h3>
<p>Early S2 gauge is still a number read out and is better than the S1 gauge as it will give you a good idea how much fuel is in the car, but just displays REFILL at 6lts.</p>

<p>The Later (Cir 04) S2 fuel gauge is a simple 5 segment display which obscures erratic readings simply by having a less granular display.</p>
<p>



</p>
<h3><span class="mw-headline" id="Fuel_economy_tips_from_Guy">Fuel economy tips from Guy</span></h3>


<p><a class="external free" href="http://forums.seloc.org/member.php?action=viewpro&#38;member=GPZarquon" rel="nofollow">http://forums.seloc.org/member.php?action=viewpro&#38;member=GPZarquon</a></p>

<p><a class="external free" href="http://wiki.seloc.org/images/5/5f/Guy_pic.gif" rel="nofollow">http://wiki.seloc.org/images/5/5f/Guy_pic.gif</a></p>

<p>Extracted from Guy&#39;s well known thread - Bored of your front Speakers? <a class="external free" href="http://arc.seloc.org/viewthread.php?tid=90546&#38;page=1" rel="nofollow">http://arc.seloc.org/viewthread.php?tid=90546&#38;page=1</a></p>

<p>One of Guy&#39;s finest achievements in life is his method on how to become fuel efficient in a Lotus Elise. However the reader will note that Guy&#39;s passionate mission to become &#34;Green&#34; has led to several challenges along the way.</p>

<p>So here is Guy&#39;s acount of how to be lean and green.</p>

<p>Switching off the engine when going downhill is Guy&#39;s commitment to saving energy and helping to prevent climate change.</p>

<p>Guy says, &#34;my favourite gear is neutral. Every chance I get, I run with the engine off and the ignition switch on. I call it driving Soap Box Derby style. I have been doing this for five years. So you can see, coasting downhill has become a hobby&#34;. </p>

<p>&#34;I use every downhill slope to coast with the engine off, especially if I can stay above 40 mph—even if I can coast only for a couple hundred feet. Of course, if a green light turns red ahead of me, I immediately turn the engine off and coast. There is no sense in burning fuel, even small amounts if I am going to stop anyway. However, if the battery charge is particularly low and I have uphill slopes ahead of me, I will sometimes use downhill slopes and deceleration to a stoplight to get a little extra charge in the battery&#34;.</p>

<p>&#34;Another trick I use is to coast up hills with the engine off if I have enough momentum to crest the hill without going too slow. This turns what would normally be very negative mileage miles into very positive miles. I use the backside of the hills to regain my speed, usually with the engine still off as long as I am not impeding or blocking traffic&#34;.</p>

<p>Here is Guy coasting downhill</p>
<p><a class="external free" href="http://wiki.seloc.org/images/thumb/2/21/Guy_coasting_downhill.JPG/180px-Guy_coasting_downhill.JPG" rel="nofollow">http://wiki.seloc.org/images/thumb/2/21/Guy_coasting_downhill.JPG/180px-Guy_coasting_downhill.JPG</a></p>

<p>And to complete his passionate eco mission, Guy decided to recycle a pair of Bobsan&#39;s brake discs.</p>

<p>Here is a photograph of Guy cleaning them up ready for assembly.</p>
<p><a class="external free" href="http://wiki.seloc.org/images/e/e1/Guy_cleaning_brake_discs.JPG" rel="nofollow">http://wiki.seloc.org/images/e/e1/Guy_cleaning_brake_discs.JPG</a></p>

<p>No Guy you are not supposed to undo that nut. </p>
<p><a class="external free" href="http://wiki.seloc.org/images/e/ee/Guy_undoing_wrong_nut.JPG" rel="nofollow">http://wiki.seloc.org/images/e/ee/Guy_undoing_wrong_nut.JPG</a></p>

<p>Here is Guy removing an old brake disc</p>
<p><a class="external free" href="http://wiki.seloc.org/images/d/d4/Guy_removing_an_old_brake_disc.JPG" rel="nofollow">http://wiki.seloc.org/images/d/d4/Guy_removing_an_old_brake_disc.JPG</a></p>

<p>Eventually after 30,000 miles of coasting downhill, Guy had to fit a new battery.</p>
<p><a class="external free" href="http://wiki.seloc.org/images/1/1a/Guy_fitting_a_new_battery.JPG" rel="nofollow">http://wiki.seloc.org/images/1/1a/Guy_fitting_a_new_battery.JPG</a></p>

<p>And his clutch seized up through lack of use </p>
<p><a class="external free" href="http://wiki.seloc.org/images/9/93/Guy_with_his_clutch.JPG" rel="nofollow">http://wiki.seloc.org/images/9/93/Guy_with_his_clutch.JPG</a></p>

<p>So out came the gearbox.</p>
<p><a class="external free" href="http://wiki.seloc.org/images/7/76/Guy%27s_broken_gearbox.JPG" rel="nofollow">http://wiki.seloc.org/images/7/76/Guy%27s_broken_gearbox.JPG</a></p>

<p>There, that&#39;s better.</p>
<p><a class="external free" href="http://wiki.seloc.org/images/d/d2/Guy_fixing_his_gearbox.JPG" rel="nofollow">http://wiki.seloc.org/images/d/d2/Guy_fixing_his_gearbox.JPG</a></p>

<p>Another downside of continually switching the engine off and on for coasting is that the starter motor burns out quickly.</p>
<p><a class="external free" href="http://wiki.seloc.org/images/c/cd/Guy_fixing_his_starter_motor.JPG" rel="nofollow">http://wiki.seloc.org/images/c/cd/Guy_fixing_his_starter_motor.JPG</a></p>

<p>After 100,000 miles of coasting it is time for Guy to do an oil change.</p>
<p><a class="external free" href="http://wiki.seloc.org/images/1/1b/Guy_doing_an_oil_change.JPG" rel="nofollow">http://wiki.seloc.org/images/1/1b/Guy_doing_an_oil_change.JPG</a></p>

<p>And finally, here is Guy tooled up ready to change a ball joint.</p>
<p><a class="external free" href="http://wiki.seloc.org/images/5/54/Guy_changing_a_ball_joint.JPG" rel="nofollow">http://wiki.seloc.org/images/5/54/Guy_changing_a_ball_joint.JPG</a></p>