
<p>The Inlet manifold gasket can fail and allow air leaks and coolant/anti-freeze to leak into the cylinder ahead of the injectors. Tell tale signs can include rusty spark plugs on cylinder 1 and 4, sometimes even all four, lumpy idle or misfiring, high emissions, jerky acceleration and deceleration when coming off the accelerator, anti-freeze around the inlet manifold, unburnt fuel and possibly destroyed catalytic converter.</p>
<p>The gasket sits inside a recess in the face of the inlet manifold where it joins to the engine. There are tabs on either end on the lower side to pull it out, it may be blackened from use. Early gaskets are black, an improved one was manufactured and is known as the green gasket (it&#39;s green) which can be sourced from between a pound to six pounds (2008).Part no. LKJ101110L from your local landrover dealer.</p>
<p>It can be changed without fully removing the inlet manifold by simply fully unscrewing the nuts on the manifold studs, you may find some studs will come out rather than the nut if rusted. The nuts under the inlet manifold are the hardest to access, especially on the later S1 Elise where the boot divider is a permanent fixture. Have ready both a short and long socket extension, preferably the type that allow angled movement on the socket, and long and short sockets. Removing the drivers side rear wheel arch liner will help greatly.</p>

<p>


</p>