<h2><span class="mw-headline" id="Elise_weights_from_Lotus">Elise weights from Lotus</span></h2>

<p>Standard car weights from Lotus, take with salt. User submitted car weights are located further down the page.</p>

<div style="page-break-inside: avoid;">
<table border="2" cellpadding="3">
<tr>
<th>Model </th>
<th>Weight (kg) </th>
<th>Provenance</th></tr>
<tr>
<td rowspan="3">S1</td>
<td>690</td>
<td>1996 brochure</td></tr>
<tr>
<td>713 (inc full fuel tank)</td>
<td>1997 manual</td></tr>
<tr>
<td>755</td>
<td>1998 manual</td></tr>
<tr>
<td rowspan="2">S1 111S</td>
<td>770</td>
<td>brochure</td></tr>
<tr>
<td>770</td>
<td><a class="external text" href="http://www.coteriepress.com/CP_ProductDetail_01.php?Manufacturer=Lotus&#38;Productid=24" rel="nofollow">Elise - The Official Story</a></td></tr>
<tr>
<td>S1 135</td>
<td>730</td>
<td><a class="external text" href="http://www.coteriepress.com/CP_ProductDetail_01.php?Manufacturer=Lotus&#38;Productid=24" rel="nofollow">Elise - The Official Story</a></td></tr>
<tr>
<td>S1 160</td>
<td>715</td>
<td><a class="external text" href="http://www.coteriepress.com/CP_ProductDetail_01.php?Manufacturer=Lotus&#38;Productid=24" rel="nofollow">Elise - The Official Story</a></td></tr>
<tr>
<td>S1 190</td>
<td>670</td>
<td><a class="external text" href="http://www.coteriepress.com/CP_ProductDetail_01.php?Manufacturer=Lotus&#38;Productid=24" rel="nofollow">Elise - The Official Story</a></td></tr>
<tr>
<td rowspan="2">340R</td>
<td>675</td>
<td><a class="external text" href="http://www.coteriepress.com/CP_ProductDetail_01.php?Manufacturer=Lotus&#38;Productid=24" rel="nofollow">Elise - The Official Story</a></td></tr>
<tr>
<td>701</td>
<td>Service Manual 340R Supplement
</td></tr>
<tr>
<td>Expose</td>
<td>545</td>
<td><a class="external text" href="http://www.coteriepress.com/CP_ProductDetail_01.php?Manufacturer=Lotus&#38;Productid=24" rel="nofollow">Elise - The Official Story</a></td></tr>
<tr>
<td>S1 Exige</td>
<td>780</td>
<td><a class="external text" href="http://www.coteriepress.com/CP_ProductDetail_01.php?Manufacturer=Lotus&#38;Productid=24" rel="nofollow">Elise - The Official Story</a></td></tr>
<tr>
<td>VX220</td>
<td>875</td>
<td><a class="external text" href="http://www.coteriepress.com/CP_ProductDetail_01.php?Manufacturer=Lotus&#38;Productid=24" rel="nofollow">Elise - The Official Story</a></td></tr>
<tr>
<td rowspan="2">S2</td>
<td>750</td>
<td><a class="external text" href="http://www.coteriepress.com/CP_ProductDetail_01.php?Manufacturer=Lotus&#38;Productid=24" rel="nofollow">Elise - The Official Story</a></td></tr>
<tr>
<td>750-830</td>
<td><a class="external text" href="http://www.coteriepress.com/CP_ProductDetail_01.php?Manufacturer=Lotus&#38;Productid=2" rel="nofollow">The Lotus Book</a></td></tr>
<tr>
<td>S2 135</td>
<td>750</td>
<td><a class="external text" href="http://www.coteriepress.com/CP_ProductDetail_01.php?Manufacturer=Lotus&#38;Productid=24" rel="nofollow">Elise - The Official Story</a></td></tr>
<tr>
<td rowspan="3">S2 111S</td>
<td>772 unladen, 881 in service</td>
<td>V5</td></tr>
<tr>
<td>in running order 888 min, 925 max</td>
<td>EEC Certificate of Conformity</td></tr>
<tr>
<td>780 </td>
<td><a class="external text" href="http://www.coteriepress.com/CP_ProductDetail_01.php?Manufacturer=Lotus&#38;Productid=24" rel="nofollow">Elise - The Official Story</a></td></tr>
<tr>
<td>S2 111R </td>
<td>860, 916 with options </td>
<td><a class="external text" href="http://www.coteriepress.com/CP_ProductDetail_01.php?Manufacturer=Lotus&#38;Productid=2" rel="nofollow">The Lotus Book</a></td></tr>
<tr>
<td>S2 Exige </td>
<td>875, 916 with options </td>
<td><a class="external text" href="http://www.coteriepress.com/CP_ProductDetail_01.php?Manufacturer=Lotus&#38;Productid=2" rel="nofollow">The Lotus Book</a></td></tr></table></div>

<h2><span class="mw-headline" id="Elise_weights_from_SELOC_members">Elise weights from SELOC members</span></h2>

<p>Weights entered from SELOC Members, take with salt. </p>


<div style="page-break-inside: avoid;">
<table border="2" cellpadding="3" class="wikitable sortable">
<caption>Sortable table</caption>
<tr>
<th scope="col">Name </th>
<th scope="col">Car</th>
<th scope="col">Weight (kg)</th>
<th class="unsortable" scope="col">Misc Info</th></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/username" rel="nofollow">your username here</a></td>
<td>Atom 300</td>
<td>620</td>
<td>Apr 09, French public weigh bridge, Full tank, tool kit, dead flies</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/deeppurpleelise" rel="nofollow">deeppurpleelise</a></td>
<td>S1 Elise</td>
<td>700</td>
<td>Apr 09, French public weigh bridge, 1 gallon fuel, minus carpets, rear screen &#38; hoop</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/Lanber" rel="nofollow">Lanber</a></td>
<td>S1 Elise (1999)</td>
<td>725</td>
<td>Oct 11, DVLA weighbridge, Empty tank, lightwight flywheel, light exhoust, EP4-2-1, CRP, EP alucentered brake discs, no radio &#38; speakers</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/revolt" rel="nofollow">Revolt</a></td>
<td>S1 Elise (1999)</td>
<td>726</td>
<td>Dry weight (no fuel) measured at EMERALD, weight distribution: front/back: 45/55</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/worldwidewebs" rel="nofollow">worldwidewebs</a></td>
<td>S1 Elise 111S</td>
<td>729</td>
<td>Oct 26, Oulton Park weighbridge, 3/4 full tank, few bits in the boot, harness bar, harness, Exige motorsport seat, victory alloys</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/wevster" rel="nofollow">wevster</a></td>
<td>S1 Elise (1997)</td>
<td>730</td>
<td>Cadwell Park 2010, 25l fuel, MMC brakes</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/gt111" rel="nofollow">gt111</a></td>
<td>S1 Elise</td>
<td>740</td>
<td>Cadwell Park 2010, 26l fuel</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/rwhitworth" rel="nofollow">rwhitworth (Russell Whitworth)</a></td>
<td>S1 Elise (Steve Williams Duratec conversion)</td>
<td>740</td>
<td>16 litres of fuel, Eliseparts hard top, harness bar and harnesses (plus seatbelts), S160 seats, alloy radiator, Raceline exhaust</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/Joel" rel="nofollow">Joel</a></td>
<td>S1 Elise (2000)</td>
<td>745</td>
<td>late S1 with steel uprights and brakes, 421-decat-Raceline exhaust, harness bar and harnesses, Speedline mag wheels, no carpets or radio, weighed on Longacre corner scales with hardtop fitted and 34L fuel, 20/02/10.</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/yod" rel="nofollow">yod</a></td>
<td>S1 Elise (1999)</td>
<td>746</td>
<td>Cadwell Park 2010, full tank of fuel, some light bits (approx 11kg saved)</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/danmclean" rel="nofollow">DanMcLean</a></td>
<td>S2 Elise Sport Tourer (2002)</td>
<td>749</td>
<td><a class="external text" href="http://forums.seloc.org/viewthread.php?tid=210370&#38;page=1#pid3853339" rel="nofollow">Regional weigh-in and power run</a></td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/Thorburn" rel="nofollow">Thorburn</a></td>
<td>S1 Elise (1998)</td>
<td>754.5</td>
<td><a class="external text" href="http://forums.seloc.org/viewthread.php?tid=317125&#38;page=3#pid5710392" rel="nofollow">Corner weighted during geo at Hofmanns</a><br />Early 1998 S1, changed to steel uprights and brakes, boot bag, alloy engine cover, alloy radiator, Janspeed exhaust, Nitron Street Series suspension, Pro-bax S2 Exige Sports Seats, harness bar and harnesses, 28L fuel</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/x27EVE" rel="nofollow">x27EVE</a></td>
<td>S1 Elise 111S</td>
<td>755</td>
<td>Cadwell Park 2010, 29l fuel</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/username" rel="nofollow">your username here</a></td>
<td>S1 Elise 111S</td>
<td>760</td>
<td>Apr 09, French public weigh bridge, 27L fuel</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/username" rel="nofollow">your username here</a></td>
<td>S1 Elise</td>
<td>760</td>
<td>Apr 09, French public weigh bridge, 27L fuel</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/esprit" rel="nofollow">Esprit</a></td>
<td>S1 Exige (Non-Aircon)</td>
<td>764</td>
<td>Corner Scales. Factory Standard with sports interior, Full Fluids, 33L Fuel</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/" rel="nofollow">Martin R</a></td>
<td>S2 Elise Sport 190</td>
<td>767</td>
<td>Mallory Park 2/3 full tank of fuel, soft top on + Harness bar and harnesses. 2003 car.</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/mellowmatt" rel="nofollow">mellowmatt</a></td>
<td>S1 Elise 111S</td>
<td>773</td>
<td>Cadwell Park 2010, 34l fuel</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/Trixster" rel="nofollow">Trixster</a></td>
<td>S2 Elise S (120Bhp K Series)</td>
<td>775</td>
<td>Dec 09 @ SPS Automotive, Larini, Nitrons, 20L fuel, full carpet set, 4 speakers, leccy windows etc</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/flying%20banana" rel="nofollow">flying banana</a></td>
<td>S1 Elise 111S (1999)</td>
<td>776</td>
<td>During corner weighting at Hofmanns. 3/4 of a tank. Lots of carpet, sound deadening, subwoofer, bigger speakers and with the Lotus &#34;Sport&#34; boat anchor exhaust fitted</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/username" rel="nofollow">your username here</a></td>
<td>S1 Elise 111S</td>
<td>780</td>
<td>Apr 09, French public weigh bridge, Full tank, bottles of water</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/felixj" rel="nofollow">felixj</a></td>
<td>S2 Elise 111S</td>
<td>780</td>
<td>May 11, public weigh bridge, nearly empty tank, manual windows, harnessbar, no a/c</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/tertius" rel="nofollow">tertius</a></td>
<td>S2 Elise 111S (2003)</td>
<td>785</td>
<td>Apr 2010: Corner scales at Hoffmans; no a/c; manual windows; 20L fuel; 240R wheels; carbon seats; harness bar and harnesses</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/stifler" rel="nofollow">Stifler</a></td>
<td>S2 Elise Racetech</td>
<td>787</td>
<td>Cadwell Park 2010, 20l fuel</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/username" rel="nofollow">your username here</a></td>
<td>S2 Elise 111S</td>
<td>800</td>
<td>Apr 09, French public weigh bridge, Half tank, Elec windows, no a/c</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/Martyn111S" rel="nofollow">Martyn111S</a></td>
<td>S2 Elise 111S</td>
<td>808</td>
<td>Hoffmans, during corner weighting + 1/2/ tank fuel</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/" rel="nofollow">Dr H</a></td>
<td>S2 Elise Sport Tourer (2001 with SC Honda Conversion)</td>
<td>816</td>
<td>Corner weighting + 18 litres of fuel and abut 5kg worth of stuff in the boot. OZ rims, harness bar, probax seats carpets etc.</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/muu" rel="nofollow">muu</a></td>
<td>S2 Elise 135R (Honda Conversion)</td>
<td>816.5</td>
<td>Feb 12, Corner Weight at TDi Plc, 22L fuel, Tullett Exhaust, all factory trim in place, OZ wheel with R888, Factory hardtop and 3.9kg soft-top stashed behind the seats. harness bar &#38; harnesses</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/username" rel="nofollow">your username here</a></td>
<td>S2 Elise 111S</td>
<td>820</td>
<td>Apr 09, French public weigh bridge, Full tank, manual windows, a/c</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/loafingwafu" rel="nofollow">Loafing Wafu</a></td>
<td>S2 Elise Sport Tourer (2002 with Sincs SC Honda Conversion)</td>
<td>823</td>
<td>Hofmann&#39;s corner weighting Aug 2010. 15L fuel, OZ rims, harness bar, probax motorsport seats, carpets, small sub, gubbins in boot</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/derbyphil" rel="nofollow">derbyphil</a></td>
<td>S2 Elise S (Toyota 134bhp)</td>
<td>840</td>
<td>Cadwell Park 2010, 1/2 tank fuel</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/yod" rel="nofollow">yod</a></td>
<td>S2 Elise 111R Touring (2005)</td>
<td>868</td>
<td>Hofmann&#39;s during corner weighting. 20L fuel, 2x Reverie Mulsanne C seats, harnesses+bar, aircon</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/jpc" rel="nofollow">jpc</a></td>
<td>S2 Elise 111R (Sport Racer)</td>
<td>880</td>
<td>Cadwell Park 2010, 1/2 tank fuel and hardtop fitted</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/username" rel="nofollow">your username here</a></td>
<td>S2 Elise 111R</td>
<td>880</td>
<td>Apr 09, French public weigh bridge, Unknown fuel</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/username" rel="nofollow">your username here</a></td>
<td>S2 Elise 111R</td>
<td>880</td>
<td>Apr 09, French public weigh bridge, Full tank, harness bar</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/uppitysi" rel="nofollow">uppitysi</a></td>
<td>S2 Exige 190</td>
<td>900</td>
<td>Cadwell Park 2010, 1/2 tank fuel</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/FinStien" rel="nofollow">FinStien</a></td>
<td>S2 Exige 190 (Katana S/C fitted)</td>
<td>908</td>
<td>Cadwell Park 2010, 1.5bars fuel on dash</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/username" rel="nofollow">your username here</a></td>
<td>S2 Exige S</td>
<td>920</td>
<td>Apr 09, French public weigh bridge, Half tank, boot full of gubbins</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/Mr+Wiki" rel="nofollow">Mr Wiki</a></td>
<td>Europa S</td>
<td>963</td>
<td>Elise chassis Europa, Lotus performance pack (225bhp)</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/Harleston" rel="nofollow">Harleston</a></td>
<td>S3 Exige S</td>
<td>1160</td>
<td>MY13 Exige V6, Premium Sport Pack, Air-conditioning, Rear Park Sensors, 35l fuel, Public Weigh Bridge<sup id="_ref-1" class="reference"><a href="#_note-1" title="">[1]</a></sup>.</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/Liam" rel="nofollow">Liam</a></td>
<td>Evora</td>
<td>1399</td>
<td>MY10, Tech Pack, Forged Alloy Wheels, 60l fuel (approx. 43kg), Public Weigh Bridge<sup id="_ref-2" class="reference"><a href="#_note-2" title="">[2]</a></sup></td></tr></table></div>

<p>WARNING - <a class="external text" href="http://www.salt.gov.uk/salt_and_your_health.html" rel="nofollow">too much salt is bad for you</a></p>
<h2><span class="mw-headline" id="References">References</span></h2>
<p><a class="external text" href="http://forums.seloc.org/viewthread.php?tid=350886" rel="nofollow">SELOC Forums » SELOC Chat » The weight of an elise myth buster thread</a>
</p><ol class="references">
<li id="_note-1"><b><a href="#_ref-1" title="">&#8593;</a></b> <a class="external text" href="http://forums.seloc.org/viewthread.php?tid=358795" rel="nofollow">SELOC Forums » SELOC Chat » Guess the weight of the V6 Exige S</a></li><li id="_note-2"><b><a href="#_ref-2" title="">&#8593;</a></b> <a class="external text" href="http://forums.seloc.org/viewthread.php?tid=358620" rel="nofollow">SELOC Forums » SELOC Chat » Guess the weight (of the Evora) - with answer</a></li>
</ol>