
<p>This page has been created to keep a record of the mileages that owners had to <a href="http://wiki.seloc.org/a/Change_a_damper_and_spring" title="Change a damper and spring">replace their dampers</a>.</p>

<ul>
<li><a href="http://wiki.seloc.org/a/Examples_of_a_broken_damper" title="Examples of a broken damper">Examples of a broken damper</a></li>
</ul>

<h3><span class="mw-headline" id="Bilstein">Bilstein</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Mileage </th>
<th>Name</th></tr>
<tr>
<td>66,500 </td>
<td>mcmikey</td></tr>
<tr>
<td>64,000 </td>
<td>GP Zarquon</td></tr>
<tr>
<td>62,000 </td>
<td>Stephanie Plum</td></tr>
<tr>
<td>60,000 </td>
<td>Steve69</td></tr>
<tr>
<td>60,000 </td>
<td>MattV (Fronts (11 years))</td></tr>
<tr>
<td>58,000 </td>
<td>slindborg (spring platform corrosion)</td></tr>
<tr>
<td>57,700</td>
<td>paulc</td></tr>
<tr>
<td>57,000</td>
<td>MrCirclips</td></tr>
<tr>
<td>56,544 </td>
<td>VinZ667</td></tr>
<tr>
<td>56,000 </td>
<td>Shiplo</td></tr>
<tr>
<td>54,463 </td>
<td>niki265</td></tr>
<tr>
<td>53,000 </td>
<td>Andrew S</td></tr>
<tr>
<td>52,000 </td>
<td>PTP170</td></tr>
<tr>
<td>51,000 </td>
<td>MJK24</td></tr>
<tr>
<td>50,000 </td>
<td>russcasey (30K with honda engine)</td></tr>
<tr>
<td>49,000 </td>
<td>tomjeffrey</td></tr>
<tr>
<td>43,000 </td>
<td>AndyKay</td></tr>
<tr>
<td>40,000 </td>
<td>Chopperver1</td></tr>
<tr>
<td>39,247 </td>
<td>niki265</td></tr>
<tr>
<td>38,500 </td>
<td>nelsont</td></tr>
<tr>
<td>37,000 </td>
<td>FrancoZ</td></tr>
<tr>
<td>35,000 </td>
<td>Anth (spring platform corrosion) LSS</td></tr>
<tr>
<td>34,463 </td>
<td>niki265</td></tr>
<tr>
<td>32,000 </td>
<td>Andrew S</td></tr>
<tr>
<td>32,000 </td>
<td>unclefester</td></tr>
<tr>
<td>32,000 </td>
<td>Trixster</td></tr>
<tr>
<td>31,000 </td>
<td>windman</td></tr>
<tr>
<td>31,000 </td>
<td>quasar</td></tr>
<tr>
<td>30,000 </td>
<td>LRGS2</td></tr>
<tr>
<td>30,000 </td>
<td>Thrustyjust (spring platform corrosion 5 Yrs)</td></tr>
<tr>
<td>29,316 </td>
<td>MattV</td></tr>
<tr>
<td>26,000 </td>
<td>NathanE</td></tr>
<tr>
<td>25,000 </td>
<td>Chopperver1</td></tr>
<tr>
<td>25,000 </td>
<td>Gary ZBJ (SPC corrosion 7yrs)</td></tr>
<tr>
<td>23,000 </td>
<td>Miro</td></tr>
<tr>
<td>23,000 </td>
<td>simwra</td></tr>
<tr>
<td>23,000 </td>
<td>Greg_S</td></tr>
<tr>
<td>22,000 </td>
<td>grahampaula</td></tr>
<tr>
<td>21,000 </td>
<td>flying banana</td></tr>
<tr>
<td>18,000 </td>
<td>jcross (S2 LSS)</td></tr>
<tr>
<td>18,000 </td>
<td>Lef</td></tr>
<tr>
<td>18,000 </td>
<td>JACK6284</td></tr>
<tr Tommy="">
<td>12,000 </td>
<td>rich74</td></tr>
<tr>
<td>10,000 </td>
<td>davidb (replaced FOC)</td></tr>
<tr>
<td>8,875 </td>
<td>Solar Yellow Elise</td></tr>
<tr>
<td>8,000 </td>
<td>Steve69 (replaced FOC)</td></tr>
<tr>
<td>5,000 </td>
<td>Up-the-Dubs (fitted to S1)</td></tr>
<tr>
<td>&#60;12 months </td>
<td>niki265 (replaced FOC)</td></tr></table></div>

<h3><span class="mw-headline" id="Koni">Koni</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Mileage </th>
<th>Name</th></tr>
<tr>
<td>65,000 </td>
<td>MartinQ</td></tr>
<tr>
<td>22,000 </td>
<td>strees</td></tr>
<tr>
<td>1,000 </td>
<td>elise_s1
}





</td></tr></table></div>