
<p>This guide should be fine for S2 drivers - maybe just Yota engine but as a point this is a guide so it&#39;s not my fault if you blow fuses! ;)</p>

<p>I got my Gauges from Demon Tweaks. A nice STACK Anologue Gauge for Oil Temp (Electrical Sensor) and mechanical Boost gauge for the SC (Barry boy style)</p>
<p>I decided to Install the Gauges into the center air vents. This is because i don&#39;t use them and the 52MM gauges will fit quite nicely leaving an OEM look to them rather than those Aluminium Mounting cages (Your Preference)</p>

<p>First remove the 2 screws (one either side) of the heater/blower controls. Now pull the peice forward, the top is clipped in and it will pop out.</p>
<p>Disconnect the wires at the back of the heater/blower and make sure you don&#39;t mix up the ones that connect to the fan speed control!</p>
<p>Wiring:</p>
<p>I decided to use the Switch 12v and 12V Light connections that form part of the circuit board feed to the heater/blower controls.</p>
<p>These (on my car) are located here:
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Gau1.JPG" title="Click to enlarge"><img src="Gau1.JPG" alt="Click to enlarge" title="Click to enlarge" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click to enlarge</div></div>
</div>



<p>With the Facia removed you can either splice into the loom or as i have done, remove the circuit board (4 Screws) and solder the 3 connections into the board. If you are handy with a solder iron this is easy to do.</p>
<pre>Note the orientation of the board:
</pre>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Gau2.JPG" title="Click to enlarge"><img src="Gau2.JPG" alt="Click to enlarge" title="Click to enlarge" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click to enlarge</div></div>
</div>



<p>I also put Clear silicone over the solder connections to stop any cross connections being made on the aluminium mounting bracket when the board is screwed back into place.</p>
<p>Please note that most silicone sealants release acetic acid which is corrosive to PCBs. Make sure the adhesive/sealant used is suitable e.g. Dow Corning 744, Loctite 444 or hot glue (if you like to make a mess). </p>
<p>Now back in place you can see the 3 new wires poking out:</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Gau3.JPG" title="Click to enlarge"><img src="Gau3.JPG" alt="Click to enlarge" title="Click to enlarge" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click to enlarge</div></div>
</div>


<p>Gauges:</p>
<p>I actually did these first (you can see them in a few pictures)</p>
<p>1:Remoe the air vent from the facia.
2:Remove the &#34;flaps&#34; if you flex the vent these come out easier, Clean and remove the lube/grease and dirt.
3:Using a screwdriver ease the face off the remaining plastic section away from the vent flaps.:o</p>
<p>Your left with 2 peices:</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Gau4.JPG" title="Click to enlarge"><img src="Gau4.JPG" alt="Click to enlarge" title="Click to enlarge" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click to enlarge</div></div>
</div>

 

<p>I used clear silicone to sick the gauge into the vent surround (Some filing was needed of notches inside)</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Gau5.JPG" title="Click to enlarge"><img src="Gau5.JPG" alt="Click to enlarge" title="Click to enlarge" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click to enlarge</div></div>
</div>



<p>Once this is dry (over night) i then stuck the vent face and gauge into the main air vent sleeve. </p>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Gau6.JPG" title="Click to enlarge"><img src="Gau6.JPG" alt="Click to enlarge" title="Click to enlarge" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click to enlarge</div></div>
</div>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Gau7.JPG" title="Click to enlarge"><img src="Gau7.JPG" alt="Click to enlarge" title="Click to enlarge" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click to enlarge</div></div>
</div>




<p>NOTE: The vent sleeve is NOTCHED make sure you have the notches in the correct orientation or when you go to fit the guages back into the facia you won&#39;t be able to push the sleeve in flush (Like i did) :D</p>
<p>Wait for the Silicone to dry (over night)</p>
<p>Connect the wires up according to your instructions to the 12v switched, 12v light and Negative earth. (y)</p>
<p>The only wire left should be the one to the sensor. (or boost pipe)</p>
<p>Remembering the vent sleeve has to fit back into the air vent you need to have enough &#34;slack&#34; on the wires for this. I also put the wires through the holes in the side of the sleeve left from where the vent flaps :o pivoted.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Gau8.JPG" title="Click to enlarge"><img src="Gau8.JPG" alt="Click to enlarge" title="Click to enlarge" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click to enlarge</div></div>
</div>



<p>Not an amazing finish at the back but the front is what matters.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Gau9.JPG" title="Click to enlarge"><img src="Gau9.JPG" alt="Click to enlarge" title="Click to enlarge" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click to enlarge</div></div>
</div>



<p>Hoepfully others find the wire locations useful.</p>
<p>Fan blower (With air con) Connector positions. Starting with the bottom (single) spade connector and working ANTi-Clock wise.</p>
<p>Green grey (bottom connector)</p>
<p>green blue</p>
<p>thin green blue</p>
<p>green</p>
<p>green yellow</p>

<p>

</p>