<h2><span class="mw-headline" id="Toyota_Engine">Toyota Engine</span></h2>

<p>Lotus stick their gear knobs on with Loctite, or something similar, as they are pretty diffucult to get off. Brute force is normally needed, but it does help to know which way to turn it. On my 111R it was very, VERY difficult to turn. Obviously the longer the bar/allen key you use, the more leverage you get, and you need a lot!</p>

<p><b>Required tools:</b>
</p>
<ul>
<li>2.5mm Allen Key</li>
<li>Larger Allen Key / bar to fit in grub hole (for leverage)</li>
<li>Beer</li>
</ul>


<p>1. Using a 2.5mm allen key, remove the grub screw on the front side (the side closest to &#34;R, 1st, 3rd &#38; 5th&#34;).</p>
<p>2. Get prepared for swearing, grunting, anger.</p>
<p>3. Using a larger allen key, or similar size &#39;bar&#39; for extra leverage in the grub screw hold, turn the knob <b>anti-clockwise</b> (as looking from the top).</p>
<p>4. Once removed, reward oneself with beer.</p>
<p>5. Do what you wanted to do with the knob: clean it, polish it, put a new gear gaiter on etc.</p>
<p>6. Replace knob in the opposite fashion to which you removed it.</p>
<h2><span class="mw-headline" id="Rover_Engine">Rover Engine</span></h2>

<p>Enter procedure here.</p>
<p>Elise S1</p>
<p>I used a Softgrip strap wrench (<a class="external free" href="http://www.ccw-tools.com/product.asp?P_ID=23331&#38;gclid=CIqZxOKH0rYCFerHtAodzFwAUw" rel="nofollow">http://www.ccw-tools.com/product.asp?P_ID=23331&#38;gclid=CIqZxOKH0rYCFerHtAodzFwAUw</a>) about £14 but it did not budge.</p>
<p>After rubbing of my head:</p>
<p>1. Cut a piece of wet and dry 600 3 inches width of the sheet.</p>
<p>2. Wrapped that around the knob.</p>
<p>3. Put the wrench tight over the folded wet and dry (sandpaper surface on the knob and rubber of the strap)</p>
<p>4. A good yank and it moved very easily.</p>
<p>5. Off with the knob, slight surface scratches to the knob, no deep marks.</p>
<p>6. On goes the woolen knob warmer for a few hundred miles that will polish them out.</p>


<p>


</p>