<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1"><a href="#S1">S1</a>
</li>
<li class="toclevel-1"><a href="#S2">S2</a>
</li>
<li class="toclevel-1"><a href="#S3">S3</a>
</li>
<li class="toclevel-1"><a href="#Light_Upgrades">Light Upgrades</a>
</li>
</ul></td></tr></table><hr/>
<h1><span class="mw-headline" id="S1">S1</span></h1>
<p>Bulbs as fitted as standard to Series 1 Elises/Exiges.
</p>
<table border="1" cellpadding="3" cellspacing="0">

	
<tr>

		
<td><b>Fitment</b></td>
		
<td><b>Type</b></td>
		
<td><b>Wattage</b></td>
	
</tr>
	
<tr>

		
<td>Headlight (Dipped and Main Beam)</td>
		
<td>H4</td>
		
<td>55W</td>
	
</tr>
	
<tr>

		
<td>Driving Lamps</td>
		
<td>H1</td>
		
<td>55W</td>
	
</tr>
	
<tr>

		
<td>Front Side Light</td>
		
<td>233</td>
		
<td>5W</td>
	
</tr>
	
<tr>

		
<td>Front Indicator</td>
		
<td>P21W</td>
		
<td>21W</td>
	
</tr>
	
<tr>

		
<td>Side Repeater</td>
		
<td>WY5W</td>
		
<td>5W</td>
	
</tr>
	
<tr>

		
<td>Brake/Tail</td>
		
<td>P21/5W (382)</td>
		
<td>5W</td>
	
</tr>
	
<tr>

		
<td>High Mount Brake</td>
		
<td>891</td>
		
<td>11W</td>
	
</tr>
	
<tr>

		
<td>Rear Indicator</td>
		
<td>P21W (382)</td>
		
<td>21W</td>
	
</tr>
	
<tr>

		
<td>Fog/Tail</td>
		
<td>P21W (382)</td>
		
<td>21W</td>
	
</tr>
	
<tr>

		
<td>Reversing</td>
		
<td>R5W</td>
		
<td>5W</td>
	
</tr>
	
<tr>

		
<td>Number Plate</td>
		
<td width="221">(264) 42mm</td>
		
<td>10W</td>
	
</tr>

</table>

<h1><span class="mw-headline" id="S2">S2</span></h1>
<p>Bulbs as fitted as standard to Series 2 Elises/Exiges.
</p>
<table border="1" cellpadding="3" cellspacing="0">

	
<tr>

		
<td><b>Fitment</b></td>
		
<td><b>Type</b></td>
		
<td><b>Wattage</b></td>
	
</tr>
	
<tr>

		
<td>Headlight (Dipped Beam)</td>
		
<td>H1 for pre 2007, H7 for 2007 onwards.</td>
		
<td>55W</td>
	
</tr>
	
<tr>

		
<td>Headlight (Main Beam)</td>
		
<td>H7</td>
		
<td>55W</td>
	
</tr>
	
<tr>

		
<td>Driving Lamps</td>
		
<td>H3</td>
		
<td>55W</td>
	
</tr>
	
<tr>

		
<td>Side Light</td>
		
<td>W5W (501 Capless Wedge)</td>
		
<td>5W</td>
	
</tr>
	
<tr>

		
<td>Front Indicator</td>
		
<td>PY21W Amber (581)</td>
		
<td>21W</td>
	
</tr>
	
<tr>

		
<td>Side Repeater</td>
		
<td>W5W Amber (501 Capless Wedge)</td>
		
<td>5W</td>
	
</tr>
	
<tr>

		
<td>Brake/Tail</td>
		
<td>P21/5W (380)</td>
		
<td>5/21W</td>
	
</tr>
	
<tr>

		
<td>Tail</td>
		
<td>R5W (207)</td>
		
<td>5W</td>
	
</tr>
	
<tr>

		
<td>High Mount Brake</td>
		
<td>16xLED </td>
		
<td>2.5W</td>
	
</tr>
	
<tr>

		
<td>Rear Indicator</td>
		
<td>H21W (R435)</td>
		
<td>21W</td>
	
</tr>
	
<tr>

		
<td>Fog/Tail</td>
		
<td>P21/5W (380)</td>
		
<td>5/21W</td>
	
</tr>
	
<tr>

		
<td>Reversing</td>
		
<td>H21W (R435)</td>
		
<td>21W</td>
	
</tr>
	
<tr>

		
<td>Number Plate</td>
		
<td width="221">C5W (239 Festoon)</td>
		
<td>5W</td>
	
</tr>

</table>

<h1><span class="mw-headline" id="S3">S3</span></h1>
<p>Bulbs fitted as standard to Series 3 (a.k.a. S2.5 or facelift S2) Elises. Other lights are LED units and specified as dealer replacement only items.
</p>
<table border="1" cellpadding="3" cellspacing="0">

	
<tr>

		
<td><b>Fitment</b></td>
		
<td><b>Type</b></td>
		
<td><b>Wattage</b></td>
	
</tr>
	
<tr>

		
<td>Headlight (Dipped Beam)</td>
		
<td>HB3A</td>
		
<td>60W</td>
	
</tr>
	
<tr>

		
<td>Headlight (Main Beam)</td>
		
<td>H9B</td>
		
<td>65W</td>
	
</tr>
	
<tr>

		
<td>Rear Indicator</td>
		
<td>W16W</td>
		
<td>16W</td>
	
</tr>
	
<tr>

		
<td>Reversing</td>
		
<td>W16W</td>
		
<td>16W</td>
	
</tr>
	
<tr>

		
<td>Number Plate</td>
		
<td>C5W (239 Festoon)</td>
		
<td>5W</td>
	
</tr>

</table>

<h1><span class="mw-headline" id="Light_Upgrades">Light Upgrades</span></h1>
<p>The standard headlights on Elises/Exiges are rather rubbish. A number of owners opt to upgrade the bulbs to <a href="http://wiki.seloc.org/a/High_Intensity_Discharge_lamps" title="High Intensity Discharge lamps">High Intensity Discharge lamps</a>.</p>
<p>




</p>