
<p>Brake fluid... Bit of a mystery topic!</p>
<p>To help dispel some myths and for some good solid general info on the mysterious world of brake fluids I decided to contact Millers Oils up in West Yorkshire. </p>
<p>Their Technical Director, Martyn Mann was on hand to give us some useful info… below is Martyn&#39;s article on brake fluids.</p>
<p>There is a degree of confusion regarding the specification of brake fluid and this article sets out to clarify the situation.</p>
<p>The Department of Transportation (DOT) classifies brake fluids to defined specifications. These specifications relate to their boiling points and chemical composition, both of which are important. All currently available brake fluids are covered by one of the following specifications; DOT3, DOT4, DOT5 and DOT5.1.</p>
<p>The laws of thermo-dynamics dictate that the energy from motion is turned into heat through friction. A braking system only works efficiently if the fluid remains incompressible. If the brake fluid boils, it turns to gas, which is compressible and the braking system becomes “spongy” or in extreme cases fails completely.</p>
<p>A brake system is not perfectly sealed and moisture can get into the system and be absorbed by the fluid. The effect is to reduce the boiling point of the fluid, which reduces the efficiency of the braking system, as described above.</p>
<p>The DOT specifies two reference tests for brake fluids.</p>

<ul>
<li>Dry boiling point - the boiling point of fresh fluid</li>
</ul>


<ul>
<li>Wet boiling point –the boiling point once the fluid has absorbed moisture (representing brake fluid after time spent in a real situation).</li>
</ul>

<p>There are two main types of brake fluids:</p>

<ul>
<li>DOT 3, DOT 4, Super DOT4* and DOT 5.1 which are based on poly glycol compounds.</li>
</ul>


<ul>
<li>DOT 5, which are based on Silicone.</li>
</ul>

<p>Note the two types of fluid are not compatible and must not be mixed in a braking system.</p>
<p>SILICONE BRAKE FLUID (DOT 5)</p>
<p>Silicone based DOT 5 was originally introduced to give higher temperature performance over glycol DOT 4. Silicone fluid also has other advantages, it does not damage paintwork and it does not absorb water.</p>
<p>However, silicone fluid is a poor lubricant and does not lubricate ABS pumps as well as PAG fluids. It is also more compressible than PAG fluids, which can result in a sluggish or spongy pedal. It therefore requires special design considerations in braking systems. Further, because it does not absorb water, any water remains as globules, which can pool in low spots in the system and cause corrosion. This water can vaporise when heated under heavy braking giving a disastrous effect on braking efficiency.</p>
<p>DOT5 fluids are not recommended for motor sport applications. </p>
<p>POLY GLYCOL BRAKE FLUIDS (DOT 3, 4 AND 5.1) </p>
<p>Glycol based DOT 4 fluid is the current mainstream brake fluid, and you will see that the specification is considerably better than DOT 3 which it replaces. </p>
<p>DOT 5.1 has higher specification still and is for fast road and occasional track day use. It has a similar spec to DOT4 for the boiling point (&#62;260) but is a lot lower viscosity @-40C typically 900 centistokes (compared to 1500 - 1800 centistokes for DOT 4 and super DOT 4).</p>
<p>Listed in the table below, are the minimum dry/wet boiling point specifications for each DOT level.</p>
<p>BOILING POINT:
DOT 3 - 205°C (dry) / 140°C (wet)
DOT 4 - 230°C (dry) / 155°C (wet)
DOT 5 (silicone) - 260°C (dry) / 185°C (wet)
DOT 5.1 (PAG) - 260°C (dry) / 185°C (wet)
Super Dot4 * - 300°C (dry) / 195°C (wet)
(racing brake fluid) </p>

<ul>
<li>Super DOT4: The main difference between DOT 4 and Super DOT 4 is the dry boiling point. Normal Dot4 is &#62;260C whilst Super DOT 4 is more like &#62;310C</li>
</ul>

<p>With thanks to Martyn Mann - Technical Director Millers Oils.</p>
<p>Cheers</p>
<p>Guy.</p>
<p>Opie Oils</p>




<p>



</p>