
<p>For short roof K Series Lotus Elise S2 fitted with later Bergstrom HVAC systems (without A/C fitted) and 2 radiator fans.</p>

<p>Standard Lotus K4 ECU/ECT logic is for both rad fans come on at low power (run in series) at 103C and off at 98C and switch to high power (run in parallel) at 108C. Bouncing between 98 and 103 leaves a lot of heat to soak after a track session and the coolant really wants to be 85 before shutdown.</p>

<p>The radiator fans are run from the A/C Control Module (Rover YWB100800 Lotus A117M0038F) located on the right front wheel arch liner and accessible through the service panel with the water guard removed.</p>

<p><a class="image" href="http://wiki.seloc.org/a/Image:_S2_Rad_Fan_Relay_control_pins.jpg" ><img src="_S2_Rad_Fan_Relay_control_pins.jpg" width="220" />
</a></p>

<p>NOTE: Since I can’t find a specific wiring diagram those pins are based on the North American 111R manual and observed behaviour, so may contain errors but no nuts.</p>

<p>You may have some relays in the relay box (C and D) listed as radiator fans, but the fans will run without them fitted, only generating some fan relay OBD codes;</p>

<p>P1400 Coolant fan relay 1 short</p>
<p>P1401 Coolant fan relay 1 open</p>
<p>P1402 Coolant fan relay 2 short</p>
<p>P1403 Coolant fan relay 2 open</p>

<p>Rather than hack the loom I made up a harness using male and female 6 way econoseal connectors and tapped wires for earthing the 2-2 and 2-3 relay pins to see what happens.</p>

<p><a class="image" href="http://wiki.seloc.org/a/Image:_S2_Rad_fan_relay_harness.JPG" ><img src="_S2_Rad_fan_relay_harness.JPG" width="220" />
</a></p>

<p>Quick test that everything is working OK is start the engine and pop the ECT sensor connector off – both fans run high. Reset and restart from cold idle;</p>


<div style="page-break-inside: avoid;">
<table align="center" border="1" cellpadding="5">
<tr style="background-color:#fed200; face:bold;">
<td>Earth Pin </td>
<td>Wire </td>
<td>Below 103C </td>
<td>Above 103C </td>
<td>Above 108C </td>
<td>OBD Code</td></tr>
<tr>
<td>(A) 2-2 </td>
<td>Blue/Silver </td>
<td>Fan 1&#38;2 Low </td>
<td>Fan 1&#38;2 Low  </td>
<td>? </td>
<td>none</td></tr>
<tr>
<td>(B) 2-3 </td>
<td>Blue/Yellow </td>
<td>Fan 2 high </td>
<td>Fan 1&#38;2 High </td>
<td>Fan 1&#38;2 High </td>
<td>1402 Coolant fan relay 2 short</td></tr>
<tr>
<td>(C) 2-2 &#38; 2-3 </td>
<td>As above</td>
<td>Fan 1&#38;2 high </td>
<td>Fan 1&#38;2 High </td>
<td>Fan 1&#38;2 High </td>
<td>1400 Coolant fan relay 1 short</td></tr></table></div>


<p>1. The OBD codes are probably the ECU complaining that the fan is running without the ECU actually telling it to. </p>
<p>2. Once you stop earthing the relay(s) normal ECU/ECT fan logic will resume.</p>
<p>3. In all cases the current draw on the earth wire is less than 0.4a as it is only energising the relays (the Lotus loom uses 0.5mm wire).</p>
<p>4. When the relays are earthed <b> the fan(s) will keep running with the ignition off and key out</b> until you disconnect the relay earth, so careful how you use this.</p>

<p>On the basis that I dont want to kill both fans with too much high speed running I have stuck with plan (B) to override fan 2 only and ran a wire from the Blue/Yellow connection to an SPST switch on the dash connected to earth and life is good.</p>



<p>by jumping together pin 60 + 67  (blue silver, blue yellow) </p>
<p>you can have the fan always running at full speed, (102° or AC button on)</p>
<p>this mod doesn&#39;t show (at least on my car) any obd error and the fan will stop as the car is switched of.</p>
<p>i&#39;m using in the end the ac button to control the fan.</p>
<p>



</p>