
<p>This is an easy job and should only take 10 minutes per lamp assuming nuts are not rusted up.</p>
<p>1/ Disconnect the Lamp </p>
<p>2/ Using an 8mm ring spanner undo the bolts on either side of the lamp and remove - be careful not to drop the bolts into the clam</p>
<p>3/ Remove the lamp</p>
<p>4/ Using an 8mm socket on a socket driver (not wrench) undo the two bolts that are facing you - the nuts are integrated into the bracket so there are no nuts to drop</p>
<p>5/ Remove the bracket.</p>
<p>6/ Fit the new lamp to the bracket and do up (not too tight yet as you will want to adjust it later and tilt it down to help you line up the bolts when refitting the bracket)</p>
<p>7/ At this stage I got some tape and secured the bolt into the socket to stop it falling out - line up the hole and insert the bolt through the hole and tighten</p>
<p>8/ Repeat for the other bolt</p>
<p>9/ Reconnect the lamp</p>
<p>10/ Adjust and tighten the 2 bolts on the side of the lamp</p>
<p>11/ Boil Kettle and enjoy a cup of tea!</p>
<p>


</p>