
<p>Lotus gave the range of paint colours available for the MY12 cars a revamp, removing some, introducing others, and adding some exclusive to specific cars.</p>

<div style="page-break-inside: avoid;">
<table border="1">
<tr align="center">
<th>Paint Colour </th>
<th>Range </th>
<th>Paint Code </th>
<th>Swatch </th>
<th>Elise </th>
<th>Exige </th>
<th>Evora</th></tr>
<tr>
<td>Ardent Red</td>
<td>Solid</td>
<td>B94</td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/Image:Swatch_-_Ardent_Red.png" ><img src="Swatch_-_Ardent_Red.png" width="220" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Elise_-_Ardent_Red.png" ><img src="Elise_-_Ardent_Red.png" width="200" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Exige_S_2012_-_Ardent_Red.png" ><img src="Exige_S_2012_-_Ardent_Red.png" width="200" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Evora_MY12_-_Ardent_Red.png" ><img src="Evora_MY12_-_Ardent_Red.png" width="200" />
</a></td></tr>
<tr>
<td>Solar Yellow</td>
<td>Solid</td>
<td />
<td align="center"><a class="image" href="http://wiki.seloc.org/a/Image:Swatch_-_Solar_Yellow.png" ><img src="Swatch_-_Solar_Yellow.png" width="220" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Elise_-_Solar_Yellow.png" ><img src="Elise_-_Solar_Yellow.png" width="200" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Exige_S_2012_-_Solar_Yellow.png" ><img src="Exige_S_2012_-_Solar_Yellow.png" width="200" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Evora_MY12_-_Solar_Yellow.png" ><img src="Evora_MY12_-_Solar_Yellow.png" width="200" />
</a></td></tr>
<tr>
<td>Racing Green</td>
<td>Metallic</td>
<td />
<td align="center"><a class="image" href="http://wiki.seloc.org/a/Image:Swatch_-_Racing_Green.png" ><img src="Swatch_-_Racing_Green.png" width="220" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Elise_-_Racing_Green.png" ><img src="Elise_-_Racing_Green.png" width="200" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Exige_S_2012_-_Racing_Green.png" ><img src="Exige_S_2012_-_Racing_Green.png" width="200" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Evora_MY12_-_Racing_Green.png" ><img src="Evora_MY12_-_Racing_Green.png" width="200" />
</a></td></tr>
<tr>
<td>Sienna Brown</td>
<td>Metallic</td>
<td />
<td align="center"><a class="image" href="http://wiki.seloc.org/a/Image:Swatch_-_Sienna_Brown.png" ><img src="Swatch_-_Sienna_Brown.png" width="220" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Elise_-_Sienna_Brown.png" ><img src="Elise_-_Sienna_Brown.png" width="200" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Exige_S_2012_-_Sienna_Brown.png" ><img src="Exige_S_2012_-_Sienna_Brown.png" width="200" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Evora_MY12_-_Sienna_Brown.png" ><img src="Evora_MY12_-_Sienna_Brown.png" width="200" />
</a></td></tr>
<tr>
<td>Starlight Black</td>
<td>Metallic</td>
<td />
<td align="center"><a class="image" href="http://wiki.seloc.org/a/Image:Swatch_-_Starlight_Black.png" ><img src="Swatch_-_Starlight_Black.png" width="220" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Elise_-_Starlight_black.png" ><img src="Elise_-_Starlight_black.png" width="200" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Exige_S_2012_-_Starlight_Black.png" ><img src="Exige_S_2012_-_Starlight_Black.png" width="200" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Evora_MY12_-_Starlight_Black.png" ><img src="Evora_MY12_-_Starlight_Black.png" width="200" />
</a></td></tr>
<tr>
<td>Arctic Silver</td>
<td>Metallic</td>
<td />
<td align="center"><a class="image" href="http://wiki.seloc.org/a/Image:Swatch_-_Arctic_Silver.png" ><img src="Swatch_-_Arctic_Silver.png" width="220" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Elise_-_Arctic_Silver.png" ><img src="Elise_-_Arctic_Silver.png" width="200" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Exige_S_2012_-_Arctic_Silver.png" ><img src="Exige_S_2012_-_Arctic_Silver.png" width="200" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Evora_MY12_-_Arctic_Silver.png" ><img src="Evora_MY12_-_Arctic_Silver.png" width="200" />
</a></td></tr>
<tr>
<td>Carbon Grey</td>
<td>Metallic</td>
<td />
<td align="center"><a class="image" href="http://wiki.seloc.org/a/Image:Swatch_-_Carbon_Grey.png" ><img src="Swatch_-_Carbon_Grey.png" width="220" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Elise_-_Carbon_Grey.png" ><img src="Elise_-_Carbon_Grey.png" width="200" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Exige_S_2012_-_Carbon_Grey.png" ><img src="Exige_S_2012_-_Carbon_Grey.png" width="200" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Evora_MY12_-_Carbon_Grey.png" ><img src="Evora_MY12_-_Carbon_Grey.png" width="200" />
</a></td></tr>
<tr>
<td>Nightfall Blue</td>
<td>Metallic</td>
<td />
<td align="center"><a class="image" href="http://wiki.seloc.org/a/Image:Swatch_-_Nightfall_Blue.png" ><img src="Swatch_-_Nightfall_Blue.png" width="220" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Elise_-_Nightfall_Blue.png" ><img src="Elise_-_Nightfall_Blue.png" width="200" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Exige_S_2012_-_Nightfall_Blue.png" ><img src="Exige_S_2012_-_Nightfall_Blue.png" width="200" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Evora_MY12_-_Nightfall_Blue.png" ><img src="Evora_MY12_-_Nightfall_Blue.png" width="200" />
</a></td></tr>
<tr>
<td>Velvet Red</td>
<td>Premium</td>
<td />
<td align="center"><a class="image" href="http://wiki.seloc.org/a/Image:Swatch_-_Velvet_Red.png" ><img src="Swatch_-_Velvet_Red.png" width="220" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Elise_-_Velvet_Red.png" ><img src="Elise_-_Velvet_Red.png" width="200" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Exige_S_2012_-_Velvet_Red.png" ><img src="Exige_S_2012_-_Velvet_Red.png" width="200" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Evora_MY12_-_Velvet_Red.png" ><img src="Evora_MY12_-_Velvet_Red.png" width="200" />
</a></td></tr>
<tr>
<td>Aspen White</td>
<td>Premium</td>
<td />
<td align="center"><a class="image" href="http://wiki.seloc.org/a/Image:Swatch_-_Aspen_White.png" ><img src="Swatch_-_Aspen_White.png" width="220" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Elise_-_Aspen_White.png" ><img src="Elise_-_Aspen_White.png" width="200" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Exige_S_2012_-_Aspen_White.png" ><img src="Exige_S_2012_-_Aspen_White.png" width="200" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Evora_MY12_-_Aspen_White.png" ><img src="Evora_MY12_-_Aspen_White.png" width="200" />
</a></td></tr>
<tr>
<td>Laser Blue</td>
<td>Premium</td>
<td>B120</td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/Image:Swatch_-_Laser_Blue.png" ><img src="Swatch_-_Laser_Blue.png" width="220" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Elise_-_Laser_Blue.png" ><img src="Elise_-_Laser_Blue.png" width="200" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Exige_S_2012_-_Laser_Blue.png" ><img src="Exige_S_2012_-_Laser_Blue.png" width="200" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Evora_MY12_-_Laser_Blue.png" ><img src="Evora_MY12_-_Laser_Blue.png" width="200" />
</a></td></tr>
<tr>
<td>Chrome Orange</td>
<td />
<td />
<td align="center"><a class="image" href="http://wiki.seloc.org/a/Image:Swatch_-_Chrome_Orange.png" ><img src="Swatch_-_Chrome_Orange.png" width="220" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Elise_-_Chrome_Orange.png" ><img src="Elise_-_Chrome_Orange.png" width="200" />
</a></td>
<td align="center">N/A</td>
<td align="center">N/A</td></tr>
<tr>
<td>Storm Titanium</td>
<td />
<td />
<td align="center"><a class="image" href="http://wiki.seloc.org/a/Image:Swatch_-_Storm_Titanium.png" ><img src="Swatch_-_Storm_Titanium.png" width="220" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Elise_-_Storm_Titanium.png" ><img src="Elise_-_Storm_Titanium.png" width="200" />
</a></td>
<td align="center">N/A</td>
<td align="center">N/A</td></tr>
<tr>
<td>Zest Yellow</td>
<td />
<td />
<td align="center"><a class="image" href="http://wiki.seloc.org/a/Image:Swatch_-_Zest_Yellow.png" ><img src="Swatch_-_Zest_Yellow.png" width="220" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Elise_-_Zest_Yellow.png" ><img src="Elise_-_Zest_Yellow.png" width="200" />
</a></td>
<td align="center">N/A</td>
<td align="center">N/A</td></tr>
<tr>
<td>Pearl White</td>
<td>Premium</td>
<td />
<td align="center"><a class="image" href="http://wiki.seloc.org/a/Image:Swatch_-_Pearl_White.png" ><img src="Swatch_-_Pearl_White.png" width="220" />
</a></td>
<td align="center">N/A</td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Exige_S_2012_-_Pearl_White.png" ><img src="Exige_S_2012_-_Pearl_White.png" width="200" />
</a></td>
<td align="center">N/A</td></tr>
<tr>
<td>Military Grey</td>
<td>Premium</td>
<td />
<td align="center"><a class="image" href="http://wiki.seloc.org/a/Image:Swatch_-_Military_Grey.png" ><img src="Swatch_-_Military_Grey.png" width="220" />
</a></td>
<td align="center">N/A</td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Exige_S_2012_-_Military_Grey.png" ><img src="Exige_S_2012_-_Military_Grey.png" width="200" />
</a></td>
<td align="center">N/A</td></tr>
<tr>
<td>Poison Green</td>
<td>Premium</td>
<td />
<td align="center"><a class="image" href="http://wiki.seloc.org/a/Image:Swatch_-_Poison_Green.png" ><img src="Swatch_-_Poison_Green.png" width="220" />
</a></td>
<td align="center">N/A</td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Exige_S_2012_-_Poison_Green.png" ><img src="Exige_S_2012_-_Poison_Green.png" width="200" />
</a></td>
<td align="center">N/A</td></tr>
<tr>
<td>Amethyst Grey</td>
<td />
<td />
<td align="center"><a class="image" href="http://wiki.seloc.org/a/Image:Swatch_-_Amethyst_Grey.png" ><img src="Swatch_-_Amethyst_Grey.png" width="220" />
</a></td>
<td align="center">N/A</td>
<td align="center">N/A</td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Evora_MY12_-_Amethyst_Grey.png" ><img src="Evora_MY12_-_Amethyst_Grey.png" width="200" />
</a></td></tr>
<tr>
<td>Frost Blue</td>
<td />
<td />
<td align="center"><a class="image" href="http://wiki.seloc.org/a/Image:Swatch_-_Frost_Blue.png" ><img src="Swatch_-_Frost_Blue.png" width="220" />
</a></td>
<td align="center">N/A</td>
<td align="center">N/A</td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Evora_MY12_-_Frost_Blue.png" ><img src="Evora_MY12_-_Frost_Blue.png" width="200" />
</a></td></tr>
<tr>
<td>Autumn Bronze</td>
<td />
<td />
<td align="center"><a class="image" href="http://wiki.seloc.org/a/Image:Swatch_-_Autumn_Bronze.png" ><img src="Swatch_-_Autumn_Bronze.png" width="220" />
</a></td>
<td align="center">N/A</td>
<td align="center">N/A</td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Evora_MY12_-_Autumn_Bronze.png" ><img src="Evora_MY12_-_Autumn_Bronze.png" width="200" />
</a></td></tr>
<tr>
<td>Motorsport Black</td>
<td>Motorsport</td>
<td />
<td align="center"><a class="image" href="http://wiki.seloc.org/a/Image:Swatch_-_Motorsport_Black.png" ><img src="Swatch_-_Motorsport_Black.png" width="220" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Elise_-_Motorsport_Black.png" ><img src="Elise_-_Motorsport_Black.png" width="200" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Exige_S_2012_-_Motorsport_Black.png" ><img src="Exige_S_2012_-_Motorsport_Black.png" width="200" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Evora_MY12_-_Motorsport_Black.png" ><img src="Evora_MY12_-_Motorsport_Black.png" width="200" />
</a></td></tr>
<tr>
<td>Motorsport Green</td>
<td>Motorsport</td>
<td>B75</td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/Image:Swatch_-_Motorsport_Green.png" ><img src="Swatch_-_Motorsport_Green.png" width="220" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Elise_-_Motorsport_Green.png" ><img src="Elise_-_Motorsport_Green.png" width="200" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Exige_S_2012_-_Motorsport_Green.png" ><img src="Exige_S_2012_-_Motorsport_Green.png" width="200" />
</a></td>
<td align="center"><a class="image" href="http://wiki.seloc.org/a/image:Evora_MY12_-_Motorsport_Green.png" ><img src="Evora_MY12_-_Motorsport_Green.png" width="200" />
</a></td></tr>
<tr>
<td>Saffron Yellow</td>
<td />
<td />
<td align="center"><a class="image" href="http://wiki.seloc.org/a/Image:Swatch_-_Saffron_Yellow.png" ><img src="Swatch_-_Saffron_Yellow.png" width="220" />
</a></td>
<td align="center"><b>Elise CR Only</b><br /><a class="image" href="http://wiki.seloc.org/a/image:Elise_CR_-_Saffron_Yellow.png" ><img src="Elise_CR_-_Saffron_Yellow.png" width="200" />
</a></td>
<td align="center">N/A</td>
<td align="center">N/A</td></tr>
<tr>
<td>Sky Blue</td>
<td />
<td />
<td align="center"><a class="image" href="http://wiki.seloc.org/a/Image:Swatch_-_Sky_Blue.png" ><img src="Swatch_-_Sky_Blue.png" width="220" />
</a></td>
<td align="center"><b>Elise CR Only</b><br /><a class="image" href="http://wiki.seloc.org/a/image:Elise_CR_-_Sky_Blue.png" ><img src="Elise_CR_-_Sky_Blue.png" width="200" />
</a></td>
<td align="center">N/A</td>
<td align="center">N/A</td></tr>
<tr>
<td>Matte Black</td>
<td />
<td />
<td align="center"><a class="image" href="http://wiki.seloc.org/a/Image:Swatch_-_Matte_Black.png" ><img src="Swatch_-_Matte_Black.png" width="220" />
</a></td>
<td align="center"><b>Elise CR Only</b><br /><a class="image" href="http://wiki.seloc.org/a/image:Elise_CR_-_Matte_Black.png" ><img src="Elise_CR_-_Matte_Black.png" width="200" />
</a></td>
<td align="center">N/A</td>
<td align="center">N/A</td></tr>
<tr>
<td>Matte Red</td>
<td />
<td />
<td align="center"><a class="image" href="http://wiki.seloc.org/a/Image:Swatch_-_Matte_Red.png" ><img src="Swatch_-_Matte_Red.png" width="220" />
</a></td>
<td align="center"><b>Elise CR Only</b><br /><a class="image" href="http://wiki.seloc.org/a/image:Elise_CR_-_Matte_Red.png" ><img src="Elise_CR_-_Matte_Red.png" width="200" />
</a></td>
<td align="center">N/A</td>
<td align="center">N/A</td></tr>
<tr>
<td>Matte White</td>
<td />
<td />
<td align="center"><a class="image" href="http://wiki.seloc.org/a/Image:Swatch_-_Matte_White.png" ><img src="Swatch_-_Matte_White.png" width="220" />
</a></td>
<td align="center"><b>Elise CR Only</b><br /><a class="image" href="http://wiki.seloc.org/a/image:Elise_CR_-_Matte_White.png" ><img src="Elise_CR_-_Matte_White.png" width="200" />
</a></td>
<td align="center">N/A</td>
<td align="center">N/A</td></tr></table></div>

<p>




</p>