<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1"><a href="#Issue">Issue</a>
</li>
<li class="toclevel-1"><a href="#Mat_Removal">Mat Removal</a>
</li>
<li class="toclevel-1"><a href="#Cleaning">Cleaning</a>
</li>
<li class="toclevel-1"><a href="#Treatments">Treatments</a>
<ul>
<li class="toclevel-2"><a href="#Corrosion_Prevention">Corrosion Prevention</a>
</li>
<li class="toclevel-2"><a href="#Fill_and_Paint">Fill and Paint</a>
<ul>
<li class="toclevel-3"><a href="#Filling">Filling</a>
</li>
<li class="toclevel-3"><a href="#Painting">Painting</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Secondary_Floor_Panels">Secondary Floor Panels</a>
<ul>
<li class="toclevel-3"><a href="#Official_Lotus_fitting_guide">Official Lotus fitting guide</a>
</li>
</ul>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Links">Links</a>
</li>
</ul></td></tr></table><hr/>
<h1><span class="mw-headline" id="Issue">Issue</span></h1>

<p>Footwell corrosion is an issue which can affect S1 and early S2 Elises fitted with the bonded down rubber floor mats.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Elise_Rubber_Floor_Mats.jpg" title="Rubber floor mat fitted on the drivers side of an S1 Elise, note the footwell centre divider has been removed for ease of access."><img src="Elise_Rubber_Floor_Mats.jpg" alt="Rubber floor mat fitted on the drivers side of an S1 Elise, note the footwell centre divider has been removed for ease of access." title="Rubber floor mat fitted on the drivers side of an S1 Elise, note the footwell centre divider has been removed for ease of access." class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Rubber floor mat fitted on the drivers side of an S1 Elise, note the footwell centre divider has been removed for ease of access.</div></div>
</div>

<p>The non-breathable rubber floor mats can cause moisture and salts to become trapped against the floor which can then react with and corrode the aluminium floor.</p>
<p>The severity of this reaction can vary, from minor cosmetic marking of the floor to pitting, or at worse corroding through the floor panel.</p>
<p>Although this may sound bad, and while the floor panel is bonded in as part of the aluminium chassis around which the Elise is based, the floor panel itself is not a load bearing panel and even heavy corrosion can be repaired without necessitating a replacement chassis.</p>
<p>If your car is fitted with the rubber footwell mats it is strongly recommended to remove them immediately so that the floor condition can be assessed.</p>
<h1><span class="mw-headline" id="Mat_Removal">Mat Removal</span></h1>

<p>Remove the original floor mats which are stuck down with double sided tape around the edges. </p>
<p>If possible find a loose edge and use this to pull the floor mat up, or use a Stanley knife to cut the mat in the centre - although if doing this be careful not to score the floor underneath. Do not try and lever the mat up against the kick plate at the front edge as a screwdriver or similar will mark the soft aluminium of the kick plate.</p>
<p>You can then see the extent of the corrosion, the white powder is where its starting to get bad &#38; the black parts are were the anodizing has just been eaten away. There will probably be a few lumps where the worst corrosion is because it tends to pile up like a mole hill.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:M111_-_Footwell_Treatment_-_Step_1.jpg" ><img src="M111_-_Footwell_Treatment_-_Step_1.jpg" class="location-center type-thumb" width="400" />
</a></div>
</div>

<h1><span class="mw-headline" id="Cleaning">Cleaning</span></h1>

<p>Give it a good clean up with a stiff brush and vacuum up the dust.</p>
<p>Next I used some alloy wheel cleaner which is basically detergent / acid mix &#38; a stiff brush to scrub off as much of the of the remaining oxidized ally as possible, this does take quite a bit of time &#38; effort to do, you will start to see how badly the corrosion has set in. Also I would advise working in a very well ventilated place or wearing a mask because the acid fumes can get a bit strong!</p>
<p>When I had got as much off as I could I then washed it all out with plenty of clean water to remove any traces of the acid, if this is left it will start to corrode the panel &#38; any splashes on other parts of the chassis will leave a dull stain.</p>
<p>To remove all the corrosion from the pitting I used my Dremel with a stainless steel wire brush, this is also quite time consuming but has to be done very thoroughly to remove all the active corrosion.</p>
<p>You can see how bad it is once its all been cleaned away. What looks like a small spec of dust could be a deep hole once its cleaned up.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:M111_-_Footwell_Treatment_-_Step_2.jpg" ><img src="M111_-_Footwell_Treatment_-_Step_2.jpg" class="location-center type-thumb" width="400" />
</a></div>
</div>

<h1><span class="mw-headline" id="Treatments">Treatments</span></h1>

<p>After cleaning the floor and removing any corrosion there are several options for how to treat the problem, depending on the severity of the corrosion and intended use of the car.</p>
<h2><span class="mw-headline" id="Corrosion_Prevention">Corrosion Prevention</span></h2>

<p>If corrosion is minimal then apply a coating of <a class="external text" href="http://elise-shop.com/acf50-anti-corrosion-chassis-protection-p-502120.html" rel="nofollow">ACF50</a> to inhibit corrosion and fit breathable fabric floor mats. Be sure to lift the floor mats regularly to clean and wipe up any moisture and reapply the ACF50 every 12 to 18 months.</p>
<p>This approach is not always the best from an aesthetics stance and requires on going maintenance, but is the easiest to carry out.</p>
<h2><span class="mw-headline" id="Fill_and_Paint">Fill and Paint</span></h2>

<p>Useful if the floor has suffered minor corrosion with minimal pitting and you want to have the floor visible. This gives a cleaner, near factory finish for a reasonable cost and a few hours work.</p>
<h3><span class="mw-headline" id="Filling">Filling</span></h3>

<p>Remove the remains of the double sided tape from around the edge of the floor. I used a hot air gun, glue remover (solvent) and a razor blade scraper.</p>
<p>I made sure the floor pan was completely dry by leaving a small heater under the floor pan, this is important because you don&#39;t want to trap any moisture.</p>
<p>The pitting was then filled with some chemical metal which is just an epoxy type glue available from most DIY shops. I did this by scraping it in with a Stanley knife blade to leave a nice level finish. There was only 2 very small holes so I stuck some tape to the underside which stopped the glue from going all the way through, it can hardly be seen from the underneath.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:M111_-_Footwell_Treatment_-_Step_3.jpg" ><img src="M111_-_Footwell_Treatment_-_Step_3.jpg" class="location-center type-thumb" width="400" />
</a></div>
</div>

<h3><span class="mw-headline" id="Painting">Painting</span></h3>

<p>To paint fully prepare and paint the floor you may want to pick up a <a class="external text" href="http://www.frost.co.uk/silver-por15-por-starter-kit.html" rel="nofollow">POR15 Starter Kit</a>, which contains appropriate marine cleaner, metal ready primer, and POR15 paint.</p>
<p>The floor needs a good clean with a solvent panel wipe to remove any dirt or oils that would react with the paint, you could probably use brake cleaner for this.</p>
<p>Most paints wont stick to aluminium very well so use the metal ready or a special primer is required. This is called an etch primer and contains acid to help it key into the surface. Some primers are a 2 part paint so needed to be mixed with an activator.</p>
<p>I applied 2 coats of primer with about half an hour gap between using a small foam roller to get a nice even &#38; smooth finish. I would not recommend using aerosols because the over spay would go everywhere.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:M111_-_Footwell_Treatment_-_Step_4.jpg" ><img src="M111_-_Footwell_Treatment_-_Step_4.jpg" class="location-center type-thumb" width="400" />
</a></div>
</div>

<p>After being left to dry the prime needed to be lightly sanded with a fine Scotch Pad or Wet &#38; Dry, then cleaned well with some panel wipe to remove any dust or dirt. If you were really fussy &#38; wanted a perfect finish more coats of primer could have been put on giving a thicker coating which would allow the primer to be wet sanded to a perfect smooth surface for the paint. The final paint finish depends on the preparation.</p>
<p>The silver paint was then mixed up with a small amount of thinners and applied in the same way as the primer.</p>
<p>I gave it 3 coats this time and it seems to have covered well. Because of the cold weather I left a small heater under the car to help the paint dry.</p>
<p>If the time and effort is put in a perfect finish like the outside of a car can be achieved if that&#39;s what your after.</p>
<p>The main thing is the corrosion has been stopped so I shouldn&#39;t have any more problems with it.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:M111_-_Footwell_Treatment_-_Step_5.jpg" ><img src="M111_-_Footwell_Treatment_-_Step_5.jpg" class="location-center type-thumb" width="400" />
</a></div>
</div>

<h2><span class="mw-headline" id="Secondary_Floor_Panels">Secondary Floor Panels</span></h2>

<p>The secondary floor panel set was developed by Lotus as part of the recall for the footwell corrosion and used to cover up the floor in severe cases.</p>
<p>This method is particularly useful if holes have developed in the original floor.</p>
<h3><span class="mw-headline" id="Official_Lotus_fitting_guide">Official Lotus fitting guide</span></h3>

<p>Parts Required (as necessary)<br />
Part Number &#38; Qty:<br />
Secondary Floor Panel Set A117A0235S, 1<br />
Betaclean 3900 Degreaser A100B6008V, 1 litre<br />
Betaprime 1707 A+B A111B6374V, 2 x 160ml<br />
Betaprime 5404 Primer A082B6337V, 1 x 250 ml<br />
Felt Applicator, Betaprime A000Z9088F, 4<br />
Betamate 2800 Adhesive B111B6159V, 2 x 80ml<br />
Mixer Nozzle, Betaseal adhesive A000Z9114F, 2<br />
Silastic RTV732, secondary floor panel A036E6027V, 1 x 310ml<br />
Carpet Set, RHD, black A117V0733S, 1<br />
Carpet Set, LHD, black A117V0734S, 1<br />
Carpet Fixing Stud, lower A117U6009F, 4<br />
Carpet Fixing Stud, upper A117U6008F, 4<br />
Velcro Strip, hook, self adhesive A111V6020V, 0.5m<br /></p>
<p>Tool Required: Applicator Gun, floor adhesive A117T0010S*, 1<br />
(*This tool will be mandatorily issued to all dealers and need not be ordered)</p>
<p><b>1.</b> Remove the footwell divider panel and (if fitted) carpet retainer studs. Release all loose oxide from the footwell floors using a stiff nylon brush. Clean all loose material and debris using a vacuum cleaner. If any perforations are found, drill or file the holes to ensure that all corroded material is removed from the perforation site. Remove any burrs or sharp edges.<br /><br /></p>
<p><b>2.</b> Dry fit the secondary floor panels, noting that the driver&#39;s side panel needs to be flexed to clear the gearchange mechanism. Trim panel edges if necessary to allow satisfactory fit. Note that any cut edges should be cleaned and primed during steps (3) and (4).<br /><br /></p>
<p><b>3.</b> Degrease the footwell floors and underside of the secondary panels using Betaclean 3900.<br /><br /></p>
<p><b>4.</b> Mix the two parts of the Betaprime 1707, and paint the whole of the footwell top surfaces and underside of the two secondary floor panels, using the felt applicator. Allow 30 minutes drying time.<br /><br /></p>
<p><b>5.</b> Using Betaprime 5404, paint over the Betaprime 1707 on the footwell top surfaces and underside of the two secondary floor panels. Allow 15 minutes drying time. Then, for best results, continue immediately with step 6.<br /><br /></p>
<p><b>6.</b> Cut the adhesive mixer nozzle to provide a 5 - 6mm aperture, fit onto the Betaseal 2800 twin pack cartridge, and insert into the applicator gun. Extrude sufficient adhesive onto a paper towel to acheive a consistently coloured black bead.<br /><br /></p>
<p><b>7.</b> Addressing a single footwell floor, apply adhesive directly to any floor perforations to fully seal each hole. Then carefully apply a bead of adhesive around the periphery of the footwell floor, leaving a gap of about 10mm to the edge. Apply a further bead of adhesive in a zig-zag pattern as shown in the drawing overleaf. Note that the adhesive has only an 8 minute &#39;open&#39; time before the secondary floor panel must be fitted.<br /><br /></p>
<p><b>8.</b> Place the secondary floor panel into the footwell and apply even pressure to spread the adhesive. Ensure the panel is level and correctly aligned before applying sand bag weighting at front and rear for a minimum period of one hour. Check the underside of the footwell to ensure that adhesive is extruded through any perforations and smooth the material across the hole. Wipe off any excess. Clean any excess adhesive from interior alloy surfaces using Betaclean 3900.<br /><br /></p>
<p><b>9.</b> Fit a new mixer nozzle before repeating steps (5) to (8) for the second footwell.<br /><br /></p>
<p><b>10.</b> After a minimum period of 1 hour, apply a fillet of Silastic RTV 732 (A036E6027V) around the edge of each secondary floor panel ensuring that the joint is completely sealed. Smooth the sealant with a spatula for a neat finish.<br /><br /></p>
<p><b>11.</b> When the Silastic is cured (allow 1 hour), refit footwell divider panel and passenger footrest.<br /><br /></p>
<p><b>12.</b> Position the carpet studs using the new carpet as a template, and stick to the floor using a suitable locally sourced proprietary adhesive (e.g. Sikaflex). Stick half the length of Velcro strip to the front of each footwell approx. 20mm from the front edge, or from the passenger footrest.<br /><br /></p>
<p><b>13.</b> Fit a pair of new &#39;breathable&#39; footwell carpets using two fixing studs for each carpet. If applicable, trim the passenger carpet to suit the type of footrest fitted. If the customer wishes to fit any additional floor covering on top of the new breathable carpet, ensure this is properly restrained using either the carpet studs, or some other secure device.<br /><br /></p>
<p><b>14.</b> Ensure that the customer is made aware that the footwell carpets should be lifted periodically and the floor cleaned and wiped dry.</p>
<h1><span class="mw-headline" id="Links">Links</span></h1>

<p><a class="external free" href="http://forums.seloc.org/p/3004015" rel="nofollow">http://forums.seloc.org/p/3004015</a><br />
<a class="external free" href="http://forums.seloc.org/viewthread.php?tid=318085" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=318085</a><br />
<a class="external free" href="http://hazelnet.org/corrosion/index.htm" rel="nofollow">http://hazelnet.org/corrosion/index.htm</a></p>
<p>


</p>