
<div style="page-break-inside: avoid;">
<table align="right" cellpadding="2" cellspacing="0" class="infobox" font="3" rules="rows" style="font-size:85%; width:25em; border-collapse:collapse; border:1px solid black;">
<tr style="background:LightBlue;">
<td align="center" colspan="2" style="font-size: larger;"><b>Time &#38; Tools</b></td></tr>
<tr>
<th>Time:</th>
<td>2 hours</td></tr>
<tr>
<th>Tools:</th>
<td>Dremmel with cutting disks and sanding fitting, some card, a good blade and some decent fabric scissors, Tape measure, Pencil, Baby Wipes, Hoover, Eye Protection, 1 set of new Grommets</td></tr></table></div> Harness Grommets can be fitted to the standard S1 and S2 Elise seats to allow harnesses to be fitted while reducing the risk of the shoulder straps sliding off the drivers shoulders in the event of an accident.

<p>Before starting it is worth mentioning that there is a lot of discussion on the various forums about the safety aspects of 4 point harnesses, in particular with reference to the size of the driver and the route from the harness mounting to the shoulder via the seat back.</p>
<p>I would recommend anyone considering harnesses and grommets to search the forums and read up for a fully informed opinion. This solution works best for shorter drivers, and is better than the solution of passing the harnesses over the seats. And the fixings line up perfect. The ideal solution however is to fit seats which feature integrated harness holes in the original design.</p>
<h2><span class="mw-headline" id="Fitting_Harness_Grommets">Fitting Harness Grommets</span></h2>

<p>Measure the width of your harness fixings so you can get the position of your grommets right.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Fitting_Harness_Grommets_-_Image_1.jpg" ><img src="Fitting_Harness_Grommets_-_Image_1.jpg" class="location-center type-thumb" width="400" />
</a></div>
</div>

<p>Cut the card into the shape of the grommet. this allows you to use the card as a stencil and as a guide when you are cutting the seat and testing the size of the hole.﻿</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Fitting_Harness_Grommets_-_Image_2.jpg" ><img src="Fitting_Harness_Grommets_-_Image_2.jpg" class="location-center type-thumb" width="400" />
</a></div>
</div>

<p>Measure up the seat to match the width of the harness mounts to get the grommets in the right places. Stick the card template onto the seat in the place of best fit. Note on my s2 seat there is not much room anyway - the grommets have to be a bit more angled than I would like but the belts slot fine.﻿</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Fitting_Harness_Grommets_-_Image_3.jpg" ><img src="Fitting_Harness_Grommets_-_Image_3.jpg" class="location-center type-thumb" width="400" />
</a></div>
</div>

<p>Use the pencil to draw around the stemcil so you have a guide for the Dremmel.﻿</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Fitting_Harness_Grommets_-_Image_4.jpg" ><img src="Fitting_Harness_Grommets_-_Image_4.jpg" class="location-center type-thumb" width="400" />
</a></div>
</div>

<p>Time to start hacking up your chair - gulp.
Don your eye protection. Use the cutting disk to cut out the section. Cut well within the lines as the sanding tool can be made to expand the hole and goes through the fibreglass like a hot knife﻿ through butter.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Fitting_Harness_Grommets_-_Image_5.jpg" ><img src="Fitting_Harness_Grommets_-_Image_5.jpg" class="location-center type-thumb" width="400" />
</a></div>
</div>

<p>Get a screwdriver in the slot and prise out the section. Note that the foam of the seat will be stuck to the section at this point so take it easy. Once the section is out use the mini barrel shaped sanding fixing (I love this thing) to extend the hole to the size of the grommit. Use the card template to check and double check and expand the hole nice and slow. Note at this point the leather is undamaged.</p>
<p>Remember that one side of the grommet has a larger circumfrence than the other. This makes each side slightly different. On one side the wide bit comes through from the front, the other from the back.﻿</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Fitting_Harness_Grommets_-_Image_6.jpg" ><img src="Fitting_Harness_Grommets_-_Image_6.jpg" class="location-center type-thumb" width="400" />
</a></div>
</div>

<p>Once the grommet is a tight fit into the hole it is time to cut the leather........
Cut the leather from the front right in the centre of the hole. Then using fabric scissors cut four snips, one out to each corner, so you get four triangular flaps against each side that will push through the hole. Take this bit real slow.
Trim a bit off each triangle to make the job a bit easier.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Fitting_Harness_Grommets_-_Image_7.jpg" ><img src="Fitting_Harness_Grommets_-_Image_7.jpg" class="location-center type-thumb" width="400" />
</a></div>
</div>

<p>Push the grommet through from the front - driving the leather through with it - take it nice and slow and extend the cuts to the leather to get this bit right.
Once through push the other grommet in from behind, making sure they cleanly click together. You might need to get your fingers in from behind and remove a bit of padding from inside the seat to let the grommtes get flush.</p>
<p>Note the contours of the back of the seat can hinder the grommets from pushing together. I used my lovely dremmel to remove some thickness from some sections around the hole to get a better fit.</p>
<p>Now stop what you are doing and hoover all the dust up, and give the grommets and the seats a good clean.
Then finally fit the grommets.</p>
<p>Go for a coffee and then fit the other side. Remember all that measuring to begin with is important - mine are just about straight!</p>

<div style="page-break-inside: avoid;">
<table class="wikitable" style="margin: 1em auto 1em auto;">
<tr>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Fitting_Harness_Grommets_-_Image_8.jpg" ><img src="Fitting_Harness_Grommets_-_Image_8.jpg" class="location-center type-thumb" width="300" />
</a></div>
</div>
 </td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Fitting_Harness_Grommets_-_Image_9.jpg" ><img src="Fitting_Harness_Grommets_-_Image_9.jpg" class="location-center type-thumb" width="300" />
</a></div>
</div>
</td></tr></table></div>

<h2><span class="mw-headline" id="References">References</span></h2>

<p>Guide originally written by Romtootes<br />
Webpage: <a class="external free" href="http://tootes.blogspot.com/2012/02/fitting-harness-grommets.html" rel="nofollow">http://tootes.blogspot.com/2012/02/fitting-harness-grommets.html</a><br />
Forum thread: <a class="external free" href="http://forums.seloc.org/viewthread.php?tid=330329" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=330329</a></p>
<p>



</p>