<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#1.29_Short_description_of_the_long_roof_top">1) Short description of the long roof top</a>
<ul>
<li class="toclevel-2"><a href="#1.1.29_Similarities">1.1) Similarities</a>
</li>
<li class="toclevel-2"><a href="#1.2.29_Differences">1.2) Differences</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#2.29_What_we_are_going_to_do">2) What we are going to do</a>
</li>
<li class="toclevel-1"><a href="#3.29_Needed_stuffs">3) Needed stuffs</a>
</li>
<li class="toclevel-1"><a href="#4.29_Let.E2.80.99s_go_.21">4) Let’s go !</a>
<ul>
<li class="toclevel-2"><a href="#Step_1_:_Changing_the_front_cable">Step 1 : Changing the front cable</a>
</li>
<li class="toclevel-2"><a href="#Step_2_:_Unmount_the_rear_cable">Step 2 : Unmount the rear cable</a>
</li>
<li class="toclevel-2"><a href="#Step_3_:_Remove_one_of_the_old_fastening_plate">Step 3 : Remove one of the old fastening plate</a>
</li>
<li class="toclevel-2"><a href="#Step_4_:_Prepare_the_pop_rivet_for_setting">Step 4 : Prepare the pop rivet for setting</a>
</li>
<li class="toclevel-2"><a href="#Step_5_:_Setting_the_plate">Step 5 : Setting the plate</a>
</li>
<li class="toclevel-2"><a href="#Step_6_:_Still_recycling">Step 6 : Still recycling</a>
</li>
<li class="toclevel-2"><a href="#Step_7_:_Let.E2.80.99s_decapitate_.21">Step 7 : Let’s decapitate !</a>
</li>
<li class="toclevel-2"><a href="#Step_8_:_Making_the_new_rear_cable">Step 8 : Making the new rear cable</a>
</li>
<li class="toclevel-2"><a href="#Step_9_:_Final_assembly">Step 9 : Final assembly</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#What_you_get_in_the_end">What you get in the end</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="1.29_Short_description_of_the_long_roof_top">1) Short description of the long roof top</span></h2>

<p>There are 2 cables in the soft top : front and rear.
<a class="image" href="http://wiki.seloc.org/a/File:pic01.jpg" ><img src="pic01.jpg" class="location-right" width="500" />
</a>
<a class="image" href="http://wiki.seloc.org/a/File:pic02.jpg" ><img src="pic02.jpg" class="location-right" width="400" />
</a>
Both cables are quite the same but the few differences aren’t negligible.
</p><h3><span class="mw-headline" id="1.1.29_Similarities">1.1) Similarities</span></h3>
<p>Each cable have the same technology :
</p>
<ul>
<li>a fastening plate where the cable is set (left side)</li>
<li>a cable (awesome, isn’t it ?)</li>
<li>an hollow nut. And inside the nut we can notice the other setting of the cable</li>
<li>a fastening plate with a threaded part</li>
</ul>
<h3><span class="mw-headline" id="1.2.29_Differences">1.2) Differences</span></h3>

<ul>
<li>The rear cable is a few centimers longer than the front cable.</li>
<li>The rear cable is the only one with a cover.</li>
<li>The fastening plates of the front cable are srewed in the roof trim panels. So it’s easy to change.</li>
<li>The fastening plates of the rear cable are set in plastic parts. And that’s why it’s not easy to change. ^_^</li>
</ul>

<h2><span class="mw-headline" id="2.29_What_we_are_going_to_do">2) What we are going to do</span></h2>
<p>Trying to fix the rear brocken cable and finnally getting both new cable !</p>
<div class="thumb tright">
<div class="thumbinner" style="width:602px;"><a class="internal" href="http://wiki.seloc.org/a/File:pic03.jpg" title="At the start : used front cable, brocken rear cable"><img src="pic03.jpg" alt="At the start : used front cable, brocken rear cable" title="At the start : used front cable, brocken rear cable" class="type-thumb" width="600" />
</a>
<div class="thumbcaption"><i>At the start :</i> used front cable, brocken rear cable</div></div>
</div>

<h2><span class="mw-headline" id="3.29_Needed_stuffs">3) Needed stuffs</span></h2>
<p><a class="image" href="http://wiki.seloc.org/a/File:pic04.jpg" ><img src="pic04.jpg" class="location-right" width="300" />
</a>
External things :
</p>
<ul>
<li>a bowden bicycle braking cable with :
<ul>
<li>an inner cable</li>
<li>a housing cable</li>
</ul></li>
<li>1 pop rivet with a diameter of 4 mm</li>
<li>2 pop rivets with a diameter of 2mm</li>
<li>the official front roof cable (REF : B116V0064H)</li>
</ul>
<p>NB : in real life, I suggest to have a few pop rivets more in case of one of the following steps goes wrong...</p>
<p>Tools :
</p>
<ul>
<li>Drill with a 3,5mm bit</li>
<li>Dremel</li>
<li>Cutting plier</li>
<li>Hand metal saw</li>
<li>Pop rivet plier</li>
<li>Vice</li>
<li>Measuring tape</li>
<li>Hammer</li>
</ul>

<h2><span class="mw-headline" id="4.29_Let.E2.80.99s_go_.21">4) Let’s go !</span></h2>
<h3><span class="mw-headline" id="Step_1_:_Changing_the_front_cable">Step 1 : Changing the front cable</span></h3>
<p>All right, that’s strange to change the front cable in order to fix the rear cable. But as we’re going cut and recycle parts, it’s more efficient to cut the old cable instaed of the brand new one.</p>
<p>Just follow these this simple article &#34;Fixing a broken roof cable&#34; : <a class="external autonumber" href="http://wiki.seloc.org/a/Fixing_a_broken_roof_cable" rel="nofollow">[1]</a></p>
<p><a class="image" href="http://wiki.seloc.org/a/File:pic05.jpg" ><img src="pic05.jpg" width="300" />
</a> <a class="image" href="http://wiki.seloc.org/a/File:pic06.jpg" ><img src="pic06.jpg" width="300" />
</a></p>
<div class="thumb tright">
<div class="thumbinner" style="width:602px;"><a class="internal" href="http://wiki.seloc.org/a/File:pic07.jpg" title="Step 1 finished : new front cable, rear cable still brocken"><img src="pic07.jpg" alt="Step 1 finished : new front cable, rear cable still brocken" title="Step 1 finished : new front cable, rear cable still brocken" class="type-thumb" width="600" />
</a>
<div class="thumbcaption"><i>Step 1 finished :</i> new front cable, rear cable still brocken</div></div>
</div>

<h3><span class="mw-headline" id="Step_2_:_Unmount_the_rear_cable">Step 2 : Unmount the rear cable</span></h3>
<p>Unscrew the hollow nut, take off the cable and keep the cable for further steps. <a class="image" href="http://wiki.seloc.org/a/File:pic08.jpg" ><img src="pic08.jpg" class="location-right" width="200" />
</a></p>
<div class="thumb tright">
<div class="thumbinner" style="width:602px;"><a class="internal" href="http://wiki.seloc.org/a/File:pic09.jpg" title="Step 2 finished : new front cable, nomore rear cable"><img src="pic09.jpg" alt="Step 2 finished : new front cable, nomore rear cable" title="Step 2 finished : new front cable, nomore rear cable" class="type-thumb" width="600" />
</a>
<div class="thumbcaption"><i>Step 2 finished :</i> new front cable, nomore rear cable</div></div>
</div>

<h3><span class="mw-headline" id="Step_3_:_Remove_one_of_the_old_fastening_plate">Step 3 : Remove one of the old fastening plate</span></h3>
<p><a class="image" href="http://wiki.seloc.org/a/File:pic10.jpg" ><img src="pic10.jpg" class="location-right" width="200" />
</a>
You have to keep the fastening plate with a threaded part and take off the other.
</p>
<ul>
<li>Remove a few material to see the fastening plate</li>
<li>Drill carefully to split the plastique support and the fasting plate without touching the material.</li>
</ul>

<h3><span class="mw-headline" id="Step_4_:_Prepare_the_pop_rivet_for_setting">Step 4 : Prepare the pop rivet for setting</span></h3>
<p>To set the «new» fastening plate we’ll use the 4mm pop rivet. But as it’s a bite too long we have to work on it a little.
<a class="image" href="http://wiki.seloc.org/a/File:pic11.jpg" ><img src="pic11.jpg" width="600" />
</a></p>
<h3><span class="mw-headline" id="Step_5_:_Setting_the_plate">Step 5 : Setting the plate</span></h3>
<p>Here we start recycling : take the fasting plate with a threaded part from the old front cable and set it on the plastic part with the 4mm «shorted» pop rivet.</p>
<p><a class="image" href="http://wiki.seloc.org/a/File:pic12.jpg" ><img src="pic12.jpg" width="300" />
</a> <a class="image" href="http://wiki.seloc.org/a/File:pic13.jpg" ><img src="pic13.jpg" width="300" />
</a></p>
<p>In order to finish it cleanly you can use a Dremel to get a smooth area on pop rivet and then paste back the pieces of material that you remove at the step 3.
</p>
<div class="thumb tright">
<div class="thumbinner" style="width:602px;"><a class="internal" href="http://wiki.seloc.org/a/File:pic14.jpg" title="Step 5 finished : new front cable, nomore rear cable but 2 fastening plates WITH threaded part"><img src="pic14.jpg" alt="Step 5 finished : new front cable, nomore rear cable but 2 fastening plates WITH threaded part" title="Step 5 finished : new front cable, nomore rear cable but 2 fastening plates WITH threaded part" class="type-thumb" width="600" />
</a>
<div class="thumbcaption"><i>Step 5 finished :</i> new front cable, nomore rear cable but 2 fastening plates WITH threaded part</div></div>
</div>

<h3><span class="mw-headline" id="Step_6_:_Still_recycling">Step 6 : Still recycling</span></h3>
<p>We have threaded parts on both side so we need 2 hollow nuts now. We can find them on the old front cable and the old rear cable.</p>
<p>For each cable :</p>
<p><a class="image" href="http://wiki.seloc.org/a/File:pic15.jpg" ><img src="pic15.jpg" width="600" />
</a></p>
<h3><span class="mw-headline" id="Step_7_:_Let.E2.80.99s_decapitate_.21">Step 7 : Let’s decapitate !</span></h3>
<p>Here again we’ll modify some pop rivets : just decapitate at least two 2mm pop rivets.</p>
<p><a class="image" href="http://wiki.seloc.org/a/File:pic16.jpg" ><img src="pic16.jpg" width="600" />
</a></p>
<h3><span class="mw-headline" id="Step_8_:_Making_the_new_rear_cable">Step 8 : Making the new rear cable</span></h3>
<p>Just follow keep it in the right order :
</p>
<ul>
<li>Cut the bicycle braking inner cable to get a piece of about 1 meter long</li>
<li>Cut the bicycle braking housing cable to get a piece of about 0.95 meter long</li>
<li>With one of the 2 unheaded body rivet, set the left side of the inner cable in a vice</li>
<li>Put on from the right a hollow nut (from step 6) and take time to check if the setting take place inside</li>
</ul>
<p>the hollow nut. If not, file down a little the setting.
</p>
<ul>
<li>Put on the housing cable from the right</li>
<li>Put on the second hollow nut from the right</li>
<li>Set the right end like you did for the left. And check again if the setting take place correctly inside the</li>
</ul>
<p>hollow nut.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:602px;"><a class="internal" href="http://wiki.seloc.org/a/File:pic17.jpg" title="Step 8 finished : new rear cable"><img src="pic17.jpg" alt="Step 8 finished : new rear cable" title="Step 8 finished : new rear cable" class="type-thumb" width="600" />
</a>
<div class="thumbcaption"><i>Step 8 finished :</i> new rear cable</div></div>
</div>

<h3><span class="mw-headline" id="Step_9_:_Final_assembly">Step 9 : Final assembly</span></h3>
<p>Just put your new cable at the correct place.
</p>
<div class="thumb tright">
<div class="thumbinner" style="width:602px;"><a class="internal" href="http://wiki.seloc.org/a/File:pic18.jpg" title="Step 9 finished : Job done !!"><img src="pic18.jpg" alt="Step 9 finished : Job done !!" title="Step 9 finished : Job done !!" class="type-thumb" width="600" />
</a>
<div class="thumbcaption"><i>Step 9 finished :</i> Job done !!</div></div>
</div>

<h2><span class="mw-headline" id="What_you_get_in_the_end">What you get in the end</span></h2>
<p>Both cables changed and an rear cable easy to fix in the futur.</p>
<p><a class="image" href="http://wiki.seloc.org/a/File:pic19.jpg" ><img src="pic19.jpg" width="600" />
</a>

</p>