
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:pg1.jpg" ><img src="pg1.jpg" class="location-right type-thumb" width="220" />
</a></div>
</div>

<p>
The Rover PG1 gearbox fitted to the K series Elise, was manufactured by <a href="http://wiki.seloc.org/a/Powertrain_Limited" title="Powertrain Limited">Powertrain Limited</a> (who have now ceased trading), is a five-speed constant mesh gearbox, which employs helical gears for speed transmission and final drive. The transmission castings are full aluminium construction and all other components optimised for improved weight (36kg dry). The gearbox can be supplied with either a standard open differential or a Limited Slip Differential, presently Torsen.</p>
<p>Due to the modular design of the gearbox various final drive ratio and 1st to 5th gear ratio combinations have been used. Including both present and past an overall total of 21 ratio combinations, 5 speedometer gear ratios; and 7 clutch levers designs for both hydraulic and cable operation can be called on to ensure the customers requirements are met.</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Gearbox_type">Gearbox type</a>
<ul>
<li class="toclevel-2"><a href="#Gearbox_Application_Table">Gearbox Application Table</a>
</li>
<li class="toclevel-2"><a href="#Gearbox_Codes">Gearbox Codes</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#See_also">See also</a>
</li>
<li class="toclevel-1"><a href="#External_links">External links</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Gearbox_type">Gearbox type</span></h2>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:pg1_serial_number.png" title="Series number location on the bell housing"><img src="pg1_serial_number.png" alt="Series number location on the bell housing" title="Series number location on the bell housing" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Series number location on the bell housing</div></div>
</div>

<p>
Identification is via the serial number on the bell housing housing;</p>
<h3><span class="mw-headline" id="Gearbox_Application_Table">Gearbox Application Table</span></h3>

<div style="page-break-inside: avoid;">
<table border="1" cellpadding="5" cellspacing="0">
<tr>
<th>Gearbox Code </th>
<th>1 </th>
<th>2 </th>
<th>3 </th>
<th>4 </th>
<th>5 </th>
<th>Final Drive </th>
<th>Used In</th></tr>
<tr>
<td>G6BP  </td>
<td>3.250 </td>
<td>1.895 </td>
<td>1.308 </td>
<td>1.033 </td>
<td>0.848 </td>
<td>3.938 </td>
<td>S2 111S (WR &#34;long&#34; box)</td></tr>
<tr>
<td>C4BP  </td>
<td>3.167 </td>
<td>1.842 </td>
<td>1.308 </td>
<td>1.033 </td>
<td>0.765 </td>
<td>4.200 </td>
<td>MGF VVC (as standard but final drive 4.2)</td></tr>
<tr>
<td>C6BP  </td>
<td>3.167 </td>
<td>1.842 </td>
<td>1.308 </td>
<td>1.033 </td>
<td>0.765 </td>
<td>3.938 </td>
<td>Elise S1 standard and MGF</td></tr>
<tr>
<td>B4BP  </td>
<td>2.923 </td>
<td>1.750 </td>
<td>1.308 </td>
<td>1.033 </td>
<td>0.848 </td>
<td>4.200 </td>
<td>S1 111S &#38; S1 Sports 135 &#38; S2 135R &#38; S2 standard (CR Box)</td></tr>
<tr>
<td>B4BPU </td>
<td>2.923 </td>
<td>1.750 </td>
<td>1.308 </td>
<td>1.033 </td>
<td>0.848 </td>
<td>4.200 </td>
<td>Exige S1 uprated (CR Box)</td></tr>
<tr>
<td>B4BPQ </td>
<td>2.923 </td>
<td>1.750 </td>
<td>1.308 </td>
<td>1.033 </td>
<td>0.848 </td>
<td>4.200 </td>
<td>Exige S1 with LSD (CR Box)</td></tr>
<tr>
<td>B6BST </td>
<td>2.923 </td>
<td>1.750 </td>
<td>1.308 </td>
<td>1.033 </td>
<td>0.848 </td>
<td>3.938 </td>
<td>Rover &#34;BRM&#34; 200 - CR box with std final drive &#38; torsen LSD </td></tr>
<tr>
<td>340R UCR </td>
<td>3.0 </td>
<td>1.937 </td>
<td>1.556 </td>
<td>1.273 </td>
<td>1.043 </td>
<td>3.92 </td>
<td>340R LOTAC05255 Conversion</td></tr>
<tr>
<td>NA    </td>
<td>3.167 </td>
<td>1.842 </td>
<td>1.410 </td>
<td>1.100 </td>
<td>0.909 </td>
<td>3.938 </td>
<td>Eliseparts</td></tr></table></div>

<h3><span class="mw-headline" id="Gearbox_Codes">Gearbox Codes</span></h3>
<p>The first letter is the gearset</p>

<div style="page-break-inside: avoid;">
<table border="1" cellpadding="5" cellspacing="0">
<tr>
<th>Letter </th>
<th>1 </th>
<th>2 </th>
<th>3 </th>
<th>4 </th>
<th>5</th></tr>
<tr>
<td>b </td>
<td>2.923 </td>
<td>1.750 </td>
<td>1.308 </td>
<td>1.033 </td>
<td>0.848</td></tr>
<tr>
<td>c </td>
<td>3.167 </td>
<td>1.842 </td>
<td>1.308 </td>
<td>1.033 </td>
<td>0.765</td></tr>
<tr>
<td>g </td>
<td>3.250 </td>
<td>1.895 </td>
<td>1.308 </td>
<td>1.033 </td>
<td>0.848</td></tr>
<tr>
<td>k </td>
<td>2.923 </td>
<td>1.750 </td>
<td>1.222 </td>
<td>0.935 </td>
<td>0.765</td></tr>
<tr>
<td>l </td>
<td>2.923 </td>
<td>1.750 </td>
<td>1.222 </td>
<td>0.848 </td>
<td>0.649</td></tr>
<tr>
<td>m </td>
<td>3.167 </td>
<td>1.842 </td>
<td>1.222 </td>
<td>0.848 </td>
<td>0.649</td></tr>
<tr>
<td>r </td>
<td>3.250 </td>
<td>1.895 </td>
<td>1.308 </td>
<td>1.033 </td>
<td>0.765</td></tr>
<tr>
<td>s </td>
<td>3.250 </td>
<td>1.895 </td>
<td>1.222 </td>
<td>0.848 </td>
<td>0.649</td></tr>
<tr>
<td>t </td>
<td>3.250 </td>
<td>1.895 </td>
<td>1.222 </td>
<td>0.935 </td>
<td>0.714</td></tr>
<tr>
<td>v </td>
<td>3.250 </td>
<td>1.895 </td>
<td>1.222 </td>
<td>0.935 </td>
<td>0.765</td></tr>
<tr>
<td>w </td>
<td>3.167 </td>
<td>1.842 </td>
<td>1.308 </td>
<td>1.033 </td>
<td>0.714</td></tr></table></div>


<p>The number that follows the gear set number is the Final drive ratio</p>
<p>4 = 4.200 (15/63)</p>
<p>5 = 4.062 (16/65)</p>
<p>6 = 3.938 (16/63)</p>
<p>7 = 3.647 (17/62)</p>

<p>The right hand letters are the diff</p>
<p>BP  = Open</p>
<p>BPQ = Quaife LSD</p>
<p>BST = Torsen</p>



<h2><span class="mw-headline" id="See_also">See also</span></h2>

<ul>
<li><a href="http://wiki.seloc.org/a/Gearbox_switch" title="Gearbox switch">Gearbox Reversing Switch</a></li>
<li><a href="http://wiki.seloc.org/a/Gearbox_oil" title="Gearbox oil">Gearbox oil</a></li>
<li><a class="external free" href="http://forums.seloc.org/t/96372" rel="nofollow">http://forums.seloc.org/t/96372</a></li>
<li><a class="external free" href="http://forums.seloc.org/t/110925" rel="nofollow">http://forums.seloc.org/t/110925</a></li>
</ul>

<h2><span class="mw-headline" id="External_links">External links</span></h2>

<ul>
<li><a class="external free" href="http://www.gearboxman.co.uk" rel="nofollow">http://www.gearboxman.co.uk</a></li>
<li><a class="external free" href="http://www.powertrainltd.com/brochure/pt_brochure_product.pdf" rel="nofollow">http://www.powertrainltd.com/brochure/pt_brochure_product.pdf</a>
<dl>
<dd>WARNING - The Lotus line is <b>wrong</b> on the Powertrain brochure, as it has the B4 CR code but the G6 WR ratios</dd>
</dl></li>
<li><a class="external free" href="http://www.quaife.co.uk/LOTUS" rel="nofollow">http://www.quaife.co.uk/LOTUS</a></li>
<li><a class="external free" href="http://arc.seloc.org/viewthread.php?tid=173780" rel="nofollow">http://arc.seloc.org/viewthread.php?tid=173780</a> Gearbox drive program</li>
<li><a class="external free" href="http://wiki.seloc.org/a/Shimming_the_Powertrain_PG1_gearbox" rel="nofollow">http://wiki.seloc.org/a/Shimming_the_Powertrain_PG1_gearbox</a></li>
<li><a class="external free" href="http://www.rover-coupe.com/rcoc/index.php/downloads" rel="nofollow">http://www.rover-coupe.com/rcoc/index.php/downloads</a></li>
</ul>
<p>


</p>