
<p>Keeps the engine oil in the sump.</p>
<p>These can leak due to various reasons and replacing them is awkward since it requires the <a href="http://wiki.seloc.org/a/Remove_the_gearbox" title="Remove the gearbox">gearbox</a>, <a href="http://wiki.seloc.org/a/Clutch" title="Clutch">clutch</a> and <a href="http://wiki.seloc.org/a/Flywheel" title="Flywheel">flywheel</a> to be removed.</p>
<p>Part numbers:
</p>
<ul>
<li>LUF000050 (rear)</li>
<li>LQX100040 (front)</li>
</ul>

<h2><span class="mw-headline" id="Reason_for_leaking">Reason for leaking</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Leaking_rear_crankshaft_oil_seal.jpg" title="Leaking rear crankshaft oil seal"><img src="Leaking_rear_crankshaft_oil_seal.jpg" alt="Leaking rear crankshaft oil seal" title="Leaking rear crankshaft oil seal" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Leaking rear crankshaft oil seal</div></div>
</div>

<p>
</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:damaged_crankshaft_rear_oil_seal.jpg" title="Damaged seal due to incorrect fitting"><img src="damaged_crankshaft_rear_oil_seal.jpg" alt="Damaged seal due to incorrect fitting" title="Damaged seal due to incorrect fitting" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Damaged seal due to incorrect fitting</div></div>
</div>

<p>
</p>
<ol>
<li>quality of seal, cheap aftermarket copies of OEM parts which are poorly made</li>
<li>seal not put in straight causing rapid wear of seal lip and oil egress due to wipe over</li>
<li>new seal put in on edge of wear groove on crank causing flipping of seal in and out of groove</li>
<li>poor fitting of seal causing damage to lip or dislodging of spiral supporting spring</li>
<li>poor finish on shaft surface causing erosion of seal</li>
<li>excessive crankcase pressure due to poor installation of/lack of PCV system causing leak of oil/blow out of seal / dislodging of seal.</li>
</ol>

<p>If your crank seal is leaking find out why.  They usually pop out due to crank case pressure, so either improve your crank case breathing, or find the cause of the pressure - likely to be ring/liner wear.  If you just replace the seal it will most likely pop again unless you find out why its popped.</p>
<p>Also where the seal contacts the crank used to be coated with wax to aid initial startup lubrication so that the knife edge of the seal doesn&#39;t wear before oil reaches the seal. The seals are no longer wax coated so its advisable to put some oil on the seal prior to fitment. You also have to ensure that the seal is perfectly parallel to the crank or the knife edge of the seal will quickly wear.</p>
<h3><span class="mw-headline" id="Symptoms">Symptoms</span></h3>
<p>When the crank seal goes, the oil will collect at the lowest point between the sump and the gearbox bellhousing, then tends to run along to the driveshaft and gets spread around everywhere by that, so it&#39;s hard to tell where it&#39;s coming from.  Trouble is that if it&#39;s leaking elsewhere it will also collect at the lowest point between the sump and the bellhousing ;-(</p>
<p>Worth getting a <a href="http://wiki.seloc.org/a/Leakdown_test" title="Leakdown test">leakdown test</a> done to see if you do have worn rings/liners.</p>
<p>The other thing to check are the breathers on the cam cover. Inside the cover are wire wool filters that might be clogged up with oil causing the crank pressure to build up.</p>
<p>Get the car up high and use a mirror to have a good look all around the block for evidence of leaks, if you cant see any then it&#39;s likely to be the crank seal. While the box is off you&#39;d be a fool not to change it - even more so if you&#39;re fitting a light flywheel! The seal is RTV&#39;d in place and the manual instructions are good - you need to check the seal after a few minutes since it can lift out after fitting. Best to holt it in place for a few mins immediately after fitting, then go away for lunch and check that its still well in there and parallel when you return.</p>
<p>Take the hose off between the airfilter and the throttle body, and see how dirty the throttle body looks. If theres excess pressure in the crankcase then you will get a lot of oily mess on the back of the butterfly.</p>
<p>High pressure in the crankcase is usually the cause of the crank seal leaking significantly.</p>
<h2><span class="mw-headline" id="Forum_links">Forum links</span></h2>

<ul>
<li><a class="external free" href="http://forums.seloc.org/t/74001" rel="nofollow">http://forums.seloc.org/t/74001</a></li>
<li><a class="external free" href="http://forums.seloc.org/t/6420" rel="nofollow">http://forums.seloc.org/t/6420</a></li>
<li><a class="external free" href="http://forums.seloc.org/t/135715" rel="nofollow">http://forums.seloc.org/t/135715</a></li>
</ul>
