
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:lightweight_flywheel.jpg" title="Eliseparts lightweight flywheel"><img src="lightweight_flywheel.jpg" alt="Eliseparts lightweight flywheel" title="Eliseparts lightweight flywheel" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Eliseparts lightweight flywheel</div></div>
</div>

<p>
The <b>flywheel</b> bolts onto the rear of the <a href="http://wiki.seloc.org/a/Crankshaft" title="Crankshaft">crankshaft</a> where the <a href="http://wiki.seloc.org/a/Clutch" title="Clutch">clutch</a> engages with it inside the <a href="http://wiki.seloc.org/a/Gearbox" title="Gearbox">gearbox</a> bell housing.</p>

<h2><span class="mw-headline" id="Lightweight_flywheel">Lightweight flywheel</span></h2>
<p>Standard original equipment flywheel weighs over 7KG most aftermarket “lightweight” flywheels weigh anywhere from 3.7 - 4.2KG</p>
<p>Many people change the OEM flywheel to a lightweight version.  This increases throttle responsiveness and considered a worthlile upgrade if already changing the gearbox or clutch.</p>
<p>Another benefit of the lightened flywheel is that the rpm will drop quicker between gear changes.  This helps with faster up changes.</p>
<p>Also makes down changes/heel &#39;n&#39; toe easier as the engine blips more easily.</p>
<h2><span class="mw-headline" id="Flywheel_Stats">Flywheel Stats</span></h2>


<table border="1" width="50%">

  
<tr>

    
<td width="403"><b>Flywheel</b></td>
    
<td width="93"><b>Weight (KG)</b></td>
  
</tr>
  
<tr>

    
<td>Rover K Series 1800 OE (1998) </td>
    
<td>6.625</td>
  
</tr>
  
<tr>

    
<td>Minister Power Lightened for K Series 1800 </td>
    
<td>4.225</td>
  
</tr>
  
<tr>

   
<td>Elise Parts Lightweight EN24 Flywheel</td>
   
<td>3.5</td>
  
</tr>

</table>


<h2><span class="mw-headline" id="External_links">External links</span></h2>

<ul>
<li><a class="external free" href="http://www.pumaracing.co.uk/FLYWHEEL.htm" rel="nofollow">http://www.pumaracing.co.uk/FLYWHEEL.htm</a></li>
<li><a class="external free" href="http://forums.seloc.org/viewthread.php?tid=74218" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=74218</a></li>
</ul>
