<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Rover_PG1">Rover PG1</a>
<ul>
<li class="toclevel-2"><a href="#Makes">Makes</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Honda_M6T">Honda M6T</a>
<ul>
<li class="toclevel-2"><a href="#Makes_2">Makes</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Toyota_C64">Toyota C64</a>
<ul>
<li class="toclevel-2"><a href="#Makes_3">Makes</a>
</li>
</ul>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Rover_PG1">Rover PG1</span></h2>

<p>The service manual says your <a href="http://wiki.seloc.org/a/Rover_PG1_gearbox" title="Rover PG1 gearbox">Rover PG1 gearbox</a> id <i>filled for life</i>, and requires no periodic renewal.  However, some people choose to replace the oil in sync with their <i>C</i> service.  Some have commented that a better oil can improve gear change and reduce noise.</p>
<p>PG1 needs API GL4 spec for the synchros.</p>
<p>Dry fill capacity = 2.4 litres<br /></p>
<p>Refil = 2.1 litres</p>
<h3><span class="mw-headline" id="Makes">Makes</span></h3>

<ul>
<li>Texaco MTF94 (OEM)</li>
<li><a class="external text" href="http://www.morrislubricantsonline.co.uk/scripts/prodView.asp?idproduct=67" rel="nofollow">Lodexol MTF GL4 75W80</a> is PG1 specific direct replacement for MTF94 </li>
<li>Amsoil MTG 75w 90 Sold by Opie Oils or www.Performanceoilsltd.co.uk</li>
<li>Castrol TAF-X</li>
<li>Castrol SMX-S</li>
<li><a class="external text" href="http://www.motul-oil.co.uk/pdfs/gear-oil/Gear_300_75W-90_TDS_" rel="nofollow">(GB).pdf Motul Gear 300</a></li>
<li>Silkolene Syn 5 75w-90</li>
<li>Unipart GUL2622</li>
<li><a class="external text" href="http://www.mpmoil.nl/index.php?id=products&#38;product=18000hr&#38;language=en" rel="nofollow">MPM 18000HR - GEARBOX OIL HONDA ROVER (75W-90)</a></li>
</ul>

<p>You can get MTF94 from Land Rover (part no STC9158 for 1L, part no STC 9157 for 5L) or online here: <a class="external autonumber" href="http://www.lrseries.com/shop/product/listing/12711/STC9157-TRANSMISSION-OIL-5LTR.html" rel="nofollow">[1]</a></p>
<h2><span class="mw-headline" id="Honda_M6T">Honda M6T</span></h2>

<p>The Honda gearbox is also normally considered <i>filled for life</i>, but the OEM gearbox oil is quite thin and some people change it for a more viscous gearbox oil to cope with high temperatures (eg. heavy track use) better.</p>
<p>Dry fill capacity = 1.7 litres<br />
Refil = 1.5 litres</p>
<h3><span class="mw-headline" id="Makes_2">Makes</span></h3>

<ul>
<li>Honda OEM MTF-III part number 08798-9031</li>
<li>Silkolene Syn 5 75w-90</li>
</ul>

<h2><span class="mw-headline" id="Toyota_C64">Toyota C64</span></h2>

<p>Fitted in all the <a href="http://wiki.seloc.org/a/Toyota_engines#2ZZ-GE" title="Toyota engines">2ZZ-GE</a> engined Lotus cars including the <a href="http://wiki.seloc.org/a/Elise_model_history#Elise_111R_Introduction:_January_2004" title="Elise model history">Elise 111R</a>, <a href="http://wiki.seloc.org/a/Elise_model_history#Introduction_of_Elise_SC:_February_2008" title="Elise model history">Elise SC</a>, <a href="http://wiki.seloc.org/a/Elise_model_history#2004_Exige_Introduction:_March_2004" title="Elise model history">all S2 Exige variants</a> and the <a href="http://wiki.seloc.org/a/Elise_model_history#2-Eleven_Introduction:_May_2007" title="Elise model history">2-11</a> (GT4 excluded).</p>
<p>The Lotus service manual recommends changing your gearbox oil every 6 years or 45,000 miles (whichever is soonest). Some recommend the use of Redline MT-90 75W/90 over the standard Lotus specified SAE 75W/90 synthetic gearbox oil, as it can improve gear shift feel.</p>
<p>Viscosity = SAE 75W/90</p>
<p>Quality Standard = API GL-4 or GL-5</p>
<p>Dry fill capacity = 2.3 litres (2.4 US qt)</p>
<h3><span class="mw-headline" id="Makes_3">Makes</span></h3>

<ul>
<li>Redline MT-90 75W/90</li>
</ul>

<p>
</p>