<h3><span class="mw-headline" id="Gear_linkage">Gear linkage</span></h3>

<p>The Gear linkage on the Elise K Series S1 and S2 (Toyota I am unsure, citation needed) can sometimes be a problem, restricting gear selection.</p>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Gear_linkage_sequence.jpg" title="click to make bigger"><img src="Gear_linkage_sequence.jpg" alt="click to make bigger" title="click to make bigger" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">click to make bigger</div></div>
</div>

<p>As highlighted in green in the picture above is all the moving parts of the gear linkage.</p>
<p>The gear linkage can be accessed by removing the rear diffuser.</p>
<h2><span class="mw-headline" id="Upgrades">Upgrades</span></h2>

<p>Various aftermarket retailers sell an up rated gear linkage kit which vastly improves gear selection over the OEM item (again S1 and S2 K series only, Toyota citation needed). This aftermarket kit replaces the entire gearbox end gear selection including the rubber bushes for nylatron bushes, there has been some debate on the forums in the past that just changing the bushes alone is enough to improve the gear linkage, however I cannot comment on this as I have only changed for a full kit myself. </p>
<p>The Aftermarket gear linkage kit changes the gearbox feel dramatically from a sloppy stirring porridge feel to bolt action feel, which sharpens gear selection no end.</p>
<h3><span class="mw-headline" id="Short_shifter">Short shifter</span></h3>

<p>Most people will fit the aftermarket gear linkage kit along with a short shifter, however the two items are not exclusive as ether can be fitter without the other.</p>
<p>More info to follow – feel free to add.</p>
<p>&#62;&#62;A separate page for fitting the short shifter required and link to in here&#60;&#60;</p>

<p>


</p>