
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:m32.jpg" ><img src="m32.jpg" class="location-right type-thumb" width="220" />
</a></div>
</div>

<p>
The Getrag M32 gearbox is fitted to the Europa S, was manufactured by <a class="external text" href="http://www.getrag.de/" rel="nofollow">Getag</a>. There are 16 versions of the M32 series, which can accommodate up to 236 lb.-ft. (320 Nm) of input torque. But many people have ran them much highter than this without problems. The M32 Gearbox has a dry weight of 47KG</p>





<h2><span class="mw-headline" id="Gearbox_type">Gearbox type</span></h2>

<p>Configuration: W-E, 3 axys and reverse synchronized.</p>

<h3><span class="mw-headline" id="Gearbox_Application_Table">Gearbox Application Table</span></h3>


<div style="page-break-inside: avoid;">
<table border="1" cellpadding="5" cellspacing="0">
<tr>
<th>Gearbox Code </th>
<th>1 </th>
<th>2 </th>
<th>3 </th>
<th>4 </th>
<th>5 </th>
<th>6 </th>
<th>Final Drive </th>
<th>Used in </th></tr>
<tr>
<td>XXX  </td>
<td>3.818 </td>
<td>2.158 </td>
<td>1.475 </td>
<td>1.067 </td>
<td>0.875 </td>
<td>0.744 </td>
<td>3.94 </td>
<td>Lotus Europa S</td></tr>
<tr>
<td>XXX  </td>
<td>3.818 </td>
<td>2.353 </td>
<td>1.571 </td>
<td>1.146 </td>
<td>0.943 </td>
<td>0.861 </td>
<td>4.17 </td>
<td>Alfa 159 2.2JTS - Close Ratio</td></tr>
<tr>
<td>XXX  </td>
<td>XXX </td>
<td>XXX </td>
<td>XXX </td>
<td>XXX </td>
<td>XXX </td>
<td>XXX </td>
<td>XXX </td>
<td>Enter as required</td></tr>
<tr>
<td>XXX  </td>
<td>XXX </td>
<td>XXX </td>
<td>XXX </td>
<td>XXX </td>
<td>XXX </td>
<td>XXX </td>
<td>XXX </td>
<td>Enter as required</td></tr></table></div>


<h2><span class="mw-headline" id="External_links">External links</span></h2>


<ul>
<li><a class="external free" href="http://www.fptpowertrain.com/eng/applicazioni_automotive_cambi_eu_sa.htm" rel="nofollow">http://www.fptpowertrain.com/eng/applicazioni_automotive_cambi_eu_sa.htm</a></li>
</ul>



<p>
</p>