<h3><span class="mw-headline" id="Europa_S_wheels">Europa S wheels</span></h3>



<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver" width="100pt">Front </td>
<td width="100pt" />
<td style="background:silver" width="100pt">Rear </td>
<td rowspan="9" />
<td rowspan="9" />
<td colspan="9">OEM Fitment to S</td></tr>
<tr>
<td>17x5.5</td>
<td style="background:silver">Size</td>
<td>17x7.5</td></tr>
<tr>
<td>ET26</td>
<td style="background:silver">Offset</td>
<td>ET36</td></tr>
<tr>
<td>5x110</td>
<td style="background:silver">PCD</td>
<td>5x110</td></tr>
<tr>
<td>65.1</td>
<td style="background:silver">Center Bore</td>
<td>65.1</td></tr>
<tr>
<td />
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td>175/55R17</td>
<td style="background:silver">Tyre size</td>
<td>225/45R17</td></tr>
<tr>
<td style="background:silver">Price</td>
<td colspan="2" /></tr>
<tr>
<td style="background:silver">Web</td>
<td colspan="2">[ Click for external link]</td></tr></table></div>

<h3><span class="mw-headline" id="Europa_SE_wheels_.28Fondmetal.29">Europa SE wheels (Fondmetal)</span></h3>



<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td style="background:silver" width="100pt">Front </td>
<td width="100pt" />
<td style="background:silver" width="100pt">Rear </td>
<td rowspan="9" />
<td rowspan="9" />
<td colspan="9">OEM Fitment to SE</td></tr>
<tr>
<td>17x7</td>
<td style="background:silver">Size</td>
<td>18x8</td></tr>
<tr>
<td>ET26</td>
<td style="background:silver">Offset</td>
<td>ET35</td></tr>
<tr>
<td>5x110</td>
<td style="background:silver">PCD</td>
<td>5x110</td></tr>
<tr>
<td>65.1</td>
<td style="background:silver">Center Bore</td>
<td>65.1</td></tr>
<tr>
<td />
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td>195/45R17</td>
<td style="background:silver">Tyre size</td>
<td>235/40R18</td></tr>
<tr>
<td style="background:silver">Price</td>
<td colspan="2" /></tr>
<tr>
<td style="background:silver">Web</td>
<td colspan="2">[ Click for external link]</td></tr></table></div>

