<h2><span class="mw-headline" id="Europa_S_Production_Numbers">Europa S Production Numbers</span></h2>

<p>There were 458 Europa models built between 2006 and 2010 with 48 being SE specification.</p>
