
<p><b>TADTS</b> is an <a class="external text" href="http://en.wikipedia.org/wiki/Acronym" rel="nofollow">Acronym</a></p>

<p><b>TADTS</b> = <b>T</b>hey <b>A</b>ll <b>D</b>o <b>T</b>hat <b>S</b>ir</p>

<p>Also a company <a class="external free" href="http://www.tadts.com/" rel="nofollow">http://www.tadts.com/</a> that sell uprated toe links and bearings for the elise.</p>

<p>
</p>