
<p><b>Spyder Engineering Limited</b> make various parts for the Elise like <a href="http://wiki.seloc.org/a/Harness_bar" title="Harness bar">harness bars</a> and <a href="http://wiki.seloc.org/a/ARB" title="ARB">ARBs</a>.</p>

<ul>
<li><a class="external free" href="http://www.spydercars.co.uk/elise_price_list.htm" rel="nofollow">http://www.spydercars.co.uk/elise_price_list.htm</a></li>
</ul>
