
<p>Manufacturer of aftermarket <a href="http://wiki.seloc.org/a/ECU" title="ECU">ECUs</a></p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#General_Information">General Information</a>
<ul>
<li class="toclevel-2"><a href="#S1">S1</a>
</li>
<li class="toclevel-2"><a href="#S2_.28K-series.29">S2 (K-series)</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#External_links">External links</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="General_Information">General Information</span></h2>

<h3><span class="mw-headline" id="S1">S1</span></h3>
<p>The Emerald is plug and play with non VCC MEMS cars.</p>
<h3><span class="mw-headline" id="S2_.28K-series.29">S2 (K-series)</span></h3>
<p>No commercial adaptor loom is available at the moment.  Emerald are working on a &#39;solution&#39; at the moment but it is as of yet not ready. So basically the loom needs to be chopped and the new emerald plug wired onto the end.  Also, the standard S2 IACV (Idle Air Control Valve) will NOT work with the Emerald (the ECU can&#39;t drive it).  If you require the IACV then you&#39;ll need one from an S1, these are available from Eliseparts.</p>






<h2><span class="mw-headline" id="External_links">External links</span></h2>

<ul>
<li><a class="external free" href="http://www.emeraldm3d.com/" rel="nofollow">http://www.emeraldm3d.com/</a></li>
</ul>


<p>The link below provides extra guidance on setting up the Emerald K3 ECU. Provided by user &#39;ptp170&#39;</p>

<ul>
<li><a class="external free" href="http://www.forwardthinkingit.com/emerald/emerald.asp" rel="nofollow">http://www.forwardthinkingit.com/emerald/emerald.asp</a></li>
</ul>
<p>(Note: The above site has been rehosted on a new server and as such some things on the section may not quite function as intended...)</p>
<p>UPDATES:</p>
<p>6th June 09: Includes basemaps + USB&#62;RS232 Adaptor information</p>
<p>8th June 09: Included wiring information for IACV&#39;s on the S2</p>

