<h3><span class="mw-headline" id="Junks">Junks</span></h3>


<p>Lotus Scrap man, a bit like an upmarket breakers, but with more Lotuses.</p>
<p>If you&#39;re looking for a part, try him first.</p>

<p><a class="external free" href="http://forums.seloc.org/m/junks" rel="nofollow">http://forums.seloc.org/m/junks</a></p>
