<h3><span class="mw-headline" id="Sinclaires">Sinclaires</span></h3>

<p>Now Essex Automotive, Sinclaire Motorsport having to be dissolved. </p>
<p>Lotus part suppliers, servicing and bodyshop.</p>

<ul>
<li><a class="external free" href="http://www.lotusrepairs.com/" rel="nofollow">http://www.lotusrepairs.com/</a></li>
</ul>


<p><a class="image" href="http://wiki.seloc.org/a/Image:Sinclairemotorsport-banner.gif" ><img src="Sinclairemotorsport-banner.gif" width="220" />
</a>
</p>