
<p>Questmead sell parts to the motorsports industry.</p>
<pre>QUESTMEAD Ltd
Pioneer House
Regent Street.
Rochdale
Lancashire
OL12 0HQ
United Kingdom
</pre>
<pre>Tel: +44 (0)1706 860088
Fax: +44 (0)1706 861223
</pre>

<p><a class="external free" href="http://www.questmead.co.uk/" rel="nofollow">http://www.questmead.co.uk/</a></p>