
<p>Company in Denmark which make really good <a href="http://wiki.seloc.org/a/Brake_pads#SBS" title="Brake pads">brake pads</a> for the Elise.</p>
<pre>Scandinavian Brake Systems A/S
Kuopiovej 11
5700 Svendborg
Denmark
</pre>
<pre>Tel.: +45 63 21 15 15
Fax: +45 63 21 15 95
E-mail: sbs@sbs.dk
</pre>