<h3><span class="mw-headline" id="Speedy_Fasteners">Speedy Fasteners</span></h3>

<p>Speedy Fasteners can be found on ebay (just search for Speedy Fasteners shop) and at the web address below. They have put together most bolts kits you&#39;ll need i.e under tray and clam kits but also stock spring clips, plastic screw rivets and rubber well nuts. Also enter SELOC10 at checkout for an extra discount. They accept PayPal as well as card payments.</p>

<ul>
<li><a class="external free" href="http://www.speedyfasteners.com" rel="nofollow">http://www.speedyfasteners.com</a></li>
</ul>

