<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1"><a href="#Introduction">Introduction</a>
</li>
<li class="toclevel-1"><a href="#Lotus_Elan_-_1962-1975">Lotus Elan - 1962-1975</a>
</li>
<li class="toclevel-1"><a href="#Lotus_M100_Elan_-_1989-1985">Lotus M100 Elan - 1989-1985</a>
</li>
<li class="toclevel-1"><a href="#References">References</a>
</li>
</ul></td></tr></table><hr/>
<h1><span class="mw-headline" id="Introduction">Introduction</span></h1>

<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/image:Lotus-Elan-'66.jpg" title="1966 Lotus Elan"><img src="Lotus-Elan-'66.jpg" alt="1966 Lotus Elan" title="1966 Lotus Elan" class="location-right type-thumb" width="300" />
</a>
<div class="thumbcaption">1966 Lotus Elan</div></div>
</div>

<p>
</p>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:M100_Elan.jpg" title="1990 Lotus M100 Elan"><img src="M100_Elan.jpg" alt="1990 Lotus M100 Elan" title="1990 Lotus M100 Elan" class="location-right type-thumb" width="300" />
</a>
<div class="thumbcaption">1990 Lotus M100 Elan</div></div>
</div>

<p>This page is purely for some basic information on the Lotus Elan.</p>
<p>For those interested in the original Elan <a class="external text" href="http://www.lotuselan.net/" rel="nofollow">LotusElan.net</a> contains a wealth of useful knowledge.</p>
<p>If you&#39;re looking for information on the M100 Elan then <a class="external text" href="http://www.lotuselancentral.com/" rel="nofollow">Lotus Elan Central</a> and their <a class="external text" href="http://wikilec.9600.org/index.php/Main_Page" rel="nofollow">WikiLEC</a> are strongly recommended.</p>
<h1><span class="mw-headline" id="Lotus_Elan_-_1962-1975">Lotus Elan - 1962-1975</span></h1>

<p>The original Lotus Elan was devised as a replacement for the popular, but complex and expensive to build Lotus Elite, and was introduced in 1962.<br /><br />
Out went the Elite&#39;s fibreglass chassis and Coventry Climax engine, replaced by a steel backbone design and Lotus-Ford Twin Cam engine. Unlike the Elite it was available as a roadster, with the coupé introduced three years later in 1965.<br /><br />
In 1967 Lotus introduced the Elan +2, a lengthened version of the Elan Coupé which as the name suggested added a pair of rear seats<br /><br />
The Elan proved to be a huge success for Lotus, selling around 17,000 cars over its 15 year life.<br /><br />
The TV show <a class="external text" href="http://www.yourdiscovery.com/web/wheeler-dealers/wheeler-dealers-cars/lotus-elan/" rel="nofollow">Wheeler Dealer featured a 1968 Lotus Elan S4</a> which they restored, fixing common problems such as faulty pop up headlights, vague steering, worn and poor paintwork.<br /><br />
The original Elan is seen as one of the main inspirations for the Mazda MX-5, which launched the same year as Lotus&#39;s own M100 Elan.</p>
<h1><span class="mw-headline" id="Lotus_M100_Elan_-_1989-1985">Lotus M100 Elan - 1989-1985</span></h1>

<p>Launched in 1989, the M100 Elan broke away from the traditional Lotus formula in many respects.</p>
<p>Gone was the Lotus 900-series engines used by Lotus since their introduction in the second generation Elite in 1974. In its place was an Isuzu sourced, but extensively modified, engine driving, somewhat controversially, the front wheels - a feature that makes the M100 Elan unique amongst Lotus&#39;s even to this day.</p>
<p>It also marked the first convertible Lotus since the demise of the original Elan in 1973 (baring some converted Esprit and rumoured factory prototypes<sup><a href="#ref1">1</a></sup>)</p>
<p>Critical reception for the Elan was mixed, with some praising its solid, predictable handling and cross country pace, while others bemoaning its lack of driver involvement. Despite this the Elan was still featured in Evo&#39;s &#34;The Greatest&#34; article, where they attempted to find &#34;the best front-driver of all time&#34;<sup><a href="#ref2">2</a></sup>.</p>
<p>Common weak points include the wishbones, brakes and leaks from the roof.</p>
<h1><span class="mw-headline" id="References">References</span></h1>
<div id="ref1"><sup>1</sup> <a class="external text" href="http://www.lotusespritworld.com/EOtherstuff/Convertible.html" rel="nofollow">Lotus Esprit World - Convertibles</a></div>
<div id="ref2"><sup>2</sup> <a class="external text" href="http://www.evo.co.uk/news/evonews/202157/this_months_evo.html" rel="nofollow">Evo - September 2006</a></div>
<div>General - <a class="external text" href="http://en.wikipedia.org/wiki/Lotus_Elan" rel="nofollow">Wikipedia - Lotus Elan</a></div>
