
<p><a href="http://wiki.seloc.org/a/Ball_joint" title="Ball joint">Ball joints</a> are used to attach the <a href="http://wiki.seloc.org/a/Hub" title="Hub">hubs</a> to the <a href="http://wiki.seloc.org/a/Wish_bone" title="Wish bone">wish bones</a>.  There is also a ball joint between the <a href="http://wiki.seloc.org/a/Track_rod_end" title="Track rod end">track rod ends</a> and the <a href="http://wiki.seloc.org/a/Steering_arm" title="Steering arm">steering arm</a>.</p>
<h2><span class="mw-headline" id="Fork">Fork</span></h2>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:fork_type_ball_joint_splitter.jpg" ><img src="fork_type_ball_joint_splitter.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>

<p>
The fork types you hit with a large hammer.  Just watch that clam!</p>

<h2><span class="mw-headline" id="Scissor">Scissor</span></h2>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:39._Scissor_Type_Ball_Joint_Splitter.jpg" ><img src="39._Scissor_Type_Ball_Joint_Splitter.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>

<p>
Here is an alternative ball joint splitter.</p>

<h2><span class="mw-headline" id="External_links">External links</span></h2>

<ul>
<li><a class="external free" href="http://www.screwfix.com/app/sfd/cat/pro.jsp?id=20803&#38;ts=97009" rel="nofollow">http://www.screwfix.com/app/sfd/cat/pro.jsp?id=20803&#38;ts=97009</a></li>
</ul>

