<h3><span class="mw-headline" id="Axle_stands">Axle stands</span></h3>


<p>Axle stands look like this:</p>

<p><a class="image" href="http://wiki.seloc.org/a/image:stands1.jpg" ><img src="stands1.jpg" width="220" />
</a></p>

<p>Be careful on what you place the axle stands, see the <a href="http://wiki.seloc.org/a/Jacking_points" title="Jacking points">jacking guide</a></p>