<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Trolley_Jacks">Trolley Jacks</a>
</li>
<li class="toclevel-1"><a href="#Low_Entry_Trolley_Jacks">Low Entry Trolley Jacks</a>
<ul>
<li class="toclevel-2"><a href="#Clarke_CTJ2L">Clarke CTJ2L</a>
</li>
<li class="toclevel-2"><a href="#Arcan_XL35">Arcan XL35</a>
</li>
<li class="toclevel-2"><a href="#Arcan_ALJ2T_.28Aluminium.29">Arcan ALJ2T (Aluminium)</a>
</li>
<li class="toclevel-2"><a href="#Lidl_Cheapo_Special">Lidl Cheapo Special</a>
</li>
</ul>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Trolley_Jacks">Trolley Jacks</span></h2>
<p>A Trolley jack looks like this:</p>

<p><a class="image" href="http://wiki.seloc.org/a/image:Trolleyjack.jpg" ><img src="Trolleyjack.jpg" width="220" />
</a></p>

<p>It is the <b>ONLY</b> jack recommended for you to use on your Elise.</p>
<p>The only problem you may encounter is that the jack may be too big to fit under the car, so look for a &#39;low&#39; trolley jack or failing that drive your Elise onto a block of wood, this should raise the car just enough so you can get the jack under.</p>
<h2><span class="mw-headline" id="Low_Entry_Trolley_Jacks">Low Entry Trolley Jacks</span></h2>

<p>The following trolley jacks are used by SELOC members on their Elises, so unless your car is lowered significantly (most have approx 130mm ground clearance), they should fit under your Elise too. If in doubt, always measure and check before you buy.</p>
<h3><span class="mw-headline" id="Clarke_CTJ2L">Clarke CTJ2L</span></h3>

<ul>
<li>Capacity - 2 Tonnes (2000kg)</li>
<li>Saddle Height Min - 125mm</li>
<li>Saddle Height Max - 390mm</li>
<li>Dimensions (LWH) - 525 x 220 x 145mm</li>
<li>Cost - £25.00 (approx)</li>
<li>From - <a class="external text" href="http://www.machinemart.co.uk/shop/product/details/ctj2l-2-tonne-long-diy-trolley-jack" rel="nofollow">Machine Mart</a></li>
</ul>

<h3><span class="mw-headline" id="Arcan_XL35">Arcan XL35</span></h3>

<ul>
<li>Capacity - 3.5 Ton (3175kg)</li>
<li>Saddle Height Min - 89mm</li>
<li>Saddle Height Max - 543mm</li>
<li>Cost - £50.00 (approx)</li>
<li>From - <a class="external text" href="http://www.costco.co.uk/" rel="nofollow">Costco</a> (ring and check if they have one first)</li>
</ul>

<h3><span class="mw-headline" id="Arcan_ALJ2T_.28Aluminium.29">Arcan ALJ2T (Aluminium)</span></h3>

<ul>
<li>Capacity - 2 Ton (1815kg)</li>
<li>Saddle Height Min - 89mm</li>
<li>Saddle Height Max - 489mm</li>
<li>Cost - £80.00 (approx)</li>
<li>From - <a class="external text" href="http://www.costco.co.uk/" rel="nofollow">Costco</a> (ring and check if they have one first)</li>
</ul>

<h3><span class="mw-headline" id="Lidl_Cheapo_Special">Lidl Cheapo Special</span></h3>

<ul>
<li>Capacity - 1 Tonne (1000kg)</li>
<li>Saddle Height Min - ?</li>
<li>Saddle Height Max - ?</li>
<li>Cost - £20.00 (approx)</li>
<li>From - Lidl - If you need a super cheap one, check Lidl, they occasionally have some in. Check the Saddle height before you buy though.</li>
</ul>
