<h3><span class="mw-headline" id="Scissor_jack">Scissor jack</span></h3>


<p>This is what a Scissor jack looks like:</p>

<p><a class="image" href="http://wiki.seloc.org/a/image:Scissors1.jpg" ><img src="Scissors1.jpg" width="220" />
</a></p>

<p>On a normal car there is usually a notch in the under body rails of the car to use a Scissor jack.</p>

<p><b>DO NOT USE A SCISSOR JACK ON AN ELISE.</b></p>

<p>The underside of the Elise is flat and the car &#39;could&#39; slip off the jack very easy.</p>
<p>It is not worth the risk of damaging you or your car, buy or borrow a <a href="http://wiki.seloc.org/a/Trolley_jack" title="Trolley jack">Trolley jack</a>.</p>

