
<p>
&#60;googlemap&#62;
51.060656, -1.794999
/Address\ [http://www.sportomotiveservice.com Sportomotive], Harnham Garage, Newbridge Road, Salisbury, Wiltshire. SP2 8AA
/Models\ Esprit, Elise, M100 Elan
/Facilities\ Servicing: Yes; Parts: Yes&#60;br /&#62;New Car Sales: No; Used Car Sales: Yes&#60;br /&#62;Body Repairs: No
51.994300, 4.325831
/Address\ [http://www.vansten.nl/ Van Sten Engineering], Rijkstraatweg 9c, 2635 AC Den Hoorn (ZH)
/Models\
/Facilities\
50.837057, -0.613318
/Address\ [http://www.fibreglassservices.co.uk/ Fibreglass Services] Progress Garage, Yapton Lane, Walberton, Arrundal, West Sussex
/Models\
/Facilities\
&#60;/googlemap&#62;</p>
<p>Map shown for testing puropses only.  Please see Alun&#39;s site at <a class="external free" href="http://www.alunr.com/Dealer/DealerMap.php" rel="nofollow">http://www.alunr.com/Dealer/DealerMap.php</a> for live version.</p>
<h2><span class="mw-headline" id="Addresses">Addresses</span></h2>
<p>Garages that are not necessarily Lotus dealers but otherwise specialise in Lotus repair and maintenance.</p>
<p><a class="external text" href="http://www.seloc.org/benefits.php?bc=2" rel="nofollow">Current discounts available to SELOC Members</a></p>
<h3><span class="mw-headline" id="UK">UK</span></h3>
<p>In alphabetical order we have...
</p>
<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Name &#38; Website </th>
<th>Address &#38; Google Map Link</th></tr>
<tr>
<td><a class="external text" href="http://analogueautomotive.co.uk/" rel="nofollow">Analogue Automotive</a></td>
<td>Unit 1B, Upper Adhurst Ind Park, London Road, Petersfield, Hampshire, <a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=GU31+5AE" rel="nofollow">GU31 5AE</a></td></tr>
<tr>
<td><a class="external text" href="http://backontrackmotorsport.co.uk/" rel="nofollow">Back on Track</a></td>
<td>Unit 5, Westfield Road, Slyfield Industrial Estate, Guildford, Surrey, <a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=GU1+1RR" rel="nofollow">GU1 1RR</a></td></tr>
<tr>
<td><a class="external text" href="http://www.blinkmotorsport.com/" rel="nofollow">BLiNK Motorsport</a></td>
<td>Unit 4, Home Farm, Oulton Park, Cheshire, <a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=CW6+9BL" rel="nofollow">(BLiNK+Motorsport) CW6 9BL</a></td></tr>
<tr>
<td><a class="external text" href="http://www.brooke-kensington.co.uk/" rel="nofollow">Brooke Kensington</a></td>
<td>Unit E6, Telford Road, Bicester, Oxfordshire, <a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=OX26+4LD" rel="nofollow">(Brooke+Kensington) OX26 4LD</a></td></tr>
<tr>
<td><a class="external text" href="http://www.fibreglassservices.co.uk/" rel="nofollow">Fibreglass Services</a></td>
<td>Progress Garage, Yapton Lane, Walberton, Arrundal, West Sussex, <a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=BN18+0AS" rel="nofollow">(Fibreglass+Services) BN18 0AS</a></td></tr>
<tr>
<td><a class="external text" href="http://www.fouldsmotors.co.uk/" rel="nofollow">Foulds Motors</a></td>
<td>15 Honley Business Centre, New Mill Road, Honley, Huddersfield, <a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=HD9+6QB" rel="nofollow">(Foulds+Motors) HD9 6QB</a></td></tr>
<tr>
<td><a class="external text" href="http://www.scaredstifff.com/" rel="nofollow">Guglielmi Motorsport</a></td>
<td>11 Alvis Way, Royal Oak Way Ind. Estate, Daventry, Northants, <a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=NN11+8PG" rel="nofollow">(Guglielmi+Motorsport) NN11 8PG</a></td></tr>
<tr>
<td>G S T Performance</td>
<td>6-7 Studlands Business Centre, Studlands Park Industrial Estate, Newmarket, Suffolk,<a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=CB8+7SS" rel="nofollow">(G+S+T+Performance) CB8 7SS</a></td></tr>
<tr>
<td><a class="external text" href="http://www.hangar111.com/" rel="nofollow">Hangar 111 Lotus Performance</a></td>
<td>Unit 8b Seven Acres Business Park, Newbourne Road, Waldringfield, Suffolk. IP12 4PS <a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=IP12+4PS" rel="nofollow">(Hangar+111) IP12 4PS</a></td></tr>
<tr>
<td><a class="external text" href="http://www.hofmannsofhenley.co.uk/" rel="nofollow">Hofmann’s Motorsport</a></td>
<td>Coxon House, Newtown Road, Henley-on-Thames, Oxfordshire, RG9 1HG <a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=RG9+1HG" rel="nofollow">(Hofmanns) RG9 1HG</a></td></tr>
<tr>
<td><a class="external text" href="http://jpautosbristol.co.uk/" rel="nofollow">JP Auto Solutions</a></td>
<td>Honeyfield Business Park, Hartcliffe Way, Bristol, Avon <a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=BS3+5RN" rel="nofollow">BS3 5RN</a></td></tr>
<tr>
<td><a class="external text" href="http://www.judeperformance.co.uk/" rel="nofollow">Jude Performance Services</a></td>
<td>Unit 1,Naylor Court,Blaydon,Tyne &#38; Wear, <a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=NE21+5NH" rel="nofollow">(Jude+Performance) NE21 5NH</a></td></tr>
<tr>
<td><a class="external text" href="http://www.lakesideengineering.com/" rel="nofollow">Lakeside Engineering</a></td>
<td>Capital House, Woodham Park Road, Woodham, Surrey, <a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=KT15+3TG" rel="nofollow">(Lakeside+Engineering) KT15 3TG</a></td></tr>
<tr>
<td><a class="external text" href="http://www.maidstonesportscars.co.uk/" rel="nofollow">Maidstone Sports Cars</a></td>
<td>The Oast House, Great Tong Farm, Headcorn, Kent, <a class="external text" href="http://maps.google.co.uk/maps?ie=UTF8&#38;q=maidstone+sports+cars&#38;fb=1&#38;gl=uk&#38;hq=sports+cars&#38;hnear=0x47ded602f8347067:0xa6f562520cb400cd,Maidstone,+Kent&#38;cid=0,0,4727752644012871629&#38;t=m&#38;ll=51.190506,0.621328&#38;spn=0.007302,0.021136&#38;iwloc=A&#38;output=embed" rel="nofollow">) TN27 9PP</a></td></tr>
<tr>
<td><a class="external text" href="http://www.neilgarner.co.uk/" rel="nofollow">Neil Garner Performance Engineering</a></td>
<td>Neil Garner Performance Engineering, Unit 8 Kemble Business Park, Nr Malmesbury, Wiltshire, <a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=SN16+9SH" rel="nofollow">(Neil+Garner+Performance+Engineering) SN16 9SH</a></td></tr>
<tr>
<td><a class="external text" href="http://www.paulmattysportscars.co.uk/" rel="nofollow">Paul Matty Sportscars</a></td>
<td>12 Old Birmingham Road, Bromsgrove, Worcestershire, <a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=B60+1DE" rel="nofollow">(Paul+Matty+Sportscars) B60 1DE</a></td></tr>
<tr>
<td><a class="external text" href="http://www.phoenixmotorsports.co.uk/" rel="nofollow">Phoenix Motorsports</a></td>
<td>Albion Mill, Unit 7 Duckworth St, Church, Accrington,BB5 4LQ, Tel 01254 384071 Mob 07801 669682</td></tr>
<tr>
<td><a class="external text" href="http://www.plansmotorsport.com/" rel="nofollow">Plans Motorsport</a></td>
<td>19 Dunsfold Park, Dunsfold, Surrey, <a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=GU6+8TB" rel="nofollow">(Plans+Motorsport) GU6 8TB</a></td></tr>
<tr>
<td><a class="external text" href="http://www.ptp-ltd.co.uk/" rel="nofollow">Power Train Projects (PTP)</a></td>
<td>Trinity House, Coventry Road, Hinckley, Leicestershire, <a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=LE10+0NB" rel="nofollow">(Power+Train+Projects-PTP) LE10 0NB</a></td></tr>
<tr>
<td><a class="external text" href="http://www.qmech.co.uk/" rel="nofollow">QMech</a></td>
<td>Dimbath Lane, Glynogwr, near Bridgend <a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=CF35+6EL" rel="nofollow">(QMech) CF35 6EL</a></td></tr>
<tr>
<td><a class="external text" href="http://www.quinsspecialistcarsltd.co.uk/servicing" rel="nofollow">Quins Specialist Cars</a></td>
<td>Quins Specialist Cars Ltd, Coped Hall, Wootton Bassett, Swindon, Wiltshire, <a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=SN4+8ES" rel="nofollow">SN4 8ES</a></td></tr>
<tr>
<td><a class="external text" href="http://www.racedevelopments.co.uk/" rel="nofollow">Racing Developments</a></td>
<td>50 Tanners Drive, Blakelands, Milton Keynes, <a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=MK14+5BW" rel="nofollow">(Racing+Developments) MK14 5BW</a></td></tr>
<tr>
<td><a class="external text" href="http://www.sinclairemotorsport.com/" rel="nofollow">Sinclaire of London</a></td>
<td>Sinclaire House, Bryant Avenue, Romford, Essex, <a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=RM3+0AP" rel="nofollow">(Sinclaire+of+London) RM3 0AP</a></td></tr>
<tr>
<td><a class="external text" href="http://www.specialisedpaintwork.com/" rel="nofollow">Specialised Paintwork</a></td>
<td>Unit 4b, Pincents Kiln, Calcott, Reading, Berkshire, RG31 7SD, <a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=RG31+7SD" rel="nofollow">(Specialised+Paintwork) RG31 7SD</a></td></tr>
<tr>
<td><a class="external text" href="http://www.sportomotiveservice.com/" rel="nofollow">Sportomotive</a></td>
<td>Harnham Garage, Newbridge Road, Salisbury, Wiltshire, <a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=SP2+8AA" rel="nofollow">(Sportomotive) SP2 8AA</a></td></tr>
<tr>
<td><a class="external text" href="http://www.swlotus.com/" rel="nofollow">Steve Williams Sports Cars</a></td>
<td>Unit 5, Cordwallis Street, Maidenhead, Berkshire, <a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=SL6+7BE" rel="nofollow">(Steve+Williams+Sports+Cars) SL6 7BE</a></td></tr>
<tr>
<td><a class="external text" href="http://www.swiftsperformance.co.uk/" rel="nofollow">Swifts / David Underwood</a></td>
<td>172-178 Fitzwilliam Street, Sheffield, South Yorkshire, <a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=S1+4JR" rel="nofollow">(Swifts+David+Underwood) S1 4JR</a></td></tr>
<tr>
<td><a class="external text" href="http://www.tracktorque.co.uk/" rel="nofollow">Tracktorque / Clive</a></td>
<td>Units 8 &#38; 9 Rudgate Business Park, Rudgate Business Park, Rudgate Lane, Tockwith, York, YO26 7RD </td></tr>
<tr>
<td><a class="external text" href="http://www.tomhorsburgh.co.uk" rel="nofollow">Tom Horsburgh</a>
(Lotus/TVR bodywork repair/paint work)  </td>
<td>Grayshott, Hampshire, <a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=GU26+6LB" rel="nofollow">(Tom+Horsburgh) GU26 6LB</a>
Contact via: Adrian Blyth (01428) 608255</td></tr>
<tr>
<td><a class="external text" href="http://www.vehicletechracing.com/" rel="nofollow">Vehicle Tech Racing (VTR)</a></td>
<td>Lakesview Business Park, Unit 17, Sparrows Way, Canterbury, Kent CT3 4AL, Tel: 07968 295185</td></tr>
<tr>
<td><a class="external text" href="http://www.westovergroup.co.uk/" rel="nofollow">Westover</a></td>
<td>17 Witney Road, Poole, Dorset, <a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=BH17+0GL" rel="nofollow">(Westover) BH17 0GL</a></td></tr>
<tr>
<td><a class="external text" href="http://www.williamsautomobiles.com/" rel="nofollow">Williams Automobiles</a></td>
<td>Totteroak Courtyard, Horton, Chipping Sodbury, Bristol, <a class="external text" href="http://maps.google.co.uk/?hl=en&#38;q=BS37+6QG" rel="nofollow">(Williams+Automobiles) BS37 6QG</a></td></tr></table></div>

<h3><span class="mw-headline" id="France">France</span></h3>
<h3><span class="mw-headline" id="Netherlands">Netherlands</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Name &#38; Website </th>
<th>Address &#38; Google Map Link</th></tr>
<tr>
<td><a class="external text" href="http://www.vansten.nl/" rel="nofollow">Van Sten Engineering</a></td>
<td>Vrij-Harnasch 22, 2635BZ Den Hoorn (ZH) <a class="external text" href="http://maps.google.com/?hl=en&#38;q=52.010261,4.318933" rel="nofollow"><a class="external free" href="http://maps.google.com/?hl=en&#38;q=52.010261,4.318933" rel="nofollow">http://maps.google.com/?hl=en&#38;q=52.010261,4.318933</a></a></td></tr>
<tr>
<td><a class="external text" href="http://www.lotuscars.nl/website/lotus/index.php" rel="nofollow">Van der Kooi Sportscars</a>
(Lotus Dealer Netherlands)</td>
<td>Kwinkweerd 10, 7241 CW Lochem <a class="external text" href="http://maps.google.nl/maps?q=Kwinkweerd+10,+7241+CW+Lochem&#38;oe=utf-8&#38;client=firefox-a&#38;ie=UTF8&#38;hl=en&#38;hq=&#38;hnear=Kwinkweerd+10,+Lochem,+Gelderland&#38;z=16" rel="nofollow"><a class="external free" href="http://maps.google.nl/maps?q=Kwinkweerd+10,+7241+CW+Lochem&#38;oe=utf-8&#38;client=firefox-a&#38;ie=UTF8&#38;hl=en&#38;hq=&#38;hnear=Kwinkweerd+10,+Lochem,+Gelderland&#38;z=16" rel="nofollow">http://maps.google.nl/maps?q=Kwinkweerd+10,+7241+CW+Lochem&#38;oe=utf-8&#38;client=firefox-a&#38;ie=UTF8&#38;hl=en&#38;hq=&#38;hnear=Kwinkweerd+10,+Lochem,+Gelderland&#38;z=16</a></a>
Amsteldijk 52, 1074 HX Amsterdam <a class="external text" href="http://maps.google.nl/maps?f=q&#38;source=s_q&#38;hl=en&#38;geocode=&#38;q=Amsteldijk+52,++1074+HX+Amsterdam&#38;aq=&#38;sll=52.354386,4.906141&#38;sspn=0.009109,0.01987&#38;ie=UTF8&#38;hq=&#38;hnear=Amsteldijk+52,+Nieuwe+Pijp,+Amsterdam,+Noord-Holland&#38;z=16" rel="nofollow"><a class="external free" href="http://maps.google.nl/maps?f=q&#38;source=s_q&#38;hl=en&#38;geocode=&#38;q=Amsteldijk+52,++1074+HX+Amsterdam&#38;aq=&#38;sll=52.354386,4.906141&#38;sspn=0.009109,0.01987&#38;ie=UTF8&#38;hq=&#38;hnear=Amsteldijk+52,+Nieuwe+Pijp,+Amsterdam,+Noord-Holland&#38;z=16" rel="nofollow">http://maps.google.nl/maps?f=q&#38;source=s_q&#38;hl=en&#38;geocode=&#38;q=Amsteldijk+52,++1074+HX+Amsterdam&#38;aq=&#38;sll=52.354386,4.906141&#38;sspn=0.009109,0.01987&#38;ie=UTF8&#38;hq=&#38;hnear=Amsteldijk+52,+Nieuwe+Pijp,+Amsterdam,+Noord-Holland&#38;z=16</a></a></td></tr></table></div>

<h3><span class="mw-headline" id="Italy">Italy</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Name &#38; Website </th>
<th>Address &#38; Google Map Link</th></tr>
<tr>
<td><a class="external text" href="http://www.pbracing.it/" rel="nofollow">PB Racing</a></td>
<td>Pb racing S.r.l, 44 Via provinciale, <a class="external text" href="http://maps.google.it/?hl=en&#38;q=44+Via+provinciale,+Lallio,+24040" rel="nofollow">24040 Lallio (Bergamo)</a></td></tr></table></div>

<h3><span class="mw-headline" id="Belgium">Belgium</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Name &#38; Website </th>
<th>Address &#38; Google Map Link</th></tr>
<tr>
<td><a class="external text" href="http://www.lotuscars.be/" rel="nofollow">Frédéric Koninckx Motors</a></td>
<td>Maarschalk Gerardstraat 6, 2000 Antwerpen</td></tr>
<tr>
<td><a class="external text" href="http://www.lotus-verhiest.com/" rel="nofollow">Thierry Verhiest</a></td>
<td>Joseph Plateaustraat 5, 8400 Oostende</td></tr>
<tr>
<td>Lotus Lecler</td>
<td>Rue de L&#39;Yser 65, 4430 Luik </td></tr>
<tr>
<td><a class="external text" href="http://www.fvhmotors.be/" rel="nofollow">FVH Motors</a></td>
<td>Deken Debostraat 51, 8791 Beveren-Leie (Waregem)</td></tr>
<tr>
<td><a class="external text" href="http://www.garagejanssens.be/" rel="nofollow">Garage J. Janssens</a></td>
<td>Reigersmolenstraat 31, 2531 Vremde <a class="external free" href="http://goo.gl/maps/imsOt" rel="nofollow">http://goo.gl/maps/imsOt</a></td></tr></table></div>

<h3><span class="mw-headline" id="Germany">Germany</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Name &#38; Website </th>
<th>Address &#38; Google Map Link</th></tr>
<tr>
<td><a class="external text" href="http://www.komo-tec.com/" rel="nofollow">Komo - Tec</a></td>
<td>Robert-Bosch-Strasse 30, 56743 Mendig <a class="external autonumber" href="http://goo.gl/maps/frtl" rel="nofollow">[1]</a></td></tr>
<tr>
<td><a class="external text" href="http://www.bf-sportwagen.de" rel="nofollow">Bernd Feistle Sportwagen Repair Centre</a></td>
<td>Alte Landstrasse 7, 79395 Neuenburg <a class="external autonumber" href="http://goo.gl/maps/jU85" rel="nofollow">[2]</a></td></tr></table></div>


<p>


</p>