
<p><b>The AA Parts &#38; Labour Warranty</b></p>
<p>Many owners find that for peace of mind, the aftermarket Parts &#38; Labour Warranty offered by the AA as an option to add to regular breakdown cover a worthwhile investment.</p>
<p>See the AA&#39;s website for terms and conditions.</p>
<p><a class="external free" href="http://www.theaa.com/services/breakdowncover/plc_terms_conditions.html" rel="nofollow">http://www.theaa.com/services/breakdowncover/plc_terms_conditions.html</a></p>

