<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<ul>
<li class="toclevel-1"><a href="#Buyer.27s_Guide">Buyer&#39;s Guide</a>
</li>
<li class="toclevel-1"><a href="#S1">S1</a>
</li>
<li class="toclevel-1"><a href="#S2">S2</a>
</li>
</ul>
<li class="toclevel-1"><a href="#Insurance_Check">Insurance Check</a>
</li>
<li class="toclevel-1"><a href="#MOT_Check">MOT Check</a>
</li>
<li class="toclevel-1"><a href="#Value_your_car">Value your car</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h3><span class="mw-headline" id="Buyer.27s_Guide">Buyer&#39;s Guide</span></h3>

<p>A very big newbie mistake is to avoid cars that have been near a track and to look for the lowest millage possible never driven cars.</p>
<p>The problem with this is that all to often the &#39;Garage jewellery&#39; cars often are the ones to avoid with none of the normal &#39;niggles&#39; fixed and items perishing with age, also with this watch out for cars that are &#39;unserviced&#39;.</p>
<p>Servicing is ever year or when mileage dictates.</p>
 

<h3><span class="mw-headline" id="S1">S1</span></h3>


<p>HGF</p>
<p>Suspension</p>
<p>Steering rack</p>
<h3><span class="mw-headline" id="S2">S2</span></h3>


<p>Common faults...</p>

<p>Rad</p>
<p>HGF (K-series)</p>
<p>Suspension</p>
<p>Steering rack</p>
<p>Indicators popping out</p>
<p>Resistor pack on heater</p>


<p>There are two very good external Elise buyer&#39;s guides:</p>
<p><b>Elise FAQ:</b> (This one is Technical)</p>
<p><a class="external text" href="http://www.elise-faq.info/index.php?title=Buying_Guide" rel="nofollow">EliseFAQ buyer&#39;s guide</a></p>
<p><b>MLOC Wiki:</b> (This one is everything else)</p>
<p><a class="external text" href="http://www.midlandslotus.co.uk/content/index.php/news/index.html/_/faqwiki/buyers-guide/" rel="nofollow">MLOC buyer&#39;s guide</a></p>
<h2><span class="mw-headline" id="Insurance_Check">Insurance Check</span></h2>
<p>Use this site to check whether any car in the UK is insured.</p>
<p><a class="external free" href="http://www.askmid.com" rel="nofollow">http://www.askmid.com</a> </p>
<h2><span class="mw-headline" id="MOT_Check">MOT Check</span></h2>
<p>Use this site to check a cars recent MOT history (dates, mileage).  You need the registration number and V5 document number.</p>
<p><a class="external free" href="http://www.motinfo.gov.uk" rel="nofollow">http://www.motinfo.gov.uk</a></p>

<h2><span class="mw-headline" id="Value_your_car">Value your car</span></h2>

<p>The vehicles covered by the valuation service shall be car models introduced into the UK market during the last 9 years, excluding cars under six months old. Cars outside the age and mileage ranges, some specialist or limited edition vehicles, vehicles in short supply or rare vehicles will not have a value.</p>

<p><a class="external free" href="http://www.virtual-showroom.co.uk/scripts/nuvv/nuvv1.asp?clientId=vauxhall&#38;laf=vauxhall&#38;nuvvpath=b&#38;sessionid=0" rel="nofollow">http://www.virtual-showroom.co.uk/scripts/nuvv/nuvv1.asp?clientId=vauxhall&#38;laf=vauxhall&#38;nuvvpath=b&#38;sessionid=0</a></p>



