<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<ul>
<li class="toclevel-1"><a href="#Elise_S1">Elise S1</a>
</li>
<li class="toclevel-1"><a href="#Exige_S1">Exige S1</a>
</li>
<li class="toclevel-1"><a href="#Elise_S2">Elise S2</a>
</li>
<li class="toclevel-1"><a href="#Exige_S2">Exige S2</a>
</li>
<li class="toclevel-1"><a href="#Further_information">Further information</a>
</li>
</ul>
</ul>
</ul></td></tr></table><hr/>
<h3><span class="mw-headline" id="Elise_S1">Elise S1</span></h3>


<p>All variants have Rover K-series engines.</p>
<p>S1 - K-series with 118bhp</p>
<p>S1 135 - K-series with 135bhp</p>
<p>S1 111S - K-series VVC with 143bhp</p>
<p>S1 Sport 160 - K-series with 160bhp</p>
<p>S1 Sport 190 - K-series VHPD with 177bhp</p>
<h3><span class="mw-headline" id="Exige_S1">Exige S1</span></h3>

<p>Rover K-series VHPD with 177bhp</p>
<h3><span class="mw-headline" id="Elise_S2">Elise S2</span></h3>

<p>Earlier models had Rover K-series engines. Later models from 2004 have Toyota engines.</p>
<p>S2 (inc. Sports Tourer and Race Tech option packs) - K-series with 120bhp</p>
<p>S2 Sport 135 - K-series with 135bhp</p>
<p>S2 Sport 135R - K-series with 135bhp plus track-biased suspension, wheel and tyre upgrades.</p>
<p>S2 Sport 190 - K-series VHPD engine with 190bhp plus track-biased suspension, wheel and tyre upgrades.</p>
<p>S2 111 and 111S - K-series VVC with 156bhp</p>
<p>S2 111R, later called &#34;Elise R&#34; - Toyota 2ZZ-GE engine with 189bhp</p>
<p>S2 &#34;Elise S&#34; - Toyota 1ZZ-GE engine with 134bhp</p>
<p>S2 &#34;Elise SC&#34; - Supercharged Toyota 2ZZ-GE engine with 218bhp</p>
<h3><span class="mw-headline" id="Exige_S2">Exige S2</span></h3>

<p>Exige - Toyota 2ZZ-GE engine with 189bhp</p>
<p>Exige S - Supercharged Toyota 2ZZ-GE engine with 220bhp (2008 variants have 240bhp)</p>
<h3><span class="mw-headline" id="Further_information">Further information</span></h3>
<p><a class="external free" href="http://www.elises.co.uk/models/" rel="nofollow">http://www.elises.co.uk/models/</a></p>
