<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Newbie_mistakes">Newbie mistakes</a>
<ul>
<li class="toclevel-2"><a href="#Garage_Jewelry">Garage Jewelry</a>
</li>
<li class="toclevel-2"><a href="#Tracked_Cars">Tracked Cars</a>
</li>
<li class="toclevel-2"><a href="#BHP.21.21.21">BHP!!!</a>
</li>
<li class="toclevel-2"><a href="#K_Series">K Series</a>
</li>
<li class="toclevel-2"><a href="#Cam_Belt">Cam Belt</a>
</li>
<li class="toclevel-2"><a href="#Toyota">Toyota</a>
</li>
<li class="toclevel-2"><a href="#Tyres">Tyres</a>
</li>
<li class="toclevel-2"><a href="#Speeding">Speeding</a>
</li>
<li class="toclevel-2"><a href="#Diesel">Diesel</a>
</li>
<li class="toclevel-2"><a href="#After_crashing_your_car">After crashing your car</a>
</li>
</ul>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Newbie_mistakes">Newbie mistakes</span></h2>


<p>Common First time Elise owner mistakes.....</p>

<h3><span class="mw-headline" id="Garage_Jewelry">Garage Jewelry</span></h3>

<p>Cars with low mileage are often not all they are &#39;cracked&#39; up to be, quite often they will have old tyres, they go &#39;off&#39; after a few years and turn to stone (not good for handling). </p>
<p>Also servicing is often over looked, yes it is every XX miles <b>OR YEAR</b> and cambelts are every 4 years .</p>

<h3><span class="mw-headline" id="Tracked_Cars">Tracked Cars</span></h3>
<p>Tracked cars are not to be avoided when looking for that &#39;first&#39; Elise, these cars normally receive a better &#39;upkeep&#39; then the average road car and quite often have practical upgrades (e.g upgraded brakes, braided hoses, harnesses and bars, suspension, cams, PRRT, discs, wheels, tyres etc.)</p>
<h3><span class="mw-headline" id="BHP.21.21.21">BHP!!!</span></h3>

<p>The Elise is a lightweight sports car, so less BHP is not always slower.</p>

<ul>
<li>Current Toyota MR2 = 137bhp/ton</li>
</ul>


<ul>
<li>Elise S2 135R = 178bhp/ton</li>
</ul>

<p>A standard S1 with only 118bhp was something like 165bhp/ton. Every single Elise will do the 0-60 sprint in under 6 seconds.</p>

<p>You need to forget about peak bhp, it means nothing. The figure to think about is your power to weight ratio - bhp/ton, try looking at 0-100 times instead of 0-60 times as that is where you&#39;ll see a big difference. </p>
<p>How often do you ever do a standing start? Me? never, It&#39;s usually when you come off a roundabout and accelerate from 40mph.</p>
<p>The 0-60 figure doesn&#39;t tell you anything about real world performance.</p>
<p>Also don&#39;t forget that the Elise is not built for outright straight line power, if this is something you must get an airplane. © Kevin Ritson.</p>
<h3><span class="mw-headline" id="K_Series">K Series</span></h3>

<p><b>BANG!</b> Doom and gloom!!!</p>

<p>By now you would have heard about HGF or head gasket failure.</p>
<p>This is really not as bad as it sounds, you should be more concerned about a suspension refresh.</p>
<p>HGF costs from £600 up to £1000, you will recover that money from the road tax / less petrol costs from the Toyota engines easy.</p>
<p>Some cars never get HGF, but lightning never normally strikes twice due to upgraded Head gaskets and so on.</p>
<h3><span class="mw-headline" id="Cam_Belt">Cam Belt</span></h3>

<p>The Cam Belt change is what ever comes first, either 40k miles (not 54k miles - that&#39;s the gearbox oil) or 4 years. DVO</p>
<h3><span class="mw-headline" id="Toyota">Toyota</span></h3>

<p>These engines are in the 111R and Mk2 Exige&#39;s and then the later Elise S, they are hailed as &#39;reliable&#39; yet there have been known problems like wearing clutches and a few engines going bang because of oil starvation, though this is not common.</p>
<h3><span class="mw-headline" id="Tyres">Tyres</span></h3>

<p>Are you a driving god?</p>
<p>Thought so, well make sure that the tyres fitted to your new Elise are recommended by forum users, the same on all four wheels and don&#39;t have the word &#39;Pirelli&#39; written on them.</p>
<h3><span class="mw-headline" id="Speeding">Speeding</span></h3>


<p>The speed that you are allowed is directly related to your SELOC <a class="external text" href="http://wiki.seloc.org/a/Post_count" rel="nofollow">post count</a>.</p>
<p>Under no circumstances are you allowed over the speed limit if you have less than 1000 posts.</p>
<p>Between 1001 and 2000 posts allows you to go over 10% on motorways dual carriageways only.</p>
<p>2001 to 3000 posts allows you to drive at excessive speeds on all national speed limit roads.</p>
<p>As soon as you have exceeded 3000 posts you are considered to be a driving god, so you are entitled to drive like a complete nutter everywhere.</p>
<h3><span class="mw-headline" id="Diesel">Diesel</span></h3>

<p>As a newbie there is a high probability that you will crash your Elise within the first 6 months of ownership.</p>
<p>When you do this ensure that you blame it on diesel on the road rather than your inability to drive the car properly.</p>
<p>The ensuing onslaught of flaming you will get on the forum and your pathetic attempts at justifying yourself will ensure that your post count increases dramatically so you become closer to becoming a driving god.</p>
<p>Thereafter when you crash again you will gain sympathy rather than flaming.</p>
<h3><span class="mw-headline" id="After_crashing_your_car">After crashing your car</span></h3>

<p>Cut out the middle man &#38; bring it straight round to <a class="external text" href="http://wiki.seloc.org/a/Junks" rel="nofollow">Junks</a> where I will make sure it continues to get the life it deserves rather than prolonging the agony until the post count (see above) reaches an acceptable level.</p>