
<p>Here&#39;s a selection of rolling road results from various elises and europas, all the cars were tested on the same day at Emerald by Dave Walker, most of the cars were also center weighted and the BHP/Tonne and theoretical acceleration figures calculated from there...</p>
<p>Overall weights shown are minus fuel (whatever was left in the tank at 0.737kg/litre)</p>
<p>In no particular order:</p>


<p><b>Hairyduck</b></p>

<dl>
<dd><b>S1</b>
<dl>
<dt>Supercharged and chargecooled honda (link up), a-frame roll bar</dt>
</dl></dd>
</dl>


<dl>
<dd>311 bhp</dd>
<dd>219 lb/ft torque</dd>
</dl>


<dl>
<dd>Bhp/tonne: 410</dd>
<dd>Theoretical 0-60: 3.46</dd>
<dd>Theoretical 0-100: 8.39</dd>
</dl>


<dl>
<dd>Overall weight: 770 kg</dd>
<dd>L front: 150</dd>
<dd>L read: 235</dd>
<dd>R front: 167.5</dd>
<dd>R rear: 239</dd>
<dd>front/back: 40/60</dd>
<dd>left/right: 49/51</dd>
</dl>

<p><b>Norfolk-n-Proud</b></p>

<dl>
<dd><b>S1</b>
<dl>
<dt>N/A Honda (phoenix)</dt>
</dl></dd>
</dl>


<dl>
<dd>217bhp</dd>
<dd>159 lb/ft torque</dd>
</dl>


<dl>
<dd>Bhp/tonne: 284.5</dd>
<dd>Theoretical 0-60: 4.23</dd>
<dd>Theoretical 0-100: 10.74</dd>
</dl>


<dl>
<dd>Overall weight: 775 kg</dd>
<dd>L front: 165.5</dd>
<dd>L read: 225</dd>
<dd>R front: 146</dd>
<dd>R rear: 257.5</dd>
<dd>front/back: 40/60</dd>
<dd>left/right: 47/53</dd>
</dl>


<dl>
<dd>Over-fuelling issues!</dd>
</dl>

<p><b>Firenze</b></p>

<dl>
<dd><b>S2</b>
<dl>
<dt>K series, bp270 cams various other fettling</dt>
</dl></dd>
</dl>


<dl>
<dd>148 bhp</dd>
<dd>129 lb/ft torque</dd>
</dl>


<dl>
<dd>Bhp/tonne: 195</dd>
<dd>Theoretical 0-60: 5.61</dd>
<dd>Theoretical 0-100: 15.23</dd>
</dl>


<dl>
<dd>Overall weight: 771 kg</dd>
<dd>L front: 155.5</dd>
<dd>L read: 243</dd>
<dd>R front: 154</dd>
<dd>R rear: 244</dd>
<dd>front/back: 39/61</dd>
<dd>left/right: 50/50</dd>
</dl>

<p><b>Revolt</b></p>

<dl>
<dd><b>S1</b>
<dl>
<dt>K series, head work, 52mm TB, manifold CRB</dt>
</dl></dd>
</dl>


<dl>
<dd>148 bhp</dd>
<dd>138 lb/ft torque</dd>
</dl>


<dl>
<dd>Bhp/tonne: 207</dd>
<dd>Theoretical 0-60: 5.35</dd>
<dd>Theoretical 0-100: 14.42</dd>
</dl>


<dl>
<dd>Overall weight: 726 kg</dd>
<dd>L front: 155.5</dd>
<dd>L read: 214</dd>
<dd>R front: 149.5</dd>
<dd>R rear: 221</dd>
<dd>front/back: 45/55</dd>
<dd>left/right: 50/50</dd>
</dl>

<p><b>Forge</b></p>

<dl>
<dd><b>Europa</b>
<dl>
<dt>Lotus performance pack (225bhp)</dt>
</dl></dd>
</dl>


<dl>
<dd>187 bhp</dd>
<dd>186 lb/ft torque</dd>
</dl>


<dl>
<dd>Bhp/tonne: 197</dd>
<dd>Theoretical 0-60: 5.56</dd>
<dd>Theoretical 0-100: 14.60</dd>
</dl>


<dl>
<dd>Overall weight: 963 kg</dd>
<dd>L front: 181</dd>
<dd>L read: 315.5</dd>
<dd>R front: 172.5</dd>
<dd>R rear: 322.5</dd>
<dd>front/back: 42/58</dd>
<dd>left/right: 50/50</dd>
</dl>


<dl>
<dd>Major over-fuelling issues!</dd>
</dl>

<p><b>TigerDriver</b></p>

<dl>
<dd><b>S1</b>
<dl>
<dt>4-2-1 Manifold and exhaust</dt>
</dl></dd>
</dl>


<dl>
<dd>132 bhp</dd>
<dd>132.4 lb/ft torque</dd>
</dl>


<dl>
<dd>Bhp/tonne: 182</dd>
<dd>Theoretical 0-60: 5.95</dd>
<dd>Theoretical 0-100: 16.50</dd>
</dl>


<dl>
<dd>Overall weight: 737 kg</dd>
<dd>L front: 144</dd>
<dd>L read: 234</dd>
<dd>R front: 159.5</dd>
<dd>R rear: 227.5</dd>
<dd>front/back: 40/60</dd>
<dd>left/right: 50/50</dd>
</dl>

<p><b>DanMcLean</b></p>

<dl>
<dd><b>S2</b>
<dl>
<dt>Air filter only</dt>
</dl></dd>
</dl>


<dl>
<dd>124 bhp</dd>
<dd>133 lb/ft torque</dd>
</dl>


<dl>
<dd>Bhp/tonne: 168</dd>
<dd>Theoretical 0-60: 6.37</dd>
<dd>Theoretical 0-100: 18.01</dd>
</dl>


<dl>
<dd>Overall weight: 749 kg</dd>
<dd>L front: 150.5</dd>
<dd>L read: 232</dd>
<dd>R front: 148</dd>
<dd>R rear: 232</dd>
<dd>front/back: 39/61</dd>
<dd>left/right: 50/50</dd>
</dl>

<p><b>Evo-Ufo</b></p>

<dl>
<dd><b>S2 Exige</b>
<dl>
<dt>Remapped, lots of carbon</dt>
</dl></dd>
</dl>


<dl>
<dd>177 bhp</dd>
<dd>136 lb/ft torque</dd>
</dl>


<dl>
<dd>Bhp/tonne: 210</dd>
<dd>Theoretical 0-60: 5.29</dd>
<dd>Theoretical 0-100: 13.92</dd>
</dl>


<dl>
<dd>Overall weight: 857 kg</dd>
<dd>L front: 180.5</dd>
<dd>L read: 251.5</dd>
<dd>R front: 162.5</dd>
<dd>R rear: 278</dd>
<dd>front/back: 39/61</dd>
<dd>left/right: 52/48</dd>
</dl>

<p>Over-fuelling issues!</p>

<p><b>AndyMartin2005</b></p>

<dl>
<dd><b>S1 111s</b>
<dl>
<dt>Mods unknown</dt>
</dl></dd>
</dl>


<dl>
<dd>158 bhp</dd>
<dd>134 lb/ft torque</dd>
</dl>


<dl>
<dd>Bhp/tonne: 214</dd>
<dd>Theoretical 0-60: 5.20</dd>
<dd>Theoretical 0-100: 13.88</dd>
</dl>


<dl>
<dd>Overall weight: 749 kg</dd>
<dd>L front: 146</dd>
<dd>L read: 234</dd>
<dd>R front: 161</dd>
<dd>R rear: 233.5</dd>
<dd>front/back: 40/60</dd>
<dd>left/right: 50/50</dd>
</dl>


<dl>
<dd>Over-fuelling issues</dd>
<dd>112db at 5000 rpm</dd>
</dl>

<p><b>Steve Martin</b></p>

<dl>
<dd><b>S1</b>
<dl>
<dt>Headwork, 160 cams, emerald, DTHTBs</dt>
</dl></dd>
</dl>


<dl>
<dd>176 bhp</dd>
<dd>143 lb/ft torque</dd>
</dl>


<dl>
<dd>Bhp/tonne: 256</dd>
<dd>Theoretical 0-60: 4.55</dd>
<dd>Theoretical 0-100: 11.91</dd>
</dl>


<dl>
<dd>Overall weight: 699.4 kg</dd>
<dd>L front: ?</dd>
<dd>L read: ?</dd>
<dd>R front: ?</dd>
<dd>R rear: ?</dd>
<dd>front/back: ?</dd>
<dd>left/right: ?</dd>
</dl>

<p><b>StevenDavidson</b></p>

<dl>
<dd><b>S2 135R</b>
<dl>
<dt>No mods</dt>
</dl></dd>
</dl>


<dl>
<dd>131 bhp</dd>
<dd>117 lb/ft torque</dd>
</dl>


<dl>
<dd>Bhp/tonne: 176</dd>
<dd>Theoretical 0-60: 6.13</dd>
<dd>Theoretical 0-100: 17.12</dd>
</dl>


<dl>
<dd>Overall weight: 758 kg</dd>
<dd>L front: 153.5</dd>
<dd>L read: 239.5</dd>
<dd>R front: 147</dd>
<dd>R rear: 244.5</dd>
<dd>front/back: 38/62</dd>
<dd>left/right: 50/50</dd>
</dl>

<p><b>rmdstanley</b></p>

<dl>
<dd><b>S1</b>
<dl>
<dt>1.9 k series, full rollcage, emerald, TB&#39;s etc</dt>
</dl></dd>
</dl>


<dl>
<dd>211 bhp</dd>
<dd>150 lb/ft torque</dd>
</dl>


<dl>
<dd>Bhp/tonne: 289</dd>
<dd>Theoretical 0-60: 4.18</dd>
<dd>Theoretical 0-100: 10.69</dd>
</dl>


<dl>
<dd>Overall weight: 742 kg</dd>
<dd>L front: 147</dd>
<dd>L read: 234</dd>
<dd>R front: 158.5</dd>
<dd>R rear: 220</dd>
<dd>front/back: 40/60</dd>
<dd>left/right: 50/50</dd>
</dl>
