<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<ul>
<li class="toclevel-1"><a href="#Elises_in_Competition">Elises in Competition</a>
</li>
</ul>
<li class="toclevel-1"><a href="#Elises_in_Open_Series">Elises in Open Series</a>
<ul>
<li class="toclevel-2"><a href="#Britcar">Britcar</a>
</li>
<li class="toclevel-2"><a href="#GT_Cup">GT Cup</a>
</li>
<li class="toclevel-2"><a href="#British_GT">British GT</a>
</li>
<li class="toclevel-2"><a href="#Mid-Engined_Sportscars">Mid-Engined Sportscars</a>
</li>
<li class="toclevel-2"><a href="#Rallycross">Rallycross</a>
</li>
<li class="toclevel-2"><a href="#FIA_GT">FIA GT</a>
</li>
<li class="toclevel-2"><a href="#Other_Series">Other Series</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#One-make_series">One-make series</a>
<ul>
<li class="toclevel-2"><a href="#Autobytel_Elise_Championship">Autobytel Elise Championship</a>
</li>
<li class="toclevel-2"><a href="#Lotus_On_Track_Elise_Trophy">Lotus On Track Elise Trophy</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Elise_Trophy_Season_1">Elise Trophy Season 1</a>
</li>
<li class="toclevel-1"><a href="#Elise_Trophy_Season_2">Elise Trophy Season 2</a>
</li>
<li class="toclevel-1"><a href="#Elise_Trophy_Season_3_and_Lotus_Cup_Europe">Elise Trophy Season 3 and Lotus Cup Europe</a>
<ul>
<li class="toclevel-2"><a href="#External_Links">External Links</a>
</li>
</ul>
</li>
</ul>
</ul></td></tr></table><hr/>
<h3><span class="mw-headline" id="Elises_in_Competition">Elises in Competition</span></h3>


<p>For a car designed primarily for track use, it took a surprisingly long time for Elises to turn up in races.  Cars have either competed in sports racing series, one-make racing, sprinting &#38; hillclimbing.</p>
<h2><span class="mw-headline" id="Elises_in_Open_Series">Elises in Open Series</span></h2>


<h3><span class="mw-headline" id="Britcar">Britcar</span></h3>

<p>Several examples have appeared in this series, set up to offer endurance races for amateurs and professional drivers.  Race lengths vary from 1 to 24 hours.  </p>
<p>Perhaps the most well-known is Simon Scuffham’s yellow Honda-powered Elise, which was often co-driven by Chris Randall.  Even today you will find Lotus entries in Britcar events, such as David Fenn’s heavily tuned K-series Motorsport Elise.</p>

<h3><span class="mw-headline" id="GT_Cup">GT Cup</span></h3>

<p>A recent addition to the motorsport calendar, this series offers GT racing at a fraction of the cost of the British GT series.  </p>
<p>Amongst the Porches and Ferraris that dominate the entry list, a small contingent of Elises and Exiges can be found.</p>

<h3><span class="mw-headline" id="British_GT">British GT</span></h3>


<p>In 2006 the Cadena sport team entered a team of supercharged GT3 Exiges for Gavan Kershaw, Paul and Barry Whight, George McKintosh and Chris Randall.</p>
<p>Run with a power-to-weight-based formula, they were very competitive, despite having to use a control tyre designed for the heavier competition.  In contention for both titles, they took the makes trophy, losing the driver’s crown to Aston Martin at the final round. </p>
<p>They returned the following year with the Exige GT3 concept design and more powerful engines but reliability issues led to the Cadena team joining the Aston Martin ranks.  The car never got to run in the FIA GT series.</p>

<h3><span class="mw-headline" id="Mid-Engined_Sportscars">Mid-Engined Sportscars</span></h3>

<p>Started by the Aston Martin Owners Club, this was a series open to pretty much anything with a mid-mounted engine. Entries included cars from Ferrari, MG, Ariel and even Lee Noble turned up to race with one of his sportscars on occasion. During this time several Lotuses were entered, drivers included Gavan Kershaw, Simon Scuffham, Russ Treasure, David Harvey, George McKintosh, Guy Evans, Sam Blogg, Sean Bicknell, Matt Cummings, Rex Stamp and Michelangelo Segatori.</p>
<p>With heavy participation from Plans Motorsport in both preparation and organisation, the series ran for a few years but cost increases plus a switch to a power-to-weight formula led to a decline in entries and with the new Elise Trophy series attracting would-be Lotus entrants, the series disappeared from the AMOC bill</p>

<h3><span class="mw-headline" id="Rallycross">Rallycross</span></h3>

<p>Believe it or not an Exige successfully competes in Rallycross! </p>
<p>The car has even posted wins with Dave Bellerby, perhaps inspired by the Lancia Stratos rally car.</p>

<h3><span class="mw-headline" id="FIA_GT">FIA GT</span></h3>

<p>The most extreme derivative of the Elise was created for the FIA GT series.</p>
<p>Inspired by the success of the McLaren F1 and in response to the Porsche 911 GT1 and Mercedes CLK GTR, Lotus swapped the Esprit V8 for the Elise GT1, via GT1 Racing.  Julian Thompson, Richard Rackham and Russell Carr were heavily involved with this car, featuring a stretched version of the extruded aluminium chassis.  </p>
<p>A wider bodyshell housed at first a twin turbo V8 engine, derived from the Esprit.  A last-minute change in regulations favouring large capacity normally-aspirated units meant that the car was hastily refitted with a Corvette V8 lump, which was developed by Lotus Engineering.  Run by GT1 Racing for Jan Lammers and Mike Hezemans, there was also a Benetton-sponsored entry (plus a German team at domestic level), however poor results caused by lack of development and poor fuel consumption, followed by another change in the rules adding costs for engine development, spelt an end to the programme.</p>

<h3><span class="mw-headline" id="Other_Series">Other Series</span></h3>

<p>The Castle Combe-based Special GT seres features a very successful Mark Funnell, who has also featured very competitively in the Elise Trophy (see below) at Brands Hatch and Castle Combe.  Mark also races in the LMA Euro Saloon And Sports Car Championship, which has featured several Elises and Exiges including Simon Scuffham&#39;s.  There&#39;s also the Gurston championship with Steve Butts and the Speed Championship with Rob Clarke.  The Time Attack sprint-based series has featured Steve Gugielimi&#39;s modified Elise and of course there are many cars competiting week-in and week-out in sprints and hillclimbs to varying degrees of success.  Most famous of these are the polycarbonate-bodied 340R prototype-based Expose, campaigned by Tony Shute and the Circuit Car, which was built to celebrate 100 years of Shelsley Walsh and became the basis for the 2-Eleven.</p>
<h2><span class="mw-headline" id="One-make_series">One-make series</span></h2>



<h3><span class="mw-headline" id="Autobytel_Elise_Championship">Autobytel Elise Championship</span></h3>

<p>Back in 2000, Lotus created their own race series, which was taken on by the TOCA organisation, which runs the British Touring Car Championship. </p>
<p>Running as part of their bill and in some ways taking the place of the now-defunct Renault Spider series, a specially-built Motorsport Elise, with a tuned engine, fibreglass roof, fastback, aerodynamic appendages and central driving position, would be prepared by Lotus Sport at a cost to the driver of around £60,000 a season.  K-series engines were tuned by Minister and developed 200bhp via a Quaife 5-speed straight-cut &#39;box.</p>
<p>The series ran for two seasons, with 21 cars entered for the opening round and as well as the TOCA rounds, raced at Spa-Francorchamps, Nurburgring and Magny-Cours:</p>
<p><b>2000 Season - Champion: Adam Wilcox</b></p>
<p>Drivers included Spencer Marsh, Mark Fullalove, Paula Cook, Ian Ashley, Hyla Breese, Martin Donnelly and Nick Adams</p>
<p><b>2001 Season - Champion: Mark Fullalove</b></p>
<p>Drivers included Hyla Breese, Spencer Marsh, Ian Ashley, Chris Harris, Nigel Smith, Jerry Mahoney and Julian Rouse</p>
<p>However, the cost of competing, combined with the brief economic downturn at the turn of the century, meant that there were not enough entries to justify continuing the series.  A loss posted by Group Lotus didn’t help matters either and the company pulled out of motorsport.  By this time, the car had evolved into the Series One Exige.</p>
<h3><span class="mw-headline" id="Lotus_On_Track_Elise_Trophy">Lotus On Track Elise Trophy</span></h3>


<p>With the growth of trackdays and the Production BMW series growing out of SELOC, many drivers were keen to race their cars but nervous about making that first step in an unknown series with unknown drivers and no idea how well their car would fare.  Thus the Elise Trophy was born in 2006.</p>


<h2><span class="mw-headline" id="Elise_Trophy_Season_1">Elise Trophy Season 1</span></h2>

<p>With regulations drawn up and a three-class structure covering production-based cars, normally-aspirated and forced-induction modified models, the inaugural season started at Brands Hatch in March 2007.  </p>
<p>With a two-race format, the second was run as a handicap with the average lap time of each competitor calculated to create a ‘grandstand finish’, to enable everyone to have an equal chance of winning.  </p>
<p>Andrew Walsh and Christian Watkins were the winners of those first two rounds and the series moved on to Snetterton, Oulton Park, Brands Hatch, Silverstone National, Castle Combe, Donington and Spa-Francorchamps before returning to Brands Hatch for the final round.  </p>
<p>The mid-season Brands Hatch round was organised within 10 days after being placed on the DTM bill at the last minute.  </p>
<p>The stars of that first season were Gavin Kirby in Class A, Steve Williams in B and Chris Randall in C, however there is no overall championship. The driver of the year was awarded to Gavin Kirby in Class A.</p>
<p>Another coup was the return to racing of ex-Lotus Formula One driver Martin Donnelly, who competed in Class A at Donington and Spa, picking up a win along the way.</p>
<h2><span class="mw-headline" id="Elise_Trophy_Season_2">Elise Trophy Season 2</span></h2>

<p>With Donnelly and Kirby driving the new 2-Eleven model entered in Class B, Class A was heavily fought by Paul Quinn and Mick Edwards.  </p>
<p>Class B became the preserve of Ben Pitch with the creation of the 211 class to cater for the increasing numbers of these cars competing.  Kirby would win most of these as Donnelly was moved to Class C, where he battled with Walsh and Randall, the latter two equal on wins, however Chris competed in less races.  Midway through the season the handicap race was replaced by a reversed top-ten grid for the second event and where the entry and timetable justified, separate grids were run for Class A and B/C/211.</p>
<p>The series visited Brands Hatch, Donington Park, Brands Hatch GP (supporting the A1GP World Cup of Motorsport), Spa-Francorchamps, Oulton Park, Snetterton, Cadwell Park, Silverstone GP (supporting the Britcar 24 Hours), Croft, Silverstone International and Brands Hatch (twice – the second of these a week later supporting the Britcar Night Race).</p>
<h2><span class="mw-headline" id="Elise_Trophy_Season_3_and_Lotus_Cup_Europe">Elise Trophy Season 3 and Lotus Cup Europe</span></h2>


<p>Two big changes for the third season: classes B&#38;C were combined to form a new ‘modified’ class, where all cars would run normally-aspirated, with the exception of Audi-engined cars, which are designed to be turbocharged, and supercharged Toyota cars.  </p>
<p>The 211 class continued and Class A renamed ‘Production’.  The other change was Lotus awarding LoTRDC the rights to run the Lotus Cup Europe, a series that had been in existence in mainland Europe in the past.  </p>
<p>Now featuring two UK rounds at Brands Hatch and Donington, drivers were welcome to compete in both series.  Being Lotus-backed, LCE features three classes, Production, Exige (for Cup 260 Exiges) and 2-Eleven.</p>

<p>The combined calendar will visit the following circuits in 2009:</p>
<p>Silverstone (moved from Donington following circuit licence issues), Brands Hatch GP (supporting A1GP), Anglesey, Zandvoort, Snetterton, Hockenheim, Brands Hatch GP (supporting World Touring Cars), Oulton Park, Donington (supporting F2), Dijon-Prenois, Cadwell Park, Imola (supporting World Touring Cars),  Spa-Francorchamps, Silverstone, Le Mans and Brands Hatch (90-minute race)</p>



<h3><span class="mw-headline" id="External_Links">External Links</span></h3>

<p><a class="external text" href="http://www.elisetrophy.com/LoTRDC" rel="nofollow">LoTRDC</a></p>
<p><a class="external text" href="http://www.lotuscupeurope.com/" rel="nofollow">Lotus Cup Europe</a></p>
<p><a class="external text" href="http://www.britcar24hr.co.uk/cms/news.php" rel="nofollow">Britcar24h</a></p>
<p><a class="external text" href="http://www.gtcup.co.uk/" rel="nofollow">GTcup</a></p>
<p><a class="external text" href="http://www.rallycrossuk.com/index.php" rel="nofollow">Rallycrossuk</a></p>



<p>Article written by Kevin Ritson</p>
