<h2><span class="mw-headline" id="340R">340R</span></h2>


<p>This is the only page in the Techwiki at current about the 340R.</p>


<p>Good buyers advice guide thread:</p>
<p><a class="external free" href="http://forums.seloc.org/viewthread.php?tid=225361" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=225361</a></p>


<h3><span class="mw-headline" id="External_Links">External Links</span></h3>

<p><a class="external text" href="http://www.340r.net/" rel="nofollow">340R.NET</a></p>
<p><a class="external text" href="http://en.wikipedia.org/wiki/Lotus_340R" rel="nofollow">Wikipedia 340R Page</a></p>
<p><a class="external text" href="http://autos.dir.groups.yahoo.com/group/340R/?v=1&#38;t=directory&#38;ch=web&#38;pub=groups&#38;sec=dir&#38;slk=4" rel="nofollow">Yahoo 340R bords</a></p>
<p><a class="external text" href="http://www.pistonheads.com/lotus/340R/car.htm" rel="nofollow">Pistonheads 340R spec page</a></p>
