<h2><span class="mw-headline" id="Torque_settings">Torque settings</span></h2>

<p>Working on your car means you have to torque parts up when you fit them. Using correct torque levels is very important. Bolts will be tensioned when torquing up.<br /><br /></p>
<p><b>Always use a torque wrench when installing parts on your car!</b><br /><br /></p>
<p>Too much tension means the bolt will be stressed too much and can ultimately break.</p>
<p>Not enough tension means the bolt can either run loose or it can move around. This will damage the bolt and it&#39;s brackets. This can ultimately also lead to catastrophic failures.<br /><br /></p>
<p>Only use 8.8 grade bolts in suspension applications. (wishbones, dampers etc.) 10.9 grade or even worse 12.9 grade bolts are hardened. <br /></p>

<p>The hardening process will improve the maximum possible load on the bolt, but it will also make the bolt relatively brittle. <br /></p>

<p>Within suspension parts, you would rather see bolts bend than sheer. 8.8 grade bolts have the tendacy to bend, any hardended bolts have the tendacy to sheer.<br /><br /></p>
<p>Below is a guideline to the torque levels used on Metric bolts.<br />
Bolt grades are printed on the head of the bolt.<br /><br /></p>


<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Bolt Size </th>
<th>8.8 </th>
<th>10.9 </th>
<th>12.9 </th>
<th>A2-70 (Stainless)</th></tr>
<tr>
<td>6mm (M6) </td>
<td>9Nm </td>
<td>13Nm </td>
<td>14Nm </td>
<td>7Nm</td></tr>
<tr>
<td>8mm (M8) </td>
<td>23Nm </td>
<td>33Nm </td>
<td>40Nm  </td>
<td>17Nm</td></tr>
<tr>
<td>10mm (M10) </td>
<td>45Nm </td>
<td>65Nm </td>
<td>70Nm  </td>
<td>33Nm</td></tr>
<tr>
<td>12mm (M12) </td>
<td>80Nm </td>
<td>115Nm </td>
<td>125Nm  </td>
<td>57Nm</td></tr>
<tr>
<td>14mm (M14) </td>
<td>125Nm </td>
<td>180Nm </td>
<td>195Nm  </td>
<td>xx</td></tr>
<tr>
<td>16mm (M16) </td>
<td>195Nm </td>
<td>280Nm </td>
<td>290Nm   </td>
<td>xx</td></tr></table></div>

<p><i>Note than when fitting bolts into Ally threads like rivnuts, manifolds and S1 uprights then the torque needs to be reduced.</i> </p>

<p><b>Special note for Mr. Wiki - This is the thread size, not the head size.</b></p>




<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Engine mount torque settings (K-Series)  </th>
<td>Nm</td></tr>
<tr>
<td>RH engine mounting bracket to engine  </td>
<td>145</td></tr>
<tr>
<td>RH engine mounting bracket to rubber mounting </td>
<td>85</td></tr>
<tr>
<td>RH engine rubber mounting to chassis </td>
<td>45</td></tr>
<tr>
<td>RH engine steady arm bolts </td>
<td>85</td></tr>
<tr>
<td>LH engine mounting bracket to rubber mounting </td>
<td>85</td></tr>
<tr>
<td>LH engine mounting bracket to engine </td>
<td>45</td></tr>
<tr>
<td>Lower steady arm bracket to sump </td>
<td>85</td></tr>
<tr>
<td>Lower steady arm bolts </td>
<td>85</td></tr></table></div>



<p>Use Permabond A130(A912E7033V) on the sump end bolt on the lower steady arm</p>




<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Front suspension torque settings (S2 K-Series)  </th>
<td>Nm</td></tr>
<tr>
<td>Upper and lower wishbone pivot bolts  </td>
<td>45</td></tr>
<tr>
<td>Upper swivel joint to steering arm </td>
<td>55</td></tr>
<tr>
<td>Lower swivel joint to plinth </td>
<td>55</td></tr>
<tr>
<td>Steering arm to hub carrier </td>
<td>45</td></tr>
<tr>
<td>Track rod end to steering arm </td>
<td>30</td></tr>
<tr>
<td>Damper to lower wishbone </td>
<td>45</td></tr>
<tr>
<td>Damper to top anchor bracket </td>
<td>45</td></tr>
<tr>
<td>Damper anchor bracket to chassis </td>
<td>25</td></tr>
<tr>
<td>Hub bearing unit to hub carrier </td>
<td>90</td></tr>
<tr>
<td>Brake caliper to hub carrier </td>
<td>45</td></tr>
<tr>
<td>Anti-roll bar rubber bush mounting clamps </td>
<td>25</td></tr>
<tr>
<td>Anti-roll bar drop links </td>
<td>45</td></tr></table></div>





<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Rear suspension torque settings (S2 K-Series)  </th>
<td>Nm</td></tr>
<tr>
<td>Upper and lower wishbone pivot bolts  </td>
<td>45</td></tr>
<tr>
<td>Upper and lower swivel joint ball pins </td>
<td>55</td></tr>
<tr>
<td>Upper swivel joint plinth to hub carrier </td>
<td>45</td></tr>
<tr>
<td>Toe-link outer ball joint to hub carrier* </td>
<td>74</td></tr>
<tr>
<td>Toe-link inner ball joint/wishbone to sub frame** </td>
<td>74***</td></tr>
<tr>
<td>Toe link ball joint lock nuts </td>
<td>55</td></tr>
<tr>
<td>Damper to lower wishbone </td>
<td>45</td></tr>
<tr>
<td>Damper to chassis </td>
<td>45</td></tr>
<tr>
<td>Upper brake caliper to hub carrier (M10) </td>
<td>45 - 50</td></tr>
<tr>
<td>Lower brake caliper to hub carrier (M8) </td>
<td>26 - 30</td></tr>
<tr>
<td>Hub bearing unit to hub carrier </td>
<td>90</td></tr>
<tr>
<td>Rear hub nut </td>
<td>220</td></tr></table></div>



<p>,*Check batch number of ball joint is 43273 or later</p>
<p>,**Check batch number of ball joint is 43725 or later</p>
<p>,***On 2001 MY cars with VIN serial nos. 0001 to 0041, plus 0056 &#38; 0057, use 45Nm</p>



<p>


</p>