
<div style="page-break-inside: avoid;">
<table cellpadding="0" cellspacing="0" style="clear: right; margin-bottom: .5em; float: right; padding: .5em 0 .8em 1.4em; background: none; width: auto;">
<tr>
<td><table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1"><a href="#Evora_Induction:">Evora Induction:</a>
</li>
<li class="toclevel-1"><a href="#Federal_Evora_Introduction:_March_2010">Federal Evora Introduction: March 2010</a>
</li>
<li class="toclevel-1"><a href="#Evora_S_.28Supercharged.29_new_features_for_base_Evora_.28Non-USA.29:_December_2010">Evora S (Supercharged) new features for base Evora (Non-USA): December 2010</a>
</li>
<li class="toclevel-1"><a href="#Introduction_of_the_Evora_IPS_.28Intelligent_Precision_Shift.29_Non_USA_-_March_2011">Introduction of the Evora IPS (Intelligent Precision Shift) Non USA - March 2011</a>
</li>
</ul></td></tr></table><hr/>
</td></tr></table></div>




<h1><span class="mw-headline" id="Evora_Induction:">Evora Induction:</span></h1>

<p>First deliveries commence June 2009 at ‘09 VIN serial number 0721.</p>
<h1><span class="mw-headline" id="Federal_Evora_Introduction:_March_2010">Federal Evora Introduction: March 2010</span></h1>

<p>VIN character 12 = A; from VIN number AH_10716.</p>
<p>Differences when compared with ROW Evora include:<br />
Different driver and passenger airbags, driver and passenger seats, ABS module incorporates ESP (Electronic Stability Control). Foam inserts behind front and rear bumpers and the addition of side marker lamps. Emergency interior release handle for tailgate. Electrical Sirus satellite system available with ‘Tech Pack’</p>
<h1><span class="mw-headline" id="Evora_S_.28Supercharged.29_new_features_for_base_Evora_.28Non-USA.29:_December_2010">Evora S (Supercharged) new features for base Evora (Non-USA): December 2010</span></h1>

<p>VIN character 7 = S indicates supercharged engines from ‘11MY VIN BH_11178</p>
<p><b>S updates only</b></p>
<p><i>Engine (S only):</i> Harrop HTV1320 supercharger fitted with higher flow fuel injectors, uprated fuel pump, revised spark plugs.<br />
<i>Exhaust system:</i> incorporates an exhaust silencer flap operated by an integrally mounted vacuum by-pass valve.<br />
<i>Cooling:</i> fitted with twin front mounted air/oil coolers,<br />
<i>Body (S only):</i> door mirror covers painted Phantom Black (Lotus code B123) as standard. Rear undertray: Additional integral underside air scoop used in conjunction with existing NACA ducts. New diffuser panel to accommodate distinctive diffuser finisher and tri-oval tailpipe silencer. Addition of the ‘S’ logo to the existing Evora rear bumper badge, Front intake grilles: Front bumper side intake grilles revised and blanking plates removed to allow airflow to the oil coolers.<br />
<i>Brakes:</i> revised ABS module for all models incorporating electronic stability control (also refered to as Lotus DPM). Cross drilled brake discs and black painted callipers fitted to supercharged models as standard.<br />
<i>Suspension:</i> front lower wishbones revised (S only). Front upper wishbones revised (all models). Rear suspension: both upper and lower wishbones revised and rear anti-roll bar diameter increased (S only).<br />
<i>Wheels &#38; tyres:</i> Optional Front 19” Rear 20” Forged alloy Diamond Cut “Design” fitted wheels with Bespoke Pirelli P-Zero Corsa tyres with specially formulated compound identified with an LS marking on sidewall.<br />
<i>Transmission:</i> sports ratio gearbox fitted as standard, lightweight low inertia flywheel and heavy duty clutch (S only). Revised pedal box and clutch master cylinder (all models). Clutch line damper in fluid line, inertia weights fitted to gearbox crank lever selector, new low loss motion and low friction gearshift cables (all models).<br />
<i>Electrical:</i> heated front seats, interior tailgate release button, additonal 12V aux power socket in centre console (all models).<br />
<i>Air bags:</i> Federal airbags and seats carried over to all markets and referred to as ‘Global system’.</p>
<p>See TSB 2010/17 for further information.</p>
<h1><span class="mw-headline" id="Introduction_of_the_Evora_IPS_.28Intelligent_Precision_Shift.29_Non_USA_-_March_2011">Introduction of the Evora IPS (Intelligent Precision Shift) Non USA - March 2011</span></h1>

<p>Introduced from ‘11MY VIN BH_11746</p>
<p>Same vin characters as naturally aspirated Evora</p>
<p><i>Electrical:</i> TCU (Transmission Control Unit) to control IPS transmission.<br />
<i>Transmission:</i> 6 speed U660E conventional fluid filled automatic transmission and torque converter assembly electronically controlled with shift by wire actuator.<br />
<i>Interior:</i> Paddle shifters added to steering wheel, centre console fitted with PRND selelctor.<br />
<i>Cooling:</i> The same front mounted air/oil coolers used on the Evora ‘S’ for engine oil cooling are now used to cool the transmission fluid with the sandwich plate/thermostat assembly now mounted remotely to the rear bulkhead.<br /></p>
<p>See TSB 2011/13 for further information</p>
<p>
</p>