
<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>Number</th>
<th>Elise/Exige</th>
<th>Colour</th>
<th>Sold by</th>
<th>Registered</th>
<th>Owned by</th></tr>
<tr>
<td>49</td>
<td>Exige</td>
<td>Aspen White</td>
<td>Lotus Silverstone</td>
<td>January 2011 (KX60)</td>
<td><a class="external text" href="http://forums.seloc.org/member.php?action=viewpro&#38;member=StuBez" rel="nofollow">StuBez</a></td></tr>
<tr>
<td>93</td>
<td>Exige</td>
<td>Solar Yellow</td>
<td>Frosts Brighton</td>
<td>November 2011 (GN60)</td>
<td><a class="external text" href="http://forums.seloc.org/member.php?action+viewpro&#38;member=Zasker" rel="nofollow">Zasker</a>

</td></tr></table></div>