
<p>SELOC INTERNATIONAL  RESCUE</p>
<p>Listing of Rescue Rangers willing to help selocers in distress
please feel free to add, subtract or amend your entry</p>
<h2><span class="mw-headline" id="United_Kingdom">United Kingdom</span></h2>

<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<td>Area</td>
<td>Member Name</td>
<td>Notes</td></tr>
<tr>
<td>Swindon Area</td>
<td>APRETEXT</td>
<td>Always happy to help anyone who breaks down around the Swindon area.<br />
<pre>Although my help tends to be limited to a few kind words, a quizzical look, and the lending of my tools. And a cup of tea.
</pre></td></tr>
<tr>
<td>Essex</td>
<td>TONYR</td>
<td>We have a reasonably private parking area at home and a good engineer on call in Essex, altough I must warn him of this should it come to fruition!!!</td></tr>
<tr>
<td>Bedfordshire</td>
<td>JONATHANMILLER</td>
<td>Happy to help anyone stuck at the Autodrome in Bedford.</td></tr>
<tr>
<td>Bedfordshire</td>
<td>MGH74</td>
<td>Happy to help anyone in NorthBeds/Northants</td></tr>
<tr>
<td>South West (Falmouth &#38; Padstow, Cornwall)</td>
<td>LECHIFFRE</td>
<td>I would stress that I know fcuk all about anything mechanical but fortunately know a few people who do.</td></tr>
<tr>
<td>Jersey</td>
<td>LAWRENCE5</td>
<td>I&#39;ll take Jersey. ... that said you can walk the entire island in a day</td></tr>
<tr>
<td>Gloucestershire</td>
<td>MISH</td>
<td>Happy to help anyone who gets stuck in Gloucestershire</td></tr>
<tr>
<td>Ammanford, Wales</td>
<td>V4FRP</td>
<td>I can provide translation services for those stuck in the west of Wales, tea, tools of dubious quality and parking space for another wreck in amongst my own wrecks.</td></tr>
<tr>
<td>Bristol</td>
<td>THE_LAD</td>
<td>Happy to help anyone near me, lifts to/from Williams sports cars etc back to civilisation bus stop or town </td></tr>
<tr>
<td>North Lincolnshire (Grimsby)</td>
<td>ARISUTEA</td>
<td>Quite happy to hit someones broken car with a spanner in/around the grubby Northern part of Lincolnshire. Can&#39;t guarantee I&#39;ll make it work again, but I&#39;ll try. Although why the hell you&#39;d be coming here is beyond me (unless going to Cadwell or Blyton, then you are excused).</td></tr>
<tr>
<td>Sittingbourne,  Kent</td>
<td>ELISEMAN</td>
<td>North kent area. Loan of tools, spannering and easy repairs to see you on your way, tea/biscuits and a shoulder to cry on. If you are really stuck I can offer over night secure storage of car/belongings. </td></tr>
<tr>
<td>Cornwall (Helston)</td>
<td>DONKSTER</td>
<td>Sounds like a great idea. I&#39;d be happy to help out if needed, that&#39;s another one for deepest darkest south west...</td></tr>
<tr>
<td>Chelmsford Essex</td>
<td>SMARTBEAR</td>
<td>I have a fairly spacious drive that seloc&#39;ers could abandon their wreckage on. 
<pre>	I promise I won&#39;t remove anything (much) from your car.

</pre></td></tr>
<tr>
<td>Colchester, Essex</td>
<td>PETESNAP</td>
<td>I know sod all about cars, but I can offer a sympathetic ear and a lift to a petrol station/garage if needed.</td></tr>
<tr>
<td>Cornwall</td>
<td>TURNAMERE</td>
<td>I can offer up a little practical nouse, decent selection of well used tools, room for a Lotus on my drive if required along with Paramedic and helicopter winch rescue services for the more extreme emergencies.</td></tr>
<tr>
<td>Knutsford Cheshire</td>
<td>BROOKE BOND</td>
<td>Tea, Tools, driveway &#38; poss trailer access, south Manchester , Cheshire patch</td></tr>
<tr>
<td>Newquay Cornwall</td>
<td>GINGER S1</td>
<td>Happy to help out in Newquay/Cornwall area, have spare bedroom too</td></tr>
<tr>
<td>Southampton area</td>
<td>TRIGGER</td>
<td>F*ck am I helping you twonks !! ..LOL ......</td></tr>
<tr>
<td>Oxfordshire / Warwickshire</td>
<td>MRRIGMA</td>
<td>Happy to assist if I can, have tools and know a few bits and bobs. </td></tr>
<tr>
<td>Northern Ireland</td>
<td>The Persian</td>
<td>Happy to help anyone stuck, Warm garage and tools, plenty of space for cars &#38; bedrooms for driver/passengers.</td></tr>
<tr>
<td>Durham/ Newcastle</td>
<td>JTBush</td>
<td>Loads of tools, inspection pit for work under car and a kettle</td></tr>
<tr>
<td>East Yorkshire</td>
<td>seriouslylotus</td>
<td>Loads of tools, Lots of parts, flat bed trailer, recovery truck with winch (I hope you don&#39;t need the winch</td>
<th>)</th></tr>
<tr>
<td>Leeds</td>
<td>Blinky</td>
<td>Can provide emergency taxi service for 1-4 passengers 1hr radius of Leeds (Golf if wet/more than 1 pax)</td></tr>
<tr>
<td>West Dorset</td>
<td>Jamherber</td>
<td>Good range of tools and knowledge. Access to a garage. A penchant to paint things yellow - you have been warned!</td></tr>
<tr>
<td>Cardiff</td>
<td>Steff</td>
<td>Got tools, garage, cuddly toy and can suck air in between my teeth and tut like an expert.</td></tr>
<tr>
<td>Guildford Area</td>
<td>CHOPPER</td>
<td>Tools and tea available, S1&#39;s only. No S2 bumders :-)</td></tr>
<tr>
<td>North Wiltshire/Gloucestershire</td>
<td>RobC</td>
<td>Extensive set of big hammers, there isn&#39;t much I&#39;ve not fixed/broken/re-fixed on these silly plastic cars</td></tr>
<tr>
<td> </td>
<td> </td>
<td> </td></tr></table></div>

<h2><span class="mw-headline" id="Mainland_Europe">Mainland Europe</span></h2>

<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<td>Area</td>
<td>Member Name</td>
<td>Notes</td></tr>
<tr>
<td>North of the Netherlands<br />
<pre>North west border region of Germany
</pre></td>
<td>MARTEN</td>
<td>I have a trailer with winch, a fully equipped workshop and many spare parts as I&#39;m professionally working on Elise&#39;s</td></tr>
<tr>
<td>Belgium (Francorchamps to Brussels)</td>
<td>THIVA</td>
<td>I live close to the Zolder circuit and might also be able to help people on their way from Francorchamps to Brussels.</td></tr>
<tr>
<td>Lundberg Uppsala Sweden</td>
<td>CAT7 EVEN</td>
<td>I´d be more than happy to assist any selocer who dares to travel North.</td></tr>
<tr>
<td>NRW Area, Germany</td>
<td>TAZ</td>
<td>I can ridicule anyone who breaks down in NRW area and post pictures of their misfortune.</td></tr>
<tr>
<td>Nice / Cap D&#39;Ail / Monaco / Menton</td>
<td>BURT</td>
<td>Happy to help out in Nice / Cap D&#39;Ail / Monaco / Menton area of southern france... even have a freindly French/Canadian mechanic next door that looks after my Loti!!</td></tr>
<tr>
<td>Nice / Cap D&#39;Ail / Monaco / Menton</td>
<td>SDIO</td>
<td>Willing to help if I can (plenty of tools but no garage to do the work).</td></tr>
<tr>
<td>Limousin/Dordogne area of South West France</td>
<td>JERRYTLR</td>
<td>Can probably help a bit with the language, have a 2 post lift, lots of tools, and a car trailer. Also good friends with a local mechanic :-)</td></tr>
<tr>
<td>Tilburg (NL), Eindhoven (NL), Venlo (NL), MonchenGladbach (D) Maastricht (NL), Hasselt (B)</td>
<td>CAPO</td>
<td>I can Help in the South of the Netherlands, North of Belgium, part of Germany. Have tools, have some spare parts (brakepads, driveshafts, softtop, softtop bows, etc), have a dry garage without a lift but with decent stands, etc. and have a couple of companies close by that have most of the parts on stock like starter, alternator, etc.</td></tr>
<tr>
<td>Hamburg, Lübeck - northern Germany - Baltic Sea</td>
<td>felixj</td>
<td>Happy to help anyone stranded in the area. Have most of the tools (albeit spread over both locations), OBD reader, trolley jack, car with tow bar.</td></tr>
<tr>
<td>Bremen, Germany</td>
<td>PORKER</td>
<td>I could cover off support for 100km radius around Bremen Germany. But I know [Censored] all about mechanical stuff. So basically tea and translation services.</td></tr>
<tr>
<td>Munich area, Germany</td>
<td>KORBI</td>
<td>Happy to help anybody out who needs a proper look onto the car, repairs (every tool you&#39;ll need for an Elise), recovery or just a cuppa or a cold beer. SWMBO may sleep in my bed err...flat too, but I&#39;m happy to take you to a hostel though. Munich area and south of it (say, until passo Rombo)
</td>
<td> </td>
<td> </td>
<td> </td></tr></table></div>
