
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Front_clamshell_removed.jpg" title="111R Clamshell removed and sitting on grass!"><img src="Front_clamshell_removed.jpg" alt="111R Clamshell removed and sitting on grass!" title="111R Clamshell removed and sitting on grass!" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">111R Clamshell removed and sitting on grass!</div></div>
</div>

<p>
The front clamshell is a bonded assembly of several glass fibre composite mouldings incorporating both front wings, the front access aperture, radiator air intake and headlamp housings. The clamshell is secured to the windscreen frame, radiator mounting panel and other panels using threaded fasteners for ease of removal and to facilitate service access and body repair.</p>
<p>This article provides a step-by-step procedure to facilitate in the removal of the front clamshell to enable maintenance work to be carried out.</p>
<p>The time required is very dependant upon your competence with a spanner and how rusty the bolts are holding the clamshell on.  However, SELOC members have commented on timescales of <a class="external text" href="http://forums.seloc.org/viewthread.php?tid=67321&#38;page=1#pid2024244" rel="nofollow">under half an hour</a>!</p>
<p>The procedure is relatively simple given the fact your dismantling the front of your car.  Only a few basic tools are required but a slow, methodical approach is highly recommended.</p>


<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Procedure">Procedure</a>
</li>
<li class="toclevel-1"><a href="#Top_Tips">Top Tips</a>
</li>
<li class="toclevel-1"><a href="#Whilst_She.27s_Off">Whilst She&#39;s Off</a>
</li>
<li class="toclevel-1"><a href="#External_Links">External Links</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Procedure">Procedure</span></h2>
<p><b>1. Remove both <a href="http://wiki.seloc.org/a/Access_panel" title="Access panel">front body access panels</a></b></p>
<p><b>2. Remove both front wheelarch liners</b>

                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Remove_front_clamshell_step_2b.jpg" ><img src="Remove_front_clamshell_step_2b.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Nearside wheelarch liner has a couple of electrical components bolted to it</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Remove_front_clamshell_step_2c.jpg" ><img src="Remove_front_clamshell_step_2c.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Just loosen the liner on the nearside</p>
                    </div>
                </div>
                </p>

<ul>
<li>Before you can do this the car needs to be raised and supported on the <a href="http://wiki.seloc.org/a/Jacking_points#Front" title="Jacking points">two front jacking points</a>.</li>
<li>It is not necessary to completely remove the nearside liner.  It has a relay and fuse box bolted to it and these would need to be removed first (they are not on a clip like the offside).  Easier to just looses its fixing bolts for access to the clamshell securing bolts.</li>
</ul>

<p><b>3. <a href="http://wiki.seloc.org/a/Door_hinge_cover_panel" title="Door hinge cover panel">Remove both door hinge cover panels</a></b>

                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Remove_front_clamshell_step_3a.jpg" ><img src="Remove_front_clamshell_step_3a.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Don't obscure the panels lower bolt access holes</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Remove_front_clamshell_step_3b.jpg" ><img src="Remove_front_clamshell_step_3b.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Amazing how much crap gathers within the panels</p>
                    </div>
                </div>
                </p>

<ul>
<li>If you use boxes of paper to support the car make sure the access holes for the panel are not obscured!</li>
<li>It is not absolutely necessary to remove these panels.  All you really need to do is remove the foremost, and slacken the rearmost, of the two screws securing the door hinge cover panel to the clamshell.</li>
</ul>

<p><b>4. Via each door aperture, remove the single fixing securing a bracket at the top rear corner of the clamshell to the base of the windscreen pillar</b>

                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Remove_front_clamshell_step_4a.jpg" ><img src="Remove_front_clamshell_step_4a.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Easy access for the ratchet on this one</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Remove_front_clamshell_step_4b.jpg" ><img src="Remove_front_clamshell_step_4b.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>The bolt has a 5mm Hex head</p>
                    </div>
                </div>
                </p>
<p><b>5. Remove the fixing at each side securing the clamshell to the bottom of the windscreen frame, and the two nuts securing the clamshell spine to the wiper motor bracket extension</b>

                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Remove_front_clamshell_step_5a.jpg" ><img src="Remove_front_clamshell_step_5a.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Perhaps the easiest bolts to remove in the whole job!</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Remove_front_clamshell_step_5b.jpg" ><img src="Remove_front_clamshell_step_5b.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Slightly harder to access these bolts but still very manageable</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Remove_front_clamshell_step_5c.jpg" ><img src="Remove_front_clamshell_step_5c.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>There are two 10mm bolts and washers to remove here</p>
                    </div>
                </div>
                </p>
<p><b>6. Remove the single fixing at the bottom front of each wheelarch, securing the clamshell to the radiator panel extension</b>

                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Remove_front_clamshell_step_6a.jpg" ><img src="Remove_front_clamshell_step_6a.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Easy access with the ratchet and 8mm socket</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Remove_front_clamshell_step_6b.jpg" ><img src="Remove_front_clamshell_step_6b.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Note the large washer used on this fixing</p>
                    </div>
                </div>
                </p>
<p><b>7. <a href="http://wiki.seloc.org/a/Remove_the_headlamp_cover" title="Remove the headlamp cover">Remove the headlamp cover</a>/mask assembly from each side.  Remove the clamshell fixing at the front of each headlamp housing.  Release the headlamp harnesses, and feed through the clamshell hole</b>

                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Remove_front_clamshell_step_7a.jpg" ><img src="Remove_front_clamshell_step_7a.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Remove the thee, 5mm hex head, bolts from within the wheelarch securing the mask assembly</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Remove_front_clamshell_step_7b.jpg" ><img src="Remove_front_clamshell_step_7b.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Note the top both has a washer to spread the load</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Remove_front_clamshell_step_7c.jpg" ><img src="Remove_front_clamshell_step_7c.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>5mm hex head again with short extension bar</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Remove_front_clamshell_step_7d.jpg" ><img src="Remove_front_clamshell_step_7d.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>These are the same bolts as used in step 5</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Remove_front_clamshell_step_7e.jpg" ><img src="Remove_front_clamshell_step_7e.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Force the rubber grommet and wires back through the clamshell</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Remove_front_clamshell_step_7f.jpg" ><img src="Remove_front_clamshell_step_7f.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Just leave them dangling within the wheelarch</p>
                    </div>
                </div>
                </p>
<p><b>8. Beneath the nose, release the screws fixing the front lower edge of the clamshell to the alloy undertray</b>

                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Remove_the_front_undertray_step_1.jpg" ><img src="Remove_the_front_undertray_step_1.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Use a 8mm socket for removing the three bolts</p>
                    </div>
                </div>
                
</p>
<ul>
<li>I went further and actually <a href="http://wiki.seloc.org/a/Remove_the_front_undertray" title="Remove the front undertray">removed the front undertray</a>.  It&#39;s not necessary for removal but you&#39;ll struggle to put the clam back on with the front undertry still in place.</li>
</ul>

<p><b>9. Lift the clamshell from the car.  Note any spacing washers or shims fitted at any fixing point</b>

                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Remove_front_clamshell_step_9a.jpg" ><img src="Remove_front_clamshell_step_9a.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>What it looks like</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:Remove_front_clamshell_step_9b.jpg" ><img src="Remove_front_clamshell_step_9b.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>The clamshell off the car</p>
                    </div>
                </div>
                
</p>
<ul>
<li>Some additional actions required before attempting to lift the clamshell from the car not listed in the original instructions.</li>
<li>Unplug the wires going to the alarm switches on both front access cover panels.</li>
<li>Remove and unplug both indicators from the clamshell.</li>
</ul>


<p>The plastic screws sometimes will not come out so just carefully pry them out rather than unscrew (if they don&#39;t unscrew that is).  You may need to replace some of these.</p>

<p>Just take your time and think about what you are doing and it will be fine.</p>
---Notes/differences for the 2007-on Elise &#34;S&#34;---

<p>1. No electrical boxes on the clam (ergo, easier to pull the whel lining out to make more space to work)</p>
<p>2. Most fittings were for an 8mm or 10mm socket</p>
<p>3. Not necessary to remove the door hinge cover panels but its very easy to do so</p>
<p>4. The 07 model (and possibly models thereafter), have a different headlamp arrangment to the one in the wiki. In the 07 &#34;s&#34;, there are 3x17mm nuts and one 8mm nut to remove. You then disconnect the plugs, and push the whole unit out of the clam, resting it back in place when removed. </p>
<p>5. In addition to the single 10mm fixing at the bottom front of the clam, there is a 5mm Hex head nut underneath the bottom of the headlight unit.</p>


<h2><span class="mw-headline" id="Top_Tips">Top Tips</span></h2>

<ul>
<li>Remove driving lights. With them in place the clam can get hung up on the lights as the opening tapers to a smaller size. Can damage/crack the clam when removing.</li>
<li>Never lift the clamshell from the car by yourself, you’ll crack it.  Always get someone else to help and lift via the wheel arches</li>
<li>The awkward bolts are those just behind the wheels that require the inner wheel arch to be pulled out to get access.</li>
<li>Watch for the adjustment rivets between clamshell and mounting points (around the lid-aperture). Put them back where they were for alignment.</li>
<li>When you get them back in at the end, don&#39;t push the rawlnuts through the holes, they will stay rolling around in the sill forever !</li>
<li>Before refitting, <a href="http://wiki.seloc.org/a/Remove_the_front_undertray" title="Remove the front undertray">remove the front undertray</a> to make it easier to align the clam without having to worry about getting it &#39;under&#39; the aluminium tray.</li>
<li>Watch the towing bar eye doesn&#39;t get caught on the plastic grills.</li>
<li>This picture shows all of the clam attachments to help with which bolts go where when reassembling. Note that the numbers do NOT correspond with the steps above.</li>
</ul>
<p><a class="image" href="http://wiki.seloc.org/a/Image:S2_Front_Clam_Attachments_small.jpg" ><img src="S2_Front_Clam_Attachments_small.jpg" width="220" />
</a></p>
<h2><span class="mw-headline" id="Whilst_She.27s_Off">Whilst She&#39;s Off</span></h2>
<p>Other jobs whilst the clam is off:
</p>
<ul>
<li><a href="http://wiki.seloc.org/a/Resistor_pack" title="Resistor pack">replace or relocate the cabin blower resistor pack</a></li>
<li><a href="http://wiki.seloc.org/a/Replace_the_radiator_%26_cooling_fans" title="Replace the radiator &amp; cooling fans">replace the radiator &#38; cooling fans</a></li>
<li><a href="http://wiki.seloc.org/a/Replace_the_horn" title="Replace the horn">replace the horn</a></li>
<li>replace all standard bolts &#38; washers with stainless steel. Visit Speedy Fasteners <a class="external text" href="http://www.speedyfasteners.com" rel="nofollow">Speedy Fasteners Web Site</a> or <a class="external text" href="http://stores.ebay.co.uk/Speedy-Fasteners" rel="nofollow">Speedy Fasteners eBay Site</a>.</li>
</ul>

<h2><span class="mw-headline" id="External_Links">External Links</span></h2>
<p><a class="external free" href="http://www.sandsmuseum.com/cars/elise/experience/maintenance/frontclam/clamremoval.html" rel="nofollow">http://www.sandsmuseum.com/cars/elise/experience/maintenance/frontclam/clamremoval.html</a></p>
<p><a class="external free" href="http://www.lotus-elise.nl/Mods/Clamshell/clamshell.html" rel="nofollow">http://www.lotus-elise.nl/Mods/Clamshell/clamshell.html</a></p>
<p><a class="external free" href="http://freespace.virgin.net/adrian.rose/clamnotes.htm" rel="nofollow">http://freespace.virgin.net/adrian.rose/clamnotes.htm</a></p>
<p>


</p>