
<p>The <b><a href="http://wiki.seloc.org/a/Radiator" title="Radiator">aluminium cored radiator</a></b> is positioned horizontally on top of the composite &#39;crash structure&#39; in the front service compartment.  A composite moulding is used to mount the radiator, and also, via extensions at each side, to provide a mounting point for the inside front of the clamshell wheelarch.  The radiator must be removed for access to the cooling fan(s).</p>
<p><b>1. <a href="http://wiki.seloc.org/a/Remove_the_front_clamshell" title="Remove the front clamshell">Remove S2 front clamshell</a></b></p>
<p><b>2. Drain the coolant and disconnect the feed and return hoses from the radiator</b>
</p>
<ul>
<li>You don&#39;t need to drain the whole cooling system, better to just undo the inlet and outlet hoses and catch the coolant in a bucket.</li>
</ul>
<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:_Replace_the_radiator_step_2a.jpg" ><img src="_Replace_the_radiator_step_2a.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Looking down onto the inlet pipe where bleed screw is located (MY04 Elise!)</p>
                    </div>
                </div>
                </p>
<p><b>3. Release the two fixings securing each water shield to the top rear edge of the radiator mounting panel, and withdraw both shields</b>

                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:_replace_the_radiator_step_3a.jpg" ><img src="_replace_the_radiator_step_3a.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>This photo shows the water shield removed</p>
                    </div>
                </div>
                </p>
<p><b>4. Release the tie wraps, and unplug the rad. fan harness connector(s)</b></p>
<p><b>5. Release the single fixing at the bottom of each side extension securing the mounting panel to the bottom flange of the crash structure</b></p>
<p><i>NOTE: The procedure documented in the Lotus service notes describes removing the mounting panel to replace the radiator.  This it not necessary and it is possible to remove the radiator with the mounting panel in place.  This avoid having to remove the front harness wire as well</i>
</p>
<ul>
<li>Step not taken.</li>
</ul>

<p><b>6. Release the three fixings securing the back edge of the mounting panel to the vertical flange on the crash structure, and three fixings along the front edge of the panel</b>
</p>
<ul>
<li>Step not taken.</li>
</ul>

<p><b>7. Release the four fixings securing the radiator to the mounting panel, and withdraw the panel from the radiator</b>
</p>
<ul>
<li>There are four &#39;s&#39; shaped brackets that hold the radiator in place.</li>
</ul>
<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:_replace_the_radiator_step_7a.jpg" ><img src="_replace_the_radiator_step_7a.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>One of the rear brackets holding the radiator to the mounting panel</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:_replace_the_radiator_step_7b.jpg" ><img src="_replace_the_radiator_step_7b.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>10mm spanner for this job</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:_replace_the_radiator_step_7c.jpg" ><img src="_replace_the_radiator_step_7c.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>The front brackets are secured to the mounting panel here</p>
                    </div>
                </div>
                </p>
<p><b>8. Withdraw the radiator and cooling fan assembly.  On AC cars, lift the radiator/condenser assembly only sufficiently to release the cooling fans or radiator as required, without disconnecting the refrigerant circuit</b>

                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:_replace_the_radiator_step_8a.jpg" ><img src="_replace_the_radiator_step_8a.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Car void of radiator!</p>
                    </div>
                </div>
                
</p>
<ul>
<li>The radiator is removed with the fans still attached.</li>
</ul>

<p><b>9. Release the fan motor from the radiator by removing the four nuts securing the fan shroud to the mounting brackets riveted to the radiator frame.  Withdraw the fan harness through the mounting panel grommet</b>
</p>
<ul>
<li>Here the fan tray can be seen attached to the underside of the radiator.</li>
<li>The replacement Eliseparts radiator had to be drilled in order to take the fan tray assemble and mounting brackets.</li>
</ul>
<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:_replace_the_radiator_step_9a.jpg" ><img src="_replace_the_radiator_step_9a.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Underside of radiator with fan tray attached</p>
                    </div>
                </div>
                </p>
<p><b>10. Remove the four screws securing the radiator to the mounting panel</b>
</p>
<ul>
<li>Step not taken!</li>
</ul>

<p><b>11. Refit the radiator in reverse order to removal and <a href="http://wiki.seloc.org/a/Replace_the_coolant" title="Replace the coolant">refill with coolant and bleed</a></b>
</p>
<ul>
<li>The Eliseparts radiator had to be modified to fit the Elise, see below</li>
<li>Make sure the jubilee clips are tight before fitting the clam back on</li>
<li>Always verify the radiator is fitted correctly before refitting the front clam</li>
</ul>

<p>Notes/differences for the 2007-on Elise &#34;S&#34;:</p>
<p>1. The crash structure is different to the one above, and you don&#39;t need to pull out the entire radiator and fan system (in fact you can&#39;t do this if you have a/c)</p>
<p>2. There are were a couple of tricky bolts to undo on either side underneath the crash structure - these were at the front and seemed to connect the crash structure to the bottom of the car and a/c radiator. You have to work from the front and underneath to get at these. It helps if you are double jointed!</p>
<p>3. I found it easier to unbolt the crash pod around the radiator. It was only a few bolts, but gave just that little bit of lateral movement to get the old radiator out.</p>
<p>4. The Eliseparts Pro Alloy Upgrade Radiator is a perfect match for the old one. However, there is a bolt that comes up through the a/c radiator at the front of the crash structure which is almost impossible to get at without pulling the whole assembly out (have to be careful here because of the a/c lines). </p>
<p>You can pull the old radiator out over the top of these bolts, but getting the new one back in over the top is very hard. To make this easier, we just cut out the bolt holes on the radiator and slotted them into place. Be careful when you reinstall the &#34;s&#34; brackets on the radiator fitting - it is very important to make sure they are bolted on the right way, as there are different angles on each end of the bracket.</p>

<h2><span class="mw-headline" id="New_Radiator_Modifications">New Radiator Modifications</span></h2>
<p>The <a class="external text" href="http://www.eliseparts.com" rel="nofollow">Eliseparts</a> hi-pressure radiator comes with only a couple of pre-drilled hole for securing to the mounting panel.  Further holes need to be made to take the mounting brackets and fan tray assembly.</p>
<p>The simplest approach was to align the new radiator on top of the old OEM radiator and drill through.  The holes do not have to be exact as there is allowable movement in mounting points on the panel.</p>
<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:_replace_the_radiator_step_9b.jpg" ><img src="_replace_the_radiator_step_9b.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>New</p>
                    </div>
                </div>
                </p>

<ul>
<li>Speedy Fasteners sell a Radiator kit to replace all fixings with stainless steel <a class="external text" href="http://www.speedyfasteners.com" rel="nofollow">Speedy Fasteners Web Site</a> or <a class="external text" href="http://stores.ebay.co.uk/Speedy-Fasteners" rel="nofollow">Speedy Fasteners eBay Site</a>.</li>
</ul>



<p>



</p>