
<div style="page-break-inside: avoid;">
<table align="right" cellpadding="2" cellspacing="0" class="infobox" font="3" rules="rows" style="font-size:85%; width:25em; border-collapse:collapse; border:1px solid black;">
<tr style="background:LightBlue;">
<td align="center" colspan="2" style="font-size: larger;"><b>Time &#38; Tools</b></td></tr>
<tr>
<th>Time:</th>
<td>1 hour to remove rack</td></tr>
<tr>
<th>Tools:</th>
<td>17mm deep socket / 17 mm spanner to release track rod end, 13mm socket, 17mm socket, ratchet, numerous extension bars, 13mm spanner, 32mm spanner, 36mm spanner, 5mm allenkey, chisel and hammer (to remove rivnut), drill, 2.5mm and 3mm drill bits,  vice</td></tr></table></div>

<p>Reading the factory manual will have you believing that it&#39;s just undo a couple of bolts and bosh, out it comes.</p>
<p>Err, no. Be prepared to be very uncomfortable:</p>

<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Removal">Removal</a>
<ul>
<li class="toclevel-2"><a href="#S1">S1</a>
</li>
<li class="toclevel-2"><a href="#S2">S2</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Reconditioning">Reconditioning</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Removal">Removal</span></h2>
<h3><span class="mw-headline" id="S1">S1</span></h3>
<p>First, loosen the front wheel nuts then jack up the front of the car and place on axle stands. Leave a good amount of space at least on one side as you need room to withdraw the rack.</p>
<p>Remove the front wheels.</p>
<p>Now you need to split the track rod ends from the steering arms. Slacken the nuts off to the end of the thread. At this point, it&#39;s worth giving the nut a whack upwards with a copper mallet, as this is sometimes enough to free the joint without reaching for your balljoint splitter. If this doesn&#39;t work, you&#39;re best to use a scissor-type splitter to free the joint.</p>
<p>Now, with both track rod ends released you need to free the bottom steering column UJ from the rack pinion. To do this, first mark the rack pinion in relation to the bottom UJ. I used a dab of tippex (cos it has a handy brush in the lid!). This will help you get the two parts joind back together again afterwards in such a way that hopefully the steering wheel still points in the right direction! Now remove the bottom pinch bolt (13mm) from the bottom UJ. You&#39;ll need to get a 13mm spanner on the nut to stop it turning with the bolt.</p>
<p>Now you can remove the 4 bolts that hold the steering rack to the bulkhead. There&#39;s two on the bulkhead on the passenger side, and 2 on the bulkhead on the driver&#39;s side. The bottom ones need a 13mm socket, the top ones are 17mm socket. I used 2 12&#34; extensions and a 6&#34; extension on the sockets so I could sit in the seats and do it in relative comfort without being upside down in the footwells. Once you&#39;ve cracked the bolts off and start undoing them, you may find that they&#39;re quite hard to turn until they&#39;re almost out. This is because they are coated in threadlock and is quite normal.</p>
<p>WIth the bolts out, you should be able to wiggle the rack towards the front of the car a bit, and then wiggle the bottom steering column UJ so that it comes off the rack pinion and you can swing it out of the way.</p>
<p>I then pulled out the rubber grommet around the hole in the bulkhead that the pinion comes through, as this will give you a bit more room in a minute.</p>
<p>Theory goes you should now be able to push the rack towards the front of the car so the pinion clears the bulkhead hole, then slide the rack out.</p>
<p>However, no amount of wiggling back and forth worked on mine. The problem is a rivnut on the front face of the steering rack channel that prevents the rack moving far enough forwards to clear the bulkhead. If you look in the front services compartment, you&#39;ll see it just above the outlet from the heater motor. This rivnut isn&#39;t needed on right hand drive cars.</p>
<p>I used a sharp chisel to knock the front face off it (in the front services compartment). Then a long screwdriver and a healthy whack to the back of it down the steering rack channel got rid of it.</p>
<p>You should now be able to get in the footwell and tilt the steering rack pinion upwards and it should just clear the hole in the bulkhead. Then just withdraw the rack along the channel.</p>
<h3><span class="mw-headline" id="S2">S2</span></h3>
<p>No different to S1 described above for me, apart from there is no need to remove the rivnut, just ask for someone to help you twist it out, it will come.</p>
<h2><span class="mw-headline" id="Reconditioning">Reconditioning</span></h2>
<p>The rack is made by <a class="external text" href="http://www.titan.uk.net" rel="nofollow">Titan Motorsport</a>, and they will sell all parts to the public on the condition of a £25 minimum order value. And to be honest, they are very helpful too!</p>
<p>I removed my rack as there was play, which I suspected to be the nylon cups at the inner end of each track rod.</p>
<p>I ordered 2 of the cups (£3.50 each), 2 of the springs that sit behind the cups (£ ), 2 of the locking pins that lock the cups to the locking nuts (£ each), and 2 gaitors (£4.50 each).</p>
<p>[From Titan Motorsport, March 2007: A1161611200A3 - £3.35EA - Nylon shoes, A1161610900A3 - 52p - Spring, A1161916700A3 - 28p - Locking Pin.  Note: There is a minimum charge fee of £25]</p>
<p><a class="external text" href="http://www.manser42.freeserve.co.uk/Steering%20rack%20parts.jpg" rel="nofollow">Steering Rack overhaul common parts</a></p>
<p>This seems to be the most common cause of play in the rack.</p>

<p><a class="external text" href="http://www.manser42.freeserve.co.uk/Elise%20Steering%20rack.pdf" rel="nofollow">Steering Rack exploded view courtesy of Titan Motorsport</a></p>

<p>You will need to source grease to re-build your rack.  The &#34;rocol MTS1000&#34; is now know as &#34;rocol Sapphire hi-pressure bearing grease&#34; and the &#34;scheerol mpt2 grease&#34; is actually called &#34;spheerol mp2&#34;.  I sourced this from RS but there are other places that sell them.  Note 400g is a lot but that was all they had at the time I ordered.</p>
<pre>  RS Stock No. Qty Unit Price Goods Value Description 
  198-3136 1 £2.82 £2.82 Spheerol MP2 bearing grease,400gm 
  330-6288 1 £14.15 £14.15 Sapphire hi-pressurebearing grease,400gm 
  288-4793 1 £6.00 £6.00 Pocket spring balance w/hook &#38; ring,30kg 
 Running Total £22.97   
 Delivery charge £4.95   
 VAT £4.19                  Order total £32.11   
</pre>

<p>Start by removing the cable ties that hold the gaitors on and sliding the gaitors back to the track rod ends (I left the track rod ends in situ, the theory being the tracking wouldn&#39;t be too far out when I put it back together).</p>
<p>This exposes the inner ends of the track rods and the cup joint that they sit in.</p>
<p>You will see that the cup joint has a locknut. Between the lock nut and cup joint body there is a small locking pin (roll pin) that needs to be carefully drilled out (using a 2.5 / 3mm drill bit).</p>
<p>Once the locking pin it removed, it should be possible to (carefully) clamp the rack bar in a vice and undo the locknut using a 32mm spanner.</p>
<p>Once the locknut is released, the cup joint will unscrew from the end of the rack.</p>
<p>Remove the cup joint noting the nylon cup and spring that are in there.</p>
<p>Repeat for the other track rod.</p>
<p>Upon reassembly the two joints should be tightned to a point where a load of 3 to 4 Kg, applied 152mm down the track control arm from the centre of the ball in the joint (ie right near the end), is required to move it. Lock at this point, re-drill, and pin. A centre punch on the end of the locking pin will spread it slightly, securing it. </p>
<p>At this point, I&#39;d noticed that my rack preload seemed far to loose, in that I could turn the pinion shaft with just my finger and thumb, and that when I did this the rack, to my mind, sounded &#34;noisy&#34;. There was also one point in the travel where it went &#34;tight&#34;.</p>
<p>I made the decision to strip down the rack and re-lube it.</p>
<p>First step in doing this is to remove the pinion. To do this, first undo the Rack Bar Thrust Pad bolt locking nut using a 36mm spanner, then back out the thrust pad bolt using a 5mm allen key. Then remove the circlip that holds the pinion assembly in, and then use your vice and suitable sockets to press it out of the rack body.</p>
<p>You can then carefully withdraw the rack from the end of the rack body.</p>
<p>After a bit of cleaning and degreasing, I found that the internals were pretty much fine, with the exception of a marked tooth on the rack which was causing the tight spot I&#39;d noticed. I just dressed this with a fine file.</p>
<p>Upon reassembly the Rack Bar Thrust Pad should be adjusted to give a preload that allows a horizontaly mounted rack to be pulled along its entire length by a force of 50 - 70 N.



</p>