
<p>This guide by <a href="http://wiki.seloc.org/a/Http://forums.seloc.org/m/Janitor_Janitor" title="Http://forums.seloc.org/m/Janitor Janitor">http://forums.seloc.org/m/Janitor Janitor</a> outlines the steps required to fit <a href="http://wiki.seloc.org/a/HID" title="HID">HID</a> headlights to an S2. There are different versions of the kit, but the principles remain pretty much the same.</p>
<p>The 1st step is to remove the front wheels – clear and easy access is the only way to go. Observe recommended <a href="http://wiki.seloc.org/a/Jacking_points" title="Jacking points">jacking points</a> and safety here. Once wheels are removed, start on the front section of the wheel arch liner. I’m not personally familiar with fixings and methods before the MY06 models, but I think they may differ slightly</p>
<h2><span class="mw-headline" id="Procedure">Procedure</span></h2>
<p><b>1. <a href="http://wiki.seloc.org/a/Remove_the_headlamp_cover" title="Remove the headlamp cover">Remove the headlamp cover</a></b></p>
<p><b>2. Fit new Xenon bulbs</b>

                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:hid_installation_6.jpg" ><img src="hid_installation_6.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Note how the lugs on the bulb base locate in designated positions on the housing</p>
                    </div>
                </div>
                
Unplug, unclip and remove the existing dipped headlight bulb and install the HID bulb. I chose to do this first of all so that it’s safely stowed and kept clean whilst you’re sorting the cabling. Due to the lack of easy access, placing the HID tube into the holder is difficult, but be patient and avoid touching the bulb itself with fingers. (It can be cleaned with alcohol &#38; lint-free cloth if accidental contact is made)</p>
<p><b>3. Trim grommet</b>

                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:hid_installation_7.jpg" ><img src="hid_installation_7.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                
Next up, poke through the rubber grommet from inside (1) and trim the inner edge a little (2) to free things up a little for when it comes to pushing the HID bulb cable connectors through. Take much care here – don’t cut the cables or yourself and remember that your precious paintwork is barely a couple of inches away!</p>
<p><b>4. Thread cables</b>

                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:hid_installation_8.jpg" ><img src="hid_installation_8.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:hid_installation_9.jpg" ><img src="hid_installation_9.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>New cables & connectors viewed from inside the arch</p>
                    </div>
                </div>
                
Thread all the appropriate connectors through the grommet (1) and refitting the grommet is best done by poking the whole thing through the hole in the clam and manipulating back into place from the inside of the arch. Attach the HID unit feeds to the original headlight bulb connectors (2) and tape them up for insulation and a little extra mechanical fastening (3). Tuck excess cable neatly away under the cable entry point away from the bulb housing and the hole for the glass fixing bolt (4)</p>
<p>(Note that the grommet supplied on the replacement HID bulb cables is not needed in this case. Either remove or carefully slide it up to the existing entry grommet as an extra drip-break)</p>
<p><b>5. Power on test</b>

                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:hid_installation_11.jpg" ><img src="hid_installation_11.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>The Ballast</p>
                    </div>
                </div>
                
Take this opportunity to connect the HID feeds or ‘ballasts’ and run a quick power-up test – there is really only one way this kit can go together (unless you’re trying really hard!) and it beats stripping everything apart again afterwards should something not be quite right!</p>
<p><b>6. Secure ballast</b>

                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:hid_installation_10.jpg" ><img src="hid_installation_10.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Bracket for fixing ballast</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:hid_installation_12.jpg" ><img src="hid_installation_12.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Ballast in place</p>
                    </div>
                </div>
                </p>
<p>Being unsure exactly what is what under there, I found it tricky to locate a safe &#38; secure place into which I felt confident of tapping screws for mounting the ballasts. There are twin oil-coolers on the SportsRacer and not knowing what was behind any other panels, I elected to utilise the supplied bracket and then a ‘known’ fixing.  One 10mm socket later and all was firmly attached to one of the light unit mount bolts (not the glass securing bolts!). This is ideal as it is away from all other components and pipes etc whilst not interfering when arch liner is refitted.</p>
<p><b>7. Refit sidelight bulbs</b>

                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:hid_installation_13.jpg" ><img src="hid_installation_13.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                
Replacing the sidelight bulbs is dead simple. The holder is fixed into the top side of the main beam light housing and you simply turn the sidelight bulb holder through 90 degrees, substitute the standard bulb with a direct LED replacement and refit </p>
<p>The headlight fuse needs upgrading from 10A to 15A. Although the HIDs actually draw less power, they have a high power draw on startup. Fuses under passenger side bonnet panel</p>
<p>


</p>
<h2><span class="mw-headline" id="TUTORIAL:_Fitting_of_.C2.A360_HID_kit_by_steve1978.">TUTORIAL: Fitting of £60 HID kit by steve1978.</span></h2>

<p><a href="http://wiki.seloc.org/a/Http://thumbnails17.imagebam.com/4540/8ee86b45397141.gif" title="Http://thumbnails17.imagebam.com/4540/8ee86b45397141.gif">http://thumbnails17.imagebam.com/4540/8ee86b45397141.gif</a> <a href="http://wiki.seloc.org/a/Http://thumbnails8.imagebam.com/4540/4adb0045397145.gif" title="Http://thumbnails8.imagebam.com/4540/4adb0045397145.gif">http://thumbnails8.imagebam.com/4540/4adb0045397145.gif</a></p>
<p>Kit consists of:
2 ballasts
2 Bulbs
all connections
nuts and bolts
cable ties.</p>
<p>Other kit required.
trolley jack
flat head screw driver 
cross head screw driver
electricians tape.</p>
<p>Time taken approx 30 mins per light.</p>
<p>Step1: Remove the wheel </p>
<p>Step 2: Remove the 3 flat headed larger thumb screws. Now the light lense will come off</p>
<p>Step 3: Back under the wheel remove the screws holding the wheel arch lining in place. when complete ease the lining out</p>
<p>Step 4: On the top of the liner there is a void. this is where the ballast will be fitted (between the body and the lining), if you look through the bonnet vent you may just be able to see the location of the ballast.</p>
<p>Step 5: Remove the existing light bulb and insert your new one, you may find it easier to remove the lighting unit, we did (3 cross headed screws on the inside of the arch). feed the cables through the hole and connect them up. there is only one possible way to connect them.</p>
<p>Step 6: Insert the liner back in to the wheel arch and connect the lights back to the ballast, now test the lights. if all is working then reassemble</p>
<p>Step 7 Stand back and be proud!</p>
<p><a href="http://wiki.seloc.org/a/Http://17.imagebam.com/dl.php%3FID%3D45397141%26sec%3D7658bdc643c587d162bb668fe80a12ff" title="Http://17.imagebam.com/dl.php?ID=45397141&amp;sec=7658bdc643c587d162bb668fe80a12ff">http://17.imagebam.com/dl.php?ID=45397141&#38;sec=7658bdc643c587d162bb668fe80a12ff</a></p>
<p><a href="http://wiki.seloc.org/a/Http://forums.seloc.org/viewthread.php%3Ftid%3D232203%26page%3D1" title="Http://forums.seloc.org/viewthread.php?tid=232203&amp;page=1">http://forums.seloc.org/viewthread.php?tid=232203&#38;page=1</a></p>