
<p>Since the S2 steering adaptor and snap-off boss kit installation instructions are not straightforward I&#39;ll share my findings (hbaumhardt) for posterity (from a 2003 UK S2 Elise);</p>
<p>1. Straighten steering wheel and try and chock the front wheels to avoid movement.</p>
<p>2. Remove the steering wheel centre pad (simply pulls off) and disconnect horn spade connectors</p>
<p>3. Push back (using a flat blade screwdriver) the locking tabs on the steering column 22mm nut.</p>
<p>4. Put a dot of tipex or the like on the inside top of the splined shaft incase you knock or turn it with the wheel off and lose TDC</p>
<p>5. Undo the 22mm nut  (may need deep reach socket) but leave on the last 3 threads of the steering column to avoid getting the wheel in your face when it pops off.</p>
<p>6A. Using a 2 prong puller slide thin jaws in to the oval holes on the back face of the wheel sideways on then rotate them to face inwards, connect to the puller body and pop the wheel off the splined shaft.</p>
<p>6B. if you dont have a puller its a 2 person job. One pulls on the steering wheel and the other taps the centre spline with a hammer.</p>
<p>7. Unscrew the 22mm nut don’t let the spring or lock plate sproing off into hyperspace and careful not to rotate the shaft and loose straight ahead. </p>
<p>8. Once the steering wheel is removed from the splined shaft turn it over and pop off the horn contact plate / slip ring.</p>
<p>9. You will see 4 x M6 hex headed bolts holding the centre hub to the Lotus steering wheel, remove these 4 bolts and the steering wheel detaches.</p>
<p>10. Attach the 20mm Eliseparts/Eliseshop (&#34;EP/ES&#34;) adaptor to the centre hub using the 4 x M6 hex headed bolts you removed, pop the horn slip ring back on and feed the wire back through if you need to.</p>
<p>10A. If you have a boss kit where the black negative contact is isolated you may need to make up a wire with a spade crimp on one end and a ring crimp the other and file down to sit under one of he the M6 bolts and run the wire up through one of the oval holes on the back plate.</p>
<p>11. Play around with the EP/ES adaptor -&#62; snapoff back plate -&#62; snapoff main body orientation to make sure the holes align as the EP adaptor has several offsets to choose from.</p>
<p>12. Slide the joined EP/ES adaptor and centre hub onto the splined shaft then put the metal lock plate and  22mm nut and tighten to 20lbft (may need a rubber band wrench to hold the column still).</p>
<p>13. Connect the positive wire from the slip ring to the positive on the snap off back plate. Double check negative is earthing - the wire on some kits is isolated and there is no where to attach the connector as in step 10A. As a temporary fix you could just jam the spade between the mating faces of the EP/ES adaptor and the snapoff back plate but this is NOT RECOMMENDED.</p>
<p>14. Bolt the snap off backing plate to the EP/ES adaptor using 6 countersunk M6 hex screws.</p>
<p>15. Bolt the thin lipped adaptor to the main snap off body using 6 countersunk M6 hex screws lip out to locate the steering wheel.</p>
<p>16. Attach the main body and lipped adaptor to the steering wheel using M5 countersunk hex screws.</p>
<p>17. Connect the horn wiring leads and pop the horn button in (You will not need the silver lipped momo horn adaptor plate).</p>
<p>18.  The steering wheel now snaps on to the adaptor.</p>

<p>Should take 30 mins and life is good :up</p>

<p>The order of parts;</p>

<ul>
<li>Splined Shaft</li>
<li>Horn positive contact plate/slip ring</li>
<li>Original centre hub &#38; 4 M6 screws from the EP/ES adaptor </li>
<li>Original spring. Locking plate &#38; 22mm nut</li>
<li>Snap off back plate &#38; 6 M6 screws</li>
<li>Main Snap off body (wires to front)</li>
<li>Thin lipped black adaptor &#38; 6 M6 screws</li>
<li>Steering Wheel &#38; 6 M5 screws</li>
<li>Horn Button</li>
</ul>


<p>The non standard equipment you may need;</p>

<ul>
<li>22mm deep socket</li>
<li>Rubber band wrench</li>
<li>2 thin leg puller</li>
</ul>


<p>


</p>