
<p>Using the incorrect jack or working on the car whilst incorrectly supported with <a href="http://wiki.seloc.org/a/Axle_stands" title="Axle stands">axle stands</a> can be costly.</p>
<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:S2_fallen_off_scissor_jack.jpg" ><img src="S2_fallen_off_scissor_jack.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>S2 fallen off trolley jack (scissor jack only in place as emergency measure to rescue the situation).</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:S1_fallen_off_trolley_jack.jpg" ><img src="S1_fallen_off_trolley_jack.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>S1 fallen off trolley jack</p>
                    </div>
                </div>
                </p>
<p>When using a trolley jack on a paved surface (like in the first picture) be carefull as you jack the car up.
As the car rises, the jack needs to roll forward to move with the car as it lifts. 
- In the case above the jack caught in the gap between to paving bricks causing the car to slide off the edge of the jack as it was raised. - VERY easily done if you don&#39;t think about it.</p>
