<h2><span class="mw-headline" id="Rover_PG1">Rover PG1</span></h2>
<p>The <a href="http://wiki.seloc.org/a/Rover_PG1_gearbox" title="Rover PG1 gearbox">Rover PG1 gearbox</a> is relatively easy to remove from the Elise, but I don&#39;t know what the access is like with the 340R tub.</p>
<p>You need to:</p>

<ul>
<li><i>Put Gearbox in neutral (easier to rotate gearbox see section lower down)</i></li>
<li>remove undertray and engine cover</li>
<li>disconnect <a href="http://wiki.seloc.org/a/Battery" title="Battery">Battery</a></li>
<li>remove NSR wheelarch liner and airbox</li>
<li>disconnect airbox bracket from rollover support and leave it loose (means fuel filter can be untouched)</li>
<li>remove slave cylinder, starter motor, reverse switch cable, gearbox earth strap and gearchange cables</li>
<li>drain box oil</li>
<li>pop driveshafts from box - heavy duty screwdriver or cold chisel</li>
<li>remove ball joint carrier from top of upright on offside</li>
<li>remove brakes, lower wishbone and upright assembly/driveshaft on near side</li>
<li>pull offside driveshaft clear of box</li>
<li>support engine under sump with a trolley jack</li>
<li>remove gearbox mount bolt/nut</li>
<li>remove engine steady bar from subframe and sump</li>
<li>remove bolts holding black gearbox mount to casing (complete bitch to access, jack the box as high as it will go for the rearmost bolt, then lever it towards the front for the other) and remove the mount</li>
<li>remove bolts holding box to engine - you may need to remove your exhaust manifold to get access to the two in the sump</li>
<li>separate box from engine - its held in by dowels</li>
<li>looking from near side, rotate the box clockwise about 90 deg</li>
<li>lower the block such that the box drops down</li>
<li>at this point the box should sort of fall out!</li>
</ul>


<p><i>Plastic oil sump drain container, spare wheel or similar works well to catch the gearbox (Caution it is ****in heavy)</i> </p>
<p><i>Job can be done by one person if taken slowly and carefully but probably easier with an extra pair of hands when your ready to drop the box.</i></p>
<p>/haynes
Re-fitting is the reverse of removal....</p>
<p>Except it takes a while to get the box back onto the engine!</p>
<p>Liam Crilly: the technique I used was to use two jacks under the box, in the same position as it came out, then gave it a good shove once it was lined up with the engine.  One person on each jack is very helpful at this point.  Use the bolts to pull the gearbox onto the engine dowels but be careful not to pull it on squint.</p>
<p>When you refit the clutch slave bracket to the gearbox housing remember that the bolts are M10 fine thread, if you use normal M10 bolts you will strip then out and have to tap the holes for M12 or helicoil.</p>
<p><i>Italic text</i> <i>added by Steve Luck following own DIY gearbox removal</i></p>
<p>



</p>