<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Intro">Intro</a>
</li>
<li class="toclevel-1"><a href="#Preparation">Preparation</a>
</li>
<li class="toclevel-1"><a href="#Measuring_Toe">Measuring Toe</a>
</li>
<li class="toclevel-1"><a href="#Measuring_Camber">Measuring Camber</a>
</li>
<li class="toclevel-1"><a href="#Measuring_Castor">Measuring Castor</a>
</li>
<li class="toclevel-1"><a href="#Accuracy">Accuracy</a>
</li>
<li class="toclevel-1"><a href="#Adjusting_Camber">Adjusting Camber</a>
</li>
<li class="toclevel-1"><a href="#Adjusting_Castor">Adjusting Castor</a>
</li>
<li class="toclevel-1"><a href="#Adjusting_Toe">Adjusting Toe</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Intro">Intro</span></h2>

<p>Being a budget class A racer and having forked out lots of £45s to the local Hunter place, following some questionable results recently I want to be able to mess around with the geo (camber and toe) myself so built a rig for £5.98 (normal price £19.98).</p>
<p>Note that whilst this is mechanically fairly straightforward you kind of need to understand suspension settings and what you are doing on an Elise, this is not a comprehensive “zero to geo hero” guide. See see:<a href="http://wiki.seloc.org/a/Geo_Setups" title="Geo Setups">Geo Setups</a> for standard settings.</p>

<p><a class="image" href="http://wiki.seloc.org/a/Image:_Geo_rig_small.jpg" ><img src="_Geo_rig_small.jpg" width="220" />
</a></p>
<h2><span class="mw-headline" id="Preparation">Preparation</span></h2>

<p>The car needs to be on level(ish) ground, centre the steering wheel, hot tyre pressures and load up the cabin to usual racing/driving around weight. Infact having the right ballast in the seats is critical e.g. for a 780Kg race Elise the difference between empty and an 85Kg driver can be 5mm ride height, 0.2° camber and 1mm toe.</p>
<h2><span class="mw-headline" id="Measuring_Toe">Measuring Toe</span></h2>

<p>1. Homebase for two bits of 2400mm rigid aluminum (16mm ally channel as they don’t to tubes, but I’ll call them “poles” for now) and 10m of nylon cord or fishing line.</p>
<p>2. The rear track of the S2 Elise is 1700mm and to allow for bodywork and working space cut the poles to 2000mm, mark the centre and drill a 4mm hole 900mm each side from the centre on each pole.</p>
<p>3. Find the centre of the car measure from the wheel track and mark up (front towing post is near-ish.) with tape for coarse alignment.</p>
<p>4. Tape the poles to the front and back of the car aligning centre marks (spirit level to avoid droopidge).</p>
<p>5. Run string through the holes; big knot in one end and tie off the other, make sure it passes near the wheel centers.</p>
<p>6. Measure from the centre of each wheel and adjust the string until its parallel side to side for fine alignment. That is the same distance from the wheel centre to the string on each side of an axle.</p>
<p>7. Use a ruler to measure mm distance from front and rear of rim to string and subtract rear from front for the TOE_IN_MM (minus value is toe OUT, positive value is toe IN).</p>
<p>8. If your want toe in degrees then convert using Excel =DEGREES( ASIN( TOE_IN_MM / ( RIM_DIA_INCHES * 25.4 )))</p>
<h2><span class="mw-headline" id="Measuring_Camber">Measuring Camber</span></h2>

<p>1. To measure camber I made a plumb line out of stuff lying around (net curtain rail, string, iron weight) and taped the rail across the car to give me something to hang the plumb from.</p>
<p>2. Measure distance from top &#38; bottom of the rim to the plumb line string and subtract top from bottom for CAMBER_IN_MM. (minus is GOOD)</p>
<p>3.Calculate camber in degrees using Excel =DEGREES( ATAN( CAMBER_IN_MM / ( RIM_DIA_INCHES * 25.4 )))</p>
<h2><span class="mw-headline" id="Measuring_Castor">Measuring Castor</span></h2>

<p>CBA</p>
<h2><span class="mw-headline" id="Accuracy">Accuracy</span></h2>

<p>A minus B is TOE_IN_MM (Minus is toe OUT plus is toe IN)</p>
<p>D minus C is CAMBER_IN_MM (You want an negative number)</p>
<p>Either use RIM_DIA_INCHES*25.4 or take the actual MM measurement of the diameter you are measuring from A to B and C to D</p>
<p>Reading the markings on the ruler seems to be the limit on accuracy - around plus/minus 0.5mm on each measure which is 0.07° in toe or camber so worst case compound error gives plus/minus 0.14° on each setting.</p>

<p><a class="image" href="http://wiki.seloc.org/a/Image:_Geo_measures.jpg" ><img src="_Geo_measures.jpg" width="220" />
</a></p>
<h2><span class="mw-headline" id="Adjusting_Camber">Adjusting Camber</span></h2>

<p>Once you have the plumbline measure you don’t need the string any more (and the wheel needs to come off) as each 1mm camber shim is 0.25 degree front and 0.30 degree on the back - just add or remove the number of shims from the measurement to get what you want (see the service manual for HOW TO).</p>
<p><b> Whilst your there, don’t forget to check or change the rear plinth bolts to A117W7212F 10.9 grade </b></p>
<h2><span class="mw-headline" id="Adjusting_Castor">Adjusting Castor</span></h2>

<p>CBA - see the service manual for HOW TO</p>
<h2><span class="mw-headline" id="Adjusting_Toe">Adjusting Toe</span></h2>

<p>1. Jack the car onto 4 even blocks of wood for working room (front of an S2 with low ride height)</p>
<p>2. Rear diffuser/under-tray off</p>
<p>3. Secure the steering wheel with a strap</p>
<p>4. Loosen front TRE locknuts and rear toe-link locknuts</p>
<p>5. Measure changes from the rear (thats whats moving), adjust and measure again repeatedly (see the service manual for HOW TO)</p>
<p>6. After getting the front toe perfect, when you tighten the locknuts you can alter the toe by a mm so be prepared to measure and redo a couple of times if you want perfection.</p>

<p>




</p>