<h3><span class="mw-headline" id="Road_car_disk_brake_bedding_In_procedure">Road car disk brake bedding In procedure</span></h3>

<p>Bedding the disc from new or stress relieving the cast iron disc after it has been clamped to the mounting bell is of paramount importance if premature warping is to be avoided after the brakes are used to their full potential.
AP Racing discs are produced from the same castings as our normal race discs, but when used in the controlled area of motor sport it is easy to instruct a driver to gradually bring the disc up to working temperature with some moderate braking over a small amount of measured laps, progressively increasing his braking effort until an Engineer assess the disc visually or by temperature readings.</p>
<h3><span class="mw-headline" id="For_road_car_installations_the_process_needs_to_be_as_follows:-">For road car installations the process needs to be as follows:-</span></h3>

<p>For the first 10 miles, light braking from 50/60 mph down to 30 mph if possible in blocks of 5. Do not attempt any high-speed stops down to zero at this point, as only the faces will heat up with the mass remaining cool along with the mounting area. For the next 100 miles increase the braking pressures similar to stopping in traffic, again avoiding if possible full stops from above 70 mph. By now the area around the mounting bolts should be a light blue temper colour. This is a good indication that the correct heat soak has been achieved. For the next 100 miles gradually increase the braking effort after this full power stops can be used. The disc should now be an even dark to light blue temper colour, depending on the pad type and the braking effort being used during the process. This process must be completed before any race circuit use.
If used at a Track day the following points must be adhered to so as not to warp the disc.</p>

<p>At the start of a session use a minimum of one warming up lap for the brakes i.e. gradually increase the effort at each corner and do not drag the brakes under power as in left foot braking.</p>

<p>Use at least one cooling down lap at the end of the session and if possible stay off the brakes.</p>
<p>Do not leave your foot on the brake when parked in the paddock after a track session. If you do, the hot spot created by the pad can distort the disc in that localized area causing a high spot, resulting in vibration under braking.</p>
<p>On the majority of car installations, race circuit use can be more exacting on the brake system than a fully prepared race car due to the following:-</p>
<p>None or minimal cooling, increased chassis weight, longer braking distances due to driving technique or tyre grip.
Therefore it is very important to check your brake system thoroughly after such use. Bear in mind race cars on average cover less than 50 laps of a circuit before being serviced.</p>

<p>




</p>