
<p>

</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Elise_S1_Pedal_Box_Refurbishment">Elise S1 Pedal Box Refurbishment</a>
<ul>
<li class="toclevel-2"><a href="#The_problem_with_the_original_Lotus_Pedal_Arrangement">The problem with the original Lotus Pedal Arrangement</a>
</li>
<li class="toclevel-2"><a href="#My_solution_to_the_problem">My solution to the problem</a>
</li>
<li class="toclevel-2"><a href="#How_to_spend_18_hours_of_your_life_swearing_at_your_car">How to spend 18 hours of your life swearing at your car</a>
<ul>
<li class="toclevel-3"><a href="#Getting_the_bloody_thing_out">Getting the bloody thing out</a>
</li>
<li class="toclevel-3"><a href="#Refurbishing_the_Pedal_Box">Refurbishing the Pedal Box</a>
<ul>
<li class="toclevel-4"><a href="#If_You.E2.80.99re_modding_the_throttle_pedal_arrangement_.28Skip_to_section_1.3.2.2_if_not.29">If You’re modding the throttle pedal arrangement (Skip to section 1.3.2.2 if not)</a>
</li>
<li class="toclevel-4"><a href="#If_You.27re_using_the_standard_Lotus_arangement">If You&#39;re using the standard Lotus arangement</a>
</li>
</ul>
</li>
<li class="toclevel-3"><a href="#Putting_it_all_back_together_again">Putting it all back together again</a>
</li>
<li class="toclevel-3"><a href="#What_to_do_if_your_car_swallows_the_clutch_master_cylinder_dust_boot.E2.80.A6">What to do if your car swallows the clutch master cylinder dust boot…</a>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Elise_S1_Pedal_Box_Refurbishment">Elise S1 Pedal Box Refurbishment</span></h2>


<p>Firstly, Don’t.  Just Don’t.  Take your car and a big bundle of cash to your favourite spanner men and let them do it.  Trust me on this.  You <b>REALLY</b> don’t want to do this job.  Not in a million years.</p>

<p>Anyone past the first paragraph will fall into one of two categories:</p>
<p>1.	Terminally tight as a gnat’s chuff, or</p>
<p>2.	The sort of person who has whips, nipple clamps and gimp suits in the cellar</p>

<p>Either way, I take my hat off to you  - you are about to spend between 12 and 18 hours contorted into various unlikely positions and swearing profusely at your little plastic sports car, or “Yellow Piece of Shit”, as mine is now known.</p>

<p>First, you’ll need the bits.  The <b>official Lotus parts</b> are these:</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_Table_1.jpg" title="Lotus Direct Replacement Parts Table"><img src="Pedal_Box_Table_1.jpg" alt="Lotus Direct Replacement Parts Table" width="220" />
</a></p>
<p>This list of parts will enable you to put the pedal box back to factory fresh condition, assuming that your brake trunnion is in good condition (these appear to be good for well over 100k miles, based on anecdotal evidence).  If you need the brake trunnion, it’s part number <b>A111J0039F</b>.</p>
<p>I decided that the original arrangement, particularly on the throttle pedal, could do with improvement, so designed an alternative that hopefully will last longer and does immediately improve pedal feel.</p>

<h3><span class="mw-headline" id="The_problem_with_the_original_Lotus_Pedal_Arrangement">The problem with the original Lotus Pedal Arrangement</span></h3>

<p><a class="image" href="http://wiki.seloc.org/a/Image:Pedal_box_diagram_1.jpg" title="Elise Pedal Box Schematic"><img src="Pedal_box_diagram_1.jpg" alt="Elise Pedal Box Schematic" width="220" />
</a></p>
<p>In the above diagram, you can see that Lotus used two standard pivot bearings and a single thrust washer to locate the throttle pedal.  I see three issues with this:</p>
<p>1.Support for the right-hand face of the pedal is wholly dependent on the fit of the pivot bearing being used as a spacer</p>
<p>2.The pivot bearings are a running fit on the shaft, and the frictional forces involved means that the bearing will rotate with the pedal when it’s moved</p>
<p>3.The net bearing area where the “spacer” bush meets the scuttle bracket is tiny – these bearings are pretty thin – so the wear rate at that end of the bearing is likely to be large.</p>

<p>With a high wear rate, and the feel of the pedal determined by that fit, I felt that a different arrangement was called for to future proof my pedal box.  After all, I <b>never</b> intend to do this job again :)</p>

<h3><span class="mw-headline" id="My_solution_to_the_problem">My solution to the problem</span></h3>


<p><a class="image" href="http://wiki.seloc.org/a/Image:Pedal_box_diagram_2.jpg" title="Improved Throttle Pedal Location"><img src="Pedal_box_diagram_2.jpg" alt="Improved Throttle Pedal Location" width="220" />
</a></p>
<p>In essence, I shortened both bearings that would normally be used so that they would fit the pedal as per the other pedals, then found a suitable larger bush to fit and use as a spacer. Because I would be manually modifying these parts, I needed some method to get a good close running fit, so found some suitable shim washers in varying thicknesses to take up the slack.  I ended up using the same shim washers to take out most of the axial play in the other pedals too.</p>
<p>Net result is that both shoulders of the throttle pedal are properly supported, and there is a much larger bearing area on the pedal/spacer interface.  Should last much longer!</p>
<p><b>The parts list I ended up using is below:</b></p>

<p><a class="image" href="http://wiki.seloc.org/a/Image:Pedal_box_Table_2.jpg" title="Flying Banana&#39;s Parts Table"><img src="Pedal_box_Table_2.jpg" alt="Flying Banana&#39;s Parts Table" width="220" />
</a></p>

<p>I managed to get the thrust washers from <a class="external text" href="http://www.igus.co.uk" rel="nofollow">igus</a>  who very usefully have a free sample ordering option.  I chanced my arm and asked for 5 as free samples.  You have to put in some info and rationale – I said that I am designing a modular lightweight automotive pedal box system (not a million miles from the truth) and they showed up the next day!  For those of you with a higher sense of ethics than me, they can be bought from the same source and will cost you a total of £18.35 for 5, which is still cheaper than Lotus.  As far as I can tell, they are exactly the same part.  In fact, the pivot bearings seem to be exactly the same as igus part number JFM-2023-11.  These are cheaper from Lotus though.</p>

<p>The thick spacer bearing and shim washers came from <a class="external text" href="http://www.ondrives.com" rel="nofollow">ondrives</a>.  These parts took a little longer to arrive, around two weeks.  Plan accordingly if you’re not blagging shims from me :)</p>
<p>In fairness, I did also buy two additional bags of shims – 0.5mm and 1mm thick because I had no idea how much clearance I’d need to take up.  I didn’t use any of them so you’ll most likely only need the 0.1mm and 0.2mm shims.</p>
<p>Of course, I now have a bag of 94 0.1mm shims and a bag of 98 0.2mm shims, so if anyone is interested I can send you a few  - just u2u me :)</p>

<h3><span class="mw-headline" id="How_to_spend_18_hours_of_your_life_swearing_at_your_car">How to spend 18 hours of your life swearing at your car</span></h3>


<p>So – here’s the interesting bit.  First, check that you have all the bits you’ll need:</p>

<p><a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_01_annotated.jpg" title="Required Parts"><img src="Pedal_Box_01_annotated.jpg" alt="Required Parts" width="220" />
</a></p>
<p>(Or use the Lotus parts, which will look identical except for the spacer bush and shims.  I only used the trunnion with the pale bushes in the end because I decided against using a compressible bush trunnion in the brake pedal)</p>
<p>I found this to be the best order of working….</p>
<h4><span class="mw-headline" id="Getting_the_bloody_thing_out">Getting the bloody thing out</span></h4>


<ul>
<li>Disconnect battery
<ul>
<li>I have a master battery cut-out switch, you will probably need to physically disconnect the positive terminal</li>
<li><b>TAKE CARE TO RECONNECT TO THE CORRECT TERMINAL WHEN YOU PUT IT BACK TOGETHER  OR YOUR ECU MAY TOAST ITSELF</b></li>
</ul></li>
</ul>


<ul>
<li>Remove Driver’s seat
<ul>
<li>Four Allen bolts – front two easy with a cut down Allen key, rear two easy with an Allen key socket and multiple extension bars</li>
</ul></li>
</ul>

<p><a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_03.JPG" title="Driver&#39;s Seat Removed"><img src="Pedal_Box_03.JPG" alt="Driver&#39;s Seat Removed" width="220" />
</a></p>



<ul>
<li>Remove Steering column shroud
<ul>
<li>Mark the steering column shroud and wheel at top dead centre  - you’ll need to align things back again on reassembly so that your steering wheel isn’t at a crazy angle</li>
<li>Undo 4 x small self-tappers holding upper shroud to lower shroud</li>
<li>Undo 3 x large self tappers holding lower shroud to column (underneath lower shroud)</li>
<li>Remove trip meter reset/dash light dimming button</li>
<li>Put lower shroud on the dashboard – the touch key cable is just long enough</li>
</ul></li>
</ul>

<p><a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_09_annotated.jpg" title="Steering boss and shroud marked"><img src="Pedal_Box_09_annotated.jpg" alt="Steering boss and shroud marked" width="220" />
</a></p>


<ul>
<li>Remove Stack
<ul>
<li>Undo two bolts visible to either side of the steering column holding the stack onto the main steering column mount</li>
<li>Disconnect the single stack connector – there is a latch that you need to hold down and it’s quite stiff</li>
</ul></li>
</ul>

<p><a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_10_annotated.jpg" title="Stack Fixing Bolts"><img src="Pedal_Box_10_annotated.jpg" alt="Stack Fixing Bolts" width="220" />
</a></p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_11.JPG" title="Stack removed"><img src="Pedal_Box_11.JPG" alt="Stack removed" width="220" />
</a></p>


<ul>
<li><b>(Optional)</b> Remove Lucas 5AS unit
<ul>
<li>Two small bolts hold the 5AS unit onto the main steering column bracket.  It is possible to remove the main mounting screws without taking this off but I was following the service manual.</li>
<li>Disconnect both connectors to the 5AS unit – again, both have latching barbs you’ll need to hold down to get them off</li>
</ul></li>
</ul>


<ul>
<li>Disconnect Steering column switches (including ignition switch connector)
<ul>
<li>Both the wiper switch and indicator switch will slide out of the column housing if you find the latches (top and bottom sides of the switches themselves.  No need to disconnect the connectors from the switches if you do this, but if you do want to, they are held on with a couple of tabs which are quite obvious.</li>
<li>Ignition switch wiring connector can be disconnected by inserting a small screwdriver into the recess between the white and yellow wires.  You’ll need to remove the cover from the connector, again held on with barbed tabs.</li>
<li>You are trying to push the white plastic bit you can just about see towards the centre of the assembly.  If you put your screwdriver in too far, you’ll also end up pushing the bit that it’s caught on in with it.  </li>
<li>If you pull too hard, the entire thing will fall apart and you’ll be stuck trying to figure out how to put it back together again.  If you’re lucky, only one of the three lugs holding the back of the ignition switch in will have broken and you’ll be able to reassemble, then super glue it back together again (having testing that it works before gluing, of course).  <b>Yes, I wasted 2 hours doing this and would not recommend it</b>. 
<ul>
<li>There are three components that will ping out and land somewhere in the car.  One is a small piece of nylon with a spring in one end.  This keeps the internal part of the switch centred on the ignition lock shaft and also prevents the lock being rotated too far.  </li>
<li>The other two are small “Y” shaped metal pieces that act as the contacts.  One is longer that the other.  The longer one goes in the lower locating position on the central switch mechanism.  Actually, the ignition switch is quite ingenious because the contacts are raised and lowered to meet with the pins as the switch is rotated.  I wouldn’t recommend busting it though, if it pings off again after gluing, you’re screwed because all power to the ignition system routes through the switch.  I’ll probably be buying a replacement at some point for peace of mind.</li>
</ul></li>
</ul></li>
</ul>

<p><a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_10.JPG" title="Steering Column wiring disconnected"><img src="Pedal_Box_10.JPG" alt="Steering Column wiring disconnected" width="220" />
</a></p>


<ul>
<li>Disconnect throttle pushrod from pedal
<ul>
<li>Pop off the plastic ball joint from the tit on the pedal.  If you’re lucky, the rivet holding the tit onto the pedal won’t give way.  If it does, use a small nut and bolt to put it back on afterwards.</li>
</ul></li>
<li>Remove throttle linkage plate
<ul>
<li>Undo the two small bolts holding the plate to the underside of the dash panel, then swing the entire linkage assembly into the passenger foot well</li>
<li>Remove the throttle stop bolt from immediately behind the throttle pedal at this stage</li>
</ul></li>
</ul>

<p><a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_04.JPG" title="Throttle Linkage unbolted"><img src="Pedal_Box_04.JPG" alt="Throttle Linkage unbolted" width="220" />
</a></p>


<ul>
<li>Remove Steering column
<ul>
<li>Move your steering wheel so that the mark you made earlier is top dead centre</li>
<li>You’ll need to undo three bolts from the cockpit.  Two large bolts either side of the column immediately below where the stack was, one slightly shorter bolt in the bowels of the dash, on the bulkhead.  Follow the column into the dash recess and it’ll be just above it, buried behind a nest of wiring.</li>
</ul></li>
</ul>
<p><a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_12_annotated.jpg" title="Steering Column Mounting bolts"><img src="Pedal_Box_12_annotated.jpg" alt="Steering Column Mounting bolts" width="220" />
</a></p>
<p>Once these are undone, assume the lotus position and undo and completely remove the pinch bolt on the steering column lower universal joint nearest the bulkhead.  Use a large flat bladed screwdriver, or alternatively a crow bar to gently lever the forward face of the UJ away from the bulkhead.  It will be tight.  It will move eventually.
<a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_08_annotated.jpg" title="Steering column UJ Pinch bolt"><img src="Pedal_Box_08_annotated.jpg" alt="Steering column UJ Pinch bolt" width="220" />
</a></p>

<ul>
<li>Gently ease the entire column out through the dash into the cockpit.
<ul>
<li>Do not put huge amounts of force axially through the steering column – the collapsible mechanism may collapse and then you’ll be spending time in a scrap yard looking for a mid-nineties vintage Vauxhall Corsa that doesn’t have a shagged steering column.</li>
<li>While it’s out, do up the UJ pinch bolts at torque setting #2 (effing tight).  It’s much easier off the car and if any of them are not tight, it’ll result in steering play.</li>
</ul></li>
</ul>


<ul>
<li>Unbolt and ease out of the way both Clutch Master Cylinder and Brake Master cylinder
<ul>
<li>The Clutch master cylinder is undone from inside the cockpit – undo the two nuts either side of it whilst upside down in the foot well</li>
<li>The brake master Cylinder also has two bolts – they are arranged diagonally and the lower one is simple – undo it from the front service compartment – it’s in a captive nut. The upper one requires you to put a ring spanner on the front service compartment bolt head, and undo the nut from the cockpit – having someone around to hold the spanner on is a great help here.</li>
</ul></li>
</ul>

<p><a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_08a_annotated.jpg" title="Master Cylinder Bolt locations"><img src="Pedal_Box_08a_annotated.jpg" alt="Master Cylinder Bolt locations" width="220" />
</a></p>

<ul>
<li>The clutch cylinder will move around easily – it’s connected by two flexible hoses (one from the brake master cylinder reservoir, one is the dreaded red clutch hose (or braided, if it’s been replaced already)</li>
</ul>


<ul>
<li>The brake master cylinder has three rigid brake pipe connections, and will not move as easily.  You basically have to ease it out of the way without fracturing the pipe work or pulling the reservoir off the top.  BE CAREFUL.  The higher you can get it, the easier undoing the pedal box bolts will be.</li>
</ul>


<ul>
<li>Remove Clutch pedal pushrod
<ul>
<li>Undo the grub screw in the side of the trunnion then unscrew the pushrod itself from the trunnion.  The grub screw requires a 3mm Allen key.   It may be in either side of the trunnion.</li>
</ul></li>
</ul>


<ul>
<li>Remove Brake Pedal pushrod
<ul>
<li>As per clutch pedal above</li>
</ul></li>
</ul>


<ul>
<li>Unclip brake light switch
<ul>
<li>From the front service compartment, reach over the top of the pedal box and feel behind it for the brake light switch – there’s only one thing in the back of the box there, so you can’t get the wrong thing.  Give it a ¼ turn clockwise then pull it out (towards the rear of the car)</li>
</ul></li>
</ul>


<ul>
<li>Remove blower unit alloy ducting
<ul>
<li>Just pulls off the blower unit below the master cylinders and the diverter flap housing.  You can’t miss it, it’s a 4” diameter convoluted alloy tube</li>
</ul></li>
</ul>


<ul>
<li>Loosen diverter flap housing screw
<ul>
<li>There is a single machine screw with a big washer on the base of the diverter flap housing – undo and remove it.  This will allow you to move the housing to the side slightly</li>
</ul></li>
</ul>

<p><a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_15_annotated.jpg" title="Diverter Flap fixing Screw"><img src="Pedal_Box_15_annotated.jpg" alt="Diverter Flap fixing Screw" width="220" />
</a></p>


<ul>
<li>Remove 6 x bolts holding the pedal box onto the scuttle bracket
<ul>
<li>I found this to be the fun part.  You’ll need perseverance.  In fact, accept that you’ll need the patience of Jobe. The three right-hand bolts are too long to come out with the diverter flap housing in the way.  The three left hand bolts are hidden out of sight underneath part of the structure of the front of the car.</li>
</ul></li>
</ul>


<ul>
<li>The left hand ones are not dreadful to remove provided you have the brake master cylinder eased up high enough to slide your left arm under the pipe work and around the scuttle bracket. Even so, you will be working blind.  A straight 10mm ratchet spanner (£10.99 from Halfords) is invaluable here.  Once you have the spanner on, should be simple, if intensely uncomfortable.
<ul>
<li>The right hand ones I could only get out be punching holes in the diverter flap housing and using a long socket from within the housing itself.  Even so I needed a big lever to move it across to the right as far is it would go and the front lower bolt in particular was tough to get out.</li>
</ul></li>
</ul>

<p><a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_16_annotated.jpg" title="Overview of Pedal Box location"><img src="Pedal_Box_16_annotated.jpg" alt="Overview of Pedal Box location" width="220" />
</a></p>


<ul>
<li>Remove pedal box
<ul>
<li>The pedal box will have glued itself (via the foam strips on the mating faces) to the scuttle.  You’ll need to us a large flat bladed Screwdriver to lever up the front edge, and a drift and hammer to get the rear edge released from within the cockpit.</li>
<li>Once the box has been released from front and rear edges, push the rear edge up and rotate the front edge down and through the hole.  You’ll then have to manipulate the pedal box further round (front edge down) until it’s been rotated around 90 degrees.  The top front corner of the box will have to clear the steering rack pinion and the bracketry in the base of the foot well, but it will go through <b>provided you took out the throttle stop bolt earlier</b>.  When the throttle shaft has cleared the lower edge of the hole it’ll get much easier and you will be able to pull the entire assembly down through the foot well and out of the car.</li>
</ul></li>
</ul>


<ul>
<li><b>Have a cup of tea and a chocolate hobnob or two – you will have earned it at this point</b></li>
</ul>

<p><a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_17.JPG" title="Chocolate Hobnob time :)"><img src="Pedal_Box_17.JPG" alt="Chocolate Hobnob time :)" width="220" />
</a></p>
<h4><span class="mw-headline" id="Refurbishing_the_Pedal_Box">Refurbishing the Pedal Box</span></h4>



<ul>
<li>Strip off Throttle pedal
<ul>
<li>Slide the pivot bearing spacer off the shaft and remove the throttle pedal itself. </li>
<li>Remove the thrust washer and discard</li>
<li>Tap the pivot bush fitted to the throttle pedal out using a small drift or flat bladed screwdriver and discard</li>
</ul></li>
</ul>
<p><a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_20.JPG" title="Removing the throttle pivot bearing"><img src="Pedal_Box_20.JPG" alt="Removing the throttle pivot bearing" width="220" />
</a>
</p>
<ul>
<li>Clean throttle pedal and set to one side</li>
</ul>


<ul>
<li>Undo 2 x pedal shaft bolts
<ul>
<li>Using two 10mm combination spanners, undo the two shaft fixing bolts holding the shaft into the pedal box</li>
</ul></li>
</ul>
<p><a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_23.JPG" title="Removing the throttle shaft bolts"><img src="Pedal_Box_23.JPG" alt="Removing the throttle shaft bolts" width="220" />
</a>
</p>
<ul>
<li>Remove the shaft
<ul>
<li>Slide the shaft out of the pedal box towards the throttle pedal end.  Remove and discard thrust four thrust washers from the clutch and brake pedals as they fall out</li>
</ul></li>
</ul>
<p><a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_24.JPG" title="Removing the throttle shaft"><img src="Pedal_Box_24.JPG" alt="Removing the throttle shaft" width="220" />
</a></p>

<ul>
<li>Remove bushes and trunnions from brake and clutch pedals
<ul>
<li>Tap the pivot bushes fitted to the brake and clutch pedals out using a small drift or flat bladed screwdriver and discard</li>
<li>Remove trunnions from clutch and brake pedals.  Discard clutch trunnion, inspect brake trunnion and clean for re-use.  Clutch trunnion on the left, Brake on the right!</li>
<li>Clean brake and clutch pedals.  Some light smoothing of the clutch trunnion hole with fine wet and dry may be required if excessive spalling has occurred. Take a look at mine!!!!</li>
</ul></li>
</ul>
<p><a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_27.JPG" title="Knackered trunnion..."><img src="Pedal_Box_27.JPG" alt="Knackered trunnion..." width="220" />
</a>
<a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_28.JPG" title="...what it does to the pedal..."><img src="Pedal_Box_28.JPG" alt="...what it does to the pedal..." width="220" />
</a>
<a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_29.JPG" title="...and comapred to the brake trunnion"><img src="Pedal_Box_29.JPG" alt="...and comapred to the brake trunnion" width="220" />
</a>
</p>
<ul>
<li>Clean pedal box extrusion</li>
</ul>


<ul>
<li>Clean pedal shaft</li>
</ul>

<p>Here are the discarded parts....
<a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_30.JPG" title="Old thrust washers and pivot bearings"><img src="Pedal_Box_30.JPG" alt="Old thrust washers and pivot bearings" width="220" />
</a></p>

<ul>
<li>Fit the trunnions 
<ul>
<li>For the clutch pedal, using a small hammer tap the bushes into the pedal until they are flush on each side.  The Lotus trunnion kit allows you to do this because the trunnion itself is a loose running fit in the bushes and will slide in and out easily with the bushes in place.  If you are using the EliseParts trunnion kit, you’ll need to use a vice to press the bushes in and most likely the same again to get the trunnion in, which is a tight running fit.  There are plenty of guides on how to do this out there but it’s much easier when the pedal is off the car for obvious reasons.</li>
<li>For the brake pedal, lubricate the original trunnion with LM grease and replace.</li>
</ul></li>
</ul>

<p><a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_42.JPG" title="Shiny pedals"><img src="Pedal_Box_42.JPG" alt="Shiny pedals" width="220" />
</a></p>

<h5><span class="mw-headline" id="If_You.E2.80.99re_modding_the_throttle_pedal_arrangement_.28Skip_to_section_1.3.2.2_if_not.29">If You’re modding the throttle pedal arrangement (Skip to section 1.3.2.2 if not)</span></h5>



<ul>
<li>Pedal box closure plate
<ul>
<li>Because there is no sensible way to trial fit and adjust the fit of the throttle pedal on the car, I used a scrap piece of aluminium plate to make up a closure plate so I could try it all out off the car.  Any rigid material will do – even thin plywood.  Must be rigid though</li>
<li>With the pedal box on its end, use a piece of thin card or paper to create a template for the three bolt holes in the end of the pedal box.</li>
<li>Transfer these hole positions to the material you are using for the closure plate</li>
<li>Drill 3 x 10mm holes in the plate</li>
<li>Bolt the plate to the throttle pedal end of the pedal box</li>
<li>Trace around the pedal box extrusion </li>
<li>Unbolt the plate and cut to the traced line</li>
</ul></li>
</ul>

<p><a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_47.JPG" title="Temporary closure plate in place"><img src="Pedal_Box_47.JPG" alt="Temporary closure plate in place" width="220" />
</a></p>


<ul>
<li>Cut down 2 x Pedal pivot bearings to 4.5mm from the inside face of the flange.  The throttle pedal is approximately 10mm wide and you want the bushes to not quite meet in the middle</li>
</ul>

<p><a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_50.JPG" title="Marking out the pivot bearing for cutting"><img src="Pedal_Box_50.JPG" alt="Marking out the pivot bearing for cutting" width="220" />
</a>
<a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_51.JPG" title="Pencilled in for clarity"><img src="Pedal_Box_51.JPG" alt="Pencilled in for clarity" width="220" />
</a>
<a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_53.JPG" title="Cutting the bearing"><img src="Pedal_Box_53.JPG" alt="Cutting the bearing" width="220" />
</a>
<a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_52.JPG" title="Comparison - before and after shortening"><img src="Pedal_Box_52.JPG" alt="Comparison - before and after shortening" width="220" />
</a></p>


<ul>
<li>Press the cut down pivot bearings into the throttle pedal </li>
</ul>

<p><a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_54.JPG" title="Fitted to the throttle pedal"><img src="Pedal_Box_54.JPG" alt="Fitted to the throttle pedal" width="220" />
</a></p>


<ul>
<li>Cut down the Thick spacer bearing to approximately 10mm from the outside face of the flange</li>
</ul>


<ul>
<li>Fix the shaft into the pedal box (you only need to put in one of the two screws at this stage)</li>
</ul>


<ul>
<li>Assemble in this order
<ul>
<li>Thrust washer, throttle pedal, shims, Thick spacer washer</li>
<li>Pedal box closure plate</li>
</ul></li>
</ul>

<p><a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_56.JPG" title="Assembly in place"><img src="Pedal_Box_56.JPG" alt="Assembly in place" width="220" />
</a>
<a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_58.JPG" title="Assembly without the temporary closure plate"><img src="Pedal_Box_58.JPG" alt="Assembly without the temporary closure plate" width="220" />
</a></p>

<ul>
<li>The number of shims will be dependent on the exact width of the thick spacer bearing.  Use trial and error to get a stack of shims that allows a smooth running fit with a small amount of resistance.  You can check whether the resistance is unacceptable by fitting the throttle pedal return spring and checking that the pedal snaps back to its upper position under light spring tension.  You are trying to use as few shims as possible to eradicate the side-to-side movement in the throttle pedal.</li>
</ul>

<p><a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_59.JPG" title="Shims in place"><img src="Pedal_Box_59.JPG" alt="Shims in place" width="220" />
</a></p>

<ul>
<li>Take the closure plate off and store the thick spacer bearing, shims, pedal and thrust washer to one side for final assembly later.  Remove the shaft fixing screw and remove the shaft.</li>
</ul>


<ul>
<li>Fitting the pedals
<ul>
<li>Taking car to ensure that the shaft is inserted the correct way around, slide it into the pedal box to the brake pedal aperture.</li>
<li>Fit a thrust washer and shim stack then the bushed pedal, then another shim stack, then the second thrust washer into the aperture so that there is little or no side-to-side movement of the pedal.  You will find it virtually impossible to totally eradicate this movement as space is tight and it takes some finessing to get the shims and thrust washers aligned when inserting the shaft.</li>
<li>Repeat step 30b for the clutch pedal.</li>
<li>I used around 0.2mm of shim either side of the pedal for both of mine, as a guideline</li>
</ul></li>
</ul>


<ul>
<li>Fully screw the shaft into position, taking care to ensure that the thrust washers are properly seated on the small machined shoulder of each pedal aperture.</li>
</ul>


<ul>
<li>Refit the throttle pedal with a dab of LM grease between each washer, shim and spacer to ensure that they don’t fall off during reassembly.</li>
</ul>

<p><a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_60.JPG" title="Pedal Box reassembled"><img src="Pedal_Box_60.JPG" alt="Pedal Box reassembled" width="220" />
</a>
<a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_61.JPG" title="Overview of pedal assemblies"><img src="Pedal_Box_61.JPG" alt="Overview of pedal assemblies" width="220" />
</a>
<a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_62.JPG" title="Brake pedal detail"><img src="Pedal_Box_62.JPG" alt="Brake pedal detail" width="220" />
</a>
<a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_63.JPG" title="Clutch pedal detail"><img src="Pedal_Box_63.JPG" alt="Clutch pedal detail" width="220" />
</a></p>
<h5><span class="mw-headline" id="If_You.27re_using_the_standard_Lotus_arangement">If You&#39;re using the standard Lotus arangement</span></h5>



<ul>
<li>Fitting the pedals
<ul>
<li>Taking car to ensure that the shaft is inserted the correct way around, slide it into the pedal box to the brake pedal aperture.</li>
<li>Fit a thrust washer, then the bushed pedal, then the second thrust washer into the aperture.</li>
<li>Repeat step the above for the clutch pedal.</li>
</ul></li>
</ul>


<ul>
<li>Fully screw the shaft into position, taking care to ensure that the thrust washers are properly seated on the small machined shoulder of each pedal aperture.</li>
</ul>


<ul>
<li>Fit the throttle pedal pivot bearing with flange to the left when looking at the front of the pedal</li>
</ul>


<ul>
<li>Fit a thrust washer then the bushed throttle pedal, then the second pivot bearing spacer (oriented with flange adjacent to pedal) with a dab of LM grease between each component to ensure that they don’t fall off during reassembly.</li>
</ul>


<h4><span class="mw-headline" id="Putting_it_all_back_together_again">Putting it all back together again</span></h4>



<ul>
<li><b>Reassembly is the reverse of taking it all apart, as they say :)</b></li>
</ul>


<ul>
<li>Slide the pedal box back into position, using the reverse manoeuvre to removal.  You need to be able to jiggle it around a bit to get the first couple of bolts started – and this has to be done by feel – you can’t see any of the bolthole alignments because of where the pedal box is.</li>
</ul>


<ul>
<li>When bolting up the pedal box, all the upper 4 are relatively simple to get in.  The two bolts at the lower front are total bastards.  The only way I could get them in was to grind a taper into the end of the bolt so that it would help align the scuttle bracket and pedal box holes on its way in, then very gently turn the bolts until the threads took.  I was lucky in that nothing got cross-threaded.  Tread very carefully here and be aware that I found it incredibly difficult to get hands and tools in the right places to do these up.</li>
</ul>


<ul>
<li>Don’t tighten any of the bolts up fully until you have all six started.  This will give you a very small amount of wiggle room to get stuff lined up.  <b>When you’ve managed to get all six in and tightened, treat yourself to another chocolate hobnob.  Believe me; you’ll be ready to torch the car at this point.</b></li>
</ul>


<ul>
<li>Fit the clutch and brake pushrods, making sure that the larger pushrod is fitted to the brake pedal. Ensure that both pushrods poke out of the holes where the master cylinders will sit.</li>
</ul>


<ul>
<li>Bolt both the clutch and brake master cylinders back into place, taking care to ease the brake cylinder back into position to avoid fracturing or stressing any solid brake pipe work.  In particular, ensure that pipe work is put back into any clips that it may have sprung from.</li>
</ul>


<ul>
<li>Adjust the brake and clutch pushrods as per the manual – I.E. Turn the pushrods in the trunnions until the pedals just touch the forward stops and then apply ½ turn preload to both pushrods.  When adjusted, tighten up the grub screws in the side of both brake and clutch pedal trunnions.</li>
</ul>


<ul>
<li>Reattach the throttle pedal return spring and loosely refit the throttle pedal stop screw. </li>
</ul>


<ul>
<li>Refit the steering column, taking care to align the mark on the steering wheel at top dead centre when offering up the universal joint spline joint to the steering rack pinion.  Tap the UJ onto the rack pinion using a suitable drift and hammer.  Refit the pinch bolt and tighten to torque setting #2 (effing tight)</li>
</ul>


<ul>
<li>Ensure that the wiring tails for the wiper stalk, indicator stalk and ignition switch are run below the steering column mounting lugs in the gap between the column and the dash panel</li>
</ul>


<ul>
<li>Refit and tighten the third column mount bolt in the depths of the dashboard</li>
</ul>


<ul>
<li>Refit the Lucas 5AS unit to the bracket and then fit the bracket to the steering column and tighten the two main column mount bolts.  Refit the electrical connections to the 5AS unit</li>
</ul>


<ul>
<li>Refit switches and electrical connections</li>
</ul>


<ul>
<li>Refit the Stack unit</li>
</ul>


<ul>
<li>Refit the column shroud, after refitting the trip reset/dash light dimming button to the lower shroud</li>
</ul>


<ul>
<li>Refit the throttle linkage panel to the lower edge of the dashboard and reconnect the pushrod to the pedal</li>
</ul>


<ul>
<li>Adjust the throttle pedal stop bolt so that the pedal hits the stop when full throttle is reached at the throttle body.  <b>This is important</b> – if the pedal is free to move past the point of full throttle at the body, you will likely snap the throttle cable.</li>
</ul>


<ul>
<li>In the front services compartment, repair any damage to the diverter flap housing using duct tape</li>
</ul>


<ul>
<li>Refit and tighten the diverter flap housing fixing screw</li>
</ul>


<ul>
<li>Refit the ventilation duct to both the blower unit and the diverter flap housing.</li>
</ul>


<ul>
<li>Refit and adjust the brake light switch so that the brake lights come on after ¼” brake pedal travel.  The switch is just pushed into the aperture to the appropriate depth and then rotated ¼ turn counter clockwise to lock it in position</li>
</ul>


<ul>
<li>Refit the driver’s seat</li>
</ul>


<ul>
<li>Reconnect your battery, and you’re done!</li>
</ul>


<ul>
<li>Go for a test drive – carefully!</li>
</ul>


<h4><span class="mw-headline" id="What_to_do_if_your_car_swallows_the_clutch_master_cylinder_dust_boot.E2.80.A6">What to do if your car swallows the clutch master cylinder dust boot…</span></h4>


<p>The bloody thing fell off and directly into the gaping maw of the blower unit.  I used this contraption to retrieve it, and here’s the proof :)</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_65.JPG" title="Duct tape to the rescue!"><img src="Pedal_Box_65.JPG" alt="Duct tape to the rescue!" width="220" />
</a></p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:Pedal_Box_64.JPG" title="The offending dust boot, rescued from the blower unit"><img src="Pedal_Box_64.JPG" alt="The offending dust boot, rescued from the blower unit" width="220" />
</a></p>