
<p>



These steps will assist in disabling the passenger side airbag and assume you have already removed the dashboard as explained here: <a href="http://wiki.seloc.org/a/Remove_MY2008_Dash" title="Remove MY2008 Dash">Remove_MY2008_Dash</a></p>

<p><b><i>Before you unplug the airbag, please be aware you may have to get a Lotus dealer to reset your warning light when you decide to plug it back in.</i></b></p>
<p><b>Remove old airbag cover clips</b></p>
<p>Using a screwdriver or similar, push out the broken parts of the airbag cover clips from the dashboard shown in red below. These will fall into the space behind and should be easily recovered.</p>
<p>Unscrew the other parts of the broken clips from the airbag cover.
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:My2008-dash5.jpg" ><img src="My2008-dash5.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>


<p><b>Unplug airbag</b>
Locate the yellow and pink plug on the side of the airbag unit shown in the picture below.</p>
<p>If removing the plug, you will need to undo the locking tab on the plug before it is removed, this is a little awkward as space is limited. The red arrow in the pictures below shows the location of the locking tab and the circled area is where the plug will be.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:My2008-dash4.jpg" ><img src="My2008-dash4.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/File:My2008-dash3.jpg" ><img src="My2008-dash3.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>

<p>If you are reconnecting the plug, make sure the locking tab is undone before plugging back in then push the tab into place to lock the plug in.</p>

<p>If you have just disconnected your airbag the next time you start the car up the airbag warning light should be on.</p>
<p>If you have reconnected your airbag you will have to reset the warning light.</p>
<p>The easiest way to do this is disconnect the battery and leave overnight.
If this doesn&#39;t work your car may have developed a voltage fault and this will unfortunately require a trip to the dealer to get it reset.</p>