
<div class="thumb tleft">
<div class="thumbinner" style="width:152px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Throttlelinkage1.jpg" ><img src="Throttlelinkage1.jpg" class="location-left type-thumb" width="150" />
</a></div>
</div>

<div class="thumb tleft">
<div class="thumbinner" style="width:152px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Throttlelinkage1a.jpg" title="Step1: Removing the baseplate screws"><img src="Throttlelinkage1a.jpg" alt="Step1: Removing the baseplate screws" title="Step1: Removing the baseplate screws" class="location-left type-thumb" width="150" />
</a>
<div class="thumbcaption">Step1: Removing the baseplate screws</div></div>
</div>

<p>Step 1 Some of you may stumble here because the two screws holding the base plate on can be very tight and unless you are an Ironman which I am not you won&#39;t be able to apply enough torque with a normal screwdriver to get the screws undone. I used an AEG torque application device for this step. You can see me removing one of the screws with the AEG on the left hand side.</p>
<p>Step 2 - Yvo&#39;s instructions say you should remove the throttle return spring so the base plate can come out 
but I found that it was not necessary, so step 2 must only apply to left hand drive cars. You can see the throttle return spring on the right hand side of the photograph.</p>
<p><br />
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:152px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Throttlelinkage3.jpg" title="Step3"><img src="Throttlelinkage3.jpg" alt="Step3" title="Step3" class="location-left type-thumb" width="150" />
</a>
<div class="thumbcaption">Step3</div></div>
</div>

<p>The base plate was lifted away and positioned where I could work on it. I noticed that there has been a lot of scraping going on where the link has been rubbing on the base plate for the last 48,000 miles.</p>
<p><br />
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:152px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Throttlelinkage4.jpg" title="Step4: I decided to disconnect the throttle cable side first so a Phillips screwdriver on one side and a 7mm socket on the other."><img src="Throttlelinkage4.jpg" alt="Step4: I decided to disconnect the throttle cable side first so a Phillips screwdriver on one side and a 7mm socket on the other." title="Step4: I decided to disconnect the throttle cable side first so a Phillips screwdriver on one side and a 7mm socket on the other." class="location-left type-thumb" width="150" />
</a>
<div class="thumbcaption">Step4: I decided to disconnect the throttle cable side first so a Phillips screwdriver on one side and a 7mm socket on the other.</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:152px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Throttlelinkage4a.jpg" title="And these are the components that came apart."><img src="Throttlelinkage4a.jpg" alt="And these are the components that came apart." title="And these are the components that came apart." class="location-left type-thumb" width="150" />
</a>
<div class="thumbcaption">And these are the components that came apart.</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:152px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Throttlelinkage5.jpg" title="Step5"><img src="Throttlelinkage5.jpg" alt="Step5" title="Step5" class="location-left type-thumb" width="150" />
</a>
<div class="thumbcaption">Step5</div></div>
</div>

<p>Step 5 - My smallest open ended spanner is 8mm, which was too big for the next step because the ball joint required a 6mm open ended spanner on the back side of the linkage.</p>
<p>I used long nosed pliers to grasp the back of the ball joint and used an 7mm socket to undo the nut. It wasn&#39;t a problem because the nut was only nipped up.</p>
<p>See the photograph in step 8 showing the position of the pliers.</p>
<p><br />
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:152px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Throttlelinkage6.jpg" title="Step6: The throttle cable came out easily enough. I just pulled the cable assembly apart to expose the inner core and the cable slid through the slot in the base plate."><img src="Throttlelinkage6.jpg" alt="Step6: The throttle cable came out easily enough. I just pulled the cable assembly apart to expose the inner core and the cable slid through the slot in the base plate." title="Step6: The throttle cable came out easily enough. I just pulled the cable assembly apart to expose the inner core and the cable slid through the slot in the base plate." class="location-left type-thumb" width="150" />
</a>
<div class="thumbcaption">Step6: The throttle cable came out easily enough. I just pulled the cable assembly apart to expose the inner core and the cable slid through the slot in the base plate.</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:152px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Throttlelinkage6a.jpg" title="6a: The assembly was then free from the car. I noticed the pivot nut was loose. I hadn&#39;t touched it and I don&#39;t know how long it has been like that."><img src="Throttlelinkage6a.jpg" alt="6a: The assembly was then free from the car. I noticed the pivot nut was loose. I hadn&#39;t touched it and I don&#39;t know how long it has been like that." title="6a: The assembly was then free from the car. I noticed the pivot nut was loose. I hadn&#39;t touched it and I don&#39;t know how long it has been like that." class="location-left type-thumb" width="150" />
</a>
<div class="thumbcaption">6a: The assembly was then free from the car. I noticed the pivot nut was loose. I hadn&#39;t touched it and I don&#39;t know how long it has been like that.</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:152px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Throttlelinkage6b.jpg" title="6b: Dismantling the original linkage from the base plate was easy, no tools needed here for me."><img src="Throttlelinkage6b.jpg" alt="6b: Dismantling the original linkage from the base plate was easy, no tools needed here for me." title="6b: Dismantling the original linkage from the base plate was easy, no tools needed here for me." class="location-left type-thumb" width="150" />
</a>
<div class="thumbcaption">6b: Dismantling the original linkage from the base plate was easy, no tools needed here for me.</div></div>
</div>

<p><br />
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:152px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Throttlelinkage7a.jpg" title="Step7a: The next series of photographs show the new linkage being assembled to the base plate using a combination of new steel washers and an original steel washer for extra clearance. My base plate has a stud, so I didn&#39;t need to use the screw that was supplied in the kit. First of all a new M4X12 washer went on."><img src="Throttlelinkage7a.jpg" alt="Step7a: The next series of photographs show the new linkage being assembled to the base plate using a combination of new steel washers and an original steel washer for extra clearance. My base plate has a stud, so I didn&#39;t need to use the screw that was supplied in the kit. First of all a new M4X12 washer went on." title="Step7a: The next series of photographs show the new linkage being assembled to the base plate using a combination of new steel washers and an original steel washer for extra clearance. My base plate has a stud, so I didn&#39;t need to use the screw that was supplied in the kit. First of all a new M4X12 washer went on." class="location-left type-thumb" width="150" />
</a>
<div class="thumbcaption">Step7a: The next series of photographs show the new linkage being assembled to the base plate using a combination of new steel washers and an original steel washer for extra clearance. My base plate has a stud, so I didn&#39;t need to use the screw that was supplied in the kit. First of all a new M4X12 washer went on.</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:152px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Throttlelinkage7b.jpg" title="7b: But after completing this part of the assembly I found the new linkage still rubbed on the base plate so I took it all apart again and added one of the original M5 washers because I did not have another M4X12 washer available."><img src="Throttlelinkage7b.jpg" alt="7b: But after completing this part of the assembly I found the new linkage still rubbed on the base plate so I took it all apart again and added one of the original M5 washers because I did not have another M4X12 washer available." title="7b: But after completing this part of the assembly I found the new linkage still rubbed on the base plate so I took it all apart again and added one of the original M5 washers because I did not have another M4X12 washer available." class="location-left type-thumb" width="150" />
</a>
<div class="thumbcaption">7b: But after completing this part of the assembly I found the new linkage still rubbed on the base plate so I took it all apart again and added one of the original M5 washers because I did not have another M4X12 washer available.</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:152px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Throttlelinkage7c.jpg" title="7c: then the top washer went on."><img src="Throttlelinkage7c.jpg" alt="7c: then the top washer went on." title="7c: then the top washer went on." class="location-left type-thumb" width="150" />
</a>
<div class="thumbcaption">7c: then the top washer went on.</div></div>
</div>

<p><br />
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:152px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Throttlelinkage7d.jpg" title="7d: Followed by the nut. Fortunately I have small fingers and this step could be tricky if you&#39;ve got Arnold Scharzenegger sized hands."><img src="Throttlelinkage7d.jpg" alt="7d: Followed by the nut. Fortunately I have small fingers and this step could be tricky if you&#39;ve got Arnold Scharzenegger sized hands." title="7d: Followed by the nut. Fortunately I have small fingers and this step could be tricky if you&#39;ve got Arnold Scharzenegger sized hands." class="location-left type-thumb" width="150" />
</a>
<div class="thumbcaption">7d: Followed by the nut. Fortunately I have small fingers and this step could be tricky if you&#39;ve got Arnold Scharzenegger sized hands.</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:152px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Throttlelinkage7f.jpg" ><img src="Throttlelinkage7f.jpg" class="location-left type-thumb" width="150" />
</a></div>
</div>

<p>7e: The nut only needed to be nipped up otherwise I would have snapped the stud or crushed the bearing.</p>
<p>After nipping up the nut I checked to make sure the linkage moved freely. This is when I found that I needed two washers at the bottom, because the linkage still rubbed on the base plate with only one washer.</p>
<p>I also checked to make sure the nut was tightened up correctly so the linkage moved freely but was not loose at the same time.</p>
<p><br />
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:152px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Throttlelinkage8.jpg" title="Step8"><img src="Throttlelinkage8.jpg" alt="Step8" title="Step8" class="location-left type-thumb" width="150" />
</a>
<div class="thumbcaption">Step8</div></div>
</div>

<p>Step 8 - Then it was time to fit it all back together. Here is the photograph that shows the pliers clamping the ball joint and nipping up the nylock nut. This is what I was referring to back in step 5.</p>
<p>I originally used the middle hole for the standard throttle option as shown in this photograph, but I later changed my mind and moved it to the inner hole for the quick throttle option.</p>
<p>The photograph in step 9f shows the linkage connected in the inner position for the quick throttle option.</p>
<p><br />
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:152px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Throttlelinkage9a.jpg" title="9a: The throttle cable assembly went back on."><img src="Throttlelinkage9a.jpg" alt="9a: The throttle cable assembly went back on." title="9a: The throttle cable assembly went back on." class="location-left type-thumb" width="150" />
</a>
<div class="thumbcaption">9a: The throttle cable assembly went back on.</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:152px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Throttlelinkage9b.jpg" title="Step9b: Then it was time to start assembling the throttle cable washer stack. This was the most complicated part of the whole procedure and great care had to be taken to assemble the components in the right order.

The washer stack splits into lower, middle and upper sub-assemblies."><img src="Throttlelinkage9b.jpg" alt="Step9b: Then it was time to start assembling the throttle cable washer stack. This was the most complicated part of the whole procedure and great care had to be taken to assemble the components in the right order.

The washer stack splits into lower, middle and upper sub-assemblies." title="Step9b: Then it was time to start assembling the throttle cable washer stack. This was the most complicated part of the whole procedure and great care had to be taken to assemble the components in the right order.

The washer stack splits into lower, middle and upper sub-assemblies." class="location-left type-thumb" width="150" />
</a>
<div class="thumbcaption">Step9b: Then it was time to start assembling the throttle cable washer stack. This was the most complicated part of the whole procedure and great care had to be taken to assemble the components in the right order.

The washer stack splits into lower, middle and upper sub-assemblies.</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:152px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Throttlelinkage9c.jpg" title="9c: I assembled the washer stack making sure to grease the two original nylon washers. This photograph shows the middle layer in position."><img src="Throttlelinkage9c.jpg" alt="9c: I assembled the washer stack making sure to grease the two original nylon washers. This photograph shows the middle layer in position." title="9c: I assembled the washer stack making sure to grease the two original nylon washers. This photograph shows the middle layer in position." class="location-left type-thumb" width="150" />
</a>
<div class="thumbcaption">9c: I assembled the washer stack making sure to grease the two original nylon washers. This photograph shows the middle layer in position.</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:152px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Throttlelinkage9d.jpg" title="9d: Then the top layer of the washer stack went on."><img src="Throttlelinkage9d.jpg" alt="9d: Then the top layer of the washer stack went on." title="9d: Then the top layer of the washer stack went on." class="location-left type-thumb" width="150" />
</a>
<div class="thumbcaption">9d: Then the top layer of the washer stack went on.</div></div>
</div>

<p><br />
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:152px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Throttlelinkage9e.jpg" title="9e: Then I gently nipped the nylock nut up. I had to use an adjustable spanner because I do not possess a 7mm open ended spanner."><img src="Throttlelinkage9e.jpg" alt="9e: Then I gently nipped the nylock nut up. I had to use an adjustable spanner because I do not possess a 7mm open ended spanner." title="9e: Then I gently nipped the nylock nut up. I had to use an adjustable spanner because I do not possess a 7mm open ended spanner." class="location-left type-thumb" width="150" />
</a>
<div class="thumbcaption">9e: Then I gently nipped the nylock nut up. I had to use an adjustable spanner because I do not possess a 7mm open ended spanner.</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:152px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Throttlelinkage9f.jpg" title="9f"><img src="Throttlelinkage9f.jpg" alt="9f" title="9f" class="location-left type-thumb" width="150" />
</a>
<div class="thumbcaption">9f</div></div>
</div>

<p>9f: All ready for the base plate to be bolted back on.</p>
<p>This photograph has been updated since I originally fitted the linkage.</p>
<p>I have now connected the throttle linkage to the inner hole and it is set up to give the quick throttle option.</p>
<p>For the standard setting (middle hole) I did not have to make any changes to either the throttle stop or at the throttle body end. See the photograph in step 8.</p>
<p>For quick throttle setting (inner hole) I had to adjust the throttle stop by approximately 10mm, but I found that I did not need to make any adjustments at the throttle body end.</p>
<p><br />
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:152px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Throttlelinkage10a.jpg" title="Step10a: Yvo supplied two bolts for the base plate and they are a much better idea than the screws."><img src="Throttlelinkage10a.jpg" alt="Step10a: Yvo supplied two bolts for the base plate and they are a much better idea than the screws." title="Step10a: Yvo supplied two bolts for the base plate and they are a much better idea than the screws." class="location-left type-thumb" width="150" />
</a>
<div class="thumbcaption">Step10a: Yvo supplied two bolts for the base plate and they are a much better idea than the screws.</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:152px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Throttlelinkage10b.jpg" title="10b: I just nipped up the bolts and job done. Notice in this photograph the linkage was set to the normal middle position."><img src="Throttlelinkage10b.jpg" alt="10b: I just nipped up the bolts and job done. Notice in this photograph the linkage was set to the normal middle position." title="10b: I just nipped up the bolts and job done. Notice in this photograph the linkage was set to the normal middle position." class="location-left type-thumb" width="150" />
</a>
<div class="thumbcaption">10b: I just nipped up the bolts and job done. Notice in this photograph the linkage was set to the normal middle position.</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:152px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Throttlelinkage11.jpg" title="Step11: Reconnect the throttle return spring and we are done."><img src="Throttlelinkage11.jpg" alt="Step11: Reconnect the throttle return spring and we are done." title="Step11: Reconnect the throttle return spring and we are done." class="location-left type-thumb" width="150" />
</a>
<div class="thumbcaption">Step11: Reconnect the throttle return spring and we are done.</div></div>
</div>

<p><br />
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:152px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Throttlelinkage12.jpg" title="Here are the tools I used plus my trusty AEG. The sockets are 7mm &#38; 8mm."><img src="Throttlelinkage12.jpg" alt="Here are the tools I used plus my trusty AEG. The sockets are 7mm &#38; 8mm." title="Here are the tools I used plus my trusty AEG. The sockets are 7mm &#38; 8mm." class="location-left type-thumb" width="150" />
</a>
<div class="thumbcaption">Here are the tools I used plus my trusty AEG. The sockets are 7mm &#38; 8mm.</div></div>
</div>

<p> 
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:152px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Throttlelinkage13.jpg" title="And here are the parts left over. I fitted one of the original steel washers in step 7 to get extra clearance between the base plate and the throttle linkage."><img src="Throttlelinkage13.jpg" alt="And here are the parts left over. I fitted one of the original steel washers in step 7 to get extra clearance between the base plate and the throttle linkage." title="And here are the parts left over. I fitted one of the original steel washers in step 7 to get extra clearance between the base plate and the throttle linkage." class="location-left type-thumb" width="150" />
</a>
<div class="thumbcaption">And here are the parts left over. I fitted one of the original steel washers in step 7 to get extra clearance between the base plate and the throttle linkage.</div></div>
</div>

<p>
I checked to make sure that everything moved freely and started the car up. I noticed an instant improvement in the smoothness of the throttle. It&#39;s one of the best and cheapest modifications that I have done to my car.</p>
<p><br />
</p><h2><span class="mw-headline" id="Correct_nut:washers:bolt_assembly">Correct nut:washers:bolt assembly</span></h2>
<p><a class="image" href="http://wiki.seloc.org/a/Image:ThrottlelinkageLatestStack.jpg" ><img src="ThrottlelinkageLatestStack.jpg" class="location-left" width="220" />
</a>
Now.. as you might notice, I&#39;ve added a small M4 washer in the stack (standard M4 washer). I&#39;ve done this to prevent any locking action between the thick nylon ring and the throttle linkage. 
It&#39;s not absolutely necessary (if it&#39;s moving, it&#39;s moving) but it gives just a little more freedom to move, so precautionary action..)</p>


<p>

</p>