
<p>Example honda exhaust</p>
<h3><span class="mw-headline" id="Eliseparts">Eliseparts</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:KMS-ELISE2-111S-YOSHI-12.jpg" ><img src="KMS-ELISE2-111S-YOSHI-12.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td>120dB</td></tr>
<tr>
<td style="background:silver">Price</td>
<td>1000</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Eliseparts</td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://www.eliseparts.com/here/there.com" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>This is a very loud exhaust etc...</td></tr></table></div>

<h3><span class="mw-headline" id="Chris_Tullett">Chris Tullett</span></h3>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td rowspan="8"><a class="image" href="http://wiki.seloc.org/a/Image:KMS-ELISE2-111S-YOSHI-12.jpg" ><img src="KMS-ELISE2-111S-YOSHI-12.jpg" width="100" />
</a></td>
<td style="background:silver">Material</td>
<td>Stainless Steel</td></tr>
<tr>
<td style="background:silver">Weight</td>
<td /></tr>
<tr>
<td style="background:silver">dB</td>
<td>97dB</td></tr>
<tr>
<td style="background:silver">Price</td>
<td>550 +vat</td></tr>
<tr>
<td style="background:silver">Suppliers</td>
<td>Chris Tullett </td></tr>
<tr>
<td style="background:silver">Web </td>
<td><a class="external text" href="http://christullettexhausts.com/" rel="nofollow">Click Here</a></td></tr>
<tr>
<td style="background:silver">Notes </td>
<td>Nice quiet exhaust thats repackable. Make the car sounds more like a bike.</td></tr></table></div>

<p>


</p>