<h3><span class="mw-headline" id="Engine_Oil">Engine Oil</span></h3>



<p>In order to ensure the longevity and reliability of the vehicle, it is most important that only the specified lubricants are used. It is an entirely false economy to try to save money by using lower quality oils, which may degade before the next change interval and provide inadequate protection before the end of the term. </p>
<p>High oil consumption may also result. 
The engine is factory filled with a top quality mineral oil to be used during the running-in 
period until the After Sales Service. Once running-in has been completed, it is considered 
that fully synthetic engine oils represent the best value in terms of fuel economy and wear 
protection.</p>
<p>A multigrade oil is designated with a low temperature viscosity grade
(first number with ‘W’ for winter) followed by a high temperature viscosity grade. 
Oils with low cold viscosity, offer benefits in terms of fuel economy, ease of cranking and starting, and cold run protection.
Oils with high hot viscosity offer increased protection at high temperatures and high rpm. </p>

<p>For the ‘Mk.1’ and ‘Mk.2’ Elise: </p>

<p>Choose a multigrade oil with viscosity in the following range: </p>
<p>Cold viscosity; 0 - 20W </p>
<p>Hot viscosity; 50 - 60 </p>


<p>For use in temperate climates, Lotus specifically recommends the following fully synthetic 
products: </p>
-Mobil 1 Motorsport 15W/50 

-Castrol Formula RS 10W/60 (Note: this was recently replaced in the range by Castrol Edge Sport 10w-60)




<p>(oilman recommend a 5w/40 for a stock Elise here: <a class="external free" href="http://forums.seloc.org/viewthread.php?tid=150928" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=150928</a> ) </p>





<p>For use in extreme cold climates, choose an oil with a low temperature viscosity of 0W. </p>

<p>For the Elise 111R/Exige ‘Mk.2’/USA Elise: </p>
<p>These models have been tested in all climatic conditions likely to be encountered with 
Texaco Havoline Synthetic 5W/40 oil which offers advantages in ease of cranking, smooth 
cold running and fuel economy at low temperatures, in combination with good wear 
protection at elevated temperatures and at high engine speeds.</p>
<p>However, if a car is to be driven on track at maximum effort, or in conditions or a manner likely to result in very high oil temperatures being achieved, the engine oil should be changed for </p>
<p>Castrol Formula RS 10W/60. </p>

<p>Lotus 900 series 4 cylinder engines and V8: </p>

<p>Choose a multigrade oil with viscosity in the following range: </p>

<p>Cold viscosity; 0 - 15W </p>
<p>Hot viscosity; 40 - 60 </p>

<p>Lotus specifically recommends </p>
<p>Mobil 1 Motorsport 15W/50, and Castrol Formula RS 10W/60 (Note: this was recently replaced in the range by Castrol Edge Sport 10w-60). </p>

<p>In all cases, the oil quality grades which should be met are either European standard ACEA 
A3, American standard API SL/CF, SJ/CF, or international standard ILSAC GF-3. Check 
that this is printed on the oil container.</p>

<p><b>Frequently Asked Oil Questions</b></p>

<p>Answers From The Oil Expert</p>
<p>But not from us this time!</p>
<p>We get asked many oil related questions every day and decided to put some of the most frequently asked ones to an Oil Expert called John Rowland. He has been the Chief R&#38;D Chemist for Fuchs/Silkolene for many years and previously developed ahead of their time ester based oils for the RR Jet industry. What he doesn’t know about oil is not worth knowing in our opinion!
Even though some of these topics may have been covered before here, this post is well worth reading.</p>
<p>1) How is an oil manufactured; transformed from the black sludge that comes out of the ground, into the nectar-like substance we pour into our cars and bikes?</p>
<p>Crude oil, which is usually very thin, (contrary to popular belief!) is distilled into light and heavy fractions, with several intermediate ones. (The evil left-overs are used to fuel the 15 million cc/40RPM diesels in the giant oil tankers that bring the crude to the refinery.)
The lighter fractions, usually more than 90% of the original crude, are converted into petrol and diesel. Some of the heavier oils, (still dark and smelly!) go through several processes to clean them up and remove wax. Out of about a dozen oily products 4 clear, bright amber oils are commonly used to blend modern engine and gear oils. These are roughly equivalent to SAE 10, 20, and 30 engine rating and 140 gear rating. Oil refineries also produce all sorts of gases and chemical compounds which can be used to build up &#39;tailor made&#39; lubricants: synthetics! </p>
<p>2) What are the most important substances added to the refined base oils? What do they do?</p>
<p>In the Dark Ages, engines used blends of refined mineral oils &#39;straight&#39;, with nothing added. The trouble was, even in the slow-revving engines of 80 years ago the oil didn&#39;t last very long, and the engines didn&#39;t either. 
Black sludge and corrosion were the killers, and both were tackled in the 1950s with detergent and antioxidant chemicals. (When I was a lad, I used to visit a mate of my Dad&#39;s who rebuilt the very popular side-valve Ford engines. The thick crap inside these things was unbelievable! The valve tappets were moving in holes in solid blocks of carbon!) The detergents washed the carbon from fuel combustion off the bores and out of the ring grooves, and at the same time reduced bore and piston ring corrosion. 
The antioxidants stopped the oil reacting with oxygen in the air, which cut acid sludge formation which in turn reduced corrosion and oilway blockages. Some antioxidants had the useful side-effect of reducing wear as well. This added up to longer oil and engine life, both improving about three times. (Straight oil had to be changed every 1000miles, and even lightly-stressed engines running on it were ready for a full overhaul at 15-20,000.) OK, I admit there were design and metallurgical improvements, but they needed that vital &#39;liquid component&#39; to be fully effective. 
Later came dispersant compounds which held the carbon as tiny particles in the oil which didn&#39;t settle out anywhere, and slipped through the oil filter as if it wasn&#39;t there.(Solid bits in well-used modern oil are about 1/1000mm
across; the pores in an oil filter are at least 15 times bigger.)
The other big problem with oil used to be cold starting. It was usual to have SAE 20 Winter or &#39;W&#39; grades, and SAE 30 or 40 Summer grades, and even the so-called Winter types would defeat the starter in serious cold weather. Unfortunately, oil is very thick when it&#39;s cold, and very thin when it&#39;s hot. To have an oil thick enough to look after a
hard working engine, you had to use a grade which was too thick when it was cold. </p>
<p>The answer was (and is) multigrade! What was needed was an oil that behaved like a 20 &#39;W&#39; grade in the cold, but only thinned down to a SAE 40 or 50 when really hot; yes, 20W/50! This can be done by mixing thin oil with thick polymers based on plastics and synthetic rubbers; these don&#39;t do much in the cold, but as the oil warms up they unwind and thicken it up to some extent. The oil still thins down, but not as quickly as a polymer-free or monograde type. 
Multigrades started to catch on around 1960, but these pioneer types were easily ruined by mechanical shear effects, more so in gearboxes than engines. These days the better quality polymers resist shear even in combined engine/transmissions, so it is essential to use good quality shear-resistant types in a gearbox fed by the engine (such as the traditional mini!), which gives its oil a hard time in both engine and gearbox.
Incidentally, there are large amounts of these additives and polymers in there, it&#39;s not just &#39;a little bit of this, a little bit of that&#39;! A good quality mineral 10W/40 can be 80% base 20% additive chemistry, and guess which is the expensive ingredient!</p>
<p>3) What are the differences, in layman&#39;s terms, between mineral, semi-synthetic and fully-synthetic engine oil? (In terms of structure and performance.)</p>
<p>Before we get into details, the first thing to realise that there is no chalk and cheese difference between mineral and synthetic based oils. After all, the chemical compounds which make mineral engine oils so much better are themselves synthetic. 
Synthetic lubricant bases are stepwise improvements on mineral oil, with more desirable properties and fewer
undesirable ones. The second important point is that there&#39;s no one thing called &#39;synthetic&#39;! There are several different types of synthetic lubricant, and to say something like: &#39;the Supergrunt GTI TURBO must have a
full synthetic&#39; is meaningless unless the &#39;expert&#39; explains what sort of synthetic he means. 
Equally, to imply that dreadful things will happen if the 1970 RV8 is run on anything other than good’ ole mineral oil is ridiculous. It may not need a 2007 synthetic, but it isn&#39;t going to come to any harm if the owner uses a 2007
synthetic!
The most basic type of synthetic is really a special mineral oil. Known as &#39;hydrocracked&#39; bases, these are made in oil refineries by putting certain types of mineral fraction through special processing, so they cost more than the usual mineral types but not much more. They are useful because they resist evaporation at high temperatures. Although
used for years for genuine technical reasons, they are now popular with marketing men because the magic sexy word &#39;synthetic&#39; can legitimately be printed on the label without spending much on the oil inside the can!
Yes, all low-cost &#39;synthetics&#39; contain anything from a few percent to 20 percent (i.e. &#39;semi-synthetic&#39;) of special mineral oil. Using fairly simple chemical compounds or gases from oil refineries or other sources, it is possible to &#39;synthesise&#39; or build up tailor-made lubricant molecules which have very desirable characteristics, such as great resistance to cold, heat, evaporation losses or excessive thinning as they get hot. These are the true synthetics, and the two that are used in engine oils are PAOs (poly alpha olefins) and esters. 
Neither is cheap! PAOs are related to mineral oils, and are the ideal carriers for all the chemical compounds used in mineral oils. Because they do not gel at very low temperatures, all genuine 0W-something oils have to be based
on PAOs to pass the 0W test at a sub-arctic -35C. 
Esters were originally made for jet engine lubricants, and to this day all jet oils are ester-based. Although similar in performance to PAOs, they have a valuable extra trick: they are good lubricants and help to protect metal surfaces. Esters help with transmission and valve train lubrication. 100% fully synthetic oils are actually quite rare, probably because they are very expensive to make, and even more expensive to buy.
Even so, an ester/PAO with a very shear stable multigrade polymer is the ultimate oil for high output engines that are worked hard, which means racing.</p>
<p>4) How does oil work? What gives it its lubricating properties? How does it &#39;cling on&#39; to surfaces?</p>
<p>A plain bearing such as a main or big end, when spinning fast is &#39;floating&#39; on a relatively thick film of oil. The metal surfaces literally do not touch. The high velocity drives a wedge of oil between the two surfaces, and the oil film supports the load, just like a water skier skimming over that very thin lubricant, water. But, when the engine slows down and stops the bearing shells drop through the film and touch the crankpins, just as the skier sinks in up to his neck when he lets go of the rope. 
It is where there is metal to metal contact that lubrication, that is, something to reduce wear and seizure, is needed.
On gear teeth, valve components, and piston rings at top or bottom dead centre, there is no high speed rotation to generate &#39;wedge&#39; support, so the oil films are very thin, and some metal contact is inevitable. Some fluids, even if they look thick and oily, are completely hopeless! Very pure mineral oils, and some synthetics fall into this group. They depend entirely on chemical load-carrying compounds which react with metal at high pressures and temperatures to provide very thin protective films which prevent micro-welds where metal surfaces come into contact.
Detergent and antioxidant chemicals often double up as anti-wear agents. The odd ones out are esters. These are attracted to metal by electrostatic forces and cling on when surfaces are forced into contact. </p>
<p>5) What are (or can be) the main differences between oils of the same type, i.e. what&#39;s the difference between a &#39;good&#39; and a &#39;bad&#39; oil? </p>
<p>It all comes down to honesty really.....so beware! A good oil is what it claims to be on the can. 10W/40? Does it really pass the cold test at -25C? Quite a few I&#39;ve tested do not. There is usually an API spec quoted, such as API SH or SL. These are car-based, and a good basic quality guide. If absent, leave it on the shelf, and avoid lawyer-speak:
&#39;meets the requirements of....&#39; or &#39;recommended (by whom?) for use in....&#39;. </p>
<p>Then there is the &#39;synthetic&#39; minefield! Provided the price hasn&#39;t been pushed up by shipping an average oil 5000miles from the West coast of the USA, you get what you pay for. The best performance oils are made
in the more developed European countries, but low price buys the cheap &#39;modified mineral&#39; synthetic and not much of it, with a poor multigrade polymer. As is so often the case, quality follows cost.</p>
<p>6) What are the likely consequences of using poor-quality oil?</p>
<p>Usually, these are fairly long term, except in racing. Think of the oil as a liquid component, and poor oil as a cheap pattern spare. In a road car long-term reliability and performance retention (i.e. acceleration figures below new spec., fuel and oil consumption above) are the casualties. Particularly in a high performance or racing car,
the effects can be more immediate and catastrophic. </p>
<p>Thanks to John for his honest and informative advice, we look forward to the next instalment!.</p>
<p>Cheers</p>
<p>Guy and the opieoils.co.uk team. </p>


<h2><span class="mw-headline" id="Other_sources_of_information">Other sources of information</span></h2>


<p><a class="external text" href="http://wiki.seloc.org/index.php/Oil_Labelling_Explained" rel="nofollow">Oil Labelling Explaned</a></p>
<p><a class="external text" href="http://wiki.seloc.org/index.php/Oil_and_filter_change" rel="nofollow">Oil and Filter Change</a></p>
<p><a class="external text" href="http://en.wikipedia.org/wiki/Motor_oil" rel="nofollow">Wikipedia on Motor Oil</a></p>
<p><a class="external text" href="http://www.opieoils.co.uk/" rel="nofollow">Opie Oil</a></p>
<p><a class="external text" href="http://www.grouplotus.com/media/car/doc/engineoil.pdf" rel="nofollow">Download This Information in a PDF</a></p>
<p><a class="external text" href="http://www.carbibles.com/engineoil_bible.html" rel="nofollow">External link to the Engine Oil Bible</a></p>
