
<p>A leakdown is different to a <a href="http://wiki.seloc.org/a/Compression_test" title="Compression test">compression test</a>.</p>
<p>Cylinder leakdown testing is static and uses compressed air to generate the cylinder pressure, whereas the compression test is just using the cylinder to compress what air is already in there.</p>
<p>Leakdown testing will give you a much better indication of cylinder sealing, but I doubt the average garage can do it for you. Ask them specifically if they do cylinder leakdown and not a compression test. If they say they are the same thing, then they don&#39;t know what they are talking about, so move on.</p>

<p>The advantage with a leakdown test is that it is normally possible to diagnose the source of the leak, I.E. rings, inlet valves, exhaust valves, gasket etc. by determining where the leaked air is going.</p>