<h3><span class="mw-headline" id="Compression_test">Compression test</span></h3>

<p><b>Please Add Info, just click edit</b></p>
<p>An engine is essentially a self-powered air pump, so it needs good compression to run efficiently, cleanly and to start easily.</p>

<p>As a rule, most engines should have no more than 10% difference between any of the cylinders.</p>

<p>Low compression in one cylinder usually indicates a bad exhaust valve. </p>
<p>Low compression in two adjacent cylinders typically means you have a bad head gasket. </p>
<p>Low compression in all cylinders would tell you the rings and cylinders are worn and the engine needs to be rebuilt. </p>
