
<p>This page contains a list of Toyota engines used in Lotus cars. Engines are listed chronologically, in order of introduction in to the Lotus line-up.</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1"><a href="#Inline-4_engines">Inline-4 engines</a>
<ul>
<li class="toclevel-2"><a href="#2ZZ-GE">2ZZ-GE</a>
<ul>
<li class="toclevel-3"><a href="#Basic_stats">Basic stats</a>
</li>
<li class="toclevel-3"><a href="#Exige_S.2FC_Models">Exige S/C Models</a>
<ul>
<li class="toclevel-4"><a href="#Exige_S_Stats">Exige S Stats</a>
</li>
<li class="toclevel-4"><a href="#Exige_Cup_260_Stats">Exige Cup 260 Stats</a>
</li>
</ul>
</li>
<li class="toclevel-3"><a href="#Elise_SC">Elise SC</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#1ZZ-FE">1ZZ-FE</a>
<ul>
<li class="toclevel-3"><a href="#Basic_stats_2">Basic stats</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#1ZR-FAE">1ZR-FAE</a>
</li>
<li class="toclevel-2"><a href="#2ZR-FE">2ZR-FE</a>
<ul>
<li class="toclevel-3"><a href="#Basic_stats_3">Basic stats</a>
</li>
<li class="toclevel-3"><a href="#Elise_S">Elise S</a>
</li>
</ul>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#V6_Engines">V6 Engines</a>
<ul>
<li class="toclevel-2"><a href="#2GR-FE">2GR-FE</a>
<ul>
<li class="toclevel-3"><a href="#Basic_stats_4">Basic stats</a>
</li>
<li class="toclevel-3"><a href="#Evora">Evora</a>
</li>
<li class="toclevel-3"><a href="#Evora_S.2FExige_S">Evora S/Exige S</a>
</li>
<li class="toclevel-3"><a href="#Motorsport">Motorsport</a>
</li>
</ul>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#References">References</a>
</li>
</ul></td></tr></table><hr/>
<h1><span class="mw-headline" id="Inline-4_engines">Inline-4 engines</span></h1>

<h2><span class="mw-headline" id="2ZZ-GE">2ZZ-GE</span></h2>

<p>Introduced in early 2004 for the Elise 111R (later renamed the Elise R in 2006) and S2 Exige, the 2ZZ-GE and its derivatives became the mainstay of high performance factory Elise and Exige models until it was phased out at the end of 2010 with the introduction of the Euro 5 engine regulations (although some cars using the 2ZZ-GE were still produced in 2011 for the US market). Later models such as the Elise SC and Exige S add a supercharger to deliver upwards of 200bhp.</p>
<p>This engine uses a the VVTL-i system, which alters the valve timing and lift once the engine revs increase above 6200rpm - assuming various criteria are met to reduce the likelyhood of damage to the engine, such as oil temperature and pressure. The standard cam durations and lifts are shown below.</p>

<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<td></td>
<th colspan="2">Intake</th>
<th colspan="2">Exhaust</th></tr>
<tr>
<td></td>
<th>Duration</th>
<th>Valve lift</th>
<th>Duration</th>
<th>Valve lift</th></tr>
<tr>
<td>Low Cam</td>
<td align="center">228° </td>
<td align="center">7.6mm</td>
<td align="center">228° </td>
<td align="center">7.6mm</td></tr>
<tr>
<td>High Cam</td>
<td align="center">292° </td>
<td align="center">11.2mm</td>
<td align="center">276° </td>
<td align="center">10.0mm</td></tr></table></div>

<p>Some people find this cam change point a little late, making the car hard to keep &#39;on the boil&#39;, with a tendancy to drop below the cam change point if shifting up through the gears before the redline. To combat this, some people opt to have the cam change point lowered to 5700rpm. This is sometimes known as the &#39;Motorsport remap&#39; and is offered by companies such as <a class="external text" href="http://www.hangar111.com/web-store/116-lotus-elise-111r-exige-ecu-remap-5700-cam-switch-or-b-type-ecu.html" rel="nofollow">Hangar 111</a> and <a class="external text" href="http://www.essexautosport.com/content/upgrades/upg_toyota.html" rel="nofollow">Essex Autosport</a>.</p>
<p>After-market supercharger upgrades are also available for the standard 2ZZ-GE engine, offering an upgrade path for those looking for more power from 111R&#39;s and early S2 Exige&#39;s.</p>
<p>The main weak points of the 2ZZ-GE have problems with oil starvation at high corner speeds, camshaft failure (excess lobe wear) and clutch failure. These failures are rare, but for cars which are seeing track usage with semi-slick tyres it is recommended that sump baffles are retrofitted to avoid the oil starvation issues. Early 2ZZ-GE equipped cars us traditional throttle cable, but in later cars this was changed to a drive-by-wire system.</p>
<p>The accompanying Toyota C64, 6-speed, gearbox is also recognised as a weak point, particularly in high-powered applications.</p>
<h3><span class="mw-headline" id="Basic_stats">Basic stats</span></h3>

<p>These are the basic stats for the engine when used by Toyota. Further information can be found on the Wikipedia Toyota ZZ engine page.<sup><a href="#ref1">1</a></sup></p>

<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>Engine fuel</th>
<td>Petrol</td></tr>
<tr>
<th>Configuration </th>
<td>Inline-4, transverse installation</td></tr>
<tr>
<th>Capacity </th>
<td>1796 cc</td></tr>
<tr>
<th>Bore </th>
<td>82 mm</td></tr>
<tr>
<th>Stroke</th>
<td>85 mm</td></tr>
<tr>
<th>Valves </th>
<td>16 (4 per cylinder)</td></tr>
<tr>
<th>Head Construction </th>
<td>Aluminium</td></tr>
<tr>
<th>Block Construction </th>
<td>Aluminium</td></tr>
<tr>
<th>Power</th>
<td>189bhp (141KW) at 7800rpm</td></tr>
<tr>
<th>Torque </th>
<td>133lb/ft (181 Nm) at 6800rpm</td></tr>
<tr>
<th>Engine fuel</th>
<td>Petrol</td></tr>
<tr>
<th>Weight </th>
<td>115 kg</td></tr></table></div>

<h3><span class="mw-headline" id="Exige_S.2FC_Models">Exige S/C Models</span></h3>

<p>The Exige S (and other supercharged Exige models) increase the power of the 2ZZ-GE engine through the fitment of a supercharger and intercooler above the engine. The intercooler is then fed cool air by the roof scoop, which is blanked off in the non-supercharged models, but opened up for the S. The standard Exige S has a relatively short roof scoop, but models such as Performance Pack equipped cars (240bhp), the Cup cars (up to 257bhp for the Cup 260) and RGB Limited Edition (again, 257bhp), have longer and larger roof scoops fitted.</p>
<h4><span class="mw-headline" id="Exige_S_Stats">Exige S Stats</span></h4>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>Engine fuel</th>
<td>Petrol</td></tr>
<tr>
<th>Configuration</th>
<td>Inline-4 Supercharged, transverse installation</td></tr>
<tr>
<th>Power</th>
<td>220bhp (164KW) at 8000rpm</td></tr>
<tr>
<th>Torque</th>
<td>158lb/ft (215Nm) at 5500rpm</td></tr></table></div>

<h4><span class="mw-headline" id="Exige_Cup_260_Stats">Exige Cup 260 Stats</span></h4>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>Engine fuel</th>
<td>Petrol</td></tr>
<tr>
<th>Configuration</th>
<td>Inline-4 Supercharged, transverse installation</td></tr>
<tr>
<th>Power</th>
<td>257bhp (192KW) at 8000rpm</td></tr>
<tr>
<th>Torque</th>
<td>174lb/ft (236Nm) at 6000rpm</td></tr></table></div>

<h3><span class="mw-headline" id="Elise_SC">Elise SC</span></h3>

<p>For the Elise SC the 2ZZ-GE is once again paired up with a supercharger, but the lack of space in the engine bay in the Elise means no intercooler is fitted.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Lotus_Supercharged_Engine.JPG" title="The 2ZZ-GE with supercharger, fitted to the Elise SC."><img src="Lotus_Supercharged_Engine.JPG" alt="The 2ZZ-GE with supercharger, fitted to the Elise SC." title="The 2ZZ-GE with supercharger, fitted to the Elise SC." class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">The 2ZZ-GE with supercharger, fitted to the Elise SC.</div></div>
</div>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>Engine fuel</th>
<td>Petrol</td></tr>
<tr>
<th>Configuration</th>
<td>Inline-4 Supercharged, transverse installation</td></tr>
<tr>
<th>Power</th>
<td>217bhp (163KW) at 8000rpm</td></tr>
<tr>
<th>Torque</th>
<td>154lb/ft (236Nm) at 5000rpm</td></tr></table></div>

<h2><span class="mw-headline" id="1ZZ-FE">1ZZ-FE</span></h2>

<p>The Toyota 1ZZ-FE engine was utilised in the Lotus Elise S, produced between June 2006 and late 2010, when it was replaced by the smaller capacity <a href="#1ZR-FAE">1ZR-FAE</a>.</p>
<p>Compared to the <a href="#2ZZ-GE">2ZZ-GE</a>, used in the <a href="http://wiki.seloc.org/a/Elise_model_history#Elise_111R_Introduction:_January_2004" title="Elise model history">Elise 111R</a>, the 1ZZ-FE has a slightly lower capacity (1794cc vs. 1796cc) owing to a longer stroke and narrower bore. It uses the VVT-i cam gear system, and therefore lacks the high-lift second cam of the VVTL-i system in the 2ZZ-GE.</p>
<p>This gives the engine a little more low down torque, but less top-end power and a lower rev-limit. It is paired with the C56, 5-speed, gearbox.</p>
<h3><span class="mw-headline" id="Basic_stats_2">Basic stats</span></h3>

<p>These are the basic stats for the engine when used by Toyota. Further information can be found on the Wikipedia Toyota ZZ engine page.<sup><a href="#ref2">2</a></sup></p>

<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>Engine fuel</th>
<td>Petrol</td></tr>
<tr>
<th>Configuration</th>
<td>Inline-4, transverse installation</td></tr>
<tr>
<th>Capacity</th>
<td>1794 cc</td></tr>
<tr>
<th>Bore</th>
<td>79 mm</td></tr>
<tr>
<th>Stroke</th>
<td>91.5 mm</td></tr>
<tr>
<th>Valves</th>
<td>16 (4 per cylinder)</td></tr>
<tr>
<th>Head Construction</th>
<td>Aluminium</td></tr>
<tr>
<th>Block Construction</th>
<td>Aluminium</td></tr>
<tr>
<th>Power</th>
<td>134bhp (100KW) at 6200rpm</td></tr>
<tr>
<th>Torque</th>
<td>127lb/ft (164 Nm) at 4200rpm</td></tr>
<tr>
<th>Engine fuel</th>
<td>Petrol</td></tr>
<tr>
<th>Weight</th>
<td>102 kg (<a class="external text" href="http://www.spyderchat.com/enginedetail.htm" rel="nofollow">Weight listed on Spyderchat</a>)</td></tr></table></div>

<h2><span class="mw-headline" id="1ZR-FAE">1ZR-FAE</span></h2>

<p>Introduced in the MY11 Elise in late 2010, the 1ZR-FAE is the smallest engine fitted in to a production Elise at just 1598cc, replacing the entry level Elise S and it&#39;s <a href="#1ZZ-FE">1ZZ-FE</a> engine.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Elise_1.6_Engine.jpg" title="The 1ZR-FAE as fitted to the Elise 1.6 - (c) Lotus Cars"><img src="Elise_1.6_Engine.jpg" alt="The 1ZR-FAE as fitted to the Elise 1.6 - (c) Lotus Cars" title="The 1ZR-FAE as fitted to the Elise 1.6 - (c) Lotus Cars" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">The 1ZR-FAE as fitted to the Elise 1.6 - (c) Lotus Cars</div></div>
</div>

<p>The 1ZR-FAE delivers the same peak power (albeit high up the rev range) as the 1ZZ-FE, but gives up 9lb/ft of torque. To compensate the Elise 1.6 is paired up with the Toyota EC60 gearbox, a 6-speed unit as opposed to the 5-speed C56 box used by the Elise S (2005).</p>

<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>Engine fuel</th>
<td>Petrol</td></tr>
<tr>
<th>Configuration</th>
<td>Inline-4, transverse installation</td></tr>
<tr>
<th>Capacity</th>
<td>1598 cc</td></tr>
<tr>
<th>Bore</th>
<td>80.5 mm</td></tr>
<tr>
<th>Stroke</th>
<td>78.5 mm</td></tr>
<tr>
<th>Valves</th>
<td>16 (4 per cylinder)</td></tr>
<tr>
<th>Head Construction</th>
<td>Aluminium</td></tr>
<tr>
<th>Block Construction</th>
<td>Aluminium</td></tr>
<tr>
<th>Power</th>
<td>134bhp (100KW) at 6800rpm</td></tr>
<tr>
<th>Torque</th>
<td>118lb/ft (160 Nm) at 4400rpm</td></tr>
<tr>
<th>Engine fuel</th>
<td>Petrol</td></tr>
<tr>
<th>Weight</th>
<td /></tr></table></div>

<h2><span class="mw-headline" id="2ZR-FE">2ZR-FE</span></h2>

<p>Introduced in the Elise S at the Frankfurt Motor Show in 2011, the use of the 2ZR-FE - which is not used in standard form by Lotus, and is instead combined with a Magnuson R900 supercharger (utilising Eaton TVS Technology) - sees the return of a true high performance Elise after the demise of the <a href="#2ZZ-GE">2ZZ-GE</a> due to emission regulations.</p>
<p>Compared to its predecessor, the 2ZR-FE is a lower revving engine with a redline of 7000rpm. It shares the 80.5mm bore of the <a href="#1ZR-FAE">1ZR-FAE</a>, but the stroke is increased to 88.3mm, giving a total capacity of 1797cc.</p>
<p>Unlike the 2ZZ-GE the 2ZR-FE is equipped with Dual VVTi, meaning it lacks the high lift second cam.</p>
<h3><span class="mw-headline" id="Basic_stats_3">Basic stats</span></h3>

<p>These stats are for the engine as it is used by Toyota. Lotus do not use the engine in this specification.</p>

<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>Engine fuel</th>
<td>Petrol</td></tr>
<tr>
<th>Configuration</th>
<td>Inline-4, transverse installation</td></tr>
<tr>
<th>Capacity</th>
<td>1797 cc</td></tr>
<tr>
<th>Bore</th>
<td>80.5 mm</td></tr>
<tr>
<th>Stroke</th>
<td>88.3 mm</td></tr>
<tr>
<th>Valves</th>
<td>16 (4 per cylinder)</td></tr>
<tr>
<th>Head Construction</th>
<td>Aluminium</td></tr>
<tr>
<th>Block Construction</th>
<td>Aluminium</td></tr>
<tr>
<th>Power</th>
<td>132bhp (98KW) at 6000rpm</td></tr>
<tr>
<th>Torque</th>
<td>128lb/ft (174 Nm) at 4400rpm</td></tr>
<tr>
<th>Engine fuel</th>
<td>Petrol</td></tr>
<tr>
<th>Weight</th>
<td>97 kg</td></tr></table></div>

<h3><span class="mw-headline" id="Elise_S">Elise S</span></h3>

<p>For the MY12 Elise S a Magnuson R900 supercharger is added, and the following statistics apply.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Elise_S_(2012)_Engine.jpg" title="The 2ZR-FE with Magnuson R900 supercharger in the Elise S"><img src="Elise_S_(2012)_Engine.jpg" alt="The 2ZR-FE with Magnuson R900 supercharger in the Elise S" title="The 2ZR-FE with Magnuson R900 supercharger in the Elise S" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">The 2ZR-FE with Magnuson R900 supercharger in the Elise S</div></div>
</div>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>Engine fuel</th>
<td>Petrol</td></tr>
<tr>
<th>Configuration</th>
<td>Inline-4 Supercharged, transverse installation</td></tr>
<tr>
<th>Power</th>
<td>217bhp (162KW) at 6800rpm</td></tr>
<tr>
<th>Torque</th>
<td>184lb/ft (250Nm) at 4600rpm</td></tr></table></div>

<p>Compared to the previous generation Elise SC, this gives a 30lb/ft increase in torque along with lower emission figures and better fuel consumption. You can <a class="external text" href="http://www.seloc.org/articles/driven/driven-elise-s-vs-elise-sc/" rel="nofollow">read our comparison of the Elise S and previous generation Elise SC here</a>.</p>
<h1><span class="mw-headline" id="V6_Engines">V6 Engines</span></h1>

<h2><span class="mw-headline" id="2GR-FE">2GR-FE</span></h2>

<p>The Toyota 2GR-FE engine is currently utilised across the whole range of Evora production cars.</p>
<p>A member of the Toyota GR family of V6 engines, the 2GR-FE is the largest engine in the range designed for transverse engine installations.</p>
<p>It features dual VVT-i valve timing which allows for variable valve timing, but not variable lift as per the Elise 111R&#39;s 2ZZ-GE engine. The cam gear is driven via a cam chain, not a cam belt.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:2gr-fe.jpg" title="The Toyota 2GR-FE"><img src="2gr-fe.jpg" alt="The Toyota 2GR-FE" title="The Toyota 2GR-FE" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">The Toyota 2GR-FE</div></div>
</div>

<h3><span class="mw-headline" id="Basic_stats_4">Basic stats</span></h3>

<p>These are the basic stats for the engine when used by Toyota. Further information can be found on the Wikipedia GR page.<sup><a href="#ref4">4</a></sup></p>

<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>Engine fuel</th>
<td>Petrol</td></tr>
<tr>
<th>Configuration</th>
<td>V6, transverse installation</td></tr>
<tr>
<th>Capacity</th>
<td>3456 cc</td></tr>
<tr>
<th>Bore</th>
<td>94 mm</td></tr>
<tr>
<th>Stroke</th>
<td>83 mm</td></tr>
<tr>
<th>V Angle</th>
<td>60 degrees</td></tr>
<tr>
<th>Valves</th>
<td>24 (4 per cylinder)</td></tr>
<tr>
<th>Head Construction</th>
<td>Aluminium</td></tr>
<tr>
<th>Block Construction</th>
<td>Die-cast aluminium</td></tr>
<tr>
<th>Power</th>
<td>266bhp (198kW) - 275bhp (205kW) - Varies depending on installation</td></tr>
<tr>
<th>Torque</th>
<td>245 lb/ft (332Nm) - 257 lb/ft (348Nm) - Varies depending on installation</td></tr>
<tr>
<th>Engine fuel</th>
<td>Petrol</td></tr>
<tr>
<th>Weight</th>
<td>163 kg (including fluids)</td></tr></table></div>

<h3><span class="mw-headline" id="Evora">Evora</span></h3>

<p>While the base model Evora uses the Toyota 2GR-FE seemingly without modification from its Toyota installations Lotus developed their own T6e engine management system.</p>
<p>This allows the rev limit to be increased to 7000 rpm when the car is running in Sports Mode (except when combined with the IPS automatic gearbox, due to gearbox limitations)<sup><a href="#ref5">5</a></sup>.</p>
<p>Fitted in the Evora the 2GR-FE produces 276hp (280PS/206KW) at 6400 rpm, and 258lb/ft (350Nm) at 4600 rpm.</p>

<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>Engine fuel</th>
<td>Petrol</td></tr>
<tr>
<th>Configuration</th>
<td>V6, transverse installation</td></tr>
<tr>
<th>Power</th>
<td>276bhp (206KW) at 6400rpm</td></tr>
<tr>
<th>Torque</th>
<td>258lb/ft (350Nm) at 4700rpm</td></tr></table></div>

<h3><span class="mw-headline" id="Evora_S.2FExige_S">Evora S/Exige S</span></h3>

<p>For the Evora S and Exige V6, Lotus utilise the 2GR-FZE varient of the 2GR-FE, first seen in the TRD Aurion.<sup><a href="#ref6">6</a></sup>.</p>

<div style="page-break-inside: avoid;">
<table class="wikitable" style="margin: 1em auto 1em auto;">
<tr>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/image:Evora_S_Engine.jpg" title="The 2GR-FZE as fitted to the Evora S. (c) Lotus Cars"><img src="Evora_S_Engine.jpg" alt="The 2GR-FZE as fitted to the Evora S. (c) Lotus Cars" title="The 2GR-FZE as fitted to the Evora S. (c) Lotus Cars" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">The 2GR-FZE as fitted to the Evora S. (c) Lotus Cars</div></div>
</div>
</td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/image:Exige_V6_engine.jpg" title="The 2GR-FZE as fitted to the Exige S (V6)."><img src="Exige_V6_engine.jpg" alt="The 2GR-FZE as fitted to the Exige S (V6)." title="The 2GR-FZE as fitted to the Exige S (V6)." class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">The 2GR-FZE as fitted to the Exige S (V6).</div></div>
</div>
</td></tr></table></div>

<p>This adds an Harrop HTV 1320 Supercharger (utilising Eaton TVS Technology) which boosts power to 345hp (350PS/257.5KW) at 7000 rpm and torque to 295lb/ft (400Nm) at 4500 rpm, up from 323bhp in the TRD Aurion - although torque is slightly lower than in the Toyota which peaks at 300lb/ft.</p>

<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>Engine fuel</th>
<td>Petrol</td></tr>
<tr>
<th>Configuration</th>
<td>V6 Supercharged, transverse installation</td></tr>
<tr>
<th>Power</th>
<td>345bhp (206KW) at 7000rpm</td></tr>
<tr>
<th>Torque</th>
<td>295lb/ft (400Nm) at 4500rpm</td></tr></table></div>

<h3><span class="mw-headline" id="Motorsport">Motorsport</span></h3>

<p>For the various Evora race project Lotus worked have with Cosworth to develop high power, naturally aspirated, variants of the 2GR-FE capable of competing in various motorsport catagories.</p>
<p>To do this the engine was enlarged to 4-litres and fitted with a dry sump oil system to ensure reliable operation even under the high sustained G-forces experienced on the race track.<sup><a href="#ref7">7</a></sup> Power varies from around 350bhp for the Evora GT4 up to 470bhp for the Evora GTE which is set to compete under GT2 regulations.</p>
<h1><span class="mw-headline" id="References">References</span></h1>
<div id="ref1"><sup>1</sup> <a class="external text" href="http://en.wikipedia.org/wiki/Toyota_ZZ_engine#2ZZ-GE" rel="nofollow">Wikipedia - Toyota ZZ engine</a></div>
<div id="ref2"><sup>2</sup> <a class="external text" href="http://en.wikipedia.org/wiki/Toyota_ZZ_engine#1ZZ-FE" rel="nofollow">Wikipedia - Toyota ZZ engine</a></div>
<div id="ref3"><sup>3</sup> [<a class="external free" href="http://en.wikipedia.org/wiki/Toyota_ZR_engine#1ZR-FAE" rel="nofollow">http://en.wikipedia.org/wiki/Toyota_ZR_engine#1ZR-FAE</a> Wikipedia - Toyota ZR engine</div>
<div id="ref4"><sup>4</sup> <a class="external text" href="http://en.wikipedia.org/wiki/Toyota_GR_engine" rel="nofollow">Wikipedia - Toyota GR engine</a></div>
<div id="ref5"><sup>5</sup> <a class="external text" href="http://www.lotussilverstone.co.uk/new-cars/view/74/Lotus-Evora-IPS" rel="nofollow">- Lotus Silverstone - Lotus Evora IPS</a></div>
<div id="ref6"><sup>6</sup> <a class="external text" href="http://en.wikipedia.org/wiki/TRD_Aurion#TRD_Aurion" rel="nofollow">- Wikipedia - Toyota Aurion</a></div>
<div id="ref7"><sup>7</sup> <a class="external text" href="http://www.lotuscars.com/motorsport/en/evora-gt4" rel="nofollow">- Lotus Cars - Lotus Evora GT4</a></div>

<p>





</p>