
<p>Bringing a directory of Honda power outputs together for future reference.</p>
<p>Please follow the layout of the table below:</p>

<div style="page-break-inside: avoid;">
<table align="center" border="1" cellpadding="5">
<tr style="background-color:#fed200; face:bold;">
<td>Username </td>
<td>Power Output </td>
<td>Peak Torque </td>
<td>Spec </td>
<td>Dyno Location </td>
<td>Measured at </td>
<td>Link to plot</td></tr>
<tr>
<td><b>Muu</b> </td>
<td>329 @8543 </td>
<td>209.2 @7191 </td>
<td>K20A2 (UKDM) K100 JRSC CC Straight inliet HKS filter decat 3.2&#34; Stock bottom pulley 4-1 manifold 2.5&#34; exhaust JDM cams </td>
<td>TDI </td>
<td>Hubs </td>
<td><a class="external text" href="http://www.dyno-plot.co.uk/dyno/dynoplot/id%3D1039%26but_sea%3Dqs/Lotus-Elise-TDI.htm" rel="nofollow">Dyno Plot</a></td></tr>
<tr>
<td><b>Dr H</b> </td>
<td>333 @8550 </td>
<td>205 @7820 </td>
<td>K20A2, K-Pro, JRSC, CC, 3.2&#34;, K24 bottom pulley, Link-Up 4-1, 100 cell cat, Tullett back box, A3 cams, straight inlet, 70mm TB </td>
<td>TDI </td>
<td>Hubs </td>
<td>link</td></tr></table></div>

<p>
</p>