
<p>This is a page contains links to and details on the contents of past issues of the SELOC Newsletter. It is currently incomplete.</p>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Issue </th>
<th>Publication Date </th>
<th>Contents </th>
<th>Editor</th></tr>
<tr>
<td><a class="external text" href="http://news.seloc.org/1/" rel="nofollow">October 2004</a> </td>
<td>10/2004 </td>
<td><b>Welcome</b> - 	Welcome to the first monthly SELOC newsletter. <br /><b>LOTUS News</b> - Lotus confirms their intentions to build new £40k+ GT<br /><b>SELOC News</b> - SELOC create record for the most Lotus cars at BoB<br /><b>Member News</b> - Stelvio 2004<br /><b>SELOC News</b> - SELOC BMW entertain the crowds at Brands Hatch<br /><b>SELOC News</b> - SELOC goes sprinting<br /><b>SELOC Events</b> - Upcoming SELOC Events </td>
<td /></tr>
<tr>
<td><a class="external text" href="http://news.seloc.org/2/" rel="nofollow">December 2004</a> </td>
<td>12/2004 </td>
<td><b>Welcome</b> - Welcome to the second monthly SELOC newsletter<br /><b>SELOC News</b> - Lotus Enthusiasts raise £20,000 for Tommy’s, the baby charity<br /><b>Car News</b> - Extreme Elises, Extreme VX<br /><b>Motorsport News</b> - SELOC goes sprinting in 2005<br /><b>BMW Racing News</b> - SELOC BMW Racing<br /><b>SELOC Events</b> - Upcoming SELOC Events </td>
<td></td></tr>
<tr>
<td><a class="external text" href="http://news.seloc.org/3/" rel="nofollow">January 2005</a> </td>
<td>01/2004 </td>
<td><b>Welcome</b> - Welcome to the third SELOC newsletter.<br /><b>SELOC News</b> - Buy the Lotus Enthusiast Magazine and help those affected by the Asian Earthquake and Tsunami<br /><b>SELOC News</b> - Brunty or Bust voted ‘Best Event in 2004&#39;<br /><b>SELOC News</b> - Le Mans 2005<br /><b>Motorsport News</b> - SELOC goes sprinting in 2005<br /><b>Motorsport News</b> - Race Marshals<br /><b>SELOC Events</b> - Merritts Open Day – Amersham, Bucks<br /><b>Track Day News</b> - Track Days with Lotus on Track<br /><b>Driving Technique</b> - Bending the Rules with Andrew Walsh </td>
<td><a class="external text" href="http://forums.seloc.org/m/DJ" rel="nofollow">David Johnston</a></td></tr>
<tr>
<td><a class="external text" href="http://news.seloc.org/4/" rel="nofollow">February 2005</a> </td>
<td>02/2005 </td>
<td><b>Welcome</b> - Welcome to the fourth SELOC newsletter.<br /><b>Motorsport</b> - SELOC 2005 Sprint Series<br /><b>Motorsport</b> - Milltek Sport BMW Challenge 2005<br /><b>Focus on Regional Meets</b> - Warbrook House (Hampshire/Berkshire Borders)<br /><b>French Connection</b> - French Connection II &#39;05<br /><b>SELOC Events</b> - Forthcoming Events<br /><b>Track Day News</b> - Track Days<br /><b>Dealer Spotlight</b> - Bell &#38; Colvill </td>
<td><a class="external text" href="http://forums.seloc.org/m/DJ" rel="nofollow">David Johnston</a></td></tr>
<tr>
<td><a class="external text" href="http://news.seloc.org/5/" rel="nofollow">March 2005</a> </td>
<td>03/2005 </td>
<td><b>Welcome</b> - Welcome to the fifth SELOC newsletter.<br /><b>Lotus News</b> - Highest Performing, Limited Edition Lotus Sport Exige 240R<br /><b>Motorsport</b> - SELOC 2005 Sprint Series<br /><b>Motorsport</b> - Lipstick lotus – Activity Day at North Weald<br /><b>SELOC Events</b> - Forthcoming Events<br /><b>Track Day News</b> - Track Days<br /><b>Dealer Spotlight</b> - Spotlight on Castle Lotus </td>
<td><a class="external text" href="http://forums.seloc.org/m/DJ" rel="nofollow">David Johnston</a></td></tr>
<tr>
<td><a class="external text" href="http://news.seloc.org/6/" rel="nofollow">April 2005</a> </td>
<td>04/2005 </td>
<td><b>Welcome</b> - Welcome to the 6th issue of the SELOC newsletter.<br /><b>SELOC News</b> - SELOC News<br /><b>Motorsport</b> - SELOC Kart Team Prepare to Battle<br /><b>Brunty or Bust</b> - Jury’s Inn Weekend for top fundraiser Neil Scarf<br /><b>Lotus</b> - Lotus News<br /><b>Dealer Spotlight</b> - New Brooke Kensington Honda Elise Demonstrator<br /><b>Events</b> - CSMA CLASSIC FESTIVAL BRANDS HATCH 14th/15th MAY<br /><b>Focus on Regional Meets</b> - The Sussex Run that Never Was, Ace Café<br /><b>Event Focus</b> - Lotus the Early Years - 11th May<br /><b>New Membership Benefits</b> - Spotlight on Demon Tweeks </td>
<td><a class="external text" href="http://forums.seloc.org/m/DJ" rel="nofollow">David Johnston</a></td></tr>
<tr>
<td><a class="external text" href="http://news.seloc.org/7/" rel="nofollow">June 2005</a> </td>
<td>06/2005 </td>
<td><b>Welcome</b> - Welcome to the 7th issue of the SELOC newsletter.<br /><b>LOTUS News</b> - New LOTUS &#39;Track Car&#39; unveilled, HMS Hethel relaunched!, Cliff Allison – (1932 – 2005)<br /><b>Motorsport</b> - EVENT SPOTLIGHT – Le Mans 2005, LOTUS 50TH ANNIVERSARY @ LE MANS - TIME TABLE<br /><b>Events</b> - Forthcoming Events<br /><b>Spotlight on PTP Ltd</b> </td>
<td><a class="external text" href="http://forums.seloc.org/m/DJ" rel="nofollow">David Johnston</a></td></tr>
<tr>
<td><a class="external text" href="http://news.seloc.org/8/" rel="nofollow">August 2005</a> </td>
<td>08/2005 </td>
<td><b>Welcome</b> - Welcome to the 8th issue of the SELOC newsletter.<br /><b>LOTUS NEWS</b> - New Europa or next Elise?<br /><b>SELOC NEWS</b> - Best of Amazon<br /><b>Motorsport</b> - Le Mans 2005 - 50th Anniversary of Lotus at Le Mans<br /><b>Motorsport</b> - SELOC Sprint Championship<br /><b>Motorsport</b> - Janspeed Rolling Road<br /><b>Regional Focus</b> - KM Motoring Pageant, Hop Farm<br /><b>Help out in a crisis with ICE</b><br /><b>Maarten Memorial</b> - Maarten memorial, 4th of August 2005<br /><b>Motorsport</b> - CLUB LOTUS ACTION DAY Castle Combe 28th May 2005<br /><b>Motorsport</b> - Goodwood Festival of Speed<br /><b>Events</b> - Forthcoming Events </td>
<td><a class="external text" href="http://forums.seloc.org/m/DJ" rel="nofollow">David Johnston</a></td></tr>
<tr>
<td><a class="external text" href="http://news.seloc.org/9/" rel="nofollow">November 2005</a> </td>
<td>11/2005 </td>
<td><b>Welcome</b> - Welcome to the 9th issue of the SELOC newsletter.<br /><b>LOTUS NEWS</b> - Elise Sports Racer<br /><b>SELOC NEWS</b> - Best of Amazon<br /><b>Motorsport</b> - SELOC Sprint Championship<br /><b>PTP</b> - New performance upgrade from PTP<br /><b>Motorsport</b> - Milltek Sport BMW Challenge Series<br /><b>Motorsport</b> - Britcar and A1 GP<br /><b>Events</b> - Forthcoming Events </td>
<td><a class="external text" href="http://forums.seloc.org/m/DJ" rel="nofollow">David Johnston</a></td></tr>
<tr>
<td><a class="external text" href="http://news.seloc.org/10/" rel="nofollow">December 2005</a> </td>
<td>12/2005 </td>
<td><b>Welcome</b> - Welcome to the 10th issue of the SELOC newsletter.<br /><b>LOTUS NEWS</b> - Lotus Europa S, finally<br /><b>LOTUS NEWS</b> - Lotus Sport Exige GT3 undertakes testing for FIA GT3 European Championship<br /><b>SELOC NEWS</b> - Road Trip USA<br /><b>Specialised Paintwork</b> - A Specialised Service with Lotus approval<br /><b>Fast Films</b> - Fast Films for Fast Cars<br /><b>Events</b> - Forthcoming Events </td>
<td /></tr>
<tr>
<td><a class="external text" href="http://news.seloc.org/11/" rel="nofollow">February 2006</a> </td>
<td>02/2006 </td>
<td><b>Welcome</b> - Welcome to the 11th issue of the SELOC newsletter.<br /><b>SELOC NEWS</b> - Welcome to the new SELOC Board<br /><b>LOTUS NEWS</b> - The APX will be unveiled at Geneva<br /><b>SELOC NEWS</b> - LOTUS Show 2006<br /><b>SELOC NEWS</b> - Amazon, supporting your Region<br /><b>SELOC NEWS</b> - Last few SELOC 2006 calendars for sale<br /><b>1st-tickets.co.uk</b> - Considering going to the Le Mans 24 hours or Le Mans Classic?<br /><b>Events</b> - Forthcoming Events </td>
<td /></tr>
<tr>
<td><a class="external text" href="http://news.seloc.org/12/" rel="nofollow">March 2006</a> </td>
<td>03/2006 </td>
<td><b>Welcome</b> - Welcome to the 12th issue of the SELOC newsletter.<br /><b>SELOC NEWS</b> - SELOC Sprint<br /><b>LOTUS NEWS</b> - The New Exige S, Lotus Sport and Cadena set to challenge in the 2006 British GT Championship<br /><b>NEWS</b> - Last few SELOC 2006 calendars for sale<br /><b>SELOC NEWS</b> - Amazon, supporting your Region<br /><b>1st-tickets.co.uk</b> - Considering going to the Le Mans 24 hours or Le Mans Classic?<br /><b>Events</b> - Forthcoming Events </td>
<td /></tr>
<tr>
<td><a class="external text" href="http://news.seloc.org/13/" rel="nofollow">May 2006</a> </td>
<td>05/2006 </td>
<td><b>Welcome</b> - Welcome to the 13th issue of the SELOC newsletter.<br /><b>NEWS</b> - Kent Fundraiser 2006<br /><b>SELOC NEWS</b> - Driving SELOC Forward<br /><b>Event NEWS</b> - Elise Garden Party – Sneak Preview<br /><b>SELOC NEWS</b> - SELOC Sprint<br /><b>Motorsport NEWS</b> - Formula Woman Championship 2006<br /><b>1st-tickets.co.uk</b> - Considering going to the Le Mans 24 hours or Le Mans Classic?<br /><b>Events</b> - Forthcoming Events<br /><b>Track Days</b> - Track Days with Lotus on Track </td>
<td></td></tr>
<tr>
<td><a class="external text" href="http://news.seloc.org/14/" rel="nofollow">June 2006</a> </td>
<td>06/2006 </td>
<td><b>Welcome</b> - Welcome to the 14th issue of the SELOC newsletter.<br /><b>SELOC NEWS</b> - Brands Hatch – Summer Gathering and BBQ<br /><b>SELOC NEWS</b> - Easytrack Production BMW Championship<br /><b>LOTUS NEWS</b> - The new Lotus Elise S - Lotus re-enters the mainstream sports car market with a vengeance!, Esprit replacement to be built at Hethel<br /><b>Events</b> - Forthcoming Events </td>
<td /></tr>
<tr>
<td><a class="external text" href="http://news.seloc.org/15/" rel="nofollow">August 2006</a> </td>
<td>08/2006 </td>
<td><b>Welcome</b> - Welcome to the 15th issue of the SELOC newsletter.<br /><b>SELOC NEWS</b> - Club Announcement<br /><b>LOTUS NEWS</b> - General Manager Lotus Cars UK and Ireland Joins SELOC, The Lotus Summer Festival
Lotus gears up for a bumper summer with biggest ever product celebration, British, Racing and Very Green
The Lotus Exige 265E - the most powerful road version of the Lotus Exige ever - and it runs on environmentally friendly Bio Fuel!, Lotus puts in dominant performance at Rockingham<br /><b>Events</b> - Forthcoming Events<br />The French Blatting Company </td>
<td /></tr>
<tr>
<td><a class="external text" href="http://news.seloc.org/16/" rel="nofollow">March 2007</a> </td>
<td>03/2007 </td>
<td><b>Welcome</b> - Welcome to the 16th issue of the SELOC newsletter.<br /><b>SELOC NEWS</b> - Motorsport<br /><b>LOTUS NEWS</b> - Lotus festival, Brands Hatch, 24th March.<br /><b>Events</b> - Forthcoming Events </td>
<td /></tr>
<tr>
<td><a class="external text" href="http://news.seloc.org/17/" rel="nofollow">February 2008</a> </td>
<td>02/2008 </td>
<td><b>Welcome</b> - BOGIE (Mark Maltby) - recovering well, Seloc Elections - or - &#34;It&#39;s that time of year again already?&#34;<br /><b>Motorsport NEWS</b> - Motorsport - Lotus Celebration at Brands Hatch - 23/24 March<br /><b>NEWS</b> - Track &#38; Race Cars Magazine - DISCOUNT</td>
<th><br /><b>Events</b> - COMING SOON - Novice track days<br /><b>Production BMW Cup- the race series for the drivers</b> </th>
<td /></tr>
<tr>
<td><a class="external text" href="http://news.seloc.org/19/seloc_newsletter_nov09.pdf" rel="nofollow">November 2009</a> </td>
<td>20/11/2009 </td>
<td><b>Lead</b> - Lotuses on an exclusive day at the Nordschleife<br /><b>Ten Tenths</b> - Top driving tips from Andrew Walsh at Carlimits <br /><b>Tech Focus</b> - Randy dampers! Go on, you know you want to...<br /><b>Regional Spotlight</b> - News from the IOM, FleetLoc oop north and more<br /><b>Meet Your Specialist</b> - Christopher Neil: Lotus through and through<br /><b>Directors&#39; News</b> - Fatwomble on our SELOC activity day<br /><b>Back to School</b> - Chapter two in our potted history of Lotus<br /><b>Upcoming Events</b> - National and regional events to look out for </td>
<td><a class="external text" href="http://forums.seloc.org/m/luvyalizzy" rel="nofollow">Frederic de Ryckman de Betz</a></td></tr>
<tr>
<td><a class="external text" href="http://news.seloc.org/20/seloc_newsletter_mar10.pdf" rel="nofollow">March 2010</a> </td>
<td>03/2010 </td>
<td><b>Lead</b> - The road that the Elise made famous..<br /><b>Racing In To 2010</b> - Lotus On Track in 2010<br /><b>Regional Spotlight</b> - RAF Odiham, Weekend de L&#39;Excellence Automobile de Reims, Tough Guy 2010<br /><b>Diary of a Loti</b> - Kevin Ritson keeps us warm through the winter<br /><b>Meet Your Specialist</b> - Allon White Sports Cars<br /><b>Directors&#39; News</b> - Jo Lloyd with the latest Directors&#39; news<br /><b>Back to School</b> - Chapter 3: Racing in the Early Sixties<br /><b>Upcoming Events</b> - A few of the events coming up in the Spring </td>
<td><a class="external text" href="http://forums.seloc.org/m/luvyalizzy" rel="nofollow">Frederic de Ryckman de Betz</a></td></tr>
<tr>
<td><a class="external text" href="http://news.seloc.org/21/seloc_newsletter_jun10.pdf" rel="nofollow">June 2010</a> </td>
<td>05/2010 </td>
<td><b>Snett-fest</b> - What&#39;s on?<br /><b>Elise Trophy: Update</b> - Season so far<br /><b>Invading Wales</b> - The brave go forth!<br /><b>B&#39;fast @ Goodwood</b> - The usual goodies<br /><b>Saving Donington</b> - Done that, next?<br /><b>Life with a Ricer</b> - Honda&#39;d up!<br /><b>Belgium Lotus Day 2010</b> - Visit to Ypres<br /><b>Club Lotus</b> - Yes, THE Club Lotus<br /><b>Driving you Round the Bend</b> - Top driving tips<br /><b>Becoming a Racing Driver</b> - Well, kind of...<br /><b>Meet your Specialist</b> - Track Club<br /><b>Diary of a Lotus Owner</b> - Day to day musings<br /><b>Back to School Chapter 4</b> - The Lotus Elan<br /><b>Events</b> - Plenty going on! </td>
<td><a class="external text" href="http://forums.seloc.org/m/luvyalizzy" rel="nofollow">Frederic de Ryckman de Betz</a></td></tr>
<tr>
<td><a class="external text" href="http://news.seloc.org/22/seloc_newsletter_mar11.pdf" rel="nofollow">March 2011</a> </td>
<td>25/03/2011 </td>
<td><b>Page 1</b> - News - Lotus at Geneva, Elise Club Racer Unveiled, Elise-shop release revised toe link kit<br /><b>Page 2</b> - Upcoming events inc. Lotus-on-Track, Castle Combe<br /><b>Page 3</b> - All change - What’s happening at SELOC and Lotus on Track?<br /><b>Page 4</b> - A Competitive Activity Day — Your First Step into Motorsport? </td>
<td><a class="external text" href="http://forums.seloc.org/m/Thorburn" rel="nofollow">James Thorburn</a></td></tr>
<tr>
<td><a class="external text" href="http://news.seloc.org/23/seloc_newsletter_apr11.pdf" rel="nofollow">April 2011</a> </td>
<td>29/04/2011 </td>
<td><b>Page 1</b> - News - Lotus Driving Academy Relaunched, Team Dynamics Pro Race 1.2 Alloys on offer at Seriously Lotus, Team Lotus buys Caterham<br /><b>Page 2</b> - Upcoming events inc. SELOC Wakeboarding Day, BBQ and Run 2011<br /><b>Page 3</b> - Nitron Factory Tour<br /><b>Page 4</b> - CAT Driver Training - Drift Day<br /><b>Page 5</b> - Sprinting - The Next Step on the Motorsport Ladder... </td>
<td><a class="external text" href="http://forums.seloc.org/m/Thorburn" rel="nofollow">James Thorburn</a></td></tr>
<tr>
<td><a class="external text" href="http://news.seloc.org/24/seloc_newsletter_may11.pdf" rel="nofollow">May 2011</a> </td>
<td>27/05/2011 </td>
<td><b>Page 1</b> - News - Geoff Leppard set to rock Snetterton, and the charts!, Eliseparts Toyota Turbo Conversion coming soon....<br /><b>Page 2</b> - Upcoming events inc. SELOC@Snetts 2011—June 24th-26th<br /><b>Page 3 &#38; 4</b> - Driven: Lotus Elise 1.6<br /><b>Page 5,6 &#38; 7</b> - An Idiots Guide to your first track day<br /><b>Page 8 &#38; 9</b> - Bocardo Autosolo Review </td>
<td><a class="external text" href="http://forums.seloc.org/m/Thorburn" rel="nofollow">James Thorburn</a></td></tr>
<tr>
<td><a class="external text" href="http://docs.seloc.org/seloc_snetts11.pdf" rel="nofollow">SELOC@Snetts 2011</a> </td>
<td>15/06/2011 </td>
<td><b>Page 1</b> - SELOC@Snetts<br /><b>Page 2</b> - Event Timetable</td>
<td><a class="external text" href="http://forums.seloc.org/m/Thorburn" rel="nofollow">James Thorburn</a></td></tr>
<tr>
<td><a class="external text" href="http://news.seloc.org/25/seloc_newsletter_jun11.pdf" rel="nofollow">June 2011</a> </td>
<td>27/06/2011 </td>
<td><b>Page 1</b> - News - Rumour mill churns out more Exige V6 information..., “Ultimate Buyers’ Guide” released for the Elise, Tillett B6-F seat gains FIA Approval<br /><b>Page 2</b> - Upcoming events inc. Lotus-on-Track, Brands Hatch Indy Novice Evening<br /><b>Page 3</b> - Lotus Driving Academy Day </td>
<td><a class="external text" href="http://forums.seloc.org/m/Thorburn" rel="nofollow">James Thorburn</a></td></tr>
<tr>
<td><a class="external text" href="http://news.seloc.org/26/seloc_newsletter_jul11.pdf" rel="nofollow">July 2011</a> </td>
<td>30/07/2011 </td>
<td><b>Page 1</b> - News - Lotus opens revamped Hethel track, Lotus at the Goodwood Festival of Speed, Quantum Zero Dampers come to Eliseparts<br /><b>Page 2</b> - Upcoming events inc. Lotus-on-Track, Novice Evenings<br /><b>Page 3 &#38; 4</b> - SELOC@Snetts Weekend Highlights </td>
<td><a class="external text" href="http://forums.seloc.org/m/Thorburn" rel="nofollow">James Thorburn</a></td></tr>
<tr>
<td><a class="external text" href="http://news.seloc.org/27/seloc_newsletter_aug11.pdf" rel="nofollow">August 2011</a> </td>
<td>27/08/2011 </td>
<td><b>Page 1</b> - News - Julian Thomson prints raise over £2,200 for charity, Evora GTE Road Car Concept unveiled at Pebble Beach Show<br /><b>Page 2</b> - Upcoming events inc. SELOC Activity Day<br /><b>Page 3 &#38; 4</b> - 25th Annual Club Lotus Show at Donington </td>
<td><a class="external text" href="http://forums.seloc.org/m/Thorburn" rel="nofollow">James Thorburn</a></td></tr></table></div>
