
<p>This article was published in the <a class="external text" href="http://news.seloc.org/24/seloc_newsletter_may11.pdf" rel="nofollow">May 2011</a> issue of the <a href="http://wiki.seloc.org/a/Newsletter_Issues" title="Newsletter Issues">SELOC Newsletter</a>.</p>
<h1><span class="mw-headline" id="Driven:_Lotus_Elise_1.6">Driven: Lotus Elise 1.6</span></h1>

<p>Planning. Planning is always a good idea, and I thought I&#39;d done enough — I knew where I had to be, when, and how long for.</p>
<p>All I had to do was head down to Bell and Colvill just outside of Guildford, pick up their Elise 1.6 demonstrator, spend a few hours driving, get a feel for the car and then drop it back in time to get to Silverstone for 6pm. Couldn&#39;t be easier.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Elise-1.6-1.jpg" title="Lotus Elise 1.6 Outside Bell &#38; Colvill"><img src="Elise-1.6-1.jpg" alt="Lotus Elise 1.6 Outside Bell &#38; Colvill" title="Lotus Elise 1.6 Outside Bell &#38; Colvill" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Lotus Elise 1.6 Outside Bell &#38; Colvill</div></div>
</div>

<p>Jamie passed me the keys and walked me through the differences between my car, an early S1, and this the latest model. With camera gear stowed safely in the boot I pulled out on to the road and headed towards....... Ah. Where are the good roads around here?</p>
<p>I hadn&#39;t planned a route—not even given it a single solitary thought. Having grown up in Somerset I generally assume that you can take any given side road and find some wonderful ribbon of tarmac unfurling in front of you. But no, it seems on a bank holiday weekend in Surrey your options are either do a little research first or spend your time crawling through sub-urban traffic.</p>
<p>Still this isn&#39;t such a bad thing. The latest entry level Elise is easy to handle around town and with the standard exhaust there is a light burble as opposed to a &#39;look at me&#39; shout.</p>
<p>One thing I did notice at low speeds is that the gear shift sits a little off centre however, meaning occasionally on a slow shift from 2nd to 3rd I&#39;d instead find 5th.</p>
<p>Overall though around town it&#39;s incredibly well mannered, the suspension does a good job of smoothing out all but the worst pot holes and the steering is well weighted at low speeds.
Of course while town driving can be an important factor for those looking for a car they can use as a daily driver, it&#39;s hardly the reason someone buys an Elise.</p>
<p>Thankfully when the road opens up and you finally manage to escape the traffic it doesn&#39;t disappoint. The 1.6 might be the slowest Elise to 60mph to come out of Hethel but when you find a good B-road you won&#39;t care.</p>
<p>The engine does its best work above about 4500rpm, but the step in performance is more gradual and keeping it in the peak rev ranges feels far less frantic than in the old 111R, allowing you to focus on the road ahead rather than on wringing every last revolution out of the engine.</p>
<p>Of course on a fast flowing road the more powerful derivatives would be able to pull away, particularly if you were to push above the speed limit.</p>
<p>When the road turns twisty and you&#39;re working the engine in 2nd and 3rd gear however I think you&#39;d struggle to pull out any real ground in any similarly tyre&#39;d Elise derivative; the magic is still there.</p>
<p>I eventually gave up on Surrey and headed down in to the more familiar territory of Hampshire and the roads north of Portsmouth.</p>
<p>Cruising down the A3 in 6th gear the engine doesn&#39;t do much to make its presence known, at 70mph you&#39;re pulling less than 3,000rpm but to get any meaningful kind of acceleration you really have to drop down a couple gears. What&#39;s more with the roof off the wind noise completely over-powers the sound of the exhaust. The payoff however is that on the official Extra Urban cycle the Elise 1.6 can return 56mpg and makes a surprisingly laid back motorway cruiser.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Elise-1.6-3.jpg" title="Lotus Elise 1.6 Interior"><img src="Elise-1.6-3.jpg" alt="Lotus Elise 1.6 Interior" title="Lotus Elise 1.6 Interior" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Lotus Elise 1.6 Interior</div></div>
</div>

<p>Stopping off for lunch and to take some pictures in the hills overlooking the Solent above Portsmouth and the looks of the face-lifted Elise have really warmed on me.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Elise-1.6-4.jpg" title="Lotus Elise 1.6"><img src="Elise-1.6-4.jpg" alt="Lotus Elise 1.6" title="Lotus Elise 1.6" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Lotus Elise 1.6</div></div>
</div>

<p>The redesigned front is well resolved, with flashes of Ferrari California in the headlights and brake duct air intakes. The indicators have been integrated in to the main headlight cluster as well, so no more worries about those popping out.</p>
<p>I have to admit I wasn&#39;t overly keen on the redesigned rear-end when I saw the first press photographs but it too works well, particularly the mesh over the engine cover which replaces the slightly cheap looking plastic slats of the original S2.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Elise-1.6-2.jpg" title="Lotus Elise 1.6"><img src="Elise-1.6-2.jpg" alt="Lotus Elise 1.6" title="Lotus Elise 1.6" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Lotus Elise 1.6</div></div>
</div>

<p>Some have said that in moving to the new smaller engine Lotus have gone a step too far away from the original formula that made the Elise great, but having driven it I&#39;d have to disagree.</p>
<p>You can tell in places that compromises have been made to improve the cars emission and fuel economy figures, but show it a good road and it can entertain just as well as any Elise I&#39;ve driven so far.</p>
<p>Combine that with £125 a year road tax and real world 40mpg fuel economy and if you&#39;re looking for a road car to use every day without costing the earth then there really is a lot to like. Those looking for a car primarily for track work will no doubt find it lacking in power, but for everyone else I‘d say try it, you might just like it....</p>
<p><i>By James Thorburn (Thorburn)<br />Many thanks to Jamie at Bell and Colvill.</i></p>