
<p>This article was published in the <a class="external text" href="http://news.seloc.org/22/seloc_newsletter_mar11.pdf" rel="nofollow">March 2011</a> issue of the <a href="http://wiki.seloc.org/a/Newsletter_Issues" title="Newsletter Issues">SELOC Newsletter</a>.</p>
<h1><span class="mw-headline" id="A_Competitive_Activity_Day.E2.80.94Your_First_Step_into_Motorsport.3F">A Competitive Activity Day—Your First Step into Motorsport?</span></h1>

<p>It can be a daunting prospect taking your pride and joy off the public road on to a track for the first time, be it a track day or even making the leap into circuit racing. This can be especially concerning if this is your only vehicle which you rely on day in day out. So what options are open to you if you’d like a shot of motoring adrenaline?</p>

<p>For years SELOC have run Activity Days in conjunction with Carlimits at North Weald airfield and briefly at Thorney Island, which, as anyone that has attended can confirm, are fantastic fun. The thing is though we’ve all wished they just had that little extra competitive edge....</p>
<p>Autosolos have been a favourite in the US for years, and were introduced to the UK by Bristol Motor Club in 2003. They are a com-bination of Sprinting and Autotests, and are run on prepared surfaces. Cars run one at a time against the clock on a short course that lays emphasis on car handling and agility rather than speed or power.
No reversing is involved, and speeds and hazards do not exceed those encountered in normal driving on the road.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Sprinting_1.jpg" ><img src="Sprinting_1.jpg" class="location-center type-thumb" width="400" />
</a></div>
</div>

<p>So what is different between this and an Ac-tivity Day? To be honest not a lot. You still have the safety of being on the course on your own and there is hardly anything to hit. However, what you do get will be that com-petitive rush, and a chance to win something, including the all important bragging rights.
Autosolos are open to everyone over the age of 14 and you don’t even need a driving licence.</p>
<p>There’s no need for a helmet or overalls, and your car will not require any modifications. The only proviso is that your tyres meet the regulations—standard road tyres are the order of the day and unfortunately, that means track bias rubber which are on MSA List 1B (R888s, R1R, AO48s, AO39s, etc) are not permitted.
What you will need however is to be a SELOC Club Supporter, and to present your membership card on the day, as this provides liability cover under the MSA banner.</p>
<p>You will be fully involved in all aspects on the day. At any one time, one group will be marshalling the course, one will be preparing to marshal, whilst the third is actually competing. When they have had their runs, it’s ‘all change’. You have to marshal each course for your timed runs to count. It means that everyone has an equal amount of work and play and keeps costs down. The cost of all this is very similar to activity days and are in the region of £30-£40.</p>
<p>So what do you do if you want to get involved? The first event is up on the forum and will take place at Silverstone on the 8th May, there is a discussion thread in the Motorsports area as well. Discussion are under-way with other organisers and we’re aiming to gain invites for SELOC members around the majority of regions. If you have any questions just ask.</p>
<p>If you have already had a crack at Autosolos or fancy something a little quicker the next natural step is Sprints. I’ll cover that in next month’s issue, but if you need to know more before then, again just ask!</p>
<p><i>By Keith Attwood (LoafingWafu)</i></p>