
<p>This article was published in the <a class="external text" href="http://news.seloc.org/23/seloc_newsletter_apr11.pdf" rel="nofollow">April 2011</a> issue of the <a href="http://wiki.seloc.org/a/Newsletter_Issues" title="Newsletter Issues">SELOC Newsletter</a>.</p>
<h1><span class="mw-headline" id="Nitron_Factory_Tour">Nitron Factory Tour</span></h1>

<p>For years Nitron‘s NTR range has been the default choice for those serious about further improving upon the Elise‘s legendary handling.</p>
<p>So when Dave, owner of Seriously Lotus, came forward offering SELOC members a chance to visit Nitron‘s HQ in Witney, Oxfordshire, it was an opportunity that proved too good to miss for many.</p>
<p>The day started with tea and coffee in the main workshop area, complete with their impressive Beissbarth CCD wheel alignment system and the in-progress Project N2 race car to peruse while people arrived.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Nitron-Factory-Tour-1.jpg" title="Nitron Factory Workshop"><img src="Nitron-Factory-Tour-1.jpg" alt="Nitron Factory Workshop" title="Nitron Factory Workshop" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Nitron Factory Workshop</div></div>
</div>

<p>Proceedings kicked off with a presentation by Nitron CEO, Guy Evans, talking us through the history of Nitron and how they‘ve developed since the companies formation in 1998.</p>
<p>Having started out producing a low-cost, twin-tube, damper Nitron soon followed this up with their modular, 40mm piston diameter, mono-tube design which has formed the basis of their popular NTR40 range of products.</p>
<p>From there they also developed the compact NTF range of dampers for Formula racers and extremely lightweight sports cars including F3 racers and the Caparo T1 road-racer.</p>
<p>After the presentation people split off in to groups for a tour of the facilities and to learn more about how Nitron carry out their CAD, CNC turning and assembly work.</p>
<p>The assembly area was absolutely immaculate, with tubs of components ready for assembly lined up along one side of the room, air and oil lines coming down from the ceiling, and workbenches with countless vices lined up along the centre.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Nitron-Factory-Tour-2.jpg" title="Nitron Factory Assembly Room"><img src="Nitron-Factory-Tour-2.jpg" alt="Nitron Factory Assembly Room" title="Nitron Factory Assembly Room" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Nitron Factory Assembly Room</div></div>
</div>

<p>There was also a demonstration of the assembly room‘s damper dyno, demonstrating how tweaking the different adjusters on a 3-way damper alters its reactions. One thing that surprised everyone was how much heat the damper generated after a work out, yet the performance remained remarkably consistent.</p>
<p>After a break for lunch — a lovely Thai buffet – it was time for another presentation where Guy took us through how the internals of a damper work, then walked us through the latest Lotus focussed additions to the Nitron range; the look of concentration on people‘s faces as they tallied up the costs and whether they could afford them was intense.</p>
<p>Finally it was time for everyone to head back on out in to the sun for a group photo as the tour came to a close.</p>
<p>A big thank you of course has to go out to Dave for arranging the day and all at Nitron who gave up their Saturday to host it.</p>
<p><i>By James Thorburn (Thorburn)</i></p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Nitron-Factory-Tour-3.jpg" title="Nitron Factory Outside"><img src="Nitron-Factory-Tour-3.jpg" alt="Nitron Factory Outside" title="Nitron Factory Outside" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Nitron Factory Outside</div></div>
</div>
