
<p>This article was published in the <a class="external text" href="http://news.seloc.org/23/seloc_newsletter_apr11.pdf" rel="nofollow">April 2011</a> issue of the <a href="http://wiki.seloc.org/a/Newsletter_Issues" title="Newsletter Issues">SELOC Newsletter</a>.</p>
<h1><span class="mw-headline" id="CAT_Driver_Training_-_Drift_Day">CAT Driver Training - Drift Day</span></h1>

<p>A sunny spring day was the setting for four fellow SELOCers to head up to the Milbrook Proving Ground in Bedfordshire, for a &#39;Drifting &#38; Over Grip Limit Handling&#39; day with CAT Driver Training. The day had been organised specifically for SELOC by Jo Lloyd of Lotus-on-Track, as the first of several this spring and summer.</p>
<p>The first task was driving from security down to our base for the day. Normally this wouldn‘t warrant a mention, but involved driving a chunk of the infamous Milbrook Alpine course. Even in convoy behind a Ford Focus, it was still enormous fun taking the heavily banked corners and powering up and down the hills. I must drive that properly one day!</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Milbrook_1.jpg" title="Milbrook from the air"><img src="Milbrook_1.jpg" alt="Milbrook from the air" title="Milbrook from the air" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Milbrook from the air</div></div>
</div>

<p>Instruction for the day came from Colin Hoad, a highly experienced instructor with a strong engineering background. The focus was on learning the mechanics of how the car and road surface interact, from an engineering point of view.</p>
<p>The day was based on the large skid pan, and the majority was driven in two CAT Caterhams.</p>
<p>The morning involved an initial figure of eight exercise in the drift Caterham, acclimatising both to the car and to the art of getting it sideways.</p>
<p>Each person had around 8-10 minutes in the car for each run, with instruction every couple of minutes from Colin. The others watched on, either recovering from the previous run, asking questions, listening to Colin&#39;s advice, or, of course, heckling.</p>
<p>The exercises evolved, introducing different techniques, and then we applied these to a 6-corner circuit layout using the whole of the skid pan. It&#39;s fair to say that I had a particular attraction to the grass bank by one of the corners!!</p>
<p>The initial focus was to intentionally get sideways, learn what that feels like and how to control it. And then we changed to driving more at the limit, correcting both under and oversteer throughout the corner.</p>
<p>Next we switched to our own cars and drove a circuit involving a fast right corner to learn how they naturally understeer and oversteer at certain points of the corner. We then returned to the wetted skid pin for some provoked oversteer practice, again in our own cars.</p>
<p>Finally, it was back to the Caterhams and a bottle of champagne to the driver who could drift a complete circle for the longest time.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Milbrook_2.jpg" title="Caterham Drifting"><img src="Milbrook_2.jpg" alt="Caterham Drifting" title="Caterham Drifting" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Caterham Drifting</div></div>
</div>

<p>The satisfaction gained from all of us was clear to see, having progressed so far during the day. From a point of barely getting the back out, through to the inevitable spins, we were each successfully power sliding round the circle under control (mostly!).</p>
<p>Certainly though, the applause Rich received at the end of his run was well deserved. We could have come back the next day and I think he&#39;d have been in the same drift!</p>
<p>In summary, the purpose built venue was remarkable, the instruction detailed, clear and well explained, and it&#39;s obvious from the energy Colin puts into the day that he really enjoys it and is passionate about ensuring people understand why the car does what it does.</p>
<p>We each got a lot out of the day - thanks to Colin, Jo and Jo - and I&#39;m looking forward to the Performance Driving Day in May!</p>
<p><i>By Joel Baker (joelb)</i></p>