
<p>This article was published in the <a class="external text" href="http://news.seloc.org/23/seloc_newsletter_apr11.pdf" rel="nofollow">April 2011</a> issue of the <a href="http://wiki.seloc.org/a/Newsletter_Issues" title="Newsletter Issues">SELOC Newsletter</a>.</p>
<h1><span class="mw-headline" id="Sprinting_-_The_Next_Step_on_the_Motorsport_Ladder">Sprinting - The Next Step on the Motorsport Ladder</span></h1>

<p>Collectively known as Speed Events, Sprints and Hill climbs are essentially the same thing.</p>
<p>The aim is to cover a measured tarmac course against the clock. Cars start separately but there can be a number of cars on the course at the same time, although there will obviously be a safe distance between each car. Courses use a standing start and a flying finish. The timing for most events will be to 1/100th of a second and is always activated by a timing strut on the front of the car breaking a light beam at the start and the finish lines.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Sprinting_2.jpg" ><img src="Sprinting_2.jpg" class="location-center type-thumb" width="400" />
</a></div>
</div>

<p>A lot of people who‘ve progressed from trackdays into circuit racing have also had a dabble in sprinting to initially cut their teeth in motorsport. In some way they are safer than trackdays as it is only you on the track and there is no one else to worry about. But then you also have the red mist and competitive nature of your own personality to deal with so it can be hard to rein back your desire to try and push that little bit harder into the corner. You can also argue it is slightly harder than circuit racing to get a good result. This is as you only have two bites at the cherry to set that winning time. If you make a mistake, you don‘t have another lap to claw back the lost time.</p>
<p>The adrenalin rush you get from speed events is addictive. It is a different rush from trackdays and the feeling of elation you get when you‘ve nailed that perfect lap is fantastic. All of this can be achieved in a standard road going car, you only need a timing strut and a couple of stickers and your car is eligible. Safety wise you will need an approved set of overalls, helmet and gloves and once you‘ve bought your MSA Non-Race National B Licence you‘re good to go.</p>
<p>It can be very competitive and your will be up against a whole host of different machinery of varying power and performance, however most courses suit our cars and on the whole they perform very well. A crude way of explaining the class system used at MSA events is that the cars are split into road going and non road going cars, these are then split further depending on engine capacity with force induction carrying a 1.4 multiplication factor on your engine capacity. In general modifications are allowed but you do need to check the regs to make sure you still conform. Events are generally around the £100 mark and if you‘ve already done trackdays you‘ll find a lot of the venues for sprints are one in the same.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Sprinting_3.jpg" ><img src="Sprinting_3.jpg" class="location-center type-thumb" width="400" />
</a></div>
</div>

<p>In 2012 we established our own sprinting championship, the <a class="external text" href="http://selocmotorsport.org/" rel="nofollow">SELOC Speed Championship</a>, after a successful first season we have broadened the number of eligible events around the UK to enable more of our members to compete.</p>
<p>There is a sticky thread in both Chat and Sprinting sections of the forum to give you information on how to get involved. Also, keep an eye on the events calendar to for when SELOC is an invited clubs to events. Give it a go, you won‘t regret it!</p>
<p><i>By Keith Attwood (LoafingWafu)</i></p>