
<p>This article was published in the <a class="external text" href="http://news.seloc.org/24/seloc_newsletter_may11.pdf" rel="nofollow">May 2011</a> issue of the <a href="http://wiki.seloc.org/a/Newsletter_Issues" title="Newsletter Issues">SELOC Newsletter</a>.</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1"><a href="#An_Idiots_Guide_to_your_first_track_day">An Idiots Guide to your first track day</a>
<ul>
<li class="toclevel-2"><a href="#Choosing_a_day">Choosing a day</a>
</li>
<li class="toclevel-2"><a href="#Getting_prepared">Getting prepared</a>
</li>
<li class="toclevel-2"><a href="#The_day_before">The day before</a>
</li>
<li class="toclevel-2"><a href="#On_the_day">On the day</a>
</li>
<li class="toclevel-2"><a href="#Getting_through_the_day">Getting through the day</a>
</li>
<li class="toclevel-2"><a href="#The_aftermath">The aftermath</a>
</li>
</ul>
</li>
</ul></td></tr></table><hr/>
<h1><span class="mw-headline" id="An_Idiots_Guide_to_your_first_track_day">An Idiots Guide to your first track day</span></h1>

<p>Many people like the sound of taking their car on track, but find the idea of actually doing it for the first time somewhat daunting. It‘s great fun and can be rather addictive, and it‘s amazing how capable our little cars are.
The concern for many is that they‘ll damage their car out on track, but so long as you‘re sensible and well prepared it can be safer than road driving.</p>
<h2><span class="mw-headline" id="Choosing_a_day">Choosing a day</span></h2>

<p>First thing to do is find yourself a day. Picking a track nearby can save a lot of time and money and possibly an overnight stay. However it can pay to look beyond your local track. All track days are run with marshals and medical cover, but some tracks are less forgiving than others and some track day operators (TDOs) just seem to have the knack of making the day run smoothly and keeping the occasional behavioural excesses in check.</p>
<p>It‘s no secret that SELOC and LoT have very close ties, and for 2011 we‘ve been working together to organise a selection of evenings aimed at track day novices – with extra instruction and safe in the knowledge you aren‘t out on track with seasoned veterans of the track day scene.</p>
<p>All tracks are safer than your average B-road if you stay within your limits, but Brands Hatch Indy, Snetterton and Bedford offer the best blend of a real track atmosphere whilst being a little more forgiving should you make a mistake. Tracks like Oulton Park and Cadwell are awesome but mistakes can prove costly, especially in the wet.</p>
<p>An event such as the Lotus-on-Track Brands Indy Novice Evening on the 11th of July can be the ideal opportunity to learn the ropes in a safe and friendly environment tailored to those with no prior experience.</p>
<p>If you can, book tuition. It may not seem like much, but that half an hour or so can prove extremely useful whilst learning the track.</p>
<p>If you can an airfield training day such as those run by Car-Limits are excellent learning aids, as you can learn the limits of both your car and yourself before heading out on track, and can even lead to lower insurance premiums.</p>
<h2><span class="mw-headline" id="Getting_prepared">Getting prepared</span></h2>

<p>While there are a few essentials to ensure your safety out on track, you don‘t need to be spending a fortune.</p>
<p>The most obvious requirement is that of a helmet. Ideally you should pick up your own to be sure of a proper fit, but Lotus-on-Track offer helmet rentals at most venues – typically around £10-20. Some venues are beginning to ask for a SNELL 2005 approved helmet, so if you are buying now it most likely makes sense to get one which meets this specification. If you want to use a car without the roof fitted you‘ll want a full-face helmet as well, as many will not allow open face helmets in convertibles.</p>
<p>Unlike racing, where fire-proof overalls are a requirement, when it comes to track days all you need is clothing that properly covers your arms and legs – a long sleeve T-shirt and jeans are fine.</p>
<p>You may find some people wearing other items such as driving gloves, proper race boots, or driving oriented trainers like Puma Speedcats, but these are down to personal preference – the rule of thumb is to ensure you‘re comfortable and in proper control of your car.
You‘ll also need to show both parts of your driving licence, so make sure you know where they are when you book the day.</p>
<p>Many Lotus specialists include a number of track days as part of their road going insurance cover, but you must inform them of the day in advance or you won‘t be covered.
If you don‘t have track day cover included as part of your regular insurance policy then companies like CCI can provide cover for a single day.
It is important to remember however that track insurance has no 3rd party element, and usually carries a much higher excess.</p>
<p>The next step is to ensure your trusty steed is up for the job. You don‘t need thousands of pounds on upgrades to survive your first track day, even a standard Elise will be better suited than most cars to track driving, and while with time you may want to make changes to improve its on track performance it‘s by no means a requirement.</p>
<p>What you do need however is a healthy car. Track time will use up everything a lot faster than even the most spirited B-road driving. I have the mechanical skills of a dazed rabbit but I usually manage to do a quick pre day check.</p>
<p>Check levels for oil and coolant and if the oil has been in there a while and looks a bit black and goopy think about treating it to a change – it‘s a very easy DIY job. Honest.</p>
<p>Have a look through your wheel spokes to make sure there‘s a decent amount of meat left on your pads. Chances are you can only see the outer ones easily, and the inner ones always seem to wear our first so bear that in mind.</p>
<p>Check your wheel nuts are actually done up properly and that your tyres have plenty of life, as you want to be legal for the drive home.</p>
<p>Finally you‘ll want to be sure your car meets the noise restrictions for the circuit.
Most tracks are coming under increasing pressure to keep noise levels down to avoid issues with nearby neighbours and it‘s really hard to give clear advice as every car/engine/exhaust/cat/induction combination will be different.
If you have a decat pipe you may need to refit the cat, and if you‘re considering a day with a particularly tight noise limit you may want to have the car‘s noise level checked in advance - some tracks will also noise test you even if you aren‘t driving if you ask in advance. If you are over the limit on the day and cant change anything you will be going home without a refund!</p>
<h2><span class="mw-headline" id="The_day_before">The day before</span></h2>

<p>You normally have to be at the track for signing on by 8am at the latest, so most days usually involve either an early start or a night in a hotel. So I usually get the car and my gear ready the night before.</p>
<p>My list is
</p>
<ul>
<li>Driving licence</li>
<li>Crash Helmet</li>
<li>Some windscreen cleaner and rags</li>
<li>Tyre pressure gauge and or pump</li>
<li>A basic tool kit</li>
<li>Duct tape and zip ties</li>
<li>A lump of wood or plastic chock</li>
<li>A change of clothes</li>
<li>Full tank of fuel</li>
<li>Cash for food and drinks</li>
<li>Cash or card for fuel</li>
</ul>

<p>It sounds like no fun but if you are meeting up with mates at a hotel the night before don‘t make it a big one. I have seen a fair few people waste their £200 track day sat in a corner of a garage looking green and if you‘re drunk you will not be allowed out on track.</p>
<h2><span class="mw-headline" id="On_the_day">On the day</span></h2>

<p>Get to the track good and early, which usually means 7.30 to 8am. It‘s wise to fill up with fuel before entering the circuit, and with a standard car this should see you through until lunch when you can refill without wasting track time.</p>
<p>Find a spot in a garage or in the paddock to be your base for the day. You can usually get 2 cars to a pit garage if they are open. If you have time start emptying the car of all gubbins. You don‘t want anything lose in the car or the boot once you go out on track. It will end up under your pedals, or if it‘s in the boot it can crack the clam!!</p>
<p>Next job is to get signed on and show your driving licence. You may be able to download the forms so you can bring them along pre-filled. You will get a nice wristband to say you have done the deed.</p>
<p>Usually the noise testing site will be open by now so I try to make that my next job. A nice man will stick a probe by your pipe and ask you to hold about ¾ revs . If all is well he will put a sticker on your windscreen.</p>
<p>By now it should be almost time for the briefing. Grab a coffee and be ready to concentrate on what you are being told—it is important.</p>
<p>Last step before the fun really begins is the sighting laps.
No matter how many laps you have watched on YouTube or played on your Xbox you‘ll want to concentrate, it‘s a really good chance to get a look around and learn where the pit entry, exit and marshal posts are.</p>
<h2><span class="mw-headline" id="Getting_through_the_day">Getting through the day</span></h2>

<p>I am not going to attempt to teach you how to drive the track. I am no more a driving god than I am a mechanic. Listen carefully to the briefing and your instructor if you have booked one. These are just a few tips to try and give you an idea how the day will unfold.</p>
<p>Go at a pace you are comfortable with and as you gain confidence add speed slowly. There is absolutely no pressure to keep a certain pace up.
Be aware of those around you and let people by if there are people behind you – there are no prizes for keeping people behind you and you‘ll be better focussed on your own driving if you‘re looking forward rather than in your mirrors. Also remember that there is no overtaking under braking or in the corners.</p>
<p>Over time your tyre temperatures will increase, increasing the pressures.
Before going out for the first time I tend to let around 3-4 psi out of the tyres from their cold road settings. After my first go on track I check the pressures as soon as I get in and adjust them to suit. Afterwards I tend to leave them alone unless it‘s a really hot day.</p>
<p>If your day is Open Pit Lane, be sensible with your track time. After about 20 minutes or so your car will be getting hot and bothered and so will you, increasing the likelihood of mistakes.
Do a lap at around half speed and try not to use your brakes too hard. This cool down lap will reduce your cars temperatures more efficiently than coming in from full speed and parking it.</p>
<p>When you get back to your spot, don‘t use the handbrake. It may stick to your hot brakes, or it may let go when the brakes cool even though it seems ok at first. Use the block of wood or chock we packed. I usually leave my engine running long enough for the fan to come on once and then cut out again. This is meant to help shed excess heat and anything that avoids thermal shock on a K-series seems a good plan to me.</p>
<p>When you go back out remember everything will be cooler again, and it may take a lap for the brakes and tyres to get back to their fully sticky selves again
Avoid following the car in front too slavishly or using their lines or braking points. They may be running a completely different spec of car and should they make a mistake you may find yourself following them in to an accident.</p>
<p>Keep an eye on the fuel gauge, you really don‘t want to run out on track and it will go down alarmingly quickly. I tend to refill once it hits the 15l mark to be on the safe side.</p>
<p>Some people may be faster than you, especially if you are not on a novice day, but this isn‘t an assault on your ego. You‘re out to have fun and track days are strictly non-competitive.</p>
<h2><span class="mw-headline" id="The_aftermath">The aftermath</span></h2>
<p>Before leaving ensure that your car is road legal, particularly in terms of tyre and brake wear, and don‘t forget to recheck your tyre pressures.</p>
<p>Drive carefully on the way home, and be aware the police often have a speed trap near a circuit if there is an event on.</p>
<p>When the dust has been washed off go back over your car checks and see what you have left in terms of tyres and brakes.</p>
<p>Take your licence out of your pocket before your jeans go in the washing machine and start planning the next one</p>
<p>I look forward to seeing lots of new faces at the Brands evening in July.</p>
<p><i>By Dave Abbott (TigerDriver)</i></p>