
<p>This article was published in the <a class="external text" href="http://news.seloc.org/24/seloc_newsletter_may11.pdf" rel="nofollow">May 2011</a> issue of the <a href="http://wiki.seloc.org/a/Newsletter_Issues" title="Newsletter Issues">SELOC Newsletter</a>.</p>
<h1><span class="mw-headline" id="Bocardo_Autosolo_Review_-_May_2011">Bocardo Autosolo Review - May 2011</span></h1>

<p>I have tried my hand at track days over the last 10 years in a variety of different machinery but I‘ve always wanted to try some sort of competitive motorsport for real. Then I noticed a post from Keith (Loafing Wafu) regarding sprints and when I read further I saw the details of the Bocardo Autosolo at Silverstone I knew it was something I had to try.</p>
<p>The day was hosted by the Oxford Motor Club and who ran the day seamlessly and without any delays. The biggest appeal for me was the fact no safety modifications or special equipment were necessary, the car simply had to be road legal and driven to the event, not trailered.</p>
<p>Sunday 8th May arrived and having given the car a quick once over the day before, we were ready to go. I got up early, 05:15 to be precise to drive down from South Manchester. I packed light, just a small socket set and a spare t shirt as the forecast was for rain.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Bocardo_1.jpg" title="Xavier Brooke at the Bocardo Autosolo"><img src="Bocardo_1.jpg" alt="Xavier Brooke at the Bocardo Autosolo" title="Xavier Brooke at the Bocardo Autosolo" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Xavier Brooke at the Bocardo Autosolo</div></div>
</div>

<p>The event was taking place in one of the main car parks at Silverstone, just to the right of the main entrance to the circuit. On arrival I filtered in behind Gorman467 in his very clean Yellow S1. He, like me, was an Autosolo first timer. We both checked in and were given our information packs, containing course layouts, entrants list, car numbers and the all important timecard.</p>
<p>Next came scrutineering, with MOT, tax, battery security, club membership card and tyres all being checked. ‗List 1B‘ tyres are forbidden, so no sticky A048‘s or R888‘s. The cars competing came from all walks of life, from bike engined specials, to family hatchbacks.</p>
<p>After a quick check of tyre pressures it was time for the days briefing. The drivers were split into four groups, identified by the colour of your car number. These groups took it in turns to compete across the days 4 courses of 3 runs each, with your best 2 runs on each contributing to your total time. Competitors took it in turns to drive and marshal, with failure to help marshal the course resulting in exclusion from the results as competitor marshalling is one of the factors that helps keep Autosolo costs low.</p>
<p>Marshalling gives a great opportunity to observe the course and learn from others mistakes a, but to my horror our group was first up to drive the course, so it was with some trepidation I joined the queue and tried to work out the course as I watched the first cars head off around the course.</p>
<p>On reaching the front of the queue I handed over my time card and set off. I got about halfway through the course when I came to the ‗technical‘ section and passed a marker cone on the wrong side. My heart sunk, I knew I‘d cocked up but I pushed on, using it as an opportunity to learn the rest of the course. On completion my card was returned WT (wrong test) and I went to recheck the course layout and identify where I‘d gone wrong.</p>
<p>The next two runs passed were completely cleanly and without penalties, but I was under-steering wildly and pushing out wide around a lot of cones. Watching the other competitors during my mandatory marshalling stint confirmed I needed to hug the cones a bit closer.</p>
<p>Course 2 started badly. The cones were all numbered and Course 2 was essentially Course 1 but run in reverse. Part way through the course I panicked and came to a halt, frantically looking for the next cone and where to go next, before remembering that because the course was being run in reverse I was counting down, not up! To make matters worse I also took the cone hugging too far, clipping two in close succession and incurring 10 seconds worth of penalties. Thankfully as before the following two runs of the second course were clear and my times steadily improved.</p>
<p>With two courses down it was time to break for lunch, bringing with it a chance to talk tactics with other drivers and check the leaderboards. I was 11th out of 54 overall, and 7th in class out of 11. Merlin was also happy to offer some advice, suggesting that the course was 1st gear only and I was wasting time by changing gear - &#34;you only hit the limiter in a few places, &#38; when you do just lift a little so it‘s not bouncing off it&#34; he said.</p>
<p>After lunch I put this all to the test, and wow, the car felt alive, so much more responsive, less under-steer, and more easily steered around the cones on the throttle. Not only that but it sounded great, an all out attack on the senses. After we‘d completed the course I checked the leader board again, my change in driving style had paid dividends and my position had moved up to 7th overall, and 3rd in class!</p>
<p>It was all down to Course 4, the last of the day. With the best 2 out of 3 runs counting towards your cumulative time, I decided to try and ensure I got some clean runs in. After two good clean runs I really went for it on the last and posted my quickest time which actually matched the time of the Class D winner <i>Merlin</i>.</p>
<p>With the final results in I‘d held on to my 7th overall and 3rd in class, but hadn‘t improved further. The overall winner on the day was a bike engine MK Indy, but the sheer variety of machinery in the Top 10, which included an Impreza, a 106 Rallye and a Triumph Spitfire, along with 3 Elise&#39;s, combined with the fact that Elise‘s placed as high as 3rd and as low as 54th, just goes to that this really is motorsport that puts the emphasis on the driver, not the car.</p>
<p>It may not be the highest speed or profile form of motorsport, but if you want to push your car and yourself and see how you stack up against the competition then Autosolo could just be for you. Tyre wear was minimal and with just a £36 entry fee its excellent value. Try it.</p>
<p><i>By Xavier Brooke (brooke bond)</i></p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:Bocardo_2.jpg" title="Xavier Brooke at the Bocardo Autosolo"><img src="Bocardo_2.jpg" alt="Xavier Brooke at the Bocardo Autosolo" title="Xavier Brooke at the Bocardo Autosolo" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Xavier Brooke at the Bocardo Autosolo</div></div>
</div>
