
<p>This article was published in the <a class="external text" href="http://news.seloc.org/25/seloc_newsletter_jun11.pdf" rel="nofollow">June 2011</a> issue of the <a href="http://wiki.seloc.org/a/Newsletter_Issues" title="Newsletter Issues">SELOC Newsletter</a>.</p>
<h1><span class="mw-headline" id="Lotus_Driving_Academy_-_Level_1">Lotus Driving Academy - Level 1</span></h1>

<p>On the 4th of June I was lucky enough to take part in the Lotus Driving Academy Level 1. The weather couldn‟t have been any more perfect, beautiful clear blue skies and not a chance of any rain.</p>
<p>The day started at 8am with 15 very excitable drivers (from all over the world!) sitting in the clubhouse going through the days briefing.</p>
<p>Before we could jump into the cars we were treated to a tour of the factory by Richard Parrimint. Not only is Richard very good at telling jokes and having a laugh with everyone but his knowledge about Lotus is invaluable. I would have been happy to listen to his stories about the &#39;Chapman Days&#39; all day long!</p>
<p>After the tour we picked up our helmets and made our way to the cars. We were split up into 4 groups with 1 instructor per car, either Paul Parkinson, Danny Gulobovic, Russel Mews or Martin Donnelly. We used the new Elise 1.6 round the newly resurfaced south circuit.</p>
<p>On our day there were drivers who had never been on track before, to the very experienced! Each instructor tailored the day around the ability level of each individual driver. The day would consist of three 20 minute sessions, starting off slowly and building on speed as we learnt the lines and braking points. The south circuit really has everything you would want to learn from a days tuition, a couple of very tight corners, a long foot-to-the-floor straight and a few very ride-able curbs.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:LDA.jpg" ><img src="LDA.jpg" class="location-center type-thumb" width="400" />
</a></div>
</div>

<p>Although I started off quite slow, I quickly got up to speed and I was pleased how the day panned out. As long as you didn‟t try to get ahead of yourself, you can really drive these cars flat out and as hard as you possibly can. Paul was my instructor and I was extremely impressed with his knowledge of the track and instruction.</p>
<p>At the end of each 20minute session our instructor would give us a little debrief on how we did and where we could improve next time we were out. When we weren‟t out on track we were in the old control tower, which provided an excellent view of the circuit and a chance for everyone to talk about their experience and what they would be trying to achieve in their next session.</p>
<p>After our 3 sessions we were treated to a couple of hot laps driven by our instructors, I&#39;ve never seen someone able to get a car so sideways before!</p>
<p>The whole day was great fun with a very professional and impressive set up by the guys at the academy.</p>
<p>Level 2 goes into a bit more detail on heel and toeing and trail braking, as well as more and the 2 circuits (North and South) are combined to make one. Once you have completed Level 3 you are given your &#39;Lotus license&#39; which means they will allow you to drive their Evora GT4 race car round the circuit- at a cost of course!</p>
<p>I really can&#39;t recommend the day enough, it was great fun and I‟m looking forward to Level 2 already.</p>
<p><i>By Andi Brookshaw (andibrook)</i></p>