
<p>This article was published in the <a class="external text" href="http://news.seloc.org/26/seloc_newsletter_jul11.pdf" rel="nofollow">July 2011</a> issue of the <a href="http://wiki.seloc.org/a/Newsletter_Issues" title="Newsletter Issues">SELOC Newsletter</a>.</p>
<h1><span class="mw-headline" id="SELOC.40Snetts_2011">SELOC@Snetts 2011</span></h1>

<p>After a long build up and many, MANY, group u2us from Burt the time was finally upon us—the Lotus Festival and SELOC@Snetts 2011 had arrived.</p>
<p>It certainly had a lot to live up to, with 2010’s gathering of Classic Team Lotus cars a high water mark on the Lotus landscape, but there was plenty to look forward to over the course of the weekend.</p>
<p>For the truly dedicated there was the Thursday track day, with Lotus-on-Track running both a full day and novice evening to whet the appetite for the weekend’s racing.</p>
<p>Friday was a day for socialising as people arrived throughout the day, caught up with old friends and made new ones. One track official found himself an unlikely hero when they finally opened up the Russells Bend toilet block, saving everyone the long walk (or drive, for the lazy) down to Tyrrells.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:SELOCatSnetts_1.jpg" title="SELOC@Snetts Campsite"><img src="SELOCatSnetts_1.jpg" alt="SELOC@Snetts Campsite" title="SELOC@Snetts Campsite" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">SELOC@Snetts Campsite</div></div>
</div>

<p>Friday evening was spent in the marquee with the obligatory music, car chat, conga lines and homoeroticism abound.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:SELOCatSnetts_2.jpg" title="Conga!"><img src="SELOCatSnetts_2.jpg" alt="Conga!" title="Conga!" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Conga!</div></div>
</div>

<p>The on-track action began in earnest on the Saturday, with practice and qualifying along with a pair of Radical Clubman’s Cup and Nippon Challenge races, although the second Radical race was set back by a start line accident which damaged</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:SELOCatSnetts_3.jpg" title="Elise&#39;s and Evora GT4 during Saturday Practice"><img src="SELOCatSnetts_3.jpg" alt="Elise&#39;s and Evora GT4 during Saturday Practice" title="Elise&#39;s and Evora GT4 during Saturday Practice" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Elise&#39;s and Evora GT4 during Saturday Practice</div></div>
</div>

<p>Of course for many the real draw was Saturday evening, with the hotly anticipated debut of Geoff Leppard in the SELOC tent.</p>
<p>After a slightly shaky start the guys went from strength to strength, with a tour de force of classic rock hits. Unfortunately in all the partying there was one casualty, with Massive Si’s inflatable sofa suffering a fatal blow during a pile-on.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:SELOCatSnetts_4.jpg" title="Geoff Leppard"><img src="SELOCatSnetts_4.jpg" alt="Geoff Leppard" title="Geoff Leppard" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Geoff Leppard</div></div>
</div>

<p>And so as Sunday dawned, engines were firing up in the paddock while on the campsite hangovers were being nursed and the car parks filled with those eager for a day’s great racing and demonstration runs.</p>
<p>Classic Team Lotus put on a great show with a selection of classic F1 cars, including the recently refurbished V12 Lotus-Lamborghini Type 102 and the never raced Type 58, along with the ever popular Type 25 and Type 79.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/image:SELOCatSnetts_5.jpg" title="Classic Team Lotus Demonstration"><img src="SELOCatSnetts_5.jpg" alt="Classic Team Lotus Demonstration" title="Classic Team Lotus Demonstration" class="location-center type-thumb" width="400" />
</a>
<div class="thumbcaption">Classic Team Lotus Demonstration</div></div>
</div>

<p>Luigi Mazza took the win in both of the Elise Trophy races, while in the hour long Lotus Cup UK race Gavin Kershaw and Martin Donnelly took the overall victory in the factory entered Evora GT4. Steve Williams took the 2-Eleven victory, David Seear the Exige, Pat McBennett the Open class and Ken Savage made up for his disappointment in the Elise Trophy races by taking the production class victory.</p>