<h2><span class="mw-headline" id="How_to_replace_the_driving_lamps_on_a_Series_1_Elise_without_removing_the_front_clam.">How to replace the driving lamps on a Series 1 Elise without removing the front clam.</span></h2>

<p>•  Look at your new lamp, Note where it has <b>TOP</b> moulded into the glass and cut the unnecessary lug, the upper, outer one from the new driving light (don&#39;t get this wrong!).</p>
<p>•  remove the cap from rear of the new light - it is a bayonet fitting, disconnect the new wiring from the lamp, you won&#39;t need this, but do look at where the connectors go, you will be attaching the old loom later and you will not be able to see what you are doing.</p>
<p>•  Put some silicon grease or vaseline on the outer rim of the back of the new light - where the cap fits. This will make removing the cap when the bulb eventually dies much easier. The lamp housing is aluminium alloy and it tends to corrode in the rain and winter salt which makes getting the cap off a pain.</p>
<p>•  cut a slot in the lower outer bracket on the new lamp, so an M8 screw  shank will just slot in. The screw head is quite large and sits in a recess in the bracket so there is no chance of it slipping off once its held in place by the spring and the other two bolts.</p>
<p>•  remove the front grill - two posidrive screws on my 111S, these where very rusty and needed a very well fitting screwdriver to get them out. I replaced them with stainless (2x ¾inch No8)</p>
<p>•  wrap a couple of layers of insulating tape around the corner of the &#34;mouth&#34; of the clamshell - to protect the paint.</p>
<p>•  spray the threads of the three nylon fixing screws with silicon lube or WD40.</p>
<p>•  remove the two inner Nylon screws, use a big screwdriver to prevent damage to the screw heads. Remove the springs behind the lugs taking care not to drop them into the clamshell.</p>
<p>•  use a pad-saw fitted with a hacksaw blade to cut the outside lug off the light.</p>
<p>•  withdraw the broken light.</p>
<p>•  you can now remove the last screw by pulling on the remaining scrap of the lug towards the middle of the car bending the nylon bolt a little, this will allow you to get a screwdriver on its head; remove and keep the spring behind the lug also.</p>
<p>•  It&#39;s almost impossible to get this screw back in (because it&#39;s so long), however it doesn&#39;t need to be this long. Cut roughly ½ inch from one of the nylon bolts using a sharp knife. Taper the thread a little so the end is slightly pointed, this will make it easier to get back in. It needs to be about ½ inch longer than the lamp mounting spring.</p>
<p>•  add some thick silicon lubricant to the threads - I used Hellerman lubricant which is meant for rubber sleeves on electrical wiring, its about the thickness of engine oil and makes refitting the screws much easier.</p>
<p>•  put a spring on the cut down nylon bolt and screw it into the really outer position - hidden behind in the corner of the clamshell. Wind this in as far as you can with your fingers, it should now compress the spring a little.</p>
<p>•  put the new lamp in place</p>
<p>•  use a small flat blade screwdriver to compress the outer spring and  hook the opened lug on he lamp under the head of the nylon bolt.</p>
<p>•  If you have <a href="http://wiki.seloc.org/a/Eliseparts" title="Eliseparts">Geary&#39;s</a> driving lamp covers now&#39;s the time to push one on.</p>
<p>•  put the two nylon bolts in with their springs behind them.</p>
<p>•  plug in the blade connectors on the bulb and on the lamp housing, and put the cap on the back of the lamp.</p>
<p>•  If you are replacing just one lamp, you need remove only the two inner screws and springs on the other lamp to allow enough movement to get one of <a href="http://wiki.seloc.org/a/Eliseparts" title="Eliseparts">Geary&#39;s</a> covers on that one too - don&#39;t forget to clean the old lamp, the covers don&#39;t come off!</p>
<p>•  replace the front grill.</p>
<p>•  wait till dark and point the car at a wall about 10 feet away. Turn on the driving lights and adjust the height of the new light so it matches its friend.</p>
<p>Much of the ideas above where lifted from previous posts to seloc: <a class="external autonumber" href="http://forums.seloc.org/t/79350" rel="nofollow">[1]</a><a class="external autonumber" href="http://forums.seloc.org/t/75120" rel="nofollow">[2]</a></p>
<p>If you are very careful this may take an hour.</p>
<p>


</p>