<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<ul>
<li class="toclevel-1"><a href="#PAINT_CODES">PAINT CODES</a>
</li>
<li class="toclevel-1"><a href="#Location_of_Your_Car.27s_Paint_Code">Location of Your Car&#39;s Paint Code</a>
</li>
<li class="toclevel-1"><a href="#Chassis_Plate_locations">Chassis Plate locations</a>
</li>
<li class="toclevel-1"><a href="#Paint_Colour_Manufacturer_Code_.26_Code_No.">Paint Colour Manufacturer Code &#38; Code No.</a>
</li>
<li class="toclevel-1"><a href="#Lotus_Touch_Up_No.">Lotus Touch Up No.</a>
</li>
<li class="toclevel-1"><a href="#Dupont_Code_Dupont_Microfiche_Touch_Up">Dupont Code Dupont Microfiche Touch Up</a>
</li>
<li class="toclevel-1"><a href="#Metallic">Metallic</a>
</li>
</ul>
</ul>
</ul></td></tr></table><hr/>
<h3><span class="mw-headline" id="PAINT_CODES">PAINT CODES</span></h3>


<p>Lotus allocates a paint code to all its colours, and generally includes the code either on the V.I.N. label, or a dedicated label nearby.</p>
<p>Some colours may also by used by other manufacturers, but many are Lotus specific. </p>
<p>The following list identifies all colours used to date, and includes the paint suppliers reference number which should be quoted when ordering material from an automotive paintshop. Note that the Lotus paint code prefix </p>
<p>letter identifies the paint type as follows: </p>

<p>‘L’ prefix codes indicate nitro-cellulose paint for which two suppliers reference numbers are sometimes quoted .</p>
<p>International Paint (formerly Pinchin &#38; Johnson) and ICI. </p>
<p>‘A’ prefix paint codes are used for cars finished in ICI 2K two pack acrylic polyurethane paint introduced 
around 1977.</p> 
<p>‘B’ codes indicate DuPont basecoat/clear acrylic enamel paint introduced during 1991, with water based 
paints being phased in during 1997. </p>
<p>‘S’ codes were used for a short period only (1976/77) and indicate that the body was moulded with integral colour using ICI 2K two pack polyurethane paint of the P407 line. 
These cars should be repaired using conventional materials and techniques. </p>

<h3><span class="mw-headline" id="Location_of_Your_Car.27s_Paint_Code">Location of Your Car&#39;s Paint Code</span></h3>

<p>This can normally be found on the chassis plate sticker.</p>
<p>Elan M100s may be an exception to this.</p>
<p>Paint Code Example: B20 = Azure Blue</p>
<h3><span class="mw-headline" id="Chassis_Plate_locations">Chassis Plate locations</span></h3>

<p><b>Under the Bonnet:</b></p>
<p>Elise S1 / Exige S1 / 340R</p>
<p>Excel</p>
<p>Esprit</p>
<p><b>Inside the car on the inner sill panel near the drivers seat:</b></p>
<p>Elise S2 / Exige S2</p>
<p>Europa S</p>
<h3><span class="mw-headline" id="Paint_Colour_Manufacturer_Code_.26_Code_No.">Paint Colour Manufacturer Code &#38; Code No.</span></h3>




<p>L01 British Racing Green PJ 6170Y2790 
ICI P030 2854 </p>
<p>L02 French Blue PJ 6170Z1280 
ICI P030 7210 </p>
<p>L03 Wedgewood Blue PJ 6170Z1290 </p>
<p>L04 Cirrus White PJ 6170X0540 
ICI P030 9049 </p>
<p>L05 Carnival Red PJ 6170X5350 
ICI P030 8385 </p>
<p>L06 Burnt Sand PJ 6170X4570 
ICI P030 6853 </p>
<p>L07 Lotus Yellow PJ 6170X3940 
ICI P030 9547 </p>
<p>L08 Matt Black PJ 0235X9050RZ 
ICI Non Gloss </p>
<p>L09 Royal Blue PJ 6170Z1920 
ICI P030 7557 </p>
<p>L10 Bahama Yellow PJ 6170Y3140 
ICI P030 6854 </p>
<p>L11 Regency Red PJ 6170Y5960 
ICI P030 9053 </p>
<p>L12 Lagoon Blue PJ 6170A1130 
ICI P031 4339 </p>
<p>L13 Pistachio Lime Green PJ 6170W2230R1 
ICI P030 9052 </p>
<p>L14 Colarado Orange PJ 6170Z5980RJ 
ICI P030 9055 </p>
<p>L15 Black Gloss ICI P030 122 </p>
<p>L16 Ford Tawny PJ 6170A4330 
ICI P031 3626 </p>
<p>L17 Renault Mid Green PJ 6170A2580 </p>
<p>L18 Glacier Blue ICI P079 4403 </p>
<p>L19 Sable ICI P030 7604 </p>
<p>L20 Indigo Blue </p>
<p>L21 Purple ICI P031 4963 </p>
<p>L22 Bitter Green PJ 6170X2097 
ICI P030 9501 </p>
<p>L23 Sepia Brown PJ 6170Y4817 
ICI P030 TW25028 </p>
<p>L24 Firecracker PJ 6170X5150 </p>




<h3><span class="mw-headline" id="Lotus_Touch_Up_No.">Lotus Touch Up No.</span></h3>



<p>B036B6424S </p>
<p>ICI P030 8662 </p>
<p>L25 Monaco White ICI P030 7517 B050B6237S </p>
<p>L26 Olympic Blue ICI P030 9257 </p>
<p>L27 Gunmetal ICI P031 3141 </p>
<p>L28 Rover Brown </p>
<p>L29 Mint Green ICI P030 DC27 </p>
<p>L30 Garnet ICI P031 4984 </p>
<p>L31 Lemon Yellow ICI P030 0455 </p>
<p>L32 Oxford Blue ICI P030 113 </p>
<p>L33 Ford Signal Orange ICI DA 21 </p>
<p>L34 Roman Bronze ICI P031 5050 </p>
<p>L35 Brazil ICI P031 4563 </p>
<p>L36 Silver ICI P031 5699 </p>
<p>L37 Jupiter Basecoat ICI P031 9235 </p>
<p>L38 Garnet Basecoat ICI P031 9142 </p>
<p>L39 Versailles Red </p>
<p>L40 Midnight Blue ICI P030 4647 </p>
<p>L41 Crystal Blue </p>
<p>L42 Calypso Red ICI P030 GJ23 </p>
<p>L43 Martini Green </p>
<p>L44 Essex Blue ICI P031 9176 </p>
<p>L45 British Racing Green ICI P030 CC43 </p>
<p>L46 British Racing Green ICI P030 8120 </p>
<p>L47 British Racing Green ICI P030 8461 </p>
<p>Gold Laquer PJ 6170A3130 (Elan sprint bumpers) </p>
<p>Silver Laquer PJ 6170A8020 (Elan bumpers) </p>
<p>S01 White ICI P407 701 </p>
<p>Repair Cellulose ICI P030 101 </p>
<p>S02 Signal Red ICI P407 717 </p>
<p>Repair Cellulose ICI P030 437 </p>
<p>S03 Lemon Yellow ICI P407 783 </p>
<p>Repair Cellulose ICI P030 455 </p>
<p>S04 Orange ICI P407 720 </p>
<p>Repair Cellulose ICI P030 457 </p>
<p>S05 Oxford Blue ICI P407 738 </p>
<p>Repair Cellulose ICI P030 113 </p>
<p>P02 Pearlescent White ICI P4217865 </p>
<p>A01 Blue Oxford ICI P420113 </p>
<p>A02 Black ICI P420122 B036B6424S </p>
<p>A03 Silver Diamond ICI P4229167 </p>
<p>A04 Gold ICI P4229638 </p>
<p>A05 Viper Green ICI P4229289 </p>
<p>A06 Bermuda Blue ICI P4229288 </p>
<p>A07 Roman Bronze ICI P42296468 </p>
<p>A08 Lotus Bronze ICI P4229756 </p>
<p>A09 Martini Green IPJ </p>
<p>A10 Metallic Black ICI P4229719 </p>
<p>A11 Martini Green ICI P4229890 </p>
<p>A12 Onyx ICI P4229809 </p>
<p>A13 Tabac ICI P4229781 </p>
<p>A14 Altair Green ICI P4220182 </p>
<p>A15 Helleblau ICI P4220183 </p>
<p>A16 Essex Blue ICI P4220146 </p>
<p>A17 Essex Blue IPJ - 2 Pack </p>
<p>A18 Tissot Blue </p>
<p>A19 Copper Fire Metallic ICI P4220311 </p>
<p>A20 Gold Sikkens F158979 </p>
<p>A21 Monaco White ICI P4207517 B050B6237S </p>
<p>A22 Lotus Yellow ICI P4200455</p> 
<p>A23 Calypso Red ICIP42OGJ23 D075B6264F </p>
<p>A24 Gunmetal </p>
<p>A25 New Gold ICI P4220628B </p>
<p>A26 Copper </p>
<p>A27 Toyota Red ICI P4220691 </p>
<p>A28 Ruben Red ICI P4229373 </p>
<p>A29 Copper ICI P4215031 </p>
<p>A30 Jupiter Red ICI P4216056 </p>
<p>A31 Copper ICI P4217222 </p>
<p>A32 Mediterranean Blue ICI P4217215 C082B6126J </p>
<p>A33 Ice Blue ICI P4217220 </p>
<p>A34 Essex Blue ICl P4217219 </p>
<p>A35 Silver ICI P4217379 </p>
<p>A36 New Gold ICI P4217221 </p>
<p>A37 Fiat Grey ICI P4214491 </p>
<p>A38 Chrysier Steel Grey ICI P4215310 </p>
<p>A39 Ice Blue ICI P032 </p>
<p>A40 Silver ICI P032-918 </p>
<p>A41 Silver </p>
<p>A42 British Racing Green ICI P4216490 C082B6089J </p>
<p>A43 Oyster Gold ICI P4215888 </p>
<p>A44 Glacier Blue ICI P4210757 C082B6090J </p>
<p>A45 Silver Frost ICl P4217805 C082B6091J </p>
<p>A46 Cream ICI P4209267 </p>
<p>A47 Graphite Grey ICI P4217937 </p>
<p>A48 Grey ICI A234B </p>
<p>A49 Green ICI 1609B </p>
<p>A50 Calypso Red Glazurit </p>
<p>A51 Midnight Blue ICI P420NK60 </p>
<p>A52 Mediterranean Blue ICI P4218054 C082B6126J </p>
<p>A53 Cirrus Grey ICI P4218056 </p>
<p>A54 New Jupiter Red ICI P4218055 </p>
<p>A55 Cherry Red ICI JT76 </p>
<p>A56 Nimbus Grey ICI P4218116M </p>
<p>A57 Shadow Grey ICI 679-1090B </p>
<p>A58 Champagne Gold ICI P4218117M </p>
<p>A59 Steel Blue ICI P4218118M C082B6133J </p>
<p>A60 Seal Grey ICI P4218147 </p>
<p>A61 Atlantic Green ICI P4218119M </p>
<p>A62 Claret ICI P4218120M C082B6145J </p>
<p>A63 British Racing Green ICI P420NV24 B082B6146S </p>
<p>A64 Camel Yellow/ ICI P420WD55 A100B6275S </p>
<p>Norfolk Mustard </p>
<p>A65 British Racing Green ICI P420GE51 B082B6171S </p>
<p>A66 Walnut ICI P4218209 </p>
<p>A67 Vulcan Grey ICI P4218208 C082B6172J </p>
<p>A68 Pacific Blue ICI P4217750 C082B6173J </p>
<p>A69 </p>
<p>A70 </p>
<p>A71 Empire Green ICl P4218456 </p>
<p>A72 Aqua Blue B100B6276J </p>
<p>A73 Silk Red. B100B6274J </p>


<h3><span class="mw-headline" id="Dupont_Code_Dupont_Microfiche_Touch_Up">Dupont Code Dupont Microfiche Touch Up</span></h3>



<p>B01 Monaco White Dupont ABN9149 N9149 A082B6294F </p>
<p>B02 Black Dupont AB47600 M1698 A082B6295F </p>
<p>B03 Calypso Red Dupont ABK9197 K9197 D075B6264F</p> 
<p>B04 British Racing Green Dupont ABK9349 K9349 D082B6146F </p>
<p>B05 Norfolk Mustard Dupont ABN9561 N9561 A082B6296F </p>
<p>B06 Aqua Blue Dupont ABK9253 L9682 A082B6309F </p>
<p>B07 Silk Red Dupont ABL9683 L9683 B082B6310F</p> 
<p>B08 Pacific Blue Dupont ABN9144 N9144 D082B6173F </p>
<p>B09 Silver Frost Dupont ABL9056 L9056 D082B6091F </p>
<p>B10 Steel Blue Dupont ABN9148 N9148 A082B6311F </p>
<p>B11 Midnight Blue Dupont ABK9348 K9348 B082B6125F </p>
<p>B12 Ibiza Blue Dupont ABG9051 G9051 A082B6312F </p>
<p>B13 Metallic Black Dupont ABN8113 N8113 A082B6313F </p>
<p>B14 Metallic Green Dupont ABH8395 H8395 A082B6314F </p>
<p>B15 Pearl Silver Special Mix -A082B6315F </p>
<p>B16 Empire Green (Omega) Dupont ABW9320 W9320 A082B6299F </p>
<p>B17 Mica Yellow Spec 637CJ417 W9424 A082B6300F </p>
<p>B18 Medina Green Dupont N9888 F2254 A082B6301F </p>
<p>B19 Palicio (Purple) Dupont 3E321 F1722 A082B6302F </p>
<p>B20 Azure Blue Metallic Dupont L9890 F2255 A082B6303F </p>
<p>B21 Lotus Racing Green Dupont L9051 F2256 A082B6304F </p>



<h3><span class="mw-headline" id="Metallic">Metallic</span></h3>


<p>B22 Aluminium HY100 F2073 A082B6305F</p> 
<p>B23 Ruby Red Metallic Dupont ABN9933 F7503 A082B6306F </p>
<p>B24 Bronze Dupont F0585 F2284 A082B6307F </p>
<p>B25 Chrome Orange (Base) Dupont F0262 F7504 A082B6338F </p>
<p>Chrome Orange (Pearl) Dupont HE01 F7504</p> 
<p>B26 Saturn Silver Dupont F0189 M1699 A082B6339F</p> 
<p>B27 Electric Green Dupont F1613 M1800 A082B6340F </p>
<p>B28 Deep Purple Dupont F0457 M1801 A082B6341F </p>
<p>B29 Racing Green Dupont F1415 M1658 A082B6342F </p>
<p>B30 Inferno Dupont K9381 M1659 A082B6343F </p>
<p>B31 Pacific Green Dupont F1037 M1660 A082B6344F </p>
<p>B32 Willow Dupont F1827 M1661 </p>
<p>B33 Charcoal Dupont L9254 M1662 A082B6345F </p>
<p>B34 Steel Blue Dupont N8661 M1663 A082B6346F </p>
<p>B35 New Aluminium Dupont BS97 F7235 A082B6350F </p>
<p>B36 Mustard Yellow Dupont F8121 M1664 A082B6383S </p>
<p>B37 Anniversary Green Dupont F1357 M0043 A082B6381F</p> 
<p>B38 Quicksilver Dupont H9594 M0485 A082B6382F </p>
<p>B39 Scandal Green Dupont F1377 M1880 </p>
<p>B40 Lotus Steel Blue Met. Dupont G8928 M1878 </p>
<p>B41 Metallic Green Dupont AB46700 K6 F2257 </p>
<p>B42 Midnight Blue Metallic Dupont L8632 F1728 A082B6308F </p>
<p>B43 Lotus Yellow Dupont L9327 
(Equivalent to ICI A22)</p>
<p>B44 Night Blue Metallic Dupont ABH9597 F2258 </p>
<p>B45 Cranberry Red Metallic Dupont N9571 F2259 </p>
<p>B46 Bugatti Blue Metallic A082B6335F </p>
<p>B47 Ferrari Yellow Dupont W8650 F2260 </p>
<p>B48 Mauritius Blue Dupont H9322 F2261 </p>
<p>B49 Pearl Black Dupont H9595 F2262 </p>
<p>B50 Orient Blue Dupont XB-FOA20 F2263 </p>
<p>B51 Pearl White Dupont ABN9150 F7505 </p>
<p>B52 Magenta Metallic Dupont H9883 F2264 </p>
<p>B53 Red Pearl Metallic Dupont F1127 F2265 </p>
<p>B54 Bugatti Blue Mono Dupont ABFO496 F7506 </p>
<p>B55 Ferrari Red Dupont H8436 F7507 </p>
<p>B56 Red/Gold Pearl Dupont W9329/W9352 2-T999 </p>
<p>B57 Juvarra Ivory Metallic Dupont 712 M1665 A082B6334F </p>
<p>B58 Estoril Blue Metallic -F2238 </p>
<p>B59 Vulcan Grey Metallic Dupont N9145 F7509 </p>
<p>B60 Cosmos Black Metallic Dupont F0642 F7510 </p>
<p>B61 Nautilus Blue Dupont W9783 F7511 A082B6347F </p>
<p>B62 Titanium Dupont F0576 F7512 A082B6348F </p>
<p>B63 Lotus Racing Yellow Dupont W9424 F7513 A082B6349F </p>
<p>B64 Pearl White/Gold Dupont H0867/AM76 F7514 </p>
<p>B65 Pearl White/Blue Dupont AM74 F4803 </p>
<p>B66 Mendip Blue Dupont F1487 M1666 </p>
<p>B67 Epsom Green Metallic Dupont F1001 M1667 </p>
<p>B68 Peugeot Blue Metallic Dupont F1821 M1668 </p>
<p>B69 Sahara Gold Metallic Dupont HY6 M1656 </p>
<p>B70 Viola Metallic HY39/97 F7964 </p>
<p>B71 Old English White WT03 M1879 A082B6404F </p>
<p>B72 Lynx Flag Blue Metallic F9915 M1657 </p>
<p>B73 Atlantic Blue Metallic L9560 M1653 </p>
<p>B74 Dolphin Blue Metallic M2441</p> 
<p>B75 Motorsport Green M1362 </p>
<p>B76 Light Blue P290C M2437 </p>
<p>B77 Envy Green Metallic LY6K F2138 A082B6401F </p>
<p>B78 Atlantis Blue Pearl F3595 -A111B6203F </p>
<p>B79 Starmist Blue Metallic -M6059 </p>
<p>B80 340R Grey Metallic N8990 M9333 A082B6399F </p>
<p>B81 340R Black Metallic L9024 M6027 A082B6398F </p>
<p>B82 Winter Green Metallic F4514 </p>
<p>B83 Lightning Yellow P1375 </p>
<p>B84 Lava Orange P1376 </p>
<p>B85 Laser Blue P1377 A082B6386F </p>
<p>B86 Racing Green P1378 </p>
<p>B87 Ice Blue P1379 A082B6389F </p>
<p>B88 Gunmetal P1380 A082B6390F </p>
<p>B89 Quartz P1381 A082B6391F </p>
<p>B90 Cobalt Blue P1382 A082B6392F </p>
<p>B91 Aqua P1383 A082B6393F </p>
<p>B92 Arctic Silver Metallic P1384 A082B6396F </p>
<p>B93 Starlight Black Metallic P4832 A082B6402F </p>
<p>B94 Ardent Red Mono P4485 A082B6400F </p>
<p>B95 Bordeaux Red Metallic X0468 A082B6405F </p>
<p>B96 Teal Blue Mono X0469 A082B6406F </p>
<p>B97 Atlantic Blue Metallic X0470 A082B6407F </p>
<p>B98 Storm Titanium Met. X0471 A082B6408F </p>
<p>B99 Aztec Bronze Pearl X0472 A082B6409F </p>
<p>B100 Magnetic Blue Pearl X0473 A082B6410F </p>
<p>B101 Electric Green Pearl X0474 A082B6411F </p>
<p>B102 Aubergine Purple Pearl X0475 A082B6412F </p>
<p>B103 Silver Mica Pearl X0466 A082B6413F </p>
<p>B104 Blue Mica Pearl X0467 A082B6414F </p>
<p>B105 Nightfall Blue Met. X0476 A082B6415F </p>
<p>B106 Saffron Yellow Mono X0908 A082B6416F </p>
<p>B107 Glacier Blue Metallic X1386 A082B6417F </p>
<p>B108 Graphite Grey Metallic X1387 A082B6418F </p>
<p>B109 Krypton Green Mono X1388 A082B6419F</p>



<p><a class="external free" href="http://www.bell-colvill.co.uk/admin/lotusnews/PDFS/4515.pdf" rel="nofollow">http://www.bell-colvill.co.uk/admin/lotusnews/PDFS/4515.pdf</a>[Download This Information in a PDF]</p>

<p>



</p>