<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<ul>
<li class="toclevel-1"><a href="#Elise_S1_Hardtop">Elise S1 Hardtop</a>
</li>
<li class="toclevel-1"><a href="#Elise_S2_Hardtop_.27Long_Tail.27">Elise S2 Hardtop &#39;Long Tail&#39;</a>
</li>
<li class="toclevel-1"><a href="#Elise_S2_Shortop_Retro_Fit">Elise S2 Shortop Retro Fit</a>
</li>
<li class="toclevel-1"><a href="#Elise_S2_Shortop_After_May_2002">Elise S2 Shortop After May 2002</a>
</li>
</ul>
</ul>
</ul></td></tr></table><hr/>
<h3><span class="mw-headline" id="Elise_S1_Hardtop">Elise S1 Hardtop</span></h3>


<p>This was a standard item made by lotus, however there are many &#39;aftermarket&#39; roofs on the market and they are still available from many &#39;elise&#39; part sellers.</p>
<p>LOTUS PART NUMBER:A111B0512S </p>


<p>PLEASE ADD MORE INFO</p>

<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:s1top1.jpg" ><img src="s1top1.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>S1 Hardtop </p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:s1top2.jpg" ><img src="s1top2.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>S1 Hardtop</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:s1top3.jpg" ><img src="s1top3.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>S1 Hardtop</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:s1top4.jpg" ><img src="s1top4.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Aftermarket S1 Hardtop in black gel coat</p>
                    </div>
                </div>
                </p>


<h3><span class="mw-headline" id="Elise_S2_Hardtop_.27Long_Tail.27">Elise S2 Hardtop &#39;Long Tail&#39;</span></h3>





<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:s2top1.jpg" ><img src="s2top1.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Long Tail Hardtop in black gel coat</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:s2top2.jpg" ><img src="s2top2.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Long Tail Soft top S2</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:tail1.JPG" ><img src="tail1.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Long Tail Rear Window Latch</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:tail2.JPG" ><img src="tail2.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Long Tail Rear Window Shroud</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:tail3.JPG" ><img src="tail3.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Long Tail Locking Mechanism</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:tail4.JPG" ><img src="tail4.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Long Tail Soft Top Latch</p>
                    </div>
                </div>
                </p>



<h3><span class="mw-headline" id="Elise_S2_Shortop_Retro_Fit">Elise S2 Shortop Retro Fit</span></h3>


<p>In March 2002, a &#39;hardtop&#39; composite roof panel was introduced as a production build option for the S2 Elise.
The roof panel fits between the windscreen header rail and the rear window shroud, which was revised to accommodate an external weatherstrip seal.
A new shorter soft top (without &#39;tails&#39;) is used in conjunction with the new shroud.
Note that the hardtop roof has been designed to provide a seasonal, rather than a single trip
option and requires the use of a hexagonal key (supplied) to fit and remove. 
There is no provision to stow the panel on board the vehicle. The simple lightweight design allows
customers to enjoy the benefits of enhanced aesthetics, refinement, security and weather integrity.
The new short soft top and associated rear window shroud were adopted on all cars as a running change during May 2002.
In order to fit a hardtop roof on an earlier ‘Mk.2’ Elise, a retrofit kit is available, comprising a painted hardtop roof panel, painted revised rear window
shroud, &#39;short&#39; soft top roof, door/roof rear weatherstrip seal, revised rear latch plates for the cantrails, latch plate mounting plinths (to be welded), associated fixings and handbook supplement.
Note that MIG welding equipment is required to fit the cant rail latch plate mounting plinths to the seat belt mounting frame (roll over hoop).
This operation should be entrusted to your dealer who has the necessary positioning jigs.</p>
<p>This &#39;Kit&#39; is supplyed with a new shorter soft top as well.</p>
<p>This Kit costs about £2,000</p>
<p>LOTUS PART NUMBER: A117B0496S </p>



<h3><span class="mw-headline" id="Elise_S2_Shortop_After_May_2002">Elise S2 Shortop After May 2002</span></h3>


<p>LOTUS PART NUMBER: A117B0437J </p>

<p>Many people feel the &#39;long tail&#39; roof looks nicer than the short top roof, however this is down to personal taste.</p>

<p>It is unknow if you can Retro fit a &#39;Long Tail&#39; roof to a short top?</p>

<p>Please note this Hardtop is not the same as the VX220 Roof.</p>

<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:shortop1.jpg" ><img src="shortop1.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>S2 short top </p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:shortop2.jpg" ><img src="shortop2.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>OEM short top, you can see the 'line' between the tail and the hardtop its self</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:shortop3.jpg" ><img src="shortop3.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Short soft top</p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:shortop4.jpg" ><img src="shortop4.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>The Type 25 hardtop came as standard</p>
                    </div>
                </div>
                </p>



<p>


</p>