<h3><span class="mw-headline" id="Services_compartments">Services compartments</span></h3>


<p>The front service compartments contain the Main <a href="http://wiki.seloc.org/a/Fusebox" title="Fusebox">Fusebox</a> and the brake reservoir.</p>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:brakeservice.JPG" title="Brake reservoir in the right hand side service compartment"><img src="brakeservice.JPG" alt="Brake reservoir in the right hand side service compartment" title="Brake reservoir in the right hand side service compartment" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Brake reservoir in the right hand side service compartment</div></div>
</div>



<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:RHservice.JPG" title="The Left service compartment"><img src="RHservice.JPG" alt="The Left service compartment" title="The Left service compartment" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">The Left service compartment</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:accesspannel.JPG" title="The Right service compartment"><img src="accesspannel.JPG" alt="The Right service compartment" title="The Right service compartment" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">The Right service compartment</div></div>
</div>


<p>


</p>