<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#S2">S2</a>
<ul>
<li class="toclevel-2"><a href="#How_to_remove">How to remove</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#How_to_refit">How to refit</a>
</li>
<li class="toclevel-1"><a href="#Exige_S2">Exige S2</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="S2">S2</span></h2>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:removingcover.JPG" title="Removing the Access Panels"><img src="removingcover.JPG" alt="Removing the Access Panels" title="Removing the Access Panels" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Removing the Access Panels</div></div>
</div>

<p>
Two removeable, body colour composite panels are provided in the front body to allow access to the <a href="http://wiki.seloc.org/a/Services_compartment" title="Services compartment">Services compartments</a>.</p>


<h3><span class="mw-headline" id="How_to_remove">How to remove</span></h3>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:coversensor.JPG" title="Removing the Access Panels"><img src="coversensor.JPG" alt="Removing the Access Panels" title="Removing the Access Panels" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Removing the Access Panels</div></div>
</div>

<p>
Use Caution with the removed pannels as they are light and can damage easily when removed from car.</p>
<p>Use the hexagonal key supplied in the <a href="http://wiki.seloc.org/a/Tool_roll" title="Tool roll">vehicle tool kit</a> (in the battery cover rear pocket), to release the single threaded fastener securing the outboard corner of the panel, and withdraw the panel from the two locating holes in the front body spine.</p>

<p><b>Dont forget that the front access panels are protected by a alarm sensor.</b></p>
<h2><span class="mw-headline" id="How_to_refit">How to refit</span></h2>
<p>Hook the extended lip on the front edge of the panel beneath the rear edge of the louvre panel before engaging the two locating pegs on the inboard side of the access panel with the grommeted holes in the front body spine. Fit the single screw at the outboard corner of the panel into the captive nut in the body, taking care not to cross-thread or overtighten the screw. Re-stow the hexagonal key in the tool kit. Note that the outboard fastener uses a mounting plinth adjustable in height to allow optimum panel alignment to be achieved.</p>
<p><b>WARNING: Ensure the access panels are refitted and properly secured before driving.</b></p>
<h2><span class="mw-headline" id="Exige_S2">Exige S2</span></h2>
<p>The access panels on the Exige model are shorter front to back than those of the Elise, and are retained by three socket head screws, the outermost of which features an adjustable plinth to allow panel height adjustment.</p>
<p>


</p>