
<h2><span class="mw-headline" id="WARNING_-_TURNING_THE_S2_REAR_ADJUSTER_IN_TOO_FAR_CAN_CRACK_THE_DOOR_SKIN.21.21.21">WARNING - TURNING THE S2 REAR ADJUSTER IN TOO FAR CAN CRACK THE DOOR SKIN!!!</span></h2>


<h3><span class="mw-headline" id="S1_Window_Adjustment">S1 Window Adjustment</span></h3>

<p><a class="image" href="http://wiki.seloc.org/a/image:s1windowadj.JPG" title="S1 Window"><img src="s1windowadj.JPG" alt="S1 Window" class="location-left" width="220" />
</a></p>
<h3><span class="mw-headline" id="S2_Window_Adjustment">S2 Window Adjustment</span></h3>

<p>The S2 windows can need adjusting now and then.</p>
<p>First of all ensure the softtop or hardtop is fitted correctly.</p>
<p>The following pictures and details are for a 2001 Elise - may be different for more recent or US models.</p>
<p><a class="image" href="http://wiki.seloc.org/a/image:Door_card.jpg" ><img src="Door_card.jpg" width="220" />
</a></p>
<p>In the picture above the red arrows indicate the adjusters for window tilt towards/away from the roof.  They adjust the bottom of the window runners inwards/outwards, thus causing the top of the window to adjust out/in from the roof.  These can be adjusted without removing the door card. Clockwise turns press the window tighter against the seal when up.</p>
<p>Important note: take great care not to over-tighten this screw as there are a number of examples of owners finding the screw has pushed through the door skin and caused cracking on the outside paintwork!
<br /><br /><br />
If you want to adjust the height of the window at the front/back of the window then the door card must be removed.  Undo the fasteners indicated by the green arrows in the above picture.  The lower mid and rear sections of the card are held on by velcro, and just pull away after the other fasteners are removed.  Replace the window winder, as you&#39;ll probably need to move the window up and down whilst adjusting.</p>
<p><a class="image" href="http://wiki.seloc.org/a/image:Door_Inner.jpg" ><img src="Door_Inner.jpg" width="220" />
</a></p>
<p>In the picture above the blue arrows indicate the adjusters for window height and tilt.  Loosen them both a little with an 8mm socket, and move them up and down to adjust height and tilt of the window.</p>
<p>There is apparently an adjuster at the position marked by the orange arrow to move the window forwards/backwards, but I am unable to locate it on my car.  Perhaps the upper trim needs to be removed.</p>


<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:door.JPG" title="Inside of a 06&#39; Elise door"><img src="door.JPG" alt="Inside of a 06&#39; Elise door" title="Inside of a 06&#39; Elise door" class="type-thumb" width="220" />
</a>
<div class="thumbcaption">Inside of a 06&#39; Elise door</div></div>
</div>



<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:0011.JPG" title="Electric window bumpstop"><img src="0011.JPG" alt="Electric window bumpstop" title="Electric window bumpstop" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Electric window bumpstop</div></div>
</div>

<p>Cars with electric windows are a little different. Glass height is determined by the position of an adjustable stop which is accessible behind the plastic membrane at the top of the access aperture.
To adjust the stop, use a 10 mm spanner to release the lock nut. This is best done with the window fully up as the stop will be held tight by the window mechanism.
Once the lock nut is released, wind the window down a little and using fingers, screw the stop in or out as required. Once correctly adjusted, nip up the lock nut.</p>
<p>


</p>