
<p><b>S1</b></p>
<p>Squirt the unions of the fuel pump with penatrating oil every day for a week before starting to remove the filter - particularly the lower (inlet) union.</p>
<p>1. Jack the left side of the car up quite high and remove the rear wheel. Remove the arch lining.</p>

<p>2. You will now have the whole filter assembly in front of you with plenty of space for tools and any problems. The fuel in the tank will also have gone to the other end of the tank. </p>

<p>3. Leave the ignition off for a few hours so most of the residual fuel pressure reduces. Squirt both inlet and outlet (upper) with penetrating oil. </p>

<p>4. Have a small container ready and some rags, then remove the lower connector and pop the loose fuel line into the container, a small amount of fuel will leak out of the filter as well.</p>
<p>Often the lower connection is corroded and is very difficult to undo. Sadly the original supply line is only available with a new pump!</p>
<p>Assuming you managed to undo the lower connector then make sure you put a smear of copper grease over the thnreads of the union so you stand a chance of undoing it next time.
Take care not to get copper grease over the opening of the union as this will just start to clog up your filter prematurely (not a major problem but why waste the new filter by clogging it up?).</p>

<p>5. Remove the top connector and push the filter up and out of the holder.</p>

<p>6. Clean up any mess and fit the new filter, lower the car a little so the fuel is back over the pump and turn the ignition on for 5 seconds then wait 10 seconds, repeat.</p>

<p>7. Start the engine and check for leaks, if all is OK refit arch and wheel.</p>

<p>Check for leaks for a few days afterwards.</p>

<p>

</p>