
<p>Replacing headlights is quite easy to do.</p>
<p>First mark out a stop line in front of a flat wall.  Switch on the lights and mark the pattern on the wall.  Each light should turn up on the left hand side (for a UK car), mark this &#39;corner&#39; so that you can position the light and the correct level and pointing correctly left/right.</p>
<p>I jacked each side up and did each headlight separately, it would be quicker to raise the front and take both wheels off.</p>
<p>Remove the rubber grommits holding the front of the wheel arch.
Pin back the wheel arch to give you room to work  (a 2 foot stick is ideal).  Note there is no need to remove the fuse boxes/ tyre weld bolted too them.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:WheelArchHoldBack.jpg" ><img src="WheelArchHoldBack.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>


<p>Unplug the electrics from the back of the headlight and remove the bulb and sidelight tail.
The headlight is in a metal surround.  The surround is attached to the car by three bolts and three spring loaded plastic wingnuts.  The bottom one will probably be rusted so spray with WD40 to free things up.
Carefully remove the wingnuts taking care to ensure you make sure the spring doesn&#39;t disappear.</p>
<p>There should be 3 bolts around the headlight.  Elise Parts sell wingnuts, and a piece to replace these if they are falling off <a class="external text" href="http://www.eliseparts.com/shop/index.php?main_page=product_info&#38;cPath=161&#38;products_id=356" rel="nofollow">Clam headlight bracket</a></p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:ClamHeadlightBolts.jpg" ><img src="ClamHeadlightBolts.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>


<p>Take a picture of each light so that you can put them back in at the same angle as the old ones.  The patterns on the headlight glass should not be &#39;vertical&#39;.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:PassengerNearSide.jpg" ><img src="PassengerNearSide.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:DriversOffSide.jpg" ><img src="DriversOffSide.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>

<p>The headlight is attached to the metal surround by 3 small screws, again these may be rusted.</p>
<p>Remove the headlight.</p>
<p>I then painted the headlight surround with hammerrite to cover the rust and hopefully make them last a few more years</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:PaintedSurround.jpg" ><img src="PaintedSurround.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>


<p>Replace the headlight taking care to put it back at the same angle.  Put it back onto the claim with springs and loosely tighten the wingnuts. Reattach the wiring</p>
<p>Replace wheels, and put the car back in the same position and then adjust the wingnuts round the headlight to match it up with the orginal markings.</p>
<p>I took the car along to my local garage to check on their light alignment tool, but nothing needed adjusting.</p>

<h2><span class="mw-headline" id="Part_Numbers">Part Numbers</span></h2>

<table border="1" cellpadding="1" cellspacing="0" width="500">

  
<tr>

    
<td width="100"><b>Driven side</b></td>
    
<td width="100"><b>Light Side</b></td>
    
<td width="150"><b>Manufacturer</b></td>
    
<td width="150"><b>Part Number</b></td>
  
</tr>
  
<tr>

    
<td width="100">RHD</td>
    
<td width="100">Left</td>
    
<td width="150">Valeo</td>
    
<td width="150">460118</td>
  
</tr>

</table>



<p>


</p>