<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<ul>
<li class="toclevel-1"><a href="#Fibreglass_repair">Fibreglass repair</a>
</li>
<li class="toclevel-1"><a href="#Gel_coat">Gel coat</a>
</li>
<li class="toclevel-1"><a href="#Safety">Safety</a>
</li>
<li class="toclevel-1"><a href="#Repair_thickness">Repair thickness</a>
</li>
<li class="toclevel-1"><a href="#Surface_preparation">Surface preparation</a>
</li>
<li class="toclevel-1"><a href="#Finishing">Finishing</a>
</li>
<li class="toclevel-1"><a href="#A_walk_through_of_a_repair">A walk through of a repair</a>
</li>
<li class="toclevel-1"><a href="#See_Also">See Also</a>
</li>
</ul>
</ul>
</ul></td></tr></table><hr/>
<h3><span class="mw-headline" id="Fibreglass_repair">Fibreglass repair</span></h3>


<p>Elise and Exige clams are made of glass fibre and polyester resin. Lotus have used two methods, in the S1 and S2 Exige the glass fibre is hand laid and in the S2 Elise they have employed a system that injects polyester resin and glass fibre into a mould and the sections are then assembled at Hethel. The hand laid clams are slightly thicker, heavier but stronger than the clams the use the injected method.</p>
<h3><span class="mw-headline" id="Gel_coat">Gel coat</span></h3>


<p>XXX unsure on repair implication</p>


<h3><span class="mw-headline" id="Safety">Safety</span></h3>

<p>When working with glass fibre it is best to use a dust mask and eye protection, whilst preparing the area for repair and working with the material (due to the possible long term health effects of fibre inhalation).</p>
<p>The glass fibres and resins come together to form a strong, light composite material.</p>


<p><b>Glass fibre</b></p>
<p>comes in several forms which are used for different purposes:</p>
<p>Tissue</p>
<p>Chopped strand matting </p>
<p>Woven</p>
<p><b>Resins</b></p>
<p>several resin bases are used</p>
<p>polyesters </p>
<p>epoxy 
higher toughness than polyester </p>

<p>additional reinforcement</p>
<p>aluminium mesh</p>
<h3><span class="mw-headline" id="Repair_thickness">Repair thickness</span></h3>



<p><b>Masking off the undamaged area</b></p>
<p>mask off using plastic bin bags secured to the body with masking tape. Mask off an area much larger than you think, resin is very messy and if it gets on the paint it will cause damage.</p>


<h3><span class="mw-headline" id="Surface_preparation">Surface preparation</span></h3>

<p>The first step it to try and maximise the access to the site you are attempting to repair. Some repairs can only be performed with the clam removed. </p>
<p><a href="http://wiki.seloc.org/a/Remove_S2_front_clamshell" title="Remove S2 front clamshell">Remove S2 front clamshell</a></p>
<p>The area that has been damaged may extend further than the surface damage would suggest. The area around the damage needs to be removed. The fastest way is to use an electric grinding tool such as a dremmel so carefully file back the broken fibre glass. A shallow wedged edge should be created around the damage to give a larger surface for the repair to bond to.</p>
<p>chemicals 
acetone</p>


<p>Working in confined areas such inside the boot can be awkward. One method to make life easier is to prepare the fibreglass and resin on top of a sandwich bag on a flat surface and then use it like a glove to transfer apply the fibreglass and then to smooth it into position.</p>
<h3><span class="mw-headline" id="Finishing">Finishing</span></h3>




<h3><span class="mw-headline" id="A_walk_through_of_a_repair">A walk through of a repair</span></h3>


<p>The First step is being able to get behind the damaged area (if possible).</p>

<p>Then Drill out the end of each crack to stop it propagating 
(It is still debated if this needs to be done or not)
<b>Please Add Info</b></p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:drillholes.jpg" title="Click me to view larger"><img src="drillholes.jpg" alt="Click me to view larger" title="Click me to view larger" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click me to view larger</div></div>
</div>


<p>Then use a dremmel to remove all the badly damaged and &#39;powdered&#39; fibreglass, and to &#39;V&#39; out the track of each crack from the outside.</p>


<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:dremmelcracks.jpg" title="Click me to view larger"><img src="dremmelcracks.jpg" alt="Click me to view larger" title="Click me to view larger" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click me to view larger</div></div>
</div>



<p>Then with the dremmel again (or with a grinder) rub down a few inches around the inside of the cracks.</p>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:sanddown.jpg" title="Click me to view larger"><img src="sanddown.jpg" alt="Click me to view larger" title="Click me to view larger" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click me to view larger</div></div>
</div>



<p>Now use your polyester resin and chopped strand mat and repair on the inside. Build up a few layers of mat and resin.  This is the strength of the repair.</p>
<p>For any areas of significant fibreglass loss (such as the front &#34;chin&#34; spoilers and some jacking damage to my nearside sill) it may be worth strengthening the repair with strips of aluminium +/- aluminium mesh, worked in between layers of matting.  These strips of aluminium (about 1&#34; wide) should be bent to shape, and then screwed into place (clamping wet matting before it sets) using countersunk screws in from the outside of the clam.  The screw heads can then be completely covered with resin from the outside, leaving them invisible once filled and painted.</p>


<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:resin.jpg" title="This was about 3 layers in total"><img src="resin.jpg" alt="This was about 3 layers in total" title="This was about 3 layers in total" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">This was about 3 layers in total</div></div>
</div>


<p>Then with the inside repair done start on the outside.
Building up layers of CSM matting wherever possible, and fibreglass tissue everywhere else, get a couple of layers into all the &#39;V&#39; shaped channels you dremmeled earlier.</p>
<p>Now comes a lot of sanding to bring it all down so there were no bits of resin left proud.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:sanddown2.jpg" title="Click me to view larger"><img src="sanddown2.jpg" alt="Click me to view larger" title="Click me to view larger" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Click me to view larger</div></div>
</div>



<p>Leave the final filling with putty and sanding to the body shop</p>
<h3><span class="mw-headline" id="See_Also">See Also</span></h3>


<p><a class="external free" href="http://forums.seloc.org/t/114868" rel="nofollow">http://forums.seloc.org/t/114868</a></p>
<p><a class="external free" href="http://forums.seloc.org/t/102885" rel="nofollow">http://forums.seloc.org/t/102885</a></p>
<p><a class="external free" href="http://forums.seloc.org/t/32837" rel="nofollow">http://forums.seloc.org/t/32837</a></p>
<p><a class="external free" href="http://forums.seloc.org/t/89620" rel="nofollow">http://forums.seloc.org/t/89620</a></p>
