
<p>For S1 see <a href="http://wiki.seloc.org/a/Heater_Matrix" title="Heater Matrix">Heater_Matrix</a>  The S2 Elise and Exige have two types of heater controls, manual or electrical.  Cars after 2002?? have electrical.</p>
<p>The manual controls are prone to ceasure and the electrical controls prone to water ingress and failure.</p>


<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Electrical_controls">Electrical controls</a>
<ul>
<li class="toclevel-2"><a href="#Fan.2FBlower">Fan/Blower</a>
</li>
<li class="toclevel-2"><a href="#Flap_distribution_control">Flap distribution control</a>
</li>
<li class="toclevel-2"><a href="#Heater_temperature_control">Heater temperature control</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#DIY_air_filter">DIY air filter</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Electrical_controls">Electrical controls</span></h2>
<p>There are three elements to the heating in the Elise S2 with electrical controls.  </p>
<h3><span class="mw-headline" id="Fan.2FBlower">Fan/Blower</span></h3>
<p>By far the most common failure relating to the heating is corrosion of the resistor pack.  Single, multiple or all fan speeds are lost.  A guide exists to change the <a href="http://wiki.seloc.org/a/Resistor_pack" title="Resistor pack">resistor pack</a> yourself.</p>
<h3><span class="mw-headline" id="Flap_distribution_control">Flap distribution control</span></h3>
<p>TBD??</p>
<h3><span class="mw-headline" id="Heater_temperature_control">Heater temperature control</span></h3>
<p>For heater temperature control failure try the following fixes, which increase in complexity:
</p>
<ol>
<li>Remove air pipe and lube flap (See below)</li>
<li>Replace actuator through service panel (Only for small handed people!)</li>
<li><a href="http://wiki.seloc.org/a/Heater_Actuator_Replacement" title="Heater Actuator Replacement">Heater Actuator Replacement</a> after removing heater unit.</li>
</ol>

<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:heater1.JPG" ><img src="heater1.JPG" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p>Remove the</p>
                    </div>
                </div>
                </p>
<h2><span class="mw-headline" id="DIY_air_filter">DIY air filter</span></h2>
<p>Modification to prevent grit from being sprayed onto the dash.  You will need:
</p>
<ul>
<li>1 used stocking. 10 denier is best for optimum fan performance. Higher deniers can reduce air flow too much. Lace top optional.</li>
<li>Difficulty: Very, Very easy.</li>
</ul>

<p>Directions:
</p>
<ol>
<li>Open the front service compartment</li>
<li>Remove one end of the air hose</li>
<li>Stretch stocking over air hose</li>
<li>Refit air hose.</li>
</ol>

<p>Remember to replace or adjust the stocking annually, or when you notice a drop in airflow.</p>

<p>


</p>