
<p>The Courtesy light switches on the S1 (and probably the S2) are situated in the door jam.</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:courtesy_light_switch.jpg" ><img src="courtesy_light_switch.jpg" width="220" />
</a></p>
<p>The drivers side switch operates the internal Courtesy light, however the passenger side switch
does not. Either switch may trigger the alarm if it is armed.</p>
<p>The switch contacts and the Lucar connectors on the back of them are made of copper and tend to corrode
to the extent that they become unreliable.</p>
<p>The switches used on the Elise are unusal as they have two connections, most cars use the chassis as an earth
and so have only a single connection, the Elise having fiberglass bodywork needs two.</p>
<p>So far the only supplier found is Louts, happily they are not expensive.</p>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<td>A111M6035F </td>
<td>Door-Switch</td>
<td>£4.02 (Sept 08)</td></tr></table></div>


<p>Take care when changing the switches not to allow the cables that attach to the back of them to
drop into the sill as there is no access to this part of the car and they will be almost impossible to recover.</p>
<p>As a protection against further corrision the switch contacts and lucar spade connectors can be smeared with a little silicon grease.</p>
<p>

</p>