
<p>The hinge is attached to the door beam and to the chassis</p>
<p><a class="image" href="http://wiki.seloc.org/a/File:Door_Hinge_1.JPG" ><img src="Door_Hinge_1.JPG" width="400" />
</a></p>
<p>If your door is dropping and lifting onto the door pin when you close, its more than likely that the plastic bearing is worn. There is a steel top hat (rotor) bush which sits inside a very thin plastic top hat bearing. It is the plastic part that wears and it is more likely on the drivers door as its obviously used more often. </p>
<p><a class="image" href="http://wiki.seloc.org/a/File:Door_Hinge_2.JPG" ><img src="Door_Hinge_2.JPG" width="400" />
</a></p>
<p>You can test if the hinge is worn by opening the door and trying to lift the door at the handle end and see what up/down movement there is. Try this with the door wide open and with it nearly closed. On mine there was lot more movement at one position than the other (can&#39;t remember which though). Compare any movement with the passenger side which gets a lot less wear and should be &#34;as new&#34; with little movement at the hinge</p> 
<p>Each hinge has 2 rotor bushes and 2 plastic bearings. Each is held in place by a Cap Headed (allen) Bolt from the top and from the bottom. The bearing and rotor are a couple of £ from Lotus. It is a clam off job to fit them (someone had previously said that they can fitted in situ but I couldn&#39;t see how an allen key/socket would fit in the space. Perhaps you can do it by loosening the front clam sill mount bolts and pulling the side of the clam out)</p>
<p>These are the parts from Lotus. </p>
<p><a class="image" href="http://wiki.seloc.org/a/File:Door_Hinge_3.JPG" ><img src="Door_Hinge_3.JPG" width="400" />
</a></p>
<p>The part numbers are </p>
<p>Plastic Bearing, Door Hinge, Part No A111U6025F<br />
Bush, Door Hinge, Part No A111U0057F</p>
<p>(Although I changed both Plastic Bearing and Rotor Bush,you could probably get away with only swapping the plastic bearing as this is the part that takes all the door load). </p> 

<p>This is a photo of my old hinge mechanism (notice the wear on the aluminium by the door spring plate on a 40K mile car !!! (Shiney bit in centre). 2-3mm is worn off . And the gunk on the bottom of the hinge is the powdered remains)</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:wornhinge.jpg" ><img src="wornhinge.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>

<p>New bearings and bushes took minutes to fit. Keep the door closed and remove/replace top and bottom bushes one at a time and the door will not move. </p>
<p>Fix the hinge bearing/bush then adjust the door to the correct closing height using the 4 bolts attaching the hinge to the chassis (you can see the slotted holes in the 1st diagram above that are there to allow this). My door shuts with a nice solid click now.</p>
<p>


</p>