
<p>You will need to purchase the escutcheons and spacers from Lotus.</p>
<p>To start you will need to protect the roll bar with masking tape. Using the two inverted semi circle escutcheons on the windscreen frame as a guide place masking tape on the roll bar cover in the corresponding positions. Cover the roll bar cover from the weather seal right down to the lower edge. This is more than you need but it gives you some room to write down some measurements. Make sure that you tuck the tape in under the lip of the rubber seal as you need to know precisely where the seal sits in relation to the actual roll bar.</p>

<p>With the roll bar protected with masking tape measure in from the inner most top corner of each cant rail locating bracket. The measurement is 230mm give or take. Mark a line vertically down at 230mm in from each cant rail on the masking tape. Place the outer edge of the spacer against the marked line. Whilst holding the spacer against the marked line mark the inner edge of the spacers. The spacers should be, give or take, 400mm apart (centre to centre). Each spacer should be roughly in line with the front roof rail sockets on the windscreen frame. The measurements are not critical as they tend to vary from car to car on the S2 Elise.</p>
<p>Once you have checked, rechecked and checked again mark the top edge of the spacer. It should sit 6mm below the edge of the rubber seal on the roll bar cover. Once you are satisfied with its position mark the &#34;half moon&#34; inner shape of the spacer on the masking tape. Dont forget it has to be inverted.</p>
<p>Check your measurements again.</p>
<p>Once you are satisfied that the spacer is in the right position you have to drill your first hole. You are better off using a slow start cordless drill or a dremel. Start with small drill bits and carefully drill out the half moon. Keep in from the line.You can always make the hole larger, you might struggle to make it smaller !</p>
<p>With a series of holes drilled use a slightly larger drill bit to open the holes out until the rough shape is achieved.</p>
<p>Work slowly and shape the hole until the escutcheon pushes in with a slight interference fit.</p>
<p>Be extremely careful opening out the hole as there is a drainage channel immediatley behind where you are working. You don&#39;t want to breach that.</p>
<p>Its best also to open the hole with your dremmel parallel to the ground as the edges of the hole need to be slightly bevelled. Look at the escutcheon and its obvious why.</p>
<p>Working slowly will also prevent damage to the gel coat and paint.</p>
<p>Once the escutcheon fits remove the tape and use glue or silicone sealant to fix the spacer and escutcheon into place. Using the roof bars will help to hold them in whilst the glue sets.</p>
<p>The position of the holes is not critical. What I mean by this is that before committing and cutting the holes I measured 3 or 4 other S2&#39;s. The measurements between all cars varied by 1mm or so. Basically they should be in line with the front holes and at a height that allow the top edge of the roof spar to sit at roughly the same height as the top of the roll bar cover.</p>
<p>It is a straight forward job if you have the balls to take a drill bit to your rear clam.</p>
<p>I will post some pictures in due course</p>

<p>
</p>