<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1"><a href="#Introduction">Introduction</a>
</li>
<li class="toclevel-1"><a href="#Solid_Colours">Solid Colours</a>
</li>
<li class="toclevel-1"><a href="#Metallic_Colours">Metallic Colours</a>
</li>
<li class="toclevel-1"><a href="#Lifestyle_Colours">Lifestyle Colours</a>
</li>
<li class="toclevel-1"><a href="#Premium_Colours">Premium Colours</a>
</li>
<li class="toclevel-1"><a href="#References">References</a>
</li>
</ul></td></tr></table><hr/>
<h1><span class="mw-headline" id="Introduction">Introduction</span></h1>

<p>Paint colours for the Evora are grouped in to four catagories.<br /></p>
<p>Solid paint colours are included in the base price of the car.<br />
Metallic paint colours are priced at £570.<br />
Lifestyle paint colours are priced at £1,100<br />
Premium paint colours are priced at £2,100<br /></p>
<p>For the latest colours for the Lotus range please see the <a href="http://wiki.seloc.org/a/Paint_Colours_-_2012" title="Paint Colours - 2012">Paint Colours - 2012</a> page.</p>
<h1><span class="mw-headline" id="Solid_Colours">Solid Colours</span></h1>


<div style="page-break-inside: avoid;">
<table border="1" width="700">
<tr align="center">
<th>Image </th>
<th>Paint Colour </th>
<th>Paint Code </th>
<th>Price</th></tr>
<tr align="center">
<td><a class="image" href="http://wiki.seloc.org/a/image:Evora_-_Ardent_Red_(Solid).jpg" ><img src="Evora_-_Ardent_Red_(Solid).jpg" width="200" />
</a> </td>
<td>Ardent Red </td>
<td>B94 </td>
<td>Included</td></tr>
<tr align="center">
<td><a class="image" href="http://wiki.seloc.org/a/image:Evora_-_British_Racing_Green_(Solid).jpg" ><img src="Evora_-_British_Racing_Green_(Solid).jpg" width="200" />
</a> </td>
<td>British Racing Green </td>
<td>B04 </td>
<td>Included</td></tr></table></div>

<h1><span class="mw-headline" id="Metallic_Colours">Metallic Colours</span></h1>


<div style="page-break-inside: avoid;">
<table border="1" width="700">
<tr align="center">
<th>Image </th>
<th>Paint Colour </th>
<th>Paint Code </th>
<th>Price</th></tr>
<tr align="center">
<td><a class="image" href="http://wiki.seloc.org/a/image:Evora_-_Arctic_Silver_(Metallic).jpg" ><img src="Evora_-_Arctic_Silver_(Metallic).jpg" width="200" />
</a> </td>
<td>Arctic Silver </td>
<td>B130 </td>
<td>£570</td></tr>
<tr align="center">
<td><a class="image" href="http://wiki.seloc.org/a/image:Evora_-_Canyon_Red_(Metallic).jpg" ><img src="Evora_-_Canyon_Red_(Metallic).jpg" width="200" />
</a> </td>
<td>Canyon Red </td>
<td>B117 </td>
<td>£570</td></tr>
<tr align="center">
<td><a class="image" href="http://wiki.seloc.org/a/image:Evora_-_Liquid_Blue_(Metallic).jpg" ><img src="Evora_-_Liquid_Blue_(Metallic).jpg" width="200" />
</a> </td>
<td>Liquid Blue </td>
<td>B133 </td>
<td>£570</td></tr>
<tr align="center">
<td><a class="image" href="http://wiki.seloc.org/a/image:Evora_-_Persian_Blue_(Metallic).jpg" ><img src="Evora_-_Persian_Blue_(Metallic).jpg" width="200" />
</a> </td>
<td>Persian Blue </td>
<td>B131 </td>
<td>£570</td></tr>
<tr align="center">
<td><a class="image" href="http://wiki.seloc.org/a/image:Evora_-_Solar_Yellow_(Metallic).jpg" ><img src="Evora_-_Solar_Yellow_(Metallic).jpg" width="200" />
</a> </td>
<td>Solar Yellow </td>
<td>B114 </td>
<td>£570</td></tr>
<tr align="center">
<td><a class="image" href="http://wiki.seloc.org/a/image:Evora_-_Starlight_Black_(Metallic).jpg" ><img src="Evora_-_Starlight_Black_(Metallic).jpg" width="200" />
</a> </td>
<td>Starlight Black </td>
<td>B93 </td>
<td>£570</td></tr>
<tr align="center">
<td><a class="image" href="http://wiki.seloc.org/a/image:Evora_-_Storm_Titanium_(Metallic).jpg" ><img src="Evora_-_Storm_Titanium_(Metallic).jpg" width="200" />
</a> </td>
<td>Storm Titanium </td>
<td>B98 </td>
<td>£570</td></tr></table></div>

<h1><span class="mw-headline" id="Lifestyle_Colours">Lifestyle Colours</span></h1>


<div style="page-break-inside: avoid;">
<table border="1" width="700">
<tr align="center">
<th>Image </th>
<th>Paint Colour </th>
<th>Paint Code </th>
<th>Price</th></tr>
<tr align="center">
<td><a class="image" href="http://wiki.seloc.org/a/image:Evora_-_Aquamarine_Blue_(Lifestyle).jpg" ><img src="Evora_-_Aquamarine_Blue_(Lifestyle).jpg" width="200" />
</a> </td>
<td>Aquamarine Blue </td>
<td>B113 </td>
<td>£1,100</td></tr>
<tr align="center">
<td><a class="image" href="http://wiki.seloc.org/a/image:Evora_-_Aspen_White_(Lifestyle).jpg" ><img src="Evora_-_Aspen_White_(Lifestyle).jpg" width="200" />
</a> </td>
<td>Aspen White </td>
<td>B138 </td>
<td>£1,100</td></tr>
<tr align="center">
<td><a class="image" href="http://wiki.seloc.org/a/image:Evora_-_Carbon_Grey_(Lifestyle).jpg" ><img src="Evora_-_Carbon_Grey_(Lifestyle).jpg" width="200" />
</a> </td>
<td>Carbon Grey </td>
<td>B137 </td>
<td>£1,100</td></tr>
<tr align="center">
<td><a class="image" href="http://wiki.seloc.org/a/image:Evora_-_Chrome_Orange_(Lifestyle).jpg" ><img src="Evora_-_Chrome_Orange_(Lifestyle).jpg" width="200" />
</a> </td>
<td>Chrome Orange </td>
<td>B25 </td>
<td>£1,100</td></tr>
<tr align="center">
<td><a class="image" href="http://wiki.seloc.org/a/image:Evora_-_Graphite_Grey_(Lifestyle).jpg" ><img src="Evora_-_Graphite_Grey_(Lifestyle).jpg" width="200" />
</a> </td>
<td>Graphite Grey </td>
<td>B122 </td>
<td>£1,100</td></tr>
<tr align="center">
<td><a class="image" href="http://wiki.seloc.org/a/image:Evora_-_Isotope_Green_(Lifestyle).jpg" ><img src="Evora_-_Isotope_Green_(Lifestyle).jpg" width="200" />
</a> </td>
<td>Isotope Green </td>
<td>B132 </td>
<td>£1,100</td></tr>
<tr align="center">
<td><a class="image" href="http://wiki.seloc.org/a/image:Evora_-_Laser_Blue_(Lifestyle).jpg" ><img src="Evora_-_Laser_Blue_(Lifestyle).jpg" width="200" />
</a> </td>
<td>Laser Blue </td>
<td>B120 </td>
<td>£1,100</td></tr>
<tr align="center">
<td><a class="image" href="http://wiki.seloc.org/a/image:Evora_-_Phantom_Black_(Lifestyle).jpg" ><img src="Evora_-_Phantom_Black_(Lifestyle).jpg" width="200" />
</a> </td>
<td>Phantom Black </td>
<td>B123 </td>
<td>£1,100</td></tr>
<tr align="center">
<td><a class="image" href="http://wiki.seloc.org/a/image:Evora_-_Quartz_Silver_(Lifestyle).jpg" ><img src="Evora_-_Quartz_Silver_(Lifestyle).jpg" width="200" />
</a> </td>
<td>Quartz Silver </td>
<td>B139 </td>
<td>£1,100</td></tr></table></div>

<h1><span class="mw-headline" id="Premium_Colours">Premium Colours</span></h1>


<div style="page-break-inside: avoid;">
<table border="1" width="700">
<tr align="center">
<th>Image </th>
<th>Paint Colour </th>
<th>Paint Code </th>
<th>Price</th></tr>
<tr align="center">
<td><a class="image" href="http://wiki.seloc.org/a/image:Evora_-_Burnt_Orange_(Premium).jpg" ><img src="Evora_-_Burnt_Orange_(Premium).jpg" width="200" />
</a> </td>
<td>Burnt Orange </td>
<td>B135 </td>
<td>£2,100</td></tr>
<tr align="center">
<td><a class="image" href="http://wiki.seloc.org/a/image:Evora_-_Ice_White_(Premium).jpg" ><img src="Evora_-_Ice_White_(Premium).jpg" width="200" />
</a> </td>
<td>Ice White </td>
<td>B129 </td>
<td>£2,100</td></tr></table></div>

<h1><span class="mw-headline" id="References">References</span></h1>
<p><a class="external text" href="http://www.lotuscars.com/en/configurator" rel="nofollow">Lotus Cars - Car Configurator</a></p>
<p>
</p>