
<div style="page-break-inside: avoid;">
<table cellpadding="0" cellspacing="0" style="clear: right; margin-bottom: .5em; float: right; padding: .5em 0 .8em 1.4em; background: none; width: auto;">
<tr>
<td><table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Evora_Customisations">Evora Customisations</a>
<ul>
<li class="toclevel-2"><a href="#Bodykit">Bodykit</a>
<ul>
<li class="toclevel-3"><a href="#Front_Bumper">Front Bumper</a>
</li>
<li class="toclevel-3"><a href="#Side_skirt_.26_extended_side_panel">Side skirt &#38; extended side panel</a>
</li>
<li class="toclevel-3"><a href="#Rear_bumper">Rear bumper</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Exterior_options">Exterior options</a>
<ul>
<li class="toclevel-3"><a href="#Diffuser">Diffuser</a>
</li>
<li class="toclevel-3"><a href="#Diffuser_holder">Diffuser holder</a>
</li>
<li class="toclevel-3"><a href="#Diffuser_surround">Diffuser surround</a>
</li>
<li class="toclevel-3"><a href="#Rear_performance_wing">Rear performance wing</a>
</li>
<li class="toclevel-3"><a href="#Air_intake_cover">Air intake cover</a>
</li>
<li class="toclevel-3"><a href="#Air_outtake_-_engine_bonnet">Air outtake - engine bonnet</a>
</li>
<li class="toclevel-3"><a href="#Engine_louvers">Engine louvers</a>
</li>
<li class="toclevel-3"><a href="#Engine_cover">Engine cover</a>
</li>
<li class="toclevel-3"><a href="#Mirror_covers">Mirror covers</a>
</li>
<li class="toclevel-3"><a href="#A-Pillar_cover">A-Pillar cover</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#Interior">Interior</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#References">References</a>
</li>
</ul>
</ul></td></tr></table><hr/>
</td></tr></table></div>




<p>The collaboration between Lotus and Mansory - first hinted at in March 2011 at the Geneva Motor Show with the <a href="http://wiki.seloc.org/a/Models_-_Evora#Evora_by_Mansory" title="Models - Evora">Evora by Mansory</a> and later strengthened as Lotus Bespoke was formed in partnership with Mansory <sup id="_ref-1" class="reference"><a href="#_note-1" title="">[1]</a></sup> was one which split opinions in the car owning community due to the companies reputation for garish and over-the-top show cars.</p>

<div style="page-break-inside: avoid;">
<table class="wikitable" style="margin: 1em auto 1em auto;">
<tr>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Mansory_Evora_Concept_Front.jpg" title="Lotus Mansory Evora Concept Front"><img src="Mansory_Evora_Concept_Front.jpg" alt="Lotus Mansory Evora Concept Front" title="Lotus Mansory Evora Concept Front" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Lotus Mansory Evora Concept Front</div></div>
</div>
 </td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Mansory_Evora_Concept_Rear.jpg" title="Lotus Mansory Evora Concept Rear"><img src="Mansory_Evora_Concept_Rear.jpg" alt="Lotus Mansory Evora Concept Rear" title="Lotus Mansory Evora Concept Rear" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Lotus Mansory Evora Concept Rear</div></div>
</div>
</td></tr></table></div>

<p>The companies work with Lotus has produced rather more subtle enhancements to the looks of the Evora, with the company involved in the <a href="http://wiki.seloc.org/a/Models_-_Evora#Evora_by_Mansory" title="Models - Evora">Evora by Mansory</a>, <a href="http://wiki.seloc.org/a/Models_-_Evora#Evora_GTE_Road_Concept" title="Models - Evora">Evora GTE Road Concept</a> and the final look for the <a href="http://wiki.seloc.org/a/Models_-_Evora#Evora_GTE" title="Models - Evora">Evora GTE</a>.</p>
<h2><span class="mw-headline" id="Evora_Customisations">Evora Customisations</span></h2>

<p>The Evora customisation programme for the Lotus Evora currently consists of parts originally shown on the <a href="http://wiki.seloc.org/a/Models_-_Evora#Evora_by_Mansory" title="Models - Evora">Evora by Mansory</a></p>
<h3><span class="mw-headline" id="Bodykit">Bodykit</span></h3>

<p>The main Mansory bodykit for the Evora consists of four parts - a replacement front bumper, A-panel and side skirts, and rear bumper.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Mansory_Evora_-_Bodykit_-_Overall.jpg" ><img src="Mansory_Evora_-_Bodykit_-_Overall.jpg" class="location-center type-thumb" width="400" />
</a></div>
</div>

<h4><span class="mw-headline" id="Front_Bumper">Front Bumper</span></h4>

<p><a class="image" href="http://wiki.seloc.org/a/image:Mansory_Evora_-_Bodykit_-_Front_Bumper.jpg" ><img src="Mansory_Evora_-_Bodykit_-_Front_Bumper.jpg" class="location-center" width="220" />
</a></p>
<p><b>Part Number:</b> EVO 102 022</p>
<p>Primed carbon fibre, including air intakes and front lip visible carbon fibre, metal grills.</p>
<h4><span class="mw-headline" id="Side_skirt_.26_extended_side_panel">Side skirt &#38; extended side panel</span></h4>


<div style="page-break-inside: avoid;">
<table class="wikitable" style="margin: 1em auto 1em auto;">
<tr>
<td><a class="image" href="http://wiki.seloc.org/a/image:Mansory_Evora_-_Bodykit_-_Side_Panel.jpg" ><img src="Mansory_Evora_-_Bodykit_-_Side_Panel.jpg" class="location-center" width="220" />
</a> </td>
<td><a class="image" href="http://wiki.seloc.org/a/image:Mansory_Evora_-_Bodykit_-_Side_Skirt.jpg" ><img src="Mansory_Evora_-_Bodykit_-_Side_Skirt.jpg" class="location-center" width="220" />
</a></td></tr></table></div>

<p><b>Part Number:</b> EVO 595 002</p>
<p>Set - left &#38; right, side panels primed carbon fibre, side skirts visible carbon fibre.</p>
<p>Similar parts available in the <a href="http://wiki.seloc.org/a/Evora_GTN_Packages" title="Evora GTN Packages">Evora GTN Packages</a>.</p>
<h4><span class="mw-headline" id="Rear_bumper">Rear bumper</span></h4>

<p><a class="image" href="http://wiki.seloc.org/a/image:Mansory_Evora_-_Bodykit_-_Rear_bumper.jpg" ><img src="Mansory_Evora_-_Bodykit_-_Rear_bumper.jpg" class="location-center" width="220" />
</a></p>
<p><b>Part Number:</b> EVO 102 022</p>
<p>Primed carbon fibre</p>
<h3><span class="mw-headline" id="Exterior_options">Exterior options</span></h3>


<div style="page-break-inside: avoid;">
<table class="wikitable" style="margin: 1em auto 1em auto;">
<tr>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Mansory_Evora_-_Exterior_options_-_Front.jpg" ><img src="Mansory_Evora_-_Exterior_options_-_Front.jpg" class="location-center type-thumb" width="300" />
</a></div>
</div>
 </td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Mansory_Evora_-_Exterior_options_-_Rear.jpg" title="Lotus Mansory Evora Concept Rear"><img src="Mansory_Evora_-_Exterior_options_-_Rear.jpg" alt="Lotus Mansory Evora Concept Rear" title="Lotus Mansory Evora Concept Rear" class="location-center type-thumb" width="300" />
</a>
<div class="thumbcaption">Lotus Mansory Evora Concept Rear</div></div>
</div>
</td></tr></table></div>

<h4><span class="mw-headline" id="Diffuser">Diffuser</span></h4>

<p><a class="image" href="http://wiki.seloc.org/a/image:Mansory_Evora_-_Exterior_options_-_Diffuser.jpg" ><img src="Mansory_Evora_-_Exterior_options_-_Diffuser.jpg" class="location-center" width="200" />
</a></p>
<p><b>Part Number:</b> EVO 802 891</p>
<p>Visible carbon fibre - Can be fitted without bodykit.</p>
<h4><span class="mw-headline" id="Diffuser_holder">Diffuser holder</span></h4>

<p><a class="image" href="http://wiki.seloc.org/a/image:Mansory_Evora_-_Exterior_options_-_Diffuser_holder.jpg" ><img src="Mansory_Evora_-_Exterior_options_-_Diffuser_holder.jpg" class="location-center" width="200" />
</a></p>
<p><b>Part Number:</b> EVO 802 751</p>
<p>Visible carbon fibre - Can be fitted without bodykit.</p>
<h4><span class="mw-headline" id="Diffuser_surround">Diffuser surround</span></h4>

<p><a class="image" href="http://wiki.seloc.org/a/image:Mansory_Evora_-_Exterior_options_-_Diffuser_surround.jpg" ><img src="Mansory_Evora_-_Exterior_options_-_Diffuser_surround.jpg" class="location-center" width="200" />
</a></p>
<p><b>Part Number:</b> EVO 802 881</p>
<p>Visible carbon fibre - Can be fitted without bodykit.</p>
<h4><span class="mw-headline" id="Rear_performance_wing">Rear performance wing</span></h4>

<p><a class="image" href="http://wiki.seloc.org/a/image:Mansory_Evora_-_Exterior_options_-_Rear_performance_wing.jpg" ><img src="Mansory_Evora_-_Exterior_options_-_Rear_performance_wing.jpg" class="location-center" width="200" />
</a></p>
<p><b>Part Number:</b> EVO 830 301</p>
<p>Including brake light holder, visible carbon fibre - Can be fitted without bodykit.</p>
<h4><span class="mw-headline" id="Air_intake_cover">Air intake cover</span></h4>

<p><a class="image" href="http://wiki.seloc.org/a/image:Mansory_Evora_-_Exterior_options_-_Air_intake_cover.jpg" ><img src="Mansory_Evora_-_Exterior_options_-_Air_intake_cover.jpg" class="location-center" width="200" />
</a></p>
<p><b>Part Number:</b> EVO 530 101</p>
<p>2 parts set - left &#38; right, visible carbon fibre - Can be fitted without bodykit.</p>
<h4><span class="mw-headline" id="Air_outtake_-_engine_bonnet">Air outtake - engine bonnet</span></h4>

<p><a class="image" href="http://wiki.seloc.org/a/image:Mansory_Evora_-_Exterior_options_-_Air_outtake_-_engine_bonnet.jpg" ><img src="Mansory_Evora_-_Exterior_options_-_Air_outtake_-_engine_bonnet.jpg" class="location-center" width="220" />
</a></p>
<p><b>Part Number:</b> EVO 230 251</p>
<p>Visible carbon fibre - Can be fitted without bodykit.</p>
<h4><span class="mw-headline" id="Engine_louvers">Engine louvers</span></h4>

<p><a class="image" href="http://wiki.seloc.org/a/image:Mansory_Evora_-_Exterior_options_-_Engine_louvers.jpg" ><img src="Mansory_Evora_-_Exterior_options_-_Engine_louvers.jpg" class="location-center" width="220" />
</a></p>
<p><b>Part Number:</b> EVO 210 001</p>
<p>Visible carbon fibre - Can be fitted without bodykit.</p>
<p>Similar parts available in the <a href="http://wiki.seloc.org/a/Evora_GTN_Packages" title="Evora GTN Packages">Evora GTN Packages</a>.</p>
<h4><span class="mw-headline" id="Engine_cover">Engine cover</span></h4>

<p><a class="image" href="http://wiki.seloc.org/a/image:Mansory_Evora_-_Exterior_options_-_Engine_cover.jpg" ><img src="Mansory_Evora_-_Exterior_options_-_Engine_cover.jpg" class="location-center" width="220" />
</a></p>
<p><b>Part Number:</b> EVO 240 751</p>
<p>Visible carbon fibre - Can be fitted without bodykit.</p>
<h4><span class="mw-headline" id="Mirror_covers">Mirror covers</span></h4>

<p><a class="image" href="http://wiki.seloc.org/a/image:Mansory_Evora_-_Exterior_options_-_Mirror_covers.jpg" ><img src="Mansory_Evora_-_Exterior_options_-_Mirror_covers.jpg" class="location-center" width="220" />
</a></p>
<p><b>Part Number:</b> EVO 522 751</p>
<p>2 parts set - left &#38; right, visible carbon fibre - Can be fitted without bodykit.</p>
<h4><span class="mw-headline" id="A-Pillar_cover">A-Pillar cover</span></h4>

<p><a class="image" href="http://wiki.seloc.org/a/image:Mansory_Evora_-_Exterior_options_-_A-Pillar_Cover.jpg" ><img src="Mansory_Evora_-_Exterior_options_-_A-Pillar_Cover.jpg" class="location-center" width="220" />
</a></p>
<p><b>Part Number:</b> EVO 130 751</p>
<p>2 parts set - left &#38; right, visible carbon fibre - Can be fitted without bodykit.</p>
<h3><span class="mw-headline" id="Interior">Interior</span></h3>


<h2><span class="mw-headline" id="References">References</span></h2><ol class="references">
<li id="_note-1"><b><a href="#_ref-1" title="">&#8593;</a></b> <a class="external text" href="http://www.seloc.org/2012/03/lotus-cars-lotus-establishes-bespoke-partnership-with-mansory/" rel="nofollow">SELOC - Lotus Cars – Lotus Establishes Bespoke Partnership With Mansory</a></li>
</ol>