
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Excel.jpg" title="Lotus Excel"><img src="Excel.jpg" alt="Lotus Excel" title="Lotus Excel" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Lotus Excel</div></div>
</div>


<p>The Lotus Excel 2+2 (Type 89) started production in 1982, running for 10 years with 3 major revisions and is the last front-engined, rwd, 4-seater GT produced by Lotus (at the time of writing). The last few cars were produced in 1992 with the final car being given to Hazel Chapman.</p>
<p>Styling was by Olver Winterbottom who went on to produce many more wedges for TVR, often with remarkably similar front-end treatments.</p>
<p>Initially, the car used the 160 bhp 912 engine, but later SE &#38; SA (Automatic) specification models used a revised 180 bhp 912 engine. Air-conditioning and Power Steering were options. The car is a little unusual as it has no &#34;<a class="external text" href="http://en.wikipedia.org/wiki/Ackermann_steering_geometry" rel="nofollow">Ackermann</a>&#34; effect on the front wheels. This results in noticeable judder/dragging during low speed cornering, often exhibiting itself as a tendency to jump on gravel surfaces. Apparently this a design feature and improves high-speed handling.</p>
<p>As the successor to the Eclat (derived itself from the 1970s wedge Elite), the Excel used many components from the Toyota Celica Supra, including transmission (5-speed W58 gearbox) and brakes, which improve reliability over the earlier model. Because of the way Lotus introduced the model it has never officially been recognised by DVLA as a separate model and all Excels are registered as &#34;Eclat Excel&#34;.</p>
<p>There is some confusion over exact production figures, but numbers between 1485 and 2500 are reported. As far as can be ascertained, approx. 270 cars are still on the road in the UK, a further 250 seem to be SORNED and it is thought that there may be as many as another 250 in various states of usability around the world. The car was never officially exported to the USA, although reports of 1 car built to USA specification have been seen.</p>
<p>There is a thriving online owners&#39; register at <a class="external free" href="http://www.lotusexcel.net/" rel="nofollow">http://www.lotusexcel.net/</a> with members throughout Europe, and in Japan, New Zealand and Australia.</p>
<h2><span class="mw-headline" id="Excel_Milestones_.28thanks_to_.22Spav.22_of_LotusExcel.net_for_compiling_this.29">Excel Milestones (thanks to &#34;Spav&#34; of LotusExcel.net for compiling this)</span></h2>


<ul>
<li>October 1982 Excel Introduction 
<ul>
<li>VIN 89 D 1148 - Domestic market 254 </li>
<li>VIN 89 - 0233 - Export market 13 </li>
</ul></li>
</ul>


<ul>
<li>December 1983 Excel 84 Model Introduction 
<ul>
<li>Body coloured bumpers, louvered bonnet, boot spoiler, 8 spoke road wheel option </li>
<li>VIN 89 D 1402 - Domestic market 251 </li>
<li>VIN 89 - 0246 - Export market 36 </li>
</ul></li>
</ul>


<ul>
<li>October 1984 Excel 85 Model Introduction 
<ul>
<li>Revised wheelarch profile, front fog lamps, larger boot opening, 15&#34; road wheel option, VDO instruments </li>
<li>VIN 89 D 1653 - Domestic market 318 </li>
</ul></li>
</ul>


<ul>
<li>October 1985 Excel 86 Model Introduction 
<ul>
<li>S.E. option, H.C. Engine, revised fascia &#38; switchgear, adjustable steering column, new heater/air conditioning system </li>
<li>VIN 89 D 1975 - Domestic market 244 </li>
<li>VIN 89 - 0282 - Export market 50 </li>
</ul></li>
</ul>


<ul>
<li>October 1986 Excel 87 Model Introduction 
<ul>
<li>S.A. option, Automatic gearbox, cruise control, central door locking </li>
<li>VIN 89 D 2219 - Domestic market 113 </li>
<li>VIN 89 - 0282 - Export market 33 </li>
</ul></li>
</ul>


<ul>
<li>March 1987 Commonised Engine Position 
<ul>
<li>Cross drilled crank, engine mount legs, bell housing </li>
<li>VIN 89 D 2332 - Domestic market 125 </li>
<li>VIN 89 - 0365 - Export market 34 </li>
</ul></li>
</ul>


<ul>
<li>July 1987 Revised Bodyshell Undertray 
<ul>
<li>Rear body mounts, boot floor brace, revised fuel system </li>
<li>VIN 89 D 2457 - Domestic market 276 </li>
<li>VIN 89 - 0399 - Export market 28 </li>
</ul></li>
</ul>


<ul>
<li>October 1988 Excel 89 Model Introduction 
<ul>
<li>Restyled bonnet, front &#38; rear spoilers, road wheels &#38; interior trim, air intake temperature control system </li>
<li>VIN 89 D 2733 - Domestic market 248 </li>
<li>VIN 89 - 0427 - Export market 17 </li>
</ul></li>
</ul>


<ul>
<li>August 1990 New PAS Pump 
<ul>
<li>VIN 89 D 2981 - Domestic market 85 </li>
<li>VIN 89 - 0444 - Export market (Unknown) </li>
</ul></li>
</ul>


<ul>
<li>November 1990 Hethel 25th Anniversary Celebration Excel 
<ul>
<li>Body colour metallic green/black, road wheel spokes body coloured, Clarion CDC 9300 six disc autochanger </li>
<li>VIN 89 D 3066 - Domestic market (Unknown)</li>
</ul></li>
</ul>

<h3><span class="mw-headline" id="Mike_Kimberley_is_reported_to_consider_the_Excel_his_favourite_Lotus_of_all_time.">Mike Kimberley is reported to consider the Excel his favourite Lotus of all time.</span></h3>

<p><a class="external text" href="http://en.wikipedia.org/wiki/Lotus_Excel" rel="nofollow">Wikipedia on the Lotus Excel</a></p>