<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Lotus_OEM_Fitment">Lotus OEM Fitment</a>
<ul>
<li class="toclevel-2"><a href="#S1_Elise">S1 Elise</a>
<ul>
<li class="toclevel-3"><a href="#MMC">MMC</a>
</li>
<li class="toclevel-3"><a href="#Standard_cast_iron">Standard cast iron</a>
</li>
<li class="toclevel-3"><a href="#Cross_drilled">Cross drilled</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#S1_Exige.2C_340R">S1 Exige, 340R</a>
</li>
<li class="toclevel-2"><a href="#S2_Elise_and_Exige">S2 Elise and Exige</a>
</li>
<li class="toclevel-2"><a href="#Vauxhall_VX220.2FOpel_Speedster">Vauxhall VX220/Opel Speedster</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Lotus_Europa_Disc_Brakes">Lotus Europa Disc Brakes</a>
</li>
<li class="toclevel-1"><a href="#Elise_Upgrade_Options">Elise Upgrade Options</a>
<ul>
<li class="toclevel-2"><a href="#Lotus_Motorsport">Lotus Motorsport</a>
<ul>
<li class="toclevel-3"><a href="#Lotus_Motorsport_Brake_Bias_Valve">Lotus Motorsport Brake Bias Valve</a>
</li>
<li class="toclevel-3"><a href="#Lotus_Motorsport_Brake_Master_Cylinder">Lotus Motorsport Brake Master Cylinder</a>
</li>
<li class="toclevel-3"><a href="#Lotus_Offical_upgrade_kit_for_the_S2">Lotus Offical upgrade kit for the S2</a>
</li>
</ul>
</li>
<li class="toclevel-2"><a href="#EliseParts.com">EliseParts.com</a>
</li>
<li class="toclevel-2"><a href="#Elise-Shop.com">Elise-Shop.com</a>
</li>
<li class="toclevel-2"><a href="#Plans_Motorsport">Plans Motorsport</a>
</li>
<li class="toclevel-2"><a href="#EBC">EBC</a>
</li>
<li class="toclevel-2"><a href="#HiSpec_Motorsport">HiSpec Motorsport</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Common_Questions">Common Questions</a>
<ul>
<li class="toclevel-2"><a href="#Pads_sticking_to_the_disc">Pads sticking to the disc</a>
</li>
</ul>
</li>
<li class="toclevel-1"><a href="#Other_sources_of_information">Other sources of information</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Lotus_OEM_Fitment">Lotus OEM Fitment</span></h2>
<h3><span class="mw-headline" id="S1_Elise">S1 Elise</span></h3>
<h4><span class="mw-headline" id="MMC">MMC</span></h4>
<p>When originally conceived and released, the Elise was supplied with Metal Matrix Composite (MMC) brake discs in combination with specific MMC brake pads.  In general it is agreed that an MMC brake setup provides excellent brake performance and feel.  The only real complaint seems to be that in wet weather the initial bite and performance is poor until the discs are dried by application.  (From VIN 2260 a splash guard was introduced to reduce this problem - Source <a class="external text" href="http://www.elises.co.uk" rel="nofollow">elises.co.uk</a>)</p>
<p>MMC&#39;s differ from normal &#39;iron&#39; discs in that the friction generated is mostly Adherent Friction rather than abrasive friction (a very good article on the nature of braking can be found <a class="external text" href="http://www.stoptech.com/tech_info/wp_warped_brakedisk.shtml" rel="nofollow">here</a>).  Essentially when the disc and pad come in contact some of the pad material transfers onto the disc surface, meaning the contact patches between the two are effectively the same material.  As the disc rotates the bonds between the surfaces break and reform creating friction.</p>
<p>One of the benefits of Adherent Friction is that under normal use the discs last a very very long time.  When braking the pads transfer their material to the surface of the disc, and it is this layer that is broken down, not the disc suface.  Therefore the discs suffer very little wear.  Under very heavy use however, the bonds between the pad and disc cannot reform as fast as they are broken down, meaning areas of the disc can lose the material layer entirely.  When this happens the abrasive friction of the pad can score away the disc surface making it too rough to rebuild the original material layer.  If this happens braking performance from the disc is permanently damaged and the disc must be replaced.  For this reason car used on track or running semi-slick tyres may wish to use traditional setups.</p>
<p>MMC discs were also extremely light, reducing the unsprung weight of each wheel.</p>
<p>MMC brake systems were supplied up until VIN 3714, when increased part costs forced Lotus to introduce standard iron brake discs.  Recently Lotus have had trouble sourcing replacement pads, and have offered discounted conversions to iron discs for affected customers.  Third party replacement pads are available from <a class="external text" href="http://www.eliseparts.com" rel="nofollow">Elise Parts</a> and <a class="external text" href="http://www.elise-shop.com" rel="nofollow">Elise Shop</a>.  These alternative pads are also said to improve wet weather performance.  MMC discs are no longer available.</p>
<h4><span class="mw-headline" id="Standard_cast_iron">Standard cast iron</span></h4>
<p>These discs followed the MMC disc as the standard brake disc for the S1 Elise from VIN 3715.</p>
<p>Although introduced for cost reasons, Iron disks are better able to withstand the high temperatures associated with track driving and provide better wet weather performance than the previous MMC disks.</p>
<p>The surface of the disks are solid, however they are internally vented to aid cooling.  As the disk rotates at speed, centrifugal forces act on the air inside the vanes, forcing it outwards from the center.  This action then draws fresh, cooler, air from the center of the disc through the internal vanes and out through the holes in the edges. (Lotus Part Number: A111J0128F)</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:A111J0128F.JPG" title="Vented S1 OEM Disc"><img src="A111J0128F.JPG" alt="Vented S1 OEM Disc" title="Vented S1 OEM Disc" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Vented S1 OEM Disc</div></div>
</div>


<h4><span class="mw-headline" id="Cross_drilled">Cross drilled</span></h4>
<p>The Sport 135, Sport 160, Sport 190 and 111S models were supplied with iron disks which were vented and cross drilled.  Cross drilling is the name given to drilling holes through the disc.  This has a number of advantages:
</p>
<ul>
<li>The holes allow for better cooling by drawing more air into the internal vanes.</li>
<li>The edges of the holes clean pad surface which can provide increased brake &#39;bite&#39;.</li>
<li>The holes prevent gasses from collecting between the pad and disc surface</li>
<li>The holes reduce the weight of the disk, and therefore its inertia and the unsprung weight.</li>
</ul>

<p>(Lotus Part Number: A111J0141F)</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:A111J0141F.JPG" title="Cross drilled and Vented S1 Disc"><img src="A111J0141F.JPG" alt="Cross drilled and Vented S1 Disc" title="Cross drilled and Vented S1 Disc" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Cross drilled and Vented S1 Disc</div></div>
</div>



<h3><span class="mw-headline" id="S1_Exige.2C_340R">S1 Exige, 340R</span></h3>
<p>The Lotus Series 1 Exige and 340R, were fitted with the same cross drilled disks as seen on the Series 1 111s and Sport 160 editions described above. 
(Lotus Part Number:A111J0141F)</p>

<h3><span class="mw-headline" id="S2_Elise_and_Exige">S2 Elise and Exige</span></h3>
<p>Series 2 Elises are fitted with 288mm vented iron discs.  </p>
<p>The discs on the S2 are different from those one the S1.  This is due to the S1 iron discs being a copy of the original MMC discs and therefore an uncoventional size. S2&#39;s were shipped as standard with plain discs, with cross drilled versions being available as an option. Later S2&#39;s were shipped with the cross drilled discs as standard.</p>
<p>The S2 discs feature longer, curved internal flow passages which increase the disc stability and reduce hot spot formation. The revised hole pattern has been specified to complement the new vane arrangement. </p>
<p>The discs are not handed, so the same disc is used on the right and left hand sides of the car. The cooling air flow through the left and right discs is identical and the flow rate is purely a result of pressure differential between the centre of the disc and its rim; the shape of the vanes and the direction of rotation does not affect the flow rate significantly. </p>
<p>Some noise from the brakes themselves is to be expected but there is a fix to stop brake pads banging in the calipers.</p>
<h3><span class="mw-headline" id="Vauxhall_VX220.2FOpel_Speedster">Vauxhall VX220/Opel Speedster</span></h3>

<p>VX/Speedster discs are also 288mm as on the S2, but there are some differences:</p>

<ul>
<li>hubs are 5 stud</li>
<li>use a bigger center bore</li>
<li>use a slightly different offset (about 1 to 2mm) because the VX220 uses a different bearing pack. (uprights are identical to the S2 though)</li>
<li>are almost the same thickness as S2 discs (25mm vs. 26mm), but have a much thicker surface and as a result a much smaller air-gap between the disc surfaces.</li>
</ul>

<p>The last point makes the VX220 discs significantly heavier than S2 discs (around 750G to 1 Kg each).</p>
<p>The thicker surface should give them a little more heat capacity, but also makes it more difficult for them to shed the heat again.</p>
<p>VX220 discs are actually taken from existing GM cars (Vauxhall/SAAB), eg. Vauxhall Vectra V6 2.5 front discs, and as such they can be obtain from many regular car-parts stores are very low prices.</p>
<h2><span class="mw-headline" id="Lotus_Europa_Disc_Brakes">Lotus Europa Disc Brakes</span></h2>

<p>288mm Vented Discs with <a class="external text" href="http://en.wikipedia.org/wiki/Anti-lock_braking_system" rel="nofollow">ABS</a> </p>
<p>This is currently unconfirmed - Press the &#39;Edit&#39; link to add your knowledge! </p>

<h2><span class="mw-headline" id="Elise_Upgrade_Options">Elise Upgrade Options</span></h2>


<h3><span class="mw-headline" id="Lotus_Motorsport">Lotus Motorsport</span></h3>


<h4><span class="mw-headline" id="Lotus_Motorsport_Brake_Bias_Valve">Lotus Motorsport Brake Bias Valve</span></h4>
<p>Lotus Motorsport Brake Bias Valve, as used on the Elise S2 Sport 190 and VX220 Sprint.  This allow the front/rear brake balance to be adjusted.
(Lotus Part Number:ALS1J6012F) 
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:ALS1J6002_3F.JPG" title="Lotus Motorsport AP 4 Pot Calipers"><img src="ALS1J6002_3F.JPG" alt="Lotus Motorsport AP 4 Pot Calipers" title="Lotus Motorsport AP 4 Pot Calipers" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Lotus Motorsport AP 4 Pot Calipers</div></div>
</div>

<p>
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:brakebias.JPG" title="Lotus Motorsport Brake Bias Valve"><img src="brakebias.JPG" alt="Lotus Motorsport Brake Bias Valve" title="Lotus Motorsport Brake Bias Valve" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Lotus Motorsport Brake Bias Valve</div></div>
</div>

<p>
<br /> </p>

<h4><span class="mw-headline" id="Lotus_Motorsport_Brake_Master_Cylinder">Lotus Motorsport Brake Master Cylinder</span></h4>
<p>(Lotus Part Number: ALS1J6010F)
Actually available only through Maidstone Sports Cars who gets small batches from AP. 325 GBP + VAT.</p>
<h4><span class="mw-headline" id="Lotus_Offical_upgrade_kit_for_the_S2">Lotus Offical upgrade kit for the S2</span></h4>
<p>Lotus Motorsport supplied bolt on kit that comes with 2 x AP 4 pot alloy calipers with Pagid RS14 Pads and 2 x alloy bells with discs.
(Lotus Part Number:ALS3J0040F)</p>
<p>From Lotus Motorsport:</p>
<pre>Fittings are also included.
Track Use Only

The pads are 16mm thick with an area of 43.2cm2 and are Pagid RS14 ceramic friction material.

They are full race pads with a medium to high friction value.

The discs are 310mm outside diameter and 28mm thick and weigh 4.9kg 

The Caliper is a 2 piece aluminium alloy body with 38.10mm diameter piston bores. Weight is 2.3kg
 
Designed to fit the following cars using a 16inch Front wheel:

 - Elise S2 (with OZ wheels + 3mm spacer) 
 - Elise 111R - with Exige S2/Forged Alloy wheels 
 - Exige S2 - direct fitment

This kit will not fit Elise S1 or Exige S1. 

Lotus recommend use with braided brake hoses 

Lotus Part Number:ALS3J0040F 

Price £1,762.50 inc VAT
</pre>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:brakeupgrade1.JPG" title="Upgrade Caliper and Discs"><img src="brakeupgrade1.JPG" alt="Upgrade Caliper and Discs" title="Upgrade Caliper and Discs" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Upgrade Caliper and Discs</div></div>
</div>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:brakeupgrade2.JPG" title="Upgrade bolts"><img src="brakeupgrade2.JPG" alt="Upgrade bolts" title="Upgrade bolts" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Upgrade bolts</div></div>
</div>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:brakeupgrade3.JPG" title="Upgrade Pads"><img src="brakeupgrade3.JPG" alt="Upgrade Pads" title="Upgrade Pads" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Upgrade Pads</div></div>
</div>

<p>    </p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:APBigBrakeCaliper.jpg" title="Upgrade Caliper"><img src="APBigBrakeCaliper.jpg" alt="Upgrade Caliper" title="Upgrade Caliper" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Upgrade Caliper</div></div>
</div>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:APBigBrakeCaliper2.jpg" title="Upgrade Caliper and Disc"><img src="APBigBrakeCaliper2.jpg" alt="Upgrade Caliper and Disc" title="Upgrade Caliper and Disc" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Upgrade Caliper and Disc</div></div>
</div>

<p>
<br /></p>
<h3><span class="mw-headline" id="EliseParts.com">EliseParts.com</span></h3>
<p><a class="external text" href="http://www.eliseparts.com/shop/index.php?main_page=index&#38;cPath=157&#38;zenid=a2860acbb2e0d419982d9d1196ced354" rel="nofollow">Elise Parts</a></p>
<p>Eliseparts aluminum belled disks for S1 or S2 have custom bells, the rotors are OEM by Hispec/EBC starting at 26mm with min thickness 24mm when grooves have worn away. Excellent with Pagid RS14 pads for up to 200bhp track and race with no problems running 60 min endurance races. Disks last around 36 track hours on the front and 72 track hours on the rear.</p>
<h3><span class="mw-headline" id="Elise-Shop.com">Elise-Shop.com</span></h3>
<p><a class="external text" href="http://www.elise-shop.com/index.php?main_page=index&#38;cPath=9" rel="nofollow">www.Elise-Shop.com</a></p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:EliseS1WEB.jpg" title="Elise-Shop.com bespoke Motorsport brake discs."><img src="EliseS1WEB.jpg" alt="Elise-Shop.com bespoke Motorsport brake discs." width="220" />
</a></p>

<p><b>Elise-Shop.com bespoke Motorsport brake discs.</b><br /><br /></p>
<p>These cross drilled and grooved discs are specifically designed for use on the Lotus Elise S1/S2, Exige S1/S2, 340R and Vauxhall VX220. <br />
The material mixture has been designed to deliver optimum performance when combined with Pagid RS42 or Pagid RS14 pads. 
<br /><br />
These are the recommended choice for heavy trackday use and racing.<br /><br /></p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:S2MSportGroove.jpg" title="Elise-Shop.com bespoke Motorsport brake discs."><img src="S2MSportGroove.jpg" alt="Elise-Shop.com bespoke Motorsport brake discs." width="220" />
</a><br /></p>
<p><b>Elise-Shop.com bespoke Motorsport brake discs.</b><br /><br /></p>
<p>This is the lower cost version of our bespoke Motorsport rotors. <br />
These rotors are grooved only. Although casted with the same material mixture, these discs are recommended for fast-road and trackday use.<br /><br />
We recommend to use these discs with Pagid RS42 or RS14 brake pads.</p>
<h3><span class="mw-headline" id="Plans_Motorsport">Plans Motorsport</span></h3>
<p><a class="external text" href="http://www.plansmotorsport.com/showroom/components/" rel="nofollow">Plans Motorsports</a>
Content to be added! Press the &#39;Edit&#39; link to add your knowledge! </p>

<h3><span class="mw-headline" id="EBC">EBC</span></h3>
<p><a class="external free" href="http://www.ebcbrakes.com/" rel="nofollow">http://www.ebcbrakes.com/</a></p>
<p>These are budget brake discs and are ideal if you are looking for good fast road performance but you don&#39;t want to spend thousands of pounds on upgrading your braking system.</p>


<p><b>EBC Sport (Drilled &#38; Slotted)</b></p>
<div class="thumb tright">
<div class="thumbinner" style="width:152px;"><a class="internal" href="http://wiki.seloc.org/a/Image:EBC_Gold_Discs.jpg" ><img src="EBC_Gold_Discs.jpg" class="type-thumb" width="150" />
</a></div>
</div>

<p>Wide aperture grooves
Special disc alloys UNIQUE to EBC
Dimple hole construction
Balanced geometry</p>

<p>The wide slot draws cool air across the pad surface keeping pads and discs cooler. They also expel dust, dirt and hot gases better than fine slots which eventually fill with rust and scale.<br />
The blind drilled holes are there to break down surface gases when braking hard from speed but do not weaken the cross section of the disc as can happen with discs that are drilled all the way through, thereby lessening the chance of the discs cracking due to heavy use.<br />
These discs are standard size OEM replacements with a cosmetic surface coating that helps prevent unsightly rust, however the coating will soon go and the un-braked surfaces of the disc will rust.<br />
The grooved and drilled design means the pads and disks run cooler but the surface area reduction means braking efficiency will be reduced unless the brake pads are upgraded to a higher friction compound to compensate. So if you add extra friction to better cooling you will have better brakes. <br />
Extra benefits of drilled and grooved discs is the effect the slots have on maintaining a flat smooth pad surface during the pads wear life. The slots encourage the pads to wear with a more flat pattern and the &#34;Ribbing&#34; common with non slotted rotors does not appear. This removes the &#34;Record groove&#34; effect of pads on plain discs, particularly around the outer edge and helps pads maintain better contact area with the disk through their life.<br /></p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:P1011059.jpg" title="EBC Ultimax Disc"><img src="P1011059.jpg" alt="EBC Ultimax Disc" class="location-right  type-thumbnail" width="150" />
</a>
<div class="thumbnailcaption">EBC Ultimax Disc</div></p>

<p><b>EBC Ultimax Black Anodised discs</b></p>

<p>EBC Ultimax discs offer much quieter braking and feature a special paint process to prevent corrosion. Note that the black surface will go away on the part where the brake pads touch the disc and this area can/will rust. How fast is depending on how the discs are used (and brake pads). I have read reports from 2 month to still being totally black after 2 years.</p>


<p><b>EBC Brake Pads</b></p>
<p>Sport &#38; Premium Street Brakes </p>
<p>For more information about EBC brake pads please see <a href="http://wiki.seloc.org/a/Brake_pads" title="Brake pads">Techwiki about brake pads</a>.</p>
<h3><span class="mw-headline" id="HiSpec_Motorsport">HiSpec Motorsport</span></h3>
<p><a href="http://wiki.seloc.org/a/Http://www.hispecbrake.co.uk/index.html" title="Http://www.hispecbrake.co.uk/index.html">HiSpec Motorsport</a>
Content to be added! Press the &#39;Edit&#39; link to add your knowledge!</p>
<p>Don&#39;t email them - phone them instead!</p>
<h2><span class="mw-headline" id="Common_Questions">Common Questions</span></h2>

<h3><span class="mw-headline" id="Pads_sticking_to_the_disc">Pads sticking to the disc</span></h3>

<p>The unservoed brakes on the S1 were criticized for not having enough initial bite when first applied, so Lotus used higher &#34;grab&#34; pads on the S2 to improve this. A byproduct of these pads is they tend to stick to the disc over a period of time, in damp or humid conditions this can happen within a couple of hours. This is something that affects the S1 as well but not to the same extent. Normally the sticking is limited to a clunk on pulling away, but with wet weather or if the car has recently been washed, the sticking can be quite severe. This however is not a problem its just something you just need to be aware of, it is also just another case of <a class="external text" href="http://wiki.seloc.org/index.php/TADTS" rel="nofollow">TADTS</a></p>
<h2><span class="mw-headline" id="Other_sources_of_information">Other sources of information</span></h2>
<p><a class="external text" href="http://en.wikipedia.org/wiki/Disk_brake" rel="nofollow">Wikipedia on Disc Brakes</a></p>
<p><a class="external text" href="http://www.elises.co.uk/components/s1/brakes/index.html" rel="nofollow">Elises.co.uk on S1 Disc Brakes</a></p>
<p><a class="external text" href="http://www.elises.co.uk/components/s2/brakes/index.html" rel="nofollow">Elises.co.uk on S2 Disc Brakes</a></p>
<p><a class="external text" href="http://www.hubert.racegame.org/brakes.html" rel="nofollow">HubSpace.net on Disc Brakes</a></p>
<p>The &#34;Warped&#34; Brake Disc and Other Myths of the Braking System by Carroll Smith: <a class="external free" href="http://www.stoptech.com/tech_info/wp_warped_brakedisk.shtml" rel="nofollow">http://www.stoptech.com/tech_info/wp_warped_brakedisk.shtml</a></p>















<p>




</p>