
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Castrol_super_dot_brake_fluid.jpg" title="Castrol Response Super DOT 4"><img src="Castrol_super_dot_brake_fluid.jpg" alt="Castrol Response Super DOT 4" title="Castrol Response Super DOT 4" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Castrol Response Super DOT 4</div></div>
</div>

<p>Lotus specifies Castrol Response Super DOT 4 brake fluid, changed annually. This is a fully synthetic brake fluid that exceeds the boiling point specifications of most DOT 5.1 fluids and is no more costly. For road use this is fine. </p>
<p>This can be hard to locate, also very important to note that it is <b>Super</b> as Castrol do also sell a normal response DOT 4.</p>
<p><a class="external text" href="http://www.racelubricants.co.uk/product.asp?strParents=&#38;CAT_ID=111&#38;P_ID=450" rel="nofollow">Castrol Response Super DOT 4 Sold here</a></p>
<p>It&#39;s also sold by Sussex Classic MGF Car Parts at Partridge Green in West Sussex <a class="external text" href="http://www.mgfcarparts.co.uk/" rel="nofollow">MGF Car Parts website</a> at £11.68 per litre as of October 2010.</p>
<p>Hard track use with extended high temperatures over 30 minute sessions needs some further consideration; regular change of less expensive fluid or more expensive race fluid changed less? There is no right answer.</p>
<p>The function of brake fluid is to provide an incompressible medium to transmit the driver’s foot pressure to clamp the friction material against the discs. When fresh, all brake fluids are virtually incompressible, but overheated brake fluid will boil in the calliper producing gas bubbles which are compressible leading to a “soft” brake pedal with long travel.<br /></p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:AP600_Brake_Fluid.jpg" title="AP600"><img src="AP600_Brake_Fluid.jpg" alt="AP600" title="AP600" class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">AP600</div></div>
</div>

<p>The dry boiling point is the temperature at which a given brake fluid boils when it is fresh out of the can. Since DOT 4, and DOT 5.1 brake fluids are hygroscopic and adsorb water over time (through the breathers, caliper piston seals and by magic) which boils at 100 °C, the absorbed water dramatically lowers the boiling point of the brake fluid. The Wet boiling point is the temperature at which a given brake fluid boils when it has taken on 3.7% H2O. For detailed discussion checkout <a class="external free" href="http://www.stoptech.com/tech_info/wp_brakefluid_1a.shtml" rel="nofollow">http://www.stoptech.com/tech_info/wp_brakefluid_1a.shtml</a><br /></p>
<p>DOT 4 and 5.1 are polyethylene glycol based fluids and are perfectly fine to mix.  Don&#39;t mix 4 or 5.1 with DOT 5 as it&#39;s silicone based and is not compatible.</p>
<p>The specification for DOT 5.1 is higher than DOT 4 - the reality here is that most race fluid is DOT 4 but meets/exceeds the spec of DOT 5.1 in most aspects but may fail the long term tests, hence why they are classified as DOT 4.</p>

<p>Notes from a 40 track hour a year Elise;
</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:102px;"><a class="internal" href="http://wiki.seloc.org/a/Image:Castrol_SRF_Brake_Fluid.jpg" title="Castrol SRF"><img src="Castrol_SRF_Brake_Fluid.jpg" alt="Castrol SRF" title="Castrol SRF" class="location-left type-thumb" width="100" />
</a>
<div class="thumbcaption">Castrol SRF</div></div>
</div>


<p>• <b>Castrol Response DOT 4</b> £7/lit (Dry 270°C Wet ca170°C). Note this is not the Lotus recommended fluid <b>NON SUPER</b>. 
This is listed for comparison against Super.   </p>

<p>• <b>Comma DOT5.1</b> £8/lit (Dry 280°C Wet 180°C). Is this as good as the Castrol Super DOT4 ?</p>

<p>• <b>Castrol Response Super DOT 4</b> £10/lit (Dry 280°C Wet 186°C). This was needing to be changed every 6 track hours with a gradually softening pedal, coming out black from the front callipers and discoloured from the rear.</p>

<p>• <b>AP600</b> £20/lit (Dry 310°C Wet 210°C). This seems to want 50ml bled off the front callipers every 6 track hours (no noticeable colour change) which will effectively purge the system every year (but don&#39;t forget to do the rears and clutch).</p>

<p>• <b>Motul RBF600</b> £25/lit (Dry 312°C Wet 216°C). To be tested.</p>

<p>• <b>R600+</b> £26/lit (Dry 315°C Wet 204°C). As used by <a class="external text" href="http://forums.seloc.org/member.php?action=viewpro&#38;member=randy" rel="nofollow">Randy</a>.</p>

<p>• <b>Silkolene Pro Race 2000</b> £30/lit (Dry 300°C Wet 195°C). Need to test this </p>

<p>• <b>Motul RBF660</b> £35/lit (Dry 325°C Wet 204°C). To be tested.</p>

<p>• <b>Castrol SRF</b> £50/lit (Dry 310°C Wet 270°C)  This is in a class by itself with patented chemistry providing wet boiling point close to most other fluids dry. Not affluent enough to try this.</p>


<h2><span class="mw-headline" id="Brake_bleeding_.28quick.29">Brake bleeding (quick)</span></h2>

<p>Order; OSR, NSR, OSF, NSF. Wheels off for the rears, but can do it through the spokes at the front. For each calliper in turn, pump the brake pedal until it is solid then maintain the pressure whilst the other person puts a non return value on the brake nipple and releases it (11 mm spanner) until the pedal hits the deck.</p>
<p><b>Brake bleeding (long - wheels and calipers off)</b></p>
<p>• Tap on the calipers and hoses gently with a plastic hammer to dislodge any bubbles that adhere to the surface </p>
<p>• Get some (very)worn brake pads. Fit these to the front calipers and press the pedal a few times to extend the pistons. This will fill them up with fluid. </p>
<p>• Now put the pressure bleeder on the reservoir and put some light pressure on it. Not too much or you can pop the pistons out in the next step. </p>
<p>• Remove a front caliper, invert it open the bleed nipple and tape the brake hoses gently and also tap on the inside of the caliper. </p>
<p>• Then (with your hands) squeeze the INNER piston in. This will empty the inner piston and force the bubbles to the front one. Make sure you push it completely in. </p>
<p>• Now carefully rotate the piston normal side up again. Try to turn it so any bubbles in the outer piston will not try to go up the connecting pipe again. </p>
<p>• Now tap the caliper again and squeeze the OUTER piston back into the caliper. Once it&#39;s fully in, close the bleed nipple and do the other side. </p>
<p>• You should get some extra bubbles out. </p>
<p>• For the rear brakes make sure you screw the pistons completely back into the caliper before you bleed them. </p>
<p>Don&#39;t skimp on the amount of fluid. Get 2L and work your way through it. </p>
--&#62;

<p>See also: <a href="http://wiki.seloc.org/a/Bleed_the_brakes" title="Bleed the brakes">Bleed the brakes</a></p>
<p><a class="external text" href="http://www.aaoil.co.uk/racing-R600" rel="nofollow">R600+ Found here.</a></p>
<p><a class="external text" href="http://en.wikipedia.org/wiki/DOT_5.1" rel="nofollow">DOT 5.1</a></p>
<p><a class="external text" href="http://en.wikipedia.org/wiki/DOT_4" rel="nofollow">DOT 4</a></p>
<p><a class="external text" href="http://en.wikipedia.org/wiki/DOT_5" rel="nofollow">DOT 5</a></p>

<p><a class="external text" href="http://www.castrol.com/liveassets/bp_internet/castrol/castrol_italy/STAGING/local_assets/downloads/t/TDS_RESPDOT4.PDF" rel="nofollow">Castrol Response DOT 4 Spec Sheet</a></p>
<p><a class="external text" href="http://www.castrol.com/liveassets/bp_internet/castrol/castrol_italy/STAGING/local_assets/downloads/t/TDS_RESSDOT4.PDF" rel="nofollow">Castrol Response Super DOT 4 Spec Sheet</a></p>



<p>




</p>