<h2><span class="mw-headline" id="Following_text_copied_from_a_post_by_Black_Potato.2C_amended_slightly_by_Geordie">Following text copied from a post by <b>Black_Potato</b>, amended slightly by <b>Geordie</b></span></h2>

<h2><span class="mw-headline" id="Removal.2Ffitting_process">Removal/fitting process</span></h2>


<p>6mm hex for both seats except the front of the drivers side which is 5mm. 17mm spanner required to remove the seatbelt fixing point on the outside of each seat
Ball-end allen keys and a selection of extensions are useful (i.e. invaluable!) - <i>using a 5mm/6mm socket and short extension bar over the end of the allen key can give the extra leverage you need to break the old threadlock, and help with tightening up when refitting.</i></p>
<p>To get the seat out place a coat/rug or similar over the sill to avoid scratches and undo the 17mm bolt as suggested so you can get the seat out.  This can be done with the soft/hardtop in place, but removing it will give more room to work.</p>
<p>Swapping seats is easy enough just remember the order of the nut/bolt/washer stacks - <b>be careful to note the position of the &#34;T Piece&#34; shims that fit at the rear of the driver&#39;s side seat runners, and don&#39;t lose them!</b></p>
<p>If the bolt in the seat or the floor come to mention that doesn&#39;t come out reasonably easily use some penetrating oil as you don&#39;t want to damage the thread or in the case of the seat risk spinning the fixing.</p>
<p>Corbeau seats should be fine if they are just the standard shells re trimmed but if you have a motor sport seat you need a motor sport fitting set which is very different.</p>
<p>When you get the seats out have a sheet of cardboard or a rug to work on them as other wise they will get dirty on the floor.</p>
<p>When they are out take the time to clean under and behind the seats and lubricate the drivers side runner.</p>
<p>When re fitting into the car just put the screw in a few turns with your fingers and only start to tighten them when they are all in, do them up firmly but don&#39;t over tighten, thread lock isn&#39;t a bad idea but may give you problems should you want to get them out again, if you don&#39;t use it check them again a week or so later to make sure all the bolts are tight and none have moved. </p>
<h2><span class="mw-headline" id="Pictures">Pictures</span></h2>

<p>These pictures show the correct holes for fitting seats back into an S2. The pictures are from a RHD car.</p>
<p>As the drivers seat can slide, the bolts are easy to reach. The passengers side is harder, but only the bolt on the outside back end of the seat. When you have an inflatable lumbar support in the passenger seat, removing the pump from the seat will give you easier access.</p>
<p>Passenger side:</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:passenger.jpg" ><img src="passenger.jpg" width="220" />
</a></p>
<p>Driver side:</p>
<p><a class="image" href="http://wiki.seloc.org/a/Image:driver.jpg" ><img src="driver.jpg" width="220" />
</a></p>
<p>





</p>