<h3><span class="mw-headline" id="Ohlins_settings">Ohlins settings</span></h3>




<div style="page-break-inside: avoid;">
<table>
<tr>
<td align="center" style="background:#f0f0f0;"><b>Exige Cup 240 - Ohlins Dampers</b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td></tr>
<tr>
<td align="center" style="background:#f0f0f0;"><b>Recommended Settings - Road</b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td></tr>
<tr>
<td />
<td>Front Damper</td>
<td></td>
<td>Full Hard</td>
<td>Full Soft</td></tr>
<tr>
<td />
<td>Bump</td>
<td>P11</td>
<td>P1 (Clockwise)</td>
<td>P22 (Anti-Clockwise)</td></tr>
<tr>
<td />
<td>Rebound</td>
<td>P8</td>
<td>P1 (Clockwise)</td>
<td>P60 (Anti-Clockwise)</td></tr>
<tr>
<td />
<td></td>
<td></td>
<td></td>
<td></td></tr>
<tr>
<td />
<td>Rear Damper</td>
<td></td>
<td></td>
<td></td></tr>
<tr>
<td />
<td>Bump</td>
<td>P15</td>
<td>P1 (Clockwise)</td>
<td>P22 (Anti-Clockwise)</td></tr>
<tr>
<td />
<td>Rebound</td>
<td>P15</td>
<td>P1 (Clockwise)</td>
<td>P60 (Anti-Clockwise)</td></tr>
<tr>
<td />
<td></td>
<td></td>
<td></td>
<td></td></tr>
<tr>
<td />
<td>Front Anti Roll Bar</td>
<td>P3</td>
<td>P1</td>
<td>P5</td></tr>
<tr>
<td align="center" style="background:#f0f0f0;"><b>Recommended Settings - Race</b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td></tr>
<tr>
<td />
<td>Front Damper</td>
<td></td>
<td>Full Hard</td>
<td>Full Soft</td></tr>
<tr>
<td />
<td>Bump</td>
<td>P11</td>
<td>P1 (Clockwise)</td>
<td>P22 (Anti-Clockwise)</td></tr>
<tr>
<td />
<td>Rebound</td>
<td>P8</td>
<td>P1 (Clockwise)</td>
<td>P60 (Anti-Clockwise)</td></tr>
<tr>
<td />
<td></td>
<td></td>
<td></td>
<td></td></tr>
<tr>
<td />
<td>Rear Damper</td>
<td></td>
<td></td>
<td></td></tr>
<tr>
<td />
<td>Bump</td>
<td>P10</td>
<td>P1 (Clockwise)</td>
<td>P22 (Anti-Clockwise)</td></tr>
<tr>
<td />
<td>Rebound</td>
<td>P12</td>
<td>P1 (Clockwise)</td>
<td>P60 (Anti-Clockwise)</td></tr>
<tr>
<td />
<td></td>
<td></td>
<td></td>
<td></td></tr>
<tr>
<td />
<td>Front Anti Roll Bar</td>
<td>P3</td>
<td>P1</td>
<td>P5</td></tr></table></div>



<div style="page-break-inside: avoid;">
<table>
<tr>
<td align="center" style="background:#f0f0f0;"><b>Exige Cup - Ohlins Dampers</b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td></tr>
<tr>
<td align="center" style="background:#f0f0f0;"><b>Recommended Settings - Road</b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td></tr>
<tr>
<td />
<td>Front Damper</td>
<td></td>
<td>Full Hard</td>
<td>Full Soft</td></tr>
<tr>
<td />
<td>Bump</td>
<td>P7</td>
<td>P1 (Clockwise)</td>
<td>P22 (Anti-Clockwise)</td></tr>
<tr>
<td />
<td>Rebound</td>
<td>P5</td>
<td>P1 (Clockwise)</td>
<td>P60 (Anti-Clockwise)</td></tr>
<tr>
<td />
<td></td>
<td></td>
<td></td>
<td></td></tr>
<tr>
<td />
<td>Rear Damper</td>
<td></td>
<td></td>
<td></td></tr>
<tr>
<td />
<td>Bump</td>
<td>P4</td>
<td>P1 (Clockwise)</td>
<td>P22 (Anti-Clockwise)</td></tr>
<tr>
<td />
<td>Rebound</td>
<td>P19</td>
<td>P1 (Clockwise)</td>
<td>P60 (Anti-Clockwise)</td></tr>
<tr>
<td />
<td></td>
<td></td>
<td></td>
<td></td></tr>
<tr>
<td />
<td>Front Anti Roll Bar</td>
<td>P3</td>
<td>P1</td>
<td>P5</td></tr>
<tr>
<td align="center" style="background:#f0f0f0;"><b>Recommended Settings - Race</b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td></tr>
<tr>
<td />
<td>Front Damper</td>
<td></td>
<td>Full Hard</td>
<td>Full Soft</td></tr>
<tr>
<td />
<td>Bump</td>
<td>P6</td>
<td>P1 (Clockwise)</td>
<td>P22 (Anti-Clockwise)</td></tr>
<tr>
<td />
<td>Rebound</td>
<td>P3</td>
<td>P1 (Clockwise)</td>
<td>P60 (Anti-Clockwise)</td></tr>
<tr>
<td />
<td></td>
<td></td>
<td></td>
<td></td></tr>
<tr>
<td />
<td>Rear Damper</td>
<td></td>
<td></td>
<td></td></tr>
<tr>
<td />
<td>Bump</td>
<td>P4</td>
<td>P1 (Clockwise)</td>
<td>P22 (Anti-Clockwise)</td></tr>
<tr>
<td />
<td>Rebound</td>
<td>P17</td>
<td>P1 (Clockwise)</td>
<td>P60 (Anti-Clockwise)</td></tr>
<tr>
<td />
<td></td>
<td></td>
<td></td>
<td></td></tr>
<tr>
<td />
<td>Front Anti Roll Bar</td>
<td>P3</td>
<td>P1</td>
<td>P5</td></tr></table></div>

<h3><span class="mw-headline" id="Track_Settings">Track Settings</span></h3>


<div style="page-break-inside: avoid;">
<table>
<tr>
<td align="center" style="background:#f0f0f0;"><b>Benchmark Settings - Donington Park</b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td></tr>
<tr>
<td>Front Damper</td>
<td></td>
<td>Full Hard</td>
<td>Full Soft</td></tr>
<tr>
<td>Bump</td>
<td>P4</td>
<td>P1 (Clockwise)</td>
<td>P22 (Anti-Clockwise)</td></tr>
<tr>
<td>Rebound</td>
<td>P5</td>
<td>P1 (Clockwise)</td>
<td>P60 (Anti-Clockwise)</td></tr>
<tr>
<td />
<td></td>
<td></td>
<td></td></tr>
<tr>
<td>Rear Damper</td>
<td></td>
<td></td>
<td></td></tr>
<tr>
<td>Bump</td>
<td>P2</td>
<td>P1 (Clockwise)</td>
<td>P22 (Anti-Clockwise)</td></tr>
<tr>
<td>Rebound</td>
<td>P4</td>
<td>P1 (Clockwise)</td>
<td>P60 (Anti-Clockwise)</td></tr>
<tr>
<td />
<td></td>
<td></td>
<td></td></tr>
<tr>
<td>Front Anti Roll Bar</td>
<td>P2</td>
<td>P1</td>
<td>P5</td></tr>
<tr>
<td /></tr></table></div>


<div style="page-break-inside: avoid;">
<table>
<tr>
<td align="center" style="background:#f0f0f0;"><b>Benchmark Settings - Rockingham</b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td></tr>
<tr>
<td>Front Damper</td>
<td></td>
<td>Full Hard</td>
<td>Full Soft</td></tr>
<tr>
<td>Bump</td>
<td>P4</td>
<td>P1 (Clockwise)</td>
<td>P22 (Anti-Clockwise)</td></tr>
<tr>
<td>Rebound</td>
<td>P5</td>
<td>P1 (Clockwise)</td>
<td>P60 (Anti-Clockwise)</td></tr>
<tr>
<td />
<td></td>
<td></td>
<td></td></tr>
<tr>
<td>Rear Damper</td>
<td></td>
<td></td>
<td></td></tr>
<tr>
<td>Bump</td>
<td>P2</td>
<td>P1 (Clockwise)</td>
<td>P22 (Anti-Clockwise)</td></tr>
<tr>
<td>Rebound</td>
<td>P4</td>
<td>P1 (Clockwise)</td>
<td>P60 (Anti-Clockwise)</td></tr>
<tr>
<td />
<td></td>
<td></td>
<td></td></tr>
<tr>
<td>Front Anti Roll Bar</td>
<td>P2</td>
<td>P1</td>
<td>P5</td></tr>
<tr>
<td /></tr></table></div>


<div style="page-break-inside: avoid;">
<table>
<tr>
<td align="center" style="background:#f0f0f0;"><b>Benchmark Settings -Snetterton</b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td></tr>
<tr>
<td>Front Damper</td>
<td></td>
<td>Full Hard</td>
<td>Full Soft</td></tr>
<tr>
<td>Bump</td>
<td>P2</td>
<td>P1 (Clockwise)</td>
<td>P22 (Anti-Clockwise)</td></tr>
<tr>
<td>Rebound</td>
<td>P4</td>
<td>P1 (Clockwise)</td>
<td>P60 (Anti-Clockwise)</td></tr>
<tr>
<td />
<td></td>
<td></td>
<td></td></tr>
<tr>
<td>Rear Damper</td>
<td></td>
<td></td>
<td></td></tr>
<tr>
<td>Bump</td>
<td>P2</td>
<td>P1 (Clockwise)</td>
<td>P22 (Anti-Clockwise)</td></tr>
<tr>
<td>Rebound</td>
<td>P4</td>
<td>P1 (Clockwise)</td>
<td>P60 (Anti-Clockwise)</td></tr>
<tr>
<td />
<td></td>
<td></td>
<td></td></tr>
<tr>
<td>Front Anti Roll Bar</td>
<td>P2</td>
<td>P1</td>
<td>P5</td></tr>
<tr>
<td /></tr></table></div>


<div style="page-break-inside: avoid;">
<table>
<tr>
<td align="center" style="background:#f0f0f0;"><b>Benchmark Settings -Cadwell Park</b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td></tr>
<tr>
<td>Front Damper</td>
<td></td>
<td>Full Hard</td>
<td>Full Soft</td></tr>
<tr>
<td>Bump</td>
<td>P11</td>
<td>P1 (Clockwise)</td>
<td>P22 (Anti-Clockwise)</td></tr>
<tr>
<td>Rebound</td>
<td>P8</td>
<td>P1 (Clockwise)</td>
<td>P60 (Anti-Clockwise)</td></tr>
<tr>
<td />
<td></td>
<td></td>
<td></td></tr>
<tr>
<td>Rear Damper</td>
<td></td>
<td></td>
<td></td></tr>
<tr>
<td>Bump</td>
<td>P10</td>
<td>P1 (Clockwise)</td>
<td>P22 (Anti-Clockwise)</td></tr>
<tr>
<td>Rebound</td>
<td>P12</td>
<td>P1 (Clockwise)</td>
<td>P60 (Anti-Clockwise)</td></tr>
<tr>
<td />
<td></td>
<td></td>
<td></td></tr>
<tr>
<td>Front Anti Roll Bar</td>
<td>P2</td>
<td>P1</td>
<td>P5</td></tr>
<tr>
<td /></tr></table></div>


<div style="page-break-inside: avoid;">
<table>
<tr>
<td align="center" style="background:#f0f0f0;"><b>Benchmark Settings -Spa Francorchaps</b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td>
<td align="center" style="background:#f0f0f0;"><b><i>&#39;</i></b></td></tr>
<tr>
<td>Front Damper</td>
<td></td>
<td>Full Hard</td>
<td>Full Soft</td></tr>
<tr>
<td>Bump</td>
<td>P2</td>
<td>P1 (Clockwise)</td>
<td>P22 (Anti-Clockwise)</td></tr>
<tr>
<td>Rebound</td>
<td>P2</td>
<td>P1 (Clockwise)</td>
<td>P60 (Anti-Clockwise)</td></tr>
<tr>
<td />
<td></td>
<td></td>
<td></td></tr>
<tr>
<td>Rear Damper</td>
<td></td>
<td></td>
<td></td></tr>
<tr>
<td>Bump</td>
<td>P2</td>
<td>P1 (Clockwise)</td>
<td>P22 (Anti-Clockwise)</td></tr>
<tr>
<td>Rebound</td>
<td>P2</td>
<td>P1 (Clockwise)</td>
<td>P60 (Anti-Clockwise)</td></tr>
<tr>
<td />
<td></td>
<td></td>
<td></td></tr>
<tr>
<td>Front Anti Roll Bar</td>
<td>P1</td>
<td>P1</td>
<td>P5</td></tr>
<tr>
<td /></tr></table></div>



<p>


</p>