
<p>This is a common forum question so this topic covers practical advice for those that want to use their Elise as a daily driver. Reasons to do it include:</p>

<ul>
<li>The Elise is quite mild mannered in traffic</li>
<li>Other drivers move over for an Elise far more readily than for anything with 4 doors</li>
<li>It&#39;s hard to climb into a shed when you have such a great car parked next to it</li>
<li>Pretty good fuel economy thanks to low weight and hatchback engine.</li>
<li>Chicks (ok, small boys) dig it</li>
</ul>

<p>You can&#39;t easily make a practical car more fun to drive, but there are a few tweaks you can do to the elise to make it easier to live with. These include:</p>

<ul>
<li>Hard top. As well as leaking less than the soft top, hard tops offer better thermal insulation which is great for cold days.</li>
<li>HID lights are really useful in winter</li>
<li>Snowsocks and collapsible spade for those REALLY wintery snow days</li>
<li>Armourfend is great if you like your paintwork - it is pricey to fit, but keeps the car looking good and will save you a full respray.</li>
<li>Polycarb foglight covers - they are cheaper than replacing the lights. Similarly if your S1 does not have headlight covers, then you should consider investing in a pair.</li>
<li>Decent stereo - Active Sub, steering column-mounted remote control. Sony RM-X4S is good.</li>
<li>Quieter exhaust / induction is good - That induction kit and de-cat pipe really don&#39;t add much power!</li>
<li>Jawbone Prime bluetooth headset - be safe and easily understood even with the roof down, thanks to clever noise reduction tech</li>
<li>Decent mount for satnav. The simplest solution for S1 drivers is a Krussell magnet mount on the spare light button - very discreet and works perfectly, but there are other solutions too - Brodit do good mounts.</li>
<li>Improved seats (Standard base model S1 seats lack padding. S1 111S seats and S2 seats are more comfortable, as are the later style Pro-bax seats.).</li>
</ul>

<p>





</p>