
<p>The rear LOTUS lettering on the back of the S2 Elise and Exige should be lined up as following:</p>
<p><a class="image" href="http://wiki.seloc.org/a/File:Rear_logo_placement.jpg" ><img src="Rear_logo_placement.jpg" width="220" />
</a></p>
<p>For further tips and advice this thread provides more detail: <a class="external free" href="http://forums.seloc.org/viewthread.php?tid=271829" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=271829</a></p>
<p>

</p>