
<p>A list of known diecast models of Lotus cars.</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Elise">Elise</a>
</li>
<li class="toclevel-1"><a href="#Esprit">Esprit</a>
</li>
<li class="toclevel-1"><a href="#Europa">Europa</a>
</li>
<li class="toclevel-1"><a href="#Evora">Evora</a>
</li>
<li class="toclevel-1"><a href="#Exige">Exige</a>
</li>
<li class="toclevel-1"><a href="#F1">F1</a>
</li>
<li class="toclevel-1"><a href="#Classics">Classics</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Elise">Elise</span></h2>


<div style="page-break-inside: avoid;">
<table border="1" class="wikitable sortable">
<caption>Sortable table</caption>
<tr>
<th scope="col">Manufacturer</th>
<th scope="col">Name</th>
<th scope="col">Scale</th>
<th class="unsortable" scope="col">Colours</th>
<th class="unsortable" scope="col">Notes</th>
<th class="unsortable" scope="col">Image</th></tr>
<tr>
<th>A.B. Gee</th>
<td>Lotus Elise 111S (2003)</td>
<td>1:18</td>
<td>Yellow</td>
<td>S2 Elise 111S</td>
<td><a class="image" href="http://wiki.seloc.org/a/File:Diecast_-_A.B._Gee_-_2003_Lotus_Elise_111s_(rhd)_yellow_-_1-18.jpg" ><img src="Diecast_-_A.B._Gee_-_2003_Lotus_Elise_111s_(rhd)_yellow_-_1-18.jpg" width="200" />
</a></td></tr>
<tr>
<th>AUTOart</th>
<td>Lotus Elise (2002)</td>
<td>1:43</td>
<td>Black<br />Blue<br />Silver</td>
<td>S2 Elise</td>
<td><a class="image" href="http://wiki.seloc.org/a/File:Diecast_-_AUTOart_-_Lotus_Elise_2002_-_1-43.jpg" ><img src="Diecast_-_AUTOart_-_Lotus_Elise_2002_-_1-43.jpg" width="200" />
</a></td></tr>
<tr>
<th>AUTOart</th>
<td>Lotus Elise 111R</td>
<td>1:43</td>
<td>Chrome Orange<br />Magnetic Blue</td>
<td />
<td><a class="image" href="http://wiki.seloc.org/a/File:Diecast_-_AUTOart_-_Lotus_Elise_111R_-_1-43.jpg" ><img src="Diecast_-_AUTOart_-_Lotus_Elise_111R_-_1-43.jpg" width="200" />
</a></td></tr>
<tr>
<th>AUTOart</th>
<td>Lotus Elise 111S</td>
<td>1:43</td>
<td>Racing Green<br />Saffron Yellow</td>
<td>S2 Elise 111S</td>
<td><a class="image" href="http://wiki.seloc.org/a/File:Diecast_-_AUTOart_-_Lotus_Elise_111S_-_1-43.jpg" ><img src="Diecast_-_AUTOart_-_Lotus_Elise_111S_-_1-43.jpg" width="200" />
</a></td></tr>
<tr>
<th>Chrono</th>
<td>Lotus Elise GT1, No.15 (1997) Polican - Prutirat</td>
<td>1:18</td>
<td>White</td>
<td />
<td><a class="image" href="http://wiki.seloc.org/a/File:Diecast_-_Chrono_-_Lotus_Elise_GT1_No_15_1997_-_1-18.jpg" ><img src="Diecast_-_Chrono_-_Lotus_Elise_GT1_No_15_1997_-_1-18.jpg" width="200" />
</a></td></tr>
<tr>
<th>Chrono</th>
<td>Lotus Elise GT1, No.23 (1997) Badoer - Schiattarella</td>
<td>1:18</td>
<td>Green and White</td>
<td />
<td><a class="image" href="http://wiki.seloc.org/a/File:Diecast_-_Chrono_-_Lotus_Elise_GT1_No_23_1997_-_1-18.jpg" ><img src="Diecast_-_Chrono_-_Lotus_Elise_GT1_No_23_1997_-_1-18.jpg" width="200" />
</a></td></tr>
<tr>
<th>Chrono</th>
<td>Lotus Elise GT1, No.50 (1997)</td>
<td>1:18</td>
<td>Yellow and Black</td>
<td />
<td><a class="image" href="http://wiki.seloc.org/a/File:Diecast_-_Chrono_-_Lotus_Elise_GT1_No_50_1997_-_1-18.jpg" ><img src="Diecast_-_Chrono_-_Lotus_Elise_GT1_No_50_1997_-_1-18.jpg" width="200" />
</a></td></tr>
<tr>
<th>Chrono</th>
<td>Lotus Elise GT1 Road Version (1997)</td>
<td>1:18</td>
<td>Black</td>
<td />
<td><a class="image" href="http://wiki.seloc.org/a/File:Diecast_-_Chrono_-_Lotus_Elise_GT1_Road_Car_-_1-18.jpg" ><img src="Diecast_-_Chrono_-_Lotus_Elise_GT1_Road_Car_-_1-18.jpg" width="200" />
</a></td></tr>
<tr>
<th>Spark</th>
<td>Lotus Elise GT1, No.15 (1997) Polican - Prutirat</td>
<td>1:43</td>
<td>White</td>
<td />
<td><a class="image" href="http://wiki.seloc.org/a/File:Diecast_-_Spark_-_Lotus_Elise_GT1_No_15_1997_-_1-43.jpg" ><img src="Diecast_-_Spark_-_Lotus_Elise_GT1_No_15_1997_-_1-43.jpg" width="200" />
</a></td></tr>
<tr>
<th>Spark</th>
<td>Lotus Elise GT1, No.19 (1997) Grau - Werner </td>
<td>1:43</td>
<td>Green and Yellow</td>
<td />
<td><a class="image" href="http://wiki.seloc.org/a/File:Diecast_-_Spark_-_Lotus_Elise_GT1_No_19_1997_-_1-43.jpg" ><img src="Diecast_-_Spark_-_Lotus_Elise_GT1_No_19_1997_-_1-43.jpg" width="200" />
</a></td></tr>
<tr>
<th>Spark</th>
<td>Lotus Elise GT1, No.23 (1997) Badoer - Schiattarella</td>
<td>1:43</td>
<td>Green and White</td>
<td />
<td><a class="image" href="http://wiki.seloc.org/a/File:Diecast_-_Spark_-_Lotus_Elise_GT1_No_23_1997_-_1-43.jpg" ><img src="Diecast_-_Spark_-_Lotus_Elise_GT1_No_23_1997_-_1-43.jpg" width="200" />
</a></td></tr>
<tr>
<th>Spark</th>
<td>Lotus Elise GT1, No.49 (1997)</td>
<td>1:43</td>
<td>Yellow and Black</td>
<td />
<td><a class="image" href="http://wiki.seloc.org/a/File:Diecast_-_Spark_-_Lotus_Elise_GT1_No_49_1997_-_1-43.jpg" ><img src="Diecast_-_Spark_-_Lotus_Elise_GT1_No_49_1997_-_1-43.jpg" width="200" />
</a></td></tr>
<tr>
<th>Spark</th>
<td>Lotus Elise GT1 Road Version (1997)</td>
<td>1:43</td>
<td>Black</td>
<td />
<td><a class="image" href="http://wiki.seloc.org/a/File:Diecast_-_Spark_-_Lotus_Elise_GT1_Road_Version_-_1-43.jpg" ><img src="Diecast_-_Spark_-_Lotus_Elise_GT1_Road_Version_-_1-43.jpg" width="200" />
</a></td></tr>
<tr>
<th>Spark</th>
<td>Lotus Sport Elise</td>
<td>1:43</td>
<td>Black<br />Green</td>
<td>Series 1 Motorsport Elise, decal No. 1</td>
<td><a class="image" href="http://wiki.seloc.org/a/File:Diecast_-_Spark_-_Motorsport_Elise_-_1-43.jpg" ><img src="Diecast_-_Spark_-_Motorsport_Elise_-_1-43.jpg" width="200" />
</a></td></tr></table></div>

<h2><span class="mw-headline" id="Esprit">Esprit</span></h2>

<h2><span class="mw-headline" id="Europa">Europa</span></h2>

<h2><span class="mw-headline" id="Evora">Evora</span></h2>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>Manufacturer</th>
<th>Name</th>
<th>Scale</th>
<th>Colours</th>
<th>Notes</th>
<th>Image</th></tr>
<tr>
<th>Matchbox</th>
<td>Lotus Evora (2009)</td>
<td>1:60</td>
<td>Krypton Green<br />Persian Blue<br />Arctic Silver<br />Liquid Blue</td>
<td />
<td><a class="image" href="http://wiki.seloc.org/a/File:Diecast_-_Matchbox_-_Lotus_Evora_2009_-_1-60.jpg" ><img src="Diecast_-_Matchbox_-_Lotus_Evora_2009_-_1-60.jpg" width="200" />
</a></td></tr>
<tr>
<th>Spark</th>
<td>Lotus Evora (2009)</td>
<td>1:43</td>
<td>Red<br />Silver</td>
<td />
<td><a class="image" href="http://wiki.seloc.org/a/File:Diecast_-_Spark_-_Lotus_Evora_2009_-_1-43.jpg" ><img src="Diecast_-_Spark_-_Lotus_Evora_2009_-_1-43.jpg" width="200" />
</a></td></tr>
<tr>
<th>Spark</th>
<td>Lotus Evora 414E (2010)</td>
<td>1:43</td>
<td>Bronze</td>
<td />
<td><a class="image" href="http://wiki.seloc.org/a/File:Diecast_-_Spark_-_Lotus_Evora_414E_-_1-43.jpg" ><img src="Diecast_-_Spark_-_Lotus_Evora_414E_-_1-43.jpg" width="200" />
</a></td></tr>
<tr>
<th>Spark</th>
<td>Lotus Evora GTE</td>
<td>1:43</td>
<td />
<td>Pre-order

Colour unconfirmed</td>
<td><a class="image" href="http://wiki.seloc.org/a/File:Diecast_-_Spark_-_Lotus_Evora_GTE_-_1-43.jpg" ><img src="Diecast_-_Spark_-_Lotus_Evora_GTE_-_1-43.jpg" width="200" />
</a></td></tr>
<tr>
<th>Spark</th>
<td>Lotus Evora GTE (2011) Le Mans 24 Hours - #64</td>
<td>1:43</td>
<td>Blue and White</td>
<td>Driven by Oskar Singerland, Martin Rich and John Hartshorne in the 2011 Le Mans 24hr, retiring after 126 laps.</td>
<td><a class="image" href="http://wiki.seloc.org/a/File:Diecast_-_Spark_-_Lotus_Evora_GTE_2011_Le_Mans_24_Hours_-_64_-_1-43.jpg" ><img src="Diecast_-_Spark_-_Lotus_Evora_GTE_2011_Le_Mans_24_Hours_-_64_-_1-43.jpg" width="200" />
</a></td></tr>
<tr>
<th>Spark</th>
<td>Lotus Evora GTE (2011) Le Mans 24 Hours - #65</td>
<td>1:43</td>
<td>Blue and White</td>
<td>Driven by James Rossiter, Jonathan Hirschi and Jonny Mowlem in the 2011 Le Mans 24hr, finishing 22nd overall.</td>
<td><a class="image" href="http://wiki.seloc.org/a/File:Diecast_-_Spark_-_Lotus_Evora_GTE_2011_Le_Mans_24_Hours_-_64_-_1-43.jpg" ><img src="Diecast_-_Spark_-_Lotus_Evora_GTE_2011_Le_Mans_24_Hours_-_64_-_1-43.jpg" width="200" />
</a></td></tr>
<tr>
<th>Spark</th>
<td>Lotus Evora S (2010)</td>
<td>1:43</td>
<td>White</td>
<td />
<td><a class="image" href="http://wiki.seloc.org/a/File:Diecast_-_Spark_-_Lotus_Evora_S_2010_-_1-43.jpg" ><img src="Diecast_-_Spark_-_Lotus_Evora_S_2010_-_1-43.jpg" width="200" />
</a></td></tr>
<tr>
<th>Spark</th>
<td>Lotus Evora S Caribinieri (2011)</td>
<td>1:43</td>
<td>Blue</td>
<td>Pre-order</td>
<td><a class="image" href="http://wiki.seloc.org/a/File:Diecast_-_Spark_-_Lotus_Evora_S_Caribinieri_2011_-_1-43.jpg" ><img src="Diecast_-_Spark_-_Lotus_Evora_S_Caribinieri_2011_-_1-43.jpg" width="200" />
</a></td></tr>
<tr>
<th>Spark</th>
<td>Lotus Evora Type 124 Cup</td>
<td>1:43</td>
<td>Green and yellow</td>
<td />
<td><a class="image" href="http://wiki.seloc.org/a/File:Diecast_-_Spark_-_Lotus_Evora_Type_124_Cup_-_1-43.jpg" ><img src="Diecast_-_Spark_-_Lotus_Evora_Type_124_Cup_-_1-43.jpg" width="200" />
</a></td></tr>
<tr>
<th>Spark</th>
<td>Lotus Evora Type 124 Endurance</td>
<td>1:43</td>
<td>White and Yellow</td>
<td />
<td><a class="image" href="http://wiki.seloc.org/a/File:Diecast_-_Spark_-_Lotus_Evora_Type_124_Endurance_-_1-43.jpg" ><img src="Diecast_-_Spark_-_Lotus_Evora_Type_124_Endurance_-_1-43.jpg" width="200" />
</a></td></tr></table></div>

<h2><span class="mw-headline" id="Exige">Exige</span></h2>


<div style="page-break-inside: avoid;">
<table class="wikitable">
<tr>
<th>Manufacturer</th>
<th>Name</th>
<th>Scale</th>
<th>Colours</th>
<th>Notes</th>
<th>Image</th></tr>
<tr>
<th>IXO</th>
<td>Lotus Exige Sprint (2006)</td>
<td>1:43</td>
<td>Blue and white</td>
<td />
<td><a class="image" href="http://wiki.seloc.org/a/File:Diecast_-_IXO_-_Lotus_Exige_Sprint_Edition_Blue_2006_-_1-43.jpg" ><img src="Diecast_-_IXO_-_Lotus_Exige_Sprint_Edition_Blue_2006_-_1-43.jpg" width="200" />
</a></td></tr>
<tr>
<th>Spark</th>
<td>Lotus Exige R-GT (2011)</td>
<td>1:43</td>
<td />
<td>Exige R-GT Rally Car

Colour unconfirmed</td>
<td><a class="image" href="http://wiki.seloc.org/a/File:Diecast_-_Spark_-_Lotus_Exige_R-GT_2011_-_1-43.jpg" ><img src="Diecast_-_Spark_-_Lotus_Exige_R-GT_2011_-_1-43.jpg" width="200" />
</a></td></tr>
<tr>
<th>Spark</th>
<td>Lotus Exige S (2011)</td>
<td>1:43</td>
<td>Pearl White</td>
<td>Frankfurt Show Car</td>
<td><a class="image" href="http://wiki.seloc.org/a/File:Diecast_-_Spark_-_Lotus_Exige_S_2011_-_1-43.jpg" ><img src="Diecast_-_Spark_-_Lotus_Exige_S_2011_-_1-43.jpg" width="200" />
</a></td></tr></table></div>

<h2><span class="mw-headline" id="F1">F1</span></h2>

<h2><span class="mw-headline" id="Classics">Classics</span></h2>

<p>








</p>