
<p>Plans Motorsport: The Stig Challenge <a class="external autonumber" href="http://www.plansmotorsport.com/training/" rel="nofollow">[1]</a></p>

<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Name  </th>
<th>Car / Specification </th>
<th>Time</th></tr>
<tr>
<td>Cunpr </td>
<td>Noble M12 2.5, Ohlins, A048s </td>
<td>1.27.90</td></tr>
<tr>
<td>Reasonablekeith </td>
<td>Elise s1, Nitrons, 888s, Honda NA </td>
<td>1.27.99</td></tr>
<tr>
<td>James T </td>
<td>Exige S2 Cup 240, Ohlins, A048&#39;s </td>
<td>1:29.8</td></tr>
<tr>
<td>Mick43 </td>
<td>VX220 NA, Nitrons, 888s, 1144s, Stage1 </td>
<td>1:33.0</td></tr>
<tr>
<td>Henry B </td>
<td>Exige S2 NA, Ohlins, A048&#39;s </td>
<td>1:34.2</td></tr>
<tr>
<td>Max F </td>
<td>Elise S2 135R, standard, A048s </td>
<td>1:35.9</td></tr>
<tr>
<td>Kirkster</td>
<td>Elise S2 135R, standard, A048s </td>
<td>1:35.9</td></tr>
<tr>
<td>Dave </td>
<td>VXT Regal Stage 2 </td>
<td>1:38.0</td></tr>
<tr>
<td>JADCampbell </td>
<td>Elise S1 - Bog standard 118bhp + road tyres </td>
<td>1:38.2</td></tr>
<tr>
<td>MLapicki </td>
<td>Elise S1 - Bog standard 118bhp + road tyres </td>
<td>1:38.4</td></tr>
<tr>
<td>Srce </td>
<td>Elise S2 - Bog standard 120bhp + road tyres (RE040)</td>
<td>1:38.6</td></tr>
<tr>
<td>Richyroff </td>
<td>VX220 NA Completely Standard </td>
<td>1:39.4</td></tr>
<tr>
<td>Amoger </td>
<td>VXT TMS Stage 1 </td>
<td>1:39.4</td></tr>
<tr>
<td>Vix </td>
<td>VX220 NA, Nitrons, A048s, 1155s, Stage 2 </td>
<td>1:40.2</td></tr>
<tr>
<td>NickH </td>
<td>VXT Regal Stage 1 </td>
<td>1:42.1</td></tr>
<tr>
<td>ChazUwe </td>
<td>VX220 NA Stage 2 </td>
<td>1:42.2 (damp)
</td></tr></table></div>

