<h3><span class="mw-headline" id="Forum_Acronyms_.26_Abbreviations">Forum Acronyms &#38; Abbreviations</span></h3>


<div style="page-break-inside: avoid;">
<table>
<tr>
<td>ACBC</td>
<td><b>C</b>olin <b>C</b>hapman (Anthony Colin Bruce Chapman)</td></tr>
<tr>
<td>AFAIK</td>
<td><b>A</b>s <b>F</b>ar <b>A</b>s <b>I</b> <b>K</b>now</td></tr>
<tr>
<td>BS</td>
<td><b>B</b>ullshit</td></tr>
<tr>
<td>BTTT</td>
<td><b>B</b>ack <b>T</b>o <b>T</b>he <b>T</b>op</td></tr>
<tr>
<td>CBA</td>
<td><b>C</b>an&#39;t <b>B</b>e <b>A</b>rsed</td></tr>
<tr>
<td>DAFL</td>
<td><b>D</b>ing <b>A</b> <b>F</b>**king <b>L</b>ing</td></tr>
<tr>
<td><a href="http://wiki.seloc.org/a/Dpm" title="Dpm">DPM</a></td>
<td><b>D</b>ouble <b>P</b>osting <b>M</b>uppet </td></tr>
<tr>
<td>EFA</td>
<td><b>E</b>dited <b>F</b>or <b>A</b>ccuracy </td></tr>
<tr>
<td>TPM</td>
<td><b>T</b>riple <b>P</b>osting <b>M</b>uppet </td></tr>
<tr>
<td>FFS</td>
<td><b>F</b>or <b>F</b>**k&#39;s <b>S</b>ake</td></tr>
<tr>
<td>FRO</td>
<td><b>F</b>**k <b>R</b>ight <b>O</b>ff</td></tr>
<tr>
<td>GAIDGMLOL</td>
<td><b>G</b>enuinely <b>A</b>nd <b>I</b> <b>D</b>o <b>M</b>ean <b>G</b>enuinely <b>L</b>aughing <b>O</b>ut <b>L</b>oud</td></tr>
<tr>
<td>g/f</td>
<td><b>G</b>irl<b>f</b>riend</td></tr>
<tr>
<td>GF </td>
<td><b>G</b>et <b>F</b>**ked</td></tr>
<tr>
<td>GJOB   </td>
<td><b>G</b>arage <b>J</b>ewellery <b>O</b>wning <b>B</b>a***rd</td></tr>
<tr>
<td>GLOL</td>
<td><b>G</b>enuinely <b>L</b>aughing <b>O</b>ut <b>L</b>oud</td></tr>
<tr>
<td>GTFO</td>
<td><b>G</b>et <b>T</b>he <b>F</b>*ck <b>O</b>ut</td></tr>
<tr>
<td>HTH</td>
<td><b>H</b>ope <b>T</b>hat <b>H</b>elps</td></tr>
<tr>
<td>IIRC</td>
<td><b>I</b>f <b>I</b> <b>R</b>ecall <b>C</b>orrectly</td></tr>
<tr>
<td>IMHO</td>
<td><b>I</b>n <b>M</b>y <b>H</b>umble <b>O</b>pinion</td></tr>
<tr>
<td>IMNSHO</td>
<td><b>I</b>n <b>M</b>y <b>N</b>ot <b>S</b>o <b>H</b>umble <b>O</b>pinion</td></tr>
<tr>
<td>IMO</td>
<td><b>I</b>n <b>M</b>y <b>O</b>pinion</td></tr>
<tr>
<td>IYSWIM</td>
<td><b>I</b>f <b>Y</b>ou <b>S</b>ee <b>W</b>hat <b>I</b> <b>M</b>ean</td></tr>
<tr>
<td>LMAO</td>
<td><b>L</b>augh <b>M</b>y <b>A</b>ss <b>O</b>ff</td></tr>
<tr>
<td>LOL</td>
<td><b>L</b>augh <b>O</b>ut <b>L</b>oud</td></tr>
<tr>
<td>MFTTL </td>
<td><b>M</b>ore <b>F</b>***ing <b>T</b>hings <b>T</b>o <b>L</b>earn</td></tr>
<tr>
<td>MMC</td>
<td><b>M</b>ade <b>M</b>e <b>C</b>huckle</td></tr>
<tr>
<td>PITA</td>
<td><b>P</b>ain <b>I</b>n <b>T</b>he <b>A</b>**e / <b>A</b>** </td></tr>
<tr>
<td>ROFLOL</td>
<td><b>R</b>olling <b>O</b>n <b>F</b>loor <b>L</b>aughing <b>O</b>ut <b>L</b>oud </td></tr>
<tr>
<td>SEOT</td>
<td><b>S</b>orted <b>E</b>nd <b>O</b>f <b>T</b>hread</td></tr>
<tr>
<td>SHED/Shed</td>
<td>Term to describe a cosmetically neglected car, opposite of GJOB&#39;s car</td></tr>
<tr>
<td>SITT</td>
<td>Speccy IT Tw*t.  Term to describe a lot of SELOCs members.</td></tr>
<tr>
<td>SWMBO</td>
<td><b>S</b>he <b>W</b>ho <b>M</b>ust <b>B</b>e <b>O</b>beyed</td></tr>
<tr>
<td>TADTS</td>
<td><b>T</b>hey <b>A</b>ll <b>D</b>o <b>T</b>hat <b>S</b>ir</td></tr>
<tr>
<td>TAGL</td>
<td><b>T</b>here&#39;s <b>A</b> <b>G</b>ood <b>L</b>ad</td></tr>
<tr>
<td>TIA</td>
<td><b>T</b>hanks <b>I</b>n <b>A</b>dvance</td></tr>
<tr>
<td>TKB</td>
<td><b>T</b>ea --&#62; <b>K</b>ey<b>b</b>oard</td></tr>
<tr>
<td>TTIWWP</td>
<td><b>T</b>his <b>T</b>hread <b>I</b>s <b>W</b>orthless <b>W</b>ithout <b>P</b>ictures</td></tr>
<tr>
<td>VOE</td>
<td><b>V</b>oice <b>O</b>f <b>E</b>xperience</td></tr>
<tr>
<td>VHPD</td>
<td><b>V</b>ery <b>H</b>igh <b>P</b>erformance <b>D</b>erivative  or <b>V</b>ery <b>H</b>igh <b>P</b>robability of <b>D</b>estruction</td></tr>
<tr>
<td>WJOB   </td>
<td><b>W</b>rist <b>J</b>ewellery <b>O</b>wning <b>B</b>a***rd (see NeilR)</td></tr>
<tr>
<td>WWDD</td>
<td><b>W</b>hat <b>W</b>ould <b>D</b>avey <b>D</b>o?</td></tr>
<tr>
<td>WTFAYTAA</td>
<td><b>W</b>hat <b>T</b>he <b>F</b>**k <b>A</b>re <b>Y</b>ou <b>T</b>alking <b>A</b>bout <b>A</b>dam</td></tr>
<tr>
<td>Z4</td>
<td><b>Z</b>oe had the <b>4</b>titude to buy the greatest sports car ever built, much better than an Elise or Exige.</td></tr></table></div>

<p><a class="external text" href="http://en.wikipedia.org/wiki/Acronym" rel="nofollow">Wikipedia on Acronyms</a></p>
<p><a class="external text" href="http://www.acronymfinder.com/" rel="nofollow">AcronymFinder.com Every Acronym Ever!</a></p>
