
<p>Fancy helping SELOC.  Please add your name below and what you&#39;re happy to help with.</p>

<div style="page-break-inside: avoid;">
<table border="2" cellpadding="3" class="wikitable sortable">
<caption>Sortable table</caption>
<tr>
<th scope="col">Name </th>
<th class="unsortable" scope="col">Skill</th>
<th class="unsortable" scope="col">Linked In</th></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/Martin%20Dower" rel="nofollow">Martin Dower</a>
</td>
<td>CEO, Connected - Internet Technology Company. Develop and deploy personalised web assets (think Amazon/Ebay) that use profiling, behavioural targeting &#38; A/B testing
</td>
<td><a class="external text" href="http://uk.linkedin.com/in/dower" rel="nofollow">Linked In</a></td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/Stephanie%20Plum" rel="nofollow">Stephanie Plum</a> </td>
<td>I certainly wouldn&#39;t want to do anything full time, but am happy to volunteer for bits of it. Maybe the database management bit, email enquiries and/or membership pack post outs.
</td>
<td>Linked In</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/Mr%20Wiki" rel="nofollow">Mr Wiki</a>
</td>
<td>Anything need to be done in the Techwiki or local events / meets
</td>
<td><a class="external text" href="http://uk.linkedin.com/pub/gareth-shepherd/19/450/194" rel="nofollow">Linked In</a></td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/Marcus" rel="nofollow">Marcus</a>
</td>
<td>Happy to help out with routes and creating TomTom files.  City of London Mon - Fri if that is of any use.
</td>
<td>Linked In</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/eddie" rel="nofollow">eddie</a>
</td>
<td>Hirsute gossiping IT geek. Knows everything, buys old houses.
</td>
<td>Linked In</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/ReVolt" rel="nofollow">ReVolt</a>
</td>
<td>Web Design, SEO, Graphics and Photography, Norwich.
</td>
<td>Linked In</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/gibbo" rel="nofollow">gibbo</a>
</td>
<td>Maker (sometimes), buyer (sometimes), distributor and eater of cake.
</td>
<td>Linked In</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/nick" rel="nofollow">nick</a>
</td>
<td>International Head of Everything for Hermes Parcelnet (UK &#38; European parcel delivery)
</td>
<td><a class="external text" href="http://www.linkedin.com/profile/view?id=22399892" rel="nofollow">Linked In</a></td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/Ozzy_Uk" rel="nofollow">Ozzy_Uk</a>
</td>
<td>IT - Specifically Apple Macs, Xsan, PCs, Hardware &#38; Software, Key skills in AV, specifically Video Calibration and Control system programming for Crestron. Side hobbies include saving the world with crazy ideas for eco-friendly performance cars, and generally trying to take on too many projects at any one time, including having a familly, building a house, doing a v8 lotus conversion, and trying to make an eco-friendly-ish performance car.
</td>
<td><a class="external text" href="http://www.linkedin.com/profile/view?id=4146669" rel="nofollow">Linked In</a></td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/Geordie" rel="nofollow">Geordie</a>
</td>
<td>Web developer - Server and client side development, ASP.NET &#38; MVC framework, security testing and resilience, SEO, MS Team foundation server admin, IIS config &#38; webserver management etc etc
</td>
<td><a class="external text" href="http://uk.linkedin.com/in/dandbowman" rel="nofollow">Linked In</a></td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/R6RYM" rel="nofollow">R6RYM</a>
</td>
<td>Head of Bullion Trading in Luxembourg. Theatre stage management/light design-programming, Cricket/rugby coaching, Master Swordsman
</td>
<td>Linked In</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/Mike-Bracknell" rel="nofollow">Mike-Bracknell</a>
</td>
<td>IT Director of a small, but successful IT Support &#38; Web Design company with a USP of bringing Enterprise-level IT to the SME market and doing it without the jargon.
</td>
<td>Linked In</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/Pinkie" rel="nofollow">Pinkie</a>
</td>
<td>AutoCAD Designer (Computer Aided Design Specialist): Architectural Drawings &#38; Planning Advice for extensions and building alterations. 2D &#38; 3D Floor Plans, Elevations &#38; Visuals provided for Architectural purposes; Planning applications, Estate Agents, Interior Designers, Air Con Engineers etc. 14 years experience, so drop me a line and I&#39;ll try and help! :) 
</td>
<td>Linked In</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/jont-" rel="nofollow">jont-</a>
 </td>
<td>Embedded software engineer. Encyclopedic knowledge of the best driving roads in southern England and most of Wales
</td>
<td>Linked In </td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/sho" rel="nofollow">sho</a>
</td>
<td>Random sentence generator, purveyor of slanty sex toys.
</td>
<td>Linked In</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/rich" rel="nofollow">rich</a>
</td>
<td>Website stuff, FEA &#38; CFD (ANSYS)
</td>
<td><a class="external text" href="http://uk.linkedin.com/in/mrrichardmitchell" rel="nofollow">LinkedIn</a></td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/twink" rel="nofollow">twink</a>
</td>
<td>Video editor and After Effects diddler, past lives include B2B marketing (mostly vehicle finance), 13 years of product management &#38; NPD, project management (successfully bluffed my way through leading the integration of HSBC Vehicle Finance into Lex despite not understanding the IT and having no proper PM training) and accountancy but I don&#39;t like to talk about that
</td>
<td><a class="external text" href="http://www.linkedin.com/in/nickaddison" rel="nofollow">LinkedIn</a></td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/LivinLaVidaLotus" rel="nofollow">LivinLaVidaLotus</a>
</td>
<td>All things Internet, web hosting, cloud hosting, domains, SSL certificates, un-managed server hosting, leased lines, fully managed hosting - including LAMP application scaling consultancy.
</td>
<td><a class="external text" href="http://uk.linkedin.com/in/karlaustinuk" rel="nofollow">LinkedIn</a></td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/AndyKay" rel="nofollow">AndyKay</a>
</td>
<td>Web design + PHP Web dev + SEO + Bespoke Cloud based CRMs
</td>
<td><a class="external text" href="http://www.linkedin.com/profile/view?id=103854504" rel="nofollow">LinkedIn</a></td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/flying%20banana" rel="nofollow">flying banana</a>
</td>
<td>IT Director with experience in Communications and Collaboration tools, Custom Helmet Design and Paint (lidzart.com), Mechanical Engineering background - competent with power tools :)
</td>
<td><a class="external text" href="http://lnkd.in/DgxY4Y" rel="nofollow">LinkedIn</a></td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/Col" rel="nofollow">Col</a>
</td>
<td>Employment Law Consultant (UK and Euro). Employment Advisor, Hampshire CAB.
</td>
<td /></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/the+DustRoom" rel="nofollow">the DustRoom</a>
</td>
<td>Computer programmer; creator of desktop software, high-end web shizzle and mobile apps. Objective-C, ActionScript 3, HTML5, CSS3, PHP, jQuery, PureMVC etc. Also music creator and HD video fiddler.
</td>
<td><a class="external text" href="http://uk.linkedin.com/in/thedustroom" rel="nofollow">Linked In</a></td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/alunr" rel="nofollow">AlunR-</a>
</td>
<td>Web development, IT Support and Planning, Consultancy
</td>
<td><a class="external text" href="http://uk.linkedin.com/in/alunr" rel="nofollow">Linked In</a></td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/alunr" rel="nofollow">Tegra_Boy</a>
</td>
<td>Alleged marketing whizz kid and apprentice sales guru at NVIDIA. In what little spare time my work/wife balance allows, I love pretending to be a drum and bass DJ, the captain of many a four-wheeled craft, whilst furious trying to manage my colossal collection of coloured buttons.
</td>
<td><a class="external text" href="http://uk.linkedin.com/pub/chris-pomroy/13/307/a60" rel="nofollow">Linked In</a></td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/anth" rel="nofollow">Anth</a>
</td>
<td>Short bald CATIA CAD monkey from the North. Specialising in Automotive design (interior trim, acoustics and heatshields)
</td>
<td>Linked Out</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/tyrex" rel="nofollow">tyrex</a>
</td>
<td>Small business investor - talk to me.
</td>
<td><a class="external text" href="http://lnkd.in/jh_xNk" rel="nofollow">Linked In</a></td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/wardlem" rel="nofollow">wardlem</a>
</td>
<td>Tax advice at £1000 per hour
</td>
<td>Linked In</td></tr>
<tr>
<td><a class="external text" href="http://forums.seloc.org/m/username" rel="nofollow">your username here</a>
</td>
<td>What can you do, where &#38; when?
</td>
<td>Linked In</td></tr></table></div>

