
<p><b>Numbers of articles in this Wiki </b></p> 
<p><b>Number of uploaded files </b></p>
<p><a href="http://wiki.seloc.org/a/Special:Statistics" title="Special:Statistics">Special:Statistics</a></p>
<p><a href="http://wiki.seloc.org/a/Special:Popularpages" title="Special:Popularpages">Special:Popularpages</a></p>
