
<p><b>Diesel</b></p>
<p>Commonly found on roads and can interfere with the handling of a Lotus, to such an extent that the driver can lose control - in most cases this results in kerbing (requiring a geo) or going backwards through a hedge / wall (requiring a new clam and a change of pants).</p>
