
<p>A DPM is a topic that has been posted more than once on the forums. It stands for &#39;Double Posting Muppet&#39;</p>
<p>(DPM is one of many forum <a href="http://wiki.seloc.org/a/Acronyms" title="Acronyms">acronyms and abbreviations</a>).</p>
<p>Some DPMs recur when users new to the forums locate stories or videos on the web that are of interest to Lotus drivers, but have been around for some time.</p>
<p>Popular subjects include:</p>

<p><a class="external autonumber" href="http://news.bbc.co.uk/1/hi/england/devon/4484212.stm" rel="nofollow">[1]</a>
The unfortunate story of an Exige driver whose car was wrecked by an employee of a valeting company.</p>
<p><a class="external autonumber" href="http://www.youtube.com/watch?v=JTXbEg6yFCw" rel="nofollow">[2]</a>
A video of an undercover police car chasing a motorsport Elise with the catchy numberplate &#39;BLOWN K&#39;</p>
<p><a class="external autonumber" href="http://www.youtube.com/watch?v=bjiF21sFAp4" rel="nofollow">[3]</a> Blue Angel - a modified elise S1. We&#39;ve all seen it, and we all think it&#39;s rubbish.</p>
<p><a class="external autonumber" href="http://www.lotustalk.com/forums/showthread.php?t=30674" rel="nofollow">[4]</a> Pictures of a US spec elise which has fallen off a set of ramps. </p>
<p><a class="external autonumber" href="http://www.conceptcarz.com/vehicle/z10240/Lotus_Sport%20Exige%20Espionage/default.aspx" rel="nofollow">[5]</a> The Lotus Exige Espionage. It isn&#39;t James Bond&#39;s next car, it&#39;s just an old special edition with an impractical &#34;saville-row&#34; interior.</p>
<p><a class="external text" href="http://www.dailymail.co.uk/pages/live/articles/news/news.html?in_article_id=480288&#38;in_page_id=1770" rel="nofollow"><a class="external free" href="http://www.dailymail.co.uk/pages/live/articles/news/news.html?in_article_id=480288&#38;in_page_id=1770" rel="nofollow">http://www.dailymail.co.uk/pages/live/articles/news/news.html?in_article_id=480288&#38;in_page_id=1770</a></a> Vandalised Aqua Lotus elise in London. The vandals were tracked down by some unknown Lotus Owners Club.</p>
<p><a class="external autonumber" href="http://www.intuh.net/barnfinds/afa70.htm" rel="nofollow">[6]</a> A man buys a farm, and finds a barn full of cars. And it&#39;s not real.</p>
<p><a class="external autonumber" href="http://www.autoblog.com/2008/02/14/geneva-08-preview-rinspeed-squba-concept-for-the-spy-who-lov/" rel="nofollow">[7]</a> Some swiss loons have made an elise that can go underwater.</p>
<p><a class="external text" href="http://video.kenblockracing.com/flash/small_player/preloader.swf?vendor_id=204&#38;media_id=9183&#38;bgcolor=FFFFFF&#38;autoplay=0" rel="nofollow"><a class="external free" href="http://video.kenblockracing.com/flash/small_player/preloader.swf?vendor_id=204&#38;media_id=9183&#38;bgcolor=FFFFFF&#38;autoplay=0" rel="nofollow">http://video.kenblockracing.com/flash/small_player/preloader.swf?vendor_id=204&#38;media_id=9183&#38;bgcolor=FFFFFF&#38;autoplay=0</a></a>  Ken Block driving a scooby very sideways. Posted at least once every week for the past month or so.
</p>
<p><a class="external text" href="http://arc.seloc.org/viewthread.php?tid=76022&#38;page=1#pid2131719" rel="nofollow"><a class="external free" href="http://arc.seloc.org/viewthread.php?tid=76022&#38;page=1#pid2131719" rel="nofollow">http://arc.seloc.org/viewthread.php?tid=76022&#38;page=1#pid2131719</a></a>
Button in F1 accident - just don&#39;t please.....</p>
<p><a class="external autonumber" href="http://forums.seloc.org/viewthread.php?tid=218477" rel="nofollow">[8]</a>Snatch Wars - it was funny and we didn&#39;t want to add it but as Brick Top says &#34;You&#39;re on thin f*#king ice my pedigree chums, and I shall be under it when it breaks. Now, f*#k off&#34;.</p>
<p><a class="external autonumber" href="http://www.youtube.com/watch?v=V0gHZrowzlU" rel="nofollow">[9]</a>Dean Evans overtaking about 30 Elises in the first lap of a race at Bathurst.</p>
<p><a class="external autonumber" href="http://forums.seloc.org/viewthread.php?goto=3790059" rel="nofollow">[10]</a> The joke about men being agony aunts (also see <a class="external autonumber" href="http://forums.seloc.org/viewthread.php?goto=3804564" rel="nofollow">[11]</a> and <a class="external autonumber" href="http://forums.seloc.org/viewthread.php?goto=4232574" rel="nofollow">[12]</a>)</p>
<p><a class="external autonumber" href="http://forums.seloc.org/viewthread.php?tid=246740" rel="nofollow">[13]</a> Beak&#39;s monthly, weekly or sometimes daily spotted of GaryDVO (also see <a class="external text" href="http://forums.seloc.org/viewthread.php?tid=242706&#38;page=1#pid4290485" rel="nofollow"><a class="external free" href="http://forums.seloc.org/viewthread.php?tid=242706&#38;page=1#pid4290485" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=242706&#38;page=1#pid4290485</a></a> <a class="external text" href="http://forums.seloc.org/viewthread.php?tid=243530&#38;page=1#pid4302927" rel="nofollow"><a class="external free" href="http://forums.seloc.org/viewthread.php?tid=243530&#38;page=1#pid4302927" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=243530&#38;page=1#pid4302927</a></a>, <a class="external text" href="http://forums.seloc.org/viewthread.php?tid=231570&#38;page=1#pid4129488" rel="nofollow"><a class="external free" href="http://forums.seloc.org/viewthread.php?tid=231570&#38;page=1#pid4129488" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=231570&#38;page=1#pid4129488</a></a> <a class="external text" href="http://forums.seloc.org/viewthread.php?tid=226929&#38;page=1#pid4066537" rel="nofollow"><a class="external free" href="http://forums.seloc.org/viewthread.php?tid=226929&#38;page=1#pid4066537" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=226929&#38;page=1#pid4066537</a></a> <a class="external text" href="http://forums.seloc.org/viewthread.php?tid=219092&#38;page=1#pid3963429" rel="nofollow"><a class="external free" href="http://forums.seloc.org/viewthread.php?tid=219092&#38;page=1#pid3963429" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=219092&#38;page=1#pid3963429</a></a> <a class="external text" href="http://forums.seloc.org/viewthread.php?tid=206578&#38;page=1#pid3805122" rel="nofollow"><a class="external free" href="http://forums.seloc.org/viewthread.php?tid=206578&#38;page=1#pid3805122" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=206578&#38;page=1#pid3805122</a></a> <a class="external text" href="http://forums.seloc.org/viewthread.php?tid=206469&#38;page=1#pid3804217" rel="nofollow"><a class="external free" href="http://forums.seloc.org/viewthread.php?tid=206469&#38;page=1#pid3804217" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=206469&#38;page=1#pid3804217</a></a>)</p>
<p><a class="external autonumber" href="http://forums.seloc.org/viewthread.php?tid=283633" rel="nofollow">[14]</a>)
No, there will not be an Abarth Elise</p>
<p><a class="external text" href="http://forums.seloc.org/viewthread.php?tid=334350&#38;page=1#pid5664478" rel="nofollow"><a class="external free" href="http://forums.seloc.org/viewthread.php?tid=334350&#38;page=1#pid5664478" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=334350&#38;page=1#pid5664478</a></a> Veet for men, this was funny........last year <a class="external free" href="http://www.amazon.co.uk/Veet-Men-Hair-Removal-Creme/dp/B000KKNQBK" rel="nofollow">http://www.amazon.co.uk/Veet-Men-Hair-Removal-Creme/dp/B000KKNQBK</a></p>
<p>NO NOT A LOTUS, BUT LOOK AT THIS! ugly green XTamy</p>

<p>Blue S1 elise behind hammond on topgear 21/06/09</p>