<h3><span class="mw-headline" id="Post_Counts_and_Speeds">Post Counts and Speeds</span></h3>


<ul>
<li>Burt&#39;s speed will always be slower than Julie&#39;s regardless of anyones post count***</li>
<li>Marcus&#39;s Post count doesn&#39;t matter as his car is always broken <a class="external autonumber" href="http://forums.seloc.org/viewthread.php?tid=119451" rel="nofollow">[1]</a><a class="external autonumber" href="http://forums.seloc.org/viewthread.php?tid=130114" rel="nofollow">[2]</a> <a class="external autonumber" href="http://forums.seloc.org/viewthread.php?tid=112234" rel="nofollow">[3]</a> <a class="external autonumber" href="http://forums.seloc.org/viewthread.php?tid=91967" rel="nofollow">[4]</a> <a class="external autonumber" href="http://thisis.seloc.org/viewthread.php?tid=91973" rel="nofollow">[5]</a> <a class="external autonumber" href="http://thisis.seloc.org/viewthread.php?tid=126967" rel="nofollow">[6]</a> <a class="external autonumber" href="http://thisis.seloc.org/viewthread.php?tid=97583" rel="nofollow">[7]</a></li>
</ul>







<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Post Count </th>
<th>Speed</th></tr>
<tr>
<td>0</td>
<td>You may WALK past a showroom and look in.</td></tr>
<tr>
<td>1 - 100</td>
<td>You may look at someone else&#39;s car.</td></tr>
<tr>
<td>101 - 199</td>
<td>You can now pour petrol down the side of your car when filling it up and post about it.</td></tr>
<tr>
<td>200 - 399</td>
<td>You may look at your car.</td></tr>
<tr>
<td>400 - 800</td>
<td>You may take pictures of your car and share (posting images of Renault Clios will only be accepted if the poster is a retired grandmother who uses it as her shopping car and to get to bingo as that is what they were designed for).</td></tr>
<tr>
<td>801 - 999</td>
<td>Sit in your car and make brum brum noises.
<a class="image" href="http://wiki.seloc.org/a/Image:20LT4855s.jpg" ><img src="20LT4855s.jpg" width="220" />
</a>
© Simon Trees</td></tr>
<tr>
<td>1,000+</td>
<td>Drive your car in line with the speed limit during day light hours if dry.</td></tr>
<tr>
<td>1,500</td>
<td>You may now join the SELOC F1 league at <a class="external free" href="http://fantasyf1game.net/" rel="nofollow">http://fantasyf1game.net/</a>.</td></tr>
<tr>
<td>2,000+</td>
<td>You may now drive in the wet in your car.</td></tr>
<tr>
<td>4,000+</td>
<td>You may now drive your car at night. </td></tr>
<tr>
<td>5,000+</td>
<td>You may advise others over the recommended purchase price of second hand garden structures (dry or moist).</td></tr>
<tr>
<td>6,000+</td>
<td>You may now brag about breaking the speed limit, however you are not actually allowed to drive at speed yet.</td></tr>
<tr>
<td>7,658</td>
<td>You may now consider putting on sticky tyres, only to be told that you should upgrade your toe links first</td></tr>
<tr>
<td>8,000+</td>
<td>You may now discuss vapour ware, you know all those upgrades that you know you want, but will never apply.</td></tr>
<tr>
<td>9,000+</td>
<td>You may drive at +5mph Over the speed limit.</td></tr>
<tr>
<td>10,000+</td>
<td>You may now post on threads warning other seloc members of the danger of &#39;diesel&#39; especially in the winter months when there is more &#39;diesel&#39; around.</td></tr>
<tr>
<td>12,000+</td>
<td>You are now allowed to use sticky tryes on your Elise</td></tr>
<tr>
<td>14,000+</td>
<td>You are now allowed to travel at 100mph + and discuss on Seloc</td></tr>
<tr>
<td>20,000+</td>
<td>You can now drive around trees with ease.</td></tr>
<tr>
<td>22,000+</td>
<td>You may now post up video&#39;s on YouTube of excess speed and chasing a motorbike on the M1</td></tr>
<tr>
<td>24,000+</td>
<td>Drive as fast as you like anywhere, any time. You are a driving God! (Excluding Burt)</td></tr>
<tr>
<td>30,036</td>
<td>When you think there is a 30,000 Post count in the Wiki and you missed it. Or your name is Marcus and you&#39;re a cock!</td></tr>
<tr>
<td>35,000</td>
<td>The laws of Physics no longer apply.</td></tr>
<tr>
<td>44,444</td>
<td>This is the time to tell SELOC of your cunning plan.</td>
<td></td></tr>
<tr>
<td>50,001</td>
<td>Welcome to the half century club. There was a little party planned with finger food and everything. Unfortunately Taz was here first and he&#39;s eaten everything. No, I think I can see a cheese and grape stick at the...........No he saw it to.</td></tr></table></div>


<ul>
<li>Suggestions as to the amount of posts needed to kill a badger are greatly appreciated.</li>
</ul>



<div style="page-break-inside: avoid;">
<table border="1">
<tr>
<th>Post Count </th>
<th>Bonus Hiatus</th></tr>
<tr>
<td>720</td>
<td>An important post where you should enquire to the cost of any item</td></tr>
<tr>
<td>1380</td>
<td>Time to slip into your Safari driving gloves and hit the Savannah, posting a family photo with your trophy wins bonus points, everything goes, but Giraffes, as that would be sick.</td></tr>
<tr>
<td>7400</td>
<td>A very dangerous post count to be on, suggest you continue on to 7401 to avoid a foot slipping moment</td></tr>
<tr>
<td>20637</td>
<td>Time to moan that one of your robot cleaning devices has gone blind...</td></tr>
<tr>
<td>100001</td>
<td>Time to rush outside and touch the first real person you see, conversation will take a few thousand more posts, so don&#39;t worry too much.</td></tr></table></div>

