
<p><b>Things that Taz is not allowed to do on SELOC</b></p>
<p>1. Pronounce other SELOC members as dead, even if they look it.</p>
<p>Tasmanian Devil; &#34;Taz&#34; for short, is described as: </p>
<p>&#34;A strong murderous beast, jaws as powerful as a steel trap, has ravenous appetite, eats tigers, lions, elephants, buffaloes, donkeys, giraffes, octopuses, rhinoceroses, and moose.&#34; However, this definition is only partially accurate. He also eats chickens, ducks, and especially rabbits.</p>

<p>Whirring around like a tornado, slicing through trees like a rotary saw, and feasting on an entire ecosystem of jungle creatures, Taz has but one thing on his mind: Eating. 
The carnivorous native of Tasmania has the power to devour everything and anything in a single gulp. When this furry, salivating beast comes a-runnin&#39;, giraffes scurry for their lives, alligators turn themselves into luggage to hide, and sharks literally leap out of the water. 
And even if you take Taz out of his natural habitat, it is nearly impossible to take away his appetite.
Even on Christmas Eve in the suburbs, Taz wants to eat.
Taz is incredibly rare.
You would be lucky to come upon him in a zoo.
As with all dangerous creatures confining him can be a tricky proposition.
Taz does not like being caged. He has a tendency to break free.
When he escapes, watch out! With Taz on the loose the zookeepers usually post a reward for his capture.
Only the most foolhardy and greedy of treasure seekers, Daffy Duck, would dare to attempt to capture the beast.
Even when armed with the full proof theory that music soothes the most savage beast, Daffy takes his life into his own hands when confronting Taz.</p>
<p>Should you ever encounter Taz yourself in the wild, remain calm and keep your wits about you. He does have a few weaknesses.
So if you see Taz with a napkin tied around his neck sizing you up for supper, please keep the following tips in mind:</p>
<p>• Taz has a weakness for a pretty female Devil. Whether the female is really Bugs Bunny in disguise or a real lady Devil. Taz can be temporary diverted by his attraction to the feminine.</p>
<p>• Another approach you can use to reroute Taz is to appeal to his paternal instinct. Hand Taz a bomb in a baby blanket, tell him he&#39;s a father, and run for your life!</p>
<p>• You can also appeal to Taz&#39;s largest weakness, his appetite. If you promise to cook him a good meal, sometimes he will forget that he trying to eat you! You can serve Taz &#34;wild turkey surprise&#34; he will be so excited that he won&#39;t realize that the turkey is supposed to be filled with stuffing, not a wick and explosive material. Give him enough explosive meals and he may actually refuse a meal.</p>
<p>• A clever disguise has been known to fool him. This strategy can also buy some &#34;get away&#34; time.</p>
<p>• Trying to fool Taz will only give you a temporary escape, not a permanent solution to your Devil problems. Bugs Bunny once made a quick escape from Taz by pretending he wasn&#39;t a rabbit, but a monkey. It took Taz a minute to realize this, and soon cornered Bugs, asking him, &#34;What for you say you monkey when you have puffy tail like rabbit?&#34;</p>
<p>• One final note: Never underestimate Taz. After tangling with Taz Bugs has learned that even Taz can surprise you sometimes. So keep a sharp eye out and keep your wits about you.</p>