
<p>SELOC is the Hampshire forum.</p>
<p>Writing more shit than anyone else since 2006.
In desperate need of a speelchecker.</p>
<p>Personal Info:</p>
<p>Gareth, 6&#39;8&#34;, has a fetish for superman t-shirts, unpowered racing, a bloke named Beak &#38; circle-jerks.</p>
<p>He also has a sense of humour.  Well, when we say &#34;sense of humour&#34;, we mean that people laugh at him, not with him.</p>
<p>Shouts obscenities every time he gets killed in an online game. </p>