<h3><span class="mw-headline" id="720">720</span></h3>


<p>The sacred SELOC number.</p>

<p>It dates back to December 2005.  The original thread no longer exists, but the earliest example of 720 banter (and clues to its origin) is believed to be ...
<a class="external free" href="http://arc.seloc.org/viewthread.php?tid=67348" rel="nofollow">http://arc.seloc.org/viewthread.php?tid=67348</a></p>
<p>The forum member responsible explains here:
<a class="external free" href="http://arc.seloc.org/viewthread.php?tid=113453&#38;page=1#pid2619671" rel="nofollow">http://arc.seloc.org/viewthread.php?tid=113453&#38;page=1#pid2619671</a></p>
<p>and he&#39;s right, he&#39;ll never live that down</p>
<h3><span class="mw-headline" id="See_Also">See Also</span></h3>

<p><a class="external free" href="http://en.wikipedia.org/wiki/720_%28number%29" rel="nofollow">http://en.wikipedia.org/wiki/720_%28number%29</a></p>
