
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:jason.JPG" title="Jason Plato."><img src="jason.JPG" alt="Jason Plato." title="Jason Plato." class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Jason Plato.</div></div>
</div>


<p><b>Jason Plato</b> </p>
<p>(born 14 October 1967 in Oxford, England)  is a British auto racing driver, currently living in Monte Carlo due to death threats. He was 2001 BTCC champion, and has finished top 5 in the championship 8 times, how we just don&#39;t know.</p>
<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<ul>
<li class="toclevel-1"><a href="#Career_Highlights">Career Highlights</a>
</li>
<li class="toclevel-1"><a href="#Dislikes">Dislikes</a>
</li>
<li class="toclevel-1"><a href="#Abnormalities">Abnormalities</a>
</li>
<li class="toclevel-1"><a href="#Fans">Fans</a>
</li>
<li class="toclevel-1"><a href="#See_Also">See Also</a>
</li>
</ul>
</ul>
</ul></td></tr></table><hr/>
<h3><span class="mw-headline" id="Career_Highlights">Career Highlights</span></h3>

<p>1997: P*ssed off Alain Menu for two years</p>
<p>1999: Spent three seasons p*ssing off Yvan Muller</p>
<p>2001: On the scrapheap</p>
<p>2004: Comeback with SEAT.  Gets on Muller&#39;s wick again</p>
<p>2005: Loses out to Matt Neal twice.  Not spotted offering congratulations</p>
<p>2007: Tries being nice to Giovanardi.  No-one falls for it.</p>
<p>2009: Even SEAT have had enough and have to close the whole team to get him out of the door</p>
<h3><span class="mw-headline" id="Dislikes">Dislikes</span></h3>

<p>Lotus Elise.</p>
<p>Cheese.</p>
<p>Matt Neal.</p>
<p>Yvan Muller.</p>
<p>Alain Menu.</p>
<h3><span class="mw-headline" id="Abnormalities">Abnormalities</span></h3>

<p>He has one arm that is 8&#34; longer than the other.</p>
<p>Along with his club foot driving a sports car can be a little problematic.</p>

<h3><span class="mw-headline" id="Fans">Fans</span></h3>

<p><a class="external text" href="http://forums.seloc.org/member.php?action=viewpro&#38;member=Phase+1" rel="nofollow">SELOC Member Phase 1</a></p>
<p><a class="external text" href="http://forums.seloc.org/member.php?action=viewpro&#38;member=Alex" rel="nofollow">SELOC Member Alex</a></p>
<h3><span class="mw-headline" id="See_Also">See Also</span></h3>

<p>The SELOC Shop for your very own Jason doll.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/image:potato.JPG" title="Only £7.20."><img src="potato.JPG" alt="Only £7.20." title="Only £7.20." class="location-left type-thumb" width="220" />
</a>
<div class="thumbcaption">Only £7.20.</div></div>
</div>





