
<p>Yes, you can get your lowered Elise on the Eurotunnel.
Thousands have for Euro trackdays/Stelvio/Booze runs etc
They put you on the lower deck which has no ramps.</p>
<p>Have a nice trip:)</p>




<p>NB: yes, even really low ones*.</p>







<pre>* go-on post on the forum just in case, I&#39;m sure plenty of people with agree.
</pre>


<p>It will be fine, really it will.</p>


<h3><span class="mw-headline" id="Tesco.27s">Tesco&#39;s</span></h3>

<p>Don&#39;t forget that your Tesco&#39;s clubcard vouchers can be used against trips on the Eurotunnel, but you need to sort this out a good few weeks before hand.</p>
<p><a class="external text" href="http://www.tesco.com/clubcard/deals/product.aspx?R=148&#38;bci=4294967191%7CTravel" rel="nofollow">Tesco&#39;s Link</a></p>
<p><a class="external text" href="http://www.eurotunnel1.com/direct/booking/journey.asp?lang=en&#38;utm_source=UKHPBanner&#38;utm_medium=Banner&#38;utm_content=UKHPBanner&#38;utm_campaign=HPBanner" rel="nofollow">Eurotunnel Booking page</a></p>

