
<p>Geoff Capes - patron saint of SELOC</p>
<p>Geoff Capes - World&#39;s strongest man for a while, now a budgie fancier.</p>
<p>Apparently someone put up a poll once about which celebrities would most likely drive a lotus, and he was on the end of the list. Ever since then, it has been considered traditional to have a Geoff option on the end of a poll. Failure to do this results in this happening. </p>
<p><a class="external free" href="http://www.youtube.com/watch?v=AZORhx8uYl8" rel="nofollow">http://www.youtube.com/watch?v=AZORhx8uYl8</a></p>
<p>The earliest mention in the SELOC archives is <a class="external text" href="http://arc.seloc.org/t/16967" rel="nofollow">this thread</a>.</p>

<p><a class="image" href="http://wiki.seloc.org/a/image:Geoff.jpg" ><img src="Geoff.jpg" width="220" />
</a></p>


<p>See <a class="external text" href="http://en.wikipedia.org/wiki/Geoff_capes" rel="nofollow">Wikipedia</a> for more information about the great man.</p>
<p>For information on Geoff Leppard see </p>