
<p>This was the price paid for insurance by a 20 year old for his elise (111R).  </p>
<p>He had owned it for only three weeks before writing it off on a wall outside the Conservative Club in Lytham (near Blackpool).  </p>
<p>His foot slipped on the pedal.</p>

<p>Full details:
<a class="external free" href="http://forums.seloc.org/viewthread.php?tid=225385" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=225385</a></p>
<p>The proud new owner joins seloc:
<a class="external free" href="http://forums.seloc.org/viewthread.php?tid=225031" rel="nofollow">http://forums.seloc.org/viewthread.php?tid=225031</a></p>
<p>The crash:</p>
<p><a class="external free" href="http://photos-d.ak.fbcdn.net/hphotos-ak-snc1/hs147.snc1/5456_1173470891103_1057955509_30546371_2611334_n.jpg" rel="nofollow">http://photos-d.ak.fbcdn.net/hphotos-ak-snc1/hs147.snc1/5456_1173470891103_1057955509_30546371_2611334_n.jpg</a></p>
<p><a class="external free" href="http://photos-e.ak.fbcdn.net/hphotos-ak-snc1/hs147.snc1/5456_1173470931104_1057955509_30546372_3620288_n.jpg" rel="nofollow">http://photos-e.ak.fbcdn.net/hphotos-ak-snc1/hs147.snc1/5456_1173470931104_1057955509_30546372_3620288_n.jpg</a></p>
<p><a class="external free" href="http://img189.imageshack.us/img189/646/wreck1.jpg" rel="nofollow">http://img189.imageshack.us/img189/646/wreck1.jpg</a></p>
<p>The damage:</p>
<p><a class="external free" href="http://img199.imageshack.us/img199/1041/dsc00025bqk.jpg" rel="nofollow">http://img199.imageshack.us/img199/1041/dsc00025bqk.jpg</a></p>
<p><a class="external free" href="http://i31.tinypic.com/2i8uqtk.jpg" rel="nofollow">http://i31.tinypic.com/2i8uqtk.jpg</a></p>
<p>The photoshopping:</p>
<p><a class="external free" href="http://gallery.seloc.org/albums/userpics/20381/CARLIM.jpg" rel="nofollow">http://gallery.seloc.org/albums/userpics/20381/CARLIM.jpg</a></p>
<p><a class="external free" href="http://gallery.seloc.org/albums/userpics/20381/webuy.jpg" rel="nofollow">http://gallery.seloc.org/albums/userpics/20381/webuy.jpg</a></p>
<p><a class="external free" href="http://i2.photobucket.com/albums/y5/M6ALT/Untitled-1copy.jpg" rel="nofollow">http://i2.photobucket.com/albums/y5/M6ALT/Untitled-1copy.jpg</a></p>
<p><a class="external free" href="http://gallery.seloc.org/albums/userpics/20381/wacky.jpg" rel="nofollow">http://gallery.seloc.org/albums/userpics/20381/wacky.jpg</a></p>
<p><a class="external free" href="http://gallery.seloc.org/albums/userpics/26714/wrecked.jpg" rel="nofollow">http://gallery.seloc.org/albums/userpics/26714/wrecked.jpg</a></p>
<p>The limited edition (7400 pairs) shorts that will be on sale in the SELOC shop soon:</p>
<p><a class="external free" href="http://img35.imageshack.us/img35/7844/slippz.jpg" rel="nofollow">http://img35.imageshack.us/img35/7844/slippz.jpg</a></p>

<p>And the youtube clip...</p>
<p><a class="external free" href="http://www.youtube.com/watch?v=7T9gfg7iM2U" rel="nofollow">http://www.youtube.com/watch?v=7T9gfg7iM2U</a> </p>