
<p><b>Please contribute to this Wiki</b></p>
<p>There are a number of options for garage flooring and this guide is to show different options with the merits of each.</p>

<table id="toc" class="toc" summary="Contents">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<ul>
<li class="toclevel-1"><a href="#Foam_Tiles">Foam Tiles</a>
</li>
<li class="toclevel-1"><a href="#High_Impact_Plastic_Tiles">High Impact Plastic Tiles</a>
</li>
<li class="toclevel-1"><a href="#Carpet">Carpet</a>
</li>
<li class="toclevel-1"><a href="#Lino_Flooring">Lino Flooring</a>
</li>
</ul>
</ul></td></tr></table><hr/>
<h2><span class="mw-headline" id="Foam_Tiles">Foam Tiles</span></h2>

<p>Probably one of the easiest and least messy but could potentially be more expensive than a pot of paint.</p>
<p><b><a class="external text" href="http://www.machinemart.co.uk/shop/product/details/anti-fatigue-foam-floor-tiles-pk6" rel="nofollow">Machine Mart - Clarke Anti Fatigue Foam Floor Tiles</a></b></p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:clarke_tiles.jpg" ><img src="clarke_tiles.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>

<p>
Not the cheapest at £20 per pack (approx £9 sq.m.) but comes with a nice set of yellow borders (if you like that sort of thing).  I understand that you can mix and match them with a cheaper option from Maplins...</p>

<p><b><a class="external text" href="http://www.maplin.co.uk/Module.aspx?ModuleNo=217645" rel="nofollow">Maplins Interlocking Cushioned Floor Mats</a></b></p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:maplin_tiles.jpg" ><img src="maplin_tiles.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>

<p>
These are reportedly identical to the Clarke tiles and can be mixed and matched.  If you wanted a small yellow border (by the garage door for instance) then you could buy one pack from Machine Mart and then buy the rest from Maplins.  Pretty good value at £12.99 a set (approx £6 sq.m.).</p>
<p>The same tiles are available for £10 from Costco if you have access to an account (approx £4.70 sq.m.).</p>

<p>Some photos courtesy of Ondex (click to enlarge):</p>
<p>
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:clarke_tiles_garage_1.jpg" ><img src="clarke_tiles_garage_1.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:clarke_tiles_garage_2.jpg" ><img src="clarke_tiles_garage_2.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                
                <div style="width: 155px">
                    <div style="width: 150px;text-align: center;border: 1px solid #ccc;background-color: #f9f9f9;margin: 2px;">
                        <div style="margin:27px auto;">
                            
<p><a class="image" href="http://wiki.seloc.org/a/Image:clarke_tiles_garage_3.jpg" ><img src="clarke_tiles_garage_3.jpg" width="120" />
</a></p>
                        </div>
                    </div>
                    <div class="overflow: hidden;font-size: 94%;padding: 2px 4px;word-wrap: break-word;">
                        <p></p>
                    </div>
                </div>
                </p>
<h2><span class="mw-headline" id="High_Impact_Plastic_Tiles">High Impact Plastic Tiles</span></h2>
<p>Prices will vary over time, but the following products were listed in order of cost (from low to high) per square metre (including vat) from quotes/enquiries in 2009.</p>
<p><b><a class="external text" href="http://www.kiwitiles.com/" rel="nofollow">Kiwi Tiles</a></b></p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:kiwitiles.jpg" ><img src="kiwitiles.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>

<p>
A superb option and available in Pantone colours.  Priced at £19.38 sq.m
The site also has a Floor Designer where you can design your floor with different colours.
Distributed in the UK by RALT Engineering in Oxford (the racecar folks).</p>
<p>The <a class="external text" href="http://www.kiwitile.com" rel="nofollow">U.S. Kiwitile website</a> has some further pictures and specs.</p>

<p><b><a class="external text" href="http://www.costco.com/Browse/Productgroup.aspx?Prodid=11038308" rel="nofollow">Costco Motofloor</a></b></p>
<p>Priced at £19.57 sq.m.
Motofloor is made by <a class="external text" href="http://www.snaplock.com/" rel="nofollow">SnapLock</a> (the same company that makes <a class="external text" href="http://www.racedeck.com" rel="nofollow">Racedeck</a> floor tiles in the US).  Motofloor is only sold in bulk packs of black &#38; white, no custom orders in specific quantites etc.  Be careful with your floor pattern - the white tiles under the wheels will almost inevitably end up with brown splodges from vulcanisation with the tyre rubber.</p>
<p><b><a class="external text" href="http://www.duragarages.com" rel="nofollow">Dura tiles / garagewizards</a></b> £25 sq.m.</p>
<p><b><a class="external text" href="http://www.versatileflooring.co.uk/garage-flooring.php" rel="nofollow">ecotile</a></b> £27.50 sq.m.</p>
<p><b><a class="external text" href="http://dynotile.co.uk/default.htm" rel="nofollow">Dynotile</a></b> £29 sq.m.</p>
<p><b><a class="external text" href="http://www.pafsystem.com/pages/flooring.htm" rel="nofollow">tektiles</a></b> £31 sq.m.</p>
<p><b><a class="external text" href="http://www.tacttiles.com/" rel="nofollow">TactTiles</a></b> £49 sq.m.</p>
<p><b><a class="external text" href="http://www.mototile.com" rel="nofollow">Mototile</a></b> £21.60 sq.m.</p>
<p><b><a class="external text" href="http://showtrax.net/products/floortrax-race-flooring" rel="nofollow">ShowTrax - FloorTrax</a></b> £24.95 sq.m (+Vat?)</p>
<h2><span class="mw-headline" id="Carpet">Carpet</span></h2>

<p>A nice Axminster will do but any old carpet is perfect.  If you use carpet tiles then there is a risk of them being moved by your wheels so it might be worth glueing them down with spray mount (or another glue)</p>
<p><b>Please add a photo if you have a good one</b></p>
<h2><span class="mw-headline" id="Lino_Flooring">Lino Flooring</span></h2>

<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a class="internal" href="http://wiki.seloc.org/a/Image:lino.jpg" ><img src="lino.jpg" class="location-left type-thumb" width="220" />
</a></div>
</div>

<p>
Many people have bought non-slip lino flooring from ebay (other places stock it of course) for around £5 per sq/m.</p>
<p>Search for &#39;non slip vinyl flooring&#39; and you should find what you&#39;re looking for.</p>

<p>Costco have been occasionally stocking a rubber matting/flooring called <a class="external text" href="http://www.bltllc.com/g-floor_main.htm" rel="nofollow">g-floor</a> since 2008.  Try your local store, the costco item code for g-floor is 112281, though apparently its not a permanent stock item so you might have to phone around to see which store has got any in.  Priced at £146.86 for a 17.5 ft x 7.5 ft mat (approx £12 sq.m.)</p>