
<p>Geoff Leppard</p>
<p>A band created in SELOC with a charity single.</p>

<p>Enjoy the video and then please BUY THE SINGLE (please). </p>
<p><a class="external free" href="http://www.youtube.com/watch?v=hXLoFBjv1bs" rel="nofollow">http://www.youtube.com/watch?v=hXLoFBjv1bs</a></p>
<p>The single is available by clicking this link, <a class="external free" href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?id=441152165&#38;s=143444" rel="nofollow">http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?id=441152165&#38;s=143444</a> </p>
<p>Or you can buy it on Ovi here: <a class="external free" href="http://music.ovi.com/gb/en/pc/Search/geoff%20leppard?display=detail" rel="nofollow">http://music.ovi.com/gb/en/pc/Search/geoff%20leppard?display=detail</a></p>

<p>All proceeds go to Alzheimer&#39;s charity. It&#39;s £1.58 and you can access it right now. </p>